<% provide :title, 'About' %>
<h1>About</h1>
<p>
  This web app is designed for users to find out good places to eat in North York, Ontario, Canada. This app is designed by Hu, Haohao. Hope you will find this app helpful and user-friendly! The data was retrieved from Yelp Academic Dataset.
</p>