<% provide :title, 'Opinion Target 5499' %><h2>Cavolo salad<br />occurrence: 1</h2><div><ol><li>My coworkers also rave about the Pomodoro pasta and the Cavolo salad ( kale salad).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5500">Next</a></li>
</ul>