<% provide :title, 'Opinion Target 7178' %><h2>chief cooks<br />occurrence: 1</h2><div><ol><li>Excellent food especially the desert, the chief cooks in front you!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7179">Next</a></li>
</ul>