<% provide :title, 'Opinion Target 6933' %><h2>Fried Tofu & Coconut sticky rice<br />occurrence: 1</h2><div><ol><li>I ordered delivery- Pad Thai, Fried Tofu &amp; Coconut sticky rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6934">Next</a></li>
</ul>