<% provide :title, 'Opinion Target 6782' %><h2>appetizer Roasted tomato with portobella mushroom<br />occurrence: 1</h2><div><ol><li>The appetizer Roasted tomato with portobella mushroom is one of a kind, very well cooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6783">Next</a></li>
</ul>