<% provide :title, 'Opinion Target 8855' %><h2>BBQ quarter chicken with rice and potatoes<br />occurrence: 1</h2><div><ol><li>Me and a friend enjoyed the BBQ quarter chicken with rice and potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8856">Next</a></li>
</ul>