<% provide :title, 'Opinion Target 5765' %><h2>red bean/green tea<br />occurrence: 1</h2><div><ol><li>If you love the red bean/green tea combination then this is the one to get.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5766">Next</a></li>
</ul>