<% provide :title, 'Opinion Target 8063' %><h2>teppenyaki<br />occurrence: 1</h2><div><ol><li>For teppenyaki they cooked the food with little interaction or conversation.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8064">Next</a></li>
</ul>