<% provide :title, 'Opinion Target 4201' %><h2>sauce + chicken<br />occurrence: 1</h2><div><ol><li>I ordered take out so they gave me a container of rice and a container for the sauce + chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4202">Next</a></li>
</ul>