<% provide :title, 'Opinion Target 6593' %><h2>custard milk toast<br />occurrence: 1</h2><div><ol><li>I am a sucker for the custard milk toast though, mmm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6594">Next</a></li>
</ul>