<% provide :title, 'Opinion Target 7282' %><h2>fish fried rice<br />occurrence: 1</h2><div><ol><li>Dishes we love here: slice fish congee with fried donuts sticks, spicey turnip, soft shell crab fried rice, salted fish fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7281">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7283">Next</a></li>
</ul>