<% provide :title, 'Opinion Target 4933' %><h2>fried pork belly<br />occurrence: 1</h2><div><ol><li>Super cheap and you can never go wrong with dishes from my fave like lechon kawali ( fried pork belly with crunchy skin), spicy fried shrimp ( warning: head still on which I prefer), garlic fried rice, KareKare, sinigang.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4934">Next</a></li>
</ul>