<% provide :title, 'Opinion Target 8326' %><h2>pan-fried dumplings<br />occurrence: 1</h2><div><ol><li>We ordered the XLB, steamed dumplings, pan-fried dumplings, shanghai fried noodles, and stir-fried pea shoots for three people ( and yes, it was too much food).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8327">Next</a></li>
</ul>