<% provide :title, 'Opinion Target 3904' %><h2>blue cheese dip<br />occurrence: 1</h2><div><ol><li>Note: Apparently you can ask for ranch sauce rather than the standard blue cheese dip for your wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3903">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3905">Next</a></li>
</ul>