<% provide :title, 'Opinion Target 3202' %><h2>Pizza Fichi<br />occurrence: 1</h2><div><ol><li>I thought the Pizza Fichi might be too sweet because of the honey and figs, but it turned out to be a really good combination!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3201">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3203">Next</a></li>
</ul>