<% provide :title, 'Opinion Target 6124' %><h2>fresh orange juice<br />occurrence: 1</h2><div><ol><li>It was our first time trying this place. everything was great. the food, the service was excellent. their fresh orange juice was awesome. it was a bit hot inside the diner but that did n't stop us finishing our food and coffee. thanks again Hazel 's diner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6125">Next</a></li>
</ul>