<% provide :title, 'Opinion Target 1814' %><h2>bubbletea<br />occurrence: 2</h2><div><ol><li>Unfortunately, the bubbletea tasted powdery and artificial.</li><li>If you want some good bubbletea, stick to Chatime.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1813">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1815">Next</a></li>
</ul>