<% provide :title, 'Opinion Target 2426' %><h2>skillets<br />occurrence: 1</h2><div><ol><li>The food I liked today includes the short ribs, sakura rose sushi, skillets, chicken kagame, calamari, takoyaki, beef and mushroom wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2427">Next</a></li>
</ul>