<% provide :title, 'Opinion Target 2960' %><h2>Kimichi Sweet Potatoe fries<br />occurrence: 1</h2><div><ol><li>The Kimichi Sweet Potatoe fries looks good on paper, but was lack lustre when it arrived.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2959">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2961">Next</a></li>
</ul>