<% provide :title, 'Opinion Target 6013' %><h2>meat lovers pizza<br />occurrence: 1</h2><div><ol><li>I got the meat lovers pizza, and it was fairly generous with the toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6014">Next</a></li>
</ul>