<% provide :title, 'Opinion Target 3560' %><h2>grilled platter<br />occurrence: 1</h2><div><ol><li>Their grilled platter Is really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3561">Next</a></li>
</ul>