<% provide :title, 'Opinion Target 8165' %><h2>yam fries<br />occurrence: 1</h2><div><ol><li>I chose a side of yam fries rather then regular since I 'm such a sweet potato/yam lover.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8166">Next</a></li>
</ul>