<% provide :title, 'Opinion Target 3020' %><h2>fried oysters and chicken katsu appetizers<br />occurrence: 1</h2><div><ol><li>I ordered fried oysters and chicken katsu appetizers, both were excessively greasy and tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3019">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3021">Next</a></li>
</ul>