<% provide :title, 'Opinion Target 6699' %><h2>laffa wrap<br />occurrence: 1</h2><div><ol><li>Personally, the laffa wrap was tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6700">Next</a></li>
</ul>