<% provide :title, 'Opinion Target 5298' %><h2>spinach pizza<br />occurrence: 1</h2><div><ol><li>Both the eggplant and spinach pizza was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5297">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5299">Next</a></li>
</ul>