<% provide :title, 'Opinion Target 766' %><h2>pork jia mo<br />occurrence: 5</h2><div><ol><li>I ordered the pork jia mo, potato jia mo and the spicy beef noodle in soup.</li><li>The bottom crust of the pork jia mo was just drenched in oil which was unappealing.</li><li>The pork jia mo was a bit dry.</li><li>And the pork jia mo is great and tasty.</li><li>The pork jia mo took a long time to come.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_767">Next</a></li>
</ul>