<% provide :title, 'Opinion Target 4005' %><h2>Taiwanese style braised beef noodle soup<br />occurrence: 1</h2><div><ol><li>Not only that, the Taiwanese style braised beef noodle soup is one of the best things located there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4004">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4006">Next</a></li>
</ul>