<% provide :title, 'Opinion Target 9060' %><h2>fermented soy bean soup<br />occurrence: 1</h2><div><ol><li>The soups are from #1-12 on the soups menu ( #1 traditional fermented soy bean soup for me, #x beef tofu soup for her), and include a bowl of rice each.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9059">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9061">Next</a></li>
</ul>