<% provide :title, 'Opinion Target 5055' %><h2>fried leek<br />occurrence: 1</h2><div><ol><li>The puree was crowned with what appeared to be crunchy fried leek, and eating the two together proved a very happy marriage indeed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5056">Next</a></li>
</ul>