<% provide :title, 'Opinion Target 6750' %><h2>sashimi fashion<br />occurrence: 1</h2><div><ol><li>Instead, the sashimi looked like trail ends and leftover chunks of scrap ( untrimmed with the grey parts intact, and not sliced in ' sashimi fashion' but rather in actual chunks like what you 'd feed your dog as scraps).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6751">Next</a></li>
</ul>