<% provide :title, 'Opinion Target 4895' %><h2>Falafel ...<br />occurrence: 1</h2><div><ol><li>( Fast Food) Great Falafel ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4894">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4896">Next</a></li>
</ul>