<% provide :title, 'Opinion Target 4507' %><h2>chip fries<br />occurrence: 1</h2><div><ol><li>The fries are your regular thick cut, kind of soft fish and chip fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4506">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4508">Next</a></li>
</ul>