<% provide :title, 'Opinion Target 6234' %><h2>hot tofu lava stone pot<br />occurrence: 1</h2><div><ol><li>4 stars for super cheap food, decent seating and steaming hot tofu lava stone pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6235">Next</a></li>
</ul>