<% provide :title, 'Opinion Target 4329' %><h2>cashier staff<br />occurrence: 1</h2><div><ol><li>K I am really pissed with the cashier staff at this time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4328">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4330">Next</a></li>
</ul>