<% provide :title, 'Opinion Target 2933' %><h2>200 spring rolls<br />occurrence: 1</h2><div><ol><li>I make on an average 200 spring rolls every holiday season, my standards are high.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2934">Next</a></li>
</ul>