<% provide :title, 'Opinion Target 3292' %><h2>pork chop and chicken taste<br />occurrence: 1</h2><div><ol><li>Their grilled lemongrass beef, pork chop and chicken taste really amazing and really juicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3291">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3293">Next</a></li>
</ul>