<% provide :title, 'Opinion Target 4393' %><h2>sushi food<br />occurrence: 1</h2><div><ol><li>Food 4.5/5- As this place appears to be owned by Koreans, you 'll get your sushi food infused with Korean cultural cuisine as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4394">Next</a></li>
</ul>