<% provide :title, 'Opinion Target 1416' %><h2>four rolls<br />occurrence: 2</h2><div><ol><li>We ordered four rolls and the small sashimi.</li><li>A friend and I ordered four rolls- the Spider Roll, Philadelphia Roll ( my favourite), Dragon Roll, and Rainbow Roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1417">Next</a></li>
</ul>