<% provide :title, 'Opinion Target 6265' %><h2>stir fried vegetables<br />occurrence: 1</h2><div><ol><li>The stir fried vegetables consisted mainly of mushroom and zuchinni.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6266">Next</a></li>
</ul>