<% provide :title, 'Opinion Target 6281' %><h2>delivery food<br />occurrence: 1</h2><div><ol><li>I have always been a fan eating here for their teppanyaki dinner, however their service quality has declined over the year not only for dine in but also for delivery, having to wait 1-1/2 hr for your delivery food is not a joke even if they 're busy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6280">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6282">Next</a></li>
</ul>