<% provide :title, 'Opinion Target 2295' %><h2>alfredo<br />occurrence: 2</h2><div><ol><li>Always delicious here We enjoyed the penne and asked for a rose mix of alfredo and tomato sauce.</li><li>The alfredo was not as creamy as I hoped it to be, but it was not bad ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2296">Next</a></li>
</ul>