<% provide :title, 'Opinion Target 3558' %><h2>Drink Fridge<br />occurrence: 1</h2><div><ol><li>Revueltas Pupusa ( Mixed [ Beans, Cheese &amp; Pork $ 2.25)- It came with a side of Tomato Sauce &amp; Spicy Slaw taken from the Drink Fridge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3557">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3559">Next</a></li>
</ul>