<% provide :title, 'Opinion Target 8872' %><h2>dinner area<br />occurrence: 1</h2><div><ol><li>The restaurant is separated into two parts; a dinner area and a teppanyaki area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8873">Next</a></li>
</ul>