<% provide :title, 'Opinion Target 7528' %><h2>garlic pork ramen<br />occurrence: 1</h2><div><ol><li>Definitely try the spicy garlic pork ramen option!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7527">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7529">Next</a></li>
</ul>