<% provide :title, 'Opinion Target 3111' %><h2>bar vibe<br />occurrence: 1</h2><div><ol><li>I like the atmosphere with its slick Asian sports bar vibe, the friendly professional and downright good-looking service, and most of all the food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3112">Next</a></li>
</ul>