<% provide :title, 'Opinion Target 2305' %><h2>flaming cheese<br />occurrence: 1</h2><div><ol><li>I usually order flaming cheese ( amazing), with either souvlaki, calamari, or sole.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2306">Next</a></li>
</ul>