<% provide :title, 'Opinion Target 3182' %><h2>chicken kabob and chicken doner<br />occurrence: 1</h2><div><ol><li>The chicken kabob and chicken doner both were so tender and they came with rice and grilled veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3183">Next</a></li>
</ul>