<% provide :title, 'Opinion Target 3850' %><h2>red bean paste<br />occurrence: 1</h2><div><ol><li>It was more chunky red bean paste than it was whole beans in syrup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3849">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3851">Next</a></li>
</ul>