<% provide :title, 'Opinion Target 1347' %><h2>eats<br />occurrence: 3</h2><div><ol><li>Check it out if you want some cheap, good eats.</li><li>Great place for late night eats, special congee is loaded with shrimp and beef balls. gota try the turnip cake.</li><li>I 'm rating 5 stars because it does exactly what it 's intended for ... cheap, quick, great eats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1348">Next</a></li>
</ul>