<% provide :title, 'Opinion Target 3620' %><h2>homemade coleslaw<br />occurrence: 1</h2><div><ol><li>Their homemade coleslaw is awesome and they also have homemade tartar sauce that is great as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3619">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3621">Next</a></li>
</ul>