<% provide :title, 'Opinion Target 6957' %><h2>frozen butter<br />occurrence: 1</h2><div><ol><li>The multigrain toast was also cold and the frozen butter that I got did not melt when I tried to spread it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6956">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6958">Next</a></li>
</ul>