<% provide :title, 'Opinion Target 1828' %><h2>skewer<br />occurrence: 2</h2><div><ol><li>Food was cold, skewer was small and rice was hard and barely any in the container.</li><li>The mushroom on the skewer was tough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1829">Next</a></li>
</ul>