<% provide :title, 'Opinion Target 4812' %><h2>cooks lamb<br />occurrence: 1</h2><div><ol><li>This is one of the few Chinese places that cooks lamb, and it 's delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4813">Next</a></li>
</ul>