<% provide :title, 'Opinion Target 1086' %><h2>smoked salmon eggs benedict<br />occurrence: 3</h2><div><ol><li>I had the smoked salmon eggs benedict and it was pretty good.</li><li>I ordered the smoked salmon eggs benedict that I was really looking forward too because I did n't want a meat heavy meal.</li><li>My personal favourite and a bit of an addiction is the eggs Natasha, basically a smoked salmon eggs Benedict on tiny pancakes with black caviar, it 's amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1085">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1087">Next</a></li>
</ul>