<% provide :title, 'Opinion Target 6094' %><h2>lunch salad<br />occurrence: 1</h2><div><ol><li>To my friend 's chagrin, I ordered a lunch salad on my visit here rather than one of the all-day breakfast items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6093">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6095">Next</a></li>
</ul>