<% provide :title, 'Opinion Target 5576' %><h2>garlic tomato sauce<br />occurrence: 1</h2><div><ol><li>( I like my tomato sauce to be a little spicy to add some taste)- Shrimp Marinara: Black tiger shrimp sautéed in a white wine, garlic tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5577">Next</a></li>
</ul>