<% provide :title, 'Opinion Target 6897' %><h2>egg tomato dish<br />occurrence: 1</h2><div><ol><li>The egg tomato dish was nothing special while the beef stew brisket was amazing with tender slices of meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6896">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6898">Next</a></li>
</ul>