<% provide :title, 'Opinion Target 1588' %><h2>kung pao chicken<br />occurrence: 2</h2><div><ol><li>The 3-cup chicken was more like kung pao chicken .... we walked out leaving more than half of each dish and not even bothered with a take-out box.</li><li>I tried the kung pao chicken, mapo tofu, hot boiling fish and their house fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1589">Next</a></li>
</ul>