<% provide :title, 'Opinion Target 2948' %><h2>honey garlic wings and fries<br />occurrence: 1</h2><div><ol><li>Got 2lbs of honey garlic wings and fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2949">Next</a></li>
</ul>