<% provide :title, 'Opinion Target 1570' %><h2>fish quality<br />occurrence: 2</h2><div><ol><li>Kiyomizu won me over by having good reviews and while their service and fish quality was excellent I would rate this place 3 stars as the Toro sushi I ordered was n't spectacular.</li><li>I will say that while the preparation was very good, everything made fresh, the fish quality was n't the best I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1571">Next</a></li>
</ul>