<% provide :title, 'Opinion Target 2461' %><h2>Magic beef<br />occurrence: 2</h2><div><ol><li>I recommend `` Magic beef'' and `` Magic lamb''.</li><li>My friend got the Magic Beef, which he said was quite good and authentic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2462">Next</a></li>
</ul>