<% provide :title, 'Opinion Target 4429' %><h2>Eggplant Bocconcini<br />occurrence: 1</h2><div><ol><li>I had the Eggplant Bocconcini, which comes with linguine and veggies, and it was pretty good, if not a bit too tomato saucy ( but some would like that).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4430">Next</a></li>
</ul>