<% provide :title, 'Opinion Target 5676' %><h2>fried chicken and green onion chicken<br />occurrence: 1</h2><div><ol><li>We had a regular fried chicken and green onion chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5677">Next</a></li>
</ul>