<% provide :title, 'Opinion Target 981' %><h2>spicy pork<br />occurrence: 4</h2><div><ol><li>The spicy pork was slightly fatty, sliced thin, and crispy.</li><li>The Spicy Pork Chop: OH EM GEE.</li><li>We ordered the Spicy Pork, Chap Jae ( Clear noodles), and Pork Bone Soup.</li><li>The spicy pork was really good, the pork bone soup was as good as i remembered it, but the noodles were a little bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_982">Next</a></li>
</ul>