<% provide :title, 'Opinion Target 1036' %><h2>tuna tataki<br />occurrence: 3</h2><div><ol><li>The tuna tataki was so fatty and tasty especially after the sear.</li><li>The Tuna Tataki ( Sashimi) was well done as well.</li><li>-White tuna tataki, this dish is very plain and simple.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1037">Next</a></li>
</ul>