<% provide :title, 'Opinion Target 4586' %><h2>thai lemonade<br />occurrence: 1</h2><div><ol><li>Their curry is still amazing and I also love their thai lemonade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4585">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4587">Next</a></li>
</ul>