<% provide :title, 'Opinion Target 5429' %><h2>Lobster Artichoke dip<br />occurrence: 1</h2><div><ol><li>The Deep Fried Pickles are always crispy and delicious, the Coconut Shrimp is addictive and great to snack on, and the Lobster Artichoke dip is actually pretty awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5430">Next</a></li>
</ul>