<% provide :title, 'Opinion Target 8714' %><h2>curry laksa<br />occurrence: 1</h2><div><ol><li>Not only that- the curry laksa was not the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8715">Next</a></li>
</ul>