<% provide :title, 'Opinion Target 6110' %><h2>black pepper beef garlic<br />occurrence: 1</h2><div><ol><li>The black pepper beef garlic was literally out of this world.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6109">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6111">Next</a></li>
</ul>