<% provide :title, 'Opinion Target 2507' %><h2>front window<br />occurrence: 1</h2><div><ol><li>Classy looking interior with giant booths by the front window are quite inviting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2506">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2508">Next</a></li>
</ul>