<% provide :title, 'Opinion Target 3752' %><h2>beef with purple rice<br />occurrence: 1</h2><div><ol><li>We decided to try the Ginseng Chicken, bibimbap, and korean beef with purple rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3753">Next</a></li>
</ul>