<% provide :title, 'Opinion Target 1691' %><h2>pizza with pepperoni<br />occurrence: 2</h2><div><ol><li>Called had a pleasant conversation and ordered a large pizza with pepperoni, bacon, Italian sausage and extra cheese, and a veal parmesan with hot peppers and mushrooms on a bun.</li><li>While the food itself was adequate ( I ordered a regular pizza with pepperoni, mushrooms and green peppers), my overall satisfaction with the restaurant was significantly negatively affected by the high levels of ambient noise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1690">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1692">Next</a></li>
</ul>