<% provide :title, 'Opinion Target 8722' %><h2>Crispy Beef<br />occurrence: 1</h2><div><ol><li>Pad Thai, Green Curry, Yellow Noodles, Cashew Chicken, Crispy Beef ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8723">Next</a></li>
</ul>