<% provide :title, 'Opinion Target 7334' %><h2>red pea soup<br />occurrence: 1</h2><div><ol><li>Today I wanted red pea soup, and although it 's on the menu they do n't have it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7333">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7335">Next</a></li>
</ul>