<% provide :title, 'Opinion Target 3696' %><h2>oils<br />occurrence: 1</h2><div><ol><li>Basically it means you ca n't have anything with added sugar, most oils, butter, grain, legumes, dairy, etc., etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3697">Next</a></li>
</ul>