<% provide :title, 'Opinion Target 4384' %><h2>Penne Arrabiatta<br />occurrence: 1</h2><div><ol><li>My Penne Arrabiatta was also just ok, they need to work on the perfecting the sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4385">Next</a></li>
</ul>