<% provide :title, 'Opinion Target 4198' %><h2>sandwich toppings<br />occurrence: 1</h2><div><ol><li>The menu is vague, and the sandwich toppings are very different from what I 'm used to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4199">Next</a></li>
</ul>