<% provide :title, 'Opinion Target 4850' %><h2>beef pancakes<br />occurrence: 1</h2><div><ol><li>I 've had the spicy jellyfish, BBQ lamb skewers, bbq beef skewers, BBQ lamb leg, Sesame lamb chops, and the beef pancakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4849">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4851">Next</a></li>
</ul>