<% provide :title, 'Opinion Target 8183' %><h2>pork bone & potato soup<br />occurrence: 1</h2><div><ol><li>Some people come here for Korean dishes, most just come here for the pork bone &amp; potato soup ... kamjatong I think it 's spelt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8184">Next</a></li>
</ul>