<% provide :title, 'Opinion Target 8748' %><h2>lemon curd layer<br />occurrence: 1</h2><div><ol><li>If they had put a lemon curd layer in the middle of the cake it would 've been much better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8749">Next</a></li>
</ul>