<% provide :title, 'Opinion Target 9520' %><h2>chili fried turnip<br />occurrence: 1</h2><div><ol><li>On this visit, we had the chili fried turnip, bok choy with mushrooms and the house pad Thai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9521">Next</a></li>
</ul>