<% provide :title, 'Opinion Target 3837' %><h2>entrance<br />occurrence: 1</h2><div><ol><li>The entrance was quite hard to find since Cafe Bene was located on the second floor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3836">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3838">Next</a></li>
</ul>