<% provide :title, 'Opinion Target 4411' %><h2>green & red dragon rolls<br />occurrence: 1</h2><div><ol><li>He had a black dragon roll ( unagi wrapped, they also had green &amp; red dragon rolls- ca n't remember what they used for the red) &amp; a spicy tuna roll and seemed very pleased.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4410">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4412">Next</a></li>
</ul>