<% provide :title, 'Opinion Target 2558' %><h2>tofu teriyaki lunch<br />occurrence: 1</h2><div><ol><li>We ended up ordering a shrimp and veggie tempura basket, avocado crunch roll ( or crunch roll), tofu teriyaki lunch, and a chicken teriyaki lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2557">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2559">Next</a></li>
</ul>