<% provide :title, 'Opinion Target 7247' %><h2>Garlic soy sauce<br />occurrence: 1</h2><div><ol><li>Garlic soy sauce is my hubs ' least favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7248">Next</a></li>
</ul>