<% provide :title, 'Opinion Target 8095' %><h2>rice ball platter<br />occurrence: 1</h2><div><ol><li>I went with the rice ball platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8096">Next</a></li>
</ul>