<% provide :title, 'Opinion Target 910' %><h2>mango roll<br />occurrence: 4</h2><div><ol><li>My favourites are the mussels, mango pudding &amp; yogurt, green dragon roll and mango roll.</li><li>Crispy, without being oily. the lychee ice cream was slightly bland, but provided a good compliment to the mango roll.</li><li>For dessert, we had the crispy mango roll and the chocolate burst-not bad either.</li><li>I especially enjoyed the mango roll and dynamite roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_911">Next</a></li>
</ul>