<% provide :title, 'Opinion Target 1676' %><h2>flakes<br />occurrence: 2</h2><div><ol><li>I asked one waitress to confirm what the flakes were and she looked at it and walked off to get another waitress.</li><li>We were then told that the flakes were indeed fish and that the sauce is shrimp sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1677">Next</a></li>
</ul>