<% provide :title, 'Opinion Target 868' %><h2>chicken parmesan<br />occurrence: 4</h2><div><ol><li>The chicken parmesan is the best I have ever had.</li><li>The Chicken Parmesan is unbelievably delicious !!</li><li>The chicken parmesan needed a LOT of help and their complimentary bread is like eating cardboard with their packaged butter.</li><li>Went here for the first time for lunch today and have to say the chicken parmesan and steak sandwiches we ordered were pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_869">Next</a></li>
</ul>