<% provide :title, 'Opinion Target 3397' %><h2>soda<br />occurrence: 1</h2><div><ol><li>How do you not get soda right ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3398">Next</a></li>
</ul>