<% provide :title, 'Opinion Target 5344' %><h2>red bean green tea matcha smoothie<br />occurrence: 1</h2><div><ol><li>My drink was the red bean green tea matcha smoothie and I found that it was n't thick enough for my liking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5345">Next</a></li>
</ul>