<% provide :title, 'Opinion Target 7516' %><h2>broth & noodles<br />occurrence: 1</h2><div><ol><li>Adequate portion sizes, amazing Tonkatsu broth &amp; noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7517">Next</a></li>
</ul>