<% provide :title, 'Opinion Target 6513' %><h2>fried rice with eel<br />occurrence: 1</h2><div><ol><li>I like the fried rice with eel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6512">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6514">Next</a></li>
</ul>