<% provide :title, 'Opinion Target 6831' %><h2>handroll<br />occurrence: 1</h2><div><ol><li>The seaweed on the handroll did not have the typical crispiness, it was hard to bite off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6832">Next</a></li>
</ul>