<% provide :title, 'Opinion Target 864' %><h2>room<br />occurrence: 4</h2><div><ol><li>The room is all blond wood and big banquets; a comfortable spot that meets the needs of midtown 's graying, ass- spreading crowd.</li><li>The room is also a small and I felt too cramped.</li><li>Downsides: I 've never been to this location when the room temperature has been comfortable.</li><li>The room felt pretty blend.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_863">Previous</a></li>
  <li class="next"><a href=".\opinion_target_865">Next</a></li>
</ul>