<% provide :title, 'Opinion Target 786' %><h2>black bean noodles<br />occurrence: 4</h2><div><ol><li>I ordered the black bean noodles and my boyfriend ordered the handmade noodles.</li><li>The black bean noodles were cold as well.</li><li>We also had black bean noodles but I did n't have any so I ca n't say.</li><li>My personal favourite dishes are the bi bim bap and the black bean noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_787">Next</a></li>
</ul>