<% provide :title, 'Opinion Target 2230' %><h2>new seating arrangements<br />occurrence: 1</h2><div><ol><li>The new seating arrangements work better for the restaurant and the desserts are about the same as I remember, but the menus are in serious need of a reprint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2231">Next</a></li>
</ul>