<% provide :title, 'Opinion Target 5269' %><h2>chicken chunks<br />occurrence: 1</h2><div><ol><li>The chicken chunks are tender pieces of dark meat, while the cabbage is softened by the sauce and heat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5268">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5270">Next</a></li>
</ul>