<% provide :title, 'Opinion Target 3610' %><h2>British fare food<br />occurrence: 1</h2><div><ol><li>This restaurant is a great place for some casual British fare food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3611">Next</a></li>
</ul>