<% provide :title, 'Opinion Target 2780' %><h2>nabe udon + salmon crunchy roll combo<br />occurrence: 1</h2><div><ol><li>With my voracious appetite, the nabe udon + salmon crunchy roll combo plus the albacore nigiri was enough to satiate my dinner hunger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2779">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2781">Next</a></li>
</ul>