<% provide :title, 'Opinion Target 3752' %><h2>stewed potatoes<br />occurrence: 1</h2><div><ol><li>The potatoes were more of the stewed potatoes so I really liked it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3753">Next</a></li>
</ul>