<% provide :title, 'Opinion Target 7163' %><h2>dressing food<br />occurrence: 1</h2><div><ol><li>I guess the theme of the restaurant is ' violently dressing food'.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7164">Next</a></li>
</ul>