<% provide :title, 'Opinion Target 8690' %><h2>delivery ( pizza )<br />occurrence: 1</h2><div><ol><li>I was literally 800m away from this resturant, so I called and asked for delivery ( pizza) And they said it would be a $ 8 delivery charge !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8691">Next</a></li>
</ul>