<% provide :title, 'Opinion Target 6434' %><h2>price wings<br />occurrence: 1</h2><div><ol><li>YEAH HALF OFF, well you ca n't really go wrong with half price wings right ?!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6433">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6435">Next</a></li>
</ul>