<% provide :title, 'Opinion Target 5443' %><h2>staff backroom<br />occurrence: 1</h2><div><ol><li>As much as it 's slightly funny to see people walk into the staff backroom instead of the washroom, this kind of lack of human design should be fixed asap for the ease of people 's Chatime experiences.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5444">Next</a></li>
</ul>