<% provide :title, 'Opinion Target 5439' %><h2>cheeseburger with applewood smoked bacon<br />occurrence: 1</h2><div><ol><li>I ordered the cheeseburger with applewood smoked bacon, with the couscous as the side, since I 'm not a huge cole slaw fan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5438">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5440">Next</a></li>
</ul>