<% provide :title, 'Opinion Target 2056' %><h2>cutlets<br />occurrence: 2</h2><div><ol><li>The cutlets are commonly fried fresh to order since demand exceeds supply.</li><li>The cutlets are good and other things seemed standard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2057">Next</a></li>
</ul>