<% provide :title, 'Opinion Target 6377' %><h2>soup with sauces<br />occurrence: 1</h2><div><ol><li>I do n't like to muddle the soup with sauces or other spices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6378">Next</a></li>
</ul>