<% provide :title, 'Opinion Target 2218' %><h2>fried turnip patties<br />occurrence: 2</h2><div><ol><li>My favorites are the pepper salt squid, fried turnip patties, Cantonese chow mein and seafood congee.</li><li>The best dish hands down is the fried turnip patties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2219">Next</a></li>
</ul>