<% provide :title, 'Opinion Target 8038' %><h2>old dragon rolls California rolls<br />occurrence: 1</h2><div><ol><li>They brought cold and old dragon rolls California rolls were old staff was super rude and Bill was astronomical.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8039">Next</a></li>
</ul>