<% provide :title, 'Opinion Target 5568' %><h2>vegetarian risotto<br />occurrence: 1</h2><div><ol><li>I had the vegetarian risotto and shared one the meat pizzas as an appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5569">Next</a></li>
</ul>