<% provide :title, 'Opinion Target 7189' %><h2>tofu stewed<br />occurrence: 1</h2><div><ol><li>I usually prefer eating my fav dish at every Korean restaurant ... which is the Soondubu Chigae ( soft tofu stewed in a hot spicy broth with seafood and vegetables).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7190">Next</a></li>
</ul>