<% provide :title, 'Opinion Target 5539' %><h2>liquor<br />occurrence: 1</h2><div><ol><li>The cream is just rich and creamy enough mixed with the liquor! hmmm went so well with my Java!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5540">Next</a></li>
</ul>