<% provide :title, 'Opinion Target 4415' %><h2>flesh<br />occurrence: 1</h2><div><ol><li>I believe they 've given us banchan ( lots of it when we brought a large party), small pieces of fish ( the flesh on the bones they have after the cut off the rest), etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4416">Next</a></li>
</ul>