<% provide :title, 'Opinion Target 3535' %><h2>spicy beef patties<br />occurrence: 1</h2><div><ol><li>The spicy beef patties are simply delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3536">Next</a></li>
</ul>