<% provide :title, 'Opinion Target 2283' %><h2>Veal Tongue<br />occurrence: 1</h2><div><ol><li>The Veal Tongue was beefy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2282">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2284">Next</a></li>
</ul>