<% provide :title, 'Opinion Target 5269' %><h2>garlic porkchop & escargots<br />occurrence: 1</h2><div><ol><li>I liked their garlic porkchop &amp; escargots.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5268">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5270">Next</a></li>
</ul>