<% provide :title, 'Opinion Target 3666' %><h2>fish tail<br />occurrence: 1</h2><div><ol><li>The fish tail fin is another such dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3667">Next</a></li>
</ul>