<% provide :title, 'Opinion Target 3239' %><h2>corn seafood chowder<br />occurrence: 1</h2><div><ol><li>I had mediocre crab cakes, a muddy corn seafood chowder and mussels in tomato gin sauce ( kind of stinky).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3240">Next</a></li>
</ul>