<% provide :title, 'Opinion Target 1388' %><h2>meat sauce<br />occurrence: 3</h2><div><ol><li>The lasagna is chalky, and tastes like they used frozen meat sauce, as it has a bland taste so never mind the prices, it 's awful.</li><li>The meat sauce on the spaghetti was delicious ( not oily or too tomatoey) and one portion was large enough for 2 people.</li><li>Order the Veal Parmigiana with spaghetti and meat sauce, instead of potatoes on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1389">Next</a></li>
</ul>