<% provide :title, 'Opinion Target 7148' %><h2>watercress<br />occurrence: 1</h2><div><ol><li>We ordered the Bul Nak Jeon Gol which was hot pot with beef sausages, octopus, clear noodles, tofu, mushrooms, Korean cabbage, zucchini, watercress, hot peppers and onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7149">Next</a></li>
</ul>