<% provide :title, 'Opinion Target 2448' %><h2>mainstream Chinese delivery food<br />occurrence: 1</h2><div><ol><li>You know, it 's greasy mainstream Chinese delivery food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2447">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2449">Next</a></li>
</ul>