<% provide :title, 'Opinion Target 3433' %><h2>wood paneled walls<br />occurrence: 1</h2><div><ol><li>Very serious artwork of horses running and `` We Prosecute Credit Card Fraud'' decorated the wood paneled walls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3432">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3434">Next</a></li>
</ul>