<% provide :title, 'Opinion Target 4734' %><h2>Roasted Sucking Pig<br />occurrence: 1</h2><div><ol><li>The Roasted Sucking Pig was very good as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4735">Next</a></li>
</ul>