<% provide :title, 'Opinion Target 6830' %><h2>good : Pork Jia-Mo<br />occurrence: 1</h2><div><ol><li>The good: Pork Jia-Mo- meaty and tasty The chef is from Xian.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6831">Next</a></li>
</ul>