<% provide :title, 'Opinion Target 6552' %><h2>diced tomatoes<br />occurrence: 1</h2><div><ol><li>Last night, I had the Bruschetta Pizza, which had diced tomatoes, red onions, and lots and lots of feta cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6551">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6553">Next</a></li>
</ul>