<% provide :title, 'Opinion Target 2618' %><h2>yam glass noodles<br />occurrence: 1</h2><div><ol><li>They always start you off with free appetizers ( `` panchan'' in korean) which include: vegetable pancake, honey glazed potatoes, edamame soy beans, yam glass noodles, and kimchi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2619">Next</a></li>
</ul>