<% provide :title, 'Opinion Target 4042' %><h2>traditional Korean rice wine<br />occurrence: 1</h2><div><ol><li>Makkoli is a traditional Korean rice wine; slightly sweet, thick and milky off-white in color.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4043">Next</a></li>
</ul>