<% provide :title, 'Opinion Target 9000' %><h2>Thai pineapple pork<br />occurrence: 1</h2><div><ol><li>We got it sorted out eventually, and both my Thai pineapple pork and that guy 's salad were good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9001">Next</a></li>
</ul>