<% provide :title, 'Opinion Target 5275' %><h2>steak option<br />occurrence: 1</h2><div><ol><li>It did n't seem like there were a lot of good choices for the combos, so I ended up getting the steak option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5274">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5276">Next</a></li>
</ul>