<% provide :title, 'Opinion Target 3121' %><h2>dynamite maki and lychee martini<br />occurrence: 1</h2><div><ol><li>Some of my favourites are the dynamite maki and lychee martini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3122">Next</a></li>
</ul>