<% provide :title, 'Opinion Target 5925' %><h2>beef satay skewers<br />occurrence: 1</h2><div><ol><li>Apps we had included the mango salad ( standard), chicken and beef satay skewers were some of the worst I 've had anywhere, and the fried calamari had too much breading and was overly oily ( thought my kids loved it).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5924">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5926">Next</a></li>
</ul>