<% provide :title, 'Opinion Target 9095' %><h2>decor/ambiance<br />occurrence: 1</h2><div><ol><li>The decor/ambiance is A-OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9096">Next</a></li>
</ul>