<% provide :title, 'Opinion Target 1359' %><h2>sea bass<br />occurrence: 3</h2><div><ol><li>Sirloin with Tiger Shrimps, and from the Chef 's Specials: a linguini with half a lobster and shrimps, and an herb-crusted sea bass.</li><li>The food was good, my daughter loved the gnocchi, I had the sea bass and it was quite good.</li><li>The lula is juicy, and really satisfying and the sea bass is tender and really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1360">Next</a></li>
</ul>