<% provide :title, 'Opinion Target 6107' %><h2>coffee but juice<br />occurrence: 1</h2><div><ol><li>1st time I did n't have coffee but juice, a bit healthy: P but the breakfast wS just amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6108">Next</a></li>
</ul>