<% provide :title, 'Opinion Target 3733' %><h2>coconut milk base<br />occurrence: 1</h2><div><ol><li>Malaysian curry ( also known as rendang curry) is typically made using a coconut milk base.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3732">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3734">Next</a></li>
</ul>