<% provide :title, 'Opinion Target 4191' %><h2>lunch costs<br />occurrence: 1</h2><div><ol><li>I think my average lunch costs $ 5.65.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4192">Next</a></li>
</ul>