<% provide :title, 'Opinion Target 2036' %><h2>belly<br />occurrence: 2</h2><div><ol><li>I always leave with a full and happy belly.</li><li>Via Cibo + Pancia = Felice = Happy belly!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2037">Next</a></li>
</ul>