<% provide :title, 'Opinion Target 9692' %><h2>breakfast combo<br />occurrence: 1</h2><div><ol><li>I had the breakfast combo which was only 6.99 which had a pretty good serving size.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9693">Next</a></li>
</ul>