<% provide :title, 'Opinion Target 8449' %><h2>eggs B bacon D toast D<br />occurrence: 1</h2><div><ol><li>Atmosphere non-existant. eggs B bacon D toast D- potatoes C-.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8448">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8450">Next</a></li>
</ul>