<% provide :title, 'Opinion Target 5782' %><h2>fruit tarts<br />occurrence: 1</h2><div><ol><li>Pastel Creperie also offers other desserts such as rasperry tarts, creme brulee, and fruit tarts which all look very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5783">Next</a></li>
</ul>