<% provide :title, 'Opinion Target 3132' %><h2>hoegarden<br />occurrence: 1</h2><div><ol><li>As well, they serve a few different types of beers on tap ( steam whistle, hoegarden, stella, etc).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3133">Next</a></li>
</ul>