<% provide :title, 'Opinion Target 2133' %><h2>lunch time<br />occurrence: 2</h2><div><ol><li>Got the following: 1) Lobster bisque $ 9 2) Chicken satays aka chicken skewers $ 7 ( 3 pieces) 3) Crispy beef panang curry $ 13 ( lunch time only price) 4) Thai style beef wrap with mango salad $ 13 ( lunch special- Jennifer K. loves lunch specials) The lobster bisque was the real deal.</li><li>Lunch time is busiest, nights are much better usually.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2132">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2134">Next</a></li>
</ul>