<% provide :title, 'Opinion Target 2997' %><h2>coffee use<br />occurrence: 1</h2><div><ol><li>Their coffee use to be undrinkable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2998">Next</a></li>
</ul>