<% provide :title, 'Opinion Target 2427' %><h2>cakes selection<br />occurrence: 1</h2><div><ol><li>One thing to stay clear of is their cakes selection ... do n't order them!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2428">Next</a></li>
</ul>