<% provide :title, 'Opinion Target 3765' %><h2>Pho restaurant<br />occurrence: 1</h2><div><ol><li>Best Pho restaurant in the GTA!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3766">Next</a></li>
</ul>