<% provide :title, 'Opinion Target 6310' %><h2>lobster tail pastry<br />occurrence: 1</h2><div><ol><li>My regulars: fresh buns, almond croissant and lobster tail pastry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6311">Next</a></li>
</ul>