<% provide :title, 'Opinion Target 4058' %><h2>ricotta<br />occurrence: 1</h2><div><ol><li>Perhaps it was the late hour, but my second try of the lasagna did not meet the initial expectation- it was drenched with sauce this time, which really diminished the taste all of the formerly beautifully constructed sheets of pasta and ricotta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4059">Next</a></li>
</ul>