<% provide :title, 'Opinion Target 5947' %><h2>jack fruit milkshake<br />occurrence: 1</h2><div><ol><li>And of course, I also usually have the jack fruit milkshake along with my meal, which came in a plastic cup that seemed more suitable if I was ordering take out ... but maybe I 'm just being picky about my dine in experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5946">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5948">Next</a></li>
</ul>