<% provide :title, 'Opinion Target 5077' %><h2>pepper salt<br />occurrence: 1</h2><div><ol><li>We had the shrimp congee and the shrimp with pepper salt and loved them You can dance, you can jive, having the time of your life See that girl, watch that scene, dig in the congee queen Friday night and the lights are low Looking out for the place to go Where they make chow mien, getting in the swing You come in to look for chicken a la king Anybody could be that guy Night is young and the food is high With a bit of rock lobster, everything is fine You 're in the mood for a food trance And when you get the chance ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5076">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5078">Next</a></li>
</ul>