<% provide :title, 'Opinion Target 9567' %><h2>portobello mushroom<br />occurrence: 1</h2><div><ol><li>And the mushroom tasted like a regular portobello mushroom which was on the bland side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9566">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9568">Next</a></li>
</ul>