<% provide :title, 'Opinion Target 5305' %><h2>fish roe and rice<br />occurrence: 1</h2><div><ol><li>Chirashi was pretty cheap, a good simple portion of salmon, snapper, fish roe and rice was only for $ 9.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5306">Next</a></li>
</ul>