<% provide :title, 'Opinion Target 2685' %><h2>souvlaki pita<br />occurrence: 1</h2><div><ol><li>Laterna is a favorite spot of mine and the BF, when we are craving a simple souvlaki pita and a salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2686">Next</a></li>
</ul>