<% provide :title, 'Opinion Target 5598' %><h2>green beer<br />occurrence: 1</h2><div><ol><li>So I joined the gang for the predictable green beer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5597">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5599">Next</a></li>
</ul>