<% provide :title, 'Opinion Target 5265' %><h2>HK style tea<br />occurrence: 1</h2><div><ol><li>The HK style tea was wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5266">Next</a></li>
</ul>