<% provide :title, 'Opinion Target 1843' %><h2>garlic shrimp<br />occurrence: 2</h2><div><ol><li>The garlic shrimp in the platter was excellent.</li><li>Their food is consistently good ( we get their garlic shrimp every time) and prices are reasonable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1842">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1844">Next</a></li>
</ul>