<% provide :title, 'Opinion Target 5874' %><h2>eggs Benedict Thai style consists of smoked duck on poached eggs in Penang curry sauce<br />occurrence: 1</h2><div><ol><li>The eggs Benedict Thai style consists of smoked duck on poached eggs in Penang curry sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5875">Next</a></li>
</ul>