<% provide :title, 'Opinion Target 4722' %><h2>soya sauce chicken and BBQ pork<br />occurrence: 1</h2><div><ol><li>In addition to the roasted pork, duck, soya sauce chicken and BBQ pork they also have the various cooked intestines, soya sauce chicken leg, chicken wings, the squid, some sort of sausage, salted free run chicken and a lot of other items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4723">Next</a></li>
</ul>