<% provide :title, 'Opinion Target 1529' %><h2>rice bowl<br />occurrence: 3</h2><div><ol><li>A warm satisfying soup, and a tasty rice bowl.</li><li>I was to about forgive them for just forgetting to provide them on the 1st go, but when she came back, she gave me 1 measly rice bowl ... ( how on earth am I supposed to fit my bones in there).</li><li>By this point, just decide to give the bigger bowl to the two people and I would make do with the tiny rice bowl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1530">Next</a></li>
</ul>