<% provide :title, 'Opinion Target 5304' %><h2>red curry lunch<br />occurrence: 1</h2><div><ol><li>I ordered the red curry lunch special for only $ 6.95- it comes with a salad and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5305">Next</a></li>
</ul>