<% provide :title, 'Opinion Target 6147' %><h2>chicken and beef sushi<br />occurrence: 1</h2><div><ol><li>On to the sushi: the chicken and beef sushi was absolutely the worst Ive ever tasted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6146">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6148">Next</a></li>
</ul>