<% provide :title, 'Opinion Target 2175' %><h2>lamb hand-cut noodles<br />occurrence: 2</h2><div><ol><li>The lamb hand-cut noodles were delicious and had a nice slow burning spice.</li><li>The best dishes aside from the kebabs were easily the sweet and sour fried fish, which was tangy and crunchy, the lamb hand-cut noodles, and the vegetable dou miao.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2174">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2176">Next</a></li>
</ul>