<% provide :title, 'Opinion Target 8520' %><h2>gnocchi in rose sauce and penne alla vodka<br />occurrence: 1</h2><div><ol><li>We devoured our gnocchi in rose sauce and penne alla vodka without complaint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8521">Next</a></li>
</ul>