<% provide :title, 'Opinion Target 7052' %><h2>water chestnuts<br />occurrence: 1</h2><div><ol><li>I order the Pearl Rainbow Chopped in Crystal Fold that is minced pork and Chinese sausage mixed with mushroom, water chestnuts, celery and carrots and served with lettuce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7051">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7053">Next</a></li>
</ul>