<% provide :title, 'Opinion Target 3892' %><h2>Food serves more family style<br />occurrence: 1</h2><div><ol><li>For Dinner, Sinchon Food serves more family style like in a big hot pot starting from $ 27 ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3893">Next</a></li>
</ul>