<% provide :title, 'Opinion Target 1197' %><h2>beets<br />occurrence: 3</h2><div><ol><li>The beets were fine.</li><li>Next time, I 'm going to try the veggie appetizer plate I saw a lady mowing down on in the restaurant which had hummus, baba ganouj, olives, fried eggplant, beets and mushrooms !!</li><li>It had a mix of salmon and tuna ( I think) sashimi overtop lettuce, beets, avocado and a mix of other vegatbles and nori.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1198">Next</a></li>
</ul>