<% provide :title, 'Opinion Target 1905' %><h2>sausage pasta<br />occurrence: 2</h2><div><ol><li>I had the broccolini and sausage pasta.</li><li>2) Broccolini and sausage pasta ( $ 13) Linguini was al dente, generous amount of sausage and broccolini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1904">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1906">Next</a></li>
</ul>