<% provide :title, 'Opinion Target 2388' %><h2>fish bone<br />occurrence: 2</h2><div><ol><li>After ordering the `` favourites tray'' which consists of Salmon sushi 4 pcs, red Dragon Roll 6 pcs, Green Dragon Roll 6 pcs, Spicy Salmon Roll 6 pcs, spicy Tuna roll 6 pcs, California Roll 6 pcs ... 34pcs $ 36 Yes it 's cheap but only if u want fish bone in your roll!</li><li>Oh and perhaps cause she felt guilty for her nonchalant attitude at the end she offered us a 10% discount for nearly choking on the fish bone!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2389">Next</a></li>
</ul>