<% provide :title, 'Opinion Target 8211' %><h2>home-style gochuchang<br />occurrence: 1</h2><div><ol><li>Try their bibim nyengmyeon- gorgeous home-style gochuchang, not too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8212">Next</a></li>
</ul>