<% provide :title, 'Opinion Target 7624' %><h2>pork fresh rolls<br />occurrence: 1</h2><div><ol><li>Shrimp and pork fresh rolls ( small): large portion, low cost, mostly vermicelli filler.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7625">Next</a></li>
</ul>