<% provide :title, 'Opinion Target 2979' %><h2>pepper paste<br />occurrence: 1</h2><div><ol><li>The extra hot I get is with their pepper paste and holy crap is it hot but soooooo good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2980">Next</a></li>
</ul>