<% provide :title, 'Opinion Target 2656' %><h2>smoked salmon spaghetti<br />occurrence: 1</h2><div><ol><li>I ordered a Caesar salad and a smoked salmon spaghetti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2657">Next</a></li>
</ul>