<% provide :title, 'Opinion Target 7217' %><h2>made-for-you stirfry<br />occurrence: 1</h2><div><ol><li>The made-for-you stirfry is always pretty solid, but it 's easy to over-complicate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7218">Next</a></li>
</ul>