<% provide :title, 'Opinion Target 2698' %><h2>curry powder<br />occurrence: 1</h2><div><ol><li>Taste-wise, this was fairly heavy on the curry powder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2699">Next</a></li>
</ul>