<% provide :title, 'Opinion Target 1020' %><h2>Downstairs<br />occurrence: 4</h2><div><ol><li>Downstairs, upwardly-mobile 30 year olds jockey at the bar and down first-rate burgers.</li><li>Downstairs feels dark and corporate.</li><li>The downstairs was a bit dark but it was nice and bright where we were sitting.</li><li>Downstairs is a more relaxed, open environment, though quite small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1019">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1021">Next</a></li>
</ul>