<% provide :title, 'Opinion Target 1699' %><h2>soju shots<br />occurrence: 2</h2><div><ol><li>The real hit of the night, however, were the flavored soju shots.</li><li>Much like makkoli, the soju shots go down easily.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1700">Next</a></li>
</ul>