<% provide :title, 'Opinion Target 2203' %><h2>lobster feast<br />occurrence: 2</h2><div><ol><li>I could n't resist but to have a piece of two making sure I do n't fill myself up before the lobster feast.</li><li>Although we had a mid-nineties flirtation with Red Lobster ( the cheddar biscuits still haunt me) Lobster Trap is my family 's go to for a lobster feast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2202">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2204">Next</a></li>
</ul>