<% provide :title, 'Opinion Target 5157' %><h2>BBQ counter<br />occurrence: 1</h2><div><ol><li>I love their quick take out and especially the BBQ counter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5158">Next</a></li>
</ul>