<% provide :title, 'Opinion Target 2566' %><h2>dimsum dish<br />occurrence: 1</h2><div><ol><li>I believe it 's permanently not there, which makes me sad because for me it 's a staple dimsum dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2565">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2567">Next</a></li>
</ul>