<% provide :title, 'Opinion Target 5329' %><h2>Salmon chirasi<br />occurrence: 1</h2><div><ol><li>The Salmon chirasi was good, inside was a little run down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5328">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5330">Next</a></li>
</ul>