<% provide :title, 'Opinion Target 6524' %><h2>roast meats<br />occurrence: 1</h2><div><ol><li>BBQ and roast meats are excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6525">Next</a></li>
</ul>