<% provide :title, 'Opinion Target 6689' %><h2>baba ganoush in laffas<br />occurrence: 1</h2><div><ol><li>The laffa wraps are my favourite, the only bad thing is that they do n't put baba ganoush in laffas unlike other mevame locations I have heard many great things about this restaurant, so we decided to try it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6690">Next</a></li>
</ul>