<% provide :title, 'Opinion Target 4121' %><h2>food drinks<br />occurrence: 1</h2><div><ol><li>Miller has great food drinks n service!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4122">Next</a></li>
</ul>