<% provide :title, 'Opinion Target 6741' %><h2>selection of pizza slices<br />occurrence: 1</h2><div><ol><li>Delicious falafel balls, yummy salad and great selection of pizza slices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6740">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6742">Next</a></li>
</ul>