<% provide :title, 'Opinion Target 1680' %><h2>mackerel sashimi<br />occurrence: 2</h2><div><ol><li>Favorite: Spicy tuna roll and the mackerel sashimi;).</li><li>Service is quick, efficient, prices are reasonable, the mackerel sashimi is n't partially FROZEN when brought out ( yes, that 's happened to me ...), and the tempura ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1681">Next</a></li>
</ul>