<% provide :title, 'Opinion Target 6408' %><h2>bean<br />occurrence: 1</h2><div><ol><li>The drinks ( bean with coconut) were n't mixed and the coconut was just a blob of coconut that I had to mix in myself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6409">Next</a></li>
</ul>