<% provide :title, 'Opinion Target 7122' %><h2>steak blue<br />occurrence: 1</h2><div><ol><li>I ordered the steak and ribs combo with the steak blue ... you can tell a lot about the quality of a place by eating their steak almost-raw ... the steak was 5 stars worthy and the ribs were 3 ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7123">Next</a></li>
</ul>