<% provide :title, 'Opinion Target 5884' %><h2>phud thai<br />occurrence: 1</h2><div><ol><li>The phud thai was a little on the sour side for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5885">Next</a></li>
</ul>