<% provide :title, 'Opinion Target 8622' %><h2>beet salad and Moroccan cigars<br />occurrence: 1</h2><div><ol><li>I can never get enough of this. we ordered a mixed plate of dips and appetizers all of which were fresh and tasty with our favorites being the beet salad and Moroccan cigars.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8623">Next</a></li>
</ul>