<% provide :title, 'Opinion Target 4510' %><h2>focaccia bread<br />occurrence: 1</h2><div><ol><li>We were expecting a typical bread basket of white bread and butter, but instead we got spiced tomato focaccia bread, garlic buttery focaccia bread, and yummy Italian bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4509">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4511">Next</a></li>
</ul>