<% provide :title, 'Opinion Target 2727' %><h2>delivery time<br />occurrence: 1</h2><div><ol><li>Ordered through just-eat.ca and the delivery time was good and driver was friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2728">Next</a></li>
</ul>