<% provide :title, 'Opinion Target 3519' %><h2>dol-sot bibimbop<br />occurrence: 1</h2><div><ol><li>I got the bulgogi which was very tasty ( portion and price were reasonable), my friends got the dol-sot bibimbop ( portion was a bit on the small side but looked quite delicious), and naengmyeon ( generous portion size and perfect for the hot weather we 've been having lately).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3520">Next</a></li>
</ul>