<% provide :title, 'Opinion Target 1608' %><h2>hamburger<br />occurrence: 2</h2><div><ol><li>Definitely avoid the non-greek dishes, like falafel and hamburger.</li><li>The hamburger here is dreadful please avoid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1609">Next</a></li>
</ul>