<% provide :title, 'Opinion Target 5603' %><h2>ban chai<br />occurrence: 1</h2><div><ol><li>They have a good variety of ban chai including the pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5602">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5604">Next</a></li>
</ul>