<% provide :title, 'Opinion Target 1375' %><h2>Osso Bucco<br />occurrence: 2</h2><div><ol><li>Absolutely consistent in quality and portions Great Osso Bucco.</li><li>When the food finally came the pasta was cold and the osso bucco was way too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1376">Next</a></li>
</ul>