<% provide :title, 'Opinion Target 1953' %><h2>hu tieu<br />occurrence: 2</h2><div><ol><li>My favourite bowl of noodles, which I have been searching for a good rendition of for a long time, is the hu tieu my tho.</li><li>My favourite order here is the Hu Tieu My Tho with the avocado milkshake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1952">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1954">Next</a></li>
</ul>