<% provide :title, 'Opinion Target 2488' %><h2>capers<br />occurrence: 2</h2><div><ol><li>If individually ordered the Smoked Salmon would have been $ 16, served on a bed of romaine lettuce with cream cheese, capers, red onion, and rye bread.</li><li>Herring, shrimp, jumbo shrimp, cocktail sauce ( so much cocktail sauce it was gross), smoked salmon, capers, cucumbers, etc ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2487">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2489">Next</a></li>
</ul>