<% provide :title, 'Opinion Target 5365' %><h2>wood interior<br />occurrence: 1</h2><div><ol><li>This place is hip and cool ( exposed wood interior finishing) but small like a downtown izakaya ' hipster' joint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5366">Next</a></li>
</ul>