<% provide :title, 'Opinion Target 5440' %><h2>BBQ roast beef sandwich<br />occurrence: 1</h2><div><ol><li>They did ask if wanted something else, so I changed to a BBQ roast beef sandwich, which was alright, but by the time that came my wife had finished eating.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5439">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5441">Next</a></li>
</ul>