<% provide :title, 'Opinion Target 567' %><h2>avocado salad<br />occurrence: 6</h2><div><ol><li>Oh and they have a avocado salad here thats really tasty.</li><li>Make sure you try the avocado salad, tempura ice-cream and `` saketinis''.</li><li>The avocado salad, which had one small piece of avocado, and the rest was iceberg lettuce.</li><li>The avocado salad was massive ( definitely for two/entree-sized) and was brought with dressing on the side.</li><li>I followed up the sashimi with a black dragon roll and avocado salad.</li><li>The avocado salad that I sampled was perfectly fresh and very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_566">Previous</a></li>
  <li class="next"><a href=".\opinion_target_568">Next</a></li>
</ul>