<% provide :title, 'Opinion Target 8355' %><h2>Pan fried potstickers<br />occurrence: 1</h2><div><ol><li>Pan fried potstickers were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8356">Next</a></li>
</ul>