<% provide :title, 'Opinion Target 9625' %><h2>nan<br />occurrence: 1</h2><div><ol><li>The rice and nan were also amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9626">Next</a></li>
</ul>