<% provide :title, 'Opinion Target 2707' %><h2>hostesses<br />occurrence: 1</h2><div><ol><li>Waitresses double as hostesses and bartenders so service is lacking but they make up for it in personality ( they love chatting up their customers) and knowledge of the menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2708">Next</a></li>
</ul>