<% provide :title, 'Opinion Target 7776' %><h2>Futomaki Sushi<br />occurrence: 1</h2><div><ol><li>After being seated and reviewing their extensive lunch specials menu, my boyfriend ordered the Chicken Terriyaki Bento Box for only $ 6.99 and I ordered the Futomaki Sushi Bento Box for only $ 7.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7777">Next</a></li>
</ul>