<% provide :title, 'Opinion Target 6157' %><h2>combo tofu<br />occurrence: 1</h2><div><ol><li>No matter- as long as it 's clean and they do n't die in my food, I 'm game to go back for some authentic Korean here anytime. seafood and combo tofu were both delicious, hot and swimming in a gorgeously flavored broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6158">Next</a></li>
</ul>