<% provide :title, 'Opinion Target 6444' %><h2>duck wraps<br />occurrence: 1</h2><div><ol><li>The highlight dishes included peking duck wraps, large squares of braised pork belly, and the lettuce wraps.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6445">Next</a></li>
</ul>