<% provide :title, 'Opinion Target 4481' %><h2>BBQ shrimp<br />occurrence: 1</h2><div><ol><li>It 's understandable for BBQ shrimp to taste a little smoky, but these shrimps tasted overly smoky.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4482">Next</a></li>
</ul>