<% provide :title, 'Opinion Target 1633' %><h2>steamed chicken<br />occurrence: 2</h2><div><ol><li>The steamed chicken is actually one of the better ones in the city.</li><li>The Steamed Chicken wrapped in lotus leaf was a bit disappointing as it was the one dish we were looking forward to the most.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1632">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1634">Next</a></li>
</ul>