<% provide :title, 'Opinion Target 4671' %><h2>Shrimp Panang<br />occurrence: 1</h2><div><ol><li>Amongst my favourite things to indulge in @ Linda 's, is the Shrimp Panang.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4672">Next</a></li>
</ul>