<% provide :title, 'Opinion Target 3427' %><h2>chop sticks<br />occurrence: 1</h2><div><ol><li>I left a message but not surprising, received no call back My daughter picked up noodles from here today, they smelled awful and rotten, even the chop sticks smell moldy Do n't wast your time or money here I was far away from home, and in a land filled with discount box stores waiting to go to a super cool event down the block at Rinx.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3428">Next</a></li>
</ul>