<% provide :title, 'Opinion Target 2075' %><h2>matcha<br />occurrence: 2</h2><div><ol><li>Fresh, high quality matcha should be bright green; theirs is a browny-green ( a sign of a lower grade product).</li><li>I really like the dessert crepes with Asian ingredients and my favs are the Matcha Green Tea and the Black Sesame, which both include home-made ice cream!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2074">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2076">Next</a></li>
</ul>