<% provide :title, 'Opinion Target 3887' %><h2>salmon flowers<br />occurrence: 1</h2><div><ol><li>Such as i ordered 16 salmon flowers they only served 8 with little to no rice in the flower; ordered 4 pieces of flounder they brought us 2; I ordered 2 pieces of salmon teriyaki, bbq cream mushrooms, they never served us; I ordered 5 rolls they brought us 4.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3886">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3888">Next</a></li>
</ul>