<% provide :title, 'Opinion Target 1338' %><h2>potato side dish<br />occurrence: 2</h2><div><ol><li>If theres anything to improve, I would suggest improving the potato side dish and maybe bring out some kimchi side dish as well.</li><li>One time I found a little bug in the potato side dish, so now I question their cleanliness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1339">Next</a></li>
</ul>