<% provide :title, 'Opinion Target 1021' %><h2>mushroom<br />occurrence: 4</h2><div><ol><li>There were multiple pieces of mushroom was evident and the sauce was creamy but not too powerful.</li><li>The mushroom on the skewer was tough.</li><li>You are able to add extra toppings like mushroom, cheese and bacon.</li><li>And the mushroom tasted like a regular portobello mushroom which was on the bland side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1020">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1022">Next</a></li>
</ul>