<% provide :title, 'Opinion Target 1671' %><h2>brew<br />occurrence: 2</h2><div><ol><li>Great atmosphere for friends to have some brew or sake, but it will be a while before I come back again.</li><li>It 's pretty busy with local residents usually but they do n't have some of the specialty items ( like their new cold brew).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1672">Next</a></li>
</ul>