<% provide :title, 'Opinion Target 4773' %><h2>sprout<br />occurrence: 1</h2><div><ol><li>The sprout! '</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4772">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4774">Next</a></li>
</ul>