<% provide :title, 'Opinion Target 7358' %><h2>chicken in hot pot<br />occurrence: 1</h2><div><ol><li>The `` ho nam'' chicken in hot pot, 25 mins wait and the rice was mushy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7359">Next</a></li>
</ul>