<% provide :title, 'Opinion Target 6562' %><h2>fried taro cake<br />occurrence: 1</h2><div><ol><li>We ordered Singapore vermicelli, fried donut, chow mein, a meat dish and fried taro cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6563">Next</a></li>
</ul>