<% provide :title, 'Opinion Target 4312' %><h2>rogan josh<br />occurrence: 1</h2><div><ol><li>The rogan josh was creamy, spicy and nutty which was really good, we got 2 naans to go with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4313">Next</a></li>
</ul>