<% provide :title, 'Opinion Target 3406' %><h2>pizza nova delivery<br />occurrence: 1</h2><div><ol><li>And yes, I am so upset with how I was treated I had to hop on my smart phone and type this as I awaited the pizza nova delivery.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3407">Next</a></li>
</ul>