<% provide :title, 'Opinion Target 1979' %><h2>berries<br />occurrence: 2</h2><div><ol><li>Ice cream was not too sweet, crepe filling was delicious with bits of cake, berries and whipped cream. all the while not overly heavy.</li><li>Banana flambé/Sawakaya berries ( Aoi menu) or Green tea ice cream ( Sunday special) I had the flambe that day and it was absolutely delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1980">Next</a></li>
</ul>