<% provide :title, 'Opinion Target 858' %><h2>snacks<br />occurrence: 4</h2><div><ol><li>Since in Colombia, Arepa usually eaten as Breakfast or Afternoon snacks, so most of the Arepa here at Arepiando has cheese and eggs as the main ingredients!</li><li>Try the snacks like squid balls, thick toast with condensed milk, or try the meals like beef noodle soup.</li><li>They have started selling some organic snacks ( jelly beans and nuts) but they are very expensive.</li><li>A number of snacks and appetizers are also available, and they have cups of ( what I assume is) fresh soy milk available for purchase.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_857">Previous</a></li>
  <li class="next"><a href=".\opinion_target_859">Next</a></li>
</ul>