<% provide :title, 'Opinion Target 4779' %><h2>medium bowl<br />occurrence: 1</h2><div><ol><li>The medium bowl was a bit on the large end for me as it was pretty salty, but on the plus side it was n't too oily/greasy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4778">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4780">Next</a></li>
</ul>