<% provide :title, 'Opinion Target 8912' %><h2>Prince<br />occurrence: 1</h2><div><ol><li>Katsura at The Prince was once a very prestigious and authentic Japanese Restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8913">Next</a></li>
</ul>