<% provide :title, 'Opinion Target 4339' %><h2>rice and salad<br />occurrence: 1</h2><div><ol><li>We ate Soltani kabob with half rice and salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4340">Next</a></li>
</ul>