<% provide :title, 'Opinion Target 2815' %><h2>veal dolsot bibimbap<br />occurrence: 1</h2><div><ol><li>I got the raw veal dolsot bibimbap and I thought it was fantastic!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2816">Next</a></li>
</ul>