<% provide :title, 'Opinion Target 4778' %><h2>selection of lunch specials<br />occurrence: 1</h2><div><ol><li>Great selection of lunch specials which includes items that are available everyday and some are exclusively for that particular day of the week.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4779">Next</a></li>
</ul>