<% provide :title, 'Opinion Target 2544' %><h2>sushi maki<br />occurrence: 1</h2><div><ol><li>The sushi maki was also really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2543">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2545">Next</a></li>
</ul>