<% provide :title, 'Opinion Target 4292' %><h2>lamb karahi<br />occurrence: 1</h2><div><ol><li>Anyway, we ordered 4 kebabs, lamb karahi, beef nihari and 4 naan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4291">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4293">Next</a></li>
</ul>