<% provide :title, 'Opinion Target 4227' %><h2>sashimi with lettuce<br />occurrence: 1</h2><div><ol><li>I 've been here more than 10 times for sashimi, maki, hand rolls and Ha Da Bap ( the sashimi with lettuce and seaweed on rice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4228">Next</a></li>
</ul>