<% provide :title, 'Opinion Target 5701' %><h2>jerk sauce<br />occurrence: 1</h2><div><ol><li>Jerk chicken roti was too saucy, way too much jerk sauce, which made it too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5700">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5702">Next</a></li>
</ul>