<% provide :title, 'Opinion Target 1127' %><h2>sticks<br />occurrence: 3</h2><div><ol><li>But the veggie sticks were just out of the fridge ( or freezer, since our plates have been sitting on a counter in their kitchen for so long) The server, Rafael, was nice and apologized to us for being late with our food.</li><li>They `` cook'' with these long sticks that move the food around on the grill.</li><li>Even with the three of us, we barely finished the congee, dough sticks and beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1128">Next</a></li>
</ul>