<% provide :title, 'Opinion Target 7508' %><h2>Fish Cake Slice<br />occurrence: 1</h2><div><ol><li>King of Kings ( $ 9.95) had a Spice Broth with 4 Yummy Chasu, some Dried Seaweed, Tasty Marinaded Egg, Marinaded Bamboo Shoots, Fish Cake Slice and what I would like to call Manchu Wok style Chop Suey underneath intertwined with the Ramen Noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7509">Next</a></li>
</ul>