<% provide :title, 'Opinion Target 7791' %><h2>beer and chicken wings<br />occurrence: 1</h2><div><ol><li>--- SUMMARY --- Plus 's- unintrusive servers who know when you need them ( ours was, anyway) and really good chicken wings ( even the left overs) Minus 's- ribs --- MORE DETAILS --- Came here for a beer and chicken wings after some rock climbing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7792">Next</a></li>
</ul>