<% provide :title, 'Opinion Target 2194' %><h2>pickled beets<br />occurrence: 2</h2><div><ol><li>Came in for a Sunday lunch, we had:- lentil soup, really flavourful and filling- veggie platter of salad, pickled beets, falafel and pita My first time having falafel and I 'm really digging it.</li><li>I totally could go vegan;) I 'll pass on the pickled beets tho, not my taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2195">Next</a></li>
</ul>