<% provide :title, 'Opinion Target 4034' %><h2>appetizer prosciutto with buffalo mozzarella<br />occurrence: 1</h2><div><ol><li>An appetizer prosciutto with buffalo mozzarella was good but pedestrian.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4035">Next</a></li>
</ul>