<% provide :title, 'Opinion Target 4351' %><h2>kimchi fried<br />occurrence: 1</h2><div><ol><li>I will never buy their food again !!! cheap place to get korean food but they use way too much msg. the interior is really old and dirty. but bc they use so much msg i got addicted to their kimchi fried rice. one of the lady 's washroom is alway broken ( i think they are fixing it on purpose) and their ingredients ( like packs of rice) are in the hall connected to the rear exit. i just find this place not clean. i 'd go somewhere else.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4352">Next</a></li>
</ul>