<% provide :title, 'Opinion Target 9639' %><h2>butter chicken and palak paneer<br />occurrence: 1</h2><div><ol><li>My favourites are the butter chicken and palak paneer ( curry spinach and cheese).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9640">Next</a></li>
</ul>