<% provide :title, 'Opinion Target 2184' %><h2>dinner platter<br />occurrence: 2</h2><div><ol><li>It did n't occur to me that they had a lunch and dinner platter until as of recent and found that the ' small' fillet was really half of the large which really was n't much to begin with.</li><li>The party tray of sashimi does n't come with any radish for eating in between fish, so if that 's important to you ( I had my avocado rolls, so was good), I 'd suspect a dinner platter of some sort might be prepared with that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2185">Next</a></li>
</ul>