<% provide :title, 'Opinion Target 6757' %><h2>tempura chef<br />occurrence: 1</h2><div><ol><li>The tempura chef did an amazing job because some places drown the shrimp, causing it to soak up the oil which does not make for a delicious treat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6758">Next</a></li>
</ul>