<% provide :title, 'Opinion Target 6999' %><h2>grilled steak<br />occurrence: 1</h2><div><ol><li>So far, my favourite meal here is the grilled steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7000">Next</a></li>
</ul>