<% provide :title, 'Opinion Target 6084' %><h2>honey garlic<br />occurrence: 1</h2><div><ol><li>I have had the honey garlic they are good but just not my taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6085">Next</a></li>
</ul>