<% provide :title, 'Opinion Target 2041' %><h2>ginger tofu<br />occurrence: 2</h2><div><ol><li>Had the Tom Yum chicken soup, veggie green curry, and ginger tofu.</li><li>Will definitely order from them again but I would n't order the ginger tofu again. the food is great and the workers are friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2042">Next</a></li>
</ul>