<% provide :title, 'Opinion Target 7448' %><h2>brownie waffle<br />occurrence: 1</h2><div><ol><li>Their brownie waffle was very good as well, and not overly sweet even though one would think it would be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7447">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7449">Next</a></li>
</ul>