<% provide :title, 'Opinion Target 6231' %><h2>Levantine food<br />occurrence: 1</h2><div><ol><li>And since we like Levantine food, we can appreciate a good meal of hummus, ful, falafel, and eggplant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6232">Next</a></li>
</ul>