<% provide :title, 'Opinion Target 6373' %><h2>Korean pickled<br />occurrence: 1</h2><div><ol><li>It also comes with the staple Korean pickled and spiced sides.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6374">Next</a></li>
</ul>