<% provide :title, 'Opinion Target 7460' %><h2>copper water pitchers<br />occurrence: 1</h2><div><ol><li>They have cool copper water pitchers which looks awesome and i wish they would sell these sot hat I could bring them home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7461">Next</a></li>
</ul>