<% provide :title, 'Opinion Target 5018' %><h2>pizza places<br />occurrence: 1</h2><div><ol><li>By The Slice is one of the best pizza places I been to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5019">Next</a></li>
</ul>