<% provide :title, 'Opinion Target 5748' %><h2>Chili orange<br />occurrence: 1</h2><div><ol><li>Chili orange was the best of the three sauces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5749">Next</a></li>
</ul>