<% provide :title, 'Opinion Target 2889' %><h2>take-out options<br />occurrence: 1</h2><div><ol><li>They are a cash-only establishment that is open 7 days a week ( including holidays) with both dine-in and take-out options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2890">Next</a></li>
</ul>