<% provide :title, 'Opinion Target 1913' %><h2>raisin bread<br />occurrence: 2</h2><div><ol><li>Also try the homemade patties and buy yourself a loaf of the raisin bread.</li><li>This place also has the best raisin bread in the city.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1914">Next</a></li>
</ul>