<% provide :title, 'Opinion Target 1544' %><h2>laffa bread<br />occurrence: 3</h2><div><ol><li>I always order the `` ME salad'' with a side of tahini and a side of hotsauce and then I get an order of hummus for protein which comes with their laffa bread.</li><li>The other table to our left had a big party but a few people were missing their meal and they did n't receive any of the laffa bread that comes with their meal.</li><li>The prices are standard with the exception of the laffa bread and hummus ( almost $ 9 for a container of hummus to go).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1543">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1545">Next</a></li>
</ul>