<% provide :title, 'Opinion Target 3080' %><h2>bar tables<br />occurrence: 1</h2><div><ol><li>The atmosphere is trendy and upscale, I like the wooden decor and bar tables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3081">Next</a></li>
</ul>