<% provide :title, 'Opinion Target 7450' %><h2>sponge cake and green tea ice cream<br />occurrence: 1</h2><div><ol><li>I got the Green Tea crepe which was filled with red bean, sponge cake and green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7451">Next</a></li>
</ul>