<% provide :title, 'Opinion Target 2431' %><h2>dragon buns<br />occurrence: 2</h2><div><ol><li>When people ask where to go for '' dragon buns '' I usually tell them ASIAN LEGEND.</li><li>MOST importantly: The food is consistent and delicious with reasonable prices Favorites: D r a g o n B u n s- I honestly do n't think there has been a time that I 've been here and NOT ordered any dragon buns.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2432">Next</a></li>
</ul>