<% provide :title, 'Opinion Target 5352' %><h2>lamb bites<br />occurrence: 1</h2><div><ol><li>The lamb bites were tender too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5353">Next</a></li>
</ul>