<% provide :title, 'Opinion Target 6530' %><h2>Jellyfish salad<br />occurrence: 1</h2><div><ol><li>*** Jellyfish salad was okay, as were the two cold meat appetizers we tried ( including drunken chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6531">Next</a></li>
</ul>