<% provide :title, 'Opinion Target 4608' %><h2>Oyster mushroom<br />occurrence: 1</h2><div><ol><li>The Oyster mushroom is fried just right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4609">Next</a></li>
</ul>