<% provide :title, 'Opinion Target 1864' %><h2>oyster<br />occurrence: 2</h2><div><ol><li>It was a great oyster but more expensive than Rodney 's ?!?</li><li>We ordered two regular sized congee ( the oyster and the pumpkin/lobster), a chow mein, a vegetable dish, fried fish pieces, and Shumai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1863">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1865">Next</a></li>
</ul>