<% provide :title, 'Opinion Target 2821' %><h2>Chinese szechuan style food<br />occurrence: 1</h2><div><ol><li>This place is awesome for Chinese szechuan style food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2822">Next</a></li>
</ul>