<% provide :title, 'Opinion Target 2210' %><h2>steamed lobster<br />occurrence: 2</h2><div><ol><li>Anyways, fine, we decided to change our order and get lobster grandin ( appetizer $ 12), garlic jumbo shrimp ( entree $ 32), and 1 1/4 steamed lobster ( entree $ 36) for now to see how the food is then get more later if we like the foods ( yes we were that scared).</li><li>1 1/4 steamed lobster ( $ 36) served with butter was average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2211">Next</a></li>
</ul>