<% provide :title, 'Opinion Target 1695' %><h2>cheese omelette<br />occurrence: 2</h2><div><ol><li>The only thing I do n't like is the cheese omelette with ketchup.</li><li>I usually get the 10 star, but today I got the spinach and cheese omelette and it was just as good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1696">Next</a></li>
</ul>