<% provide :title, 'Opinion Target 831' %><h2>walls<br />occurrence: 4</h2><div><ol><li>The walls are decorated with posters of drawings of the ingredients of samgyetang, and other menu items.</li><li>The carpet is a bit worn, and the walls could use a fresh look.</li><li>The walls are covered in airbrushed Italian scenes and there is a sort of bar to the side, where you place your order.</li><li>The walls are covered with photos of their dishes, which is actually quite helpful when trying to decide what to order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_832">Next</a></li>
</ul>