<% provide :title, 'Opinion Target 5958' %><h2>duck livers<br />occurrence: 1</h2><div><ol><li>The duck livers sells quickly, usually nothing left by 3pm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5957">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5959">Next</a></li>
</ul>