<% provide :title, 'Opinion Target 1765' %><h2>Seafood Linguini<br />occurrence: 2</h2><div><ol><li>I ordered the Calamari and the Seafood Linguini, and also tried the Fish and Chips and Philly Cheesesteak appetizer.</li><li>The seafood linguini is probably the worst I 've ever had, and I love that dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1766">Next</a></li>
</ul>