<% provide :title, 'Opinion Target 6169' %><h2>steak cubes<br />occurrence: 1</h2><div><ol><li>The steak cubes were so delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6170">Next</a></li>
</ul>