<% provide :title, 'Opinion Target 5040' %><h2>ginger beer<br />occurrence: 1</h2><div><ol><li>I only wish they had ginger beer to wash this down with!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5039">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5041">Next</a></li>
</ul>