<% provide :title, 'Opinion Target 9258' %><h2>mash potato<br />occurrence: 1</h2><div><ol><li>The double baked potato was not impressive, it simply looked like they scooped their mash potato into hollowed out potato skins.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9259">Next</a></li>
</ul>