<% provide :title, 'Opinion Target 6536' %><h2>scallion pancake with beef<br />occurrence: 1</h2><div><ol><li>****^ The scallion pancake with beef was very good, tasty and well textured.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6535">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6537">Next</a></li>
</ul>