<% provide :title, 'Opinion Target 2459' %><h2>burger topping<br />occurrence: 1</h2><div><ol><li>I love that they have olives, cucumbers and other things you would n't ordinarily have as an option for a burger topping!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2460">Next</a></li>
</ul>