<% provide :title, 'Opinion Target 3645' %><h2>salad stuff<br />occurrence: 1</h2><div><ol><li>The salad stuff is standard and I 'm not too picky about that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3646">Next</a></li>
</ul>