<% provide :title, 'Opinion Target 3332' %><h2>tempura shrimp roll<br />occurrence: 1</h2><div><ol><li>The tempura shrimp roll was crispy and fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3333">Next</a></li>
</ul>