<% provide :title, 'Opinion Target 2227' %><h2>regular bubble tea<br />occurrence: 2</h2><div><ol><li>We ordered cold mango yogurt drink, cold regular bubble tea and a hot tea.</li><li>The regular bubble tea was nothing special but for that price, I can easily get better elsewhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2228">Next</a></li>
</ul>