<% provide :title, 'Opinion Target 5232' %><h2>Chingu<br />occurrence: 1</h2><div><ol><li>Lastly, Chingu offers kimchi and tofu stews with AYCE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5233">Next</a></li>
</ul>