<% provide :title, 'Opinion Target 3618' %><h2>fish place<br />occurrence: 1</h2><div><ol><li>Excellent fish place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3619">Next</a></li>
</ul>