<% provide :title, 'Opinion Target 8178' %><h2>drunken<br />occurrence: 1</h2><div><ol><li>AWESOME late nite/ 24 hr KALBI TANG or KAMJATANG place is a lil dirty, service is slow, but for 3 am yum at a decent price this place is the place to be in north york ( even though the selection of late night places in the area are very slim- subway is open till 3am across the street) i give them props for dealing with all the drunken stupers though, who roll in there wanting some home style korean! kimchi is very spicy! i choke everytime. hahaha, but they do give you as much as you want.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8179">Next</a></li>
</ul>