<% provide :title, 'Opinion Target 1091' %><h2>burger combo<br />occurrence: 3</h2><div><ol><li>With the price of this burger combo reaching $ 10 McDonalds in now in competition with all the other gourmet burger joints in the city.</li><li>The burger combo included a medium drink and a small New York Fries.</li><li>Took 15 min to get one burger combo in a line that only consisted of me and the person ahead of me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1090">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1092">Next</a></li>
</ul>