<% provide :title, 'Opinion Target 6541' %><h2>anchovy fried rice<br />occurrence: 1</h2><div><ol><li>My table ordered seafood congee, anchovy fried rice, and other dishes that I ca n't remember.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6542">Next</a></li>
</ul>