<% provide :title, 'Opinion Target 5239' %><h2>BLT sandwich<br />occurrence: 1</h2><div><ol><li>Toronto virtually invented the BLT sandwich along with the Banquet Burger &amp; we know how to do it best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5240">Next</a></li>
</ul>