<% provide :title, 'Opinion Target 5220' %><h2>green tea toast<br />occurrence: 1</h2><div><ol><li>Ordered green tea toast but the result was pretty disappointing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5221">Next</a></li>
</ul>