<% provide :title, 'Opinion Target 902' %><h2>roasted milk tea<br />occurrence: 5</h2><div><ol><li>The roasted milk tea tasted like the milk green tea, also the drink was so hot that it burned my tongue.</li><li>No doubt it tasted nice and strong like roasted milk tea.</li><li>Roasted milk tea, so yummy!</li><li>The Good: I use to be an avid tapioca fan but I 've been converted to grass jelly with my roasted milk tea.</li><li>My favorites are pearl milk tea or roasted milk tea but there 's so many options that I should discover.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_903">Next</a></li>
</ul>