<% provide :title, 'Opinion Target 2321' %><h2>fried chicken in sauce<br />occurrence: 2</h2><div><ol><li>Came in a large group ( 10 ppl) and we ordered large sizes of the ( 1) boneless chicken with green onion, ( 2) fried chicken in spicy sauce, ( 3) fried chicken in sauce, and ( 4) garlic butter fries.</li><li>My favourite item of the evening was the fried chicken in sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2320">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2322">Next</a></li>
</ul>