<% provide :title, 'Opinion Target 1659' %><h2>grilled fish<br />occurrence: 2</h2><div><ol><li>Everything on the menu is great ... although I would be careful with the grilled fish.</li><li>We both had the grilled fish which kept us going `` om nom nom'', but the cake was sadly dry and a great meal should always be highlighted by a yummy dessert ( IMO).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1660">Next</a></li>
</ul>