<% provide :title, 'Opinion Target 657' %><h2>cashew chicken<br />occurrence: 5</h2><div><ol><li>We had the hot &amp; spicy spare ribs, honey garlic chicken wings, general tao chicken, and cashew chicken.</li><li>The only dish that I enjoyed was the cashew chicken, the rest were simply not that good!</li><li>Cashew chicken was okay.</li><li>They have the standard cashew chicken and other stuff that I imagine Thai families do n't actually make at home.</li><li>The cashew chicken was made with what seemed like rubber chicken in a goopy clear sauce with no flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_658">Next</a></li>
</ul>