<% provide :title, 'Opinion Target 6914' %><h2>onion roll<br />occurrence: 1</h2><div><ol><li>I like the scallop and melon in there! 3. beef and onion roll: surprisingly tasty, which was above my expectations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6915">Next</a></li>
</ul>