<% provide :title, 'Opinion Target 1640' %><h2>creme caramel<br />occurrence: 2</h2><div><ol><li>It was all so yummy, especially the creme caramel I believe it was.</li><li>Except my dessert, the creme caramel had whipped cream and a maraschino cherry cherry on it, with a plastic spoon.Gross.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1641">Next</a></li>
</ul>