<% provide :title, 'Opinion Target 2745' %><h2>hot stone beef<br />occurrence: 1</h2><div><ol><li>A lot of choices for bibimbap &amp; ginseng chicken soup ( with a small bowl of noodle) The pork cutlet on rice is surprisingly good, highly recommended The plaza has a lot of parking Service is friendly The overall dinner is very entertaining Will definitely come back and try their seafood pancake Have hot stone beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2746">Next</a></li>
</ul>