<% provide :title, 'Opinion Target 5467' %><h2>double fried lobster the tail<br />occurrence: 1</h2><div><ol><li>The double fried lobster the tail has lots of meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5468">Next</a></li>
</ul>