<% provide :title, 'Opinion Target 5175' %><h2>Rice noodle with beef and black bean sauce<br />occurrence: 1</h2><div><ol><li>2) Rice noodle with beef and black bean sauce- very good, not dry and the perfect ratio of veggies to noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5174">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5176">Next</a></li>
</ul>