<% provide :title, 'Opinion Target 2611' %><h2>pickled slaw<br />occurrence: 1</h2><div><ol><li>The pickled slaw was something new for me that I quite enjoyed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2612">Next</a></li>
</ul>