<% provide :title, 'Opinion Target 2982' %><h2>burger places<br />occurrence: 1</h2><div><ol><li>The one problem I 've always had with `` gourmet'' burger places is they seem to have forgotten that one of the things that makes a burger good, is that it 's cheap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2981">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2983">Next</a></li>
</ul>