<% provide :title, 'Opinion Target 6362' %><h2>baked potatoes<br />occurrence: 1</h2><div><ol><li>Their baked potatoes were beyond basic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6363">Next</a></li>
</ul>