<% provide :title, 'Opinion Target 2131' %><h2>soujouk<br />occurrence: 1</h2><div><ol><li>They claim that they have ' authentic' soujouk ( my friend bought some), but the reviews are not in.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2130">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2132">Next</a></li>
</ul>