<% provide :title, 'Opinion Target 1023' %><h2>private room<br />occurrence: 4</h2><div><ol><li>We were seated in one half of a large private room, with a wooden screen separating us from another party.</li><li>We were seated between the lone other occupied table and a loud private room where a large group was finishing what appeared to be a cross between a business meeting and late lunch.</li><li>If you are coming here, do n't get a private room and expect a wait for a refill of tea.</li><li>They have a private room that can accommodate 15- 30 people so it 's good for parties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1022">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1024">Next</a></li>
</ul>