<% provide :title, 'Opinion Target 7313' %><h2>chicken and shrimp fried rice<br />occurrence: 1</h2><div><ol><li>Their chicken and shrimp fried rice is also very good and the prices here are very affordable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7314">Next</a></li>
</ul>