<% provide :title, 'Opinion Target 7835' %><h2>breakfast muffin<br />occurrence: 1</h2><div><ol><li>Friendly staffs ... this is our secons time back again for the Natasha benedicts, love they use the mini pancake instead of breakfast muffin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7834">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7836">Next</a></li>
</ul>