<% provide :title, 'Opinion Target 7291' %><h2>: Grilled Chicken Arrabbiata<br />occurrence: 1</h2><div><ol><li>Had: Grilled Chicken Arrabbiata- Not bad, but not my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7292">Next</a></li>
</ul>