<% provide :title, 'Opinion Target 2107' %><h2>lunch counter<br />occurrence: 2</h2><div><ol><li>In addition to being a market, they have a lunch counter that serves fresh kebabs, rice, and other options.</li><li>It 's a bakery, with a few supermarket goods on one side, and a lunch counter on the other side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2108">Next</a></li>
</ul>