<% provide :title, 'Opinion Target 6815' %><h2>sauce with potatoes and beef<br />occurrence: 1</h2><div><ol><li>We ordered:- Biang biang mian: Thick hand pulled noodles in a tomatoey sauce with potatoes and beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6816">Next</a></li>
</ul>