<% provide :title, 'Opinion Target 8797' %><h2>AYCE lunch<br />occurrence: 1</h2><div><ol><li>Went for AYCE lunch today, the price is 14.99 for holiday.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8796">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8798">Next</a></li>
</ul>