<% provide :title, 'Opinion Target 2135' %><h2>soups & sandwiches<br />occurrence: 1</h2><div><ol><li>It has variety of breads, donuts, soups &amp; sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2136">Next</a></li>
</ul>