<% provide :title, 'Opinion Target 4749' %><h2>corned beef sandwiches<br />occurrence: 1</h2><div><ol><li>My wife picked up 2 corned beef sandwiches yesterday as she was in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4750">Next</a></li>
</ul>