<% provide :title, 'Opinion Target 3801' %><h2>private rooms<br />occurrence: 1</h2><div><ol><li>Considering the nature of the yelp reviews boucing between ratings, it clear that this place is a great example of hit or miss. Would love to come back to check out the private rooms or order shaved ice, but it may be a while ... at least until my wallet stops sighing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3802">Next</a></li>
</ul>