<% provide :title, 'Opinion Target 4552' %><h2>milkshakes<br />occurrence: 1</h2><div><ol><li>And um, dangerous.- milkshakes were good but my straw should stand right up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4551">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4553">Next</a></li>
</ul>