<% provide :title, 'Opinion Target 4722' %><h2>pho xe lua<br />occurrence: 1</h2><div><ol><li>Overall, the restaurant is exactly what you would expect of a Vietnamese pho restaurant chain ( such as 88 or pho xe lua), quick to the point service and decent food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4723">Next</a></li>
</ul>