<% provide :title, 'Opinion Target 7101' %><h2>counter cafeteria style<br />occurrence: 1</h2><div><ol><li>Waiter-service: while you pay at the end of the counter cafeteria style, they give you numbers to take to your seat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7100">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7102">Next</a></li>
</ul>