<% provide :title, 'Opinion Target 7441' %><h2>yoghurt lassi<br />occurrence: 1</h2><div><ol><li>I did however enjoy the sweeten yoghurt lassi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7442">Next</a></li>
</ul>