<% provide :title, 'Opinion Target 8834' %><h2>dine-in options<br />occurrence: 1</h2><div><ol><li>They offer take-out and dine-in options so if you 're planning to dine-in, you should grab a seat first before ordering otherwise someone else might do it and you lose.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8835">Next</a></li>
</ul>