<% provide :title, 'Opinion Target 3374' %><h2>breaded chicken sandwich<br />occurrence: 1</h2><div><ol><li>Not sure why the breaded chicken sandwich has ' big' in its name as it is averae sized.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3375">Next</a></li>
</ul>