<% provide :title, 'Opinion Target 2718' %><h2>selection of stone baked breads<br />occurrence: 1</h2><div><ol><li>Besides salads, you can also choose from a wide selection of stone baked breads, banana chocolate loafs, two types of soups, and a selection of hummus and pitas, and fruits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2719">Next</a></li>
</ul>