<% provide :title, 'Opinion Target 4298' %><h2>Vietnamese rice dishes<br />occurrence: 1</h2><div><ol><li>Pho is offered on the menu, as is the other common Vietnamese rice dishes but I do not know how it fares to their main dish, the namesake of this restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4297">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4299">Next</a></li>
</ul>