<% provide :title, 'Opinion Target 3361' %><h2>butter chicken wrap<br />occurrence: 1</h2><div><ol><li>I also tried the butter chicken wrap, which was n't as good as I thought it would be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3362">Next</a></li>
</ul>