<% provide :title, 'Opinion Target 1376' %><h2>grilled tomatoe<br />occurrence: 2</h2><div><ol><li>The grilled tomatoe and rice on the other hand were perfect.</li><li>The grilled tomatoe had a smokey flavour which I enjoyed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1377">Next</a></li>
</ul>