<% provide :title, 'Opinion Target 3603' %><h2>China<br />occurrence: 1</h2><div><ol><li>( In China, Pizza is served on fine china, in an upscale establishment, and enjoyed using a knife &amp; fork) The food is alright, just the spring rolls .. they are deplorable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3602">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3604">Next</a></li>
</ul>