<% provide :title, 'Opinion Target 9376' %><h2>chocolate fondue<br />occurrence: 1</h2><div><ol><li>DIY stir fry, dim sum, buffet food, cold bar, and dessert with a chocolate fondue!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9377">Next</a></li>
</ul>