<% provide :title, 'Opinion Target 3615' %><h2>lobster & avocado<br />occurrence: 1</h2><div><ol><li>It 's basically large chunks of lobster &amp; avocado with a sweet mango salsa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3616">Next</a></li>
</ul>