<% provide :title, 'Opinion Target 824' %><h2>white tuna<br />occurrence: 5</h2><div><ol><li>The white tuna was delicious.</li><li>White tuna was good relatively speaking.</li><li>Sort of a small triangle ... like what ? and the white tuna were in round lil slices ?</li><li>The sashimi is alright, but for the white tuna, i do n't know why they make it as tataki, it 's burn little bit and taste weird at the burn part.</li><li>Sashimi options were standard- salmon, white tuna, surf clam, kani, egg ... etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_825">Next</a></li>
</ul>