<% provide :title, 'Opinion Target 7817' %><h2>shoestring fries<br />occurrence: 1</h2><div><ol><li>The burger and the shoestring fries are very good and it seems that the owners are trying to compete with the new Burger 's Priest next door!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7818">Next</a></li>
</ul>