<% provide :title, 'Opinion Target 7945' %><h2>bulgogi hot pot<br />occurrence: 1</h2><div><ol><li>I need to try the bulgogi hot pot, so I 'll definitely be making another trip here again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7944">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7946">Next</a></li>
</ul>