<% provide :title, 'Opinion Target 3664' %><h2>lunch date<br />occurrence: 1</h2><div><ol><li>Just wish me and my lunch date are both in bathing suit by the pool ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3665">Next</a></li>
</ul>