<% provide :title, 'Opinion Target 5000' %><h2>muscles appetizer<br />occurrence: 1</h2><div><ol><li>My friend and I ordered: The muscles appetizer One lobster combo One lobster 2 glasses of white wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5001">Next</a></li>
</ul>