<% provide :title, 'Opinion Target 4971' %><h2>home fries<br />occurrence: 1</h2><div><ol><li>The home fries are whatever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4970">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4972">Next</a></li>
</ul>