<% provide :title, 'Opinion Target 3053' %><h2>seaweed salad and uni sashimi<br />occurrence: 1</h2><div><ol><li>For appetizers we ordered the calamari, gyoza, kaki fry ( highly recommend this one, you really taste the oyster and it 's not overpowered by the coating), spicy salmon sushi pizza, seaweed salad and uni sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3052">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3054">Next</a></li>
</ul>