<% provide :title, 'Opinion Target 4889' %><h2>sushi chef table<br />occurrence: 1</h2><div><ol><li>He was just standing in front of the sushi chef table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4890">Next</a></li>
</ul>