<% provide :title, 'Opinion Target 4494' %><h2>Veal Tenderloin Marsala<br />occurrence: 1</h2><div><ol><li>I ordered the Veal Tenderloin Marsala and my mother ordered a seafood dish, Frittura Mista Di Mare.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4495">Next</a></li>
</ul>