<% provide :title, 'Opinion Target 2470' %><h2>pear sorbet<br />occurrence: 2</h2><div><ol><li>Of the three desserts I recommend the pear sorbet ( made in house) or the agar agar selection which had a nice creamy azuki bean paste accompanied with a mandarin wedge and light syrup.</li><li>Pear sorbet was refreshing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2471">Next</a></li>
</ul>