<% provide :title, 'Opinion Target 7790' %><h2>BBQ wings<br />occurrence: 1</h2><div><ol><li>We ordered the BBQ wings and ribs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7791">Next</a></li>
</ul>