<% provide :title, 'Opinion Target 8221' %><h2>Kimchi fries rice<br />occurrence: 1</h2><div><ol><li>Kimchi fries rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8220">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8222">Next</a></li>
</ul>