<% provide :title, 'Opinion Target 4550' %><h2>mushroom Thai basil dish<br />occurrence: 1</h2><div><ol><li>Two of us ordered the mushroom Thai basil dish but It was so salty and only tasted of stock ( or the knor powder).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4551">Next</a></li>
</ul>