<% provide :title, 'Opinion Target 6305' %><h2>buffalo butter sauce<br />occurrence: 1</h2><div><ol><li>Remind you, I asked for it extra saucy; so these things are drenched in the buffalo butter sauce ( yummy sauce) ... and guess what i see.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6306">Next</a></li>
</ul>