<% provide :title, 'Opinion Target 7357' %><h2>`` ho nam<br />occurrence: 1</h2><div><ol><li>The `` ho nam'' chicken in hot pot, 25 mins wait and the rice was mushy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7358">Next</a></li>
</ul>