<% provide :title, 'Opinion Target 4437' %><h2>Jamaican Patties<br />occurrence: 1</h2><div><ol><li>Their Jamaican Patties are tasty too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4438">Next</a></li>
</ul>