<% provide :title, 'Opinion Target 2717' %><h2>bean dishes<br />occurrence: 1</h2><div><ol><li>I guess it would n't be so bad if you 're really into that kind of thing, but to me it tasted like an assortment of bean dishes I could have made myself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2718">Next</a></li>
</ul>