<% provide :title, 'Opinion Target 2875' %><h2>lamb pita<br />occurrence: 1</h2><div><ol><li>I got the lamb pita on whole wheat, I asked for it to be cooked medium well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2876">Next</a></li>
</ul>