<% provide :title, 'Opinion Target 1545' %><h2>Magic lamb<br />occurrence: 3</h2><div><ol><li>I recommend `` Magic beef'' and `` Magic lamb''.</li><li>Bad points, We ordered the Magic Lamb, Magic Beef and the Spiced Up Marriage.</li><li>I got the Magic Lamb, which I really enjoyed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1546">Next</a></li>
</ul>