<% provide :title, 'Opinion Target 808' %><h2>bananas<br />occurrence: 5</h2><div><ol><li>The bananas tasted fine but the outside had an unattractive grey tinge.</li><li>The shaved ice had tons of toppings such as corn flakes, strawberries, bananas, tapioca, and beans.</li><li>Mine had bananas and cornflakes, it is definitely worth to try.</li><li>We had ordered fried bananas along with our scoops of ice cream and it took them long as usual to deliver the ice cream- but when it did come, no bananas.</li><li>We are still waiting for our bananas !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_809">Next</a></li>
</ul>