<% provide :title, 'Opinion Target 778' %><h2>broccolini<br />occurrence: 6</h2><div><ol><li>I had the broccolini and sausage pasta.</li><li>The broccolini was plentiful and balanced the linguini.</li><li>Pizza and sides like broccolini and meatballs I have tried- very solid.</li><li>2) Broccolini and sausage pasta ( $ 13) Linguini was al dente, generous amount of sausage and broccolini.</li><li>2) Broccolini and sausage pasta ( $ 13) Linguini was al dente, generous amount of sausage and broccolini.</li><li>Of the pastas, I 've only tried the broccolini and sausage, and did find it a bit underwhelming.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_779">Next</a></li>
</ul>