<% provide :title, 'Opinion Target 1556' %><h2>Mushroom Ravioli<br />occurrence: 2</h2><div><ol><li>I had the Mushroom Ravioli which was decent.</li><li>We also tried French Onion Soup ( it was okay ... it had little bits of beef in it, which was different); calamari ( quite good); mushroom ravioli ( not bad); and seafood corn chowder ( meh).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1555">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1557">Next</a></li>
</ul>