<% provide :title, 'Opinion Target 822' %><h2>venue<br />occurrence: 4</h2><div><ol><li>The venue was very neat I do have to say, and I appreciate cleanliness.</li><li>The venue is nice and the restaurant looks really upscale, but the quality in the food was poor.</li><li>The Venue is a little bit small, for a wedding, but I think everyone had a really good time.</li><li>The venue is nice and the restaurant looks upscale, but the quality of the food was so so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_821">Previous</a></li>
  <li class="next"><a href=".\opinion_target_823">Next</a></li>
</ul>