<% provide :title, 'Opinion Target 926' %><h2>beef panang curry<br />occurrence: 4</h2><div><ol><li>In the end I 'd go back for the crispy beef panang curry, or one of the other curries.</li><li>We had the crispy beef panang curry.</li><li>you have to order the crispy beef panang curry.</li><li>I got the crispy beef panang curry again and it was just as good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_927">Next</a></li>
</ul>