<% provide :title, 'Opinion Target 1841' %><h2>steak house<br />occurrence: 2</h2><div><ol><li>Service: A bit slower than any good steak house.</li><li>I was in the mood for a good steak house in the Willowdale area and this seemed like the best choice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1842">Next</a></li>
</ul>