<% provide :title, 'Opinion Target 4444' %><h2>Guacamole Bacon Angus Burger<br />occurrence: 1</h2><div><ol><li>My Dad ordered the Ribs/Wings/Fries/Veggie combo and I got the Guacamole Bacon Angus Burger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4445">Next</a></li>
</ul>