<% provide :title, 'Opinion Target 4929' %><h2>Spicy fried calamari Thinly sliced squid with lots of diced pepper<br />occurrence: 1</h2><div><ol><li>- Spicy fried calamari Thinly sliced squid with lots of diced pepper, so good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4930">Next</a></li>
</ul>