<% provide :title, 'Opinion Target 4679' %><h2>Islamic noodles<br />occurrence: 1</h2><div><ol><li>The Islamic noodles was the most popular among us., slightly sweet and just moist enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4680">Next</a></li>
</ul>