<% provide :title, 'Opinion Target 5270' %><h2>kimchi rice<br />occurrence: 1</h2><div><ol><li>Came in super hungry and thought we did n't order enough food and was thinking of getting a side of kimchi rice but good thing we did n't because the 2 orders of spicy dakgalbee was enough!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5271">Next</a></li>
</ul>