<% provide :title, 'Opinion Target 2127' %><h2>thai pumpkin soup<br />occurrence: 2</h2><div><ol><li>The thai pumpkin soup that I got was too salty and the remainder of the meal was too bland.</li><li>This was really good as well as it was served as it were escargot and it just tasted wonderful 3) Thai Pumpkin Soup- tasted good similar to lobster soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2128">Next</a></li>
</ul>