<% provide :title, 'Opinion Target 6302' %><h2>white sauce<br />occurrence: 1</h2><div><ol><li>The red sauces are all gross and sweet and the white sauce was starchy and bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6303">Next</a></li>
</ul>