<% provide :title, 'Opinion Target 2395' %><h2>Ma Po Bean Curd<br />occurrence: 1</h2><div><ol><li>Their tofu dishes are both very good, especially the Ma Po Bean Curd.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2396">Next</a></li>
</ul>