<% provide :title, 'Opinion Target 6397' %><h2>multigrain rice<br />occurrence: 1</h2><div><ol><li>Also, I like multigrain rice and they have it here for an extra charge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6398">Next</a></li>
</ul>