<% provide :title, 'Opinion Target 5217' %><h2>butter chicken & naan bread w/basmati rice<br />occurrence: 1</h2><div><ol><li>Even the butter chicken &amp; naan bread w/basmati rice ai n't bad- far from authentic, albeit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5218">Next</a></li>
</ul>