<% provide :title, 'Opinion Target 1521' %><h2>mango bingsoo<br />occurrence: 2</h2><div><ol><li>This time, I got the white chocolate mocha bingsoo and my friend got the mango bingsoo.</li><li>I wish they would use fresh Mangoes for their Mango bingsoo, but it 's still good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1522">Next</a></li>
</ul>