<% provide :title, 'Opinion Target 8948' %><h2>butter chicken & poutine toppings<br />occurrence: 1</h2><div><ol><li>I wanted to try all of them, but decided on just the butter chicken &amp; poutine toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8949">Next</a></li>
</ul>