<% provide :title, 'Opinion Target 997' %><h2>salad bar buffet<br />occurrence: 3</h2><div><ol><li>Their salad bar buffet is super good, healthy and filling!</li><li>You can get a meal and add the salad bar buffet for a small fee, or you can get the salad bar as a full meal.</li><li>I think this is the only place I 've seen in the GTA region, with a salad bar buffet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_998">Next</a></li>
</ul>