<% provide :title, 'Opinion Target 2170' %><h2>gumbo<br />occurrence: 1</h2><div><ol><li>My wife had the gumbo which was good, but needed more heat, especially for a place with `` Southern'' influence.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2171">Next</a></li>
</ul>