<% provide :title, 'Opinion Target 2401' %><h2>black bean sauce items<br />occurrence: 1</h2><div><ol><li>Both of their black bean sauce items are great as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2402">Next</a></li>
</ul>