<% provide :title, 'Opinion Target 7990' %><h2>meal with broiled beef<br />occurrence: 1</h2><div><ol><li>We arrived for lunch and while the GF ordered their Soon Tofu soup with mushrooms, I opted for more of a fuller meal with broiled beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7989">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7991">Next</a></li>
</ul>