<% provide :title, 'Opinion Target 7264' %><h2>honey garlic chicken with<br />occurrence: 1</h2><div><ol><li>I love their soy garlic chicken !!! the combination of soy and garlic does n't sound so appetizing, but it actually taste like dry honey garlic chicken with more flavors with out the sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7263">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7265">Next</a></li>
</ul>