<% provide :title, 'Opinion Target 4576' %><h2>Russian<br />occurrence: 1</h2><div><ol><li>3.5 stars In a dark corner off Dufferin St. in North York lies Moldova an Eastern European restaurant serving authentic Russian, Moldavian, Romanian and Ukrainian cuisine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4577">Next</a></li>
</ul>