<% provide :title, 'Opinion Target 3816' %><h2>shrmp tempura<br />occurrence: 1</h2><div><ol><li>I ended up getting 3 shrmp tempura, 1 yam AND 2 zucchini, 2 taro lol ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3817">Next</a></li>
</ul>