<% provide :title, 'Opinion Target 9697' %><h2>chasu side dish<br />occurrence: 1</h2><div><ol><li>The chasu side dish, kalbi &amp; tonkasu are also fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9696">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9698">Next</a></li>
</ul>