<% provide :title, 'Opinion Target 3892' %><h2>pork and grilled chicken<br />occurrence: 1</h2><div><ol><li>I usually get either:- Vermicelli with grilled beef, grilled pork and grilled chicken Or- The regular beef pho.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3893">Next</a></li>
</ul>