<% provide :title, 'Opinion Target 4476' %><h2>dining space<br />occurrence: 1</h2><div><ol><li>Good large dining space.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4475">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4477">Next</a></li>
</ul>