<% provide :title, 'Opinion Target 5973' %><h2>Chinese BBQ He<br />occurrence: 1</h2><div><ol><li>Odd name but good Chinese BBQ He He Long is located in the corner of an alley behind the Sunny Supermarket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5974">Next</a></li>
</ul>