<% provide :title, 'Opinion Target 6815' %><h2>soy sauce container<br />occurrence: 1</h2><div><ol><li>Their soy sauce container had a cork ... let 's just say i was impressed with the interior, especially when comparing it to the yellowish sign outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6816">Next</a></li>
</ul>