<% provide :title, 'Opinion Target 9427' %><h2>pork & preserved duck egg congee<br />occurrence: 1</h2><div><ol><li>I seemed to settle into some go-to choices on the menu but some stand outs include the salt and pepper squid, cantonese chow mein and the shredded pork &amp; preserved duck egg congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9428">Next</a></li>
</ul>