<% provide :title, 'Opinion Target 5254' %><h2>Panna Cotta<br />occurrence: 1</h2><div><ol><li>The last time, I was n't too impressed; however, this time I ordered the Panna Cotta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5253">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5255">Next</a></li>
</ul>