<% provide :title, 'Opinion Target 6813' %><h2>Biang Biang<br />occurrence: 1</h2><div><ol><li>Also had the Yo Po Mian which was also good- almost like a vegetarian version of the Biang Biang ... without the meat ... or tomato ... or eggs ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6814">Next</a></li>
</ul>