<% provide :title, 'Opinion Target 8027' %><h2>hot stone pot soup<br />occurrence: 1</h2><div><ol><li>Of course, it might not have been such a good idea to be getting steaming hot stone pot soup on one of the hottest week this summer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8026">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8028">Next</a></li>
</ul>