<% provide :title, 'Opinion Target 3359' %><h2>rice and noodles )<br />occurrence: 1</h2><div><ol><li>They specially in samgaetang which is a special healthy and delicious chicken soup ( with rice and noodles) but my boyfriend is obsessed with the spicy pork which is served sizzling on a hot plate with rice and side soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3360">Next</a></li>
</ul>