<% provide :title, 'Opinion Target 890' %><h2>Greek<br />occurrence: 4</h2><div><ol><li>I venture a guess that this restaurant is not owned by a Greek Family.</li><li>Overall The Friendly Greek is anything but on your stomach and tastebuds.</li><li>The Friendly Greek is the best breakfast spot in the Yonge and Sheppard area.</li><li>The Friendly Greek 's food and service have impressed me the times I 've visited.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_891">Next</a></li>
</ul>