<% provide :title, 'Opinion Target 3437' %><h2>pork hot stone bowl<br />occurrence: 1</h2><div><ol><li>The servers are so kind.^^ We ordered the ginseng chicken soup, the spicy pork hot stone bowl and the beef bulgolgi hot stone bowl which came with soup and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3438">Next</a></li>
</ul>