<% provide :title, 'Opinion Target 3160' %><h2>architecture<br />occurrence: 1</h2><div><ol><li>The feel, the aroma, the quaint architecture- filled with cottage coziness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3159">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3161">Next</a></li>
</ul>