<% provide :title, 'Opinion Target 4327' %><h2>tea taste<br />occurrence: 1</h2><div><ol><li>Got the Grass Jelly Roasted Milk Tea ( #2 on their Top 10 board) and first taste was strong tea taste, which is a huge nom factor for me!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4326">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4328">Next</a></li>
</ul>