<% provide :title, 'Opinion Target 847' %><h2>front<br />occurrence: 5</h2><div><ol><li>The front is glitter.</li><li>The service was very slow and the host at the front was n't the best at it.</li><li>The service at the front was bad.</li><li>The lady at the front is very polite.</li><li>Their parking lot in front is a bit tight but there are plenty of spots around the back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_848">Next</a></li>
</ul>