<% provide :title, 'Opinion Target 7467' %><h2>: Butter Chicken<br />occurrence: 1</h2><div><ol><li>Pros: Butter Chicken is above average Cons: Portions are small Do n't order anything seafood I do n't crave Indian often, so I 'm not a pro when it comes to Indian food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7468">Next</a></li>
</ul>