<% provide :title, 'Opinion Target 2689' %><h2>souvlaki pitas<br />occurrence: 1</h2><div><ol><li>Their pita bread is good, nice and chewy, and it makes me wonder if they use the same base for their pizza, since I see a lot of neighborhood people ordering their pizza, we keep meaning too- but we keep going back to their souvlaki pitas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2690">Next</a></li>
</ul>