<% provide :title, 'Opinion Target 4583' %><h2>mango roll with lychee ice cream<br />occurrence: 1</h2><div><ol><li>What a great recommendation! we ordered the mango salad, fried duck, beef pannang ?, pineapple fried rice, some special noodle dish, and ended off with a mango roll with lychee ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4584">Next</a></li>
</ul>