<% provide :title, 'Opinion Target 6368' %><h2>perilla seeds<br />occurrence: 1</h2><div><ol><li>It is quite savoury and besides the meat, the soup has potato, vegetables, and perilla seeds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6369">Next</a></li>
</ul>