<% provide :title, 'Opinion Target 7280' %><h2>rice cake with chicken<br />occurrence: 1</h2><div><ol><li>Also had the spicy rice cake with chicken and that was made incredibly because I died of happiness within one bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7281">Next</a></li>
</ul>