<% provide :title, 'Opinion Target 2326' %><h2>beef cutlet<br />occurrence: 1</h2><div><ol><li>The beef cutlet tasted like mashed potatoes stuffed with ground beef and spices and then fried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2327">Next</a></li>
</ul>