<% provide :title, 'Opinion Target 2167' %><h2>ladies washroom<br />occurrence: 1</h2><div><ol><li>The ladies washroom was clean when I went at 4 pm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2168">Next</a></li>
</ul>