<% provide :title, 'Opinion Target 3816' %><h2>cookie cutter rolls<br />occurrence: 1</h2><div><ol><li>I do not like AYCE because of the lack of quality, the uncreative cookie cutter rolls and dishes BUT sushi legend actually wowed me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3817">Next</a></li>
</ul>