<% provide :title, 'Opinion Target 5318' %><h2>sashimi bong combo<br />occurrence: 1</h2><div><ol><li>The sashimi bong combo is ridiculously large.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5319">Next</a></li>
</ul>