<% provide :title, 'Opinion Target 5954' %><h2>egg noodle soup<br />occurrence: 1</h2><div><ol><li>There vermicelli bowl, chow mein, and their egg noodle soup is worth trying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5955">Next</a></li>
</ul>