<% provide :title, 'Opinion Target 4893' %><h2>deep fried banana with chocolate<br />occurrence: 1</h2><div><ol><li>I think the deep fried banana with chocolate was amazing, it 's a must eat here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4894">Next</a></li>
</ul>