<% provide :title, 'Opinion Target 4186' %><h2>corn sauce<br />occurrence: 1</h2><div><ol><li>I liked the creamy corn sauce, but thought there may have been too much fat on the chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4187">Next</a></li>
</ul>