<% provide :title, 'Opinion Target 4530' %><h2>cream cone<br />occurrence: 1</h2><div><ol><li>Got a chance to also try one that looked like an ice cream cone.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4531">Next</a></li>
</ul>