<% provide :title, 'Opinion Target 1772' %><h2>Penne Alla Vodka<br />occurrence: 2</h2><div><ol><li>Ended up with the Penne Alla Vodka, which was quite good.</li><li>We devoured our gnocchi in rose sauce and penne alla vodka without complaint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1773">Next</a></li>
</ul>