<% provide :title, 'Opinion Target 8907' %><h2>sirloin<br />occurrence: 1</h2><div><ol><li>Chef was on point with the cooking of the sirloin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8908">Next</a></li>
</ul>