<% provide :title, 'Opinion Target 4462' %><h2>main courses ; duck breast<br />occurrence: 1</h2><div><ol><li>The main courses; duck breast, papardello pasta w. beef bourgignon, steak frites and jumbo scallops were all delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4463">Next</a></li>
</ul>