<% provide :title, 'Opinion Target 1200' %><h2>eggplant dishes<br />occurrence: 3</h2><div><ol><li>5) Sweet Eggplant- Amazing, one of the better eggplant dishes I tried and not oily like most.</li><li>You know what you 're walking into when you go to Asian Legend- good Chinese fix with all the staples: Xiao Long Bao 's, fried turnip cake, Dun Dun noodles, eggplant dishes, and the likes of fried rice and noodles.</li><li>Awesome fish ( rainbow trout,) delicious sides, salads, yogurts, eggplant dishes, and who can forget the freshly baked bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1201">Next</a></li>
</ul>