<% provide :title, 'Opinion Target 9448' %><h2>`` beef<br />occurrence: 1</h2><div><ol><li>I am going to give them one more chance- after I forget about those hideous pieces of fat in the `` beef'' and rice dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9447">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9449">Next</a></li>
</ul>