<% provide :title, 'Opinion Target 1483' %><h2>chili chicken<br />occurrence: 2</h2><div><ol><li>The chili chicken here is different from most places I have ever had.</li><li>It seemed like the chicken dishes, the chili chicken and general tso chicken were really mushy and soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1482">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1484">Next</a></li>
</ul>