<% provide :title, 'Opinion Target 4739' %><h2>meat carvings<br />occurrence: 1</h2><div><ol><li>I was overjoyed by Katz 's cold salads, pickles, liverwurst, and hot the meat carvings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4740">Next</a></li>
</ul>