<% provide :title, 'Opinion Target 2784' %><h2>lemon soy sauce<br />occurrence: 1</h2><div><ol><li>I had the lemon soy sauce to go with it which was very refreshing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2785">Next</a></li>
</ul>