<% provide :title, 'Opinion Target 6244' %><h2>Hot sandwich<br />occurrence: 1</h2><div><ol><li>Hot sandwich, but that 's about it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6245">Next</a></li>
</ul>