<% provide :title, 'Opinion Target 4398' %><h2>bottled pasta sauce<br />occurrence: 1</h2><div><ol><li>And speaking of sauce, it tasted like sour and cheap bottled pasta sauce without the slightest attempt to dress it up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4399">Next</a></li>
</ul>