<% provide :title, 'Opinion Target 4555' %><h2>duck pastry<br />occurrence: 1</h2><div><ol><li>Crispy Duck Leg with Steamed Dumplings- `` steamed dumplings'' is a real misnomer; they are actually a won ton wrapper or a `` duck pastry'' as sold in Chinese supermarkets ( 10/ $ 1.99); our server called them `` pancakes''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4554">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4556">Next</a></li>
</ul>