<% provide :title, 'Opinion Target 977' %><h2>pea soup<br />occurrence: 3</h2><div><ol><li>Undercooked pea soup is grany; salad leaves arrive with brown edges, wilting under puckery-sour dressings.</li><li>Top picks: vegetarian poutine, mac &amp; cheese, plain pizza Other good choices: kol bol salad, split pea soup I 've been going here my whole life.</li><li>I opted to share it and also had cold pickles, split pea soup, and a nice strong iced tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_978">Next</a></li>
</ul>