<% provide :title, 'Opinion Target 1991' %><h2>rosti<br />occurrence: 2</h2><div><ol><li>Another fave of mine is the rosti ... drool.</li><li>You have the rosti, pasta, burgers, sandwiches, seafood, and desserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1990">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1992">Next</a></li>
</ul>