<% provide :title, 'Opinion Target 2068' %><h2>bubble tea shops<br />occurrence: 2</h2><div><ol><li>Along with a sudden influx of bubble tea shops in the Yonge/Finch area, Chatime has opened their second store in the GTA.</li><li>Its bubble tea now tastes close to the Highway 7 standard, putting it among the best bubble tea shops in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2067">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2069">Next</a></li>
</ul>