<% provide :title, 'Opinion Target 2661' %><h2>style blood sausage ) platter<br />occurrence: 1</h2><div><ol><li>Their Soon Dae ( Korean style blood sausage) platter is served with good quality soon dae which are made on site with couple of pieces of sliced liver and lungs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2662">Next</a></li>
</ul>