<% provide :title, 'Opinion Target 1683' %><h2>chicken and shrimp pad Thai<br />occurrence: 2</h2><div><ol><li>I always order the chicken and shrimp pad Thai.</li><li>Let 's just say, my $ 9 chicken and shrimp pad thai ( with free drink) I 'm currently eating at a cheap chinese diner, is closer to real pad thai I 've had in Thailand, then the $ 18 shrimp one I had at Linda ( which was tasteless, dry, overcooked, have they even heard of tamarind ?)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1684">Next</a></li>
</ul>