<% provide :title, 'Opinion Target 7285' %><h2>fried noodles and rice dishes<br />occurrence: 1</h2><div><ol><li>The fried noodles and rice dishes are large and plentiful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7286">Next</a></li>
</ul>