<% provide :title, 'Opinion Target 5595' %><h2>calamari & wings<br />occurrence: 1</h2><div><ol><li>We always get calamari &amp; wings, have never been disappointed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5596">Next</a></li>
</ul>