<% provide :title, 'Opinion Target 1988' %><h2>dining area<br />occurrence: 2</h2><div><ol><li>When we got there, the dining area was packed and there was a flow for take out.</li><li>I would love to sit and dine in however, the cooking smell from the kitchen circulates the entire dining area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1989">Next</a></li>
</ul>