<% provide :title, 'Opinion Target 9370' %><h2>halo halo stations<br />occurrence: 1</h2><div><ol><li>It 's not fine dining but I love AYCE and I love the mad-scientist creative aspect of the grill and halo halo stations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9371">Next</a></li>
</ul>