<% provide :title, 'Opinion Target 7573' %><h2>nuts flavor waffle<br />occurrence: 1</h2><div><ol><li>The nuts flavor waffle was delicious too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7574">Next</a></li>
</ul>