<% provide :title, 'Opinion Target 4530' %><h2>fish and pies<br />occurrence: 1</h2><div><ol><li>Looking around at other peoples food both the fish and pies also looked very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4531">Next</a></li>
</ul>