<% provide :title, 'Opinion Target 3173' %><h2>comfort Italian food<br />occurrence: 1</h2><div><ol><li>If you 're ever in the area and need some good comfort Italian food, this is definitely a place worth checking out:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3174">Next</a></li>
</ul>