<% provide :title, 'Opinion Target 7177' %><h2>anchovies<br />occurrence: 1</h2><div><ol><li>It was a classic dressing with the egg white, anchovies, mustard and garlic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7178">Next</a></li>
</ul>