<% provide :title, 'Opinion Target 6720' %><h2>kabob dishes<br />occurrence: 1</h2><div><ol><li>Overall kabob dishes are the best bet at Zaffron and you can be assured of decent service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6721">Next</a></li>
</ul>