<% provide :title, 'Opinion Target 5828' %><h2>frankfurter crepe<br />occurrence: 1</h2><div><ol><li>We have a party of 5, we ordered 2 chicken crepe, frankfurter crepe, green tea and red bean crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5829">Next</a></li>
</ul>