<% provide :title, 'Opinion Target 9726' %><h2>yellow egg based noodles<br />occurrence: 1</h2><div><ol><li>My take, Look- the broth is salt flavoured soup, with a hint of soy .. a good neutral stock. the yellow egg based noodles are just slightly bigger than the wavy noodles ones has in an instant noodle package.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9727">Next</a></li>
</ul>