<% provide :title, 'Opinion Target 3965' %><h2>gyros lunch<br />occurrence: 1</h2><div><ol><li>7.99 gyros lunch, drink and side included ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3966">Next</a></li>
</ul>