<% provide :title, 'Opinion Target 5607' %><h2>table space<br />occurrence: 1</h2><div><ol><li>Another thing that bothered me about this place was the lack of table space! having two portable stoves with blazing heat blasting from them was not only a huge hazard in a small area, it was just uncomfortable!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5608">Next</a></li>
</ul>