<% provide :title, 'Opinion Target 6204' %><h2>shawarma dinners<br />occurrence: 1</h2><div><ol><li>Again we always get `` mixed'' shawarma dinners which will come with plenty of beef and chicken, which is tender and spiced just right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6203">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6205">Next</a></li>
</ul>