<% provide :title, 'Opinion Target 5534' %><h2>frittata<br />occurrence: 1</h2><div><ol><li>My friend had the frittata and was also tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5533">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5535">Next</a></li>
</ul>