<% provide :title, 'Opinion Target 8630' %><h2>shawarma chicken box<br />occurrence: 1</h2><div><ol><li>I had the shawarma chicken box with potato wedges ( 16.90 including tax) and did n't expect the portion size to be this generous- it can almost serve 2.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8629">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8631">Next</a></li>
</ul>