<% provide :title, 'Opinion Target 5724' %><h2>Persian breads<br />occurrence: 1</h2><div><ol><li>Where this supermarket lacks in ambiance, it makes up for in its variety of Persian breads, and food counter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5725">Next</a></li>
</ul>