<% provide :title, 'Opinion Target 3900' %><h2>fried plantain<br />occurrence: 1</h2><div><ol><li>No issues here though !!!:) Their fried plantain was delicious, succulent, perfectly cooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3901">Next</a></li>
</ul>