<% provide :title, 'Opinion Target 3405' %><h2>white kimchi<br />occurrence: 1</h2><div><ol><li>Their banchans have nice variety too and are unlimited, although I do n't care for their white kimchi, too sweet, not spicy -- but others are delicious ( about 7 total including sigeumchi namul, sukjunamul, kkaduki, oisobagi ( MMM), japchae, and pickled sweet korean pear.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3406">Next</a></li>
</ul>