<% provide :title, 'Opinion Target 5320' %><h2>chirashi salmon<br />occurrence: 1</h2><div><ol><li>The food quality is pretty consistent but specials are sometimes hit or miss. The favorite choices is a chirashi salmon, which is always a good portion and fairly priced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5321">Next</a></li>
</ul>