<% provide :title, 'Opinion Target 7906' %><h2>meal totals<br />occurrence: 1</h2><div><ol><li>Including tips and tax, the entire meal totals around $ 10 per person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7905">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7907">Next</a></li>
</ul>