<% provide :title, 'Opinion Target 7841' %><h2>sausage and beans<br />occurrence: 1</h2><div><ol><li>It was a fine choice, spicy but not too much, and the sausage and beans were good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7842">Next</a></li>
</ul>