<% provide :title, 'Opinion Target 1405' %><h2>beef kalbi appetizer<br />occurrence: 2</h2><div><ol><li>Try the beef kalbi appetizer ... amazing!</li><li>Try the Beef Kalbi appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1406">Next</a></li>
</ul>