<% provide :title, 'Opinion Target 611' %><h2>souvlaki dinner<br />occurrence: 6</h2><div><ol><li>Try anything pub grub ( fish n chips, philly cheese steak, etc), they make a point to have a solid daily special, and if you feel like really grubbing souvlaki dinner isnt bad at all.</li><li>Next time I 'll try the souvlaki dinner.</li><li>My favourites: Clubhouse sandwich, souvlaki dinner, breakfast.</li><li>My personal favourites are the turkey BLT, Pork Schnitzel, and souvlaki dinner.</li><li>The souvlaki dinner is the best in town.</li><li>They also have wings, fish and shrimp, ribs, and souvlaki dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_612">Next</a></li>
</ul>