<% provide :title, 'Opinion Target 6842' %><h2>steamed curry cuttlefish<br />occurrence: 1</h2><div><ol><li>The steamed curry cuttlefish and shrimp paste with squid were cooked perfectly and the squid was cut in big rectangles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6843">Next</a></li>
</ul>