<% provide :title, 'Opinion Target 6691' %><h2>chicken lentil soup<br />occurrence: 1</h2><div><ol><li>We ordered the Chicken Shawarma Laffa Wrap to share and chicken lentil soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6690">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6692">Next</a></li>
</ul>