<% provide :title, 'Opinion Target 4370' %><h2>chatime milk tea with bubbles<br />occurrence: 1</h2><div><ol><li>I ordered a large chatime milk tea with bubbles came out to around $ 5.31.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4371">Next</a></li>
</ul>