<% provide :title, 'Opinion Target 7008' %><h2>rice pilaf<br />occurrence: 1</h2><div><ol><li>It was topped with a fresh salsa, and accompanied by a salad, rice pilaf, refried beans and two homemade tortillas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7009">Next</a></li>
</ul>