<% provide :title, 'Opinion Target 8760' %><h2>filet mignon medium rare<br />occurrence: 1</h2><div><ol><li>For my entree, I ordered the filet mignon medium rare, and it was cooked to perfection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8761">Next</a></li>
</ul>