<% provide :title, 'Opinion Target 2601' %><h2>tomato-based sauce<br />occurrence: 1</h2><div><ol><li>The tomato-based sauce was perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2602">Next</a></li>
</ul>