<% provide :title, 'Opinion Target 1303' %><h2>miso<br />occurrence: 3</h2><div><ol><li>Cost is $ 28 and comes with a Dragon Roll, assorted Sashimi, fried rice, miso, salad, chicken teryiaki, and shrimp/veg tempura, and ice cream.</li><li>The miso is the tastiest I have ever had, and the rolls and sashimi is of very high quality.</li><li>The miso is a little too salty though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1302">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1304">Next</a></li>
</ul>