<% provide :title, 'Opinion Target 3675' %><h2>Caribbean fast food<br />occurrence: 1</h2><div><ol><li>This is classic Caribbean fast food and they are awesome, and if you get the chance, try them!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3676">Next</a></li>
</ul>