<% provide :title, 'Opinion Target 5789' %><h2>black seasme ice cream<br />occurrence: 1</h2><div><ol><li>My friend never had black seasme ice cream and he was very pleased with the entire dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5790">Next</a></li>
</ul>