<% provide :title, 'Opinion Target 1951' %><h2>roasted chicken<br />occurrence: 2</h2><div><ol><li>The roasted chicken was undercooked.</li><li>The roasted chicken was also not good and the chicken bucket had batter that tasted like onion ring batter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1952">Next</a></li>
</ul>