<% provide :title, 'Opinion Target 1866' %><h2>pecan pie<br />occurrence: 2</h2><div><ol><li>Finally, after we ordered dessert she came out a few minutes later to inform us that they did n't have the ice cream that the pecan pie should come with.</li><li>My friend had a slice of the pecan pie, which seemed a bit dense as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1865">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1867">Next</a></li>
</ul>