<% provide :title, 'Opinion Target 3862' %><h2>Buffalo chicken wrap with fries<br />occurrence: 1</h2><div><ol><li>I got the Buffalo chicken wrap with fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3863">Next</a></li>
</ul>