<% provide :title, 'Opinion Target 3027' %><h2>sashimi and sushi combo<br />occurrence: 1</h2><div><ol><li>The sashimi and sushi combo sets offer a wide selection of fresh fish and the presentation speaks for itself in these photos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3026">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3028">Next</a></li>
</ul>