<% provide :title, 'Opinion Target 2506' %><h2>bluefin tuna belly<br />occurrence: 1</h2><div><ol><li>I ordered the botan ebi ( BC shrimp), anago ( conger eel), saba ( blue mackarel), and the toro ( bluefin tuna belly).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2507">Next</a></li>
</ul>