<% provide :title, 'Opinion Target 4016' %><h2>muddy corn seafood chowder and mussels in tomato gin sauce<br />occurrence: 1</h2><div><ol><li>I had mediocre crab cakes, a muddy corn seafood chowder and mussels in tomato gin sauce ( kind of stinky).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4017">Next</a></li>
</ul>