<% provide :title, 'Opinion Target 3128' %><h2>green tea bingsoo<br />occurrence: 1</h2><div><ol><li>The green tea bingsoo blew my mind away.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3127">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3129">Next</a></li>
</ul>