<% provide :title, 'Opinion Target 1809' %><h2>rice cake bingsoo<br />occurrence: 2</h2><div><ol><li>As for food, I ordered the rice cake bingsoo and a white hot chocolate and my friend also ordered a sweet potato latte.</li><li>I was a bit iffy on the rice cake bingsoo but my friend wanted to try it so we ordered it and I was quite surprised.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1810">Next</a></li>
</ul>