<% provide :title, 'Opinion Target 9161' %><h2>fries daily special<br />occurrence: 1</h2><div><ol><li>I should say that the chicken wings, fries or no fries daily special is nothing to sniff at!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9162">Next</a></li>
</ul>