<% provide :title, 'Opinion Target 2726' %><h2>beef jerky<br />occurrence: 1</h2><div><ol><li>Fried Crispy Wonton: There was no wonton, just a small blob of something resembling beef jerky- hard and chewy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2727">Next</a></li>
</ul>