<% provide :title, 'Opinion Target 1960' %><h2>matcha flavour<br />occurrence: 2</h2><div><ol><li>The matcha flavour is also very strong in this and the red bean paste pairing is delicious.</li><li>Flavour wise, has the great matcha flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1959">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1961">Next</a></li>
</ul>