<% provide :title, 'Opinion Target 851' %><h2>Korean<br />occurrence: 5</h2><div><ol><li>Korean waitress was excited when I ordered the Cold Noodles ..</li><li>The Korean Grill House run by Chinese has better food.</li><li>If you 're in the mood for Korean I highly recommend this place.</li><li>First time getting authentic Korean, big fan.</li><li>But the loud Korean Justin Timberlake on TV ... not so much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_850">Previous</a></li>
  <li class="next"><a href=".\opinion_target_852">Next</a></li>
</ul>