<% provide :title, 'Opinion Target 5663' %><h2>plum sauce<br />occurrence: 1</h2><div><ol><li>Sauce was a bit sweet, so might have been plum sauce, do n't know.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5664">Next</a></li>
</ul>