<% provide :title, 'Opinion Target 1532' %><h2>sushi choices<br />occurrence: 3</h2><div><ol><li>This place was awesome over 8 years ago when there were n't many good sushi choices uptown but they have n't renovated or done anything different since then.</li><li>Sushi choices were n't many nor were they creative in any way.</li><li>I would make my way back especially if you 're in the area as there are n't many AYCE sushi choices around anyways.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1533">Next</a></li>
</ul>