<% provide :title, 'Opinion Target 6879' %><h2>chicken teriyaki sticks<br />occurrence: 1</h2><div><ol><li>You get tempura ( including shrimp), chicken teriyaki sticks ( 2) and steak with grilled vegetables and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6880">Next</a></li>
</ul>