<% provide :title, 'Opinion Target 7135' %><h2>cranberry pecan french toast<br />occurrence: 1</h2><div><ol><li>The cranberry pecan french toast was priced as a brunch entree but served as a small dessert item.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7136">Next</a></li>
</ul>