<% provide :title, 'Opinion Target 5655' %><h2>Penne Alla Vodka<br />occurrence: 1</h2><div><ol><li>Ended up with the Penne Alla Vodka, which was quite good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5656">Next</a></li>
</ul>