<% provide :title, 'Opinion Target 3284' %><h2>salmon & mussels with linguine pasta<br />occurrence: 1</h2><div><ol><li>The right amount of sweet and salty to get our appetite going;) Then I ordered the Pescatore Alla Marinara which had Shrimp, calamari, clams, salmon &amp; mussels with linguine pasta, all tossed in marinara sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3285">Next</a></li>
</ul>