<% provide :title, 'Opinion Target 1955' %><h2>Jamaican food<br />occurrence: 2</h2><div><ol><li>Gotta be the worst Jamaican food I 've ever tried.</li><li>I would definitely recommend this place to people who want cheap and good filling Jamaican food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1956">Next</a></li>
</ul>