<% provide :title, 'Opinion Target 5224' %><h2>congee bowl<br />occurrence: 1</h2><div><ol><li>I 'm speechless again .. both of the plate and congee bowl have multiple cracks on the side ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5225">Next</a></li>
</ul>