<% provide :title, 'Opinion Target 6317' %><h2>hostess desk<br />occurrence: 1</h2><div><ol><li>We arrived to an empty hostess desk and had to wait a few minutes to be seated.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6316">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6318">Next</a></li>
</ul>