<% provide :title, 'Opinion Target 7482' %><h2>aloo gobi<br />occurrence: 1</h2><div><ol><li>A wonderful meal, the daily special, took us through a wonderful plate of appetizers, a sizzling plate of prawns, butter chicken, aloo gobi, naan and rice, then dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7483">Next</a></li>
</ul>