<% provide :title, 'Opinion Target 5754' %><h2>menu lobster curry special<br />occurrence: 1</h2><div><ol><li>Ordered the off menu lobster curry special, which was an excellent and tasty dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5753">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5755">Next</a></li>
</ul>