<% provide :title, 'Opinion Target 4540' %><h2>ice cream flavors<br />occurrence: 1</h2><div><ol><li>The fried bananas with ice cream was served with tropical ice cream flavors- I recommend the coconut!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4541">Next</a></li>
</ul>