<% provide :title, 'Opinion Target 1687' %><h2>wine sauce<br />occurrence: 2</h2><div><ol><li>For the main course, I had Villetto alla Marsala ( veal scaloppine in a sweet marsala wine sauce) and this dish pushed a mute button on my chatty mouth for a full minute ( kinda made me nervous) as I chewed on the delectable juicy meat with this really mouthwatering sauce.</li><li>Being a deli, they serve other foods like salads, homemade dumplings, blinis, herring in cream or wine sauce and even schmaltz!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1688">Next</a></li>
</ul>