<% provide :title, 'Opinion Target 5524' %><h2>grilled onions<br />occurrence: 1</h2><div><ol><li>A fajita wrap filled with succulent chicken, spinach, goat cheese, and grilled onions makes for a one-of-a-kind dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5525">Next</a></li>
</ul>