<% provide :title, 'Opinion Target 5772' %><h2>sundaes<br />occurrence: 1</h2><div><ol><li>It is a small cafe that serves desserts like waffle, crepes, sundaes, cake and specialty coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5773">Next</a></li>
</ul>