<% provide :title, 'Opinion Target 675' %><h2>kabob<br />occurrence: 5</h2><div><ol><li>We tried the falafel appetizer, kabob ( mixture of beef and lamb), chicken tabaka ( also known as butterfly chicken), and the salmon dish.</li><li>The kabob is amazing!</li><li>I just do n't understand how the patrons are not all fat after all the bread, butter, rice, kabob, baklava and so forth.</li><li>The kabob was soft cooked well and juicy.</li><li>The kabob seems like it was reheated and the eggplant dip was not very hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_676">Next</a></li>
</ul>