<% provide :title, 'Opinion Target 2059' %><h2>chocolate milk<br />occurrence: 2</h2><div><ol><li>It tasted like chocolate milk given a shot of condensed milk.</li><li>I feel like sometimes these places charge you $ 5 for chocolate milk and they inflate it like crazy because they throw some tapioca in there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2060">Next</a></li>
</ul>