<% provide :title, 'Opinion Target 4608' %><h2>greeter<br />occurrence: 1</h2><div><ol><li>The greeter did tell us ahead of time and that regular menu selection was limited.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4609">Next</a></li>
</ul>