<% provide :title, 'Opinion Target 2184' %><h2>Shisha<br />occurrence: 1</h2><div><ol><li>Great Shisha, food ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2185">Next</a></li>
</ul>