<% provide :title, 'Opinion Target 1490' %><h2>hash brown<br />occurrence: 2</h2><div><ol><li>I ordered the breakfast combo ( who would have thought there would be so many questions ? what kind of meat, what kind of bun, do I want hash browns or a donut) Anyways, I finally ordered a sausage on a biscuit, and when it was brought to me ( in a bag) the lady made sure it was the sausage, however, left me standing there waiting for the hash brown she never told me was in the same bag.</li><li>I orderd mini steak, 2 eggs, toast, 1 hash brown, and a coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1491">Next</a></li>
</ul>