<% provide :title, 'Opinion Target 2923' %><h2>shaved chicken<br />occurrence: 1</h2><div><ol><li>I ordered their famous chicken shawarma plate, very very generous portion, included were chicken, rice, salad and sauces, like others said they dont skim on anything including the shaved chicken!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2924">Next</a></li>
</ul>