<% provide :title, 'Opinion Target 3144' %><h2>fried shrimp cake<br />occurrence: 1</h2><div><ol><li>I also ordered `` Banh Cuon Dac Biet'' ( #14), which is a combination of steamed rice flour rolls, fried shrimp cake, sausage and ham.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3145">Next</a></li>
</ul>