<% provide :title, 'Opinion Target 1112' %><h2>check<br />occurrence: 3</h2><div><ol><li>Service was very slow- the meal took two and half hours and our bus boy needed to yell at our server multiple times to get our check.</li><li>As we waiting for another lengthy period of time ( no server was even passing through the dining room this entire time) the sandwich was left there with two single bites taken out of it, with no questions as to how it was and why we did n't eat it, she quickly scurried away to get the check.</li><li>It took a while for me to get my check, again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1111">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1113">Next</a></li>
</ul>