<% provide :title, 'Opinion Target 1354' %><h2>paninis<br />occurrence: 2</h2><div><ol><li>I would n't get Ham and Brie or Cajun Chicken again because both paninis were pretty bad.</li><li>I 've tried their paninis and pasta salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1355">Next</a></li>
</ul>