<% provide :title, 'Opinion Target 6638' %><h2>pork and chicken<br />occurrence: 1</h2><div><ol><li>The pork and chicken were good but were cut a bit thicker than normal which made cooking times so long.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6637">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6639">Next</a></li>
</ul>