<% provide :title, 'Opinion Target 1849' %><h2>lobster tails<br />occurrence: 2</h2><div><ol><li>We also both had the lobster tails which were equally amazing.</li><li>I could have eaten twenty of those delicious lobster tails.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1850">Next</a></li>
</ul>