<% provide :title, 'Opinion Target 7537' %><h2>crêpe<br />occurrence: 1</h2><div><ol><li>Great crêpe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7536">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7538">Next</a></li>
</ul>