<% provide :title, 'Opinion Target 4132' %><h2>Tiger Roll<br />occurrence: 1</h2><div><ol><li>The selection was awesome- we opted for 2 maki and temaki sets ( A &amp; C), and the Tiger Roll ( Tuna, Avocado, Cream Cheese, wrapped in Salmon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4133">Next</a></li>
</ul>