<% provide :title, 'Opinion Target 3129' %><h2>Tofu Bento Box<br />occurrence: 1</h2><div><ol><li>For $ 9.95 I got the Tofu Bento Box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3128">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3130">Next</a></li>
</ul>