<% provide :title, 'Opinion Target 5896' %><h2>interior space<br />occurrence: 1</h2><div><ol><li>The interior space of the cafe is small, with a casual yet classy ambience and maintained in cleanliness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5897">Next</a></li>
</ul>