<% provide :title, 'Opinion Target 3450' %><h2>bahari kabob<br />occurrence: 1</h2><div><ol><li>The bahari kabob did not have authentic seasoning of papaya.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3451">Next</a></li>
</ul>