<% provide :title, 'Opinion Target 8818' %><h2>marinated duck gizzards<br />occurrence: 1</h2><div><ol><li>For instance, if you like duck tongues ( mother dearest does) a plate comes with marinated duck gizzards too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8819">Next</a></li>
</ul>