<% provide :title, 'Opinion Target 3261' %><h2>veggie penne<br />occurrence: 1</h2><div><ol><li>The veggie penne was excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3260">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3262">Next</a></li>
</ul>