<% provide :title, 'Opinion Target 1704' %><h2>chicken tacos<br />occurrence: 2</h2><div><ol><li>I had the fish tacos and she had chicken tacos.</li><li>The chicken tacos were great as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1705">Next</a></li>
</ul>