<% provide :title, 'Opinion Target 2059' %><h2>Laffa wraps<br />occurrence: 2</h2><div><ol><li>The Laffa wraps are absolutely massive.</li><li>The laffa wraps are my favourite, the only bad thing is that they do n't put baba ganoush in laffas unlike other mevame locations I have heard many great things about this restaurant, so we decided to try it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2060">Next</a></li>
</ul>