<% provide :title, 'Opinion Target 1853' %><h2>bisque<br />occurrence: 2</h2><div><ol><li>But when the bread is weak, bisque is light and lobster sucks.</li><li>I also got to taste the bisque, which was not very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1854">Next</a></li>
</ul>