<% provide :title, 'Opinion Target 1193' %><h2>glass of water<br />occurrence: 3</h2><div><ol><li>The glass of water arrived, I took a sip and was unpleasantly surprised by the tepid water that was served in the plastic looking cup.</li><li>They sat us at a table for more than 15 minutes without one single staff seemed to care about us to even offer us a glass of water!</li><li>Never had any luck getting a glass of water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1192">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1194">Next</a></li>
</ul>