<% provide :title, 'Opinion Target 5609' %><h2>beer + dish combo<br />occurrence: 1</h2><div><ol><li>If you like beer they have beer + dish combo 's which are very cheap ( off the top of my head i think it 's ~ $ 25 for a large plate of kanpunggi and 5 domestic beers).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5610">Next</a></li>
</ul>