<% provide :title, 'Opinion Target 4228' %><h2>chirashi dishes<br />occurrence: 1</h2><div><ol><li>I usually get a couple orders of sushi and one of the chirashi dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4229">Next</a></li>
</ul>