<% provide :title, 'Opinion Target 3078' %><h2>corn flakes<br />occurrence: 1</h2><div><ol><li>The shaved ice had tons of toppings such as corn flakes, strawberries, bananas, tapioca, and beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3077">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3079">Next</a></li>
</ul>