<% provide :title, 'Opinion Target 1031' %><h2>sp<br />occurrence: 4</h2><div><ol><li>It may become our new middle-eastern place since Anouch ( sp) closers way too early.</li><li>Try the beef steak, sinigang, pusit, fried shrimp, pancit, lechon kawali, or the pinakbet ( sp ?).</li><li>Seafood noodle soup ( jam pong, sp ?) is not as good as the one from Kachi ( which I consider to be the gold standard).</li><li>When I read Cucumber Salad, I was hoping for Cachumber ( sp ?) salad, but it was still awesome anyways.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1032">Next</a></li>
</ul>