<% provide :title, 'Opinion Target 2035' %><h2>tteokbokki<br />occurrence: 2</h2><div><ol><li>My Korean friend said this place is known from its pork bone soup, but I can say that the bibimbap and tteokbokki were sooooo good.</li><li>I ordered off menu ( I feel like John Hamm in 30 Rock) the tteokbokki ( aka ddeokbokki, dukboki, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2034">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2036">Next</a></li>
</ul>