<% provide :title, 'Opinion Target 6609' %><h2>yellow chicken shack<br />occurrence: 1</h2><div><ol><li>Driving to work each morning, I pass through Willowdale Ave and I always notice this yellow chicken shack.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6610">Next</a></li>
</ul>