<% provide :title, 'Opinion Target 5191' %><h2>Rolls Royce of bubble teas<br />occurrence: 1</h2><div><ol><li>Only complaint is my coat was soaked with the frying smell after I got home. got the taro slush and milk custard toast and crispy chicken. both were really delicious, and the service and atmosphere here was nice. it was a little chilly though, not sure if it was just because today was super cold or if it was the tea shop. their menus are also adorable:) it was a great place and id definitely come back The Rolls Royce of bubble teas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5192">Next</a></li>
</ul>