<% provide :title, 'Opinion Target 1724' %><h2>breakfasts<br />occurrence: 2</h2><div><ol><li>We found this place by using Yelp and were pleasantly surprised my husband and I ordered the special and the order was done perfectly coffee was great except we had to ask waitress 4 times for creamers thankfully person at next table obliged finally got creams from waitress with our check, we will go back again probably one of the best breakfasts ever.</li><li>Always a great option if you do n't mind tasty diner breakfasts ( I 've heard the burgers are good too).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1725">Next</a></li>
</ul>