<% provide :title, 'Opinion Target 7547' %><h2>turkey bacon subs<br />occurrence: 1</h2><div><ol><li>I have eaten so many of your turkey bacon subs over the years.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7548">Next</a></li>
</ul>