<% provide :title, 'Opinion Target 4600' %><h2>mango salad & chicken skewers<br />occurrence: 1</h2><div><ol><li>Finally after another a long wait, ordered mango salad &amp; chicken skewers, chicken pineapple fried rice, seafood fried rice &amp; pai Thai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4599">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4601">Next</a></li>
</ul>