<% provide :title, 'Opinion Target 7196' %><h2>mackeral<br />occurrence: 1</h2><div><ol><li>The mackeral looked really black and charred.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7197">Next</a></li>
</ul>