<% provide :title, 'Opinion Target 880' %><h2>Menu prices<br />occurrence: 4</h2><div><ol><li>Menu prices look high but you get a pile of food.</li><li>And without the snobby menu prices Go here!</li><li>The price of the dishes have n't changed in over a year so I guess by removing some of the frills, they were able to prevent raising the menu prices.</li><li>The menu prices have soared and you have to pay extra for every little thing ' a la carte' now.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_881">Next</a></li>
</ul>