<% provide :title, 'Opinion Target 3167' %><h2>hot bread<br />occurrence: 1</h2><div><ol><li>It was very warm in the dinning room. hot bread was served before real food, very soft inside and crusty outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3168">Next</a></li>
</ul>