<% provide :title, 'Opinion Target 888' %><h2>curry goat<br />occurrence: 4</h2><div><ol><li>Update: patties still good, curry goat disappointing ( fatty pieces of meat) but the OXTAIL WAS SUPERB!</li><li>A good friend of my mine was hyping up this place for their curry goat.</li><li>`` My friend says they make the best curry goat.''</li><li>They have your home made style Oxtail ( makes you wanna suck the bones) and the Curry goat will have you talking for days.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_889">Next</a></li>
</ul>