<% provide :title, 'Opinion Target 2791' %><h2>breakfast buffet<br />occurrence: 1</h2><div><ol><li>I had high hopes for this place when my friend kept ranting and raving about how amazing their breakfast buffet is.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2792">Next</a></li>
</ul>