<% provide :title, 'Opinion Target 7312' %><h2>Deep Fried Fish Skin<br />occurrence: 1</h2><div><ol><li>The speciality is Chiu Chow Cuisine, so things like a cold platter ( comes with Jelly Fish, Marinated Duck, etc), Deep Fried Fish Skin, Oyster Cake are what Chiu Chow Cuisine is all about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7313">Next</a></li>
</ul>