<% provide :title, 'Opinion Target 5554' %><h2>remaining sauce Veal mushroom<br />occurrence: 1</h2><div><ol><li>We tried the following: Chicken carbonara- tasty and creamy and good sized portion Escargot in herb n tomato sauce- really good, multile pieces of escargot with bread for dipping the remaining sauce Veal mushroom- tasty as well Shirley Temple- refreshing drink Service was also friendly and efficient and prices were reasonable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5553">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5555">Next</a></li>
</ul>