<% provide :title, 'Opinion Target 8693' %><h2>caesar poutine<br />occurrence: 1</h2><div><ol><li>I tried the caesar poutine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8694">Next</a></li>
</ul>