<% provide :title, 'Opinion Target 6992' %><h2>eggs benidict<br />occurrence: 1</h2><div><ol><li>My daughter is very picky with her food and she was happy with her eggs benidict.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6993">Next</a></li>
</ul>