<% provide :title, 'Opinion Target 1283' %><h2>tea refills<br />occurrence: 3</h2><div><ol><li>Definitely enjoyed my experience the second time around and the service was slightly better, except for the lack of tea refills !!</li><li>Their tea refills are quick and they come by once in a while to see if there is anything I need.</li><li>Timely tea refills.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1282">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1284">Next</a></li>
</ul>