<% provide :title, 'Opinion Target 3712' %><h2>veggies with fried egg<br />occurrence: 1</h2><div><ol><li>It 's made with basmati and veggies with fried egg and it 's just right, not runny or greasy or soggy or nauseatingly submerged in soy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3713">Next</a></li>
</ul>