<% provide :title, 'Opinion Target 821' %><h2>kebab<br />occurrence: 4</h2><div><ol><li>I really liked the Adana and Shish kebab was ok.</li><li>Behari kebab tasted awful and butter chicken was n't anything special.</li><li>The kebab, thankfully, was delicious: juicy, tender and flavorful.</li><li>Bad experience, bad food ... not to mention the fact that what looked like a half eaten kebab made it into my take-out container .... after what happened with the cup I would n't be surprised to know that someone dropped it and snuck it into the wrong container.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_822">Next</a></li>
</ul>