<% provide :title, 'Opinion Target 5177' %><h2>Sweet Eggplant<br />occurrence: 1</h2><div><ol><li>5) Sweet Eggplant- Amazing, one of the better eggplant dishes I tried and not oily like most.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5178">Next</a></li>
</ul>