<% provide :title, 'Opinion Target 5235' %><h2>breast<br />occurrence: 1</h2><div><ol><li>Often times the breast would be on the dense and dry side, but not this time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5236">Next</a></li>
</ul>