<% provide :title, 'Opinion Target 2938' %><h2>lobster avocado salad<br />occurrence: 1</h2><div><ol><li>Their lobster avocado salad ( DS A9) was good in concept but just poorly executed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2939">Next</a></li>
</ul>