<% provide :title, 'Opinion Target 4282' %><h2>Canadian<br />occurrence: 1</h2><div><ol><li>Great Cheap `` Canadian'' Chinese Food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4281">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4283">Next</a></li>
</ul>