<% provide :title, 'Opinion Target 9062' %><h2>table-top cooking<br />occurrence: 1</h2><div><ol><li>Final thoughts: I 'd like to come back with a few others some time to try the table-top cooking, which was seen all around us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9063">Next</a></li>
</ul>