<% provide :title, 'Opinion Target 1198' %><h2>General Tao<br />occurrence: 3</h2><div><ol><li>The General Tao was one of the worst I 've ever had.</li><li>The General Tao was way too sweet and not enough spice and was just chicken and rice, no vegetables.</li><li>The General Tao was mighty tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1199">Next</a></li>
</ul>