<% provide :title, 'Opinion Target 3839' %><h2>melted chocolate icecream<br />occurrence: 1</h2><div><ol><li>The melted chocolate icecream and the milk shaved ice mixed well together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3840">Next</a></li>
</ul>