<% provide :title, 'Opinion Target 2170' %><h2>Pastel<br />occurrence: 1</h2><div><ol><li>Try the Pastel De Choclo, Its like Sheppards Pie type of thing but with mashed corn instead of mashed potatoes, very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2171">Next</a></li>
</ul>