<% provide :title, 'Opinion Target 664' %><h2>laffa<br />occurrence: 7</h2><div><ol><li>The laffa they make in house is so fresh and a nice treat.</li><li>Anyways the free Laffa are pretty bad considering they are made fresh, thin and over cooked and hard.</li><li>The laffa ( flat pita) is cooked right in front of you in a stone oven fresh to order and it alone is unbelievable.</li><li>Lamb burger stick laffa sounds complicated.</li><li>We ordered an extra laffa ( $ 2).</li><li>It is to say that more laffa would be highly appreciated.</li><li>Lots and lots and lots more laffa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_665">Next</a></li>
</ul>