<% provide :title, 'Opinion Target 6561' %><h2>fungus<br />occurrence: 1</h2><div><ol><li>Mixed fungus and fried gluten in hot pot: At $ 13.99, this is a tad pricey, but it too was surprisingly good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6562">Next</a></li>
</ul>