<% provide :title, 'Opinion Target 5871' %><h2>wifi<br />occurrence: 1</h2><div><ol><li>Free wifi is a bonus.Highly recommend this place ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5872">Next</a></li>
</ul>