<% provide :title, 'Opinion Target 2356' %><h2>rice or noodles<br />occurrence: 1</h2><div><ol><li>Their 3 item combo with rice or noodles is certainly affordable and will keep you full.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2357">Next</a></li>
</ul>