<% provide :title, 'Opinion Target 4230' %><h2>green leaf salad<br />occurrence: 1</h2><div><ol><li>Would rather have had a green leaf salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4231">Next</a></li>
</ul>