<% provide :title, 'Opinion Target 951' %><h2>egg rolls<br />occurrence: 4</h2><div><ol><li>The spring rolls and egg rolls are both fine, but I find such items basically the same from one place to the next.</li><li>Ordered general Tao chicken, chicken fried rice and egg rolls.</li><li>The egg rolls a perfect loyal companion.</li><li>It 's an AYCE place for the Mongolian grill and they have a separate aisle that serves up your typical your Americanized Chinese food like your sweet so-wa pok and broccoli beef, egg rolls, and whatever you think of.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_952">Next</a></li>
</ul>