<% provide :title, 'Opinion Target 3520' %><h2>avocado yam<br />occurrence: 1</h2><div><ol><li>I also had the avocado yam ( tempura) roll which was very good, if a bit haphazardly assembled.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3521">Next</a></li>
</ul>