<% provide :title, 'Opinion Target 6516' %><h2>sauteed snow pea shoots with garlic<br />occurrence: 1</h2><div><ol><li>The sauteed snow pea shoots with garlic are a very good vegetable dish as is the sauteed green beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6517">Next</a></li>
</ul>