<% provide :title, 'Opinion Target 2033' %><h2>hot chilli oil<br />occurrence: 2</h2><div><ol><li>Their hot chilli oil is something you definitely need to add to your meal to give it a little extra kick.</li><li>As we wanted it spicy he offered us chili flakes and hot chilli oil. I would recommend this place to my family and friends, and definitely visit again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2032">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2034">Next</a></li>
</ul>