<% provide :title, 'Opinion Target 3669' %><h2>seafood fried chow mein noodle<br />occurrence: 1</h2><div><ol><li>As for the food, we had seafood fried chow mein noodle, mixed mushrooms fried ho-fan noodle, fish congee ( forgot which kind), and mushrooms mixed with pickle ( yes I know, lots of mushrooms).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3670">Next</a></li>
</ul>