<% provide :title, 'Opinion Target 8766' %><h2>blueberry glaze<br />occurrence: 1</h2><div><ol><li>However, the blueberry glaze was overly saccharine and as much as I love sugar, like, no. My mom 's entree was great though, and it was around $ 20.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8767">Next</a></li>
</ul>