<% provide :title, 'Opinion Target 2097' %><h2>Cantonese food<br />occurrence: 2</h2><div><ol><li>Just your average run of the mill Congee restaurant Congee Wong is your standard Congee restaurant serving up some nice Cantonese food.</li><li>And in terms of taste, no HK Cantonese will tell you this is the best, most delicious Cantonese food they 've ever eaten in Toronto- it 's simply not true .... but combine all three aspects and there are n't many restaurants that can compete with Congee Wong ... well, yes, Congee Queen, and Congee Time would be exceptions as they follow the same formula.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2098">Next</a></li>
</ul>