<% provide :title, 'Opinion Target 1776' %><h2>cream puffs<br />occurrence: 2</h2><div><ol><li>No idea what they are called but there 's some that resemble a wheel and the others look like cream puffs.</li><li>Annoyingly the cream puffs were freezer burned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1777">Next</a></li>
</ul>