<% provide :title, 'Opinion Target 1409' %><h2>strawberry milk tea<br />occurrence: 3</h2><div><ol><li>Grass jelly roasted milk tea was good, but unfortunately taro and strawberry milk tea were not good at all.</li><li>I ca n't wait to try their other milk teas and smoothies though:) Other than that, I liked the strawberry milk tea ... but I would probably ask for no sugar next time ... is that possible ? lol.</li><li>We always get less ice and find that 50% sugar is plenty sweet enough, and in some cases ( strawberry milk tea) still too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1410">Next</a></li>
</ul>