<% provide :title, 'Opinion Target 3440' %><h2>salad with the sesame dressing<br />occurrence: 1</h2><div><ol><li>I enjoyed the salad with the sesame dressing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3439">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3441">Next</a></li>
</ul>