<% provide :title, 'Opinion Target 1368' %><h2>chicken heart skewers<br />occurrence: 3</h2><div><ol><li>They have really unique options like bitter melon, chicken heart skewers, and for sashimi, they have scallops which is awesome!</li><li>The chicken heart skewers are damn good, and the sashimi ai n't too shabby either.</li><li>The chicken heart skewers are only 3 half-hearts on a stick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1369">Next</a></li>
</ul>