<% provide :title, 'Opinion Target 2096' %><h2>stir steamed veggies<br />occurrence: 2</h2><div><ol><li>If you 're like me and love stir steamed veggies ( like stir fry but without the oil).</li><li>You can choose your veggies, your meat and your sauce and voila you have what I call stir steamed veggies within under 2 minutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2097">Next</a></li>
</ul>