<% provide :title, 'Opinion Target 4011' %><h2>pizza delivery<br />occurrence: 1</h2><div><ol><li>Was hungry for pizza, looked up pizza delivery on yelp, read the reviews, and so I looked online for menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4012">Next</a></li>
</ul>