<% provide :title, 'Opinion Target 5597' %><h2>pajeon<br />occurrence: 1</h2><div><ol><li>The haemul ( seafood) pajeon was uncooked in the middle, with little unpleasant pockets of batter around the seafood pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5596">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5598">Next</a></li>
</ul>