<% provide :title, 'Opinion Target 999' %><h2>quantities<br />occurrence: 3</h2><div><ol><li>On the upside, the quantities are huge and the prices are very reasonable.</li><li>Good quality food, good prices and great quantities.</li><li>It 's nice, quiet, good food, large quantities and reasonably priced!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1000">Next</a></li>
</ul>