<% provide :title, 'Opinion Target 3220' %><h2>menu with bubble tea<br />occurrence: 1</h2><div><ol><li>They also have a great drink menu with bubble tea ( $ 4)!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3221">Next</a></li>
</ul>