<% provide :title, 'Opinion Target 9266' %><h2>plate appetizer platter<br />occurrence: 1</h2><div><ol><li>Cold plate appetizer platter for two is better shared by four.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9267">Next</a></li>
</ul>