<% provide :title, 'Opinion Target 819' %><h2>grilled veggies<br />occurrence: 4</h2><div><ol><li>The chicken kabob and chicken doner both were so tender and they came with rice and grilled veggies.</li><li>I ordered the spicy veal sandwich with cheese and grilled veggies.</li><li>Note to anyone who gets the Grilled veggies as a side or in the wrap.</li><li>We ordered a Chateaubriand Bouquetiere ( for 2) which is basically a giant beef tenderloin served with lots of grilled veggies, potatoes and Bearnaise sauce on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_820">Next</a></li>
</ul>