<% provide :title, 'Opinion Target 5580' %><h2>vegetarian pasta options<br />occurrence: 1</h2><div><ol><li>They have 3 vegetarian dishes ( 2 eggplant and one risotto) and many vegetarian pasta options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5579">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5581">Next</a></li>
</ul>