<% provide :title, 'Opinion Target 6410' %><h2>iced coffee<br />occurrence: 1</h2><div><ol><li>Their broths are so good, I always make sure I have room to drink it all ... oh and their iced coffee is the best I 've ever tasted in Toronto!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6411">Next</a></li>
</ul>