<% provide :title, 'Opinion Target 1732' %><h2>paneer<br />occurrence: 2</h2><div><ol><li>Aside from the panak paneer ( spinach and cottage cheese dish) which lacked a little flavor, everything was delicious!</li><li>Ordered the butter chicken, saag mutton, paalak paneer, shrimp tandoori, naan and vegetable pakora.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1733">Next</a></li>
</ul>