<% provide :title, 'Opinion Target 8275' %><h2>take-out food<br />occurrence: 1</h2><div><ol><li>I do enjoy my meals from here, but I know what I 'm in for, and that is greasy, calorie-laden, typical take-out food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8274">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8276">Next</a></li>
</ul>