<% provide :title, 'Opinion Target 7417' %><h2>crepe dessert<br />occurrence: 1</h2><div><ol><li>I am going to warn my friends NOT to go here cuz honestly, their customer service was unprofessional and their food was not measurable to a delicious crepe dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7416">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7418">Next</a></li>
</ul>