<% provide :title, 'Opinion Target 8286' %><h2>deep fried cheesecake<br />occurrence: 1</h2><div><ol><li>Order up: beef tacos, 3lbs of half jerk and mild wings, nachos, burger, 4 YES 4 large orders of Cesar salad ( insert ironic applause here), deep fried cheesecake, calamari, beer for the hubby and I and plenty of iced tea for the mini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8287">Next</a></li>
</ul>