<% provide :title, 'Opinion Target 7494' %><h2>Italian omelette<br />occurrence: 1</h2><div><ol><li>The Italian omelette was so tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7495">Next</a></li>
</ul>