<% provide :title, 'Opinion Target 3408' %><h2>katsudon<br />occurrence: 1</h2><div><ol><li>The experience was almost perfect, but the fried pork in my katsudon was not crispy at all and was a little soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3409">Next</a></li>
</ul>