<% provide :title, 'Opinion Target 8691' %><h2>poutine container<br />occurrence: 1</h2><div><ol><li>Thankfully the burger stayed wrapped and the poutine container stayed closed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8690">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8692">Next</a></li>
</ul>