<% provide :title, 'Opinion Target 6266' %><h2>teppan table<br />occurrence: 1</h2><div><ol><li>The teppan table experience tonight was nothing more than watching him cook our fish and some veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6267">Next</a></li>
</ul>