<% provide :title, 'Opinion Target 6123' %><h2>cumin duck<br />occurrence: 1</h2><div><ol><li>The lamb skewers, lamb chops, cumin duck are some of my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6122">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6124">Next</a></li>
</ul>