<% provide :title, 'Opinion Target 4198' %><h2>chicken steak with mango bacon sauce with spaghetti<br />occurrence: 1</h2><div><ol><li>I had the chicken steak with mango bacon sauce with spaghetti finished with a cold cup of hk style milk tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4199">Next</a></li>
</ul>