<% provide :title, 'Opinion Target 4325' %><h2>eggplant side<br />occurrence: 1</h2><div><ol><li>My favorite side is the kashk bademjan ... an amazinggg eggplant side ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4326">Next</a></li>
</ul>