<% provide :title, 'Opinion Target 4735' %><h2>butcher<br />occurrence: 1</h2><div><ol><li>The butcher will actually remove the skin that he does n't deem good, and cut up some fresh crispy skin for you!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4736">Next</a></li>
</ul>