<% provide :title, 'Opinion Target 9721' %><h2>garlic pork ramen option<br />occurrence: 1</h2><div><ol><li>Definitely try the spicy garlic pork ramen option!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9722">Next</a></li>
</ul>