<% provide :title, 'Opinion Target 2722' %><h2>salad bar offerings<br />occurrence: 1</h2><div><ol><li>There 's nothing terribly wrong with the salad bar offerings here- except that most people could make better things at home very easily for way less money.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2723">Next</a></li>
</ul>