<% provide :title, 'Opinion Target 2639' %><h2>tea and kimchi<br />occurrence: 1</h2><div><ol><li>There 's also the standard tea and kimchi before the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2640">Next</a></li>
</ul>