<% provide :title, 'Opinion Target 2979' %><h2>bacon crumbled<br />occurrence: 1</h2><div><ol><li>The bacon crumbled when I poked it ( McDonalds has better bacon, seriously guys ...) and the cheese was falling all over the place and not not particularly good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2980">Next</a></li>
</ul>