<% provide :title, 'Opinion Target 9734' %><h2>bun options<br />occurrence: 1</h2><div><ol><li>The bun options are white or wheat, but I went for the white.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9735">Next</a></li>
</ul>