<% provide :title, 'Opinion Target 4832' %><h2>shrimp tempura roll and mango pudding<br />occurrence: 1</h2><div><ol><li>We really liked the short ribs and I was the least impressed with the shrimp tempura roll and mango pudding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4831">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4833">Next</a></li>
</ul>