<% provide :title, 'Opinion Target 7646' %><h2>pasta with cheese<br />occurrence: 1</h2><div><ol><li>I think it was around 15 $ for a pile of pasta with cheese, tomato sauce, somewhat non existent chicken and 2 slices of garlic bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7647">Next</a></li>
</ul>