<% provide :title, 'Opinion Target 6986' %><h2>Shanghai noodles with crunchy vegetables<br />occurrence: 1</h2><div><ol><li>Some of my family members came here for dinner last night and I had a craving for meat dumplings and Shanghai noodles with crunchy vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6987">Next</a></li>
</ul>