<% provide :title, 'Opinion Target 5831' %><h2>papaya ice cream because<br />occurrence: 1</h2><div><ol><li>For dessert I had papaya ice cream because I was so full, and my girlfriend had the sweet mango sticky rice which was actually two small bits and not heavy looking at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5832">Next</a></li>
</ul>