<% provide :title, 'Opinion Target 6504' %><h2>salt pepper squid<br />occurrence: 1</h2><div><ol><li>First base/forplay consisted of the salt pepper squid ( which is a kickass Chinese version of calamari) a perfect combo of airy crisp deep fried batter and chewy squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6503">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6505">Next</a></li>
</ul>