<% provide :title, 'Opinion Target 7169' %><h2>bone-in ribeye steak<br />occurrence: 1</h2><div><ol><li>My friend had the bone-in ribeye steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7170">Next</a></li>
</ul>