<% provide :title, 'Opinion Target 5105' %><h2>rice/noodle dishes<br />occurrence: 1</h2><div><ol><li>Quick service with prices ranging from $ 6 + congee medium-sized bowls to $ 11 + rice/noodle dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5106">Next</a></li>
</ul>