<% provide :title, 'Opinion Target 9022' %><h2>fried tacos<br />occurrence: 1</h2><div><ol><li>The tacos are very tasty- 4 small, rolled, fried tacos, similar to taquitos or flautas, covered in sauce, served with that same coleslaw ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9023">Next</a></li>
</ul>