<% provide :title, 'Opinion Target 6759' %><h2>mango garden salad<br />occurrence: 1</h2><div><ol><li>We ordered soup and mango garden salad as starters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6758">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6760">Next</a></li>
</ul>