<% provide :title, 'Opinion Target 5246' %><h2>pork dish<br />occurrence: 1</h2><div><ol><li>I don`t know what they used to cook the pork dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5247">Next</a></li>
</ul>