<% provide :title, 'Opinion Target 8129' %><h2>dinner reservations<br />occurrence: 1</h2><div><ol><li>Another decision factor in selecting a restaurant was that we were organizing our plans rather last minute and did not have any dinner reservations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8128">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8130">Next</a></li>
</ul>