<% provide :title, 'Opinion Target 9696' %><h2>pancakes eggs bacon and sausage<br />occurrence: 1</h2><div><ol><li>The second time I came I got the meal w pancakes eggs bacon and sausage ( I forget the menu name) and it was great but I had to take half of it home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9697">Next</a></li>
</ul>