<% provide :title, 'Opinion Target 5252' %><h2>chicken dish with cheese<br />occurrence: 1</h2><div><ol><li>My friends told me their chicken dish with cheese is amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5253">Next</a></li>
</ul>