<% provide :title, 'Opinion Target 5938' %><h2>cha gio<br />occurrence: 1</h2><div><ol><li>The cha gio was so over fried it turned white and it had so much taro as filler- that 's literally what we tasted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5939">Next</a></li>
</ul>