<% provide :title, 'Opinion Target 5647' %><h2>beef green curry<br />occurrence: 1</h2><div><ol><li>Although it Looks like a dirty little hole from the outside, it 's clean and nice on the outside, and their flavors are to die for ... beef green curry is my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5648">Next</a></li>
</ul>