<% provide :title, 'Opinion Target 4862' %><h2>flounder<br />occurrence: 1</h2><div><ol><li>Good: sizzling flounder, rock shrimp Okay: fried rice Bad: Any of the ramen dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4863">Next</a></li>
</ul>