<% provide :title, 'Opinion Target 5977' %><h2>quinoa salad with a spinach wrap<br />occurrence: 1</h2><div><ol><li>I got a quinoa salad with a spinach wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5978">Next</a></li>
</ul>