<% provide :title, 'Opinion Target 4550' %><h2>spear ones<br />occurrence: 1</h2><div><ol><li>YUM What was questionable:- pickles should be nice spear ones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4551">Next</a></li>
</ul>