<% provide :title, 'Opinion Target 727' %><h2>green tea latte<br />occurrence: 6</h2><div><ol><li>It 's maybe one step up from a green tea latte from Starbucks, and that 's not saying much.</li><li>I ordered a green tea frappicino well shaken and a green tea latte.</li><li>I had a green tea latte and friend got amaretto mochaccino.</li><li>Drink wise, I 've had their white chocolate mocha and their green tea latte, both were pretty good.</li><li>Try green tea latte there, you wo n't be disappointed.</li><li>I ordered their green tea latte which was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_728">Next</a></li>
</ul>