<% provide :title, 'Opinion Target 8021' %><h2>bibambap<br />occurrence: 1</h2><div><ol><li>I 've only heard of a few dishes on it, but decided to try the dumping soon tofu soup, and my friend got the bibambap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8020">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8022">Next</a></li>
</ul>