<% provide :title, 'Opinion Target 6998' %><h2>egg roll pancakes<br />occurrence: 1</h2><div><ol><li>Not enough egg roll pancakes served with the duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6997">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6999">Next</a></li>
</ul>