<% provide :title, 'Opinion Target 8364' %><h2>green onion pancakes<br />occurrence: 1</h2><div><ol><li>We came for lunch and ordered a variety of dishes including: green onion pancakes- thin, crispy, delicious Chive pockets- thin, crispy dough as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8365">Next</a></li>
</ul>