<% provide :title, 'Opinion Target 3962' %><h2>homemade burger<br />occurrence: 1</h2><div><ol><li>His homemade burger is made with a special recipe and also tastes great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3963">Next</a></li>
</ul>