<% provide :title, 'Opinion Target 7236' %><h2>profiteroles<br />occurrence: 1</h2><div><ol><li>The buffet has 3 rows including your typical Chinese buffet stuff ( dim sum, general tao chicken, etc.), a cold bar ( including smoked salmon, seaweed salad, shrimp) and desserts ( ice cream, flan, profiteroles, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7235">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7237">Next</a></li>
</ul>