<% provide :title, 'Opinion Target 6095' %><h2>Lamb ribs<br />occurrence: 1</h2><div><ol><li>Lamb ribs coated with sesame and pan fried, interesting ... and delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6096">Next</a></li>
</ul>