<% provide :title, 'Opinion Target 2566' %><h2>tataki roll<br />occurrence: 1</h2><div><ol><li>We ordered the calamari, tataki roll, beautiful roll and a miso soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2565">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2567">Next</a></li>
</ul>