<% provide :title, 'Opinion Target 2906' %><h2>rice mountain<br />occurrence: 1</h2><div><ol><li>Cause the rice mountain they used on the thininst of salmon slices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2905">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2907">Next</a></li>
</ul>