<% provide :title, 'Opinion Target 5992' %><h2>tomato bisque soup<br />occurrence: 1</h2><div><ol><li>I love the tomato bisque soup!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5993">Next</a></li>
</ul>