<% provide :title, 'Opinion Target 8293' %><h2>duck pancakes<br />occurrence: 1</h2><div><ol><li>The greens were slightly on the oily side, but that just meant more room for duck pancakes!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8294">Next</a></li>
</ul>