<% provide :title, 'Opinion Target 8069' %><h2>fish filling<br />occurrence: 1</h2><div><ol><li>An extra thumbs up for the fish filling, which is a deep-fried battered fillet ( which nicely but deliciously negates any healthy claims).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8070">Next</a></li>
</ul>