<% provide :title, 'Opinion Target 5602' %><h2>bottle<br />occurrence: 1</h2><div><ol><li>The bottle was sticky!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5603">Next</a></li>
</ul>