<% provide :title, 'Opinion Target 6964' %><h2>breakfast meat & fruit<br />occurrence: 1</h2><div><ol><li>I 've only eaten in at Pickle Barrel twice, once for their early bird breakfast ( 9-10:30am special, $ 4.99 generous ( at least I think so) continental breakfast with toast, eggs, breakfast meat &amp; fruit) and recently for brunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6963">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6965">Next</a></li>
</ul>