<% provide :title, 'Opinion Target 2635' %><h2>fresh rolls<br />occurrence: 1</h2><div><ol><li>The fresh rolls are huge and you 're getting a huge bang for your buck here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2634">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2636">Next</a></li>
</ul>