<% provide :title, 'Opinion Target 8637' %><h2>falafal balls<br />occurrence: 1</h2><div><ol><li>Another time we had the falafal balls and the side of tahini sauce was missing and another time a couple toppings were missing from our wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8638">Next</a></li>
</ul>