<% provide :title, 'Opinion Target 2031' %><h2>fried chicken places<br />occurrence: 2</h2><div><ol><li>Those wings would give any of the new fangled ' gourmet' fried chicken places a good run for their money and I would rank them highly on any blind taste test.</li><li>The sauces are still pretty good, but there are better fried chicken places along Yonge St. if you want better food quality.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2032">Next</a></li>
</ul>