<% provide :title, 'Opinion Target 4632' %><h2>ground beef tacos<br />occurrence: 1</h2><div><ol><li>I ordered the 3 ground beef tacos and I really must say I was having a hard time remembering if I 've ever eaten a more bland and flavorless taco in my life.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4631">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4633">Next</a></li>
</ul>