<% provide :title, 'Opinion Target 6512' %><h2>thermos pot<br />occurrence: 1</h2><div><ol><li>The service is fine, I like that the tea is served in the thermos pot which keeps it nice and hot and it is being constantly refilled with hot water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6513">Next</a></li>
</ul>