<% provide :title, 'Opinion Target 7744' %><h2>sashimi and nigiri sushi combo<br />occurrence: 1</h2><div><ol><li>Had the sashimi and nigiri sushi combo for lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7745">Next</a></li>
</ul>