<% provide :title, 'Opinion Target 1553' %><h2>potato cake<br />occurrence: 2</h2><div><ol><li>That said, a substituted blue cheese Caesar or cheddar-laced potato cake from the steak portion of the menu turns one 's attention elsewhere.</li><li>It was my first time dining in this chain and was excited to see what it has to offer especially after receiving my maid of honor 's raving recommendation of smoked salmon with potato cake ( which I was n't able to find).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1552">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1554">Next</a></li>
</ul>