<% provide :title, 'Opinion Target 5366' %><h2>diced pork cubes<br />occurrence: 1</h2><div><ol><li>Good combination of diced pork cubes, tomato, egg and the hand-pulled noodles were fantastic ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5367">Next</a></li>
</ul>