<% provide :title, 'Opinion Target 6343' %><h2>Bacon Penne<br />occurrence: 1</h2><div><ol><li>Try the Bacon Penne.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6344">Next</a></li>
</ul>