<% provide :title, 'Opinion Target 6579' %><h2>shish kebob<br />occurrence: 1</h2><div><ol><li>The so called shish kebob was a disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6578">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6580">Next</a></li>
</ul>