<% provide :title, 'Opinion Target 4492' %><h2>veal chop frenched<br />occurrence: 1</h2><div><ol><li>The gf ordered the Tiger Shrimp ( $ 39) entree while I had the veal chop frenched ( $ 35).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4493">Next</a></li>
</ul>