<% provide :title, 'Opinion Target 4226' %><h2>Salmon Lover dinner<br />occurrence: 1</h2><div><ol><li>I had the Salmon Lover dinner, which was more than enough for one person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4227">Next</a></li>
</ul>