<% provide :title, 'Opinion Target 700' %><h2>skillet<br />occurrence: 5</h2><div><ol><li>Recently they have added 3 more vegetarian options to their lunch menu: Mexican crepe, veggie burgers and classic veggie skillet.</li><li>Tasted like a meal under $ 10 brought to you in a fancy skillet.</li><li>I ordered the veggie skillet and my partner ordered a breakfast platter with various items.</li><li>I ordered potatoes on the side not knowing how potato-y the veggie skillet would be.</li><li>They should just call it carbo-tato skillet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_699">Previous</a></li>
  <li class="next"><a href=".\opinion_target_701">Next</a></li>
</ul>