<% provide :title, 'Opinion Target 4709' %><h2>salad bars<br />occurrence: 1</h2><div><ol><li>This has got to be one of the most expensive salad bars I 've ever seen!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4710">Next</a></li>
</ul>