<% provide :title, 'Opinion Target 3591' %><h2>Basmati rice<br />occurrence: 1</h2><div><ol><li>I think the best thing here to get is the Basmati rice tastes like uncles bens but triple the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3592">Next</a></li>
</ul>