<% provide :title, 'Opinion Target 8259' %><h2>turmeric<br />occurrence: 1</h2><div><ol><li>They might as well have skipped the turmeric all together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8260">Next</a></li>
</ul>