<% provide :title, 'Opinion Target 6270' %><h2>eggs Benny !!<br />occurrence: 1</h2><div><ol><li>Looking forward to coming back for eggs Benny !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6271">Next</a></li>
</ul>