<% provide :title, 'Opinion Target 5441' %><h2>takeout food bar<br />occurrence: 1</h2><div><ol><li>I liked the takeout food bar at the back of this supermarket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5442">Next</a></li>
</ul>