<% provide :title, 'Opinion Target 2975' %><h2>Goat itself<br />occurrence: 1</h2><div><ol><li>The Goat itself was originally tender but the more I ate the more mushy it felt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2974">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2976">Next</a></li>
</ul>