<% provide :title, 'Opinion Target 3425' %><h2>chipotle chicken sandwich<br />occurrence: 1</h2><div><ol><li>Food was quite tasty and I really enjoyed it considering my favourite thing to order from Baton Rouge is their chipotle chicken sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3426">Next</a></li>
</ul>