<% provide :title, 'Opinion Target 7053' %><h2>Osso Buco sandwich<br />occurrence: 1</h2><div><ol><li>The pizzas here are fantastic ( better than most fancy restaurants) and so is the Osso Buco sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7052">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7054">Next</a></li>
</ul>