<% provide :title, 'Opinion Target 1567' %><h2>gumbo<br />occurrence: 2</h2><div><ol><li>My wife had the gumbo which was good, but needed more heat, especially for a place with `` Southern'' influence.</li><li>You wo n't find creole jambalaya, étouffée, gumbo, or someone in the backyard with a garbage can doing up a crawfish boil right ( http://www.tulane.edu/ ~ aichesrc/images/Crawfish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1566">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1568">Next</a></li>
</ul>