<% provide :title, 'Opinion Target 7186' %><h2>food menu items<br />occurrence: 1</h2><div><ol><li>I am happy to discover this place and will try other food menu items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7187">Next</a></li>
</ul>