<% provide :title, 'Opinion Target 4471' %><h2>radish side dish<br />occurrence: 1</h2><div><ol><li>Liked the radish side dish and the good ambience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4472">Next</a></li>
</ul>