<% provide :title, 'Opinion Target 7803' %><h2>; coffee<br />occurrence: 1</h2><div><ol><li>Service was excellent; coffee, tea, and water refills came often.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7804">Next</a></li>
</ul>