<% provide :title, 'Opinion Target 6005' %><h2>cherry coke<br />occurrence: 1</h2><div><ol><li>Price is fair, and I love their cherry coke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6004">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6006">Next</a></li>
</ul>