<% provide :title, 'Opinion Target 4376' %><h2>taro bubble tea<br />occurrence: 1</h2><div><ol><li>I tried the matcha bubble tea and also their taro bubble tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4377">Next</a></li>
</ul>