<% provide :title, 'Opinion Target 1989' %><h2>serving of rice<br />occurrence: 2</h2><div><ol><li>The beef in my dish was tender, garnished with a lot of onions and some brocoli and a large serving of rice.</li><li>The friend that got the fajitas complained he only had 3 tortillas with his dish but they gave him a good serving of rice on the side to make up for that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1990">Next</a></li>
</ul>