<% provide :title, 'Opinion Target 5817' %><h2>Hainan Chicken Rice<br />occurrence: 1</h2><div><ol><li>Even more so that my dad, who based on that experience, felt like coming to Linda 's for `` Hainan Chicken Rice ... ?!?!?!?!?''</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5818">Next</a></li>
</ul>