<% provide :title, 'Opinion Target 3243' %><h2>cocktail specials<br />occurrence: 1</h2><div><ol><li>The cocktail specials though amazingly priced but they were disappointingly weak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3244">Next</a></li>
</ul>