<% provide :title, 'Opinion Target 881' %><h2>``<br />occurrence: 5</h2><div><ol><li>Great Cheap `` Canadian'' Chinese Food.</li><li>The `` green tea frosty flakes'' is an incredible dessert featuring various authentic flavours!</li><li>Some people then put kimchi into to give it flavour, but after the spicey tofu soup ... this is a nice welcoming `` non-taste'' to finish off the meal.</li><li>It 's a kind of `` stone soup''.</li><li>I went with the 12 `` Bacon Combo- I added mayo and asked for gravy, as per the suggestion of many Yelp reviewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_880">Previous</a></li>
  <li class="next"><a href=".\opinion_target_882">Next</a></li>
</ul>