<% provide :title, 'Opinion Target 2132' %><h2>Turkish kefta<br />occurrence: 1</h2><div><ol><li>They have the best Turkish kefta mix to flavour ground beef, or better yet a mixture of beef and lamb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2133">Next</a></li>
</ul>