<% provide :title, 'Opinion Target 5123' %><h2>salsa de chipotle<br />occurrence: 1</h2><div><ol><li>I had El Burro ( beef) and the sopa de lima while my partner had the Carne en salsa de chipotle and everything was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5122">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5124">Next</a></li>
</ul>