<% provide :title, 'Opinion Target 6693' %><h2>famous ramen dish<br />occurrence: 1</h2><div><ol><li>I came here for their famous ramen dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6694">Next</a></li>
</ul>