<% provide :title, 'Opinion Target 4510' %><h2>tar tar sauce<br />occurrence: 1</h2><div><ol><li>This place is home for the good ol ' fish and chips with' em extra tar tar sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4509">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4511">Next</a></li>
</ul>