<% provide :title, 'Opinion Target 2945' %><h2>shrimp dumpling<br />occurrence: 1</h2><div><ol><li>The pork &amp; shrimp dumpling and the shrimp dumpling were okay at best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2944">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2946">Next</a></li>
</ul>