<% provide :title, 'Opinion Target 3846' %><h2>white tuna sashimi<br />occurrence: 1</h2><div><ol><li>The rice for the sushi was mushy, and the white tuna sashimi was not so white.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3847">Next</a></li>
</ul>