<% provide :title, 'Opinion Target 5789' %><h2>seafood noodle dish<br />occurrence: 1</h2><div><ol><li>A regular chicken pad thai and a thin clear seafood noodle dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5790">Next</a></li>
</ul>