<% provide :title, 'Opinion Target 5295' %><h2>tamago<br />occurrence: 1</h2><div><ol><li>Upon dissection, the dinosaur sized rolls may be attributed to the tamago ( egg) that is stuffed inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5296">Next</a></li>
</ul>