<% provide :title, 'Opinion Target 6933' %><h2>sesame biscuit<br />occurrence: 1</h2><div><ol><li>I also did n't care for the sesame biscuit with egg and dried pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6934">Next</a></li>
</ul>