<% provide :title, 'Opinion Target 7760' %><h2>Chicken Livers<br />occurrence: 1</h2><div><ol><li>Instead we got Chicken Livers which was disgusting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7761">Next</a></li>
</ul>