<% provide :title, 'Opinion Target 1670' %><h2>enoki beef<br />occurrence: 2</h2><div><ol><li>And the grilled meats are delicious especially the grilled squid, curry pork skewers, and the enoki beef.</li><li>The enoki beef was really dry and chewy as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1671">Next</a></li>
</ul>