<% provide :title, 'Opinion Target 6966' %><h2>pickle barrel<br />occurrence: 1</h2><div><ol><li>I can guarantee if I come to the pickle barrel I will receive the worst customer service of my life with the constant excuse of `` sorry we are understaffed'' I 'm sorry hire more STAFF.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6965">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6967">Next</a></li>
</ul>