<% provide :title, 'Opinion Target 3259' %><h2>pastry basket<br />occurrence: 1</h2><div><ol><li>The pastry basket was cold and seemed like it had been previously frozen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3260">Next</a></li>
</ul>