<% provide :title, 'Opinion Target 9484' %><h2>garlic shrimp fried rice<br />occurrence: 1</h2><div><ol><li>I recommend the `` turnip cake'' ( not really cake) and garlic shrimp fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9485">Next</a></li>
</ul>