<% provide :title, 'Opinion Target 2127' %><h2>BBQ chicken pizza<br />occurrence: 1</h2><div><ol><li>The BBQ chicken pizza was n't the kind I 'm used to, but it was utterly fabulous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2128">Next</a></li>
</ul>