<% provide :title, 'Opinion Target 9097' %><h2>kau yook ) pot<br />occurrence: 1</h2><div><ol><li>For example, they have that preserved vegetable ( muy choi) pork belly ( kau yook) pot, which is DELICIOUS.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9098">Next</a></li>
</ul>