<% provide :title, 'Opinion Target 1016' %><h2>shrimp sashimi<br />occurrence: 3</h2><div><ol><li>The scallop &amp; shrimp sashimi is pretty good.</li><li>The scallop and shrimp sashimi are pretty difficult to find in most all you can eat restaurants.</li><li>Ordered Osaka sushi boat and raw shrimp sashimi, they are amazing!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1017">Next</a></li>
</ul>