<% provide :title, 'Opinion Target 9300' %><h2>chicken katsu don<br />occurrence: 1</h2><div><ol><li>Honorable mention would have to be the chicken katsu don, which is a fried chicken cutlet with a rich sweet and tangy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9301">Next</a></li>
</ul>