<% provide :title, 'Opinion Target 2054' %><h2>Pho Tai Gan Sach<br />occurrence: 2</h2><div><ol><li>Boyfriend had the Pho Tai Gan Sach which was made with well-done beef, beef tendon and beef tripe.</li><li>I ordered Pho Tai Gan Sach which consists of well-done beef, beef tendon &amp; beef tripe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2053">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2055">Next</a></li>
</ul>