<% provide :title, 'Opinion Target 9305' %><h2>chicken is deep fried<br />occurrence: 1</h2><div><ol><li>On the menu, it says that the chicken is deep fried ( which I did n't want) and when I questioned the server about it, she said she could have it grilled for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9306">Next</a></li>
</ul>