<% provide :title, 'Opinion Target 6703' %><h2>table cooking chicken<br />occurrence: 1</h2><div><ol><li>If you come here, you need to get their dak gal bi which is table cooking chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6704">Next</a></li>
</ul>