<% provide :title, 'Opinion Target 2072' %><h2>menu price<br />occurrence: 2</h2><div><ol><li>Only down side, with the renos came a menu price increase.</li><li>Today my wife and I went to Wimpy 's after a bad experience at another diner ( we walked out when we thought we were being ripped off on account of a deceptive menu price practice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2073">Next</a></li>
</ul>