<% provide :title, 'Opinion Target 1069' %><h2>octopus<br />occurrence: 3</h2><div><ol><li>After helping us with the grilled octopus, she looked at me and pointed at the it.I think she tried to tell me that: `` The octopus is ready you can eat it now.''</li><li>The octopus was really chewy- I could barely bite a piece off.</li><li>The octopus and squid were good and the noodles were never ending and were really the thing that was making me full.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1070">Next</a></li>
</ul>