<% provide :title, 'Opinion Target 3393' %><h2>hot stone bowl<br />occurrence: 1</h2><div><ol><li>The hot stone bowl is also SUPER hot ( Some places serve dolsot bibimbap in warm bowls, ugh), which creates awesome nurungji ( hard rice at bottom of bowl) and keeps the meal hot from start to finish ( Anyone else hate eating cold food that 's meant to be hot ?!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3394">Next</a></li>
</ul>