<% provide :title, 'Opinion Target 4076' %><h2>Mussels with White Wine<br />occurrence: 1</h2><div><ol><li>The Mussels with White Wine was served with one of the best tasting broths I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4075">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4077">Next</a></li>
</ul>