<% provide :title, 'Opinion Target 3494' %><h2>Ginger Chicken dish<br />occurrence: 1</h2><div><ol><li>Came here for lunch to try this infamous Ginger Chicken dish that 's been yelped so heavily about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3495">Next</a></li>
</ul>