<% provide :title, 'Opinion Target 7551' %><h2>green tea shaved ice dishes<br />occurrence: 1</h2><div><ol><li>I saw 2 green tea shaved ice dishes ready to be served- one was given to a table ( who came in after us!) and the other one was no where to be found.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7552">Next</a></li>
</ul>