<% provide :title, 'Opinion Target 4996' %><h2>sole stuffed with crab<br />occurrence: 1</h2><div><ol><li>The sole stuffed with crab, again that hollandaise sauce and the fish was not any sole I 've eaten before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4995">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4997">Next</a></li>
</ul>