<% provide :title, 'Opinion Target 1826' %><h2>BBQ menu<br />occurrence: 2</h2><div><ol><li>Skewers ( most of the things on their BBQ menu)- Really flavourful and goes great with rice!</li><li>The BBQ menu was excellent bbq lamb, chicken and beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1825">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1827">Next</a></li>
</ul>