<% provide :title, 'Opinion Target 4208' %><h2>lamb shish kebab<br />occurrence: 1</h2><div><ol><li>The lamb shish kebab was very tender and had that wonderful charcoal aroma with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4207">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4209">Next</a></li>
</ul>