<% provide :title, 'Opinion Target 5163' %><h2>lobster congee<br />occurrence: 1</h2><div><ol><li>Several servers paused at the table to make sure we could handle the lobster congee LOL after we looked at it and asked how to eat it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5164">Next</a></li>
</ul>