<% provide :title, 'Opinion Target 4204' %><h2>pickled onions<br />occurrence: 1</h2><div><ol><li>They have pickled onions and a few jalapeno on the rice, which definitely adds to the whole date. there are two sizes, small, which comes with one skewer ( ~ 9.99 or so), and reg that comes with two ( 13.99).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4203">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4205">Next</a></li>
</ul>