<% provide :title, 'Opinion Target 9667' %><h2>lula kabob and sea bass<br />occurrence: 1</h2><div><ol><li>I 've tried most dishes at this restaurant and I have to say, the lula kabob and sea bass are my top 2 choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9668">Next</a></li>
</ul>