<% provide :title, 'Opinion Target 2398' %><h2>soy bean sprouts<br />occurrence: 2</h2><div><ol><li>Kimchi, soy bean sprouts, beans in a sweet sauce and pickled radish ( daikon ?)</li><li>The side dishes are always the same and include kimchi, seasoned soy bean sprouts, beans in sweet sauce, and radish kimchi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2399">Next</a></li>
</ul>