<% provide :title, 'Opinion Target 4087' %><h2>layers were whipped cream<br />occurrence: 1</h2><div><ol><li>The layers were whipped cream, lemon custard, fruits, and sponge cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4088">Next</a></li>
</ul>