<% provide :title, 'Opinion Target 8352' %><h2>meat texture<br />occurrence: 1</h2><div><ol><li>EKK: S Spare Ribs Wuxi style looks decent, meat is dry and meat texture is tough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8353">Next</a></li>
</ul>