<% provide :title, 'Opinion Target 6980' %><h2>stir fried noodles and greens<br />occurrence: 1</h2><div><ol><li>We also ordered stir fried noodles and greens ( there was just four of us).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6979">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6981">Next</a></li>
</ul>