<% provide :title, 'Opinion Target 7314' %><h2>Chiu Chow Fried Fish Noodle + Vegetable<br />occurrence: 1</h2><div><ol><li>Chiu Chow Congee + Chiu Chow Fried Fish Noodle + Vegetable ( $ 13.99) [ Late Night Special ] Good value as if Food Court pricing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7315">Next</a></li>
</ul>