<% provide :title, 'Opinion Target 1746' %><h2>Sichuan<br />occurrence: 2</h2><div><ol><li>Sichuan Boiled Fish and Cold Spicy Beef). maybe that 's our ordering, but every dish was too fried, too greasy and too battered. we could not finish what we ordered and ended up with 3 boxes of leftovers. as a chinese person, i cannot recommend this restaurant ... instead, go 15 mins away for a much more authentic and flavourful szechuan experience @ http://www.yelp.ca/biz/hot-spicy-spicy-north-york.</li><li>First of all, Sichuan is not in the northern .... it 's in the southern part of China.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1747">Next</a></li>
</ul>