<% provide :title, 'Opinion Target 3545' %><h2>faffel<br />occurrence: 1</h2><div><ol><li>The faffel here is great and often quite stuffed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3546">Next</a></li>
</ul>