<% provide :title, 'Opinion Target 3500' %><h2>modern Chinese sushi shop decor<br />occurrence: 1</h2><div><ol><li>The atmosphere is more old school Japanese restaurant vibe rather than hip and modern Chinese sushi shop decor like at downtown-ish locales.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3499">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3501">Next</a></li>
</ul>