<% provide :title, 'Opinion Target 6956' %><h2>multigrain toast<br />occurrence: 1</h2><div><ol><li>The multigrain toast was also cold and the frozen butter that I got did not melt when I tried to spread it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6955">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6957">Next</a></li>
</ul>