<% provide :title, 'Opinion Target 5817' %><h2>crepe dishes<br />occurrence: 1</h2><div><ol><li>My friend and I both ordered a savory chicken crepe ( each of the savory crepe dishes also comes with a side salad).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5818">Next</a></li>
</ul>