<% provide :title, 'Opinion Target 4205' %><h2>takeout customer<br />occurrence: 1</h2><div><ol><li>My only one unpleasant experience is when a lady served us the shawarma plate and she forgot to top the rice with some onions and garlic sauce, ( place was not busy, only one person dining in and one takeout customer) so I had to walk back from the car in the rain to kindly request for the toppings that add a gazillion notch to this dish, which she gladly did.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4204">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4206">Next</a></li>
</ul>