<% provide :title, 'Opinion Target 3578' %><h2>shish kabob<br />occurrence: 1</h2><div><ol><li>Tiny sandwiches Paramount serves up some good tasting Middle Eastern Food, including some popular and familiar dishes, like shawarma, falafel, lentil soup, shish tawouk ( shish kabob), and more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3579">Next</a></li>
</ul>