<% provide :title, 'Opinion Target 5711' %><h2>sweet chilli chicken wrap<br />occurrence: 1</h2><div><ol><li>The sweet chilli chicken wrap was barely palatable ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5712">Next</a></li>
</ul>