<% provide :title, 'Opinion Target 1373' %><h2>chicken skewer<br />occurrence: 2</h2><div><ol><li>Food was delicious, chicken skewer was moist and flavorful, sides were good too.</li><li>The winterlicious portions were tiny, like the appetizer said chicken skewers but 1 chicken skewer was on the plate ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1374">Next</a></li>
</ul>