<% provide :title, 'Opinion Target 3384' %><h2>Korean dates<br />occurrence: 1</h2><div><ol><li>We usually order the Koryo Samgyetang, whole young chicken stuffed with ginseng, sticky rice, Korean dates, chestnut and herbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3385">Next</a></li>
</ul>