<% provide :title, 'Opinion Target 4092' %><h2>chicken portion<br />occurrence: 1</h2><div><ol><li>So the texture comes out pretty crispy- but the re-frying of the chicken portion also gave it a KFC-ish taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4093">Next</a></li>
</ul>