<% provide :title, 'Opinion Target 1677' %><h2>udon<br />occurrence: 2</h2><div><ol><li>The udon was massive and had a nice broth.</li><li>So when there is good udon and pho nearby, why should you settle for overpriced, underfilling, simply OK ramen ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1678">Next</a></li>
</ul>