<% provide :title, 'Opinion Target 7409' %><h2>Size<br />occurrence: 1</h2><div><ol><li>Food Quality &amp; Price: Size, portion and prices of crepes and waffles are comparable to Demetres.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7410">Next</a></li>
</ul>