<% provide :title, 'Opinion Target 8753' %><h2>Baby beef marinated with red wine<br />occurrence: 1</h2><div><ol><li>One of our friends order the Baby beef marinated with red wine but she does n't like the sour taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8754">Next</a></li>
</ul>