<% provide :title, 'Opinion Target 9191' %><h2>foie gras<br />occurrence: 1</h2><div><ol><li>I love everything in their gourmet menu, especially the lobster sashimi &amp; foie gras.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9192">Next</a></li>
</ul>