<% provide :title, 'Opinion Target 2180' %><h2>salmon belly<br />occurrence: 2</h2><div><ol><li>The salmon belly was dry but good.</li><li>I had the miso soup, salmon rose, white tuna sushi, salmon belly, beef rib, chicken teriyaki, salmon teriyaki, beef teriyaki, enoki beef roll, pork cutlet, chicken cutlet, deep fried scallops and green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2181">Next</a></li>
</ul>