<% provide :title, 'Opinion Target 1749' %><h2>hot drinks<br />occurrence: 2</h2><div><ol><li>If the weather is warmer I usually get the honey oolong milk tea or hazelnut milk tea or on a colder day, their hot drinks such as the sweet potato almond milk tea is my fave!</li><li>The prices of the hot drinks are also comparable to the local coffee competitors in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1750">Next</a></li>
</ul>