<% provide :title, 'Opinion Target 1560' %><h2>tofu salad<br />occurrence: 2</h2><div><ol><li>This time I opted for the pasta salad and the tofu salad both of which were delicious but I think the tofu salad is my new favourite!</li><li>This time I opted for the pasta salad and the tofu salad both of which were delicious but I think the tofu salad is my new favourite!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1561">Next</a></li>
</ul>