<% provide :title, 'Opinion Target 3010' %><h2>Kum Kang<br />occurrence: 1</h2><div><ol><li>I would definitely go again to try out their other rolls:) When I immediately smile and have a huge grin on my face, you know it 's good haha Kum Kang San is nearly hidden behind the trees on Dufferin St. However, the interior is quite large and the menu is HUGE!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3009">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3011">Next</a></li>
</ul>