<% provide :title, 'Opinion Target 2426' %><h2>Shanghai-style noodles<br />occurrence: 2</h2><div><ol><li>We ordered xiaolongbao ( mini steamed soup buns with pork), potstickers, spring onion pan cakes, kai lan with ginger, Shanghai-style noodles, and a ginger and chicken fried rice.</li><li>The Shanghai-style noodles were chewy, lots of shrimp and a good balance of other fix-ins like cabbage and pork strips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2427">Next</a></li>
</ul>