<% provide :title, 'Opinion Target 6510' %><h2>Surf Clams<br />occurrence: 1</h2><div><ol><li>HUGE pieces of Shrimp, Crab, Surf Clams, Salmon, Garoupa and other stuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6509">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6511">Next</a></li>
</ul>