<% provide :title, 'Opinion Target 1269' %><h2>bbq eel<br />occurrence: 3</h2><div><ol><li>Got the spider roll ( softshell crab), hard rock nroll ( bbq eel) and a seaweed salad.</li><li>Love the bbq eel and avocado on top.</li><li>The Caterpillar roll had tasty BBQ eel and a flavourful combination with cucumber, avocado, and tobiko and the Alaska roll was straightforward with tuna, salmon, yellowtail, and avocado.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1268">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1270">Next</a></li>
</ul>