<% provide :title, 'Opinion Target 6661' %><h2>cheese & rice cake as well as chicken<br />occurrence: 1</h2><div><ol><li>We ordered Dak Gal Bee as per everyone 's suggestion and added cheese &amp; rice cake as well as chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6662">Next</a></li>
</ul>