<% provide :title, 'Opinion Target 1401' %><h2>bubble tea fix<br />occurrence: 3</h2><div><ol><li>I think I may end up driving an extra 5 mins to get my bubble tea fix at the Yonge/Finch location.</li><li>In conclusion- I 'm still really happy it 's here so I can get my bubble tea fix without having to drive.</li><li>If you need a bubble tea fix, try this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1402">Next</a></li>
</ul>