<% provide :title, 'Opinion Target 2129' %><h2>thai tacos<br />occurrence: 2</h2><div><ol><li>B Main: I got the golden chicken curry and rice, and my partner got the thai tacos.</li><li>The Thai tacos were wrapped in a pastry resembling that used for Peking duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2128">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2130">Next</a></li>
</ul>