<% provide :title, 'Opinion Target 7108' %><h2>borscht<br />occurrence: 1</h2><div><ol><li>Until then, my experience with Russian and Eastern European cuisine was limited to caviar, borscht and whatever vegetable you can pickle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7109">Next</a></li>
</ul>