<% provide :title, 'Opinion Target 1505' %><h2>extra sauce<br />occurrence: 2</h2><div><ol><li>I totally forgot to ask for the extra sauce so I struggled to finish it off.</li><li>The wings were still dry as beef jerky but the extra sauce did help.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1506">Next</a></li>
</ul>