<% provide :title, 'Opinion Target 4522' %><h2>sushi date<br />occurrence: 1</h2><div><ol><li>After that I came back with my girlfriend, and we had nice sushi date.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4521">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4523">Next</a></li>
</ul>