<% provide :title, 'Opinion Target 2368' %><h2>Japanese<br />occurrence: 2</h2><div><ol><li>Portion-wise, it 's pretty big, and a nice amount of Sashimi ranging from mackerel, to salmon, to tamago ( Japanese Egg).</li><li>The store is small, maybe 10 to 13 tables but I feel its good Japanese family restaurant even though its owned by Korean people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2369">Next</a></li>
</ul>