<% provide :title, 'Opinion Target 4622' %><h2>Satay Shrimp Skewer<br />occurrence: 1</h2><div><ol><li>For my app, I selected the Satay Shrimp Skewer, which was presented well and was pretty much how you would expect a shrimp skewer to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4623">Next</a></li>
</ul>