<% provide :title, 'Opinion Target 3539' %><h2>Jamaican beef patties<br />occurrence: 1</h2><div><ol><li>Also, the Jamaican beef patties ( spicy) are very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3540">Next</a></li>
</ul>