<% provide :title, 'Opinion Target 1763' %><h2>lines<br />occurrence: 2</h2><div><ol><li>The lines are intimidating, and they never seem to end.</li><li>The lines were busy, but did n't take terribly long.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1762">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1764">Next</a></li>
</ul>