<% provide :title, 'Opinion Target 4475' %><h2>seafood pajeon<br />occurrence: 1</h2><div><ol><li>And with a seafood pajeon, it is really good here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4476">Next</a></li>
</ul>