<% provide :title, 'Opinion Target 6895' %><h2>Biang Biang noodle<br />occurrence: 1</h2><div><ol><li>Recommend Biang Biang noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6894">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6896">Next</a></li>
</ul>