<% provide :title, 'Opinion Target 4745' %><h2>meat sandwich<br />occurrence: 1</h2><div><ol><li>Delicious meat sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4746">Next</a></li>
</ul>