<% provide :title, 'Opinion Target 5264' %><h2>corn sauce<br />occurrence: 1</h2><div><ol><li>I liked the creamy corn sauce, but thought there may have been too much fat on the chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5263">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5265">Next</a></li>
</ul>