<% provide :title, 'Opinion Target 9262' %><h2>ribeye steak<br />occurrence: 1</h2><div><ol><li>My friend had the bone-in ribeye steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9261">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9263">Next</a></li>
</ul>