<% provide :title, 'Opinion Target 7550' %><h2>brunch crepes<br />occurrence: 1</h2><div><ol><li>Pastel is for people who have sweet tooths:) Also, Pastel has some brunch crepes which I have n't tried yet, but look good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7551">Next</a></li>
</ul>