<% provide :title, 'Opinion Target 6135' %><h2>burning spice<br />occurrence: 1</h2><div><ol><li>The lamb hand-cut noodles were delicious and had a nice slow burning spice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6136">Next</a></li>
</ul>