<% provide :title, 'Opinion Target 1172' %><h2>teriyaki beef<br />occurrence: 3</h2><div><ol><li>But when the hot dish like teriyaki beef, salmon or others.</li><li>I always get the teriyaki beef bento which comes with tempura, and California rolls!</li><li>Our main dishes arrived- very mediocre teriyaki beef ( no flavour, watery!)- but still no spider roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1173">Next</a></li>
</ul>