<% provide :title, 'Opinion Target 4609' %><h2>Pineapple Fried Rice presentation<br />occurrence: 1</h2><div><ol><li>The Pineapple Fried Rice presentation is very good with the rice cupped in the centre with the shrimp nicely displayed like an octopus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4610">Next</a></li>
</ul>