<% provide :title, 'Opinion Target 1801' %><h2>Red Bean<br />occurrence: 2</h2><div><ol><li>The Red Bean comes with kinako mochi, red bean, and a scoop of ice cream.</li><li>The red bean was served in a small sundae bowl separate than the bingsu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1802">Next</a></li>
</ul>