<% provide :title, 'Opinion Target 4505' %><h2>Saganaki ( flaming cheese appetizer<br />occurrence: 1</h2><div><ol><li>The Saganaki ( flaming cheese appetizer) is also quite tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4506">Next</a></li>
</ul>