<% provide :title, 'Opinion Target 5679' %><h2>infamous fried chicken with green onion<br />occurrence: 1</h2><div><ol><li>The infamous fried chicken with green onion was overpowered by the five spice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5680">Next</a></li>
</ul>