<% provide :title, 'Opinion Target 7013' %><h2>lettuce wrap + minced duck w/fried vermicelli noodles<br />occurrence: 1</h2><div><ol><li>You can choose from the lettuce wrap + minced duck w/fried vermicelli noodles or my recommendation of the Chinese styled pancakes + minced duck filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7014">Next</a></li>
</ul>