<% provide :title, 'Opinion Target 7071' %><h2>Lunch Combo Special<br />occurrence: 1</h2><div><ol><li>Spicy Bulgogi ( $ 8.95)- with 8 piece of spicy rolls- my DC commented that the bulgogi is a little spicy, but of course I found them to be A-OK Lunch Combo Special B ( $ 15.95)- the fish selections are just little boring: Salmon and Tuna- Good big portion but the price to match too- Shari rice is nicely prepared Waitresses here are nice and smiley, services are good and efficient.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7072">Next</a></li>
</ul>