<% provide :title, 'Opinion Target 9225' %><h2>Spinach Feta omelette<br />occurrence: 1</h2><div><ol><li>She had the Spinach Feta omelette and I had the Classic 3 eggs breakfast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9224">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9226">Next</a></li>
</ul>