<% provide :title, 'Opinion Target 7303' %><h2>Takeout package<br />occurrence: 1</h2><div><ol><li>Takeout package was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7302">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7304">Next</a></li>
</ul>