<% provide :title, 'Opinion Target 2973' %><h2>pizza fries<br />occurrence: 1</h2><div><ol><li>They have there own signature stuff like pizza fries and others.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2974">Next</a></li>
</ul>