<% provide :title, 'Opinion Target 1166' %><h2>shrimp dumplings<br />occurrence: 3</h2><div><ol><li>Decided to pig out a bit and had the shrimp dumplings and the Cantonese chow mein.</li><li>Shrimp dumplings `` Go for it.</li><li>Tried a variety of dishes including shrimp dumplings, shrimp rolls, rice noodle rolls, and deep fried tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1165">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1167">Next</a></li>
</ul>