<% provide :title, 'Opinion Target 7002' %><h2>dish with lettuce wrap and stir fry duck<br />occurrence: 1</h2><div><ol><li>The second dish with lettuce wrap and stir fry duck was very tasty as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7003">Next</a></li>
</ul>