<% provide :title, 'Opinion Target 2414' %><h2>deep fried stuff<br />occurrence: 1</h2><div><ol><li>Some of the deep fried stuff are just average though, such as the thousand island shrimps that some reviews mentioned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2413">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2415">Next</a></li>
</ul>