<% provide :title, 'Opinion Target 9277' %><h2>Spanish coffee<br />occurrence: 1</h2><div><ol><li>Desert was Tiramisu with a Spanish coffee which was also fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9278">Next</a></li>
</ul>