<% provide :title, 'Opinion Target 6177' %><h2>Tofu house<br />occurrence: 1</h2><div><ol><li>Best Tofu house ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6178">Next</a></li>
</ul>