<% provide :title, 'Opinion Target 2773' %><h2>Tempura Combo<br />occurrence: 1</h2><div><ol><li>- My waitress put my order in wrong ... instead of Tempura Combo, she put in Shrimp Tempura ( $ 8.95)- The owner was really nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2772">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2774">Next</a></li>
</ul>