<% provide :title, 'Opinion Target 5509' %><h2>Grass jelly roasted milk tea Jasmine green milk tea Honey green tea Red bean green tea smoothie<br />occurrence: 1</h2><div><ol><li>My favorite drinks are: Grass jelly roasted milk tea Jasmine green milk tea Honey green tea Red bean green tea smoothie ( brain freeze will occur) Mango green tea Chrysanthemum tea There service is a hit or miss. The cashier may or may not be friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5508">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5510">Next</a></li>
</ul>