<% provide :title, 'Opinion Target 3906' %><h2>mushroom and swiss burger<br />occurrence: 1</h2><div><ol><li>I got the mushroom and swiss burger and a poutine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3905">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3907">Next</a></li>
</ul>