<% provide :title, 'Opinion Target 5351' %><h2>chicken cashew<br />occurrence: 1</h2><div><ol><li>Ignoring the price and decor the food I had which is the chicken cashew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5352">Next</a></li>
</ul>