<% provide :title, 'Opinion Target 1505' %><h2>banana ice cream<br />occurrence: 3</h2><div><ol><li>I particular, I felt that the Lychee crepe, mixed with the banana ice cream, made for an amazing blend of flavors that was a pleasure to experience.</li><li>It was loaded with fresh cream and lychee flesh, sprinkled with coconut chips and sugar powder, and came with two scoops or banana ice cream.</li><li>The banana ice cream tasted very fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1506">Next</a></li>
</ul>