<% provide :title, 'Opinion Target 1507' %><h2>shrimp roti<br />occurrence: 2</h2><div><ol><li>Actually going today to try their shrimp roti.</li><li>Shrimp roti was fresh and was nicely filled with potatoes and shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1506">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1508">Next</a></li>
</ul>