<% provide :title, 'Opinion Target 7030' %><h2>arugula salad with shrimp<br />occurrence: 1</h2><div><ol><li>We ordered the arugula salad with shrimp, the pollo a pesto pizza, gnocchi and Tuscan fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7031">Next</a></li>
</ul>