<% provide :title, 'Opinion Target 5047' %><h2>sour pepper sauce<br />occurrence: 1</h2><div><ol><li>These were served with a ( sweet) sour pepper sauce ( ?) that was not very spicy, but had a nice tingle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5046">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5048">Next</a></li>
</ul>