<% provide :title, 'Opinion Target 4057' %><h2>lunch buffet special<br />occurrence: 1</h2><div><ol><li>And just morally wrong ... NEVER TIP As soon as I entered, the host asked if I want the lunch buffet special or dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4058">Next</a></li>
</ul>