<% provide :title, 'Opinion Target 5551' %><h2>calabrese piadina<br />occurrence: 1</h2><div><ol><li>Last night, we dropped in for a quick dinner- my husband ordered the calabrese piadina and I ordered the pasta pomodoro.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5552">Next</a></li>
</ul>