<% provide :title, 'Opinion Target 4797' %><h2>Fish ratio<br />occurrence: 1</h2><div><ol><li>The food &amp; selection ( 4.5/5): Sashimi was fresh, the cooked meat was alright, but the rolls were definitely well done in terms of flavour and rice vs. Fish ratio: P A couple things of reasons why I thought this place differed from many other AYCE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4796">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4798">Next</a></li>
</ul>