<% provide :title, 'Opinion Target 1059' %><h2>rice noodle<br />occurrence: 3</h2><div><ol><li>I was expecting Korean noodles but it was rice noodle ( the thin kind of pho noodles) so that was a bit of let down.</li><li>My upgrade to egg noodle meant I actually had less noodle than with the standard order rice noodle.</li><li>We ordered a rice noodle, ended up getting vermicelli ( that is all stick together like a giant ball) with 2/3 plate brocolli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1060">Next</a></li>
</ul>