<% provide :title, 'Opinion Target 1378' %><h2>chili oil<br />occurrence: 2</h2><div><ol><li>However, the chili oil does n't really adhere or add any flavor.</li><li>If you 're new to the chain, I 'd suggest you try their signature House Seafood &amp; Mixed Veggie Fried Vermicelli ( it goes amazing with their chili oil which is fragrant but not overly spicy) and their BBQ meats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1377">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1379">Next</a></li>
</ul>