<% provide :title, 'Opinion Target 2015' %><h2>Mexican<br />occurrence: 2</h2><div><ol><li>Authentic Mexican not so much, I lived in Mexico for 6 months and have rarely eaten authentic Mexican food it tends to get watered down north of Texas.</li><li>Having lived in the South for the better part of my life, I 've come to know what good Mexican, Tex-Mex and BBQ should really taste like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2016">Next</a></li>
</ul>