<% provide :title, 'Opinion Target 893' %><h2>lentil soup<br />occurrence: 5</h2><div><ol><li>Disappointing runny, thin, watery lentil soup.</li><li>Lentil soup was n't spectacular, but it was filling, nice and warm and seemed homemade.</li><li>Great lentil soup.</li><li>Lentil soup was a little chalky but not bad.</li><li>They had said out loud ( lentil soup ?) we did n't order that and I immediately said that was my order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_894">Next</a></li>
</ul>