<% provide :title, 'Opinion Target 5088' %><h2>David falafel<br />occurrence: 1</h2><div><ol><li>A Kind David falafel is a completely different creation and well worth the trek to Lawrence and Bathurst.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5089">Next</a></li>
</ul>