<% provide :title, 'Opinion Target 2250' %><h2>white tuna roll<br />occurrence: 2</h2><div><ol><li>I came here twice and so far i 've tried spicy salmon roll, spider roll, dynamite roll, white tuna roll and they are all so good! i was sharing it with my BF and we still could n't finish it!</li><li>The White Tuna roll was good but was n't great; hope it was n't the same used in the sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2251">Next</a></li>
</ul>