<% provide :title, 'Opinion Target 8169' %><h2>pasta special<br />occurrence: 1</h2><div><ol><li>I 'm just saying I like Boston Pizza is great because it 's the only restaurant near my home with a good pasta special on a good selection of pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8170">Next</a></li>
</ul>