<% provide :title, 'Opinion Target 8794' %><h2>crab maki roll<br />occurrence: 1</h2><div><ol><li>On our visit the only thing I found decent to eat was a crab maki roll and the green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8793">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8795">Next</a></li>
</ul>