<% provide :title, 'Opinion Target 1702' %><h2>beef tacos<br />occurrence: 2</h2><div><ol><li>The beef tacos, however, were not eadible.</li><li>Order up: beef tacos, 3lbs of half jerk and mild wings, nachos, burger, 4 YES 4 large orders of Cesar salad ( insert ironic applause here), deep fried cheesecake, calamari, beer for the hubby and I and plenty of iced tea for the mini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1703">Next</a></li>
</ul>