<% provide :title, 'Opinion Target 7124' %><h2>filet of sole<br />occurrence: 1</h2><div><ol><li>I ordered a roast beef dinner with a baked potato and my wife ordered filet of sole.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7125">Next</a></li>
</ul>