<% provide :title, 'Opinion Target 8961' %><h2>cakes slices<br />occurrence: 1</h2><div><ol><li>Love the daily specials, especially 2 for 1 cakes slices on Sundays.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8962">Next</a></li>
</ul>