<% provide :title, 'Opinion Target 2017' %><h2>pickled radish<br />occurrence: 2</h2><div><ol><li>Asked for refill for the side dish ( kimchi, pickled radish, bean sprout and some korean seed that I do n't know what it 's called).</li><li>The waitress brought us the dish with a mountain of pickled radish, another waitress passed by and said ohh and took it back and returned with a smaller one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2016">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2018">Next</a></li>
</ul>