<% provide :title, 'Opinion Target 1442' %><h2>bbq pork buns<br />occurrence: 3</h2><div><ol><li>We ordered lamb skewers, kidney skewers ( do n't hate, I love these), bbq buns ( which we thought were bbq pork buns ... they 're not), xianjang noodles with chicken, and black bean chicken.</li><li>BBQ buns which we THOUGHT were bbq pork buns, were good despite lacking the meat we were expecting.</li><li>Har gow, Siew Mai, Cheong fun ( shrimp and beef rolls), chicken feet, beef tripe, Bbq pork buns, sticky rice, carrot turnip cake and a whole lot more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1443">Next</a></li>
</ul>