<% provide :title, 'Opinion Target 9156' %><h2>Drink prices<br />occurrence: 1</h2><div><ol><li>Drink prices are very reasonable for the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9157">Next</a></li>
</ul>