<% provide :title, 'Opinion Target 1395' %><h2>butter fish<br />occurrence: 2</h2><div><ol><li>Normally, I do n't care for the butter fish ( the whole escolar diarrhea thing) and red snapper, but these were pretty good.</li><li>The light torched taste for the butter fish was a nice touch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1396">Next</a></li>
</ul>