<% provide :title, 'Opinion Target 5388' %><h2>potato cubes<br />occurrence: 1</h2><div><ol><li>Absolutely awful and uninspiring, the noodle does have big bowl, but minimal meat and potato cubes ( wtf ?) nothing special at all, Not fresh and tasteless ( it 's like having a mouthful of vinegar).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5389">Next</a></li>
</ul>