<% provide :title, 'Opinion Target 7533' %><h2>coffee place<br />occurrence: 1</h2><div><ol><li>Overall a nice, but small coffee place if you are in the mood for desert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7534">Next</a></li>
</ul>