<% provide :title, 'Opinion Target 2379' %><h2>steak fries<br />occurrence: 2</h2><div><ol><li>The wings come accompanied with steak fries and a side of dill sauce ( exactly like they have at St. Louis).</li><li>The chicken wings were done very well and it comes with steak fries which are oddly good at scooping up that dill sauce that St. Louis is apparently famous for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2380">Next</a></li>
</ul>