<% provide :title, 'Opinion Target 4395' %><h2>deep fried zuchini<br />occurrence: 1</h2><div><ol><li>After ordering, we were served soup, a plate of fried appetizers ( potato ball, deep fried zuchini and something else) and then a platter of more apps including a potato and apple salad ( covered in mayo which is n't common for an asian restaurant), jap chae ( korean glass noodles), broccoli, tofu and I think a few others that I ca n't recall.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4396">Next</a></li>
</ul>