<% provide :title, 'Opinion Target 9222' %><h2>chicken fingers with fries<br />occurrence: 1</h2><div><ol><li>Today I got the chicken fingers with fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9223">Next</a></li>
</ul>