<% provide :title, 'Opinion Target 1989' %><h2>dessert selection<br />occurrence: 2</h2><div><ol><li>They have food-to-go, and the dessert selection tempts everyone unless surgery has removed your senses.</li><li>The icing on top of this place was the dessert selection, by the time i was due to go for a tour of the dessert tables I was feel full and kept it simple.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1990">Next</a></li>
</ul>