<% provide :title, 'Opinion Target 2588' %><h2>water famine<br />occurrence: 1</h2><div><ol><li>----- Service: Mediocre ------ Louise was n't as helpful as expected- food came out real slow for a casual-family restaurant- limited water refills ( Almost felt like we were experiencing a water famine)- male waiter tossed a fork at us ( Sorry, did n't know we were disturbing your blooming juggling career.) ----- Atmosphere: Mediocre ------ very warm ( Do n't get me wrong, there were indivudal AC units in every room, but they did n't bother turning it on, probably because they were huge eco supporters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2589">Next</a></li>
</ul>