<% provide :title, 'Opinion Target 4843' %><h2>cast iron plate<br />occurrence: 1</h2><div><ol><li>Unbelievably tender and juicy, it came sizzling hot on a cast iron plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4842">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4844">Next</a></li>
</ul>