<% provide :title, 'Opinion Target 1734' %><h2>herb<br />occurrence: 2</h2><div><ol><li>The small chicken was stuffed with glutinous rice and herbs and was served in a stone bowl with the herb and ginseng soup.</li><li>Mercifully for those who liked to enjoy their fast food in peace, Burger King finally revealed on Superbowl night Herb to be this geeky looking fellow in a too-tight, loud suit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1735">Next</a></li>
</ul>