<% provide :title, 'Opinion Target 1124' %><h2>potstickers<br />occurrence: 4</h2><div><ol><li>Their potstickers `` wor tips'' are the best!</li><li>We ordered xiaolongbao ( mini steamed soup buns with pork), potstickers, spring onion pan cakes, kai lan with ginger, Shanghai-style noodles, and a ginger and chicken fried rice.</li><li>The dim sum ( xiaolongbao, potstickers, pan cakes) were up to par with their usual quality- served hot and steamy and fairly tasty.</li><li>The potstickers were also smaller and they sometimes forget to give you vinegar for dipping.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1125">Next</a></li>
</ul>