<% provide :title, 'Opinion Target 5661' %><h2>kfc chicken<br />occurrence: 1</h2><div><ol><li>If you want good kfc chicken I go to galleria super market, I call in advance and eat it there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5662">Next</a></li>
</ul>