<% provide :title, 'Opinion Target 8388' %><h2>crab soup dumplings<br />occurrence: 1</h2><div><ol><li>The crab soup dumplings were average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8389">Next</a></li>
</ul>