<% provide :title, 'Opinion Target 9395' %><h2>Chilli Fried Turnip Patties<br />occurrence: 1</h2><div><ol><li>Oh look, I 've said so many things about this place but did n't even mention the Chilli Fried Turnip Patties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9396">Next</a></li>
</ul>