<% provide :title, 'Opinion Target 4135' %><h2>rice cake with cabbage<br />occurrence: 1</h2><div><ol><li>We had the deep fried tentacles, some kind of rice with mushrooms, chicken and bok choi ( one of those green things that people steam ?) and it came in a hot bowl so that the rice at the botton was sticky and crunchy at the same time: D Also had the vermicelli that 's part of the special, congee with surf clam, choy sum with oyster sauce, hot and sour soup, my friend has the cheung fun and rice roll with duck in it, and rice cake with cabbage and some pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4136">Next</a></li>
</ul>