<% provide :title, 'Opinion Target 4165' %><h2>regular sashimi<br />occurrence: 1</h2><div><ol><li>We split the assorted regular sashimi which came with salmon, tuna, surf clam, and some sort of white fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4166">Next</a></li>
</ul>