<% provide :title, 'Opinion Target 671' %><h2>dining room<br />occurrence: 5</h2><div><ol><li>The large spacious dining room is big enough for families and wheel chairs alike.</li><li>Why would the person serving lunch be eating lunch and the dining room is a mess ... ?</li><li>The dining room is decent, and you can enter either via Yonge Street or from within the Yonge-Sheppard Centre.</li><li>The dining room is ideal for kids.</li><li>The prices are high compared to the surrounding deli 's but the dining room is pleasant and service fair.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_672">Next</a></li>
</ul>