<% provide :title, 'Opinion Target 5074' %><h2>seafood-scallion pancake<br />occurrence: 1</h2><div><ol><li>The sweet-spicy chicken was the best of the bunch while the seafood-scallion pancake, chewy rice cakes in spicy sauce, and cheese omelet were just OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5075">Next</a></li>
</ul>