<% provide :title, 'Opinion Target 6589' %><h2>veal with veggies<br />occurrence: 1</h2><div><ol><li>Ordered the veal with veggies, and chicken with rapini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6590">Next</a></li>
</ul>