<% provide :title, 'Opinion Target 1800' %><h2>thai ice tea<br />occurrence: 2</h2><div><ol><li>The thai ice tea took awhile to get to us, but she explained why.</li><li>The thai ice tea tasted diluted comparing to Khao s road and sipz from San deigo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1801">Next</a></li>
</ul>