<% provide :title, 'Opinion Target 1709' %><h2>BBQ pork fried rice<br />occurrence: 2</h2><div><ol><li>Their BBQ pork fried rice is the best i 've ever had!</li><li>BBQ Pork Fried Rice- NO flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1710">Next</a></li>
</ul>