<% provide :title, 'Opinion Target 673' %><h2>chicken noodle soup<br />occurrence: 5</h2><div><ol><li>My fiance went with their grilled cheese on whole wheat and chicken noodle soup.</li><li>Make sure you also order their chicken noodle soup.</li><li>We got the chicken noodle soup as well and that was such a disappointment.</li><li>The large cornbeef sandwich with the kaiser bun was amazing ... the cabbage roll was huge but too sweet .. the chicken noodle soup had good flavor but no chicken .. just noodles ..</li><li>In addition I ordered their creamy crispy chicken noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_674">Next</a></li>
</ul>