<% provide :title, 'Opinion Target 6650' %><h2>cheese + ramen + rice cake<br />occurrence: 1</h2><div><ol><li>I usually order the SJ1 + Joons classic sauce + cheese + ramen + rice cake to the Dak Gal Bee for 2 people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6651">Next</a></li>
</ul>