<% provide :title, 'Opinion Target 6346' %><h2>chicken cobb salad<br />occurrence: 1</h2><div><ol><li>I had the chicken cobb salad ... I found a piece of hair ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6347">Next</a></li>
</ul>