<% provide :title, 'Opinion Target 8698' %><h2>fried chicken crust<br />occurrence: 1</h2><div><ol><li>The only downside is that the plaza is always busy and parking is a pain at times. dam dis domino 's pizza be bakin dat fried chicken crust like DAAAAM dat shiat rite dere be crispy as fuuk and the sauce be drippin like DAAAAM i wish dat sauce was thirteen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8699">Next</a></li>
</ul>