<% provide :title, 'Opinion Target 2652' %><h2>pot meant<br />occurrence: 1</h2><div><ol><li>The dumplings were so insanely huge, that eating them directly from the pot meant burning your mouth as they could not cool fast enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2653">Next</a></li>
</ul>