<% provide :title, 'Opinion Target 8122' %><h2>coffee and mango muffin<br />occurrence: 1</h2><div><ol><li>I like going here to sit on the swings and have a coffee and mango muffin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8123">Next</a></li>
</ul>