<% provide :title, 'Opinion Target 8103' %><h2>chocolate cream puff<br />occurrence: 1</h2><div><ol><li>I had a cappuccino and a chocolate cream puff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8104">Next</a></li>
</ul>