<% provide :title, 'Opinion Target 6502' %><h2>salt pepper squid. seafood udon. tomato and coconut milk rice and shrimp. bbq duck with noodle. server<br />occurrence: 1</h2><div><ol><li>We had to go out for a walk since our tummies were so happy. house special congee. salt pepper squid. seafood udon. tomato and coconut milk rice and shrimp. bbq duck with noodle. server was helpful when we ordered two bowls of congee to share so we took her suggestion and only got one bowl since we got so much other food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6503">Next</a></li>
</ul>