<% provide :title, 'Opinion Target 8073' %><h2>nacho platters<br />occurrence: 1</h2><div><ol><li>They have burritos, bowls, tacos, nacho platters, salads, and vegetarian options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8074">Next</a></li>
</ul>