<% provide :title, 'Opinion Target 2142' %><h2>panang sauce<br />occurrence: 2</h2><div><ol><li>The slightly spicy panang sauce ( you can customize your spice level) is a sweet tasty sauce that combined with the peppers and a softer meat, like shrimp, makes this dish a delight to eat.</li><li>The panang sauce was mild and tangy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2143">Next</a></li>
</ul>