<% provide :title, 'Opinion Target 1709' %><h2>breast<br />occurrence: 2</h2><div><ol><li>Often times the breast would be on the dense and dry side, but not this time.</li><li>The chicken was very good, they use breast meat instead of the usual leg meat most shawarma restaurants use.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1710">Next</a></li>
</ul>