<% provide :title, 'Opinion Target 6355' %><h2>disposable napkins<br />occurrence: 1</h2><div><ol><li>They use disposable napkins.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6356">Next</a></li>
</ul>