<% provide :title, 'Opinion Target 3482' %><h2>homemade mustards<br />occurrence: 1</h2><div><ol><li>Their homemade mustards are delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3483">Next</a></li>
</ul>