<% provide :title, 'Opinion Target 7471' %><h2>served with red bean and sponge cake<br />occurrence: 1</h2><div><ol><li>Green Tea Crepe ( $ 9.29)- served with red bean and sponge cake wrapped in thin pancake, homemade green tea ice cream and whipped cream on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7472">Next</a></li>
</ul>