<% provide :title, 'Opinion Target 7042' %><h2>polpette<br />occurrence: 1</h2><div><ol><li>There is a panino sandwich featuring the polpette that I want to try next time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7043">Next</a></li>
</ul>