<% provide :title, 'Opinion Target 5367' %><h2>fish fillet noodle soup<br />occurrence: 1</h2><div><ol><li>Spicy fish fillet noodle soup- my friend ordered this, again there is a chill pepper beside it on the menu but it is actually not that spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5368">Next</a></li>
</ul>