<% provide :title, 'Opinion Target 8786' %><h2>all-you-can-eat Japanese food<br />occurrence: 1</h2><div><ol><li>This is my go-to place for all-you-can-eat Japanese food in Willowdale.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8787">Next</a></li>
</ul>