<% provide :title, 'Opinion Target 4018' %><h2>jerk pork dinner with steamed vegetables<br />occurrence: 1</h2><div><ol><li>I usually get the small jerk pork dinner with steamed vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4019">Next</a></li>
</ul>