<% provide :title, 'Opinion Target 2215' %><h2>pepper sauce<br />occurrence: 2</h2><div><ol><li>These were served with a ( sweet) sour pepper sauce ( ?) that was not very spicy, but had a nice tingle.</li><li>It 's a simple mash of tubular rice cakes, fish cakes ( odeng), onions, gochujang ( red pepper sauce), and sugar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2214">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2216">Next</a></li>
</ul>