<% provide :title, 'Opinion Target 3948' %><h2>shrimp pancake<br />occurrence: 1</h2><div><ol><li>The shrimp pancake was super greasy and oil just oozed out in every bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3949">Next</a></li>
</ul>