<% provide :title, 'Opinion Target 2087' %><h2>meat lovers pizza<br />occurrence: 2</h2><div><ol><li>Got pesto primavera which was delicious fresh green homemade pesto and the meat lovers pizza got garlic bread which was soft and delicious made with real butter and garlic.</li><li>I got the meat lovers pizza, and it was fairly generous with the toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2088">Next</a></li>
</ul>