<% provide :title, 'Opinion Target 5590' %><h2>portion of fresh pollack stewed with kimichi and vegetables<br />occurrence: 1</h2><div><ol><li>We three people ordered fish hot pot ( great portion of fresh pollack stewed with kimichi and vegetables) and bolgogi ( fried marinated beef).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5591">Next</a></li>
</ul>