<% provide :title, 'Opinion Target 2442' %><h2>fried noodle dishes<br />occurrence: 1</h2><div><ol><li>I think the last time I got a Mushroom Fried Rice and one of the fried noodle dishes and maybe the spring roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2443">Next</a></li>
</ul>