<% provide :title, 'Opinion Target 5671' %><h2>Penne Mezza<br />occurrence: 1</h2><div><ol><li>Onwards to the food: The focaccia/bread was deelicious and completely went with our Penne Mezza Notte that we shared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5672">Next</a></li>
</ul>