<% provide :title, 'Opinion Target 9351' %><h2>cream puffs and fruit and flan<br />occurrence: 1</h2><div><ol><li>The desserts are what you expect from a Chinese buffet -- a few meh egg tarts and sesame balls, plus lots of napoleons and cream puffs and fruit and flan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9352">Next</a></li>
</ul>