<% provide :title, 'Opinion Target 5854' %><h2>Chicken Royal Pad Thai<br />occurrence: 1</h2><div><ol><li>We had the Crispy Beef Panang Curry ( which tasted like not nothing we have tried before-crispy outside and THE softest beef EVER) and the Chicken Royal Pad Thai which was a bit sweet and really good as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5853">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5855">Next</a></li>
</ul>