<% provide :title, 'Opinion Target 4424' %><h2>salmon pasta<br />occurrence: 1</h2><div><ol><li>I ordered a pizza the first time and the salmon pasta the second time, and both were great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4425">Next</a></li>
</ul>