<% provide :title, 'Opinion Target 5084' %><h2>makkoli a rice wine<br />occurrence: 1</h2><div><ol><li>Some call makkoli a rice wine but others stress its closer to a rice beer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5085">Next</a></li>
</ul>