<% provide :title, 'Opinion Target 3073' %><h2>walnuts<br />occurrence: 1</h2><div><ol><li>Nevertheless, loved that the staff were sweet to take extra care to make sure that walnuts were not added to the rice cake shaved ice- our son has a peanut/Pinenut allergy and thy took extra precautions for us with nuts in general.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3074">Next</a></li>
</ul>