<% provide :title, 'Opinion Target 1986' %><h2>coconut ice cream<br />occurrence: 2</h2><div><ol><li>Killer pepper shrimp and plantains with a side of coconut ice cream.</li><li>The coconut ice cream was not very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1987">Next</a></li>
</ul>