<% provide :title, 'Opinion Target 1760' %><h2>pickled vegetables<br />occurrence: 2</h2><div><ol><li>The pita is fresh and pillowy, and the sandwich is stuffed with an array of fresh and pickled vegetables.</li><li>They will give you an assortment of starters ( pickled vegetables) and freshly warmed pita 's and a house salad ( their house salad dressing is wonderful) on arrival.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1761">Next</a></li>
</ul>