<% provide :title, 'Opinion Target 2975' %><h2>roti skin<br />occurrence: 1</h2><div><ol><li>The roti skin was on the thin side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2974">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2976">Next</a></li>
</ul>