<% provide :title, 'Opinion Target 5579' %><h2>eggplant entree<br />occurrence: 1</h2><div><ol><li>My gf got the eggplant entree which is not bad, I thought ' Antica Pizzeria' in Niagara Falls is better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5578">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5580">Next</a></li>
</ul>