<% provide :title, 'Opinion Target 7510' %><h2>pancakes eggs bacon<br />occurrence: 1</h2><div><ol><li>The second time I came I got the meal w pancakes eggs bacon and sausage ( I forget the menu name) and it was great but I had to take half of it home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7509">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7511">Next</a></li>
</ul>