<% provide :title, 'Opinion Target 7115' %><h2>martini lunch<br />occurrence: 1</h2><div><ol><li>A place like this makes you wonder what ever happened to the 3 martini lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7114">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7116">Next</a></li>
</ul>