<% provide :title, 'Opinion Target 9250' %><h2>bacon-wrapped scallops<br />occurrence: 1</h2><div><ol><li>Appetizers: According to my wife, the $ 26 bacon-wrapped scallops ( 4) were served in a virtually tasteless brown `` gravy-like'' substance.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9251">Next</a></li>
</ul>