<% provide :title, 'Opinion Target 6729' %><h2>napa cabbage<br />occurrence: 1</h2><div><ol><li>We ordered the lamb, beef, taro, udon noodles, napa cabbage, shrimp ( with shell), tofu, and some other stuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6730">Next</a></li>
</ul>