<% provide :title, 'Opinion Target 2149' %><h2>variety<br />occurrence: 2</h2><div><ol><li>They have such good variety!</li><li>Food is decently priced, good variety, pork bone soup was consistently tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2148">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2150">Next</a></li>
</ul>