<% provide :title, 'Opinion Target 7095' %><h2>suicide sauce<br />occurrence: 1</h2><div><ol><li>My GF picked up the wings with the suicide sauce, which she had tackled before without incident.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7096">Next</a></li>
</ul>