<% provide :title, 'Opinion Target 3924' %><h2>fried squid house combo<br />occurrence: 1</h2><div><ol><li>We ordered: kare kare ( oxtail and peanut butter soup), the lechon kawali ( pork belly) and fried squid house combo, and the pancit sampaguita ( fried noodles).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3925">Next</a></li>
</ul>