<% provide :title, 'Opinion Target 2644' %><h2>marzipan loaf<br />occurrence: 1</h2><div><ol><li>I have it on good authority that for under $ 2.00, this is the best marzipan loaf you can buy comrade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2645">Next</a></li>
</ul>