<% provide :title, 'Opinion Target 5995' %><h2>Beans Seasoned Fries Chicken More chicken Popeye 's Rules<br />occurrence: 1</h2><div><ol><li>Spicy Greasy Crunchy Tasty Juicy Dirty Rice Rice and Beans Seasoned Fries Chicken More chicken Popeye 's Rules!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5996">Next</a></li>
</ul>