<% provide :title, 'Opinion Target 8656' %><h2>bread with the eggplant dish<br />occurrence: 1</h2><div><ol><li>The owner even gave us complimentary bread with the eggplant dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8657">Next</a></li>
</ul>