<% provide :title, 'Opinion Target 3550' %><h2>shortrib bourguignon<br />occurrence: 1</h2><div><ol><li>The shortrib bourguignon was very tender, but fatty and lacking flavour and the veg was underdone.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3551">Next</a></li>
</ul>