<% provide :title, 'Opinion Target 7154' %><h2>dol soht bibimbap<br />occurrence: 1</h2><div><ol><li>The dol soht bibimbap was alright, there was a good amount of veggies in the dish, but it was n't hot enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7153">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7155">Next</a></li>
</ul>