<% provide :title, 'Opinion Target 6832' %><h2>sauce drip<br />occurrence: 1</h2><div><ol><li>When the starters came, no plates or bowls at all, does it look like we want to let all the sauce drip everywhere on the table ?!?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6831">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6833">Next</a></li>
</ul>