<% provide :title, 'Opinion Target 9710' %><h2>chicken Katsu takeout<br />occurrence: 1</h2><div><ol><li>One time I got the chicken Katsu takeout and it was so bland that I never came back again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9709">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9711">Next</a></li>
</ul>