<% provide :title, 'Opinion Target 4207' %><h2>fried banana desert<br />occurrence: 1</h2><div><ol><li>Well that does n't happen with the food here, maybe it was the fried banana desert that did it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4208">Next</a></li>
</ul>