<% provide :title, 'Opinion Target 4169' %><h2>special roles<br />occurrence: 1</h2><div><ol><li>They have incredible special roles, and their normal maki rolles use extremely fresh fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4170">Next</a></li>
</ul>