<% provide :title, 'Opinion Target 2711' %><h2>: fruits<br />occurrence: 1</h2><div><ol><li>This salad bar included: fruits, bread, dips, pastries, and obvi salads.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2712">Next</a></li>
</ul>