<% provide :title, 'Opinion Target 2079' %><h2>soy-bean soup<br />occurrence: 2</h2><div><ol><li>I do n't think I 've had traditional fermented soy-bean soup before, and although the smell was off-putting at first, it tasted great.</li><li>I wonder if other places have `` traditional fermented soy-bean soup'', and what they taste like ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2080">Next</a></li>
</ul>