<% provide :title, 'Opinion Target 6345' %><h2>broiled lobster<br />occurrence: 1</h2><div><ol><li>The food was not presented nicely, and while the lobster seemed fresh, the taste was n't rich enough for the 1 1/2 broiled lobster ( $ 49).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6344">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6346">Next</a></li>
</ul>