<% provide :title, 'Opinion Target 1946' %><h2>Berries & Blooms<br />occurrence: 2</h2><div><ol><li>I had to find a new source of healthy food on campus ... so I checked out Berries &amp; Blooms.</li><li>Located in the middle of York Lanes on campus, Berries &amp; Blooms contains a very large counter of dozens of trays, filled with hordes of fresh fruit and vegetables that is stocked daily.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1947">Next</a></li>
</ul>