<% provide :title, 'Opinion Target 2970' %><h2>meat pie<br />occurrence: 1</h2><div><ol><li>We ordered the meat pie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2969">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2971">Next</a></li>
</ul>