<% provide :title, 'Opinion Target 1895' %><h2>breast meat<br />occurrence: 2</h2><div><ol><li>We tried their bath, joojeh ( breast meat) and koobideh kabob as well as kashke-badenjan and mast-mooseer for appetizers.</li><li>The chicken was very good, they use breast meat instead of the usual leg meat most shawarma restaurants use.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1894">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1896">Next</a></li>
</ul>