<% provide :title, 'Opinion Target 1488' %><h2>kimchi tofu soup<br />occurrence: 2</h2><div><ol><li>The kimchi tofu soup was ok, definitely not the best kimchi jighae I 've had.</li><li>My favourite is their kimchi tofu soup and their veggie tofu soup !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1487">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1489">Next</a></li>
</ul>