<% provide :title, 'Opinion Target 6547' %><h2>chicken rice<br />occurrence: 1</h2><div><ol><li>Either way when the chicken rice came out, I was n't too happy with the quality either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6548">Next</a></li>
</ul>