<% provide :title, 'Opinion Target 3651' %><h2>sausage links<br />occurrence: 1</h2><div><ol><li>It came with 4 eggs, 2 strips of bacon, 2 sausage links, 2 pieces of ham, 2 slices of whole wheat toast, home fries and 2 pancakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3652">Next</a></li>
</ul>