<% provide :title, 'Opinion Target 6066' %><h2>yellowtail sashimi<br />occurrence: 1</h2><div><ol><li>The yellowtail sashimi was exquisite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6065">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6067">Next</a></li>
</ul>