<% provide :title, 'Opinion Target 3745' %><h2>salad bars<br />occurrence: 1</h2><div><ol><li>This has got to be one of the most expensive salad bars I 've ever seen!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3746">Next</a></li>
</ul>