<% provide :title, 'Opinion Target 3784' %><h2>pho special<br />occurrence: 1</h2><div><ol><li>I had the BBH soup and my fiancé had the pho special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3785">Next</a></li>
</ul>