<% provide :title, 'Opinion Target 6826' %><h2>Stewed beef noodles<br />occurrence: 1</h2><div><ol><li>Stewed beef noodles: the noodles were chewy and so authentic!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6825">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6827">Next</a></li>
</ul>