<% provide :title, 'Opinion Target 3373' %><h2>Mushroom Cheddar omelet<br />occurrence: 1</h2><div><ol><li>I 'm bumpint Anthony 's to 3 stars for the fresh mushrooms and real cheddar in the Mushroom Cheddar omelet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3374">Next</a></li>
</ul>