<% provide :title, 'Opinion Target 1988' %><h2>Satay Beef<br />occurrence: 2</h2><div><ol><li>The Satay Beef was one of my favourites.</li><li>The satay beef is enormous for under $ 10 and could probably feed 3 people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1989">Next</a></li>
</ul>