<% provide :title, 'Opinion Target 5238' %><h2>rice cake and noodles<br />occurrence: 1</h2><div><ol><li>Though there was a generous portion of chicken in the pot, our added-on rice cake and noodles were minimal, not enough for all three people to share.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5237">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5239">Next</a></li>
</ul>