<% provide :title, 'Opinion Target 4151' %><h2>pub food<br />occurrence: 1</h2><div><ol><li>As someone who rarely drinks, the pub food is really important since that 's all I usually have.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4152">Next</a></li>
</ul>