<% provide :title, 'Opinion Target 6736' %><h2>turkey burger<br />occurrence: 1</h2><div><ol><li>I always order the turkey burger and the fries are decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6735">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6737">Next</a></li>
</ul>