<% provide :title, 'Opinion Target 6237' %><h2>lamb meatball stuffed with pine nuts<br />occurrence: 1</h2><div><ol><li>If you are feeling especially meaty, have a kufteh, lamb meatball stuffed with pine nuts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6238">Next</a></li>
</ul>