<% provide :title, 'Opinion Target 4941' %><h2>pickled turnip<br />occurrence: 1</h2><div><ol><li>The tabbouleh, spreads and pickled turnip are fresh and flavourful, and I always have enough left over for lunch next day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4942">Next</a></li>
</ul>