<% provide :title, 'Opinion Target 1606' %><h2>lunch specials menu<br />occurrence: 2</h2><div><ol><li>Hiro Sushi House for sure has great lunch specials menu starting from $ 6.95 and serves till 4:00 PM !!</li><li>Their lunch specials menu is great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1607">Next</a></li>
</ul>