<% provide :title, 'Opinion Target 3185' %><h2>chicken than rice<br />occurrence: 1</h2><div><ol><li>Rare that a places actually gives you MORE chicken than rice ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3186">Next</a></li>
</ul>