<% provide :title, 'Opinion Target 4342' %><h2>lemon smoothie<br />occurrence: 1</h2><div><ol><li>I had the lemon smoothie and I very impressed as it did n't taste premade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4343">Next</a></li>
</ul>