<% provide :title, 'Opinion Target 5825' %><h2>chicken crepe with mushrooms & cheese<br />occurrence: 1</h2><div><ol><li>I especially love savoury crepes and their chicken crepe with mushrooms &amp; cheese hit the spot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5824">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5826">Next</a></li>
</ul>