<% provide :title, 'Opinion Target 2126' %><h2>burger entrée<br />occurrence: 1</h2><div><ol><li>The last entrée arrived, and exactly like the other burger entrée, the bacon was overcooked and the cheese was hard, as if it had been sitting for a while.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2127">Next</a></li>
</ul>