<% provide :title, 'Opinion Target 1845' %><h2>filet mignons<br />occurrence: 2</h2><div><ol><li>The second plate was cooked medium rare, but the quality of the steak is not the best- It was a bit hard to chew through the tendons, which I 've never seen in filet mignons ..</li><li>The filet mignons were mostly tasteless, and had no sauce of any kind to improve their flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1846">Next</a></li>
</ul>