<% provide :title, 'Opinion Target 8001' %><h2>hot tofu lava stone pot<br />occurrence: 1</h2><div><ol><li>4 stars for super cheap food, decent seating and steaming hot tofu lava stone pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8002">Next</a></li>
</ul>