<% provide :title, 'Opinion Target 9684' %><h2>Eggs Benedict with Peameal bacon<br />occurrence: 1</h2><div><ol><li>My boyfriend ordered the Eggs Benedict with Peameal bacon, home fries and brown toast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9683">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9685">Next</a></li>
</ul>