<% provide :title, 'Opinion Target 3988' %><h2>fried chicken served<br />occurrence: 1</h2><div><ol><li>One item on the menu that was particularly good is their Kanpung Chicken, a fried chicken served in a spicy chili sauce, it packs some serious heat but well worth your lips going numb!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3989">Next</a></li>
</ul>