<% provide :title, 'Opinion Target 1432' %><h2>white rice<br />occurrence: 3</h2><div><ol><li>The white rice was the best portion of the meal, honestly.</li><li>The strange thing is that they serve brown rice as default ( I do n't even think they have white rice).</li><li>The white rice was tasty as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1433">Next</a></li>
</ul>