<% provide :title, 'Opinion Target 6685' %><h2>soup fillers<br />occurrence: 1</h2><div><ol><li>We had to order a Gam Ja Tang because we were still so hungry, and furthermore, it was the saddest Gam Ja Tang I 've ever seen, with only 2/3 of the bowl filled up ( compared to the overflowing bowl you get at Owl), two small pieces of pork bone, and no potatoes or soup fillers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6686">Next</a></li>
</ul>