<% provide :title, 'Opinion Target 3237' %><h2>frites<br />occurrence: 1</h2><div><ol><li>Taste- steak frites was ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3238">Next</a></li>
</ul>