<% provide :title, 'Opinion Target 2944' %><h2>peppercorn wings + fries<br />occurrence: 1</h2><div><ol><li>Upon entering the establishment, we ordered 1 ( one) pitcher of Heineken, 1lb of peppercorn wings + fries, and another 1lb of honey garlic wings + fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2943">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2945">Next</a></li>
</ul>