<% provide :title, 'Opinion Target 3530' %><h2>rice cakes and bean sprout<br />occurrence: 1</h2><div><ol><li>The rice cakes and bean sprout soaked up the soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3531">Next</a></li>
</ul>