<% provide :title, 'Opinion Target 8585' %><h2>dukbokki dish<br />occurrence: 1</h2><div><ol><li>And before I mastered the dukbokki dish, I used to eat it here all the time too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8584">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8586">Next</a></li>
</ul>