<% provide :title, 'Opinion Target 1729' %><h2>owner guy<br />occurrence: 2</h2><div><ol><li>I planned on writing a review to warn people about the owner guy, but it seems I am not the only one to be subjected to his craziness.</li><li>The owner guy was not friendly and was on the phone when we first went in ( which is fine), so we take a look at the menus and after he is done on the phone, we place our orders.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1730">Next</a></li>
</ul>