<% provide :title, 'Opinion Target 4520' %><h2>orange duck<br />occurrence: 1</h2><div><ol><li>On the other you 'll have chinese menu items like chow mein, orange duck, beef stir fry and so on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4521">Next</a></li>
</ul>