<% provide :title, 'Opinion Target 4907' %><h2>plantain<br />occurrence: 1</h2><div><ol><li>And get the plantain.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4908">Next</a></li>
</ul>