<% provide :title, 'Opinion Target 2014' %><h2>bibimbab<br />occurrence: 2</h2><div><ol><li>I also had bibimbab, it 's average, the outstanding soon tofu makes everything seems just fine.</li><li>If you do n't want stew, they also have bibimbab and bulgogi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2013">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2015">Next</a></li>
</ul>