<% provide :title, 'Opinion Target 2379' %><h2>baba ganouj<br />occurrence: 1</h2><div><ol><li>Next time, I 'm going to try the veggie appetizer plate I saw a lady mowing down on in the restaurant which had hummus, baba ganouj, olives, fried eggplant, beets and mushrooms !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2380">Next</a></li>
</ul>