<% provide :title, 'Opinion Target 8808' %><h2>vegetarian pig kidneys<br />occurrence: 1</h2><div><ol><li>We ordered a few random things that I do n't normally see on dim sum menus: the vegetarian pig kidneys and plain rice rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8809">Next</a></li>
</ul>