<% provide :title, 'Opinion Target 3846' %><h2>bubble tea cafe price<br />occurrence: 1</h2><div><ol><li>Their drinks are standard bubble tea cafe price and decent but not amazing, but I 'd go somewhere more legit next time ( somewhere Taiwanese as opposed to a Korean BBT cafe such as Green Grotto or Gong Cha).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3847">Next</a></li>
</ul>