<% provide :title, 'Opinion Target 855' %><h2>croissant<br />occurrence: 4</h2><div><ol><li>The croissant itself was really nice and flaky but was totally mangled by the sandwich making and wrapping process.</li><li>I would go back for another croissant but JUST the croissant.</li><li>The one star deduction comes from the pricey-ness- my medium coffee and croissant were $ 6.15 after tax.</li><li>The almond croissant I purchased here was the best croissant I have ever had; it was also the best pastry I have ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_856">Next</a></li>
</ul>