<% provide :title, 'Opinion Target 1389' %><h2>delivery service<br />occurrence: 2</h2><div><ol><li>The delivery service was excellent as well.</li><li>Delivery service is also prompt and food comes fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1388">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1390">Next</a></li>
</ul>