<% provide :title, 'Opinion Target 6180' %><h2>dumpling beef soup<br />occurrence: 1</h2><div><ol><li>I tried the kimchi beef soup and the dumpling beef soup on two difference occasions and both were excellent; although i slightly preferred the dumpling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6181">Next</a></li>
</ul>