<% provide :title, 'Opinion Target 6325' %><h2>2lb king crab dinner market price<br />occurrence: 1</h2><div><ol><li>For dinner I ordered the 2lb king crab dinner market price witch was $ 86 and a lobster tail $ while we were at the table a waitress was showing a almost four lb lobster to a child I must admit looked delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6326">Next</a></li>
</ul>