<% provide :title, 'Opinion Target 2772' %><h2>special chicken ginseng soup<br />occurrence: 1</h2><div><ol><li>I may return to try their special chicken ginseng soup, which they 're famous for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2773">Next</a></li>
</ul>