<% provide :title, 'Opinion Target 3349' %><h2>chicken with stuffed ginseng , rice<br />occurrence: 1</h2><div><ol><li>Came here today for lunch and ordered S1, the whole chicken with stuffed ginseng, rice, dates, and other nuts and herbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3350">Next</a></li>
</ul>