<% provide :title, 'Opinion Target 5793' %><h2>deep fried banana batter<br />occurrence: 1</h2><div><ol><li>We did not leave the typical 15% tip since it was n't earned- we found that we felt rushed, the server was not attentive, and the deep fried banana batter was undercooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5794">Next</a></li>
</ul>