<% provide :title, 'Opinion Target 1954' %><h2>facilities<br />occurrence: 2</h2><div><ol><li>Nice and clean facilities, too.</li><li>Taste was great, staff were polite, facilities were clean ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1955">Next</a></li>
</ul>