<% provide :title, 'Opinion Target 5848' %><h2>salad 's texture<br />occurrence: 1</h2><div><ol><li>The salad 's texture was generally slimy with strands of spiralled carrots flung infor a bit of body.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5847">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5849">Next</a></li>
</ul>