<% provide :title, 'Opinion Target 4571' %><h2>pineapple burger<br />occurrence: 1</h2><div><ol><li>I always make sure to come in for the pineapple burger when I get the chance and I 'm in the area!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4572">Next</a></li>
</ul>