<% provide :title, 'Opinion Target 1179' %><h2>minced pork rice<br />occurrence: 3</h2><div><ol><li>I never knew someone can mess up minced pork rice.</li><li>The minced pork rice is good but sausage. .tea flavour ?</li><li>There is a minced pork rice that is a must try.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1180">Next</a></li>
</ul>