<% provide :title, 'Opinion Target 3591' %><h2>chicken and beef<br />occurrence: 1</h2><div><ol><li>The chicken and beef tasted juicy and their garlic mash sauce tasted really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3592">Next</a></li>
</ul>