<% provide :title, 'Opinion Target 6031' %><h2>seaweed rolls<br />occurrence: 1</h2><div><ol><li>Nice balanced Shari rice, crunchy seaweed rolls and fresh fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6032">Next</a></li>
</ul>