<% provide :title, 'Opinion Target 7767' %><h2>Niku<br />occurrence: 1</h2><div><ol><li>The Niku was ok and the roll above average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7768">Next</a></li>
</ul>