<% provide :title, 'Opinion Target 4910' %><h2>palowrie balls<br />occurrence: 1</h2><div><ol><li>The palowrie balls were authentic to my memory of Guyanese ones, and the tamarind sauce was the best I 've had in Canada.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4911">Next</a></li>
</ul>