<% provide :title, 'Opinion Target 1905' %><h2>flour wraps<br />occurrence: 2</h2><div><ol><li>The flour wraps were stuck together- we had problems separating each wrap.</li><li>However, we noticed that the portion of roasted duck was smaller than usual; and the distribution of the flour wraps likewise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1904">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1906">Next</a></li>
</ul>