<% provide :title, 'Opinion Target 3224' %><h2>egg yolks<br />occurrence: 1</h2><div><ol><li>The Lobster and Shrimp Coddled Eggs was a bowl of buttery heaven which was made richer as you spooned into the egg yolks which intertwined in between chunks of lobster and shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3225">Next</a></li>
</ul>