<% provide :title, 'Opinion Target 1943' %><h2>tiger shrimps<br />occurrence: 2</h2><div><ol><li>The tiger shrimps were perfectly grilled and had a nice char to them.</li><li>I did n't have high hopes for `` tiger shrimps'', since a lot of restaurants called their shrimps tiger when they are not.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1944">Next</a></li>
</ul>