<% provide :title, 'Opinion Target 7088' %><h2>bacon cheddar burger<br />occurrence: 1</h2><div><ol><li>I had the bacon cheddar burger with a side of guac.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7089">Next</a></li>
</ul>