<% provide :title, 'Opinion Target 6247' %><h2>baba ganoush and taboule<br />occurrence: 1</h2><div><ol><li>It comes with 3 falafels, hummous, baba ganoush and taboule as well as chicken shawarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6248">Next</a></li>
</ul>