<% provide :title, 'Opinion Target 6346' %><h2>squash soup<br />occurrence: 1</h2><div><ol><li>Prices are outrageous, staff are rude, except for nice hostesses, and best food is the squash soup, chicken and Caesar salads.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6347">Next</a></li>
</ul>