<% provide :title, 'Opinion Target 7156' %><h2>strawberry jam<br />occurrence: 1</h2><div><ol><li>How will 1 packet of strawberry jam suffice for 2 pieces of toast ?! ( Well .. not for me at least ..)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7157">Next</a></li>
</ul>