<% provide :title, 'Opinion Target 6492' %><h2>salty soy milk<br />occurrence: 1</h2><div><ol><li>The salty soy milk was good as well, but not as flavorful or salty as I hoped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6493">Next</a></li>
</ul>