<% provide :title, 'Opinion Target 8070' %><h2>hot sauce options<br />occurrence: 1</h2><div><ol><li>If I have to throw any sort of shade, it 's to deride their lack of hot sauce options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8071">Next</a></li>
</ul>