<% provide :title, 'Opinion Target 8686' %><h2>lamb shank with dill rice<br />occurrence: 1</h2><div><ol><li>I ordered lamb shank with dill rice and it was a very large portion -- meat was very tender and the rice was good, not too oily at all which I find is the problem with some other places I otherwise like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8687">Next</a></li>
</ul>