<% provide :title, 'Opinion Target 6547' %><h2>smoked salmon salad<br />occurrence: 1</h2><div><ol><li>I ordered a veggie burger as a recommendation from the waitress and my compadra ordered their smoked salmon salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6548">Next</a></li>
</ul>