<% provide :title, 'Opinion Target 973' %><h2>black olives<br />occurrence: 4</h2><div><ol><li>My husband had this chicken dish with rose sauce and black olives, bathing in mushrooms too.</li><li>Pizza with little bits of sun dried tomato, tiny curled up slivers of eggplant and equally tiny chunks of black olives.</li><li>That being said, the super supreme had black olives ( which I really like) because the add a little salty kick to my pizza.</li><li>Wide assortment of toppings such as lettuce, tomatoes, red onions, pickles, cucumbers, black olives, jalapenos, hot peppers and tons of sauces to choose from.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_974">Next</a></li>
</ul>