<% provide :title, 'Opinion Target 2386' %><h2>pita shawarma<br />occurrence: 1</h2><div><ol><li>LAFFA over Shawarma any day- Makes your puny little pita shawarma look like midget league.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2387">Next</a></li>
</ul>