<% provide :title, 'Opinion Target 7923' %><h2>served with shrimp<br />occurrence: 1</h2><div><ol><li>I also had a bit of my friend 's seafood soon tofu which was also delicious, served with shrimp ( head on) and mussels ( they were out of oysters on this night).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7924">Next</a></li>
</ul>