<% provide :title, 'Opinion Target 5726' %><h2>lamb skewer combo<br />occurrence: 1</h2><div><ol><li>Came in and picked up a beef and lamb skewer combo and some persian sweets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5727">Next</a></li>
</ul>