<% provide :title, 'Opinion Target 2145' %><h2>Pistachio ice cream<br />occurrence: 2</h2><div><ol><li>Pistachio ice cream was different from every other place and tasted like actual pistachios and not artificial flavour.</li><li>I took some of my hubby 's pistachio ice cream and that was absolutely divine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2144">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2146">Next</a></li>
</ul>