<% provide :title, 'Opinion Target 6477' %><h2>aspic<br />occurrence: 1</h2><div><ol><li>I would say this is not the best aspic I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6478">Next</a></li>
</ul>