<% provide :title, 'Opinion Target 572' %><h2>gyros<br />occurrence: 6</h2><div><ol><li>The souvlaki, steak, and gyros are all viable options in the order mentioned!</li><li>It was supposed to be gyros, souvlaki, fillet mignon, lamb chops for the meat platter.</li><li>The Gyros were dry and cardboardy, the lamb had no life left in it.</li><li>Try the gyros on a pita, or lamb on a bun.</li><li>I ordered the gyros and my boyfriend ordered the lamb.</li><li>Most of the menu items are homemade except for the gyros and the fish filet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_571">Previous</a></li>
  <li class="next"><a href=".\opinion_target_573">Next</a></li>
</ul>