<% provide :title, 'Opinion Target 2234' %><h2>stinky hot pot<br />occurrence: 1</h2><div><ol><li>- It has traditional Taiwanese food, such as stinky tofu, stinky hot pot, taiwanese sausages, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2235">Next</a></li>
</ul>