<% provide :title, 'Opinion Target 5790' %><h2>frankfurter<br />occurrence: 1</h2><div><ol><li>Some suggestions:- frankfurter savoury crepe ( just trust me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5791">Next</a></li>
</ul>