<% provide :title, 'Opinion Target 2408' %><h2>bbq eel sushi<br />occurrence: 1</h2><div><ol><li>I posted a picture of their bbq eel sushi which looks like a cucumber roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2409">Next</a></li>
</ul>