<% provide :title, 'Opinion Target 3195' %><h2>pide<br />occurrence: 1</h2><div><ol><li>The pide was great too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3196">Next</a></li>
</ul>