<% provide :title, 'Opinion Target 2339' %><h2>eggplant in black bean sauce sauce<br />occurrence: 1</h2><div><ol><li>We ordered mushroom egg foo young, spring rolls, spicy eggplant in black bean sauce sauce with tofu, mixed vegetables, vegetable lo mein, vegetable fried rice, and mushroom egg drop soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2340">Next</a></li>
</ul>