<% provide :title, 'Opinion Target 8742' %><h2>Charcoal Broiled Black Angus Striploin Steak with roasted new potatoes , shaved black truffles w / shitake mushroom peppercorn sauce<br />occurrence: 1</h2><div><ol><li>I got to sample the Charcoal Broiled Black Angus Striploin Steak with roasted new potatoes, shaved black truffles w/ shitake mushroom peppercorn sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8743">Next</a></li>
</ul>