<% provide :title, 'Opinion Target 2924' %><h2>shawarma grills<br />occurrence: 1</h2><div><ol><li>The meat was on the shawarma grills and the rest of the items were kept in a cool salad bar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2925">Next</a></li>
</ul>