<% provide :title, 'Opinion Target 4501' %><h2>garlic mash sauce<br />occurrence: 1</h2><div><ol><li>The chicken and beef tasted juicy and their garlic mash sauce tasted really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4502">Next</a></li>
</ul>