<% provide :title, 'Opinion Target 9617' %><h2>Chana Masada<br />occurrence: 1</h2><div><ol><li>Next, lets discuss the food: The pulao was good and so was the Chana Masada.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9618">Next</a></li>
</ul>