<% provide :title, 'Opinion Target 1807' %><h2>omelet<br />occurrence: 2</h2><div><ol><li>They skimped on the peanuts ( maybe 1 teaspoon on top of omelet), which is usually my favourite part.</li><li>To me, it looked like it very much resembled an omelet that was rolled up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1806">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1808">Next</a></li>
</ul>