<% provide :title, 'Opinion Target 7199' %><h2>Korean version<br />occurrence: 1</h2><div><ol><li>The Korean version is dolled up with loads of sesame oil, pine nuts, garlic, and a farm fresh raw egg ( no bacon or rich creamery butter).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7198">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7200">Next</a></li>
</ul>