<% provide :title, 'Opinion Target 8483' %><h2>chicken breaded cutlet<br />occurrence: 1</h2><div><ol><li>The chicken breaded cutlet here also delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8482">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8484">Next</a></li>
</ul>