<% provide :title, 'Opinion Target 5902' %><h2>potato milkshake<br />occurrence: 1</h2><div><ol><li>Looked and kinda tasted like a sweet potato milkshake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5903">Next</a></li>
</ul>