<% provide :title, 'Opinion Target 4923' %><h2>hummus with sausage<br />occurrence: 1</h2><div><ol><li>3 The hummus with sausage had lost the nice spicy flavor the sausage used to have ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4924">Next</a></li>
</ul>