<% provide :title, 'Opinion Target 6628' %><h2>bubble tea and taiwanese style food<br />occurrence: 1</h2><div><ol><li>I only recommend this place if you really want bubble tea and taiwanese style food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6629">Next</a></li>
</ul>