<% provide :title, 'Opinion Target 1038' %><h2>steak dinner<br />occurrence: 3</h2><div><ol><li>My boyfriend got the steak dinner which was good although the sides were sub-par.</li><li>It has been our fall/winter go-to when we want a good steak dinner.</li><li>So theoretically speaking, I could sub my eggs for salad, my bread for soup, and I could have a full on steak dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1039">Next</a></li>
</ul>