<% provide :title, 'Opinion Target 7840' %><h2>poached eggs with chipotle hollandaise sauce on chorizo sausage<br />occurrence: 1</h2><div><ol><li>But then I decided to have the Mexican Benny instead, poached eggs with chipotle hollandaise sauce on chorizo sausage and a corn biscuit, with baked beans and home fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7839">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7841">Next</a></li>
</ul>