<% provide :title, 'Opinion Target 4988' %><h2>chicken wing orders<br />occurrence: 1</h2><div><ol><li>Wait staff does n't acknowledge you ( was n't til 10 minutes later she got our drink order), food came 30 mins after, the server 's excuse was `` we had a lot of chicken wing orders tonight''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4989">Next</a></li>
</ul>