<% provide :title, 'Opinion Target 6583' %><h2>veal cutlet sandwiches<br />occurrence: 1</h2><div><ol><li>Definitely one of the better chicken and veal cutlet sandwiches I have ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6584">Next</a></li>
</ul>