<% provide :title, 'Opinion Target 2687' %><h2>processed food<br />occurrence: 1</h2><div><ol><li>Horrible processed food not sure why anyone would give it a good rating.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2688">Next</a></li>
</ul>