<% provide :title, 'Opinion Target 6780' %><h2>caramelized red cabbage<br />occurrence: 1</h2><div><ol><li>I particularly like the caramelized red cabbage.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6779">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6781">Next</a></li>
</ul>