<% provide :title, 'Opinion Target 6356' %><h2>disposable plastic cups<br />occurrence: 1</h2><div><ol><li>Melted butter go in little disposable plastic cups so that the butter has coagulated and formed chunks at the bottom of the cup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6357">Next</a></li>
</ul>