<% provide :title, 'Opinion Target 6417' %><h2>Ovaltine<br />occurrence: 1</h2><div><ol><li>Also a note, do n't order any drink that needs to be made ( Ovaltine, Horlicks, smoothie, etc) unless you feel like receiving it AFTER you get the bill.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6416">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6418">Next</a></li>
</ul>