<% provide :title, 'Opinion Target 2668' %><h2>baked cake<br />occurrence: 1</h2><div><ol><li>The owner sometimes will have fresh baked cake which tastes great with coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2667">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2669">Next</a></li>
</ul>