<% provide :title, 'Opinion Target 6633' %><h2>tofu seafood soup<br />occurrence: 1</h2><div><ol><li>I had the spicy tofu seafood soup ( came w/ rice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6632">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6634">Next</a></li>
</ul>