<% provide :title, 'Opinion Target 6743' %><h2>black pepper beef<br />occurrence: 1</h2><div><ol><li>Tried the black pepper beef, general Tao chicken with coconut rice on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6742">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6744">Next</a></li>
</ul>