<% provide :title, 'Opinion Target 5591' %><h2>scallion pancake<br />occurrence: 1</h2><div><ol><li>A free scallion pancake was provided but nothing to write home about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5592">Next</a></li>
</ul>