<% provide :title, 'Opinion Target 1195' %><h2>fajitas<br />occurrence: 3</h2><div><ol><li>Always get the fajitas.</li><li>The friend that got the fajitas complained he only had 3 tortillas with his dish but they gave him a good serving of rice on the side to make up for that.</li><li>20 $ pp ( no drinks) I specially enjoyed the fajitas, they were very flavourful and tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1196">Next</a></li>
</ul>