<% provide :title, 'Opinion Target 2944' %><h2>veg fried rice<br />occurrence: 1</h2><div><ol><li>We ordered the sexy summer salad rolls, veg spring rolls, veg fried rice &amp; some noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2943">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2945">Next</a></li>
</ul>