<% provide :title, 'Opinion Target 6797' %><h2>metal tables<br />occurrence: 1</h2><div><ol><li>Just get take out. or eat outside of Pizza Nova on the metal tables and enjoy the view of North Korea ( town).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6796">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6798">Next</a></li>
</ul>