<% provide :title, 'Opinion Target 6526' %><h2>Mango chicken and shrimp dish<br />occurrence: 1</h2><div><ol><li>Lobster, done the traditional way with green onion, Mango chicken and shrimp dish- unique flavour combo- we enjoyed it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6527">Next</a></li>
</ul>