<% provide :title, 'Opinion Target 2952' %><h2>tornado rolls<br />occurrence: 1</h2><div><ol><li>Maybe it 's the tornado rolls ... maybe it 's the mouth watering summer rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2953">Next</a></li>
</ul>