<% provide :title, 'Opinion Target 4287' %><h2>eggplant dish<br />occurrence: 1</h2><div><ol><li>The eggplant dish I ordered barely had eggplants .. more onions and red peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4288">Next</a></li>
</ul>