<% provide :title, 'Opinion Target 3903' %><h2>ranch sauce<br />occurrence: 1</h2><div><ol><li>Note: Apparently you can ask for ranch sauce rather than the standard blue cheese dip for your wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3904">Next</a></li>
</ul>