<% provide :title, 'Opinion Target 3713' %><h2>pho beef brisket<br />occurrence: 1</h2><div><ol><li>Had the pho beef brisket here this time, and the fried spring rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3714">Next</a></li>
</ul>