<% provide :title, 'Opinion Target 4966' %><h2>Sunshine Spot<br />occurrence: 1</h2><div><ol><li>The Sunshine Spot is this small restaurant serving up brunch options like an All-Day Breakfast for $ 7.99 or little specialties like eggs benedict, french toast, and breakfast tacos/sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4965">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4967">Next</a></li>
</ul>