<% provide :title, 'Opinion Target 2840' %><h2>eat Crispy ginger beef<br />occurrence: 1</h2><div><ol><li>Quick eat Crispy ginger beef came burnt as shit and they did n't slice up the beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2839">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2841">Next</a></li>
</ul>