<% provide :title, 'Opinion Target 7865' %><h2>salmon sushi special<br />occurrence: 1</h2><div><ol><li>The salmon sushi special that my GF got was packed with a lot of salmon actually.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7866">Next</a></li>
</ul>