<% provide :title, 'Opinion Target 1721' %><h2>breakfast specials<br />occurrence: 2</h2><div><ol><li>The breakfast specials are really good deals ( juice/coffee/eggs/meat/potatoes) and the portion sizes are hefty.</li><li>They have great breakfast specials so you could easily get a combo for $ 8 or less.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1722">Next</a></li>
</ul>