<% provide :title, 'Opinion Target 7827' %><h2>eat-in breakfast<br />occurrence: 1</h2><div><ol><li>Prices range from $ 4.99 for the eat-in breakfast ( 7-11 am) to $ 14 for the special chorizo hash.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7828">Next</a></li>
</ul>