<% provide :title, 'Opinion Target 1797' %><h2>chilli peppers<br />occurrence: 2</h2><div><ol><li>Like the spicy popcorn chicken covered with dried chilli peppers is mainly little bits and pieces of meat, no actual good pieces of meat.</li><li>If you ask for it to be spicier they simply put in thinly sliced green chilli peppers which I find simply insulting because it 's not how it should be prepped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1796">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1798">Next</a></li>
</ul>