<% provide :title, 'Opinion Target 1030' %><h2>sushi combo<br />occurrence: 3</h2><div><ol><li>The sashimi and sushi combo sets offer a wide selection of fresh fish and the presentation speaks for itself in these photos.</li><li>Worst sushi combo ever.</li><li>Stopping in for a mid afternoon lunch, I had the sushi combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1031">Next</a></li>
</ul>