<% provide :title, 'Opinion Target 9453' %><h2>Veggie Rice Noodle<br />occurrence: 1</h2><div><ol><li>-Beef &amp; Veggie Rice Noodle ( $ 8.25) leaned towards the dry end of the spectrum.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9454">Next</a></li>
</ul>