<% provide :title, 'Opinion Target 1437' %><h2>jellies<br />occurrence: 2</h2><div><ol><li>They have a great great line up of imported jams, jellies and cookies.</li><li>The manager Kai, messed up my order ( do n't know how many messed up orders he did beforehand, causing a long line) he can not tell the difference between the different jellies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1438">Next</a></li>
</ul>