<% provide :title, 'Opinion Target 6763' %><h2>sushi bong special and chirashi<br />occurrence: 1</h2><div><ol><li>Their sashimi is fresh, and I love the specials that they offer ( sushi bong special and chirashi are my favourites).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6762">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6764">Next</a></li>
</ul>