<% provide :title, 'Opinion Target 3490' %><h2>rice noodle w / black bean beef<br />occurrence: 1</h2><div><ol><li>Their rice noodle w/ black bean beef is also well delicious ( I 'm a texture slut, so rice noodles are always a must for me @ SG despite them not being very hakka-esque) I could go on and on with dishes like the Peanut Chicken, Sizzling Shrimp and Spicy Spare Garlic Ribs, but yo just need to go and experience it for yourself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3491">Next</a></li>
</ul>