<% provide :title, 'Opinion Target 8962' %><h2>beer special<br />occurrence: 1</h2><div><ol><li>Servers are all very nice, happy to be there, ( and easy on the eyes I must admit) I had the burger and beer special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8963">Next</a></li>
</ul>