<% provide :title, 'Opinion Target 5164' %><h2>fried rice orders<br />occurrence: 1</h2><div><ol><li>Actually, it 's good enough that I might just replace my regular fried rice orders with this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5165">Next</a></li>
</ul>