<% provide :title, 'Opinion Target 3063' %><h2>salmon sashimi lunch<br />occurrence: 1</h2><div><ol><li>The food was also surprisingly good, and portions are unusually generous: The salmon sashimi lunch actually has enough pieces to not leave you still hungry yet does n't cost an arm and a leg, the bento box was varied and tasted good, and when I tried the kalbi dinner, the plate was stacked with so many large pieces that it puts to shame most other kalbi entrees I 've tried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3064">Next</a></li>
</ul>