<% provide :title, 'Opinion Target 5297' %><h2>dynamite roll special<br />occurrence: 1</h2><div><ol><li>My recommendations are to go for take-out ( unless it 's warmer outside and you do n't mind being enclosed in such a tiny space) and order any of the specials as it 's the tastiest and what they 're best known for ( the dynamite roll special is their most popular order).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5298">Next</a></li>
</ul>