<% provide :title, 'Opinion Target 6604' %><h2>tea itself<br />occurrence: 1</h2><div><ol><li>The tea itself was meh, like a watered down purple sugary mix.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6603">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6605">Next</a></li>
</ul>