<% provide :title, 'Opinion Target 3676' %><h2>chicken breast roti<br />occurrence: 1</h2><div><ol><li>My fav is the chicken breast roti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3677">Next</a></li>
</ul>