<% provide :title, 'Opinion Target 9124' %><h2>Gyoza dumplings<br />occurrence: 1</h2><div><ol><li>Let 's start with the appetizers,- Gyoza dumplings, shrimp tempura is pretty good nothing special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9125">Next</a></li>
</ul>