<% provide :title, 'Opinion Target 5324' %><h2>non-sushi dishes<br />occurrence: 1</h2><div><ol><li>Avoid the non-sushi dishes!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5325">Next</a></li>
</ul>