<% provide :title, 'Opinion Target 797' %><h2>marinade<br />occurrence: 4</h2><div><ol><li>I only wish they sold the marinade!</li><li>Because their marinade is likely some sort of brine, in my experience, their white meat pieces have never, ever been dry.</li><li>I love the simple marinade that the chicken and pork are in.</li><li>The marinade itself is sweet and savory with a bit on the sweet side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_796">Previous</a></li>
  <li class="next"><a href=".\opinion_target_798">Next</a></li>
</ul>