<% provide :title, 'Opinion Target 2164' %><h2>Lamb pancakes<br />occurrence: 2</h2><div><ol><li>Beef or Lamb pancakes- can be oily but the bun has a nice texture.</li><li>Lamb Pancakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2165">Next</a></li>
</ul>