<% provide :title, 'Opinion Target 9255' %><h2>Bearnaise sauce<br />occurrence: 1</h2><div><ol><li>We ordered a Chateaubriand Bouquetiere ( for 2) which is basically a giant beef tenderloin served with lots of grilled veggies, potatoes and Bearnaise sauce on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9256">Next</a></li>
</ul>