<% provide :title, 'Opinion Target 1206' %><h2>iced tea<br />occurrence: 3</h2><div><ol><li>The iced tea costed $ 2.99 ?</li><li>I opted to share it and also had cold pickles, split pea soup, and a nice strong iced tea.</li><li>And, similarly, I 'm sure my iced tea was a Liptons product.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1207">Next</a></li>
</ul>