<% provide :title, 'Opinion Target 2397' %><h2>Korean tofu<br />occurrence: 2</h2><div><ol><li>An above average Korean tofu joint.</li><li>Like most other Korean Tofu Soup locations, they had meal options that included a soup, rice, and, of course, side-dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2398">Next</a></li>
</ul>