<% provide :title, 'Opinion Target 7183' %><h2>kimchi jigae dish<br />occurrence: 1</h2><div><ol><li>Turns out that I did n't have any meat whatsoever in my kimchi jigae dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7184">Next</a></li>
</ul>