<% provide :title, 'Opinion Target 2708' %><h2>steak bacon<br />occurrence: 1</h2><div><ol><li>Do n't order the steak bacon wrapped skewers complete waste ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2707">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2709">Next</a></li>
</ul>