<% provide :title, 'Opinion Target 1444' %><h2>beef skewers<br />occurrence: 3</h2><div><ol><li>I liked the sizzling beef skewers and the lamb skewers.</li><li>I ordered the beef skewers as well and i can guarantee you that it was not beef.</li><li>We had a laffa wrap and a box with beef skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1445">Next</a></li>
</ul>