<% provide :title, 'Opinion Target 1404' %><h2>Shrimp Pad Thai<br />occurrence: 3</h2><div><ol><li>I had a variety of items ... the Shrimp Pad Thai was pretty good, but I personally like mine a little bit more spicy.</li><li>For our meal, we had the crispy beef, shrimp pad thai, and rice with panang curry- all very good.</li><li>Shrimp Pad Thai has tons of shrimp and decent sized ones too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1405">Next</a></li>
</ul>