<% provide :title, 'Opinion Target 4128' %><h2>salmon teriyaki with shrimp tempura roll bento<br />occurrence: 1</h2><div><ol><li>We also had the salmon teriyaki with shrimp tempura roll bento, it 's alright for $ 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4127">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4129">Next</a></li>
</ul>