<% provide :title, 'Opinion Target 3685' %><h2>sofas<br />occurrence: 1</h2><div><ol><li>The sofas look like they were stolen from the common room of a college dorm and free pool on a table salvaged from the junkyard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3686">Next</a></li>
</ul>