<% provide :title, 'Opinion Target 4478' %><h2>skewers of chicken breast<br />occurrence: 1</h2><div><ol><li>Although the shish tawouk was fresh and juicy and you got 2 skewers of chicken breast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4479">Next</a></li>
</ul>