<% provide :title, 'Opinion Target 7187' %><h2>banchan ( sidedishes )<br />occurrence: 1</h2><div><ol><li>The thing that kept me coming back to this place was their variety of banchan ( sidedishes) I always felt they mixed it up regularly and provided a pretty good assortment with every meal ordered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7188">Next</a></li>
</ul>