<% provide :title, 'Opinion Target 2070' %><h2>Chocolate Truffle Cake<br />occurrence: 2</h2><div><ol><li>Last time when I dined at Trapper 's they were sold out of their Chocolate Truffle Cake- so this time, since my beloved Lemon Tart was not making an appearance- I opted for the said cake.</li><li>The Chocolate truffle cake is real moist.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2071">Next</a></li>
</ul>