<% provide :title, 'Opinion Target 7302' %><h2>fried rice noodles with shrimps and scrambled egg sauce<br />occurrence: 1</h2><div><ol><li>My favourite is their fried rice noodles with shrimps and scrambled egg sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7303">Next</a></li>
</ul>