<% provide :title, 'Opinion Target 8623' %><h2>salmon skewers<br />occurrence: 1</h2><div><ol><li>I had the salmon dinner which also was cooked perfectly ( most similar restaurants have a tendency of overcooking the salmon skewers leading to a very dry and non enjoyable meal) and had an amazing seasoning blend, yum!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8624">Next</a></li>
</ul>