<% provide :title, 'Opinion Target 2539' %><h2>pinot noir<br />occurrence: 1</h2><div><ol><li>Their pinot noir was yum and we finished it off with sake ofcourse.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2540">Next</a></li>
</ul>