<% provide :title, 'Opinion Target 6952' %><h2>table syrup<br />occurrence: 1</h2><div><ol><li>One of the gripes I had with this was that they did n't serve it with maple syrup, instead they had table syrup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6953">Next</a></li>
</ul>