<% provide :title, 'Opinion Target 5837' %><h2>frothy hot milk<br />occurrence: 1</h2><div><ol><li>Very legitimate ~ The frothy hot milk was very fun to drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5836">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5838">Next</a></li>
</ul>