<% provide :title, 'Opinion Target 1977' %><h2>Deep fried banana<br />occurrence: 2</h2><div><ol><li>Deep fried banana was awful.</li><li>For desserts, the Deep Fried Banana is yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1978">Next</a></li>
</ul>