<% provide :title, 'Opinion Target 6686' %><h2>squid and shrimp mixed in<br />occurrence: 1</h2><div><ol><li>This option had chicken, mussels, cabbage, squid and shrimp mixed in.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6687">Next</a></li>
</ul>