<% provide :title, 'Opinion Target 7007' %><h2>eithier skirt steak<br />occurrence: 1</h2><div><ol><li>It was similar to carne asada- a marinated, tender piece of meat ( eithier skirt steak, flank, or something similar).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7008">Next</a></li>
</ul>