<% provide :title, 'Opinion Target 8429' %><h2>cake and sangria<br />occurrence: 1</h2><div><ol><li>The cake and sangria was good but the environment and service was substandard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8430">Next</a></li>
</ul>