<% provide :title, 'Opinion Target 3585' %><h2>vegetarian food<br />occurrence: 1</h2><div><ol><li>Cora 's is the only breakfast place that offers o much variety of vegetarian food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3584">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3586">Next</a></li>
</ul>