<% provide :title, 'Opinion Target 5617' %><h2>champong<br />occurrence: 1</h2><div><ol><li>But the actual champong was average ( sorry to say).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5618">Next</a></li>
</ul>