<% provide :title, 'Opinion Target 6823' %><h2>pork momo<br />occurrence: 1</h2><div><ol><li>Ex. we wanted to order the combo ( cold noodles, pork momo, &amp; orange soda) but they did n't have it because the momos ran out, so we just ordered the cold noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6822">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6824">Next</a></li>
</ul>