<% provide :title, 'Opinion Target 5853' %><h2>duck red curry<br />occurrence: 1</h2><div><ol><li>While I much prefer the prices of the parent Salad King downtown, I would come back just for the duck red curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5854">Next</a></li>
</ul>