<% provide :title, 'Opinion Target 3601' %><h2>meat entrees<br />occurrence: 1</h2><div><ol><li>The menu was n't impressive at all, with the few choice of meat entrees being at least $ 18.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3602">Next</a></li>
</ul>