<% provide :title, 'Opinion Target 2873' %><h2>stinky miso soup<br />occurrence: 1</h2><div><ol><li>Especially well-known for the oh-so-delicious, fermented cheong-guk-jang ( think stinky miso soup or Japanese natto in soup form) or raw ( blue) crab marinated in either soy sauce ( recommended) or hot spicy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2874">Next</a></li>
</ul>