<% provide :title, 'Opinion Target 6199' %><h2>Purple sticky rice<br />occurrence: 1</h2><div><ol><li>The highlight to the meal in my opinion was the preparation, presentation and service of the famous Purple sticky rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6198">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6200">Next</a></li>
</ul>