<% provide :title, 'Opinion Target 6668' %><h2>tempura lunchbox<br />occurrence: 1</h2><div><ol><li>The tempura lunchbox was huge, bigger than most I 've seen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6667">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6669">Next</a></li>
</ul>