<% provide :title, 'Opinion Target 4788' %><h2>grilled chicken heart skewers<br />occurrence: 1</h2><div><ol><li>I was pleasantly surprized that they offered grilled chicken heart skewers and sizzling flounder on the menu and gladly ordered a few rounds to indulge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4789">Next</a></li>
</ul>