<% provide :title, 'Opinion Target 1279' %><h2>soybean soup<br />occurrence: 3</h2><div><ol><li>The salty soybean soup is seasoned with slices of fried dough fritter, pork floss and pickled veggies.</li><li>My soybean soup was the best or second best I have tried in Toronto.</li><li>Grandpa got the soybean soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1280">Next</a></li>
</ul>