<% provide :title, 'Opinion Target 4767' %><h2>hot pot style<br />occurrence: 1</h2><div><ol><li>Watching the food heating up from in front of you while munching on banchen, hot pot style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4768">Next</a></li>
</ul>