<% provide :title, 'Opinion Target 5526' %><h2>Penne Arrabiatta<br />occurrence: 1</h2><div><ol><li>My Penne Arrabiatta was also just ok, they need to work on the perfecting the sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5527">Next</a></li>
</ul>