<% provide :title, 'Opinion Target 6544' %><h2>chicken thigh<br />occurrence: 1</h2><div><ol><li>Otherwise, the default is chicken thigh).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6543">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6545">Next</a></li>
</ul>