<% provide :title, 'Opinion Target 6000' %><h2>meat knish<br />occurrence: 1</h2><div><ol><li>Also, it was a meat knish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6001">Next</a></li>
</ul>