<% provide :title, 'Opinion Target 6311' %><h2>chocolate cream puff<br />occurrence: 1</h2><div><ol><li>I had a cappuccino and a chocolate cream puff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6310">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6312">Next</a></li>
</ul>