<% provide :title, 'Opinion Target 3546' %><h2>bacon bits<br />occurrence: 1</h2><div><ol><li>My husband ordered a caesar salad and the bacon bits were the sort of fake, packaged kind an the muchrooms for the sandwich were from a can.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3545">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3547">Next</a></li>
</ul>