<% provide :title, 'Opinion Target 1323' %><h2>lunches<br />occurrence: 3</h2><div><ol><li>The lunches are more economical.</li><li>Their lunches on their menu come with a dessert, which is usually a pudding of some sort with evaporated milk.</li><li>Mmm ... and what enviable lunches you 'll feast on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1324">Next</a></li>
</ul>