<% provide :title, 'Opinion Target 3414' %><h2>acorn jelly<br />occurrence: 1</h2><div><ol><li>The seasoned vegetables ( which topped the bibimbap) were fresh and meticulously prepared; some were also uncommon like the acorn jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3413">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3415">Next</a></li>
</ul>