<% provide :title, 'Opinion Target 3733' %><h2>lichon kawali<br />occurrence: 1</h2><div><ol><li>We got the lichon kawali, which was deliciously crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3732">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3734">Next</a></li>
</ul>