<% provide :title, 'Opinion Target 8500' %><h2>chicken with rapini<br />occurrence: 1</h2><div><ol><li>Ordered the veal with veggies, and chicken with rapini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8499">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8501">Next</a></li>
</ul>