<% provide :title, 'Opinion Target 2254' %><h2>lettuce variety<br />occurrence: 1</h2><div><ol><li>They have 2-3 different soups, lots of salads ( not just the lettuce variety, but pasta salads, grains etc), veggies, bread, flatbreads and some desserty items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2253">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2255">Next</a></li>
</ul>