<% provide :title, 'Opinion Target 2807' %><h2>beef cutlet<br />occurrence: 1</h2><div><ol><li>The beef cutlet tasted like mashed potatoes stuffed with ground beef and spices and then fried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2806">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2808">Next</a></li>
</ul>