<% provide :title, 'Opinion Target 6438' %><h2>congee dishes<br />occurrence: 1</h2><div><ol><li>Their soups and noodle soups are great, and their congee dishes are excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6439">Next</a></li>
</ul>