<% provide :title, 'Opinion Target 8175' %><h2>sauce and ground beef<br />occurrence: 1</h2><div><ol><li>I usually get the lasagna, with the generous amount of sauce and ground beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8174">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8176">Next</a></li>
</ul>