<% provide :title, 'Opinion Target 6091' %><h2>bbq lamb<br />occurrence: 1</h2><div><ol><li>The BBQ menu was excellent bbq lamb, chicken and beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6090">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6092">Next</a></li>
</ul>