<% provide :title, 'Opinion Target 5338' %><h2>sushi bong bong<br />occurrence: 1</h2><div><ol><li>However for the value I would not expect the most amazing sushi and if this place was near my house then I imagine I would continue to come here but oh well sushi bong bong that will not be the case.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5339">Next</a></li>
</ul>