<% provide :title, 'Opinion Target 3439' %><h2>veal bimbimbap<br />occurrence: 1</h2><div><ol><li>We tried the grilled short rib patty and veal bimbimbap- loved both dishes as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3438">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3440">Next</a></li>
</ul>