<% provide :title, 'Opinion Target 3069' %><h2>red bean topping<br />occurrence: 1</h2><div><ol><li>The red bean topping was homemade and it was n't very sweet, the texture was rough dough-like but I thought it was okay overall.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3070">Next</a></li>
</ul>