<% provide :title, 'Opinion Target 8464' %><h2>food menu offerings<br />occurrence: 1</h2><div><ol><li>Despite being grand at desserts, their regular food menu offerings were n't too bad at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8463">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8465">Next</a></li>
</ul>