<% provide :title, 'Opinion Target 3890' %><h2>soup with wheat flour noodles serves with rice<br />occurrence: 1</h2><div><ol><li>Sul Lung Tang- Beef Bone Soup ( $ 7.95) a milky, cloudy soup with wheat flour noodles serves with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3891">Next</a></li>
</ul>