<% provide :title, 'Opinion Target 3214' %><h2>brown meat<br />occurrence: 1</h2><div><ol><li>The brown meat was not too terrible ( the white was) but once I poured the salted-dishwater gravy over it, it was all ruined anyway.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3213">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3215">Next</a></li>
</ul>