<% provide :title, 'Opinion Target 7231' %><h2>blood sausage plus steamed internals<br />occurrence: 1</h2><div><ol><li>They had modeum soondae, which means the blood sausage plus steamed internals, for about $ 20.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7232">Next</a></li>
</ul>