<% provide :title, 'Opinion Target 4578' %><h2>mango rice<br />occurrence: 1</h2><div><ol><li>Sticky mango rice was a great way to finish the meal even for someone like me who does n't like sweets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4579">Next</a></li>
</ul>