<% provide :title, 'Opinion Target 4863' %><h2>ramen dishes<br />occurrence: 1</h2><div><ol><li>Good: sizzling flounder, rock shrimp Okay: fried rice Bad: Any of the ramen dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4862">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4864">Next</a></li>
</ul>