<% provide :title, 'Opinion Target 2103' %><h2>mango meringue<br />occurrence: 2</h2><div><ol><li>The mango meringue is my favorite.</li><li>I had a slice of the mango meringue and a slice of strawberry meringue.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2104">Next</a></li>
</ul>