<% provide :title, 'Opinion Target 2570' %><h2>hwae duk bab<br />occurrence: 1</h2><div><ol><li>I had hwae duk bab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2571">Next</a></li>
</ul>