<% provide :title, 'Opinion Target 7669' %><h2>bagelwich breakfast sandwich<br />occurrence: 1</h2><div><ol><li>I 've gotten the bagelwich breakfast sandwich every time and I love it here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7670">Next</a></li>
</ul>