<% provide :title, 'Opinion Target 8542' %><h2>salmon avocado california rolls<br />occurrence: 1</h2><div><ol><li>My favourites are the salmon avocado california rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8543">Next</a></li>
</ul>