<% provide :title, 'Opinion Target 5657' %><h2>original fried chicken<br />occurrence: 1</h2><div><ol><li>The original fried chicken was our favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5658">Next</a></li>
</ul>