<% provide :title, 'Opinion Target 8000' %><h2>tasting tofu stew<br />occurrence: 1</h2><div><ol><li>Not only is it the best tasting tofu stew I 've tried anywhere in Toronto, it 's also the best value by far because it comes with a stone pot rice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8001">Next</a></li>
</ul>