<% provide :title, 'Opinion Target 6350' %><h2>Garlic jumbo shrimps<br />occurrence: 1</h2><div><ol><li>Garlic jumbo shrimps ( $ 32) were good, but again, nothing special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6351">Next</a></li>
</ul>