<% provide :title, 'Opinion Target 2896' %><h2>yuca<br />occurrence: 1</h2><div><ol><li>I think they 've changed chefs or receipes the empanadas ordered today was awfully drenched with oil bad oil as matter of fact and the stuffing inside was salty and tasteless was a bad experience do n't think I 'll be coming back here for my empenada craving Waited 30 minutes for two pupusas and 40 minutes for ceviche and yuca con chicharon, the yuca and chicharon was probably fried with old oil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2897">Next</a></li>
</ul>