<% provide :title, 'Opinion Target 1649' %><h2>sashimi special<br />occurrence: 2</h2><div><ol><li>I had the lunch sushi and sashimi special and I thought it was great- all the pieces were fresh and proportions were big enough to fill me up for lunch.</li><li>They have this sashimi special where it 's 18 pieces for less than 10 dollars.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1650">Next</a></li>
</ul>