<% provide :title, 'Opinion Target 1856' %><h2>Ceaser salad<br />occurrence: 2</h2><div><ol><li>FOOD: started off with a `` small'' Ceaser salad.</li><li>Try the ceaser salad, and any of the pasta dishes!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1855">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1857">Next</a></li>
</ul>