<% provide :title, 'Opinion Target 6827' %><h2>Lamb soup noodles<br />occurrence: 1</h2><div><ol><li>Lamb soup noodles: the soup is so well done.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6828">Next</a></li>
</ul>