<% provide :title, 'Opinion Target 8310' %><h2>dessert soup of red bean<br />occurrence: 1</h2><div><ol><li>Dessert was fried egg whites covered in sugar, and house dessert soup of red bean, purple rice, and tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8311">Next</a></li>
</ul>