<% provide :title, 'Opinion Target 2137' %><h2>honey sauce<br />occurrence: 2</h2><div><ol><li>The dessert I had the fried bananas which was timbit shaped banana bites with a honey sauce- it did n't come with any ice cream or whipped cream as I expected.</li><li>Hot and honey sauce taste good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2138">Next</a></li>
</ul>