<% provide :title, 'Opinion Target 3246' %><h2>Wild Salmon<br />occurrence: 1</h2><div><ol><li>Then for my main, I had the lovely Wild Salmon which sat atop a bed of lovely quinoa and bak choy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3247">Next</a></li>
</ul>