<% provide :title, 'Opinion Target 1589' %><h2>stewed pork<br />occurrence: 2</h2><div><ol><li>I especially love their beef noodle soup, stewed pork w/ rice, and fried milk dessert!</li><li>I had a pozole ( spicey stewed pork, corn soup), it was a good portion as it came with a fried tortilla with sour cream, and all the condiments to put into the soup ( radish, lettuce, oregano, cayenne pepper powder, onions) my husband had the combo which came with an enchilada, a burrito, and refried beans in a taco basket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1590">Next</a></li>
</ul>