<% provide :title, 'Opinion Target 4639' %><h2>ceramic dishes<br />occurrence: 1</h2><div><ol><li>The meals arrived tepid ... the Brisket was chewy, with the attached beans and slaw served in small ceramic dishes, resembling the urine sample containers at the Doctor 's office ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4640">Next</a></li>
</ul>