<% provide :title, 'Opinion Target 1186' %><h2>jerk pork sandwich<br />occurrence: 3</h2><div><ol><li>Decided to have the jerk pork sandwich and asked if I could get it only mildly spicy.</li><li>Grew up on their Jerk Pork sandwich, absolutely fantastic.</li><li>I was going to get the jerk chicken dinner, but I opted for the jerk pork sandwich because they had it on special for $ 5 and change and comes with a pop. The sandwich is their jerk pork wrapped inside their coco bread served with coleslaw and hot sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1187">Next</a></li>
</ul>