<% provide :title, 'Opinion Target 864' %><h2>lamb burger<br />occurrence: 5</h2><div><ol><li>I had the lamb burger and sweet potato fries.</li><li>I had lamb burger, which was ok.</li><li>Lamb poutine and lamb burger is my fav on their menu.</li><li>Next time we will order some of the lamb burger, boiled dumplings and soup noodle.</li><li>Lamb burger stick laffa sounds complicated.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_863">Previous</a></li>
  <li class="next"><a href=".\opinion_target_865">Next</a></li>
</ul>