<% provide :title, 'Opinion Target 5452' %><h2>coco tea<br />occurrence: 1</h2><div><ol><li>But note that their competition is moving in left and right ( coco tea on Finch west of Yonge, ShareTea in the north way town nook, Gong Cha across the street, and then the smaller ones like Mabu Station, Sweet o' clock etc).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5451">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5453">Next</a></li>
</ul>