<% provide :title, 'Opinion Target 1642' %><h2>fried foods<br />occurrence: 2</h2><div><ol><li>For chains such as these I 've come to believe it 's best to stay with tried and true classics such as burgers and fried foods ( I mean, there 's much less to mess up here ...).</li><li>It comes with 3 eggs, toast and potatoes but we ask for sliced tomatoes and cukes instead ... trying to cut down on the fried foods ... yeah, yeah, I know my eggs were n't poached.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1641">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1643">Next</a></li>
</ul>