<% provide :title, 'Opinion Target 8320' %><h2>purple rice and tapioca<br />occurrence: 1</h2><div><ol><li>The house dessert on the other hand was disappointing, red bean soup worth purple rice and tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8321">Next</a></li>
</ul>