<% provide :title, 'Opinion Target 6641' %><h2>service button<br />occurrence: 1</h2><div><ol><li>After we were ready to order, we pushed the service button like three times before calling a server passing our table to take our order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6642">Next</a></li>
</ul>