<% provide :title, 'Opinion Target 3458' %><h2>chicken breast skewer<br />occurrence: 1</h2><div><ol><li>Their skewers are HUGE which justifies the price for individual skewers ( 10.99 for chicken breast skewer).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3457">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3459">Next</a></li>
</ul>