<% provide :title, 'Opinion Target 7318' %><h2>dou miu<br />occurrence: 1</h2><div><ol><li>We got 4 items for takeout, signature congee, pan-fried beef rice roll, beef tendon, and oyster mushroom with `` dou miu'' ( green sprouts).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7319">Next</a></li>
</ul>