<% provide :title, 'Opinion Target 5940' %><h2>booths &<br />occurrence: 1</h2><div><ol><li>High ceilings, exquisite works of art, beautiful entrance door, comfy booths &amp; tables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5941">Next</a></li>
</ul>