<% provide :title, 'Opinion Target 4686' %><h2>meat including chicken<br />occurrence: 1</h2><div><ol><li>The noodles were a combination of egg noodles and vermicelli, that included a `` sahog'' of various meat including chicken, shrimp, bits of lechon kawali, and some veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4687">Next</a></li>
</ul>