<% provide :title, 'Opinion Target 5206' %><h2>tzaki<br />occurrence: 1</h2><div><ol><li>( I was informed by another waitress at another time at this same establishment that the tzaki was an extra charge, so I know it is not against restaurant policy to inform the customers of extra charges, but this waitress just did not seem to care.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5207">Next</a></li>
</ul>