<% provide :title, 'Opinion Target 4428' %><h2>spicy beef patty<br />occurrence: 1</h2><div><ol><li>The spicy beef patty does n't taste spicy at first but the spice will creep up on you the more you eat!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4429">Next</a></li>
</ul>