<% provide :title, 'Opinion Target 4039' %><h2>steak but with garlic shrimp and Caesar salad<br />occurrence: 1</h2><div><ol><li>My boyfriend ordered the same steak but with garlic shrimp and Caesar salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4040">Next</a></li>
</ul>