<% provide :title, 'Opinion Target 6603' %><h2>fish ball<br />occurrence: 1</h2><div><ol><li>If you 're a fan of this mix and match, you 'll probably like this place:) Actually the wonton and fish ball is good, but not for the beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6602">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6604">Next</a></li>
</ul>