<% provide :title, 'Opinion Target 3346' %><h2>design of food<br />occurrence: 1</h2><div><ol><li>Moreover the design of food is nice also!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3347">Next</a></li>
</ul>