<% provide :title, 'Opinion Target 3009' %><h2>Chap Chae noodles<br />occurrence: 1</h2><div><ol><li>The Chap Chae noodles was a very big portion and was also tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3010">Next</a></li>
</ul>