<% provide :title, 'Opinion Target 1665' %><h2>enoki mushrooms<br />occurrence: 2</h2><div><ol><li>- Enoki pork roll- a fantastic combo of tasty pork and the satisfying bite of enoki mushrooms- squid sushi- possibly the best sashimi squid I 've ever had.</li><li>I especially liked the baby bok choy and enoki mushrooms since they do not skimp on the mushrooms at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1666">Next</a></li>
</ul>