<% provide :title, 'Opinion Target 3382' %><h2>shawarma pita<br />occurrence: 1</h2><div><ol><li>Good shawarma pita at a good price ( $ 4.99 plus tax).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3383">Next</a></li>
</ul>