<% provide :title, 'Opinion Target 6820' %><h2>Beef Mushroom Rolls<br />occurrence: 1</h2><div><ol><li>The Beef Mushroom Rolls tasted so bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6821">Next</a></li>
</ul>