<% provide :title, 'Opinion Target 6109' %><h2>breakfast sausages<br />occurrence: 1</h2><div><ol><li>I would go again for the orange juice and those breakfast sausages.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6110">Next</a></li>
</ul>