<% provide :title, 'Opinion Target 5121' %><h2>liqour<br />occurrence: 1</h2><div><ol><li>My friend ordered a coffee drink and it was disgusting in my opinion ' cause you could taste the liqour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5122">Next</a></li>
</ul>