<% provide :title, 'Opinion Target 4606' %><h2>garlic bok choi<br />occurrence: 1</h2><div><ol><li>Usual staples we get here are the steamed half chicken, spicy pork chops, garlic bok choi and the green beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4607">Next</a></li>
</ul>