<% provide :title, 'Opinion Target 1980' %><h2>fried rice and noodles<br />occurrence: 2</h2><div><ol><li>The only thing that seemed more normal sized were the fried rice and noodles, which I saw someone at another table order.</li><li>You know what you 're walking into when you go to Asian Legend- good Chinese fix with all the staples: Xiao Long Bao 's, fried turnip cake, Dun Dun noodles, eggplant dishes, and the likes of fried rice and noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1979">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1981">Next</a></li>
</ul>