<% provide :title, 'Opinion Target 3116' %><h2>sashimi sushi dinner<br />occurrence: 1</h2><div><ol><li>We ordered a sashimi sushi dinner set, and also a specialty maki ( california roll with spicy salmon on top), very very tasty! nice atmosphere, especially we got the booth seats they had a full alcohol bar. long list of alcohol and wine, but we did n't order any of those this time. price was a little bit too pricy, but the quality of food worths it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3115">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3117">Next</a></li>
</ul>