<% provide :title, 'Opinion Target 1561' %><h2>Singapore noodles<br />occurrence: 2</h2><div><ol><li>The first time the Singapore noodles was made it had shrimp in it, so I sent it back, the second time it had onions, so I sent it back, the third time ( after waiting for 1 hour ( it appeared to look like it was what I had asked for, as I took my third bite, I noticed something that appeared to look like eggs, so I had someone try it.</li><li>This is in direct contrast with the amazing Singapore noodles, Kung Pow chicken, Pad Thai and other various Szechuan dishes I absolutely loved last time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1562">Next</a></li>
</ul>