<% provide :title, 'Opinion Target 5338' %><h2>salmon belly appetizer.<br />occurrence: 1</h2><div><ol><li>And a salmon belly appetizer. because i ca n't drink green tea ( and it 's sweltering hot outside) i asked for water, and it came in a big cup that got refilled occasionally).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5339">Next</a></li>
</ul>