<% provide :title, 'Opinion Target 1444' %><h2>primavera<br />occurrence: 2</h2><div><ol><li>Was lucky enough to taste the primavera slice today and the gourmet !!</li><li>Got the gourmet well baked as requested and the primavera was just as good as it looked with spinach and loaded with veggies. nice sit down area with several tables and people-watching stools ... free wifi bebe!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1445">Next</a></li>
</ul>