<% provide :title, 'Opinion Target 7327' %><h2>tea cafe style<br />occurrence: 1</h2><div><ol><li>This place ALWAYS hit the spot for your HK tea cafe style needs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7326">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7328">Next</a></li>
</ul>