<% provide :title, 'Opinion Target 5849' %><h2>spiralled carrots<br />occurrence: 1</h2><div><ol><li>The salad 's texture was generally slimy with strands of spiralled carrots flung infor a bit of body.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5850">Next</a></li>
</ul>