<% provide :title, 'Opinion Target 8425' %><h2>tank<br />occurrence: 1</h2><div><ol><li>The owner, lively and tank topped took great care of us and even gave us a free meatball sandwich after mistakingly giving us an extra veal ( not the worst mistake one could endure).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8426">Next</a></li>
</ul>