<% provide :title, 'Opinion Target 912' %><h2>red sauce<br />occurrence: 4</h2><div><ol><li>Chicken balls are perfectly golden crisp with a generous piece of white meat chicken which comes with a huge vat of sweet and sour sauce ( red sauce to some).</li><li>The pasta with red sauce is tasty but the one with rose sauce is average.</li><li>Sometimes they go quite heavy on the red sauce, which makes me kinda sick, but most of the time, it 's just right.</li><li>The turnips were soggy ... the red sauce not evenly coated on each cube.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_913">Next</a></li>
</ul>