<% provide :title, 'Opinion Target 1134' %><h2>Lamb Biryani<br />occurrence: 3</h2><div><ol><li>You should orders things like: Halwa Puri ( Yummm), Nihari, Haleem, Chicken Seekh kabab, Butter Til Naan, Paaya, Lamb Biryani, Chicken Biryani, Lahori Chana masala, chicken tikka.</li><li>I usually get the aloo gosht or the lamb biryani, best items on the menu in my opinion.</li><li>Otherwise the lamb biryani is really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1135">Next</a></li>
</ul>