<% provide :title, 'Opinion Target 4783' %><h2>cheese burger<br />occurrence: 1</h2><div><ol><li>I ordered a Big Mac combo and a cheese burger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4784">Next</a></li>
</ul>