<% provide :title, 'Opinion Target 7663' %><h2>almond croissants<br />occurrence: 1</h2><div><ol><li>Those almond croissants are so delicious ...!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7664">Next</a></li>
</ul>