<% provide :title, 'Opinion Target 3910' %><h2>pork fat rules<br />occurrence: 1</h2><div><ol><li>I tried to make the person that said `` pork fat rules'' proud.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3911">Next</a></li>
</ul>