<% provide :title, 'Opinion Target 6271' %><h2>blue moon<br />occurrence: 1</h2><div><ol><li>Finally after the blue moon the food was served ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6272">Next</a></li>
</ul>