<% provide :title, 'Opinion Target 2717' %><h2>Chicken Parmigiana entrée<br />occurrence: 1</h2><div><ol><li>My friend ordered a Chicken Ciabatta sandwich and I ordered the Chicken Parmigiana entrée.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2718">Next</a></li>
</ul>