<% provide :title, 'Opinion Target 6866' %><h2>Zha Jiang Mian<br />occurrence: 1</h2><div><ol><li>The Zha Jiang Mian was n't as good as the Bang Bang Mian.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6865">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6867">Next</a></li>
</ul>