<% provide :title, 'Opinion Target 3884' %><h2>salmon sashimi in yuzu sauce<br />occurrence: 1</h2><div><ol><li>The standout for me was the salmon sashimi in yuzu sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3885">Next</a></li>
</ul>