<% provide :title, 'Opinion Target 1463' %><h2>Kalbi Beef<br />occurrence: 3</h2><div><ol><li>The Kalbi Beef is well marinated and you ca n't wait to dig in as you wait for it to grill up in front of you.</li><li>I spent many hours of ttc to travel here and eat their appetizers and kalbi beef.</li><li>I guess I should stick to the kalbi beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1464">Next</a></li>
</ul>