<% provide :title, 'Opinion Target 3048' %><h2>Sichuan pepper<br />occurrence: 1</h2><div><ol><li>( Sichuan pepper has a unique aroma and flavour that is not hot or pungent like black or white pepper, or chili peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3049">Next</a></li>
</ul>