<% provide :title, 'Opinion Target 2373' %><h2>urinals<br />occurrence: 1</h2><div><ol><li>Puke on the urinals, toilet a horrendous mess, I was afraid to wash my hands.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2374">Next</a></li>
</ul>