<% provide :title, 'Opinion Target 1003' %><h2>rice roll<br />occurrence: 4</h2><div><ol><li>The rice roll itself was dry and thick so when it was rolled it actually tore.</li><li>I 've never seen rice roll tear.</li><li>When we tried to pick it up, the rice roll fell apart in pieces.</li><li>I do n't know how the rice roll itself falls apart in pieces since it 's basically a sheet rolled up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1002">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1004">Next</a></li>
</ul>