<% provide :title, 'Opinion Target 7185' %><h2>deep fried pork dumplings<br />occurrence: 1</h2><div><ol><li>They offer yummy pork bone soup, pork katsu, and deep fried pork dumplings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7186">Next</a></li>
</ul>