<% provide :title, 'Opinion Target 6074' %><h2>Wings & beer<br />occurrence: 1</h2><div><ol><li>My boyfriend and I went on a Monday and got their Wings &amp; beer combo for $ 25, you ca n't go wrong.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6075">Next</a></li>
</ul>