<% provide :title, 'Opinion Target 1933' %><h2>veggie spring rolls<br />occurrence: 2</h2><div><ol><li>I also orders vegetable fried rice, broccoli with garlic, and veggie spring rolls which were all AWESOME.</li><li>Veggie spring rolls were delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1934">Next</a></li>
</ul>