<% provide :title, 'Opinion Target 9149' %><h2>MSG effects<br />occurrence: 1</h2><div><ol><li>But recently I found out the MSG effects me a lot afterwards ( super thirsty even at late night after drinking tons of water).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9148">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9150">Next</a></li>
</ul>