<% provide :title, 'Opinion Target 1090' %><h2>basil beef<br />occurrence: 4</h2><div><ol><li>We 've had pad thai, various curries, cold rolls, basil beef and all were well prepared and flavourful without the high sodium/ msg.</li><li>The Basil Beef was fragrant with a hint of sweetness.</li><li>It is a rather small place but the food is good, their curry, padthai, basil beef are all really delicious.</li><li>I personally recommend the Devil 's beef, basil beef, or yellow curry with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1089">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1091">Next</a></li>
</ul>