<% provide :title, 'Opinion Target 9142' %><h2>salmon and white tuna<br />occurrence: 1</h2><div><ol><li>The sashimi was cut fairly well, and the salmon and white tuna were fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9143">Next</a></li>
</ul>