<% provide :title, 'Opinion Target 5028' %><h2>baked potatoes<br />occurrence: 1</h2><div><ol><li>Their baked potatoes were beyond basic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5029">Next</a></li>
</ul>