<% provide :title, 'Opinion Target 8468' %><h2>pasta with salmon<br />occurrence: 1</h2><div><ol><li>Alfreda pasta with salmon was a bit greasy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8467">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8469">Next</a></li>
</ul>