<% provide :title, 'Opinion Target 1018' %><h2>potato puree<br />occurrence: 4</h2><div><ol><li>Parsnip potato puree ( like a mash), seasonal vegetables, mushrooms and dijon cream sauce.</li><li>There was sweet potato puree inside the crepe- which is SO delicious.</li><li>I ordered the sweet potato crepe and thought the maple syrup, almonds and sweet potato puree complemented each other well.</li><li>Inside was sweet potato puree, drizzled with maple syrup, and came with house made sweet potato ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1019">Next</a></li>
</ul>