<% provide :title, 'Opinion Target 9286' %><h2>meat wrap<br />occurrence: 1</h2><div><ol><li>And me and my friends ordered the Korean bbq, it 's ok but the side veggie that goes along with the meat wrap were really nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9287">Next</a></li>
</ul>