<% provide :title, 'Opinion Target 2222' %><h2>fried rice with seaweed<br />occurrence: 1</h2><div><ol><li>After the soupy phase of the hot pot, you can pay a couple of bucks to get the fried rice with seaweed, kimchi, other goodies at the end.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2223">Next</a></li>
</ul>