<% provide :title, 'Opinion Target 3690' %><h2>rice and beans<br />occurrence: 1</h2><div><ol><li>It tasted like some lettuce, tomatoes with flavorless rice and beans put together in a wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3691">Next</a></li>
</ul>