<% provide :title, 'Opinion Target 7429' %><h2>rogan gosh<br />occurrence: 1</h2><div><ol><li>As someone noted previously, the rogan gosh is wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7430">Next</a></li>
</ul>