<% provide :title, 'Opinion Target 3009' %><h2>cold potato cubes with honey<br />occurrence: 1</h2><div><ol><li>The cold potato cubes with honey were wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3010">Next</a></li>
</ul>