<% provide :title, 'Opinion Target 6249' %><h2>cream cheese and lox on sesame<br />occurrence: 1</h2><div><ol><li>Hit and miss. I am craving for cream cheese and lox on sesame.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6248">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6250">Next</a></li>
</ul>