<% provide :title, 'Opinion Target 3588' %><h2>tabbouleh salad<br />occurrence: 1</h2><div><ol><li>I had ordered a tabbouleh salad with a side of chicken skewers and when the server brought our food I was served a fattoush salad with the chicken so I told her that it was n't what I had ordered and she brought it back to her manager who seemed confused then a few minutes later she came back with my food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3589">Next</a></li>
</ul>