<% provide :title, 'Opinion Target 1208' %><h2>garlic naan<br />occurrence: 3</h2><div><ol><li>Food: we ordered butter chicken, beef vindaloo, panak paneer as well as cheese and garlic naan.</li><li>Our total came up to 24 $ as we got garlic naan.</li><li>Quite pricey for all of that, but their garlic naan is 3 $ a piece, so no surprise there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1207">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1209">Next</a></li>
</ul>