<% provide :title, 'Opinion Target 2659' %><h2>soy sauce + hot chili flakes + chopped green onion<br />occurrence: 1</h2><div><ol><li>This is why there are small stainless steel containers filled with soy sauce + hot chili flakes + chopped green onion on each table so you can add more flavour to your soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2660">Next</a></li>
</ul>