<% provide :title, 'Opinion Target 7719' %><h2>take-out dinner<br />occurrence: 1</h2><div><ol><li>The menu is a bit limited, and the price a bit high, I must admit, but when I need a quick lunch or take-out dinner, it 's a staple.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7720">Next</a></li>
</ul>