<% provide :title, 'Opinion Target 3340' %><h2>lunches<br />occurrence: 1</h2><div><ol><li>The lunches are more economical.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3341">Next</a></li>
</ul>