<% provide :title, 'Opinion Target 2270' %><h2>Scallion pancake<br />occurrence: 2</h2><div><ol><li>Dishes we tried: Vegetable fried rice, Scallion pancake ( so yummy!), Chicken balls, spare ribs, vermicelli with chicken and more.</li><li>A free scallion pancake was provided but nothing to write home about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2271">Next</a></li>
</ul>