<% provide :title, 'Opinion Target 5547' %><h2>dinner companions<br />occurrence: 1</h2><div><ol><li>Our dinner companions had been there numerous times and they said they really liked the place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5548">Next</a></li>
</ul>