<% provide :title, 'Opinion Target 3011' %><h2>dinner menu prices<br />occurrence: 1</h2><div><ol><li>The lunch specials are a real bargain, but the dinner menu prices are quite reasonable as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3012">Next</a></li>
</ul>