<% provide :title, 'Opinion Target 2025' %><h2>Teppenyaki<br />occurrence: 2</h2><div><ol><li>Tried the Teppenyaki a few times but the dining room a la cartel menu is better than the AYCE.</li><li>For teppenyaki they cooked the food with little interaction or conversation.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2024">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2026">Next</a></li>
</ul>