<% provide :title, 'Opinion Target 7316' %><h2>Chiu Chow Style Fried Fish Noodle ( Shrimp<br />occurrence: 1</h2><div><ol><li>Chiu Chow Style Fried Fish Noodle ( Shrimp, Beansprout, Scallion, Shreds: Carrot, Egg).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7315">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7317">Next</a></li>
</ul>