<% provide :title, 'Opinion Target 1815' %><h2>cabbage roll<br />occurrence: 2</h2><div><ol><li>The cabbage roll was really nice.</li><li>The large cornbeef sandwich with the kaiser bun was amazing ... the cabbage roll was huge but too sweet .. the chicken noodle soup had good flavor but no chicken .. just noodles ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1816">Next</a></li>
</ul>