<% provide :title, 'Opinion Target 7678' %><h2>dine-in room<br />occurrence: 1</h2><div><ol><li>The dine-in room feels a bit like someone 's rec room.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7679">Next</a></li>
</ul>