<% provide :title, 'Opinion Target 1896' %><h2>bean rice<br />occurrence: 2</h2><div><ol><li>Their Mahicheh and Baghali Polo ( Lamb Shank with dill/broad bean rice) is also so good!</li><li>The bean rice is a little soft but that could be because of the extra ox-tail gravy I asked for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1897">Next</a></li>
</ul>