<% provide :title, 'Opinion Target 2409' %><h2>bbq eels roll<br />occurrence: 1</h2><div><ol><li>Theyre so cheap now they cant even afford avacado in a bbq eels roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2410">Next</a></li>
</ul>