<% provide :title, 'Opinion Target 7338' %><h2>BBQ dishes<br />occurrence: 1</h2><div><ol><li>The BBQ dishes are tasty as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7339">Next</a></li>
</ul>