<% provide :title, 'Opinion Target 6231' %><h2>rice w / veggies<br />occurrence: 1</h2><div><ol><li>If you are not a big fan of hot soup, that 's okay because their bi bim bap ( rice w/ veggies, egg, beef, mix w/ Korean hot sauce served in hot stone bowl) and bul go gi ( marinated beef on sizzling plate) is amazing too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6232">Next</a></li>
</ul>