<% provide :title, 'Opinion Target 4480' %><h2>bbq shrimp platter<br />occurrence: 1</h2><div><ol><li>My girlfriend ordered the bbq shrimp platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4481">Next</a></li>
</ul>