<% provide :title, 'Opinion Target 7853' %><h2>plastic sushi plates<br />occurrence: 1</h2><div><ol><li>When we stepped up to the door and saw the plastic sushi plates in the window, Katie Z and I knew we were in for something truly unique.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7854">Next</a></li>
</ul>