<% provide :title, 'Opinion Target 6650' %><h2>bibambap rice bowls<br />occurrence: 1</h2><div><ol><li>Even staple dishes like the pork bone soup., bulgogi bento boxes, and bibambap rice bowls are recommended items on their menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6651">Next</a></li>
</ul>