<% provide :title, 'Opinion Target 1516' %><h2>honey garlic<br />occurrence: 3</h2><div><ol><li>I have had the honey garlic they are good but just not my taste.</li><li>I ordered honey garlic- the wings were tender and the taste semi-exploded in my mouth^___^ definitely get the wings !!</li><li>For the first few rounds, I ate the tried and tested flavours: hot and honey, honey garlic, and Buffalo ranch ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1517">Next</a></li>
</ul>