<% provide :title, 'Opinion Target 7745' %><h2>chicken dolsot bibim bap<br />occurrence: 1</h2><div><ol><li>He ordered the chicken dolsot bibim bap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7746">Next</a></li>
</ul>