<% provide :title, 'Opinion Target 9241' %><h2>salmon platter<br />occurrence: 1</h2><div><ol><li>Our group had a shrimp and salmon platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9242">Next</a></li>
</ul>