<% provide :title, 'Opinion Target 2413' %><h2>tofu pudding & shrimp karaage<br />occurrence: 1</h2><div><ol><li>Their tofu pudding &amp; shrimp karaage is DA BOMB love it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2414">Next</a></li>
</ul>