<% provide :title, 'Opinion Target 2195' %><h2>salmon teriyaki meat<br />occurrence: 1</h2><div><ol><li>Like most sushi restaurants they have lunch deals -- which are bento boxes of your typical beef, chicken or salmon teriyaki meat, rice, salad, soup &amp; fried tempera.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2196">Next</a></li>
</ul>