<% provide :title, 'Opinion Target 2235' %><h2>bulgogi lunch<br />occurrence: 2</h2><div><ol><li>I ordered the bulgogi lunch, and it was pretty tasty the portion size was perfect for one person.</li><li>My buddy recommended the spicy bulgogi lunch special and I trust his food recommendations so I went with that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2236">Next</a></li>
</ul>