<% provide :title, 'Opinion Target 2577' %><h2>aburi rolls<br />occurrence: 1</h2><div><ol><li>Tataki Attack Roll: $ 9.95 | 8pcs of Crab, scallop, avocado, mayo + albacore tuna tataki on top This was such a great roll, and, as you know, I 'm a sucker for aburi rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2578">Next</a></li>
</ul>