<% provide :title, 'Opinion Target 4666' %><h2>chicken and broccoli stir-fry<br />occurrence: 1</h2><div><ol><li>It 's so perfect that I make a point to order a tub of it each week, along with the chicken and broccoli stir-fry ... ahh the things we do for comfort foods!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4667">Next</a></li>
</ul>