<% provide :title, 'Opinion Target 2583' %><h2>banchan dishes<br />occurrence: 1</h2><div><ol><li>Despite being Korean owned, they do not serve complimentary dessert and banchan dishes like at most other Korean run sushi joints.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2584">Next</a></li>
</ul>