<% provide :title, 'Opinion Target 5025' %><h2>cream soup<br />occurrence: 1</h2><div><ol><li>Just like the average cream soup in the grocery store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5024">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5026">Next</a></li>
</ul>