<% provide :title, 'Opinion Target 6367' %><h2>lobster sucks<br />occurrence: 1</h2><div><ol><li>But when the bread is weak, bisque is light and lobster sucks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6368">Next</a></li>
</ul>