<% provide :title, 'Opinion Target 7897' %><h2>Tofu spicy soup<br />occurrence: 1</h2><div><ol><li>Ordered the Tofu spicy soup which came w/ the purple rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7896">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7898">Next</a></li>
</ul>