<% provide :title, 'Opinion Target 8897' %><h2>tea cost<br />occurrence: 1</h2><div><ol><li>When we got our bill we are suprised to find that the tea cost $ 3 per person ( which 4 us comes to $ 12 for the whole pot!), which is rather expensive!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8896">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8898">Next</a></li>
</ul>