<% provide :title, 'Opinion Target 6255' %><h2>purple rice hot stone bowl<br />occurrence: 1</h2><div><ol><li>Food was way too salty, and I thought the purple rice hot stone bowl was a huge source of waste ( so much of the rice was stuck in the stone pot!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6256">Next</a></li>
</ul>