<% provide :title, 'Opinion Target 7121' %><h2>Pollo alla griglia<br />occurrence: 1</h2><div><ol><li>Pollo alla griglia- Very unique item that is like a quesadila.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7122">Next</a></li>
</ul>