<% provide :title, 'Opinion Target 4623' %><h2>chicken pot pie and pepperoni pizza<br />occurrence: 1</h2><div><ol><li>The menu is limited; however the wings &amp; fries are excellent ( other options include chicken fingers, chicken pot pie and pepperoni pizza).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4624">Next</a></li>
</ul>