<% provide :title, 'Opinion Target 8628' %><h2>`` plates<br />occurrence: 1</h2><div><ol><li>The `` plates'' are a bit overpriced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8629">Next</a></li>
</ul>