<% provide :title, 'Opinion Target 5500' %><h2>Gorgonzola cream sauce with pancetta and slow-roasted tomatoes<br />occurrence: 1</h2><div><ol><li>The gnocchi comes in an amazing Gorgonzola cream sauce with pancetta and slow-roasted tomatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5499">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5501">Next</a></li>
</ul>