<% provide :title, 'Opinion Target 3297' %><h2>rice in fried rice<br />occurrence: 1</h2><div><ol><li>The grains of rice in fried rice are supposed to separate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3298">Next</a></li>
</ul>