<% provide :title, 'Opinion Target 9081' %><h2>Grilled Sliced Beef with Pork Bone Soup<br />occurrence: 1</h2><div><ol><li>For our main we had the Grilled Sliced Beef with Pork Bone Soup and ate family style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9082">Next</a></li>
</ul>