<% provide :title, 'Opinion Target 1634' %><h2>onion ring<br />occurrence: 2</h2><div><ol><li>If you want 1 onion ring order 1 onion ring and that 's what you get as opposed to a huge basket.</li><li>The onion ring was a bit better as they used the purple onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1635">Next</a></li>
</ul>