<% provide :title, 'Opinion Target 1529' %><h2>pasta sauce<br />occurrence: 2</h2><div><ol><li>A nice pasta sauce and the meat balls actually looked and tasted like Meat lol.</li><li>As others have said, this is a half-restaurant and half-groceries setup, where the grocery section is baked goods ( bread and pastries) as well as a moderate selection of other things ( cheese, pasta sauce, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1530">Next</a></li>
</ul>