<% provide :title, 'Opinion Target 7846' %><h2>mirrors<br />occurrence: 1</h2><div><ol><li>Very little decorations with some cheap mirrors and paintings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7847">Next</a></li>
</ul>