<% provide :title, 'Opinion Target 4067' %><h2>veal schnitzel<br />occurrence: 1</h2><div><ol><li>Personally I thought the chicken schnitzel was more moist and slightly tastier than the super-thin veal schnitzel, but both were great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4068">Next</a></li>
</ul>