<% provide :title, 'Opinion Target 1934' %><h2>ddeokbokki<br />occurrence: 2</h2><div><ol><li>Our favourites are the ddeokbokki, steamed mandu ( SO GOOD), grilled mackerel, bibimbap, mul/bibim-naengmyeon, and honestly most soups.</li><li>I ordered off menu ( I feel like John Hamm in 30 Rock) the tteokbokki ( aka ddeokbokki, dukboki, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1933">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1935">Next</a></li>
</ul>