<% provide :title, 'Opinion Target 8902' %><h2>onion and mushrooms<br />occurrence: 1</h2><div><ol><li>The veggies were okay- it was a mix of zucchini, onion and mushrooms.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8903">Next</a></li>
</ul>