<% provide :title, 'Opinion Target 7531' %><h2>half egg cooked<br />occurrence: 1</h2><div><ol><li>Aroma- breathe in the salt and seaweed, you can readily exfoliate your face with the steam.:) Taste- noodles cooked with the right amount of chewiness, it soaks the flavours of the soup base nicely, beef was ample, it was very tender in the soup, the half egg cooked about right and not over done.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7532">Next</a></li>
</ul>