<% provide :title, 'Opinion Target 6094' %><h2>Sesame lamb<br />occurrence: 1</h2><div><ol><li>Do 's: Sesame lamb, lamb stuffed pan fried buns, beef lung or tripe, lamb soup Do n't: come here expecting pork!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6093">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6095">Next</a></li>
</ul>