<% provide :title, 'Opinion Target 2493' %><h2>Cowboy roll<br />occurrence: 1</h2><div><ol><li>The Cowboy roll was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2494">Next</a></li>
</ul>