<% provide :title, 'Opinion Target 1277' %><h2>pickle barrel<br />occurrence: 3</h2><div><ol><li>Always good food and service at pickle barrel Leslie.</li><li>I have NEVER had a good experience at ANY of the pickle barrel restaurants.</li><li>I can guarantee if I come to the pickle barrel I will receive the worst customer service of my life with the constant excuse of `` sorry we are understaffed'' I 'm sorry hire more STAFF.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1278">Next</a></li>
</ul>