<% provide :title, 'Opinion Target 6910' %><h2>fried rice & lamb<br />occurrence: 1</h2><div><ol><li>The fried rice &amp; lamb were delicious as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6911">Next</a></li>
</ul>