<% provide :title, 'Opinion Target 2727' %><h2>boys<br />occurrence: 1</h2><div><ol><li>As soon as we stepped through the door, the boys were handed colouring books and crayons.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2728">Next</a></li>
</ul>