<% provide :title, 'Opinion Target 3383' %><h2>russian food<br />occurrence: 1</h2><div><ol><li>This is good, healthy, solid, basic fare without any hype or pretence. nice try but russian food is not authentic middle eastern food! not what i was looking for at all. they have some `` middle eastern style'' dishes but like i said, not authentic. definitely not going back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3384">Next</a></li>
</ul>