<% provide :title, 'Opinion Target 3117' %><h2>dessert café<br />occurrence: 1</h2><div><ol><li>However I do understand that it is a dessert café which is probably why they do n't have much variety for non-dessert dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3118">Next</a></li>
</ul>