<% provide :title, 'Opinion Target 1816' %><h2>apple cider with cinnamon stick<br />occurrence: 2</h2><div><ol><li>We ended up ordering the apple cider with cinnamon stick as our third item.</li><li>The apple cider with cinnamon stick that we ordered as our third item was also quite delightful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1817">Next</a></li>
</ul>