<% provide :title, 'Opinion Target 6917' %><h2>teppanyaki cook<br />occurrence: 1</h2><div><ol><li>The teppanyaki cook was competent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6916">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6918">Next</a></li>
</ul>