<% provide :title, 'Opinion Target 9489' %><h2>Chinese style eel fried rice<br />occurrence: 1</h2><div><ol><li>I have never had a Chinese style eel fried rice in Vancouver before, so this was awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9488">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9490">Next</a></li>
</ul>