<% provide :title, 'Opinion Target 8193' %><h2>stir fried marinated pork with spicy sauce<br />occurrence: 1</h2><div><ol><li>I had the JeYukBokeum ( stir fried marinated pork with spicy sauce on sizzling plate) and my boyfriend tried the Dolsot BiBimBap ( vegetables and ground beef with rice in a hot stone bowl).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8192">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8194">Next</a></li>
</ul>