<% provide :title, 'Opinion Target 7353' %><h2>iced drinks<br />occurrence: 1</h2><div><ol><li>I 've gotten waffles, crepes ( of course heh) the cakes, the lattes and the iced drinks as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7352">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7354">Next</a></li>
</ul>