<% provide :title, 'Opinion Target 5656' %><h2>Korean pear<br />occurrence: 1</h2><div><ol><li>They use watermelon in the soup instead of standard Korean pear which turns out really well, perfect for a hot summer evening!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5657">Next</a></li>
</ul>