<% provide :title, 'Opinion Target 2829' %><h2>ginger and onion shrimp<br />occurrence: 1</h2><div><ol><li>We ordered noodles, house fried rice, ginger and onion shrimp, crispy ginger chicken and the green beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2830">Next</a></li>
</ul>