<% provide :title, 'Opinion Target 9360' %><h2>noodle bar<br />occurrence: 1</h2><div><ol><li>Ostensibly ' Mongolian' grill is the real shtick here- essentially just a made-to-order noodle bar, but a very good one at that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9361">Next</a></li>
</ul>