<% provide :title, 'Opinion Target 5223' %><h2>fried Korean pancakes<br />occurrence: 1</h2><div><ol><li>The servings included a bowl of rice plus all the usual condiments you would expect from a Korean restaurant, including the fried Korean pancakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5224">Next</a></li>
</ul>