<% provide :title, 'Opinion Target 9588' %><h2>baked sweets<br />occurrence: 1</h2><div><ol><li>Most of the baked sweets are sold by weight ... and they do have brownies and butter tarts too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9589">Next</a></li>
</ul>