<% provide :title, 'Opinion Target 2978' %><h2>Roti wrap<br />occurrence: 1</h2><div><ol><li>The Roti wrap was A-OK and the Potatoes included in each Roti were perfectly done.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2977">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2979">Next</a></li>
</ul>