<% provide :title, 'Opinion Target 3258' %><h2>Cannelloni Formaggio<br />occurrence: 1</h2><div><ol><li>I had the wondrous pleasure to try out my friend 's dish, Cannelloni Formaggio $ 17 ( also baked in the pizza oven!) and that was really good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3259">Next</a></li>
</ul>