<% provide :title, 'Opinion Target 1912' %><h2>ox-tail gravy<br />occurrence: 2</h2><div><ol><li>Even though they were about to close, they were super friendly and patient with us as we studied the menu and tried to decide:) We settled on the Jerk Chicken dinner with ox-tail gravy.</li><li>The bean rice is a little soft but that could be because of the extra ox-tail gravy I asked for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1913">Next</a></li>
</ul>