<% provide :title, 'Opinion Target 6241' %><h2>braised black bean<br />occurrence: 1</h2><div><ol><li>Kimchi was super bland, radish side was too sour, their braised black bean was just too hard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6242">Next</a></li>
</ul>