<% provide :title, 'Opinion Target 1941' %><h2>KBBQ<br />occurrence: 2</h2><div><ol><li>By itself, the KBBQ tasted bland, but together, quite good.</li><li>No idea how good the kbbq is, but given the poor air circulation at this restaurant, I would n't suggest going for the bbq items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1942">Next</a></li>
</ul>