<% provide :title, 'Opinion Target 4938' %><h2>pickled beets<br />occurrence: 1</h2><div><ol><li>I totally could go vegan;) I 'll pass on the pickled beets tho, not my taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4939">Next</a></li>
</ul>