<% provide :title, 'Opinion Target 2391' %><h2>medium roast coffee<br />occurrence: 1</h2><div><ol><li>I went to buy a medium roast coffee today at 5:30pm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2390">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2392">Next</a></li>
</ul>