<% provide :title, 'Opinion Target 7162' %><h2>stew with tofu<br />occurrence: 1</h2><div><ol><li>The kimchi chigae ( stew with tofu, pork, and kimchi) was a big letdown.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7163">Next</a></li>
</ul>