<% provide :title, 'Opinion Target 6037' %><h2>sushi lunch specials<br />occurrence: 1</h2><div><ol><li>Their sushi lunch specials are also delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6038">Next</a></li>
</ul>