<% provide :title, 'Opinion Target 2573' %><h2>noodle crunch soup<br />occurrence: 1</h2><div><ol><li>Wonderful sushi quality and I love their complimentary noodle crunch soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2574">Next</a></li>
</ul>