<% provide :title, 'Opinion Target 1748' %><h2>chatime<br />occurrence: 2</h2><div><ol><li>Just like the original Toronto location on Dundas St, this chatime is a solid contender in the bubble tea world here.</li><li>Whenever I come to chatime I always order a matcha latte or a matcha redbean milk tea with tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1749">Next</a></li>
</ul>