<% provide :title, 'Opinion Target 8633' %><h2>larger salad<br />occurrence: 1</h2><div><ol><li>`` Can I have a larger salad instead of the rice ?'' ... `` NO''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8632">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8634">Next</a></li>
</ul>