<% provide :title, 'Opinion Target 3875' %><h2>fried tofu puffs in the dish<br />occurrence: 1</h2><div><ol><li>There was also 3 large fried tofu puffs in the dish, along with onions, and some red and yellow peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3876">Next</a></li>
</ul>