<% provide :title, 'Opinion Target 2403' %><h2>stone pots of rice<br />occurrence: 2</h2><div><ol><li>They bring out the boiling hot pots and sizzling beef plate along with the stone pots of rice.</li><li>The best extra is the stone pots of rice and after they pour in the water it 's just delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2404">Next</a></li>
</ul>