<% provide :title, 'Opinion Target 1231' %><h2>thai tacos<br />occurrence: 3</h2><div><ol><li>B Main: I got the golden chicken curry and rice, and my partner got the thai tacos.</li><li>Went: 12:00 pm Fri July 17 2015 Ordered: satay shrimp + thai tacos + custard Cost: incl.</li><li>The Thai tacos were wrapped in a pastry resembling that used for Peking duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1232">Next</a></li>
</ul>