<% provide :title, 'Opinion Target 8180' %><h2>deep fried Korean dumplings<br />occurrence: 1</h2><div><ol><li>We ordered the pork bone and potato soup along with GunManDu ( deep fried Korean dumplings).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8181">Next</a></li>
</ul>