<% provide :title, 'Opinion Target 1862' %><h2>salad option<br />occurrence: 2</h2><div><ol><li>Oh sorry, there was a salad option ... for brunch !!?!??!?!?! ugh.</li><li>They offer up a decent sandwich menu, along with a daily soup, a daily muffin and a salad option as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1863">Next</a></li>
</ul>