<% provide :title, 'Opinion Target 3323' %><h2>food drinks<br />occurrence: 1</h2><div><ol><li>Miller has great food drinks n service!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3324">Next</a></li>
</ul>