<% provide :title, 'Opinion Target 7305' %><h2>silky cotton mixed<br />occurrence: 1</h2><div><ol><li>The texture is like silky cotton mixed together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7306">Next</a></li>
</ul>