<% provide :title, 'Opinion Target 1044' %><h2>spicy tuna<br />occurrence: 4</h2><div><ol><li>Besides the usual sashimi slices of salmon, tuna, and tai, there were also warm saucy unagi slices and mini nigiri of spicy tuna mixed with crunchy tempura bits all laid out scrumptiously on a bed of sweet and vinegary warm rice.</li><li>Can I just say that the Spicy Tuna was so yummy!</li><li>My usual order consists of mostly cooked rolls such as Dynamite, Spider and sometimes the Spicy tuna or Salmon Roll.</li><li>I selected a mediocre spicy tuna Maki and a pretty decent Udon Soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1043">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1045">Next</a></li>
</ul>