<% provide :title, 'Opinion Target 3513' %><h2>iron<br />occurrence: 1</h2><div><ol><li>Heukmi has much more nutritious values such as iron, vitamin E, and antioxidants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3512">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3514">Next</a></li>
</ul>