<% provide :title, 'Opinion Target 2347' %><h2>whipped cream<br />occurrence: 2</h2><div><ol><li>Honestly I really enjoyed my parfait and the whipped cream was the perfect amount!</li><li>The crepe exterior was fresh and chewy and the whipped cream was a perfect complement to the fruits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2348">Next</a></li>
</ul>