<% provide :title, 'Opinion Target 3487' %><h2>sliced beef with broccoli<br />occurrence: 1</h2><div><ol><li>The sliced beef with broccoli was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3488">Next</a></li>
</ul>