<% provide :title, 'Opinion Target 3005' %><h2>wrapper<br />occurrence: 1</h2><div><ol><li>The wrapper was crispy, the inside was hot and savory.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3004">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3006">Next</a></li>
</ul>