<% provide :title, 'Opinion Target 9274' %><h2>steak spot<br />occurrence: 1</h2><div><ol><li>It is nice to change it up from my regular steak spot ( Ruth 's Chris).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9275">Next</a></li>
</ul>