<% provide :title, 'Opinion Target 4861' %><h2>beef negi maki<br />occurrence: 1</h2><div><ol><li>Now the stand out food items- spicy salmon sushi, volcano roll, enoki beef roll, beef negi maki, spicy seafood udon soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4860">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4862">Next</a></li>
</ul>