<% provide :title, 'Opinion Target 1188' %><h2>Slice<br />occurrence: 3</h2><div><ol><li>By The Slice is one of the best pizza places I been to.</li><li>The slice is colourfully framed by red &amp; yellow hot banana peppers and a single tomato.</li><li>Wrapped in aluminum foil, the slice is kept warm and greasy and in this case that is everything you want.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1187">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1189">Next</a></li>
</ul>