<% provide :title, 'Opinion Target 1803' %><h2>mango bingsu<br />occurrence: 2</h2><div><ol><li>The mango bingsu was good.</li><li>The only good thing we got was the thing we came for: Mango Bingsu, which was pretty darn good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1804">Next</a></li>
</ul>