<% provide :title, 'Opinion Target 5214' %><h2>Fiddle Finch<br />occurrence: 1</h2><div><ol><li>Older- Fox &amp; Fiddle Finch, `` where everybody knows your name, duh duh duhhh'' a la ' Cheers'- Always a fun and interesting crowd here, even on a rare slow night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5213">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5215">Next</a></li>
</ul>