<% provide :title, 'Opinion Target 2324' %><h2>Deep Fried Duck Chin<br />occurrence: 2</h2><div><ol><li>Deep Fried Duck Chin ( $ 4.95)- Not not bad, not not amazing either.</li><li>Deep Fried Duck Chin ( $ 4.95)- You do need the skill and the patient to eat those chins, as all the good meat are just in between all the bones ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2325">Next</a></li>
</ul>