<% provide :title, 'Opinion Target 1756' %><h2>strawberry milk tea<br />occurrence: 2</h2><div><ol><li>Grass jelly roasted milk tea was good, but unfortunately taro and strawberry milk tea were not good at all.</li><li>I ca n't wait to try their other milk teas and smoothies though:) Other than that, I liked the strawberry milk tea ... but I would probably ask for no sugar next time ... is that possible ? lol.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1755">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1757">Next</a></li>
</ul>