<% provide :title, 'Opinion Target 3410' %><h2>cucumber kimchi<br />occurrence: 1</h2><div><ol><li>The baechu kimchi was perfectly seasoned as was the cucumber kimchi ( in thick, luscious gochuchang).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3411">Next</a></li>
</ul>