<% provide :title, 'Opinion Target 3017' %><h2>grilled chicken in taste<br />occurrence: 1</h2><div><ol><li>A quick and efficient service, the take out containers were the same and the grilled chicken in taste was quite similar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3016">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3018">Next</a></li>
</ul>