<% provide :title, 'Opinion Target 4776' %><h2>beef with tendon<br />occurrence: 1</h2><div><ol><li>Had Pho tai gan ( rare beef with tendon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4777">Next</a></li>
</ul>