<% provide :title, 'Opinion Target 9256' %><h2>Cherries flambeed with butter and sugar<br />occurrence: 1</h2><div><ol><li>Cherries flambeed with butter and sugar, then poured overtop a scoop of ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9255">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9257">Next</a></li>
</ul>