<% provide :title, 'Opinion Target 3719' %><h2>veal pizzialoa<br />occurrence: 1</h2><div><ol><li>The daily special of veal pizzialoa was tender and the vegetables were crisp tender and very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3720">Next</a></li>
</ul>