<% provide :title, 'Opinion Target 4834' %><h2>Beef soup noodle<br />occurrence: 1</h2><div><ol><li>Beef soup noodle was quite good, the noodles were quite delicious ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4835">Next</a></li>
</ul>