<% provide :title, 'Opinion Target 8582' %><h2>potatoes strips<br />occurrence: 1</h2><div><ol><li>They offered 7 side-dishes: Potatoes, fish cake, glass noodles, bean sprouts, kimchi, potatoes strips, and seaweed salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8583">Next</a></li>
</ul>