<% provide :title, 'Opinion Target 884' %><h2>rings<br />occurrence: 5</h2><div><ol><li>I ordered the rings and the diamonds ( I think it is like a mini baklava) and they were delicious.</li><li>It 's basic bar grub like wings and rings which are absolutely outstanding as I know the owner uses fresh oil for it.</li><li>Onion rings were the bomb and drinks are refills.</li><li>The order was ceasar salad, large order of onion rings and chicken souvlaki dinner.</li><li>Onion Chips- These are soo delicious, they are n't onion rings they are tiny pieces of onion deep fried in a light fish and chips batter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_885">Next</a></li>
</ul>