<% provide :title, 'Opinion Target 2885' %><h2>Israeli salad<br />occurrence: 1</h2><div><ol><li>I like to keep the toppings traditional- hummus, hot sauce, tahini, coleslaw and Israeli salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2884">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2886">Next</a></li>
</ul>