<% provide :title, 'Opinion Target 8916' %><h2>grilled unagi rice<br />occurrence: 1</h2><div><ol><li>One thing that was very worth it was the grilled unagi rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8917">Next</a></li>
</ul>