<% provide :title, 'Opinion Target 7696' %><h2>salmon maki with sauce SQUISHED in between two salmons<br />occurrence: 1</h2><div><ol><li>They had a very small selection but the pluses were:- very little rice in the maki- yum- dynamite rolls sooo fweeesh- coconut shrimp GET IN MY BELLY- deep fried squid, you sexy beast.- spicy salmon maki with sauce SQUISHED in between two salmons INSIDE the maki. !?!?!?- pop included in price- fast service, nice service would defo come back!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7697">Next</a></li>
</ul>