<% provide :title, 'Opinion Target 7218' %><h2>stirfry meal<br />occurrence: 1</h2><div><ol><li>But the reason to go is for a nice stirfry meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7219">Next</a></li>
</ul>