<% provide :title, 'Opinion Target 2735' %><h2>flowers<br />occurrence: 1</h2><div><ol><li>The eggs benedict is the best in Toronto, no fancy flowers made of fruit on the plate, just good old fashion breakfast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2736">Next</a></li>
</ul>