<% provide :title, 'Opinion Target 7085' %><h2>wakame salads<br />occurrence: 1</h2><div><ol><li>The upgrade charge on the salads was frankly disappointing, since I look at their menu and the green salads and wakame salads are actually both priced at $ 4.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7084">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7086">Next</a></li>
</ul>