<% provide :title, 'Opinion Target 2376' %><h2>seafood soondubu<br />occurrence: 2</h2><div><ol><li>He ordered the beef bimbimbap and I ordered the seafood soondubu.</li><li>I tried the seafood soondubu in mild and in medium from here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2377">Next</a></li>
</ul>