<% provide :title, 'Opinion Target 876' %><h2>man<br />occurrence: 4</h2><div><ol><li>The man was in his absolute Sunday best, and had a cane and a curved back so his face always was to the ground.</li><li>The owner is a funny and friendly man.</li><li>They are from Iran but yesterday the man running the place wore a Canada ball-cap and seemed genuinely pleased to see our Canadian family coming in to enjoy their food.</li><li>In the beginning, we were catered to by a man who I think is the owner, and he is certainly special because i have NEVER had a dinner where I was micromanaged like this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_877">Next</a></li>
</ul>