<% provide :title, 'Opinion Target 1640' %><h2>Salmon bento<br />occurrence: 2</h2><div><ol><li>My Orders: Salmon bento ( ok), Spicy Beef Ramen ( do n't buy their ramens ...)</li><li>Really good lunch deal! 9 pieces salmon bento only for 10 bucks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1641">Next</a></li>
</ul>