<% provide :title, 'Opinion Target 2316' %><h2>cheese balls<br />occurrence: 1</h2><div><ol><li>There 's a great Columbian place that makes delicious cheese balls and stuffed pig.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2315">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2317">Next</a></li>
</ul>