<% provide :title, 'Opinion Target 6804' %><h2>sushi buffet<br />occurrence: 1</h2><div><ol><li>I visited Toronto and had a sushi buffet with my friends here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6803">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6805">Next</a></li>
</ul>