<% provide :title, 'Opinion Target 3830' %><h2>marble cheesecake<br />occurrence: 1</h2><div><ol><li>We tried their mango shaved ice dessert, new york cheesecake, marble cheesecake, tea &amp; lattè.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3831">Next</a></li>
</ul>