<% provide :title, 'Opinion Target 6815' %><h2>chicken karage ( deep fried chicken<br />occurrence: 1</h2><div><ol><li>I especially enjoy the chicken karage ( deep fried chicken) and their octopus balls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6816">Next</a></li>
</ul>