<% provide :title, 'Opinion Target 6477' %><h2>shrimp wonton noodle soup<br />occurrence: 1</h2><div><ol><li>We ordered the famous spicy fried turnip, home style vermicelli, shrimp wonton noodle soup, house congee with doughnuts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6478">Next</a></li>
</ul>