<% provide :title, 'Opinion Target 5013' %><h2>Korean music videos<br />occurrence: 1</h2><div><ol><li>My Chinese-Canadian male friends love this place for drinking because of the contemporary Korean music videos they play on three television sets of dancing female Korean teenagers dressed up in skanky outfits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5014">Next</a></li>
</ul>