<% provide :title, 'Opinion Target 1711' %><h2>homemade pita<br />occurrence: 2</h2><div><ol><li>The homemade pita was probably the best part of our meal, the wine was great too.</li><li>Their homemade pita is DELICIOUS.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1712">Next</a></li>
</ul>