<% provide :title, 'Opinion Target 4782' %><h2>stew chicken and ox tail<br />occurrence: 1</h2><div><ol><li>Spent $ 10 on stew chicken and ox tail.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4783">Next</a></li>
</ul>