<% provide :title, 'Opinion Target 7538' %><h2>waffle options<br />occurrence: 1</h2><div><ol><li>They also has savoury crepes, waffle options, cakes, and parfaits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7537">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7539">Next</a></li>
</ul>