<% provide :title, 'Opinion Target 6657' %><h2>bulgoggi rice<br />occurrence: 1</h2><div><ol><li>I also like their rice dishes such as the bulgoggi rice for $ 7.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6658">Next</a></li>
</ul>