<% provide :title, 'Opinion Target 3276' %><h2>topping medium pizza<br />occurrence: 1</h2><div><ol><li>Our order- Greek salad to share, chicken souvlaki with home made pita, 4 topping medium pizza, and Greek wine. ( seems like those are the consistent recommendations by the staff) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3277">Next</a></li>
</ul>