<% provide :title, 'Opinion Target 4739' %><h2>Menu variety<br />occurrence: 1</h2><div><ol><li>Menu variety is awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4740">Next</a></li>
</ul>