<% provide :title, 'Opinion Target 3456' %><h2>quality dishes<br />occurrence: 1</h2><div><ol><li>Very professional staff and high quality dishes are why I give it 3 stars and would come back to see what a non-fried experience would be like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3457">Next</a></li>
</ul>