<% provide :title, 'Opinion Target 7919' %><h2>Tofu house<br />occurrence: 1</h2><div><ol><li>Best Tofu house ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7918">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7920">Next</a></li>
</ul>