<% provide :title, 'Opinion Target 4933' %><h2>Kebbeh<br />occurrence: 1</h2><div><ol><li>The fried eggplant, Kebbeh and Baba Ghanouge is the best I 've ever had in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4934">Next</a></li>
</ul>