<% provide :title, 'Opinion Target 3820' %><h2>raw fishes<br />occurrence: 1</h2><div><ol><li>The raw fishes are generally fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3821">Next</a></li>
</ul>