<% provide :title, 'Opinion Target 5153' %><h2>garlic shoots<br />occurrence: 1</h2><div><ol><li>By the time they brought the garlic shoots we had finished all the other food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5154">Next</a></li>
</ul>