<% provide :title, 'Opinion Target 2590' %><h2>tables food<br />occurrence: 1</h2><div><ol><li>The place looked like a damp, dirty tables food leftovers everywhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2591">Next</a></li>
</ul>