<% provide :title, 'Opinion Target 2930' %><h2>Salmon portions<br />occurrence: 1</h2><div><ol><li>Salmon portions could have been bigger, but the portion was decent for the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2931">Next</a></li>
</ul>