<% provide :title, 'Opinion Target 1189' %><h2>Braised beef noodle soup<br />occurrence: 3</h2><div><ol><li>Braised beef noodle soup is amazing!</li><li>She 's very very very nice and she always remembers my favorite orders: p Had the braised beef noodle soup and it was the worst I have ever had.</li><li>Dessert of red bean pancake took way longer than the 20 minutes prep time listed on the menu though I 've been to at least four other Asian Legend locations and this is probably the worst one for their braised beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1190">Next</a></li>
</ul>