<% provide :title, 'Opinion Target 3940' %><h2>Veal Parmagiana Sandwich<br />occurrence: 1</h2><div><ol><li>I had the Veal Parmagiana Sandwich ( around $ 8 or $ 9, plus $ 1.50 for a side of fries), and a both of my other dining compatriots ordered the 9 `` Chicken Club Pizza ( somewhere around $ 12 before tax).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3941">Next</a></li>
</ul>