<% provide :title, 'Opinion Target 2836' %><h2>vegetable spring roll<br />occurrence: 1</h2><div><ol><li>The vegetable spring roll was DELICIOUS!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2837">Next</a></li>
</ul>