<% provide :title, 'Opinion Target 2419' %><h2>sushi deals<br />occurrence: 1</h2><div><ol><li>The groupon does not apply to any specials ( AYCE, sushi deals, bubble tea, etc), and they tried to make us pay in cash when we got the bill.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2420">Next</a></li>
</ul>