<% provide :title, 'Opinion Target 1341' %><h2>coffee beans<br />occurrence: 2</h2><div><ol><li>With that as a basis, it 's not fair to compare Tim Hortons to other coffee chains like Starbucks or smaller local gourmet coffee shops that take a lot of pride in where they source their coffee beans or how they meticulously prepare their foods.</li><li>I love their coffee too, sometimes I buy their coffee beans for home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1340">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1342">Next</a></li>
</ul>