<% provide :title, 'Opinion Target 1138' %><h2>Nutella crepe<br />occurrence: 4</h2><div><ol><li>I always get the Nutella crepe so I ca n't speak for anything else but they have the best ice cream and whipped cream ever.</li><li>However, the Nutella Crepe was pretty good and it was n't overly sweet in my opinion.</li><li>We ordered the nutella crepe ( and some other things I forgot about haha) which was moist with flavour.</li><li>The Nutella crepe had too much whipped cream and not enough Nutella, but for the price and the place, I really loved Pastel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1137">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1139">Next</a></li>
</ul>