<% provide :title, 'Opinion Target 9104' %><h2>scollop and shrimp dumplings<br />occurrence: 1</h2><div><ol><li>Love the hockey pucks and the scollop and shrimp dumplings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9105">Next</a></li>
</ul>