<% provide :title, 'Opinion Target 8783' %><h2>deep fried crab maki<br />occurrence: 1</h2><div><ol><li>I love the deep fried crab maki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8784">Next</a></li>
</ul>