<% provide :title, 'Opinion Target 7148' %><h2>resto<br />occurrence: 1</h2><div><ol><li>The rest of the resto could use a little updating.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7149">Next</a></li>
</ul>