<% provide :title, 'Opinion Target 4975' %><h2>white meat chicken<br />occurrence: 1</h2><div><ol><li>Chicken balls are perfectly golden crisp with a generous piece of white meat chicken which comes with a huge vat of sweet and sour sauce ( red sauce to some).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4974">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4976">Next</a></li>
</ul>