<% provide :title, 'Opinion Target 3109' %><h2>bulgogi dinner and karaage chicken<br />occurrence: 1</h2><div><ol><li>That aside, for the food, I had the bulgogi dinner and karaage chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3110">Next</a></li>
</ul>