<% provide :title, 'Opinion Target 5763' %><h2>smoked duck breast<br />occurrence: 1</h2><div><ol><li>Eggs Benedict gets reinvented; their famed Panang curry replacing the classic Hollandaise, topped with smoked duck breast which is tailor made for Linda by King Cole.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5762">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5764">Next</a></li>
</ul>