<% provide :title, 'Opinion Target 1186' %><h2>base<br />occurrence: 3</h2><div><ol><li>There was a dish where the base was a massive load of sweet, smooth egg white, topped with eye popping green veggie stuff.</li><li>Eat half the base and half of each topping ?</li><li>Soup base is excellent!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1187">Next</a></li>
</ul>