<% provide :title, 'Opinion Target 1314' %><h2>onion volcano<br />occurrence: 3</h2><div><ol><li>The chef stands in front of you and give you a really good show with onion volcano and juggling with salt and pepper.</li><li>He barely spoke a lick of English ( this place is run by Chinese), barely had any tricks, and worst of all- WORST OF ALL- his onion volcano, the one that normally shoots out a lovely plume of fire, was shit.</li><li>Service was excellent and the teppanyaki chefs will try to do a couple of tricks for you including the pepper shake trick and the onion volcano.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1315">Next</a></li>
</ul>