<% provide :title, 'Opinion Target 4006' %><h2>' shooter ' option<br />occurrence: 1</h2><div><ol><li>The bivalves are fresh and briny, although I miss the old ' shooter' option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4007">Next</a></li>
</ul>