<% provide :title, 'Opinion Target 5764' %><h2>matcha crepe and matcha shaved ice<br />occurrence: 1</h2><div><ol><li>We ordered the matcha crepe and matcha shaved ice, which looked absolutely beautiful and gobbled it up in minutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5765">Next</a></li>
</ul>