<% provide :title, 'Opinion Target 5120' %><h2>bean curd dish<br />occurrence: 1</h2><div><ol><li>The hot and sour soup was just a horror--thickened with so much corn starch it was just terrible--and the bean curd dish i tried was just swimming in a watery teriyaki sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5121">Next</a></li>
</ul>