<% provide :title, 'Opinion Target 1014' %><h2>falafel pita<br />occurrence: 3</h2><div><ol><li>Sweet sassy molassy, that 's a good falafel pita.</li><li>We 've found our new favourite take out spot for lunch, and the fact that it 's only $ 5.60 taxes in for the falafel pita is an extra plus.</li><li>I 've had the falafel pita twice now and disappointed both times.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1013">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1015">Next</a></li>
</ul>