<% provide :title, 'Opinion Target 1350' %><h2>salad buffet<br />occurrence: 2</h2><div><ol><li>The salad buffet is the best and only reason we keep coming back.</li><li>I really really loved their salad buffet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1351">Next</a></li>
</ul>