<% provide :title, 'Opinion Target 1787' %><h2>Beef Chow Fun<br />occurrence: 2</h2><div><ol><li>Had the Beef Chow Fun and once I ordered it the cashier barked out the order in cantonese to old school short order cooks in their greased up whites, I knew this place could be for real.</li><li>We also ordered the beef chow fun which was huge in portion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1786">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1788">Next</a></li>
</ul>