<% provide :title, 'Opinion Target 7979' %><h2>dubu jjigae<br />occurrence: 1</h2><div><ol><li>Do n't know what the fuss is about, the soon dubu jjigae is not all that great here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7980">Next</a></li>
</ul>