<% provide :title, 'Opinion Target 4568' %><h2>Thai Banana Egg Pancake<br />occurrence: 1</h2><div><ol><li>On the sweeter side of things is the Roti Gulay ( Thai Banana Egg Pancake), which is closer to a crêpe than actual roti which pockets peanuts, coconut and banana inside and is lightly drizzled with condensed milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4569">Next</a></li>
</ul>