<% provide :title, 'Opinion Target 3625' %><h2>halibut fish & chips<br />occurrence: 1</h2><div><ol><li>They have some of the best halibut fish &amp; chips I 've ever tasted, really flaky and not slimy like what you usually get at other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3626">Next</a></li>
</ul>