<% provide :title, 'Opinion Target 6284' %><h2>diner-style breakfast<br />occurrence: 1</h2><div><ol><li>It 's what you 'd expect from a diner-style breakfast, with slightly underdone home fries and plentiful heaps of scrambled eggs and breakfast meats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6285">Next</a></li>
</ul>