<% provide :title, 'Opinion Target 803' %><h2>plaza<br />occurrence: 4</h2><div><ol><li>The plaza is a bit dead and only really has most traffic when people go there for the No Frills.</li><li>When we arrived there on a weekend afternoon around 3pm, the restaurant was packed which was a good sign as the restaurants in the same plaza were all dead at that time.</li><li>A small little house south of Pleasant View plaza, beside a small garage.</li><li>A side note: leaving the plaza is incredibly awkward.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_804">Next</a></li>
</ul>