<% provide :title, 'Opinion Target 7265' %><h2>soy sauce punches<br />occurrence: 1</h2><div><ol><li>I guess that 's where the soy sauce punches in ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7266">Next</a></li>
</ul>