<% provide :title, 'Opinion Target 8549' %><h2>Beef Rib ( Kalbi ) dish<br />occurrence: 1</h2><div><ol><li>The Big Beef Rib ( Kalbi) dish #46 ( approx.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8548">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8550">Next</a></li>
</ul>