<% provide :title, 'Opinion Target 2821' %><h2>spring onions<br />occurrence: 1</h2><div><ol><li>Moving on to the main dishes, the Shrimp sizzler tasted more Indian than Chinese, even with the spring onions and crisp veggies, a bit like how my grandma makes it ( her cooking is Burmese/Indian influenced).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2822">Next</a></li>
</ul>