<% provide :title, 'Opinion Target 2017' %><h2>bean soup<br />occurrence: 2</h2><div><ol><li>For food we got the bean soup, Fish tacos, and enchiladas.</li><li>We were beyond stuffed when we were given complementary red bean soup right before we asked for our check.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2016">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2018">Next</a></li>
</ul>