<% provide :title, 'Opinion Target 3515' %><h2>crab flesh<br />occurrence: 1</h2><div><ol><li>This way it would be much easier to suck the crab flesh out of the legs and claws.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3514">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3516">Next</a></li>
</ul>