<% provide :title, 'Opinion Target 4560' %><h2>metal round trays<br />occurrence: 1</h2><div><ol><li>The metal round trays were all stacked up at the cleaning station but obviously the staff just has no time to come and clean up We found a spot and I cleaned up the table with serviettes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4561">Next</a></li>
</ul>