<% provide :title, 'Opinion Target 5865' %><h2>deep fried bananas with lychee and pineapple ice cream<br />occurrence: 1</h2><div><ol><li>By dessert I was so full but could n't resist the deep fried bananas with lychee and pineapple ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5866">Next</a></li>
</ul>