<% provide :title, 'Opinion Target 3467' %><h2>chicken corn<br />occurrence: 1</h2><div><ol><li>Even the two soups we ordered, chicken corn and hot &amp; sour, were flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3468">Next</a></li>
</ul>