<% provide :title, 'Opinion Target 6159' %><h2>salmon sashimi & 40 pieces of surf clam lol<br />occurrence: 1</h2><div><ol><li>This place gave us EVERYTHING we asked for, even the 50 pieces of salmon sashimi &amp; 40 pieces of surf clam lol.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6158">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6160">Next</a></li>
</ul>