<% provide :title, 'Opinion Target 6471' %><h2>fried egg white puffs<br />occurrence: 1</h2><div><ol><li>We ordered their fried egg white puffs, they have sugar sprinkled on top and there is about a 10-20min wait for them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6472">Next</a></li>
</ul>