<% provide :title, 'Opinion Target 1600' %><h2>fried onions<br />occurrence: 2</h2><div><ol><li>All good especially kashke-base jan which is roasted eggplant mixed with a few things like fried onions.</li><li>The pulled pork was ok, but what stopped it from being great was too much bbq sauce and fried onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1599">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1601">Next</a></li>
</ul>