<% provide :title, 'Opinion Target 8558' %><h2>potato strips<br />occurrence: 1</h2><div><ol><li>Potatoes, fish cake, glass noodles, bean sprouts, kimchi, potato strips or something, seaweed salad or something.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8557">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8559">Next</a></li>
</ul>