<% provide :title, 'Opinion Target 8137' %><h2>`` garden<br />occurrence: 1</h2><div><ol><li>The `` garden'' seating area with the high ceiling is particularly pleasant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8138">Next</a></li>
</ul>