<% provide :title, 'Opinion Target 4979' %><h2>sauce choices<br />occurrence: 1</h2><div><ol><li>Their sauce choices were basically the line of Frank 's Red Hot sauces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4980">Next</a></li>
</ul>