<% provide :title, 'Opinion Target 2528' %><h2>blue fin tuna sashimi<br />occurrence: 1</h2><div><ol><li>We also ordered blue fin tuna sashimi and to be honest, I 'm not entirely sure I get the hype.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2527">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2529">Next</a></li>
</ul>