<% provide :title, 'Opinion Target 3720' %><h2>take-out area<br />occurrence: 1</h2><div><ol><li>During lunch, they also have a take-out area, so people who work in or around the area can pick up lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3721">Next</a></li>
</ul>