<% provide :title, 'Opinion Target 1160' %><h2>crispy chicken<br />occurrence: 3</h2><div><ol><li>The crispy chicken was pretty good too.</li><li>The Crispy Chicken with House Sauce is probably my favorite.</li><li>The crispy chicken was alright .. a bit bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1159">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1161">Next</a></li>
</ul>