<% provide :title, 'Opinion Target 7415' %><h2>szechaun chicken<br />occurrence: 1</h2><div><ol><li>The szechaun chicken had a good level of spice but a really nice flavour to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7416">Next</a></li>
</ul>