<% provide :title, 'Opinion Target 1749' %><h2>roasted grass jelly milk tea<br />occurrence: 2</h2><div><ol><li>I usually get the roasted grass jelly milk tea and the only down side is when I realize they need an extra large.</li><li>I 've tried the Roasted grass jelly milk tea ( #2 on their Top Ten list) and the Vanilla Fairy Milk Tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1750">Next</a></li>
</ul>