<% provide :title, 'Opinion Target 4872' %><h2>Vietnamese Summer Roll<br />occurrence: 1</h2><div><ol><li>Essentially, it is a Vietnamese Summer Roll made of rice paper that was cut up to resemble a sushi maki roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4873">Next</a></li>
</ul>