<% provide :title, 'Opinion Target 8925' %><h2>curry beef fried rice<br />occurrence: 1</h2><div><ol><li>Thank you for many great dinners. insult to thai cuisine !!! the curry beef fried rice was just so greasy and the golden curry was too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8924">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8926">Next</a></li>
</ul>