<% provide :title, 'Opinion Target 1239' %><h2>Veal Marsala<br />occurrence: 3</h2><div><ol><li>The best meal on the menu, Veal Marsala, is now gone.</li><li>I also tasted my wife 's Veal Marsala which was also well prepared.</li><li>My relatives enjoyed the salmon filet ( fish of the day), veal marsala, and veal chop, and were all satisfied, with the exception of one who argued the veal chop was too dry for her.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1240">Next</a></li>
</ul>