<% provide :title, 'Opinion Target 661' %><h2>lunch combo<br />occurrence: 5</h2><div><ol><li>The only thing I enjoyed was the small ( 1 bite), free dessert cake that came with the lunch combo.</li><li>I asked them if they had a lunch combo that included spicy tuna Maki and mixed Sashimi.</li><li>Tried couple of sushi ( lunch combo B) that includes 3 sushi rolls, miso soup and small salad.</li><li>We ordered 3 drinks and a lunch combo, the drinks came fast but the food took forever, seems like there was only 1 person working in the kitchen.</li><li>Ordered the Jambalaya Fettuccine and Minestrone soup, a lunch combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_662">Next</a></li>
</ul>