<% provide :title, 'Opinion Target 2271' %><h2>cheese single topping pizza<br />occurrence: 1</h2><div><ol><li>I just ordered a Bomba and it had less cheese than a plain cheese single topping pizza should have.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2272">Next</a></li>
</ul>