<% provide :title, 'Opinion Target 4283' %><h2>lunch bufffet<br />occurrence: 1</h2><div><ol><li>It 's an okay lunch bufffet, the price can be a little higher than the norm but still even with that in mind, I can see myself coming back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4282">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4284">Next</a></li>
</ul>