<% provide :title, 'Opinion Target 7195' %><h2>fried chicken cutlet<br />occurrence: 1</h2><div><ol><li>Honorable mention would have to be the chicken katsu don, which is a fried chicken cutlet with a rich sweet and tangy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7196">Next</a></li>
</ul>