<% provide :title, 'Opinion Target 4860' %><h2>bbq skewers<br />occurrence: 1</h2><div><ol><li>The lamb was a little chewy but the spices on the bbq skewers was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4861">Next</a></li>
</ul>