<% provide :title, 'Opinion Target 3835' %><h2>salmon sashimi with herb sauce<br />occurrence: 1</h2><div><ol><li>I want to recommend some favorite dishes but i realized i love a lots of them. scallop sashimi I believe they use different grade from other AYCE place, fresher and you can obviously tell they are all jumbo size. the salmon sashimi with herb sauce is in my must eat list ... etc ....... try them out, you wont be disappointed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3834">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3836">Next</a></li>
</ul>