<% provide :title, 'Opinion Target 5410' %><h2>bun bo hue specializes in bun bo hue<br />occurrence: 1</h2><div><ol><li>This is a small family business so do n't have high expectations and expect too much. bun bo hue specializes in bun bo hue, and there Pho is really good make sure you get the sugar cane drink too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5411">Next</a></li>
</ul>