<% provide :title, 'Opinion Target 3358' %><h2>plastic miso soup bowl<br />occurrence: 1</h2><div><ol><li>However the plastic miso soup bowl had such a strong bleach/chlorine taste and smell we could n't even drink it, it felt like pool water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3359">Next</a></li>
</ul>