<% provide :title, 'Opinion Target 8327' %><h2>bean dessert soup<br />occurrence: 1</h2><div><ol><li>They even provided green bean dessert soup free of charge, which was a nice surprise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8326">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8328">Next</a></li>
</ul>