<% provide :title, 'Opinion Target 8264' %><h2>rice noodle soup<br />occurrence: 1</h2><div><ol><li>Horrible customer service- I ordered vegetable and tofu vermicelli, and they gave me vegetable rice noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8263">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8265">Next</a></li>
</ul>