<% provide :title, 'Opinion Target 2986' %><h2>peanut drink<br />occurrence: 1</h2><div><ol><li>Try the peanut drink if you can.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2987">Next</a></li>
</ul>