<% provide :title, 'Opinion Target 3022' %><h2>broth crystal<br />occurrence: 1</h2><div><ol><li>My main complain is the broth, it is missing the flavor and is very dark, which means they do not parboil or roast the bones first and do not remove the scum in the final cooking, steps I would never miss when cooking at home, they help remove impurities and make broth crystal clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3023">Next</a></li>
</ul>