<% provide :title, 'Opinion Target 2089' %><h2>Uni Fried Rice<br />occurrence: 2</h2><div><ol><li>Disappointed from no Wagyu, I 'll go for Lobster where we got Sashimi Lobster ( $ 17.95), Sapporo Teppan Lobster ( $ 18.95), Grilled Lamb Chops ( $ 2.50/chop), Tuna Tataki ( $ 8.95), Uni Fried Rice ( $ 9.95), and Jumbo Teppan Oyster ( $ 2.49/each).</li><li>Uni Fried Rice did n't have much Uni to observe or taste and we did n't even get offered Bowls and Spoons to eat it with until we asked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2088">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2090">Next</a></li>
</ul>