<% provide :title, 'Opinion Target 1159' %><h2>tiger shrimps<br />occurrence: 3</h2><div><ol><li>The tiger shrimps were perfectly grilled and had a nice char to them.</li><li>For the main I had the set course curry tiger shrimp dinner ( $ 10.50) which included miso soup, salad, steamed rice, a bowl of thick slightly spicy curry ( it was alright) and four pieces of breaded tiger shrimps which were okay- the breaded batter was too thick.</li><li>I did n't have high hopes for `` tiger shrimps'', since a lot of restaurants called their shrimps tiger when they are not.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1158">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1160">Next</a></li>
</ul>