<% provide :title, 'Opinion Target 3925' %><h2>ground beef kebob<br />occurrence: 1</h2><div><ol><li>I really love the ground beef kebob, but the wood oven really gives the pizzas a nice flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3924">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3926">Next</a></li>
</ul>