<% provide :title, 'Opinion Target 4470' %><h2>bean paste soup<br />occurrence: 1</h2><div><ol><li>It even comes with bean paste soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4471">Next</a></li>
</ul>