<% provide :title, 'Opinion Target 2614' %><h2>bulgogi dinner box<br />occurrence: 1</h2><div><ol><li>I normally get a bulgogi dinner box which comes with sashimi, dynamite rolls, rice, bulgogi, green salad, miso soup, potato and chap chae for $ 11.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2615">Next</a></li>
</ul>