<% provide :title, 'Opinion Target 9420' %><h2>pan friend turnip cakes<br />occurrence: 1</h2><div><ol><li>I love their pan friend turnip cakes ( they are diced then fried with chicken, chili 's, egg) so awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9419">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9421">Next</a></li>
</ul>