<% provide :title, 'Opinion Target 6462' %><h2>pepper fried squid<br />occurrence: 1</h2><div><ol><li>You must try the salt and pepper fried squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6463">Next</a></li>
</ul>