<% provide :title, 'Opinion Target 3975' %><h2>pickled ginger on watermelon tortilla chips<br />occurrence: 1</h2><div><ol><li>It was presented beautifully, with guacamole, salsa, pickled ginger on watermelon tortilla chips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3974">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3976">Next</a></li>
</ul>