<% provide :title, 'Opinion Target 2370' %><h2>falafel appetizer<br />occurrence: 1</h2><div><ol><li>We tried the falafel appetizer, kabob ( mixture of beef and lamb), chicken tabaka ( also known as butterfly chicken), and the salmon dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2371">Next</a></li>
</ul>