<% provide :title, 'Opinion Target 5099' %><h2>salmom roe<br />occurrence: 1</h2><div><ol><li>It had eel, salmom roe and all the other stuff you put in fried rice. the combo didnt make me wanna eat it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5098">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5100">Next</a></li>
</ul>