<% provide :title, 'Opinion Target 5614' %><h2>Gam Ja<br />occurrence: 1</h2><div><ol><li>The Gam Ja Tang here is good and meaty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5615">Next</a></li>
</ul>