<% provide :title, 'Opinion Target 7357' %><h2>mushroom crepes<br />occurrence: 1</h2><div><ol><li>We ordered the smoked salmon and the mushroom crepes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7358">Next</a></li>
</ul>