<% provide :title, 'Opinion Target 2761' %><h2>bimbimbap choices<br />occurrence: 1</h2><div><ol><li>It was an absolute great find because this was n't your ordinary Korean restaurant but they specialize in a variety of bimbimbap choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2762">Next</a></li>
</ul>