<% provide :title, 'Opinion Target 3996' %><h2>chicken items<br />occurrence: 1</h2><div><ol><li>The menu offers up pizzas with an over emphasis on their chicken items as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3995">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3997">Next</a></li>
</ul>