<% provide :title, 'Opinion Target 5147' %><h2>congee star<br />occurrence: 1</h2><div><ol><li>I was `` wishing'' for a great place that opened late, tasted good, decent in price, and provided decent service .... congee star possesses all of these qualities and more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5146">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5148">Next</a></li>
</ul>