<% provide :title, 'Opinion Target 6551' %><h2>veal meat<br />occurrence: 1</h2><div><ol><li>The quality of the veal meat and toppings is low to medium compared to somewhere like California Sandwiches but for the much cheaper price, it 's well worth it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6552">Next</a></li>
</ul>