<% provide :title, 'Opinion Target 1299' %><h2>fish n chips<br />occurrence: 3</h2><div><ol><li>Try anything pub grub ( fish n chips, philly cheese steak, etc), they make a point to have a solid daily special, and if you feel like really grubbing souvlaki dinner isnt bad at all.</li><li>I always thought fish n chips would come with coleslaw but this place did n't.</li><li>Hidden spot, love their fish n chips, some of the best chips in town.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1300">Next</a></li>
</ul>