<% provide :title, 'Opinion Target 7455' %><h2>Peas + Paneer<br />occurrence: 1</h2><div><ol><li>The Mutter Paneer- It was n't just your standard Peas + Paneer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7456">Next</a></li>
</ul>