<% provide :title, 'Opinion Target 1192' %><h2>kitchen<br />occurrence: 3</h2><div><ol><li>The kitchen is a small exposed kitchen in the back corner.</li><li>At $ 15-20 a burger, one wishes that the kitchen could show the same attention to this part of the meal as it does with its creative selection of patties and fixin 's.</li><li>The food and kitchen staff are amazing!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1193">Next</a></li>
</ul>