<% provide :title, 'Opinion Target 7908' %><h2>rice stone<br />occurrence: 1</h2><div><ol><li>By the way, if you ever wonder why the waiter pour water in the rice stone after transferring the rice in the bowl, here 's the reason: like most non-korean people, we would think that they pour the water to easily clean the stone, but in fact, you should be eating it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7907">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7909">Next</a></li>
</ul>