<% provide :title, 'Opinion Target 5368' %><h2>waiting list<br />occurrence: 1</h2><div><ol><li>After 40 mins, no one ever called us, so we went back to check if they have table available, they said they never had our name/ number on the waiting list.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5369">Next</a></li>
</ul>