<% provide :title, 'Opinion Target 3358' %><h2>hot stone beef<br />occurrence: 1</h2><div><ol><li>Have hot stone beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3359">Next</a></li>
</ul>