<% provide :title, 'Opinion Target 7644' %><h2>snail burger<br />occurrence: 1</h2><div><ol><li>I always the the snail burger here- a burger with a hash brown- with a side of potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7645">Next</a></li>
</ul>