<% provide :title, 'Opinion Target 6501' %><h2>brunch crowd<br />occurrence: 1</h2><div><ol><li>They do not serve dim sum, but the brunch crowd is 99% Asian/Chinese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6502">Next</a></li>
</ul>