<% provide :title, 'Opinion Target 3064' %><h2>Beef rice noodles<br />occurrence: 1</h2><div><ol><li>Beef rice noodles: very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3063">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3065">Next</a></li>
</ul>