<% provide :title, 'Opinion Target 6907' %><h2>teppanyaki tables<br />occurrence: 1</h2><div><ol><li>Walking in I was taken aback by the size of the place and number of teppanyaki tables they had here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6908">Next</a></li>
</ul>