<% provide :title, 'Opinion Target 3705' %><h2>dish detergent<br />occurrence: 1</h2><div><ol><li>I really do n't know if this is because of the dish detergent they use .. or if they 're not properly cleaned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3706">Next</a></li>
</ul>