<% provide :title, 'Opinion Target 7806' %><h2>Mexican Benny<br />occurrence: 1</h2><div><ol><li>My all-time favorite is the Mexican Benny- Poached eggs on corn break with chorizo sausages and smothered with beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7805">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7807">Next</a></li>
</ul>