<% provide :title, 'Opinion Target 7398' %><h2>pumpkin latte<br />occurrence: 1</h2><div><ol><li>I felt like a fat-ass afterwards, but I was tempted to try their pumpkin latte, which was so-so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7399">Next</a></li>
</ul>