<% provide :title, 'Opinion Target 2517' %><h2>Turkey Bacon Sub<br />occurrence: 2</h2><div><ol><li>Get the Turkey Bacon Sub, Its turkey with strips of bacon.</li><li>Get the turkey bacon sub.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2518">Next</a></li>
</ul>