<% provide :title, 'Opinion Target 6337' %><h2>Lobster meal<br />occurrence: 1</h2><div><ol><li>2) Lobster meal ( 1 lb): The lobster was split in half and my friend and I each got a half.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6338">Next</a></li>
</ul>