<% provide :title, 'Opinion Target 2887' %><h2>Spicy Chicken House<br />occurrence: 1</h2><div><ol><li>Now on to my review**** Spicy Chicken House is a smaller restaurant with an inexpensive menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2886">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2888">Next</a></li>
</ul>