<% provide :title, 'Opinion Target 1422' %><h2>soy bean soup<br />occurrence: 3</h2><div><ol><li>Comes with tofu soup or soy bean soup, lettuce ( for wrapping), two sauces ( one tasted like peanut oil and salt, and the other was ssamjang ( a spicy seasoned bean paste), raw garlic slices ( for putting in your wraps) and two bowls of white rice.</li><li>We always order the same things- seasoned soy bean soup, glutinous rice roll, xiao long bao, four seasons string beans.</li><li>We ordered a combo for two people: Korean bacon cooked on a grill at your table with soy bean soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1423">Next</a></li>
</ul>