<% provide :title, 'Opinion Target 9363' %><h2>rice and noodle selection<br />occurrence: 1</h2><div><ol><li>The rice and noodle selection is impressive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9362">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9364">Next</a></li>
</ul>