<% provide :title, 'Opinion Target 8802' %><h2>dim sum competition<br />occurrence: 1</h2><div><ol><li>However, that 's probably more due to a lack of dim sum competition in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8803">Next</a></li>
</ul>