<% provide :title, 'Opinion Target 9352' %><h2>Mongolian food<br />occurrence: 1</h2><div><ol><li>If you know how Genuine Mongolian food is like, do n't come to this one, if you just want some random Chinese food, it worth a visit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9353">Next</a></li>
</ul>