<% provide :title, 'Opinion Target 6613' %><h2>Taiwanese food<br />occurrence: 1</h2><div><ol><li>The Taiwanese food is authentic and possibly one of the best bubble tea places because they use real quality tea ( as opposed to powders or cheap tea).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6614">Next</a></li>
</ul>