<% provide :title, 'Opinion Target 6410' %><h2>roll pho broth<br />occurrence: 1</h2><div><ol><li>I had a large rare beef and tripe pho, and an order of fresh roll pho broth: good flavour and not too greasy portion: good amount of noodle, could have used more beef and tripe for large size bowl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6411">Next</a></li>
</ul>