<% provide :title, 'Opinion Target 6108' %><h2>chili dog<br />occurrence: 1</h2><div><ol><li>The chili dog did n't come close to filling my enormousness appetite so had to actually get more food elsewhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6109">Next</a></li>
</ul>