<% provide :title, 'Opinion Target 2120' %><h2>Dessert options<br />occurrence: 2</h2><div><ol><li>Dessert options a little bit uninspired though.</li><li>They usually have more dessert options but seemed to be out today, but that did n't bother me since I was absolutely stuffed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2121">Next</a></li>
</ul>