<% provide :title, 'Opinion Target 2548' %><h2>lion roll<br />occurrence: 1</h2><div><ol><li>We also tried the blue fin tuna tartar only offered on weekends, the lion roll, crazy roll and the small sushi and maki combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2549">Next</a></li>
</ul>