<% provide :title, 'Opinion Target 8995' %><h2>eggs with farmers sausage<br />occurrence: 1</h2><div><ol><li>Ordered the 3 eggs with farmers sausage.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8996">Next</a></li>
</ul>