<% provide :title, 'Opinion Target 7385' %><h2>cubed cake bits<br />occurrence: 1</h2><div><ol><li>The inside of the crepe is loaded with whipped cream mixed with a small amount of cubed cake bits and sprinkled with mactcha powder on the ends of the crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7384">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7386">Next</a></li>
</ul>