<% provide :title, 'Opinion Target 4347' %><h2>bubble tea joint<br />occurrence: 1</h2><div><ol><li>I like this new trendy bubble tea joint!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4348">Next</a></li>
</ul>