<% provide :title, 'Opinion Target 2116' %><h2>Satays<br />occurrence: 2</h2><div><ol><li>Satays were also pretty nice; a lot of places fail at the sauce but this place was pretty authentic.</li><li>Noodles, rice dishes, satays, and desserts are all equally wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2115">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2117">Next</a></li>
</ul>