<% provide :title, 'Opinion Target 6403' %><h2>piccata<br />occurrence: 1</h2><div><ol><li>I discovered that the lunch menu is only on weekdays so ordered the chicken piccata entrée .. best piccata I have had in years with fresh bread, steamed veggies and grilled potatoes!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6404">Next</a></li>
</ul>