<% provide :title, 'Opinion Target 6929' %><h2>pan fried onion cake and noodles<br />occurrence: 1</h2><div><ol><li>I usually get the typical items, sweet sour soup, pork dumplings, pan fried onion cake and noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6930">Next</a></li>
</ul>