<% provide :title, 'Opinion Target 5310' %><h2>takeout spot<br />occurrence: 1</h2><div><ol><li>Not bad for a quick and cheap takeout spot, as long as you manage your expectations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5311">Next</a></li>
</ul>