<% provide :title, 'Opinion Target 2658' %><h2>'' beef broth for Kal Gook Soo<br />occurrence: 1</h2><div><ol><li>Their `` not so brothy'' beef broth for Kal Gook Soo is due to the fact that they do not use MSG ( unlike Buk-Chang-Dong Soon Tu Fu where all you can taste is MSG in their broth, yet people RAVE about their broth) and does not overload it with salt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2659">Next</a></li>
</ul>