<% provide :title, 'Opinion Target 7391' %><h2>mango dream cake<br />occurrence: 1</h2><div><ol><li>Strawberry meringue cake and mango dream cake are well-known for at this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7390">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7392">Next</a></li>
</ul>