<% provide :title, 'Opinion Target 4122' %><h2>curry container<br />occurrence: 1</h2><div><ol><li>The curry container was literally half full.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4123">Next</a></li>
</ul>