<% provide :title, 'Opinion Target 7683' %><h2>Food Barista<br />occurrence: 1</h2><div><ol><li>You arrive and a card is given to you ... you approach a food station with a plate, gesturing for your selection like Oliver Twist .. the Food Barista will punch your card with the appropriate value of the meal hidden in `` code'' At the end of your meal, your `` code'' is calculated and you then pay $ $ $.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7684">Next</a></li>
</ul>