<% provide :title, 'Opinion Target 6711' %><h2>metal pan<br />occurrence: 1</h2><div><ol><li>They used to bring a hot burner to your table, put the ingredients in a large metal pan partially cooked and let you finish off the cooking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6712">Next</a></li>
</ul>