<% provide :title, 'Opinion Target 1095' %><h2>chop suey<br />occurrence: 4</h2><div><ol><li>I 'm of the opinion that Thai food in Toronto is sort of like Chinese food in a small town: all chicken balls and chop suey.</li><li>In fact its byline is: `` Chop Suey Tavern Famous for Chinese Food since 1955'' That is a long time.</li><li>I do dislike the fact that they gave me a tiny piece of chicken on a really really big bed of sprouts and basically glorified `` chop suey''.</li><li>The Chop Suey even had some Ground Meat bits inside that was seasoned well and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1096">Next</a></li>
</ul>