<% provide :title, 'Opinion Target 5983' %><h2>bagelwich<br />occurrence: 1</h2><div><ol><li>My bagelwich and a large milk will set you back about $ 8.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5984">Next</a></li>
</ul>