<% provide :title, 'Opinion Target 8052' %><h2>`` tiramisu ''<br />occurrence: 1</h2><div><ol><li>The `` tiramisu'' is a 2 inch tiny cup with a piece of vanilla cake, with sugar syrup and cream on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8051">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8053">Next</a></li>
</ul>