<% provide :title, 'Opinion Target 3957' %><h2>sandwich menu<br />occurrence: 1</h2><div><ol><li>They offer up a decent sandwich menu, along with a daily soup, a daily muffin and a salad option as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3956">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3958">Next</a></li>
</ul>