<% provide :title, 'Opinion Target 7741' %><h2>green tea ice cream for dessert<br />occurrence: 1</h2><div><ol><li>Also with every meal you order comes with miso soup, salad and green tea ice cream for dessert ( almost every meal).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7740">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7742">Next</a></li>
</ul>