<% provide :title, 'Opinion Target 9374' %><h2>DIY stir fry<br />occurrence: 1</h2><div><ol><li>DIY stir fry, dim sum, buffet food, cold bar, and dessert with a chocolate fondue!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9375">Next</a></li>
</ul>