<% provide :title, 'Opinion Target 3939' %><h2>red hot chili peppers<br />occurrence: 1</h2><div><ol><li>They gave us the traditional garnishes such as red hot chili peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3938">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3940">Next</a></li>
</ul>