<% provide :title, 'Opinion Target 6901' %><h2>pepper shakers<br />occurrence: 1</h2><div><ol><li>My family and I have never ate at the teppenyaki area of the restaurant ... we do not need to see chefs juggling eggs and pepper shakers- we will leave that for the cirque du soleil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6900">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6902">Next</a></li>
</ul>