<% provide :title, 'Opinion Target 3898' %><h2>miscellaneous cake<br />occurrence: 1</h2><div><ol><li>It differs with choices like goat curry, stew chicken, and miscellaneous cake slices for dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3897">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3899">Next</a></li>
</ul>