<% provide :title, 'Opinion Target 4800' %><h2>bean rice<br />occurrence: 1</h2><div><ol><li>The bean rice is a little soft but that could be because of the extra ox-tail gravy I asked for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4801">Next</a></li>
</ul>