<% provide :title, 'Opinion Target 8080' %><h2>chef/owner<br />occurrence: 1</h2><div><ol><li>The chef/owner is always there, working hard to please his guests.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8081">Next</a></li>
</ul>