<% provide :title, 'Opinion Target 7134' %><h2>rice with the eel<br />occurrence: 1</h2><div><ol><li>In fact it is good enough for two meals- I always go there for late lunch and pack the rice with the eel for dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7135">Next</a></li>
</ul>