<% provide :title, 'Opinion Target 6224' %><h2>Eastern liquor<br />occurrence: 1</h2><div><ol><li>They also have a full bar and they do have arak ( a traditional Middle Eastern liquor), I had a glass of that and it was a nice accompaniment to my meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6225">Next</a></li>
</ul>