<% provide :title, 'Opinion Target 1163' %><h2>honey garlic chicken wings<br />occurrence: 3</h2><div><ol><li>We had the hot &amp; spicy spare ribs, honey garlic chicken wings, general tao chicken, and cashew chicken.</li><li>I had the Hakka house special noodles and the honey garlic chicken wings.</li><li>If you 're looking for a neighborhood sports pub this is the place! honey garlic chicken wings, that 's all I have to say.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1164">Next</a></li>
</ul>