<% provide :title, 'Opinion Target 6310' %><h2>bread bagel<br />occurrence: 1</h2><div><ol><li>Try the anise-flavoured twisted bread bagel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6311">Next</a></li>
</ul>