<% provide :title, 'Opinion Target 2703' %><h2>schnitzel sandwiches<br />occurrence: 1</h2><div><ol><li>I usually get the schnitzel sandwiches here, but the last time I came, I found the schnitzel to be quite salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2704">Next</a></li>
</ul>