<% provide :title, 'Opinion Target 5125' %><h2>pepper deep fried squid<br />occurrence: 1</h2><div><ol><li>The salt and pepper deep fried squid has a great kick which is perfect for this cold winter day, and tryly a yummy dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5124">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5126">Next</a></li>
</ul>