<% provide :title, 'Opinion Target 1771' %><h2>chicken shawarma sandwich<br />occurrence: 2</h2><div><ol><li>I wo n't return to this location though, because one of my dining companions found a huge, dead fly in his chicken shawarma sandwich.</li><li>Chicken Shawarma Sandwich- Shredded pieces of chicken grilled on a rotating spit with shredded lettuce, pickles and garlic sauce wrapped in a pita I really loved this, and chicken is usually at the bottom of my meat list.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1772">Next</a></li>
</ul>