<% provide :title, 'Opinion Target 8842' %><h2>chicken friar<br />occurrence: 1</h2><div><ol><li>The chicken friar was off the hook.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8843">Next</a></li>
</ul>