<% provide :title, 'Opinion Target 5765' %><h2>Thai dough fritter<br />occurrence: 1</h2><div><ol><li>Nope- it is surprisingly light and leaves room for the bounty of sides that come with all brunch entrées which include your choice of: Mango Salad/Homefries/Congee --- and -- Bread or Thai Donut Fritter -- and -- Sangkaya The Thai dough fritter ( pathongko) is a misnomer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5766">Next</a></li>
</ul>