<% provide :title, 'Opinion Target 7167' %><h2>jumbo shrimp<br />occurrence: 1</h2><div><ol><li>Herring, shrimp, jumbo shrimp, cocktail sauce ( so much cocktail sauce it was gross), smoked salmon, capers, cucumbers, etc ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7168">Next</a></li>
</ul>