<% provide :title, 'Opinion Target 5616' %><h2>rice cake soup<br />occurrence: 1</h2><div><ol><li>The rice cake soup is so good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5617">Next</a></li>
</ul>