<% provide :title, 'Opinion Target 1268' %><h2>food choices<br />occurrence: 3</h2><div><ol><li>Decent amount of food choices.</li><li>I ca n't speak for the rest of their menu except that there 's a bajillion food choices.</li><li>The appetizers are done well, and they 're honestly mainly meant as something to sustain your stomach as you chat a bit and decide on your food choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1269">Next</a></li>
</ul>