<% provide :title, 'Opinion Target 3505' %><h2>bulgoki<br />occurrence: 1</h2><div><ol><li>They used to be good but their food doesnt seem as fresh nowadays also their bulgoki is not fully cooked ( you can see the red).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3506">Next</a></li>
</ul>