<% provide :title, 'Opinion Target 7056' %><h2>red wine<br />occurrence: 1</h2><div><ol><li>I also tried some of their red wine and it was decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7057">Next</a></li>
</ul>