<% provide :title, 'Opinion Target 6104' %><h2>lamb specialties<br />occurrence: 1</h2><div><ol><li>My first stop was Chinese Beef and Lamb House, I chose this place for the Halal food and beef/ lamb specialties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6105">Next</a></li>
</ul>