<% provide :title, 'Opinion Target 4865' %><h2>authentic Northern China Muslim Chinese food<br />occurrence: 1</h2><div><ol><li>Great authentic Northern China Muslim Chinese food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4866">Next</a></li>
</ul>