<% provide :title, 'Opinion Target 7360' %><h2>Pastels<br />occurrence: 1</h2><div><ol><li>I love crepes so I come here a lot, Pastels was where I tried a salty crepe for the first time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7361">Next</a></li>
</ul>