<% provide :title, 'Opinion Target 9581' %><h2>rice noodle and bean sprouts<br />occurrence: 1</h2><div><ol><li>Again, limited spice in the curry but the rice noodle and bean sprouts and veggies all mixed up worked very well together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9580">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9582">Next</a></li>
</ul>