<% provide :title, 'Opinion Target 5422' %><h2>dishes : Chicken Fried Rice Chicken or Beef chop suey<br />occurrence: 1</h2><div><ol><li>Favourite dishes: Chicken Fried Rice Chicken or Beef chop suey #100 ( I never remember the name of it) we order it not spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5423">Next</a></li>
</ul>