<% provide :title, 'Opinion Target 1863' %><h2>beet salad<br />occurrence: 2</h2><div><ol><li>The beet salad was really good and a perfect portion.</li><li>We were a group of around 15 and arrived around 8 to a table set with about 40 dishes of shrimp cocktail, pickled herring, large plates of smoked salmon, beet salad, chicken pates, caesar salad, caviar and mini-pancakes, and much, much more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1862">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1864">Next</a></li>
</ul>