<% provide :title, 'Opinion Target 985' %><h2>mango chutney<br />occurrence: 3</h2><div><ol><li>I had a garlic naan bread ( best naan i 've ever had) and we ordered some pappadoms with mango chutney to start.</li><li>Must Try- imagine sweet and sour chicken at any regular chinese place but morphed into a mango chutney like sauce.</li><li>We just got the regular burger with a pile high of additional toppings: mango chutney, guacamole, blue cheese, Cajun pepper etc ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_986">Next</a></li>
</ul>