<% provide :title, 'Opinion Target 1011' %><h2>milk<br />occurrence: 4</h2><div><ol><li>I have n't tried other desserts but their milk shaving is the best!</li><li>At first when I received my drink, the sugar syrup and milk was poorly mixed ( the tea was still mostly at the bottom).</li><li>The mango sauce was artificial, the milk tasted like it came from powder.</li><li>A tad sour, the milk they used may have gone bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1012">Next</a></li>
</ul>