<% provide :title, 'Opinion Target 3281' %><h2>pasta pescatore<br />occurrence: 1</h2><div><ol><li>From the mushroom salad to the lasagna to the pasta pescatore all were superb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3280">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3282">Next</a></li>
</ul>