<% provide :title, 'Opinion Target 6052' %><h2>Chirashi sushi<br />occurrence: 1</h2><div><ol><li>Fortunately my friend picked this place for her birthday!:) We both ordered Chirashi sushi- an assortment of sushi on bed of rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6051">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6053">Next</a></li>
</ul>