<% provide :title, 'Opinion Target 2568' %><h2>Spicy Chicken Dinner<br />occurrence: 1</h2><div><ol><li>The Spicy Chicken Dinner is served with a delicious citrus-laced salad and flavourful miso soup to start followed by a platter of skinless, spicy, saucy chicken on a bed of well-seasoned vegetables ( mainly onions).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2569">Next</a></li>
</ul>