<% provide :title, 'Opinion Target 3770' %><h2>sichuan style sausage<br />occurrence: 1</h2><div><ol><li>The sichuan style sausage is not authentic, it 's not good, do n't order it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3769">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3771">Next</a></li>
</ul>