<% provide :title, 'Opinion Target 5332' %><h2>spider<br />occurrence: 1</h2><div><ol><li>I got take out and the order was done within 20 min, i got the spider, red dynamite, sushi bong special ( 5 piece sushi with salmon and white tuna, salmon maki and California.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5333">Next</a></li>
</ul>