<% provide :title, 'Opinion Target 5847' %><h2>potato and ice cream<br />occurrence: 1</h2><div><ol><li>I 've had actual purple sweet potato and ice cream flavored as such, and it did not taste like either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5848">Next</a></li>
</ul>