<% provide :title, 'Opinion Target 5776' %><h2>seafood curry<br />occurrence: 1</h2><div><ol><li>Definitely recommend this.the seafood curry comes in an actual coconut, and not just an emptied out coconut shell.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5777">Next</a></li>
</ul>