<% provide :title, 'Opinion Target 3138' %><h2>Delivery man<br />occurrence: 1</h2><div><ol><li>Delivery man was courteous and we ordered from just-eat, and the pizza delivered was hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3137">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3139">Next</a></li>
</ul>