<% provide :title, 'Opinion Target 2588' %><h2>fortune cookie<br />occurrence: 1</h2><div><ol><li>They stopped including the fortune cookie about a year ago.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2589">Next</a></li>
</ul>