<% provide :title, 'Opinion Target 4840' %><h2>lamb rack<br />occurrence: 1</h2><div><ol><li>The lamb rack was a pretty good portion for $ 14 and came with some delicious dry spice on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4839">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4841">Next</a></li>
</ul>