<% provide :title, 'Opinion Target 3729' %><h2>pinakbet<br />occurrence: 1</h2><div><ol><li>Try the beef steak, sinigang, pusit, fried shrimp, pancit, lechon kawali, or the pinakbet ( sp ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3730">Next</a></li>
</ul>