<% provide :title, 'Opinion Target 3745' %><h2>fruit smoothie menu<br />occurrence: 1</h2><div><ol><li>In my opinion, the fruit smoothie menu is the star of this establishment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3746">Next</a></li>
</ul>