<% provide :title, 'Opinion Target 4584' %><h2>beef with green bean spicy sauce<br />occurrence: 1</h2><div><ol><li>Our personal fav dishes are their crispy chicken dish ( sooo good though i feel the portion is a bit on the small side), taiwanese style spicy mixed, beef with green bean spicy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4585">Next</a></li>
</ul>