<% provide :title, 'Opinion Target 4203' %><h2>com tam<br />occurrence: 1</h2><div><ol><li>The rice ( com tam) is hard and dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4202">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4204">Next</a></li>
</ul>