<% provide :title, 'Opinion Target 2446' %><h2>beef rolls<br />occurrence: 1</h2><div><ol><li>Will try the beef rolls later.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2447">Next</a></li>
</ul>