<% provide :title, 'Opinion Target 2034' %><h2>Hot + Fries<br />occurrence: 2</h2><div><ol><li>Tip: Large Hot + Fries if you 're really hungry!</li><li>Tip: Large Hot + Fries if you 're really hungry!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2035">Next</a></li>
</ul>