<% provide :title, 'Opinion Target 9181' %><h2>Dessert fridge<br />occurrence: 1</h2><div><ol><li>Dessert fridge looks 100 years old ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9180">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9182">Next</a></li>
</ul>