<% provide :title, 'Opinion Target 4426' %><h2>fried oil<br />occurrence: 1</h2><div><ol><li>The interior is absolutely dreadful; fried oil all over the walls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4427">Next</a></li>
</ul>