<% provide :title, 'Opinion Target 5392' %><h2>beef stew brisket<br />occurrence: 1</h2><div><ol><li>The egg tomato dish was nothing special while the beef stew brisket was amazing with tender slices of meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5391">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5393">Next</a></li>
</ul>