<% provide :title, 'Opinion Target 1205' %><h2>fried pork chop<br />occurrence: 3</h2><div><ol><li>The fried pork chop was not crisp at all, but the taste was definitely there.</li><li>First time, all dishes were great, fried pork chop, marinated raw crab, and tofu soup.</li><li>For tonight 's dinner with a special friend, we ordered half a roasted duck ( $ 8.50), fried pork chop with spicy salt ( $ 6.95), and deep fried seafood with spicy salt ( $ 13.75).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1204">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1206">Next</a></li>
</ul>