<% provide :title, 'Opinion Target 1715' %><h2>lunch specials menu<br />occurrence: 2</h2><div><ol><li>Min order of $ 20 Their lunch specials menu is great.</li><li>After being seated and reviewing their extensive lunch specials menu, my boyfriend ordered the Chicken Terriyaki Bento Box for only $ 6.99 and I ordered the Futomaki Sushi Bento Box for only $ 7.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1716">Next</a></li>
</ul>