<% provide :title, 'Opinion Target 3706' %><h2>turkey burgers<br />occurrence: 1</h2><div><ol><li>I must ask for a little taste before I decide whether to buy salads, vegetables, turkey burgers etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3707">Next</a></li>
</ul>