<% provide :title, 'Opinion Target 5611' %><h2>LA Kalbi lunch<br />occurrence: 1</h2><div><ol><li>My LA Kalbi lunch ( roughly 8 individual kalbi ribs plus a large bowl of rice) I believe was ~ $ 12.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5612">Next</a></li>
</ul>