<% provide :title, 'Opinion Target 7915' %><h2>tofu soup dish<br />occurrence: 1</h2><div><ol><li>There only about 9 different meals you can get and they range from a meat dish to a tofu soup dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7914">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7916">Next</a></li>
</ul>