<% provide :title, 'Opinion Target 2748' %><h2>Korean vegetable dishes<br />occurrence: 1</h2><div><ol><li>The main course of rice and meat is prepared deliciously, and the complimentary Korean vegetable dishes complement the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2749">Next</a></li>
</ul>