<% provide :title, 'Opinion Target 8924' %><h2>curried eggplant and green mango salad<br />occurrence: 1</h2><div><ol><li>We go to Thai one on frequently, we love to order the curried eggplant and green mango salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8925">Next</a></li>
</ul>