<% provide :title, 'Opinion Target 4060' %><h2>pasta choices<br />occurrence: 1</h2><div><ol><li>This place looks to have many other great pasta choices that are worth a look ... and you may be lucky enough to have the 5-star version of the lasagna, rather than the 3.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4059">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4061">Next</a></li>
</ul>