<% provide :title, 'Opinion Target 1249' %><h2>baba<br />occurrence: 3</h2><div><ol><li>I usually order the vegetable plate with meat- the shawarma is always on point and never fatty or gristly; falafels are fresh and tasty and the hummos and baba ghanough are the best I 've ever had.</li><li>I never leave without food to take home- hummous, baba and tabouleh in summer ... lentil soup in winter.</li><li>While the flavours were authentic for the most part: the baba Ghanough was bland, the Falafels were dry and seemed re-heated and not fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1248">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1250">Next</a></li>
</ul>