<% provide :title, 'Opinion Target 7507' %><h2>kalbi & tonkasu<br />occurrence: 1</h2><div><ol><li>The chasu side dish, kalbi &amp; tonkasu are also fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7506">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7508">Next</a></li>
</ul>