<% provide :title, 'Opinion Target 2541' %><h2>Turkish pepperoni<br />occurrence: 1</h2><div><ol><li>Their selection of sujjuck ( Turkish pepperoni) is somewhat limited as they had only two options on my last visit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2542">Next</a></li>
</ul>