<% provide :title, 'Opinion Target 9166' %><h2>onion deep fried in a light fish and chips batter<br />occurrence: 1</h2><div><ol><li>Onion Chips- These are soo delicious, they are n't onion rings they are tiny pieces of onion deep fried in a light fish and chips batter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9165">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9167">Next</a></li>
</ul>