<% provide :title, 'Opinion Target 6701' %><h2>asian<br />occurrence: 1</h2><div><ol><li>Is it the best food I have ever had, no, but it gets the job done and is very satisfying especially given that it is in the north york area where there are really only 3 good asian ( chinese particular) restaurants which includes Tin Tin Congee, Hakka and Noodle on Finch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6700">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6702">Next</a></li>
</ul>