<% provide :title, 'Opinion Target 5397' %><h2>shredded chicken noodles<br />occurrence: 1</h2><div><ol><li>Both the cold shredded chicken noodles and the braised eggplant were just ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5398">Next</a></li>
</ul>