<% provide :title, 'Opinion Target 5869' %><h2>chocolate ice cream<br />occurrence: 1</h2><div><ol><li>The chocolate ice cream on the side was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5870">Next</a></li>
</ul>