<% provide :title, 'Opinion Target 2142' %><h2>chicken & fried rice<br />occurrence: 1</h2><div><ol><li>Anyway, we liked all the rolls, the crispy chicken &amp; fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2143">Next</a></li>
</ul>