<% provide :title, 'Opinion Target 2396' %><h2>hot pots<br />occurrence: 2</h2><div><ol><li>I love the hot pots, they are so tasty and the colour is so rich.</li><li>The ribs were amazing. ehhh not bad- 2.5. but not really good, and some of their prices are too high for what you actually get. ex. some of those $ 30 hot pots ... there 's really nothing much in there and no real special soup taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2395">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2397">Next</a></li>
</ul>