<% provide :title, 'Opinion Target 3707' %><h2>Grilled Veal Chop<br />occurrence: 1</h2><div><ol><li>The other main dish ordered was the Grilled Veal Chop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3708">Next</a></li>
</ul>