<% provide :title, 'Opinion Target 2363' %><h2>cinnamon raisin bagel with cream cheese<br />occurrence: 1</h2><div><ol><li>The rest of the family got lasagna, plain bagel with cream cheese, and cinnamon raisin bagel with cream cheese, along with maple cream and twisted glazed donuts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2362">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2364">Next</a></li>
</ul>