<% provide :title, 'Opinion Target 1997' %><h2>jumbo roll<br />occurrence: 2</h2><div><ol><li>Or the last option is the jumbo roll, which we both chose.</li><li>For the main there is choice of terriaki or a jumbo roll I chose a rainbow roll ( it is 11.99 on the regular menu) my hubby also ordered a roll ( 10.99 on regular menu).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1998">Next</a></li>
</ul>