<% provide :title, 'Opinion Target 3366' %><h2>butter chicken wraps<br />occurrence: 1</h2><div><ol><li>Their butter chicken wraps are heavenly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3367">Next</a></li>
</ul>