<% provide :title, 'Opinion Target 9672' %><h2>lula Kebob<br />occurrence: 1</h2><div><ol><li>My favourite items here are the lula Kebob and lamb chops !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9673">Next</a></li>
</ul>