<% provide :title, 'Opinion Target 2746' %><h2>ginsing chicken<br />occurrence: 1</h2><div><ol><li>The ginsing chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2747">Next</a></li>
</ul>