<% provide :title, 'Opinion Target 9438' %><h2>garlic sauteed snow pea tips<br />occurrence: 1</h2><div><ol><li>The garlic sauteed snow pea tips arrived fresh from the wok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9439">Next</a></li>
</ul>