<% provide :title, 'Opinion Target 7511' %><h2>bowl of noodles<br />occurrence: 1</h2><div><ol><li>King of King Ramen- when you 're craving something spicy and loaded with ingredients, this is a hearty bowl of noodles that will fill you up! 2.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7512">Next</a></li>
</ul>