<% provide :title, 'Opinion Target 3772' %><h2>shredded pork rolls<br />occurrence: 1</h2><div><ol><li>The friends I dined with ordered pho, vermicelli, and shredded pork rolls for appetizers, and were equally happy with their dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3773">Next</a></li>
</ul>