<% provide :title, 'Opinion Target 3973' %><h2>Sesame Ahi Tuna<br />occurrence: 1</h2><div><ol><li>We also ordered the Sesame Ahi Tuna ( $ 14.50)- my taste buds were pleasantly surprised by how well the wasabi cream and ponzu sauce went together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3974">Next</a></li>
</ul>