<% provide :title, 'Opinion Target 4565' %><h2>Cajun pepper<br />occurrence: 1</h2><div><ol><li>We just got the regular burger with a pile high of additional toppings: mango chutney, guacamole, blue cheese, Cajun pepper etc ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4566">Next</a></li>
</ul>