<% provide :title, 'Opinion Target 4527' %><h2>creme<br />occurrence: 1</h2><div><ol><li>The chicken pie is especially delicious with a nice balance of crust, creme, chicken and veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4528">Next</a></li>
</ul>