<% provide :title, 'Opinion Target 3980' %><h2>turkey gravy<br />occurrence: 1</h2><div><ol><li>My plate hardly had any gravy so I asked for extra and I got a thin, runny, salty brown liquid that was NOT turkey gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3979">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3981">Next</a></li>
</ul>