<% provide :title, 'Opinion Target 8163' %><h2>GM<br />occurrence: 1</h2><div><ol><li>Now she tells me the GM was in and the reason he could not speak to us was because he was, and I quote word for word, ' in and out for smokes'.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8164">Next</a></li>
</ul>