<% provide :title, 'Opinion Target 7068' %><h2>salmon tempura<br />occurrence: 1</h2><div><ol><li>Hawaiian Roll 5/5- I really like this one too it 's salmon tempura, avocado, cucumber, tobiko topped with spicy tuna &amp; crunch bits Philadelphia Roll 3/5 I 'm not a fan of cream cheese but my friend loved which is smoked salmon, avocado, cream cheese &amp; tobiko.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7067">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7069">Next</a></li>
</ul>