<% provide :title, 'Opinion Target 2877' %><h2>chicken shish kabob<br />occurrence: 1</h2><div><ol><li>My recommendations would be the hummus, chicken shish kabob, and shawarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2878">Next</a></li>
</ul>