<% provide :title, 'Opinion Target 7813' %><h2>eggs benedict meal<br />occurrence: 1</h2><div><ol><li>My boyfriend and I ordered an eggs benedict meal and a side order of bacon and sausage ... both were delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7814">Next</a></li>
</ul>