<% provide :title, 'Opinion Target 834' %><h2>Laterna<br />occurrence: 5</h2><div><ol><li>Laterna is a nice local greek restaurant.</li><li>Laterna is a favorite spot of mine and the BF, when we are craving a simple souvlaki pita and a salad.</li><li>Laterna is, also, not open on Sundays at all.</li><li>Laterna is a great place to eat when you are getting your car serviced at Sisley.</li><li>Laterna is a welcoming restaurant .. and a delicious one at that!:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_835">Next</a></li>
</ul>