<% provide :title, 'Opinion Target 7444' %><h2>cream and chocolate ice cream on waffle<br />occurrence: 1</h2><div><ol><li>This made picking something alot easier, I got a Nutella, banana, whipped cream and chocolate ice cream on waffle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7445">Next</a></li>
</ul>