<% provide :title, 'Opinion Target 1969' %><h2>cream flake cake<br />occurrence: 2</h2><div><ol><li>Love the cream flake cake, just to me the `` top'' part ( whatever it called), should be crispy rather than chewy.</li><li>Regardless, it helped plenty with the decision-making, and I ordered a sesame ice cream crepe, while my brother ordered the napolean cake ( called a cream flake cake).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1968">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1970">Next</a></li>
</ul>