<% provide :title, 'Opinion Target 6004' %><h2>This roll<br />occurrence: 1</h2><div><ol><li>Here are my favourites at this place:- Shrimp Tempura ( HUGE Shrimps with a nice crispy finish)- Red Dragon ( This roll is wrapped up in delicious smoked salmon)- Green Dragon ( a delicious combo of shrimp, crab and veggies wrapped up in fresh green avocado)- Golden California Rolls ( Not as healthy but it is fried to perfection and melts in your mouth)- Chicken Teriyaki bento box ( tons of food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6005">Next</a></li>
</ul>