<% provide :title, 'Opinion Target 1330' %><h2>donuts<br />occurrence: 2</h2><div><ol><li>It has variety of breads, donuts, soups &amp; sandwiches.</li><li>Although my vanilla parfait did n't come with any granola and the bagel + sandwiches + donuts were much smaller than what I am used to in the states- they were all made to order and tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1329">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1331">Next</a></li>
</ul>