<% provide :title, 'Opinion Target 4328' %><h2>koobideh with rice<br />occurrence: 1</h2><div><ol><li>My mom really likes this place we eat here almost once a week, but it 's really good for 10 $ a plate for the koobideh with rice not to mention really filling ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4327">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4329">Next</a></li>
</ul>