<% provide :title, 'Opinion Target 8845' %><h2>noodles by hand<br />occurrence: 1</h2><div><ol><li>Great little space; nicely decorated, and you can watch the chef make noodles by hand which is kinda cool.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8846">Next</a></li>
</ul>