<% provide :title, 'Opinion Target 7542' %><h2>salad sandwich<br />occurrence: 1</h2><div><ol><li>If you want a sub that does n't taste like a salad sandwich this is the place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7543">Next</a></li>
</ul>