<% provide :title, 'Opinion Target 6085' %><h2>lasagna noodles<br />occurrence: 1</h2><div><ol><li>The beef noodle is with the thin noodle but the lamb noodle is with thick noodles like lasagna noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6084">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6086">Next</a></li>
</ul>