<% provide :title, 'Opinion Target 4732' %><h2>plate of bean sprouts<br />occurrence: 1</h2><div><ol><li>For example, the plate of bean sprouts, lime and other herbs that accompany your meal are fresh and generous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4733">Next</a></li>
</ul>