<% provide :title, 'Opinion Target 4349' %><h2>yogurt + cucumber + mint )<br />occurrence: 1</h2><div><ol><li>Hubby and I had `` mast-o-moosir'' ( yoghurt + little pieces of shallots) and `` mast-o-khiar'' ( yogurt + cucumber + mint).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4350">Next</a></li>
</ul>