<% provide :title, 'Opinion Target 1616' %><h2>food stalls<br />occurrence: 2</h2><div><ol><li>The food stalls in the back are awesome!</li><li>I travel for to China mainly for work very often and I can actually say the food and atmosphere here reminds me deeply of the hip, delicious food stalls in China.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1617">Next</a></li>
</ul>