<% provide :title, 'Opinion Target 8101' %><h2>vegetale pizza<br />occurrence: 1</h2><div><ol><li>Tried their vegetale pizza today.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8100">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8102">Next</a></li>
</ul>