<% provide :title, 'Opinion Target 1493' %><h2>whip cream<br />occurrence: 3</h2><div><ol><li>The whip cream was absolutely delicious.</li><li>Top picture is a view of the patio from inside the cafe. green tea red bean parfait This sundae consists of green tea ice cream, red bean paste, whip cream, green tea mousse, cake pieces and topped with some granola.</li><li>The whip cream was soft, and a bit gross.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1494">Next</a></li>
</ul>