<% provide :title, 'Opinion Target 1102' %><h2>deep fried tofu<br />occurrence: 4</h2><div><ol><li>My friends Thai basil tofu looked very underwhelming, just the deep fried tofu You buy at the supermarket sitting a top of a sauce and Bok Choy.</li><li>Be sure to try the Peking Duck, Deep Fried Tofu, Beef Noodle Soup, Dong Po pork, and Crystal Pork Aspic.</li><li>Sometimes the deep fried tofu comes out colder than usual but nothing more worth mentioning.</li><li>Tried a variety of dishes including shrimp dumplings, shrimp rolls, rice noodle rolls, and deep fried tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1103">Next</a></li>
</ul>