<% provide :title, 'Opinion Target 5855' %><h2>matcha red bean crepe<br />occurrence: 1</h2><div><ol><li>Both of us shared 1 order of the matcha red bean crepe as we had time to kill waiting for the movies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5856">Next</a></li>
</ul>