<% provide :title, 'Opinion Target 6061' %><h2>chief<br />occurrence: 1</h2><div><ol><li>Another customer came up to US and translated that that the chief was saying that if we annoy him anymore he will kill us or spit in our food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6060">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6062">Next</a></li>
</ul>