<% provide :title, 'Opinion Target 1789' %><h2>mango shrimp<br />occurrence: 2</h2><div><ol><li>The highlight of the night is when my spice craving friend repeatedly ordered so much hot sauce for her mango shrimp, the chef, and both of the owners came out in utter astonishment in the amount of red goo she was applying to her entrée.</li><li>I think I ordered the mango shrimp, or was it ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1790">Next</a></li>
</ul>