<% provide :title, 'Opinion Target 6916' %><h2>Pad See-Eew<br />occurrence: 1</h2><div><ol><li>It reminds me of Pad See-Eew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6917">Next</a></li>
</ul>