<% provide :title, 'Opinion Target 8190' %><h2>portions of meat<br />occurrence: 1</h2><div><ol><li>There are good portions of meat on-the-bone which is easy to remove given how tender it is.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8191">Next</a></li>
</ul>