<% provide :title, 'Opinion Target 1109' %><h2>fish filet<br />occurrence: 3</h2><div><ol><li>Most of the menu items are homemade except for the gyros and the fish filet.</li><li>I always get fish filet, end up having the cheese on top or outside of my sandwich 80% of the time here.</li><li>Each fish filet was well seasoned with garlic and the sauce, extremely flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1110">Next</a></li>
</ul>