<% provide :title, 'Opinion Target 1002' %><h2>fruit juice<br />occurrence: 3</h2><div><ol><li>Healthy, tasty, speedy:) You can also have fresh fruit juice. 野菜がたっぷりとれるサンドイッチやラップがお気に入りです 。.</li><li>And my passion fruit juice was watered down !!!!!</li><li>Whereas a normal drink fountain has about 8 choices, this machine has probably 20 to 30- including 5 or so different flavors of ( artificial ?) fruit juice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1003">Next</a></li>
</ul>