<% provide :title, 'Opinion Target 1329' %><h2>queso<br />occurrence: 3</h2><div><ol><li>And we ordered two orders of chicken wings and an appetizer of chips and queso.</li><li>And let me tell you- when they say queso Oaxaca, it is REAL queso Oaxaca.</li><li>And let me tell you- when they say queso Oaxaca, it is REAL queso Oaxaca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1328">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1330">Next</a></li>
</ul>