<% provide :title, 'Opinion Target 784' %><h2>bento boxes<br />occurrence: 4</h2><div><ol><li>The bento boxes are a great deal, and their kalbi ( korean bbq beef shortribs) are delicious.</li><li>The bento boxes are much more reasonably priced and provide a nice variety of flavors.</li><li>The bento boxes are worth the value.</li><li>I always get the bento boxes which have never disappointed but my last dining experience was pretty horrible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_785">Next</a></li>
</ul>