<% provide :title, 'Opinion Target 807' %><h2>decoration<br />occurrence: 4</h2><div><ol><li>The decoration was good.</li><li>What I heard is all true- greasy decoration- you can see it on the wall and feel it in the air.</li><li>You can eat in, there 's a small dining room where the yummy smell and the accents of the regulars are the best decoration.</li><li>I guess everybody who works there has a car: p The decoration is great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_806">Previous</a></li>
  <li class="next"><a href=".\opinion_target_808">Next</a></li>
</ul>