<% provide :title, 'Opinion Target 5793' %><h2>iced latte<br />occurrence: 1</h2><div><ol><li>My iced latte was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5794">Next</a></li>
</ul>