<% provide :title, 'Opinion Target 2530' %><h2>veggies get brown ''<br />occurrence: 1</h2><div><ol><li>Whenever I call to them about my issues they never really seem to apologize, rather blame it on me; `` you did not tell me no sunflower seeds'' ( i did) `` do n't leave the salad in the car or the veggies get brown'' ( i never do) `` my chef forgot to put in the carrots, I will give you extra next time'' ( I watched her make my salad, not a chef &amp; my salad literally had lettuce, cheese and 4 mandarin oranges in it).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2531">Next</a></li>
</ul>