<% provide :title, 'Opinion Target 2265' %><h2>steamed soup dumplings<br />occurrence: 2</h2><div><ol><li>Like another reviewer mentioned, their steamed soup dumplings are good- not the best, not the worst.</li><li>The five of us ordered a ton of food including: 1. steamed soup dumplings: typical as expected.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2266">Next</a></li>
</ul>