<% provide :title, 'Opinion Target 1244' %><h2>menu selections<br />occurrence: 3</h2><div><ol><li>I can at least say that the service was good, food came quick and we never had to wait to give the waiter our menu selections.</li><li>GTA has a greater proportion of Southern Chinese immigrants so the menu selections are noticeably different from the Southern Chinese restaurants.</li><li>Menu selections are all good and worth trying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1245">Next</a></li>
</ul>