<% provide :title, 'Opinion Target 1277' %><h2>menu board<br />occurrence: 3</h2><div><ol><li>They have fries on their menu board, but do n't actually have fries.</li><li>I really wanted an empanada but there was nothing in the hot oven ( and they do n't have it listed on the menu board) so I ordered an arepa.</li><li>We also asked the cashier what the special was today and all she did was point up to the menu board, lol.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1278">Next</a></li>
</ul>