<% provide :title, 'Opinion Target 6936' %><h2>deep fried egg whites with red bean paste<br />occurrence: 1</h2><div><ol><li>It 's made of lightly deep fried egg whites with red bean paste in the center, sprinkled with sugar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6935">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6937">Next</a></li>
</ul>