<% provide :title, 'Opinion Target 6137' %><h2>takeout Japanese food<br />occurrence: 1</h2><div><ol><li>I would n't recommend this place for its food, it 's probably fair to say I have had better overnight takeout Japanese food ( sans sushi) than this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6138">Next</a></li>
</ul>