<% provide :title, 'Opinion Target 5584' %><h2>'' pizza<br />occurrence: 1</h2><div><ol><li>Well, there is nothing basic about their `` basic'' pizza!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5585">Next</a></li>
</ul>