<% provide :title, 'Opinion Target 3992' %><h2>brunch foods<br />occurrence: 1</h2><div><ol><li>Brunch is one of my favourite meals because there 's nothing more comforting than French toast, eggs benedict, crepes and ... well okay- I guess all brunch foods are comfort foods: p Being a suburbanite we ventured up to Yonge/401 to have brunch at the Miller Tavern- a historic and quaint restaurant not too far from Auberge du Pommier ( yet another quaint and homey restaurant).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3993">Next</a></li>
</ul>