<% provide :title, 'Opinion Target 5514' %><h2>hot chocolate mix<br />occurrence: 1</h2><div><ol><li>The drink literally tasted like some version of watered down, cold hot chocolate mix.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5515">Next</a></li>
</ul>