<% provide :title, 'Opinion Target 6049' %><h2>ox tail gravy<br />occurrence: 1</h2><div><ol><li>Love their hot sauce and ox tail gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6050">Next</a></li>
</ul>