<% provide :title, 'Opinion Target 6399' %><h2>ladies serving<br />occurrence: 1</h2><div><ol><li>The ladies serving look miserable and it 's starting to show in their service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6400">Next</a></li>
</ul>