<% provide :title, 'Opinion Target 5872' %><h2>lychee flesh<br />occurrence: 1</h2><div><ol><li>It was loaded with fresh cream and lychee flesh, sprinkled with coconut chips and sugar powder, and came with two scoops or banana ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5873">Next</a></li>
</ul>