<% provide :title, 'Opinion Target 4010' %><h2>quebec blue cheese<br />occurrence: 1</h2><div><ol><li>The addition of quebec blue cheese adds umami punch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4009">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4011">Next</a></li>
</ul>