<% provide :title, 'Opinion Target 3085' %><h2>Taiwanese shaved ice<br />occurrence: 1</h2><div><ol><li>Since Korean shaved ice is different from Taiwanese shaved ice, the toppings creates the entire flavour for the shaved ice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3084">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3086">Next</a></li>
</ul>