<% provide :title, 'Opinion Target 6841' %><h2>Lamb Pao Mo. The<br />occurrence: 1</h2><div><ol><li>My favourite dish of the night was the Lamb Pao Mo. The lamb was very tender, the soup was very refreshing, and the Pao Mo were just the right amount of chewiness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6842">Next</a></li>
</ul>