<% provide :title, 'Opinion Target 5802' %><h2>Thai sausages<br />occurrence: 1</h2><div><ol><li>Food: App: Thai sausages- the selection is different each day and today, they had chicken sausages.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5803">Next</a></li>
</ul>