<% provide :title, 'Opinion Target 2812' %><h2>mushroom bibimbap<br />occurrence: 1</h2><div><ol><li>I got the beef and mushroom bibimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2813">Next</a></li>
</ul>