<% provide :title, 'Opinion Target 3039' %><h2>pesto mayonnaise<br />occurrence: 1</h2><div><ol><li>I love pesto mayonnaise!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3040">Next</a></li>
</ul>