<% provide :title, 'Opinion Target 933' %><h2>food service<br />occurrence: 4</h2><div><ol><li>But in today 's food service industry, that 's not as bad as it sounds.</li><li>Expertly assembled by the sweetest lady in the food service industry.</li><li>They obviously had zero training to be in the food service industry.</li><li>The food service is fast and efficient.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_934">Next</a></li>
</ul>