<% provide :title, 'Opinion Target 3288' %><h2>steak knives<br />occurrence: 1</h2><div><ol><li>Our entrees did not come out with steak knives like some places have it so we had to flag down another waiter after sitting and staring at our food for several minutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3287">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3289">Next</a></li>
</ul>