<% provide :title, 'Opinion Target 6874' %><h2>celery seed<br />occurrence: 1</h2><div><ol><li>Good coleslaw, a tad heavy on the celery seed but still good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6875">Next</a></li>
</ul>