<% provide :title, 'Opinion Target 9310' %><h2>Asian pear ''<br />occurrence: 1</h2><div><ol><li>Have no fear ringing that thing._______________ [ 1 ] Koreans doggedly claim the `` Asian pear'' is called a `` pear'' and call normal pears `` Western pears''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9311">Next</a></li>
</ul>