<% provide :title, 'Opinion Target 2496' %><h2>lobster noodle<br />occurrence: 2</h2><div><ol><li>The lobster noodle was very starchy.</li><li>We had clam congee and Lobster noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2497">Next</a></li>
</ul>