<% provide :title, 'Opinion Target 2420' %><h2>deep fried dumplings<br />occurrence: 2</h2><div><ol><li>We ordered deep fried dumplings, spicy fried squid, BBQ Ribs, and deep fried dumplings and waited no more than ten minutes.</li><li>We ordered deep fried dumplings, spicy fried squid, BBQ Ribs, and deep fried dumplings and waited no more than ten minutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2419">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2421">Next</a></li>
</ul>