<% provide :title, 'Opinion Target 3604' %><h2>creamy coleslaw<br />occurrence: 1</h2><div><ol><li>A good creamy coleslaw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3603">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3605">Next</a></li>
</ul>