<% provide :title, 'Opinion Target 964' %><h2>momo<br />occurrence: 4</h2><div><ol><li>I was a big fan of momo when my gf took me there.</li><li>The crisp outside gives you a crunch when you bite in, and the soft inside of the momo is chewy.</li><li>I let it sit a bit while I finished up my noodles and it did n't get soggy or leak through the momo.</li><li>And momo!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_963">Previous</a></li>
  <li class="next"><a href=".\opinion_target_965">Next</a></li>
</ul>