<% provide :title, 'Opinion Target 5291' %><h2>Kosher pizza<br />occurrence: 1</h2><div><ol><li>Great Kosher pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5292">Next</a></li>
</ul>