<% provide :title, 'Opinion Target 9410' %><h2>fried stuff<br />occurrence: 1</h2><div><ol><li>The fried stuff was a bit oilier than I 'd like, but other than that everything was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9411">Next</a></li>
</ul>