<% provide :title, 'Opinion Target 6448' %><h2>fast Chinese food<br />occurrence: 1</h2><div><ol><li>Such delicious and fast Chinese food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6447">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6449">Next</a></li>
</ul>