<% provide :title, 'Opinion Target 6874' %><h2>flank<br />occurrence: 1</h2><div><ol><li>Instead they gave us the skinny noodle rather than their signature Biang Biang Mian and just slices of beef, not the large chunks of marinated beef brisket and flank.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6875">Next</a></li>
</ul>