<% provide :title, 'Opinion Target 2676' %><h2>Pizza nova pizza<br />occurrence: 1</h2><div><ol><li>Pizza nova pizza is pretty much the same at all location, but this one has a great staff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2677">Next</a></li>
</ul>