<% provide :title, 'Opinion Target 9373' %><h2>stir fried dish<br />occurrence: 1</h2><div><ol><li>The make ur own stir fried dish is very unique.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9374">Next</a></li>
</ul>