<% provide :title, 'Opinion Target 4732' %><h2>bbq roast pork<br />occurrence: 1</h2><div><ol><li>Good tofu and bbq roast pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4733">Next</a></li>
</ul>