<% provide :title, 'Opinion Target 3145' %><h2>sour ham<br />occurrence: 1</h2><div><ol><li>I absolutely love the sour ham !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3144">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3146">Next</a></li>
</ul>