<% provide :title, 'Opinion Target 5081' %><h2>strawberry soju<br />occurrence: 1</h2><div><ol><li>I can still taste the sticky sweetness of the strawberry soju.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5082">Next</a></li>
</ul>