<% provide :title, 'Opinion Target 6199' %><h2>bibimbop<br />occurrence: 1</h2><div><ol><li>I would go again if I were craving soon tofu but I would like to try out the bulgogi there as well. this stuff is addictive .. simple menu, u just pick either the soup or the meat, or bibimbop ... and go from there .. but i tell u, whatever u choose u wo n't regret .. i had bibimbop and soft tofu soup with the seafood .. was fantastic .. i was so full but had to finish everything .. was that good .. usually packed so def recommend going off peak time ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6198">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6200">Next</a></li>
</ul>