<% provide :title, 'Opinion Target 5388' %><h2>appetizer with enoki mushrooms<br />occurrence: 1</h2><div><ol><li>( Northern style) we ordered the spicy fish noodle and the Biang Biang mien and the appetizer with enoki mushrooms, tofu skin, the fungus shaped like ears.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5389">Next</a></li>
</ul>