<% provide :title, 'Opinion Target 1175' %><h2>handmade noodles<br />occurrence: 3</h2><div><ol><li>The handmade noodles were bland and had a horrible smell to it.</li><li>While the Handmade Noodles is one of my fav all time in Toronto, the Dumplings this time which I got 1 Kimchi and 2 Cucumber had overpowering GARLIC and raw garlic at that which I love to eat but the combination within the Dumpling made it weird even for me.</li><li>HANDMADE NOODLE SOUP with LAMB The handmade noodles were so good- fresh and perfectly aldente.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1174">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1176">Next</a></li>
</ul>