<% provide :title, 'Opinion Target 6833' %><h2>beef tripe dish<br />occurrence: 1</h2><div><ol><li>I found their beef tripe dish a bit chewy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6834">Next</a></li>
</ul>