<% provide :title, 'Opinion Target 8860' %><h2>Fried cauliflower<br />occurrence: 1</h2><div><ol><li>App 's = Fried cauliflower- had it today was pretty awesome, Bourekas ( filo/fluff type pastry with spinach and cheese- delicious).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8861">Next</a></li>
</ul>