<% provide :title, 'Opinion Target 4437' %><h2>Seafood Linguine<br />occurrence: 1</h2><div><ol><li>Loved:- The Meat Lover 's Pizza- The Seafood Linguine- The affordable wine list- The friendly, attentive and efficient service- Ample seating, very family friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4438">Next</a></li>
</ul>