<% provide :title, 'Opinion Target 4531' %><h2>beef kebab with tomatoes , rice<br />occurrence: 1</h2><div><ol><li>I always get beef kebab with tomatoes, rice, and the bottom of the pan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4532">Next</a></li>
</ul>