<% provide :title, 'Opinion Target 5112' %><h2>fake sharkfin<br />occurrence: 1</h2><div><ol><li>Tofu and mushroom had more of a savory taste, tofu and corn was sweeter, and the pumpkin, rock crab, and fake sharkfin was a mix of both.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5111">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5113">Next</a></li>
</ul>