<% provide :title, 'Opinion Target 6809' %><h2>`` Dynamite Roll<br />occurrence: 1</h2><div><ol><li>This place is really great and became really popular due to their famous `` Dynamite Roll'' which is given in huge portions ( the size of one piece can barely fit in your mouth) in cheap prices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6810">Next</a></li>
</ul>