<% provide :title, 'Opinion Target 3434' %><h2>behari kebab<br />occurrence: 1</h2><div><ol><li>Went there for lunch and ordered the behari kebab and butter chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3433">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3435">Next</a></li>
</ul>