<% provide :title, 'Opinion Target 991' %><h2>Chili chicken<br />occurrence: 4</h2><div><ol><li>Chili chicken ...</li><li>The chili chicken here is different from most places I have ever had.</li><li>Highlights for me were the crispy chicken, crispy beef, chili chicken, and sizzling shrimp with scallions and ginger.</li><li>It seemed like the chicken dishes, the chili chicken and general tso chicken were really mushy and soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_990">Previous</a></li>
  <li class="next"><a href=".\opinion_target_992">Next</a></li>
</ul>