<% provide :title, 'Opinion Target 8179' %><h2>`` gamja ''<br />occurrence: 1</h2><div><ol><li>A lot of tender meat, enough veggies and a potato ( `` gamja'') was there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8180">Next</a></li>
</ul>