<% provide :title, 'Opinion Target 2957' %><h2>chicken option<br />occurrence: 1</h2><div><ol><li>We picked the chicken option which comes with chicken wings, sweet and sour chicken, chicken chow mein, chicken fried rice and two egg rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2956">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2958">Next</a></li>
</ul>