<% provide :title, 'Opinion Target 2517' %><h2>sashimi lovers<br />occurrence: 1</h2><div><ol><li>For sashimi lovers, I highly recommend the chirashi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2518">Next</a></li>
</ul>