<% provide :title, 'Opinion Target 1204' %><h2>mango sauce<br />occurrence: 3</h2><div><ol><li>The chicken was relish and the mango sauce was surprisingly nice.</li><li>The papaya ice cream also tasted amazing with the mango sauce over it I would definitely go back again to try more dishes on the menu!</li><li>The mango sauce was artificial, the milk tasted like it came from powder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1203">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1205">Next</a></li>
</ul>