<% provide :title, 'Opinion Target 3279' %><h2>large salad<br />occurrence: 1</h2><div><ol><li>On top of this, the large salad is $ 10 for a big bowl of lettuce with a few olives and tomatoes tossed in.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3280">Next</a></li>
</ul>