<% provide :title, 'Opinion Target 7399' %><h2>strawberry and mango meringue cakes<br />occurrence: 1</h2><div><ol><li>The strawberry and mango meringue cakes are my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7400">Next</a></li>
</ul>