<% provide :title, 'Opinion Target 6769' %><h2>Spicy Salmon roll.<br />occurrence: 1</h2><div><ol><li>Of the three rolls the best was the Spicy Salmon roll. which was crunchy and had the right amount of spicy as well salmon was good in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6768">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6770">Next</a></li>
</ul>