<% provide :title, 'Opinion Target 1412' %><h2>spicy salmon rolls<br />occurrence: 2</h2><div><ol><li>The spicy salmon rolls were very well made and had good presentation!</li><li>I got the spicy salmon rolls and lunch bento ( chicken katsu) with salad and two sides ( deep fried japchae roll and salmon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1413">Next</a></li>
</ul>