<% provide :title, 'Opinion Target 4918' %><h2>baba gannoush<br />occurrence: 1</h2><div><ol><li>What you should expect is things like: felafels, shwarma, baba gannoush, pickled turnips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4919">Next</a></li>
</ul>