<% provide :title, 'Opinion Target 1156' %><h2>refried beans<br />occurrence: 3</h2><div><ol><li>The salsa was n't well seasoned, the refried beans has no favor, nor the rice.</li><li>One bite I tasted mushy flavorless refried beans, another bite, dry and tastless lettuce.</li><li>The refried beans are the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1157">Next</a></li>
</ul>