<% provide :title, 'Opinion Target 4992' %><h2>fish paté and pickles<br />occurrence: 1</h2><div><ol><li>The complimentary appetizer that they always give before bringing the entree out comes with garlic toast, fish paté and pickles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4993">Next</a></li>
</ul>