<% provide :title, 'Opinion Target 961' %><h2>chicken crepe<br />occurrence: 4</h2><div><ol><li>I ordered smoked salmon crepe and she ordered chicken crepe.</li><li>The chicken crepe included cremini, spinach, swiss cheese, and a cream sauce.</li><li>We have a party of 5, we ordered 2 chicken crepe, frankfurter crepe, green tea and red bean crepe.</li><li>My friend ordered a chicken crepe which came with a salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_962">Next</a></li>
</ul>