<% provide :title, 'Opinion Target 1079' %><h2>bamboo shoots<br />occurrence: 4</h2><div><ol><li>The eggplant and bamboo shoots is very tasty and the pancakes are very delicious.</li><li>They used canned pineapple and bamboo shoots.</li><li>I have tried several things from the menu and quite liked them all, although i would avoid anything with bamboo shoots in it.</li><li>A nice soft crunchy texture sort of like bamboo shoots in those vegetarian dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1080">Next</a></li>
</ul>