<% provide :title, 'Opinion Target 6422' %><h2>shrimp spring rolls<br />occurrence: 1</h2><div><ol><li>The shrimp spring rolls are also well made here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6423">Next</a></li>
</ul>