<% provide :title, 'Opinion Target 8072' %><h2>mixed peppers<br />occurrence: 1</h2><div><ol><li>The standard burrito build is rice, your choice of re-fried or black beans, grilled veggies ( mixed peppers and onions mostly), mild or medium sauce, both tomato and corn salsas, cheese, lettuce and sour cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8073">Next</a></li>
</ul>