<% provide :title, 'Opinion Target 913' %><h2>Armenian food<br />occurrence: 5</h2><div><ol><li>Not all that offering in authentic Armenian food.</li><li>I 've never had authentic Armenian food, but some of the other reviewers point out that this place is n't really Armenian.</li><li>If you are coming here for Armenian food, then this is not your place.</li><li>This is not the place for authentic Armenian food, but if you are in Victoria Park for whatever reason, you 'll definitely get a satisfying meal here.</li><li>It was my first time having Armenian food, it was really good but it is n't for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_914">Next</a></li>
</ul>