<% provide :title, 'Opinion Target 5482' %><h2>Peking Duck dinner<br />occurrence: 1</h2><div><ol><li>I would not recommend the option with the garlic sauce which is additional $ 2, bcuz it was simply chopping up the duck with some sauce on top, this method was hard to eat bcuz there was barely any meat left on the duck, so you would be spending most of your time nibbling on bones lol but i wasnt very willing to spend an additional $ 7 to have them debone the duck and give me a few pieces of lettuce either lol $ 36 for a 2 course Peking Duck dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5483">Next</a></li>
</ul>