<% provide :title, 'Opinion Target 3877' %><h2>mango yoghurt<br />occurrence: 1</h2><div><ol><li>I especially like their mango yoghurt and mango pudding and green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3878">Next</a></li>
</ul>