<% provide :title, 'Opinion Target 1790' %><h2>veggie dishes<br />occurrence: 2</h2><div><ol><li>The veggie dishes they started with were amazing.</li><li>We ordered the usual staple chinese foods such as sweet and sour pork, fried rice, veggie dishes, and a variety of other dishes that all tasted fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1791">Next</a></li>
</ul>