<% provide :title, 'Opinion Target 8233' %><h2>potato &<br />occurrence: 1</h2><div><ol><li>But I still go there for the Gamjatang ( spicy potato &amp; pork bone soup), which is great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8232">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8234">Next</a></li>
</ul>