<% provide :title, 'Opinion Target 7298' %><h2>Vegetable biryani<br />occurrence: 1</h2><div><ol><li>Vegetable biryani- I was most happy with this dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7297">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7299">Next</a></li>
</ul>