<% provide :title, 'Opinion Target 4022' %><h2>veranda<br />occurrence: 1</h2><div><ol><li>Convenient location, on Yonge St. by the subway and a 401 exit with plenty of parking, great veranda and two levels of the patio with both smoking and non-smoking sections.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4023">Next</a></li>
</ul>