<% provide :title, 'Opinion Target 2508' %><h2>Veggie Pakoras<br />occurrence: 2</h2><div><ol><li>Non Veg App Platter- Reshmi Kabob, Chicken Pakoras, Veggie Pakoras, Samosa, and a touch of salad.</li><li>The Veggie Pakoras were pretty awesome, and the Samosa was my favourite .. it was n't the typical punjabi style* thick crust* but more of what my mom makes, with a thin shell.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2509">Next</a></li>
</ul>