<% provide :title, 'Opinion Target 9017' %><h2>taquitos<br />occurrence: 1</h2><div><ol><li>I got the taquitos and the meat inside them was cold.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9016">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9018">Next</a></li>
</ul>