<% provide :title, 'Opinion Target 2055' %><h2>coffee with condensed milk<br />occurrence: 2</h2><div><ol><li>We also ordered a cold Vietnamese filtered coffee with condensed milk.</li><li>Ordered a cold Vietnamese filtered coffee with condensed milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2056">Next</a></li>
</ul>