<% provide :title, 'Opinion Target 2786' %><h2>eat food<br />occurrence: 1</h2><div><ol><li>Lady sneezes and wipes her nose while expecting me to eat food served by her.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2787">Next</a></li>
</ul>