<% provide :title, 'Opinion Target 8532' %><h2>poached egg<br />occurrence: 1</h2><div><ol><li>At the Markham location, the cook did n't drain all the water from the poached egg which resulted in soaked ham and soaked english muffin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8533">Next</a></li>
</ul>