<% provide :title, 'Opinion Target 2690' %><h2>soy sauce egg<br />occurrence: 1</h2><div><ol><li>Comes with a tired/dry looking half a soy sauce egg and did n't come with marinated/pickled raddish ( which often would be included).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2691">Next</a></li>
</ul>