<% provide :title, 'Opinion Target 2523' %><h2>tuna tataki salad<br />occurrence: 1</h2><div><ol><li>Had their softshell crab appetizer, tuna tataki salad, deep fried chicken pieces ( ?), and a sushi dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2524">Next</a></li>
</ul>