<% provide :title, 'Opinion Target 6345' %><h2>Jambalaya<br />occurrence: 1</h2><div><ol><li>Soup was good, Jambalaya was very mildly spiced, eventhough it is shown as spicy on the menu .... My partner in crime ordered the Chipotle Bacon Penne and the Minestrone ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6344">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6346">Next</a></li>
</ul>