<% provide :title, 'Opinion Target 6466' %><h2>beef with pineapple and peppers<br />occurrence: 1</h2><div><ol><li>Egg and crab soup had lots of flavour and the sizzling beef with pineapple and peppers was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6465">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6467">Next</a></li>
</ul>