<% provide :title, 'Opinion Target 3932' %><h2>chicken shawarma special with fries<br />occurrence: 1</h2><div><ol><li>For some odd reason, after having a chicken shawarma special with fries and salad for dinner my father and I had bad indigestion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3933">Next</a></li>
</ul>