<% provide :title, 'Opinion Target 5816' %><h2>Thai Islamic<br />occurrence: 1</h2><div><ol><li>Normally on a regular day, The Thai Islamic, and the Thai Basil Noodle on their menu is super delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5817">Next</a></li>
</ul>