<% provide :title, 'Opinion Target 9615' %><h2>lamb kadai gosht<br />occurrence: 1</h2><div><ol><li>So, here 's the good, bad and the ugly: The good: The lady taking the order was courteous, pleasent and nice. ( as one must be in the service industry) What I liked though is the she was willing to accommodate my request to change one item from their combo-I wanted to try their butter chicken instead of the lamb kadai gosht.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9616">Next</a></li>
</ul>