<% provide :title, 'Opinion Target 1373' %><h2>sushi quality<br />occurrence: 3</h2><div><ol><li>It had long hours which made it convenient and the sushi quality was delicious.</li><li>However, the sushi quality was n't the greatest.</li><li>The all you can eat menu is not that extensive and the sushi quality is mediocre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1374">Next</a></li>
</ul>