<% provide :title, 'Opinion Target 5447' %><h2>`` Thai Milk Tea ''<br />occurrence: 1</h2><div><ol><li>The only drink I 've ever tried and not liked is their `` Thai Milk Tea'' cause the flavour is so weak compared to the real thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5448">Next</a></li>
</ul>