<% provide :title, 'Opinion Target 5636' %><h2>kimchi radish cubes<br />occurrence: 1</h2><div><ol><li>Banchan ( side dishes) for the night were kimchi, pickled radish, kimchi radish cubes, bean sprouts, japchae, and broccoli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5637">Next</a></li>
</ul>