<% provide :title, 'Opinion Target 2378' %><h2>quality rice<br />occurrence: 2</h2><div><ol><li>Good quality rice.</li><li>Fresh food, good quality rice, fresh seafood ( hwae/sashimi) and almost friendly service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2377">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2379">Next</a></li>
</ul>