<% provide :title, 'Opinion Target 7884' %><h2>bagoong rice includes green mango<br />occurrence: 1</h2><div><ol><li>The bagoong rice includes green mango, which I do n't often eat so I really enjoyed that!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7885">Next</a></li>
</ul>