<% provide :title, 'Opinion Target 4695' %><h2>oxtail stew with veggies<br />occurrence: 1</h2><div><ol><li>The favorite of the night was definitely the kare-kare; an oxtail stew with veggies in a peanut based sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4696">Next</a></li>
</ul>