<% provide :title, 'Opinion Target 4873' %><h2>sushi maki roll<br />occurrence: 1</h2><div><ol><li>Essentially, it is a Vietnamese Summer Roll made of rice paper that was cut up to resemble a sushi maki roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4874">Next</a></li>
</ul>