<% provide :title, 'Opinion Target 2636' %><h2>serving of prosciutto<br />occurrence: 1</h2><div><ol><li>The pizza also had a very generous serving of prosciutto and was big enough that we had to take home half of it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2637">Next</a></li>
</ul>