<% provide :title, 'Opinion Target 6880' %><h2>toppings bar<br />occurrence: 1</h2><div><ol><li>Not only does Tov Li have fresh falafel with a toppings bar mimicking that of a middle-eastern market, it also has pizza down to an art.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6881">Next</a></li>
</ul>