<% provide :title, 'Opinion Target 5212' %><h2>regular bubble tea<br />occurrence: 1</h2><div><ol><li>The regular bubble tea was nothing special but for that price, I can easily get better elsewhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5213">Next</a></li>
</ul>