<% provide :title, 'Opinion Target 4897' %><h2>Beef Shawarma plate<br />occurrence: 1</h2><div><ol><li>I ordered the Beef Shawarma plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4896">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4898">Next</a></li>
</ul>