<% provide :title, 'Opinion Target 5345' %><h2>tea & water<br />occurrence: 1</h2><div><ol><li>Let me be specific, the tea &amp; water there is self serve but we did n't know that since it was our first time here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5344">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5346">Next</a></li>
</ul>