<% provide :title, 'Opinion Target 4262' %><h2>lobster risotto<br />occurrence: 1</h2><div><ol><li>Stepped in to try their lobster risotto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4261">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4263">Next</a></li>
</ul>