<% provide :title, 'Opinion Target 3519' %><h2>sauce flavors<br />occurrence: 1</h2><div><ol><li>It was n't the best spicy scallop mix ever, but the sauce flavors were very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3520">Next</a></li>
</ul>