<% provide :title, 'Opinion Target 9560' %><h2>mango meringue cake<br />occurrence: 1</h2><div><ol><li>I got a box of macaroons, their mango meringue cake, hot chocolate and my friend got their fruit cheesecake with honey lemon tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9561">Next</a></li>
</ul>