<% provide :title, 'Opinion Target 3837' %><h2>Sushi Legend<br />occurrence: 1</h2><div><ol><li>The quality of the sashimi at Sushi Legend was pretty standard for an AYCE restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3836">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3838">Next</a></li>
</ul>