<% provide :title, 'Opinion Target 9011' %><h2>bottomless coffee<br />occurrence: 1</h2><div><ol><li>Our bottomless coffee was filled only once when we asked the servers for a refill multiple times and no one showed up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9012">Next</a></li>
</ul>