<% provide :title, 'Opinion Target 4469' %><h2>romain<br />occurrence: 1</h2><div><ol><li>Then we ask for another the waitress said we have to finish the romain first ???</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4470">Next</a></li>
</ul>