<% provide :title, 'Opinion Target 875' %><h2>nigiri sushi<br />occurrence: 4</h2><div><ol><li>Their nigiri sushi can sometimes have a bit too much rice but its hit and miss depending on who is behind the counter.</li><li>Honestly, skip this deal and get more nigiri sushi, you can get the rolls anywhere.</li><li>Rice was way, way too sweet and not sticky enough, i.e. falling apart on the nigiri sushi.</li><li>I had the Suyatem Plate ( $ 28), which came w/ assorted nigiri sushi ( few pieces of raw sushi, 2 rolls), assorted tempera ( shrimp, zucchini, yam), chicken yakitori.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_876">Next</a></li>
</ul>