<% provide :title, 'Opinion Target 9069' %><h2>doenjang jjigae<br />occurrence: 1</h2><div><ol><li>We ordered samgyupsal bbq for two people ( ~ $ 35) which came with a jjigae ( stew) of our choice- we got doenjang jjigae.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9070">Next</a></li>
</ul>