<% provide :title, 'Opinion Target 2741' %><h2>alfredo sauce<br />occurrence: 1</h2><div><ol><li>The alfredo sauce had a weird test to it that did n't taste like a typical alfredo sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2740">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2742">Next</a></li>
</ul>