<% provide :title, 'Opinion Target 6383' %><h2>home-style gochuchang<br />occurrence: 1</h2><div><ol><li>Try their bibim nyengmyeon- gorgeous home-style gochuchang, not too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6384">Next</a></li>
</ul>