<% provide :title, 'Opinion Target 6150' %><h2>white fish<br />occurrence: 1</h2><div><ol><li>It 's immediately obvious that the sashimi and sushi are not fresh or the best quality; in fact, the white fish must 've been previously frozen judging by the spongey texture.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6151">Next</a></li>
</ul>