<% provide :title, 'Opinion Target 8930' %><h2>mango chicken with steamed rice.<br />occurrence: 1</h2><div><ol><li>I always order the mango chicken with steamed rice. it 's a bit pricy but it 's delicious and it 's enough to keep me eating all the way through a five or seven hour shift.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8931">Next</a></li>
</ul>