<% provide :title, 'Opinion Target 8317' %><h2>ginger bits<br />occurrence: 1</h2><div><ol><li>The ginger and chicken fried rice also had egg whites and was a pleasant surprise- the ginger bits gave a refreshing kick and the chicken and egg made it a hearty comfort food style fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8316">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8318">Next</a></li>
</ul>