<% provide :title, 'Opinion Target 2601' %><h2>fettuccine<br />occurrence: 1</h2><div><ol><li>Both pastas were fantastic, we especially loved the fettuccine, could n't help clearing out all food at once !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2602">Next</a></li>
</ul>