<% provide :title, 'Opinion Target 1047' %><h2>poached eggs<br />occurrence: 3</h2><div><ol><li>The poached eggs are always the way you order.</li><li>The poached eggs came on a biscuit.</li><li>The poached eggs were great, just they way I like them- supper runny on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1046">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1048">Next</a></li>
</ul>