<% provide :title, 'Opinion Target 3685' %><h2>coffee Mon-Fri<br />occurrence: 1</h2><div><ol><li>This is where I 'll be getting my coffee Mon-Fri.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3686">Next</a></li>
</ul>