<% provide :title, 'Opinion Target 3647' %><h2>topping selection<br />occurrence: 1</h2><div><ol><li>They have a nice topping selection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3648">Next</a></li>
</ul>