<% provide :title, 'Opinion Target 7425' %><h2>foams<br />occurrence: 1</h2><div><ol><li>The foams on top of the drinks were nice and thick!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7426">Next</a></li>
</ul>