<% provide :title, 'Opinion Target 2069' %><h2>bbt<br />occurrence: 2</h2><div><ol><li>Trust me when I say this, best. bbt.</li><li>This was one of the most expensive bbt I have had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2070">Next</a></li>
</ul>