<% provide :title, 'Opinion Target 1274' %><h2>oatmeal<br />occurrence: 3</h2><div><ol><li>I usually get the oatmeal ( made with water) with strawberries and cinnamon.</li><li>Oh and the brunch menu ... nothing on the sweet side ( pancakes, waffles, fruit salad, oatmeal, granola and yoghurt ...) which is always challenging for those of us not into eggs.</li><li>The fruit crepe is pretty light, and the oatmeal is nice for when the weather is cold.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1275">Next</a></li>
</ul>