<% provide :title, 'Opinion Target 3348' %><h2>ambient music<br />occurrence: 1</h2><div><ol><li>The restaurant is also quiet, with low ambient music that makes it easy to hold a conversation.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3349">Next</a></li>
</ul>