<% provide :title, 'Opinion Target 2222' %><h2>hot pepper beef<br />occurrence: 1</h2><div><ol><li>Specialize in spicy cabbage rice, spicy cod fish with cabbage and sizzling hot pepper beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2223">Next</a></li>
</ul>