<% provide :title, 'Opinion Target 3955' %><h2>lunch option<br />occurrence: 1</h2><div><ol><li>And while the Brekkie sandwich satisfied, I would have liked to try a lunch option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3956">Next</a></li>
</ul>