<% provide :title, 'Opinion Target 1297' %><h2>Lychee crepe<br />occurrence: 3</h2><div><ol><li>I particular, I felt that the Lychee crepe, mixed with the banana ice cream, made for an amazing blend of flavors that was a pleasure to experience.</li><li>Their lychee crepe was so bomb !!</li><li>Overall, I highly recommend their lychee crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1298">Next</a></li>
</ul>