<% provide :title, 'Opinion Target 5134' %><h2>fried rice with eel<br />occurrence: 1</h2><div><ol><li>I like the fried rice with eel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5135">Next</a></li>
</ul>