<% provide :title, 'Opinion Target 2750' %><h2>beef special<br />occurrence: 1</h2><div><ol><li>I hear the crispy beef special is good, looking forward to round-two!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2751">Next</a></li>
</ul>