<% provide :title, 'Opinion Target 886' %><h2>kim chi<br />occurrence: 4</h2><div><ol><li>The kim chi is a winner here, perfect balance of salt, sour, and chillies.</li><li>The kim chi seemed tastier as well in comparison to other korean places I have tried that serve side dishes to start.</li><li>Sides are yummy, kim chi is spicy, and service is fast.</li><li>The only other place where I have seen/tasted this kind of kim chi is in Korea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_887">Next</a></li>
</ul>