<% provide :title, 'Opinion Target 3277' %><h2>chicken pesto<br />occurrence: 1</h2><div><ol><li>The chicken pesto was not as good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3278">Next</a></li>
</ul>