<% provide :title, 'Opinion Target 6520' %><h2>green beans with pork<br />occurrence: 1</h2><div><ol><li>The green beans with pork, olive and dried fish is fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6521">Next</a></li>
</ul>