<% provide :title, 'Opinion Target 6845' %><h2>Biang Biang Mian )<br />occurrence: 1</h2><div><ol><li>Our main dish ( Biang Biang Mian) was a main dish ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6846">Next</a></li>
</ul>