<% provide :title, 'Opinion Target 6900' %><h2>black cod fish<br />occurrence: 1</h2><div><ol><li>My mom and I shared an appetizer portion of the Gindara which is a juicy and tender black cod fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6901">Next</a></li>
</ul>