<% provide :title, 'Opinion Target 3058' %><h2>dim atmosphere<br />occurrence: 1</h2><div><ol><li>Really nice dim atmosphere with very friendly staff!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3059">Next</a></li>
</ul>