<% provide :title, 'Opinion Target 1586' %><h2>stinky hot pot<br />occurrence: 2</h2><div><ol><li>- It has traditional Taiwanese food, such as stinky tofu, stinky hot pot, taiwanese sausages, etc.</li><li>My friend and I ordered- steamed xo sauce pork neck rice: a little bland, and came with a bowl of cooked lettuce in soy sauce ...- stinky hot pot: really good, with intestines, pigs blood, enokie mushrooms, fish balls, and fish cake- mixed vegetables and tofu dry pot: it was okay- herbal essence jelly in coconut milk: awesome- mango freeze: she said it was awesome The decor is nice, the service is unfriendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1585">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1587">Next</a></li>
</ul>