<% provide :title, 'Opinion Target 7012' %><h2>porked<br />occurrence: 1</h2><div><ol><li>My pull porked was tasteless, ribs hardly had any meat on it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7013">Next</a></li>
</ul>