<% provide :title, 'Opinion Target 9506' %><h2>fried fish skin<br />occurrence: 1</h2><div><ol><li>I also love all their noodle dishes and their fried fish skin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9507">Next</a></li>
</ul>