<% provide :title, 'Opinion Target 2600' %><h2>hot salsa<br />occurrence: 1</h2><div><ol><li>The mix of avocado and the hot salsa just made it work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2599">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2601">Next</a></li>
</ul>