<% provide :title, 'Opinion Target 5002' %><h2>lobster + lobster soup + dessert<br />occurrence: 1</h2><div><ol><li>I had the steam 1lb lobster + lobster soup + dessert &amp; my boyfriend had the broiled 2lb lobster + lobster soup + dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5003">Next</a></li>
</ul>