<% provide :title, 'Opinion Target 9604' %><h2>Price Fixe<br />occurrence: 1</h2><div><ol><li>Price Fixe for Summerlicious for 2012 is $ 25.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9603">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9605">Next</a></li>
</ul>