<% provide :title, 'Opinion Target 1379' %><h2>fried pork chop<br />occurrence: 2</h2><div><ol><li>The fried pork chop was not crisp at all, but the taste was definitely there.</li><li>First time, all dishes were great, fried pork chop, marinated raw crab, and tofu soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1380">Next</a></li>
</ul>