<% provide :title, 'Opinion Target 1284' %><h2>wonton soup<br />occurrence: 3</h2><div><ol><li>I had the wonton soup which had a few nice hunks of pork in it- and then followed up with a beef lo-mein.</li><li>We ordered pork dumplings in soup, beef and vegetable meal, wonton soup, vsteamed vegetables and seafood basket.</li><li>The wonton soup is pretty simple: wontons and noodle in a good clean tasting soup base.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1285">Next</a></li>
</ul>