<% provide :title, 'Opinion Target 8570' %><h2>fish curd<br />occurrence: 1</h2><div><ol><li>My favorite is by far the pork bone soup, it spicy and goes really well with the rice that they give you and the side dishes of bean sprouts, fish curd, kimchi, and seaweed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8571">Next</a></li>
</ul>