<% provide :title, 'Opinion Target 6447' %><h2>glass of red bean<br />occurrence: 1</h2><div><ol><li>A glass of red bean with a scoop of ice cream is one of the selections.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6448">Next</a></li>
</ul>