<% provide :title, 'Opinion Target 1297' %><h2>chocolate sauce<br />occurrence: 3</h2><div><ol><li>It 's loaded with whipped cream, chocolate sauce, powdered sugar, ice cream and crispy warm waffles!</li><li>Enough with that drizzle of chocolate sauce already!</li><li>Even then, I found it disappointing; the chocolate sauce might as well have been squeezed out of a bottle and the strawberries I ate were tart.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1298">Next</a></li>
</ul>