<% provide :title, 'Opinion Target 1304' %><h2>breakfast sausages<br />occurrence: 3</h2><div><ol><li>Came with breakfast potatoes, toast, two eggs, and three breakfast sausages.</li><li>But likewise I loved their breakfast sausages.</li><li>I would go again for the orange juice and those breakfast sausages.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1305">Next</a></li>
</ul>