<% provide :title, 'Opinion Target 5727' %><h2>rolls Pad Thai Bangkok stir fry Chicken with thai basil Fried banana with honey Fried banana with ice cream Appetizers<br />occurrence: 1</h2><div><ol><li>For 5 people we ordered: 2 Mango salads 2 Traditional platters ( 6 satays, 2 spring rolls each) Spring rolls Pad Thai Bangkok stir fry Chicken with thai basil Fried banana with honey Fried banana with ice cream Appetizers were n't anything spectacular, but enjoyable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5728">Next</a></li>
</ul>