<% provide :title, 'Opinion Target 2747' %><h2>soup bases<br />occurrence: 1</h2><div><ol><li>I find that their soup bases are blander than a lot of places downtown but maybe it 's just more authentic that way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2748">Next</a></li>
</ul>