<% provide :title, 'Opinion Target 1770' %><h2>yolk<br />occurrence: 2</h2><div><ol><li>I got my eggs poached ( soft) so that the liquid gold that is the yolk would ooze all over my ham steak and potatoes.</li><li>The egg sunny-side up was at least cooked but was just under to my taste ( the white-egg part near the yolk was still present and ' slimy').</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1769">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1771">Next</a></li>
</ul>