<% provide :title, 'Opinion Target 5312' %><h2>udon noodle<br />occurrence: 1</h2><div><ol><li>Personally, the udon noodle combo and spicy tuna maki is my favorite:) Used to be much better when Mr. Bong was there to serve us his handmade rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5313">Next</a></li>
</ul>