<% provide :title, 'Opinion Target 3402' %><h2>views<br />occurrence: 1</h2><div><ol><li>Dima was charming and affable as we shared views on world politics and local customs on enjoying libations ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3403">Next</a></li>
</ul>