<% provide :title, 'Opinion Target 3789' %><h2>seafood soup with glass noodles<br />occurrence: 1</h2><div><ol><li>I had the seafood soup with glass noodles and shrimp cracker.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3790">Next</a></li>
</ul>