<% provide :title, 'Opinion Target 2835' %><h2>Chicken Breast Shish<br />occurrence: 1</h2><div><ol><li>Chicken Breast Shish Kebab: Apparently the chicken breast is the same thing as the thigh at Hamizrach and for $ 17 there is very little left to the imagination ... as well as the plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2834">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2836">Next</a></li>
</ul>