<% provide :title, 'Opinion Target 7276' %><h2>chicken  -  Spicy fried chicken and soy garlic chicken<br />occurrence: 1</h2><div><ol><li>We ordered a combo of half chicken- Spicy fried chicken and soy garlic chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7277">Next</a></li>
</ul>