<% provide :title, 'Opinion Target 3293' %><h2>Malaysian fry rice<br />occurrence: 1</h2><div><ol><li>I tried all of them and my recommendation will be pad Thai, Malaysian fry rice, Thai beef and the red curry chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3294">Next</a></li>
</ul>