<% provide :title, 'Opinion Target 4458' %><h2>tangsuyuk<br />occurrence: 1</h2><div><ol><li>The spicy fried chicken ( kind of like a sweet and sour pork) and the tangsuyuk are must haves !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4457">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4459">Next</a></li>
</ul>