<% provide :title, 'Opinion Target 6785' %><h2>fruit syrup<br />occurrence: 1</h2><div><ol><li>It was rich without being heavy, and make sure that you get a bit of the fruit syrup that is beautifully presented in latte-art-style as it makes every bite a taste of heaven!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6786">Next</a></li>
</ul>