<% provide :title, 'Opinion Target 872' %><h2>Sushi Lunch<br />occurrence: 4</h2><div><ol><li>The Sushi Lunch A had a couple of seared salmon and tuna sushi; a bit more unique than the regular salmon/tuna/butterfish most restaurants use for lunch specials.</li><li>I was there for lunch by myself and had the Sushi lunch B for $ 12 CAD.</li><li>First my order was wrong, ordered sushi lunch and was charged and given the sashimi lunch.</li><li>Good inexpensive sushi lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_873">Next</a></li>
</ul>