<% provide :title, 'Opinion Target 3094' %><h2>bingsoo<br />occurrence: 1</h2><div><ol><li>My friend and I both ordered drinks and shared a bingsoo, which was good, but nothing over the top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3093">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3095">Next</a></li>
</ul>