<% provide :title, 'Opinion Target 6628' %><h2>service bell<br />occurrence: 1</h2><div><ol><li>Tip #1- The service bell can be HEARD by everyone in the restaurant except for the staff working here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6629">Next</a></li>
</ul>