<% provide :title, 'Opinion Target 1279' %><h2>arugula salad<br />occurrence: 3</h2><div><ol><li>Also came with a handful of arugula salad to make the plate feel complete.</li><li>I had the arugula salad ( you can add chicken or seared tuna) which was lacking acidity in the dressing but they were more than happy to rectify that with a dressing more to my taste.</li><li>I ordered the Arugula salad, Mediterranean Pizza and had the Tiramisu for dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1280">Next</a></li>
</ul>