<% provide :title, 'Opinion Target 3169' %><h2>veal milanese with veg<br />occurrence: 1</h2><div><ol><li>I had veal milanese with veg, and shared escargot for an appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3170">Next</a></li>
</ul>