<% provide :title, 'Opinion Target 2106' %><h2>Persian Saffron<br />occurrence: 2</h2><div><ol><li>The owner was super nice and helpful and let me sample by touch and smell the Persian Saffron I was looking for before purchase.</li><li>This, compared with the really low price of less than $ 60/ounce might make `` Super Arzon'' the definitive local place to obtain genuine Persian Saffron, also saving on high shipping and import fees.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2107">Next</a></li>
</ul>