<% provide :title, 'Opinion Target 1253' %><h2>homefries<br />occurrence: 3</h2><div><ol><li>Speaking of which, the gf ordered the Big Big ( $ 12.50) which is 4 eggs, 3 bacon strips, 3 sausages, homefries, toast, and your choice of french toast or pancake.</li><li>Think homefries but a bit sweeter and waaaaaaaay softer.</li><li>The eggs Benedict sauce had no flavour and both the homefries I had and my wife had were soggy in the middle and burnt on the outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1254">Next</a></li>
</ul>