<% provide :title, 'Opinion Target 6374' %><h2>crispy deep fried<br />occurrence: 1</h2><div><ol><li>Sing karaoke, drink soju and eat pork bone soup =) Their crispy deep fried sweet &amp; sour pork with apples was yummy as well .. no idea how they got it so darn crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6375">Next</a></li>
</ul>