<% provide :title, 'Opinion Target 2463' %><h2>Magic noodles<br />occurrence: 2</h2><div><ol><li>Coming into a neighborhood where the noodle competition is extremely cut-throat, Magic noodles has proved that they are a strong contender and looking for here to stay.</li><li>Keep it up Magic Noodles!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2464">Next</a></li>
</ul>