<% provide :title, 'Opinion Target 6460' %><h2>Preserved Sausage<br />occurrence: 1</h2><div><ol><li>The Chef Special Fried Rice with Scallop, Shrimp, BBQ pork and Preserved Sausage has its specialty but has different ingredients than the other restaurant if you do not read the description in English and order it under the Chinese name.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6461">Next</a></li>
</ul>