<% provide :title, 'Opinion Target 2492' %><h2>budae jjigae<br />occurrence: 2</h2><div><ol><li>The budae jjigae means roughly army tent or army camp stew.</li><li>Korea is a rich nation and many seem to want to forget its recent past as a nation of impoverished people feeding itself off of whatever fell off a US army truck. [ 2 ] The budae jjigae was pretty decent although the caldron was over full and at a precarious angle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2493">Next</a></li>
</ul>