<% provide :title, 'Opinion Target 6984' %><h2>bread with condensed milk<br />occurrence: 1</h2><div><ol><li>It was really the only acceptable restaurant where you could eat dumplings and white bread with condensed milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6983">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6985">Next</a></li>
</ul>