<% provide :title, 'Opinion Target 4331' %><h2>milk teas taste<br />occurrence: 1</h2><div><ol><li>Please Chatime: standardize the way your milk teas taste cos I have the feeling that you ai n't using the same tea as your shops in other countries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4330">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4332">Next</a></li>
</ul>