<% provide :title, 'Opinion Target 1266' %><h2>blue crab<br />occurrence: 3</h2><div><ol><li>I`d definitely come back to try their marinated raw blue crab.</li><li>The GanJang GeJang raw crabs arrived in two plates and split open to reveal the guts inside each small blue crab.</li><li>They use the blue crab, instead of the type from Korea for obvious reason.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1267">Next</a></li>
</ul>