<% provide :title, 'Opinion Target 4281' %><h2>butter chicken fan<br />occurrence: 1</h2><div><ol><li>And yessss, sounds completely horrible but I 'm a major butter chicken fan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4280">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4282">Next</a></li>
</ul>