<% provide :title, 'Opinion Target 2714' %><h2>Raw veggies<br />occurrence: 1</h2><div><ol><li>Raw veggies, coleslaws, breads. fruits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2715">Next</a></li>
</ul>