<% provide :title, 'Opinion Target 5046' %><h2>curry mashed potatoes<br />occurrence: 1</h2><div><ol><li>Imagine curry mashed potatoes, rolled up and battered then deep fried ... yea ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5047">Next</a></li>
</ul>