<% provide :title, 'Opinion Target 6900' %><h2>biang biang mian and pork jia mo for lunch<br />occurrence: 1</h2><div><ol><li>I tried the biang biang mian and pork jia mo for lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6901">Next</a></li>
</ul>