<% provide :title, 'Opinion Target 3942' %><h2>roasted lamb shank<br />occurrence: 1</h2><div><ol><li>We ordered the lightly breaded calamari starters and the roasted lamb shank as mains.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3943">Next</a></li>
</ul>