<% provide :title, 'Opinion Target 6171' %><h2>Banchan Bibimbap Porridge<br />occurrence: 1</h2><div><ol><li>Leaving the water behind I dug out the wet Purple Rice and added the Banchans to come up with the `` Banchan Bibimbap Porridge'' as a closing course.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6172">Next</a></li>
</ul>