<% provide :title, 'Opinion Target 1620' %><h2>eggplant parmesan<br />occurrence: 2</h2><div><ol><li>I ordered eggplant parmesan and my husband ordered a veal sandwich.</li><li>Almost all the vegetarian items listed are actually vegetarian ( i.e. eggless, without meat, chicken, or fish) with the exception of the eggplant parmesan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1619">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1621">Next</a></li>
</ul>