<% provide :title, 'Opinion Target 1136' %><h2>Palak Paneer<br />occurrence: 3</h2><div><ol><li>This is one non-veg place that has one of the best Palak Paneer.</li><li>They had vegetarian offerings such as palak paneer as well as some stables such as butter chicken, biryani and tandori chicken.</li><li>Food is flavourful and the palak paneer is awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1137">Next</a></li>
</ul>