<% provide :title, 'Opinion Target 5513' %><h2>lemon ricotta<br />occurrence: 1</h2><div><ol><li>Initially I subbed it with roasted pepper with dressing on the side- after the staff forgot to leave the dressing the other side, she immediately took back my order and made it from scratch again- second time I also swapped out the lemon ricotta for sweet potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5512">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5514">Next</a></li>
</ul>