<% provide :title, 'Opinion Target 2753' %><h2>yellow fried rice with scallions<br />occurrence: 1</h2><div><ol><li>Interesting combination, but the yellow fried rice with scallions and strips of beef also in made it some of the best rice I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2754">Next</a></li>
</ul>