<% provide :title, 'Opinion Target 3807' %><h2>green tea shaved ice available<br />occurrence: 1</h2><div><ol><li>I 'm actually kind of glad that sweet o clock next door did n't have the green tea shaved ice available ( because the girl that knows how to make it is on vacation ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3806">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3808">Next</a></li>
</ul>