<% provide :title, 'Opinion Target 2611' %><h2>baked pide bread<br />occurrence: 1</h2><div><ol><li>They even will bring you COMPLIMENTARY fresh baked pide bread!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2612">Next</a></li>
</ul>