<% provide :title, 'Opinion Target 7475' %><h2>Palak Panner<br />occurrence: 1</h2><div><ol><li>Chicken Tikka Masala, Palak Panner, Channa Masalla and Two Naans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7476">Next</a></li>
</ul>