<% provide :title, 'Opinion Target 4881' %><h2>of Japanese green tea<br />occurrence: 1</h2><div><ol><li>Also, not happy that they are serving Chinese tea instead of Japanese green tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4880">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4882">Next</a></li>
</ul>