<% provide :title, 'Opinion Target 1034' %><h2>Lobster Roll<br />occurrence: 3</h2><div><ol><li>My absolute favourite is the Lobster Roll ( tempura lobster with sweet mayo, like a Dynamite Roll on steroids).</li><li>We had the kamikaze and the lobster roll, both of which were great.</li><li>We tried the lobster roll, bulgogi dinner, and California and green dragon rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1035">Next</a></li>
</ul>