<% provide :title, 'Opinion Target 9032' %><h2>BBQ fare<br />occurrence: 1</h2><div><ol><li>Outrageous prices for THE worst BBQ fare I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9033">Next</a></li>
</ul>