<% provide :title, 'Opinion Target 6768' %><h2>Thai iced tea sucks<br />occurrence: 1</h2><div><ol><li>Reminder to self: their Thai iced tea sucks- do not order!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6769">Next</a></li>
</ul>