<% provide :title, 'Opinion Target 4969' %><h2>Steak Eggs Benedict<br />occurrence: 1</h2><div><ol><li>The Steak Eggs Benedict was something I 'd been looking for for quite some time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4968">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4970">Next</a></li>
</ul>