<% provide :title, 'Opinion Target 7073' %><h2>fish to rice<br />occurrence: 1</h2><div><ol><li>The fish to rice ratio was awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7074">Next</a></li>
</ul>