<% provide :title, 'Opinion Target 4098' %><h2>dessert wine<br />occurrence: 1</h2><div><ol><li>On top of it, we received complimentary dessert wine, what else can you ask for ??</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4099">Next</a></li>
</ul>