<% provide :title, 'Opinion Target 7474' %><h2>matcha red bean chiffon cake<br />occurrence: 1</h2><div><ol><li>The crepe is a ' individualized' or ' separated' version of a matcha red bean chiffon cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7473">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7475">Next</a></li>
</ul>