<% provide :title, 'Opinion Target 7893' %><h2>kimchi dishes<br />occurrence: 1</h2><div><ol><li>I love the purple rice it comes with and the side kimchi dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7894">Next</a></li>
</ul>