<% provide :title, 'Opinion Target 1875' %><h2>lunch deal<br />occurrence: 2</h2><div><ol><li>Really good lunch deal! 9 pieces salmon bento only for 10 bucks.</li><li>I was searching for a place to take my partner to for his birthday and I happened to spot a review for this place in the Toronto Star for a pretty lunch deal $ 20 for 3 courses; and since they indicated that this place would only be around for another year or so before the location was going torn down to make away for a new building for the community.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1876">Next</a></li>
</ul>