<% provide :title, 'Opinion Target 5039' %><h2>bacon chopped<br />occurrence: 1</h2><div><ol><li>I like the fact they use real bacon chopped up on the pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5040">Next</a></li>
</ul>