<% provide :title, 'Opinion Target 1509' %><h2>satay beef noodles<br />occurrence: 2</h2><div><ol><li>The satay beef noodles are solid, but I prefer the one across the street at wonderpho.</li><li>The satay beef noodles are super spicy with little satay taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1508">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1510">Next</a></li>
</ul>