<% provide :title, 'Opinion Target 2481' %><h2>Pineapple sorbet<br />occurrence: 1</h2><div><ol><li>For dessert, Pineapple sorbet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2482">Next</a></li>
</ul>