<% provide :title, 'Opinion Target 8012' %><h2>soy beans in soy sauce<br />occurrence: 1</h2><div><ol><li>Each order is served with the `` healthy'' purple rice, in a stone bowl, with the bahn-chahn ( usually bean sprouts, kimchi, shredded radish, and soy beans in soy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8013">Next</a></li>
</ul>