<% provide :title, 'Opinion Target 3361' %><h2>ginsing chicken<br />occurrence: 1</h2><div><ol><li>The ginsing chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3362">Next</a></li>
</ul>