<% provide :title, 'Opinion Target 5910' %><h2>butter cream<br />occurrence: 1</h2><div><ol><li>It was hard to cut into but the butter cream melts in your mouth and obviously it becomes really creamy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5911">Next</a></li>
</ul>