<% provide :title, 'Opinion Target 3986' %><h2>pork rinds<br />occurrence: 1</h2><div><ol><li>The standard gross pork rinds can be removed with chopsticks as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3987">Next</a></li>
</ul>