<% provide :title, 'Opinion Target 3664' %><h2>pork neck meat<br />occurrence: 1</h2><div><ol><li>I ordered pork neck meat with mushroom, fried chicken Tempeh ( 豆豉炒雞) and fried veggie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3665">Next</a></li>
</ul>