<% provide :title, 'Opinion Target 4069' %><h2>portabello mushroom salad<br />occurrence: 1</h2><div><ol><li>My friends shared the portabello mushroom salad which was in their words ... awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4070">Next</a></li>
</ul>