<% provide :title, 'Opinion Target 5785' %><h2>homemade whipped cream<br />occurrence: 1</h2><div><ol><li>Fresh homemade whipped cream ... I remember the first time I came here was almost 6 years ago.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5786">Next</a></li>
</ul>