<% provide :title, 'Opinion Target 1403' %><h2>Thai Ice Tea<br />occurrence: 3</h2><div><ol><li>I do wish they had Thai Ice Tea ... mmm ...</li><li>B + Thai ice tea- definitely was not worth $ 5.</li><li>The thai ice tea took awhile to get to us, but she explained why.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1404">Next</a></li>
</ul>