<% provide :title, 'Opinion Target 1847' %><h2>braised beef<br />occurrence: 2</h2><div><ol><li>Everything from pumpkin ravioli, to steak, to braised beef short ribs.</li><li>Such a wafer-like crispy outer shell to the most juicy, flavorful and tender braised beef inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1848">Next</a></li>
</ul>