<% provide :title, 'Opinion Target 7520' %><h2>chicken Katsu takeout<br />occurrence: 1</h2><div><ol><li>One time I got the chicken Katsu takeout and it was so bland that I never came back again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7521">Next</a></li>
</ul>