<% provide :title, 'Opinion Target 6388' %><h2>potato chunks<br />occurrence: 1</h2><div><ol><li>The potato chunks make the broth thicker which I enjoyed near the end with my rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6389">Next</a></li>
</ul>