<% provide :title, 'Opinion Target 7532' %><h2>chocolate ice cream mixed<br />occurrence: 1</h2><div><ol><li>The banana really helped to balance the flavour and the chocolate ice cream mixed with bites of the crepe tasted scrumptious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7533">Next</a></li>
</ul>