<% provide :title, 'Opinion Target 4874' %><h2>sushi pizzas<br />occurrence: 1</h2><div><ol><li>I also really like the sushi pizzas which is surprising considering I never liked it before due to bad experience from other restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4875">Next</a></li>
</ul>