<% provide :title, 'Opinion Target 2579' %><h2>ranch<br />occurrence: 1</h2><div><ol><li>Got the calamari ( super greasy and overcooked) and pork souvlaki ( the salad was the best part, potatoes were home fries and when I asked for the tzatziki it came with she had no idea what I was talking about and brought `` ranch'' that tasted nothing like ranch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2578">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2580">Next</a></li>
</ul>