<% provide :title, 'Opinion Target 5732' %><h2>oxtail sauce<br />occurrence: 1</h2><div><ol><li>I wo n't lie), and told her to forget the oxtail sauce and paid the regular $ 7.25 owed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5733">Next</a></li>
</ul>