<% provide :title, 'Opinion Target 3705' %><h2>Calamarri alla Griglia<br />occurrence: 1</h2><div><ol><li>The Calamarri alla Griglia was cooked perfectly and served with a lovely mango chilli salsa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3706">Next</a></li>
</ul>