<% provide :title, 'Opinion Target 4020' %><h2>jerk seasoning<br />occurrence: 1</h2><div><ol><li>Tender, flavourful jerk seasoning.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4019">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4021">Next</a></li>
</ul>