<% provide :title, 'Opinion Target 1433' %><h2>Butternut Squash soup<br />occurrence: 2</h2><div><ol><li>My dining companions ordered the Butternut Squash soup ( of the day), and the Arugula and Beet salad as their starters.</li><li>The butternut squash soup and ravioli were very well cooked and rich in flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1432">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1434">Next</a></li>
</ul>