<% provide :title, 'Opinion Target 1618' %><h2>Food Basics<br />occurrence: 2</h2><div><ol><li>Despite the Food Basics being attached to it, it looks as though every place around it is going down the gutter ( sorry guys).</li><li>Having lived in this area for over a decade, coming to the Carribean Palms was always something of a treat on the way back from the old food basics or the post office.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1619">Next</a></li>
</ul>