<% provide :title, 'Opinion Target 3214' %><h2>wasabi cream<br />occurrence: 1</h2><div><ol><li>We also ordered the Sesame Ahi Tuna ( $ 14.50)- my taste buds were pleasantly surprised by how well the wasabi cream and ponzu sauce went together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3213">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3215">Next</a></li>
</ul>