<% provide :title, 'Opinion Target 3071' %><h2>bar manager<br />occurrence: 1</h2><div><ol><li>She must be the bar manager.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3072">Next</a></li>
</ul>