<% provide :title, 'Opinion Target 6519' %><h2>Shanghai food<br />occurrence: 1</h2><div><ol><li>They have the typical Shanghai food, and the price is pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6520">Next</a></li>
</ul>