<% provide :title, 'Opinion Target 7974' %><h2>Bulgogi BBQ plate<br />occurrence: 1</h2><div><ol><li>Food: Bulgogi BBQ plate- beef was over cooked and many pieces were burnt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7973">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7975">Next</a></li>
</ul>