<% provide :title, 'Opinion Target 4348' %><h2>roasted tomato<br />occurrence: 1</h2><div><ol><li>Each dish came with a roasted tomato, which added a nice pop of color to the plate, in addition to being delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4349">Next</a></li>
</ul>