<% provide :title, 'Opinion Target 4393' %><h2>pasta with chicken<br />occurrence: 1</h2><div><ol><li>My husband ordered the veal parm and I ordered a pasta with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4394">Next</a></li>
</ul>