<% provide :title, 'Opinion Target 6119' %><h2>Lamb Slice Skewer<br />occurrence: 1</h2><div><ol><li>Lamb Slice Skewer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6120">Next</a></li>
</ul>