<% provide :title, 'Opinion Target 5758' %><h2>Golden Tofu Curry<br />occurrence: 1</h2><div><ol><li>Today I had their Golden Tofu Curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5759">Next</a></li>
</ul>