<% provide :title, 'Opinion Target 8531' %><h2>cheese omelette<br />occurrence: 1</h2><div><ol><li>I usually get the 10 star, but today I got the spinach and cheese omelette and it was just as good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8532">Next</a></li>
</ul>