<% provide :title, 'Opinion Target 7307' %><h2>Salted fish Braised Vermicelli<br />occurrence: 1</h2><div><ol><li>The Minced Pork with Eggplant and Salted fish Braised Vermicelli is not salty and very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7306">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7308">Next</a></li>
</ul>