<% provide :title, 'Opinion Target 6364' %><h2>rice cake dish<br />occurrence: 1</h2><div><ol><li>I 'd like to try their spicy rice cake dish next time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6365">Next</a></li>
</ul>