<% provide :title, 'Opinion Target 6427' %><h2>`` crab<br />occurrence: 1</h2><div><ol><li>The `` crab'' in it did n't really taste like crab, plus it was battered and deep fried and it just made the dish feel too heavy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6428">Next</a></li>
</ul>