<% provide :title, 'Opinion Target 1571' %><h2>wakame salad<br />occurrence: 2</h2><div><ol><li>What I had: Boston roll, Philadelphia rolls, Tempura rolls, miso soup, wakame salad and edemame.</li><li>Miso soup and wakame salad are pretty much the same anywhere you go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1572">Next</a></li>
</ul>