<% provide :title, 'Opinion Target 7132' %><h2>mango syrup<br />occurrence: 1</h2><div><ol><li>The mango syrup definitely helped cut through the creaminess of the panna cotta. nice ending.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7133">Next</a></li>
</ul>