<% provide :title, 'Opinion Target 6023' %><h2>Teriyaki Chicken Lunch Box : Chicken<br />occurrence: 1</h2><div><ol><li>2: Fried Udon, the one I ordered first time there and really surprised by the texture of the udon and the well-balanced sauce 3: Teriyaki Chicken Lunch Box: Chicken are so tender and juicy, sauce not too salty or sweet, love it, and good portion again I 've been Aoyama for their signature sashimi, did turn me down, but this one never turns me down, so sad to see it 's under-rated review on yelp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6022">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6024">Next</a></li>
</ul>