<% provide :title, 'Opinion Target 8936' %><h2>veg red curry<br />occurrence: 1</h2><div><ol><li>Their veg red curry is also very tasty and flavourful, although medirm heat is more like mild but tasty nonetheless ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8935">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8937">Next</a></li>
</ul>