<% provide :title, 'Opinion Target 4661' %><h2>oyster mushroom dish<br />occurrence: 1</h2><div><ol><li>The oyster mushroom dish was decent, not too bad, nothing special either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4662">Next</a></li>
</ul>