<% provide :title, 'Opinion Target 4523' %><h2>pies<br />occurrence: 1</h2><div><ol><li>We bought home 3 other pies- Chicken, Minced beef and Steak and Ale.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4524">Next</a></li>
</ul>