<% provide :title, 'Opinion Target 2784' %><h2>roast black<br />occurrence: 1</h2><div><ol><li>Friendly service with a smile, fresh coffee ( on my dark roast black), display full of selections of food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2785">Next</a></li>
</ul>