<% provide :title, 'Opinion Target 6246' %><h2>noorungjee<br />occurrence: 1</h2><div><ol><li>The noorungjee is also super yummy- a really nice way to end your meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6247">Next</a></li>
</ul>