<% provide :title, 'Opinion Target 2545' %><h2>twix candy bar<br />occurrence: 1</h2><div><ol><li>The twix candy bar tempura as dessert was good but Mara bar may have been better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2546">Next</a></li>
</ul>