<% provide :title, 'Opinion Target 8460' %><h2>pastas section<br />occurrence: 1</h2><div><ol><li>Today, the pastas section won me over as I ordered something seldom seen at most non-Italian restaurants: spaghetti bolognese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8461">Next</a></li>
</ul>