<% provide :title, 'Opinion Target 8711' %><h2>Pad woon<br />occurrence: 1</h2><div><ol><li>Pad woon sen was tasty but a bit salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8712">Next</a></li>
</ul>