<% provide :title, 'Opinion Target 1040' %><h2>turkish food<br />occurrence: 3</h2><div><ol><li>Other than that best turkish food ive had in toronto so far although I have n't been to too many.</li><li>Customer service 100% Real Turkish food YES Good prices YES The best tea and dessert, you do not need to go back to Turkey!</li><li>Very nice `` casual'' format place for good Turkish food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1039">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1041">Next</a></li>
</ul>