<% provide :title, 'Opinion Target 5339' %><h2>milk tea from chatime<br />occurrence: 1</h2><div><ol><li>I love the milk tea from chatime.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5340">Next</a></li>
</ul>