<% provide :title, 'Opinion Target 8370' %><h2>xiao long bao<br />occurrence: 1</h2><div><ol><li>Must order dumplings and other famous Shanghainese dishes ( xiao long bao is a must!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8371">Next</a></li>
</ul>