<% provide :title, 'Opinion Target 1637' %><h2>fish tank<br />occurrence: 2</h2><div><ol><li>I highly recommend having the white fish that is swimming inside the aquarium fish tank.</li><li>I 've been to this bakery numerous times and when you first walk in you actually realize it is a Bakery/Restaurant which is sectioned off by a fish tank ( a bit odd) further to the back of the establishment. decor could use some work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1638">Next</a></li>
</ul>