<% provide :title, 'Opinion Target 5675' %><h2>chicken breast stuffed with cheese<br />occurrence: 1</h2><div><ol><li>The staff were amazing and so helpful. we went yesterday for dinner and ordered INSALATA CAPRESE and CALAMARI FRITTI and were so good. and for the main course we ordered ORECCHIETTE AROMANTICA and a special dish ( chicken breast stuffed with cheese and spinach and vegetables on the side) and that when it went totally wrong.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5676">Next</a></li>
</ul>