<% provide :title, 'Opinion Target 2392' %><h2>seafood tofu<br />occurrence: 2</h2><div><ol><li>Sadly, I only had one mussel in my seafood tofu but it was yummy.</li><li>I ordered kimchi soon tofu once again whereas my friend ordered seafood tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2391">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2393">Next</a></li>
</ul>