<% provide :title, 'Opinion Target 2429' %><h2>bao<br />occurrence: 2</h2><div><ol><li>** The xiao long bao were not great.</li><li>We always order the same things- seasoned soy bean soup, glutinous rice roll, xiao long bao, four seasons string beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2430">Next</a></li>
</ul>