<% provide :title, 'Opinion Target 904' %><h2>noodle soups<br />occurrence: 4</h2><div><ol><li>For the specialty noodle soups such as `` bun bo hue'' you get a pretty sizable portion.</li><li>Their soups and noodle soups are great, and their congee dishes are excellent.</li><li>I give them three stars because their noodle soups are very oily, like a lot.</li><li>Their soupds and noodle soups are good and their congees are excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_903">Previous</a></li>
  <li class="next"><a href=".\opinion_target_905">Next</a></li>
</ul>