<% provide :title, 'Opinion Target 7266' %><h2>soup and rice noodle rolls<br />occurrence: 1</h2><div><ol><li>They have congee, chow mein, fried rice, soup and rice noodle rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7267">Next</a></li>
</ul>