<% provide :title, 'Opinion Target 7199' %><h2>bbq servings<br />occurrence: 1</h2><div><ol><li>( Me and 3 other friends got a hankering for bbq so we came here to eat some bbq pork but they refused to let us only order 1 bbq serving and insisted that because we were 4 people we needed to order at least 2 bbq servings otherwise we could n't eat here, so we left.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7198">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7200">Next</a></li>
</ul>