<% provide :title, 'Opinion Target 8280' %><h2>fries extravaganza<br />occurrence: 1</h2><div><ol><li>They should have named it the fries extravaganza!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8281">Next</a></li>
</ul>