<% provide :title, 'Opinion Target 7457' %><h2>veges<br />occurrence: 1</h2><div><ol><li>There are two carts filled with several types of curries, veges, chicken, desserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7458">Next</a></li>
</ul>