<% provide :title, 'Opinion Target 7287' %><h2>garlic stir fried<br />occurrence: 1</h2><div><ol><li>My loves here:- xo sauce turnip- any fried rice- garlic stir fried any vegetable- plain white congee but really, anything here is yum.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7288">Next</a></li>
</ul>