<% provide :title, 'Opinion Target 3084' %><h2>ambiance/decor<br />occurrence: 1</h2><div><ol><li>The service was excellent, the food was fresh and terrific and the ambiance/decor is chic!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3085">Next</a></li>
</ul>