<% provide :title, 'Opinion Target 7815' %><h2>egg benny<br />occurrence: 1</h2><div><ol><li>We were in the area, and stopped here for breakfast on sat morning. the egg benny is good, not super awesome but good. home fries- again, pretty average. hubby had the burger patty with some beans all around the egg and cheese. it was interesting. did n't taste like much and i was wondering why would n't they serve it with some toast at least ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7816">Next</a></li>
</ul>