<% provide :title, 'Opinion Target 3313' %><h2>beet salad & calamari<br />occurrence: 1</h2><div><ol><li>For appetizers our table had: 2 French onion soups, seafood chowder, beet salad &amp; calamari.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3314">Next</a></li>
</ul>