<% provide :title, 'Opinion Target 1506' %><h2>chicken rotis<br />occurrence: 2</h2><div><ol><li>There is an Island Foods in my ' hood ( King Street W/Dufferin) and I love their chicken rotis.</li><li>We both ordered chicken rotis with `` gravy'' on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1507">Next</a></li>
</ul>