<% provide :title, 'Opinion Target 6872' %><h2>beef stew noodle<br />occurrence: 1</h2><div><ol><li>I also realized the beef stew noodle did not look like the photo on yelp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6873">Next</a></li>
</ul>