<% provide :title, 'Opinion Target 4955' %><h2>twisters<br />occurrence: 1</h2><div><ol><li>Bagels are fresh here, twisters particularly good, nice selection of lox.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4956">Next</a></li>
</ul>