<% provide :title, 'Opinion Target 6791' %><h2>tea room<br />occurrence: 1</h2><div><ol><li>For ambience, there are only about 4 tables of two and it sort of feels like your Asian grandma 's tea room ( if you have ever been around one) and so if you are looking for a romantic date night, this might not cut the cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6792">Next</a></li>
</ul>