<% provide :title, 'Opinion Target 1802' %><h2>phud thai<br />occurrence: 2</h2><div><ol><li>The phud thai and coconut baked rice were very disappointing in my opinion.</li><li>The phud thai was a little on the sour side for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1803">Next</a></li>
</ul>