<% provide :title, 'Opinion Target 9593' %><h2>eggs with lettuce<br />occurrence: 1</h2><div><ol><li>I usually get some form of sunny side up eggs with lettuce, tomato and a twister bagel and a cup of coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9594">Next</a></li>
</ul>