<% provide :title, 'Opinion Target 1793' %><h2>Hot Spicy<br />occurrence: 2</h2><div><ol><li>Please allow me to explain why Hot Spicy Spicy has not been the crowd-pleaser, it 's a spicy hot restaurant aimed towards people from the North, I 'm from the North.</li><li>Hot Spicy Spicy caters to people who demand the same level of numbing hotness in their food which regularly cooked with flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1794">Next</a></li>
</ul>