<% provide :title, 'Opinion Target 7464' %><h2>waffle texture<br />occurrence: 1</h2><div><ol><li>I 'm not a huge fan of sweet potato mash but they had just the right amount of sweet potato mash on the waffles and the waffle texture was so fluffy and good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7463">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7465">Next</a></li>
</ul>