<% provide :title, 'Opinion Target 2576' %><h2>3.5/5<br />occurrence: 1</h2><div><ol><li>Favorite: Spicy tuna roll and the mackerel sashimi;) For such a price amazing taste highly recommended interior design needs to be updated thanks for the staff being gentle and helpful 3.5/5- Sushi is my Moto in life.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2577">Next</a></li>
</ul>