<% provide :title, 'Opinion Target 2295' %><h2>curried brisket<br />occurrence: 1</h2><div><ol><li>As for me, the curried brisket I had was very mild, and nothing very noteworthy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2296">Next</a></li>
</ul>