<% provide :title, 'Opinion Target 3018' %><h2>standard Vietnamese food<br />occurrence: 1</h2><div><ol><li>Vietnamese Delight is clean with friendly service and the food is good standard Vietnamese food, I would stop in again when in the neighbourhood.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3019">Next</a></li>
</ul>