<% provide :title, 'Opinion Target 4724' %><h2>ginger dipping sauce<br />occurrence: 1</h2><div><ol><li>Spent over $ 45 on it and asked the owner for 2 tiny containers of green onion &amp; ginger dipping sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4725">Next</a></li>
</ul>