<% provide :title, 'Opinion Target 3540' %><h2>half roasted chicken<br />occurrence: 1</h2><div><ol><li>$ 18.95 for a half roasted chicken, which was no better or worse than a grocery store bird ( or Swiss Chalet, for that matter.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3541">Next</a></li>
</ul>