<% provide :title, 'Opinion Target 1591' %><h2>entrée<br />occurrence: 2</h2><div><ol><li>My husband always argues that I should get the entrée because it 's the better value, but he 's wrong.</li><li>They give quite a lot of choices for the entrée, which I was happy about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1592">Next</a></li>
</ul>