<% provide :title, 'Opinion Target 7765' %><h2>soup & hot green tea<br />occurrence: 1</h2><div><ol><li>Good soup &amp; hot green tea!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7766">Next</a></li>
</ul>