<% provide :title, 'Opinion Target 3029' %><h2>fried twix with green tea<br />occurrence: 1</h2><div><ol><li>Fried red bean ice cream, fried twix with green tea, and black sesame ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3028">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3030">Next</a></li>
</ul>