<% provide :title, 'Opinion Target 2861' %><h2>claws<br />occurrence: 1</h2><div><ol><li>In addition, the claws were not cracked, so we have no way to get the claw meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2860">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2862">Next</a></li>
</ul>