<% provide :title, 'Opinion Target 8854' %><h2>local Portuguese chicken joint<br />occurrence: 1</h2><div><ol><li>This is a great local Portuguese chicken joint ( `` Churresquiera) that offers good value for the money.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8853">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8855">Next</a></li>
</ul>