<% provide :title, 'Opinion Target 3710' %><h2>ginger chicken wraps with asparagus and brie<br />occurrence: 1</h2><div><ol><li>My favorites include the ginger chicken wraps with asparagus and brie, the refreshing avocado mango tomato salad and if you 're a fan of fried rice, the kitchen manager Jackie makes THE BEST fried rice ever !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3709">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3711">Next</a></li>
</ul>