<% provide :title, 'Opinion Target 2765' %><h2>pot by<br />occurrence: 1</h2><div><ol><li>Somehow I polished the entire pot by myself with no traces or resemblances of what I ordered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2766">Next</a></li>
</ul>