<% provide :title, 'Opinion Target 882' %><h2>green dragon<br />occurrence: 4</h2><div><ol><li>The chicken katsu is great but they are most well known for their green dragon.</li><li>THE ROLLS- standouts were the green dragon, volcano and spicy crab.</li><li>I tried the yam rolls because I 'm not a fan of fish but it was probably the best sushi I 've gotten anywhere, my boyfriend got the green dragon and he really enjoyed it as well.</li><li>Pretty slow service, maki rolls have a little too much rice, and tempura rolls ( yam, green dragon, shrimp) are soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_881">Previous</a></li>
  <li class="next"><a href=".\opinion_target_883">Next</a></li>
</ul>