<% provide :title, 'Opinion Target 7533' %><h2>grilled seafood<br />occurrence: 1</h2><div><ol><li>My all time fav is their grilled seafood Ramen ( Nagasaki champon) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7534">Next</a></li>
</ul>