<% provide :title, 'Opinion Target 2681' %><h2>bacon sausage<br />occurrence: 1</h2><div><ol><li>One thing I like about Pizza Nova is the bacon topping looks like cut bacon strips and not like it was a bacon sausage removed from the casing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2682">Next</a></li>
</ul>