<% provide :title, 'Opinion Target 5972' %><h2>potato skins<br />occurrence: 1</h2><div><ol><li>Our table with kids ate: pasta, grilled cheese, potato skins, veggie burger and veggie fajitas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5973">Next</a></li>
</ul>