<% provide :title, 'Opinion Target 9169' %><h2>place food<br />occurrence: 1</h2><div><ol><li>The servers place food on a stand with multiple arms in the middle of the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9170">Next</a></li>
</ul>