<% provide :title, 'Opinion Target 5354' %><h2>ginger ale<br />occurrence: 1</h2><div><ol><li>I ordered the Chicken Pad Thai which was definately tasty and a ginger ale.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5355">Next</a></li>
</ul>