<% provide :title, 'Opinion Target 1054' %><h2>chicken broth<br />occurrence: 3</h2><div><ol><li>It tasted like the normal chicken broth ( which is a bit bland imo).</li><li>It was like ordering water off the menu for $ 8.99 because the soup was like water, no flavour at all, chicken broth i got in my noodle soup was certainly less than an ounce which is really misleading and annoying.</li><li>The chicken broth soup with 2 egg yolk appetizer was amazing!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1053">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1055">Next</a></li>
</ul>