<% provide :title, 'Opinion Target 8667' %><h2>lavash flat bread<br />occurrence: 1</h2><div><ol><li>The lavash flat bread is amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8668">Next</a></li>
</ul>