<% provide :title, 'Opinion Target 7208' %><h2>pork & rice cake ~<br />occurrence: 1</h2><div><ol><li>Jook Sam Kyup Sal ~ squid spicy sauce with veggies, pork &amp; rice cake ~ Another type of table cooking, I love to munch on every thing here and rice is added at the end to make fried rice with the leftovers in the pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7207">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7209">Next</a></li>
</ul>