<% provide :title, 'Opinion Target 7375' %><h2>green tea red bean parfait This sundae consists of green tea ice cream , red bean paste<br />occurrence: 1</h2><div><ol><li>Top picture is a view of the patio from inside the cafe. green tea red bean parfait This sundae consists of green tea ice cream, red bean paste, whip cream, green tea mousse, cake pieces and topped with some granola.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7376">Next</a></li>
</ul>