<% provide :title, 'Opinion Target 1928' %><h2>tattie scones<br />occurrence: 2</h2><div><ol><li>We loooove their tattie scones ( I think that 's wat they 're called) and onion things!</li><li>The only thing I did n't enjoy as much were the tattie scones ( basically fried mashed potato triangles) which I substituted in place of fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1929">Next</a></li>
</ul>