<% provide :title, 'Opinion Target 4297' %><h2>beef shanks<br />occurrence: 1</h2><div><ol><li>Noodles were cooked perfectly, the beef shanks were flavorful, I was blown away.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4298">Next</a></li>
</ul>