<% provide :title, 'Opinion Target 8721' %><h2>Yellow Noodles<br />occurrence: 1</h2><div><ol><li>Pad Thai, Green Curry, Yellow Noodles, Cashew Chicken, Crispy Beef ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8722">Next</a></li>
</ul>