<% provide :title, 'Opinion Target 4920' %><h2>meat entree<br />occurrence: 1</h2><div><ol><li>If your alone they have a lunch menu ( $ 10) that includes rice and meat entree with a little steamed bok choy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4919">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4921">Next</a></li>
</ul>