<% provide :title, 'Opinion Target 8621' %><h2>chicken breast skewers box with grilled veggies<br />occurrence: 1</h2><div><ol><li>I ordered the chicken breast skewers box with grilled veggies and greek salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8620">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8622">Next</a></li>
</ul>