<% provide :title, 'Opinion Target 9315' %><h2>Dessert variety<br />occurrence: 1</h2><div><ol><li>Large Dessert variety!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9316">Next</a></li>
</ul>