<% provide :title, 'Opinion Target 3996' %><h2>chicken wings are deep fried chicken wings<br />occurrence: 1</h2><div><ol><li>The chicken wings are deep fried chicken wings that get coated in sauce or you can opt with sauce on the side ( better option).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3995">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3997">Next</a></li>
</ul>