<% provide :title, 'Opinion Target 2868' %><h2>home-style potatoes<br />occurrence: 1</h2><div><ol><li>We got the home-style potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2869">Next</a></li>
</ul>