<% provide :title, 'Opinion Target 9388' %><h2>halo halo ice shake dessert<br />occurrence: 1</h2><div><ol><li>She even showed us how to make the halo halo ice shake dessert, which was quite refreshing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9389">Next</a></li>
</ul>