<% provide :title, 'Opinion Target 3822' %><h2>soda/drinks<br />occurrence: 1</h2><div><ol><li>Tips:- Definitely come earlier if you are planning to get dinner here, especially during weekends- The soda/drinks is AYCE as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3821">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3823">Next</a></li>
</ul>