<% provide :title, 'Opinion Target 4673' %><h2>Thai basil tofu<br />occurrence: 1</h2><div><ol><li>My friends Thai basil tofu looked very underwhelming, just the deep fried tofu You buy at the supermarket sitting a top of a sauce and Bok Choy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4674">Next</a></li>
</ul>