<% provide :title, 'Opinion Target 6605' %><h2>chicken club sandwich<br />occurrence: 1</h2><div><ol><li>My chicken club sandwich was huge and very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6604">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6606">Next</a></li>
</ul>