<% provide :title, 'Opinion Target 4506' %><h2>homemade pasta<br />occurrence: 1</h2><div><ol><li>I loved that they had a selection of homemade pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4507">Next</a></li>
</ul>