<% provide :title, 'Opinion Target 4756' %><h2>regular fries<br />occurrence: 1</h2><div><ol><li>The fries are just okay, regular fries nothing special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4755">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4757">Next</a></li>
</ul>