<% provide :title, 'Opinion Target 5414' %><h2>beef boodle soup<br />occurrence: 1</h2><div><ol><li>Food: too greasy Tried beef boodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5413">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5415">Next</a></li>
</ul>