<% provide :title, 'Opinion Target 6810' %><h2>sushi location<br />occurrence: 1</h2><div><ol><li>It 's no place to bring a date but it 's a nice small comfy sushi location that locals all know about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6811">Next</a></li>
</ul>