<% provide :title, 'Opinion Target 617' %><h2>seafood tofu soup<br />occurrence: 7</h2><div><ol><li>Second time, we tried the crab, the recommended one year old kimchi soup, and seafood tofu soup.</li><li>I usually get the spicy Seafood tofu soup or Bulgogi.</li><li>Got the seafood tofu soup to try.</li><li>I like the Seafood Tofu soup the most.</li><li>Amazing seafood tofu soup for only $ 7.99!</li><li>As for the food poisoning I got from eating the seafood tofu soup ...</li><li>My choices are bulgogi and their seafood tofu soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_618">Next</a></li>
</ul>