<% provide :title, 'Opinion Target 7057' %><h2>pesto has olive oil<br />occurrence: 1</h2><div><ol><li>Now I 'm aware pesto has olive oil but like this was way over on the oil front.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7058">Next</a></li>
</ul>