<% provide :title, 'Opinion Target 3398' %><h2>price burgers<br />occurrence: 1</h2><div><ol><li>Maybe it was because of the special they had that night, 1/2 price burgers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3399">Next</a></li>
</ul>