<% provide :title, 'Opinion Target 4366' %><h2>milk bubble tea<br />occurrence: 1</h2><div><ol><li>This place has awesome original milk bubble tea ( like the kind you get in China).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4367">Next</a></li>
</ul>