<% provide :title, 'Opinion Target 6110' %><h2>potatoe hash<br />occurrence: 1</h2><div><ol><li>The Trucker Special: 2 pancakes, 3 eggs, 2 sausages, 2 pieces of bacon, toast, potatoe hash, baked beans .... it was a pretty awesome brunch meal!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6109">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6111">Next</a></li>
</ul>