<% provide :title, 'Opinion Target 2422' %><h2>salmon terriyaki served with miso soup<br />occurrence: 1</h2><div><ol><li>Salmon terriyaki dinner ( $ 11.95)- two pieces of salmon terriyaki served with miso soup, salad, rice, and mixed veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2423">Next</a></li>
</ul>