<% provide :title, 'Opinion Target 7488' %><h2>white chicken breast kabob<br />occurrence: 1</h2><div><ol><li>My usual, start with the hummus, my main is the white chicken breast kabob, with home potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7487">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7489">Next</a></li>
</ul>