<% provide :title, 'Opinion Target 6387' %><h2>table cooking style<br />occurrence: 1</h2><div><ol><li>Their portions are great and the traditional Korean side dishes are really yummy, which they refill when I quickly finish some lol Of course i order my `` GamJaTang'', table cooking style and it was a good portion and yummy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6388">Next</a></li>
</ul>