<% provide :title, 'Opinion Target 4485' %><h2>shish kabob<br />occurrence: 1</h2><div><ol><li>Paramount serves up some good tasting Middle Eastern Food, including some popular and familiar dishes, like shawarma, falafel, lentil soup, shish tawouk ( shish kabob), and more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4484">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4486">Next</a></li>
</ul>