<% provide :title, 'Opinion Target 6642' %><h2>pork tonkatsu<br />occurrence: 1</h2><div><ol><li>I had the pork tonkatsu with stir-fried egg and rice which was pretty tasty and comforting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6641">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6643">Next</a></li>
</ul>