<% provide :title, 'Opinion Target 6741' %><h2>Chili Garlic Chicken<br />occurrence: 1</h2><div><ol><li>I typically order: Thai Beef Steak, Pad Thai, Chili Garlic Chicken, and Chinese Broccoli in Oyster sauce for a group of three of us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6740">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6742">Next</a></li>
</ul>