<% provide :title, 'Opinion Target 1152' %><h2>halibut and chips<br />occurrence: 3</h2><div><ol><li>Total cost for 2 halibut and chips, two Diet Cokes, tax in ... just over $ 32.</li><li>Their halibut and chips are excellent.</li><li>The best halibut and chips in the city I have tried yet, and I 've lived in Toronto for over 30 years ( staff is also super friendly and deserve a raise no matter how much they 're making).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1151">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1153">Next</a></li>
</ul>