<% provide :title, 'Opinion Target 4438' %><h2>dinner of assorted appetizers<br />occurrence: 1</h2><div><ol><li>We were going to share a dinner of assorted appetizers, but could n't get past the very overcooked ( just short of burnt) chicken nachos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4439">Next</a></li>
</ul>