<% provide :title, 'Opinion Target 9456' %><h2>Lobster with Ginger & Green Onion Chow Mein<br />occurrence: 1</h2><div><ol><li>Unfortunately, since we were only 2 people, we could n't order the breadth of what those large parties had on their tables, but we went with the item we saw the most on yelp, the Lobster with Ginger &amp; Green Onion Chow Mein!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9457">Next</a></li>
</ul>