<% provide :title, 'Opinion Target 5999' %><h2>served with gravy<br />occurrence: 1</h2><div><ol><li>First of all, they were sliced off a loaf and served with gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6000">Next</a></li>
</ul>