<% provide :title, 'Opinion Target 2471' %><h2>sashimi combo boat<br />occurrence: 1</h2><div><ol><li>My friend and I split a small sushi and sashimi combo boat ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2472">Next</a></li>
</ul>