<% provide :title, 'Opinion Target 2362' %><h2>egg salad sandwich<br />occurrence: 1</h2><div><ol><li>It was n't only the coffee that they 'd get wrong .... I had an egg salad sandwich that was chock full of pepper, cafe mochas that were only half filled, wrong soup, etc etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2363">Next</a></li>
</ul>