<% provide :title, 'Opinion Target 4294' %><h2>tawa keema<br />occurrence: 1</h2><div><ol><li>The tawa keema and nihari with freshly made naan is awesome too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4293">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4295">Next</a></li>
</ul>