<% provide :title, 'Opinion Target 2509' %><h2>Gulab Jamun<br />occurrence: 2</h2><div><ol><li>Gulab Jamun- pretty good.</li><li>If you like deserts, the gulab jamun is fresh and well made here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2508">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2510">Next</a></li>
</ul>