<% provide :title, 'Opinion Target 7294' %><h2>Maple bacon strips<br />occurrence: 1</h2><div><ol><li>Maple bacon strips were invisible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7293">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7295">Next</a></li>
</ul>