<% provide :title, 'Opinion Target 695' %><h2>veal parm<br />occurrence: 5</h2><div><ol><li>I got the french onion soup with the veal parm.</li><li>Sadly, my veal parm was below average.</li><li>The veal parm was also pretty below par as well and did n't have much seasoning to go along with the canned tasting tomato sauce.</li><li>Oh and the Veal Parm was one of the best I 've ever had.</li><li>My husband ordered the veal parm and I ordered a pasta with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_696">Next</a></li>
</ul>