<% provide :title, 'Opinion Target 989' %><h2>Chilli Chicken<br />occurrence: 4</h2><div><ol><li>Chilli Chicken- Was spicy, flavourful but unlike the stuff heavy on the ginger, garlic and sauce/gravy that I 've had at many other Hakka restaurants, it had no sauce.</li><li>The chilli chicken and crispy ginger beef is out of this world!</li><li>We had the spicy chilli chicken- it 's loaded with spices and chicken and very spicy.</li><li>Chilli Chicken!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_990">Next</a></li>
</ul>