<% provide :title, 'Opinion Target 2442' %><h2>Beef ravioli<br />occurrence: 2</h2><div><ol><li>Both my Beef ravioli and my friend 's Penne Rustica with chicken smelled and tasted delicious.</li><li>The Beef Ravioli is perfect if you 're looking for a zesty home-cooked tomato sauce and miniature bite-sized morsels of meat crammed inside al dente pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2443">Next</a></li>
</ul>