<% provide :title, 'Opinion Target 862' %><h2>rice and peas<br />occurrence: 5</h2><div><ol><li>I got a combo 1- rice and peas and a chicken leg.</li><li>The chicken is moist and very flavourful and the rice and peas was actually quite good!</li><li>The rice and peas did n't have too many peas, mostly just rice.</li><li>How the hell do you own a West Indian restaurant and you not have rice and peas ... no joke.</li><li>One of the stars of the show here is the peas and rice- or, rice and peas ... luscious ... melt in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_863">Next</a></li>
</ul>