<% provide :title, 'Opinion Target 6272' %><h2>eggs and sausage combo<br />occurrence: 1</h2><div><ol><li>They have scrumptious French toast, real squeezed orange juice, and great eggs and sausage combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6273">Next</a></li>
</ul>