<% provide :title, 'Opinion Target 3710' %><h2>WORST Vietnamese noodle<br />occurrence: 1</h2><div><ol><li>The WORST Vietnamese noodle in Toronto!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3709">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3711">Next</a></li>
</ul>