<% provide :title, 'Opinion Target 8867' %><h2>Vegetable rice<br />occurrence: 1</h2><div><ol><li>Favourite dishes to order spicy crab, spicy shrimp and Vegetable rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8868">Next</a></li>
</ul>