<% provide :title, 'Opinion Target 3213' %><h2>butternut squash soup and ravioli<br />occurrence: 1</h2><div><ol><li>The butternut squash soup and ravioli were very well cooked and rich in flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3214">Next</a></li>
</ul>