<% provide :title, 'Opinion Target 8575' %><h2>dish plates<br />occurrence: 1</h2><div><ol><li>10 more minutes pass ( 30 minutes total) and we 're still here waiting for our entrees, with cold rice and empty side dish plates.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8574">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8576">Next</a></li>
</ul>