<% provide :title, 'Opinion Target 7801' %><h2>chicken supreme<br />occurrence: 1</h2><div><ol><li>I tried the breaded chicken supreme and thoroughly enjoyed it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7802">Next</a></li>
</ul>