<% provide :title, 'Opinion Target 2372' %><h2>flavors<br />occurrence: 2</h2><div><ol><li>Only ice-cream was offered for dessert, nice flavors but the smallest serving of ice-cream I 've ever had.</li><li>Some flavors are better than others but it might just be a preference thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2373">Next</a></li>
</ul>