<% provide :title, 'Opinion Target 1328' %><h2>chicken dinner<br />occurrence: 3</h2><div><ol><li>Definitely best chicken dinner in North York.</li><li>Lunches like the teriyaki chicken dinner or spicy chicken dinner used to be $ 5.99.</li><li>Got the 1/4 chicken dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1327">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1329">Next</a></li>
</ul>