<% provide :title, 'Opinion Target 4156' %><h2>ice berg lettuce<br />occurrence: 1</h2><div><ol><li>Salad was mostly ice berg lettuce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4157">Next</a></li>
</ul>