<% provide :title, 'Opinion Target 1801' %><h2>Pistachio taste<br />occurrence: 2</h2><div><ol><li>For the home made Pistachio ice cream, the Pistachio taste is very light.</li><li>Personally I didnt feel like there was enough pistachio taste to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1802">Next</a></li>
</ul>