<% provide :title, 'Opinion Target 5323' %><h2>sushi dinners<br />occurrence: 1</h2><div><ol><li>I 've also had their sushi dinners before and they are okay but I would definitely get the rolls if you 're just looking for a quick cheap sushi fix.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5324">Next</a></li>
</ul>