<% provide :title, 'Opinion Target 5771' %><h2>dessert main dishes<br />occurrence: 1</h2><div><ol><li>I got the Royal pad thai, it was ok but my friend coconut seafood curry served in a coconut was AMAZING 3 apps, shared bottle of wine, shared dessert main dishes with tip came out to $ 54 a person ( 3 of us) which is kinda steep as I 've been to other places and had more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5772">Next</a></li>
</ul>