<% provide :title, 'Opinion Target 1902' %><h2>Take-out service<br />occurrence: 2</h2><div><ol><li>Take-out service was fast and the ambiance and staff were so welcoming.</li><li>The whole idea of a take-out service is that you save time and get your food in time when you come in instead of waiting in line ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1903">Next</a></li>
</ul>