<% provide :title, 'Opinion Target 3786' %><h2>potato hot latte<br />occurrence: 1</h2><div><ol><li>We decided to share: rice cake shaved ice, mango shaved ice, strawberry shaved ice and finally the sweet potato hot latte.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3787">Next</a></li>
</ul>