<% provide :title, 'Opinion Target 8053' %><h2>teppenyaki chef<br />occurrence: 1</h2><div><ol><li>The teppenyaki chef `` Yakkimoto'' was hilarious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8052">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8054">Next</a></li>
</ul>