<% provide :title, 'Opinion Target 4929' %><h2>shawarma & chicken combo platters<br />occurrence: 1</h2><div><ol><li>Love the lamb kebob, shawarma &amp; chicken combo platters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4930">Next</a></li>
</ul>