<% provide :title, 'Opinion Target 5032' %><h2>lobster bisque soup<br />occurrence: 1</h2><div><ol><li>The lobster bisque soup was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5033">Next</a></li>
</ul>