<% provide :title, 'Opinion Target 1800' %><h2>spring roll appetizer<br />occurrence: 2</h2><div><ol><li>The server forgot that we ordered the spring roll appetizer and after 15 minutes asked us if we still wanted it because she forgot to put in the order.</li><li>We shared the spring roll appetizer and my friend ordered beef satay with mango salad and my choice was chicken which also came with mango salad and a bowl of rice which we shared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1801">Next</a></li>
</ul>