<% provide :title, 'Opinion Target 5813' %><h2>brownie crêpe<br />occurrence: 1</h2><div><ol><li>The crêpes and cakes are the perfect texture and sweetness ( Try the shortcake or brownie crêpe, it 's my favourite).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5814">Next</a></li>
</ul>