<% provide :title, 'Opinion Target 3697' %><h2>( Japanese cole slaw<br />occurrence: 1</h2><div><ol><li>Chicken Katsu was very crunchy as well and was accompanied by a refreshing salad ( Japanese cole slaw ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3696">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3698">Next</a></li>
</ul>