<% provide :title, 'Opinion Target 8488' %><h2>chicken cutlet sandwich with sweet peppers<br />occurrence: 1</h2><div><ol><li>Seriously loved the chicken cutlet sandwich with sweet peppers here!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8487">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8489">Next</a></li>
</ul>