<% provide :title, 'Opinion Target 1707' %><h2>fried turnips<br />occurrence: 2</h2><div><ol><li>I think), and fried turnips.</li><li>Not a good sign. one of my favorite restaurants. great price and service, top quality food. my favorite dishes are spice and pepper squid, fried turnips, tiger shrimp congee, and the roasted pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1708">Next</a></li>
</ul>