<% provide :title, 'Opinion Target 4043' %><h2>maple butter<br />occurrence: 1</h2><div><ol><li>It was clearly at least a day old, and the ' maple butter' had what tasted like icing sugar mixed into it, and nothing close to maple syrup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4044">Next</a></li>
</ul>