<% provide :title, 'Opinion Target 6529' %><h2>Southern Chinese<br />occurrence: 1</h2><div><ol><li>GTA has a greater proportion of Southern Chinese immigrants so the menu selections are noticeably different from the Southern Chinese restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6530">Next</a></li>
</ul>