<% provide :title, 'Opinion Target 4134' %><h2>chicken yakitori served<br />occurrence: 1</h2><div><ol><li>I do n't expect much for $ 8 so I am not complaining- the chicken yakitori served steaming hot! fogging up my camera .. the sauce is a little sweet, but the chicken was nice and moist Kiyomizu seems to be really popular with the office workers in the area during lunch time, every tables were occupied by the time I left.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4135">Next</a></li>
</ul>