<% provide :title, 'Opinion Target 1476' %><h2>chilli oil<br />occurrence: 2</h2><div><ol><li>Even better with the chilli oil.</li><li>I asked for spicy and the flavour went well with the bitter greens, however the dish ended up being a little too oily due to the chilli oil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1475">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1477">Next</a></li>
</ul>