<% provide :title, 'Opinion Target 8813' %><h2>steamed curry cuttlefish and shrimp paste with squid<br />occurrence: 1</h2><div><ol><li>The steamed curry cuttlefish and shrimp paste with squid were cooked perfectly and the squid was cut in big rectangles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8814">Next</a></li>
</ul>