<% provide :title, 'Opinion Target 4609' %><h2>fried ribs<br />occurrence: 1</h2><div><ol><li>My friend had the fried ribs, which looked good, better size portion, but being fried, did n't expect it to be cold and a bit soggy ( probably sitting there for a while).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4610">Next</a></li>
</ul>