<% provide :title, 'Opinion Target 6519' %><h2>rice cakes in general<br />occurrence: 1</h2><div><ol><li>Note, rice cakes in general are hard to reheat as they stick together and become quite hard- try to finish this dish and not take it home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6520">Next</a></li>
</ul>