<% provide :title, 'Opinion Target 6813' %><h2>space waiters<br />occurrence: 1</h2><div><ol><li>Also because of the tight space waiters were slower because they had to wait until someone passed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6814">Next</a></li>
</ul>