<% provide :title, 'Opinion Target 3179' %><h2>guys<br />occurrence: 1</h2><div><ol><li>The guys are nice and friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3180">Next</a></li>
</ul>