<% provide :title, 'Opinion Target 9230' %><h2>fountain<br />occurrence: 1</h2><div><ol><li>Coca cola from the fountain was flat ( how, why ?!!) so I opted for C plus in a bottle since there was no canned/bottled coca cola or Pepsi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9231">Next</a></li>
</ul>