<% provide :title, 'Opinion Target 8541' %><h2>seaweed salad and shrimp sushi<br />occurrence: 1</h2><div><ol><li>My favourite tray has the 6 pieces of mix sushi, 4 pieces of Cali maki and spicy salmon, seaweed salad and shrimp sushi and it 's only $ 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8542">Next</a></li>
</ul>