<% provide :title, 'Opinion Target 7143' %><h2>mayonnaise<br />occurrence: 1</h2><div><ol><li>The spicy scallop sushi had way too much mayonnaise, the dragon roll and Alaskan roll were both okay not great, and the uni was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7142">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7144">Next</a></li>
</ul>