<% provide :title, 'Opinion Target 3982' %><h2>salmon skin rolls<br />occurrence: 1</h2><div><ol><li>Before they brought on the food, they gave several house complimentary dish such as salmon skin rolls, miso soups, salad, small cold noodle dish, deep fried oyster cakes and two kimchi dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3981">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3983">Next</a></li>
</ul>