<% provide :title, 'Opinion Target 8646' %><h2>Manchurian fried rice<br />occurrence: 1</h2><div><ol><li>They 're Manchurian fried rice just looks like regular fried rice, unless they mixed up my orders.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8647">Next</a></li>
</ul>