<% provide :title, 'Opinion Target 6687' %><h2>rice cake and mozzarella cheese<br />occurrence: 1</h2><div><ol><li>The table top set that we got was just chicken ( there are different varieties) and you get to customize what goes in it ( we got rice cake and mozzarella cheese).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6688">Next</a></li>
</ul>