<% provide :title, 'Opinion Target 9183' %><h2>surf<br />occurrence: 1</h2><div><ol><li>Perhaps the best surf and turf I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9184">Next</a></li>
</ul>