<% provide :title, 'Opinion Target 5904' %><h2>egg wrap<br />occurrence: 1</h2><div><ol><li>The egg wrap did not taste very good on top of the pad thai either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5903">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5905">Next</a></li>
</ul>