<% provide :title, 'Opinion Target 1106' %><h2>pork fat<br />occurrence: 3</h2><div><ol><li>I tried to make the person that said `` pork fat rules'' proud.</li><li>The Banh Xeo is hugggge and crispy with slice of pork skin and pork fat.</li><li>I do n't recommend this restaurant for samgyupsal because you will seriously regret it and leave smelling like pork fat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1107">Next</a></li>
</ul>