<% provide :title, 'Opinion Target 3192' %><h2>humita<br />occurrence: 1</h2><div><ol><li>Tamales are always hard to come by, but it is worth asking for the humita or tamale de pollo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3193">Next</a></li>
</ul>