<% provide :title, 'Opinion Target 4295' %><h2>Vietnamese noodle<br />occurrence: 1</h2><div><ol><li>Ah bun bo hue, the other famous Vietnamese noodle soup next to pho.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4296">Next</a></li>
</ul>