<% provide :title, 'Opinion Target 4836' %><h2>garlic cloves<br />occurrence: 1</h2><div><ol><li>We especially loved the whole garlic cloves that were cooked with the beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4837">Next</a></li>
</ul>