<% provide :title, 'Opinion Target 4450' %><h2>pork chop rice<br />occurrence: 1</h2><div><ol><li>Other items, pork bone soup, soon tofu soup, and pork chop rice are very nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4451">Next</a></li>
</ul>