<% provide :title, 'Opinion Target 2104' %><h2>Lamb Briyani rice<br />occurrence: 2</h2><div><ol><li>Me: Curry Chicken, Lamb Briyani rice, and samosas.</li><li>I did n't really notice the lamb in my rice until I remember I ordered lamb briyani rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2105">Next</a></li>
</ul>