<% provide :title, 'Opinion Target 2313' %><h2>sausage and egg mcmuffins<br />occurrence: 1</h2><div><ol><li>But before I do .. can I get 2 sausage and egg mcmuffins, just the sandwiches ? ( Drives around to the second window, hanging head in shame.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2314">Next</a></li>
</ul>