<% provide :title, 'Opinion Target 7501' %><h2>Salmon & Asparagus Eggs Benedict<br />occurrence: 1</h2><div><ol><li>Today we had the Ham Eggs Benedict and the Salmon &amp; Asparagus Eggs Benedict.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7502">Next</a></li>
</ul>