<% provide :title, 'Opinion Target 3827' %><h2>waffle biscuit<br />occurrence: 1</h2><div><ol><li>The green tea oreo bingsu had a base of ice topped w/ oreo bits, sliced almond, whipped cream, green tea ice-cream, and a waffle biscuit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3828">Next</a></li>
</ul>