<% provide :title, 'Opinion Target 2498' %><h2>starter dishes<br />occurrence: 1</h2><div><ol><li>All the starter dishes were great, in fact I thought they were better than the sushi dish itself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2497">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2499">Next</a></li>
</ul>