<% provide :title, 'Opinion Target 5383' %><h2>peanut<br />occurrence: 1</h2><div><ol><li>Its chicken with sesame ( peanut ?) sauce was my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5384">Next</a></li>
</ul>