<% provide :title, 'Opinion Target 4471' %><h2>gas stove grilling<br />occurrence: 1</h2><div><ol><li>We accidentally moved the gas stove grilling, when she passed by our booth, she dared to yelled at us: `` I told you not to move the stove !!''</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4472">Next</a></li>
</ul>