<% provide :title, 'Opinion Target 3976' %><h2>Vanilla Creme Brulee<br />occurrence: 1</h2><div><ol><li>We tried the Vanilla Creme Brulee- It was good, but nothing amazing, and the Deep Dish Peanut Butter Pie- now this is delicious, made with brown butter Bourbon crème anglaise .. great, now I 'm craving it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3977">Next</a></li>
</ul>