<% provide :title, 'Opinion Target 3232' %><h2>spinach pasta<br />occurrence: 1</h2><div><ol><li>The only reason I 'm giving them 4 instead of 5 stars is because my roommate got a pasta dish that was off their summerlicious menu and used spinach pasta ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3233">Next</a></li>
</ul>