<% provide :title, 'Opinion Target 6370' %><h2>galbi ribs<br />occurrence: 1</h2><div><ol><li>You do n't really come here for the ambiance, but for 2 main dishes: ( i) pork bone soup and ( ii) LA galbi ribs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6371">Next</a></li>
</ul>