<% provide :title, 'Opinion Target 978' %><h2>omlette<br />occurrence: 3</h2><div><ol><li>The omlette i have to say taste better than mine.</li><li>So I had an amazing omlette ( came with a gigantic plate of home fries and toast) but not one of the ones on the menu.</li><li>My friend and I enjoyed an omlette, toast, lattes, mimosas and a beautiful slice of red velvet cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_977">Previous</a></li>
  <li class="next"><a href=".\opinion_target_979">Next</a></li>
</ul>