<% provide :title, 'Opinion Target 9525' %><h2>Smoked Salmon Pasta with rosé sauce<br />occurrence: 1</h2><div><ol><li>I ordered the Smoked Salmon Pasta with rosé sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9524">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9526">Next</a></li>
</ul>