<% provide :title, 'Opinion Target 5475' %><h2>Taro milk tea with pearl drink<br />occurrence: 1</h2><div><ol><li>Taro milk tea with pearl drink had very grainy powder texture, and tasted like pudding instead of bubble tea drink ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5476">Next</a></li>
</ul>