<% provide :title, 'Opinion Target 2267' %><h2>Vanilla<br />occurrence: 1</h2><div><ol><li>Best mixed coffee is Vanilla Bean Latte with soy and half the sugar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2268">Next</a></li>
</ul>