<% provide :title, 'Opinion Target 3050' %><h2>martinis<br />occurrence: 1</h2><div><ol><li>Definitely recommend trying some things from their drink menu, especially their martinis and cocktails.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3049">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3051">Next</a></li>
</ul>