<% provide :title, 'Opinion Target 7525' %><h2>grilled mark chasu<br />occurrence: 1</h2><div><ol><li>I like the one on Yonge better. we had king of king ramen. the ramen was so yummy and spicy. the `` chasu'' ( BBQ pork) and noodle are tender and chewy. specially the grilled mark chasu, not too dry and gave u a miso soup flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7524">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7526">Next</a></li>
</ul>