<% provide :title, 'Opinion Target 5704' %><h2>oxtail and rice and beans with cucumber instead of cabbage<br />occurrence: 1</h2><div><ol><li>They do not make traditional caribbean food and served the oxtail and rice and beans with cucumber instead of cabbage.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5705">Next</a></li>
</ul>