<% provide :title, 'Opinion Target 1772' %><h2>lamb ragu<br />occurrence: 2</h2><div><ol><li>I originally wanted to get the PAPPARDELLE with lamb ragu but the kitchen was still cooking the lamb and wo n't be ready for another hour.</li><li>Maybe also because I had my heart on the lamb ragu so it did n't add up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1773">Next</a></li>
</ul>