<% provide :title, 'Opinion Target 7687' %><h2>philly rolls<br />occurrence: 1</h2><div><ol><li>I enjoyed the philly rolls the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7688">Next</a></li>
</ul>