<% provide :title, 'Opinion Target 7045' %><h2>kimchi tofu soup of sorts<br />occurrence: 1</h2><div><ol><li>Soup #2 was a kimchi tofu soup of sorts, with pieces of pork in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7046">Next</a></li>
</ul>