<% provide :title, 'Opinion Target 6594' %><h2>bottle of water<br />occurrence: 1</h2><div><ol><li>I ordered a meal, they are mean they even do n't offer me a bottle of water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6593">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6595">Next</a></li>
</ul>