<% provide :title, 'Opinion Target 4611' %><h2>Fish Curry Hot Pot<br />occurrence: 1</h2><div><ol><li>We order the Fish Curry Hot Pot which is heated up in a pot with the fish and sauce on top of a piece of paper.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4612">Next</a></li>
</ul>