<% provide :title, 'Opinion Target 4425' %><h2>JERK CHICKEN DINNER :<br />occurrence: 1</h2><div><ol><li>LARGE JERK CHICKEN DINNER: ( $ 9 as of July 2014) I got the large dinner once, and while it was very tasty, the price was too steep for my liking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4426">Next</a></li>
</ul>