<% provide :title, 'Opinion Target 6268' %><h2>soya sauce mixed with rice<br />occurrence: 1</h2><div><ol><li>The fried rice was simply soya sauce mixed with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6269">Next</a></li>
</ul>