<% provide :title, 'Opinion Target 7482' %><h2>green tea hot latte<br />occurrence: 1</h2><div><ol><li>My daughter really enjoyed her frozen white chocolate and my green tea hot latte was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7483">Next</a></li>
</ul>