<% provide :title, 'Opinion Target 1022' %><h2>salami<br />occurrence: 3</h2><div><ol><li>And the `` salami'' was hot dogs.</li><li>The salami was n't overly salty and you get a generous amount of it.</li><li>I had the soppresatto and spicy salami and the crust was great but toppings didnt taste fresh at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1023">Next</a></li>
</ul>