<% provide :title, 'Opinion Target 7086' %><h2>butter milk chicken<br />occurrence: 1</h2><div><ol><li>$ 15.99 for a bucket of butter milk chicken and a large pint of bud with Cole slaw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7085">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7087">Next</a></li>
</ul>