<% provide :title, 'Opinion Target 1247' %><h2>tomato<br />occurrence: 3</h2><div><ol><li>The tomato was even microwaved.</li><li>The tomato and egg tastes good in the noodle dish.</li><li>The tomato is just done to retain the juice but not watery.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1248">Next</a></li>
</ul>