<% provide :title, 'Opinion Target 3838' %><h2>mango tapioca<br />occurrence: 1</h2><div><ol><li>The mango tapioca was like barely flavoured water ( tinted light orange with little balls floating around- I hope you do n't drink water like this normally) Great spot for typical AYCE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3839">Next</a></li>
</ul>