<% provide :title, 'Opinion Target 6760' %><h2>sushi roll place<br />occurrence: 1</h2><div><ol><li>My favorite quick sushi roll place in north York!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6761">Next</a></li>
</ul>