<% provide :title, 'Opinion Target 709' %><h2>beef patties<br />occurrence: 5</h2><div><ol><li>Their beef patties are also pretty good.</li><li>Getting two of the beef patties on a bun is better value than one chicken sandwich, but it 's your call.</li><li>I recommend them if you want something other than the `` traditional'' beef patties.</li><li>Hidden in a dingey runned down plaza, this place is small cramped, poor ventilation but surprisingly has some pretty good food. beef patties are made fresh here and still on the trays.</li><li>The jerk chicken sandwich and beef patties lived up to the hype.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_710">Next</a></li>
</ul>