<% provide :title, 'Opinion Target 6776' %><h2>shitake mushroom peppercorn sauce<br />occurrence: 1</h2><div><ol><li>I got to sample the Charcoal Broiled Black Angus Striploin Steak with roasted new potatoes, shaved black truffles w/ shitake mushroom peppercorn sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6777">Next</a></li>
</ul>