<% provide :title, 'Opinion Target 4273' %><h2>chicken casear<br />occurrence: 1</h2><div><ol><li>I got the ribs with garlic mash, and the others got chicken casear and New Orleans salads and Cheeseburger and fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4274">Next</a></li>
</ul>