<% provide :title, 'Opinion Target 7226' %><h2>make-your-own stir fry<br />occurrence: 1</h2><div><ol><li>The make-your-own stir fry is unparalled compared to all the other restaurants I 've been to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7227">Next</a></li>
</ul>