<% provide :title, 'Opinion Target 9577' %><h2>Sichuan shrimp takeout<br />occurrence: 1</h2><div><ol><li>Next day i tried Sichuan shrimp takeout and although the fried rice was n't as good as i expected, the portion size and cost for $ 6 was to be expected.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9578">Next</a></li>
</ul>