<% provide :title, 'Opinion Target 7946' %><h2>tofu hot pot spots<br />occurrence: 1</h2><div><ol><li>One of the best tofu hot pot spots in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7947">Next</a></li>
</ul>