<% provide :title, 'Opinion Target 1802' %><h2>chicken satay<br />occurrence: 2</h2><div><ol><li>Definitely something different than you 're average spring roll or chicken satay so give it a try.</li><li>The chicken satay was good, nothing was out of the extraordinary and the portions quite small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1803">Next</a></li>
</ul>