<% provide :title, 'Opinion Target 4279' %><h2>lunch buffets<br />occurrence: 1</h2><div><ol><li>The lunch buffets had a variety of Indian dishes, as well some a little more common/Westernized for its customers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4280">Next</a></li>
</ul>