<% provide :title, 'Opinion Target 9628' %><h2>Mutter Paneer<br />occurrence: 1</h2><div><ol><li>The Mutter Paneer- It was n't just your standard Peas + Paneer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9629">Next</a></li>
</ul>