<% provide :title, 'Opinion Target 1490' %><h2>corn cheese<br />occurrence: 3</h2><div><ol><li>Fried chicken and the corn cheese is a must.</li><li>I did try their egg roll and corn cheese.</li><li>The corn cheese was a bit weird to me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1491">Next</a></li>
</ul>