<% provide :title, 'Opinion Target 3852' %><h2>green tea and red bean ice cream<br />occurrence: 1</h2><div><ol><li>My friends thought green tea and red bean ice cream was good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3853">Next</a></li>
</ul>