<% provide :title, 'Opinion Target 7041' %><h2>rice with beef<br />occurrence: 1</h2><div><ol><li>3) &amp; 4) Got two different Bibimbap, one was plain rice with beef, some veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7042">Next</a></li>
</ul>