<% provide :title, 'Opinion Target 2386' %><h2>Sashimi house<br />occurrence: 2</h2><div><ol><li>Sashimi house is a japanese restaurant that is owned by chinese owners.</li><li>Sashimi house is not bad as a cheap quick sushi fix but would not be the one that I will bring or recommend my friend if they want really good Japanese food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2387">Next</a></li>
</ul>