<% provide :title, 'Opinion Target 3280' %><h2>spaghetti deluxe<br />occurrence: 1</h2><div><ol><li>I love the spaghetti deluxe, not sure what that secret ingredient is, maybe nutmeg ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3281">Next</a></li>
</ul>