<% provide :title, 'Opinion Target 7546' %><h2>green tea shaved ice cream<br />occurrence: 1</h2><div><ol><li>Their best dishes for me are the crepes, waffles, and green tea shaved ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7545">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7547">Next</a></li>
</ul>