<% provide :title, 'Opinion Target 5615' %><h2>jampong noodles<br />occurrence: 1</h2><div><ol><li>The texture of the jampong noodles were good but the soup lacked flavor although it was bright red.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5616">Next</a></li>
</ul>