<% provide :title, 'Opinion Target 3493' %><h2>served boiled fish in chili soup<br />occurrence: 1</h2><div><ol><li>Stumbled upon this place searching for something `` szechuan'' to satisfy my craving, though this was n't a place that served boiled fish in chili soup or anything, it certainly exceeded my expectations! 4 star simply because the food is a bit salty for my palate ( will ask for less next time).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3494">Next</a></li>
</ul>