<% provide :title, 'Opinion Target 4602' %><h2>taco wraps<br />occurrence: 1</h2><div><ol><li>The taco wraps tasted like they were a day old and from no frills.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4603">Next</a></li>
</ul>