<% provide :title, 'Opinion Target 7555' %><h2>spring mix salad<br />occurrence: 1</h2><div><ol><li>Came with a nice spring mix salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7554">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7556">Next</a></li>
</ul>