<% provide :title, 'Opinion Target 6227' %><h2>chicken combo platters<br />occurrence: 1</h2><div><ol><li>Love the lamb kebob, shawarma &amp; chicken combo platters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6228">Next</a></li>
</ul>