<% provide :title, 'Opinion Target 1733' %><h2>oolong milk tea<br />occurrence: 2</h2><div><ol><li>The oolong milk tea tasted very weak and watered down.</li><li>I ordered the same drink from Chatime Mississauga and the oolong milk tea had a stronger tea taste to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1732">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1734">Next</a></li>
</ul>