<% provide :title, 'Opinion Target 5296' %><h2>fried banana<br />occurrence: 1</h2><div><ol><li>Coconut ice cream had actual pieces of coconut inside, it paired perfectly with the fried banana.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5295">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5297">Next</a></li>
</ul>