<% provide :title, 'Opinion Target 8993' %><h2>servers remarks<br />occurrence: 1</h2><div><ol><li>And the servers remarks were `` sorry the kitchen was slammed with a bunch of orders'' ... just speechless on this one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8992">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8994">Next</a></li>
</ul>