<% provide :title, 'Opinion Target 7074' %><h2>chicken teriyaki dinner<br />occurrence: 1</h2><div><ol><li>My friend ordered the chicken teriyaki dinner special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7075">Next</a></li>
</ul>