<% provide :title, 'Opinion Target 2410' %><h2>dinner buffet menu<br />occurrence: 1</h2><div><ol><li>Great service, get the dinner buffet menu, soooo worth it !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2411">Next</a></li>
</ul>