<% provide :title, 'Opinion Target 3994' %><h2>Brunch Pastry Basket<br />occurrence: 1</h2><div><ol><li>The prix fixe starts off with a Brunch Pastry Basket filled with mini croissants, quick bread and muffins.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3995">Next</a></li>
</ul>