<% provide :title, 'Opinion Target 5273' %><h2>sour kimchi<br />occurrence: 1</h2><div><ol><li>I love their sour kimchi and when they make the soup its delicious. only downside is there is n't that much veggie nor protein with it. granted it 's only $ 6.50 but I wish they had options to add more pork/veggies Came here for lunch on a Friday and there were still seats available.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5274">Next</a></li>
</ul>