<% provide :title, 'Opinion Target 7965' %><h2>stone soups<br />occurrence: 1</h2><div><ol><li>You choose from a handful of bubbling stone soups served with purple rice and every meal comes with a variety of banchan ( an array of appetizers) It 's always bustling to the point that the windows are steamy, conversation buzzes and the food tastes great!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7966">Next</a></li>
</ul>