<% provide :title, 'Opinion Target 5769' %><h2>beef brisket in curry<br />occurrence: 1</h2><div><ol><li>We had lobster bisque, papaya salad, giant shrimp, beef brisket in curry, soft shell crab, plus several more dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5768">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5770">Next</a></li>
</ul>