<% provide :title, 'Opinion Target 6827' %><h2>salmon/tuna sashimi<br />occurrence: 1</h2><div><ol><li>They have n't messed one thing up ... well I only usually get tempura, short ribs, salmon/tuna sashimi, spicy salmon maki rolls but that 's basically the greatest parts of sushi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6828">Next</a></li>
</ul>