<% provide :title, 'Opinion Target 1178' %><h2>Food portion<br />occurrence: 3</h2><div><ol><li>//FOOD\\ Food portion is very small, so do n't be afraid of over ordering the first time around, even with desserts, which are served in half a shot glass.</li><li>The food portion is pretty good.</li><li>This place never disappoints, service is quick and easy, everyone understands at least three languages ( English, Mandarin, Cantonese) and the food portion sizes are excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1179">Next</a></li>
</ul>