<% provide :title, 'Opinion Target 6233' %><h2>hummus and chicken kabob<br />occurrence: 1</h2><div><ol><li>Great hummus and chicken kabob.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6232">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6234">Next</a></li>
</ul>