<% provide :title, 'Opinion Target 7216' %><h2>pork & beef<br />occurrence: 1</h2><div><ol><li>They have lamb, chicken, pork &amp; beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7215">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7217">Next</a></li>
</ul>