<% provide :title, 'Opinion Target 2843' %><h2>Hakkah food<br />occurrence: 1</h2><div><ol><li>Best Hakkah food and they deliver so fast !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2842">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2844">Next</a></li>
</ul>