<% provide :title, 'Opinion Target 6587' %><h2>veal sandwich with mushrooms<br />occurrence: 1</h2><div><ol><li>I always go for their veal sandwich with mushrooms and onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6588">Next</a></li>
</ul>