<% provide :title, 'Opinion Target 9668' %><h2>lula<br />occurrence: 1</h2><div><ol><li>The lula is juicy, and really satisfying and the sea bass is tender and really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9667">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9669">Next</a></li>
</ul>