<% provide :title, 'Opinion Target 4754' %><h2>french fries with gravy<br />occurrence: 1</h2><div><ol><li>You should also try the french fries with gravy ... sooooo good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4753">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4755">Next</a></li>
</ul>