<% provide :title, 'Opinion Target 4538' %><h2>onion peels<br />occurrence: 1</h2><div><ol><li>I ordered onion rings which turned out to be more like onion peels.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4537">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4539">Next</a></li>
</ul>