<% provide :title, 'Opinion Target 3209' %><h2>service level<br />occurrence: 1</h2><div><ol><li>Great atmosphere, great food, good service ( service level dropped a little bit through out our meal), and prices are not bad for what you get !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3208">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3210">Next</a></li>
</ul>