<% provide :title, 'Opinion Target 5043' %><h2>pepper blended sauce<br />occurrence: 1</h2><div><ol><li>It 's served with a tamarind, vinegar and pepper blended sauce which is just perfect together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5044">Next</a></li>
</ul>