<% provide :title, 'Opinion Target 2057' %><h2>fried egg<br />occurrence: 2</h2><div><ol><li>I 've often brought friends and suggested they order some meat katsu, bulgogi, kan poong ki ( sweet &amp; spicy chicken) or bi bim bap ( veggies, rice, beef, fried egg, &amp; spicy sauce).</li><li>My favourite is the Tosilog ( cured pork, fried egg, and veggies) and the Filipino style spaghetti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2058">Next</a></li>
</ul>