<% provide :title, 'Opinion Target 4012' %><h2>marinara<br />occurrence: 1</h2><div><ol><li>The marinara tasted homemade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4013">Next</a></li>
</ul>