<% provide :title, 'Opinion Target 6130' %><h2>BBQ with spicy cuisine<br />occurrence: 1</h2><div><ol><li>The menu is Northern style food that mixes the BBQ with spicy cuisine as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6129">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6131">Next</a></li>
</ul>