<% provide :title, 'Opinion Target 853' %><h2>chopsticks<br />occurrence: 5</h2><div><ol><li>The chopsticks were also sticky ..</li><li>I could pick up all noodle at once with chopsticks.</li><li>I think I missed the ones that seem to leave half of themselves on the rice paper when you try to pull them away with your chopsticks.</li><li>Also there is a self station to get your chopsticks, spoon and extra bowl which is more comfortable for me.</li><li>The wait staff had no problem offering utensils for us as the chopsticks were already on the table when we sat down, The food was ... spectacular !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_854">Next</a></li>
</ul>