<% provide :title, 'Opinion Target 7690' %><h2>red dragon rolls<br />occurrence: 1</h2><div><ol><li>I am a huge sushi lover and Ginza is my local sushi stop when I am craving my spicy tuna and red dragon rolls but do not wish to travel across the city.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7691">Next</a></li>
</ul>