<% provide :title, 'Opinion Target 3571' %><h2>shish tawouk<br />occurrence: 1</h2><div><ol><li>Although the shish tawouk was fresh and juicy and you got 2 skewers of chicken breast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3572">Next</a></li>
</ul>