<% provide :title, 'Opinion Target 6381' %><h2>potato stew<br />occurrence: 1</h2><div><ol><li>Is n't this suppose to be pork bone and potato stew ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6380">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6382">Next</a></li>
</ul>