<% provide :title, 'Opinion Target 1190' %><h2>coconut juice<br />occurrence: 3</h2><div><ol><li>I got some pork belly thing, rice and a coconut juice ( 50 cents extra).</li><li>Other than those chicken skewers, I lounged around and picked up some odd looking crackers, noodles, and coconut juice.</li><li>It tasted just like canned coconut juice and worst of all the tapioca and the drink was somewhat warm!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1191">Next</a></li>
</ul>