<% provide :title, 'Opinion Target 6692' %><h2>seafood and chicken versions<br />occurrence: 1</h2><div><ol><li>We were a party of four, so we got two portions of the seafood and chicken versions, topped with their original sauce, mozzarella cheese, and rice cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6693">Next</a></li>
</ul>