<% provide :title, 'Opinion Target 8499' %><h2>veal with veggies<br />occurrence: 1</h2><div><ol><li>Ordered the veal with veggies, and chicken with rapini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8500">Next</a></li>
</ul>