<% provide :title, 'Opinion Target 5435' %><h2>fish on rice<br />occurrence: 1</h2><div><ol><li>I tried a soup, a chicken stew, fish on rice, and also bought a giant flatbread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5436">Next</a></li>
</ul>