<% provide :title, 'Opinion Target 9447' %><h2>Beef and rice dish<br />occurrence: 1</h2><div><ol><li>Beef and rice dish- served COLD ( well, not hot the way it should be), with mostly lumps of fat, hardly any meat; gross; 2.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9448">Next</a></li>
</ul>