<% provide :title, 'Opinion Target 3024' %><h2>sushi and maki rolls<br />occurrence: 1</h2><div><ol><li>I really like the food, I had the best sushi and maki rolls here .the only reason that my review is 4star is, the rest room area and washrooms was `` Very'' dirty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3025">Next</a></li>
</ul>