<% provide :title, 'Opinion Target 6139' %><h2>braised eggplant dish<br />occurrence: 1</h2><div><ol><li>I ordered a braised eggplant dish, which was my favourite while I was a kid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6138">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6140">Next</a></li>
</ul>