<% provide :title, 'Opinion Target 3299' %><h2>dessert display<br />occurrence: 1</h2><div><ol><li>There 's a small selection of Hungarian pre-package groceries, but the main attraction ( at least for me) was the dessert display!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3300">Next</a></li>
</ul>