<% provide :title, 'Opinion Target 9527' %><h2>paella<br />occurrence: 1</h2><div><ol><li>The paella was bland ... not surprising considering they could n't even pronounce their own menu items correctly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9528">Next</a></li>
</ul>