<% provide :title, 'Opinion Target 3104' %><h2>almonds<br />occurrence: 1</h2><div><ol><li>Every sip I took required me chomping pieces of ice and half soggy almonds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3105">Next</a></li>
</ul>