<% provide :title, 'Opinion Target 2727' %><h2>vegan pizza<br />occurrence: 1</h2><div><ol><li>The vegan pizza was amazing ( Diana V) and the other pizza was not.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2728">Next</a></li>
</ul>