<% provide :title, 'Opinion Target 3062' %><h2>deep fried chicken pieces<br />occurrence: 1</h2><div><ol><li>Had their softshell crab appetizer, tuna tataki salad, deep fried chicken pieces ( ?), and a sushi dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3063">Next</a></li>
</ul>