<% provide :title, 'Opinion Target 1289' %><h2>Pho Vietnamese Delight<br />occurrence: 3</h2><div><ol><li>Overall, I would have to say Pho Vietnamese Delight is alright.</li><li>Pho Vietnamese Delight is a standard place if you are looking for a mix of Vietnamese, Thai, and Chinese cuisine.</li><li>Overall, Pho Vietnamese Delight is an average place to eat at if you are looking for a quick bite to eat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1288">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1290">Next</a></li>
</ul>