<% provide :title, 'Opinion Target 9519' %><h2>Fried Chili Turnip cakes<br />occurrence: 1</h2><div><ol><li>I love the food here and as others have written, you have to try the Fried Chili Turnip cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9520">Next</a></li>
</ul>