<% provide :title, 'Opinion Target 3952' %><h2>comfort fast food<br />occurrence: 1</h2><div><ol><li>Food was very good, nice comfort fast food Chinese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3953">Next</a></li>
</ul>