<% provide :title, 'Opinion Target 3954' %><h2>Toasted corn kernels<br />occurrence: 1</h2><div><ol><li>My Yelp Friend though quietly ate the whole order with a heavy dose of hot sauce- Toasted corn kernels was offered to us as a side dish to go with the Ceviche which I secretly wish I can wash them down with a beer!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3955">Next</a></li>
</ul>