<% provide :title, 'Opinion Target 3596' %><h2>salad and sauces<br />occurrence: 1</h2><div><ol><li>I ordered their famous chicken shawarma plate, very very generous portion, included were chicken, rice, salad and sauces, like others said they dont skim on anything including the shaved chicken!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3595">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3597">Next</a></li>
</ul>