<% provide :title, 'Opinion Target 5670' %><h2>focaccia/bread<br />occurrence: 1</h2><div><ol><li>Onwards to the food: The focaccia/bread was deelicious and completely went with our Penne Mezza Notte that we shared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5671">Next</a></li>
</ul>