<% provide :title, 'Opinion Target 1701' %><h2>dog<br />occurrence: 2</h2><div><ol><li>There is one item that was clearly marked that I bought and neither I nor the dog could consume: sprat pate.</li><li>I love the dog that hangs out outside ( I think his owner is probably a barista).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1700">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1702">Next</a></li>
</ul>