<% provide :title, 'Opinion Target 4105' %><h2>beef with ginger and green onions<br />occurrence: 1</h2><div><ol><li>I also really enjoy their sizzling dishes, especially the sizzling beef with ginger and green onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4106">Next</a></li>
</ul>