<% provide :title, 'Opinion Target 3905' %><h2>over-easy eggs<br />occurrence: 1</h2><div><ol><li>The over-easy eggs were hard, asked for the fries to be well done and got maybe one crunchy fry with many soggy under-cooked ones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3904">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3906">Next</a></li>
</ul>