<% provide :title, 'Opinion Target 967' %><h2>price tag<br />occurrence: 4</h2><div><ol><li>Food was mediocre, kind of looked fancy, but it was not worth the price tag after 30 minutes of waiting for the first dish.</li><li>Maybe it 's their way of justifying the very expensive price tag on here.</li><li>I guess it comes with the territory that this is an expensive location, Linda Modern 's price tag is generally $ 1-5 above market rate for similar dish offered at other Asian restaurants.</li><li>All in all, it was a decent meal for the $ 35 price tag.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_966">Previous</a></li>
  <li class="next"><a href=".\opinion_target_968">Next</a></li>
</ul>