<% provide :title, 'Opinion Target 7097' %><h2>Caesar salad ( Cesar )<br />occurrence: 1</h2><div><ol><li>I went with a benchmark dish I like to use as a comparison dish: Caesar salad ( Cesar) @ $ 7.00.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7098">Next</a></li>
</ul>