<% provide :title, 'Opinion Target 6539' %><h2>glutinous rice roll<br />occurrence: 1</h2><div><ol><li>We always order the same things- seasoned soy bean soup, glutinous rice roll, xiao long bao, four seasons string beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6540">Next</a></li>
</ul>