<% provide :title, 'Opinion Target 1617' %><h2>vegetable fried rice<br />occurrence: 2</h2><div><ol><li>We ordered mushroom egg foo young, spring rolls, spicy eggplant in black bean sauce sauce with tofu, mixed vegetables, vegetable lo mein, vegetable fried rice, and mushroom egg drop soup.</li><li>My boyfriend got the vegetable fried rice, which was good, nothing memorable about it though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1618">Next</a></li>
</ul>