<% provide :title, 'Opinion Target 6175' %><h2>tempura shrimp dynamite roll sirloin with enoki<br />occurrence: 1</h2><div><ol><li>Curry dishes too much rice. if you happen to end up here then some few good things are: tempura shrimp dynamite roll sirloin with enoki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6174">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6176">Next</a></li>
</ul>