<% provide :title, 'Opinion Target 5876' %><h2>crepes with drinks<br />occurrence: 1</h2><div><ol><li>Overall it 's a great place to try, however next time, I will go to food court, order the same crepes with drinks at half the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5877">Next</a></li>
</ul>