<% provide :title, 'Opinion Target 7357' %><h2>bok choy with mushrooms<br />occurrence: 1</h2><div><ol><li>The bok choy with mushrooms was delicious and they served us a huge plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7358">Next</a></li>
</ul>