<% provide :title, 'Opinion Target 3255' %><h2>seafood corn chowder<br />occurrence: 1</h2><div><ol><li>We also tried French Onion Soup ( it was okay ... it had little bits of beef in it, which was different); calamari ( quite good); mushroom ravioli ( not bad); and seafood corn chowder ( meh).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3256">Next</a></li>
</ul>