<% provide :title, 'Opinion Target 1632' %><h2>seafood dish<br />occurrence: 2</h2><div><ol><li>All dishes were decent for the prices ( highest was $ 8.99 for the seafood dish), though the chow mein was n't cooked for long enough as it was still too crunchy.</li><li>The first time around my guest and I only had about 6 banchans with our kimchi pork and seafood dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1631">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1633">Next</a></li>
</ul>