<% provide :title, 'Opinion Target 8014' %><h2>appetizer plates<br />occurrence: 1</h2><div><ol><li>You get the little appetizer plates first with the kimchi, sprouts, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8013">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8015">Next</a></li>
</ul>