<% provide :title, 'Opinion Target 4124' %><h2>ice cream in orange or green tea flavor<br />occurrence: 1</h2><div><ol><li>Icing on the cake: Complimentary ice cream in orange or green tea flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4125">Next</a></li>
</ul>