<% provide :title, 'Opinion Target 9239' %><h2>seeds<br />occurrence: 1</h2><div><ol><li>Their lobster tail is not only nicely presented ( with half a lemon placed inside a small gauze baggie tied with a ribbon so your fingers dont get sticky or have the seeds falling out) but it was also very generous in portion size and cooked almost perfectly ( just a tad overcooked for my liking).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9240">Next</a></li>
</ul>