<% provide :title, 'Opinion Target 7437' %><h2>potato tastes<br />occurrence: 1</h2><div><ol><li>Muuuuuust have: black sesame crepe! love the ice-cream that comes with it and the sesame filling in the crepe. really really sesame-y! also, plzzz try their sweet potato latte. the foaming is rich and the sweet potato tastes legit. i cant event resist it in hot hot summer LOL. especially when winters coming, drop by and grab a cup of latte. wo n't disappoint you;).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7438">Next</a></li>
</ul>