<% provide :title, 'Opinion Target 1671' %><h2>sushi legend fried rice<br />occurrence: 2</h2><div><ol><li>They also have the sushi legend fried rice which is really good as well.</li><li>A ton of variety and a few standout dishes including: the Sushi Legend Fried Rice, the Spicy Scallop Sushi, Beef Tataki, and their Specialty Salmon Sashimi Dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1672">Next</a></li>
</ul>