<% provide :title, 'Opinion Target 4337' %><h2>Persian kabob<br />occurrence: 1</h2><div><ol><li>I 'll continue to come to Darband or our Persian kabob fix unless I stumble upon a new joint closer to home and serving up just as good food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4338">Next</a></li>
</ul>