<% provide :title, 'Opinion Target 1503' %><h2>Peameal Eggs Benedict<br />occurrence: 2</h2><div><ol><li>I ordered the Peameal Eggs Benedict.</li><li>Sat down, ordered coffee and peameal eggs benedict.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1504">Next</a></li>
</ul>