<% provide :title, 'Opinion Target 8191' %><h2>perilla seeds<br />occurrence: 1</h2><div><ol><li>It is quite savoury and besides the meat, the soup has potato, vegetables, and perilla seeds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8192">Next</a></li>
</ul>