<% provide :title, 'Opinion Target 3480' %><h2>spicy chilli beef<br />occurrence: 1</h2><div><ol><li>Order spicy chilli beef!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3481">Next</a></li>
</ul>