<% provide :title, 'Opinion Target 1841' %><h2>breakfast spot<br />occurrence: 2</h2><div><ol><li>The breakfast spot has the feel of a old-school diner.</li><li>A great breakfast spot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1842">Next</a></li>
</ul>