<% provide :title, 'Opinion Target 4257' %><h2>Tropical Sangria<br />occurrence: 1</h2><div><ol><li>Pros Service was quick Has TV 's on patio Lobster Poutine Appetizer ( $ 10) was great for two people Cons Drinks did n't taste good, we had the Tropical Sangria $ 9 and James 'son $ 8.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4258">Next</a></li>
</ul>