<% provide :title, 'Opinion Target 6635' %><h2>plastic food models<br />occurrence: 1</h2><div><ol><li>But I am willing to walk a mile just to have better food! 7/15 I had always wanted to check this place out after I saw the neat looking plastic food models for some of the dishes displayed on window; a common practice which is mostly seen at many Japanese restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6634">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6636">Next</a></li>
</ul>