<% provide :title, 'Opinion Target 3724' %><h2>dessert platter<br />occurrence: 1</h2><div><ol><li>My dad 's colleague and friend called the restaurant and ordered a dessert platter for us for my parents ' birthdays.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3725">Next</a></li>
</ul>