<% provide :title, 'Opinion Target 2718' %><h2>Eggplant in Black Bean sauce<br />occurrence: 1</h2><div><ol><li>The Seafood fried rice was tasty, and the Eggplant in Black Bean sauce was a highlight for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2719">Next</a></li>
</ul>