<% provide :title, 'Opinion Target 9168' %><h2>nachos with jalapenos<br />occurrence: 1</h2><div><ol><li>Their Klondike chili is decent ( $ 7.49 with fries, $ 5.49 without), their cocktails are good, and I love their nachos with jalapenos, it 's really spicy and perfect for sharing while watching the game on their many tv screens ( $ 11.99).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9169">Next</a></li>
</ul>