<% provide :title, 'Opinion Target 6126' %><h2>stir fried<br />occurrence: 1</h2><div><ol><li>I came for a UYE organized by Jennifer K. We ordered mostly lamb/goat dishes: grilled skews, curry, marinated, roasted, stir fried, spicy, not spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6127">Next</a></li>
</ul>