<% provide :title, 'Opinion Target 3153' %><h2>regular beef pho<br />occurrence: 1</h2><div><ol><li>I usually get either:- Vermicelli with grilled beef, grilled pork and grilled chicken Or- The regular beef pho.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3154">Next</a></li>
</ul>