<% provide :title, 'Opinion Target 7547' %><h2>shortcake strawberry crepe<br />occurrence: 1</h2><div><ol><li>Ordered the shortcake strawberry crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7548">Next</a></li>
</ul>