<% provide :title, 'Opinion Target 6394' %><h2>dukboki<br />occurrence: 1</h2><div><ol><li>I ordered off menu ( I feel like John Hamm in 30 Rock) the tteokbokki ( aka ddeokbokki, dukboki, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6395">Next</a></li>
</ul>