<% provide :title, 'Opinion Target 5984' %><h2>almond croissant<br />occurrence: 1</h2><div><ol><li>The almond croissant I purchased here was the best croissant I have ever had; it was also the best pastry I have ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5983">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5985">Next</a></li>
</ul>