<% provide :title, 'Opinion Target 7688' %><h2>shrimp sashimi special<br />occurrence: 1</h2><div><ol><li>I miss their shrimp sashimi special ( 1 lb for $ 7 when you order a minimum $ order) I would say though their dynamite/tempura shrimp rolls are below par.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7687">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7689">Next</a></li>
</ul>