<% provide :title, 'Opinion Target 822' %><h2>design<br />occurrence: 5</h2><div><ol><li>Modern design, clean washrooms, great food, a bar in the middle of the store.</li><li>Spacious place, nice design.</li><li>Bottom line is: the food is delicious, I 'd go back again, service is great, but the overall design and environment could be improved.</li><li>But the cute design on the latte really caught my eye so I decided to try it.</li><li>Perhaps not the fanciest of all, with the beautiful design, etc, but for sure the best choice food wise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_821">Previous</a></li>
  <li class="next"><a href=".\opinion_target_823">Next</a></li>
</ul>