<% provide :title, 'Opinion Target 1441' %><h2>beef lung<br />occurrence: 3</h2><div><ol><li>Do 's: Sesame lamb, lamb stuffed pan fried buns, beef lung or tripe, lamb soup Do n't: come here expecting pork!</li><li>The beef lung ( yes, lung.</li><li>We ordered bean sprouts, hand made beef noodle soup, spicy beef lung, sizzling beef and veggies as well as lamb skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1442">Next</a></li>
</ul>