<% provide :title, 'Opinion Target 7223' %><h2>black sauce<br />occurrence: 1</h2><div><ol><li>Tasted like Italian spaghetti but with black sauce lol.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7224">Next</a></li>
</ul>