<% provide :title, 'Opinion Target 6732' %><h2>lamb with a soup appetizer<br />occurrence: 1</h2><div><ol><li>The friends that brought me here told me to get the lamb with a soup appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6733">Next</a></li>
</ul>