<% provide :title, 'Opinion Target 1872' %><h2>feel<br />occurrence: 2</h2><div><ol><li>Each booth has a short hanging curtain that provides priavcy and an intimate feel.</li><li>The place has a very nice coffee-shop feel to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1873">Next</a></li>
</ul>