<% provide :title, 'Opinion Target 1845' %><h2>breakfast spot<br />occurrence: 2</h2><div><ol><li>The breakfast spot has the feel of a old-school diner.</li><li>A great breakfast spot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1846">Next</a></li>
</ul>