<% provide :title, 'Opinion Target 6941' %><h2>pork bbq<br />occurrence: 1</h2><div><ol><li>I 've had their pork bbq on a stick before and it was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6942">Next</a></li>
</ul>