<% provide :title, 'Opinion Target 4223' %><h2>pasta 's and chicken<br />occurrence: 1</h2><div><ol><li>The food is average, the menu is simple with burgers, chicken fingers, pasta 's and chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4224">Next</a></li>
</ul>