<% provide :title, 'Opinion Target 5969' %><h2>take-out Chinese BBQ place<br />occurrence: 1</h2><div><ol><li>Family owned restaurant- mostly a take-out Chinese BBQ place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5968">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5970">Next</a></li>
</ul>