<% provide :title, 'Opinion Target 4149' %><h2>Kiyomizu roll<br />occurrence: 1</h2><div><ol><li>I did not like any of the sushi, Kiyomizu roll was my least favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4148">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4150">Next</a></li>
</ul>