<% provide :title, 'Opinion Target 7196' %><h2>kalbi with purple rice<br />occurrence: 1</h2><div><ol><li>I ordered the LA kalbi with purple rice on recommendation from one of the Yelpers here and it did not disappoint!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7197">Next</a></li>
</ul>