<% provide :title, 'Opinion Target 7366' %><h2>meringue dessert<br />occurrence: 1</h2><div><ol><li>Yes, their meringue dessert is delicious so take-out is a good option!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7367">Next</a></li>
</ul>