<% provide :title, 'Opinion Target 5326' %><h2>salmon hand rolls<br />occurrence: 1</h2><div><ol><li>Their spicy salmon hand rolls are to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5327">Next</a></li>
</ul>