<% provide :title, 'Opinion Target 7164' %><h2>bottle<br />occurrence: 1</h2><div><ol><li>The bottle was sticky!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7165">Next</a></li>
</ul>