<% provide :title, 'Opinion Target 666' %><h2>meatloaf<br />occurrence: 6</h2><div><ol><li>They have a ton of other items from sandwiches, meatloaf, chicken, soups, bagels, and even Montreal Smoked meat.</li><li>Stick to the old favourites, Latkas and meatloaf.</li><li>My wife wanted the meatloaf.</li><li>The meatloaf and mash with gravy was decent.</li><li>I ordered the meatloaf, which came with 1 small slice and your choice of side for $ 14.</li><li>I came in the other day to try the meatball sandwich -- be warned it 's bloody awful .. slop job see pic, it 's full of filler, salty and tasted like a frozen meatloaf.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_667">Next</a></li>
</ul>