<% provide :title, 'Opinion Target 8675' %><h2>barg (<br />occurrence: 1</h2><div><ol><li>The barg ( veal kabobs) was n't as succulent as they should be, and the koobideh was a tad bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8676">Next</a></li>
</ul>