<% provide :title, 'Opinion Target 4529' %><h2>black pudding rounds<br />occurrence: 1</h2><div><ol><li>The food was terrific, perfectly battered haggis and black pudding rounds along with well done fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4530">Next</a></li>
</ul>