<% provide :title, 'Opinion Target 5705' %><h2>price pizza<br />occurrence: 1</h2><div><ol><li>Buy any medium or large pizza and get the 2nd, 3rd, and 4th medium $ 5 ( equal or lesser value to the full price pizza).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5706">Next</a></li>
</ul>