<% provide :title, 'Opinion Target 6657' %><h2>honey potatoes<br />occurrence: 1</h2><div><ol><li>Food: 4/5 stars- 10 side dishes AND honey potatoes- They have a split platter of Dukboki ( Korean spicy rice cake) and Bulgogi ( grilled marinated beef) which is great to share!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6658">Next</a></li>
</ul>