<% provide :title, 'Opinion Target 4259' %><h2>red leather booths<br />occurrence: 1</h2><div><ol><li>Excellent service and ultra comfy red leather booths to kick back in.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4260">Next</a></li>
</ul>