<% provide :title, 'Opinion Target 4820' %><h2>tuna hand roll<br />occurrence: 1</h2><div><ol><li>Able to.maintain the food quality, very attended staff, friendly, service in good standard, sashimi is always fresh, sushi rolls has the right portion of rice, weekends they serve scallop sashimi, spicy tuna hand roll, variety of good quality sashimi choices. reasonable priced and dessert is average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4821">Next</a></li>
</ul>