<% provide :title, 'Opinion Target 8363' %><h2>peanut paste mixed with noodles<br />occurrence: 1</h2><div><ol><li>Dan Dan noodles $ 6.99- spicy sauce with peanut paste mixed with noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8362">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8364">Next</a></li>
</ul>