<% provide :title, 'Opinion Target 6442' %><h2>mango salad and fried chilli turnip cake<br />occurrence: 1</h2><div><ol><li>We two girls ordered a regular size portion of Tingzai Congee, mango salad and fried chilli turnip cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6443">Next</a></li>
</ul>