<% provide :title, 'Opinion Target 744' %><h2>kare kare<br />occurrence: 5</h2><div><ol><li>Ordered the garlic rice, kare kare, and crispy chicken in house sauce.</li><li>The portions were huge and we had a whole box of noodles to pack home along with half a bowl of the kare kare.</li><li>The Kare Kare is the must order dish, such a rich, unique flavour.</li><li>Come for the kare kare, stay for the kare kare!</li><li>Come for the kare kare, stay for the kare kare!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_745">Next</a></li>
</ul>