<% provide :title, 'Opinion Target 2818' %><h2>Salvadoran pupusas<br />occurrence: 1</h2><div><ol><li>So far I have tried the rotis, Salvadoran pupusas, Jerk chicken from mama original and few other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2819">Next</a></li>
</ul>