<% provide :title, 'Opinion Target 5582' %><h2>linguine and tomato sauce<br />occurrence: 1</h2><div><ol><li>It comes with linguine and tomato sauce on the side, and some carrots/broccoli/cauliflower with garlic and oil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5583">Next</a></li>
</ul>