<% provide :title, 'Opinion Target 3614' %><h2>battered haggis<br />occurrence: 1</h2><div><ol><li>The food was terrific, perfectly battered haggis and black pudding rounds along with well done fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3615">Next</a></li>
</ul>