<% provide :title, 'Opinion Target 8082' %><h2>pasta : noodles<br />occurrence: 1</h2><div><ol><li>The pasta: noodles are cooked to al mush and the sauce tastes it definitely came out of a can.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8081">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8083">Next</a></li>
</ul>