<% provide :title, 'Opinion Target 6717' %><h2>pickled carrots<br />occurrence: 1</h2><div><ol><li>There were only four side dishes ( kimchi, sweet potato mash, seaweed salad, pickled carrots and radish), and each came in tiny portions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6718">Next</a></li>
</ul>