<% provide :title, 'Opinion Target 8501' %><h2>Delivery speed<br />occurrence: 1</h2><div><ol><li>Delivery speed is decent ( sometimes quicker than others).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8502">Next</a></li>
</ul>