<% provide :title, 'Opinion Target 5206' %><h2>squid balls<br />occurrence: 1</h2><div><ol><li>Try the snacks like squid balls, thick toast with condensed milk, or try the meals like beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5207">Next</a></li>
</ul>