<% provide :title, 'Opinion Target 2715' %><h2>Boston pizza<br />occurrence: 1</h2><div><ol><li>By far the worst Boston pizza ever based on service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2716">Next</a></li>
</ul>