<% provide :title, 'Opinion Target 6724' %><h2>patio seating<br />occurrence: 1</h2><div><ol><li>The patio seating is good for those cool summer evenings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6725">Next</a></li>
</ul>