<% provide :title, 'Opinion Target 3436' %><h2>tofu beef soup<br />occurrence: 1</h2><div><ol><li>I ordered a tofu beef soup and my friend ordered a beef bibimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3435">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3437">Next</a></li>
</ul>