<% provide :title, 'Opinion Target 7256' %><h2>DIY stir fry<br />occurrence: 1</h2><div><ol><li>The DIY stir fry section has a great variety of fresh meats, vegetables, and sauces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7255">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7257">Next</a></li>
</ul>