<% provide :title, 'Opinion Target 4614' %><h2>Deep Fried Banana<br />occurrence: 1</h2><div><ol><li>For desserts, the Deep Fried Banana is yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4615">Next</a></li>
</ul>