<% provide :title, 'Opinion Target 7926' %><h2>tofu beef dumpling soup<br />occurrence: 1</h2><div><ol><li>The tofu beef dumpling soup is a must have!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7927">Next</a></li>
</ul>