<% provide :title, 'Opinion Target 6852' %><h2>herbal soup flavour<br />occurrence: 1</h2><div><ol><li>It comes with goji, dates, and various herbs, so it has a nice herbal soup flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6853">Next</a></li>
</ul>