<% provide :title, 'Opinion Target 1455' %><h2>toasted garlic bread<br />occurrence: 2</h2><div><ol><li>The toasted garlic bread is worth a try at Windfield 's.</li><li>The toasted garlic bread us better than any of their pasta dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1456">Next</a></li>
</ul>