<% provide :title, 'Opinion Target 2958' %><h2>chicken mango salad<br />occurrence: 1</h2><div><ol><li>The house pad thai ( on the ketchupy side) and chicken mango salad are the only two items I enjoy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2957">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2959">Next</a></li>
</ul>