<% provide :title, 'Opinion Target 2834' %><h2>hakka style<br />occurrence: 1</h2><div><ol><li>Their hakka style house special friend noodles are another favourite of mine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2835">Next</a></li>
</ul>