<% provide :title, 'Opinion Target 6600' %><h2>medium sauce<br />occurrence: 1</h2><div><ol><li>The medium sauce hits you with a nice spice that does n't burn but adds ful flavor in every little morsel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6599">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6601">Next</a></li>
</ul>