<% provide :title, 'Opinion Target 4987' %><h2>Lobster Trap Cuisine<br />occurrence: 1</h2><div><ol><li>Restaurant: The Lobster Trap Cuisine: Seafood Location: North Toronto Address: 1962 Avenue Road Price Range: $ 25 and up 1: Poor 2: OK 3: Good 4: Very Good 5: Excellent Food: 3 Service: 4 Ambiance: 2 Overall: 3 Extra information:* Only open at dinner* Can choose your own lobster After having a taste of lobster from Maple Yip the other day, my dad was surprised to see us enjoy lobster so much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4988">Next</a></li>
</ul>