<% provide :title, 'Opinion Target 3938' %><h2>servers/waiters<br />occurrence: 1</h2><div><ol><li>I came here for my birthday with my girlfriends a couple years back and although the food was decent and ambience was really nice, our servers/waiters were really rude.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3939">Next</a></li>
</ul>