<% provide :title, 'Opinion Target 6531' %><h2>Fried Shanghai noodles<br />occurrence: 1</h2><div><ol><li>*^ Fried Shanghai noodles were so-so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6532">Next</a></li>
</ul>