<% provide :title, 'Opinion Target 8769' %><h2>rice base<br />occurrence: 1</h2><div><ol><li>Sushi, nigiri, rolls, cones all depend on a properly prepared rice base.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8768">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8770">Next</a></li>
</ul>