<% provide :title, 'Opinion Target 5948' %><h2>battered beef<br />occurrence: 1</h2><div><ol><li>While I enjoyed my meal- particularly the battered beef in my curry- I do n't think I would return to Linda again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5949">Next</a></li>
</ul>