<% provide :title, 'Opinion Target 6090' %><h2>ice cream products<br />occurrence: 1</h2><div><ol><li>All of their ice cream products are really cheap, which makes it a simple and delicious spot to stop off and cool off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6089">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6091">Next</a></li>
</ul>