<% provide :title, 'Opinion Target 7660' %><h2>meal ticket<br />occurrence: 1</h2><div><ol><li>I would n't go back if I was given a free meal ticket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7661">Next</a></li>
</ul>