<% provide :title, 'Opinion Target 7849' %><h2>noise level<br />occurrence: 1</h2><div><ol><li>The atmosphere in terms of decor and noise level like being at a mcdonalds but with sushi and servers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7850">Next</a></li>
</ul>