<% provide :title, 'Opinion Target 7781' %><h2>Philly cheese steak had condiments<br />occurrence: 1</h2><div><ol><li>The Philly cheese steak had condiments my boyfriend and I both did not order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7780">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7782">Next</a></li>
</ul>