<% provide :title, 'Opinion Target 3042' %><h2>lobster sushi<br />occurrence: 1</h2><div><ol><li>I particularly like their lobster sushi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3043">Next</a></li>
</ul>