<% provide :title, 'Opinion Target 4485' %><h2>Fritta mista<br />occurrence: 1</h2><div><ol><li>Our son ordered the Fritta mista di mare, lightly breaded and fried mixture of large shrimp, calamari, and cuttlefish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4484">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4486">Next</a></li>
</ul>