<% provide :title, 'Opinion Target 1981' %><h2>Spicy Scallop Sushi<br />occurrence: 2</h2><div><ol><li>A ton of variety and a few standout dishes including: the Sushi Legend Fried Rice, the Spicy Scallop Sushi, Beef Tataki, and their Specialty Salmon Sashimi Dish.</li><li>The spicy scallop sushi had way too much mayonnaise, the dragon roll and Alaskan roll were both okay not great, and the uni was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1982">Next</a></li>
</ul>