<% provide :title, 'Opinion Target 1151' %><h2>mushroom Swiss burger<br />occurrence: 4</h2><div><ol><li>My husband ordered the mushroom Swiss burger and after his first bite he could tell it was made from a frozen burger patty ( which one of the staff members confirm).</li><li>My friend also enjoyed his mushroom swiss burger.</li><li>I got the mushroom swiss burger and it was no different than the quality of a burger served at a fast food restaurant.</li><li>Ordered the mushroom Swiss burger and fries for take-out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1152">Next</a></li>
</ul>