<% provide :title, 'Opinion Target 4890' %><h2>chicken curry rice<br />occurrence: 1</h2><div><ol><li>I ordered the chicken curry rice which was flavoured nicely and did n't feel too fatty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4891">Next</a></li>
</ul>