<% provide :title, 'Opinion Target 2447' %><h2>Laffa wraps<br />occurrence: 2</h2><div><ol><li>The Laffa wraps are absolutely massive.</li><li>The laffa wraps are my favourite, the only bad thing is that they do n't put baba ganoush in laffas unlike other mevame locations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2448">Next</a></li>
</ul>