<% provide :title, 'Opinion Target 6117' %><h2>chicken flat noodle dish<br />occurrence: 1</h2><div><ol><li>We also had their signature chicken flat noodle dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6118">Next</a></li>
</ul>