<% provide :title, 'Opinion Target 7784' %><h2>wings from<br />occurrence: 1</h2><div><ol><li>I seem to remember great wings from Wheat Sheaf but it 's been so long.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7785">Next</a></li>
</ul>