<% provide :title, 'Opinion Target 2418' %><h2>roasted chicken crepe<br />occurrence: 2</h2><div><ol><li>I ended up running lapses between stations before deciding on roasted chicken crepe.</li><li>My roasted chicken crepe was lacking flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2419">Next</a></li>
</ul>