<% provide :title, 'Opinion Target 6894' %><h2>Shanxi flavor Chinese noodles<br />occurrence: 1</h2><div><ol><li>Their Shanxi flavor Chinese noodles are heaven.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6893">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6895">Next</a></li>
</ul>