<% provide :title, 'Opinion Target 7968' %><h2>beef & pork<br />occurrence: 1</h2><div><ol><li>I usually order the Kimchi Soon Tofu ( kimchi, beef &amp; pork) which comes with Dolsotbab ( stone pot rice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7969">Next</a></li>
</ul>