<% provide :title, 'Opinion Target 9141' %><h2>Caterpillar roll<br />occurrence: 1</h2><div><ol><li>The Caterpillar roll had tasty BBQ eel and a flavourful combination with cucumber, avocado, and tobiko and the Alaska roll was straightforward with tuna, salmon, yellowtail, and avocado.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9140">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9142">Next</a></li>
</ul>