<% provide :title, 'Opinion Target 6921' %><h2>beef pancake<br />occurrence: 1</h2><div><ol><li>We also shared a beef pancake which was the best part of the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6920">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6922">Next</a></li>
</ul>