<% provide :title, 'Opinion Target 7177' %><h2>Korean lady<br />occurrence: 1</h2><div><ol><li>BUT the worst part is after we paid the bill and I got up to leave, the Korean lady was still sitting beside me making her freakin dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7178">Next</a></li>
</ul>