<% provide :title, 'Opinion Target 1572' %><h2>mix<br />occurrence: 2</h2><div><ol><li>The avocado/tomato mix works again, however, the steak was hot and tasted incredible.</li><li>The cooked egg on top looked very unappetizing with a big mess of green onion thrown in the mix, however Cons:- Service is admittedly very poor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1571">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1573">Next</a></li>
</ul>