<% provide :title, 'Opinion Target 6732' %><h2>shirazi salad<br />occurrence: 1</h2><div><ol><li>We also had shirazi salad ( cucumber, tomato and spices) which was nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6733">Next</a></li>
</ul>