<% provide :title, 'Opinion Target 7619' %><h2>Pho Mi<br />occurrence: 1</h2><div><ol><li>I would have given Pho Mi Asia a 3 star review- ie. average- but their Pho is really quite good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7618">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7620">Next</a></li>
</ul>