<% provide :title, 'Opinion Target 9722' %><h2>Japanese ramen<br />occurrence: 1</h2><div><ol><li>Pros: As authentic as you can get for Japanese ramen Miles ahead of other ramen places Portions are very good TAKOYAKI Cons: Wait times for food can be long Parking is not so friendly out front, use the back when u can Like I said, Kenzo is pretty much as close as it gets to authentic ramen in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9723">Next</a></li>
</ul>