<% provide :title, 'Opinion Target 5285' %><h2>napa cabbage<br />occurrence: 1</h2><div><ol><li>We ordered the lamb, beef, taro, udon noodles, napa cabbage, shrimp ( with shell), tofu, and some other stuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5286">Next</a></li>
</ul>