<% provide :title, 'Opinion Target 7311' %><h2>plastic containers<br />occurrence: 1</h2><div><ol><li>That 's a bonus because the plastic containers can be recycled easier than styrofoam.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7310">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7312">Next</a></li>
</ul>