<% provide :title, 'Opinion Target 7440' %><h2>crepe skin<br />occurrence: 1</h2><div><ol><li>I especially loved the chewy texture of the crepe skin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7439">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7441">Next</a></li>
</ul>