<% provide :title, 'Opinion Target 6858' %><h2>Tossed cucumber<br />occurrence: 1</h2><div><ol><li>We ordered 3 appetizers ( Tossed cucumber, Potato Jia-mo and Sliced Beef ( cold)) and 3 noodle dishes around 11:45.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6857">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6859">Next</a></li>
</ul>