<% provide :title, 'Opinion Target 1511' %><h2>rosti<br />occurrence: 3</h2><div><ol><li>Another fave of mine is the rosti ... drool.</li><li>You have the rosti, pasta, burgers, sandwiches, seafood, and desserts.</li><li>The rosti used to be my favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1512">Next</a></li>
</ul>