<% provide :title, 'Opinion Target 3096' %><h2>red bean shaved ice<br />occurrence: 1</h2><div><ol><li>Ordered the red bean shaved ice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3097">Next</a></li>
</ul>