<% provide :title, 'Opinion Target 5751' %><h2>quantity of condiments<br />occurrence: 1</h2><div><ol><li>Whether you order one duck leg or two, the quantity of condiments is the same.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5752">Next</a></li>
</ul>