<% provide :title, 'Opinion Target 5699' %><h2>boneless green onion chicken<br />occurrence: 1</h2><div><ol><li>I ordered boneless green onion chicken, they gave me the regular green onion chicken that comes with bones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5700">Next</a></li>
</ul>