<% provide :title, 'Opinion Target 2728' %><h2>halibut steak<br />occurrence: 1</h2><div><ol><li>The halibut steak was delicious and came with lots of broiled vegetable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2729">Next</a></li>
</ul>