<% provide :title, 'Opinion Target 6944' %><h2>beef poutine<br />occurrence: 1</h2><div><ol><li>I noticed right away that they had some creative additions to their menu: Creamy butter chicken, cheesy beef poutine, savory Asian BBQ, Smokey Maple Bacon &amp; Grilled Chicken Club.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6943">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6945">Next</a></li>
</ul>