<% provide :title, 'Opinion Target 784' %><h2>Kimchi Soon Tofu<br />occurrence: 6</h2><div><ol><li>I have had their bulgogi and Kimchi Soon Tofu.</li><li>I had the kimchi soon tofu which comes with a side bowl of rice.</li><li>I had the Kimchi Soon Tofu which had lots of Kimchi and silky tofu in it.</li><li>The Kimchi Soon Tofu is very rich and savory with the perfect amount of spice, and the silken tofu is so soft that it melts in your mouth.</li><li>My friend and I had the Kimchi Soon Tofu.</li><li>I ordered kimchi soon tofu once again whereas my friend ordered seafood tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_785">Next</a></li>
</ul>