<% provide :title, 'Opinion Target 1791' %><h2>yellow curry<br />occurrence: 2</h2><div><ol><li>The yellow curry had different kick to it.</li><li>The curry is a little bland and generic yellow curry but with some hot sauce thrown in was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1792">Next</a></li>
</ul>