<% provide :title, 'Opinion Target 4944' %><h2>fatouche salad<br />occurrence: 1</h2><div><ol><li>The dips- hummus, baba ganoush, and labneh- are phenomenal though, as is the fatouche salad ( $ 4.50 Regular, $ 8 Large).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4943">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4945">Next</a></li>
</ul>