<% provide :title, 'Opinion Target 6724' %><h2>hot chilli soup<br />occurrence: 1</h2><div><ol><li>The hot chilli soup was deliciously spicy and flavourful, though I was missing the Szechuan peppercorns.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6725">Next</a></li>
</ul>