<% provide :title, 'Opinion Target 4966' %><h2>meal coupon<br />occurrence: 1</h2><div><ol><li>If you have 2 for 1 meal coupon, your meal with a drink will cost about $ 10 which is pretty good considering that 's what you 'd end up paying even at fast food places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4965">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4967">Next</a></li>
</ul>