<% provide :title, 'Opinion Target 6228' %><h2>Bib Bim Bap<br />occurrence: 1</h2><div><ol><li>My friend stone pot was not used on his Bib Bim Bap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6229">Next</a></li>
</ul>