<% provide :title, 'Opinion Target 887' %><h2>spicy tuna roll<br />occurrence: 4</h2><div><ol><li>He had a black dragon roll ( unagi wrapped, they also had green &amp; red dragon rolls- ca n't remember what they used for the red) &amp; a spicy tuna roll and seemed very pleased.</li><li>The Spicy tuna roll was the worst I 've ever had, almost made me vomit.</li><li>We ordered Bong 's sashami, sushi comb A and spicy tuna roll.</li><li>The spicy tuna roll was well done; the fish was very fresh, and not too much rice- albeit very small for 7.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_886">Previous</a></li>
  <li class="next"><a href=".\opinion_target_888">Next</a></li>
</ul>