<% provide :title, 'Opinion Target 6810' %><h2>kani<br />occurrence: 1</h2><div><ol><li>Sashimi options were standard- salmon, white tuna, surf clam, kani, egg ... etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6811">Next</a></li>
</ul>