<% provide :title, 'Opinion Target 3869' %><h2>Sexy Summer Roll<br />occurrence: 1</h2><div><ol><li>As far as specialty rolls, the Sexy Summer Roll was an interesting one with nice flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3870">Next</a></li>
</ul>