<% provide :title, 'Opinion Target 4225' %><h2>meat fish<br />occurrence: 1</h2><div><ol><li>From vegetables to meat fish was too based and buffalo chicken was overly salty and spicy and had freezer smell.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4224">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4226">Next</a></li>
</ul>