<% provide :title, 'Opinion Target 5919' %><h2>linguine rice noodles<br />occurrence: 1</h2><div><ol><li>The linguine rice noodles were above average, and made w/ tasty traditional tamarind instead of the ketchup like most places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5918">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5920">Next</a></li>
</ul>