<% provide :title, 'Opinion Target 1224' %><h2>cuttlefish<br />occurrence: 3</h2><div><ol><li>My mothers dish had breaded cuttlefish, calamari, scallops and shrimp.</li><li>The calamari was tender, cuttlefish was light and tasty, shrimp were huge and scallops were cooked to perfection.</li><li>It has shrimps, cuttlefish, fish balls and even 1 fresh mussel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1225">Next</a></li>
</ul>