<% provide :title, 'Opinion Target 8837' %><h2>lamb shaved noodles<br />occurrence: 1</h2><div><ol><li>I ordered the lamb shaved noodles which is a form of noodle that they make by sliding a sharp knife along a huge loaf of chilled kneaded protein rich dough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8836">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8838">Next</a></li>
</ul>