<% provide :title, 'Opinion Target 3324' %><h2>lunch crowd<br />occurrence: 1</h2><div><ol><li>The lunch crowd are usually business workers who work in the corporate towers close by.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3325">Next</a></li>
</ul>