<% provide :title, 'Opinion Target 5085' %><h2>yogurt soju shot<br />occurrence: 1</h2><div><ol><li>Grape seemed to be the crowd favorite but I enjoyed the yogurt soju shot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5084">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5086">Next</a></li>
</ul>