<% provide :title, 'Opinion Target 8228' %><h2>BGG<br />occurrence: 1</h2><div><ol><li>The BGG was completely the opposite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8229">Next</a></li>
</ul>