<% provide :title, 'Opinion Target 7319' %><h2>wonton lo mein<br />occurrence: 1</h2><div><ol><li>We ordered several dishes: Scrambled egg &amp; shrimp, wonton lo mein, yeung chow fried rice, peking style pork &amp; crispy chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7318">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7320">Next</a></li>
</ul>