<% provide :title, 'Opinion Target 3847' %><h2>sushi/rolls<br />occurrence: 1</h2><div><ol><li>The sushi/rolls actually taste gross.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3848">Next</a></li>
</ul>