<% provide :title, 'Opinion Target 2394' %><h2>served with purple rice<br />occurrence: 2</h2><div><ol><li>Their soups are tasty and its served with purple rice.</li><li>You choose from a handful of bubbling stone soups served with purple rice and every meal comes with a variety of banchan ( an array of appetizers) It 's always bustling to the point that the windows are steamy, conversation buzzes and the food tastes great!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2395">Next</a></li>
</ul>