<% provide :title, 'Opinion Target 8246' %><h2>bún bò<br />occurrence: 1</h2><div><ol><li>Ordered the bún riêu ( tomato broth with crab/shrimp paste) and bún bò Huê.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8247">Next</a></li>
</ul>