<% provide :title, 'Opinion Target 3712' %><h2>take-out foods<br />occurrence: 1</h2><div><ol><li>I like coming to Tutto 's for their excellent prepared take-out foods.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3713">Next</a></li>
</ul>