<% provide :title, 'Opinion Target 3032' %><h2>lemongrass porkchop<br />occurrence: 1</h2><div><ol><li>There are 2 dishes I would recommend, 1. lunch special C, the vermicelli and beef skewers with a spring roll for $ 7.75 and/or 2. lunch special B, the lemongrass porkchop on rice ( it also includes a hot/sour soup) for $ 7.50.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3033">Next</a></li>
</ul>