<% provide :title, 'Opinion Target 9542' %><h2>pate<br />occurrence: 1</h2><div><ol><li>The pate was disgusting and totally ruined the taste of the filet mignon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9543">Next</a></li>
</ul>