<% provide :title, 'Opinion Target 2256' %><h2>serving area<br />occurrence: 1</h2><div><ol><li>Everything is really fresh and the serving area is kept very clean- it is n't your typical buffet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2255">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2257">Next</a></li>
</ul>