<% provide :title, 'Opinion Target 7986' %><h2>pot of tofu soup<br />occurrence: 1</h2><div><ol><li>A hot spicy boiling pot of tofu soup would the best I can ask for in a cold cold winter day!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7987">Next</a></li>
</ul>