<% provide :title, 'Opinion Target 7178' %><h2>pork bibimbap<br />occurrence: 1</h2><div><ol><li>I ordered the pork bibimbap, it 's just rice, vegetables, and there was n't that much meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7179">Next</a></li>
</ul>