<% provide :title, 'Opinion Target 4473' %><h2>potato pork bone soup<br />occurrence: 1</h2><div><ol><li>Although our table questioned the lack of potatoes ( even when it said potato pork bone soup in Chinese on the wall menu) the waitress gave some weird explanation in English that no one understood.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4474">Next</a></li>
</ul>