<% provide :title, 'Opinion Target 1379' %><h2>baba ghanoush<br />occurrence: 3</h2><div><ol><li>Our pita was very old, their baba ghanoush is disgusting, they forgot to send our sauces.</li><li>Got the Vegetable Combo Platter with Meat ( with hummus, baba ghanoush, falafel, tabouli, and shawarma)- also served optionally without meat btw.</li><li>The veggie platter has labneh ( pressed yogurt), baba ghanoush, hummus, tabbouleh and a few falafels ( these will not be enough, order more!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1380">Next</a></li>
</ul>