<% provide :title, 'Opinion Target 3624' %><h2>deep fried cheese items<br />occurrence: 1</h2><div><ol><li>Other than that my coworker ordered me some of those deep fried cheese items with a raspberry sauce mmm that was yum!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3625">Next</a></li>
</ul>