<% provide :title, 'Opinion Target 2705' %><h2>wings looks<br />occurrence: 1</h2><div><ol><li>The wings looks like frog legs ... the only tiny, shriveled up thing I can compare them to and keep this PG-13.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2706">Next</a></li>
</ul>