<% provide :title, 'Opinion Target 7070' %><h2>har gow<br />occurrence: 1</h2><div><ol><li>They have the basic dim sum options like har gow, siu mai, beef short ribs, tripe, curry cuttlefish, rice noodle rolls, ( no chicken feet): ( etc., no fancy twists or changes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7071">Next</a></li>
</ul>