<% provide :title, 'Opinion Target 7873' %><h2>Unagi BBQ Eel and Spicy Salmon roll<br />occurrence: 1</h2><div><ol><li>The Unagi BBQ Eel and Spicy Salmon roll were my favourites.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7874">Next</a></li>
</ul>