<% provide :title, 'Opinion Target 5578' %><h2>Seating capacity<br />occurrence: 1</h2><div><ol><li>Seating capacity is able to fit quite a bit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5579">Next</a></li>
</ul>