<% provide :title, 'Opinion Target 2950' %><h2>2 spring rolls<br />occurrence: 1</h2><div><ol><li>Anyway, the prices were I guess average at $ 5 for 2 spring rolls and $ 8-10 for entrees.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2951">Next</a></li>
</ul>