<% provide :title, 'Opinion Target 2738' %><h2>giant tea pot .reasonable prices<br />occurrence: 1</h2><div><ol><li>Good service, Love the giant tea pot .reasonable prices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2739">Next</a></li>
</ul>