<% provide :title, 'Opinion Target 2054' %><h2>garlic mayo<br />occurrence: 2</h2><div><ol><li>The Chicken Place sandwich is a conundrum for me, kind of like a chicken cuban sandwich, it 's tasty, but I would love nice chunky pulled chicken instead of the over-chopped chicken-salad textured meat on this one, but the garlic mayo, pickles and crunchy panini-grilled sub bun make it a decent sandwich.</li><li>We always order the CHICKEN PLACE SANDWICHES with EXTRA garlic mayo on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2053">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2055">Next</a></li>
</ul>