<% provide :title, 'Opinion Target 8840' %><h2>candied rice pudding<br />occurrence: 1</h2><div><ol><li>Spices like cumin, pepper, chili flakes, onion oil, all have their place here but the sugar was so pronounced I felt like I was eating candied rice pudding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8839">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8841">Next</a></li>
</ul>