<% provide :title, 'Opinion Target 5186' %><h2>green tea pearls<br />occurrence: 1</h2><div><ol><li>They have the regular brownish chewy pearls, as well as the option of `` green tea pearls''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5187">Next</a></li>
</ul>