<% provide :title, 'Opinion Target 5365' %><h2>padthai<br />occurrence: 1</h2><div><ol><li>It is a rather small place but the food is good, their curry, padthai, basil beef are all really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5366">Next</a></li>
</ul>