<% provide :title, 'Opinion Target 6664' %><h2>table cooking selections<br />occurrence: 1</h2><div><ol><li>I 'll admit, I like their table cooking selections ( I personally go for the chicken one) and along with that I always add a few side dishes to add to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6665">Next</a></li>
</ul>