<% provide :title, 'Opinion Target 1318' %><h2>red bean soup<br />occurrence: 3</h2><div><ol><li>We did get the red bean soup in the end which was nice, but the overall experience was n't great.</li><li>We were beyond stuffed when we were given complementary red bean soup right before we asked for our check.</li><li>Service is quite good Food: come in large portions with a very reasonable price They give you free red bean soup as dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1319">Next</a></li>
</ul>