<% provide :title, 'Opinion Target 4069' %><h2>dumplings in gravy<br />occurrence: 1</h2><div><ol><li>This place is by no means fancy, but if you 're craving Hungarian schnitzel, those delicious dumplings in gravy, or cabbage rolls, this is your place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4070">Next</a></li>
</ul>