<% provide :title, 'Opinion Target 4738' %><h2>seafood pho<br />occurrence: 1</h2><div><ol><li>I liked the customer service and the appetizers ( we had fresh spring roll with shrimp and chicken) and mango salad And we had seafood pho!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4739">Next</a></li>
</ul>