<% provide :title, 'Opinion Target 3305' %><h2>salad option<br />occurrence: 1</h2><div><ol><li>Oh sorry, there was a salad option ... for brunch !!?!??!?!?! ugh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3306">Next</a></li>
</ul>