<% provide :title, 'Opinion Target 4506' %><h2>whitefish fish and chips<br />occurrence: 1</h2><div><ol><li>They have a $ 5 take out special every day that is basic whitefish fish and chips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4507">Next</a></li>
</ul>