<% provide :title, 'Opinion Target 4343' %><h2>matcha<br />occurrence: 1</h2><div><ol><li>Fresh, high quality matcha should be bright green; theirs is a browny-green ( a sign of a lower grade product).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4344">Next</a></li>
</ul>