<% provide :title, 'Opinion Target 6188' %><h2>Broiled BBQ dish<br />occurrence: 1</h2><div><ol><li>The Broiled BBQ dish was served sizzling on a hot plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6187">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6189">Next</a></li>
</ul>