<% provide :title, 'Opinion Target 1002' %><h2>panini<br />occurrence: 3</h2><div><ol><li>I usually get a panini- today it was chicken and vegetables.</li><li>The panini 's are great but I personally wait for the specials.</li><li>Their pizzas and panini look great!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1003">Next</a></li>
</ul>