<% provide :title, 'Opinion Target 2355' %><h2>corned beef sandwhich<br />occurrence: 1</h2><div><ol><li>Marky 's makes an decent but not great corned beef sandwhich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2356">Next</a></li>
</ul>