<% provide :title, 'Opinion Target 753' %><h2>tacos<br />occurrence: 6</h2><div><ol><li>My friend 's tacos were worse.</li><li>Yellow-ish, dried, hard tacos.</li><li>The tacos were surprisingly good- I was used to eating tacos at a mexican place in downtown Portchester NY- this reminded me of those days.</li><li>Not only did they take forever to prepare a few tacos, the tacos were cold.</li><li>I had the hard tacos- shrimp, chicken and pulled beef.</li><li>The tacos are very tasty- 4 small, rolled, fried tacos, similar to taquitos or flautas, covered in sauce, served with that same coleslaw ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_754">Next</a></li>
</ul>