<% provide :title, 'Opinion Target 946' %><h2>side dish<br />occurrence: 4</h2><div><ol><li>The side dish was too small since we have 11 people.</li><li>The lunch specials come with rice and ban chan ( side dish galore).</li><li>The side dish is minimal.</li><li>The side dish is delicious as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_947">Next</a></li>
</ul>