<% provide :title, 'Opinion Target 1525' %><h2>Korean shaved ice<br />occurrence: 2</h2><div><ol><li>Dessert was pretty good Their Korean shaved ice was sweet but not too sweet.</li><li>I liked how the Korean shaved ice has some flavor to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1524">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1526">Next</a></li>
</ul>