<% provide :title, 'Opinion Target 1641' %><h2>honey garlic wings + fries<br />occurrence: 2</h2><div><ol><li>Upon entering the establishment, we ordered 1 ( one) pitcher of Heineken, 1lb of peppercorn wings + fries, and another 1lb of honey garlic wings + fries.</li><li>9:20pm) we approached the nearest server and politely informed her that we were still awaiting the second order, the one that consisted of 1lb of honey garlic wings + fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1642">Next</a></li>
</ul>