<% provide :title, 'Opinion Target 9261' %><h2>soup appetizer<br />occurrence: 1</h2><div><ol><li>Before, every main course came with a salad or soup appetizer ( no additional charge).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9260">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9262">Next</a></li>
</ul>