<% provide :title, 'Opinion Target 6375' %><h2>Indian food options<br />occurrence: 1</h2><div><ol><li>When I finally go back to try the Indian food options I 'll make sure to go during the day when things are fresher &amp; also request to make the onions in the salad smaller or leave them out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6376">Next</a></li>
</ul>