<% provide :title, 'Opinion Target 1602' %><h2>kim chi fried rice<br />occurrence: 2</h2><div><ol><li>( Avoid the overly greasy kim chi fried rice and the deep fried seaweed roll ... apologies for not remember what they are called ...)</li><li>The best Kim chi fried rice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1603">Next</a></li>
</ul>