<% provide :title, 'Opinion Target 4830' %><h2>beef ramen<br />occurrence: 1</h2><div><ol><li>Everything I 've tried at this restaurant was fairly good; I 've had lamb skewers, both the beef and lamb in a sliced bun, and lamb and beef ramen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4831">Next</a></li>
</ul>