<% provide :title, 'Opinion Target 4147' %><h2>four alarm<br />occurrence: 1</h2><div><ol><li>Their four alarm is a decent challenge to anyone who likes it HOT!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4146">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4148">Next</a></li>
</ul>