<% provide :title, 'Opinion Target 6064' %><h2>lobster legs<br />occurrence: 1</h2><div><ol><li>I only enjoyed the lobster legs and everything else was extremely mediocre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6063">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6065">Next</a></li>
</ul>