<% provide :title, 'Opinion Target 3265' %><h2>lasagna soup<br />occurrence: 1</h2><div><ol><li>Our server that night did n't seem too interested in making any changes after my friend and I mentioned the `` lasagna soup,'' so now I wonder which version of the lasagna was the fluke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3266">Next</a></li>
</ul>