<% provide :title, 'Opinion Target 6470' %><h2>tofu + corn<br />occurrence: 1</h2><div><ol><li>We tried the 1) tofu + mushroom, 2) tofu + corn, 3) rock crab, pumpkin, and fake sharkfin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6471">Next</a></li>
</ul>