<% provide :title, 'Opinion Target 3486' %><h2>beef with peanuts<br />occurrence: 1</h2><div><ol><li>I am only rating this dish five stars and it is the hot and spicy beef with peanuts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3487">Next</a></li>
</ul>