<% provide :title, 'Opinion Target 3548' %><h2>Deluxe Falafel ''<br />occurrence: 1</h2><div><ol><li>I have heard great things about the `` Deluxe Falafel''- for an extra $ 1, you can add Baba Ganoush and eggplant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3549">Next</a></li>
</ul>