<% provide :title, 'Opinion Target 1058' %><h2>beef broth<br />occurrence: 3</h2><div><ol><li>Beef Noodle Soup The beef broth was very bland.</li><li>Special beef noodle soup is always my go to- you can even drink the beef broth.</li><li>Little or no MSG in my opinion since I do n't get thirsty after drink the beef broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1059">Next</a></li>
</ul>