<% provide :title, 'Opinion Target 1104' %><h2>BBQ meat<br />occurrence: 4</h2><div><ol><li>You get a soup ( you can taste the ingredients), vegetables, a whole box of rice with your choice of BBQ meat.</li><li>This place has fresh BBQ meat hanging in front of the kitchen.</li><li>This spicy salad which is usually a combination of thinly slices scallions and lettuce which you eat with the BBQ meat or in your diy lettuce wraps.</li><li>They also have table cooking like BBQ meat and also hot pots.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1105">Next</a></li>
</ul>