<% provide :title, 'Opinion Target 1961' %><h2>whip cream<br />occurrence: 2</h2><div><ol><li>The whip cream was absolutely delicious.</li><li>The whip cream was soft, and a bit gross.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1962">Next</a></li>
</ul>