<% provide :title, 'Opinion Target 6788' %><h2>salmon/tuna<br />occurrence: 1</h2><div><ol><li>I usually get 3 rolls ( dynamite, spicy salmon/tuna and cucumber avocado) for two people ( it is MORE than enough) and it comes to $ 17 after tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6789">Next</a></li>
</ul>