<% provide :title, 'Opinion Target 3145' %><h2>Veal Milanese<br />occurrence: 1</h2><div><ol><li>Best Veal Milanese in the city.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3144">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3146">Next</a></li>
</ul>