<% provide :title, 'Opinion Target 2161' %><h2>fried lamb<br />occurrence: 2</h2><div><ol><li>The fried lamb was a bit too tough for my taste, but still, all in all, I have n't found lamb this good on this side of the Pacific.</li><li>Fried Lamb Tongue a more exotic dish for some I guess though we we stayed away from the Vday special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2162">Next</a></li>
</ul>