<% provide :title, 'Opinion Target 1380' %><h2>beef ball pho<br />occurrence: 3</h2><div><ol><li>My bf enjoyed the rare beef ball pho however said the noodles could have been better.</li><li>I ordered the brisket and beef ball pho, which came out to be the worst pho I 've ever had.</li><li>We ordered- bun bo hue- special pho- beef and beef ball pho- rice- cha gio- three cafe su da The food was definitely a disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1379">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1381">Next</a></li>
</ul>