<% provide :title, 'Opinion Target 5930' %><h2>jerk chicken and curry goat<br />occurrence: 1</h2><div><ol><li>Tried both the jerk chicken and curry goat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5931">Next</a></li>
</ul>