<% provide :title, 'Opinion Target 5599' %><h2>hot pepper paste<br />occurrence: 1</h2><div><ol><li>I actually thought of asking for some gochujang ( hot pepper paste) to mix in, which I 've never done at a Korean restaurant in all my life.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5600">Next</a></li>
</ul>