<% provide :title, 'Opinion Target 5235' %><h2>lunch meals<br />occurrence: 1</h2><div><ol><li>We ordered simple lunch meals.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5236">Next</a></li>
</ul>