<% provide :title, 'Opinion Target 1200' %><h2>rice or noodles<br />occurrence: 3</h2><div><ol><li>Their 3 item combo with rice or noodles is certainly affordable and will keep you full.</li><li>$ 5 for Three kinds of meats, rice or noodles, and soup.</li><li>You take a bowl and load it up with protein, veggies, rice or noodles, and a ladle of sauce, and then you give it to the chef who stir-fries it on a huge flat teppan-table thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1201">Next</a></li>
</ul>