<% provide :title, 'Opinion Target 5518' %><h2>oil front<br />occurrence: 1</h2><div><ol><li>Now I 'm aware pesto has olive oil but like this was way over on the oil front.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5517">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5519">Next</a></li>
</ul>