<% provide :title, 'Opinion Target 6446' %><h2>fried squids<br />occurrence: 1</h2><div><ol><li>Expertly prepared Cantonese food, including congee, noodles of all sorts and Popular dishes including fried squids, bbq pork and duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6447">Next</a></li>
</ul>