<% provide :title, 'Opinion Target 8946' %><h2>Asian BBQ<br />occurrence: 1</h2><div><ol><li>I noticed right away that they had some creative additions to their menu: Creamy butter chicken, cheesy beef poutine, savory Asian BBQ, Smokey Maple Bacon &amp; Grilled Chicken Club.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8947">Next</a></li>
</ul>