<% provide :title, 'Opinion Target 4103' %><h2>sauteed garlic shoots<br />occurrence: 1</h2><div><ol><li>We had ordered sauteed garlic shoots but they brought us the wrong dish and we sent it back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4104">Next</a></li>
</ul>