<% provide :title, 'Opinion Target 4944' %><h2>kebab dishes<br />occurrence: 1</h2><div><ol><li>My favorite dishes at this place are the kebab dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4943">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4945">Next</a></li>
</ul>