<% provide :title, 'Opinion Target 7015' %><h2>onion ring batter<br />occurrence: 1</h2><div><ol><li>The roasted chicken was also not good and the chicken bucket had batter that tasted like onion ring batter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7016">Next</a></li>
</ul>