<% provide :title, 'Opinion Target 8116' %><h2>waistlines<br />occurrence: 1</h2><div><ol><li>It 's a perfect casual spot to bring friends or family out of town for a bite to eat or to impress your date/colleagues with your great taste in food:) They will thank you, although ... their waistlines may not.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8115">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8117">Next</a></li>
</ul>