<% provide :title, 'Opinion Target 6743' %><h2>onion rings were deep fried<br />occurrence: 1</h2><div><ol><li>The onion rings were deep fried and probably of the frozen kind.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6742">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6744">Next</a></li>
</ul>