<% provide :title, 'Opinion Target 1163' %><h2>sp<br />occurrence: 3</h2><div><ol><li>Try the beef steak, sinigang, pusit, fried shrimp, pancit, lechon kawali, or the pinakbet ( sp ?).</li><li>Seafood noodle soup ( jam pong, sp ?) is not as good as the one from Kachi ( which I consider to be the gold standard).</li><li>When I read Cucumber Salad, I was hoping for Cachumber ( sp ?) salad, but it was still awesome anyways.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1164">Next</a></li>
</ul>