<% provide :title, 'Opinion Target 3559' %><h2>Arabic food<br />occurrence: 1</h2><div><ol><li>Finding the perfect Arabic food is not easy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3558">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3560">Next</a></li>
</ul>