<% provide :title, 'Opinion Target 2690' %><h2>Neptune salad<br />occurrence: 1</h2><div><ol><li>Their Neptune salad is our of this world and so is their home made pita.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2691">Next</a></li>
</ul>