<% provide :title, 'Opinion Target 5624' %><h2>: Pork Bone Soup<br />occurrence: 1</h2><div><ol><li>Try: Pork Bone Soup Very decent Korean restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5625">Next</a></li>
</ul>