<% provide :title, 'Opinion Target 3114' %><h2>spaghetti dish<br />occurrence: 1</h2><div><ol><li>The only thing I would dissaprove is the portion size for the spaghetti dish .. although it is quite good I do n't think it 's worth the price for how small it is.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3115">Next</a></li>
</ul>