<% provide :title, 'Opinion Target 6430' %><h2>garlic parm wings<br />occurrence: 1</h2><div><ol><li>The boneless, garlic parm wings were a welcomed surprise especially if you like them saucy- they were rich, crispy and creamy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6429">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6431">Next</a></li>
</ul>