<% provide :title, 'Opinion Target 6922' %><h2>pepper fried pork<br />occurrence: 1</h2><div><ol><li>The bad- salt and pepper fried pork ( too salty) Service is mediocre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6923">Next</a></li>
</ul>