<% provide :title, 'Opinion Target 1718' %><h2>avocado cucumber rolls<br />occurrence: 2</h2><div><ol><li>Miso soup, salad, 6 avocado cucumber rolls, tofu teriyaki, sauted veggies ( mostly bean sprouts, with a few carrots and cucumbers), and vegetable tempura.</li><li>I ordered 1 cucumber roll and 2 avocado cucumber rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1719">Next</a></li>
</ul>