<% provide :title, 'Opinion Target 9172' %><h2>blinis with caviar<br />occurrence: 1</h2><div><ol><li>I made an effort to try everything, though some I could n't resist sampling a few times, such as:- eggplant and tomato puree with loads of garlic- blinis with caviar- pickled cabbage, cucumbers and watermelon ( the latter being my new favourite!)- chicken kebabs- shredded chicken salad- spiced mushrooms- stuffed turkey neck- bread pastry ( almost phillo) with stuffed cheese Since the food was already laid out when we arrived, we began eating at 8pm, washing it all down with vodka and wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9173">Next</a></li>
</ul>