<% provide :title, 'Opinion Target 1158' %><h2>Seafood Risotto<br />occurrence: 3</h2><div><ol><li>My word of warning, get the appetizer portion for the Seafood Risotto.</li><li>Also getting very positive reviews were the seafood risotto, the grilled mixed seafood, the pizza, heck, pretty much everything we had.</li><li>On the other hand, outside of winterlicious, I 've had some great experiences dining here ( excellent seafood risotto) so I would have to say the food can be inconsistent at times.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1157">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1159">Next</a></li>
</ul>