<% provide :title, 'Opinion Target 2197' %><h2>fatouche salad<br />occurrence: 2</h2><div><ol><li>The dips- hummus, baba ganoush, and labneh- are phenomenal though, as is the fatouche salad ( $ 4.50 Regular, $ 8 Large).</li><li>I ordered the Baba Ghanough, Fatouche salad, Lamb skewers and an order of `` the best Falafels in Toronto''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2198">Next</a></li>
</ul>