<% provide :title, 'Opinion Target 990' %><h2>meat portions<br />occurrence: 3</h2><div><ol><li>The meat portions were a joke and of poor quality.</li><li>The bun was crispy, and generous meat portions.</li><li>Great for rice dishes- meat portions are generous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_989">Previous</a></li>
  <li class="next"><a href=".\opinion_target_991">Next</a></li>
</ul>