<% provide :title, 'Opinion Target 4812' %><h2>Chinese-style lamb<br />occurrence: 1</h2><div><ol><li>I have n't had legitimately good Chinese-style lamb since visiting to Inner Mongolia.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4813">Next</a></li>
</ul>