<% provide :title, 'Opinion Target 7409' %><h2>sweet-and-sour chicken<br />occurrence: 1</h2><div><ol><li>Do n't tell my boss that I skipped over the more authentic looking items for the sweet-and-sour chicken, which did not disappoint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7410">Next</a></li>
</ul>