<% provide :title, 'Opinion Target 4644' %><h2>duck red curry serviced<br />occurrence: 1</h2><div><ol><li>The duck red curry serviced with rice ( $ 21) is such an incredible dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4645">Next</a></li>
</ul>