<% provide :title, 'Opinion Target 1131' %><h2>nihari<br />occurrence: 3</h2><div><ol><li>The karahi and kebabs were decent but the nihari was one of the worst I have ever had.</li><li>The pieces of beef in the nihari were all chunks of fat and no meat.</li><li>The nihari was covered, immersed in oil, more oil, less curry, clumps of starch powder, and chunks of fat in lieu of meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1130">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1132">Next</a></li>
</ul>