<% provide :title, 'Opinion Target 1798' %><h2>Sichuan food<br />occurrence: 2</h2><div><ol><li>Having spent part of my life living in Sichuan, this place offers very authentic Sichuan food.</li><li>Sichuan food is widely recognized as the spicy cuisine in China, and if you are serious about getting authentic, spicy ( as the name of the restaurant indicates) Chinese food, this is the place to be in Toronto to try out for at least once.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1799">Next</a></li>
</ul>