<% provide :title, 'Opinion Target 5619' %><h2>soup combo<br />occurrence: 1</h2><div><ol><li>The grilled mackerel + soup combo is a great deal at $ 10-11.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5618">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5620">Next</a></li>
</ul>