<% provide :title, 'Opinion Target 1146' %><h2>beef dumplings<br />occurrence: 3</h2><div><ol><li>The beef dumplings were flavorless and the rice cakes were undercooked.</li><li>I just did not enjoy the beef dumplings, something about the seasoning was not appealing to my palate.</li><li>Beef dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1147">Next</a></li>
</ul>