<% provide :title, 'Opinion Target 2678' %><h2>meat toppings<br />occurrence: 1</h2><div><ol><li>Not very generous with their meat toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2679">Next</a></li>
</ul>