<% provide :title, 'Opinion Target 3186' %><h2>cherry cheese cake<br />occurrence: 1</h2><div><ol><li>They have a great selection of standard desserts ( chocolate mousse cake, tiramisu, cherry cheese cake and apple pie) that are actually quite delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3187">Next</a></li>
</ul>