<% provide :title, 'Opinion Target 8004' %><h2>bulgogi pot<br />occurrence: 1</h2><div><ol><li>We each ordered miso soon du bu extra spicy, seafood soon du bu regular spicy and a bulgogi pot for my daughter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8005">Next</a></li>
</ul>