<% provide :title, 'Opinion Target 3919' %><h2>BBQ Chicken and BBQ Pork<br />occurrence: 1</h2><div><ol><li>The BBQ Chicken and BBQ Pork are incredible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3918">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3920">Next</a></li>
</ul>