<% provide :title, 'Opinion Target 2279' %><h2>mojito smoothie<br />occurrence: 1</h2><div><ol><li>The mojito smoothie is delicious and tastes refreshing and just like the real thing minus alcohol of course The parfait is satisfying, sweet and really good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2280">Next</a></li>
</ul>