<% provide :title, 'Opinion Target 2514' %><h2>Naan and rice<br />occurrence: 2</h2><div><ol><li>Yummy butter chicken, good Naan and rice, with other dishes that have flavour.</li><li>A wonderful meal, the daily special, took us through a wonderful plate of appetizers, a sizzling plate of prawns, butter chicken, aloo gobi, naan and rice, then dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2515">Next</a></li>
</ul>