<% provide :title, 'Opinion Target 6440' %><h2>fish and chicken fried rice<br />occurrence: 1</h2><div><ol><li>We usually always get a rice and one of my favorites there is the salted fish and chicken fried rice that I can never get enough of.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6439">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6441">Next</a></li>
</ul>