<% provide :title, 'Opinion Target 4462' %><h2>tiny shrimp<br />occurrence: 1</h2><div><ol><li>The tiny shrimp was disappointing as it was very small pieces of cut up mini shrimp so it became obsolete to the dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4463">Next</a></li>
</ul>