<% provide :title, 'Opinion Target 2898' %><h2>Carne<br />occurrence: 1</h2><div><ol><li>Cutting through the Carne was table-shaking teeth-grinding madness, Beef was Flank variety Minute Steak style thickness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2897">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2899">Next</a></li>
</ul>