<% provide :title, 'Opinion Target 2929' %><h2>six spring rolls<br />occurrence: 1</h2><div><ol><li>In conclusion, I 'm Chinese, if you 're charging me ten bucks for six spring rolls cut in half, they better come with room service, and promise to ' love me long time.'</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2930">Next</a></li>
</ul>