<% provide :title, 'Opinion Target 4456' %><h2>trout<br />occurrence: 1</h2><div><ol><li>The trout was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4457">Next</a></li>
</ul>