<% provide :title, 'Opinion Target 1968' %><h2>brownie<br />occurrence: 2</h2><div><ol><li>It was unbelievable !!!!! $ 9 and well worth it ( big portion) My Girlfriend got the brownie, banana, whipped cream and vanilla ice cream crepe.</li><li>The brownie was mediocre, nothing special, not fudgey but cakey.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1969">Next</a></li>
</ul>