<% provide :title, 'Opinion Target 3459' %><h2>kashk bademjan<br />occurrence: 1</h2><div><ol><li>My favorite side is the kashk bademjan ... an amazinggg eggplant side ... I crave it sometimes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3460">Next</a></li>
</ul>