<% provide :title, 'Opinion Target 5391' %><h2>buffet dishes<br />occurrence: 1</h2><div><ol><li>Nothing stood out but I do have to give it up to them as they were always filling up the buffet dishes, water and there were never a shortage of any dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5390">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5392">Next</a></li>
</ul>