<% provide :title, 'Opinion Target 2077' %><h2>shrimp wanton soup<br />occurrence: 2</h2><div><ol><li>We had shrimp wanton soup, chicken chow mein and spicy shrimp.</li><li>The spicy shrimp were n't actually spicy- more like plump deep fried shrimps, the shrimp wanton soup was large enough for two and had a slight taste of seasame oil, the chicken chow mein was just really good chowmein topped with chicken that was moist ont he inside and crispy on the outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2076">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2078">Next</a></li>
</ul>