<% provide :title, 'Opinion Target 5621' %><h2>Korean green onion pancake<br />occurrence: 1</h2><div><ol><li>They serve you a delicious Korean green onion pancake with every meal with the panchans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5620">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5622">Next</a></li>
</ul>