<% provide :title, 'Opinion Target 4829' %><h2>spicy lamb skewers<br />occurrence: 1</h2><div><ol><li>Here 's what I recommend: The spicy lamb skewers sweet and sour soup spicy mini lamb chops There are interesting dishes on the menu like Jellyfish and Oxtail so if you are feeling adventurous go for it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4830">Next</a></li>
</ul>