<% provide :title, 'Opinion Target 8206' %><h2>crispy deep fried sweet & sour pork with apples<br />occurrence: 1</h2><div><ol><li>Sing karaoke, drink soju and eat pork bone soup =) Their crispy deep fried sweet &amp; sour pork with apples was yummy as well .. no idea how they got it so darn crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8207">Next</a></li>
</ul>