<% provide :title, 'Opinion Target 2658' %><h2>glass panels<br />occurrence: 1</h2><div><ol><li>At $ 20 + per person, located at a upscale shopping mall I really expected more than a Pizzaiolo/Michelina 's pasta experience Suggestion: at an indoor mall it is awkward to have a wannabe outdoor patio section, plus the glass panels adjoining the two sections were too divisive and it felt like we were unwelcomed spectators to another Italian restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2659">Next</a></li>
</ul>