<% provide :title, 'Opinion Target 3453' %><h2>Crab Corn Soup<br />occurrence: 1</h2><div><ol><li>Started with soup, Hot and Sour and Crab Corn Soup ( or was it chicken ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3454">Next</a></li>
</ul>