<% provide :title, 'Opinion Target 9287' %><h2>Soondubu Chigae<br />occurrence: 1</h2><div><ol><li>I usually prefer eating my fav dish at every Korean restaurant ... which is the Soondubu Chigae ( soft tofu stewed in a hot spicy broth with seafood and vegetables).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9288">Next</a></li>
</ul>