<% provide :title, 'Opinion Target 2218' %><h2>bacon cheeseburger<br />occurrence: 1</h2><div><ol><li>The menu is n't all that great, the service was unfriendly and the bacon cheeseburger I had was `` just okay''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2219">Next</a></li>
</ul>