<% provide :title, 'Opinion Target 9144' %><h2>bacon cheddar burger<br />occurrence: 1</h2><div><ol><li>I had the bacon cheddar burger with a side of guac.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9145">Next</a></li>
</ul>