<% provide :title, 'Opinion Target 6506' %><h2>Dessert of red bean pancake<br />occurrence: 1</h2><div><ol><li>Dessert of red bean pancake took way longer than the 20 minutes prep time listed on the menu though I 've been to at least four other Asian Legend locations and this is probably the worst one for their braised beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6507">Next</a></li>
</ul>