<% provide :title, 'Opinion Target 6761' %><h2>Red curry beef<br />occurrence: 1</h2><div><ol><li>Fried rice was good, curry Iyam was ok, Red curry beef had chewy pieces of beef throughout but the most disappointing and worst tasting dish was the Pad Thai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6762">Next</a></li>
</ul>