<% provide :title, 'Opinion Target 1168' %><h2>Beef Tripe<br />occurrence: 3</h2><div><ol><li>The Beef Tripe, ended up being being the Beef intestine ( ?).</li><li>The beef tripe is nothing short of tasty however, I am biased towards anything with peanut butter.</li><li>Har gow, Siew Mai, Cheong fun ( shrimp and beef rolls), chicken feet, beef tripe, Bbq pork buns, sticky rice, carrot turnip cake and a whole lot more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1169">Next</a></li>
</ul>