<% provide :title, 'Opinion Target 4072' %><h2>cheese quesadilla<br />occurrence: 1</h2><div><ol><li>We also ordered the combo platter ( chicken enchilada and beef burrito were pretty good but the cheese quesadilla was just ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4073">Next</a></li>
</ul>