<% provide :title, 'Opinion Target 2503' %><h2>lobster sushi<br />occurrence: 1</h2><div><ol><li>I particularly like their lobster sushi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2504">Next</a></li>
</ul>