<% provide :title, 'Opinion Target 4963' %><h2>Fruit Explosion pancakes<br />occurrence: 1</h2><div><ol><li>The Fruit Explosion pancakes are to die for!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4962">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4964">Next</a></li>
</ul>