<% provide :title, 'Opinion Target 6384' %><h2>panchan bowls<br />occurrence: 1</h2><div><ol><li>I can go through 3 panchan bowls myself ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6385">Next</a></li>
</ul>