<% provide :title, 'Opinion Target 2924' %><h2>shawarma sandwiches<br />occurrence: 1</h2><div><ol><li>$ 20 for 2 shawarma sandwiches ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2925">Next</a></li>
</ul>