<% provide :title, 'Opinion Target 3537' %><h2>seafood pancake and crab stew<br />occurrence: 1</h2><div><ol><li>They have a great seafood pancake and crab stew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3536">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3538">Next</a></li>
</ul>