<% provide :title, 'Opinion Target 6940' %><h2>fish fillet with wine essence<br />occurrence: 1</h2><div><ol><li>I like their soup dumplings ( xiao long bao), their beef noodle soup, sauteed green beans and fish fillet with wine essence.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6941">Next</a></li>
</ul>