<% provide :title, 'Opinion Target 9561' %><h2>fruit cheesecake with honey lemon tea<br />occurrence: 1</h2><div><ol><li>I got a box of macaroons, their mango meringue cake, hot chocolate and my friend got their fruit cheesecake with honey lemon tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9562">Next</a></li>
</ul>