<% provide :title, 'Opinion Target 6837' %><h2>Yo Po Biang Biang Mian<br />occurrence: 1</h2><div><ol><li>The Yo Po Biang Biang Mian- as a Korean it was really odd for me to have noodle with suateed tomatoes inside!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6836">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6838">Next</a></li>
</ul>