<% provide :title, 'Opinion Target 1632' %><h2>hamburger buns<br />occurrence: 2</h2><div><ol><li>Cold hamburger buns.</li><li>My breakfast had hamburger buns instead of actual toast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1631">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1633">Next</a></li>
</ul>