<% provide :title, 'Opinion Target 2486' %><h2>sirloin beef<br />occurrence: 1</h2><div><ol><li>My sirloin beef wasnt even warm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2487">Next</a></li>
</ul>