<% provide :title, 'Opinion Target 3924' %><h2>pancit sampaguita BBQ chicken<br />occurrence: 1</h2><div><ol><li>Loved the crispy pork belly and the pancit sampaguita BBQ chicken was slightly burnt but very tender</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3925">Next</a></li>
</ul>