<% provide :title, 'Opinion Target 1768' %><h2>carne asada<br />occurrence: 2</h2><div><ol><li>The menu said the carne asada just came with rice and salad but I was pleasantly surprised to find beans, tortilla and plantains with the meal.</li><li>The menu offers the staples: platano, arroz, beans, yuca, pescado frito, pupusas, sopas, carne asada, chicharron, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1769">Next</a></li>
</ul>