<% provide :title, 'Opinion Target 5698' %><h2>corn kernels<br />occurrence: 1</h2><div><ol><li>The corn kernels on the pan were awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5699">Next</a></li>
</ul>