<% provide :title, 'Opinion Target 4235' %><h2>dominoes App<br />occurrence: 1</h2><div><ol><li>The dominoes App is fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4236">Next</a></li>
</ul>