<% provide :title, 'Opinion Target 8227' %><h2>BBB<br />occurrence: 1</h2><div><ol><li>The BBB was I thought not very tasty, all the vegetables tasted roughly the same with the buttery taste, and overall the dish was mediocre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8228">Next</a></li>
</ul>