<% provide :title, 'Opinion Target 4995' %><h2>Neptune Chicken with hollandaise<br />occurrence: 1</h2><div><ol><li>The Neptune Chicken with hollandaise was disappointung, as it was cooked too much, and the hollandaise was not good, separating and the fries were frozen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4996">Next</a></li>
</ul>