<% provide :title, 'Opinion Target 5858' %><h2>Strawberry Banana sundae<br />occurrence: 1</h2><div><ol><li>The Strawberry Banana sundae was cute- but just one small scoop of strawberry icecream while the rest is just whipped cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5857">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5859">Next</a></li>
</ul>