<% provide :title, 'Opinion Target 2099' %><h2>romain<br />occurrence: 2</h2><div><ol><li>Then we ask for another the waitress said we have to finish the romain first ???</li><li>After we finish the plate of romain we still have 10 piece of pork belly so we ask for one more romain.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2098">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2100">Next</a></li>
</ul>