<% provide :title, 'Opinion Target 3342' %><h2>Steak and shrimp fajitas<br />occurrence: 1</h2><div><ol><li>In terms of what we ordered: Mussels- excellent Chicken souvlaki- great Prime rib- no good, dont order this Garlic bread- excellent Steak and shrimp fajitas- steak not so good, shrimp was excellent Seems like they are n't too good with their beef, but everything else was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3343">Next</a></li>
</ul>