<% provide :title, 'Opinion Target 5747' %><h2>General Tso chicken<br />occurrence: 1</h2><div><ol><li>My General Tso chicken was, I have to admit, as good as or better than most higher-priced Chinese restaurants in North York.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5748">Next</a></li>
</ul>