<% provide :title, 'Opinion Target 6690' %><h2>Greek salads<br />occurrence: 1</h2><div><ol><li>For any fellow yanks visiting here, you will find Greek salads a lot better in Toronto!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6691">Next</a></li>
</ul>