<% provide :title, 'Opinion Target 5534' %><h2>frittatas<br />occurrence: 1</h2><div><ol><li>It 's a pretty limited menu for brunch, I think there were maybe 8 options; these included french toasts with pecan crusts/Nutella etc., frittatas, eggs benedict- all in Italian style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5533">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5535">Next</a></li>
</ul>