<% provide :title, 'Opinion Target 4480' %><h2>priced thai food<br />occurrence: 1</h2><div><ol><li>Really great and reasonably priced thai food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4481">Next</a></li>
</ul>