<% provide :title, 'Opinion Target 2390' %><h2>tea with sugar cubes<br />occurrence: 1</h2><div><ol><li>I enjoyed having their tea with sugar cubes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2389">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2391">Next</a></li>
</ul>