<% provide :title, 'Opinion Target 4954' %><h2>cheese with green onions<br />occurrence: 1</h2><div><ol><li>What I got was a bagel and cream cheese with green onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4955">Next</a></li>
</ul>