<% provide :title, 'Opinion Target 2794' %><h2>kalbi appetizer<br />occurrence: 1</h2><div><ol><li>If I 'm craving the soup and the kalbi appetizer I will go here!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2793">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2795">Next</a></li>
</ul>