<% provide :title, 'Opinion Target 852' %><h2>lunch hours<br />occurrence: 5</h2><div><ol><li>They sometimes get busy during prime lunch hours, but they always have a table available.</li><li>During weekend dinner &amp; lunch hours there is not enough seating for all the clientele.</li><li>The good thing, besides the ambiance, was the lunch hours.</li><li>During lunch hours, they become quite busy and their kitchen slows down a lot.</li><li>Fit for Life is a popular choice at the food court I go to and the lines at peak lunch hours are crazyyy- 15 min wait time at a food court.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_853">Next</a></li>
</ul>