<% provide :title, 'Opinion Target 5622' %><h2>bulgogi hot<br />occurrence: 1</h2><div><ol><li>Our bulgogi hot plate arrived and it was n't even hot!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5623">Next</a></li>
</ul>