<% provide :title, 'Opinion Target 5492' %><h2>spaghetti carbonara<br />occurrence: 1</h2><div><ol><li>I 've had the pomodoro pasta, spaghetti carbonara, margherita pizza and the caesar salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5493">Next</a></li>
</ul>