<% provide :title, 'Opinion Target 5981' %><h2>minced meat sausages ) and hamburgers<br />occurrence: 1</h2><div><ol><li>This a small Bosnian delicatessen that also has a fast food sections that prepares their authentic ćevaps ( minced meat sausages) and hamburgers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5982">Next</a></li>
</ul>