<% provide :title, 'Opinion Target 2004' %><h2>Braised Beef Noodles<br />occurrence: 2</h2><div><ol><li>Some prices of the food has been increased but my favorite is the Braised Beef Noodles.</li><li>We both had the braised beef noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2005">Next</a></li>
</ul>