<% provide :title, 'Opinion Target 3427' %><h2>kalbi appetizer<br />occurrence: 1</h2><div><ol><li>If I 'm craving the soup and the kalbi appetizer I will go here!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3428">Next</a></li>
</ul>