<% provide :title, 'Opinion Target 1178' %><h2>food selection<br />occurrence: 3</h2><div><ol><li>The food selection is quite different from Congee Wong and definitely has it 's own appeal.</li><li>The food selection is also better than what I expected!</li><li>Food selection is fantastic as you 'll see some menu items that you do n't see in other AYCE restos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1179">Next</a></li>
</ul>