<% provide :title, 'Opinion Target 6584' %><h2>onions & provolone<br />occurrence: 1</h2><div><ol><li>You gotta get it with onions &amp; provolone.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6585">Next</a></li>
</ul>