<% provide :title, 'Opinion Target 1778' %><h2>fried eggs<br />occurrence: 2</h2><div><ol><li>They were happy to redo them but they were still awful -- most of the egg white was still raw -- the second time ... how do you screw up fried eggs ?! -- sorry, that was mean.</li><li>When my order arrived I had no smoked salmon, my potatoes were cold, I had 2 fried eggs instead of poached, the salsa was smeared on the English muffin, ( not on the side) which made the English muffin incredibly soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1779">Next</a></li>
</ul>