<% provide :title, 'Opinion Target 4927' %><h2>sandwich portions<br />occurrence: 1</h2><div><ol><li>The sandwich portions are a good size.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4928">Next</a></li>
</ul>