<% provide :title, 'Opinion Target 7439' %><h2>Biryani rice<br />occurrence: 1</h2><div><ol><li>My Biryani rice however, was plentiful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7438">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7440">Next</a></li>
</ul>