<% provide :title, 'Opinion Target 6449' %><h2>pan fried green onion pancake<br />occurrence: 1</h2><div><ol><li>The steamed pork buns tasted okay but their pan fried green onion pancake was tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6448">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6450">Next</a></li>
</ul>