<% provide :title, 'Opinion Target 1031' %><h2>martinis<br />occurrence: 3</h2><div><ol><li>Definitely recommend trying some things from their drink menu, especially their martinis and cocktails.</li><li>If you are by the bar, make sure to try some of the best martinis in town.</li><li>When I arrived I was told it was Martini Wednesdays, 31 different martinis for only $ 4.25.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1032">Next</a></li>
</ul>