<% provide :title, 'Opinion Target 587' %><h2>priced<br />occurrence: 6</h2><div><ol><li>Over priced average food.</li><li>Menu is reasonable and priced similarly to other pho houses.</li><li>The cocktail specials though amazingly priced but they were disappointingly weak.</li><li>Bbtea is decent, reasonable priced compared to Ten Ren.</li><li>I came on a Monday night with the intention of getting half priced wings ( 3pm- Close on Mondays).</li><li>The wings are excellent and priced right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_588">Next</a></li>
</ul>