<% provide :title, 'Opinion Target 1992' %><h2>green olives<br />occurrence: 2</h2><div><ol><li>It 's a pita wrap filled with chicken shawarma and your choice of lettuce, tomato, onions, pickles, green olives, hot peppers, and some others.</li><li>However it was inviting and clean, the gentleman who prepared my food was very friendly and attentive, and the falafel was great ( recommend the green olives, really gives it some extra flavor).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1993">Next</a></li>
</ul>