<% provide :title, 'Opinion Target 4939' %><h2>thin vermicelli noodle<br />occurrence: 1</h2><div><ol><li>Pancit Sampaguita is a noodle dish consisting of meats, thick noodle, and thin vermicelli noodle as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4938">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4940">Next</a></li>
</ul>