<% provide :title, 'Opinion Target 2973' %><h2>curry jerk<br />occurrence: 1</h2><div><ol><li>This location ( and the chain in general) take huge pride in their food. decent. not spectacular. i will say their store hours are terrible. ive been here 4 times driving by wanting to try and they were closed at 8pm. very disapointing in that sense at least for my sceduale. sometimes the roti is better but today that plus the curry jerk was mediocre. i would go back though ... but in this area there is not too many carribean options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2974">Next</a></li>
</ul>