<% provide :title, 'Opinion Target 4323' %><h2>Vanilla Fairy Milk Tea<br />occurrence: 1</h2><div><ol><li>I 've tried the Roasted grass jelly milk tea ( #2 on their Top Ten list) and the Vanilla Fairy Milk Tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4324">Next</a></li>
</ul>