<% provide :title, 'Opinion Target 5360' %><h2>vegetarian green curry<br />occurrence: 1</h2><div><ol><li>My favourite was the the vegetarian green curry which was light on the coconut cream/milk, mildly spicy and very flavourful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5361">Next</a></li>
</ul>