<% provide :title, 'Opinion Target 903' %><h2>mains<br />occurrence: 4</h2><div><ol><li>The mains were okay.</li><li>The portions for all the mains were pretty small, so we definitely needed that appetizer.</li><li>It simplified its menu and removed the pricey mains a few years ago.</li><li>Since the mains were small, we needed one full appetizer per person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_904">Next</a></li>
</ul>