<% provide :title, 'Opinion Target 1174' %><h2>beef roll<br />occurrence: 3</h2><div><ol><li>Their beef roll is very well executed.</li><li>Now the stand out food items- spicy salmon sushi, volcano roll, enoki beef roll, beef negi maki, spicy seafood udon soup.</li><li>I had the miso soup, salmon rose, white tuna sushi, salmon belly, beef rib, chicken teriyaki, salmon teriyaki, beef teriyaki, enoki beef roll, pork cutlet, chicken cutlet, deep fried scallops and green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1175">Next</a></li>
</ul>