<% provide :title, 'Opinion Target 1628' %><h2>fish n chips<br />occurrence: 2</h2><div><ol><li>I always thought fish n chips would come with coleslaw but this place did n't.</li><li>Hidden spot, love their fish n chips, some of the best chips in town.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1629">Next</a></li>
</ul>