<% provide :title, 'Opinion Target 7273' %><h2>stir-fry noodles<br />occurrence: 1</h2><div><ol><li>Their congee, fried rice, stir-fry noodles are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7274">Next</a></li>
</ul>