<% provide :title, 'Opinion Target 5949' %><h2>calamari appetizer<br />occurrence: 1</h2><div><ol><li>We got the calamari appetizer while we waited, and I can honestly say it was the best calamari I 've had to date.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5950">Next</a></li>
</ul>