<% provide :title, 'Opinion Target 6949' %><h2>pickle barrel Leslie<br />occurrence: 1</h2><div><ol><li>Always good food and service at pickle barrel Leslie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6950">Next</a></li>
</ul>