<% provide :title, 'Opinion Target 4914' %><h2>chicken and beef shawarma wraps<br />occurrence: 1</h2><div><ol><li>The chicken and beef shawarma wraps are both good on their own, although most of the time, anyone who gets a wrap goes `` mixed'' which is both meats -- but PLEASE remember to specify what you do n't want in it, or else it will have everything, including tahina, hot sauce, onions, etc -- and they generally do n't ask you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4915">Next</a></li>
</ul>