<% provide :title, 'Opinion Target 1598' %><h2>hot dogs<br />occurrence: 2</h2><div><ol><li>They also have Persian hamburgers and hot dogs ( which are not quite the same as North American style) but I do n't know if I 'll go back and try any of those because I like my sandwiches, burgers, and hot dogs either really tasty or really cheap.</li><li>I love the hot dogs and my wife loves the Chavito.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1597">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1599">Next</a></li>
</ul>