<% provide :title, 'Opinion Target 2756' %><h2>veg option<br />occurrence: 1</h2><div><ol><li>For $ 10 you can have a nice veg option lunch. the staff is super attentive and remembers the clients. more than one time we were recognized and welcomed as special guests. the service is pretty quick so we never had to stay there longer than our allocated 1hr lunch. another point is that they 're good at accommodating larger groups ( we went as a group of 8 + people for lunch few times and never had any issues).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2755">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2757">Next</a></li>
</ul>