<% provide :title, 'Opinion Target 1113' %><h2>filet mignons<br />occurrence: 3</h2><div><ol><li>The second plate was cooked medium rare, but the quality of the steak is not the best- It was a bit hard to chew through the tendons, which I 've never seen in filet mignons ..</li><li>For mains, chicken curry, two filet mignons, ribeye steak and salad.</li><li>The filet mignons were mostly tasteless, and had no sauce of any kind to improve their flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1112">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1114">Next</a></li>
</ul>