<% provide :title, 'Opinion Target 2477' %><h2>tempura vegetables<br />occurrence: 1</h2><div><ol><li>The tempura vegetables was amazing, fresh and full of flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2478">Next</a></li>
</ul>