<% provide :title, 'Opinion Target 2578' %><h2>price wings deal<br />occurrence: 1</h2><div><ol><li>Usually go for the half price wings deal but that is no longer offered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2579">Next</a></li>
</ul>