<% provide :title, 'Opinion Target 908' %><h2>beef panang curry<br />occurrence: 5</h2><div><ol><li>In the end I 'd go back for the crispy beef panang curry, or one of the other curries.</li><li>We had the crispy beef panang curry.</li><li>you have to order the crispy beef panang curry.</li><li>We order Beef Panang Curry but they gave us something else that had a curry but deep fried beef- which is apparently their signature dish.</li><li>I got the crispy beef panang curry again and it was just as good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_907">Previous</a></li>
  <li class="next"><a href=".\opinion_target_909">Next</a></li>
</ul>