<% provide :title, 'Opinion Target 3329' %><h2>Kamikaze Salmon<br />occurrence: 1</h2><div><ol><li>I highly recommend the Krazy boy ( fried on the outside) &amp; Kamikaze Salmon ( slightly spicy but bloody good).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3328">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3330">Next</a></li>
</ul>