<% provide :title, 'Opinion Target 3336' %><h2>AAA roast<br />occurrence: 1</h2><div><ol><li>My dad got the AAA roast prime rib of beef ( Medium rare) with the soup of the day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3337">Next</a></li>
</ul>