<% provide :title, 'Opinion Target 5859' %><h2>Beef Panang : Tender beef<br />occurrence: 1</h2><div><ol><li>Beef Panang: Tender beef with crispy coating served in Panang Curry with peanut and coconut milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5860">Next</a></li>
</ul>