<% provide :title, 'Opinion Target 2340' %><h2>Manti<br />occurrence: 1</h2><div><ol><li>The Manti- Bucharian beef and lamb dumplings were outstanding The Last Samurai Sushi was soo good my wife decided to take another one home ... she said that it was the best sushi she had ever had in Toronto!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2341">Next</a></li>
</ul>