<% provide :title, 'Opinion Target 2320' %><h2>sugarcane juice<br />occurrence: 1</h2><div><ol><li>And if you 're already at the markets, grab a sugarcane juice, too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2321">Next</a></li>
</ul>