<% provide :title, 'Opinion Target 5363' %><h2>nazi server<br />occurrence: 1</h2><div><ol><li>Worth the visit- we had take out also, so I ca n't comment on the nazi server ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5362">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5364">Next</a></li>
</ul>