<% provide :title, 'Opinion Target 3184' %><h2>pesto dish<br />occurrence: 1</h2><div><ol><li>The pesto dish disappointed us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3185">Next</a></li>
</ul>