<% provide :title, 'Opinion Target 1889' %><h2>sashimi portions<br />occurrence: 2</h2><div><ol><li>I usually order their chirashi and I have noticed that the sashimi portions are smaller and they so not give you as many pieces compared to before.</li><li>When the bento boxes arrived, I noticed that the sashimi portions were significantly smaller than my previous visit, there were less pieces and less variety.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1890">Next</a></li>
</ul>