<% provide :title, 'Opinion Target 6818' %><h2>noodle bowls<br />occurrence: 1</h2><div><ol><li>I really enjoyed the fresh noodle bowls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6819">Next</a></li>
</ul>