<% provide :title, 'Opinion Target 8236' %><h2>vegetables with spicy sauce<br />occurrence: 1</h2><div><ol><li>The prices are cheap and the sides are alright, essentially they are different vegetables with spicy sauce smothered on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8235">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8237">Next</a></li>
</ul>