<% provide :title, 'Opinion Target 2174' %><h2>corn cake<br />occurrence: 1</h2><div><ol><li>I wasn ´ t sure what to expect but it came out in a large stone soup bowl and the corn cake was more like a paste or extremely thick soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2175">Next</a></li>
</ul>