<% provide :title, 'Opinion Target 6624' %><h2>rice with tea egg. )<br />occurrence: 1</h2><div><ol><li>I like the food here, especially the chicken cutlet ( tender &amp; tasty), the deep fried fish ( generous portion and never fishy ... you know what I mean!) and the Taiwanese sausage ( can be ordered on it 's own or comes with the minced pork on rice with tea egg.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6625">Next</a></li>
</ul>