<% provide :title, 'Opinion Target 2105' %><h2>cheesecakes<br />occurrence: 2</h2><div><ol><li>The cheesecakes are absolutely fail, do n't ever eat them unless you have no other food left in earth.</li><li>There was quite a wide collection of different assortments of cakes, though I was told their cheesecakes were n't the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2106">Next</a></li>
</ul>