<% provide :title, 'Opinion Target 2198' %><h2>lobster tail tempura<br />occurrence: 1</h2><div><ol><li>The box includes 9 pcs of sashimi, 4 pieces of sushi, soup, salad, rice, vegetable tempura and lobster tail tempura, all for $ 13.95 + tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2199">Next</a></li>
</ul>