<% provide :title, 'Opinion Target 3704' %><h2>beef carpaccio<br />occurrence: 1</h2><div><ol><li>The beef carpaccio for me, was not up to snuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3705">Next</a></li>
</ul>