<% provide :title, 'Opinion Target 2057' %><h2>fried rice dish<br />occurrence: 2</h2><div><ol><li>I also enjoy their fried rice dish when I 'm not feeling for soup.</li><li>After our Dak Gal Bee ( chicken, veggies, with extras of rice sticks, sweet potato and seafood) was mostly done, our waitress added white rice and made a delicious fried rice dish on the wok using the remaining sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2058">Next</a></li>
</ul>