<% provide :title, 'Opinion Target 7866' %><h2>krab rolls<br />occurrence: 1</h2><div><ol><li>Nothing overly special about it but I always enjoy having krab rolls as little appetizers before the mains.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7865">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7867">Next</a></li>
</ul>