<% provide :title, 'Opinion Target 5273' %><h2>hot lemon tea<br />occurrence: 1</h2><div><ol><li>All the main dishes come with a free drink ( hot tea, hot lemon tea, coffee or coffee-tea with milk) Cafe Arc de Triomphe is a fine place to get a quick fill when you are too lazy to cook or just do n't want to bother with ritual and fancier fare.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5274">Next</a></li>
</ul>