<% provide :title, 'Opinion Target 9570' %><h2>% chicken<br />occurrence: 1</h2><div><ol><li>I got 95% rice and 5% chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9571">Next</a></li>
</ul>