<% provide :title, 'Opinion Target 6492' %><h2>deep fried donut<br />occurrence: 1</h2><div><ol><li>The congee was hot and well seasoned, the deep fried donut was fresh and crispy on the outside/chewy on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6493">Next</a></li>
</ul>