<% provide :title, 'Opinion Target 4979' %><h2>hollandise sauce<br />occurrence: 1</h2><div><ol><li>I would n't suggest the pancakes, not the best I 've had. ordered egg benedict with smoked salmon ( $ 9.99) and classic french toast ( $ 9.99) with sausage. very good food but service was a bit slow. nice environment and quiet. polite waitress.good for breakfast and brunch, a lot of couples were dining there.the hollandise sauce was a bit different from others ' diners, a little bit less sour and dense, but still we loved the taste!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4980">Next</a></li>
</ul>