<% provide :title, 'Opinion Target 2362' %><h2>chicken club sandwich<br />occurrence: 2</h2><div><ol><li>The chicken club sandwich was good, so was the chicken alfredo pasta.</li><li>My chicken club sandwich was huge and very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2363">Next</a></li>
</ul>