<% provide :title, 'Opinion Target 802' %><h2>Spicy Chicken<br />occurrence: 4</h2><div><ol><li>The Spicy Chicken, of which the place is so aptly named, was probably the worst of the 3 toppings I got.</li><li>- Aged Tofu- Seafood Pajun ( Seafood Pancake)- Kampoongi ( Spicy Chicken). + + + + CLOSED + + + + Ehwa Restaurant has to be a major let down.</li><li>It comes with well the spicy chicken, rice, green beans ( best beans I 've ever eaten) and tofu.</li><li>Bulgogi &amp; Spicy chicken are alright.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_803">Next</a></li>
</ul>