<% provide :title, 'Opinion Target 3006' %><h2>Tempura veggies<br />occurrence: 1</h2><div><ol><li>The Tempura veggies were not greasy at all and did n't have that oily taste that some places have.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3007">Next</a></li>
</ul>