<% provide :title, 'Opinion Target 3250' %><h2>gnocci<br />occurrence: 1</h2><div><ol><li>I can also vouch for the awesomeness of the bolognese, the chicken parm, and the gnocci.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3251">Next</a></li>
</ul>