<% provide :title, 'Opinion Target 7104' %><h2>arugula tomatoes<br />occurrence: 1</h2><div><ol><li>I tried the tonino which was delicious. its like a flat bread, but it is called a piadina and its filled with seared tuna, arugula tomatoes, olive and white bean spread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7105">Next</a></li>
</ul>