<% provide :title, 'Opinion Target 5667' %><h2>fried chicken suicide<br />occurrence: 1</h2><div><ol><li>Sogginess is fried chicken suicide!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5668">Next</a></li>
</ul>