<% provide :title, 'Opinion Target 5076' %><h2>spareribs<br />occurrence: 1</h2><div><ol><li>The spareribs were fine- but I 've had better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5075">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5077">Next</a></li>
</ul>