<% provide :title, 'Opinion Target 5709' %><h2>cup<br />occurrence: 1</h2><div><ol><li>I thought it was so gross, the cup was styrofoam and she could have easily just thrown it out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5710">Next</a></li>
</ul>