<% provide :title, 'Opinion Target 8979' %><h2>chai tea latte<br />occurrence: 1</h2><div><ol><li>The last time I was here, I just came for a hot beverage and decided to try their chai tea latte.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8980">Next</a></li>
</ul>