<% provide :title, 'Opinion Target 1855' %><h2>tank<br />occurrence: 2</h2><div><ol><li>Now it is empty: ( I guess not enough business or lobsters to justify filling the tank.</li><li>The owner, lively and tank topped took great care of us and even gave us a free meatball sandwich after mistakingly giving us an extra veal ( not the worst mistake one could endure).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1856">Next</a></li>
</ul>