<% provide :title, 'Opinion Target 1367' %><h2>bananas<br />occurrence: 2</h2><div><ol><li>The bananas tasted fine but the outside had an unattractive grey tinge.</li><li>We are still waiting for our bananas !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1368">Next</a></li>
</ul>