<% provide :title, 'Opinion Target 5067' %><h2>mango chicken and satay skewers<br />occurrence: 1</h2><div><ol><li>The `` fusion'' items are a little pricier but also taste great, like mango chicken and satay skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5068">Next</a></li>
</ul>