<% provide :title, 'Opinion Target 1819' %><h2>Jerk Chicken lunch special<br />occurrence: 2</h2><div><ol><li>The Jerk Chicken lunch special comes with rice and beans, coleslaw and gravy.</li><li>Had the jerk chicken lunch special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1820">Next</a></li>
</ul>