<% provide :title, 'Opinion Target 3946' %><h2>grilled chicken on vermicelli dish<br />occurrence: 1</h2><div><ol><li>My grilled chicken on vermicelli dish was very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3947">Next</a></li>
</ul>