<% provide :title, 'Opinion Target 1361' %><h2>pine nuts<br />occurrence: 3</h2><div><ol><li>The pine nuts added an interesting textural contrast.</li><li>When I make pesto at home, I usually blend the pine nuts into the sauce, but these were mixed in whole, so you could only taste them when you bit into one but there were n't enough in the dish to have one in every bite.</li><li>The Korean version is dolled up with loads of sesame oil, pine nuts, garlic, and a farm fresh raw egg ( no bacon or rich creamery butter).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1362">Next</a></li>
</ul>