<% provide :title, 'Opinion Target 7059' %><h2>scollop<br />occurrence: 1</h2><div><ol><li>Love the hockey pucks and the scollop and shrimp dumplings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7060">Next</a></li>
</ul>