<% provide :title, 'Opinion Target 2846' %><h2>salmon wraps<br />occurrence: 1</h2><div><ol><li>My spicy salmon wraps ( which, just to clarify, consisted of four small rolls wrapped in rice paper, which were the size of regular rice sushi) cost 13.00.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2847">Next</a></li>
</ul>