<% provide :title, 'Opinion Target 1731' %><h2>roasted milk tea<br />occurrence: 2</h2><div><ol><li>The roasted milk tea tasted like the milk green tea, also the drink was so hot that it burned my tongue.</li><li>No doubt it tasted nice and strong like roasted milk tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1732">Next</a></li>
</ul>