<% provide :title, 'Opinion Target 9421' %><h2>mixed bean and fungi grain fungi<br />occurrence: 1</h2><div><ol><li>The food is good, Particular favorites include the mixed bean and fungi grain fungi for myself, while my gf prefers the fried turnip cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9420">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9422">Next</a></li>
</ul>