<% provide :title, 'Opinion Target 5477' %><h2>'' Chinese<br />occurrence: 1</h2><div><ol><li>If you want to go for `` fancy'' Chinese dining then this is n't it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5478">Next</a></li>
</ul>