<% provide :title, 'Opinion Target 957' %><h2>lunch price<br />occurrence: 4</h2><div><ol><li>Personally I feel that the lunch price is more worth it ( $ 15 weekdays, $ 16 weekends), compared to the $ 10 premium for dinners.</li><li>I think lunch price was around $ 15.95 or so ?</li><li>Lunch price does n't include sashimi, which, along with a couple other things, is under dinner price.</li><li>Lunch price is a very good deal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_956">Previous</a></li>
  <li class="next"><a href=".\opinion_target_958">Next</a></li>
</ul>