<% provide :title, 'Opinion Target 6106' %><h2>bar height table<br />occurrence: 1</h2><div><ol><li>The bar height table does not count.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6107">Next</a></li>
</ul>