<% provide :title, 'Opinion Target 3489' %><h2>hakka noodles<br />occurrence: 1</h2><div><ol><li>The hakka noodles ( house special) are a must if you 're a noodle aficionado.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3488">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3490">Next</a></li>
</ul>