<% provide :title, 'Opinion Target 1874' %><h2>ho hum<br />occurrence: 2</h2><div><ol><li>I had been to this restaurant before but I guess it was just as ho hum back then and I must have felt that the visit did n't warrant a review.</li><li>This being my second ho hum experience at the same place, I believe this time BH deserve one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1875">Next</a></li>
</ul>