<% provide :title, 'Opinion Target 3804' %><h2>herb white tuna sashimi<br />occurrence: 1</h2><div><ol><li>Highly recommend the beef tataki and herb white tuna sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3803">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3805">Next</a></li>
</ul>