<% provide :title, 'Opinion Target 9244' %><h2>shrimp served<br />occurrence: 1</h2><div><ol><li>The platter included shrimps- and I certainly hope these were not $ 40 tiger shrimps `` Colossal Shrimp Cocktail $ 40- Four Tiger Shrimp served with our tangy house-made cocktail sauce'' pictured on their Duncan House website And in any case the shrimp served was at best on par with frozen shrimp rings I could easily get from Loblaws or Metro; the `` housemade cocktail'' was industrial, formulaic, and without character.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9245">Next</a></li>
</ul>