<% provide :title, 'Opinion Target 2610' %><h2>salad portions<br />occurrence: 1</h2><div><ol><li>HOWEVER, one critique, their salad portions should be bigger, much bigger and there should be option to just get the kebabs without the rice/fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2611">Next</a></li>
</ul>