<% provide :title, 'Opinion Target 1600' %><h2>Veal Tongue<br />occurrence: 2</h2><div><ol><li>Veal Tongue ?</li><li>The Veal Tongue was beefy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1599">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1601">Next</a></li>
</ul>