<% provide :title, 'Opinion Target 8138' %><h2>'' seating area<br />occurrence: 1</h2><div><ol><li>The `` garden'' seating area with the high ceiling is particularly pleasant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8137">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8139">Next</a></li>
</ul>