<% provide :title, 'Opinion Target 6640' %><h2>bulgogi ddukbokki<br />occurrence: 1</h2><div><ol><li>I ordered bulgogi ddukbokki, and waited.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6641">Next</a></li>
</ul>