<% provide :title, 'Opinion Target 6315' %><h2>seafood dinner<br />occurrence: 1</h2><div><ol><li>I went for dinner with my in laws hoping to get a nice seafood dinner after reading some good reviews about the food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6316">Next</a></li>
</ul>