<% provide :title, 'Opinion Target 1531' %><h2>souvlaki dishes<br />occurrence: 2</h2><div><ol><li>I love this place! the food is typical pub fare but I LOVE their souvlaki dishes.</li><li>Back to the souvlaki dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1532">Next</a></li>
</ul>