<% provide :title, 'Opinion Target 2301' %><h2>jajangmyun<br />occurrence: 2</h2><div><ol><li>My friends and I all ordered the supreme jajangmyun while my other friend just ordered the basic jajangmyun.</li><li>I 've had better jajangmyun at another restaurant before and this one was just lacking flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2302">Next</a></li>
</ul>