<% provide :title, 'Opinion Target 1573' %><h2>sesame sauce<br />occurrence: 2</h2><div><ol><li>Nasu Dengaku, grilled eggplant with sweet miso and sesame sauce was beautifully seared over the barbecue and finally the Legend Dragon stood up to it 's name, avocado, cucumber, deep fried shrimp wrapped in spicy salmon with sauce and fish eggs.</li><li>For apps we had the xi' an liang pi noodles ( sesame version) and the pork jia mo. The sesame sauce on the noodles was light and yet rich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1574">Next</a></li>
</ul>