<% provide :title, 'Opinion Target 3428' %><h2>rumors<br />occurrence: 1</h2><div><ol><li>I heard rumors I was only a few hundred paces from Katz 's Deli, but I could n't risk it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3429">Next</a></li>
</ul>