<% provide :title, 'Opinion Target 9415' %><h2>garlic seafood fried rice<br />occurrence: 1</h2><div><ol><li>I like the garlic seafood fried rice, turnip cakes, and superbowl congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9416">Next</a></li>
</ul>