<% provide :title, 'Opinion Target 4545' %><h2>smoked duck breast with quinoa<br />occurrence: 1</h2><div><ol><li>For the entree I ordered the smoked duck breast with quinoa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4546">Next</a></li>
</ul>