<% provide :title, 'Opinion Target 3577' %><h2>beef shawarma roll<br />occurrence: 1</h2><div><ol><li>I like their beef shawarma roll and fatoush salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3578">Next</a></li>
</ul>