<% provide :title, 'Opinion Target 4837' %><h2>kidney skewers<br />occurrence: 1</h2><div><ol><li>The kidney skewers are also smallish, but good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4836">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4838">Next</a></li>
</ul>