<% provide :title, 'Opinion Target 3083' %><h2>sushi sucks<br />occurrence: 1</h2><div><ol><li>My problem is I find them to be a little snobby, the sushi sucks ( does not taste fresh seaweed always like rubber) and they are a little over priced on both drinks and food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3082">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3084">Next</a></li>
</ul>