<% provide :title, 'Opinion Target 2951' %><h2>eat family style<br />occurrence: 1</h2><div><ol><li>You can either get your meal or eat family style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2952">Next</a></li>
</ul>