<% provide :title, 'Opinion Target 6644' %><h2>Chingu offers kimchi and tofu stews with AYCE<br />occurrence: 1</h2><div><ol><li>Lastly, Chingu offers kimchi and tofu stews with AYCE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6645">Next</a></li>
</ul>