<% provide :title, 'Opinion Target 4932' %><h2>Schwarma sandwiches<br />occurrence: 1</h2><div><ol><li>I do not recommend the Schwarma sandwiches here ( they put very minimal toppings in the sandwiches) or going for the decor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4933">Next</a></li>
</ul>