<% provide :title, 'Opinion Target 3488' %><h2>vegetarian sushi pizza<br />occurrence: 1</h2><div><ol><li>Their vegetarian sushi pizza is to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3487">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3489">Next</a></li>
</ul>