<% provide :title, 'Opinion Target 6800' %><h2>teriyaki<br />occurrence: 1</h2><div><ol><li>Their teriyaki was just so-so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6801">Next</a></li>
</ul>