<% provide :title, 'Opinion Target 3643' %><h2>porcelain dishes<br />occurrence: 1</h2><div><ol><li>They use white thick porcelain dishes, not really conducive to stacking, and they were heavy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3642">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3644">Next</a></li>
</ul>