<% provide :title, 'Opinion Target 5740' %><h2>plate were deep fried<br />occurrence: 1</h2><div><ol><li>It truly was just that, as 4 of 5 items on the plate were deep fried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5739">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5741">Next</a></li>
</ul>