<% provide :title, 'Opinion Target 3428' %><h2>bibimbap and tofu soup<br />occurrence: 1</h2><div><ol><li>My spouse has had the bibimbap and tofu soup, both of which were great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3429">Next</a></li>
</ul>