<% provide :title, 'Opinion Target 7545' %><h2>prices range<br />occurrence: 1</h2><div><ol><li>Price range is standard for cafes- prices range from $ 5-10 + for desserts and $ 3-6 for beverages.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7546">Next</a></li>
</ul>