<% provide :title, 'Opinion Target 2284' %><h2>potato sticks<br />occurrence: 1</h2><div><ol><li>Oh, AND potato sticks, which I loved growing up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2285">Next</a></li>
</ul>