<% provide :title, 'Opinion Target 7455' %><h2>Vanilla coffee<br />occurrence: 1</h2><div><ol><li>I also ordered French Vanilla coffee, it is very smooth and I wish I had 2nd cup again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7456">Next</a></li>
</ul>