<% provide :title, 'Opinion Target 6896' %><h2>pepper shake<br />occurrence: 1</h2><div><ol><li>Service was excellent and the teppanyaki chefs will try to do a couple of tricks for you including the pepper shake trick and the onion volcano.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6897">Next</a></li>
</ul>