<% provide :title, 'Opinion Target 7587' %><h2>rice & beans<br />occurrence: 1</h2><div><ol><li>Came with 2 drumsticks and a thigh, abundance of rice &amp; beans and some coleslaw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7588">Next</a></li>
</ul>