<% provide :title, 'Opinion Target 1346' %><h2>food selection<br />occurrence: 2</h2><div><ol><li>The food selection is quite different from Congee Wong and definitely has it 's own appeal.</li><li>The food selection is also better than what I expected!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1347">Next</a></li>
</ul>