<% provide :title, 'Opinion Target 7387' %><h2>rasperry tarts<br />occurrence: 1</h2><div><ol><li>Pastel Creperie also offers other desserts such as rasperry tarts, creme brulee, and fruit tarts which all look very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7388">Next</a></li>
</ul>