<% provide :title, 'Opinion Target 6165' %><h2>Vegetarian Pan Fried Noodle<br />occurrence: 1</h2><div><ol><li>We have tried the Vegetarian Pan Fried Noodle- the flavour was average but the portion was worth the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6166">Next</a></li>
</ul>