<% provide :title, 'Opinion Target 7830' %><h2>waiting outside<br />occurrence: 1</h2><div><ol><li>No big deal although if the weather was colder it would n't be so nice waiting outside for a table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7831">Next</a></li>
</ul>