<% provide :title, 'Opinion Target 1048' %><h2>dinner rolls<br />occurrence: 4</h2><div><ol><li>During the wait for our food, my daughter was asking us to have some bread, so we asked if we can get a basket of bread or dinner rolls for our daughter ( which another table have already).</li><li>The lunch and dinner scenes vastly differ, and once dinner rolls around, you can hardly recognize the place.</li><li>I tried their Tuesday special ( $ 18 + tax)- whole chicken, large fries, 4 dinner rolls, sauce.</li><li>The dinner rolls were not fresh but I do n't really hold it against them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1049">Next</a></li>
</ul>