<% provide :title, 'Opinion Target 9333' %><h2>kung pao fish<br />occurrence: 1</h2><div><ol><li>Wide selection on the grill-think stir fry but upgraded-although note to go easy on the chili paste if you are a spicy food lover like myself Wide selection of dim sum and appetizers, and great presentation, although some foods were not as authentic ( steamed veggie dumplings, kung pao fish, chicken fried rice) but guess they had to cater to different taste buds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9332">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9334">Next</a></li>
</ul>