<% provide :title, 'Opinion Target 2601' %><h2>churrasco sandwich<br />occurrence: 1</h2><div><ol><li>The churrasco sandwich was by far the superior one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2602">Next</a></li>
</ul>