<% provide :title, 'Opinion Target 6479' %><h2>Salty soy milk soup ( Xian dou jiang<br />occurrence: 1</h2><div><ol><li>Food: 4/5 Ambience: 3.5/5 Service: 4/5 Cleanliness: 4/5 I came here during my search to find Salty soy milk soup ( Xian dou jiang) while in Markham/Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6478">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6480">Next</a></li>
</ul>