<% provide :title, 'Opinion Target 1707' %><h2>delivery pizza<br />occurrence: 2</h2><div><ol><li>The pizza was delicious, y' know for delivery pizza it was above average I found, nothing spectacular but good enough for me to go right to their website and order whenever someone comes by and wants to order pizza.</li><li>This is the best delivery pizza in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1708">Next</a></li>
</ul>