<% provide :title, 'Opinion Target 2755' %><h2>Beef bone soup : dumplings / rice cake / egg white<br />occurrence: 1</h2><div><ol><li>The food:- Banchan: the are very generous with the appetizers here, the little spicy cucumbers and japchae are my favorite 4/5- Beef bone soup: dumplings/ rice cake/ egg white drop in a milky beef bone broth soup 4/5- Dolsot bibimbap: so many toppings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2754">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2756">Next</a></li>
</ul>