<% provide :title, 'Opinion Target 7360' %><h2>dinner service<br />occurrence: 1</h2><div><ol><li>The dinner service is also not good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7361">Next</a></li>
</ul>