<% provide :title, 'Opinion Target 5004' %><h2>sea food plater<br />occurrence: 1</h2><div><ol><li>We love to come here, the food is great steaks and sea food plater are Yuuuummmmmyyyyyyy Yes the decor is somewhat dated, yet the food as mentioned is superb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5005">Next</a></li>
</ul>