<% provide :title, 'Opinion Target 6645' %><h2>pork wonton<br />occurrence: 1</h2><div><ol><li>We shared pork wonton and I got pork bone with clear broth soup and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6646">Next</a></li>
</ul>