<% provide :title, 'Opinion Target 8051' %><h2>salmon nigiri<br />occurrence: 1</h2><div><ol><li>The spicy salmon sushi is just leftover trimmings of the salmon nigiri that get put on a roll of rice with some spicy mayo tossed in there, which would be fine if the fish was at least fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8050">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8052">Next</a></li>
</ul>