<% provide :title, 'Opinion Target 6048' %><h2>Korean red pepper paste<br />occurrence: 1</h2><div><ol><li>Luckily, they offered the spicy Korean red pepper paste that usually comes with this dish and even then, it did not mask the sub par flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6049">Next</a></li>
</ul>