<% provide :title, 'Opinion Target 9407' %><h2>sauce from noodles<br />occurrence: 1</h2><div><ol><li>They really listen to your instruction. ie: separate the sauce from noodles, less oil, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9408">Next</a></li>
</ul>