<% provide :title, 'Opinion Target 8278' %><h2>cabbage/lettuce<br />occurrence: 1</h2><div><ol><li>It was too bland, the ratio of fish to cabbage/lettuce was n't even, I thought I was eating a tortilla with lettuce and it definetly needs more sauce on that joint, it was drier than my black friends ankles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8279">Next</a></li>
</ul>