<% provide :title, 'Opinion Target 1758' %><h2>matcha latte<br />occurrence: 2</h2><div><ol><li>Other faves #2 and the matcha latte.</li><li>I 'm surprised the matcha latte made it on their top drinks screen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1759">Next</a></li>
</ul>