<% provide :title, 'Opinion Target 8605' %><h2>Geul<br />occurrence: 1</h2><div><ol><li>Your dinner does n't come with a free korean pancake like Oh Geul Boh Gol 's though, oh well,- 1 star!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8604">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8606">Next</a></li>
</ul>