<% provide :title, 'Opinion Target 7874' %><h2>crumbles of wasabi<br />occurrence: 1</h2><div><ol><li>Ca n't go wrong with a spritz of soy sauce and crumbles of wasabi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7875">Next</a></li>
</ul>