<% provide :title, 'Opinion Target 5682' %><h2>Pizza Genovese<br />occurrence: 1</h2><div><ol><li>I got the Pizza Genovese which was wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5681">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5683">Next</a></li>
</ul>