<% provide :title, 'Opinion Target 5172' %><h2>strawberry hibiscus green tea slush<br />occurrence: 1</h2><div><ol><li>Just pretty standard bubble tea Today I ordered the strawberry hibiscus green tea slush.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5173">Next</a></li>
</ul>