<% provide :title, 'Opinion Target 1364' %><h2>quinoa salad<br />occurrence: 2</h2><div><ol><li>The quinoa salad was pretty great that my mother had ordered.</li><li>The chicken shawarma, falafel, quinoa salad, chicken skewers, and chicken schnitzel are excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1365">Next</a></li>
</ul>