<% provide :title, 'Opinion Target 9534' %><h2>lunch specials range<br />occurrence: 1</h2><div><ol><li>Their lunch specials range from $ 12-14 and include choice of soup or salad, an entree ( fish/pork tenderloin/ox tail/spaghetti), tea/coffee/hk milk tea, and a slice of cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9533">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9535">Next</a></li>
</ul>