<% provide :title, 'Opinion Target 4473' %><h2>spicy fried<br />occurrence: 1</h2><div><ol><li>The spicy fried chicken was amazing and so was the pork bone soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4474">Next</a></li>
</ul>