<% provide :title, 'Opinion Target 4951' %><h2>twisters<br />occurrence: 1</h2><div><ol><li>Bagels are fresh here, twisters particularly good, nice selection of lox.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4952">Next</a></li>
</ul>