<% provide :title, 'Opinion Target 4793' %><h2>famous jerk takeout<br />occurrence: 1</h2><div><ol><li>The famous jerk takeout is a hole in the wall and certainly not for everyone.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4794">Next</a></li>
</ul>