<% provide :title, 'Opinion Target 3082' %><h2>mangos<br />occurrence: 1</h2><div><ol><li>My friend did n't like her 's because her mangos were frozen and too sour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3081">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3083">Next</a></li>
</ul>