<% provide :title, 'Opinion Target 8351' %><h2>Spicy Shredded Beef<br />occurrence: 1</h2><div><ol><li>Spicy Shredded Beef is not bad, just a bit greasy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8352">Next</a></li>
</ul>