<% provide :title, 'Opinion Target 6187' %><h2>served grilled items<br />occurrence: 1</h2><div><ol><li>We were told that it was a main dish, and that they served grilled items and rolls before they served mains, and that it was coming.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6188">Next</a></li>
</ul>