<% provide :title, 'Opinion Target 4284' %><h2>lamb curry<br />occurrence: 1</h2><div><ol><li>The lamb curry was terrible, and the TANDOORI chicken were two crappy dehydrated old drumsticks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4285">Next</a></li>
</ul>