<% provide :title, 'Opinion Target 4758' %><h2>french fries with gravy<br />occurrence: 1</h2><div><ol><li>You should also try the french fries with gravy ... sooooo good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4759">Next</a></li>
</ul>