<% provide :title, 'Opinion Target 5692' %><h2>fried chicken with green onion<br />occurrence: 1</h2><div><ol><li>I ordered the fried chicken with green onion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5693">Next</a></li>
</ul>