<% provide :title, 'Opinion Target 5100' %><h2>cheese noodles<br />occurrence: 1</h2><div><ol><li>The food is great! you can get schnitzel with dumplings, goulash, cheese noodles, strudel and palacinta ( a crepe with walnuts or jam inside).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5101">Next</a></li>
</ul>