<% provide :title, 'Opinion Target 1816' %><h2>pickle<br />occurrence: 2</h2><div><ol><li>The meat was piled high and the salad and pickle were fresh and tasty.</li><li>The meat was tender and moist, the rye bread was fresh, the fries were crispy, and the coleslaw and pickle were just right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1817">Next</a></li>
</ul>