<% provide :title, 'Opinion Target 8189' %><h2>spicy fried squid<br />occurrence: 1</h2><div><ol><li>We ordered deep fried dumplings, spicy fried squid, BBQ Ribs, and deep fried dumplings and waited no more than ten minutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8190">Next</a></li>
</ul>