<% provide :title, 'Opinion Target 8754' %><h2>pork tenderloin<br />occurrence: 1</h2><div><ol><li>Chose pork tenderloin as my main.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8753">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8755">Next</a></li>
</ul>