<% provide :title, 'Opinion Target 974' %><h2>appetizer platter<br />occurrence: 4</h2><div><ol><li>For 2 people we ordered the appetizer platter and the chef selection.</li><li>We ordered the large appetizer platter ( picture below).</li><li>The appetizer platter we had before was horrible though.</li><li>We started off with the appetizer platter, which was ok. definitely not worth the price though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_973">Previous</a></li>
  <li class="next"><a href=".\opinion_target_975">Next</a></li>
</ul>