<% provide :title, 'Opinion Target 934' %><h2>Fried Chicken Wings<br />occurrence: 4</h2><div><ol><li>We ordered: Braised OX Tail, Braised Eggplant, Fried Beef Pancakes, Melaeuca Lamb, Fried Lamb Dumplings, Fried Chicken Wings, Lamb Kabobs and two bowls of steam rice.</li><li>Their fried chicken wings was also a bit odd- the fried wings were not seasoned.</li><li>I especially like their fried chicken wings.</li><li>In terms of their food, they are very well known for their fried chicken wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_933">Previous</a></li>
  <li class="next"><a href=".\opinion_target_935">Next</a></li>
</ul>