<% provide :title, 'Opinion Target 2524' %><h2>mushroom appetizer<br />occurrence: 1</h2><div><ol><li>: ') The mushroom appetizer was great and the things we ordered came with crunchy noodle soups, miso soup and a salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2525">Next</a></li>
</ul>