<% provide :title, 'Opinion Target 1808' %><h2>syrup<br />occurrence: 2</h2><div><ol><li>The syrup tasted really artificial as well.</li><li>It 's a really simple crepe dish topped with sweet potato ice cream, syrup, icing sugar, almonds and whipped cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1809">Next</a></li>
</ul>