<% provide :title, 'Opinion Target 5012' %><h2>lobster display<br />occurrence: 1</h2><div><ol><li>No, I 'm not making this up- it 's the lobster display!), has leaked more than a few times.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5013">Next</a></li>
</ul>