<% provide :title, 'Opinion Target 7555' %><h2>bacon portion<br />occurrence: 1</h2><div><ol><li>The bacon portion is higher than what you would get at the chain sub shops.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7554">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7556">Next</a></li>
</ul>