<% provide :title, 'Opinion Target 4334' %><h2>barg kabob<br />occurrence: 1</h2><div><ol><li>Ordered barg kabob and it tasted great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4333">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4335">Next</a></li>
</ul>