<% provide :title, 'Opinion Target 6999' %><h2>szechaun beef<br />occurrence: 1</h2><div><ol><li>Although the szechaun beef we ordered just tasted like crispy sugar and did n't taste spicy at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7000">Next</a></li>
</ul>