<% provide :title, 'Opinion Target 4443' %><h2>Guacamole Bacon<br />occurrence: 1</h2><div><ol><li>Had their Guacamole Bacon Angus Burger and was satisfied with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4444">Next</a></li>
</ul>