<% provide :title, 'Opinion Target 3051' %><h2>fish fillet and bean sprouts<br />occurrence: 1</h2><div><ol><li>I 'd say 70% is chilli oil and the other 30% is fish fillet and bean sprouts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3050">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3052">Next</a></li>
</ul>