<% provide :title, 'Opinion Target 4000' %><h2>served with a rum anglaise<br />occurrence: 1</h2><div><ol><li>We finished off our leisurely brunch with the Apple-Cinnamon Butter Cake, served with a rum anglaise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4001">Next</a></li>
</ul>