<% provide :title, 'Opinion Target 5027' %><h2>butterfly shrimp<br />occurrence: 1</h2><div><ol><li>So, my parents ordered 2 2lb lobsters and I ordered a mussel appetizer and my sister got the butterfly shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5026">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5028">Next</a></li>
</ul>