<% provide :title, 'Opinion Target 4690' %><h2>Thai tea<br />occurrence: 1</h2><div><ol><li>Though, I did n't order it, I was pleased to see they had Thai tea on the menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4691">Next</a></li>
</ul>