<% provide :title, 'Opinion Target 2346' %><h2>lamb skewer dish<br />occurrence: 1</h2><div><ol><li>Our only issue was with the lamb skewer dish that used lamb shank as its basis and thus was hard to chew ... perhaps if they had used 2nd cut lamb it would have worked out better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2347">Next</a></li>
</ul>