<% provide :title, 'Opinion Target 1353' %><h2>noise level<br />occurrence: 2</h2><div><ol><li>The noise level is a bit higher then usual for a coffee shop as it is located inside a plaza with a Cineplex theatre above it.</li><li>The atmosphere in terms of decor and noise level like being at a mcdonalds but with sushi and servers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1352">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1354">Next</a></li>
</ul>