<% provide :title, 'Opinion Target 4109' %><h2>upstairs patio<br />occurrence: 1</h2><div><ol><li>I loved the atmosphere and they have a lovely upstairs patio.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4110">Next</a></li>
</ul>