<% provide :title, 'Opinion Target 2509' %><h2>conger eel<br />occurrence: 1</h2><div><ol><li>I ordered the botan ebi ( BC shrimp), anago ( conger eel), saba ( blue mackarel), and the toro ( bluefin tuna belly).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2508">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2510">Next</a></li>
</ul>