<% provide :title, 'Opinion Target 3339' %><h2>Hot sandwiches<br />occurrence: 1</h2><div><ol><li>Everything from appetizers, pasta, Hot sandwiches, to Lamb and seafood to Late night Deserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3340">Next</a></li>
</ul>