<% provide :title, 'Opinion Target 1086' %><h2>chicken samples<br />occurrence: 4</h2><div><ol><li>I do n't mind them `` harassing people with free chicken samples'' lol.</li><li>Omg, what a joke, they were constantly harassing people with free chicken samples, but I was trying to order and they could n't focus on providing me with my order.</li><li>There 's a guy literally harassing people with his chicken samples.</li><li>When I passed by this place there was a man who was offering free chicken samples.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1085">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1087">Next</a></li>
</ul>