<% provide :title, 'Opinion Target 6588' %><h2>meat sandwiches<br />occurrence: 1</h2><div><ol><li>My favourite sights at California Sandwiches- seeing a side of beef being delivered through the side door, watching the women stir the huge pot of sauce with a boat sized paddle, the array of customers ( construction, suits, mom and kids) and seeing the people who order the double meat sandwiches ( which I am sure would inflict major meat sweats).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6589">Next</a></li>
</ul>