<% provide :title, 'Opinion Target 3476' %><h2>dolsot bi bim bap<br />occurrence: 1</h2><div><ol><li>Favourites: dolsot bi bim bap, seafood udong, kam ja tang ( of course), chicken or pork tonkatsu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3475">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3477">Next</a></li>
</ul>