<% provide :title, 'Opinion Target 3579' %><h2>mango banana<br />occurrence: 1</h2><div><ol><li>I ordered the mango banana one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3578">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3580">Next</a></li>
</ul>