<% provide :title, 'Opinion Target 2049' %><h2>tea taste<br />occurrence: 2</h2><div><ol><li>I ordered the same drink from Chatime Mississauga and the oolong milk tea had a stronger tea taste to it.</li><li>Got the Grass Jelly Roasted Milk Tea ( #2 on their Top 10 board) and first taste was strong tea taste, which is a huge nom factor for me!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2050">Next</a></li>
</ul>