<% provide :title, 'Opinion Target 3024' %><h2>regular viet beef noodles<br />occurrence: 1</h2><div><ol><li>The regular viet beef noodles are average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3025">Next</a></li>
</ul>