<% provide :title, 'Opinion Target 4623' %><h2>vegetable curry dish<br />occurrence: 1</h2><div><ol><li>The vegetable curry dish was comprised of almost only red and green peppers with a few broccoli florets, and no other vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4624">Next</a></li>
</ul>