<% provide :title, 'Opinion Target 4459' %><h2>jampong noodles<br />occurrence: 1</h2><div><ol><li>The texture of the jampong noodles were good but the soup lacked flavor although it was bright red.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4460">Next</a></li>
</ul>