<% provide :title, 'Opinion Target 2291' %><h2>same-old-same-old Chinese food<br />occurrence: 1</h2><div><ol><li>While the restaurant itself is n't much to look at, I would definitely recommend coming here for their special menu, especially for those used to the same-old-same-old Chinese food around town.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2292">Next</a></li>
</ul>