<% provide :title, 'Opinion Target 4582' %><h2>cornish hen<br />occurrence: 1</h2><div><ol><li>The cornish hen is split into two whole pieces and is baked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4583">Next</a></li>
</ul>