<% provide :title, 'Opinion Target 5543' %><h2>butter containers rather than olive oil<br />occurrence: 1</h2><div><ol><li>The bread was pasty and machine-cut and served cold with little packaged butter containers rather than olive oil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5544">Next</a></li>
</ul>