<% provide :title, 'Opinion Target 8243' %><h2>flank beef pho<br />occurrence: 1</h2><div><ol><li>Then we ordered a large bowl of rare and flank beef pho as well as a pho bo kho.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8244">Next</a></li>
</ul>