<% provide :title, 'Opinion Target 4167' %><h2>fried squid tentacles<br />occurrence: 1</h2><div><ol><li>I prefer their fried squid tentacles better than in the other congee restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4168">Next</a></li>
</ul>