<% provide :title, 'Opinion Target 3097' %><h2>tataki<br />occurrence: 1</h2><div><ol><li>Apparently their most popular roll is the tataki attack and it lived up to the hype.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3098">Next</a></li>
</ul>