<% provide :title, 'Opinion Target 4561' %><h2>fish ( sea bass<br />occurrence: 1</h2><div><ol><li>Grilled fish ( sea bass ?)- I did not taste this so ca n't comment. but those who ate it were not too particularly happy w/ how it was grilled w/ the tin foil covering it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4562">Next</a></li>
</ul>