<% provide :title, 'Opinion Target 6349' %><h2>Bacon Penne<br />occurrence: 1</h2><div><ol><li>Try the Bacon Penne.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6350">Next</a></li>
</ul>