<% provide :title, 'Opinion Target 6269' %><h2>Crisp smoked bacon<br />occurrence: 1</h2><div><ol><li>Crisp smoked bacon and three eggs, home fries, and thick toast with jam !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6268">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6270">Next</a></li>
</ul>