<% provide :title, 'Opinion Target 1976' %><h2>seafood udon soup<br />occurrence: 2</h2><div><ol><li>Now the stand out food items- spicy salmon sushi, volcano roll, enoki beef roll, beef negi maki, spicy seafood udon soup.</li><li>My mom ordered the seafood udon soup which had very little taste and the `` seafood'' was minimal and most probably came out of a freezer bag.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1977">Next</a></li>
</ul>