<% provide :title, 'Opinion Target 3738' %><h2>accompaniments<br />occurrence: 1</h2><div><ol><li>The garlic rice along with the vinegar/soy/red pepper concoction were nice accompaniments to the meat on the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3739">Next</a></li>
</ul>