<% provide :title, 'Opinion Target 751' %><h2>beef salad<br />occurrence: 5</h2><div><ol><li>Two words: beef salad.</li><li>We ordered the beef salad, jungle chicken and fried bananas.</li><li>The beef in the beef salad was average, although the salad itself did taste a little awkward because of the pairings of raw thai basil, cilantro and mint ( hard to pickup with a fork too).</li><li>We only ordered 3 dishes, with one being a spicy beef salad.</li><li>My mouth is salivating by this time, so anxious to tear into by spicy beef salad ... and then we open the bag and start puling out the dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_752">Next</a></li>
</ul>