<% provide :title, 'Opinion Target 3482' %><h2>gae jang<br />occurrence: 1</h2><div><ol><li>My momma makes a pretty mean yuk gae jang, and so far this is the only place that 's made one that has n't made me regret not going home to eat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3483">Next</a></li>
</ul>