<% provide :title, 'Opinion Target 3622' %><h2>traditional Scottish fish & chips<br />occurrence: 1</h2><div><ol><li>If you are looking for a traditional Scottish fish &amp; chips, then High Street is the place for you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3623">Next</a></li>
</ul>