<% provide :title, 'Opinion Target 2000' %><h2>sweets<br />occurrence: 2</h2><div><ol><li>The salads and sweets are pretty delicious but when it comes to entrees or main dishes most of what they offer is dry, blend, looks and tastes old.</li><li>The deli and breads are always great, but the sweets tend to be less reliable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2001">Next</a></li>
</ul>