<% provide :title, 'Opinion Target 1624' %><h2>soup combo<br />occurrence: 2</h2><div><ol><li>Its menu not only had all the same items as DD but it also had lasagna, soup combo!</li><li>The grilled mackerel + soup combo is a great deal at $ 10-11.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1625">Next</a></li>
</ul>