<% provide :title, 'Opinion Target 7364' %><h2>tea with red bean crepes<br />occurrence: 1</h2><div><ol><li>Stuff I 've had before: Green tea with red bean crepes ( 5/5): Pretty much all their crepes are a hit but this is the other one where their ice cream is homemade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7365">Next</a></li>
</ul>