<% provide :title, 'Opinion Target 5418' %><h2>Bun bo Hue lovers<br />occurrence: 1</h2><div><ol><li>Bun bo Hue lovers, you must come to this place and have a bowl or two!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5419">Next</a></li>
</ul>