<% provide :title, 'Opinion Target 1259' %><h2>ramen noodles<br />occurrence: 3</h2><div><ol><li>The ramen noodles were a staple piece, so I definitely recommend getting those as a side.</li><li>You can order a multitude of add-ons like ramen noodles, rice cakes, cheese, etc.</li><li>The ramen noodles are pretty firm considering how hot the soup was, so I was happy about that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1260">Next</a></li>
</ul>