<% provide :title, 'Opinion Target 816' %><h2>drink menu<br />occurrence: 4</h2><div><ol><li>Definitely recommend trying some things from their drink menu, especially their martinis and cocktails.</li><li>Large drink menu but the price is on the high side.</li><li>The drink menu is limited but not restrictive but given the venue never expected this to be a wine cellar.</li><li>They can sure work on their drink menu a bit more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_817">Next</a></li>
</ul>