<% provide :title, 'Opinion Target 4533' %><h2>lamb hearts to saffron ice cream sandwiches<br />occurrence: 1</h2><div><ol><li>You can find anything from lamb hearts to saffron ice cream sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4534">Next</a></li>
</ul>