<% provide :title, 'Opinion Target 4614' %><h2>choy sum<br />occurrence: 1</h2><div><ol><li>The choy sum was very thick, and a tad stringy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4615">Next</a></li>
</ul>