<% provide :title, 'Opinion Target 7268' %><h2>Southern Chinese cuisines<br />occurrence: 1</h2><div><ol><li>At any busy evening there are 30 chefs in the kitchen woking up seriously delicious Southern Chinese cuisines, there is never a long wait for food, and the consistency of quality is perhaps the reason why this location has thrived since inception.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7269">Next</a></li>
</ul>