<% provide :title, 'Opinion Target 2360' %><h2>bagel + sandwiches<br />occurrence: 1</h2><div><ol><li>Although my vanilla parfait did n't come with any granola and the bagel + sandwiches + donuts were much smaller than what I am used to in the states- they were all made to order and tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2361">Next</a></li>
</ul>