<% provide :title, 'Opinion Target 3968' %><h2>shrimp fettuccine<br />occurrence: 1</h2><div><ol><li>My mother had the shrimp fettuccine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3969">Next</a></li>
</ul>