<% provide :title, 'Opinion Target 5565' %><h2>fish dish<br />occurrence: 1</h2><div><ol><li>My parents ordered a lasagna and fish dish, resepctively.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5566">Next</a></li>
</ul>