<% provide :title, 'Opinion Target 3649' %><h2>breakfast/brunch menu<br />occurrence: 1</h2><div><ol><li>However, in having a simple and classic breakfast/brunch menu, orders should be flying out of the kitchen in perfect sequence and properly cooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3650">Next</a></li>
</ul>