<% provide :title, 'Opinion Target 3511' %><h2>sushi/sashimi<br />occurrence: 1</h2><div><ol><li>The sushi/sashimi is great too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3512">Next</a></li>
</ul>