<% provide :title, 'Opinion Target 5730' %><h2>soy sauce drenched duck<br />occurrence: 1</h2><div><ol><li>The soy sauce drenched duck was n't so good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5729">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5731">Next</a></li>
</ul>