<% provide :title, 'Opinion Target 3426' %><h2>Korean rice cake and dumpling soup<br />occurrence: 1</h2><div><ol><li>Came here for new years to have my traditional Korean rice cake and dumpling soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3427">Next</a></li>
</ul>