<% provide :title, 'Opinion Target 8313' %><h2>lan<br />occurrence: 1</h2><div><ol><li>As for the kai lan ... they have a large variety of greens in the menu that you can get plain or with minced garlic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8314">Next</a></li>
</ul>