<% provide :title, 'Opinion Target 6828' %><h2>team<br />occurrence: 1</h2><div><ol><li>When I used to work in this area, our team would always go here for a monthly lunch ( and while fun, it 's weird being the only Asian guy and trying to translate everything !!!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6829">Next</a></li>
</ul>