<% provide :title, 'Opinion Target 5308' %><h2>Spicy Salmon Sushi Roll<br />occurrence: 1</h2><div><ol><li>This place has the best Spicy Salmon Sushi Roll ever, the price aint shabby either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5309">Next</a></li>
</ul>