<% provide :title, 'Opinion Target 6083' %><h2>pan fried lamb dumplings<br />occurrence: 1</h2><div><ol><li>My favourite items here were the pan fried lamb dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6082">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6084">Next</a></li>
</ul>