<% provide :title, 'Opinion Target 1884' %><h2>shrimp cocktail<br />occurrence: 2</h2><div><ol><li>The shrimp cocktail was really just five prawns on shaved ice.</li><li>The shrimp cocktail now only comes in four shrimps instead of six like before ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1885">Next</a></li>
</ul>