<% provide :title, 'Opinion Target 1936' %><h2>Eggplant Parmigiana<br />occurrence: 2</h2><div><ol><li>Lasagna, Italian Sausages, Eggplant Parmigiana, Rice Balls, various Pastas and Stuffed Vegetables are available.</li><li>One of the best places to go for Italian in north York Their eggplant parmigiana is to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1935">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1937">Next</a></li>
</ul>