<% provide :title, 'Opinion Target 4681' %><h2>egg wrap<br />occurrence: 1</h2><div><ol><li>The egg wrap did not taste very good on top of the pad thai either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4682">Next</a></li>
</ul>