<% provide :title, 'Opinion Target 3874' %><h2>Beef Enoki Rolls<br />occurrence: 1</h2><div><ol><li>I would get the Rock Shrimp and Beef Enoki Rolls as those are my personal favorites from this place !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3875">Next</a></li>
</ul>