<% provide :title, 'Opinion Target 5683' %><h2>chicken fettuccine<br />occurrence: 1</h2><div><ol><li>OMG the chicken fettuccine Alfredo here is to DIE for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5684">Next</a></li>
</ul>