<% provide :title, 'Opinion Target 4399' %><h2>beef dumpling rice cake soup<br />occurrence: 1</h2><div><ol><li>Since we were in a hurry we decided to order the sashimi wasakawa and the beef dumpling rice cake soup to go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4400">Next</a></li>
</ul>