<% provide :title, 'Opinion Target 7249' %><h2>french fries and caesar salad<br />occurrence: 1</h2><div><ol><li>The buffet and salad bar is three rows of mostly Chinese-ish food with the mandatory french fries and caesar salad for the fussy children.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7248">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7250">Next</a></li>
</ul>