<% provide :title, 'Opinion Target 9071' %><h2>pork ( uncured bacon<br />occurrence: 1</h2><div><ol><li>They bring a grill to your table and a whole plate of fatty pork ( uncured bacon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9072">Next</a></li>
</ul>