<% provide :title, 'Opinion Target 3716' %><h2>thai noodles<br />occurrence: 1</h2><div><ol><li>It has a tom yum soup broth that works surprisingly well with thai noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3715">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3717">Next</a></li>
</ul>