<% provide :title, 'Opinion Target 5946' %><h2>green curry shrimp<br />occurrence: 1</h2><div><ol><li>As my main I had green curry shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5947">Next</a></li>
</ul>