<% provide :title, 'Opinion Target 8535' %><h2>dessert bread<br />occurrence: 1</h2><div><ol><li>I later tried yet again to order a gluten free sandwich, ( which was simple enough since they had the bread and other items) which she made no attempt to accommodate, when she asked me if I would like my sides to be the soup or dessert bread, I replied once again explaining that both of those items are not safe for a gluten allergy and I would like to substitute for fruit salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8536">Next</a></li>
</ul>