<% provide :title, 'Opinion Target 6751' %><h2>rainbow<br />occurrence: 1</h2><div><ol><li>Highly recommend- dynamite rolls, sushi bong special, spicy salmon, rainbow ... etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6752">Next</a></li>
</ul>