<% provide :title, 'Opinion Target 4899' %><h2>furnishing<br />occurrence: 1</h2><div><ol><li>The place is majority of the time clean and the furnishing is fantastic and comfortable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4900">Next</a></li>
</ul>