<% provide :title, 'Opinion Target 8664' %><h2>walnuts<br />occurrence: 1</h2><div><ol><li>The eggplant kabob appetizer with walnuts and pomegranate paste is to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8665">Next</a></li>
</ul>