<% provide :title, 'Opinion Target 5645' %><h2>standard cashew chicken<br />occurrence: 1</h2><div><ol><li>They have the standard cashew chicken and other stuff that I imagine Thai families do n't actually make at home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5646">Next</a></li>
</ul>