<% provide :title, 'Opinion Target 1944' %><h2>creme caramel<br />occurrence: 2</h2><div><ol><li>It was all so yummy, especially the creme caramel I believe it was.</li><li>Lastly, I had the creme caramel for dessert and this was def the best part of the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1943">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1945">Next</a></li>
</ul>