<% provide :title, 'Opinion Target 4344' %><h2>drinks :<br />occurrence: 1</h2><div><ol><li>Ordered 3 drinks: taro milk tea, strawberry milk tea, and grass jelly roasted milk tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4345">Next</a></li>
</ul>