<% provide :title, 'Opinion Target 7606' %><h2>pork with vermicelli soup<br />occurrence: 1</h2><div><ol><li>The menu describes it as" ' Hue' style beef &amp; pork with vermicelli soup."</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7607">Next</a></li>
</ul>