<% provide :title, 'Opinion Target 7133' %><h2>tiramisu french toast & goat cheese frittata<br />occurrence: 1</h2><div><ol><li>The tiramisu french toast &amp; goat cheese frittata were very good unlike the dinner entrees the previous time, with adequate portion sizes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7132">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7134">Next</a></li>
</ul>