<% provide :title, 'Opinion Target 5662' %><h2>beer n coffees<br />occurrence: 1</h2><div><ol><li>Thirteen people ate and drank beer n coffees.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5661">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5663">Next</a></li>
</ul>