<% provide :title, 'Opinion Target 7232' %><h2>soy sauce concoction<br />occurrence: 1</h2><div><ol><li>Cauliflower is n't cheap), marinated bok choy, sprouts, and soft tofu with a spicy soy sauce concoction).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7233">Next</a></li>
</ul>