<% provide :title, 'Opinion Target 7386' %><h2>whipped cream filling<br />occurrence: 1</h2><div><ol><li>Although the whipped cream filling was a little too much, I enjoyed my crepe overall.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7387">Next</a></li>
</ul>