<% provide :title, 'Opinion Target 1037' %><h2>barg<br />occurrence: 4</h2><div><ol><li>Fine barg it was.</li><li>The barg was very tender and made of veal.</li><li>This is the first time I 've seen barg made of veal and I was surprised that many dishes on the menu were also veal.</li><li>We ordered Kashkeh Bademjan as the appetizer, the Barg, Fesenjoon and Ghaimeh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1038">Next</a></li>
</ul>