<% provide :title, 'Opinion Target 3947' %><h2>sliced plantain chips<br />occurrence: 1</h2><div><ol><li>I always happen to order of filet de pescado ( fish fillet) that comes with a side of rice, salad, and sliced plantain chips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3946">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3948">Next</a></li>
</ul>