<% provide :title, 'Opinion Target 1897' %><h2>potstickers<br />occurrence: 2</h2><div><ol><li>Their potstickers `` wor tips'' are the best!</li><li>The potstickers were also smaller and they sometimes forget to give you vinegar for dipping.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1896">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1898">Next</a></li>
</ul>