<% provide :title, 'Opinion Target 5805' %><h2>potato icecream<br />occurrence: 1</h2><div><ol><li>Maybe it 's the nature of sweet potato icecream, but I felt that the texture was n't that smooth and it was a bit icy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5804">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5806">Next</a></li>
</ul>