<% provide :title, 'Opinion Target 6101' %><h2>taste food<br />occurrence: 1</h2><div><ol><li>Other halal Xinjiang restaurant serves same taste food with low price tag.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6100">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6102">Next</a></li>
</ul>