<% provide :title, 'Opinion Target 4641' %><h2>buritto<br />occurrence: 1</h2><div><ol><li>Although the fries did n't seem super fresh, the buritto was very fresh and flavourful ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4642">Next</a></li>
</ul>