<% provide :title, 'Opinion Target 926' %><h2>guac<br />occurrence: 4</h2><div><ol><li>The guac was fresh and had the yummy spice I 'm growing to love.</li><li>The guac definitely overshadowed the Monterey Jack.</li><li>Good guac.</li><li>The guac was n't very fresh, you can tell the avocados were way too ripe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_927">Next</a></li>
</ul>