<% provide :title, 'Opinion Target 8157' %><h2>Bacon Penne<br />occurrence: 1</h2><div><ol><li>Try the Bacon Penne.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8158">Next</a></li>
</ul>