<% provide :title, 'Opinion Target 2699' %><h2>dinner food choices<br />occurrence: 1</h2><div><ol><li>I also like how they include normal dinner food choices besides desert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2700">Next</a></li>
</ul>