<% provide :title, 'Opinion Target 5012' %><h2>salad is green salad<br />occurrence: 1</h2><div><ol><li>The salad is green salad, not much special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5013">Next</a></li>
</ul>