<% provide :title, 'Opinion Target 1276' %><h2>beef stew noodles<br />occurrence: 3</h2><div><ol><li>Ordered their beef stew noodles and it tasted just a-ok.</li><li>I could have sworn the menu said beef stew noodles like the photos here on yelp.</li><li>So, never mind that my beef stew noodles was n't really what it should be- even if I had ordered the wrong dish, my dish was n't much to be desired anyways.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1277">Next</a></li>
</ul>