<% provide :title, 'Opinion Target 922' %><h2>potato pancake<br />occurrence: 5</h2><div><ol><li>I love the side dishes especially the potato pancake.</li><li>Even a hot potato pancake they make as you sit down!</li><li>They have a huge menu and each come with at least 7 banchan side dishes and a potato pancake.</li><li>So many good side dishes! ( Especially the potato pancake ~) Whenever I go there, it 's always busy though ...</li><li>The potato pancake is a nice free side that is not included at many other Korean restaurants as a side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_923">Next</a></li>
</ul>