<% provide :title, 'Opinion Target 4390' %><h2>oil broccoli<br />occurrence: 1</h2><div><ol><li>Had: Shrimp tempura lunch set ( $ 8.95)- Comes with 3 pieces of shrimp tempura, 4 pieces of veggie, rice, soup, salad, and three veggie sides ( today 's were sesame oil broccoli, black peppered bean sprouts, and shredded potato with mayo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4389">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4391">Next</a></li>
</ul>