<% provide :title, 'Opinion Target 5611' %><h2>Spicy Seafood Hot Pot<br />occurrence: 1</h2><div><ol><li>Spicy Seafood Hot Pot ( $ 14.99)- If you are into fish, you would love this dish- If you are hungry, you would be stuffed- If you are into noodles, you will be in heaven- I wish this is more spicy- This definitely not that live seafood hot pot I had before with all those seafood tossed in alive .. but good enough at this price!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5612">Next</a></li>
</ul>