<% provide :title, 'Opinion Target 5642' %><h2>Sirloin beef table<br />occurrence: 1</h2><div><ol><li>The Sirloin beef table top bbq is amazing, it was so tender, juicy and melted in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5641">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5643">Next</a></li>
</ul>