<% provide :title, 'Opinion Target 1741' %><h2>honey potatoes<br />occurrence: 2</h2><div><ol><li>My favourite banchans here were the japchae, and the honey potatoes!</li><li>Food: 4/5 stars- 10 side dishes AND honey potatoes- They have a split platter of Dukboki ( Korean spicy rice cake) and Bulgogi ( grilled marinated beef) which is great to share!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1740">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1742">Next</a></li>
</ul>