<% provide :title, 'Opinion Target 4144' %><h2>caesars<br />occurrence: 1</h2><div><ol><li>The caesars are delicious and cheap ( $ 6.19) and the wings were really big and juicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4145">Next</a></li>
</ul>