<% provide :title, 'Opinion Target 5676' %><h2>chicken chew skin<br />occurrence: 1</h2><div><ol><li>The food was horrible, the chicken was under cooked, too sour, it was not stuffed with anything and it came with bones! spinach was below the chicken and the cheese was melted on top of the chicken chew skin: (, half a spoon of mashed potato that did not taste good and couple of carrots scattered around the dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5677">Next</a></li>
</ul>