<% provide :title, 'Opinion Target 4703' %><h2>panang sauce<br />occurrence: 1</h2><div><ol><li>The panang sauce was mild and tangy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4704">Next</a></li>
</ul>