<% provide :title, 'Opinion Target 6655' %><h2>rice cakes , chicken<br />occurrence: 1</h2><div><ol><li>I added rice cakes, chicken, and cheese!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6656">Next</a></li>
</ul>