<% provide :title, 'Opinion Target 6273' %><h2>English muffins<br />occurrence: 1</h2><div><ol><li>The English muffins are served untoasted, so you 'll have to ask for them to be toasted in advance if you prefer them that way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6274">Next</a></li>
</ul>