<% provide :title, 'Opinion Target 785' %><h2>carrot cake<br />occurrence: 6</h2><div><ol><li>The carrot cake looked very commercial.</li><li>The Carrot Cake was just the right amount of sweetness and bursting of carrot flavour.</li><li>Now for the carrot cake ..</li><li>The dessert was a very very good carrot cake.</li><li>I 've tried the colossal carrot cake and it really is n't colossal and was disappointly dry.</li><li>Both of us got a soup, choice of 3 mains, shared dessert ( it was a huge piece of carrot cake) and 2 cafe lattes for $ 44.00.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_786">Next</a></li>
</ul>