<% provide :title, 'Opinion Target 4729' %><h2>Pho Dau Bo 's Pho<br />occurrence: 1</h2><div><ol><li>Pho Dau Bo 's Pho is Not the best Pho I ever ate ... but it is A-OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4730">Next</a></li>
</ul>