<% provide :title, 'Opinion Target 7706' %><h2>deep dish pizza<br />occurrence: 1</h2><div><ol><li>To my surprise they offered a deep dish pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7707">Next</a></li>
</ul>