<% provide :title, 'Opinion Target 5062' %><h2>beef brisket noodle<br />occurrence: 1</h2><div><ol><li>The broth and noodles were standard and the portion was worth it for the $ 5 price tag on the beef brisket noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5063">Next</a></li>
</ul>