<% provide :title, 'Opinion Target 7659' %><h2>salmon avocado salad<br />occurrence: 1</h2><div><ol><li>We ordered a salmon avocado salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7660">Next</a></li>
</ul>