<% provide :title, 'Opinion Target 1221' %><h2>seafood noodle soup<br />occurrence: 3</h2><div><ol><li>I ordered Jjam Pong, a spicy seafood noodle soup.</li><li>Seafood noodle soup ( jam pong, sp ?) is not as good as the one from Kachi ( which I consider to be the gold standard).</li><li>I ended up getting the spicy seafood noodle soup because I enjoy chewy noodle- the owner assured me that the type of noodle used would be the chewy type.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1220">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1222">Next</a></li>
</ul>