<% provide :title, 'Opinion Target 6541' %><h2>Bejing duck<br />occurrence: 1</h2><div><ol><li>I agree that the Bejing duck was awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6542">Next</a></li>
</ul>