<% provide :title, 'Opinion Target 6625' %><h2>scramble<br />occurrence: 1</h2><div><ol><li>My son ordered the one egg from the menu, which was laughable in that it was a small scramble with a piece of bacon ( no bread on the side).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6626">Next</a></li>
</ul>