<% provide :title, 'Opinion Target 2860' %><h2>lettuce than chicken<br />occurrence: 1</h2><div><ol><li>I had a chicken wrap last night and it was more lettuce than chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2861">Next</a></li>
</ul>