<% provide :title, 'Opinion Target 5643' %><h2>rice cake in egg drop soup<br />occurrence: 1</h2><div><ol><li>Ordered 3 dishes being the dumpling and rice cake in egg drop soup which was really tasty but a little lacking in beef and too full of rice cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5642">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5644">Next</a></li>
</ul>