<% provide :title, 'Opinion Target 1206' %><h2>salmon rose<br />occurrence: 3</h2><div><ol><li>Another thing is also the salmon rose.</li><li>The Salmon Rose could look more like a rose, however.</li><li>I had the miso soup, salmon rose, white tuna sushi, salmon belly, beef rib, chicken teriyaki, salmon teriyaki, beef teriyaki, enoki beef roll, pork cutlet, chicken cutlet, deep fried scallops and green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1207">Next</a></li>
</ul>