<% provide :title, 'Opinion Target 2271' %><h2>banana muffins<br />occurrence: 1</h2><div><ol><li>Love the banana muffins here ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2272">Next</a></li>
</ul>