<% provide :title, 'Opinion Target 8807' %><h2>dim sum menus<br />occurrence: 1</h2><div><ol><li>We ordered a few random things that I do n't normally see on dim sum menus: the vegetarian pig kidneys and plain rice rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8806">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8808">Next</a></li>
</ul>