<% provide :title, 'Opinion Target 5520' %><h2>homemade dumplings<br />occurrence: 1</h2><div><ol><li>Being a deli, they serve other foods like salads, homemade dumplings, blinis, herring in cream or wine sauce and even schmaltz!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5521">Next</a></li>
</ul>