<% provide :title, 'Opinion Target 5151' %><h2>black pepper sizzling beef<br />occurrence: 1</h2><div><ol><li>I did n't order but we had the General Tao Chicken, black pepper sizzling beef and some noodle dish with pork and shrimps.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5152">Next</a></li>
</ul>