<% provide :title, 'Opinion Target 4902' %><h2>red chili paste<br />occurrence: 1</h2><div><ol><li>If you like it spicy, the waitress can get you the red chili paste ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4903">Next</a></li>
</ul>