<% provide :title, 'Opinion Target 4449' %><h2>spicy seafood noodle soup<br />occurrence: 1</h2><div><ol><li>Chowon really hit the spot- I left with a full belly of warm spicy seafood noodle soup!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4448">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4450">Next</a></li>
</ul>