<% provide :title, 'Opinion Target 6068' %><h2>tuna nigiri<br />occurrence: 1</h2><div><ol><li>I found the tuna nigiri had a bit more wasabi than the salmon though, so it surprised me when I alternated between the two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6067">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6069">Next</a></li>
</ul>