<% provide :title, 'Opinion Target 5243' %><h2>yellow flowers<br />occurrence: 1</h2><div><ol><li>A woman behind the counter with a bright yellow flowers tucked into her hair was smiling and asking to take my order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5244">Next</a></li>
</ul>