<% provide :title, 'Opinion Target 1069' %><h2>mango sauce<br />occurrence: 4</h2><div><ol><li>The roll is made with mango, crab meat salad, and mint leaves topped with a spicy mango sauce.</li><li>The chicken was relish and the mango sauce was surprisingly nice.</li><li>The papaya ice cream also tasted amazing with the mango sauce over it I would definitely go back again to try more dishes on the menu!</li><li>The mango sauce was artificial, the milk tasted like it came from powder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1070">Next</a></li>
</ul>