<% provide :title, 'Opinion Target 6734' %><h2>Hot pot<br />occurrence: 1</h2><div><ol><li>Hot pot is a great option, especially on a cold night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6735">Next</a></li>
</ul>