<% provide :title, 'Opinion Target 1105' %><h2>durian shake<br />occurrence: 3</h2><div><ol><li>The spring rolls were crunchy and the durian shake was delicious.</li><li>My friend had the durian shake and he said that it tasted like powdered durian, not fresh durian. bad sign.</li><li>I only get pho, the shrimp rolls both with no meat and durian shake it 's the best !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1106">Next</a></li>
</ul>