<% provide :title, 'Opinion Target 4143' %><h2>buffalo chicken poutine<br />occurrence: 1</h2><div><ol><li>I had their buffalo chicken poutine and it was really good, I never had poutine like this before and as a big fanatic of one, I did enjoy this dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4142">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4144">Next</a></li>
</ul>