<% provide :title, 'Opinion Target 6451' %><h2>stir fry green beans<br />occurrence: 1</h2><div><ol><li>My favorite items here are the crab meat soup dumplings, beef brisket noodles, seafood fried rice cake, and stir fry green beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6450">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6452">Next</a></li>
</ul>