<% provide :title, 'Opinion Target 3901' %><h2>pepper shrimp<br />occurrence: 1</h2><div><ol><li>Killer pepper shrimp and plantains with a side of coconut ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3900">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3902">Next</a></li>
</ul>