<% provide :title, 'Opinion Target 5007' %><h2>Seafood Pajun ( Seafood Pancake )<br />occurrence: 1</h2><div><ol><li>- Aged Tofu- Seafood Pajun ( Seafood Pancake)- Kampoongi ( Spicy Chicken). + + + + CLOSED + + + + Ehwa Restaurant has to be a major let down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5008">Next</a></li>
</ul>