<% provide :title, 'Opinion Target 1277' %><h2>presentation<br />occurrence: 3</h2><div><ol><li>The gnocchi was worth trying though, beautiful presentation but was odded out by the accompanied dinner roll ( you do n't see that in Italy!).</li><li>The presentation was nice- they spelled out the restaurant 's name with some type of aioli.</li><li>Presentation was nice, ingredients fresh however quantity was a touch light for the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1278">Next</a></li>
</ul>