<% provide :title, 'Opinion Target 5244' %><h2>garbage<br />occurrence: 1</h2><div><ol><li>The garbage was checked on and taken out when full.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5245">Next</a></li>
</ul>