<% provide :title, 'Opinion Target 2480' %><h2>Garlic Dill Chicken Sandwich<br />occurrence: 2</h2><div><ol><li>Ordered wings as a group and had the Garlic Dill Chicken Sandwich.</li><li>The Garlic Dill Chicken Sandwich ( $ 12.99) is breaded chicken breast tossed in hot sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2481">Next</a></li>
</ul>