<% provide :title, 'Opinion Target 7257' %><h2>pinacolada<br />occurrence: 1</h2><div><ol><li>Love it .. it 's definitely different than other buffet .. like how you can mix things and make them cook it ... amazing pinacolada.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7258">Next</a></li>
</ul>