<% provide :title, 'Opinion Target 6515' %><h2>jerky<br />occurrence: 1</h2><div><ol><li>Pork was basically oily jerky in breading.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6514">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6516">Next</a></li>
</ul>