<% provide :title, 'Opinion Target 4003' %><h2>chop/fish house<br />occurrence: 1</h2><div><ol><li>Speaking of the menu, it used to be a multi-page affair, with separate editions for lunch and dinner, upstairs ( upscale chop/fish house) and downstairs ( high-end bar food).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4002">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4004">Next</a></li>
</ul>