<% provide :title, 'Opinion Target 1461' %><h2>samgaetang<br />occurrence: 2</h2><div><ol><li>I 've been a sucker for Korean ginseng chicken soup ( samgaetang) ever since I went to Korea earlier this year.</li><li>I can see why Koryo is infamous for their samgaetang!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1462">Next</a></li>
</ul>