<% provide :title, 'Opinion Target 4899' %><h2>crushed garlic<br />occurrence: 1</h2><div><ol><li>It came with some ok hummus and a very potent garlic sauce, which is more crushed garlic then sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4900">Next</a></li>
</ul>