<% provide :title, 'Opinion Target 3270' %><h2>lunch sandwiches<br />occurrence: 1</h2><div><ol><li>I 've eaten here multiple times having either the pizzas, appetizers, salads, lunch sandwiches or entrees and they are all absolutely delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3271">Next</a></li>
</ul>