<% provide :title, 'Opinion Target 6280' %><h2>bacon strips<br />occurrence: 1</h2><div><ol><li>Speaking of which, the gf ordered the Big Big ( $ 12.50) which is 4 eggs, 3 bacon strips, 3 sausages, homefries, toast, and your choice of french toast or pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6281">Next</a></li>
</ul>