<% provide :title, 'Opinion Target 6347' %><h2>chicken and Caesar salads<br />occurrence: 1</h2><div><ol><li>Prices are outrageous, staff are rude, except for nice hostesses, and best food is the squash soup, chicken and Caesar salads.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6348">Next</a></li>
</ul>