<% provide :title, 'Opinion Target 2108' %><h2>mango lassi<br />occurrence: 2</h2><div><ol><li>For dessert try their mango lassi and fried sweet balls ( gulab jamun).</li><li>Also, do n't forget to get the `` Mango Lassi''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2109">Next</a></li>
</ul>