<% provide :title, 'Opinion Target 2686' %><h2>souvlaki sandwich<br />occurrence: 1</h2><div><ol><li>The Souvlaki is ok, not the Best that I 've had ... but if you get the souvlaki sandwich, the pita is delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2687">Next</a></li>
</ul>