<% provide :title, 'Opinion Target 5911' %><h2>marshmallow latte<br />occurrence: 1</h2><div><ol><li>I did get a marshmallow latte, and my boyfriend got a hot chocolate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5910">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5912">Next</a></li>
</ul>