<% provide :title, 'Opinion Target 3042' %><h2>Shanghai fired noodles<br />occurrence: 1</h2><div><ol><li>The Shanghai fired noodles was too soggy and drenched with too much oil, and the pan fried onion cake was just so wrong.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3043">Next</a></li>
</ul>