<% provide :title, 'Opinion Target 3686' %><h2>chicken looks<br />occurrence: 1</h2><div><ol><li>Got it home and I said, `` Gee, this chicken looks a little moist ...''</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3687">Next</a></li>
</ul>