<% provide :title, 'Opinion Target 6862' %><h2>Magic Lamb<br />occurrence: 1</h2><div><ol><li>I got the Magic Lamb, which I really enjoyed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6863">Next</a></li>
</ul>