<% provide :title, 'Opinion Target 8529' %><h2>grapes<br />occurrence: 1</h2><div><ol><li>The fruits were n't the freshest either- the pineapple was super sour and hard, the strawberry was soggy &amp; the grapes looked unwashed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8530">Next</a></li>
</ul>