<% provide :title, 'Opinion Target 1301' %><h2>chipotle sauce<br />occurrence: 3</h2><div><ol><li>Now, maybe it 's just me, but if I have to force a burger into my mouth, I want it to be due to the patty being so thick, and not because I 'm trying to navigate around falling jalapenos, a barbed wire onion ring fence, and chipotle sauce and grease pouring out the sides.</li><li>I did enjoy the chipotle sauce on it.</li><li>Instead of tahini sauce, you can choose a chipotle sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1302">Next</a></li>
</ul>