<% provide :title, 'Opinion Target 1173' %><h2>Hawaiian pizza<br />occurrence: 3</h2><div><ol><li>Personally I love the Hawaiian pizza from here.</li><li>A large Hawaiian pizza will run you around $ 11 which is a great price, and they are extremely quick.</li><li>The Hawaiian pizza we split was great and we liked our drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1174">Next</a></li>
</ul>