<% provide :title, 'Opinion Target 9100' %><h2>dim sum fan<br />occurrence: 1</h2><div><ol><li>There is a good selection in the menu but food is not great if you are a dim sum fan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9101">Next</a></li>
</ul>