<% provide :title, 'Opinion Target 2360' %><h2>corned beef sandwhich<br />occurrence: 1</h2><div><ol><li>Marky 's makes an decent but not great corned beef sandwhich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2361">Next</a></li>
</ul>