<% provide :title, 'Opinion Target 5821' %><h2>Atlantic scallops<br />occurrence: 1</h2><div><ol><li>The Atlantic scallops were a bit over cooked, but still tasty and the panang curry is awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5822">Next</a></li>
</ul>