<% provide :title, 'Opinion Target 819' %><h2>chicken kabob<br />occurrence: 4</h2><div><ol><li>I ordered chicken kabob, chicken doner and the lentil soup.</li><li>A very nice thing about this place was that they give you the option to choose leg or breast for the chicken kabob.</li><li>Although a veggie lover, I opted for the chicken kabob which came with a side option of either salad ( nothing extravagant, plain old garden variant) or fries.</li><li>Great hummus and chicken kabob.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_820">Next</a></li>
</ul>