<% provide :title, 'Opinion Target 5649' %><h2>jampong<br />occurrence: 1</h2><div><ol><li>( $ 12) Their bibimbap and jampong is pretty good what you expect it to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5650">Next</a></li>
</ul>