<% provide :title, 'Opinion Target 3126' %><h2>shaved ice layers<br />occurrence: 1</h2><div><ol><li>The shaved ice layers were delightful!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3127">Next</a></li>
</ul>