<% provide :title, 'Opinion Target 4300' %><h2>beer drinkers<br />occurrence: 1</h2><div><ol><li>The dinning room experience is n't the best the service is good just the place fills up with beer drinkers watching the game.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4301">Next</a></li>
</ul>