<% provide :title, 'Opinion Target 5229' %><h2>dim sum fix<br />occurrence: 1</h2><div><ol><li>Their all day dim sum options are also good for those who are too far from Richmond Hill and Markam, but still want to get their dim sum fix on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5228">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5230">Next</a></li>
</ul>