<% provide :title, 'Opinion Target 5644' %><h2>cornish hen stuffed with sticky rice with ginseng soup<br />occurrence: 1</h2><div><ol><li>I usually get their half cornish hen stuffed with sticky rice with ginseng soup and it comes with red dates and lots of garlic- it is served boiling on their black stone bowls with a side of purple rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5645">Next</a></li>
</ul>