<% provide :title, 'Opinion Target 6614' %><h2>quality tea<br />occurrence: 1</h2><div><ol><li>The Taiwanese food is authentic and possibly one of the best bubble tea places because they use real quality tea ( as opposed to powders or cheap tea).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6615">Next</a></li>
</ul>