<% provide :title, 'Opinion Target 4625' %><h2>shrimp satay<br />occurrence: 1</h2><div><ol><li>My mom had a cocktail and ordered the $ 25 summerlicious menu ( shrimp satay, bass fish, custard) and I ordered the pad Thai and spring rolls off their a la carte menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4626">Next</a></li>
</ul>