<% provide :title, 'Opinion Target 5429' %><h2>pickles and mustards<br />occurrence: 1</h2><div><ol><li>There is a take-out counter near the entrance, where you can buy packaged pastas, party sandwiches, delicious pickles and mustards, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5430">Next</a></li>
</ul>