<% provide :title, 'Opinion Target 3103' %><h2>pizzelle<br />occurrence: 1</h2><div><ol><li>It was just a waffle with fruits, a scoop of chocolate ice cream, stale pizzelle, whipped cream, covered in chocolate syrup with ground up oreo pieces sprinkled on top of it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3104">Next</a></li>
</ul>