<% provide :title, 'Opinion Target 3536' %><h2>Korean family<br />occurrence: 1</h2><div><ol><li>Probably not the best place for a first date, suitable for Korean family visiting from Korea ( because it 's that authentic).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3535">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3537">Next</a></li>
</ul>