<% provide :title, 'Opinion Target 3658' %><h2>garlic ans scallions<br />occurrence: 1</h2><div><ol><li>We also had the roasted oysters with garlic and scallions; the oysters were great and fresh but the garlic ans scallions did n't really do much and had very little flavoring, even though there was probably like a teaspoon of minced garlic in each.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3659">Next</a></li>
</ul>