<% provide :title, 'Opinion Target 6784' %><h2>Dynamite and Rainbow Rolls<br />occurrence: 1</h2><div><ol><li>Their Dynamite and Rainbow Rolls are a great value IMO.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6785">Next</a></li>
</ul>