<% provide :title, 'Opinion Target 8903' %><h2>crab and shrimp<br />occurrence: 1</h2><div><ol><li>Lobster, crab and shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8904">Next</a></li>
</ul>