<% provide :title, 'Opinion Target 7349' %><h2>roasted potatoes or rice<br />occurrence: 1</h2><div><ol><li>As the owner or even manager he undoubtedly knows the menu says all sandwiches come with fries, roasted potatoes or rice, which I pointed out to him.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7350">Next</a></li>
</ul>