<% provide :title, 'Opinion Target 3456' %><h2>beef seekh kabobs<br />occurrence: 1</h2><div><ol><li>My family and I went here for dinner last week and ordered chicken biryani, beef seekh kabobs and chicken kabobs with naan, Naan 's were very good, fresh out of the tandoor oven along with the beef and chicken kabobs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3457">Next</a></li>
</ul>