<% provide :title, 'Opinion Target 4172' %><h2>Tandoori chicken wraps<br />occurrence: 1</h2><div><ol><li>The Tandoori chicken wraps are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4173">Next</a></li>
</ul>