<% provide :title, 'Opinion Target 8604' %><h2>pork bone soup places<br />occurrence: 1</h2><div><ol><li>Of all the pork bone soup places I go to, this has come out as my top choice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8603">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8605">Next</a></li>
</ul>