<% provide :title, 'Opinion Target 1199' %><h2>green beans<br />occurrence: 3</h2><div><ol><li>The green beans with fish were a little burned in taste the one time I tried ' em.</li><li>They have very nice dumplings and chicken dishes, I also love their green beans, I always order those and in this place they taste great.</li><li>The green beans are my favourite veggie here ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1198">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1200">Next</a></li>
</ul>