<% provide :title, 'Opinion Target 1736' %><h2>food menu<br />occurrence: 2</h2><div><ol><li>Since this 's my first time here, I apparently took a few minutes checking out the food menu.</li><li>That means I visit this place at least 3 times a month;) They have an extensive food menu that consists of Chinese and Taiwanese comfort food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1735">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1737">Next</a></li>
</ul>