<% provide :title, 'Opinion Target 1907' %><h2>Calabrese Sausage Piadina<br />occurrence: 2</h2><div><ol><li>My usual order is the Calabrese Sausage Piadina, which is like a sausage wrap ( it 's wrapped in the flatbread because the filings are wet and would fall out otherwise- I was told by one of the workers).</li><li>My wife and I had the Gnocchi, the Calabrese Sausage Piadina, and a side Polpette.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1908">Next</a></li>
</ul>