<% provide :title, 'Opinion Target 2888' %><h2>faffel<br />occurrence: 1</h2><div><ol><li>The faffel here is great and often quite stuffed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2889">Next</a></li>
</ul>