<% provide :title, 'Opinion Target 4354' %><h2>seafood udong<br />occurrence: 1</h2><div><ol><li>Favourites: dolsot bi bim bap, seafood udong, kam ja tang ( of course), chicken or pork tonkatsu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4355">Next</a></li>
</ul>