<% provide :title, 'Opinion Target 5672' %><h2>garlic butter fries forever<br />occurrence: 1</h2><div><ol><li>The chicken was ridiculously good and I could eat their garlic butter fries forever!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5673">Next</a></li>
</ul>