<% provide :title, 'Opinion Target 4311' %><h2>meal plates<br />occurrence: 1</h2><div><ol><li>There are several meal plates on the menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4310">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4312">Next</a></li>
</ul>