<% provide :title, 'Opinion Target 7446' %><h2>apple tart<br />occurrence: 1</h2><div><ol><li>Finally we had an apple tart that was not too sweet and not too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7447">Next</a></li>
</ul>