<% provide :title, 'Opinion Target 3015' %><h2>sushi plate<br />occurrence: 1</h2><div><ol><li>The sushi plate my son received looked like the sushi chef just threw it on the plate with some garnishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3016">Next</a></li>
</ul>