<% provide :title, 'Opinion Target 1528' %><h2>spinach dip<br />occurrence: 2</h2><div><ol><li>Artichoke and spinach dip was unreal!</li><li>The spinach dip here is one of the best I 've had, they 're very generous with the pita bread and the dip comes in a large bowl, you 'll never run out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1527">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1529">Next</a></li>
</ul>