<% provide :title, 'Opinion Target 3590' %><h2>beef grilled<br />occurrence: 1</h2><div><ol><li>3 .Beef Shawarma Sandwich- Shredded pieces of beef grilled on a rotating spit with fresh parsley, onions, turnips, pickles, tomatoes and tahini sauce wrapped in a pita Being a beef person, I was a little disappointed with this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3591">Next</a></li>
</ul>