<% provide :title, 'Opinion Target 1506' %><h2>Matcha Green Tea Crepe<br />occurrence: 3</h2><div><ol><li>For my first visit, I ordered the Matcha Green Tea Crepe.</li><li>I shared the matcha green tea crepe with my friend and we both thought it was really delicious!</li><li>In the end we got a matcha green tea crepe and a black sesame crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1507">Next</a></li>
</ul>