<% provide :title, 'Opinion Target 7614' %><h2>fried shrimp and vegetables in black bean sauce<br />occurrence: 1</h2><div><ol><li>As for me I had the fried shrimp and vegetables in black bean sauce and I would rate it a 4 out of 5 as they vegetables and shrimp were very fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7615">Next</a></li>
</ul>