<% provide :title, 'Opinion Target 7231' %><h2>steamed scallion buns<br />occurrence: 1</h2><div><ol><li>It 's a huuuuuuge Chinese-Canadian fusion buffet with really tasty food -- everything from North American staples like chicken balls and chow mein to more authentic steamed scallion buns and dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7232">Next</a></li>
</ul>