<% provide :title, 'Opinion Target 8392' %><h2>Noodles with Shredded Chicken & Spicy Peanut Sauce<br />occurrence: 1</h2><div><ol><li>- Cold Noodles with Shredded Chicken &amp; Spicy Peanut Sauce ( $ 6.99): the noodles are a little chewy which makes it great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8391">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8393">Next</a></li>
</ul>