<% provide :title, 'Opinion Target 6691' %><h2>lamb kebob wrap<br />occurrence: 1</h2><div><ol><li>My companions last night ordered the lamb kebob wrap ( gigantic), the caesar salad ( which looked good and if I was n't vegan it might be up my alley) and the falafel wrap ( also huge).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6690">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6692">Next</a></li>
</ul>