<% provide :title, 'Opinion Target 7723' %><h2>plastic plates<br />occurrence: 1</h2><div><ol><li>No plastic plates are used ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7722">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7724">Next</a></li>
</ul>