<% provide :title, 'Opinion Target 3656' %><h2>chicken thighs<br />occurrence: 1</h2><div><ol><li>I got chicken thighs on potato, rice and possibly banana ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3657">Next</a></li>
</ul>