<% provide :title, 'Opinion Target 1212' %><h2>linguine<br />occurrence: 3</h2><div><ol><li>Eggplant parmesan was not bad tasting, but in no way authentic It came with a side of mushy looking frozen veggies and nondescript linguine.</li><li>My wife had overcooked linguine and I had overcooked chicken parmigiano with a side of overcooked linguine.</li><li>My wife had overcooked linguine and I had overcooked chicken parmigiano with a side of overcooked linguine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1213">Next</a></li>
</ul>