<% provide :title, 'Opinion Target 2615' %><h2>hot rice dishes<br />occurrence: 1</h2><div><ol><li>I got one of the hot rice dishes and the other people got some bento boxes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2616">Next</a></li>
</ul>