<% provide :title, 'Opinion Target 8963' %><h2>assortment of cheeses<br />occurrence: 1</h2><div><ol><li>You can order a veggie patty instead of meat too, or get an assortment of cheeses, veggies and sauces on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8962">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8964">Next</a></li>
</ul>