<% provide :title, 'Opinion Target 3774' %><h2>fruit shakes<br />occurrence: 1</h2><div><ol><li>Choose from the classic Pho, rice, vermicelli, soup, appetizers and beverages including the yummy fruit shakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3775">Next</a></li>
</ul>