<% provide :title, 'Opinion Target 1088' %><h2>chatime<br />occurrence: 4</h2><div><ol><li>The plaza is swarmed with a lot of food options so it 's always crowded, parking is atrocious there and the chatime here is quite small in comparison to others- on par with the Mississauga location I think, or possibly smaller.</li><li>Just like the original Toronto location on Dundas St, this chatime is a solid contender in the bubble tea world here.</li><li>Love chatime!</li><li>Whenever I come to chatime I always order a matcha latte or a matcha redbean milk tea with tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1089">Next</a></li>
</ul>