<% provide :title, 'Opinion Target 6685' %><h2>amba sauce<br />occurrence: 1</h2><div><ol><li>Whatever you order be sure to add the tangy amba sauce, so yum!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6686">Next</a></li>
</ul>