<% provide :title, 'Opinion Target 2910' %><h2>mango banana<br />occurrence: 1</h2><div><ol><li>I ordered the mango banana one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2911">Next</a></li>
</ul>