<% provide :title, 'Opinion Target 4343' %><h2>bread in water<br />occurrence: 1</h2><div><ol><li>That did n't sound particularly appealing to me ( bread in water ?), but I was pretty sure she meant broth, because afterwards, she told me it was sort of like soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4344">Next</a></li>
</ul>