<% provide :title, 'Opinion Target 7512' %><h2>chasu side dish<br />occurrence: 1</h2><div><ol><li>The chasu side dish, kalbi &amp; tonkasu are also fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7513">Next</a></li>
</ul>