<% provide :title, 'Opinion Target 6876' %><h2>raw garlic garnish<br />occurrence: 1</h2><div><ol><li>Also ordered the vinaigrette cucumber appetizer- TOO MUCH raw garlic garnish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6877">Next</a></li>
</ul>