<% provide :title, 'Opinion Target 2216' %><h2>regular baechu kimchi<br />occurrence: 1</h2><div><ol><li>Menu has changed somewhat, but still the same delicious ( huge) kimchi mandu, chapsal sundae, bae-kimchi ( white kimchi) and regular baechu kimchi and kkagdugi for panchan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2215">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2217">Next</a></li>
</ul>