<% provide :title, 'Opinion Target 1878' %><h2>appetizer side dishes<br />occurrence: 2</h2><div><ol><li>They are also stingy with their appetizer side dishes.</li><li>The portion of the appetizer side dishes was also perfect for one person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1877">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1879">Next</a></li>
</ul>