<% provide :title, 'Opinion Target 6004' %><h2>roasted beef and corned beef<br />occurrence: 1</h2><div><ol><li>Amazing roasted beef and corned beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6005">Next</a></li>
</ul>