<% provide :title, 'Opinion Target 6293' %><h2>Southern Fried Chicken Sliders<br />occurrence: 1</h2><div><ol><li>Despite our attempts to get some ' intel' on what to expect from the `` Southern Fried Chicken Sliders,'' the waitresses recommendation was quite disappointing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6294">Next</a></li>
</ul>