<% provide :title, 'Opinion Target 7997' %><h2>bi bim bap ( Mixed Rice )<br />occurrence: 1</h2><div><ol><li>Hence called bi bim bap ( Mixed Rice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7998">Next</a></li>
</ul>