<% provide :title, 'Opinion Target 2448' %><h2>laffa wrap<br />occurrence: 2</h2><div><ol><li>I have always gotten the laffa wrap at the Queen location and I was expecting the same thing, however when the food came I was extremely DISSAPPOINTED.</li><li>Personally, the laffa wrap was tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2447">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2449">Next</a></li>
</ul>