<% provide :title, 'Opinion Target 4453' %><h2>seafood hot pot<br />occurrence: 1</h2><div><ol><li>The seafood hot pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4454">Next</a></li>
</ul>