<% provide :title, 'Opinion Target 6174' %><h2>oil for sauce<br />occurrence: 1</h2><div><ol><li>Unless you like oil for sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6175">Next</a></li>
</ul>