<% provide :title, 'Opinion Target 3011' %><h2>fried ' Fire ' maki roll<br />occurrence: 1</h2><div><ol><li>Tried a fried ' Fire' maki roll and salmon sashimi ( plain I know- but I was rushed to order.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3012">Next</a></li>
</ul>