<% provide :title, 'Opinion Target 2565' %><h2>white wine saki sangria<br />occurrence: 1</h2><div><ol><li>I had the white wine saki sangria, the rose saki sangria, and the plum wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2566">Next</a></li>
</ul>