<% provide :title, 'Opinion Target 4914' %><h2>baba gannoush<br />occurrence: 1</h2><div><ol><li>What you should expect is things like: felafels, shwarma, baba gannoush, pickled turnips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4915">Next</a></li>
</ul>