<% provide :title, 'Opinion Target 1734' %><h2>tea flavour<br />occurrence: 2</h2><div><ol><li>The tea flavour is so weak I would have thought I had ordered milk water.</li><li>I was able to taste the tea flavour which i really like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1735">Next</a></li>
</ul>