<% provide :title, 'Opinion Target 1248' %><h2>apple pie<br />occurrence: 3</h2><div><ol><li>I do n't mind being called Hun and sweetheart by an elderly lady ... especially if that comes with a warm slab of apple pie.</li><li>I ordered an apple pie while thinking that this could be really good because it looked really good.</li><li>I should have asked for a refund ... because the apple pie was lack lustre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1249">Next</a></li>
</ul>