<% provide :title, 'Opinion Target 4564' %><h2>grilled chicken burger<br />occurrence: 1</h2><div><ol><li>I ordered the grilled chicken burger and surprisingly, the burger tasted better than the fries although it was n't anything spectacular.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4563">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4565">Next</a></li>
</ul>