<% provide :title, 'Opinion Target 5669' %><h2>fried chicken places<br />occurrence: 1</h2><div><ol><li>The sauces are still pretty good, but there are better fried chicken places along Yonge St. if you want better food quality.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5670">Next</a></li>
</ul>