<% provide :title, 'Opinion Target 7165' %><h2>iodized table salt<br />occurrence: 1</h2><div><ol><li>It was a bit lacking in salt and I did n't want to ruin my steak with a nasty iodized table salt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7166">Next</a></li>
</ul>