<% provide :title, 'Opinion Target 2035' %><h2>Lunch bento<br />occurrence: 2</h2><div><ol><li>Lunch bento were ok- the best being the salmon and beef teriyaki.</li><li>Lunch bento costs as low as $ 6, and the most expensive one for lunch is around $ 12.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2034">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2036">Next</a></li>
</ul>