<% provide :title, 'Opinion Target 1835' %><h2>chocolate mousse<br />occurrence: 2</h2><div><ol><li>For dessert i tried the chocolate mousse which was quite nice with a bitter green tea.</li><li>I 've been here twice in the past, and have sampled their crepes and chocolate mousse.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1834">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1836">Next</a></li>
</ul>