<% provide :title, 'Opinion Target 4666' %><h2>coconut baked rice<br />occurrence: 1</h2><div><ol><li>The phud thai and coconut baked rice were very disappointing in my opinion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4667">Next</a></li>
</ul>