<% provide :title, 'Opinion Target 1541' %><h2>mushroom salad<br />occurrence: 2</h2><div><ol><li>The warm mushroom salad was really good as was the cappuccino.</li><li>We went for a family reunion dinner and this place was such a surprise.Everything we ordered was so tasty, fresh and hot.From the mushroom salad to the lasagna to the pasta pescatore all were superb.I heartily recommend this place to any discerning lover of fine italian food.Please continue!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1542">Next</a></li>
</ul>