<% provide :title, 'Opinion Target 3112' %><h2>Black Sheep Pub<br />occurrence: 1</h2><div><ol><li>When the Black Sheep Pub closed years and years ago!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3111">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3113">Next</a></li>
</ul>