<% provide :title, 'Opinion Target 1260' %><h2>tasting food<br />occurrence: 3</h2><div><ol><li>Big portions Great tasting food Their beef dishes melt in your mouth too!</li><li>Nice vibe, great tasting food and quick service.</li><li>Small menu, limited options, but fast service, good tasting food which is decently priced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1259">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1261">Next</a></li>
</ul>