<% provide :title, 'Opinion Target 9207' %><h2>breaded batter<br />occurrence: 1</h2><div><ol><li>For the main I had the set course curry tiger shrimp dinner ( $ 10.50) which included miso soup, salad, steamed rice, a bowl of thick slightly spicy curry ( it was alright) and four pieces of breaded tiger shrimps which were okay- the breaded batter was too thick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9208">Next</a></li>
</ul>