<% provide :title, 'Opinion Target 5202' %><h2>garlic brick toast and Taiwanese fried chicken<br />occurrence: 1</h2><div><ol><li>My partner and I ordered a flavoured milk tea with tapioca, mango slush with lychee jelly, the garlic brick toast and Taiwanese fried chicken ( like popcorn chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5201">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5203">Next</a></li>
</ul>