<% provide :title, 'Opinion Target 1596' %><h2>mixed coffee<br />occurrence: 2</h2><div><ol><li>Best mixed coffee is Vanilla Bean Latte with soy and half the sugar.</li><li>The inconsistency is the quality of my mixed coffee is up and down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1595">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1597">Next</a></li>
</ul>