<% provide :title, 'Opinion Target 6764' %><h2>Coconut mushroom soup<br />occurrence: 1</h2><div><ol><li>We had two very large bowls of soup ( the Coconut mushroom soup was so comforting) and followed up with Spicy Fish and a beef dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6765">Next</a></li>
</ul>