<% provide :title, 'Opinion Target 759' %><h2>eggs benny<br />occurrence: 5</h2><div><ol><li>I had the eggs benny and it was horrible, runny and bland sauce, bad and under cooked homefries with worse service.</li><li>We both ordered the Eggs Benny.</li><li>Hotel rates not diner_ I 'll go back for the bacon and service First time i came eggs benny were awesome.</li><li>As always, if eggs benny is on the menu, I simply must try it!</li><li>Phenomenal eggs benny- the english muffin was crispy on the outside soft on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_758">Previous</a></li>
  <li class="next"><a href=".\opinion_target_760">Next</a></li>
</ul>