<% provide :title, 'Opinion Target 5681' %><h2>hot chicken<br />occurrence: 1</h2><div><ol><li>Their hot chicken is very spicy and tangy, making it hard to taste the chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5682">Next</a></li>
</ul>