<% provide :title, 'Opinion Target 2259' %><h2>yellow stucco decor<br />occurrence: 1</h2><div><ol><li>Cozy and warm place as soon as you entered the restaurant ... I think it is the yellow stucco decor that gives you a fuzzy warm feeling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2260">Next</a></li>
</ul>