<% provide :title, 'Opinion Target 1127' %><h2>yellow rice<br />occurrence: 3</h2><div><ol><li>The yellow rice in this store is great.</li><li>The yellow rice was actually soft, fluffy, and seasoned perfectly.</li><li>A giant portion of yummy yellow rice and house potatoes to accompany these large chunks of Lamb that were grilled to perfection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1128">Next</a></li>
</ul>