<% provide :title, 'Opinion Target 1033' %><h2>yam roll<br />occurrence: 3</h2><div><ol><li>The yummy yam roll and tataki attack roll are my favourites.</li><li>The yam roll is the best I 've ever had and it 's at such a great price too!</li><li>It 's not your average yam roll with a chunk of tempura yam in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1032">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1034">Next</a></li>
</ul>