<% provide :title, 'Opinion Target 2433' %><h2>tempura sauce<br />occurrence: 1</h2><div><ol><li>Also got tempura sauce taste like soy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2432">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2434">Next</a></li>
</ul>