<% provide :title, 'Opinion Target 3257' %><h2>steak connoisseur<br />occurrence: 1</h2><div><ol><li>My friend, a steak connoisseur who usually prefers the city 's finest ( Jacobs and Barbarians) actually rated his cut of meat a 3.5 out of 5 .... which I think is not too shabby for a place like the Miller!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3258">Next</a></li>
</ul>