<% provide :title, 'Opinion Target 4646' %><h2>Mediterranean Sea Bass<br />occurrence: 1</h2><div><ol><li>I actually found that my Mediterranean Sea Bass was the blandest in flavour, although I do n't think I 've ever had a whole fish before other than at a Chinese restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4647">Next</a></li>
</ul>