<% provide :title, 'Opinion Target 9302' %><h2>Pork Bone Soup )<br />occurrence: 1</h2><div><ol><li>3 out of the 6 of us ordered GamJaTang ( Pork Bone Soup).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9303">Next</a></li>
</ul>