<% provide :title, 'Opinion Target 7519' %><h2>potato flavour<br />occurrence: 1</h2><div><ol><li>It makes sense to not have a strong sweet potato flavour if they do n't put any artificial flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7520">Next</a></li>
</ul>