<% provide :title, 'Opinion Target 4698' %><h2>fish steak<br />occurrence: 1</h2><div><ol><li>The fish steak was crisply battered on the outside, but very tender on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4699">Next</a></li>
</ul>