<% provide :title, 'Opinion Target 6115' %><h2>bean chicken<br />occurrence: 1</h2><div><ol><li>Black bean chicken was the crowd pleaser that day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6114">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6116">Next</a></li>
</ul>