<% provide :title, 'Opinion Target 6297' %><h2>wait-staff<br />occurrence: 1</h2><div><ol><li>Ignored by all the wait-staff so I left.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6298">Next</a></li>
</ul>