<% provide :title, 'Opinion Target 6498' %><h2>tiger shrimp congee<br />occurrence: 1</h2><div><ol><li>Not a good sign. one of my favorite restaurants. great price and service, top quality food. my favorite dishes are spice and pepper squid, fried turnips, tiger shrimp congee, and the roasted pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6497">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6499">Next</a></li>
</ul>