<% provide :title, 'Opinion Target 4882' %><h2>staff dinner service<br />occurrence: 1</h2><div><ol><li>Having a busy restaurant is a blessing and not an excuse, they should staff dinner service appropriately.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4881">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4883">Next</a></li>
</ul>