<% provide :title, 'Opinion Target 1299' %><h2>Bún bò<br />occurrence: 3</h2><div><ol><li>I got takeout from this place and based on Dong L. ' s review, tried the Bún bò Hu.</li><li>The broth for the Bún bò Hu is thick and tasty and they give you a large portion of fresh veggie.</li><li>Ordered the bún riêu ( tomato broth with crab/shrimp paste) and bún bò Huê.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1300">Next</a></li>
</ul>