<% provide :title, 'Opinion Target 1938' %><h2>Chicken parm sandwich<br />occurrence: 2</h2><div><ol><li>I ordered the lasagna special while the girlfriend ordered a Chicken parm sandwich.</li><li>I may venture into a chicken parm sandwich next time ........... who knows ???</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1939">Next</a></li>
</ul>