<% provide :title, 'Opinion Target 1483' %><h2>szechuan chicken<br />occurrence: 2</h2><div><ol><li>The prawns with hot spicy ginger sauce and the szechuan chicken we ordered had no kick to them.</li><li>I 've had the chicken curry on steamed rice, the szechuan chicken over fried rice, and today the Singapore curried rice noodle with shrimp and pork ( minus the shrimp on request).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1482">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1484">Next</a></li>
</ul>