<% provide :title, 'Opinion Target 2623' %><h2>chicken pieces<br />occurrence: 1</h2><div><ol><li>The chicken pieces looked like it brined in something which made the pieces seem swelled/plumped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2624">Next</a></li>
</ul>