<% provide :title, 'Opinion Target 9008' %><h2>cajun<br />occurrence: 1</h2><div><ol><li>We ordered cajun dusted shrimp which was oily and not well prepared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9009">Next</a></li>
</ul>