<% provide :title, 'Opinion Target 5193' %><h2>fish and salmon<br />occurrence: 1</h2><div><ol><li>Special mixed seafood congee ( regular size) was enough for two, full of fresh- not frozen- fish ( white fish and salmon) plus scallops, shrimps and squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5192">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5194">Next</a></li>
</ul>