<% provide :title, 'Opinion Target 2860' %><h2>marinating sauce<br />occurrence: 1</h2><div><ol><li>Seeing the tomalley and roe just make us salivate even more and we could n't wait to give it a try =) The crab itself was pretty good, however the marinating sauce was a bit too ordinary.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2861">Next</a></li>
</ul>