<% provide :title, 'Opinion Target 8182' %><h2>fowl<br />occurrence: 1</h2><div><ol><li>The cherry on top is the fowl ( insert pun here) smell of everything being fermented/pickled.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8183">Next</a></li>
</ul>