<% provide :title, 'Opinion Target 2553' %><h2>chicken maki<br />occurrence: 1</h2><div><ol><li>Some of the chicken maki broke apart.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2552">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2554">Next</a></li>
</ul>