<% provide :title, 'Opinion Target 7147' %><h2>eggs Benedict sauce<br />occurrence: 1</h2><div><ol><li>The eggs Benedict sauce had no flavour and both the homefries I had and my wife had were soggy in the middle and burnt on the outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7146">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7148">Next</a></li>
</ul>