<% provide :title, 'Opinion Target 1037' %><h2>handrolls<br />occurrence: 3</h2><div><ol><li>Especially loved the sashimi and the handrolls are just bomb, then again, I do love me any type of sushi and its the closest one to my house so that 's a definite plus.</li><li>The handrolls were perfect and the nori was chewy at all.</li><li>Standout items were the handrolls and dynamite roll, etc. which were well balanced with very fresh, crisp nori wrappings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1038">Next</a></li>
</ul>