<% provide :title, 'Opinion Target 2890' %><h2>dine-in atmosphere<br />occurrence: 1</h2><div><ol><li>The dine-in atmosphere is nothing special, but really, you should n't be expecting much -- it 's in a pretty crummy strip mall.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2891">Next</a></li>
</ul>