<% provide :title, 'Opinion Target 9139' %><h2>fat content<br />occurrence: 1</h2><div><ol><li>The fat content was juicy and appealing for an appetizer ( but would be excessive with a whole bunch more if in a main course).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9138">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9140">Next</a></li>
</ul>