<% provide :title, 'Opinion Target 1561' %><h2>apple cinnamon butter cake<br />occurrence: 2</h2><div><ol><li>I got the fixed price brunch: cranberry juice to start, crabcake benedict main, and an apple cinnamon butter cake to finish.</li><li>The apple cinnamon butter cake, while a generous portion, was also way too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1562">Next</a></li>
</ul>