<% provide :title, 'Opinion Target 6161' %><h2>rice and water<br />occurrence: 1</h2><div><ol><li>A dish comes with rice and water is added to the bowl the rice is originally served is making a congee-esque dish ( not sure what it 's called but it 's tasty!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6162">Next</a></li>
</ul>