<% provide :title, 'Opinion Target 992' %><h2>dragon rolls<br />occurrence: 3</h2><div><ol><li>I love their dragon rolls ( tempura shrimp rolled inside) and their spicy salmon handrolls.</li><li>The chirasu sashimi, except for the red tuna ( odd), were quite thin, as well, the salmon on the dragon rolls were even thinner.</li><li>Their sushi is fresh and their dragon rolls are amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_993">Next</a></li>
</ul>