<% provide :title, 'Opinion Target 8996' %><h2>fried potatoes<br />occurrence: 1</h2><div><ol><li>They were okay, I did n't really want fried potatoes though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8995">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8997">Next</a></li>
</ul>