<% provide :title, 'Opinion Target 5403' %><h2>pan fried tofu with egg<br />occurrence: 1</h2><div><ol><li>I recommend the crabmeat and corn soup, the pan fried egg, onion, and chives appetizer, the mu shu chicken, the Cantonese chow mein, and the sizzling beef plate .... oh and if u like tofu get the pan fried tofu with egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5404">Next</a></li>
</ul>