<% provide :title, 'Opinion Target 6043' %><h2>Las Vegas roll<br />occurrence: 1</h2><div><ol><li>The Las Vegas roll was n't anything too special, I think.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6044">Next</a></li>
</ul>