<% provide :title, 'Opinion Target 7612' %><h2>pre-made soup base<br />occurrence: 1</h2><div><ol><li>My bbh was made with what tasted like pre-made soup base with not enough flavours ( the red was concentrated on one side of my bowl).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7613">Next</a></li>
</ul>