<% provide :title, 'Opinion Target 1241' %><h2>pizza oven<br />occurrence: 3</h2><div><ol><li>I 'm not sure if it 's a chef issue or a pizza oven issue or a supplier issue, but you just never know what you 're going to get.</li><li>During our meal 10 other patrons arrived ( 2 were children) Only one waiter, and one chef, tending the large pizza oven.</li><li>I 've been there a couple of times and the pizza oven was not working.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1242">Next</a></li>
</ul>