<% provide :title, 'Opinion Target 2612' %><h2>grilled tomatoes<br />occurrence: 1</h2><div><ol><li>The grilled tomatoes on the side were a great addition.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2613">Next</a></li>
</ul>