<% provide :title, 'Opinion Target 2549' %><h2>roast beef dinner<br />occurrence: 1</h2><div><ol><li>I chose the roast beef dinner ( you can see my picture).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2548">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2550">Next</a></li>
</ul>