<% provide :title, 'Opinion Target 1597' %><h2>Pub food<br />occurrence: 2</h2><div><ol><li>Pub food- most of it probably from frozen.</li><li>As someone who rarely drinks, the pub food is really important since that 's all I usually have.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1596">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1598">Next</a></li>
</ul>