<% provide :title, 'Opinion Target 2114' %><h2>wrappers<br />occurrence: 2</h2><div><ol><li>Five of the above-mentioned wrappers were served ( this is for 2 people and 2 duck legs, remember), along with four of the tiniest condiment dishes you can imagine, containing small amounts of cucumber, celery, shredded scallion ( green onion), and hoisin sauce.</li><li>The wrappers are likely the stuff you get from a chinese grocery store for $ 1-2 for a large pack, definitely not tasting like they were freshly made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2115">Next</a></li>
</ul>