<% provide :title, 'Opinion Target 3757' %><h2>Hot Spicy Spicy<br />occurrence: 1</h2><div><ol><li>Unfortunately, Hot Spicy Spicy though has a cute name, it really does not deliver.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3758">Next</a></li>
</ul>