<% provide :title, 'Opinion Target 8311' %><h2>dim sum ( xiaolongbao<br />occurrence: 1</h2><div><ol><li>The dim sum ( xiaolongbao, potstickers, pan cakes) were up to par with their usual quality- served hot and steamy and fairly tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8310">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8312">Next</a></li>
</ul>