<% provide :title, 'Opinion Target 4784' %><h2>beef gravy<br />occurrence: 1</h2><div><ol><li>They have their special ' red sauce' and beef gravy, which are pretty bomb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4785">Next</a></li>
</ul>