<% provide :title, 'Opinion Target 1868' %><h2>chilli turnip patties<br />occurrence: 2</h2><div><ol><li>Seafood chow mein, general Tao chicken, fried chilli turnip patties, spice and pepper salt squid, snow peas with garlic sauce- everything was amazing.</li><li>We also had a plate of the chilli turnip patties- yes they were as delish as the first time, and enough leftovers for at least a couple of lunches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1869">Next</a></li>
</ul>