<% provide :title, 'Opinion Target 4674' %><h2>Golden Curry Chicken.This dish<br />occurrence: 1</h2><div><ol><li>With the curry theme in mind, my next dish on the `` my fav 's'' list is the Golden Curry Chicken.This dish is actually the complete opposite, in terms of taste, of a panang sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4675">Next</a></li>
</ul>