<% provide :title, 'Opinion Target 9687' %><h2>Italian omelette<br />occurrence: 1</h2><div><ol><li>The Italian omelette was so tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9688">Next</a></li>
</ul>