<% provide :title, 'Opinion Target 923' %><h2>green onion chicken<br />occurrence: 5</h2><div><ol><li>But anyway, I really like their green onion chicken and most of the other sauces go well with the chicken too!</li><li>I ordered the green onion chicken with hot sauce on the side.</li><li>Definitely recommend the green onion chicken.</li><li>The size and the wait would probably be the only reason why it ` a 3 star and the over use of green onions on the green onion chicken.</li><li>Love the green onion chicken but their service can be better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_924">Next</a></li>
</ul>