<% provide :title, 'Opinion Target 7494' %><h2>ice-creams ( sesame<br />occurrence: 1</h2><div><ol><li>Some of the ice-creams ( sesame, green tea, almond pistachio) are also homemade, giving it a strong prominent flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7495">Next</a></li>
</ul>