<% provide :title, 'Opinion Target 2665' %><h2>dumpling choices<br />occurrence: 1</h2><div><ol><li>As the name implies, this is a dumpling house although I was looking forward to a bigger range of dumpling choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2666">Next</a></li>
</ul>