<% provide :title, 'Opinion Target 6046' %><h2>nigiri sushi combo<br />occurrence: 1</h2><div><ol><li>Had the sashimi and nigiri sushi combo for lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6047">Next</a></li>
</ul>