<% provide :title, 'Opinion Target 3593' %><h2>beef grilled<br />occurrence: 1</h2><div><ol><li>Beef Shawarma Sandwich- Shredded pieces of beef grilled on a rotating spit with fresh parsley, onions, turnips, pickles, tomatoes and tahini sauce wrapped in a pita Being a beef person, I was a little disappointed with this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3594">Next</a></li>
</ul>