<% provide :title, 'Opinion Target 2183' %><h2>ground beef kabobs<br />occurrence: 1</h2><div><ol><li>The hummos is to die for, and the ground beef kabobs are great ... the place is nothing to rave about but the food is great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2184">Next</a></li>
</ul>