<% provide :title, 'Opinion Target 3702' %><h2>chicken skewers & spring rolls<br />occurrence: 1</h2><div><ol><li>I strongly recommend their appetizers especially the chicken skewers &amp; spring rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3703">Next</a></li>
</ul>