<% provide :title, 'Opinion Target 4507' %><h2>chicken fettuccine<br />occurrence: 1</h2><div><ol><li>OMG the chicken fettuccine Alfredo here is to DIE for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4506">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4508">Next</a></li>
</ul>