<% provide :title, 'Opinion Target 2410' %><h2>portions of food<br />occurrence: 1</h2><div><ol><li>They tried to cut back on quality and good portions of food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2411">Next</a></li>
</ul>