<% provide :title, 'Opinion Target 7698' %><h2>ramen or soba noodle soups<br />occurrence: 1</h2><div><ol><li>While you should go for the sushi, the ramen or soba noodle soups are great too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7699">Next</a></li>
</ul>