<% provide :title, 'Opinion Target 5172' %><h2>bubble tea shops<br />occurrence: 1</h2><div><ol><li>Its bubble tea now tastes close to the Highway 7 standard, putting it among the best bubble tea shops in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5173">Next</a></li>
</ul>