<% provide :title, 'Opinion Target 3325' %><h2>sushi meal<br />occurrence: 1</h2><div><ol><li>I would recommend this restaurant for an affordable sushi meal at Yonge and Sheppard.:) The atmosphere of this place was nice and quiet although we did go at an odd hour so no one else was inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3326">Next</a></li>
</ul>