<% provide :title, 'Opinion Target 3783' %><h2>accompanying vegetables<br />occurrence: 1</h2><div><ol><li>The accompanying vegetables are fresh and generous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3784">Next</a></li>
</ul>