<% provide :title, 'Opinion Target 5693' %><h2>scenery<br />occurrence: 1</h2><div><ol><li>The scenery here is very mature; almost to the point where I felt kind of guilty for having on my snap back hat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5694">Next</a></li>
</ul>