<% provide :title, 'Opinion Target 1226' %><h2>sashimi pieces<br />occurrence: 3</h2><div><ol><li>Even though the sashimi pieces were smaller than other places, it tasted great.</li><li>The sashimi pieces were also cut into varying thickness ... some were big chunks and others were thin.</li><li>I like the food here; its hot food is especially good, sashimi pieces are large, and the menu has a great deal of variety.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1227">Next</a></li>
</ul>