<% provide :title, 'Opinion Target 4014' %><h2>jerk pork dinner<br />occurrence: 1</h2><div><ol><li>Got the jerk pork dinner and it was fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4013">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4015">Next</a></li>
</ul>