<% provide :title, 'Opinion Target 6496' %><h2>hot deep fried battered banana with toffee<br />occurrence: 1</h2><div><ol><li>Interesting way of serving, hot deep fried battered banana with toffee, soaked into a big bowl of ice water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6497">Next</a></li>
</ul>