<% provide :title, 'Opinion Target 7647' %><h2>root beer<br />occurrence: 1</h2><div><ol><li>The root beer and vanilla smoothie was okay, nothing to really talk about as I 've had it a few times in my life.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7648">Next</a></li>
</ul>