<% provide :title, 'Opinion Target 2042' %><h2>xiaolongbao<br />occurrence: 2</h2><div><ol><li>The dim sum ( xiaolongbao, potstickers, pan cakes) were up to par with their usual quality- served hot and steamy and fairly tasty.</li><li>The Peking duck was super delicious and the xiaolongbao is a good choice to for Asian Legend.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2043">Next</a></li>
</ul>