<% provide :title, 'Opinion Target 3061' %><h2>Beef rice noodles<br />occurrence: 1</h2><div><ol><li>Beef rice noodles: very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3060">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3062">Next</a></li>
</ul>