<% provide :title, 'Opinion Target 5729' %><h2>ice cream flavors<br />occurrence: 1</h2><div><ol><li>The fried bananas with ice cream was served with tropical ice cream flavors- I recommend the coconut!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5730">Next</a></li>
</ul>