<% provide :title, 'Opinion Target 4189' %><h2>chicken shawarma with rice<br />occurrence: 1</h2><div><ol><li>So when we 're around town we stop by for takeout before heading home to grab their chicken shawarma with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4190">Next</a></li>
</ul>