<% provide :title, 'Opinion Target 7412' %><h2>sauteed soup<br />occurrence: 1</h2><div><ol><li>Tender beef and fresh mince green peppers &amp; yummy sauteed soup, little bit 2 greasy though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7413">Next</a></li>
</ul>