<% provide :title, 'Opinion Target 6099' %><h2>hand pulled noodles<br />occurrence: 1</h2><div><ol><li>This place is all about the Lamb and beef dishes, hand pulled noodles and fresh naan ( pancake).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6098">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6100">Next</a></li>
</ul>