<% provide :title, 'Opinion Target 1985' %><h2>cafe<br />occurrence: 2</h2><div><ol><li>The cafe is pretty small, but I like the atmosphere of it.</li><li>Lots of variety, bagels, breads, challah, Also a very nice cosy cafe area with different breakfast options!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1986">Next</a></li>
</ul>