<% provide :title, 'Opinion Target 2852' %><h2>matzo ball soup<br />occurrence: 1</h2><div><ol><li>Everything we had was very tasty, including: matzo ball soup, corned beef sandwich, potato knish, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2853">Next</a></li>
</ul>