<% provide :title, 'Opinion Target 3601' %><h2>Thai Spicy<br />occurrence: 1</h2><div><ol><li>I had the Thai Spicy Noodle and the dish was a little greasy especially the eggplant and was not spicy enough for me or my co-worker who ordered the same dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3602">Next</a></li>
</ul>