<% provide :title, 'Opinion Target 6070' %><h2>chicken tempura<br />occurrence: 1</h2><div><ol><li>I enquired about the chicken tempura dinner as well and I was told next time to know what I intended to order ahead of time because he had others calling in.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6071">Next</a></li>
</ul>