<% provide :title, 'Opinion Target 3517' %><h2>beef teriyaki with udon<br />occurrence: 1</h2><div><ol><li>For example the beef teriyaki with udon was mediocre despite the rave review here on it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3518">Next</a></li>
</ul>