<% provide :title, 'Opinion Target 2221' %><h2>crab and corn soup<br />occurrence: 2</h2><div><ol><li>We ordered the crab and corn soup.</li><li>I highly recommend the crab and corn soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2220">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2222">Next</a></li>
</ul>