<% provide :title, 'Opinion Target 7367' %><h2>Green tea shaved ice ( 4.5/5 )<br />occurrence: 1</h2><div><ol><li>Green tea shaved ice ( 4.5/5): If you 've never had shaved ice before then give it a shot!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7368">Next</a></li>
</ul>