<% provide :title, 'Opinion Target 9632' %><h2>lamb korma<br />occurrence: 1</h2><div><ol><li>I always order lamb korma at any Indian restaurant, I 've been to a dozen of them and it 's never been as bad as at Agra.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9631">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9633">Next</a></li>
</ul>