<% provide :title, 'Opinion Target 6701' %><h2>Falafal Laffa<br />occurrence: 1</h2><div><ol><li>My boyfriend and I are vegetarians and get the Grilled Veggie, Falafal Laffa Wrap on most occasions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6700">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6702">Next</a></li>
</ul>