<% provide :title, 'Opinion Target 1504' %><h2>boneless goat roti<br />occurrence: 2</h2><div><ol><li>Went over for lunch ( 12pm) and bought boneless goat roti for $ 9.</li><li>Ordered a spinach roti, a boneless goat roti, and a shrimp roti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1503">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1505">Next</a></li>
</ul>