<% provide :title, 'Opinion Target 7541' %><h2>lychee and banana crepe<br />occurrence: 1</h2><div><ol><li>I had the lychee and banana crepe which was surprisingly really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7542">Next</a></li>
</ul>