<% provide :title, 'Opinion Target 2592' %><h2>house lasanga<br />occurrence: 1</h2><div><ol><li>I got the house lasanga as my main and it was pure cheesy and creamy goodness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2593">Next</a></li>
</ul>