<% provide :title, 'Opinion Target 7428' %><h2>osso bucco with pasta<br />occurrence: 1</h2><div><ol><li>I ordered the osso bucco with pasta which took half an hour to arrive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7429">Next</a></li>
</ul>