<% provide :title, 'Opinion Target 4648' %><h2>turkey burgers<br />occurrence: 1</h2><div><ol><li>I must ask for a little taste before I decide whether to buy salads, vegetables, turkey burgers etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4649">Next</a></li>
</ul>