<% provide :title, 'Opinion Target 1825' %><h2>avocado shakes<br />occurrence: 2</h2><div><ol><li>From all the places I 've been to so far, this place has the best avocado shakes ( $ 3).</li><li>Avocado Shakes- The reaction I get from most people is that avocado shakes ca n't be good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1824">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1826">Next</a></li>
</ul>