<% provide :title, 'Opinion Target 7022' %><h2>atmospher<br />occurrence: 1</h2><div><ol><li>The atmospher may seems little lousy but the food are neat and high quality.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7023">Next</a></li>
</ul>