<% provide :title, 'Opinion Target 2425' %><h2>spring onion pan cakes<br />occurrence: 2</h2><div><ol><li>We ordered xiaolongbao ( mini steamed soup buns with pork), potstickers, spring onion pan cakes, kai lan with ginger, Shanghai-style noodles, and a ginger and chicken fried rice.</li><li>The spring onion pan cakes are the thin variety- not the puffy ones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2426">Next</a></li>
</ul>