<% provide :title, 'Opinion Target 6727' %><h2>baked flatbread<br />occurrence: 1</h2><div><ol><li>The kashke-bademjan: grilled eggplant with whipped whey dip and herbs is the best one I 've had in the city and tastes great with the in-house baked flatbread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6728">Next</a></li>
</ul>