<% provide :title, 'Opinion Target 2016' %><h2>menu list<br />occurrence: 2</h2><div><ol><li>The menu list is very small and little bit side dishes not many options as the other ones I 've been to.</li><li>And the filling is delectable. ( always eat these when hot ' cause it does n't taste good when cold) B e e f B r i s k e t N o o d l e- Another no brainer on the menu list.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2017">Next</a></li>
</ul>