<% provide :title, 'Opinion Target 5973' %><h2>salmon avocado salad<br />occurrence: 1</h2><div><ol><li>We ordered a salmon avocado salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5974">Next</a></li>
</ul>