<% provide :title, 'Opinion Target 805' %><h2>booth<br />occurrence: 4</h2><div><ol><li>I stood at the front door for awhile waiting to be seated, and finally someone came by and brought us to a booth. ( Most booth were filled with people) Service-waitress 5/5 Very good service and attentive.</li><li>The incredibly friendly staff was able to seat me and my date right away, and gave us a nice cozy booth at the back of the restaurant.</li><li>I like the booth I was in.</li><li>It 's a slightly small restaurant, but we had a nice little booth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_804">Previous</a></li>
  <li class="next"><a href=".\opinion_target_806">Next</a></li>
</ul>