<% provide :title, 'Opinion Target 1344' %><h2>yam maki<br />occurrence: 3</h2><div><ol><li>Their cooked dishes ( teriyaki chicken, teriyaki salmon, etc.) are not too special but what really impresses me is their yam maki.</li><li>Their yam maki is a must-try.</li><li>While they have a daily special on their lunch menu, I always go for the yam maki because it is delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1345">Next</a></li>
</ul>