<% provide :title, 'Opinion Target 4542' %><h2>Korean waitress<br />occurrence: 1</h2><div><ol><li>Once everyone arrived at the restaurant, we were greeted by a very friendly Korean waitress.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4543">Next</a></li>
</ul>