<% provide :title, 'Opinion Target 6011' %><h2>Japanese Egg<br />occurrence: 1</h2><div><ol><li>Portion-wise, it 's pretty big, and a nice amount of Sashimi ranging from mackerel, to salmon, to tamago ( Japanese Egg).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6012">Next</a></li>
</ul>