<% provide :title, 'Opinion Target 3913' %><h2>garlic rice dish<br />occurrence: 1</h2><div><ol><li>We sat down placed our orders, I took the beef and garlic rice dish, my friend took a Korean beef steak dish, and the third guy took a shrimp and rice dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3914">Next</a></li>
</ul>