<% provide :title, 'Opinion Target 7570' %><h2>cream and red bean<br />occurrence: 1</h2><div><ol><li>The cake was filled with spongecake, whip cream and red bean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7571">Next</a></li>
</ul>