<% provide :title, 'Opinion Target 1857' %><h2>front doors<br />occurrence: 2</h2><div><ol><li>Only thing that is sad to see is how they are an italian restaurant but have the front doors to the restaurant painted as the italian flag- but backwards.</li><li>After we parked we could n't find the restaurant ... and walked pass the front doors of this place a few times because they do n't have an Ichiban sign on the front!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1856">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1858">Next</a></li>
</ul>