<% provide :title, 'Opinion Target 2171' %><h2>BBQ Lamb Chop<br />occurrence: 2</h2><div><ol><li>BBQ Lamb Chop.</li><li>My recommendations are order the leg of lamb, BBQ lamb chop if you are a medium sized group and balance out the rest of the meal with other items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2172">Next</a></li>
</ul>