<% provide :title, 'Opinion Target 4900' %><h2>eel rice pizza<br />occurrence: 1</h2><div><ol><li>Liked the eel rice pizza, very nice flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4901">Next</a></li>
</ul>