<% provide :title, 'Opinion Target 4200' %><h2>chicken quality<br />occurrence: 1</h2><div><ol><li>However, the chicken quality was better than Asia Station.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4201">Next</a></li>
</ul>