<% provide :title, 'Opinion Target 2926' %><h2>fish egg & Japanese mayo<br />occurrence: 1</h2><div><ol><li>Spider roll ( $ 10.95)- deep fried soft shell crab, avocado, cucumber, flying fish egg &amp; Japanese mayo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2927">Next</a></li>
</ul>