<% provide :title, 'Opinion Target 1602' %><h2>dill pickle<br />occurrence: 2</h2><div><ol><li>The meat is sandwiched between a slightly toasted white sub roll and comes accompanied with lettuce, tomatoes, slices of dill pickle, and tahini sauce.</li><li>I also had a side of cucumber salad and a dill pickle, which I did n't particularly enjoy, but that 's on me- just not for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1603">Next</a></li>
</ul>