<% provide :title, 'Opinion Target 6714' %><h2>Greek salad has iceberg lettuce and garden salad<br />occurrence: 1</h2><div><ol><li>Greek salad has iceberg lettuce and garden salad comes with Thousand Island dressing FYI.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6715">Next</a></li>
</ul>