<% provide :title, 'Opinion Target 1902' %><h2>steamed pork dumplings<br />occurrence: 2</h2><div><ol><li>Popular items are the steamed pork dumplings and the green onion pancake.</li><li>I highly recommend the steamed pork dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1903">Next</a></li>
</ul>