<% provide :title, 'Opinion Target 1565' %><h2>granola<br />occurrence: 2</h2><div><ol><li>Oh and the brunch menu ... nothing on the sweet side ( pancakes, waffles, fruit salad, oatmeal, granola and yoghurt ...) which is always challenging for those of us not into eggs.</li><li>However, it did get a little dry in the middle towards the end with the granola and cake pieces after all the ice cream is finished.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1566">Next</a></li>
</ul>