<% provide :title, 'Opinion Target 7140' %><h2>Pollo<br />occurrence: 1</h2><div><ol><li>My friend ordered `` Steak All Italian'' and I ordered the `` Pollo Balsamico'' we shared a side `` Tuscan Fries'' and 1/2 liter of their finest vino We both enjoyed our meal very much, they were extremely tasty and we found the sandwich to be a huge size.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7141">Next</a></li>
</ul>