<% provide :title, 'Opinion Target 4743' %><h2>dinner rush<br />occurrence: 1</h2><div><ol><li>It might help to note that this TRIP was actually for a pre-dinner snack around 4pm so traffic and patrons were limited to a few as it 's neither the lunch or dinner rush that other reviewers have had their experience with.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4742">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4744">Next</a></li>
</ul>