<% provide :title, 'Opinion Target 6891' %><h2>blackberry pastry<br />occurrence: 1</h2><div><ol><li>Also, on my birthday, they presented me with an absolutely delicious blackberry pastry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6890">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6892">Next</a></li>
</ul>