<% provide :title, 'Opinion Target 5399' %><h2>mu shu chicken<br />occurrence: 1</h2><div><ol><li>I recommend the crabmeat and corn soup, the pan fried egg, onion, and chives appetizer, the mu shu chicken, the Cantonese chow mein, and the sizzling beef plate .... oh and if u like tofu get the pan fried tofu with egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5400">Next</a></li>
</ul>