<% provide :title, 'Opinion Target 9596' %><h2>unsliced<br />occurrence: 1</h2><div><ol><li>I took it for $ 3.50 unsliced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9595">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9597">Next</a></li>
</ul>