<% provide :title, 'Opinion Target 2092' %><h2>hot wings<br />occurrence: 2</h2><div><ol><li>The hot wings were not very hot, but they were nice and not overly saucy.</li><li>Their hot wings however, are not very hot at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2093">Next</a></li>
</ul>