<% provide :title, 'Opinion Target 5972' %><h2>items<br />occurrence: 1</h2><div><ol><li>There are so many interesting menu items I could have chosen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5973">Next</a></li>
</ul>