<% provide :title, 'Opinion Target 6038' %><h2>jerk staff<br />occurrence: 1</h2><div><ol><li>The jerk staff always mess up the order, I asked for spicy chicken and they load it with sweet and sour sauce ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6039">Next</a></li>
</ul>