<% provide :title, 'Opinion Target 2247' %><h2>Coconut Fresh Fruit Sago<br />occurrence: 1</h2><div><ol><li>The Coconut Fresh Fruit Sago ( $ 4.79) is a nice surprise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2248">Next</a></li>
</ul>