<% provide :title, 'Opinion Target 3187' %><h2>scallop cacciatore<br />occurrence: 1</h2><div><ol><li>I got a pasta dish it was called shrimp and scallop cacciatore which is good except my dumbass thought it was a cream dish but it was a tomato sauce dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3188">Next</a></li>
</ul>