<% provide :title, 'Opinion Target 7134' %><h2>Salmon Tataki Rolls<br />occurrence: 1</h2><div><ol><li>3.Tuna &amp; Salmon Tataki Rolls in Yuzu Sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7135">Next</a></li>
</ul>