<% provide :title, 'Opinion Target 4061' %><h2>oregano<br />occurrence: 1</h2><div><ol><li>I had a pozole ( spicey stewed pork, corn soup), it was a good portion as it came with a fried tortilla with sour cream, and all the condiments to put into the soup ( radish, lettuce, oregano, cayenne pepper powder, onions) my husband had the combo which came with an enchilada, a burrito, and refried beans in a taco basket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4060">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4062">Next</a></li>
</ul>