<% provide :title, 'Opinion Target 5806' %><h2>tuna crepe<br />occurrence: 1</h2><div><ol><li>I especially love their brown crepes and tuna crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5805">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5807">Next</a></li>
</ul>