<% provide :title, 'Opinion Target 4987' %><h2>dessert Ace<br />occurrence: 1</h2><div><ol><li>For dessert Ace Bakery Cafe sells a small selection of Dufflet 's squares and tarts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4988">Next</a></li>
</ul>