<% provide :title, 'Opinion Target 3711' %><h2>wine choices<br />occurrence: 1</h2><div><ol><li>I came with a large party and it was thoroughly enjoyable- good wine choices, hearty food, helpful service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3712">Next</a></li>
</ul>