<% provide :title, 'Opinion Target 3387' %><h2>suliko<br />occurrence: 1</h2><div><ol><li>So ... maybe once or twice a month is better for your cholesterol. its ok, but honestly not as good as suliko ( see my review) which has become the benchmark for CIS restaurants in north york. the service is slow.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3388">Next</a></li>
</ul>