<% provide :title, 'Opinion Target 5257' %><h2>gnocchi and rigatoni a la vodka<br />occurrence: 1</h2><div><ol><li>We love the escargot, gnocchi and rigatoni a la vodka.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5258">Next</a></li>
</ul>