<% provide :title, 'Opinion Target 6205' %><h2>BCD tofu<br />occurrence: 1</h2><div><ol><li>We both love BCD tofu house in NYC and was hoping this place would be similar but not a chance.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6204">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6206">Next</a></li>
</ul>