<% provide :title, 'Opinion Target 3190' %><h2>chicken doner and chicken kebab<br />occurrence: 1</h2><div><ol><li>Between us we had the beef doner, chicken doner and chicken kebab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3191">Next</a></li>
</ul>