<% provide :title, 'Opinion Target 859' %><h2>carbonara<br />occurrence: 4</h2><div><ol><li>We had calamari, carbonara and Napoli pizza ...</li><li>Soup was too salty, their carbonara is too bland ( with nothing in it, just pasta and milk/cream) and the lasagna was okay but the presentation was n't really nice.</li><li>The carbonara was very good as well.</li><li>I love the carbonara!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_860">Next</a></li>
</ul>