<% provide :title, 'Opinion Target 1070' %><h2>hot dishes<br />occurrence: 4</h2><div><ol><li>The hot dishes were n't great either.</li><li>The hot dishes were of lesser quality and it was a disappointment.</li><li>The server hands you a few order sheets, and you mark down the quantity of each item desired, whether it 's sushi, appetizers, soups, noodles, hot dishes, etc., and they make everything to order.</li><li>Their hot dishes are also very underwhelming.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1071">Next</a></li>
</ul>