<% provide :title, 'Opinion Target 9214' %><h2>mixed tempura rice<br />occurrence: 1</h2><div><ol><li>It came with, miso soup, salad, 3 pcs California roll, 3 pcs Salmon roll, chicken Tempura, nice crunchy broccoli, mixed tempura rice and a small pasta dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9213">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9215">Next</a></li>
</ul>