<% provide :title, 'Opinion Target 2366' %><h2>doughnuts<br />occurrence: 1</h2><div><ol><li>They make the icecaps fast and runny, doughnuts are good obviously coz they put it in the bag.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2367">Next</a></li>
</ul>