<% provide :title, 'Opinion Target 2426' %><h2>fish egg<br />occurrence: 1</h2><div><ol><li>Had: Mizuki roll ( 10.95)- torched salmon on top of chopped white tuna, crabmeat &amp; fish egg with Japanese spicy sauce and sweet sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2427">Next</a></li>
</ul>