<% provide :title, 'Opinion Target 2930' %><h2>coriander<br />occurrence: 1</h2><div><ol><li>I tried their tom yum soup, which was actually the best thing I had there ( minus the coriander- which I hate).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2931">Next</a></li>
</ul>