<% provide :title, 'Opinion Target 1382' %><h2>Hot foods<br />occurrence: 2</h2><div><ol><li>Hot foods are pretty good on the most part.</li><li>The hot foods were OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1383">Next</a></li>
</ul>