<% provide :title, 'Opinion Target 2430' %><h2>ramens<br />occurrence: 1</h2><div><ol><li>My Orders: Salmon bento ( ok), Spicy Beef Ramen ( do n't buy their ramens ...)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2429">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2431">Next</a></li>
</ul>