<% provide :title, 'Opinion Target 2520' %><h2>sushi fare<br />occurrence: 1</h2><div><ol><li>The menus were fairly substantial, offering everything from cooked food ( yakitori), noodle soups, the standard sushi fare, and even a few Korean dishes ( bulgogi, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2521">Next</a></li>
</ul>