<% provide :title, 'Opinion Target 2243' %><h2>sago<br />occurrence: 1</h2><div><ol><li>The sago are a little crumbled together but is quite acceptable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2244">Next</a></li>
</ul>