<% provide :title, 'Opinion Target 1213' %><h2>powder<br />occurrence: 3</h2><div><ol><li>I could n't taste the powder .... def not a dodgy bbt shop:).</li><li>Taro milk tea with pearl drink had very grainy powder texture, and tasted like pudding instead of bubble tea drink ?</li><li>I could taste the different, the flavours are crisp/strong/ and fresh and I like the fact they dont use powder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1214">Next</a></li>
</ul>