<% provide :title, 'Opinion Target 7845' %><h2>Dark wood booths<br />occurrence: 1</h2><div><ol><li>Dark wood booths, comfortable seating and very clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7846">Next</a></li>
</ul>