<% provide :title, 'Opinion Target 4691' %><h2>house special stir fried noodle and<br />occurrence: 1</h2><div><ol><li>What 's so funny is that we ordered the sweet sour soup, the house special stir fried noodle and.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4690">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4692">Next</a></li>
</ul>