<% provide :title, 'Opinion Target 1312' %><h2>kimchee<br />occurrence: 3</h2><div><ol><li>The tofu is silky soft in a rich flavourful soup, the kimchee has a satisfying kick, and ouuu I love the marinated bean sprouts!</li><li>They always give you 6 or so side dishes, soy beans, kimchee, sprouts, sweet soy potatoes, and some other varieties.</li><li>Let me start off by saying that you must always order the kimchee soup with what ever you 're having.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1313">Next</a></li>
</ul>