<% provide :title, 'Opinion Target 8235' %><h2>server/cook<br />occurrence: 1</h2><div><ol><li>Honestly it depends on the time of the day, number of customers present, or I guess the mood of the server/cook ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8236">Next</a></li>
</ul>