<% provide :title, 'Opinion Target 2117' %><h2>curry dishes<br />occurrence: 2</h2><div><ol><li>I felt the portions could be slightly bigger for the curry dishes.</li><li>I did n't enjoy the tastes of either of the curry dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2118">Next</a></li>
</ul>