<% provide :title, 'Opinion Target 3228' %><h2>chocolate dipped marzipan loaf<br />occurrence: 1</h2><div><ol><li>The also have a great assortment of imported sweets, and in November they bring in a great and inexpensive chocolate dipped marzipan loaf.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3229">Next</a></li>
</ul>