<% provide :title, 'Opinion Target 2292' %><h2>Caesar<br />occurrence: 2</h2><div><ol><li>The Caesar was easily the best I 've had, just enough dressing to wet the leaves but no clumps, just enough cheese and garnish ( bacon) to dress the dish up.</li><li>My wife said the Caesar was creamy and a hint of vinegar just like how she wants it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2291">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2293">Next</a></li>
</ul>