<% provide :title, 'Opinion Target 6488' %><h2>lai pai<br />occurrence: 1</h2><div><ol><li>The only real critique I had was the `` la pi'' ( mandarin) or `` lai pai'' ( cantonese)- mung bean flat noodles served with cucumber and peanut sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6487">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6489">Next</a></li>
</ul>