<% provide :title, 'Opinion Target 4373' %><h2>matcha redbean milk tea with tapioca<br />occurrence: 1</h2><div><ol><li>Whenever I come to chatime I always order a matcha latte or a matcha redbean milk tea with tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4374">Next</a></li>
</ul>