<% provide :title, 'Opinion Target 8583' %><h2>soy potatoes<br />occurrence: 1</h2><div><ol><li>They always give you 6 or so side dishes, soy beans, kimchee, sprouts, sweet soy potatoes, and some other varieties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8584">Next</a></li>
</ul>