<% provide :title, 'Opinion Target 9626' %><h2>Chicken Pakoras<br />occurrence: 1</h2><div><ol><li>Non Veg App Platter- Reshmi Kabob, Chicken Pakoras, Veggie Pakoras, Samosa, and a touch of salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9627">Next</a></li>
</ul>