<% provide :title, 'Opinion Target 6631' %><h2>moon<br />occurrence: 1</h2><div><ol><li>Stinginess .. the owners give you one napkin .. if you ask for more they act as though your asking for the moon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6632">Next</a></li>
</ul>