<% provide :title, 'Opinion Target 2235' %><h2>xo sauce pork neck rice<br />occurrence: 1</h2><div><ol><li>My friend and I ordered- steamed xo sauce pork neck rice: a little bland, and came with a bowl of cooked lettuce in soy sauce ...- stinky hot pot: really good, with intestines, pigs blood, enokie mushrooms, fish balls, and fish cake- mixed vegetables and tofu dry pot: it was okay- herbal essence jelly in coconut milk: awesome- mango freeze: she said it was awesome The decor is nice, the service is unfriendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2236">Next</a></li>
</ul>