<% provide :title, 'Opinion Target 6747' %><h2>dinosaur<br />occurrence: 1</h2><div><ol><li>Upon dissection, the dinosaur sized rolls may be attributed to the tamago ( egg) that is stuffed inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6748">Next</a></li>
</ul>