<% provide :title, 'Opinion Target 7299' %><h2>Beef Haleem<br />occurrence: 1</h2><div><ol><li>Beef Haleem- I love Haleem.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7300">Next</a></li>
</ul>