<% provide :title, 'Opinion Target 6833' %><h2>lobster stir fry<br />occurrence: 1</h2><div><ol><li>We had the fish maw soup, crispy roasted pork, and lobster stir fry with green onions and ginger to name a few.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6834">Next</a></li>
</ul>