<% provide :title, 'Opinion Target 6718' %><h2>seafood dak gal bee<br />occurrence: 1</h2><div><ol><li>The fried rice aside, for two portions of seafood dak gal bee, there was only 1 mussel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6719">Next</a></li>
</ul>