<% provide :title, 'Opinion Target 6826' %><h2>old Cantonese cuisine<br />occurrence: 1</h2><div><ol><li>Dinner menu is the same old Cantonese cuisine with the addition of some abalone and shark fin soup ( knowing that some are morally against it, I 'm pointing it out).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6825">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6827">Next</a></li>
</ul>