<% provide :title, 'Opinion Target 9271' %><h2>appetizer tray with olives<br />occurrence: 1</h2><div><ol><li>The appetizer tray with olives, cottage cheese, and pickles was about a third of the portion we received prior to the new owners.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9272">Next</a></li>
</ul>