<% provide :title, 'Opinion Target 6554' %><h2>chocolate icing<br />occurrence: 1</h2><div><ol><li>Do n't remember what it was called, but it had a almond mouse filling, cruchy cake centre, and chocolate icing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6553">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6555">Next</a></li>
</ul>