<% provide :title, 'Opinion Target 6411' %><h2>Chicken & Duck congee<br />occurrence: 1</h2><div><ol><li>I 'm a big fan of the Chicken &amp; Duck congee ( 1 bowl should feed 3-4 people).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6410">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6412">Next</a></li>
</ul>