<% provide :title, 'Opinion Target 1315' %><h2>Pescatore Alla Marinara<br />occurrence: 3</h2><div><ol><li>We also ordered the Pescatore Alla Marinara which could have been a little more fresh but overall very good.</li><li>I had the pescatore alla marinara, and it was delicious.</li><li>The right amount of sweet and salty to get our appetite going;) Then I ordered the Pescatore Alla Marinara which had Shrimp, calamari, clams, salmon &amp; mussels with linguine pasta, all tossed in marinara sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1316">Next</a></li>
</ul>