<% provide :title, 'Opinion Target 3383' %><h2>lula kebab<br />occurrence: 1</h2><div><ol><li>I think lula kebab, rack of lamb, chicken kebab is the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3384">Next</a></li>
</ul>