<% provide :title, 'Opinion Target 2726' %><h2>Pepperoni Bacon pizza<br />occurrence: 1</h2><div><ol><li>Usually we order a Large Pepperoni Bacon pizza, well done/crispy and every single time it has been a 10/10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2727">Next</a></li>
</ul>