<% provide :title, 'Opinion Target 7220' %><h2>dim-sum dumplings<br />occurrence: 1</h2><div><ol><li>Deep fried chicken wings, soggy stir-fries, appalling dim-sum dumplings ( they are truly heinous), and the usual variety of `` asian'' buffet foods that you 'd normally find at a Mandarin just with less selection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7221">Next</a></li>
</ul>