<% provide :title, 'Opinion Target 5737' %><h2>Chinese sausage fried rice<br />occurrence: 1</h2><div><ol><li>Fav dishes: aforementioned Yaka Mein, steamed pork, sesame/butterfly shrimp, lobster sauce ( order it as a side without the shrimp to save a bit of $ $), Chinese sausage fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5736">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5738">Next</a></li>
</ul>