<% provide :title, 'Opinion Target 1056' %><h2>ginseng<br />occurrence: 3</h2><div><ol><li>My food came out a delicious dish with a hot, steaming, a small chicken stuffed with rice, ginseng, garlic, and jujube.</li><li>The chicken was very tender and soft but the ginseng was very subtle unless you get to the sticky rice filling where you find the ginseng, korean date, and chestnut.</li><li>Things like how good the ginseng they used in the soup, now they no longer say anything about it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1057">Next</a></li>
</ul>