<% provide :title, 'Opinion Target 4784' %><h2>takeout counter<br />occurrence: 1</h2><div><ol><li>There must be something wrong with the ventilation; on cold days the steam from the kitchen can fill the whole place including the takeout counter so much you can barely see With all of these things considered I say ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4785">Next</a></li>
</ul>