<% provide :title, 'Opinion Target 5407' %><h2>pancake with chives<br />occurrence: 1</h2><div><ol><li>Their pancake with chives are very well done, not oily at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5408">Next</a></li>
</ul>