<% provide :title, 'Opinion Target 1325' %><h2>taters<br />occurrence: 3</h2><div><ol><li>The taters are pretty salty; the coleslaw is salty as well.</li><li>I noticed a sign behind the front door that showed TODAY 'S SPECIAL, 2 Piece, Taters, Pop for $ 5.99 but I 'm not sure if it 's just Today Tuesday.</li><li>The taters were n't salted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1326">Next</a></li>
</ul>