<% provide :title, 'Opinion Target 1178' %><h2>cucumbers<br />occurrence: 3</h2><div><ol><li>Not to mention the cucumbers are mushy and gone bad.</li><li>Salad Shirazi ( cucumbers, tomato, onions, dry mint, S/P with lemon/olive oil dressing) please do n't ruin the salad by using lemon juice from a bottle!</li><li>On the weekends, there were a few times that the cucumbers looked a little frosty/frozen but this has n't been the case in the last few months -- maybe there is higher cucumber turnover or the restaurant has made more of an effort to restock fresh veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1179">Next</a></li>
</ul>