<% provide :title, 'Opinion Target 6588' %><h2>powdered beans<br />occurrence: 1</h2><div><ol><li>Ewww, have you ever had powdered beans !?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6589">Next</a></li>
</ul>