<% provide :title, 'Opinion Target 5185' %><h2>grit<br />occurrence: 1</h2><div><ol><li>I suspect Ten Ren must have better blenders because they do n't come out grainy- with ice pebbles or sandy grit- like some other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5186">Next</a></li>
</ul>