<% provide :title, 'Opinion Target 7918' %><h2>Korean dish<br />occurrence: 1</h2><div><ol><li>Great authentic Korean dish ( soft tofu) for a great price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7919">Next</a></li>
</ul>