<% provide :title, 'Opinion Target 1497' %><h2>Black Sesame<br />occurrence: 3</h2><div><ol><li>I really like the dessert crepes with Asian ingredients and my favs are the Matcha Green Tea and the Black Sesame, which both include home-made ice cream!</li><li>Honestly, the black sesame was a winner for me!</li><li>Although I like both, the black sesame is always a more interesting flavor to me than strawberry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1498">Next</a></li>
</ul>