<% provide :title, 'Opinion Target 2704' %><h2>authentic Hungarian paprika<br />occurrence: 1</h2><div><ol><li>I primarily go there if I 'm grabbing a quick snack or need a Hungarian item, such as authentic Hungarian paprika.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2705">Next</a></li>
</ul>