<% provide :title, 'Opinion Target 9725' %><h2>red hemp pepper<br />occurrence: 1</h2><div><ol><li>My favorite is the red hemp pepper.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9726">Next</a></li>
</ul>