<% provide :title, 'Opinion Target 3641' %><h2>Sizzling Plat Kalbi<br />occurrence: 1</h2><div><ol><li>Some memorable ones was the Thai Spicy Noodle, Japanese Crab Fried Rice, Fried Squid ( a little over cooked), Sizzling Plat Kalbi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3642">Next</a></li>
</ul>