<% provide :title, 'Opinion Target 4231' %><h2>tofu teriyaki<br />occurrence: 1</h2><div><ol><li>Miso soup, salad, 6 avocado cucumber rolls, tofu teriyaki, sauted veggies ( mostly bean sprouts, with a few carrots and cucumbers), and vegetable tempura.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4232">Next</a></li>
</ul>