<% provide :title, 'Opinion Target 7359' %><h2>black sesame waffle<br />occurrence: 1</h2><div><ol><li>I always order the black sesame waffle:) Note that you have to spend minimum $ 5 per person at your table! ( So if your table has 3 people, your bill must be minimum $ 15).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7360">Next</a></li>
</ul>