<% provide :title, 'Opinion Target 4928' %><h2>ox tail stew )<br />occurrence: 1</h2><div><ol><li>Must eat with the spicy vinegar soy sauce- I can totally drink that on it 's own- Kare kare ( ox tail stew) Love It!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4929">Next</a></li>
</ul>