<% provide :title, 'Opinion Target 3173' %><h2>Veal Piccata<br />occurrence: 1</h2><div><ol><li>Veal Piccata- $ 18.95 My friend 's entree was not much of a looker, but he enjoyed the tenderness of the veal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3174">Next</a></li>
</ul>