<% provide :title, 'Opinion Target 2476' %><h2>sake list<br />occurrence: 1</h2><div><ol><li>The sake list is decent and includes sure winners.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2475">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2477">Next</a></li>
</ul>