<% provide :title, 'Opinion Target 9460' %><h2>stir fried taro squares<br />occurrence: 1</h2><div><ol><li>We ordered the seafood supreme bowl, rice noodles, salt and pepper squid and the stir fried taro squares.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9461">Next</a></li>
</ul>