<% provide :title, 'Opinion Target 1817' %><h2>crab curry<br />occurrence: 2</h2><div><ol><li>If you do go, I would HIGHLY recommend the crab curry.</li><li>Decent overall, but you must try the crab curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1818">Next</a></li>
</ul>