<% provide :title, 'Opinion Target 5533' %><h2>blueberry pancakes<br />occurrence: 1</h2><div><ol><li>The blueberry pancakes were delicious and not too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5534">Next</a></li>
</ul>