<% provide :title, 'Opinion Target 3616' %><h2>deep fried sheep organs<br />occurrence: 1</h2><div><ol><li>A little skeptical at first of the merits of deep fried sheep organs, I was converted to a haggis lover in an instant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3617">Next</a></li>
</ul>