<% provide :title, 'Opinion Target 5339' %><h2>Hae Du Bap<br />occurrence: 1</h2><div><ol><li>The Hae Du Bap had like about 80g of chopped up assorted fish in which about 25% of it was chewy salmon yuck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5340">Next</a></li>
</ul>