<% provide :title, 'Opinion Target 3435' %><h2>General Tao Chicken on fried rice<br />occurrence: 1</h2><div><ol><li>My husband had the General Tao Chicken on fried rice ( $ 7.25).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3436">Next</a></li>
</ul>