<% provide :title, 'Opinion Target 6806' %><h2>inagi<br />occurrence: 1</h2><div><ol><li>The nigiri tuna and salmon were cut thinner than anywhere I 've been, but the inagi ( eel nigiri) was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6805">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6807">Next</a></li>
</ul>