<% provide :title, 'Opinion Target 4444' %><h2>lemon garlic pepper<br />occurrence: 1</h2><div><ol><li>Besides the standard buffalo and honey garlic, they have sauces like sweet heat, hot and honey, curry, and lemon garlic pepper.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4445">Next</a></li>
</ul>