<% provide :title, 'Opinion Target 1967' %><h2>teriyaki beef<br />occurrence: 2</h2><div><ol><li>But when the hot dish like teriyaki beef, salmon or others.</li><li>I always get the teriyaki beef bento which comes with tempura, and California rolls!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1966">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1968">Next</a></li>
</ul>