<% provide :title, 'Opinion Target 5720' %><h2>Oyster Cake<br />occurrence: 1</h2><div><ol><li>The speciality is Chiu Chow Cuisine, so things like a cold platter ( comes with Jelly Fish, Marinated Duck, etc), Deep Fried Fish Skin, Oyster Cake are what Chiu Chow Cuisine is all about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5721">Next</a></li>
</ul>