<% provide :title, 'Opinion Target 3620' %><h2>ha gow<br />occurrence: 1</h2><div><ol><li>When we got the food home, the ha gow was smaller than normal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3619">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3621">Next</a></li>
</ul>