<% provide :title, 'Opinion Target 3070' %><h2>firm sashimi<br />occurrence: 1</h2><div><ol><li>Fresh firm sashimi which I appreciated greatly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3071">Next</a></li>
</ul>