<% provide :title, 'Opinion Target 6991' %><h2>cylindrical bamboo steamers<br />occurrence: 1</h2><div><ol><li>There used to be six cylindrical bamboo steamers per order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6990">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6992">Next</a></li>
</ul>