<% provide :title, 'Opinion Target 5392' %><h2>Bombay Bhel<br />occurrence: 1</h2><div><ol><li>Overall, I ca n't say I liked it nor that I hated Bombay Bhel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5391">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5393">Next</a></li>
</ul>