<% provide :title, 'Opinion Target 2815' %><h2>fruit and veg look<br />occurrence: 1</h2><div><ol><li>The fruit and veg look like they are the castoffs from the worst No Frills.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2816">Next</a></li>
</ul>