<% provide :title, 'Opinion Target 4798' %><h2>yuzu salmon and chicken wing skewers<br />occurrence: 1</h2><div><ol><li>My favourites were the rock shrimp, beef tataki, yuzu salmon and chicken wing skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4799">Next</a></li>
</ul>