<% provide :title, 'Opinion Target 2817' %><h2>Indian food counter<br />occurrence: 1</h2><div><ol><li>Dec 20: holiday hours are supposed to be open until 7pm how ever most of the shops are still closing at 5:30pm or 6 ( including the shops I went to visit, army surplus and the Mexican or West Indian food counter)! what a complete waste of time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2818">Next</a></li>
</ul>