<% provide :title, 'Opinion Target 4093' %><h2>wok flame<br />occurrence: 1</h2><div><ol><li>The congee was thick and not watery, the rice noodles had the wok flame taste and the fried dough was hot and crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4094">Next</a></li>
</ul>