<% provide :title, 'Opinion Target 2111' %><h2>Thai Islamic Noodles with shrimp<br />occurrence: 2</h2><div><ol><li>We ordered the Royal Pad Thai with chicken, Thai Islamic Noodles with shrimp, and the Seafood Fried Rice.</li><li>I had the Thai Islamic Noodles with shrimp ( $ 19), really yummy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2112">Next</a></li>
</ul>