<% provide :title, 'Opinion Target 5683' %><h2>dishes of green salad<br />occurrence: 1</h2><div><ol><li>After we ordered our food, our server brought us a plate of side dishes of green salad, white radish, and macaroni salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5684">Next</a></li>
</ul>