<% provide :title, 'Opinion Target 2450' %><h2>Chili Garlic Chicken<br />occurrence: 2</h2><div><ol><li>I typically order: Thai Beef Steak, Pad Thai, Chili Garlic Chicken, and Chinese Broccoli in Oyster sauce for a group of three of us.</li><li>I would suggest to try the Chili Garlic Chicken, Spicy Crispy Beef, Penang Curry, Cashew Nut Chicken ( all ordered with a bowl of steamed white rice of course), and for desert, you must try the deep fried banana with ice cream!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2451">Next</a></li>
</ul>