<% provide :title, 'Opinion Target 2871' %><h2>crabs with soy sauce<br />occurrence: 1</h2><div><ol><li>The crabs with soy sauce was delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2872">Next</a></li>
</ul>