<% provide :title, 'Opinion Target 1694' %><h2>Lamb shish<br />occurrence: 2</h2><div><ol><li>Ordered 3 ( foot long) sandwiches at $ 6.50 each: Chicken adana, Kofte, Lamb shish.</li><li>The GF ordered the Lamb Shish Kebab small dinner which comes with salad, rice, and potatoes as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1693">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1695">Next</a></li>
</ul>