<% provide :title, 'Opinion Target 2850' %><h2>barristas<br />occurrence: 1</h2><div><ol><li>The barristas are super friendly and a pleasure to be around.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2849">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2851">Next</a></li>
</ul>