<% provide :title, 'Opinion Target 2546' %><h2>iced coffee orders<br />occurrence: 1</h2><div><ol><li>Always check what hot coffee/tea and iced coffee orders you 've been given and whether they remembered to omit sugar or syrup if you asked them to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2545">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2547">Next</a></li>
</ul>