<% provide :title, 'Opinion Target 2318' %><h2>jerk chicken places<br />occurrence: 1</h2><div><ol><li>There are also two very nice jerk chicken places and a tasty fruit/veggie sugar cane juice place among a myriad of international choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2319">Next</a></li>
</ul>