<% provide :title, 'Opinion Target 1424' %><h2>mackerel sashimi<br />occurrence: 2</h2><div><ol><li>Favorite: Spicy tuna roll and the mackerel sashimi;) For such a price amazing taste highly recommended interior design needs to be updated thanks for the staff being gentle and helpful 3.5/5- Sushi is my Moto in life.</li><li>Service is quick, efficient, prices are reasonable, the mackerel sashimi is n't partially FROZEN when brought out ( yes, that 's happened to me ...), and the tempura ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1425">Next</a></li>
</ul>