<% provide :title, 'Opinion Target 7260' %><h2>fried chicken and green onion chicken<br />occurrence: 1</h2><div><ol><li>We had a regular fried chicken and green onion chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7259">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7261">Next</a></li>
</ul>