<% provide :title, 'Opinion Target 1543' %><h2>wontons<br />occurrence: 3</h2><div><ol><li>The wontons are a good size and the beef is really tender.</li><li>The wontons here are huge!</li><li>Best wontons ever!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1544">Next</a></li>
</ul>