<% provide :title, 'Opinion Target 6526' %><h2>noodles in soup<br />occurrence: 1</h2><div><ol><li>Finally, we had the chunky noodles in soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6527">Next</a></li>
</ul>