<% provide :title, 'Opinion Target 5279' %><h2>pickled carrots<br />occurrence: 1</h2><div><ol><li>There were only four side dishes ( kimchi, sweet potato mash, seaweed salad, pickled carrots and radish), and each came in tiny portions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5280">Next</a></li>
</ul>