<% provide :title, 'Opinion Target 5795' %><h2>hazelnut latte<br />occurrence: 1</h2><div><ol><li>I admit that I went in because I saw the sticker on the door `` people like us on yelp'':) I ordered hazelnut latte, very rich foam, although instead of hazelnut, it has a caramel taste to me, but i loved it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5794">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5796">Next</a></li>
</ul>