<% provide :title, 'Opinion Target 6450' %><h2>garlic flavors<br />occurrence: 1</h2><div><ol><li>We ordered:- fried chili turnip cake -- strong garlic flavors but super tasty- pork and thousand year old egg congee -- super fast service; delicious comfort food- assorted BBQ meats ( honey roasted BBQ pork, roast duck, and roast pig) -- AMAZING!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6451">Next</a></li>
</ul>