<% provide :title, 'Opinion Target 4817' %><h2>pan fried lamb dumplings<br />occurrence: 1</h2><div><ol><li>My favourite items here were the pan fried lamb dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4818">Next</a></li>
</ul>