<% provide :title, 'Opinion Target 1867' %><h2>rice ratio<br />occurrence: 2</h2><div><ol><li>The sushi sported a generous amount of fish to rice ratio.</li><li>The fish to rice ratio was awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1868">Next</a></li>
</ul>