<% provide :title, 'Opinion Target 1611' %><h2>salt<br />occurrence: 2</h2><div><ol><li>It 's just that overall, the salt was too much, and made my wife not feel so good.</li><li>The salt and pepper deep fried squid has a great kick which is perfect for this cold winter day, and tryly a yummy dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1612">Next</a></li>
</ul>