<% provide :title, 'Opinion Target 7557' %><h2>potato taste<br />occurrence: 1</h2><div><ol><li>It actually had sweet potato taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7556">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7558">Next</a></li>
</ul>