<% provide :title, 'Opinion Target 3966' %><h2>beef gyro<br />occurrence: 1</h2><div><ol><li>My beef gyro was excellent, side Greek salad was awesome and the coke was. ... well a coke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3965">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3967">Next</a></li>
</ul>