<% provide :title, 'Opinion Target 6307' %><h2>old frozen food<br />occurrence: 1</h2><div><ol><li>SKIP !! this place is disgusting old frozen food heated back up by the microwave.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6306">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6308">Next</a></li>
</ul>