<% provide :title, 'Opinion Target 8120' %><h2>food court<br />occurrence: 1</h2><div><ol><li>Unfortunately, the other 2 places in the same food court are just as bad: ( I guess you can call this the better of the worst.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8121">Next</a></li>
</ul>