<% provide :title, 'Opinion Target 1917' %><h2>blueberry lemon ricotta pancakes<br />occurrence: 2</h2><div><ol><li>I had the blueberry lemon ricotta pancakes.</li><li>For brunch, I had the blueberry lemon ricotta pancakes and was very pleased with it although it was a bit sweet for my taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1916">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1918">Next</a></li>
</ul>