<% provide :title, 'Opinion Target 4502' %><h2>wheat fettuccine<br />occurrence: 1</h2><div><ol><li>I got the whole wheat fettuccine Siciliana, and for $ 20 ( tax + tip) the portion size is good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4503">Next</a></li>
</ul>