<% provide :title, 'Opinion Target 4604' %><h2>take-out container<br />occurrence: 1</h2><div><ol><li>The take-out container was a bit on the smaller size and shrimps were on the smaller size as well. a bit surprized by that since it 's supposedly a ' seafood chinese restaurant'. tasted good none the less.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4603">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4605">Next</a></li>
</ul>