<% provide :title, 'Opinion Target 4111' %><h2>beef fun noodles<br />occurrence: 1</h2><div><ol><li>Making this a quick review, I love their seafood congee, beef fun noodles, ying yang fried rice ( which is called fried rice with cream shrimp and sweet and sour chicken sauce ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4112">Next</a></li>
</ul>