<% provide :title, 'Opinion Target 5610' %><h2>pork shoulder<br />occurrence: 1</h2><div><ol><li>Highly recommend the Kalbi and the pork shoulder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5611">Next</a></li>
</ul>