<% provide :title, 'Opinion Target 6502' %><h2>Shanghainese dishes<br />occurrence: 1</h2><div><ol><li>Must order dumplings and other famous Shanghainese dishes ( xiao long bao is a must!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6503">Next</a></li>
</ul>