<% provide :title, 'Opinion Target 3047' %><h2>noodles in broth<br />occurrence: 1</h2><div><ol><li>They also bring complimentary noodles in broth- SO good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3046">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3048">Next</a></li>
</ul>