<% provide :title, 'Opinion Target 7026' %><h2>portobello mushroom and goat cheese sandwich<br />occurrence: 1</h2><div><ol><li>We 'll definitely be back to try more from their menu. truly enjoy the food in this place. unfortunately i had one bad experience, after having a portobello mushroom and goat cheese sandwich and was violently ill for 2 days.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7027">Next</a></li>
</ul>