<% provide :title, 'Opinion Target 2563' %><h2>aburi<br />occurrence: 1</h2><div><ol><li>The food quality is excellent, the nigiri the right size and they even do `` aburi'' style if you 're into that ( seared sushi).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2562">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2564">Next</a></li>
</ul>