<% provide :title, 'Opinion Target 7033' %><h2>Cibo<br />occurrence: 1</h2><div><ol><li>Via Cibo is a favourite among my coworkers and I as a lunch spot for it 's fast service and reasonably priced but very delicious Italian food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7032">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7034">Next</a></li>
</ul>