<% provide :title, 'Opinion Target 2219' %><h2>crowd<br />occurrence: 2</h2><div><ol><li>The crowd was mostly older Chinese folks and after finishing our food, we were busy studying their orders.</li><li>The crowd were all into their late forties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2220">Next</a></li>
</ul>