<% provide :title, 'Opinion Target 8960' %><h2>cake selection<br />occurrence: 1</h2><div><ol><li>The cake selection here is decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8959">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8961">Next</a></li>
</ul>