<% provide :title, 'Opinion Target 7032' %><h2>Setup<br />occurrence: 1</h2><div><ol><li>Setup is nice for a cafeteria lunch style place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7033">Next</a></li>
</ul>