<% provide :title, 'Opinion Target 4986' %><h2>blue freezie<br />occurrence: 1</h2><div><ol><li>Mine was a blue freezie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4987">Next</a></li>
</ul>