<% provide :title, 'Opinion Target 8681' %><h2>food kabob<br />occurrence: 1</h2><div><ol><li>This place has really lost its edge been going for a long time but when fast food kabob take out is better you have to ask what 's going on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8682">Next</a></li>
</ul>