<% provide :title, 'Opinion Target 2339' %><h2>raspberry tart<br />occurrence: 2</h2><div><ol><li>The raspberry tart was full of awesome and raspberries.</li><li>15 minute passed and I got my raspberry tart and I waited for another 10 minutes and asked our server where 's my friend 's cheese cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2340">Next</a></li>
</ul>