<% provide :title, 'Opinion Target 7239' %><h2>original fried chicken<br />occurrence: 1</h2><div><ol><li>The original fried chicken was our favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7240">Next</a></li>
</ul>