<% provide :title, 'Opinion Target 7405' %><h2>a pasta dish<br />occurrence: 1</h2><div><ol><li>The quality of food was decent, I had a pasta dish that was pretty decent ( it was basil and had something else) It 's a weird set up though, a bakery/restaurant sectioned off by large salt water tanks ... that 's just weird and the decor could use a bit of an update.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7406">Next</a></li>
</ul>