<% provide :title, 'Opinion Target 4250' %><h2>shrimp pad Thai and chicken red curry<br />occurrence: 1</h2><div><ol><li>We ordered the Tom yum goong soup, shrimp pad Thai and chicken red curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4251">Next</a></li>
</ul>