<% provide :title, 'Opinion Target 4649' %><h2>Pad thai : rice noodles , carrots<br />occurrence: 1</h2><div><ol><li>Now onto the food: Pad thai: rice noodles, carrots, peanuts, tofu, green onions, bean sprouts, coriander, egg, fish, and tamarind sauce with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4650">Next</a></li>
</ul>