<% provide :title, 'Opinion Target 6752' %><h2>dining-in<br />occurrence: 1</h2><div><ol><li>With that being said, some of the downsides to this place are that it 's very very tiny, so dining-in is n't the best option especially if it 's cold/windy outside, because with people constantly coming in and out of the restaurant, the cold/wind will flow through the door and onto you which can get annoying since the door is literally right next to the tables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6753">Next</a></li>
</ul>