<% provide :title, 'Opinion Target 7420' %><h2>frozen chocolate drink<br />occurrence: 1</h2><div><ol><li>I also had the frozen chocolate drink which was interesting, in a good way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7419">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7421">Next</a></li>
</ul>