<% provide :title, 'Opinion Target 1631' %><h2>rice flour<br />occurrence: 2</h2><div><ol><li>It was breaded but with a thin coat of rice flour, perhaps, because the skin was not cake-y or doughy.</li><li>3) The noodles use a cheaper version of rice flour ... not traditional bread style flour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1632">Next</a></li>
</ul>