<% provide :title, 'Opinion Target 7352' %><h2>green tea dessert crepe ( red bean<br />occurrence: 1</h2><div><ol><li>As a huge matcha/green tea anything fan, I opted to share the green tea dessert crepe ( red bean, sponge cake, green tea ice cream).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7353">Next</a></li>
</ul>