<% provide :title, 'Opinion Target 9375' %><h2>buffet food<br />occurrence: 1</h2><div><ol><li>DIY stir fry, dim sum, buffet food, cold bar, and dessert with a chocolate fondue!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9376">Next</a></li>
</ul>