<% provide :title, 'Opinion Target 6951' %><h2>pickle barrel restaurants<br />occurrence: 1</h2><div><ol><li>I have NEVER had a good experience at ANY of the pickle barrel restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6952">Next</a></li>
</ul>