<% provide :title, 'Opinion Target 3007' %><h2>thick sauce<br />occurrence: 1</h2><div><ol><li>The chicken was perfectly cooked with a nice thick sauce that had a wonderful flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3008">Next</a></li>
</ul>