<% provide :title, 'Opinion Target 994' %><h2>baechu kimchi<br />occurrence: 3</h2><div><ol><li>Very generous with the panchan but after one refill of the baechu kimchi as well as the HUGE dumplings, we could barely move we were so full!</li><li>The baechu kimchi was perfectly seasoned as was the cucumber kimchi ( in thick, luscious gochuchang).</li><li>The panchan was not as good as I remember but the yeolmu kimchi, baechu kimchi and the tofu were very, very well prepared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_995">Next</a></li>
</ul>