<% provide :title, 'Opinion Target 8274' %><h2>wings start<br />occurrence: 1</h2><div><ol><li>This place is really nothing special, but there 's not much around the area- and every so often, the wings start calling my name.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8275">Next</a></li>
</ul>