<% provide :title, 'Opinion Target 5241' %><h2>Korean comfort food<br />occurrence: 1</h2><div><ol><li>In general an alright Korean comfort food restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5242">Next</a></li>
</ul>