<% provide :title, 'Opinion Target 7288' %><h2>beef and rice noodle dish<br />occurrence: 1</h2><div><ol><li>The seafood congee and the beef and rice noodle dish are delicious- I could eat it all day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7287">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7289">Next</a></li>
</ul>