<% provide :title, 'Opinion Target 2156' %><h2>channa masala<br />occurrence: 1</h2><div><ol><li>We also tried the channa masala ( chick pea curry) which was equally tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2157">Next</a></li>
</ul>