<% provide :title, 'Opinion Target 5086' %><h2>Korean hof food<br />occurrence: 1</h2><div><ol><li>Food wise, you get your basic Korean hof food offerings, include a plate of silkworm pupae ( bundaegi) if one dares.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5085">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5087">Next</a></li>
</ul>