<% provide :title, 'Opinion Target 4306' %><h2>delivery guys<br />occurrence: 1</h2><div><ol><li>The delivery was extremely quick, around 30 min. He was really friendly and polite, which I do n't always get with delivery guys so it was a nice change.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4307">Next</a></li>
</ul>