<% provide :title, 'Opinion Target 1320' %><h2>Tuscan chicken<br />occurrence: 3</h2><div><ol><li>The food is out of this world especially the Tuscan chicken.</li><li>For the mains, despite the pretty extensive menu, we were both attracted to the Tuscan Chicken ( $ 18).</li><li>The tuscan chicken was actually pretty delicious though, both with the garlic mashed and baked potato options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1321">Next</a></li>
</ul>