<% provide :title, 'Opinion Target 2427' %><h2>puffs<br />occurrence: 2</h2><div><ol><li>The chef took their time my last visit- the egg whites were fluffy yet filling, the puffs were big and poofy, and they were served hot.</li><li>I was worried there 'd be a lot of air space given the size of the puffs but they turned out to be well-filled.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2428">Next</a></li>
</ul>