<% provide :title, 'Opinion Target 2330' %><h2>waffle with black sesame ice cream<br />occurrence: 2</h2><div><ol><li>Had the waffle with black sesame ice cream made fresh, the smell is amazing!</li><li>We ordered a crepe with green-tea ice-cream and a waffle with black sesame ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2329">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2331">Next</a></li>
</ul>