<% provide :title, 'Opinion Target 1403' %><h2>nigri sushi<br />occurrence: 2</h2><div><ol><li>We were still feeling a tad peckish after polishing off the platter, so I ordered a few select pieces of nigri sushi a la carte.</li><li>Again, the fish were high quality and fresh, the nigri sushi was well made and well portioned, and every bite was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1404">Next</a></li>
</ul>