<% provide :title, 'Opinion Target 2955' %><h2>drinks menu<br />occurrence: 1</h2><div><ol><li>It 's not my first choice and it 's not gourmet by a long shot but the drinks menu is fun:) Okay, I know, it 's a chain.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2956">Next</a></li>
</ul>