<% provide :title, 'Opinion Target 1558' %><h2>serving staff<br />occurrence: 2</h2><div><ol><li>Generally I have an excellent time here, and the serving staff and food were very good on Saturday May 9.</li><li>Upon being seated, we asked for separate checks for each couple, and even adjusted our seating positions to make it easier for the serving staff to identify each of the couples.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1557">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1559">Next</a></li>
</ul>