<% provide :title, 'Opinion Target 5317' %><h2>price of dynamite rolls<br />occurrence: 1</h2><div><ol><li>Love the price of dynamite rolls and the size of the rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5316">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5318">Next</a></li>
</ul>