<% provide :title, 'Opinion Target 937' %><h2>Korean dumplings<br />occurrence: 4</h2><div><ol><li>We both ordered the handmade noodles with traditional Korean dumplings -- I got myself the kimchi one, which was absolutely delicious.</li><li>Korean dumplings are very different from Chinese style dumplings.</li><li>Traditionally, Korean dumplings are filled with mixtures of tofu, shredded cabbage, bean sprouts, pork, shredded kimchi and so on ... so their fillings are less firm than Chinese dumpling fillings.</li><li>So if you 're looking for mostly meat packed dumplings, Korean dumplings may not do it for you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_936">Previous</a></li>
  <li class="next"><a href=".\opinion_target_938">Next</a></li>
</ul>