<% provide :title, 'Opinion Target 1655' %><h2>line<br />occurrence: 2</h2><div><ol><li>The line is always long but I 've never had to wait more than 2 minutes, so the staff here know how to keep things moving along.</li><li>The place was super busy on a Sunday and the Line did not stop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1656">Next</a></li>
</ul>