<% provide :title, 'Opinion Target 1511' %><h2>Vietnamese spring roll<br />occurrence: 2</h2><div><ol><li>I will defiantly come back here just to taste the Vietnamese spring roll served right here ...</li><li>The only down side to this place is that their Cha Gio, Vietnamese Spring Roll, is good but not the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1512">Next</a></li>
</ul>