<% provide :title, 'Opinion Target 8404' %><h2>fried dough bun doughnut<br />occurrence: 1</h2><div><ol><li>It was like a very light fluffy fried dough bun doughnut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8405">Next</a></li>
</ul>