<% provide :title, 'Opinion Target 4120' %><h2>fish filet in sweet corn sauce<br />occurrence: 1</h2><div><ol><li>My favourite dishes are the fish filet in sweet corn sauce and the spicy salt fried chicken wings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4121">Next</a></li>
</ul>