<% provide :title, 'Opinion Target 1703' %><h2>rice noodles with beef<br />occurrence: 2</h2><div><ol><li>I ordered the rice noodles with beef, onions, and bean sprouts.</li><li>I ordered the rice noodles with beef ( I asked for without beansprouts).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1704">Next</a></li>
</ul>