<% provide :title, 'Opinion Target 9171' %><h2>four course meal<br />occurrence: 1</h2><div><ol><li>Our four course meal consisted of cold and warm appetizers, followed by a fish and meat course.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9172">Next</a></li>
</ul>