<% provide :title, 'Opinion Target 5370' %><h2>beef noodle in soup<br />occurrence: 1</h2><div><ol><li>I ordered the pork jia mo, potato jia mo and the spicy beef noodle in soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5371">Next</a></li>
</ul>