<% provide :title, 'Opinion Target 3416' %><h2>pigs blood<br />occurrence: 1</h2><div><ol><li>The pigs blood was over cooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3417">Next</a></li>
</ul>