<% provide :title, 'Opinion Target 718' %><h2>goat<br />occurrence: 6</h2><div><ol><li>And the goat was deeeeee-licious!</li><li>The goat was so dry that it flaked apart when I stuck my fork in it.</li><li>Ordered the goat curry and ting. tender goat no smell and delicious spicy curry.</li><li>We ended up leaving the bland goat on their counter.</li><li>The menu offers up jerk chicken and jerk pork with some additional items like goat, patties, and rice.</li><li>The goat was better, where the meat fell off the bones and the curry flavour was cooked into the meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_719">Next</a></li>
</ul>