<% provide :title, 'Opinion Target 6860' %><h2>bread style flour<br />occurrence: 1</h2><div><ol><li>3) The noodles use a cheaper version of rice flour ... not traditional bread style flour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6861">Next</a></li>
</ul>