<% provide :title, 'Opinion Target 4195' %><h2>pickled peppers<br />occurrence: 1</h2><div><ol><li>It is served on an oval platter and includes half rice, half meat, a few potato wedges, onions, pickled peppers, white sauce and hot sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4196">Next</a></li>
</ul>