<% provide :title, 'Opinion Target 3039' %><h2>Malaysian Curry Chicken with rice<br />occurrence: 1</h2><div><ol><li>Vietnamese Delight has a few ' lunch' specials ( available 11am- 5pm!) for $ 6.99 that include either soup or a spring roll but I opted to order from the main ' placemat' menu and had the Malaysian Curry Chicken with rice for $ 6.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3040">Next</a></li>
</ul>