<% provide :title, 'Opinion Target 9294' %><h2>pork and chicken cutlets<br />occurrence: 1</h2><div><ol><li>Their soups are the best and I love their pork and chicken cutlets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9293">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9295">Next</a></li>
</ul>