<% provide :title, 'Opinion Target 4246' %><h2>chicken santa fe with wild rice<br />occurrence: 1</h2><div><ol><li>Ordered chicken santa fe with wild rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4247">Next</a></li>
</ul>