<% provide :title, 'Opinion Target 5703' %><h2>quarter chicken leg<br />occurrence: 1</h2><div><ol><li>And it came with a quarter chicken leg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5704">Next</a></li>
</ul>