<% provide :title, 'Opinion Target 4608' %><h2>Steamed Chicken wrapped in lotus leaf<br />occurrence: 1</h2><div><ol><li>The Steamed Chicken wrapped in lotus leaf was a bit disappointing as it was the one dish we were looking forward to the most.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4609">Next</a></li>
</ul>