<% provide :title, 'Opinion Target 1839' %><h2>tuna sashimi<br />occurrence: 2</h2><div><ol><li>White tuna sashimi was yellow in colour.</li><li>Also, I have had tuna sashimi in my chirashi that looked a bit strange and I decided that it was not a good idea to eat it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1840">Next</a></li>
</ul>