<% provide :title, 'Opinion Target 1967' %><h2>vanilla ice cream<br />occurrence: 2</h2><div><ol><li>The vanilla ice cream with it was probably the best vanilla ice cream I have had!</li><li>The vanilla ice cream with it was probably the best vanilla ice cream I have had!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1966">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1968">Next</a></li>
</ul>