<% provide :title, 'Opinion Target 6382' %><h2>Bossam<br />occurrence: 1</h2><div><ol><li>The Bossam was better before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6383">Next</a></li>
</ul>