<% provide :title, 'Opinion Target 4670' %><h2>beef red curry<br />occurrence: 1</h2><div><ol><li>Between the four of us, we ordered the fried calamari, royal pad Thai, crispy beef red curry and the crispy duck wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4671">Next</a></li>
</ul>