<% provide :title, 'Opinion Target 7407' %><h2>meringues<br />occurrence: 1</h2><div><ol><li>I highly doubt I would ever voluntarily come to eat in again, but their meringues are still delicious, so take-out ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7408">Next</a></li>
</ul>