<% provide :title, 'Opinion Target 5619' %><h2>octopus and squid<br />occurrence: 1</h2><div><ol><li>The octopus and squid were good and the noodles were never ending and were really the thing that was making me full.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5618">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5620">Next</a></li>
</ul>