<% provide :title, 'Opinion Target 1087' %><h2>Fried Squid<br />occurrence: 3</h2><div><ol><li>Some memorable ones was the Thai Spicy Noodle, Japanese Crab Fried Rice, Fried Squid ( a little over cooked), Sizzling Plat Kalbi.</li><li>The turnip cakes are the BEST, the fried squid is delicious and the winter melon seafood Superbowl is great too!</li><li>Great place for late night eats, special congee is loaded with shrimp and beef balls. gota try the turnip cake Having some good fried squid and turnips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1088">Next</a></li>
</ul>