<% provide :title, 'Opinion Target 1806' %><h2>crispy duck<br />occurrence: 2</h2><div><ol><li>That was n't enough to endear me --- because there were service issues, and I became sick later that night because the crispy duck was clearly fried in the same oil that shrimp is fried in because staff did n't consider that.</li><li>The crispy duck ruined the taste of Peking duck, nothing close to similarity and left it tasting like fried chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1805">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1807">Next</a></li>
</ul>