<% provide :title, 'Opinion Target 4153' %><h2>green dragon roll and red bean ice cream<br />occurrence: 1</h2><div><ol><li>I came for dinner at about 6pm and ordered the sweet potato tempura, harumaki ( spring roll), crunch roll, green dragon roll and red bean ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4154">Next</a></li>
</ul>