<% provide :title, 'Opinion Target 6635' %><h2>bulgogi beef<br />occurrence: 1</h2><div><ol><li>For about $ 28 after tip and taxes on a Friday, you get mounds and mounds of Kalbi ribs, bulgogi beef, pork, and other variations of Korean meats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6634">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6636">Next</a></li>
</ul>