<% provide :title, 'Opinion Target 6637' %><h2>Korean bacon<br />occurrence: 1</h2><div><ol><li>We ordered a combo for two people: Korean bacon cooked on a grill at your table with soy bean soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6638">Next</a></li>
</ul>