<% provide :title, 'Opinion Target 1097' %><h2>combo<br />occurrence: 4</h2><div><ol><li>The combo was supposed to include a salad, but I guess actually getting it depends on a dice roll.</li><li>The value for money is good and I can not remember what the name of the combo was that I ordered but I had to double check the price was right.</li><li>The second chicken dish that came with the combo was the fried chicken, which was a generous portion of pieces.</li><li>The few pieces you get with your combo are always inconsistently.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1098">Next</a></li>
</ul>