<% provide :title, 'Opinion Target 6058' %><h2>lobster leg<br />occurrence: 1</h2><div><ol><li>I only give this place a 2 star, since another waiter helped me teach how to get the meat out of the lobster leg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6059">Next</a></li>
</ul>