<% provide :title, 'Opinion Target 1843' %><h2>lamb flavour<br />occurrence: 2</h2><div><ol><li>The lamb flavour was so strong you could tell it had no marinade of any sort ( but maybe that 's what they 're going for -- also the skewer portions were incredibly small, my sister could n't help but laugh to herself when it came to the table).</li><li>You can taste the lamb flavour, you know they 've actually made it with enough lamb and not just flavouring!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1842">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1844">Next</a></li>
</ul>