<% provide :title, 'Opinion Target 4864' %><h2>potato rolls<br />occurrence: 1</h2><div><ol><li>It really comes down to we have n't ordered anything we did n't like from this restaurant ( sweet potato rolls are also delicious!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4863">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4865">Next</a></li>
</ul>