<% provide :title, 'Opinion Target 2493' %><h2>sushi paste<br />occurrence: 1</h2><div><ol><li>So I am not the best person to tell how the raw sushi paste like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2494">Next</a></li>
</ul>