<% provide :title, 'Opinion Target 7015' %><h2>duck broth<br />occurrence: 1</h2><div><ol><li>Heck, you can even get a duck broth if you 're still hungry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7016">Next</a></li>
</ul>