<% provide :title, 'Opinion Target 4171' %><h2>Orange Snail Pub<br />occurrence: 1</h2><div><ol><li>Try the Orange Snail Pub if you want a decent curry on campus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4172">Next</a></li>
</ul>