<% provide :title, 'Opinion Target 2451' %><h2>appetizer ash<br />occurrence: 1</h2><div><ol><li>The appetizer ash reshteh was not fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2450">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2452">Next</a></li>
</ul>