<% provide :title, 'Opinion Target 7227' %><h2>bibimbap and jampong<br />occurrence: 1</h2><div><ol><li>( $ 12) Their bibimbap and jampong is pretty good what you expect it to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7228">Next</a></li>
</ul>