<% provide :title, 'Opinion Target 5691' %><h2>pasta with just tomato sauce<br />occurrence: 1</h2><div><ol><li>When I asked to have my pasta with just tomato sauce, no cream, because I 'm lactose intolerant, I was told I would have to pay a substitution charge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5690">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5692">Next</a></li>
</ul>