<% provide :title, 'Opinion Target 1735' %><h2>bulgogi dupbap<br />occurrence: 2</h2><div><ol><li>I ordered the bulgogi dupbap which came with a chicken soup.</li><li>The bulgogi dupbap was flavourful and had a lot of beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1736">Next</a></li>
</ul>