<% provide :title, 'Opinion Target 1363' %><h2>Grilled pork belly<br />occurrence: 3</h2><div><ol><li>Grilled pork belly.</li><li>Not a bad dish overall but maybe I was thinking too much about grilled pork belly ?</li><li>I am really full !! aish ~ ~ Had my first Samgyeopsal grilled pork belly here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1362">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1364">Next</a></li>
</ul>