<% provide :title, 'Opinion Target 2610' %><h2>dinner choices<br />occurrence: 1</h2><div><ol><li>Great bento lunch and dinner choices at a very reasonable price!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2611">Next</a></li>
</ul>