<% provide :title, 'Opinion Target 5327' %><h2>soy packets<br />occurrence: 1</h2><div><ol><li>My eyes became full at first glance but quickly disappointed after noticing the small serving of ginger and wasabi and 2 soy packets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5326">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5328">Next</a></li>
</ul>