<% provide :title, 'Opinion Target 5750' %><h2>shawarma plates<br />occurrence: 1</h2><div><ol><li>Very big fan of their shawarma plates and i recently tried the koobideh which has now become one of my faves!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5751">Next</a></li>
</ul>