<% provide :title, 'Opinion Target 7702' %><h2>point<br />occurrence: 1</h2><div><ol><li>He wants to send another one of the same pizza he admitted they ca n't make it properly .at this point I was so angry i juust thanked and hung up the phone.now pizza is in trash, waste of money and time and I 'm still hungry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7703">Next</a></li>
</ul>