<% provide :title, 'Opinion Target 4021' %><h2>beef tenderloin carpaccio<br />occurrence: 1</h2><div><ol><li>Our other appetizer -- the real winner -- was carpaccio di manzo con arucola e parmigiano, which featured lovely beef tenderloin carpaccio on a bed of fantastically-dressed rocket and diaphanous sheets of generous parmesan cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4020">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4022">Next</a></li>
</ul>