<% provide :title, 'Opinion Target 5775' %><h2>coconut curry<br />occurrence: 1</h2><div><ol><li>She would try to chat you up as well and even helped me scrape the coconut pieces in the my coconut curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5774">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5776">Next</a></li>
</ul>