<% provide :title, 'Opinion Target 4245' %><h2>general tsao chicken<br />occurrence: 1</h2><div><ol><li>The general tsao chicken in the salad was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4246">Next</a></li>
</ul>