<% provide :title, 'Opinion Target 4927' %><h2>vinegar soy sauce<br />occurrence: 1</h2><div><ol><li>Must eat with the spicy vinegar soy sauce- I can totally drink that on it 's own- Kare kare ( ox tail stew) Love It!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4928">Next</a></li>
</ul>