<% provide :title, 'Opinion Target 5030' %><h2>lobster fisherman<br />occurrence: 1</h2><div><ol><li>I 'm not a lobster fisherman nor a commodities economist when it comes to seafood but when I 'm used to lobster prices at Chinese restaurants, this place I find is a bit on the pricier side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5031">Next</a></li>
</ul>