<% provide :title, 'Opinion Target 5833' %><h2>purple<br />occurrence: 1</h2><div><ol><li>Lastly- and the last straw for us: I only ate half of my ( $ 18!) pad Thai and asked for the other half to go, the manager ( a man with a nice purple dress shirt and tie) ended up tossing it out !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5834">Next</a></li>
</ul>