<% provide :title, 'Opinion Target 1529' %><h2>souvlaki dishes<br />occurrence: 2</h2><div><ol><li>Good food and staff were friendly, the burgers are fantastic I love this place! the food is typical pub fare but I LOVE their souvlaki dishes.</li><li>Back to the souvlaki dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1530">Next</a></li>
</ul>