<% provide :title, 'Opinion Target 5447' %><h2>front door<br />occurrence: 1</h2><div><ol><li>A few examples of things that could be improved:- The wait at the front door is usually quite long considering the number of open tables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5448">Next</a></li>
</ul>