<% provide :title, 'Opinion Target 1258' %><h2>main dishes<br />occurrence: 3</h2><div><ol><li>The main dishes started coming out one at a time and ended up filling the table.</li><li>Have been coming here from 2007- their desserts are amazing, also the main dishes are pretty good.</li><li>The main dishes were affordable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1259">Next</a></li>
</ul>