<% provide :title, 'Opinion Target 4985' %><h2>dim lighting<br />occurrence: 1</h2><div><ol><li>TV 's everywhere !!! including your booth ... nice dim lighting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4986">Next</a></li>
</ul>