<% provide :title, 'Opinion Target 5240' %><h2>green crisp lettuce<br />occurrence: 1</h2><div><ol><li>Good green crisp lettuce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5239">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5241">Next</a></li>
</ul>