<% provide :title, 'Opinion Target 7243' %><h2>chicken paste<br />occurrence: 1</h2><div><ol><li>They were obviously made out of some kind of chicken paste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7244">Next</a></li>
</ul>