<% provide :title, 'Opinion Target 5289' %><h2>Dinner ( chicken<br />occurrence: 1</h2><div><ol><li>I have the Dinner ( chicken, pottos, meat, salad).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5288">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5290">Next</a></li>
</ul>