<% provide :title, 'Opinion Target 4059' %><h2>decent spaghetti pomodoro<br />occurrence: 1</h2><div><ol><li>Ca n't even execute a decent spaghetti pomodoro.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4060">Next</a></li>
</ul>