<% provide :title, 'Opinion Target 6852' %><h2>Lamb Pao Mo This<br />occurrence: 1</h2><div><ol><li>Lamb Pao Mo This was a decent portion, but it could have used a bit more lamb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6853">Next</a></li>
</ul>