<% provide :title, 'Opinion Target 5372' %><h2>trio appetizer with enoki mushrooms<br />occurrence: 1</h2><div><ol><li>I 've had their trio appetizer with enoki mushrooms, tripe and bean curd and it 's very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5373">Next</a></li>
</ul>