<% provide :title, 'Opinion Target 4877' %><h2>butter mushroom<br />occurrence: 1</h2><div><ol><li>We got the butter mushroom, but these also tasted old.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4878">Next</a></li>
</ul>