<% provide :title, 'Opinion Target 5453' %><h2>served tea<br />occurrence: 1</h2><div><ol><li>Was served tea, new plates provided during meal, there was a slight wait for the peking duck but that was to be expected but the waiter also did advise that there will be a wait, so no big complaints.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5454">Next</a></li>
</ul>