<% provide :title, 'Opinion Target 1577' %><h2>sashimi options<br />occurrence: 2</h2><div><ol><li>Cons:- Very limited sashimi options.</li><li>I believe it was 6-7 more for dinner, but sashimi options are available.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1578">Next</a></li>
</ul>