<% provide :title, 'Opinion Target 1585' %><h2>chicken shwarma<br />occurrence: 2</h2><div><ol><li>Picked up a chicken shwarma today while I was running errands.</li><li>I have had the Chicken Kabob ( not so great- it was very over-cooked) but I have had the chicken shwarma a few times and it is good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1584">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1586">Next</a></li>
</ul>