<% provide :title, 'Opinion Target 6072' %><h2>decor choices<br />occurrence: 1</h2><div><ol><li>It 's sort of unfortunately located, but the food absolutely makes up for its location and questionable decor choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6073">Next</a></li>
</ul>