<% provide :title, 'Opinion Target 8820' %><h2>meal specials<br />occurrence: 1</h2><div><ol><li>Their menu features a number of meal specials, which appear reasonably priced for family or group dining.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8821">Next</a></li>
</ul>