<% provide :title, 'Opinion Target 4041' %><h2>bar patio<br />occurrence: 1</h2><div><ol><li>The patio feels less like a bar patio and more like a deck in a wealthier friend 's backyard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4042">Next</a></li>
</ul>