<% provide :title, 'Opinion Target 6742' %><h2>turkey burger<br />occurrence: 1</h2><div><ol><li>I always order the turkey burger and the fries are decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6743">Next</a></li>
</ul>