<% provide :title, 'Opinion Target 6255' %><h2>twister bagels<br />occurrence: 1</h2><div><ol><li>With visions of twister bagels, Lox and cream cheese in my head.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6256">Next</a></li>
</ul>