<% provide :title, 'Opinion Target 1222' %><h2>nigri sushi<br />occurrence: 3</h2><div><ol><li>We were still feeling a tad peckish after polishing off the platter, so I ordered a few select pieces of nigri sushi a la carte.</li><li>Again, the fish were high quality and fresh, the nigri sushi was well made and well portioned, and every bite was delicious.</li><li>The boat was $ 98.95 which included 45 pieces of sashimi, 26 pieces of nigri sushi and 24 pieces of maki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1223">Next</a></li>
</ul>