<% provide :title, 'Opinion Target 1906' %><h2>fast food<br />occurrence: 2</h2><div><ol><li>I it 's authentic and the decor is a cross between romantic eat-in and retro fast food ... With an Italian twist .. If that makes sense ?</li><li>Quick fast food style order system ( you order when you come into the restaurant, before you sit down) but they 'll deliver your order to your table by locating your table with the order number indicator they give you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1905">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1907">Next</a></li>
</ul>