<% provide :title, 'Opinion Target 2869' %><h2>crab with rice<br />occurrence: 1</h2><div><ol><li>The best part is mixing the crab with rice, and I made sure to scrape everything off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2870">Next</a></li>
</ul>