<% provide :title, 'Opinion Target 9709' %><h2>chashu<br />occurrence: 1</h2><div><ol><li>Although the chashu was dry ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9710">Next</a></li>
</ul>