<% provide :title, 'Opinion Target 4831' %><h2>lamb with Chinese yam<br />occurrence: 1</h2><div><ol><li>The lamb with Chinese yam is a good dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4832">Next</a></li>
</ul>