<% provide :title, 'Opinion Target 4148' %><h2>waiter service<br />occurrence: 1</h2><div><ol><li>Plus a 2nd full bar, bartender, waiter service ( when busy downstairs), dart board &amp; jukebox.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4149">Next</a></li>
</ul>