<% provide :title, 'Opinion Target 3883' %><h2>Pho Dac Biet '' ( #42 )<br />occurrence: 1</h2><div><ol><li>I usually order the `` Pho Dac Biet'' ( #42), hence the special, which is what I ordered today in medium.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3882">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3884">Next</a></li>
</ul>