<% provide :title, 'Opinion Target 6764' %><h2>quality rice<br />occurrence: 1</h2><div><ol><li>Fresh food, good quality rice, fresh seafood ( hwae/sashimi) and almost friendly service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6765">Next</a></li>
</ul>