<% provide :title, 'Opinion Target 5420' %><h2>coupon<br />occurrence: 1</h2><div><ol><li>Also the lady denied my coupon saying its only for take out even though the coupon does n't say anything about it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5419">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5421">Next</a></li>
</ul>