<% provide :title, 'Opinion Target 9226' %><h2>spinach and feta omelette with fries<br />occurrence: 1</h2><div><ol><li>My friend had some kind of pancake/breakfast special and I had the spinach and feta omelette with fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9227">Next</a></li>
</ul>