<% provide :title, 'Opinion Target 6647' %><h2>bi bim bap ( veggies<br />occurrence: 1</h2><div><ol><li>I 've often brought friends and suggested they order some meat katsu, bulgogi, kan poong ki ( sweet &amp; spicy chicken) or bi bim bap ( veggies, rice, beef, fried egg, &amp; spicy sauce).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6648">Next</a></li>
</ul>