<% provide :title, 'Opinion Target 6207' %><h2>shish kebab platters<br />occurrence: 1</h2><div><ol><li>Overall, I 'd highly recommend their shish kebab platters and vegetarian combo platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6208">Next</a></li>
</ul>