<% provide :title, 'Opinion Target 5750' %><h2>smoked salmon crepe<br />occurrence: 1</h2><div><ol><li>I ordered smoked salmon crepe and she ordered chicken crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5751">Next</a></li>
</ul>