<% provide :title, 'Opinion Target 1087' %><h2>Spicy tuna roll<br />occurrence: 4</h2><div><ol><li>The Spicy tuna roll was the worst I 've ever had, almost made me vomit.</li><li>We ordered Bong 's sashami, sushi comb A and spicy tuna roll.</li><li>We had a selection of sashimi, my fav the spicy tuna roll and some chicken terriyaki and gyoza.</li><li>The spicy tuna roll was well done; the fish was very fresh, and not too much rice- albeit very small for 7.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1088">Next</a></li>
</ul>