<% provide :title, 'Opinion Target 7917' %><h2>rice stone bowl<br />occurrence: 1</h2><div><ol><li>Adding water to a rice stone bowl is the traditional way to serve Korean rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7916">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7918">Next</a></li>
</ul>