<% provide :title, 'Opinion Target 3977' %><h2>filet with garlic mash and veg<br />occurrence: 1</h2><div><ol><li>This is a steak house so when you go here gotta get the 6oz filet with garlic mash and veg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3978">Next</a></li>
</ul>