<% provide :title, 'Opinion Target 2407' %><h2>AC<br />occurrence: 2</h2><div><ol><li>The AC was definitely on, but you could barely feel it, especially with several pots of hot stone bowls of soup and rice on each table.</li><li>They really need to get better AC during the summer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2408">Next</a></li>
</ul>