<% provide :title, 'Opinion Target 7043' %><h2>red pepper<br />occurrence: 1</h2><div><ol><li>Sprouts- the red pepper covered ones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7044">Next</a></li>
</ul>