<% provide :title, 'Opinion Target 7345' %><h2>garoupa<br />occurrence: 1</h2><div><ol><li>However, I do appreciate that their food is not too oily or salty!- other pros: LARGE portions, large variety of congee and noodles, friendly staff- con: can become very crowded: ( side dishes I 've tried and liked: tofu and garoupa, house special chicken, mushroom and beef, tofu and mixed veggie congees I 've tried and liked: mixed vegetable and sweetcorn, sweetcorn and beancurd. congees I 've tried and disliked: sliced fish congee tastes bland ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7344">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7346">Next</a></li>
</ul>