<% provide :title, 'Opinion Target 979' %><h2>roasted potatoes<br />occurrence: 3</h2><div><ol><li>The roasted potatoes, accompanying half the entrees, were firm and cold.</li><li>The roasted potatoes were lightly seasoned with a little crisp.</li><li>The chicken is perfectly grilled with lots of sauce and is accompanied by delicious roasted potatoes, salad ( I ca n't get enough of this dressing!), their amazing glass noodles, rice and miso soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_980">Next</a></li>
</ul>