<% provide :title, 'Opinion Target 3063' %><h2>Kung Pow Chicken & Spicy Shrimp<br />occurrence: 1</h2><div><ol><li>Ordered Kung Pow Chicken &amp; Spicy Shrimp ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3064">Next</a></li>
</ul>