<% provide :title, 'Opinion Target 6909' %><h2>plate dish<br />occurrence: 1</h2><div><ol><li>We sat down &amp; ordered some dim sum, fried rice &amp; a lamb sizzling plate dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6908">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6910">Next</a></li>
</ul>