<% provide :title, 'Opinion Target 1407' %><h2>bulgogi beef<br />occurrence: 2</h2><div><ol><li>The sushi pizza, sashimi, bulgogi beef and onion platter were all excellent.</li><li>For about $ 28 after tip and taxes on a Friday, you get mounds and mounds of Kalbi ribs, bulgogi beef, pork, and other variations of Korean meats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1408">Next</a></li>
</ul>