<% provide :title, 'Opinion Target 1776' %><h2>jerk chicken roti<br />occurrence: 2</h2><div><ol><li>Ordered jerk chicken roti, goat roti, and stew chicken with rice and peas.</li><li>Jerk chicken roti was too saucy, way too much jerk sauce, which made it too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1777">Next</a></li>
</ul>