<% provide :title, 'Opinion Target 3900' %><h2>avocado shake with condensed milk<br />occurrence: 1</h2><div><ol><li>Also ordered an avocado shake with condensed milk and it was so yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3901">Next</a></li>
</ul>