<% provide :title, 'Opinion Target 3919' %><h2>Lechon Kawali ( deep fried pork belly<br />occurrence: 1</h2><div><ol><li>The Lechon Kawali ( deep fried pork belly) is pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3918">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3920">Next</a></li>
</ul>