<% provide :title, 'Opinion Target 5876' %><h2>chocolate ice cream<br />occurrence: 1</h2><div><ol><li>The chocolate ice cream on the side was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5877">Next</a></li>
</ul>