<% provide :title, 'Opinion Target 1849' %><h2>prix fixe<br />occurrence: 2</h2><div><ol><li>The prix fixe starts off with a Brunch Pastry Basket filled with mini croissants, quick bread and muffins.</li><li>I 've already booked a return visit for Mother 's Day where they 'll be featuring a $ 30 prix fixe, featuring a Lobster &amp; Mascarpone Cheese Ravioli in a white wine and rosé cream sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1850">Next</a></li>
</ul>