<% provide :title, 'Opinion Target 1976' %><h2>icing sugar<br />occurrence: 2</h2><div><ol><li>I was in the area after an interview and trying to decide what to eat ... ( Jeopardy Theme) Suddenly, I had a memory of home, mom making crepes and us kids, drizzling, spreading, sprinkling, packing them with sweet syrup, chocolate chips, icing sugar, fruit, whip topping.</li><li>Chocolate sauce and icing sugar made everything swallow down nicely though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1977">Next</a></li>
</ul>