<% provide :title, 'Opinion Target 7717' %><h2>Yam Tempura roll<br />occurrence: 1</h2><div><ol><li>The Yam Tempura roll was also bland while the California roll was alright.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7718">Next</a></li>
</ul>