<% provide :title, 'Opinion Target 6418' %><h2>Chicken soy<br />occurrence: 1</h2><div><ol><li>Bbq pork rice, Chicken soy and Toufoo with mushrooms are really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6419">Next</a></li>
</ul>