<% provide :title, 'Opinion Target 5868' %><h2>pomelo salad<br />occurrence: 1</h2><div><ol><li>I had the pomelo salad ( September special), which had the oddest mix of flavours I have ever tasted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5869">Next</a></li>
</ul>