<% provide :title, 'Opinion Target 2192' %><h2>parsley<br />occurrence: 2</h2><div><ol><li>The side of tabule was ok, the parsley was not chopped as finely as it should have been and it needed more lemon juice, overall the tabule was just ok.</li><li>I choose my own amount of garlic, pepper, no salt, sesame seed oil, spring onion, parsley.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2193">Next</a></li>
</ul>