<% provide :title, 'Opinion Target 1669' %><h2>spicy salmon rolls<br />occurrence: 2</h2><div><ol><li>The spicy salmon rolls were very well made and had good presentation!</li><li>Nonetheless, I can usually count on Sushi Bong to have great Dynamite or Spicy Salmon rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1670">Next</a></li>
</ul>