<% provide :title, 'Opinion Target 5359' %><h2>Shrimp pad thai/basil chicken fried rice<br />occurrence: 1</h2><div><ol><li>Shrimp pad thai/basil chicken fried rice are supposedly just as good there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5360">Next</a></li>
</ul>