<% provide :title, 'Opinion Target 6424' %><h2>tasting Chinese food<br />occurrence: 1</h2><div><ol><li>Congee Queen is definitely a good place to get some really good tasting Chinese food, and because it has so much variety ( HUGE menu!) its easy to find something to please everyone if you are coming here with a group.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6425">Next</a></li>
</ul>