<% provide :title, 'Opinion Target 2123' %><h2>half Roast Beef sandwich<br />occurrence: 1</h2><div><ol><li>The half Roast Beef sandwich on rye ended up I have to save it for pre dinner snack for later ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2122">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2124">Next</a></li>
</ul>