<% provide :title, 'Opinion Target 7786' %><h2>British chips<br />occurrence: 1</h2><div><ol><li>The fries are more like British chips which was awesome too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7787">Next</a></li>
</ul>