<% provide :title, 'Opinion Target 3116' %><h2>shaved iced<br />occurrence: 1</h2><div><ol><li>And it was really really hot so the shaved iced was perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3115">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3117">Next</a></li>
</ul>