<% provide :title, 'Opinion Target 6826' %><h2>spoon<br />occurrence: 1</h2><div><ol><li>Not hating on yelp, but urban spoon is pretty much the ubiquitous mutual consensus for people who do n't have time to write 250 words on restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6825">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6827">Next</a></li>
</ul>