<% provide :title, 'Opinion Target 5294' %><h2>Vietnamese taste<br />occurrence: 1</h2><div><ol><li>Has that authentic Vietnamese taste to their pho and their spring rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5293">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5295">Next</a></li>
</ul>