<% provide :title, 'Opinion Target 4663' %><h2>Thai iced tea<br />occurrence: 1</h2><div><ol><li>Do n't order their Thai iced tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4664">Next</a></li>
</ul>