<% provide :title, 'Opinion Target 6666' %><h2>seafood table<br />occurrence: 1</h2><div><ol><li>I ordered the beef and seafood table stirring.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6667">Next</a></li>
</ul>