<% provide :title, 'Opinion Target 8087' %><h2>roast<br />occurrence: 1</h2><div><ol><li>Not worth my calories and my while .... supermarket version and with supermarket quality to match Cafe Latte ( $ 3)- really really light roast, my dinner mate likes that ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8088">Next</a></li>
</ul>