<% provide :title, 'Opinion Target 7938' %><h2>water + tea<br />occurrence: 1</h2><div><ol><li>But they still did an amazing job refilling our banchans and water + tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7939">Next</a></li>
</ul>