<% provide :title, 'Opinion Target 9461' %><h2>pan fried noodle with beef<br />occurrence: 1</h2><div><ol><li>I also tried their pan fried noodle with beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9462">Next</a></li>
</ul>