<% provide :title, 'Opinion Target 3394' %><h2>side tables<br />occurrence: 1</h2><div><ol><li>The side tables are so small and closely arranged that it is difficult to get to your seat without your bum grazing the side of the table beside you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3395">Next</a></li>
</ul>