<% provide :title, 'Opinion Target 7419' %><h2>bread choices<br />occurrence: 1</h2><div><ol><li>The chalk board on the top, with all their bread choices state single or double.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7420">Next</a></li>
</ul>