<% provide :title, 'Opinion Target 2309' %><h2>feta<br />occurrence: 1</h2><div><ol><li>Piquant, bursting with really good feta ( I am more than a bit of a feta-snob), and just perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2310">Next</a></li>
</ul>