<% provide :title, 'Opinion Target 6801' %><h2>moon river<br />occurrence: 1</h2><div><ol><li>My coworkers later ordered the unagi roll and the moon river.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6802">Next</a></li>
</ul>