<% provide :title, 'Opinion Target 8277' %><h2>Hot Sweet Asian<br />occurrence: 1</h2><div><ol><li>THE FOOD: I was really diggin the wings, Garlic Parm and Hot Sweet Asian were perfect, it did n't taste frozen it tasted fresh never frozen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8278">Next</a></li>
</ul>