<% provide :title, 'Opinion Target 3885' %><h2>shrimp sauce<br />occurrence: 1</h2><div><ol><li>We were then told that the flakes were indeed fish and that the sauce is shrimp sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3884">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3886">Next</a></li>
</ul>