<% provide :title, 'Opinion Target 5159' %><h2>stir fried daikon cakes<br />occurrence: 1</h2><div><ol><li>The stir fried daikon cakes are to die for- a must order when dining here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5158">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5160">Next</a></li>
</ul>