<% provide :title, 'Opinion Target 2104' %><h2>cranberry sauce<br />occurrence: 2</h2><div><ol><li>I could n't bring myself to finish that thing and drank less than half of this soup. c) 1st course- half de-boned quail in cranberry sauce First of all, my quail was most definitely boned.</li><li>The cranberry sauce was minimal and I honestly wondered where it was as I was eating the quail.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2105">Next</a></li>
</ul>