<% provide :title, 'Opinion Target 6281' %><h2>steamed rice<br />occurrence: 1</h2><div><ol><li>Its difficult to cook rice to perfection, but they do it on the steamed rice consistently.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6280">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6282">Next</a></li>
</ul>