<% provide :title, 'Opinion Target 1592' %><h2>hoisin<br />occurrence: 2</h2><div><ol><li>The sauce was more sweet than tangy, and it did n't have an overpowering hoisin taste to it like it does at some restaurants.</li><li>Their hoisin is very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1593">Next</a></li>
</ul>