<% provide :title, 'Opinion Target 4423' %><h2>veal dishes<br />occurrence: 1</h2><div><ol><li>I love their beef and veal dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4422">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4424">Next</a></li>
</ul>