<% provide :title, 'Opinion Target 6109' %><h2>fried rice and black pepper beef garlic<br />occurrence: 1</h2><div><ol><li>We also ordered a side of fried rice and black pepper beef garlic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6110">Next</a></li>
</ul>