<% provide :title, 'Opinion Target 1885' %><h2>tenders<br />occurrence: 2</h2><div><ol><li>The tenders were as always great, and the wine was a good choice.</li><li>It did n't look like the tenders I was used to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1884">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1886">Next</a></li>
</ul>