<% provide :title, 'Opinion Target 8988' %><h2>sangria<br />occurrence: 1</h2><div><ol><li>Some of the daquiris and margaritas are a bit too `` watered down'' with slush but the sangria 's are good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8989">Next</a></li>
</ul>