<% provide :title, 'Opinion Target 3591' %><h2>fruit cocktail coupon<br />occurrence: 1</h2><div><ol><li>My first check in garnered a free fruit cocktail coupon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3592">Next</a></li>
</ul>