<% provide :title, 'Opinion Target 5881' %><h2>Beef Panang Half<br />occurrence: 1</h2><div><ol><li>We ended up ordering the following: Beef Panang Half Rack of Ribs with Peanut Sauce ( Special for December) Baked Cocunut Fried Rice King Oyster Mushrooms with Soft Tofu Phud Thai The beef panang was easily my favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5880">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5882">Next</a></li>
</ul>