<% provide :title, 'Opinion Target 5379' %><h2>cut chicken pieces<br />occurrence: 1</h2><div><ol><li>Vermicelli Soup: Nice light soup with nice cut chicken pieces, tofu, carrots, lettuce and of course vermicelli ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5380">Next</a></li>
</ul>