<% provide :title, 'Opinion Target 6151' %><h2>purple coloured rice<br />occurrence: 1</h2><div><ol><li>It 'll also come with purple coloured rice, which I believe is actually mixed with red bean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6152">Next</a></li>
</ul>