<% provide :title, 'Opinion Target 2578' %><h2>shushi portion<br />occurrence: 1</h2><div><ol><li>The shushi portion on the rice was paper thin, and my seaweed salad had hair in it !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2579">Next</a></li>
</ul>