<% provide :title, 'Opinion Target 4033' %><h2>lobster quesadilla<br />occurrence: 1</h2><div><ol><li>You have to try their 1lb lobster quesadilla at lunch time on a weekday.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4032">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4034">Next</a></li>
</ul>