<% provide :title, 'Opinion Target 7689' %><h2>japanese raw fish<br />occurrence: 1</h2><div><ol><li>The sashimi is pretty fresh however, the quality is not the high-end japanese raw fish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7690">Next</a></li>
</ul>