<% provide :title, 'Opinion Target 7190' %><h2>kimchi jigae dish<br />occurrence: 1</h2><div><ol><li>Turns out that I did n't have any meat whatsoever in my kimchi jigae dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7191">Next</a></li>
</ul>