<% provide :title, 'Opinion Target 2568' %><h2>sashimi meal<br />occurrence: 1</h2><div><ol><li>I came her for lunch yesterday and I had a great sashimi meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2569">Next</a></li>
</ul>