<% provide :title, 'Opinion Target 3660' %><h2>broccoli with garlic<br />occurrence: 1</h2><div><ol><li>I also orders vegetable fried rice, broccoli with garlic, and veggie spring rolls which were all AWESOME.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3661">Next</a></li>
</ul>