<% provide :title, 'Opinion Target 5639' %><h2>chinese onion pancakes<br />occurrence: 1</h2><div><ol><li>We split it amongst our group; it is n't as crispy as chinese onion pancakes are but more on the soft, oily, and chewy side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5640">Next</a></li>
</ul>