<% provide :title, 'Opinion Target 1174' %><h2>teas<br />occurrence: 3</h2><div><ol><li>Other than that it 's low quality Canadian coffee ( not sure how anyone drinks this stuff), okay teas, baked goods, the odd vegetarian soup item, terrible sandwich choices and bagels.</li><li>If I am forced to come, I always get one of the horoscope teas.</li><li>It is a great place for a late night desert date with great teas and drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1175">Next</a></li>
</ul>