<% provide :title, 'Opinion Target 7062' %><h2>scallop dumpling<br />occurrence: 1</h2><div><ol><li>We had failed Lan, shrimp dumpling, scallop dumpling, bbq pork chow fun.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7063">Next</a></li>
</ul>