<% provide :title, 'Opinion Target 5622' %><h2>grilled beef lettuce wraps<br />occurrence: 1</h2><div><ol><li>We had the grilled beef lettuce wraps ( which came with a large mound of meat), fried chicken in a lemon sauce, ramen and rice cakes in a spice broth and an oyster pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5623">Next</a></li>
</ul>