<% provide :title, 'Opinion Target 6553' %><h2>hot veal sandwich<br />occurrence: 1</h2><div><ol><li>I only go there for their hot veal sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6552">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6554">Next</a></li>
</ul>