<% provide :title, 'Opinion Target 2049' %><h2>sangria<br />occurrence: 2</h2><div><ol><li>The cake and sangria was good but the environment and service was substandard.</li><li>Some of the daquiris and margaritas are a bit too `` watered down'' with slush but the sangria 's are good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2050">Next</a></li>
</ul>