<% provide :title, 'Opinion Target 7477' %><h2>Naans<br />occurrence: 1</h2><div><ol><li>The Channa Masalla and Naans were fine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7478">Next</a></li>
</ul>