<% provide :title, 'Opinion Target 8482' %><h2>onions & provolone<br />occurrence: 1</h2><div><ol><li>You gotta get it with onions &amp; provolone.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8483">Next</a></li>
</ul>