<% provide :title, 'Opinion Target 2671' %><h2>panna cotta<br />occurrence: 1</h2><div><ol><li>Light and fresh panna cotta and sorbet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2672">Next</a></li>
</ul>