<% provide :title, 'Opinion Target 3881' %><h2>rolls with grilled chicken<br />occurrence: 1</h2><div><ol><li>I 've loved mostly everything I 've ordered here including: pho, bun bo hue, avocado shake, lemonade soda, fresh rolls with grilled chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3880">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3882">Next</a></li>
</ul>