<% provide :title, 'Opinion Target 8613' %><h2>Chicken Shawarma wrap<br />occurrence: 1</h2><div><ol><li>Food Quality &amp; Price: I ordered a 1/2 Chicken Shawarma wrap which comes with a soup/salad, I opted for Caesar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8614">Next</a></li>
</ul>