<% provide :title, 'Opinion Target 2813' %><h2>bimbimbap and Kimchi fried rice<br />occurrence: 1</h2><div><ol><li>We got the bimbimbap and Kimchi fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2814">Next</a></li>
</ul>