<% provide :title, 'Opinion Target 7438' %><h2>lamb kadai<br />occurrence: 1</h2><div><ol><li>So, here 's the good, bad and the ugly: The good: The lady taking the order was courteous, pleasent and nice. ( as one must be in the service industry) What I liked though is the she was willing to accommodate my request to change one item from their combo-I wanted to try their butter chicken instead of the lamb kadai gosht.She informed me of the delivery time and said there maybe delays due to the weather ( it was snowing).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7439">Next</a></li>
</ul>