<% provide :title, 'Opinion Target 1530' %><h2>avocado milkshake<br />occurrence: 2</h2><div><ol><li>A few of my favourites off the top of my head ...- avocado milkshake- pho with beef balls and rare beef- chicken pho- banh cuon- spring rolls ( or egg rolls, whatever you want to call it)- com tam This place is small for the amount of customers dining and waiting to get into the restaurant.</li><li>My favourite order here is the Hu Tieu My Tho with the avocado milkshake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1531">Next</a></li>
</ul>