<% provide :title, 'Opinion Target 4441' %><h2>Philly Cheese steak<br />occurrence: 1</h2><div><ol><li>The Philly Cheese steak was lackluster- I had a lot of hope but I was n't impressed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4442">Next</a></li>
</ul>