<% provide :title, 'Opinion Target 995' %><h2>rice wine<br />occurrence: 3</h2><div><ol><li>I love coming here for their home made rice wine!</li><li>The Korean beer and rice wine are awesome, smooth and not so strong!</li><li>Kang Poon Kee ( Deep Fried Sweet &amp; Spicy Chicken) ~ This my favorite drinking dish, perfect with a glass of beer or some soju ( korean rice wine). ~ Love how it 's served extra saucy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_996">Next</a></li>
</ul>