<% provide :title, 'Opinion Target 4389' %><h2>red tuna and white tuna<br />occurrence: 1</h2><div><ol><li>The sashimi had salmon, red tuna and white tuna, which was average like all other typical Japanese places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4388">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4390">Next</a></li>
</ul>