<% provide :title, 'Opinion Target 3330' %><h2>Tofu dinner<br />occurrence: 1</h2><div><ol><li>Their Tofu dinner is also very delicious &amp; a more reasonable price for the amount of food you get.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3329">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3331">Next</a></li>
</ul>