<% provide :title, 'Opinion Target 4669' %><h2>basil lemon martini<br />occurrence: 1</h2><div><ol><li>The drinks were good, I got the basil lemon martini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4670">Next</a></li>
</ul>