<% provide :title, 'Opinion Target 4093' %><h2>bean soup<br />occurrence: 1</h2><div><ol><li>For food we got the bean soup, Fish tacos, and enchiladas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4094">Next</a></li>
</ul>