<% provide :title, 'Opinion Target 3601' %><h2>/ black olive paste<br />occurrence: 1</h2><div><ol><li>We ordered the daily pasta special ( sausage, mushrooms) &amp; a pizza ( Alla Peccorina, w/ black olive paste, garlic, mozzarella, goat chese, spinach &amp; black olives).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3602">Next</a></li>
</ul>