<% provide :title, 'Opinion Target 8580' %><h2>ajummas<br />occurrence: 1</h2><div><ol><li>The ajummas were very polite and the food came out so fast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8579">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8581">Next</a></li>
</ul>