<% provide :title, 'Opinion Target 7478' %><h2>shrimp biryani<br />occurrence: 1</h2><div><ol><li>The best items on the menu are butter chicken, lamb vindaloo, and shrimp biryani.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7479">Next</a></li>
</ul>