<% provide :title, 'Opinion Target 1196' %><h2>kebobs<br />occurrence: 3</h2><div><ol><li>The kebobs were full of flavour and the texture was perfect.</li><li>They grill the kebobs to order on a traditional charcoal grill, and you can also get their precooked items to go with rice if that strikes your fancy.</li><li>The kebobs had good flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1197">Next</a></li>
</ul>