<% provide :title, 'Opinion Target 4010' %><h2>pizza delivery<br />occurrence: 1</h2><div><ol><li>Definitely recommend for lunch or dinner ...... MILES better than PP or PH .............. its not the best looking restaurant but this family ( owners) are very nice and the pizza slices are generous and tasty ( the tastiest on wilson ave.) im a repeating customer. this my kind of a daily place Was hungry for pizza, looked up pizza delivery on yelp, read the reviews, and so I looked online for menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4009">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4011">Next</a></li>
</ul>