<% provide :title, 'Opinion Target 8949' %><h2>pizza cravings<br />occurrence: 1</h2><div><ol><li>I do n't have pizza cravings often, but when I get them again, I 'm coming back here!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8950">Next</a></li>
</ul>