<% provide :title, 'Opinion Target 1882' %><h2>kimichi<br />occurrence: 2</h2><div><ol><li>Complimentary side dishes were also given and are always refillable. we were offered mashed potatoes ( yum!), kimichi, bean sprouts, and broccoli.</li><li>Then the beansprouts were super salty and the kimichi was not s flavourful as it used to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1881">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1883">Next</a></li>
</ul>