<% provide :title, 'Opinion Target 7720' %><h2>fried udon noodles<br />occurrence: 1</h2><div><ol><li>We had udon soup and fried udon noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7721">Next</a></li>
</ul>