<% provide :title, 'Opinion Target 1122' %><h2>Uni sushi<br />occurrence: 3</h2><div><ol><li>Recommend Uni sushi and seared fish sushi!</li><li>We got the uni sushi which was good again felt fresh and did n't have that bad taste you get from uni sometimes.</li><li>I recommend Osaka Sushi Japanese Korean Restaurant if you want some real eel with rice 2 piece uni sushi was about $ 8.95 or so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1123">Next</a></li>
</ul>