<% provide :title, 'Opinion Target 6653' %><h2>kim chi soup<br />occurrence: 1</h2><div><ol><li>We wasted a whole hour until they finally took our order. the kim chi soup has tofu, pieces of meat and is very spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6652">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6654">Next</a></li>
</ul>