<% provide :title, 'Opinion Target 7963' %><h2>Korean tofu stew served<br />occurrence: 1</h2><div><ol><li>`` Soon tofu'' is a Korean tofu stew served in a stone pot -- something I had never tried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7962">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7964">Next</a></li>
</ul>