<% provide :title, 'Opinion Target 5384' %><h2>gentleman<br />occurrence: 1</h2><div><ol><li>The gentleman is very nice and quite attentive if he is n't running around serving other guests.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5385">Next</a></li>
</ul>