<% provide :title, 'Opinion Target 5841' %><h2>frankfurter spinach cheese<br />occurrence: 1</h2><div><ol><li>We also got 2 savoury crepes- 1 chicken, spinach &amp; cheese mushroom and 1 frankfurter spinach cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5842">Next</a></li>
</ul>