<% provide :title, 'Opinion Target 4737' %><h2>pho ga<br />occurrence: 1</h2><div><ol><li>The pho ga is just bad cuts of chicken in beef broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4736">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4738">Next</a></li>
</ul>