<% provide :title, 'Opinion Target 5774' %><h2>coffee bar<br />occurrence: 1</h2><div><ol><li>Here 's a view of the coffee bar work station.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5775">Next</a></li>
</ul>