<% provide :title, 'Opinion Target 2391' %><h2>bagoong rice<br />occurrence: 2</h2><div><ol><li>Ordered the crispy chicken sisig, crispy chicken skin, and bagoong rice- all of which was enough for 3 people for lunch so make sure you either come with a big appetite or with friends/family!</li><li>My favourites were the bagoong rice and crispy chicken sisig.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2390">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2392">Next</a></li>
</ul>