<% provide :title, 'Opinion Target 9187' %><h2>mint chocolate and mango<br />occurrence: 1</h2><div><ol><li>My vegetarian box had pretty much the same thing with the plain rice, steamed veggies, vegetable tempura, 3 mini pieces of cucumber roll and deep fried tofu ( forgot the actual name of whats its called) Dessert, since the box came with free ice cream, our choices were vanilla, mint chocolate and mango.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9188">Next</a></li>
</ul>