<% provide :title, 'Opinion Target 1076' %><h2>chicken schwarma<br />occurrence: 3</h2><div><ol><li>Noticed a lot of guys coming in for the chicken schwarma too!</li><li>We both goth chicken schwarma.</li><li>Yum!- we had the fried eggplant and lamb which were good, but also the chicken schwarma which was rly dry and the flavors of the salad were meh- poor service, pricey- we saw the cook take pita off a pile of a customer 's leftover bread basket who had left, and put it in the pile to give to new customers: S.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1075">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1077">Next</a></li>
</ul>