<% provide :title, 'Opinion Target 914' %><h2>clam chowder<br />occurrence: 5</h2><div><ol><li>I ordered the clam chowder $ 10 witch was pretty good.</li><li>There are 2 choices, either Lobster bisque or a clam chowder.</li><li>I wonder whether the soup base for both clam chowder and lobster bisque are the same in the kitchen.</li><li>The clam chowder was over-seasoned with thyme and heavily floured as well.</li><li>I ordered the clam chowder to start, and it was one of the best ones I had- definitely comparable to what I tried when I went to the east coast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_915">Next</a></li>
</ul>