<% provide :title, 'Opinion Target 7293' %><h2>meat ( bacon ) bits<br />occurrence: 1</h2><div><ol><li>I saw mushrooms and meat ( bacon) bits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7294">Next</a></li>
</ul>