<% provide :title, 'Opinion Target 1898' %><h2>salmon dinner<br />occurrence: 2</h2><div><ol><li>I had the salmon dinner which came with greek salad, rice &amp; potato.</li><li>I had the salmon dinner which also was cooked perfectly ( most similar restaurants have a tendency of overcooking the salmon skewers leading to a very dry and non enjoyable meal) and had an amazing seasoning blend, yum!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1897">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1899">Next</a></li>
</ul>