<% provide :title, 'Opinion Target 6127' %><h2>snow dragon roll<br />occurrence: 1</h2><div><ol><li>Food is above average, well made and fresh, nice presentation, spicy mayo definitely tasty, great snow dragon roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6128">Next</a></li>
</ul>