<% provide :title, 'Opinion Target 5642' %><h2>table cooking combo<br />occurrence: 1</h2><div><ol><li>I 'd visit again! $ 30 for a table cooking combo that includes 1 sojo ( or 5 beers) ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5641">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5643">Next</a></li>
</ul>