<% provide :title, 'Opinion Target 5976' %><h2>almond croissants<br />occurrence: 1</h2><div><ol><li>Those almond croissants are so delicious ...!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5977">Next</a></li>
</ul>