<% provide :title, 'Opinion Target 6502' %><h2>Onion pancake beef wrap<br />occurrence: 1</h2><div><ol><li>Onion pancake beef wrap $ 5.99- crispy and soft at the same time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6503">Next</a></li>
</ul>