<% provide :title, 'Opinion Target 5064' %><h2>deep fried crab claw<br />occurrence: 1</h2><div><ol><li>The deep fried squid is great, as is the deep fried crab claw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5063">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5065">Next</a></li>
</ul>