<% provide :title, 'Opinion Target 7771' %><h2>bap salad<br />occurrence: 1</h2><div><ol><li>The hwae-dup bap salad was cut perfectly, vegetables clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7772">Next</a></li>
</ul>