<% provide :title, 'Opinion Target 6481' %><h2>congee house<br />occurrence: 1</h2><div><ol><li>It has a patio area for some strange reason ( I never thought Chinese people were big on patios, but meh) and it 's definitely your upscale congee house.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6482">Next</a></li>
</ul>