<% provide :title, 'Opinion Target 2356' %><h2>green tea icecream<br />occurrence: 2</h2><div><ol><li>With a dallop of whip cream on the side and 2 scoops with green tea icecream which is homemade.</li><li>I feel like the green tea icecream was so good, it was n't like the typical store brought gt icecream cause it was n't as creamy and i liked how it had the bitterness of the tea which really gave it that homemade taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2357">Next</a></li>
</ul>