<% provide :title, 'Opinion Target 4030' %><h2>salad with chicken breast<br />occurrence: 1</h2><div><ol><li>3-4 star Speaking of the food, it was meh-ok, I had a salad with chicken breast and I found the chicken to be dry and overcooked, while the salad was pretty good and well dressed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4031">Next</a></li>
</ul>