<% provide :title, 'Opinion Target 1438' %><h2>cabbage roll<br />occurrence: 3</h2><div><ol><li>My mom and I shared a corned beef sandwich, fries and a cabbage roll.</li><li>The cabbage roll was really nice.</li><li>The large cornbeef sandwich with the kaiser bun was amazing ... the cabbage roll was huge but too sweet .. the chicken noodle soup had good flavor but no chicken .. just noodles ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1439">Next</a></li>
</ul>