<% provide :title, 'Opinion Target 2472' %><h2>dine-in Pizza<br />occurrence: 2</h2><div><ol><li>So I was craving pizza one night, and quickly searched on Yelp for the nearest dine-in Pizza Hut in my area and ended up here!</li><li>You rarely see dine-in pizza restaurants these days.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2471">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2473">Next</a></li>
</ul>