<% provide :title, 'Opinion Target 8551' %><h2>Korean comfort food<br />occurrence: 1</h2><div><ol><li>As long as it 's not busy, Nakwon is the place for average, Korean comfort food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8552">Next</a></li>
</ul>