<% provide :title, 'Opinion Target 870' %><h2>mackerel<br />occurrence: 4</h2><div><ol><li>The mackerel were exceptional!</li><li>All of the staff seemed very enthused by our presence at the sushi bar and we were comped an amazingly delicious whole grilled saba ( mackerel- 5 stars).</li><li>I came late to meet with my party so I did n't get a say in what to order but we did get gam ja tang ( which was good- not as flavourful as I 'd like), the fried fish ( I think mackerel) was good as well although I usually do n't like it.</li><li>The mackerel was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_869">Previous</a></li>
  <li class="next"><a href=".\opinion_target_871">Next</a></li>
</ul>