<% provide :title, 'Opinion Target 1686' %><h2>veal dish<br />occurrence: 2</h2><div><ol><li>Love this place ... always get the caesar salad, escargots and a veal dish ..</li><li>The veal dish was really delicious, saucy, moist, with great flavours.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1687">Next</a></li>
</ul>