<% provide :title, 'Opinion Target 9548' %><h2>menu dessert<br />occurrence: 1</h2><div><ol><li>My mom got a set menu and it came with a daily dessert, but she wanted a specific cake so she ordered it separate and I took her set menu dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9549">Next</a></li>
</ul>