<% provide :title, 'Opinion Target 1643' %><h2>waitress/hostess<br />occurrence: 2</h2><div><ol><li>Bartender greeted me first before the waitress/hostess ( i do n't know if the waitress was shy but the whole time she was usually somewhere in the back).</li><li>The waitress/hostess speaks excellent English and did an excellent job accommodating our large, lightly Korean group.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1642">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1644">Next</a></li>
</ul>