<% provide :title, 'Opinion Target 6632' %><h2>food sushi<br />occurrence: 1</h2><div><ol><li>Of the fast food sushi chains, this one and Sushi Q are consistently decent ( I abhor Bento Nouveau, as the sushi is VILE !!!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6631">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6633">Next</a></li>
</ul>