<% provide :title, 'Opinion Target 2347' %><h2>bangus<br />occurrence: 1</h2><div><ol><li>Their bangus is generally larger than most other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2348">Next</a></li>
</ul>