<% provide :title, 'Opinion Target 8002' %><h2>stone pot diluted with water<br />occurrence: 1</h2><div><ol><li>They also serve the crispy rice from the stone pot diluted with water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8003">Next</a></li>
</ul>