<% provide :title, 'Opinion Target 1670' %><h2>lunch bento box<br />occurrence: 2</h2><div><ol><li>The lunch bento box had great value as it included some Noodle appetizer, salad and miso soups.</li><li>From lunch bento box, to daily specials.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1671">Next</a></li>
</ul>