<% provide :title, 'Opinion Target 2078' %><h2>sushi grade fish<br />occurrence: 2</h2><div><ol><li>Chef was a little low key for Teppanyaki ( which was ok in my mind), there was several types of beef, sushi grade fish etc ...</li><li>Sushi grade fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2077">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2079">Next</a></li>
</ul>