<% provide :title, 'Opinion Target 5881' %><h2>leaf design<br />occurrence: 1</h2><div><ol><li>As I sat down, my neighbour had a latte with a pretty leaf design on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5880">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5882">Next</a></li>
</ul>