<% provide :title, 'Opinion Target 5222' %><h2>typical gas burners<br />occurrence: 1</h2><div><ol><li>The BBQs here are the typical gas burners, not the coal type which are so rare and hard to find in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5223">Next</a></li>
</ul>