<% provide :title, 'Opinion Target 5529' %><h2>seafood components<br />occurrence: 1</h2><div><ol><li>I had the chance to try it and while I liked it more than my dish, I thought its seafood components overpowered the dish- I know it 's a seafood pasta, and there 's a lot of ingredients from the sea in it to prove it, but they did n't blend too well with the marinara sauce and with each other.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5530">Next</a></li>
</ul>