<% provide :title, 'Opinion Target 1180' %><h2>hot dishes<br />occurrence: 3</h2><div><ol><li>The hot dishes were n't great either.</li><li>The hot dishes were of lesser quality and it was a disappointment.</li><li>Their hot dishes are also very underwhelming.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1181">Next</a></li>
</ul>