<% provide :title, 'Opinion Target 4375' %><h2>spicy scallop roll<br />occurrence: 1</h2><div><ol><li>The spicy scallop roll also failed to impress as it was mostly bread crumbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4376">Next</a></li>
</ul>