<% provide :title, 'Opinion Target 4359' %><h2>rice & potato<br />occurrence: 1</h2><div><ol><li>I had the salmon dinner which came with greek salad, rice &amp; potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4360">Next</a></li>
</ul>