<% provide :title, 'Opinion Target 5576' %><h2>tiramisu french toast & goat cheese frittata<br />occurrence: 1</h2><div><ol><li>The tiramisu french toast &amp; goat cheese frittata were very good unlike the dinner entrees the previous time, with adequate portion sizes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5577">Next</a></li>
</ul>