<% provide :title, 'Opinion Target 3065' %><h2>sushi offerings<br />occurrence: 1</h2><div><ol><li>Good fresh fish, larger than average portions for the money and large menu with classic and interesting interpretations of the range of sushi offerings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3064">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3066">Next</a></li>
</ul>