<% provide :title, 'Opinion Target 8581' %><h2>honey potato<br />occurrence: 1</h2><div><ol><li>This includes the following:- glass noodles- kim chi- bean sprouts- honey potato- fish cake- and a few others The value is there for the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8580">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8582">Next</a></li>
</ul>