<% provide :title, 'Opinion Target 3401' %><h2>deep fried calamari<br />occurrence: 1</h2><div><ol><li>My appetizer was the deep fried calamari, which turned out to be the least greasy calamari I have ever had in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3402">Next</a></li>
</ul>