<% provide :title, 'Opinion Target 3500' %><h2>chicken donburi<br />occurrence: 1</h2><div><ol><li>The chicken donburi is very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3499">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3501">Next</a></li>
</ul>