<% provide :title, 'Opinion Target 1168' %><h2>ranch dressing<br />occurrence: 3</h2><div><ol><li>Their Southwest Chicken Salad is really good, and has some of the best ranch dressing I 've had anywhere.</li><li>He could only bring her ranch dressing.</li><li>Give my ranch dressing anyday!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1169">Next</a></li>
</ul>