<% provide :title, 'Opinion Target 3794' %><h2>volcano waffle<br />occurrence: 1</h2><div><ol><li>As for food, their volcano waffle is really cool but it did n't actually taste as good as it looks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3793">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3795">Next</a></li>
</ul>