<% provide :title, 'Opinion Target 9558' %><h2>mango meringue cakes<br />occurrence: 1</h2><div><ol><li>The strawberry and mango meringue cakes are my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9557">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9559">Next</a></li>
</ul>