<% provide :title, 'Opinion Target 4152' %><h2>grilled chicken chunks<br />occurrence: 1</h2><div><ol><li>The nachos had grilled chicken chunks on them- added a nice grilled flavour to the nachos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4151">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4153">Next</a></li>
</ul>