<% provide :title, 'Opinion Target 3159' %><h2>fettuccine carbonera<br />occurrence: 1</h2><div><ol><li>I had the escargot and the fettuccine carbonera, both of which were average or better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3158">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3160">Next</a></li>
</ul>