<% provide :title, 'Opinion Target 4440' %><h2>onion rings half fries<br />occurrence: 1</h2><div><ol><li>The burger came with guacamole, bacon, onions, tomatoes, lettuce, a lot of cheese and a pickle .... the side was half onion rings half fries ( first time I ever see this kind of side at a pub ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4439">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4441">Next</a></li>
</ul>