<% provide :title, 'Opinion Target 3337' %><h2>chip<br />occurrence: 1</h2><div><ol><li>We ordered fish &amp; chip ( $ 14), halibut steak ( $ 17) and calamari ( $ 10).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3338">Next</a></li>
</ul>