<% provide :title, 'Opinion Target 5359' %><h2>Soy Stewed Beef Noodle Soup<br />occurrence: 1</h2><div><ol><li>The Soy Stewed Beef Noodle Soup was good, but very average, and I think you can get something similar at many other Chinese restaurants in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5360">Next</a></li>
</ul>