<% provide :title, 'Opinion Target 2187' %><h2>pickled turnip<br />occurrence: 2</h2><div><ol><li>They also make their pickled turnip ( you know, the bright pink ones) in-house, and they have more flavour than any I 've ever had in my life.</li><li>The tabbouleh, spreads and pickled turnip are fresh and flavourful, and I always have enough left over for lunch next day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2188">Next</a></li>
</ul>