<% provide :title, 'Opinion Target 4205' %><h2>pork chop with rice<br />occurrence: 1</h2><div><ol><li>Their grilled chicken and pork chop with rice is my 2nd go to meal and I love it as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4204">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4206">Next</a></li>
</ul>