<% provide :title, 'Opinion Target 6118' %><h2>house fried rice<br />occurrence: 1</h2><div><ol><li>The house fried rice was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6117">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6119">Next</a></li>
</ul>