<% provide :title, 'Opinion Target 4034' %><h2>Passion Fruit Creme ( Mousse<br />occurrence: 1</h2><div><ol><li>Now I am a sucker for passion fruit anything- but their Passion Fruit Creme ( Mousse) was a great finisher and palate cleanser so nothing sat too heavy after the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4035">Next</a></li>
</ul>