<% provide :title, 'Opinion Target 1223' %><h2>drink menu<br />occurrence: 3</h2><div><ol><li>Large drink menu but the price is on the high side.</li><li>The drink menu is limited but not restrictive but given the venue never expected this to be a wine cellar.</li><li>They can sure work on their drink menu a bit more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1224">Next</a></li>
</ul>