<% provide :title, 'Opinion Target 4019' %><h2>steamed vegetables<br />occurrence: 1</h2><div><ol><li>$ 5.99 for Jerk Chicken, a large portion of rice and beans, and steamed vegetables which is cabbage and carrots stewed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4018">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4020">Next</a></li>
</ul>