<% provide :title, 'Opinion Target 6974' %><h2>Peking Duck dish<br />occurrence: 1</h2><div><ol><li>The interior is dated and starting to show its age, but the food is great especially the Peking Duck dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6973">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6975">Next</a></li>
</ul>