<% provide :title, 'Opinion Target 2410' %><h2>tako<br />occurrence: 2</h2><div><ol><li>They do have tuna, tako ( octopus), and eel as part of their ayce selection which is a plus.</li><li>If you do n't mind mediocre Japanese food, Tako is a good choice for its decent price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2411">Next</a></li>
</ul>