<% provide :title, 'Opinion Target 5141' %><h2>seafood component<br />occurrence: 1</h2><div><ol><li>Xiamen is a southwest costal city so you 're definitely expecting some type of seafood component in there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5140">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5142">Next</a></li>
</ul>