<% provide :title, 'Opinion Target 7634' %><h2>beef broth soup with your rice order !<br />occurrence: 1</h2><div><ol><li>They serve you a side of beef broth soup with your rice order!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7635">Next</a></li>
</ul>