<% provide :title, 'Opinion Target 8480' %><h2>veal cutlet<br />occurrence: 1</h2><div><ol><li>Ordered the veal cutlet and was n't disappointed as I have ordered it from another location beforehand.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8481">Next</a></li>
</ul>