<% provide :title, 'Opinion Target 8844' %><h2>lamb broth<br />occurrence: 1</h2><div><ol><li>Broth for the Magic Lamb did not taste like lamb broth though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8843">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8845">Next</a></li>
</ul>