<% provide :title, 'Opinion Target 5955' %><h2>cherry open faced danishes<br />occurrence: 1</h2><div><ol><li>Their kokosh cake is literally worth killing for, as are their cherry open faced danishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5956">Next</a></li>
</ul>