<% provide :title, 'Opinion Target 5992' %><h2>glistening smoked meat<br />occurrence: 1</h2><div><ol><li>What happened to the juicy, glistening smoked meat I saw in the photos ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5993">Next</a></li>
</ul>