<% provide :title, 'Opinion Target 9707' %><h2>grilled marks<br />occurrence: 1</h2><div><ol><li>Love the grilled marks on the tender chasu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9708">Next</a></li>
</ul>