<% provide :title, 'Opinion Target 2003' %><h2>braised beef noodle soup<br />occurrence: 2</h2><div><ol><li>Had the braised beef noodle soup and it was the worst I have ever had.</li><li>I 've been to at least four other Asian Legend locations and this is probably the worst one for their braised beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2002">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2004">Next</a></li>
</ul>