<% provide :title, 'Opinion Target 8428' %><h2>hot veal sandwich<br />occurrence: 1</h2><div><ol><li>I only go there for their hot veal sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8429">Next</a></li>
</ul>