<% provide :title, 'Opinion Target 6824' %><h2>red tuna sushi<br />occurrence: 1</h2><div><ol><li>The salmon and red tuna sushi were great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6825">Next</a></li>
</ul>