<% provide :title, 'Opinion Target 4036' %><h2>Lamb poutine lacks gravy<br />occurrence: 1</h2><div><ol><li>The Lamb poutine lacks gravy ... hello where is the lamb ???</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4037">Next</a></li>
</ul>