<% provide :title, 'Opinion Target 2540' %><h2>sushi cravings<br />occurrence: 1</h2><div><ol><li>I`m giving this a 4 out of 5 because it is open til 2 am which is awesome when I get sushi cravings late at night in the future.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2541">Next</a></li>
</ul>