<% provide :title, 'Opinion Target 2886' %><h2>shakshuka<br />occurrence: 1</h2><div><ol><li>Amazing shakshuka also.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2887">Next</a></li>
</ul>