<% provide :title, 'Opinion Target 1255' %><h2>furnishings<br />occurrence: 3</h2><div><ol><li>Limited menu ... furnishings and decorations from 50 years ago ... terrible place for the price.</li><li>Though the food has not changed in quality over the years, neither has the furnishings and decor.</li><li>I really liked the atmosphere and Asian theme of the furnishings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1256">Next</a></li>
</ul>