<% provide :title, 'Opinion Target 2395' %><h2>toppings by<br />occurrence: 1</h2><div><ol><li>Here are the ones I remember: Combo 1: base + 3 toppings + soup = $ 4.84 Combo 2: base + 4 toppings + can of pop = $ 6.13 Kid 's combo: base + 1 topping ( in small container) = $ 3.16- all of their prices already include taxes- there are no items that count as 2 toppings by default- remember: CASH ONLY They offer up about 20 different toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2396">Next</a></li>
</ul>