<% provide :title, 'Opinion Target 7869' %><h2>steam rice<br />occurrence: 1</h2><div><ol><li>Basically you get get 3 california piece roll, some tempura veggies, and 2 tempura shrimp, steam rice, and whatever protein you pick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7870">Next</a></li>
</ul>