<% provide :title, 'Opinion Target 1624' %><h2>butter chicken pizza<br />occurrence: 2</h2><div><ol><li>I also tried the butter chicken pizza which was ok.</li><li>The Butter Chicken pizza was AMAZING.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1625">Next</a></li>
</ul>