<% provide :title, 'Opinion Target 6116' %><h2>lamb skewers and croaker fish skewers<br />occurrence: 1</h2><div><ol><li>Loved the lamb skewers and croaker fish skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6115">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6117">Next</a></li>
</ul>