<% provide :title, 'Opinion Target 6508' %><h2>beef with noodles<br />occurrence: 1</h2><div><ol><li>The chunky beef with noodles is a personal favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6509">Next</a></li>
</ul>