<% provide :title, 'Opinion Target 1282' %><h2>pancetta<br />occurrence: 3</h2><div><ol><li>The sandwich felt very wholesome with their unique Calabrese artisan bread, packed with baby spinach, cheese, tomato, pancetta ( Italian bacon, woo!), locally sourced fresh grilled chicken ( !!) and a kick from the salsa verde aioli.</li><li>It did have a slight burnt taste mixed in the sauce, I think it came from the pancetta.</li><li>I like how the pancetta was cooked really crispy though, adds a nice crunch to the pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1281">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1283">Next</a></li>
</ul>