<% provide :title, 'Opinion Target 6592' %><h2>strawberry banana horoscope slush<br />occurrence: 1</h2><div><ol><li>I have n't actually tried anything with tea here, but I do love the strawberry banana horoscope slush.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6593">Next</a></li>
</ul>