<% provide :title, 'Opinion Target 4299' %><h2>dishes of dried chow mein noodles<br />occurrence: 1</h2><div><ol><li>I also ignore the fact that during the day the space itself is clogged by lonely drinkers nursing small dishes of dried chow mein noodles alongside their Domestic Bottles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4300">Next</a></li>
</ul>