<% provide :title, 'Opinion Target 8003' %><h2>tofu stew with rice<br />occurrence: 1</h2><div><ol><li>Food is cheap with a typical soon tofu stew with rice for $ 8.95 plus tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8002">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8004">Next</a></li>
</ul>