<% provide :title, 'Opinion Target 3248' %><h2>cannelloni<br />occurrence: 1</h2><div><ol><li>The cannelloni could have used a bit more basil in the sauce, but was otherwise quite excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3249">Next</a></li>
</ul>