<% provide :title, 'Opinion Target 7911' %><h2>radish bean sprouts and kimchi<br />occurrence: 1</h2><div><ol><li>The side dishes were still amazing as always the radish bean sprouts and kimchi was very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7910">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7912">Next</a></li>
</ul>