<% provide :title, 'Opinion Target 6921' %><h2>rice fried<br />occurrence: 1</h2><div><ol><li>I also missed that we did n't get our rice fried and it was a bit bland in conjunction with the steak i got.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6920">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6922">Next</a></li>
</ul>