<% provide :title, 'Opinion Target 3821' %><h2>raw fishes<br />occurrence: 1</h2><div><ol><li>The raw fishes are generally fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3822">Next</a></li>
</ul>