<% provide :title, 'Opinion Target 9406' %><h2>fried breads<br />occurrence: 1</h2><div><ol><li>Also had lobster Chow mein, the fried daikon cake, boiled pork liver n kidneys, fried breads, etc All delicious and worth coming back for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9407">Next</a></li>
</ul>