<% provide :title, 'Opinion Target 6010' %><h2>Montreal smoked meat sandwich on rye bread<br />occurrence: 1</h2><div><ol><li>I got a Montreal smoked meat sandwich on rye bread to go with the in house honey mustard at their take out area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6009">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6011">Next</a></li>
</ul>