<% provide :title, 'Opinion Target 2297' %><h2>sweet/sour chicken<br />occurrence: 1</h2><div><ol><li>My sister got the Beef Teriyaki Bento which included miso soup, salad, rice and sweet/sour chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2298">Next</a></li>
</ul>