<% provide :title, 'Opinion Target 2462' %><h2>fish market area<br />occurrence: 1</h2><div><ol><li>The fish market area can give the store a smell, as expected.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2463">Next</a></li>
</ul>