<% provide :title, 'Opinion Target 4955' %><h2>tapioca noodles<br />occurrence: 1</h2><div><ol><li>I love clear noodles ( aka tapioca noodles) and the ones in my soup were ok, but not as chewy as I like them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4956">Next</a></li>
</ul>