<% provide :title, 'Opinion Target 1523' %><h2>Dumpling Soon Tofu<br />occurrence: 3</h2><div><ol><li>I got the Seafood Soon Tofu and my friend got the Dumpling Soon Tofu.</li><li>Number 4 dumpling soon tofu is my all-time favorite.</li><li>I love the choices they provide with my usual being the dumpling soon tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1524">Next</a></li>
</ul>