<% provide :title, 'Opinion Target 2484' %><h2>rice green tea<br />occurrence: 1</h2><div><ol><li>They serve real green tea ( rice green tea) from the start that is really tasty and good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2485">Next</a></li>
</ul>