<% provide :title, 'Opinion Target 5405' %><h2>sesame pancakes<br />occurrence: 1</h2><div><ol><li>It was fine, the sesame pancakes were not as flaky as they should have been.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5406">Next</a></li>
</ul>