<% provide :title, 'Opinion Target 4397' %><h2>salmon and tuna<br />occurrence: 1</h2><div><ol><li>It had a mix of salmon and tuna ( I think) sashimi overtop lettuce, beets, avocado and a mix of other vegatbles and nori.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4398">Next</a></li>
</ul>