<% provide :title, 'Opinion Target 6692' %><h2>banana peppers with tahini sauce<br />occurrence: 1</h2><div><ol><li>For the sides; hummus, red cabbage, sliced tomatoes, onion herb mix and banana peppers with tahini sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6693">Next</a></li>
</ul>