<% provide :title, 'Opinion Target 2090' %><h2>entertainment<br />occurrence: 2</h2><div><ol><li>Also, one of the few places that offer table side cooking, which has a nice little entertainment aspect.</li><li>Maxim 's tries to survive in other creative ways such as offering weekend oldies music lounge performances which is pretty nice if you want to take your momma out somewhere for `` After Eight'' fun and entertainment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2089">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2091">Next</a></li>
</ul>