<% provide :title, 'Opinion Target 5105' %><h2>pepper fried squid<br />occurrence: 1</h2><div><ol><li>You must try the salt and pepper fried squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5106">Next</a></li>
</ul>