<% provide :title, 'Opinion Target 2325' %><h2>potato bolani<br />occurrence: 1</h2><div><ol><li>We also shared some ground meat kebobs, rice and salad ( $ 8) and a potato bolani ( $ 2.50) from Bamyan ( Afghan).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2326">Next</a></li>
</ul>