<% provide :title, 'Opinion Target 7059' %><h2>mix of casual<br />occurrence: 1</h2><div><ol><li>A nice mix of casual/ mid end dining.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7060">Next</a></li>
</ul>