<% provide :title, 'Opinion Target 5124' %><h2>Mixed Veggie Fried<br />occurrence: 1</h2><div><ol><li>If you 're new to the chain, I 'd suggest you try their signature House Seafood &amp; Mixed Veggie Fried Vermicelli ( it goes amazing with their chili oil which is fragrant but not overly spicy) and their BBQ meats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5125">Next</a></li>
</ul>