<% provide :title, 'Opinion Target 4765' %><h2>potato pancakes<br />occurrence: 1</h2><div><ol><li>Microwaved Latkes ? ( potato pancakes) Are you kidding me ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4766">Next</a></li>
</ul>