<% provide :title, 'Opinion Target 5957' %><h2>rice takeaway<br />occurrence: 1</h2><div><ol><li>Okay, it 's not Peking Duck quality, and the birds are not serialized from birth to keep track of quality, and there are certainly no time wasted on decorum, but for a local BBQ place where one can purchase a duck, half a duck, chicken, BBQ pork, duck liver, sausages, tofu, and a simple rice takeaway, there are no competition within a 3km radius.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5956">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5958">Next</a></li>
</ul>