<% provide :title, 'Opinion Target 4028' %><h2>quinoa and bak choy<br />occurrence: 1</h2><div><ol><li>Then for my main, I had the lovely Wild Salmon which sat atop a bed of lovely quinoa and bak choy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4029">Next</a></li>
</ul>