<% provide :title, 'Opinion Target 7374' %><h2>rosemary sauce<br />occurrence: 1</h2><div><ol><li>The NZ rack of lamb was NOT cooked to perfect and the rosemary sauce and other gravies they put onto the lamb absolutely ruined it for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7375">Next</a></li>
</ul>