<% provide :title, 'Opinion Target 6590' %><h2>tapioca balls<br />occurrence: 1</h2><div><ol><li>Side note: pearls are the chewy tapioca balls on the bottom, not the `` bubbles'' in bubble tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6591">Next</a></li>
</ul>