<% provide :title, 'Opinion Target 857' %><h2>grilled pork<br />occurrence: 4</h2><div><ol><li>The grilled pork has a tasty marinade.</li><li>My go to dishes are:- Banh beo bi- Banh cuon ( with/without sausage)- Com thap cam ( grilled pork, grilled chicken, shredded pork, steamed egg, fried egg)- and of course PHO!</li><li>The grilled pork and crispy squid were my faves, pancit was okay, and pineapple chicken could be better.</li><li>The grilled pork and eggs are always good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_856">Previous</a></li>
  <li class="next"><a href=".\opinion_target_858">Next</a></li>
</ul>