<% provide :title, 'Opinion Target 7066' %><h2>penne pasta with broccoli and sausages<br />occurrence: 1</h2><div><ol><li>The penne pasta with broccoli and sausages is really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7065">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7067">Next</a></li>
</ul>