<% provide :title, 'Opinion Target 1218' %><h2>BBQ pork belly<br />occurrence: 3</h2><div><ol><li>We order the BBQ pork belly.</li><li>I highly recommend the Sam Gyup Sal ( bbq pork belly)!</li><li>We had BBQ pork belly and a pork bone soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1219">Next</a></li>
</ul>