<% provide :title, 'Opinion Target 2259' %><h2>hand-pulled noodles<br />occurrence: 2</h2><div><ol><li>I 've been here several times, and they are known for their fresh hand-pulled noodles.</li><li>The standard noodles in their beef noodle soup tasted very processed so I would definitely pay the extra $ 1 for hand-pulled noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2260">Next</a></li>
</ul>