<% provide :title, 'Opinion Target 1578' %><h2>Orange<br />occurrence: 2</h2><div><ol><li>Try the Orange Snail Pub if you want a decent curry on campus.</li><li>It 's very good they have orange and grapefruit or half and half.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1579">Next</a></li>
</ul>