<% provide :title, 'Opinion Target 7778' %><h2>Chicken Teriaki dinner<br />occurrence: 1</h2><div><ol><li>To give you an example, I placed an order for take out today for a Sushi Maki tray, Chicken Udon and Chicken Teriaki dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7779">Next</a></li>
</ul>