<% provide :title, 'Opinion Target 2688' %><h2>black<br />occurrence: 1</h2><div><ol><li>Our chicken souvlaki was tough, dry, and burnt black in some spots.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2687">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2689">Next</a></li>
</ul>