<% provide :title, 'Opinion Target 3251' %><h2>Nova Scotia Lobster<br />occurrence: 1</h2><div><ol><li>The Nova Scotia Lobster was so succulent and delicious with a nice buttery taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3250">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3252">Next</a></li>
</ul>