<% provide :title, 'Opinion Target 6663' %><h2>tofu pot had no beef<br />occurrence: 1</h2><div><ol><li>My friends ' bibimbop and tofu pot had no beef, which was kinda ridiculous since the beef is supposed to be there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6664">Next</a></li>
</ul>