<% provide :title, 'Opinion Target 7093' %><h2>Garlic Dill Chicken<br />occurrence: 1</h2><div><ol><li>Ordered wings as a group and had the Garlic Dill Chicken Sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7094">Next</a></li>
</ul>