<% provide :title, 'Opinion Target 6102' %><h2>cumin spices<br />occurrence: 1</h2><div><ol><li>Remember to order dishes with the cumin spices, you ca n't go wrong with those.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6103">Next</a></li>
</ul>