<% provide :title, 'Opinion Target 7072' %><h2>polpette 's sauce<br />occurrence: 1</h2><div><ol><li>I basically ended up dipping the ( doughy) crust in what was left from the polpette 's sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7073">Next</a></li>
</ul>