<% provide :title, 'Opinion Target 8431' %><h2>steam milk<br />occurrence: 1</h2><div><ol><li>The steam milk with flavour shot was way too sweet too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8432">Next</a></li>
</ul>