<% provide :title, 'Opinion Target 3645' %><h2>seasoning salt<br />occurrence: 1</h2><div><ol><li>I found those fresher tasting as long as you forego the seasoning salt ... and you know those fries are pretty decent as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3646">Next</a></li>
</ul>