<% provide :title, 'Opinion Target 7794' %><h2>cream cones<br />occurrence: 1</h2><div><ol><li>Also I found out, after having a craving for ice cream cones, that you can get a cone ( just a cone) for only $ 0.52! woo hoo!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7793">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7795">Next</a></li>
</ul>