<% provide :title, 'Opinion Target 773' %><h2>value<br />occurrence: 6</h2><div><ol><li>The value was definitely there.</li><li>Very delicious, great value, excellent side dishes and a ton of variety on the menu.</li><li>Value not equal to CHEAP!</li><li>Best value is the all day breakfast for 5.99 between 7 and 11.</li><li>Food 1.0/5 Service 2.0/5 Ambiance 1.0/5 Value 4.0/5 = = = = = = = = = Overall 1.30/5.</li><li>Food- 8/10 Service- 5/10 Atmosphere- 8.5/10 Value- 6/10 Overall- 7/10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_772">Previous</a></li>
  <li class="next"><a href=".\opinion_target_774">Next</a></li>
</ul>