<% provide :title, 'Opinion Target 2158' %><h2>tendon pho<br />occurrence: 2</h2><div><ol><li>Rare beef and tendon pho, it was a pretty decent broth considering its a Chinese viet restaurant.</li><li>The medium pho came first, but we waited a long time for the tendon pho and vermicelli ( a very very long wait, two tables that came after us got their food served before us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2157">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2159">Next</a></li>
</ul>