<% provide :title, 'Opinion Target 2543' %><h2>chirasu lunch<br />occurrence: 1</h2><div><ol><li>Woah I 'm stuffed. the manager and servers are very friendly and attentive. we tried toro ( bluefin tuna) sashimi, and it tasted so good. it 's just very pricey ( $ 19.95, usually $ 24.95). i ordered chirasu lunch ( rice with various kinds of sashimi) as main course and all the sashimi were very fresh and well served. would definitely go back there again to try their sushi combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2544">Next</a></li>
</ul>