<% provide :title, 'Opinion Target 8514' %><h2>Pickles = Crunchy<br />occurrence: 1</h2><div><ol><li>Pickles = Crunchy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8515">Next</a></li>
</ul>