<% provide :title, 'Opinion Target 3086' %><h2>oreo milk tea<br />occurrence: 1</h2><div><ol><li>Thought I ordered an oreo milk tea, but received a block of ice with half a cookie sitting on top at a hefty price tag of $ 6- talk about let down of the year.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3085">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3087">Next</a></li>
</ul>