<% provide :title, 'Opinion Target 2902' %><h2>deep fry tofu<br />occurrence: 1</h2><div><ol><li>Their agedashi tofu is just deep fry tofu with no sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2903">Next</a></li>
</ul>