<% provide :title, 'Opinion Target 2904' %><h2>pescado frito<br />occurrence: 1</h2><div><ol><li>The menu offers the staples: platano, arroz, beans, yuca, pescado frito, pupusas, sopas, carne asada, chicharron, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2903">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2905">Next</a></li>
</ul>