<% provide :title, 'Opinion Target 6211' %><h2>falafels freshness<br />occurrence: 1</h2><div><ol><li>I am frankly quite surprised at the several low star reviews present, as the criticisms they mention ( falafels freshness, baba ghanoush flavour) as lacking was not at all my experience- to the contrary in fact.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6212">Next</a></li>
</ul>