<% provide :title, 'Opinion Target 3105' %><h2>green tea oreo bingsu<br />occurrence: 1</h2><div><ol><li>The green tea oreo bingsu had a base of ice topped w/ oreo bits, sliced almond, whipped cream, green tea ice-cream, and a waffle biscuit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3106">Next</a></li>
</ul>