<% provide :title, 'Opinion Target 5893' %><h2>Penang chicken curry<br />occurrence: 1</h2><div><ol><li>I tried the Penang chicken curry- a red curry spicy sauce topped with grilled chicken, it came with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5894">Next</a></li>
</ul>