<% provide :title, 'Opinion Target 3840' %><h2>shrimp tempura roll<br />occurrence: 1</h2><div><ol><li>We really liked the short ribs and I was the least impressed with the shrimp tempura roll and mango pudding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3839">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3841">Next</a></li>
</ul>