<% provide :title, 'Opinion Target 1833' %><h2>lamb kebabs<br />occurrence: 2</h2><div><ol><li>The lamb kebabs were extremely tasty but fatty.</li><li>We ordered a dozen lamb kebabs and a dozen beef kebabs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1834">Next</a></li>
</ul>