<% provide :title, 'Opinion Target 6312' %><h2>rice ball platter<br />occurrence: 1</h2><div><ol><li>I went with the rice ball platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6313">Next</a></li>
</ul>