<% provide :title, 'Opinion Target 8830' %><h2>dimsum delights<br />occurrence: 1</h2><div><ol><li>I forgot beyond having a vague idea which of the little dimsum delights you put the spicy mustard on and which you dip into the red watery sauce, I really had no clue.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8831">Next</a></li>
</ul>