<% provide :title, 'Opinion Target 1340' %><h2>fried onions<br />occurrence: 3</h2><div><ol><li>My favourite is the `` Asheh Reshteh'' which is a thick Persian Soup with beans, noodles, greens and s topped with whey and fried onions.</li><li>All good especially kashke-base jan which is roasted eggplant mixed with a few things like fried onions.</li><li>The pulled pork was ok, but what stopped it from being great was too much bbq sauce and fried onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1341">Next</a></li>
</ul>