<% provide :title, 'Opinion Target 5302' %><h2>dynamite cookies<br />occurrence: 1</h2><div><ol><li>I was calling them dynamite cookies, they were so big.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5303">Next</a></li>
</ul>