<% provide :title, 'Opinion Target 7408' %><h2>Dessert House 's crepes<br />occurrence: 1</h2><div><ol><li>The unique part of Pastel Creperies &amp; Dessert House 's crepes was the fact that they include sponge cake inside of the crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7409">Next</a></li>
</ul>