<% provide :title, 'Opinion Target 1146' %><h2>fruit crepe<br />occurrence: 4</h2><div><ol><li>I 've had the fruit crepe and the oatmeal and it 's nothing to write home about.</li><li>The fruit crepe is pretty light, and the oatmeal is nice for when the weather is cold.</li><li>My mom had a fruit crepe which looked ok, and was quite sizeable.</li><li>My friend and I also ordered the fruit crepe which was also light and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1147">Next</a></li>
</ul>