<% provide :title, 'Opinion Target 2645' %><h2>prix fix lunch<br />occurrence: 1</h2><div><ol><li>Ordered the $ 17 prix fix lunch and it was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2646">Next</a></li>
</ul>