<% provide :title, 'Opinion Target 4006' %><h2>original black milk tea<br />occurrence: 1</h2><div><ol><li>Love their original black milk tea!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4007">Next</a></li>
</ul>