<% provide :title, 'Opinion Target 4838' %><h2>sushi/rolls<br />occurrence: 1</h2><div><ol><li>The sushi/rolls actually taste gross.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4839">Next</a></li>
</ul>