<% provide :title, 'Opinion Target 2724' %><h2>western omelettes<br />occurrence: 1</h2><div><ol><li>The western omelettes were huge with a generous side of potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2725">Next</a></li>
</ul>