<% provide :title, 'Opinion Target 3204' %><h2>roasted potato<br />occurrence: 1</h2><div><ol><li>The roasted potato was disgusting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3203">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3205">Next</a></li>
</ul>