<% provide :title, 'Opinion Target 1715' %><h2>red curry chicken<br />occurrence: 2</h2><div><ol><li>I tried all of them and my recommendation will be pad Thai, Malaysian fry rice, Thai beef and the red curry chicken.</li><li>We did take out for pad Thai and red curry chicken and it was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1716">Next</a></li>
</ul>