<% provide :title, 'Opinion Target 6360' %><h2>GanManDu<br />occurrence: 1</h2><div><ol><li>The GanManDu was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6361">Next</a></li>
</ul>