<% provide :title, 'Opinion Target 7524' %><h2>vegetarian gyozas<br />occurrence: 1</h2><div><ol><li>Both the meat and vegetarian gyozas are quite delicious, as are the takoyaki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7525">Next</a></li>
</ul>