<% provide :title, 'Opinion Target 3504' %><h2>Yoko<br />occurrence: 1</h2><div><ol><li>But for the most part it 's a wonderful spot, the staff are genuine, kind and lovely Yoko is a hidden gem.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3503">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3505">Next</a></li>
</ul>