<% provide :title, 'Opinion Target 3194' %><h2>empanadas with cheese<br />occurrence: 1</h2><div><ol><li>For a treat, sometimes the empanadas with cheese are great with sugar sprinkled on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3195">Next</a></li>
</ul>