<% provide :title, 'Opinion Target 1179' %><h2>food items<br />occurrence: 3</h2><div><ol><li>Quality of food items is average.</li><li>I hate to admit, but the soup and other food items are pretty tasty, but I would question their kitchen hygiene.</li><li>You can get pasta or other food items in containers to go here, which was a big money maker when I was like 14.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1180">Next</a></li>
</ul>