<% provide :title, 'Opinion Target 7622' %><h2>lunch choice<br />occurrence: 1</h2><div><ol><li>Speedy service and low prices make it an excellent lunch choice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7623">Next</a></li>
</ul>