<% provide :title, 'Opinion Target 4978' %><h2>Buffalo Butter chicken wings<br />occurrence: 1</h2><div><ol><li>It 's one of my go to spots for wings because of the Buffalo Butter chicken wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4977">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4979">Next</a></li>
</ul>