<% provide :title, 'Opinion Target 5587' %><h2>Korean BBQs<br />occurrence: 1</h2><div><ol><li>The Korean BBQs- they waitresses come by to stir and put the meat on for you, so it 's not really self serve ( in terms of the cooking), as done at many Korean BBQ places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5588">Next</a></li>
</ul>