<% provide :title, 'Opinion Target 5937' %><h2>pizza delivery man<br />occurrence: 1</h2><div><ol><li>Next thing you know in 20 minutes I hear a knock on my door and it 's the pizza delivery man!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5936">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5938">Next</a></li>
</ul>