<% provide :title, 'Opinion Target 7291' %><h2>stir-fried turnip cakes<br />occurrence: 1</h2><div><ol><li>The stir-fried turnip cakes are some of the tastiest around ( again, thanks to the MSG), but it always arrives looking like mush, and you 're pretty lucky if you can actually get a few cubes out in tact.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7292">Next</a></li>
</ul>