<% provide :title, 'Opinion Target 4911' %><h2>lamb kebab<br />occurrence: 1</h2><div><ol><li>Their lamb kebab was sooo tender and juicy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4910">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4912">Next</a></li>
</ul>