<% provide :title, 'Opinion Target 1877' %><h2>lassi<br />occurrence: 2</h2><div><ol><li>Might as well get the lassi too while you 're at it, YOLO.</li><li>Tried Lunch today great service and great flavorful foid Haleem tasted perfect for kids, medium spicy 2 haleem, 1 charga, a doz kabob, 10 naan, 2 lassi, 4 drinks cost around $ 110 not including tips, its pricy for 4 kids and 4 adults but if u can afford worth eating. awful customer service experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1878">Next</a></li>
</ul>