<% provide :title, 'Opinion Target 6166' %><h2>Spicy Salmon Rolls/Spicy Tuna Rolls<br />occurrence: 1</h2><div><ol><li>Spicy Salmon Rolls/Spicy Tuna Rolls- delicious and very fresh!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6165">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6167">Next</a></li>
</ul>