<% provide :title, 'Opinion Target 4184' %><h2>gnocchi with lobster<br />occurrence: 1</h2><div><ol><li>I had the gnocchi with lobster.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4185">Next</a></li>
</ul>