<% provide :title, 'Opinion Target 9338' %><h2>Khan<br />occurrence: 1</h2><div><ol><li>Sister restaurant to the Great Khan in Markham ( see my review of that as menu and offerings are similar).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9339">Next</a></li>
</ul>