<% provide :title, 'Opinion Target 4126' %><h2>waiters/waitresses<br />occurrence: 1</h2><div><ol><li>The service deserves 5 stars as there are waiters/waitresses offering to help you despite how packed the place gets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4127">Next</a></li>
</ul>