<% provide :title, 'Opinion Target 6017' %><h2>Fire Dynamite<br />occurrence: 1</h2><div><ol><li>The Fire Dynamite, essentially a spicy shrimp tempura roll, lacked the spicy taste and was bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6016">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6018">Next</a></li>
</ul>