<% provide :title, 'Opinion Target 7393' %><h2>dessert crepe with red bean inside and green tea ice-cream on top<br />occurrence: 1</h2><div><ol><li>My favourite is the dessert crepe with red bean inside and green tea ice-cream on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7394">Next</a></li>
</ul>