<% provide :title, 'Opinion Target 5760' %><h2>Black sesame crepes<br />occurrence: 1</h2><div><ol><li>My pick this time: Black sesame crepes ( 5/5): Nothing can beat their home-churned black sesame ice cream which is served with crunchy peanut toppings on a freshly made crepe wrapped around whipped cream and sponge cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5761">Next</a></li>
</ul>