<% provide :title, 'Opinion Target 1917' %><h2>shaved grana padano cheese<br />occurrence: 2</h2><div><ol><li>We split a side order of The truffle fries- could n't really taste the truffle oil, but the rosemary and the shaved grana padano cheese really made for some tasty fries.</li><li>The fries came out hot and fresh and it blends really well with the shaved grana padano cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1916">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1918">Next</a></li>
</ul>