<% provide :title, 'Opinion Target 3782' %><h2>mints<br />occurrence: 1</h2><div><ol><li>The accompanying vegetable plate always has fresh bean sprouts, mints, lime and sawtooth herb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3783">Next</a></li>
</ul>