<% provide :title, 'Opinion Target 1818' %><h2>bingsu<br />occurrence: 2</h2><div><ol><li>The apple cider warmed our bellies after the cold bingsu.</li><li>I might still come back for the bingsu and the cider.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1819">Next</a></li>
</ul>