<% provide :title, 'Opinion Target 6192' %><h2>hot rice plates<br />occurrence: 1</h2><div><ol><li>The servers all tend to be Korean males, mainly due to the need to carry out the hot rice plates ( or so I 'd like to believe!)- happened to be low on energy ( mobile phone) and they kindly moved us to a table that had an outlet- superb service!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6193">Next</a></li>
</ul>