<% provide :title, 'Opinion Target 4846' %><h2>roasted lamb thigh<br />occurrence: 1</h2><div><ol><li>I particularly enjoyed the roasted lamb thigh, because it was so meaty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4847">Next</a></li>
</ul>