<% provide :title, 'Opinion Target 5900' %><h2>crepe exterior<br />occurrence: 1</h2><div><ol><li>The crepe exterior was fresh and chewy and the whipped cream was a perfect complement to the fruits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5901">Next</a></li>
</ul>