<% provide :title, 'Opinion Target 8640' %><h2>lamb meatball<br />occurrence: 1</h2><div><ol><li>It 's like a lamb meatball, but stick shaped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8641">Next</a></li>
</ul>