<% provide :title, 'Opinion Target 2650' %><h2>butter packets<br />occurrence: 1</h2><div><ol><li>I like the bread to start but surprised it 's served with butter packets ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2651">Next</a></li>
</ul>