<% provide :title, 'Opinion Target 1760' %><h2>chicken pasta<br />occurrence: 2</h2><div><ol><li>I ordered off their chicken pasta section of the menu- the Raffaella ( $ 16)- chicken breast, roasted red peppers, sundried tomatoes, snowpeas, penne pasta, and a rose sauce.</li><li>I ordered my chicken pasta in white sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1761">Next</a></li>
</ul>