<% provide :title, 'Opinion Target 7729' %><h2>eel with rice 2 piece uni sushi<br />occurrence: 1</h2><div><ol><li>I recommend Osaka Sushi Japanese Korean Restaurant if you want some real eel with rice 2 piece uni sushi was about $ 8.95 or so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7730">Next</a></li>
</ul>