<% provide :title, 'Opinion Target 4254' %><h2>brie<br />occurrence: 1</h2><div><ol><li>Still, I had expected the brie to be baked or melted onto the burger ( baked brie is awesome, burger is awesome, you 'd think they 'd marry the two).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4253">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4255">Next</a></li>
</ul>