<% provide :title, 'Opinion Target 4900' %><h2>cheese empanadas<br />occurrence: 1</h2><div><ol><li>I love their cheese empanadas with a little homemade salsa hot sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4901">Next</a></li>
</ul>