<% provide :title, 'Opinion Target 7404' %><h2>Satay sauce beef rice noodle soup<br />occurrence: 1</h2><div><ol><li>Also the Satay sauce beef rice noodle soup is my other favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7405">Next</a></li>
</ul>