<% provide :title, 'Opinion Target 7333' %><h2>served better dishes<br />occurrence: 1</h2><div><ol><li>Ultimately, I know Willy 's can AND HAS served better dishes, so do yourself a favor and restrict your cheap-eat-chowdowns to the `` special lunch deal'' hours of 11 to 1pm weekdays.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7332">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7334">Next</a></li>
</ul>