<% provide :title, 'Opinion Target 4050' %><h2>soju tents<br />occurrence: 1</h2><div><ol><li>The name itself refers to the little no-nonsense `` soju tents'' that spring up on Korean sidewalks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4049">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4051">Next</a></li>
</ul>