<% provide :title, 'Opinion Target 3583' %><h2>`` juice cocktail<br />occurrence: 1</h2><div><ol><li>The lady realized that we did n't actually order a `` juice cocktail'' and quickly solved the situation.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3584">Next</a></li>
</ul>