<% provide :title, 'Opinion Target 6520' %><h2>teapot<br />occurrence: 1</h2><div><ol><li>The service here is a bit chaotic, but you will never have an empty teapot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6521">Next</a></li>
</ul>