<% provide :title, 'Opinion Target 7382' %><h2>blueberry meringue cakes<br />occurrence: 1</h2><div><ol><li>On a good day, they 'll have the strawberry, mango or blueberry meringue cakes available.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7383">Next</a></li>
</ul>