<% provide :title, 'Opinion Target 2332' %><h2>dessert spot<br />occurrence: 2</h2><div><ol><li>I 've been to this place too many times to not write a review. tldr; A fantastic dessert spot for those with a sweet tooth for crepes and ice cream.</li><li>My favourite crepe/waffle dessert spot!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2333">Next</a></li>
</ul>