<% provide :title, 'Opinion Target 4943' %><h2>shwarma pieces<br />occurrence: 1</h2><div><ol><li>The shwarma pieces were dry and soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4944">Next</a></li>
</ul>