<% provide :title, 'Opinion Target 1210' %><h2>bubbles<br />occurrence: 3</h2><div><ol><li>The bubbles have the perfect texture and flavour ( not too sweet, and a hint of tea) and their menu has the same variety as well.</li><li>The bubbles they have is cooked perfect, so thumbs up for that.</li><li>Have him in a large aquarium at the front complete with a plastic diving bell and soothing bubbles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1211">Next</a></li>
</ul>