<% provide :title, 'Opinion Target 4165' %><h2>BBQ pork noodle soup<br />occurrence: 1</h2><div><ol><li>I had the BBQ pork noodle soup, which came out quickly and was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4166">Next</a></li>
</ul>