<% provide :title, 'Opinion Target 5959' %><h2>chicken club<br />occurrence: 1</h2><div><ol><li>The chicken club sandwich was good, so was the chicken alfredo pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5960">Next</a></li>
</ul>