<% provide :title, 'Opinion Target 4702' %><h2>rice noodles with chicken and panang curry sauce<br />occurrence: 1</h2><div><ol><li>As they were quite filling, we decided to share our main course, which was the rice noodles with chicken and panang curry sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4703">Next</a></li>
</ul>