<% provide :title, 'Opinion Target 4000' %><h2>pork cutlet dish<br />occurrence: 1</h2><div><ol><li>Though I give the restaurant an overall rating of 3 -- I would give their pork cutlet dish a whopping 4!* fanfare*:) ( oh, and they charge you $ $ for tea now -- unlike before).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4001">Next</a></li>
</ul>