<% provide :title, 'Opinion Target 3840' %><h2>hot dish<br />occurrence: 1</h2><div><ol><li>But when the hot dish like teriyaki beef, salmon or others.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3839">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3841">Next</a></li>
</ul>