<% provide :title, 'Opinion Target 1466' %><h2>sea cucumber<br />occurrence: 2</h2><div><ol><li>Although I enjoyed my pot- I had the seafood version which came with scallop, sea cucumber, shrimp, and mussel, I 'm going to stick to their regular chicken soup next visit since I thought the amount of seafood given was not justified with the cost difference.</li><li>I got one shrimp, one mussel, 3 baby scallops, and 4 pieces of chopped up sea cucumber.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1465">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1467">Next</a></li>
</ul>