<% provide :title, 'Opinion Target 6347' %><h2>staff management<br />occurrence: 1</h2><div><ol><li>It was taken off the bill which I appreciate but please please work on time, staff management for this location- it 's lacking it BIG BIG BIG TIME My experience with Boston Pizza in the past had n't been great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6348">Next</a></li>
</ul>