<% provide :title, 'Opinion Target 7257' %><h2>Soy Garlic fried chicken<br />occurrence: 1</h2><div><ol><li>Order the Soy Garlic fried chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7258">Next</a></li>
</ul>