<% provide :title, 'Opinion Target 4442' %><h2>salmon with shrimp<br />occurrence: 1</h2><div><ol><li>They should definitely consider replacing the salmon with shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4443">Next</a></li>
</ul>