<% provide :title, 'Opinion Target 1584' %><h2>garlic sauces<br />occurrence: 2</h2><div><ol><li>The food is great--we 've never branched out from the sandwiches, but the shawarma and falafel are crispy and flavourful and there are plenty of pickled toppings available to tart up the sweet tahini and garlic sauces.</li><li>Tahini- yes please:) Garlic ... I 'm no fan but its better than half the garlic sauces I 've tasted in middle eastern joints in Ontario/Quebec.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1585">Next</a></li>
</ul>