<% provide :title, 'Opinion Target 7191' %><h2>AYCE pork belly<br />occurrence: 1</h2><div><ol><li>One reason to come here is their AYCE pork belly ( sam kyup sal).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7192">Next</a></li>
</ul>