<% provide :title, 'Opinion Target 4748' %><h2>Matzo<br />occurrence: 1</h2><div><ol><li>No comment on the Matzo Ball as it was the first time having it, so I 'll leave the commentary to other 's that know their Matzo Ball from Dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4749">Next</a></li>
</ul>