<% provide :title, 'Opinion Target 6525' %><h2>fried turnips and minced beef with egg on fried rice<br />occurrence: 1</h2><div><ol><li>Love the spicy fried turnips and minced beef with egg on fried rice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6524">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6526">Next</a></li>
</ul>