<% provide :title, 'Opinion Target 6287' %><h2>spicy salsa<br />occurrence: 1</h2><div><ol><li>The spicy salsa added some warmth but does n't blow you away with heat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6288">Next</a></li>
</ul>