<% provide :title, 'Opinion Target 3565' %><h2>chicharon<br />occurrence: 1</h2><div><ol><li>Waited 30 minutes for two pupusas and 40 minutes for ceviche and yuca con chicharon, the yuca and chicharon was probably fried with old oil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3566">Next</a></li>
</ul>