<% provide :title, 'Opinion Target 6722' %><h2>noodle and mozzarella<br />occurrence: 1</h2><div><ol><li>Came here with the wife today and ordered the chicken and seafood along with rice cake, noodle and mozzarella.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6723">Next</a></li>
</ul>