<% provide :title, 'Opinion Target 4676' %><h2>arancini<br />occurrence: 1</h2><div><ol><li>I had the arancini to start and it was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4677">Next</a></li>
</ul>