<% provide :title, 'Opinion Target 8184' %><h2>plastic cups<br />occurrence: 1</h2><div><ol><li>I just think they need to make the place more inviting and they should replace their plastic cups as they look so old.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8185">Next</a></li>
</ul>