<% provide :title, 'Opinion Target 3301' %><h2>Hungarian coffee<br />occurrence: 1</h2><div><ol><li>It was a bag of Nescafe 3in1 Hungarian coffee ( 15-20 pouches I think).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3302">Next</a></li>
</ul>