<% provide :title, 'Opinion Target 5173' %><h2>rice noodle Fried oyster hot pot Beef noodles Salted & Spicy squid<br />occurrence: 1</h2><div><ol><li>Fried dough stick wrapped in rice noodle Fried oyster hot pot Beef noodles Salted &amp; Spicy squid ... almost too many to mention.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5174">Next</a></li>
</ul>