<% provide :title, 'Opinion Target 3726' %><h2>Pho Tien Thanh<br />occurrence: 1</h2><div><ol><li>Anyone looking for authentic Vietnamese food operated by Vietnamese people have to travel to the west end Pho Tien Thanh ( Ossignton/Queen) or Pho Mi Asia ( Keele/Wilson) or for the best of the best Pho Dau Bo ( Weston/Finch).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3727">Next</a></li>
</ul>