<% provide :title, 'Opinion Target 6813' %><h2>Surf Clam<br />occurrence: 1</h2><div><ol><li>Oh and the Surf Clam was so tiny.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6814">Next</a></li>
</ul>