<% provide :title, 'Opinion Target 1542' %><h2>Chicken Place sandwich<br />occurrence: 3</h2><div><ol><li>The Chicken Place sandwich is a conundrum for me, kind of like a chicken cuban sandwich, it 's tasty, but I would love nice chunky pulled chicken instead of the over-chopped chicken-salad textured meat on this one, but the garlic mayo, pickles and crunchy panini-grilled sub bun make it a decent sandwich.</li><li>I always get the chicken place sandwich with spicy fries, the price is not bad either.</li><li>I almost always order `` The Chicken Place Sandwich.''</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1543">Next</a></li>
</ul>