<% provide :title, 'Opinion Target 4760' %><h2>served cafeteria style<br />occurrence: 1</h2><div><ol><li>The staff was friendly, and it 's served cafeteria style, which I did n't mind.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4761">Next</a></li>
</ul>