<% provide :title, 'Opinion Target 712' %><h2>pepperoni<br />occurrence: 5</h2><div><ol><li>We ordered zucchini, onion, sausage and pepperoni.</li><li>The pepperoni and bacon are by far the best toppings you can get on pizza and they do n't skimp on the toppings here.</li><li>I get the pepperoni walk in special and it 's a tasty filling treat at a good value.</li><li>Now I 'm not typically a ' pepperoni' pizza kinda gal but I am all over a cheap dinner on the run.</li><li>We ordered the usual and had pepperoni and green peppers for our 2 toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_713">Next</a></li>
</ul>