<% provide :title, 'Opinion Target 1435' %><h2>diavolo pizza<br />occurrence: 2</h2><div><ol><li>The must haves are the diavolo pizza, fettucini alfredo, linguini dimare and fig pizza.</li><li>However, I ordered the diavolo pizza and was disappointed; it was heavy on the ( low quality) cheese and very sparse on all the other toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1436">Next</a></li>
</ul>