<% provide :title, 'Opinion Target 7411' %><h2>chicken rice combo<br />occurrence: 1</h2><div><ol><li>Each meal has cost in the $ 5 to $ 6.25 ballpark after tax, and was a hefty amount of food which in the case of the chicken rice combo 's, I was actually able to have enough leftovers for leftovers!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7410">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7412">Next</a></li>
</ul>