<% provide :title, 'Opinion Target 1932' %><h2>pork soup<br />occurrence: 2</h2><div><ol><li>I ordered the kimchi and pork soup which is my usual order at Korean restaurants and it was great!</li><li>Four stars for the taste of my pork soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1933">Next</a></li>
</ul>