<% provide :title, 'Opinion Target 1472' %><h2>customer<br />occurrence: 2</h2><div><ol><li>Service: I found most of the servers were here on a working visa ( overheard from an over friendly customer who was chatting with them).</li><li>Fine, I understand they need to clean, but once a customer sits down, it 's rude and unacceptable to keep vacuuming.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1471">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1473">Next</a></li>
</ul>