<% provide :title, 'Opinion Target 8687' %><h2>servant<br />occurrence: 1</h2><div><ol><li>However, the servant was very rude.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8688">Next</a></li>
</ul>