<% provide :title, 'Opinion Target 3155' %><h2>mun red bean drink<br />occurrence: 1</h2><div><ol><li>I would highly recommend this place to anyone looking for a good bowl of pho Really authentic pho, the mun red bean drink is also excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3154">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3156">Next</a></li>
</ul>