<% provide :title, 'Opinion Target 7502' %><h2>brunch food<br />occurrence: 1</h2><div><ol><li>Highly recommend this place for brunch food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7503">Next</a></li>
</ul>