<% provide :title, 'Opinion Target 6214' %><h2>broiled BBQ beef<br />occurrence: 1</h2><div><ol><li>Menu is tiny, only 9 food items, very limited # of drinks ... was looking for Korean BBQ ribs, none on the menu so I had the broiled BBQ beef which was good, served with a few side dishes, loved the dark little bean type item, not sure what it is though ???</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6213">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6215">Next</a></li>
</ul>