<% provide :title, 'Opinion Target 5156' %><h2>oyster patties<br />occurrence: 1</h2><div><ol><li>I do n't recommend the fried oysters or the oyster patties, both of which sounded better than they actually were.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5157">Next</a></li>
</ul>