<% provide :title, 'Opinion Target 9659' %><h2>naan breads<br />occurrence: 1</h2><div><ol><li>We all had a mixtures of dishes, butter chicken, vindaloo, tikka masala, naan breads and they even did a special of bombay potatoes ( it was n't on the menu!) the food was just divine!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9660">Next</a></li>
</ul>