<% provide :title, 'Opinion Target 1482' %><h2>Tiramisu French Toast<br />occurrence: 3</h2><div><ol><li>You can skip the Tiramisu French Toast too despite other rave reviews- the dollop of mascarpone was too watery and tasteless- just tasted like any other cinnamon french toast.</li><li>I had their tiramisu French toast which was sooooo good.</li><li>I also tried a bite of my boyfriend 's Tiramisu French Toast that was as thick as about 5 slices of normal bread and pumped full of tiramisu filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1483">Next</a></li>
</ul>