<% provide :title, 'Opinion Target 1064' %><h2>ayce<br />occurrence: 4</h2><div><ol><li>Most foods were really good, one of the best ayce I ever had.</li><li>Best AYCE sushi in town!</li><li>Worst Ayce ever the food comes in a bad quality, arrived late, etc.</li><li>For an AYCE, they really did n't want to bring another sheet to fill out when we were ready to reorder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1063">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1065">Next</a></li>
</ul>