<% provide :title, 'Opinion Target 2947' %><h2>eat family style<br />occurrence: 1</h2><div><ol><li>You can either get your meal or eat family style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2946">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2948">Next</a></li>
</ul>