<% provide :title, 'Opinion Target 7599' %><h2>Pad Tai<br />occurrence: 1</h2><div><ol><li>I 'm not a huge Fan of Pho but this place has great Pad Tai!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7600">Next</a></li>
</ul>