<% provide :title, 'Opinion Target 3150' %><h2>green bean flour<br />occurrence: 1</h2><div><ol><li>The deep fried shrimp cake that comes in the order will make you full, it 's made of a green bean flour, and also has a large unpeeled shrimp in the middle, good protein for breakfast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3151">Next</a></li>
</ul>