<% provide :title, 'Opinion Target 1524' %><h2>bbq beef<br />occurrence: 3</h2><div><ol><li>Pretty good, stick with the tofu, the bbq beef was a big dry.</li><li>BBQ beef spicy and nice.</li><li>Their dine-in menu includes appetizers, sushi &amp; sashimi, special rolls, live lobster, BBQ beef short ribs, curry, cutlets, grilled salmon, set course meals, teppanyaki dishes and so much more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1525">Next</a></li>
</ul>