<% provide :title, 'Opinion Target 8092' %><h2>fresh Basil<br />occurrence: 1</h2><div><ol><li>The fresh Basil was replaced with some dry facsimile of basil ( possibly oregano).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8093">Next</a></li>
</ul>