<% provide :title, 'Opinion Target 2043' %><h2>egg whites<br />occurrence: 2</h2><div><ol><li>The ginger and chicken fried rice also had egg whites and was a pleasant surprise- the ginger bits gave a refreshing kick and the chicken and egg made it a hearty comfort food style fried rice.</li><li>The chef took their time my last visit- the egg whites were fluffy yet filling, the puffs were big and poofy, and they were served hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2044">Next</a></li>
</ul>