<% provide :title, 'Opinion Target 3151' %><h2>Hu style pork sausage slices<br />occurrence: 1</h2><div><ol><li>The bowl was stacked with meaty goodness ( beef brisket, Hu style pork sausage slices, pork blood).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3152">Next</a></li>
</ul>