<% provide :title, 'Opinion Target 6977' %><h2>egg whites stir fried with crab meat<br />occurrence: 1</h2><div><ol><li>The egg whites stir fried with crab meat was interesting with the vinegar- it was my first time trying this!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6978">Next</a></li>
</ul>