<% provide :title, 'Opinion Target 3927' %><h2>noodle dish<br />occurrence: 1</h2><div><ol><li>The garlic is not too overpowering, and it was a nice side dish to all of the main dishes)- Pancit Sampaguita ( great noodle dish because it had a lot of the meats, seafood and veggies- it was nice and moist [ not dry ])- Crispy Chicken with house sauce ( boneless chicken used with batter, not what I expected but still a good dish to order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3928">Next</a></li>
</ul>