<% provide :title, 'Opinion Target 4386' %><h2>penne pasta<br />occurrence: 1</h2><div><ol><li>I ordered off their chicken pasta section of the menu- the Raffaella ( $ 16)- chicken breast, roasted red peppers, sundried tomatoes, snowpeas, penne pasta, and a rose sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4387">Next</a></li>
</ul>