<% provide :title, 'Opinion Target 9595' %><h2>bread choices<br />occurrence: 1</h2><div><ol><li>The chalk board on the top, with all their bread choices state single or double.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9596">Next</a></li>
</ul>