<% provide :title, 'Opinion Target 6698' %><h2>Original<br />occurrence: 1</h2><div><ol><li>I got the Original Spicy Dakgalbee and added noodles, rice cake and mozzarella.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6699">Next</a></li>
</ul>