<% provide :title, 'Opinion Target 1266' %><h2>moon river roll<br />occurrence: 3</h2><div><ol><li>My favourite is the moon river roll- for some reason, they stuff this roll with huge pieces of avocado ( yum).</li><li>You 'll get a good bang for your buck for the moon river roll, and any of the spicy rolls.</li><li>I even saw some browning on top of the salmon sashimi on the moon river roll .. and the pieces certainly were not as thick or fatty as the other one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1267">Next</a></li>
</ul>