<% provide :title, 'Opinion Target 3342' %><h2>sushi lunch b<br />occurrence: 1</h2><div><ol><li>The sushi lunch b is good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3343">Next</a></li>
</ul>