<% provide :title, 'Opinion Target 2792' %><h2>black sesame sauce<br />occurrence: 1</h2><div><ol><li>Their black sesame sauce on the salad was a nice change from the usual salads I 'm acquainted with.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2793">Next</a></li>
</ul>