<% provide :title, 'Opinion Target 4785' %><h2>BBQ chicken with rice and peas<br />occurrence: 1</h2><div><ol><li>However on a Tuesday, you have the choice of getting either Jerk, Chicken or BBQ chicken with rice and peas/ or white rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4786">Next</a></li>
</ul>