<% provide :title, 'Opinion Target 2764' %><h2>assortment of banchan<br />occurrence: 1</h2><div><ol><li>Portion size: Great assortment of banchan ( appetizers) in the form of ... kimchi, seaweed, spiced cucumber, sliced potato ( ?) and lettuce w/ black sesame dressing ( ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2765">Next</a></li>
</ul>