<% provide :title, 'Opinion Target 6951' %><h2>turkey bacon club house with Greek salad<br />occurrence: 1</h2><div><ol><li>I ordered the turkey bacon club house with Greek salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6952">Next</a></li>
</ul>