<% provide :title, 'Opinion Target 2682' %><h2>specialty pizzas<br />occurrence: 1</h2><div><ol><li>Pizza nova has some unique specialty pizzas that makes me order it over its fast-food pizza competitors.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2681">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2683">Next</a></li>
</ul>