<% provide :title, 'Opinion Target 7284' %><h2>typical Chinese service<br />occurrence: 1</h2><div><ol><li>Service is always quick and typical Chinese service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7285">Next</a></li>
</ul>