<% provide :title, 'Opinion Target 4176' %><h2>marinated pear<br />occurrence: 1</h2><div><ol><li>The marinated pear had a lot of flavor even when fold.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4177">Next</a></li>
</ul>