<% provide :title, 'Opinion Target 7368' %><h2>french food<br />occurrence: 1</h2><div><ol><li>Their menu sounds like it 's italian or french food, but it 's not.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7369">Next</a></li>
</ul>