<% provide :title, 'Opinion Target 4041' %><h2>strawberry , grape and lemon soju<br />occurrence: 1</h2><div><ol><li>The strawberry, grape and lemon soju are amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4042">Next</a></li>
</ul>