<% provide :title, 'Opinion Target 6695' %><h2>baba ganoush in laffas<br />occurrence: 1</h2><div><ol><li>The laffa wraps are my favourite, the only bad thing is that they do n't put baba ganoush in laffas unlike other mevame locations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6696">Next</a></li>
</ul>