<% provide :title, 'Opinion Target 2775' %><h2>Beef Teriyaki Bento<br />occurrence: 1</h2><div><ol><li>My sister got the Beef Teriyaki Bento which included miso soup, salad, rice and sweet/sour chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2774">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2776">Next</a></li>
</ul>