<% provide :title, 'Opinion Target 3729' %><h2>house special stir fried noodle<br />occurrence: 1</h2><div><ol><li>What 's so funny is that we ordered the sweet sour soup, the house special stir fried noodle and Best Lechon Kawali I 've had so far, tender meat and crispy skin, must order!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3730">Next</a></li>
</ul>