<% provide :title, 'Opinion Target 2475' %><h2>spicy tuna<br />occurrence: 1</h2><div><ol><li>The spicy tuna maki and Cali roll were delicious and `` fresh''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2476">Next</a></li>
</ul>