<% provide :title, 'Opinion Target 7213' %><h2>korean black bean noodles<br />occurrence: 1</h2><div><ol><li>Food: I was craving something warm so I order a kalbitang ( beef soup), and my group had a jajangmyung ( korean black bean noodles), o-dengtang ( fishcake soup), and dwenchang chigae ( seafood and tofu soup).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7214">Next</a></li>
</ul>