<% provide :title, 'Opinion Target 2146' %><h2>chicken & chicken Sho Mai<br />occurrence: 1</h2><div><ol><li>We got some dim sum orders: shrimp roll, veggie dumpling, veggie spring rolls, chicken spring rolls, pork with black bean sauce, crispy chicken &amp; chicken Sho Mai along with some veggie fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2147">Next</a></li>
</ul>