<% provide :title, 'Opinion Target 5724' %><h2>Fish Mousse items<br />occurrence: 1</h2><div><ol><li>First time I 've tried Fried Fish Noodles and it 's not bad realizing Chiu Chow is famous for their Fish Mousse items such as Fish Balls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5725">Next</a></li>
</ul>