<% provide :title, 'Opinion Target 6661' %><h2>Bibmibap<br />occurrence: 1</h2><div><ol><li>The Bibmibap tasted a bit bland and was not flavourful as I hoped it to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6662">Next</a></li>
</ul>