<% provide :title, 'Opinion Target 1489' %><h2>stews<br />occurrence: 3</h2><div><ol><li>Oh Geul Boh Geul 's soups, stews, tonkasu, samgyeopsal and kalbi are all decent, yet very average tasting.</li><li>I do suggest getting at least a medium spicy because the less spicy stews are a tad salty.</li><li>The Ghaimeh and Ghorme Sabzi stews were both good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1488">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1490">Next</a></li>
</ul>