<% provide :title, 'Opinion Target 1758' %><h2>octopus<br />occurrence: 2</h2><div><ol><li>I think she tried to tell me that: `` The octopus is ready you can eat it now.''</li><li>The octopus was really chewy- I could barely bite a piece off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1759">Next</a></li>
</ul>