<% provide :title, 'Opinion Target 5270' %><h2>steak n potatoes<br />occurrence: 1</h2><div><ol><li>First a little background- Hong Kong being the cosmopolitan metropolis it is, is full of restos such as these that serve up a Cantonese version of Western food ( spaghetti, steak n potatoes, borscht, lots and lots of toast sandwiches).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5271">Next</a></li>
</ul>