<% provide :title, 'Opinion Target 2972' %><h2>Eggplant Roti<br />occurrence: 1</h2><div><ol><li>My friend got the Eggplant Roti, with the ' chicken' sauce on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2973">Next</a></li>
</ul>