<% provide :title, 'Opinion Target 1815' %><h2>'s duck<br />occurrence: 2</h2><div><ol><li>I 'm not as much a fan of He He Long 's duck nor their crispy roast pork ( see my other reviews for THE BEST roast pork anywhere) but I do love their char siu pork!</li><li>Today 's duck was way too tiny and very different from what we usually had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1816">Next</a></li>
</ul>