<% provide :title, 'Opinion Target 6603' %><h2>hot taro milk tea<br />occurrence: 1</h2><div><ol><li>Every time I get the same thing- hot taro milk tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6602">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6604">Next</a></li>
</ul>