<% provide :title, 'Opinion Target 2267' %><h2>Swiss cheese<br />occurrence: 2</h2><div><ol><li>Missing bacon, missing hard boiled egg, tasteless dressing, Swiss cheese Instead of blue cheese !!</li><li>The chicken crepe included cremini, spinach, swiss cheese, and a cream sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2268">Next</a></li>
</ul>