<% provide :title, 'Opinion Target 1998' %><h2>Rooms<br />occurrence: 2</h2><div><ol><li>Small Rooms is one of North York 's best kept secret.</li><li>All in all, there 's something honest and simple about Small Rooms.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1997">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1999">Next</a></li>
</ul>