<% provide :title, 'Opinion Target 7831' %><h2>bar height table<br />occurrence: 1</h2><div><ol><li>The bar height table does not count.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7832">Next</a></li>
</ul>