<% provide :title, 'Opinion Target 4512' %><h2>Vanilla tartufo<br />occurrence: 1</h2><div><ol><li>3) Vanilla tartufo was incredible!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4513">Next</a></li>
</ul>