<% provide :title, 'Opinion Target 3747' %><h2>avocado sandwich<br />occurrence: 1</h2><div><ol><li>My favourites include the avocado sandwich and the turkey ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3748">Next</a></li>
</ul>