<% provide :title, 'Opinion Target 2217' %><h2>rock crab<br />occurrence: 2</h2><div><ol><li>We tried the 1) tofu + mushroom, 2) tofu + corn, 3) rock crab, pumpkin, and fake sharkfin.</li><li>Tofu and mushroom had more of a savory taste, tofu and corn was sweeter, and the pumpkin, rock crab, and fake sharkfin was a mix of both.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2218">Next</a></li>
</ul>