<% provide :title, 'Opinion Target 5494' %><h2>gnocchi and Tuscan fries<br />occurrence: 1</h2><div><ol><li>We ordered the arugula salad with shrimp, the pollo a pesto pizza, gnocchi and Tuscan fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5495">Next</a></li>
</ul>