<% provide :title, 'Opinion Target 8055' %><h2>salmon boat<br />occurrence: 1</h2><div><ol><li>We ordered the salmon boat ( 30 pieces) and got it in a small white plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8056">Next</a></li>
</ul>