<% provide :title, 'Opinion Target 9619' %><h2>butter chicken expert<br />occurrence: 1</h2><div><ol><li>As someone who is a bit of a butter chicken expert ( haha) I decided to check out Agra thanks to the JustEat app.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9618">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9620">Next</a></li>
</ul>