<% provide :title, 'Opinion Target 8674' %><h2>vaziri plate<br />occurrence: 1</h2><div><ol><li>Love the vaziri plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8675">Next</a></li>
</ul>