<% provide :title, 'Opinion Target 3694' %><h2>taco shell<br />occurrence: 1</h2><div><ol><li>The taco shell looked just like the ones you buy at grocery stores.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3693">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3695">Next</a></li>
</ul>