<% provide :title, 'Opinion Target 6853' %><h2>Spicy Fish Fillet Noodle Soup<br />occurrence: 1</h2><div><ol><li>Spicy Fish Fillet Noodle Soup I have a sneaking suspicion that as a white girl ordering this dish, they may have toned down the spice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6854">Next</a></li>
</ul>