<% provide :title, 'Opinion Target 6192' %><h2>shaved beef<br />occurrence: 1</h2><div><ol><li>The shaved beef from the spit was tender and well done, not dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6193">Next</a></li>
</ul>