<% provide :title, 'Opinion Target 5056' %><h2>dishes pamphlet<br />occurrence: 1</h2><div><ol><li>We ordered most dishes off of their popular dishes pamphlet which was provided with the full menu book.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5057">Next</a></li>
</ul>