<% provide :title, 'Opinion Target 1451' %><h2>bacon breakfast<br />occurrence: 3</h2><div><ol><li>My friend had a standard eggs and bacon breakfast which she said was also extremely underwhelming.</li><li>Food ( Grill): The grill course is rather filling which is good actually, but do prepare for a sodium and oil bomb- skip the bacon breakfast if you are there for the grill.</li><li>Came here today in search of the legendary eggs and bacon breakfast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1450">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1452">Next</a></li>
</ul>