<% provide :title, 'Opinion Target 1994' %><h2>Sushi portions<br />occurrence: 2</h2><div><ol><li>Sushi portions are generous.</li><li>As for the food, their sushi portions were HUGE, we ordered the green dragon roll and the spicy volcano roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1995">Next</a></li>
</ul>