<% provide :title, 'Opinion Target 9024' %><h2>rice pilaf , refried beans<br />occurrence: 1</h2><div><ol><li>It was topped with a fresh salsa, and accompanied by a salad, rice pilaf, refried beans and two homemade tortillas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9025">Next</a></li>
</ul>