<% provide :title, 'Opinion Target 1487' %><h2>soy sauce marinated crabs<br />occurrence: 2</h2><div><ol><li>After bugging my bf to come here for months so I can try their infamous soy sauce marinated crabs, we finally went yesterday evening!</li><li>My bf said the soy sauce marinated crabs taste the same if you were to eat it in Korea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1488">Next</a></li>
</ul>