<% provide :title, 'Opinion Target 5471' %><h2>fried string bean<br />occurrence: 1</h2><div><ol><li>Loved the fried string bean and beef too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5472">Next</a></li>
</ul>