<% provide :title, 'Opinion Target 5588' %><h2>value<br />occurrence: 1</h2><div><ol><li>Overall a great place for some legit Korean food =) Very delicious, great value, excellent side dishes and a ton of variety on the menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5589">Next</a></li>
</ul>