<% provide :title, 'Opinion Target 1434' %><h2>chicken legs<br />occurrence: 3</h2><div><ol><li>An enthusiastic 4 stars for the `` half fat'' bbq pork and for the chicken legs, both of which I think are much better than downtown fave, Kom Jug Yuen, that people tend to rave about, but I have repeatedly been unimpressed by.</li><li>I was served 2 of the smallest chicken legs I 've ever seen, with 1 small scoop of rice.</li><li>I went after the Smoke House Platter ( small) with a friend which had a bit of everything ( chicken wings, ribs, riblets, chicken legs, etc.) and suffice to say, it was super-filling!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1433">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1435">Next</a></li>
</ul>