<% provide :title, 'Opinion Target 7600' %><h2>pho linh<br />occurrence: 1</h2><div><ol><li>His dad gave his approval for his bowl of pho, which means it must 've been pretty darn good because he 's picky when it comes to pleasing him with food. this place is my go to place ( and pho linh).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7599">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7601">Next</a></li>
</ul>