<% provide :title, 'Opinion Target 6035' %><h2>meal includes rice + coleslaw and chicken<br />occurrence: 1</h2><div><ol><li>For $ 3 ( kids meal) you ca n't go wrong, this meal includes rice + coleslaw and chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6034">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6036">Next</a></li>
</ul>