<% provide :title, 'Opinion Target 6982' %><h2>dessert of sandwhiches for food<br />occurrence: 1</h2><div><ol><li>Feeling like cake for dessert of sandwhiches for food, you come here for the discussions that are going to take place rather than groumet grub.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6981">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6983">Next</a></li>
</ul>