<% provide :title, 'Opinion Target 5875' %><h2>green tea ice flake<br />occurrence: 1</h2><div><ol><li>I have to try their green tea ice flake next time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5876">Next</a></li>
</ul>