<% provide :title, 'Opinion Target 2900' %><h2>Chicken tamal<br />occurrence: 1</h2><div><ol><li>It took about 5 minutes to get the Tamal De Pollo ( Chicken tamal) and 10 minutes or so for the Pupusas because they were being freshly made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2901">Next</a></li>
</ul>