<% provide :title, 'Opinion Target 5307' %><h2>portion of salmon<br />occurrence: 1</h2><div><ol><li>Chirashi was pretty cheap, a good simple portion of salmon, snapper, fish roe and rice was only for $ 9.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5306">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5308">Next</a></li>
</ul>