<% provide :title, 'Opinion Target 3357' %><h2>bibimbap & ginseng chicken soup<br />occurrence: 1</h2><div><ol><li>A lot of choices for bibimbap &amp; ginseng chicken soup ( with a small bowl of noodle) The pork cutlet on rice is surprisingly good, highly recommended The plaza has a lot of parking Service is friendly The overall dinner is very entertaining Will definitely come back and try their seafood pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3358">Next</a></li>
</ul>