<% provide :title, 'Opinion Target 9535' %><h2>crumb<br />occurrence: 1</h2><div><ol><li>I did n't like it since I thought the crumb was too coarse and a little dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9536">Next</a></li>
</ul>