<% provide :title, 'Opinion Target 2859' %><h2>chicken seems<br />occurrence: 1</h2><div><ol><li>The chicken seems like a lower grade now somehow.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2860">Next</a></li>
</ul>