<% provide :title, 'Opinion Target 933' %><h2>dragon rolls<br />occurrence: 4</h2><div><ol><li>I love their dragon rolls ( tempura shrimp rolled inside) and their spicy salmon handrolls.</li><li>The chirasu sashimi, except for the red tuna ( odd), were quite thin, as well, the salmon on the dragon rolls were even thinner.</li><li>Their sushi is fresh and their dragon rolls are amazing.</li><li>Ordered 3 different types of dragon rolls for $ 27 and found it just alright.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_934">Next</a></li>
</ul>