<% provide :title, 'Opinion Target 4398' %><h2>Korean appetizers<br />occurrence: 1</h2><div><ol><li>Their sushi comes with a side of cold Korean appetizers which are quite good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4399">Next</a></li>
</ul>