<% provide :title, 'Opinion Target 8954' %><h2>turkey bacon club<br />occurrence: 1</h2><div><ol><li>I ordered the turkey bacon club house with Greek salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8955">Next</a></li>
</ul>