<% provide :title, 'Opinion Target 6223' %><h2>rice pot<br />occurrence: 1</h2><div><ol><li>Not sure why they poured water into the rice pot ... after reading another review, should have asked them not to!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6224">Next</a></li>
</ul>