<% provide :title, 'Opinion Target 1570' %><h2>beef steak<br />occurrence: 2</h2><div><ol><li>Bistec carne frita: Typical Chilean dish, served with flavorful rice, beef steak, veggies.</li><li>Try the beef steak, sinigang, pusit, fried shrimp, pancit, lechon kawali, or the pinakbet ( sp ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1571">Next</a></li>
</ul>