<% provide :title, 'Opinion Target 7672' %><h2>apple Danish<br />occurrence: 1</h2><div><ol><li>Hubby likes the apple Danish, they have all different kinds!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7673">Next</a></li>
</ul>