<% provide :title, 'Opinion Target 8950' %><h2>lemon slices<br />occurrence: 1</h2><div><ol><li>Our server was nice but the hot water my family asked for was lukewarm ( without lemon slices like some other places).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8951">Next</a></li>
</ul>