<% provide :title, 'Opinion Target 5415' %><h2>lemon grass<br />occurrence: 1</h2><div><ol><li>A bowl of bun bo Hue by design is suppose to be a fine balance of spicy, sour, salty and sweet flavors, with shrimp paste and especially lemon grass the main dominating ingredient.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5416">Next</a></li>
</ul>