<% provide :title, 'Opinion Target 8354' %><h2>Bitter<br />occurrence: 1</h2><div><ol><li>Bitter because a waitress spilt a dish all over my new jacket and all they offered to do was pay for dry cleaning.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8355">Next</a></li>
</ul>