<% provide :title, 'Opinion Target 5905' %><h2>beef in panang curry<br />occurrence: 1</h2><div><ol><li>The crispy beef in panang curry was a great dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5904">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5906">Next</a></li>
</ul>