<% provide :title, 'Opinion Target 5333' %><h2>normal salmon roll<br />occurrence: 1</h2><div><ol><li>The spicy salmon was okayyy just a normal salmon roll with a squirt of spicy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5332">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5334">Next</a></li>
</ul>