<% provide :title, 'Opinion Target 6867' %><h2>Persian potatoes<br />occurrence: 1</h2><div><ol><li>The Persian potatoes were ok nothing to really write home about and since the rice was already there i decided to taste it and I was pleasantly surprised it had a really nice flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6868">Next</a></li>
</ul>