<% provide :title, 'Opinion Target 2220' %><h2>house<br />occurrence: 1</h2><div><ol><li>The banchan was ok and the petite dumpling on the house were nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2221">Next</a></li>
</ul>