<% provide :title, 'Opinion Target 8841' %><h2>Magic noodle<br />occurrence: 1</h2><div><ol><li>Magic noodle has a set of noodles to choose from the menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8842">Next</a></li>
</ul>