<% provide :title, 'Opinion Target 2922' %><h2>chicken shawarma sandwich<br />occurrence: 1</h2><div><ol><li>I wo n't return to this location though, because one of my dining companions found a huge, dead fly in his chicken shawarma sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2923">Next</a></li>
</ul>