<% provide :title, 'Opinion Target 1854' %><h2>chicken pesto<br />occurrence: 2</h2><div><ol><li>Both times I ordered the seafood pasta lunch portion for $ 13.00 and chicken pesto $ 12.00.</li><li>The chicken pesto was not as good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1853">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1855">Next</a></li>
</ul>