<% provide :title, 'Opinion Target 2987' %><h2>Produce<br />occurrence: 1</h2><div><ol><li>Produce is fairly good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2988">Next</a></li>
</ul>