<% provide :title, 'Opinion Target 3322' %><h2>sushi ambiance<br />occurrence: 1</h2><div><ol><li>It was beautiful and really provided some serious sushi ambiance.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3321">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3323">Next</a></li>
</ul>