<% provide :title, 'Opinion Target 5672' %><h2>caprese<br />occurrence: 1</h2><div><ol><li>Our appetizer, the bocconcini with the tomato, ( caprese ?) was good, although again, somewhat bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5673">Next</a></li>
</ul>