<% provide :title, 'Opinion Target 3641' %><h2>Canadian dishes<br />occurrence: 1</h2><div><ol><li>I was a little embarrassed because I was there with my American friend and I 'm always proud to show the awesome uniquely Canadian dishes, but this was a disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3642">Next</a></li>
</ul>