<% provide :title, 'Opinion Target 4401' %><h2>Veal Aliolio<br />occurrence: 1</h2><div><ol><li>I chose as an entree the Veal Aliolio, which was tender and well prepared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4402">Next</a></li>
</ul>