<% provide :title, 'Opinion Target 5406' %><h2>steamed soup dumplings<br />occurrence: 1</h2><div><ol><li>Like another reviewer mentioned, their steamed soup dumplings are good- not the best, not the worst.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5407">Next</a></li>
</ul>