<% provide :title, 'Opinion Target 3314' %><h2>Thai Chicken Bites<br />occurrence: 1</h2><div><ol><li>The appetizers are a little higher priced for the food, and we split the Thai Chicken Bites.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3315">Next</a></li>
</ul>