<% provide :title, 'Opinion Target 1877' %><h2>Seafood Dakgalbee<br />occurrence: 2</h2><div><ol><li>I recommend getting the Seafood Dakgalbee, which comes with chicken ( boneless dark meat), assorted seafood ( baby octopus, shrimp, mussels), and cabbage.</li><li>Had 3 portions of the seafood dakgalbee with Joons sauce ( B) and mozzarella cheese and ramen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1878">Next</a></li>
</ul>