<% provide :title, 'Opinion Target 3300' %><h2>roast beef sandwiches<br />occurrence: 1</h2><div><ol><li>They had chicken skewers, spring rolls, mini roast beef sandwiches, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3301">Next</a></li>
</ul>