<% provide :title, 'Opinion Target 6768' %><h2>Char-Coal Broiled Lamb Shank<br />occurrence: 1</h2><div><ol><li>Baked Almonds Crusted Woolwich Goat Cheese with grilled Portobello mushroom, wilted spinach, Honey raspberry dressing ( vegetarian) Char-Coal Broiled Lamb Shank Slowly cooked with scallion mashed potato, red wine, garlic, and rosemary Black And White Cakelet Devil 's food chocolate cake bean mousse, dark chocolate ganache Absolutely LOVED the salad ( must be the goat cheese!) and the lamb was excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6769">Next</a></li>
</ul>