<% provide :title, 'Opinion Target 1908' %><h2>barbecue sauce<br />occurrence: 2</h2><div><ol><li>The barbecue sauce was the right amount of sweetness to accompany the thin slices of beef.</li><li>The barbecue sauce tasted like one of those primitive Kraft sauces you get at the supermarket ... so it was n't great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1907">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1909">Next</a></li>
</ul>