<% provide :title, 'Opinion Target 3461' %><h2>chicken biriyani flavour<br />occurrence: 1</h2><div><ol><li>It 's a shame because the chicken biriyani flavour was very good, although again they use the cheapest cut of chicken and there 's a scarce amount of meat in the container.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3462">Next</a></li>
</ul>