<% provide :title, 'Opinion Target 3442' %><h2>gingsen chicken soup and veal bibimbap<br />occurrence: 1</h2><div><ol><li>As per the name of this place, we ordered the gingsen chicken soup and veal bibimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3443">Next</a></li>
</ul>