<% provide :title, 'Opinion Target 3397' %><h2>cow gut soup<br />occurrence: 1</h2><div><ol><li>It not only has amazing gingseng ( or what Korean 's call Insam) chicken soup, but also has great cow gut soup and others.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3398">Next</a></li>
</ul>