<% provide :title, 'Opinion Target 9518' %><h2>bamboo fungus congee<br />occurrence: 1</h2><div><ol><li>I like their multi-grain bamboo fungus congee, which is only not served in other Congee Wong store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9517">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9519">Next</a></li>
</ul>