<% provide :title, 'Opinion Target 6961' %><h2>foo foo non alcoholic drinks<br />occurrence: 1</h2><div><ol><li>But they still in the process of getting their liquor licences ... so no beers or martini specials till then.** sad face** I do n't really drink their coffees or their foo foo non alcoholic drinks as they are usually really so so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6962">Next</a></li>
</ul>