<% provide :title, 'Opinion Target 8060' %><h2>teppanyaki chicken<br />occurrence: 1</h2><div><ol><li>The bad:- The teppanyaki chicken was a bit undercooked;- They charge for pop refills;- They twice forgot to bring out an appetizer our party had ordered ( and the place was n't even that busy)- Our cook told really bad misogynistic jokes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8059">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8061">Next</a></li>
</ul>