<% provide :title, 'Opinion Target 1950' %><h2>Chicken Alfredo pasta<br />occurrence: 2</h2><div><ol><li>The Chicken Alfredo pasta was really good!</li><li>The chicken club sandwich was good, so was the chicken alfredo pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1951">Next</a></li>
</ul>