<% provide :title, 'Opinion Target 5211' %><h2>Drink specials<br />occurrence: 1</h2><div><ol><li>Drink specials.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5212">Next</a></li>
</ul>