<% provide :title, 'Opinion Target 985' %><h2>ginseng soup<br />occurrence: 4</h2><div><ol><li>The small chicken was stuffed with glutinous rice and herbs and was served in a stone bowl with the herb and ginseng soup.</li><li>We order the ginseng soup since it 's the specialty.</li><li>I am going to go back to try the ginseng soup.</li><li>I LOVE THIS PLACE! a nice addition to the area, very fresh ingredients, ginseng soup is good but not overwhelming in ginseng.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_986">Next</a></li>
</ul>