<% provide :title, 'Opinion Target 3433' %><h2>black bean shrimp lo mein<br />occurrence: 1</h2><div><ol><li>Ordered black bean shrimp lo mein and they were stingy with the shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3432">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3434">Next</a></li>
</ul>