<% provide :title, 'Opinion Target 3527' %><h2>kofta<br />occurrence: 1</h2><div><ol><li>We went with the chicken tabliyeh Saj wrap and a mixed combo platter which and assortment of items that included: beef and chicken shawarma, kofta, beef skewer and shish tawouk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3528">Next</a></li>
</ul>