<% provide :title, 'Opinion Target 4672' %><h2>Thai fried curry sauce<br />occurrence: 1</h2><div><ol><li>Shrimp Panang is a Thai fried curry sauce made with coconut milk, sweet basil and lime leaf, usually topped off with bell peppers, peanuts and chicken, beef or shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4673">Next</a></li>
</ul>