<% provide :title, 'Opinion Target 7044' %><h2>bean paste<br />occurrence: 1</h2><div><ol><li>The pork bones were super tender and fall off the bone ( good), but the broth, while tasty, was almost like stew ( quite thick) and had a lot more of a bean paste taste than I 'm accustomed to for my pork bone soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7043">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7045">Next</a></li>
</ul>