<% provide :title, 'Opinion Target 8336' %><h2>Beef pancake roll<br />occurrence: 1</h2><div><ol><li>Beef pancake roll carried the same exact reminder of last year of why I should return to eating/loving meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8337">Next</a></li>
</ul>