<% provide :title, 'Opinion Target 6862' %><h2>bread stuffed with sliced potatoes<br />occurrence: 1</h2><div><ol><li>These two items take longer to make than a HOT house made soft MO bread stuffed with sliced potatoes, marinated tofu, fresh tofu sheets and a signature spicy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6863">Next</a></li>
</ul>