<% provide :title, 'Opinion Target 1551' %><h2>white meat<br />occurrence: 2</h2><div><ol><li>Her comments: the white meat was tasteless, too thinly sliced and looked processed.</li><li>Because their marinade is likely some sort of brine, in my experience, their white meat pieces have never, ever been dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1552">Next</a></li>
</ul>