<% provide :title, 'Opinion Target 1553' %><h2>Lamb Vindaloo<br />occurrence: 3</h2><div><ol><li>I ordered the Lamb Vindaloo and the Butter Chicken with Garlic Nan and Regular Nan.</li><li>The Lamb Vindaloo was pretty spicy and those who can take the heat will like this dish.</li><li>The best items on the menu are butter chicken, lamb vindaloo, and shrimp biryani.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1552">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1554">Next</a></li>
</ul>