<% provide :title, 'Opinion Target 2080' %><h2>beef with vegetables<br />occurrence: 2</h2><div><ol><li>We ordered 4 dishes, the special sweet and sour pork, beef with vegetables, chicken with vegetables, and mushrooms with vegetables.</li><li>To round out my experience I also had beef with vegetables which came with baby bok choy and broccoli; Singapore style vermicelli noodles with pork and shrimp and pork and shrimp fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2081">Next</a></li>
</ul>