<% provide :title, 'Opinion Target 1411' %><h2>tataki attack roll<br />occurrence: 2</h2><div><ol><li>The tataki attack roll is a bit fishy ( my friend is n't a big fan because she ca n't stand fishy tastes so just a heads up) but it feels like it melts in your mouth as you chew, so delicious!</li><li>The scallops and the tataki attack roll were great but the chirashi was nothing special as I have had better elsewhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1410">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1412">Next</a></li>
</ul>