<% provide :title, 'Opinion Target 3739' %><h2>bun noodles<br />occurrence: 1</h2><div><ol><li>I 've also tried the bun noodles- again, plain and just .. not good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3740">Next</a></li>
</ul>