<% provide :title, 'Opinion Target 2627' %><h2>plants<br />occurrence: 1</h2><div><ol><li>It was a civilized dinner, the venue was almost empty, and the plants looked remarkably artificial.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2626">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2628">Next</a></li>
</ul>