<% provide :title, 'Opinion Target 2377' %><h2>chief<br />occurrence: 2</h2><div><ol><li>Another customer came up to US and translated that that the chief was saying that if we annoy him anymore he will kill us or spit in our food.</li><li>Excellent food especially the desert, the chief cooks in front you!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2378">Next</a></li>
</ul>