<% provide :title, 'Opinion Target 3977' %><h2>butter Bourbon crème anglaise<br />occurrence: 1</h2><div><ol><li>We tried the Vanilla Creme Brulee- It was good, but nothing amazing, and the Deep Dish Peanut Butter Pie- now this is delicious, made with brown butter Bourbon crème anglaise .. great, now I 'm craving it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3978">Next</a></li>
</ul>