<% provide :title, 'Opinion Target 4338' %><h2>honey oolong milk tea or hazelnut milk tea<br />occurrence: 1</h2><div><ol><li>If the weather is warmer I usually get the honey oolong milk tea or hazelnut milk tea or on a colder day, their hot drinks such as the sweet potato almond milk tea is my fave!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4339">Next</a></li>
</ul>