<% provide :title, 'Opinion Target 5194' %><h2>dish of barbeque pork<br />occurrence: 1</h2><div><ol><li>A side dish of barbeque pork was plump and tasty, but it was a little soggy ( no crisp edges) due to accompanying broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5195">Next</a></li>
</ul>