<% provide :title, 'Opinion Target 2180' %><h2>four chicken shawarma<br />occurrence: 1</h2><div><ol><li>Three of the four chicken shawarma we ordered had hair in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2181">Next</a></li>
</ul>