<% provide :title, 'Opinion Target 1574' %><h2>harumaki<br />occurrence: 2</h2><div><ol><li>I came for dinner at about 6pm and ordered the sweet potato tempura, harumaki ( spring roll), crunch roll, green dragon roll and red bean ice cream.</li><li>The harumaki was a bit average, but all else delighted!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1573">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1575">Next</a></li>
</ul>