<% provide :title, 'Opinion Target 8455' %><h2>grilled pepper<br />occurrence: 1</h2><div><ol><li>Went in for a quick dinner weeknight, our server was real nice and cheerful, ordered the pizza ( as it was listed as freshly made in the kitchen) and did not disappoint. there was abit of an accident on the ocean harvest ( and there were way too much of grilled pepper in the dish), but the manager got it taken care of for us diligently.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8456">Next</a></li>
</ul>