<% provide :title, 'Opinion Target 5281' %><h2>frozen shrimps<br />occurrence: 1</h2><div><ol><li>The frozen shrimps were like ------- this big hahaha.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5280">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5282">Next</a></li>
</ul>