<% provide :title, 'Opinion Target 1126' %><h2>potato tempura<br />occurrence: 3</h2><div><ol><li>I came for dinner at about 6pm and ordered the sweet potato tempura, harumaki ( spring roll), crunch roll, green dragon roll and red bean ice cream.</li><li>Our other orders ( grilled eggplant, sweet potato tempura and takoyaki) from the first order also did n't come.</li><li>We ordered a spicy seafood soup ( very spicy), fried calamari, sweet potato tempura, sushi &amp; sashimi dinner combo, and a green dragon roll which all together cost $ 48, so not bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1127">Next</a></li>
</ul>