<% provide :title, 'Opinion Target 4001' %><h2>crème anglaise<br />occurrence: 1</h2><div><ol><li>The texture reminded me very much of a bread pudding and we both agreed we would 've liked to have seen a little more crème anglaise on the plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4002">Next</a></li>
</ul>