<% provide :title, 'Opinion Target 3413' %><h2>lemon soy sauce<br />occurrence: 1</h2><div><ol><li>I had the lemon soy sauce to go with it which was very refreshing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3414">Next</a></li>
</ul>