<% provide :title, 'Opinion Target 4721' %><h2>Pho dac biet and spring rolls<br />occurrence: 1</h2><div><ol><li>I normally order the Pho dac biet and spring rolls because I enjoy being basic at times ... but hey, you ca n't go wrong with the Special, and without the spring rolls the meal just does n't seem complete.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4722">Next</a></li>
</ul>