<% provide :title, 'Opinion Target 1648' %><h2>salad rolls<br />occurrence: 2</h2><div><ol><li>We always get salad rolls and avocado shakes as well.</li><li>The salad rolls are pretty standard, but they have been upgraded recently to include more spring onion and pork ( used to only be shrimp).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1649">Next</a></li>
</ul>