<% provide :title, 'Opinion Target 7856' %><h2>dessert and shrimp tempera<br />occurrence: 1</h2><div><ol><li>We got one of the boat specials which also came with soup, salad, dessert and shrimp tempera, and added in a chicken teriyaki bento box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7855">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7857">Next</a></li>
</ul>