<% provide :title, 'Opinion Target 2469' %><h2>lunch sushi<br />occurrence: 1</h2><div><ol><li>I had the lunch sushi and sashimi special and I thought it was great- all the pieces were fresh and proportions were big enough to fill me up for lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2470">Next</a></li>
</ul>