<% provide :title, 'Opinion Target 3717' %><h2>garlic infused sauce with tender chicken breast<br />occurrence: 1</h2><div><ol><li>The right amount of wine and garlic infused sauce with tender chicken breast and spot on al dente penne just like the way ( my Japanese) mom used to make it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3718">Next</a></li>
</ul>