<% provide :title, 'Opinion Target 3888' %><h2>enoki mushrooms wrapped in beef<br />occurrence: 1</h2><div><ol><li>We had quite a variety- sushi, sashimi, tempura, beef ribs and enoki mushrooms wrapped in beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3889">Next</a></li>
</ul>