<% provide :title, 'Opinion Target 8947' %><h2>Smokey Maple Bacon & Grilled Chicken Club<br />occurrence: 1</h2><div><ol><li>I noticed right away that they had some creative additions to their menu: Creamy butter chicken, cheesy beef poutine, savory Asian BBQ, Smokey Maple Bacon &amp; Grilled Chicken Club.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8946">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8948">Next</a></li>
</ul>