<% provide :title, 'Opinion Target 5788' %><h2>homemade whipped cream<br />occurrence: 1</h2><div><ol><li>Fresh homemade whipped cream ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5789">Next</a></li>
</ul>