<% provide :title, 'Opinion Target 6522' %><h2>crab soup dumplings<br />occurrence: 1</h2><div><ol><li>The crab soup dumplings were average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6521">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6523">Next</a></li>
</ul>