<% provide :title, 'Opinion Target 4898' %><h2>beef ribs and enoki mushrooms wrapped in beef<br />occurrence: 1</h2><div><ol><li>We had quite a variety- sushi, sashimi, tempura, beef ribs and enoki mushrooms wrapped in beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4897">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4899">Next</a></li>
</ul>