<% provide :title, 'Opinion Target 9683' %><h2>salmon eggs Benedict with asparagus<br />occurrence: 1</h2><div><ol><li>My absolute favourite that I order all the time is their smoke salmon eggs Benedict with asparagus!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9684">Next</a></li>
</ul>