<% provide :title, 'Opinion Target 5875' %><h2>leaf design<br />occurrence: 1</h2><div><ol><li>As I sat down, my neighbour had a latte with a pretty leaf design on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5876">Next</a></li>
</ul>