<% provide :title, 'Opinion Target 6869' %><h2>parisienne potatoes<br />occurrence: 1</h2><div><ol><li>Seafood is hit and miss. I think the rice has nice flavor however the parisienne potatoes are always overcooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6870">Next</a></li>
</ul>