<% provide :title, 'Opinion Target 4011' %><h2>potato cake<br />occurrence: 1</h2><div><ol><li>That said, a substituted blue cheese Caesar or cheddar-laced potato cake from the steak portion of the menu turns one 's attention elsewhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4012">Next</a></li>
</ul>