<% provide :title, 'Opinion Target 9079' %><h2>red pepper powder<br />occurrence: 1</h2><div><ol><li>Here, they served it with what looked like a mound of red pepper powder with some liquid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9080">Next</a></li>
</ul>