<% provide :title, 'Opinion Target 3613' %><h2>fried eggplant stuffed with eggplant mousse<br />occurrence: 1</h2><div><ol><li>The fried eggplant stuffed with eggplant mousse ( DS61) was alright.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3614">Next</a></li>
</ul>