<% provide :title, 'Opinion Target 1247' %><h2>Swiss Chalet<br />occurrence: 3</h2><div><ol><li>You may initially come here because parking for the Swiss Chalet is full.</li><li>Situated on Don Mills in the same plaza as the Congee Star and Swiss Chalet, I will say that between the 3 of the places this is the best if looking for a sit down meal.</li><li>$ 18.95 for a half roasted chicken, which was no better or worse than a grocery store bird ( or Swiss Chalet, for that matter.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1248">Next</a></li>
</ul>