<% provide :title, 'Opinion Target 5140' %><h2>rice crepe<br />occurrence: 1</h2><div><ol><li>He 's Bangladeshian and loves this place because of their oil stick wrapped with rice crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5141">Next</a></li>
</ul>