<% provide :title, 'Opinion Target 3110' %><h2>green tea mochi and black sesame ice cream<br />occurrence: 1</h2><div><ol><li>For dessert, I had the green tea mochi and black sesame ice cream, I enjoyed the mochi but loved the black sesame ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3109">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3111">Next</a></li>
</ul>