<% provide :title, 'Opinion Target 1456' %><h2>onion soup<br />occurrence: 2</h2><div><ol><li>French onion soup was surprisingly tasty and I enjoy the burgers.</li><li>The mussels were fabulous but the onion soup was so loaded with croutons and I could barely find an onion let alone the broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1457">Next</a></li>
</ul>