<% provide :title, 'Opinion Target 4848' %><h2>lamb options<br />occurrence: 1</h2><div><ol><li>Oh and lots of lamb options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4847">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4849">Next</a></li>
</ul>