<% provide :title, 'Opinion Target 2587' %><h2>veggie egg roll<br />occurrence: 1</h2><div><ol><li>I only partake in the lunch special, which includes ( a tiny bowl of) egg drop or hot and sour soup, a veggie egg roll, steamed rice and one of about 8 entrees.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2588">Next</a></li>
</ul>