<% provide :title, 'Opinion Target 2542' %><h2>father<br />occurrence: 1</h2><div><ol><li>The father was n't clean, he did n't change plastic gloves for each of customers ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2543">Next</a></li>
</ul>