<% provide :title, 'Opinion Target 1794' %><h2>peking duck style<br />occurrence: 2</h2><div><ol><li>Kinda different, but I 'd much prefer the original peking duck style.</li><li>For mains we shared the crispy duck, where the server rips up 2 duck legs and you wrap it ala Peking duck style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1793">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1795">Next</a></li>
</ul>