<% provide :title, 'Opinion Target 5430' %><h2>saffron rice<br />occurrence: 1</h2><div><ol><li>I was given a lot of the saffron rice which was more than enough for one person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5429">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5431">Next</a></li>
</ul>