<% provide :title, 'Opinion Target 1828' %><h2>lunch offerings<br />occurrence: 2</h2><div><ol><li>Came here for their lunch offerings, they have a good portion size for lunches!</li><li>This is the go-to place for lunch for a few folks in the office and I. The lunch offerings are typically Korean ( bibimbap, various jjigae, and some bulgogee sets) and the prices are right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1829">Next</a></li>
</ul>