<% provide :title, 'Opinion Target 4381' %><h2>Dijon mustard chicken dish<br />occurrence: 1</h2><div><ol><li>I got the Dijon mustard chicken dish and it was quite tasty and economical as well:) All things considered, being who else around within a 40 minute walk, will essentially make this the default diner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4380">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4382">Next</a></li>
</ul>