<% provide :title, 'Opinion Target 1796' %><h2>Spicy<br />occurrence: 2</h2><div><ol><li>The Spicy Cold Konjac served here is made by mixing the jello with hot chili oil .. so it is just hot without being spicy .. other places use Sichuan pepper in the mix to give one the numbing, explosive spicy taste which is unique to Northern Chinese cuisine.</li><li>Chicken Tabaka ( Spicy, Marinated, Cornish Hen) with coleslaw It took the kitchen ~ 15 minutes to prepare.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1795">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1797">Next</a></li>
</ul>