<% provide :title, 'Opinion Target 6669' %><h2>fried rice dish with beef and vegetables<br />occurrence: 1</h2><div><ol><li>I had a fried rice dish with beef and vegetables that was a little spicy but good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6670">Next</a></li>
</ul>