<% provide :title, 'Opinion Target 4253' %><h2>ground meat<br />occurrence: 1</h2><div><ol><li>I have been told that Canada does n't serve good burgers because of their limitation on undercooked ground meat, causing every restaurant to over cook all their patties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4254">Next</a></li>
</ul>