<% provide :title, 'Opinion Target 3113' %><h2>Soba<br />occurrence: 1</h2><div><ol><li>My usual order is the Shrimp and Veggie Tempura ( one of the better ones in the city), the Cold Soba Noodle, the Sushi and Sashimi combos and ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3112">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3114">Next</a></li>
</ul>