<% provide :title, 'Opinion Target 5428' %><h2>dessert samplers<br />occurrence: 1</h2><div><ol><li>They have mini dessert samplers, so you can try a bunch of the sweets- I am always a fan of this, but I find usually some hits and some misses scattered throughout the samplers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5429">Next</a></li>
</ul>