<% provide :title, 'Opinion Target 2184' %><h2>dinner choices<br />occurrence: 1</h2><div><ol><li>I 'd recommend it for at least the spicy salmon maki!:) Great bento lunch and dinner choices at a very reasonable price!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2185">Next</a></li>
</ul>