<% provide :title, 'Opinion Target 2745' %><h2>pork dupbap<br />occurrence: 1</h2><div><ol><li>I ordered a hot stone spicy pork dupbap and it was BOMB.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2746">Next</a></li>
</ul>