<% provide :title, 'Opinion Target 1824' %><h2>pork rice<br />occurrence: 2</h2><div><ol><li>When I 'm there, I 'm always trying to make the biggest decision; eat the pho, or the pork rice ? .... in the end I always order both because it 's that amazing.</li><li>Bbq pork rice, Chicken soy and Toufoo with mushrooms are really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1825">Next</a></li>
</ul>