<% provide :title, 'Opinion Target 4703' %><h2>tea mochi ice cream<br />occurrence: 1</h2><div><ol><li>We had the chocolate/green tea mochi ice cream and chocolate burst.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4704">Next</a></li>
</ul>