<% provide :title, 'Opinion Target 6207' %><h2>Korean soups<br />occurrence: 1</h2><div><ol><li>We loved the place and it is quite unique, I do n't think I ever had such great Korean soups before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6208">Next</a></li>
</ul>