<% provide :title, 'Opinion Target 6660' %><h2>dakgalbi<br />occurrence: 1</h2><div><ol><li>We really wanted to try the dakgalbi, their speciality, but we were told we could n't get that unless we ordered TWO of those.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6661">Next</a></li>
</ul>