<% provide :title, 'Opinion Target 1606' %><h2>sushi items<br />occurrence: 2</h2><div><ol><li>Some sushi items are pretty good, but nothing amazing.</li><li>This place has never let me down when it comes to sushi or non sushi items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1607">Next</a></li>
</ul>