<% provide :title, 'Opinion Target 5322' %><h2>chicken teriyaki lunch special<br />occurrence: 1</h2><div><ol><li>I ordered the chicken teriyaki lunch special for 9.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5321">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5323">Next</a></li>
</ul>