<% provide :title, 'Opinion Target 2603' %><h2>giant pasta shells baked with ricotta cheese<br />occurrence: 1</h2><div><ol><li>And then we ended up ordering a couple of the daily specials- braised veal with fettuccine and giant pasta shells baked with ricotta cheese and asparagus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2602">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2604">Next</a></li>
</ul>