<% provide :title, 'Opinion Target 6001' %><h2>kasha they<br />occurrence: 1</h2><div><ol><li>Normally, when a menu says knish ( at least from what I 'm accustomed to) they are potato- if meat or kasha they are usually labeled as such.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6002">Next</a></li>
</ul>