<% provide :title, 'Opinion Target 7341' %><h2>rice plates<br />occurrence: 1</h2><div><ol><li>It has a great selection of simple Cantonese-style Chinese dishes: juk ( I have never called it congee until I came to university), noodles, and rice plates.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7340">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7342">Next</a></li>
</ul>