<% provide :title, 'Opinion Target 6574' %><h2>Eggs & Grilled Cheese<br />occurrence: 1</h2><div><ol><li>Although the fries and gravy were to my satisfaction, the Eggs &amp; Grilled Cheese had oil dripping from it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6573">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6575">Next</a></li>
</ul>