<% provide :title, 'Opinion Target 8350' %><h2>cream of corn soup<br />occurrence: 1</h2><div><ol><li>Order food you can recognize and it will be good, We like the dim sum, hot and sour soup, cream of corn soup, shrimp dishes, beef dishes, and noodles,.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8351">Next</a></li>
</ul>