<% provide :title, 'Opinion Target 5382' %><h2>Chicken Basil fried rice<br />occurrence: 1</h2><div><ol><li>Wife 's Mango chicken was excellent and the Chicken Basil fried rice was AMAZING.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5383">Next</a></li>
</ul>