<% provide :title, 'Opinion Target 3979' %><h2>white meat<br />occurrence: 1</h2><div><ol><li>Her comments: the white meat was tasteless, too thinly sliced and looked processed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3980">Next</a></li>
</ul>