<% provide :title, 'Opinion Target 2037' %><h2>chirashi dishes<br />occurrence: 2</h2><div><ol><li>I usually get a couple orders of sushi and one of the chirashi dishes.</li><li>There is plenty of sashimi in these chirashi dishes and also a lot of rice which I think they throw in the make the dish look bigger and to fill you up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2038">Next</a></li>
</ul>