<% provide :title, 'Opinion Target 9002' %><h2>bacon meal<br />occurrence: 1</h2><div><ol><li>Their accuracy is bad I ordered a kids menu for my nephew and here 's what happens he ordered eggs and bacon meal which came with potato, eggs, bread and bacon and a drink and a desert My nephew said over easy they made it overheard there was no bacon on the plate and when my niece ordered a `` freshly squeezed juice'' it was bitter and had chunks or orange peal not even zest !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9003">Next</a></li>
</ul>