<% provide :title, 'Opinion Target 6366' %><h2>downers<br />occurrence: 1</h2><div><ol><li>However, if you know this is what to expect, the lobster is worth these downers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6367">Next</a></li>
</ul>