<% provide :title, 'Opinion Target 2621' %><h2>pide<br />occurrence: 1</h2><div><ol><li>The pide was great too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2620">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2622">Next</a></li>
</ul>