<% provide :title, 'Opinion Target 2785' %><h2>coffee seems<br />occurrence: 1</h2><div><ol><li>The coffee seems pretty fresh majority of the time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2786">Next</a></li>
</ul>