<% provide :title, 'Opinion Target 7009' %><h2>crepe portion<br />occurrence: 1</h2><div><ol><li>The crepe portion was a little small but ey, whatever, you 're here for the duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7010">Next</a></li>
</ul>