<% provide :title, 'Opinion Target 7052' %><h2>mushrooms with vegetables<br />occurrence: 1</h2><div><ol><li>We ordered 4 dishes, the special sweet and sour pork, beef with vegetables, chicken with vegetables, and mushrooms with vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7051">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7053">Next</a></li>
</ul>