<% provide :title, 'Opinion Target 3481' %><h2>GINGER CHICKEN : Deepfried chicken<br />occurrence: 1</h2><div><ol><li>CRISPY GINGER CHICKEN: Deepfried chicken that has soked up a good quantity of oil, which again is tossed in a wok with oil and other components.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3482">Next</a></li>
</ul>