<% provide :title, 'Opinion Target 7349' %><h2>Fried Beef Chow Foon<br />occurrence: 1</h2><div><ol><li>As for the noodle and rice dishes, the Gon Chao Ngau Ho ( Dry Fried Beef Chow Foon) was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7350">Next</a></li>
</ul>