<% provide :title, 'Opinion Target 5018' %><h2>cheddar biscuits<br />occurrence: 1</h2><div><ol><li>Although we had a mid-nineties flirtation with Red Lobster ( the cheddar biscuits still haunt me) Lobster Trap is my family 's go to for a lobster feast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5019">Next</a></li>
</ul>