<% provide :title, 'Opinion Target 1682' %><h2>banchan dishes<br />occurrence: 2</h2><div><ol><li>Despite being Korean owned, they do not serve complimentary dessert and banchan dishes like at most other Korean run sushi joints.</li><li>Also, they give more banchan dishes than I am used to getting from other Korean places in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1681">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1683">Next</a></li>
</ul>