<% provide :title, 'Opinion Target 4305' %><h2>Chicken with broccoli ( beef with broccoli<br />occurrence: 1</h2><div><ol><li>Here is some of my favourites: 1) Deep fried chicken wings 2) Chicken with broccoli ( beef with broccoli as well) 3) Sizzling beef ( they do chicken as well) 4) Szechuan beef 5) Crispy Ginger beef 6) Special spicy vermicelli 7) BBQ Spareribs 8) All their fried rice Also if your not sure of what you want to try the staff are very helpful with suggestions and letting you know they best sellers. i give this place two thumbs up !!!:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4306">Next</a></li>
</ul>