<% provide :title, 'Opinion Target 962' %><h2>dessert crepe<br />occurrence: 4</h2><div><ol><li>My favourite is the dessert crepe with red bean inside and green tea ice-cream on top.</li><li>I ordered a dessert waffle while my boyfriend got a dessert crepe.</li><li>Ordered a dessert crepe and hot chocolate.</li><li>The dessert crepe $ 10.45.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_963">Next</a></li>
</ul>