<% provide :title, 'Opinion Target 2992' %><h2>pictures<br />occurrence: 1</h2><div><ol><li>I guess it 's explained somewhere on the huge screen, but us humans usually just look at the pretty pictures.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2993">Next</a></li>
</ul>