<% provide :title, 'Opinion Target 798' %><h2>grilled meats<br />occurrence: 4</h2><div><ol><li>The sight of grilled meats is enough to make your knees quiver which is what i was really hoping for when I walked in.</li><li>And the grilled meats are delicious especially the grilled squid, curry pork skewers, and the enoki beef.</li><li>There is a wide selection of sashimi, sushi, seared sushi, cooked ( pan fried) plates, tempura, grilled meats, soups, salad, and dessert.</li><li>I 've tried an assorent of the grilled meats and kebob and they are so delicious that I dream about them from time to time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_799">Next</a></li>
</ul>