<% provide :title, 'Opinion Target 1167' %><h2>waiting area<br />occurrence: 3</h2><div><ol><li>You may have to line up in between their two glass doors- the waiting area is quite tiny ...</li><li>This is good because they have no waiting area whatsoever.</li><li>There were a few others seated in the waiting area, so we did n't think anything of it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1168">Next</a></li>
</ul>