<% provide :title, 'Opinion Target 5630' %><h2>pork bulgogi lunch special<br />occurrence: 1</h2><div><ol><li>I had the pork bulgogi lunch special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5629">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5631">Next</a></li>
</ul>