<% provide :title, 'Opinion Target 3873' %><h2>Beef Pad Thai<br />occurrence: 1</h2><div><ol><li>I am not a fan of pho, so I had the Beef Pad Thai ( $ 7.50).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3874">Next</a></li>
</ul>