<% provide :title, 'Opinion Target 9123' %><h2>tuna + salad + miso soup + an orange<br />occurrence: 1</h2><div><ol><li>You should also try the Spicy Maki Bento during lunch hours: 6 spicy salmon + 6 spicy tuna + salad + miso soup + an orange.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9122">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9124">Next</a></li>
</ul>