<% provide :title, 'Opinion Target 2348' %><h2>strawberry ice cream<br />occurrence: 2</h2><div><ol><li>It was delicious with lots of fillings of strawberry, blueberry, sponge cake with two large scoops of strawberry ice cream.</li><li>The crepe came with two generous scoops of strawberry ice cream but tasted abnormally sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2349">Next</a></li>
</ul>