<% provide :title, 'Opinion Target 4389' %><h2>brucshetta<br />occurrence: 1</h2><div><ol><li>The brucshetta was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4388">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4390">Next</a></li>
</ul>