<% provide :title, 'Opinion Target 4713' %><h2>tofu slices<br />occurrence: 1</h2><div><ol><li>The tofu slices were nice as they serve the whole piece of tofu rather than a hollow one with the just tofu skin, and was not dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4714">Next</a></li>
</ul>