<% provide :title, 'Opinion Target 3274' %><h2>room temperature red wine<br />occurrence: 1</h2><div><ol><li>Red wine that has been slightly chilled for a bit tastes a world different from room temperature red wine and it 's important, in my opinion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3275">Next</a></li>
</ul>