<% provide :title, 'Opinion Target 1714' %><h2>Thai beef<br />occurrence: 2</h2><div><ol><li>I tried all of them and my recommendation will be pad Thai, Malaysian fry rice, Thai beef and the red curry chicken.</li><li>Thai beef- fresh deep fry beef with their own secret sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1715">Next</a></li>
</ul>