<% provide :title, 'Opinion Target 9228' %><h2>burger pattie<br />occurrence: 1</h2><div><ol><li>I did find the burger pattie on the salty side, and other then that it was okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9229">Next</a></li>
</ul>