<% provide :title, 'Opinion Target 8043' %><h2>mango yogurt for dessert<br />occurrence: 1</h2><div><ol><li>Heres the breakdown: The staff attending to us was not friendly, anything we ordered he would be rude and tell us they dont have anymore. for example ... soup of the day ? no ... hamachi neck ? no ... hot and sour soup ? no .... beef skewer ? ... no ... mango yogurt for dessert ? no ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8044">Next</a></li>
</ul>