<% provide :title, 'Opinion Target 8588' %><h2>Beef table<br />occurrence: 1</h2><div><ol><li>GamJaTang table cooking 19.99 Beef table Cooking 27.99 ( not worth it at all, bad cuts of meat and we did n't get to cook it) 2 different tofu soups, which was only ok 8.99-10.99 Rice cakes which my sister loved 7.99 Bibimbap which looks good and my brother seem to enjoy it a lot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8589">Next</a></li>
</ul>