<% provide :title, 'Opinion Target 7522' %><h2>tonkatsu lunch<br />occurrence: 1</h2><div><ol><li>The tonkatsu lunch was huge ( and yet we finished it ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7521">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7523">Next</a></li>
</ul>