<% provide :title, 'Opinion Target 3418' %><h2>blood sausage soup<br />occurrence: 1</h2><div><ol><li>Order the blood sausage soup, it came with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3419">Next</a></li>
</ul>