<% provide :title, 'Opinion Target 8270' %><h2>boneless<br />occurrence: 1</h2><div><ol><li>The boneless, garlic parm wings were a welcomed surprise especially if you like them saucy- they were rich, crispy and creamy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8271">Next</a></li>
</ul>