<% provide :title, 'Opinion Target 6454' %><h2>seafood Cantonese chow mien<br />occurrence: 1</h2><div><ol><li>We then ordered spicy squid, seafood Cantonese chow mien, shrimp fried rice and a mixed vegetable dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6455">Next</a></li>
</ul>