<% provide :title, 'Opinion Target 5830' %><h2>Chicken Coconut Milk Soup<br />occurrence: 1</h2><div><ol><li>My girlfriend had the Chicken Coconut Milk Soup, and I felt this was the only large miss of the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5831">Next</a></li>
</ul>