<% provide :title, 'Opinion Target 4818' %><h2>shrimp tempera<br />occurrence: 1</h2><div><ol><li>Everything we sampled was quite tasty- loved all the sashimi in Yuka sauce, beef capacio, mango tango roll, seaweed salad, fried flounder, shrimp tempera.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4819">Next</a></li>
</ul>