<% provide :title, 'Opinion Target 1625' %><h2>chicken tabaka<br />occurrence: 2</h2><div><ol><li>We tried the falafel appetizer, kabob ( mixture of beef and lamb), chicken tabaka ( also known as butterfly chicken), and the salmon dish.</li><li>I was hoping to get the Chicken Tabaka, but they did n't have any on Friday night, so I went with my second option .... a big fat Chicken Pita for $ 5.99!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1626">Next</a></li>
</ul>