<% provide :title, 'Opinion Target 7280' %><h2>garlic seafood fried rice<br />occurrence: 1</h2><div><ol><li>I like the garlic seafood fried rice, turnip cakes, and superbowl congee This is one of my favorite places to eat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7281">Next</a></li>
</ul>