<% provide :title, 'Opinion Target 6351' %><h2>Jambalaya<br />occurrence: 1</h2><div><ol><li>Soup was good, Jambalaya was very mildly spiced, eventhough it is shown as spicy on the menu ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6352">Next</a></li>
</ul>