<% provide :title, 'Opinion Target 1676' %><h2>sashimi boats<br />occurrence: 2</h2><div><ol><li>We got one of the sushi &amp; sashimi boats and requested it to be gluten free and they were very accommodating.</li><li>And the sashimi boats are always accompanied with miso soup, salad and a small dolop of green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1677">Next</a></li>
</ul>