<% provide :title, 'Opinion Target 916' %><h2>turnip patties<br />occurrence: 4</h2><div><ol><li>We typically order spicy pork chops, turnip patties, fish maw with crab meat soup, congee with pork and preserved egg, and some kind of noodle dish.</li><li>The Turnip Patties: Wow.</li><li>Not sure if it was the combination of the dishes we ordered ( the turnip patties were phenomenal) or the great value ( $ 36 for the whole meal incl. tip, which could 've fed 4-5 people easy), but we left very satisfied customers.</li><li>My absolute favourite is the turnip patties; I order them every time I visit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_917">Next</a></li>
</ul>