<% provide :title, 'Opinion Target 3961' %><h2>lemon and roasted garlic with paprika<br />occurrence: 1</h2><div><ol><li>2 types of potatoes- lemon and roasted garlic with paprika- both fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3962">Next</a></li>
</ul>