<% provide :title, 'Opinion Target 5959' %><h2>pork with rice<br />occurrence: 1</h2><div><ol><li>Server was in a `` loud voice'' talking to us ( feels like she 's yelling) We ordered Large soup, grilled pork with rice &amp; a veggie rolls but The server asked us to order more since we were 4 in a table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5960">Next</a></li>
</ul>