<% provide :title, 'Opinion Target 4737' %><h2>bacons<br />occurrence: 1</h2><div><ol><li>They also have a big selection of porky items: sausages, bacons, smoked meats, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4736">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4738">Next</a></li>
</ul>