<% provide :title, 'Opinion Target 2201' %><h2>soup & fried tempera<br />occurrence: 1</h2><div><ol><li>Like most sushi restaurants they have lunch deals -- which are bento boxes of your typical beef, chicken or salmon teriyaki meat, rice, salad, soup &amp; fried tempera.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2202">Next</a></li>
</ul>