<% provide :title, 'Opinion Target 6421' %><h2>wing special<br />occurrence: 1</h2><div><ol><li>Not like other pho places where you get mostly noodles-.- Went one tuesday evening for the wing special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6420">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6422">Next</a></li>
</ul>