<% provide :title, 'Opinion Target 7818' %><h2>meal People<br />occurrence: 1</h2><div><ol><li>Had a great meal People were very very friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7819">Next</a></li>
</ul>