<% provide :title, 'Opinion Target 2522' %><h2>tato skins<br />occurrence: 1</h2><div><ol><li>Thankfully the tato skins arrived and after taking a bite, the taste just balanced very well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2521">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2523">Next</a></li>
</ul>