<% provide :title, 'Opinion Target 9443' %><h2>curried chicken with potatoes<br />occurrence: 1</h2><div><ol><li>A must try here is the curried chicken with potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9444">Next</a></li>
</ul>