<% provide :title, 'Opinion Target 1653' %><h2>pho ga<br />occurrence: 2</h2><div><ol><li>The pho ga is just bad cuts of chicken in beef broth.</li><li>The pho ga and spring rolls are very good and all of there rice dishes are really good to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1652">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1654">Next</a></li>
</ul>