<% provide :title, 'Opinion Target 4213' %><h2>appetizer of chips<br />occurrence: 1</h2><div><ol><li>And we ordered two orders of chicken wings and an appetizer of chips and queso.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4214">Next</a></li>
</ul>