<% provide :title, 'Opinion Target 2501' %><h2>green salad<br />occurrence: 1</h2><div><ol><li>I would add that this dinner came with some kind of small bowl of noodle soup but no miso soup and green salad typically seen at sushi places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2502">Next</a></li>
</ul>