<% provide :title, 'Opinion Target 5307' %><h2>bar fare<br />occurrence: 1</h2><div><ol><li>Typical sports bar fare here, lots of tv 's playing sports, Raptors jerseys and other sports memorabilia adorn the walls, your usual standards.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5306">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5308">Next</a></li>
</ul>