<% provide :title, 'Opinion Target 6719' %><h2>shish kabob styled meats<br />occurrence: 1</h2><div><ol><li>Then ordered a variety of shish kabob styled meats that were freshly cooked in an oven behind the counter: lamb, ground beef, veal, chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6720">Next</a></li>
</ul>