<% provide :title, 'Opinion Target 2989' %><h2>spinach roti<br />occurrence: 1</h2><div><ol><li>Ordered a spinach roti, a boneless goat roti, and a shrimp roti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2990">Next</a></li>
</ul>