<% provide :title, 'Opinion Target 8136' %><h2>smoked salmon with potato cake<br />occurrence: 1</h2><div><ol><li>It was my first time dining in this chain and was excited to see what it has to offer especially after receiving my maid of honor 's raving recommendation of smoked salmon with potato cake ( which I was n't able to find).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8137">Next</a></li>
</ul>