<% provide :title, 'Opinion Target 1369' %><h2>pancit palabok<br />occurrence: 2</h2><div><ol><li>I love their pancit palabok and beef caldereta.</li><li>Tagpuan have the best pancit palabok and sisig.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1368">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1370">Next</a></li>
</ul>