<% provide :title, 'Opinion Target 2790' %><h2>batter and saba bananas<br />occurrence: 1</h2><div><ol><li>Came here to purchase their ' maruya' which is a fritter from the Philippines made with batter and saba bananas and then sprinkled with sugar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2791">Next</a></li>
</ul>