<% provide :title, 'Opinion Target 3907' %><h2>Filipino cuisine<br />occurrence: 1</h2><div><ol><li>Our friend recommended this place for good Filipino cuisine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3908">Next</a></li>
</ul>