<% provide :title, 'Opinion Target 1764' %><h2>vegetarian dishes<br />occurrence: 2</h2><div><ol><li>They have 3 vegetarian dishes ( 2 eggplant and one risotto) and many vegetarian pasta options.</li><li>The vegetarian dishes much better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1765">Next</a></li>
</ul>