<% provide :title, 'Opinion Target 4187' %><h2>HK style tea<br />occurrence: 1</h2><div><ol><li>The HK style tea was wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4188">Next</a></li>
</ul>