<% provide :title, 'Opinion Target 3744' %><h2>Vietnamese spring roll served<br />occurrence: 1</h2><div><ol><li>I will defiantly come back here just to taste the Vietnamese spring roll served right here ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3745">Next</a></li>
</ul>