<% provide :title, 'Opinion Target 4874' %><h2>nori wrappings<br />occurrence: 1</h2><div><ol><li>Standout items were the handrolls and dynamite roll, etc. which were well balanced with very fresh, crisp nori wrappings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4875">Next</a></li>
</ul>