<% provide :title, 'Opinion Target 2599' %><h2>veal scaloppine<br />occurrence: 1</h2><div><ol><li>For the main course, I had Villetto alla Marsala ( veal scaloppine in a sweet marsala wine sauce) and this dish pushed a mute button on my chatty mouth for a full minute ( kinda made me nervous) as I chewed on the delectable juicy meat with this really mouthwatering sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2600">Next</a></li>
</ul>