<% provide :title, 'Opinion Target 9613' %><h2>jumbo prawn<br />occurrence: 1</h2><div><ol><li>I ordered the AGRA PALACE DINNER ( COMBO) [ A superb combination of tandoori chicken, reshmi kabob, jumbo prawn, lamb Kodai Gosht, vegetables of the day-which was Chana masala, pulao rice and naan bread ] -for two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9614">Next</a></li>
</ul>