<% provide :title, 'Opinion Target 6022' %><h2>Vietnamese Pho place<br />occurrence: 1</h2><div><ol><li>ATMOSPHERE: The decorum of the restaurant is actually impressive, and probably the most lavish Vietnamese Pho place I 've been to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6023">Next</a></li>
</ul>