<% provide :title, 'Opinion Target 3193' %><h2>Turkish Resturant<br />occurrence: 1</h2><div><ol><li>The Best Turkish Resturant in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3192">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3194">Next</a></li>
</ul>