<% provide :title, 'Opinion Target 7540' %><h2>pizza sub<br />occurrence: 1</h2><div><ol><li>Anywho, I got the pizza sub, which was warmed up in the microwave and featured old veggies and low quality cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7541">Next</a></li>
</ul>