<% provide :title, 'Opinion Target 1907' %><h2>chrysanthemum tea<br />occurrence: 2</h2><div><ol><li>Once we got seated, she asked the waiter if we could get chrysanthemum tea.</li><li>I had the Chrysanthemum tea, which I highly recommend.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1908">Next</a></li>
</ul>