<% provide :title, 'Opinion Target 8811' %><h2>lobster shells<br />occurrence: 1</h2><div><ol><li>The waiters were quite tentative in collecting empty dishes as well as exchanging the plates full of lobster shells with clean plates.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8810">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8812">Next</a></li>
</ul>