<% provide :title, 'Opinion Target 2550' %><h2>Thai chicken<br />occurrence: 1</h2><div><ol><li>Decided upon the new spicy Thai chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2551">Next</a></li>
</ul>