<% provide :title, 'Opinion Target 5790' %><h2>green tea lattes<br />occurrence: 1</h2><div><ol><li>Might be better off trying their lattes next time though; the green tea lattes is really popular.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5791">Next</a></li>
</ul>