<% provide :title, 'Opinion Target 4177' %><h2>kitchen staff<br />occurrence: 1</h2><div><ol><li>The kitchen staff has n't changed in 20 years!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4178">Next</a></li>
</ul>