<% provide :title, 'Opinion Target 8446' %><h2>faces black<br />occurrence: 1</h2><div><ol><li>Service was still the worst- ever- but this time, the black napkins dyed our hands, and faces black.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8447">Next</a></li>
</ul>