<% provide :title, 'Opinion Target 3201' %><h2>spicy jerk chicken<br />occurrence: 1</h2><div><ol><li>Great spicy jerk chicken and fantastic Bbq chicken ( a mix of chaisiu and BBQ).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3202">Next</a></li>
</ul>