<% provide :title, 'Opinion Target 7836' %><h2>coffee !!!<br />occurrence: 1</h2><div><ol><li>One more recommendation .. man-up your coffee !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7837">Next</a></li>
</ul>