<% provide :title, 'Opinion Target 4846' %><h2>BBQ lamb chop<br />occurrence: 1</h2><div><ol><li>My recommendations are order the leg of lamb, BBQ lamb chop if you are a medium sized group and balance out the rest of the meal with other items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4847">Next</a></li>
</ul>