<% provide :title, 'Opinion Target 7238' %><h2>lychee shrimp<br />occurrence: 1</h2><div><ol><li>Basically they have 2 rows of pre-made food that you can choose from at any time, I got the lychee shrimp and the pepper beef both were really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7237">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7239">Next</a></li>
</ul>