<% provide :title, 'Opinion Target 1496' %><h2>omelets<br />occurrence: 2</h2><div><ol><li>The omelets were very good, just like the service.</li><li>Highly recommend their omelets!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1497">Next</a></li>
</ul>