<% provide :title, 'Opinion Target 2704' %><h2>black sesame soup<br />occurrence: 1</h2><div><ol><li>The black sesame soup is also okay here- thick and not watery.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2705">Next</a></li>
</ul>