<% provide :title, 'Opinion Target 8254' %><h2>sauteed mushroom<br />occurrence: 1</h2><div><ol><li>They changed their menu and now its extra charge for cheese, sauteed mushroom, etc instead of having cheeseburgers on the actual menu .. which is the same thing I guess.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8253">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8255">Next</a></li>
</ul>