<% provide :title, 'Opinion Target 5658' %><h2>pasta salad banchan<br />occurrence: 1</h2><div><ol><li>Though admittedly the pasta salad banchan was kind of funny to see.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5659">Next</a></li>
</ul>