<% provide :title, 'Opinion Target 1573' %><h2>Shisha<br />occurrence: 2</h2><div><ol><li>Great Shisha, food ...</li><li>It kinda blew my night: ( as I drove a fair distance for good Shisha.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1574">Next</a></li>
</ul>