<% provide :title, 'Opinion Target 9126' %><h2>cream cheese & tobiko<br />occurrence: 1</h2><div><ol><li>Hawaiian Roll 5/5- I really like this one too it 's salmon tempura, avocado, cucumber, tobiko topped with spicy tuna &amp; crunch bits Philadelphia Roll 3/5 I 'm not a fan of cream cheese but my friend loved which is smoked salmon, avocado, cream cheese &amp; tobiko.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9127">Next</a></li>
</ul>