<% provide :title, 'Opinion Target 7016' %><h2>sliders<br />occurrence: 1</h2><div><ol><li>The perogies were not bad and the sliders were ok too .... nothing special, but ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7017">Next</a></li>
</ul>