<% provide :title, 'Opinion Target 5120' %><h2>free chips<br />occurrence: 1</h2><div><ol><li>The free chips and spicy salsa was too good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5121">Next</a></li>
</ul>