<% provide :title, 'Opinion Target 1742' %><h2>chilli oil<br />occurrence: 2</h2><div><ol><li>Even better with the chilli oil.</li><li>I 'd say 70% is chilli oil and the other 30% is fish fillet and bean sprouts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1743">Next</a></li>
</ul>