<% provide :title, 'Opinion Target 1588' %><h2>deep<br />occurrence: 2</h2><div><ol><li>I see the booths, the deep, dark decor reminiscint of a cigar room for proper men.</li><li>I LOVE their deep fired wings with `` their'' hot sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1589">Next</a></li>
</ul>