<% provide :title, 'Opinion Target 5164' %><h2>fried bread fritters<br />occurrence: 1</h2><div><ol><li>I had a regular sized bowl of congee with shredded pork and preserved egg and an order of the fried bread fritters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5165">Next</a></li>
</ul>