<% provide :title, 'Opinion Target 7145' %><h2>Take-out lunch specials<br />occurrence: 1</h2><div><ol><li>Take-out lunch specials are decent, although they 've gone up in price over the years by probably 30%.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7144">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7146">Next</a></li>
</ul>