<% provide :title, 'Opinion Target 1220' %><h2>kimchii<br />occurrence: 3</h2><div><ol><li>Side dishes: lettuce, bean sprouts, kimchii, sweet radish, kimchii flavored radish and peanuts with little dried fish The meal was good but nothing really stood out for me.</li><li>Side dishes: lettuce, bean sprouts, kimchii, sweet radish, kimchii flavored radish and peanuts with little dried fish The meal was good but nothing really stood out for me.</li><li>The side dishes were also pretty good ( sweet and sour radish, bean sprouts, potatoes, kimchii, and kimchii flavoured radish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1221">Next</a></li>
</ul>