<% provide :title, 'Opinion Target 1942' %><h2>garlic butter<br />occurrence: 2</h2><div><ol><li>Just corn on a hot plate with cheese melted on top Garlic Butter Fries- 1/5- did not taste like garlic butter at all.</li><li>The meat comes pre-seasoned and and the vegetables are drenched in soy sauce and salted garlic butter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1943">Next</a></li>
</ul>