<% provide :title, 'Opinion Target 3713' %><h2>Penna alla Pollo<br />occurrence: 1</h2><div><ol><li>My meal of Penna alla Pollo was terrific!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3714">Next</a></li>
</ul>