<% provide :title, 'Opinion Target 5923' %><h2>Refill<br />occurrence: 1</h2><div><ol><li>Refill was n't brought until late in meal ( only got another because it was a freezing cold night &amp; not because I liked it so much I wanted more).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5924">Next</a></li>
</ul>