<% provide :title, 'Opinion Target 5049' %><h2>parents<br />occurrence: 1</h2><div><ol><li>Great food at this place No matter what location you go to Turnips BBQ Pork Udon Shanghai Noodles Even the Thai food is decent Have had both the mango salad and the pad thai is quite yummy My parents have always ordered their Chinese food since it arrived We 'll definitely keep ordering from here Um .... I had the weirdest chinese dish; perhaps this place is a bit too traditional for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5050">Next</a></li>
</ul>