<% provide :title, 'Opinion Target 3607' %><h2>entré<br />occurrence: 1</h2><div><ol><li>The entré was ok, but the sauce was heavy and a little salty compared to the other branch in downtown.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3608">Next</a></li>
</ul>