<% provide :title, 'Opinion Target 2929' %><h2>mixed veggies<br />occurrence: 1</h2><div><ol><li>Salmon terriyaki dinner ( $ 11.95)- two pieces of salmon terriyaki served with miso soup, salad, rice, and mixed veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2930">Next</a></li>
</ul>