<% provide :title, 'Opinion Target 3077' %><h2>sashimi combo<br />occurrence: 1</h2><div><ol><li>We ordered a few dishes ( sashimi combo, maki roll and stir fry soba noodles).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3076">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3078">Next</a></li>
</ul>