<% provide :title, 'Opinion Target 5184' %><h2>tapioca balls<br />occurrence: 1</h2><div><ol><li>Side note: pearls are the chewy tapioca balls on the bottom, not the `` bubbles'' in bubble tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5185">Next</a></li>
</ul>