<% provide :title, 'Opinion Target 2518' %><h2>sushi sashimi combination boat<br />occurrence: 1</h2><div><ol><li>Entree we ordered the large sushi sashimi combination boat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2517">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2519">Next</a></li>
</ul>