<% provide :title, 'Opinion Target 4119' %><h2>chocolate ice cream instead<br />occurrence: 1</h2><div><ol><li>She asked if we wanted vanilla or chocolate ice cream instead.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4120">Next</a></li>
</ul>