<% provide :title, 'Opinion Target 6165' %><h2>rice soup<br />occurrence: 1</h2><div><ol><li>This is the first time I had the traditional crunchy rice soup which was a wonderful cleanse after eating the spicy soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6166">Next</a></li>
</ul>