<% provide :title, 'Opinion Target 7166' %><h2>plate appetizer platter<br />occurrence: 1</h2><div><ol><li>Cold plate appetizer platter for two is better shared by four.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7165">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7167">Next</a></li>
</ul>