<% provide :title, 'Opinion Target 6545' %><h2>frozen foods<br />occurrence: 1</h2><div><ol><li>The frozen foods are still reasonable in cost though but that 's a gamble.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6546">Next</a></li>
</ul>