<% provide :title, 'Opinion Target 2222' %><h2>fried chilli turnip patties<br />occurrence: 2</h2><div><ol><li>Seafood chow mein, general Tao chicken, fried chilli turnip patties, spice and pepper salt squid, snow peas with garlic sauce- everything was amazing.</li><li>I loved the fried chilli turnip patties the most.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2223">Next</a></li>
</ul>