<% provide :title, 'Opinion Target 7072' %><h2>bulgogi lunch special<br />occurrence: 1</h2><div><ol><li>My buddy recommended the spicy bulgogi lunch special and I trust his food recommendations so I went with that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7073">Next</a></li>
</ul>