<% provide :title, 'Opinion Target 3409' %><h2>Ginseng chicken & pancake<br />occurrence: 1</h2><div><ol><li>Ginseng chicken &amp; pancake must try! ( Unable to upload pix .... will upload when i can).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3410">Next</a></li>
</ul>