<% provide :title, 'Opinion Target 2117' %><h2>bacon slices<br />occurrence: 2</h2><div><ol><li>The bacon slices are cooked in the microwave and then tossed onto the sub.</li><li>The bacon slices are generous, though the ham and turkey are pretty weak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2118">Next</a></li>
</ul>