<% provide :title, 'Opinion Target 3857' %><h2>red pepper bisque<br />occurrence: 1</h2><div><ol><li>We ordered the soup of the day, a red pepper bisque, which was overloaded with salt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3856">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3858">Next</a></li>
</ul>