<% provide :title, 'Opinion Target 5469' %><h2>Lychee green<br />occurrence: 1</h2><div><ol><li>Lychee green is pretty good, too.:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5470">Next</a></li>
</ul>