<% provide :title, 'Opinion Target 3917' %><h2>Filipino spring rolls<br />occurrence: 1</h2><div><ol><li>Lumpia Shanghai are like Filipino spring rolls but filled entirely with meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3916">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3918">Next</a></li>
</ul>