<% provide :title, 'Opinion Target 5804' %><h2>taro ice cream flavor<br />occurrence: 1</h2><div><ol><li>Think a more bland taro ice cream flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5803">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5805">Next</a></li>
</ul>