<% provide :title, 'Opinion Target 4497' %><h2>carpaccio<br />occurrence: 1</h2><div><ol><li>We started off with an assortment of appetizers- the carpaccio, bruschetta, fried calamari, the rustic della casa platter, and the caprese salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4498">Next</a></li>
</ul>