<% provide :title, 'Opinion Target 7445' %><h2>cream and vanilla ice cream crepe<br />occurrence: 1</h2><div><ol><li>It was unbelievable !!!!! $ 9 and well worth it ( big portion) My Girlfriend got the brownie, banana, whipped cream and vanilla ice cream crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7444">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7446">Next</a></li>
</ul>