<% provide :title, 'Opinion Target 5341' %><h2>takeout orders<br />occurrence: 1</h2><div><ol><li>It has 3 tables for dine-in, but majority of the time the people who come in and out are those picking up takeout orders.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5340">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5342">Next</a></li>
</ul>