<% provide :title, 'Opinion Target 2086' %><h2>penne arrabiata<br />occurrence: 2</h2><div><ol><li>An order of penne arrabiata was not spicy enough and was seriously overcooked.</li><li>Italian- Penne Arrabiata.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2085">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2087">Next</a></li>
</ul>