<% provide :title, 'Opinion Target 8121' %><h2>chicken and salad<br />occurrence: 1</h2><div><ol><li>As you work your way through the chicken and salad, the rice ends up being coated in a mixer spicy BBQ sauce, garlic sauce and which ever salad dressing you chose ( ranch for me!) leaving a sloppy mess of yumminess at the end.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8122">Next</a></li>
</ul>