<% provide :title, 'Opinion Target 8652' %><h2>Persian menu<br />occurrence: 1</h2><div><ol><li>My mother-in-law is mostly a vegetarian ( and the Persian menu is meat heavy) so she had the Risotto Primavera ( $ 15.95) and seemed very happy with her dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8653">Next</a></li>
</ul>