<% provide :title, 'Opinion Target 1812' %><h2>chocolate ice cream<br />occurrence: 2</h2><div><ol><li>It was just a waffle with fruits, a scoop of chocolate ice cream, stale pizzelle, whipped cream, covered in chocolate syrup with ground up oreo pieces sprinkled on top of it.</li><li>The chocolate ice cream on the side was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1813">Next</a></li>
</ul>