<% provide :title, 'Opinion Target 7577' %><h2>colors<br />occurrence: 1</h2><div><ol><li>It 's clean, nice colors, nice modern lines.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7578">Next</a></li>
</ul>