<% provide :title, 'Opinion Target 7883' %><h2>crispy chicken sisig<br />occurrence: 1</h2><div><ol><li>My favourites were the bagoong rice and crispy chicken sisig.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7882">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7884">Next</a></li>
</ul>