<% provide :title, 'Opinion Target 6379' %><h2>ban coun<br />occurrence: 1</h2><div><ol><li>Tried ban coun and fairly decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6380">Next</a></li>
</ul>