<% provide :title, 'Opinion Target 9039' %><h2>Grilled Chicken salad<br />occurrence: 1</h2><div><ol><li>Grilled Chicken salad was horrible, cold chicken, more like deli-style chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9040">Next</a></li>
</ul>