<% provide :title, 'Opinion Target 2287' %><h2>lemongrass shrimp<br />occurrence: 1</h2><div><ol><li>2. the waitress was nice 3. lemongrass shrimp: vegetables are very fresh and crispy, shrimps were fat and chewy 4. friend had curry beef which i found too milky taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2288">Next</a></li>
</ul>