<% provide :title, 'Opinion Target 4326' %><h2>roasted tea with grass jelly<br />occurrence: 1</h2><div><ol><li>The best is #2, the roasted tea with grass jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4327">Next</a></li>
</ul>