<% provide :title, 'Opinion Target 4379' %><h2>Sashimi Medium<br />occurrence: 1</h2><div><ol><li>And it is both tasty and pretty to look at! + 1 star The Bad:- The Sashimi Medium ( $ 35.95) though looks so massive and nicely presented in a boat, it is the most horrible sashimi I ever ate ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4380">Next</a></li>
</ul>