<% provide :title, 'Opinion Target 2677' %><h2>focaccia<br />occurrence: 1</h2><div><ol><li>The focaccia barese can be excellent, but tends to be overcooked, and the pizza is sometimes overcooked, sometimes undercooked, and sometimes amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2678">Next</a></li>
</ul>