<% provide :title, 'Opinion Target 5036' %><h2>tripe rice noodle soup<br />occurrence: 1</h2><div><ol><li>Boy was I disappointed, I order a bowl of pho with beef and tripe rice noodle soup and when it arrived at the table I thought the bowl was for a child portion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5037">Next</a></li>
</ul>