<% provide :title, 'Opinion Target 6727' %><h2>order-type food<br />occurrence: 1</h2><div><ol><li>They also have regular order-type food, but we did n't have that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6728">Next</a></li>
</ul>