<% provide :title, 'Opinion Target 4825' %><h2>beef roll<br />occurrence: 1</h2><div><ol><li>Their beef roll is very well executed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4824">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4826">Next</a></li>
</ul>