<% provide :title, 'Opinion Target 5902' %><h2>seafood curry baked<br />occurrence: 1</h2><div><ol><li>We had the seafood curry baked in a coconut and the Pad Thai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5903">Next</a></li>
</ul>