<% provide :title, 'Opinion Target 8876' %><h2>prime filet of beef<br />occurrence: 1</h2><div><ol><li>The prime filet of beef was good, high quality beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8877">Next</a></li>
</ul>