<% provide :title, 'Opinion Target 8725' %><h2>coconut soup<br />occurrence: 1</h2><div><ol><li>We got coconut soup which was floating with many uncut mushrooms and few chunks of chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8726">Next</a></li>
</ul>