<% provide :title, 'Opinion Target 7027' %><h2>four cheese pizza<br />occurrence: 1</h2><div><ol><li>I could n't even go back for at least a month and when finely r decided to go back i was only able to order the pizza. the four cheese pizza very tasty however to thin for my likening.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7026">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7028">Next</a></li>
</ul>