<% provide :title, 'Opinion Target 3707' %><h2>radish & carrots<br />occurrence: 1</h2><div><ol><li>The other was vermicelli with just the cucumber, peanuts, lettuce, radish &amp; carrots.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3708">Next</a></li>
</ul>