<% provide :title, 'Opinion Target 6670' %><h2>tofu soondubu soup<br />occurrence: 1</h2><div><ol><li>Almost all of their dishes are better than those in other Korean restaurants around the area. pork bone soup, tofu soondubu soup, beef sullungtang soup, and bibimbap are all soooo good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6671">Next</a></li>
</ul>