<% provide :title, 'Opinion Target 4229' %><h2>chicken tender platter and apple crispy a la mode dessert<br />occurrence: 1</h2><div><ol><li>Our daughter was thoroughly satisfied with her chicken tender platter and apple crispy a la mode dessert, which I forcibly shared with her.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4228">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4230">Next</a></li>
</ul>