<% provide :title, 'Opinion Target 8606' %><h2>food/service<br />occurrence: 1</h2><div><ol><li>There is potential for lots of customers but also lots of competition around if the food/service is n't good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8607">Next</a></li>
</ul>