<% provide :title, 'Opinion Target 2000' %><h2>diner food<br />occurrence: 2</h2><div><ol><li>The breakfast special is priced very well ( especially before 11am for 4.99) however the menu is a but on the pricey side for a diner. the food quality and taste, did however make up for this. its a great little place to pop into for a more gourmet style diner food experience.</li><li>Overall, if you are craving low quality diner food that is overpriced for what you are getting, this is the place to go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2001">Next</a></li>
</ul>