<% provide :title, 'Opinion Target 3744' %><h2>cheese options<br />occurrence: 1</h2><div><ol><li>They have various cheese options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3745">Next</a></li>
</ul>