<% provide :title, 'Opinion Target 4734' %><h2>lineup<br />occurrence: 1</h2><div><ol><li>The lineup here always seems to move briskly and it 's a great location.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4735">Next</a></li>
</ul>