<% provide :title, 'Opinion Target 9715' %><h2>fired noodle<br />occurrence: 1</h2><div><ol><li>I usually went to other one@4860 Yonge St I always ordered fired noodle also so great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9716">Next</a></li>
</ul>