<% provide :title, 'Opinion Target 4178' %><h2>lobster gnocchi<br />occurrence: 1</h2><div><ol><li>Most memorable was probably the lobster gnocchi, though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4179">Next</a></li>
</ul>