<% provide :title, 'Opinion Target 2730' %><h2>pork variant<br />occurrence: 1</h2><div><ol><li>ArtBabe tried the pork variant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2729">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2731">Next</a></li>
</ul>