<% provide :title, 'Opinion Target 5605' %><h2>Both noodle dishes<br />occurrence: 1</h2><div><ol><li>Seafood hot pot, $ 25.99 Jajiangmyeon ( black bean noodle soup), $ 15.99 Japchae, $ 15.99 Seafood green onion pancake, about $ 15 The noodle dishes: Both noodle dishes were probably the best tasting I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5604">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5606">Next</a></li>
</ul>