<% provide :title, 'Opinion Target 2194' %><h2>korean bbq beef shortribs<br />occurrence: 1</h2><div><ol><li>The bento boxes are a great deal, and their kalbi ( korean bbq beef shortribs) are delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2195">Next</a></li>
</ul>