<% provide :title, 'Opinion Target 9050' %><h2>Spicy kimchi soup<br />occurrence: 1</h2><div><ol><li>- Spicy kimchi soup ( combo w/ bbq): Tasty but nothing special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9049">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9051">Next</a></li>
</ul>