<% provide :title, 'Opinion Target 5499' %><h2>italian fruit soda<br />occurrence: 1</h2><div><ol><li>The italian fruit soda is a must!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5500">Next</a></li>
</ul>