<% provide :title, 'Opinion Target 8415' %><h2>egg white flour type bun<br />occurrence: 1</h2><div><ol><li>It 's meant to be a egg white flour type bun, light and fluffy, filled with red bean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8416">Next</a></li>
</ul>