<% provide :title, 'Opinion Target 3522' %><h2>Korean seafood menu<br />occurrence: 1</h2><div><ol><li>I 'll definitely be back the next time I am in Toronto, in addition to the sushi they have a really interesting Korean seafood menu with a few items on it that I would love to try.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3521">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3523">Next</a></li>
</ul>