<% provide :title, 'Opinion Target 7301' %><h2>fish patty stuffed peppers<br />occurrence: 1</h2><div><ol><li>I enjoyed the fish patty stuffed peppers, green beans with the little fried fish and the turnip patties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7302">Next</a></li>
</ul>