<% provide :title, 'Opinion Target 1055' %><h2>portion of food<br />occurrence: 3</h2><div><ol><li>Prices are reasonable and the portion of food is modest.</li><li>Think twice, for 15 bucks you are better off eating at bamiyan kabob, for good quality, and generous portion of food.</li><li>It might be the rental in DT is more expensive so they ca n't afford to give us generous variety and portion of food like in this restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1056">Next</a></li>
</ul>