<% provide :title, 'Opinion Target 7463' %><h2>sesame cake<br />occurrence: 1</h2><div><ol><li>Inside the crepe this time was black sesame cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7464">Next</a></li>
</ul>