<% provide :title, 'Opinion Target 4581' %><h2>lychee ice cream<br />occurrence: 1</h2><div><ol><li>Crispy, without being oily. the lychee ice cream was slightly bland, but provided a good compliment to the mango roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4580">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4582">Next</a></li>
</ul>