<% provide :title, 'Opinion Target 2189' %><h2>barbecue<br />occurrence: 2</h2><div><ol><li>Shawarma plate was tasteless, falafel was eh, barbecue was terrible.</li><li>It 's a cheap, cheerful and plentiful chinese restaurant in the same vein as Congee Star and Asian King, offering a plentiful menu with congee, noodle dishes, barbecue, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2190">Next</a></li>
</ul>