<% provide :title, 'Opinion Target 1991' %><h2>pork pieces<br />occurrence: 2</h2><div><ol><li>Vegetables still had a crunch to it, very good bagoong, and the crispy pork pieces were a good addition.</li><li>The ramen was spicy and the pork pieces were melt in your mouth delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1990">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1992">Next</a></li>
</ul>