<% provide :title, 'Opinion Target 5593' %><h2>pajeon griddle<br />occurrence: 1</h2><div><ol><li>In fact, it 's so crowded that apparently not all the cooking is taking place in the kitchen: the pajeon griddle is set up out in the hallway!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5594">Next</a></li>
</ul>