<% provide :title, 'Opinion Target 3681' %><h2>dishes chinese cooking<br />occurrence: 1</h2><div><ol><li>If you are looking for a upscale, romantic dining experience, please do n't come here cuz you will be disappointed, but if you are like me looking for authentic, Hong Kong style `` small-fry'' dishes chinese cooking, then you 've come to the right place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3682">Next</a></li>
</ul>