<% provide :title, 'Opinion Target 8398' %><h2>portion of ground pork<br />occurrence: 1</h2><div><ol><li>Flavorful soup with a generous portion of ground pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8399">Next</a></li>
</ul>