<% provide :title, 'Opinion Target 2308' %><h2>blueberry sauce<br />occurrence: 1</h2><div><ol><li>My wife wanted some blueberry pancakes which were bland and the blueberry sauce they gave was tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2309">Next</a></li>
</ul>