<% provide :title, 'Opinion Target 6467' %><h2>tofu sauce<br />occurrence: 1</h2><div><ol><li>My family likes to order a variety of dimsums, because they taste authentic; like their pork soup dumplings, which tastes great, especially when you dip it in the tofu sauce ( hahaha).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6468">Next</a></li>
</ul>