<% provide :title, 'Opinion Target 6026' %><h2>entree plates<br />occurrence: 1</h2><div><ol><li>Last thing, it took them 20minutes after they took away our entree plates to serve the ice cream ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6027">Next</a></li>
</ul>