<% provide :title, 'Opinion Target 1788' %><h2>fish hot pot<br />occurrence: 2</h2><div><ol><li>Tried pineapple fried rice, fish hot pot, and some penang chicken curry.</li><li>We three people ordered fish hot pot ( great portion of fresh pollack stewed with kimichi and vegetables) and bolgogi ( fried marinated beef).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1789">Next</a></li>
</ul>