<% provide :title, 'Opinion Target 4067' %><h2>dish of pasta<br />occurrence: 1</h2><div><ol><li>If you want a great dish of pasta like nonna used to make it, I would highly recommend La Traviata.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4068">Next</a></li>
</ul>