<% provide :title, 'Opinion Target 6588' %><h2>sammies<br />occurrence: 1</h2><div><ol><li>Yum! ( makes me feel less guilty that I 'm having veg ... lol), and yes the sammies are huge!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6589">Next</a></li>
</ul>