<% provide :title, 'Opinion Target 6171' %><h2>Korean kalbi<br />occurrence: 1</h2><div><ol><li>The Korean kalbi is average but good for here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6172">Next</a></li>
</ul>