<% provide :title, 'Opinion Target 6646' %><h2>dak kalbi jungsik<br />occurrence: 1</h2><div><ol><li>I ordered the dak kalbi jungsik ( marinated and BBQ 'd spicy chicken on hot plate with rice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6647">Next</a></li>
</ul>