<% provide :title, 'Opinion Target 3518' %><h2>chicken pot<br />occurrence: 1</h2><div><ol><li>The raw crab here is not my type, but the seafood pancake is nice, the fried fish is delish, spicy chicken pot is good but they give less chicken than lim ga nei, side dishes r good Service here is friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3517">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3519">Next</a></li>
</ul>