<% provide :title, 'Opinion Target 1674' %><h2>green dragon rolls<br />occurrence: 2</h2><div><ol><li>Definitely try the Philadelphia and green dragon rolls.</li><li>We tried the lobster roll, bulgogi dinner, and California and green dragon rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1675">Next</a></li>
</ul>