<% provide :title, 'Opinion Target 7009' %><h2>grilled chicken next<br />occurrence: 1</h2><div><ol><li>I am excited to try the grilled chicken next, as well as the breakfast, and some of the other soups.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7010">Next</a></li>
</ul>