<% provide :title, 'Opinion Target 1716' %><h2>coconut chicken fried rice<br />occurrence: 2</h2><div><ol><li>Ordered their coconut chicken fried rice ( $ 8.50 ?)</li><li>The coconut chicken fried rice here proved to be no exception to this rule.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1715">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1717">Next</a></li>
</ul>