<% provide :title, 'Opinion Target 1605' %><h2>soup starter<br />occurrence: 2</h2><div><ol><li>The soup starter was really cute- a soup loaded with seafood was cooked in a hollowed out whole winter melon.</li><li>They also included a soup starter, steamed fish, a rice dish, a noodle dish, and some veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1604">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1606">Next</a></li>
</ul>