<% provide :title, 'Opinion Target 6067' %><h2>Niku<br />occurrence: 1</h2><div><ol><li>The Niku was ok and the roll above average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6068">Next</a></li>
</ul>