<% provide :title, 'Opinion Target 2248' %><h2>cucumber roll<br />occurrence: 2</h2><div><ol><li>I ordered 1 cucumber roll and 2 avocado cucumber rolls.</li><li>The sushi pizza and cucumber roll I ordered were both pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2249">Next</a></li>
</ul>