<% provide :title, 'Opinion Target 6517' %><h2>sauteed green beans<br />occurrence: 1</h2><div><ol><li>The sauteed snow pea shoots with garlic are a very good vegetable dish as is the sauteed green beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6518">Next</a></li>
</ul>