<% provide :title, 'Opinion Target 6839' %><h2>dim sum card<br />occurrence: 1</h2><div><ol><li>- Items that are time-consuming and technique heavy tend to occupy the `` large'' or `` special'' price boxes on the dim sum card, where they may be considered `` medium'' at other joints.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6840">Next</a></li>
</ul>