<% provide :title, 'Opinion Target 4535' %><h2>tomatoes grilled<br />occurrence: 1</h2><div><ol><li>Friendly staff, stop in for a warm bowl of ash, skewered koobideh and tomatoes grilled over an open fire, jars of pickled vegetables, pomegranates, dates, feta cheese pulses or rice -- this place has it all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4536">Next</a></li>
</ul>