<% provide :title, 'Opinion Target 5272' %><h2>Chim Chae<br />occurrence: 1</h2><div><ol><li>The Chim Chae Soup ( Kimchi Soup) is the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5273">Next</a></li>
</ul>