<% provide :title, 'Opinion Target 8273' %><h2>Sweet Asian wings<br />occurrence: 1</h2><div><ol><li>The Sweet Asian wings were a good flavour profile change as the other wings were more savoury.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8274">Next</a></li>
</ul>