<% provide :title, 'Opinion Target 8893' %><h2>portions of meat & vegetables<br />occurrence: 1</h2><div><ol><li>Generous portions of meat &amp; vegetables cooked at your table with a little bit of entertainment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8894">Next</a></li>
</ul>