<% provide :title, 'Opinion Target 2838' %><h2>lobster sauce with rice<br />occurrence: 1</h2><div><ol><li>Shrimp and lobster sauce with rice is our fav!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2839">Next</a></li>
</ul>