<% provide :title, 'Opinion Target 2596' %><h2>soup bowl<br />occurrence: 1</h2><div><ol><li>Cazuela: typical Chilean bowl 1/5 soup, rice veggie, meat all in one served in a large soup bowl, with coriander, and herbs. the Stock was exceptional, however they use a lot of oil in their cooking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2595">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2597">Next</a></li>
</ul>