<% provide :title, 'Opinion Target 7006' %><h2>'' memphis style bbq<br />occurrence: 1</h2><div><ol><li>I REALLY want to like this place but I really .. do n't We sat on the patio and it boasted `` authentic'' memphis style bbq. ... but then again, what place does n't try to boast authenticity nowadays ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7007">Next</a></li>
</ul>