<% provide :title, 'Opinion Target 6063' %><h2>pilaf rice<br />occurrence: 1</h2><div><ol><li>I told the server about the food, she said this is the way they cook the hand pilaf rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6064">Next</a></li>
</ul>