<% provide :title, 'Opinion Target 4893' %><h2>chicken stock<br />occurrence: 1</h2><div><ol><li>They used strong chicken stock instead of the classic shoyu, ruining the soup, the noodles were undercooked, and my mom was saying `` no, it 's fine I can just eat it'' but then had to stop halfway through.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4894">Next</a></li>
</ul>