<% provide :title, 'Opinion Target 8032' %><h2>soontofu with beef<br />occurrence: 1</h2><div><ol><li>My go-to is the combination soontofu with beef, mussels and shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8033">Next</a></li>
</ul>