<% provide :title, 'Opinion Target 4172' %><h2>stir fry pork dish<br />occurrence: 1</h2><div><ol><li>I had the stir fry pork dish and I felt sick and had to run to washroom shortly after that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4173">Next</a></li>
</ul>