<% provide :title, 'Opinion Target 3589' %><h2>veg omelette<br />occurrence: 1</h2><div><ol><li>Theos was good but i would prefer eggsmart 's veg omelette over it anytime ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3590">Next</a></li>
</ul>