<% provide :title, 'Opinion Target 6312' %><h2>chocolate cream<br />occurrence: 1</h2><div><ol><li>The bitter dark chocolate ganache ( chocolate glaze) contrasted well with the flaky pastry and the light chocolate cream filling which was not overly sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6313">Next</a></li>
</ul>