<% provide :title, 'Opinion Target 3575' %><h2>shish tawouk plate<br />occurrence: 1</h2><div><ol><li>She got the shish tawouk plate and it was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3574">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3576">Next</a></li>
</ul>