<% provide :title, 'Opinion Target 8853' %><h2>Deep fried frozen fries<br />occurrence: 1</h2><div><ol><li>Deep fried frozen fries, a bit meh but it 's deep fried so whatever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8854">Next</a></li>
</ul>