<% provide :title, 'Opinion Target 8530' %><h2>spinach and cheddar crepe-omelette<br />occurrence: 1</h2><div><ol><li>The spinach and cheddar crepe-omelette was A-OK except that the sauce was cold.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8531">Next</a></li>
</ul>