<% provide :title, 'Opinion Target 6670' %><h2>seafood assortment<br />occurrence: 1</h2><div><ol><li>However, this one was practically oily and the seafood assortment was limited.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6671">Next</a></li>
</ul>