<% provide :title, 'Opinion Target 880' %><h2>barg<br />occurrence: 4</h2><div><ol><li>Fine barg it was.</li><li>The barg was very tender and made of veal.</li><li>We ordered Kashkeh Bademjan as the appetizer, the Barg, Fesenjoon and Ghaimeh.</li><li>The barg ( veal kabobs) was n't as succulent as they should be, and the koobideh was a tad bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_881">Next</a></li>
</ul>