<% provide :title, 'Opinion Target 2938' %><h2>mango taste<br />occurrence: 1</h2><div><ol><li>But the pudding is quite soft and smooth though, if you can get over the synthetic mango taste ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2939">Next</a></li>
</ul>