<% provide :title, 'Opinion Target 7924' %><h2>bean sprouts and pickled radish<br />occurrence: 1</h2><div><ol><li>I especially liked the bean sprouts and pickled radish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7925">Next</a></li>
</ul>