<% provide :title, 'Opinion Target 5142' %><h2>preserved cabbage<br />occurrence: 1</h2><div><ol><li>Some of the vegetable content includes green onions, garlic and preserved cabbage ( taste like a mild flavored sauerkraut).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5143">Next</a></li>
</ul>