<% provide :title, 'Opinion Target 1008' %><h2>brushetta<br />occurrence: 3</h2><div><ol><li>They even sent out 3 little brushetta 's on the house.</li><li>There was, but I like that personally, if there is bread to dip into it ... but no bread was served to our table, other than the bread from our brushetta.</li><li>The brushetta was n't great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1009">Next</a></li>
</ul>