<% provide :title, 'Opinion Target 8861' %><h2>Breaded cauliflower<br />occurrence: 1</h2><div><ol><li>Breaded cauliflower is good as well!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8860">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8862">Next</a></li>
</ul>