<% provide :title, 'Opinion Target 5190' %><h2>dough sticks<br />occurrence: 1</h2><div><ol><li>The consistency of the congee was perfect though and the fried dough sticks are always a good complement.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5191">Next</a></li>
</ul>