<% provide :title, 'Opinion Target 9313' %><h2>sesame pastry<br />occurrence: 1</h2><div><ol><li>I did n't bother w the other buffet item except the sesame pastry, a classic w Mongolian BBQ.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9314">Next</a></li>
</ul>