<% provide :title, 'Opinion Target 3454' %><h2>beef shish kebab<br />occurrence: 1</h2><div><ol><li>Our take out order: 3 chicken biriyanis, 1 order of beef shish kebab and 1 order of tandoori chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3455">Next</a></li>
</ul>