<% provide :title, 'Opinion Target 5977' %><h2>green tea frap<br />occurrence: 1</h2><div><ol><li>When they give me the green tea frap, I said its not well shaken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5978">Next</a></li>
</ul>