<% provide :title, 'Opinion Target 4859' %><h2>beef/pork enoki rolls<br />occurrence: 1</h2><div><ol><li>Some things i get every single time- green dragon roll ( fav), beef ribs ( greasy and fatty but SO good), tempura ( the batter is not too heavy and is just right), grilled squid, beef/pork enoki rolls ( these are amazing), grilled eggplant ( if you love eggplant you will love this), teppanyaki veggies ( it 's basically cooked in butter) A must try if you 're into AYCE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4860">Next</a></li>
</ul>