<% provide :title, 'Opinion Target 8874' %><h2>yellow tail<br />occurrence: 1</h2><div><ol><li>Regardless, it was n't the imitation crab meat), giant clam, scallop, and yellow tail.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8875">Next</a></li>
</ul>