<% provide :title, 'Opinion Target 6962' %><h2>cole slaw fan<br />occurrence: 1</h2><div><ol><li>I ordered the cheeseburger with applewood smoked bacon, with the couscous as the side, since I 'm not a huge cole slaw fan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6963">Next</a></li>
</ul>