<% provide :title, 'Opinion Target 4008' %><h2>Root vegetables<br />occurrence: 1</h2><div><ol><li>Root vegetables are dirt cheap, and I refuse to pay $ 8 for parsnips, carrots, celery root or anything that comes within spitting difference of mirepoix, no matter how much cumin you wave at it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4009">Next</a></li>
</ul>