<% provide :title, 'Opinion Target 8589' %><h2>seawood<br />occurrence: 1</h2><div><ol><li>It comes with white rice and complimentary side dishes ( jap chae, potato, sweet beans, lettuce, seawood, pieces of fish, kimchi and bean sprout).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8590">Next</a></li>
</ul>