<% provide :title, 'Opinion Target 5434' %><h2>lentil rice<br />occurrence: 1</h2><div><ol><li>I asked for adas polo ( lentil rice) and they did n't have that either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5433">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5435">Next</a></li>
</ul>