<% provide :title, 'Opinion Target 5867' %><h2>fish sauce taste<br />occurrence: 1</h2><div><ol><li>Do not order Thai Fried Rice ( sea food) if you do n't like your food too salty and has a strong soy sauce and fish sauce taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5868">Next</a></li>
</ul>