<% provide :title, 'Opinion Target 3505' %><h2>food prices<br />occurrence: 1</h2><div><ol><li>The booths are very spacious and I do n't feel cramped at all ( unlike most neighbourhood sushi restaurants) The food prices are fair too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3506">Next</a></li>
</ul>