<% provide :title, 'Opinion Target 5171' %><h2>chicken & duck<br />occurrence: 1</h2><div><ol><li>The food is great as well! one order, food is not fresh ( chicken &amp; duck). second order, black bean souce pork is chewey &amp; bit raw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5172">Next</a></li>
</ul>