<% provide :title, 'Opinion Target 877' %><h2>chicken fingers<br />occurrence: 4</h2><div><ol><li>I had chicken fingers.</li><li>How can you mess up chicken fingers ?</li><li>Food/Service: 3/5, the batter on the chicken fingers were n't the best but they had a wedding party and it should n't be but that was the excuse.</li><li>The chicken fingers were fine ( those are pretty hard to mess up), the fries were awful, and not even salted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_878">Next</a></li>
</ul>