<% provide :title, 'Opinion Target 4970' %><h2>muffin<br />occurrence: 1</h2><div><ol><li>The muffin was barely capable of holding the beast though so they 're gonna need a stronger base.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4969">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4971">Next</a></li>
</ul>