<% provide :title, 'Opinion Target 963' %><h2>sushi spot<br />occurrence: 4</h2><div><ol><li>Sushi Moto is a more upscale sushi experience, rather than your cheap sushi spot around the corner.</li><li>Easily the greatest sushi spot within the GTA.</li><li>Go-to sushi spot before movies nearby at Empress.</li><li>Great little sushi spot in a somewhat empty plaza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_962">Previous</a></li>
  <li class="next"><a href=".\opinion_target_964">Next</a></li>
</ul>