<% provide :title, 'Opinion Target 2501' %><h2>bok choy with mushrooms<br />occurrence: 2</h2><div><ol><li>On this visit, we had the chili fried turnip, bok choy with mushrooms and the house pad Thai.</li><li>The bok choy with mushrooms was delicious and they served us a huge plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2502">Next</a></li>
</ul>