<% provide :title, 'Opinion Target 4212' %><h2>green thai curry<br />occurrence: 1</h2><div><ol><li>The green thai curry made up for it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4213">Next</a></li>
</ul>