<% provide :title, 'Opinion Target 8914' %><h2>sashami<br />occurrence: 1</h2><div><ol><li>Fresh, best sashami I 've had in a long time, and just a unique and different take on japanese food, more traditional, more attention to detail, in both presentation and taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8915">Next</a></li>
</ul>