<% provide :title, 'Opinion Target 3863' %><h2>tempura banana<br />occurrence: 1</h2><div><ol><li>Selection of desserts were pretty good, recommend mango yogurt, mango sago was watery and I could not taste the mango really, ice creams were not bad, standard fare, the tempura banana was interesting to try but nothing to surprise the taste buds, maybe I should have tried to pair warm banana with ice cream! ( Neeeeext time Overall good place to stuff my stomach silly!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3862">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3864">Next</a></li>
</ul>