<% provide :title, 'Opinion Target 927' %><h2>chicken nuggets<br />occurrence: 4</h2><div><ol><li>I ordered the 5 piece chicken nuggets.</li><li>We came inside ONCE to take advantage of the cheap chicken nuggets deal.</li><li>The chicken nuggets are just awful.</li><li>Another round ? again about 25 minutes passed and the server took our next order. we switched back to regular wings to avoid cracking our teeth on the dry chicken nuggets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_928">Next</a></li>
</ul>