<% provide :title, 'Opinion Target 2763' %><h2>fried chicken with a glutinous rice stuffing<br />occurrence: 1</h2><div><ol><li>One of the more impressive dishes was a fried chicken with a glutinous rice stuffing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2762">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2764">Next</a></li>
</ul>