<% provide :title, 'Opinion Target 7855' %><h2>boat specials<br />occurrence: 1</h2><div><ol><li>We got one of the boat specials which also came with soup, salad, dessert and shrimp tempera, and added in a chicken teriyaki bento box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7856">Next</a></li>
</ul>