<% provide :title, 'Opinion Target 2349' %><h2>white chocolate mocha<br />occurrence: 2</h2><div><ol><li>I got the black sesame ice cream crepe with a hot chocolate for $ 11.99 special lunch combo and also tried the white chocolate mocha.</li><li>Drink wise, I 've had their white chocolate mocha and their green tea latte, both were pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2350">Next</a></li>
</ul>