<% provide :title, 'Opinion Target 2848' %><h2>mango icecream<br />occurrence: 1</h2><div><ol><li>Dessert- mango icecream- only thing decent here as they had tempura bits in it which was interesting There are so many better sushi places not too far from here with much better prices and service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2847">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2849">Next</a></li>
</ul>