<% provide :title, 'Opinion Target 4031' %><h2>coctails<br />occurrence: 1</h2><div><ol><li>I mean it 's still a patio experience overall, eating the least expensive ( cost wise) menu item, and 2 basic coctails should not rival dinner for 1 at the keg mansion ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4032">Next</a></li>
</ul>