<% provide :title, 'Opinion Target 6478' %><h2>steam sea bass<br />occurrence: 1</h2><div><ol><li>The steam sea bass was alright, they soy sauce really goes well with the fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6479">Next</a></li>
</ul>