<% provide :title, 'Opinion Target 8321' %><h2>`` Northern Chinese Cuisine ''<br />occurrence: 1</h2><div><ol><li>Asian Legend marks itself for being `` Northern Chinese Cuisine'', similar to other restaurants in the area, I 'm convinced this is simply what is interpreted as northern cuisine by those running the places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8320">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8322">Next</a></li>
</ul>