<% provide :title, 'Opinion Target 4017' %><h2>salad with chicken<br />occurrence: 1</h2><div><ol><li>3/4 of us wanted lighter meals, meals were spinach salad with chicken, cobb salad, a burger and sweet potato fries and tortellini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4016">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4018">Next</a></li>
</ul>