<% provide :title, 'Opinion Target 3002' %><h2>szchewan beef<br />occurrence: 1</h2><div><ol><li>Good szchewan beef and Cantonese chow mein.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3003">Next</a></li>
</ul>