<% provide :title, 'Opinion Target 1153' %><h2>chocolate fountain<br />occurrence: 4</h2><div><ol><li>I especially love the chocolate fountain.</li><li>The chocolate fountain is a nice novelty.</li><li>There is a small section for desert, but what is different is the shaved ice station and the chocolate fountain.</li><li>The dessert table 's chocolate fountain is pretty fun.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1154">Next</a></li>
</ul>