<% provide :title, 'Opinion Target 1894' %><h2>roasted eggplant<br />occurrence: 2</h2><div><ol><li>My husband 's favourite is the `` Kashkeh Bdemjoon'' which is a roasted eggplant.</li><li>All 3 were quite good with the snails being the most interesting ( roasted on a slice of roasted eggplant, hint of blue cheese), the main being the most satisfying ( sliced of tenderloin with a nice sauce and vegetables and the desert rounding things out ( 7 kinds of chocolate ... need I say more ?) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1893">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1895">Next</a></li>
</ul>