<% provide :title, 'Opinion Target 4828' %><h2>roll with strawberry sauce<br />occurrence: 1</h2><div><ol><li>Do n't order the roll with strawberry sauce or wtv. on it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4829">Next</a></li>
</ul>