<% provide :title, 'Opinion Target 7173' %><h2>corner<br />occurrence: 1</h2><div><ol><li>Waiters were very attentive and courteous .. they placed us in a nice cozy corner upstairs which provided privacy but did not forget about us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7174">Next</a></li>
</ul>