<% provide :title, 'Opinion Target 7195' %><h2>kimchi pancake<br />occurrence: 1</h2><div><ol><li>One of the best parts is that they have many side dishes- one of them is even a kimchi pancake!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7196">Next</a></li>
</ul>