<% provide :title, 'Opinion Target 4597' %><h2>seafood fried rice & pai<br />occurrence: 1</h2><div><ol><li>Finally after another a long wait, ordered mango salad &amp; chicken skewers, chicken pineapple fried rice, seafood fried rice &amp; pai Thai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4596">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4598">Next</a></li>
</ul>