<% provide :title, 'Opinion Target 6971' %><h2>matzo<br />occurrence: 1</h2><div><ol><li>It 's supposed to be softened matzo mixed with eggs &amp; onions to give it a taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6970">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6972">Next</a></li>
</ul>