<% provide :title, 'Opinion Target 6415' %><h2>pho bo<br />occurrence: 1</h2><div><ol><li>Their pho bo ( beef pho) and bun mang vit ( duck and bamboo shoot noodle soup) is a must try !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6416">Next</a></li>
</ul>