<% provide :title, 'Opinion Target 2094' %><h2>dessert table<br />occurrence: 2</h2><div><ol><li>The dessert table fairs the same with a selection of fresh fruits ( most of which were decently fresh like the strawberries) and little snack cakes ( not great) and ice cream.</li><li>The dessert table 's chocolate fountain is pretty fun.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2093">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2095">Next</a></li>
</ul>