<% provide :title, 'Opinion Target 6436' %><h2>fries extravaganza<br />occurrence: 1</h2><div><ol><li>They should have named it the fries extravaganza!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6435">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6437">Next</a></li>
</ul>