<% provide :title, 'Opinion Target 1690' %><h2>chicken doner<br />occurrence: 2</h2><div><ol><li>The chicken doner sold out by 9pm the first time we got there.</li><li>So if you want to get lamb or chicken doner, go earlier.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1691">Next</a></li>
</ul>