<% provide :title, 'Opinion Target 6643' %><h2>bulgogi bento boxes<br />occurrence: 1</h2><div><ol><li>Even staple dishes like the pork bone soup., bulgogi bento boxes, and bibambap rice bowls are recommended items on their menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6642">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6644">Next</a></li>
</ul>