<% provide :title, 'Opinion Target 3618' %><h2>Mahi<br />occurrence: 1</h2><div><ol><li>On my last visit they had Mahi Mahi which I loved!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3619">Next</a></li>
</ul>