<% provide :title, 'Opinion Target 8557' %><h2>disposable chopsticks<br />occurrence: 1</h2><div><ol><li>Sometimes we had to ring the bell several times ( at 1-2 minute intervals before a waitress came) A spoon and disposable chopsticks are provided.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8556">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8558">Next</a></li>
</ul>