<% provide :title, 'Opinion Target 6839' %><h2>Soy Stewed Beef<br />occurrence: 1</h2><div><ol><li>We got the Yo Po Biang Biang Mian, the Soy Stewed Beef Noodle Soup and Lamb Pao Mo. I would highly recommend the Biang Biang Mian and Lamb Pao Mo. These are both authentic Xi' an cuisine, and both are made very well at Artisan Noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6840">Next</a></li>
</ul>