<% provide :title, 'Opinion Target 3501' %><h2>boogugi<br />occurrence: 1</h2><div><ol><li>The boogugi is ok but beef is in large pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3502">Next</a></li>
</ul>