<% provide :title, 'Opinion Target 1324' %><h2>deep fried shrimp<br />occurrence: 3</h2><div><ol><li>Nasu Dengaku, grilled eggplant with sweet miso and sesame sauce was beautifully seared over the barbecue and finally the Legend Dragon stood up to it 's name, avocado, cucumber, deep fried shrimp wrapped in spicy salmon with sauce and fish eggs.</li><li>For appetizers, try their Fried Shrimp, which is deep fried shrimp with the shell and head on.</li><li>The seafood special consists of deep fried shrimp, calamari, and battered cod or halibut ( l forgot).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1325">Next</a></li>
</ul>