<% provide :title, 'Opinion Target 8562' %><h2>sliced fish cake<br />occurrence: 1</h2><div><ol><li>I was definitely hooked on the ban-chan that were served before the mains, especially the potatoes with the sweet glaze and also the japchae and the sliced fish cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8563">Next</a></li>
</ul>