<% provide :title, 'Opinion Target 5226' %><h2>curry beef brisket on rice<br />occurrence: 1</h2><div><ol><li>My friend ordered the curry beef brisket on rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5227">Next</a></li>
</ul>