<% provide :title, 'Opinion Target 3898' %><h2>verdict<br />occurrence: 1</h2><div><ol><li>The verdict: Definitely a place we would go again and again if it were n't kind of out of the way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3897">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3899">Next</a></li>
</ul>