<% provide :title, 'Opinion Target 7751' %><h2>beef bimbimbap<br />occurrence: 1</h2><div><ol><li>He ordered the beef bimbimbap and I ordered the seafood soondubu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7752">Next</a></li>
</ul>