<% provide :title, 'Opinion Target 4634' %><h2>taco shell<br />occurrence: 1</h2><div><ol><li>The taco shell looked just like the ones you buy at grocery stores.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4635">Next</a></li>
</ul>