<% provide :title, 'Opinion Target 4175' %><h2>butter chicken wraps<br />occurrence: 1</h2><div><ol><li>Their butter chicken wraps are heavenly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4174">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4176">Next</a></li>
</ul>