<% provide :title, 'Opinion Target 3844' %><h2>banana tempura<br />occurrence: 1</h2><div><ol><li>They also had banana tempura, jello, herbal essence jello ( did n't try it) and the usual ice creams.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3843">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3845">Next</a></li>
</ul>