<% provide :title, 'Opinion Target 8375' %><h2>Dessert of red bean pancake<br />occurrence: 1</h2><div><ol><li>Dessert of red bean pancake took way longer than the 20 minutes prep time listed on the menu though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8376">Next</a></li>
</ul>