<% provide :title, 'Opinion Target 6376' %><h2>pho with rare beef<br />occurrence: 1</h2><div><ol><li>I 'm a creature of habit so I always get the same thing- large pho with rare beef ( $ 6.50).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6377">Next</a></li>
</ul>