<% provide :title, 'Opinion Target 8210' %><h2>bibim nyengmyeon<br />occurrence: 1</h2><div><ol><li>Try their bibim nyengmyeon- gorgeous home-style gochuchang, not too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8211">Next</a></li>
</ul>