<% provide :title, 'Opinion Target 3466' %><h2>hostess/server<br />occurrence: 1</h2><div><ol><li>The hostess/server was very courteous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3465">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3467">Next</a></li>
</ul>