<% provide :title, 'Opinion Target 3748' %><h2>cheese options<br />occurrence: 1</h2><div><ol><li>They have various cheese options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3749">Next</a></li>
</ul>