<% provide :title, 'Opinion Target 3255' %><h2>service. check<br />occurrence: 1</h2><div><ol><li>After Mariko 's review, I was pretty skeptical about this place .. so, turns out, she 's right on many things! paper napkins. check I mean, they 're in a mall, how high class can that be, right ? no need to dress up. check! great service. check! the Fettuccine Alfredo $ 14 was SO bland ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3256">Next</a></li>
</ul>