<% provide :title, 'Opinion Target 1356' %><h2>hoisin sauce<br />occurrence: 2</h2><div><ol><li>It was slathered/stir-fried in hoisin sauce ( usually this is served on the side) and the wraps it came with were dried out on the edges.</li><li>Five of the above-mentioned wrappers were served ( this is for 2 people and 2 duck legs, remember), along with four of the tiniest condiment dishes you can imagine, containing small amounts of cucumber, celery, shredded scallion ( green onion), and hoisin sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1357">Next</a></li>
</ul>