<% provide :title, 'Opinion Target 2622' %><h2>chicken shish<br />occurrence: 1</h2><div><ol><li>The chicken shish looked very large.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2623">Next</a></li>
</ul>