<% provide :title, 'Opinion Target 1370' %><h2>sea weed<br />occurrence: 2</h2><div><ol><li>They offer rolls without rice and sea weed that are incredible.</li><li>Hand rolls were just amazing, sea weed erryday !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1371">Next</a></li>
</ul>