<% provide :title, 'Opinion Target 1658' %><h2>teriyaki chicken dinner<br />occurrence: 2</h2><div><ol><li>The kids got the teriyaki chicken dinner and it was actually great for $ 10 you get a miso soup ( personally found it too salty), chicken teriyaki and rice and the portions were pretty decent.</li><li>Lunches like the teriyaki chicken dinner or spicy chicken dinner used to be $ 5.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1659">Next</a></li>
</ul>