<% provide :title, 'Opinion Target 7321' %><h2>fried rice with pork<br />occurrence: 1</h2><div><ol><li>A spicy beef, fried rice with pork in an clay pot ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7320">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7322">Next</a></li>
</ul>