<% provide :title, 'Opinion Target 5828' %><h2>shortcake crepe with strawberry ice cream<br />occurrence: 1</h2><div><ol><li>My other friends opted for the shortcake crepe with strawberry ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5829">Next</a></li>
</ul>