<% provide :title, 'Opinion Target 6965' %><h2>French toast portion<br />occurrence: 1</h2><div><ol><li>The French toast portion was huge; it came with 3 slices of toast ( all cut in half), with a very generous amount of Oreo toppings, and Chantilly cream ( on the side), two slices of bacon ( or you can choose ham instead), and a nice bowl of fruits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6966">Next</a></li>
</ul>