<% provide :title, 'Opinion Target 5827' %><h2>ice cream dish<br />occurrence: 1</h2><div><ol><li>The crepes do appear to be a bit better and the ice cream dish that looked like leaves of lettuce was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5828">Next</a></li>
</ul>