<% provide :title, 'Opinion Target 8913' %><h2>prix fix dinner<br />occurrence: 1</h2><div><ol><li>The chefs were really nice and friendly, but for the lowly $ 68 prix fix dinner, it 's not worth it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8914">Next</a></li>
</ul>