<% provide :title, 'Opinion Target 3406' %><h2>Korean seafood pancake<br />occurrence: 1</h2><div><ol><li>Korean seafood pancake 5/5 i thought their pancake was very good considering i usually do n't like the korean pancakes that much but i could n't stop eating this one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3407">Next</a></li>
</ul>