<% provide :title, 'Opinion Target 1799' %><h2>papaya ice cream<br />occurrence: 2</h2><div><ol><li>For dessert I had papaya ice cream because I was so full, and my girlfriend had the sweet mango sticky rice which was actually two small bits and not heavy looking at all.</li><li>The papaya ice cream also tasted amazing with the mango sauce over it I would definitely go back again to try more dishes on the menu!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1800">Next</a></li>
</ul>