<% provide :title, 'Opinion Target 2029' %><h2>lemon tart<br />occurrence: 2</h2><div><ol><li>Desserts ( tiramisu, chocolate mousse cake, and lemon tart) were good but not spectacular.</li><li>They had an addition to the menu tonight, a Lobster &amp; Shrimp Bisque, as well as an alteration- that the Lemon Tart had been substituted tonight with a Lemon Cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2028">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2030">Next</a></li>
</ul>