<% provide :title, 'Opinion Target 3194' %><h2>doner<br />occurrence: 1</h2><div><ol><li>The doner are perfect, never over or undercooked and in large portions, be it as a plate or a sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3195">Next</a></li>
</ul>