<% provide :title, 'Opinion Target 2004' %><h2>chicken teriyaki bento box<br />occurrence: 2</h2><div><ol><li>The chicken teriyaki bento box was okay.</li><li>This time I tried their Chicken Teriyaki Bento Box with Tempura ( $ 8.99).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2005">Next</a></li>
</ul>