<% provide :title, 'Opinion Target 4240' %><h2>appetizer calamari<br />occurrence: 1</h2><div><ol><li>I like that their appetizer calamari are grilled, not fried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4239">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4241">Next</a></li>
</ul>