<% provide :title, 'Opinion Target 1716' %><h2>boiled egg<br />occurrence: 2</h2><div><ol><li>They cut the noodles right in front of you after they put the bowl on the table The soup was super tasty, with a lot of ice still in it--talk about Cold:) The boiled egg looked spotless.</li><li>The boiled egg was good and soft as it should be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1715">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1717">Next</a></li>
</ul>