<% provide :title, 'Opinion Target 5101' %><h2>pepper fried squid<br />occurrence: 1</h2><div><ol><li>You must try the salt and pepper fried squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5100">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5102">Next</a></li>
</ul>