<% provide :title, 'Opinion Target 7216' %><h2>mini bbq buns<br />occurrence: 1</h2><div><ol><li>The ribs were actually very good., The mini bbq buns were good as well, but that 's where it ended.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7215">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7217">Next</a></li>
</ul>