<% provide :title, 'Opinion Target 3698' %><h2>outdoor patio<br />occurrence: 1</h2><div><ol><li>The outdoor patio they have setup would be nice if it was cleaned up once in a while.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3699">Next</a></li>
</ul>