<% provide :title, 'Opinion Target 4517' %><h2>fried chicken with fries or rice<br />occurrence: 1</h2><div><ol><li>The fried chicken with fries or rice is also good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4518">Next</a></li>
</ul>