<% provide :title, 'Opinion Target 3073' %><h2>fish broth<br />occurrence: 1</h2><div><ol><li>I believe it 's a fish broth ( not 100% sure, I apologize if I 'm wrong) with some noodles and green onion/seaweed garnish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3074">Next</a></li>
</ul>