<% provide :title, 'Opinion Target 1221' %><h2>sushi places<br />occurrence: 3</h2><div><ol><li>One of the best sushi places.</li><li>When you consider that a lot of upscale sushi places are charging you an arm and a leg for superficial reasons, it actually makes the prices here seem worthwhile.</li><li>Defitnely one if the best sushi places I been.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1220">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1222">Next</a></li>
</ul>