<% provide :title, 'Opinion Target 6582' %><h2>bbtea green teas<br />occurrence: 1</h2><div><ol><li>But to be fair I come often just because their bbtea green teas are my fav.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6583">Next</a></li>
</ul>