<% provide :title, 'Opinion Target 6740' %><h2>burger meal<br />occurrence: 1</h2><div><ol><li>It was the best burger meal I had in a long time!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6739">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6741">Next</a></li>
</ul>