<% provide :title, 'Opinion Target 5450' %><h2>caramel milk tea with grass jelly<br />occurrence: 1</h2><div><ol><li>To be continued though ... best bubble tea in the city! caramel milk tea with grass jelly is my favourite. i 've enjoyed everything i 've tried so far.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5451">Next</a></li>
</ul>