<% provide :title, 'Opinion Target 1012' %><h2>steak sandwiches<br />occurrence: 3</h2><div><ol><li>The deli meats, and steak sandwiches are very good.</li><li>The waitress thought the steak sandwiches were steak entrees and had to send the food back and tried to convince my friends to keep the side veggies the steaks came with instead of fries the sandwiches came with.</li><li>Went here for the first time for lunch today and have to say the chicken parmesan and steak sandwiches we ordered were pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1013">Next</a></li>
</ul>