<% provide :title, 'Opinion Target 8252' %><h2>viet pork sandwich<br />occurrence: 1</h2><div><ol><li>We had pho with rare beef ( medium), a viet pork sandwich, and cold rolls ( p2, vb1, a2).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8253">Next</a></li>
</ul>