<% provide :title, 'Opinion Target 5495' %><h2>Stella<br />occurrence: 1</h2><div><ol><li>We decided to get some coffee and dessert and ordered the Nutella dessert ( I forget the full name, Stella di something).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5496">Next</a></li>
</ul>