<% provide :title, 'Opinion Target 3161' %><h2>chicken empanada<br />occurrence: 1</h2><div><ol><li>The lady was so nice, even gave us a chicken empanada to try ... but the empanada was meh too ... bland and dry ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3162">Next</a></li>
</ul>