<% provide :title, 'Opinion Target 9656' %><h2>butter chicken for takeout<br />occurrence: 1</h2><div><ol><li>Got the butter chicken for takeout.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9657">Next</a></li>
</ul>