<% provide :title, 'Opinion Target 3732' %><h2>sour fish soup<br />occurrence: 1</h2><div><ol><li>2 of us ordered garlic fried rice ( highly recommend), sour fish soup, green beans, and fried pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3733">Next</a></li>
</ul>