<% provide :title, 'Opinion Target 7078' %><h2>BBQ beef short ribs appetizer<br />occurrence: 1</h2><div><ol><li>We ordered some rolls ( avocado, unagi- Caterpillar, and mixed fish- Atlantic), the extra small sashimi party platter that comes with miso soups and green salads ( which we upgraded for $ 2.70 fee each to wakame salad), and a BBQ beef short ribs appetizer ( kalbi).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7077">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7079">Next</a></li>
</ul>