<% provide :title, 'Opinion Target 9317' %><h2>pok and broccoli beef<br />occurrence: 1</h2><div><ol><li>It 's an AYCE place for the Mongolian grill and they have a separate aisle that serves up your typical your Americanized Chinese food like your sweet so-wa pok and broccoli beef, egg rolls, and whatever you think of.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9316">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9318">Next</a></li>
</ul>