<% provide :title, 'Opinion Target 6416' %><h2>tofu vermicelli<br />occurrence: 1</h2><div><ol><li>Everything else is perfect Good food, good portions It is cash only, be prepared, cause it doesnt say it anywhere Horrible customer service- I ordered vegetable and tofu vermicelli, and they gave me vegetable rice noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6417">Next</a></li>
</ul>