<% provide :title, 'Opinion Target 5766' %><h2>white sugar sponge cake<br />occurrence: 1</h2><div><ol><li>It refers to white sugar sponge cake which was often sold by street vendors, together with dough fritters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5767">Next</a></li>
</ul>