<% provide :title, 'Opinion Target 675' %><h2>hash browns<br />occurrence: 6</h2><div><ol><li>I ordered the Western Omelette, which is a generous portion that comes with mini hash browns, a piece of orange, and a bagel.</li><li>The hash browns were pretty good, too but the omelette was definitely the star of this dish.</li><li>The hash browns needed more seasonings, too bland.</li><li>The hash browns were decent but a very small portion.</li><li>Homemade hash browns will keep me coming back for more.</li><li>I love their cheapy breakfast, especially the hash browns.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_676">Next</a></li>
</ul>