<% provide :title, 'Opinion Target 2823' %><h2>chilli vinegar<br />occurrence: 1</h2><div><ol><li>Do n't forget to ask for the chilli vinegar to accompany your meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2822">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2824">Next</a></li>
</ul>