<% provide :title, 'Opinion Target 1550' %><h2>romaine<br />occurrence: 2</h2><div><ol><li>For starters, I ordered the Miller Caesar ( $ 9)- It was n't the best I 've had but the romaine was sauced very evenly with a hint of anchovy.</li><li>I will start with their ' garden salad,' it was a sad mixture of romaine, baby spinach, and a few other mixed greens.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1551">Next</a></li>
</ul>