<% provide :title, 'Opinion Target 7463' %><h2>cookers with soup<br />occurrence: 1</h2><div><ol><li>I did n't have the misfortune of sitting down for the meal -- I had ordered food for pickup -- but while I was there, I was staring at a few cookers with soup left inside, and the inside of the cookers looked like one of those things left on the floor of tiny restaurants in Chinatown.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7464">Next</a></li>
</ul>