<% provide :title, 'Opinion Target 1318' %><h2>lunch crowd<br />occurrence: 3</h2><div><ol><li>The lunch crowd are usually business workers who work in the corporate towers close by.</li><li>My group was seated in a semi-enclosed private table near the back, which was a bonus as we were away from the busy weekday lunch crowd.</li><li>Lunch crowd be warned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1319">Next</a></li>
</ul>