<% provide :title, 'Opinion Target 3490' %><h2>foam plates<br />occurrence: 1</h2><div><ol><li>The only small disappointment was the foam plates.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3491">Next</a></li>
</ul>