<% provide :title, 'Opinion Target 3257' %><h2>Funghi pizza<br />occurrence: 1</h2><div><ol><li>I ordered the Funghi pizza $ 14.50, baked in their `` hand crafted wooden oven'' ( which is kinda cool and it 's nice!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3258">Next</a></li>
</ul>