<% provide :title, 'Opinion Target 6651' %><h2>chicken Dak Gal Bee<br />occurrence: 1</h2><div><ol><li>We ordered three servings for the chicken Dak Gal Bee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6652">Next</a></li>
</ul>