<% provide :title, 'Opinion Target 3654' %><h2>cornish hen<br />occurrence: 1</h2><div><ol><li>The cornish hen is split into two whole pieces and is baked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3655">Next</a></li>
</ul>