<% provide :title, 'Opinion Target 5182' %><h2>spicy salt fried chicken wings<br />occurrence: 1</h2><div><ol><li>My favourite dishes are the fish filet in sweet corn sauce and the spicy salt fried chicken wings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5183">Next</a></li>
</ul>