<% provide :title, 'Opinion Target 3627' %><h2>eat family style<br />occurrence: 1</h2><div><ol><li>You can either get your meal or eat family style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3626">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3628">Next</a></li>
</ul>