<% provide :title, 'Opinion Target 6290' %><h2>mushroom fried rice<br />occurrence: 1</h2><div><ol><li>We ordered egg rolls, spring rolls, mushroom fried rice, General Tso 's chicken, honey garlic chicken, and a side of extra honey garlic sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6289">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6291">Next</a></li>
</ul>