<% provide :title, 'Opinion Target 6160' %><h2>seaweed banchan<br />occurrence: 1</h2><div><ol><li>What happened to your crispy seaweed banchan ( ok, you took that away a long time ago, but I still remember it, and am sad you took it away.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6159">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6161">Next</a></li>
</ul>