<% provide :title, 'Opinion Target 2647' %><h2>summery pasta dish<br />occurrence: 1</h2><div><ol><li>I got the Penne Capri- a really light, summery pasta dish exploding with flavour- and it was absolutely divine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2648">Next</a></li>
</ul>