<% provide :title, 'Opinion Target 8287' %><h2>mandarin chicken salad<br />occurrence: 1</h2><div><ol><li>Am sitting here at the one on Dufferin where I ordered a mandarin chicken salad and my husband got a buffalo Caesar wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8288">Next</a></li>
</ul>