<% provide :title, 'Opinion Target 6570' %><h2>Creamy Chicken Noodle Soup<br />occurrence: 1</h2><div><ol><li>I ordered the Creamy Chicken Noodle Soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6571">Next</a></li>
</ul>