<% provide :title, 'Opinion Target 1627' %><h2>chicken slices<br />occurrence: 2</h2><div><ol><li>TENDER chicken slices in massive proportions filling in an equally gigantic pita ready to explode !!!!</li><li>Love their Cantonese Chow Mein with big shrimps, tender chicken slices &amp; fresh mix vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1626">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1628">Next</a></li>
</ul>