<% provide :title, 'Opinion Target 7366' %><h2>red bean/green tea combination<br />occurrence: 1</h2><div><ol><li>If you love the red bean/green tea combination then this is the one to get.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7367">Next</a></li>
</ul>