<% provide :title, 'Opinion Target 7247' %><h2>sauce area<br />occurrence: 1</h2><div><ol><li>Always have people clean the sauce area which is really nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7248">Next</a></li>
</ul>