<% provide :title, 'Opinion Target 8119' %><h2>salad entrees<br />occurrence: 1</h2><div><ol><li>If you want healthy options, I would say to go with their salad entrees as those do appear to be much healthier than their other options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8120">Next</a></li>
</ul>