<% provide :title, 'Opinion Target 6427' %><h2>iced coffee and rice dishes<br />occurrence: 1</h2><div><ol><li>They have the best iced coffee and rice dishes in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6428">Next</a></li>
</ul>