<% provide :title, 'Opinion Target 3721' %><h2>Viet dishes<br />occurrence: 1</h2><div><ol><li>The Viet dishes are mediocre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3722">Next</a></li>
</ul>