<% provide :title, 'Opinion Target 7427' %><h2>look<br />occurrence: 1</h2><div><ol><li>Nice atmosphere, a very Asian-style cafe with chic modern look.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7428">Next</a></li>
</ul>