<% provide :title, 'Opinion Target 1143' %><h2>miso<br />occurrence: 4</h2><div><ol><li>Cost is $ 28 and comes with a Dragon Roll, assorted Sashimi, fried rice, miso, salad, chicken teryiaki, and shrimp/veg tempura, and ice cream.</li><li>The miso soon du bu on the other hand, looked just pale.</li><li>The miso is the tastiest I have ever had, and the rolls and sashimi is of very high quality.</li><li>The miso is a little too salty though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1142">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1144">Next</a></li>
</ul>