<% provide :title, 'Opinion Target 3928' %><h2>pork sinigang<br />occurrence: 1</h2><div><ol><li>Their pork sinigang looked amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3929">Next</a></li>
</ul>