<% provide :title, 'Opinion Target 2757' %><h2>tea cup plate<br />occurrence: 1</h2><div><ol><li>The grandmother shouts and gestures for a plate in Cantonese, and holds up her tea cup plate, until she gives up and says `` plate'' in broken English. `` pah-layt-ah .. pah-lay-t-ah''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2758">Next</a></li>
</ul>