<% provide :title, 'Opinion Target 8061' %><h2>eggless fried rice<br />occurrence: 1</h2><div><ol><li>I was told to order plain white rice instead of having an eggless fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8060">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8062">Next</a></li>
</ul>