<% provide :title, 'Opinion Target 6179' %><h2>mango maki<br />occurrence: 1</h2><div><ol><li>Spicy salmon Sushi was not as nice and the any roles with crispy tempura had a strong oil taste, which overwhelmed the salmon taste Then steak, dragon role, mango maki was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6180">Next</a></li>
</ul>