<% provide :title, 'Opinion Target 6022' %><h2>fried udon noodles<br />occurrence: 1</h2><div><ol><li>We had udon soup and fried udon noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6023">Next</a></li>
</ul>