<% provide :title, 'Opinion Target 1566' %><h2>clam<br />occurrence: 2</h2><div><ol><li>Me and a friend ordered clam/ shrimp chowder to start.</li><li>Regardless, it was n't the imitation crab meat), giant clam, scallop, and yellow tail.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1565">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1567">Next</a></li>
</ul>