<% provide :title, 'Opinion Target 5615' %><h2>pork chop BBQ<br />occurrence: 1</h2><div><ol><li>I 've tried pork chop BBQ, which comes with a soon tofu soup and two rices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5616">Next</a></li>
</ul>