<% provide :title, 'Opinion Target 6018' %><h2>cream coloured<br />occurrence: 1</h2><div><ol><li>Two cylindrical chandeliers, an open ceiling that makes no sense hanging chandeliers from, lightly decorated walls of printings of bamboo, cream coloured everything.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6019">Next</a></li>
</ul>