<% provide :title, 'Opinion Target 4998' %><h2>Rib Steak<br />occurrence: 1</h2><div><ol><li>My table had the Rib Steak, NY Striploin, and Filet Mignon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4997">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4999">Next</a></li>
</ul>