<% provide :title, 'Opinion Target 2958' %><h2>satay pad thai<br />occurrence: 1</h2><div><ol><li>I ordered satay pad thai and it was drowned in sweet and sour sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2957">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2959">Next</a></li>
</ul>