<% provide :title, 'Opinion Target 1945' %><h2>Fish Cake Soup<br />occurrence: 2</h2><div><ol><li>My fiancée and I also ordered the Fish Cake Soup, which was perfect on that cold evening.</li><li>The fish cake soup is average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1944">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1946">Next</a></li>
</ul>