<% provide :title, 'Opinion Target 2502' %><h2>tempura candy bar<br />occurrence: 1</h2><div><ol><li>The tempura candy bar ( we got Oh Henry but there 's Mars, Snickers and others) was actually quite delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2503">Next</a></li>
</ul>