<% provide :title, 'Opinion Target 3870' %><h2>quality of food<br />occurrence: 1</h2><div><ol><li>For the price and quality of food, this place is amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3869">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3871">Next</a></li>
</ul>