<% provide :title, 'Opinion Target 6074' %><h2>private booths<br />occurrence: 1</h2><div><ol><li>Their private booths are great for romantic meals and/or quiet conversations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6075">Next</a></li>
</ul>