<% provide :title, 'Opinion Target 7545' %><h2>sandwich with meat<br />occurrence: 1</h2><div><ol><li>- Loading up your sandwich with meat -- you think they 'll never stop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7546">Next</a></li>
</ul>