<% provide :title, 'Opinion Target 8309' %><h2>steamed soup buns with pork )<br />occurrence: 1</h2><div><ol><li>We ordered xiaolongbao ( mini steamed soup buns with pork), potstickers, spring onion pan cakes, kai lan with ginger, Shanghai-style noodles, and a ginger and chicken fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8310">Next</a></li>
</ul>