<% provide :title, 'Opinion Target 2740' %><h2>salami panini<br />occurrence: 1</h2><div><ol><li>So moist with chunks of real banana inside The grilled veggies panini and the salami panini are both outta the world good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2739">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2741">Next</a></li>
</ul>