<% provide :title, 'Opinion Target 3930' %><h2>Beef dinner plate<br />occurrence: 1</h2><div><ol><li>Pizza is still good, but thumbs down on the food that I tried Chicken and Ground Beef dinner plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3931">Next</a></li>
</ul>