<% provide :title, 'Opinion Target 4508' %><h2>Fish portion<br />occurrence: 1</h2><div><ol><li>Fish portion was a decent size vs. price point.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4509">Next</a></li>
</ul>