<% provide :title, 'Opinion Target 2931' %><h2>stinky fish<br />occurrence: 1</h2><div><ol><li>You can taste the stinky fish smell in the sushi ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2932">Next</a></li>
</ul>