<% provide :title, 'Opinion Target 6631' %><h2>salmon avocado california rolls<br />occurrence: 1</h2><div><ol><li>My favourites are the salmon avocado california rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6632">Next</a></li>
</ul>