<% provide :title, 'Opinion Target 1145' %><h2>plates<br />occurrence: 3</h2><div><ol><li>If you 're coming here solo or just with a friend, their wraps and plates are also good if you 're not looking for anything too big.</li><li>I do n't mean dumping literarily, but there was no service hospitality, the plates were casually placed on top of other plates!</li><li>All the plates were all served hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1144">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1146">Next</a></li>
</ul>