<% provide :title, 'Opinion Target 5275' %><h2>dakgalbi dishes<br />occurrence: 1</h2><div><ol><li>The dakgalbi dishes now require you to place a minimum of 2 orders per dish, which can be quite pricey, considering the popular add ons- rice cakes, noodles and cheese, are an additional ~ $ 2 each.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5274">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5276">Next</a></li>
</ul>