<% provide :title, 'Opinion Target 3958' %><h2>rice wine and wasabi vinaigrette served<br />occurrence: 1</h2><div><ol><li>Offerings include a bit of a twist on tuna with a Japanese styled tuna dressed with rice wine and wasabi vinaigrette served on a multi-grained panini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3957">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3959">Next</a></li>
</ul>