<% provide :title, 'Opinion Target 2036' %><h2>shrimp fried rice<br />occurrence: 2</h2><div><ol><li>We got vegetarian fresh rolls, mango salad, shrimp fried rice, and pho.</li><li>To round out my experience I also had beef with vegetables which came with baby bok choy and broccoli; Singapore style vermicelli noodles with pork and shrimp and pork and shrimp fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2037">Next</a></li>
</ul>