<% provide :title, 'Opinion Target 6557' %><h2>Nutella Hot Chocolate<br />occurrence: 1</h2><div><ol><li>You should definitely try the Nutella Hot Chocolate!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6556">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6558">Next</a></li>
</ul>