<% provide :title, 'Opinion Target 2242' %><h2>balls<br />occurrence: 2</h2><div><ol><li>Those little fried up veggie balls were PROPER FAM! liked it!</li><li>Something you have to experience is the little green balls, I cant remember what their called but they explode in your mouth with juice when you bite down, I had no idea and was in for a shock and a treat, The price is a bit steep but there 's so many options that it 's a great dinner idea!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2241">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2243">Next</a></li>
</ul>