<% provide :title, 'Opinion Target 5226' %><h2>one potato<br />occurrence: 1</h2><div><ol><li>The one potato was under cooked, hard as F and the rice was dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5227">Next</a></li>
</ul>