<% provide :title, 'Opinion Target 4227' %><h2>deep fried calamari<br />occurrence: 1</h2><div><ol><li>My appetizer was the deep fried calamari, which turned out to be the least greasy calamari I have ever had in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4228">Next</a></li>
</ul>