<% provide :title, 'Opinion Target 9111' %><h2>Public<br />occurrence: 1</h2><div><ol><li>They told me because the Public Health Department received a complaint from just one customer, saying she did n't feel well after eating at Pearl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9112">Next</a></li>
</ul>