<% provide :title, 'Opinion Target 1305' %><h2>beef tenderloin<br />occurrence: 3</h2><div><ol><li>I visited this place yesterday and ended up getting the worst so called beef tenderloin.</li><li>Got 6 flat iron beef which the restaurant owners call it chunks of beef tenderloin.</li><li>We ordered a Chateaubriand Bouquetiere ( for 2) which is basically a giant beef tenderloin served with lots of grilled veggies, potatoes and Bearnaise sauce on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1306">Next</a></li>
</ul>