<% provide :title, 'Opinion Target 1421' %><h2>chicken teriyaki lunch<br />occurrence: 2</h2><div><ol><li>We ended up ordering a shrimp and veggie tempura basket, avocado crunch roll ( or crunch roll), tofu teriyaki lunch, and a chicken teriyaki lunch.</li><li>I ordered the chicken teriyaki lunch special for 9.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1420">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1422">Next</a></li>
</ul>