<% provide :title, 'Opinion Target 2211' %><h2>lobster meat<br />occurrence: 2</h2><div><ol><li>The Lobster bisque was a floured concoction with no lobster meat to be found.</li><li>It actually had chunks of lobster meat!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2212">Next</a></li>
</ul>