<% provide :title, 'Opinion Target 1251' %><h2>pork blood<br />occurrence: 3</h2><div><ol><li>I may not have gotten their traditional samgyetang soup but paying $ 11 for a spicy soup with literally just beansprouts and 4 pieces of pork blood was absolutely absurd.</li><li>The bowl was stacked with meaty goodness ( beef brisket, Hu style pork sausage slices, pork blood).</li><li>It was pretty well sized with lots of toppings, pork blood, pork meat, beef meat, and vietnamese processed ham.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1250">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1252">Next</a></li>
</ul>