<% provide :title, 'Opinion Target 6637' %><h2>pork potato stew<br />occurrence: 1</h2><div><ol><li>Anyhow, its still a place of good food and great value. mmm pork potato stew is always a must, stone pot bim bi bap is also awesome. i like they give you many plates of apps unlike some of the other restaurants ... just dont ever count on a water refill or extra piece or napkin, you will never get it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6638">Next</a></li>
</ul>