<% provide :title, 'Opinion Target 2527' %><h2>sushi platter combo<br />occurrence: 1</h2><div><ol><li>For the main we shared a sashimi and sushi platter combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2528">Next</a></li>
</ul>