<% provide :title, 'Opinion Target 8661' %><h2>egg plant<br />occurrence: 1</h2><div><ol><li>I ordered the egg plant one that he said was most popular and the favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8662">Next</a></li>
</ul>