<% provide :title, 'Opinion Target 8833' %><h2>noodles with beef broth<br />occurrence: 1</h2><div><ol><li>Food- i ordered the make-your-own noodles with beef broth, beef short ribs and bokchoy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8834">Next</a></li>
</ul>