<% provide :title, 'Opinion Target 3469' %><h2>barg kabob<br />occurrence: 1</h2><div><ol><li>Ordered barg kabob and it tasted great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3470">Next</a></li>
</ul>