<% provide :title, 'Opinion Target 5325' %><h2>nigiri/sashimi<br />occurrence: 1</h2><div><ol><li>The nigiri/sashimi is n't anything special either but the rolls, my dear lord the rolls are glorious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5326">Next</a></li>
</ul>