<% provide :title, 'Opinion Target 3191' %><h2>Price range<br />occurrence: 1</h2><div><ol><li>Price range: full meals are about $ 12 Ingredients are fresh, meat well seasoned, was offered tea and service is kind.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3192">Next</a></li>
</ul>