<% provide :title, 'Opinion Target 6576' %><h2>egg pudding<br />occurrence: 1</h2><div><ol><li>The best part of the drink/slushie was the egg pudding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6577">Next</a></li>
</ul>