<% provide :title, 'Opinion Target 2766' %><h2>ginger milk curd<br />occurrence: 1</h2><div><ol><li>Dessert was not the usual azuki dessert soup, but ginger milk curd, which was a nice change.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2767">Next</a></li>
</ul>