<% provide :title, 'Opinion Target 5739' %><h2>deep fried milk pudding<br />occurrence: 1</h2><div><ol><li>For dessert I had the deep fried milk pudding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5740">Next</a></li>
</ul>