<% provide :title, 'Opinion Target 4798' %><h2>blackened chicken<br />occurrence: 1</h2><div><ol><li>The blackened chicken is fall of the bone tender and moist like you would n't believe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4799">Next</a></li>
</ul>