<% provide :title, 'Opinion Target 7492' %><h2>potato chip presentation<br />occurrence: 1</h2><div><ol><li>The fries are in a potato chip presentation, but still are well done fries; not too salty, not too soft or crunchy, just done right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7493">Next</a></li>
</ul>