<% provide :title, 'Opinion Target 1070' %><h2>pork bone soup hot pot<br />occurrence: 3</h2><div><ol><li>First time, they were out of their famous crabs, so we tried the pork bone soup hot pot.</li><li>It was enough for two but I 've tried better pork bone soup hot pot.</li><li>At Nak Won you can order a single bowl ( $ 7) or if you are with a friend you can get a pork bone soup hot pot that will be served on heater to keep it bubbling, this option is slightly more expensive at $ 20.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1071">Next</a></li>
</ul>