<% provide :title, 'Opinion Target 3216' %><h2>Thai steamed mussels<br />occurrence: 1</h2><div><ol><li>The 7 of us decided to share appetizers so we split the Thai steamed mussels and calamari ( 2), which had a nice spicy zing to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3215">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3217">Next</a></li>
</ul>