<% provide :title, 'Opinion Target 2844' %><h2>Sizzling Shrimp and Spicy Spare Garlic Ribs<br />occurrence: 1</h2><div><ol><li>Their rice noodle w/ black bean beef is also well delicious ( I 'm a texture slut, so rice noodles are always a must for me @ SG despite them not being very hakka-esque) I could go on and on with dishes like the Peanut Chicken, Sizzling Shrimp and Spicy Spare Garlic Ribs, but yo just need to go and experience it for yourself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2843">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2845">Next</a></li>
</ul>