<% provide :title, 'Opinion Target 1699' %><h2>Penne Capri<br />occurrence: 2</h2><div><ol><li>The Penne Capri was one of the best pasta dishes I 've had in a very long time!</li><li>I got the Penne Capri- a really light, summery pasta dish exploding with flavour- and it was absolutely divine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1700">Next</a></li>
</ul>