<% provide :title, 'Opinion Target 6114' %><h2>corn biscuit<br />occurrence: 1</h2><div><ol><li>The only downside was that the corn biscuit was falling apart constantly, so it would have been easier to eat with a regular English muffin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6115">Next</a></li>
</ul>