<% provide :title, 'Opinion Target 5863' %><h2>Thai statues<br />occurrence: 1</h2><div><ol><li>The decor was lovely, beautiful Thai statues and we got the semi private group table by the bar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5862">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5864">Next</a></li>
</ul>