<% provide :title, 'Opinion Target 6602' %><h2>Chicken Place sandwich<br />occurrence: 1</h2><div><ol><li>The Chicken Place sandwich is a conundrum for me, kind of like a chicken cuban sandwich, it 's tasty, but I would love nice chunky pulled chicken instead of the over-chopped chicken-salad textured meat on this one, but the garlic mayo, pickles and crunchy panini-grilled sub bun make it a decent sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6603">Next</a></li>
</ul>