<% provide :title, 'Opinion Target 3376' %><h2>meat grilled chicken with rice<br />occurrence: 1</h2><div><ol><li>Dark meat grilled chicken with rice and potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3377">Next</a></li>
</ul>