<% provide :title, 'Opinion Target 2213' %><h2>Kimchi and Pork dumplings<br />occurrence: 1</h2><div><ol><li>The Kimchi and Pork dumplings I found it way too garlicky and even have a huge chunks of raw garlic inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2214">Next</a></li>
</ul>