<% provide :title, 'Opinion Target 9660' %><h2>butter chicken and tandoori chicken<br />occurrence: 1</h2><div><ol><li>We ordered the butter chicken and tandoori chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9661">Next</a></li>
</ul>