<% provide :title, 'Opinion Target 9237' %><h2>dining<br />occurrence: 1</h2><div><ol><li>Sort of feels like you 're on the Titanic enjoying fine dining.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9238">Next</a></li>
</ul>