<% provide :title, 'Opinion Target 3296' %><h2>meals chicken<br />occurrence: 1</h2><div><ol><li>We had ordered that night to start, shrimp and crab cakes, for our meals chicken &amp; spinach penne, and halibut steak with tomato bouillabaisse green beans &amp; red potato Been here for lunch and dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3295">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3297">Next</a></li>
</ul>