<% provide :title, 'Opinion Target 2128' %><h2>curried chicken<br />occurrence: 1</h2><div><ol><li>The curried chicken is quite good and definitely a favourite of mine at this place however, this week I was craving their cheeseburger and fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2127">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2129">Next</a></li>
</ul>