<% provide :title, 'Opinion Target 2299' %><h2>Southern<br />occurrence: 1</h2><div><ol><li>One interesting thing is that the decor is that of a Southern smoke house, as that is what this lot used to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2300">Next</a></li>
</ul>