<% provide :title, 'Opinion Target 2328' %><h2>banh bo nuong<br />occurrence: 1</h2><div><ol><li>It is reminiscent of banh bo nuong ( honeycomb cake) from Vietnam.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2327">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2329">Next</a></li>
</ul>