<% provide :title, 'Opinion Target 5231' %><h2>seafood selections<br />occurrence: 1</h2><div><ol><li>Chingu lets you upgrade to their seafood selections.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5232">Next</a></li>
</ul>