<% provide :title, 'Opinion Target 7686' %><h2>Ginza roll<br />occurrence: 1</h2><div><ol><li>Today I decided to be adventurous &amp; ordered the philadelphia roll, kamakachi roll, Ginza roll ( came to about $ 22.10 after 10% discount cuz i paid in cash).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7687">Next</a></li>
</ul>