<% provide :title, 'Opinion Target 6127' %><h2>marinated lamb<br />occurrence: 1</h2><div><ol><li>Some were juicier ( marinated lamb) than the others ( skews).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6128">Next</a></li>
</ul>