<% provide :title, 'Opinion Target 6752' %><h2>Gai<br />occurrence: 1</h2><div><ol><li>Tom Kha Gai was excellent, as was a green curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6753">Next</a></li>
</ul>