<% provide :title, 'Opinion Target 790' %><h2>popcorn chicken<br />occurrence: 4</h2><div><ol><li>The popcorn chicken was surprisingly a lot better than Go For Tea.</li><li>I did try the popcorn chicken- I do n't know why they call it that. was more like chicken fingers deep fried in tempura.</li><li>Like the spicy popcorn chicken covered with dried chilli peppers is mainly little bits and pieces of meat, no actual good pieces of meat.</li><li>My partner and I ordered a flavoured milk tea with tapioca, mango slush with lychee jelly, the garlic brick toast and Taiwanese fried chicken ( like popcorn chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_791">Next</a></li>
</ul>