<% provide :title, 'Opinion Target 952' %><h2>soup dishes<br />occurrence: 4</h2><div><ol><li>A waiter had knocked over one of the soup dishes and then just threw napkins on the table ...</li><li>Really authentic Korean clay soup dishes can be found here!</li><li>For all the soup dishes, they give you purple rice, which is quite a bit as well.</li><li>I also found it very interesting that they give you the eggs separately, instead of adding it in directly to the soup dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_953">Next</a></li>
</ul>