<% provide :title, 'Opinion Target 8896' %><h2>agar jello<br />occurrence: 1</h2><div><ol><li>The dessert, which I choose the Anmitsu, was disappointing, as it was basically a blob of red bean paste right on top of the little cubes of agar jello.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8897">Next</a></li>
</ul>