<% provide :title, 'Opinion Target 8044' %><h2>fried rice first<br />occurrence: 1</h2><div><ol><li>Table opposite received the fried rice first, which makes a helluva lot more sense.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8043">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8045">Next</a></li>
</ul>