<% provide :title, 'Opinion Target 6076' %><h2>Bistro<br />occurrence: 1</h2><div><ol><li>The Bistro is a great small pub brimming with energy, and a good regular group of customers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6075">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6077">Next</a></li>
</ul>