<% provide :title, 'Opinion Target 3704' %><h2>veggies with garlic<br />occurrence: 1</h2><div><ol><li>Also tried their seasonal veggies with garlic on other visits and it was quite tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3705">Next</a></li>
</ul>