<% provide :title, 'Opinion Target 5109' %><h2>shrimp and noodles<br />occurrence: 1</h2><div><ol><li>I 'm drooling just thinking of the tender shrimp and noodles, with bits of scrambled egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5110">Next</a></li>
</ul>