<% provide :title, 'Opinion Target 5800' %><h2>raspberry tart<br />occurrence: 1</h2><div><ol><li>The raspberry tart was full of awesome and raspberries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5801">Next</a></li>
</ul>