<% provide :title, 'Opinion Target 1107' %><h2>Tamales<br />occurrence: 3</h2><div><ol><li>Tamales are always hard to come by, but it is worth asking for the humita or tamale de pollo.</li><li>All the food ( especially empanadas, humitas, tamales) is delicious but I 've found that the fish fillet has reduced in size from what it was before.</li><li>The tamales are moist and substantial- you can even get them cold to take home and steam yourself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1108">Next</a></li>
</ul>