<% provide :title, 'Opinion Target 3970' %><h2>steak cost<br />occurrence: 1</h2><div><ol><li>The only reason I ca n't give five stars based on this visit is that they are a bit over priced, each steak cost 42 and came with a simple side, a bit pricier compared to what you could get at the keg with bread and a bit more on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3969">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3971">Next</a></li>
</ul>