<% provide :title, 'Opinion Target 1244' %><h2>mustard<br />occurrence: 3</h2><div><ol><li>Chicken was a cutlet and hot and delicious. the mustard was different and definitely of European style.</li><li>I ordered the cold spicy noodles that came with a huge yellow mustard squirter containing the spiciest mustard I 've ever tried.</li><li>Warm Corned Beef on a fresh Rye bread topped off with a generous dollop street mustard is fabulous!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1245">Next</a></li>
</ul>