<% provide :title, 'Opinion Target 7497' %><h2>salmon eggs benedict<br />occurrence: 1</h2><div><ol><li>My friends really enjoyed the salmon eggs benedict $ 12.50 and the salmon plate $ 12.50.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7498">Next</a></li>
</ul>