<% provide :title, 'Opinion Target 3495' %><h2>Ginger Chicken Candy<br />occurrence: 1</h2><div><ol><li>After a while I felt like I was eating Ginger Chicken Candy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3496">Next</a></li>
</ul>