<% provide :title, 'Opinion Target 2771' %><h2>poor server<br />occurrence: 1</h2><div><ol><li>The poor server was the only person that was there at night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2772">Next</a></li>
</ul>