<% provide :title, 'Opinion Target 8597' %><h2>beef dolsot bibimbap<br />occurrence: 1</h2><div><ol><li>I always get the beef dolsot bibimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8596">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8598">Next</a></li>
</ul>