<% provide :title, 'Opinion Target 4460' %><h2>frites<br />occurrence: 1</h2><div><ol><li>The menu accommodates the mid-town location, surrounded by a lot of competition by including an appetizer of frites and a burger on the menu, but make no mistake someone here really knows what they are doing in the kitchen!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4461">Next</a></li>
</ul>