<% provide :title, 'Opinion Target 7759' %><h2>diced chicken pieces<br />occurrence: 1</h2><div><ol><li>My wife wanted to try a new dish and asked for Kung Pao Chicken which was supposed to be diced chicken pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7758">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7760">Next</a></li>
</ul>