<% provide :title, 'Opinion Target 2572' %><h2>avocado tempura<br />occurrence: 1</h2><div><ol><li>Overall, just a crappy experience. been here only few times and always for lunch. lunch options are very good and at least vegetarian options are pretty cheap ( tofu bento box + soup + salad = $ 7). the food is yummy! and they have some interesting appetizers like avocado tempura! which is just delicious! the staff is friendly and helpful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2571">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2573">Next</a></li>
</ul>