<% provide :title, 'Opinion Target 9637' %><h2>orders butter chicken<br />occurrence: 1</h2><div><ol><li>I think everyone orders butter chicken when they have Indian now a days.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9638">Next</a></li>
</ul>