<% provide :title, 'Opinion Target 9133' %><h2>dynamite roll with spicy tuna<br />occurrence: 1</h2><div><ol><li>It 's the dynamite roll with spicy tuna covered with tuna and salmon sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9132">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9134">Next</a></li>
</ul>