<% provide :title, 'Opinion Target 3134' %><h2>Napoleon pizza<br />occurrence: 1</h2><div><ol><li>This is one of the best Napoleon pizza you can find in neighborhood, you can realize there is no frozen ingredients in your first bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3135">Next</a></li>
</ul>