<% provide :title, 'Opinion Target 922' %><h2>tripe<br />occurrence: 4</h2><div><ol><li>The beef was a little overtenderized and the tripe was cut too thin in my opinion.</li><li>The beef was overly tenderized &amp; the tripe was cut way too thin &amp; the soup base was a downer.</li><li>The pho was so little, beef was quite tough and chewy, the tripe was good.</li><li>I 've had their trio appetizer with enoki mushrooms, tripe and bean curd and it 's very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_923">Next</a></li>
</ul>