<% provide :title, 'Opinion Target 2585' %><h2>BBQ ) Rice<br />occurrence: 1</h2><div><ol><li>Chicken was very good ( BBQ) Rice was dry and the hot sauce is not home made ... its like Tabasco sauce, i have tasted better at other Portuguese chicken take outs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2584">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2586">Next</a></li>
</ul>