<% provide :title, 'Opinion Target 3485' %><h2>smoked meat with spicy mustard<br />occurrence: 1</h2><div><ol><li>OMG OMG OMG Today I went to this 41 yr old tradition for the first time and have to say Y* U* M* M* M* I have the smoked meat with spicy mustard and it melted away in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3484">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3486">Next</a></li>
</ul>