<% provide :title, 'Opinion Target 4647' %><h2>lemon curd<br />occurrence: 1</h2><div><ol><li>It was soft and spongy, and the lemon curd was thick and rich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4648">Next</a></li>
</ul>