<% provide :title, 'Opinion Target 5795' %><h2>vegetarian entrees<br />occurrence: 1</h2><div><ol><li>Their vegetarian entrees are worth coming g here for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5794">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5796">Next</a></li>
</ul>