<% provide :title, 'Opinion Target 4446' %><h2>seafood casserole ( haemul jeongol<br />occurrence: 1</h2><div><ol><li>I just went there again on Saturday at 1pm for lunch and we decided to order a second dish since there were 4 of us there this time and settled on a seafood casserole ( haemul jeongol for $ 20).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4447">Next</a></li>
</ul>