<% provide :title, 'Opinion Target 6176' %><h2>sushi chef table<br />occurrence: 1</h2><div><ol><li>He was just standing in front of the sushi chef table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6177">Next</a></li>
</ul>