<% provide :title, 'Opinion Target 6857' %><h2>proteins<br />occurrence: 1</h2><div><ol><li>The proteins and vegetables are not bad though I wished they would give you more portion wise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6856">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6858">Next</a></li>
</ul>