<% provide :title, 'Opinion Target 6883' %><h2>Crab sushi<br />occurrence: 1</h2><div><ol><li>Included Toro, Uni, Real Crab sushi ( my friend and I were wondering whether it was snow crab or king crab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6882">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6884">Next</a></li>
</ul>