<% provide :title, 'Opinion Target 4288' %><h2>noodles with shrimp paste<br />occurrence: 1</h2><div><ol><li>I order some sort of noodles with shrimp paste #6 on menu and my wife ordered their signature noodle #1 on menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4287">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4289">Next</a></li>
</ul>