<% provide :title, 'Opinion Target 1792' %><h2>wine glasses<br />occurrence: 2</h2><div><ol><li>Our wine glasses however, eventually did see empty.</li><li>The wine glasses are the small ones that you get from the dollar store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1793">Next</a></li>
</ul>