<% provide :title, 'Opinion Target 3132' %><h2>burger purist<br />occurrence: 1</h2><div><ol><li>I 'm a bit of a burger purist and that would be against my religion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3133">Next</a></li>
</ul>