<% provide :title, 'Opinion Target 7081' %><h2>dolsot bimbimbap<br />occurrence: 1</h2><div><ol><li>Fresh sashimi, delicious maki rolls and one of the best dolsot bimbimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7082">Next</a></li>
</ul>