<% provide :title, 'Opinion Target 8997' %><h2>dine-in special ' '<br />occurrence: 1</h2><div><ol><li>They 've got specials every day which makes Monday burger night, however they remain a '' dine-in special '' ONLY so do n't think for once ordering 5 burgers for $ 20 will earn you bragging rights at the dinner table without breaking a sweat in the kitchen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8998">Next</a></li>
</ul>