<% provide :title, 'Opinion Target 3032' %><h2>tempura candy bar<br />occurrence: 1</h2><div><ol><li>The tempura candy bar ( we got Oh Henry but there 's Mars, Snickers and others) was actually quite delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3033">Next</a></li>
</ul>