<% provide :title, 'Opinion Target 7131' %><h2>piadini<br />occurrence: 1</h2><div><ol><li>The piadini was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7130">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7132">Next</a></li>
</ul>