<% provide :title, 'Opinion Target 6456' %><h2>Northern food<br />occurrence: 1</h2><div><ol><li>But it more closely reflects what southerners ' view of Northern food is.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6457">Next</a></li>
</ul>