<% provide :title, 'Opinion Target 6568' %><h2>waffle and green tea ice cream<br />occurrence: 1</h2><div><ol><li>The waffle and green tea ice cream is average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6569">Next</a></li>
</ul>