<% provide :title, 'Opinion Target 992' %><h2>tofu stew<br />occurrence: 4</h2><div><ol><li>I ordered the raw crabs in the special sauce, and the tofu stew.</li><li>I have tried their dumplings, dolsot bibimbap, soon tofu stew as well.</li><li>I 've tried their gamjatang ( pork bone soup) and soondubu ( tofu stew).</li><li>The tofu stew is better!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_993">Next</a></li>
</ul>