<% provide :title, 'Opinion Target 974' %><h2>pakoras<br />occurrence: 4</h2><div><ol><li>The rice is good, with their different curries ( they have both veggie and meaty curries), and their pakoras are pretty good as well.</li><li>The pakoras are nice, but I have definitely had better, they do not have samosa 's in their buffet ( at least the ones that I have been to) which is a little disappointing, fortunately they have enough other things to make up for it.</li><li>We ordered a full tandoori chicken, vegetable pakoras, eggplant bharta, raita, and naan.</li><li>The pakoras were great too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_973">Previous</a></li>
  <li class="next"><a href=".\opinion_target_975">Next</a></li>
</ul>