<% provide :title, 'Opinion Target 8496' %><h2>hot veal<br />occurrence: 1</h2><div><ol><li>Whether it 's a hot veal, steak, or chicken cutlet sandwich this place has the right stuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8497">Next</a></li>
</ul>