<% provide :title, 'Opinion Target 1543' %><h2>mushroom salad<br />occurrence: 2</h2><div><ol><li>The warm mushroom salad was really good as was the cappuccino.</li><li>From the mushroom salad to the lasagna to the pasta pescatore all were superb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1544">Next</a></li>
</ul>