<% provide :title, 'Opinion Target 2839' %><h2>curry veg spring rolls<br />occurrence: 1</h2><div><ol><li>The curry veg spring rolls were really good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2840">Next</a></li>
</ul>