<% provide :title, 'Opinion Target 2083' %><h2>Alaska roll<br />occurrence: 2</h2><div><ol><li>The Caterpillar roll had tasty BBQ eel and a flavourful combination with cucumber, avocado, and tobiko and the Alaska roll was straightforward with tuna, salmon, yellowtail, and avocado.</li><li>The Alaska roll was a challenge to find on a menu with so many tempura- or surimi-containing rolls, but I 'm glad it was there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2082">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2084">Next</a></li>
</ul>