<% provide :title, 'Opinion Target 5235' %><h2>kimchi soup<br />occurrence: 1</h2><div><ol><li>We ordered kimchi jjigae ( kimchi soup), toboki and Kamja tang ( pork bone soup) Toboki is sweeter here not that spicy but still pretty good The portion here are smaller, and they only provide four side dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5236">Next</a></li>
</ul>