<% provide :title, 'Opinion Target 2313' %><h2>fried chicken dish<br />occurrence: 2</h2><div><ol><li>Like all Korean establishments, there 's always the free appetizers beforehand, and did I mention their fried chicken dish is amazing !?</li><li>The Fry specializes in Korean-style fried chicken, which is basically a fried chicken dish prepared in a Korean style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2314">Next</a></li>
</ul>