<% provide :title, 'Opinion Target 2234' %><h2>porcelain pot soups<br />occurrence: 1</h2><div><ol><li>Now they have more of the porcelain pot soups too, that look great. in addition to specialty fresh juices and shakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2235">Next</a></li>
</ul>