<% provide :title, 'Opinion Target 1755' %><h2>matcha bubble tea<br />occurrence: 2</h2><div><ol><li>The quality of the ingredients they use is not excellent, at least it was n't for the matcha bubble tea I ordered.</li><li>I tried the matcha bubble tea and also their taro bubble tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1754">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1756">Next</a></li>
</ul>