<% provide :title, 'Opinion Target 3173' %><h2>lamb shanks<br />occurrence: 1</h2><div><ol><li>They have pizzas and pastas, lamb shanks and pita sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3174">Next</a></li>
</ul>