<% provide :title, 'Opinion Target 6285' %><h2>standard burrito build<br />occurrence: 1</h2><div><ol><li>The standard burrito build is rice, your choice of re-fried or black beans, grilled veggies ( mixed peppers and onions mostly), mild or medium sauce, both tomato and corn salsas, cheese, lettuce and sour cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6286">Next</a></li>
</ul>