<% provide :title, 'Opinion Target 7262' %><h2>Korean fried chicken ca<br />occurrence: 1</h2><div><ol><li>Korean fried chicken ca n't go wrong. their batter is not too thick and it 's very crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7261">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7263">Next</a></li>
</ul>