<% provide :title, 'Opinion Target 658' %><h2>dubu<br />occurrence: 5</h2><div><ol><li>Soon dubu is passable at best.</li><li>SOOOO many more other places that have bombdiggity soon dubu.</li><li>Do n't know what the fuss is about, the soon dubu jjigae is not all that great here.</li><li>They do n't offer the combo menu where you get grilled meat AND soon dubu.</li><li>The soon dubu here is not spicy and tastes funky.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_659">Next</a></li>
</ul>