<% provide :title, 'Opinion Target 7079' %><h2>egg dish called Eggs Al Forno<br />occurrence: 1</h2><div><ol><li>Had a very unique and tasty sausage and egg dish called Eggs Al Forno.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7080">Next</a></li>
</ul>