<% provide :title, 'Opinion Target 7404' %><h2>frankfurter<br />occurrence: 1</h2><div><ol><li>Some suggestions:- frankfurter savoury crepe ( just trust me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7405">Next</a></li>
</ul>