<% provide :title, 'Opinion Target 2166' %><h2>Southwest Chicken Salad<br />occurrence: 1</h2><div><ol><li>Their Southwest Chicken Salad is really good, and has some of the best ranch dressing I 've had anywhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2165">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2167">Next</a></li>
</ul>