<% provide :title, 'Opinion Target 7664' %><h2>quinoa salad with a spinach wrap<br />occurrence: 1</h2><div><ol><li>I got a quinoa salad with a spinach wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7665">Next</a></li>
</ul>