<% provide :title, 'Opinion Target 5180' %><h2>pan fried noodles dishes<br />occurrence: 1</h2><div><ol><li>The sticky rice with shredded pork is a great appetizer and the snow pea leaves are fresh and green If carbs are your thing the fried noodles and pan fried noodles dishes are big.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5181">Next</a></li>
</ul>