<% provide :title, 'Opinion Target 1982' %><h2>udon<br />occurrence: 2</h2><div><ol><li>The udon was massive and had a nice broth.</li><li>The novelty with the Mongolian Grill is that you are presented with a wide variety of raw meats ( beef, pork, chicken, and lamb) and vegetables, some seafoods ( shrimps, fake crab and squid rings), noodles ( egg, rice, udon, etc.) and a stupefying selection of soupy sauces ( spicy, curry, honey garlic ... more than 10 in total) and condiment sauces ( ginger, garlic, oyster ... more than 20 in total).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1981">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1983">Next</a></li>
</ul>