<% provide :title, 'Opinion Target 2682' %><h2>topping medium pizza<br />occurrence: 1</h2><div><ol><li>Our order- Greek salad to share, chicken souvlaki with home made pita, 4 topping medium pizza, and Greek wine. ( seems like those are the consistent recommendations by the staff) ... For a Greek restaurant, I was surprised to see that every table while I was there ( about 6 others) all ordered pizza, we figured it had to be really good for every table to have it, so we ordered it as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2681">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2683">Next</a></li>
</ul>