<% provide :title, 'Opinion Target 3966' %><h2>walnut cookie<br />occurrence: 1</h2><div><ol><li>They recently introduced their own cookie brand, offering up two kinds of cookies, one cookie with chocolate &amp; pecans and the other an oatmeal, chocolate &amp; walnut cookie, priced at $ 4.99 @ box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3965">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3967">Next</a></li>
</ul>