<% provide :title, 'Opinion Target 5613' %><h2>dinner entrées<br />occurrence: 1</h2><div><ol><li>Prices are in the $ 10-18 range for dinner entrées, with lunch capped at about $ 15.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5614">Next</a></li>
</ul>