<% provide :title, 'Opinion Target 9414' %><h2>lunch food<br />occurrence: 1</h2><div><ol><li>It is definitely a good place to have some lunch food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9413">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9415">Next</a></li>
</ul>