<% provide :title, 'Opinion Target 6206' %><h2>vegetarian combo with chicken shawarma<br />occurrence: 1</h2><div><ol><li>The vegetarian combo with chicken shawarma was such a delight to dig into.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6207">Next</a></li>
</ul>