<% provide :title, 'Opinion Target 4592' %><h2>comings<br />occurrence: 1</h2><div><ol><li>Its still cold out so its closed but I feel it must give a great view of the comings and goings of the plaza ( cool).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4593">Next</a></li>
</ul>