<% provide :title, 'Opinion Target 8505' %><h2>Chicken Burger<br />occurrence: 1</h2><div><ol><li>I always get the chicken sandwich ( not to be confused with the Chicken Burger, which I 'm not a fan of) and another sandwich that comes with sourdough ( if I remember correctly).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8506">Next</a></li>
</ul>