<% provide :title, 'Opinion Target 2226' %><h2>mango syrup<br />occurrence: 2</h2><div><ol><li>The drink is nice and sweet with a mango syrup:) I enjoyed it will try their other flavors of milk ice next time.</li><li>The mango syrup definitely helped cut through the creaminess of the panna cotta. nice ending.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2227">Next</a></li>
</ul>