<% provide :title, 'Opinion Target 4331' %><h2>pinto beans<br />occurrence: 1</h2><div><ol><li>We ordered the Kashk Bademjam ( puree of golden fried eggplant with onion whey and mint), Persian soup ( veggies, noodles, pinto beans, whey, sauteed garlic and mint), and Koobideh ( charbroiled, seasoned ground beef) Kebab with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4330">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4332">Next</a></li>
</ul>