<% provide :title, 'Opinion Target 3524' %><h2>Spicy Crab Stew<br />occurrence: 1</h2><div><ol><li>We ordered the Spicy Crab Stew for 2, which was under $ 30.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3525">Next</a></li>
</ul>