<% provide :title, 'Opinion Target 5407' %><h2>beef tendon & beef tripe<br />occurrence: 1</h2><div><ol><li>I ordered Pho Tai Gan Sach which consists of well-done beef, beef tendon &amp; beef tripe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5408">Next</a></li>
</ul>