<% provide :title, 'Opinion Target 1103' %><h2>Pho Dac<br />occurrence: 3</h2><div><ol><li>When I come here i usually order the Pho Dac Biet which is the special famous beef noodle soup that comes with everything.</li><li>I usually order the `` Pho Dac Biet'' ( #42), hence the special, which is what I ordered today in medium.</li><li>Last time I made the mistake of getting a large ( there is an extra large but I 'm not that dumb ..... anymore) so this time I got the medium Pho Dac Biet which is the `` house special,'' which just means with everything in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1104">Next</a></li>
</ul>