<% provide :title, 'Opinion Target 6174' %><h2>spot with drinks<br />occurrence: 1</h2><div><ol><li>Do n't go for: a late night hang out spot with drinks or daily specials with nice decor, it 's all business here, you eat and then you leave cuz there 's a line up outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6175">Next</a></li>
</ul>