<% provide :title, 'Opinion Target 2221' %><h2>table cooking dumpling<br />occurrence: 1</h2><div><ol><li>This is a kind of table cooking dumpling mix in a pot cooked to boiling temperature at your table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2220">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2222">Next</a></li>
</ul>