<% provide :title, 'Opinion Target 7206' %><h2>traditional buffet table<br />occurrence: 1</h2><div><ol><li>The traditional buffet table is small, but is more of a side-show compared with the grill.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7207">Next</a></li>
</ul>