<% provide :title, 'Opinion Target 4792' %><h2>scallop sashimi ( diced<br />occurrence: 1</h2><div><ol><li>Some of the things that stood out from their menu: scallop sashimi ( diced to small pieces) and steamed egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4793">Next</a></li>
</ul>