<% provide :title, 'Opinion Target 5260' %><h2>rice cakes with noodles<br />occurrence: 1</h2><div><ol><li>Good Korean food- the dak gal bee was good and the rice cakes with noodles made it delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5259">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5261">Next</a></li>
</ul>