<% provide :title, 'Opinion Target 2497' %><h2>wood panelling<br />occurrence: 1</h2><div><ol><li>Think Keg Lounge styles; dark banquettes and flooring, fancy wood panelling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2498">Next</a></li>
</ul>