<% provide :title, 'Opinion Target 8172' %><h2>crust Zorba<br />occurrence: 1</h2><div><ol><li>The pizzas are great ( thin crust Zorba is my personal fav) but anything else on that menu gets a 1 out of 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8173">Next</a></li>
</ul>