<% provide :title, 'Opinion Target 3252' %><h2>Lamb poutine<br />occurrence: 1</h2><div><ol><li>The Lamb poutine lacks gravy ... hello where is the lamb ???</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3253">Next</a></li>
</ul>