<% provide :title, 'Opinion Target 1348' %><h2>sesame<br />occurrence: 2</h2><div><ol><li>I had the 5 flavour sweet dumplings and i thought it was really good, it was consisted of chocolate, taro, sesame, mango and one more that i do n't recall anymore.</li><li>Some of the ice-creams ( sesame, green tea, almond pistachio) are also homemade, giving it a strong prominent flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1349">Next</a></li>
</ul>