<% provide :title, 'Opinion Target 2300' %><h2>black bean noodle<br />occurrence: 2</h2><div><ol><li>Just, the days I walk 10 mins just to get the black bean noodle are gone.</li><li>I order the black bean noodle on the side cuz I 've always wanted to try and I did n't enjoy it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2301">Next</a></li>
</ul>