<% provide :title, 'Opinion Target 2774' %><h2>Shrimp Tempura bento box<br />occurrence: 1</h2><div><ol><li>I ended up getting my Sushi and rolls plus the Shrimp Tempura bento box too ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2775">Next</a></li>
</ul>