<% provide :title, 'Opinion Target 1899' %><h2>soy beef noodles<br />occurrence: 2</h2><div><ol><li>I ordered the soy beef noodles from the chef recommended session.</li><li>The soy beef noodles was just right for me, however I was n't able to finish all of it with the two appetizers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1900">Next</a></li>
</ul>