<% provide :title, 'Opinion Target 8329' %><h2>feels<br />occurrence: 1</h2><div><ol><li>Service can be amateurish and non attentive and the waiters feels too relax gossipping within themselves.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8328">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8330">Next</a></li>
</ul>