<% provide :title, 'Opinion Target 9720' %><h2>Shoyu ramen<br />occurrence: 1</h2><div><ol><li>They make their own noodles and their Shoyu ramen is fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9721">Next</a></li>
</ul>