<% provide :title, 'Opinion Target 8719' %><h2>beef curry with roti<br />occurrence: 1</h2><div><ol><li>Our entrees, pad Thai and beef curry with roti were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8720">Next</a></li>
</ul>