<% provide :title, 'Opinion Target 5225' %><h2>chicken curry soup<br />occurrence: 1</h2><div><ol><li>I almost thought it 's chicken curry soup ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5224">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5226">Next</a></li>
</ul>