<% provide :title, 'Opinion Target 4168' %><h2>green crisp lettuce<br />occurrence: 1</h2><div><ol><li>Good green crisp lettuce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4169">Next</a></li>
</ul>