<% provide :title, 'Opinion Target 1612' %><h2>cannolis<br />occurrence: 2</h2><div><ol><li>I 've never had anything but great cannolis, cookies and pannetone from this place.</li><li>I 'm convinced that sharing the cannolis amongst the group late last night led to a few accidental romances tee hee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1613">Next</a></li>
</ul>