<% provide :title, 'Opinion Target 4981' %><h2>baked pasta<br />occurrence: 1</h2><div><ol><li>Later on my daughter and her boyfriend went and said the same thing food was horrible except for the baked pasta .. that was the only fresh HOT dish that came.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4982">Next</a></li>
</ul>