<% provide :title, 'Opinion Target 1075' %><h2>chicken shawarma plate<br />occurrence: 3</h2><div><ol><li>Their chicken shawarma plate is GINORMOUS ..</li><li>I ordered their famous chicken shawarma plate, very very generous portion, included were chicken, rice, salad and sauces, like others said they dont skim on anything including the shaved chicken!</li><li>The lamb with hummus is delicious and used to be a good choice, but the price went up to almost $ 20, so stick with the chicken shawarma plate for the carnivores, it 's well seasoned and just crispy enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1074">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1076">Next</a></li>
</ul>