<% provide :title, 'Opinion Target 4117' %><h2>sugar syrup ( sugar + water<br />occurrence: 1</h2><div><ol><li>Dessert for me was a $ 12.00 berries with grand marnier which did not come with Grand Marnier but rather a home-made sugar syrup ( sugar + water) as it was clear and colourless, sweet and flavourless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4118">Next</a></li>
</ul>