<% provide :title, 'Opinion Target 4309' %><h2>ghormeh sabziz<br />occurrence: 1</h2><div><ol><li>The ghormeh sabziz is n't the best however.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4310">Next</a></li>
</ul>