<% provide :title, 'Opinion Target 3081' %><h2>white chocolate mocha bingsoo<br />occurrence: 1</h2><div><ol><li>This time, I got the white chocolate mocha bingsoo and my friend got the mango bingsoo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3082">Next</a></li>
</ul>