<% provide :title, 'Opinion Target 2824' %><h2>paneer dishes<br />occurrence: 1</h2><div><ol><li>I would not classify this restaurant as Hakka style as most dishes do n't contain any Indian flavour and there are no manchurian style dishes or paneer dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2825">Next</a></li>
</ul>