<% provide :title, 'Opinion Target 4916' %><h2>shish kebab<br />occurrence: 1</h2><div><ol><li>Overall, I 'd highly recommend their shish kebab platters and vegetarian combo platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4917">Next</a></li>
</ul>