<% provide :title, 'Opinion Target 2994' %><h2>Chicken breast slices<br />occurrence: 1</h2><div><ol><li>Two Chop Suey dishes were still crisp and fresh, one with tender beef and the other with tasty Chicken breast slices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2995">Next</a></li>
</ul>