<% provide :title, 'Opinion Target 6388' %><h2>Kimichi Fried Rice<br />occurrence: 1</h2><div><ol><li>Ordered the Kimichi Fried Rice and it came out relatively quickly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6389">Next</a></li>
</ul>