<% provide :title, 'Opinion Target 6271' %><h2>Greens ' Egg White Omelette ''<br />occurrence: 1</h2><div><ol><li>My friend ordered `` The Greens ' Egg White Omelette'' On the menu below all the Omelettes it states `` All omelettes served with toast and home fries'' however when the waitress took our order she told us that the omelette my friend ordered did n't get toast and home fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6272">Next</a></li>
</ul>