<% provide :title, 'Opinion Target 1150' %><h2>fixings<br />occurrence: 3</h2><div><ol><li>What I loved:- extra cheese included many choices such as goat cheese, cheddar and Monterey Jack- extra bacon included 2-3 slices- guacamole was free- lots of great fixings to order from, veggies were also fresh ...- so much free sauce and spices ...</li><li>It was 10 bucks and you get a great meal with some decent fixings.</li><li>The 8 oz. burger was grilled to perfection, served hot off the grill with all the fixings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1151">Next</a></li>
</ul>