<% provide :title, 'Opinion Target 4931' %><h2>Lechon Kawali & Shrimp<br />occurrence: 1</h2><div><ol><li>We ordered the Pancit Sampaguita, which was their recommendation, Lechon Kawali &amp; Shrimp, as well as Crispy Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4932">Next</a></li>
</ul>