<% provide :title, 'Opinion Target 3708' %><h2>grilled chicken and spring roll vermicelli<br />occurrence: 1</h2><div><ol><li>I went with the grilled chicken and spring roll vermicelli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3707">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3709">Next</a></li>
</ul>