<% provide :title, 'Opinion Target 5418' %><h2>beef and green onion roll<br />occurrence: 1</h2><div><ol><li>I personally really like the beef and green onion roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5419">Next</a></li>
</ul>