<% provide :title, 'Opinion Target 2768' %><h2>stuffed chicken with sticky rice<br />occurrence: 1</h2><div><ol><li>Our favourites are fried oysters and stuffed chicken with sticky rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2769">Next</a></li>
</ul>