<% provide :title, 'Opinion Target 2294' %><h2>pepper grinder<br />occurrence: 2</h2><div><ol><li>We wanted some fresh pepper but were told that another table has the pepper grinder but we could borrow it for 10 seconds.</li><li>Our chef made a little fire mountain with some sliced up onions and he did cool tricks with the salt and pepper grinder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2293">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2295">Next</a></li>
</ul>