<% provide :title, 'Opinion Target 4084' %><h2>corn salad<br />occurrence: 1</h2><div><ol><li>I ordered the zucchini and corn salad- 20 mins later I was told that there is no zucchini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4085">Next</a></li>
</ul>