<% provide :title, 'Opinion Target 2785' %><h2>Price value<br />occurrence: 1</h2><div><ol><li>Price value very good. side dishes 5/5.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2786">Next</a></li>
</ul>