<% provide :title, 'Opinion Target 8107' %><h2>Portuguese custard tarts<br />occurrence: 1</h2><div><ol><li>They also have a wide array of delicious pastries available ( Portuguese custard tarts, zeppole, etc.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8108">Next</a></li>
</ul>