<% provide :title, 'Opinion Target 8910' %><h2>Sashimi ...<br />occurrence: 1</h2><div><ol><li>The place serves good food, excellent Sashimi ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8911">Next</a></li>
</ul>