<% provide :title, 'Opinion Target 5059' %><h2>glass dome<br />occurrence: 1</h2><div><ol><li>The atrium has a high ceiling with a glass dome which sheds light into the atrium until sunset.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5060">Next</a></li>
</ul>