<% provide :title, 'Opinion Target 1421' %><h2>spicy fried chicken<br />occurrence: 3</h2><div><ol><li>The spicy fried chicken was amazing and so was the pork bone soup.</li><li>Verdict: ~ Everything is as good as always, there 's a reason I have been coming back for years. ~ My faves are the Pork Belly BBQ, the Kang Poon Kee ( Spicy Fried Chicken) &amp; Jook Sam Kyup Sal, especially with the added rice at the end. ~ Ca n't wait to come back for patio season.</li><li>Spicy Fried Chicken ( part of Special Half &amp; Half)- 2/5- WAY too spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1420">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1422">Next</a></li>
</ul>