<% provide :title, 'Opinion Target 4487' %><h2>decaf cappuccino<br />occurrence: 1</h2><div><ol><li>The decaf cappuccino was by far the best cappuccino I have ever had, with the most frothy foam ever!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4488">Next</a></li>
</ul>