<% provide :title, 'Opinion Target 5038' %><h2>curry chicken roti<br />occurrence: 1</h2><div><ol><li>This place makes the BEST curry chicken roti I EVER had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5039">Next</a></li>
</ul>