<% provide :title, 'Opinion Target 6024' %><h2>Pho tai gan ( rare beef with tendon )<br />occurrence: 1</h2><div><ol><li>Had Pho tai gan ( rare beef with tendon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6025">Next</a></li>
</ul>