<% provide :title, 'Opinion Target 4073' %><h2>maragaritas<br />occurrence: 1</h2><div><ol><li>The maragaritas were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4074">Next</a></li>
</ul>