<% provide :title, 'Opinion Target 1021' %><h2>ground beef<br />occurrence: 3</h2><div><ol><li>The ground beef was minimal and so hard that I felt it was dried and almost a herb.</li><li>But unfortunately, they 're not the only one that do this and there are several others that cheap out and use ground beef instead.</li><li>The ground beef kept falling in myself as I ate it though bc it was n't as carefully made as I have had when homemade but overall, it was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1020">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1022">Next</a></li>
</ul>