<% provide :title, 'Opinion Target 2311' %><h2>takeout pork souvlaki dinners<br />occurrence: 1</h2><div><ol><li>I 've ordered takeout pork souvlaki dinners several times just due to limited take out options in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2310">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2312">Next</a></li>
</ul>