<% provide :title, 'Opinion Target 7092' %><h2>basil pesto<br />occurrence: 1</h2><div><ol><li>The flavor profile of this dish was great- a hint of bitterness from the arugula, freshness from the basil pesto and sweetness from the sundried tomatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7093">Next</a></li>
</ul>