<% provide :title, 'Opinion Target 1429' %><h2>beef doner<br />occurrence: 2</h2><div><ol><li>Between us we had the beef doner, chicken doner and chicken kebab.</li><li>I got a beef doner which was literally the size of a newborn, i ate it for 3 different meals.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1430">Next</a></li>
</ul>