<% provide :title, 'Opinion Target 3558' %><h2>jumbo scallops<br />occurrence: 1</h2><div><ol><li>The main courses; duck breast, papardello pasta w. beef bourgignon, steak frites and jumbo scallops were all delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3557">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3559">Next</a></li>
</ul>