<% provide :title, 'Opinion Target 814' %><h2>extras<br />occurrence: 4</h2><div><ol><li>The food was fresh, and there were some neat extras.</li><li>I told her this was the normal amount, and she said that they included the extras between the nachos.</li><li>For the weekend dinner, the meal also comes with some `` extras'' which are not all you can eat, last time I got a skewer of shrimp and scallops, and fried shrimp ( torpedo style).</li><li>Some of these extras are cooked within the pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_813">Previous</a></li>
  <li class="next"><a href=".\opinion_target_815">Next</a></li>
</ul>