<% provide :title, 'Opinion Target 4015' %><h2>beef Pattie<br />occurrence: 1</h2><div><ol><li>The beef Pattie was thicker mix inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4016">Next</a></li>
</ul>