<% provide :title, 'Opinion Target 1773' %><h2>strawberry cheesecake<br />occurrence: 2</h2><div><ol><li>If it were any dimmer, I 'm sure I would have mistaken it as a pub. There was a photo of this gorgeous strawberry cheesecake exploding in strawberries.</li><li>I could n't forget their dessert so we shared a strawberry cheesecake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1772">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1774">Next</a></li>
</ul>