<% provide :title, 'Opinion Target 6942' %><h2>Green mango salad & Chicken pad thai<br />occurrence: 1</h2><div><ol><li>I always order their Green mango salad &amp; Chicken pad thai for delivery and I love them both.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6943">Next</a></li>
</ul>