<% provide :title, 'Opinion Target 5374' %><h2>sesame oil vinaigrette dressing<br />occurrence: 1</h2><div><ol><li>According to their menu the tossed cucumber salad is chopped cucumber and ground garlic with a sesame oil vinaigrette dressing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5375">Next</a></li>
</ul>