<% provide :title, 'Opinion Target 3412' %><h2>red pepper paste sauce<br />occurrence: 1</h2><div><ol><li>Down to the red pepper paste sauce which I mentioned before is the good stuff probably shipped straight from Korea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3413">Next</a></li>
</ul>