<% provide :title, 'Opinion Target 6340' %><h2>fries or roast potato<br />occurrence: 1</h2><div><ol><li>We usually get a lobster ( maybe 1.5 lbs) broiled, salad, fries or roast potato, drink, garlic bread and awesome lobster bisque.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6341">Next</a></li>
</ul>