<% provide :title, 'Opinion Target 1158' %><h2>shrimp paste<br />occurrence: 3</h2><div><ol><li>Tip: The shrimp paste is excellent if you can handle that flavour.</li><li>Comes with a side of bagoong ( shrimp paste) ...</li><li>One of the hardest thing in cooking bun bo Hue is the handling of the shrimp paste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1157">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1159">Next</a></li>
</ul>