<% provide :title, 'Opinion Target 6812' %><h2>flavours lace<br />occurrence: 1</h2><div><ol><li>The flavours lace your mouth with a just the right amount of heat ( OK, after I put a little more chili on, then perfect!) and sour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6813">Next</a></li>
</ul>