<% provide :title, 'Opinion Target 2384' %><h2>chicken pita<br />occurrence: 1</h2><div><ol><li>My sister got the chicken pita the chicken has a strange taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2385">Next</a></li>
</ul>