<% provide :title, 'Opinion Target 3935' %><h2>Linguini ai Fungi<br />occurrence: 1</h2><div><ol><li>The Linguini ai Fungi was the better of the two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3934">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3936">Next</a></li>
</ul>