<% provide :title, 'Opinion Target 2437' %><h2>roles<br />occurrence: 1</h2><div><ol><li>The last words uttered by this server were not taken kindly by myself and my colleague and for some reason or another, we perceived the foundation of our treatment laden with racial undertones ( myself being an East Indian Male ( brown skinned), and my colleague- a visibly Jewish Male ( Star of David pendant exposed)- both somehow playing the inadvertent and stereotypical cliche roles of the `` Cheap Brown Guy/Cheap Jewish Guy''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2438">Next</a></li>
</ul>