<% provide :title, 'Opinion Target 3258' %><h2>Miller staff<br />occurrence: 1</h2><div><ol><li>Clearly, The Miller staff had no interest in ensuring the dinner was great!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3259">Next</a></li>
</ul>