<% provide :title, 'Opinion Target 1508' %><h2>fried spring rolls<br />occurrence: 2</h2><div><ol><li>Had the pho beef brisket here this time, and the fried spring rolls.</li><li>The fried spring rolls were pretty standard, but had a somewhat unpleasant fryer oil flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1509">Next</a></li>
</ul>