<% provide :title, 'Opinion Target 4031' %><h2>deep fried artichokes<br />occurrence: 1</h2><div><ol><li>We did order the deep fried artichokes, which were decent, but overall it did n't stick in my mind too much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4032">Next</a></li>
</ul>