<% provide :title, 'Opinion Target 1366' %><h2>caramel sauce<br />occurrence: 3</h2><div><ol><li>Flan is quite good too- eggy custard like with the caramel sauce.</li><li>Words like chocolate, buttery, Joe Manganiello and caramel sauce ellicit a Pavlovian response from me and as for the words Congee Queen ?</li><li>I love plain crepes with chocolate and caramel sauce; I ordered this delectable dish last night and was very surprised to see that a ladle of batter and two squirts of sauce cost $ 7.29 + tax!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1367">Next</a></li>
</ul>