<% provide :title, 'Opinion Target 918' %><h2>Dak Gal Bee<br />occurrence: 4</h2><div><ol><li>The Dak Gal Bee in general tasted decent and fresh!</li><li>The Dak Gal Bee was delicious just like their downtown location.</li><li>The Dak Gal Bee, which has to be ordered in portions of 2, could definitely be consumed by one person.</li><li>The Dak Gal Bee was okay at best and really not that satisfying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_919">Next</a></li>
</ul>