<% provide :title, 'Opinion Target 1872' %><h2>Original<br />occurrence: 2</h2><div><ol><li>Having tried all three, I have to say the `` Original Spicy'' is the way to go!</li><li>I got the Original Spicy Dakgalbee and added noodles, rice cake and mozzarella.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1873">Next</a></li>
</ul>