<% provide :title, 'Opinion Target 2775' %><h2>soup stock<br />occurrence: 1</h2><div><ol><li>The soup stock is light and unsalted- you can salt it yourself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2774">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2776">Next</a></li>
</ul>