<% provide :title, 'Opinion Target 7615' %><h2>shrimp cracker<br />occurrence: 1</h2><div><ol><li>Compared to other ones I have had in the past, the shrimp cracker was bigger and you have the option of ordering the soup with the noodle or on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7616">Next</a></li>
</ul>