<% provide :title, 'Opinion Target 2607' %><h2>tea and appetizers<br />occurrence: 1</h2><div><ol><li>They started off by serving us complimentary tea and appetizers ( including miso soup).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2608">Next</a></li>
</ul>