<% provide :title, 'Opinion Target 7480' %><h2>Naan and rice<br />occurrence: 1</h2><div><ol><li>Yummy butter chicken, good Naan and rice, with other dishes that have flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7481">Next</a></li>
</ul>