<% provide :title, 'Opinion Target 3909' %><h2>ox tail in peanut sauce<br />occurrence: 1</h2><div><ol><li>Without it, it literally tastes like what it is- ox tail in peanut sauce, which is n't bad, but the fish sauce changes the whole dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3908">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3910">Next</a></li>
</ul>