<% provide :title, 'Opinion Target 2570' %><h2>Dim Sum Menu<br />occurrence: 1</h2><div><ol><li>I ordered mostly off the Dim Sum Menu and everything was fresh, flavourful and seemingly home-made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2571">Next</a></li>
</ul>