<% provide :title, 'Opinion Target 2156' %><h2>mango slush<br />occurrence: 2</h2><div><ol><li>I ordered the mango juice, but it was more like mango slush.</li><li>The mango slush was great, same as it always has been since I first tried Ten Ren 's many years ago!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2157">Next</a></li>
</ul>