<% provide :title, 'Opinion Target 1291' %><h2>sesame ice cream<br />occurrence: 3</h2><div><ol><li>I came here yesterday, I got the sesame ice cream with the crepe and it was delicious !!</li><li>I thought my crepe was fantastic, I loved the sesame ice cream on the side and inside the crepe.</li><li>The sesame ice cream was great but as for the actual crepe portion I really did n't like it much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1292">Next</a></li>
</ul>