<% provide :title, 'Opinion Target 4948' %><h2>kare kare sauce<br />occurrence: 1</h2><div><ol><li>The sauce/soup was a little runny for my taste- I 'm used to kare kare sauce being richer and deeper in color.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4949">Next</a></li>
</ul>