<% provide :title, 'Opinion Target 2400' %><h2>pickled daikon<br />occurrence: 2</h2><div><ol><li>There were fermented soybeans with some texture that I loved, sprouts, kimchi and pickled daikon .. all very tasty.</li><li>The side of spicy pickled daikon is a nice touch to cleanse the palate and cut some of the grease. if you are uptown and want ramen, Kenzo is your best ramen place to satisfy that noodle craving. although the establishment is korean run, the chef trained in japan on ramen and you will get an honest japanese style ramen from here. they dont have a really huge menu, but it is quality over quantity.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2401">Next</a></li>
</ul>