<% provide :title, 'Opinion Target 8555' %><h2>potato and pickled daikon<br />occurrence: 1</h2><div><ol><li>I could n't believe it ... 8 small dishes of banchan: Kimchi, glazed soybeans ( my absolute fav.), seaweed, japchae, odeng strips, bean sprouts, glazed sweet potato and pickled daikon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8554">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8556">Next</a></li>
</ul>