<% provide :title, 'Opinion Target 1743' %><h2>Shanghai noodle<br />occurrence: 2</h2><div><ol><li>The Shanghai noodle had some spice and good flavour.</li><li>Shanghai noodle was good, not the same in Shanghai though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1742">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1744">Next</a></li>
</ul>