<% provide :title, 'Opinion Target 7157' %><h2>chocolate milkshake<br />occurrence: 1</h2><div><ol><li>The chocolate milkshake is awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7158">Next</a></li>
</ul>