<% provide :title, 'Opinion Target 4269' %><h2>cauliflower & broccoli )<br />occurrence: 1</h2><div><ol><li>I used to love the fresh veggies ( carrots, cauliflower &amp; broccoli), instead we got a few limp and oily pieces of pepper, and one piece of cauliflower.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4268">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4270">Next</a></li>
</ul>