<% provide :title, 'Opinion Target 2729' %><h2>eggs benni<br />occurrence: 1</h2><div><ol><li>We both ordered the eggs benni and a side of bacon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2730">Next</a></li>
</ul>