<% provide :title, 'Opinion Target 2796' %><h2>Lamb chops with pistachios<br />occurrence: 1</h2><div><ol><li>My husband ordered the Lamb chops with pistachios.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2795">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2797">Next</a></li>
</ul>