<% provide :title, 'Opinion Target 791' %><h2>Viet food<br />occurrence: 4</h2><div><ol><li>I found in Seoul, Viet food is considered high end and pricey.</li><li>They have great authentic Viet food.</li><li>The viet food here is legit !!</li><li>Note: Cash Only I was looking forward to some good Viet food based on the reviews listed here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_792">Next</a></li>
</ul>