<% provide :title, 'Opinion Target 4719' %><h2>BBQ food<br />occurrence: 1</h2><div><ol><li>There 's alot of BBQ places out there but there must a something about a place that only sells BBQ food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4720">Next</a></li>
</ul>