<% provide :title, 'Opinion Target 3057' %><h2>fu qi fei pian<br />occurrence: 1</h2><div><ol><li>Recommend dishes: Fish/Beef in spicy pungent sauce, mo yu duck, fu qi fei pian, spicy chicken, A choy with Garlic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3058">Next</a></li>
</ul>