<% provide :title, 'Opinion Target 5020' %><h2>takeout pizza<br />occurrence: 1</h2><div><ol><li>They 're pizza has a thicker crust than I normally like but they have a wonderful assortment of toppings with a lot of unusual toppings ( for takeout pizza) like avocado and roasted corn.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5019">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5021">Next</a></li>
</ul>