<% provide :title, 'Opinion Target 2654' %><h2>radish ( white )<br />occurrence: 1</h2><div><ol><li>They serve 3 other side dishes: radish ( white), kimchi, and another kind of radish ( seasoned with that Korean red sauce).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2655">Next</a></li>
</ul>