<% provide :title, 'Opinion Target 6634' %><h2>beef dol pot bibimbap<br />occurrence: 1</h2><div><ol><li>I got a beef dol pot bibimbap, it was kinda disappointing cuz they gave very less meat and a lot of veggie to make it look big.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6635">Next</a></li>
</ul>