<% provide :title, 'Opinion Target 7431' %><h2>napolean cake<br />occurrence: 1</h2><div><ol><li>Regardless, it helped plenty with the decision-making, and I ordered a sesame ice cream crepe, while my brother ordered the napolean cake ( called a cream flake cake).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7432">Next</a></li>
</ul>