<% provide :title, 'Opinion Target 5144' %><h2>dine-in Chinese food<br />occurrence: 1</h2><div><ol><li>I come here often to get some dine-in Chinese food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5145">Next</a></li>
</ul>