<% provide :title, 'Opinion Target 4852' %><h2>salmon tataki<br />occurrence: 1</h2><div><ol><li>In particular, I like the beef tataki, the salmon tataki and the scallop sashimi ( available on weekends and holidays).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4853">Next</a></li>
</ul>