<% provide :title, 'Opinion Target 8617' %><h2>grilled chicken skewers<br />occurrence: 1</h2><div><ol><li>I love their Me salad and dressing, the grilled chicken skewers were very good and moist!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8618">Next</a></li>
</ul>