<% provide :title, 'Opinion Target 7590' %><h2>curry items<br />occurrence: 1</h2><div><ol><li>I did enjoy the meal however next time I will try out their curry items; as they looked delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7591">Next</a></li>
</ul>