<% provide :title, 'Opinion Target 7153' %><h2>main dining room menu<br />occurrence: 1</h2><div><ol><li>We sat in the lounge but ordered from the main dining room menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7154">Next</a></li>
</ul>