<% provide :title, 'Opinion Target 7703' %><h2>: Potato Pizza<br />occurrence: 1</h2><div><ol><li>2- 2.5 stars from me Good: Potato Pizza, but you need to add some fresh garlic or onions, otherwise it is much much too bland- just potato and a touch of rosemary, with no other seasoning and barely a hint of olive oil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7704">Next</a></li>
</ul>