<% provide :title, 'Opinion Target 1698' %><h2>Butternut Squash soup<br />occurrence: 2</h2><div><ol><li>My dining companions ordered the Butternut Squash soup ( of the day), and the Arugula and Beet salad as their starters.</li><li>Butternut Squash Soup- nice and hot, yellow squash soup with drizzle of olive oil and pumpkin seeds for added texture Spaghetti Puttanesca- great al dente pasta in tomato, slightly spicy sauce, with olives and capers ( no anchovies!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1699">Next</a></li>
</ul>