<% provide :title, 'Opinion Target 4286' %><h2>beef tendon and beef tripe<br />occurrence: 1</h2><div><ol><li>Boyfriend had the Pho Tai Gan Sach which was made with well-done beef, beef tendon and beef tripe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4287">Next</a></li>
</ul>