<% provide :title, 'Opinion Target 7122' %><h2>f<br />occurrence: 1</h2><div><ol><li>What kind of f****** g business is this !!!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7123">Next</a></li>
</ul>