<% provide :title, 'Opinion Target 5177' %><h2>Hokkaido grass jelly milk tea<br />occurrence: 1</h2><div><ol><li>The Hokkaido grass jelly milk tea was pretty good ... smooth and creamy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5178">Next</a></li>
</ul>