<% provide :title, 'Opinion Target 4108' %><h2>poppy seed bread<br />occurrence: 1</h2><div><ol><li>I enjoyed the poppy seed bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4109">Next</a></li>
</ul>