<% provide :title, 'Opinion Target 6480' %><h2>authentic Chinese food<br />occurrence: 1</h2><div><ol><li>For a place so full of incredible and authentic Chinese food, it was surprisingly hard to find a restaurant that served this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6481">Next</a></li>
</ul>