<% provide :title, 'Opinion Target 6486' %><h2>xiao long baos<br />occurrence: 1</h2><div><ol><li>The xiao long baos are good ( almost as good as the ones at Ding Tai Fung).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6487">Next</a></li>
</ul>