<% provide :title, 'Opinion Target 6641' %><h2>beef short ribs ( kalbi )<br />occurrence: 1</h2><div><ol><li>We had 6 choices: pork belly, beef short ribs ( kalbi), chicken, spicy pork, pork and bulgogi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6642">Next</a></li>
</ul>