<% provide :title, 'Opinion Target 6446' %><h2>dill dipping sauce<br />occurrence: 1</h2><div><ol><li>The wings are average, ( the hot and honey is actually a really good combination of spicy and sweet) but its their dill dipping sauce that make them a bit more palatable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6447">Next</a></li>
</ul>