<% provide :title, 'Opinion Target 4487' %><h2>Charcoal grilled Half Chicken<br />occurrence: 1</h2><div><ol><li>When it comes to ordering, I always tend to get the Charcoal grilled Half Chicken as I love the spices and the char of the chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4488">Next</a></li>
</ul>