<% provide :title, 'Opinion Target 9321' %><h2>chocolate fondue station<br />occurrence: 1</h2><div><ol><li>They have a snow ice machine and a chocolate fondue station ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9320">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9322">Next</a></li>
</ul>