<% provide :title, 'Opinion Target 7022' %><h2>pollo al pesto<br />occurrence: 1</h2><div><ol><li>My dining partner ordered the pollo al pesto, and I managed to steal a bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7023">Next</a></li>
</ul>