<% provide :title, 'Opinion Target 4869' %><h2>Sun Roll<br />occurrence: 1</h2><div><ol><li>My favorite here is the Sun Roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4870">Next</a></li>
</ul>