<% provide :title, 'Opinion Target 3737' %><h2>lunch special Hainanese chicken & rice<br />occurrence: 1</h2><div><ol><li>I tried their lunch special Hainanese chicken &amp; rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3736">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3738">Next</a></li>
</ul>