<% provide :title, 'Opinion Target 7533' %><h2>gyoza ramen<br />occurrence: 1</h2><div><ol><li>I had the gyoza ramen this time which I did n't like quite as much, but liked it enough to finish it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7534">Next</a></li>
</ul>