<% provide :title, 'Opinion Target 2317' %><h2>soy garlic<br />occurrence: 2</h2><div><ol><li>Their soy garlic is crispy garlicky yumminess as well.</li><li>We ordered soy garlic ( not much flavor and not as crispy as I was hoping) and spicy sauce ( which had so much sauce that the chicken lost its crispiness, I assume).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2316">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2318">Next</a></li>
</ul>