<% provide :title, 'Opinion Target 8371' %><h2>deep fried tofu in spicy chili sauce<br />occurrence: 1</h2><div><ol><li>My party usually orders the deep fried tofu in spicy chili sauce, beef brisket spicy noodles in soup, xiao long bao ( pork soup dumplings) and another noodle dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8370">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8372">Next</a></li>
</ul>