<% provide :title, 'Opinion Target 3447' %><h2>seasoning of papaya<br />occurrence: 1</h2><div><ol><li>The bahari kabob did not have authentic seasoning of papaya.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3448">Next</a></li>
</ul>