<% provide :title, 'Opinion Target 2482' %><h2>songs<br />occurrence: 2</h2><div><ol><li>Show was at 10:30 when everybody was already tired and bored from the gross songs ...</li><li>It 's just a good place to chill and enjoy slow songs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2483">Next</a></li>
</ul>