<% provide :title, 'Opinion Target 4654' %><h2>seafood fried rice and green curry<br />occurrence: 1</h2><div><ol><li>Really bad experience! 50min to wait for the seafood fried rice and green curry to come.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4655">Next</a></li>
</ul>