<% provide :title, 'Opinion Target 1910' %><h2>bim bim bop<br />occurrence: 2</h2><div><ol><li>Excellent sushi, soups and bim bim bop.</li><li>Eating my stone bowled heated bim bim bop while listening to Serena Ryder, does n't get any better than that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1911">Next</a></li>
</ul>