<% provide :title, 'Opinion Target 1754' %><h2>bbtea<br />occurrence: 2</h2><div><ol><li>Had a craving for a hot beverage but obviously a bbtea would suit the craving.</li><li>The bbtea is great but be ready to wait for a ridiculous amount of time, the drinks are cray expensive for what they are, and they do n't take credit card.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1753">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1755">Next</a></li>
</ul>