<% provide :title, 'Opinion Target 8985' %><h2>mimosas<br />occurrence: 1</h2><div><ol><li>My friend and I enjoyed an omlette, toast, lattes, mimosas and a beautiful slice of red velvet cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8986">Next</a></li>
</ul>