<% provide :title, 'Opinion Target 1057' %><h2>sliced beef<br />occurrence: 3</h2><div><ol><li>The sliced beef was tender and it was flavourful.</li><li>The sliced beef is braised marble beef slices tossed in a special house soy sauce topped with sesame seeds and cilantro.</li><li>The sliced beef is probably already in the fridge and just waiting to be cut and plated.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1058">Next</a></li>
</ul>