<% provide :title, 'Opinion Target 5694' %><h2>rigatoni<br />occurrence: 1</h2><div><ol><li>I ordered the rigatoni della nonna and asked my server to make it very spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5693">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5695">Next</a></li>
</ul>