<% provide :title, 'Opinion Target 4005' %><h2>bivalves<br />occurrence: 1</h2><div><ol><li>The bivalves are fresh and briny, although I miss the old ' shooter' option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4004">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4006">Next</a></li>
</ul>