<% provide :title, 'Opinion Target 1767' %><h2>chicharron<br />occurrence: 2</h2><div><ol><li>You can taste the chicharron, cheese and beans.</li><li>The menu offers the staples: platano, arroz, beans, yuca, pescado frito, pupusas, sopas, carne asada, chicharron, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1768">Next</a></li>
</ul>