<% provide :title, 'Opinion Target 6197' %><h2>basa fish fillet<br />occurrence: 1</h2><div><ol><li>I have somewhat began making the dish at home myself because a basa fish fillet ( 2 fillets actually) come up to about cheaper ( about half the price) than the meal itself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6198">Next</a></li>
</ul>