<% provide :title, 'Opinion Target 7498' %><h2>almond flavored latte<br />occurrence: 1</h2><div><ol><li>The almond flavored latte I had was also very rich, and the presentation was special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7497">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7499">Next</a></li>
</ul>