<% provide :title, 'Opinion Target 8618' %><h2>basic salad<br />occurrence: 1</h2><div><ol><li>The basic salad is tasty, not just a bunch of lettuce!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8619">Next</a></li>
</ul>