<% provide :title, 'Opinion Target 1015' %><h2>Flan<br />occurrence: 4</h2><div><ol><li>For Dessert I love their freshly homemade Flan, I usually ordered extra to take home for my family.</li><li>The bunuelos with the ice cream was my favourite although the fried ice cream was delicious and the flan was my 2nd favourite.</li><li>( Oh yeah, the flan.</li><li>The buffet has 3 rows including your typical Chinese buffet stuff ( dim sum, general tao chicken, etc.), a cold bar ( including smoked salmon, seaweed salad, shrimp) and desserts ( ice cream, flan, profiteroles, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1016">Next</a></li>
</ul>