<% provide :title, 'Opinion Target 1855' %><h2>clam<br />occurrence: 2</h2><div><ol><li>The seafood was just ok, everything was tiny from the squid, clam, mussels everything was tiny but fresh both occasions.</li><li>Regardless, it was n't the imitation crab meat), giant clam, scallop, and yellow tail.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1856">Next</a></li>
</ul>