<% provide :title, 'Opinion Target 5237' %><h2>Chinese food place<br />occurrence: 1</h2><div><ol><li>Will not be spending our money here anymore because of the last point, opting for any other generic Chinese food place in the area, even if it 's a bit of a drive away.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5238">Next</a></li>
</ul>