<% provide :title, 'Opinion Target 790' %><h2>baristas<br />occurrence: 4</h2><div><ol><li>The baristas are not very friendly and everytime I go and get a coffee the barista is talking to another barista and than leads to me wait to order and pay.</li><li>Not all of the baristas here are like this but there 's at least 4 of them who are.</li><li>Fortunately, they are always well staffed and the baristas are always friendly.</li><li>The baristas are able to make custom drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_791">Next</a></li>
</ul>