<% provide :title, 'Opinion Target 4536' %><h2>grilled lamb kebobs<br />occurrence: 1</h2><div><ol><li>I also stopped by to have some grilled lamb kebobs with saffron rice and a carbonated yogurt drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4535">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4537">Next</a></li>
</ul>