<% provide :title, 'Opinion Target 8049' %><h2>chicken and shrimps<br />occurrence: 1</h2><div><ol><li>Having said that, steak, chicken and shrimps were adequately prepared but I wo n't be running back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8050">Next</a></li>
</ul>