<% provide :title, 'Opinion Target 5250' %><h2>meat chicken and vegetables<br />occurrence: 1</h2><div><ol><li>My other two coworkers had the meal for 2 that is cooked right at your table ( hot plate is IN the table) and their dish was dark meat chicken and vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5251">Next</a></li>
</ul>