<% provide :title, 'Opinion Target 7075' %><h2>beer glasses<br />occurrence: 1</h2><div><ol><li>Small but telling detail: they chill the beer glasses.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7074">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7076">Next</a></li>
</ul>