<% provide :title, 'Opinion Target 4414' %><h2>terriyaki veggies<br />occurrence: 1</h2><div><ol><li>It has a variety of small plates ( soup and salad, sushi, sashimi, tempura, ginger chicken, terriyaki beef or salmon, terriyaki veggies, fried rice or udon, etc) for twenty something dollars.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4413">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4415">Next</a></li>
</ul>