<% provide :title, 'Opinion Target 8806' %><h2>dim sum place<br />occurrence: 1</h2><div><ol><li>But lo and behold, there was a dim sum place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8805">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8807">Next</a></li>
</ul>