<% provide :title, 'Opinion Target 3038' %><h2>front manager<br />occurrence: 1</h2><div><ol><li>The front manager took my order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3039">Next</a></li>
</ul>