<% provide :title, 'Opinion Target 6849' %><h2>taro duck<br />occurrence: 1</h2><div><ol><li>We had green bean and pork; steamed pork and salty egg yolk; garlic bok choy; beef stew; roasted garlic chicken; fish with bamboo and sugar snap, taro duck and sweet and sour pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6850">Next</a></li>
</ul>