<% provide :title, 'Opinion Target 2337' %><h2>barrel Chinese buffet<br />occurrence: 1</h2><div><ol><li>Bottom of the barrel Chinese buffet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2338">Next</a></li>
</ul>