<% provide :title, 'Opinion Target 5859' %><h2>green matcha latte<br />occurrence: 1</h2><div><ol><li>I got green matcha latte and it was good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5860">Next</a></li>
</ul>