<% provide :title, 'Opinion Target 5731' %><h2>coleslaw texture<br />occurrence: 1</h2><div><ol><li>4) To top off all that super goodness, the coleslaw texture and taste is reminiscent of shredded-up wet socks. lol ... ok ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5732">Next</a></li>
</ul>