<% provide :title, 'Opinion Target 7219' %><h2>make-your-own stir fry<br />occurrence: 1</h2><div><ol><li>The make-your-own stir fry is unparalled compared to all the other restaurants I 've been to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7220">Next</a></li>
</ul>