<% provide :title, 'Opinion Target 1034' %><h2>lemon<br />occurrence: 4</h2><div><ol><li>I recommend the grilled calamari with capers, olives and lemon which is an off menu item and the ahi Tuna salad.</li><li>My halibut did n't fall apart one bit after I added the lemon and malt.</li><li>( Tip: ask for extra lemon wedges.)</li><li>I guess I was expecting something comparable to Extreme Pita who do an amazing lemon souvlaki-ill go out of my way and stick with EP when I need my pita fix.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1035">Next</a></li>
</ul>