<% provide :title, 'Opinion Target 2342' %><h2>bottle of Chilean kosher wine cost<br />occurrence: 1</h2><div><ol><li>A nice bottle of Chilean kosher wine cost us $ 22 ( it retails for $ 11) was a pleasant suprise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2343">Next</a></li>
</ul>