<% provide :title, 'Opinion Target 2971' %><h2>appetizer ash reshteh<br />occurrence: 1</h2><div><ol><li>The appetizer ash reshteh was not fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2970">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2972">Next</a></li>
</ul>