<% provide :title, 'Opinion Target 2438' %><h2>Cantonese style Lo Mein noodles<br />occurrence: 1</h2><div><ol><li>I had the Cantonese style Lo Mein noodles, as well as the sweet and sour pork dish with my first order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2439">Next</a></li>
</ul>