<% provide :title, 'Opinion Target 2609' %><h2>Spicy Salmon Maki<br />occurrence: 1</h2><div><ol><li>Food here is pretty good, but the best thing on the menu is the Spicy Salmon Maki- you can definitely taste the spice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2610">Next</a></li>
</ul>