<% provide :title, 'Opinion Target 3427' %><h2>garlic mash<br />occurrence: 1</h2><div><ol><li>I got the ribs with garlic mash, and the others got chicken casear and New Orleans salads and Cheeseburger and fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3428">Next</a></li>
</ul>