<% provide :title, 'Opinion Target 5230' %><h2>after-dinner wine<br />occurrence: 1</h2><div><ol><li>Some nice after-dinner wine and a few rounds of Dominion ended a very nice Friday night hanging out with friends.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5231">Next</a></li>
</ul>