<% provide :title, 'Opinion Target 1923' %><h2>tabouli<br />occurrence: 2</h2><div><ol><li>Their dips are n't good I tried hummus and tabouli.</li><li>They did n't put any onion, lettuce, fresh tomato, or tabouli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1924">Next</a></li>
</ul>