<% provide :title, 'Opinion Target 2702' %><h2>fat owner<br />occurrence: 1</h2><div><ol><li>Almost ready to pay, the fat owner comes out from the back and sees the friendly girl who served my about to ring up this fantastic coffee ( did I mention I love it ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2703">Next</a></li>
</ul>