<% provide :title, 'Opinion Target 7245' %><h2>fried chicken suicide<br />occurrence: 1</h2><div><ol><li>Sogginess is fried chicken suicide!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7246">Next</a></li>
</ul>