<% provide :title, 'Opinion Target 1365' %><h2>Korean Ginseng Chicken<br />occurrence: 3</h2><div><ol><li>If you enjoy Korean Ginseng Chicken come here !!</li><li>The Korean Ginseng Chicken was great and was also my highlight.</li><li>If you are craving traditional Korean ginseng chicken- look no further for the very best provider in the GTA.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1366">Next</a></li>
</ul>