<% provide :title, 'Opinion Target 1499' %><h2>papusa<br />occurrence: 2</h2><div><ol><li>The papusa was really good and cheesy kinda like a meaty grilled cheese sandwich and it was only $ 2.95.</li><li>I realize a papusa is good enough to fill me up, me being such a small girl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1500">Next</a></li>
</ul>