<% provide :title, 'Opinion Target 2597' %><h2>Bistec carne frita : Typical Chilean dish<br />occurrence: 1</h2><div><ol><li>Bistec carne frita: Typical Chilean dish, served with flavorful rice, beef steak, veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2596">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2598">Next</a></li>
</ul>