<% provide :title, 'Opinion Target 8779' %><h2>entrance/exit<br />occurrence: 1</h2><div><ol><li>The washrooms can be a bit gross at times and the door for the entrance/exit is always smudged up with fingerprints.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8778">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8780">Next</a></li>
</ul>