<% provide :title, 'Opinion Target 6669' %><h2>pre-meal nibbles<br />occurrence: 1</h2><div><ol><li>Best pre-meal nibbles ( i 'm sure they have a real name, but they 're called nibblies in my book!), great tempura and super tasty soups!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6670">Next</a></li>
</ul>