<% provide :title, 'Opinion Target 8875' %><h2>wasabi taste<br />occurrence: 1</h2><div><ol><li>The wasabi taste was no longer over-bearing and the dressing had a well-balanced vinaigrette-y taste to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8876">Next</a></li>
</ul>