<% provide :title, 'Opinion Target 6654' %><h2>glutinous texture<br />occurrence: 1</h2><div><ol><li>This particular gamjatang comes with rice sticks which are something I am not used to, the rice sticks did add an interesting glutinous texture but did n't add much in the way of flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6655">Next</a></li>
</ul>