<% provide :title, 'Opinion Target 4367' %><h2>meat on rye with hot mustard<br />occurrence: 1</h2><div><ol><li>I had the corn beef on Kaiser and my boyfriend had the smoke meat on rye with hot mustard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4368">Next</a></li>
</ul>