<% provide :title, 'Opinion Target 1726' %><h2>black sesame dressing<br />occurrence: 2</h2><div><ol><li>I particularly enjoyed the salad with a unique black sesame dressing- something I ca n't say I 've seen before.</li><li>I really like the black sesame dressing on the salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1727">Next</a></li>
</ul>