<% provide :title, 'Opinion Target 956' %><h2>meatball sandwich<br />occurrence: 4</h2><div><ol><li>The meatball sandwich and veal Oso Bucco are also excellent.</li><li>The owner, lively and tank topped took great care of us and even gave us a free meatball sandwich after mistakingly giving us an extra veal ( not the worst mistake one could endure).</li><li>I came in the other day to try the meatball sandwich -- be warned it 's bloody awful .. slop job see pic, it 's full of filler, salty and tasted like a frozen meatloaf.</li><li>They make a great meatball sandwich as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_955">Previous</a></li>
  <li class="next"><a href=".\opinion_target_957">Next</a></li>
</ul>