<% provide :title, 'Opinion Target 1700' %><h2>margaritas<br />occurrence: 2</h2><div><ol><li>It is unforgivable, in my view, for a Mexican restaurant not to have good margaritas!</li><li>Some of the daquiris and margaritas are a bit too `` watered down'' with slush but the sangria 's are good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1699">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1701">Next</a></li>
</ul>