<% provide :title, 'Opinion Target 7780' %><h2>selection Sushi<br />occurrence: 1</h2><div><ol><li>Great selection Sushi not as Large as previous owner but very fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7779">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7781">Next</a></li>
</ul>