<% provide :title, 'Opinion Target 7395' %><h2>chocolate shavings<br />occurrence: 1</h2><div><ol><li>The chocolate shavings kind of looked like dirt and the random glob of red bean paste on the side just looked weird.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7396">Next</a></li>
</ul>