<% provide :title, 'Opinion Target 6030' %><h2>salmon avocado roll<br />occurrence: 1</h2><div><ol><li>I ordered their salmon avocado roll, which was pretty good ( they custom made it- not on their menu) and ordered a spicy salmon roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6031">Next</a></li>
</ul>