<% provide :title, 'Opinion Target 1593' %><h2>eggplant dish<br />occurrence: 2</h2><div><ol><li>The eggplant dish I ordered barely had eggplants .. more onions and red peppers.</li><li>The owner even gave us complimentary bread with the eggplant dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1594">Next</a></li>
</ul>