<% provide :title, 'Opinion Target 7547' %><h2>club<br />occurrence: 1</h2><div><ol><li>We got the same club we always get from the Yonge branch but the taste was not even close.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7548">Next</a></li>
</ul>