<% provide :title, 'Opinion Target 8929' %><h2>glass noodle<br />occurrence: 1</h2><div><ol><li>The pad thai is okay here and the glass noodle is another good item.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8930">Next</a></li>
</ul>