<% provide :title, 'Opinion Target 7400' %><h2>coffee + crepe/waffle special<br />occurrence: 1</h2><div><ol><li>I love their coffee + crepe/waffle special, and the cute chalkboard sign they leave outside in the summer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7401">Next</a></li>
</ul>