<% provide :title, 'Opinion Target 2621' %><h2>breadcrumb crusted<br />occurrence: 1</h2><div><ol><li>Not-so-great eats for me have been: spider roll ( the soft shell crab is panko breadcrumb crusted instead of tempura fried, I find it does n't taste as good), sukiyaki ( raw meats and noodles cooked in broth fondue style) and bibimbap ( korean stone bowl rice dish, which was done poorly).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2620">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2622">Next</a></li>
</ul>