<% provide :title, 'Opinion Target 2834' %><h2>Chicken Lentil<br />occurrence: 1</h2><div><ol><li>Chicken Lentil Soup: Oily, I felt like I was going to slide out of my seat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2835">Next</a></li>
</ul>