<% provide :title, 'Opinion Target 3071' %><h2>mango bingsu<br />occurrence: 1</h2><div><ol><li>The mango bingsu was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3072">Next</a></li>
</ul>