<% provide :title, 'Opinion Target 3595' %><h2>stuffed peppers<br />occurrence: 1</h2><div><ol><li>The lady at the counter was super friendly and mentioned that the lasagna and stuffed peppers are homemade and incredible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3596">Next</a></li>
</ul>