<% provide :title, 'Opinion Target 6565' %><h2>mocha almond meringue cake<br />occurrence: 1</h2><div><ol><li>I had the mocha almond meringue cake ( $ 7) and it was nothing amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6566">Next</a></li>
</ul>