<% provide :title, 'Opinion Target 2441' %><h2>Leafs<br />occurrence: 1</h2><div><ol><li>The Leafs were sucking as per usual and I needed one more drink to quiet the sorrow inside my 416-soul.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2442">Next</a></li>
</ul>