<% provide :title, 'Opinion Target 4304' %><h2>pan fried<br />occurrence: 1</h2><div><ol><li>The chicken and beef fried rice is n't the greatest but I definitely recommend the pan fried ho fan with beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4305">Next</a></li>
</ul>