<% provide :title, 'Opinion Target 5371' %><h2>milk powder<br />occurrence: 1</h2><div><ol><li>I could taste the milk powder as I was drinking it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5370">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5372">Next</a></li>
</ul>