<% provide :title, 'Opinion Target 8174' %><h2>screens<br />occurrence: 1</h2><div><ol><li>Large screens, LCDs and projectors in the bar, several more smaller screens in the dining room.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8175">Next</a></li>
</ul>