<% provide :title, 'Opinion Target 9122' %><h2>dinner portion<br />occurrence: 1</h2><div><ol><li>Perhaps the dinner portion is larger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9123">Next</a></li>
</ul>