<% provide :title, 'Opinion Target 3464' %><h2>beef of course<br />occurrence: 1</h2><div><ol><li>For the beef of course, but also to revisit the other chicken and shrimp dishes I sampled.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3463">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3465">Next</a></li>
</ul>