<% provide :title, 'Opinion Target 1943' %><h2>corn cheese<br />occurrence: 2</h2><div><ol><li>Fried chicken and the corn cheese is a must.</li><li>The corn cheese was a bit weird to me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1944">Next</a></li>
</ul>