<% provide :title, 'Opinion Target 9194' %><h2>sashimi dinner combo<br />occurrence: 1</h2><div><ol><li>We ordered a spicy seafood soup ( very spicy), fried calamari, sweet potato tempura, sushi &amp; sashimi dinner combo, and a green dragon roll which all together cost $ 48, so not bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9195">Next</a></li>
</ul>