<% provide :title, 'Opinion Target 7378' %><h2>sundae<br />occurrence: 1</h2><div><ol><li>It was n't too sweet although there is a lot of cream in the parfait which makes it a really light sundae.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7377">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7379">Next</a></li>
</ul>