<% provide :title, 'Opinion Target 1492' %><h2>carrot<br />occurrence: 2</h2><div><ol><li>A mixed salad plate opens a world of possibilities; eggplant, carrot, beet, turnip, hummus ` n ' tahini and other options could unclog the arteries of the most hardcore carnivore, especially when scooped up with fresh, fluffy pita bread.</li><li>Imagine about 80% of the box was just cabbage and the other 10% cuccumber, carrot, white onion, masago, and sesame oil, and then the fish ontop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1493">Next</a></li>
</ul>