<% provide :title, 'Opinion Target 5745' %><h2>shish kabob sandwich<br />occurrence: 1</h2><div><ol><li>I ordered the shish kabob sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5746">Next</a></li>
</ul>