<% provide :title, 'Opinion Target 3503' %><h2>bulgogi dinner<br />occurrence: 1</h2><div><ol><li>We tried the lobster roll, bulgogi dinner, and California and green dragon rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3504">Next</a></li>
</ul>