<% provide :title, 'Opinion Target 4278' %><h2>indian dessert<br />occurrence: 1</h2><div><ol><li>They had 4 curries and tandoori chicken, a very basic salad ( just lettuce and carrots), naan and very basic indian dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4279">Next</a></li>
</ul>