<% provide :title, 'Opinion Target 7403' %><h2>macaroons<br />occurrence: 1</h2><div><ol><li>The macaroons were not well made and did not look very presentable but I guess it 's because it 's not their specialty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7404">Next</a></li>
</ul>