<% provide :title, 'Opinion Target 1374' %><h2>mango roll<br />occurrence: 3</h2><div><ol><li>My favourites are the mussels, mango pudding &amp; yogurt, green dragon roll and mango roll.</li><li>Crispy, without being oily. the lychee ice cream was slightly bland, but provided a good compliment to the mango roll.</li><li>For dessert, we had the crispy mango roll and the chocolate burst-not bad either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1375">Next</a></li>
</ul>