<% provide :title, 'Opinion Target 1512' %><h2>barista<br />occurrence: 2</h2><div><ol><li>The barista made every coffee with his heart The staff is nice and attentive and the restaurant itself is clean and tidy.</li><li>One time my drink was really powdery and the barista was rude.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1513">Next</a></li>
</ul>