<% provide :title, 'Opinion Target 4902' %><h2>humitas<br />occurrence: 1</h2><div><ol><li>All the food ( especially empanadas, humitas, tamales) is delicious but I 've found that the fish fillet has reduced in size from what it was before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4903">Next</a></li>
</ul>