<% provide :title, 'Opinion Target 9204' %><h2>saikyo style baked scallops<br />occurrence: 1</h2><div><ol><li>I tried a few things including the saikyo style baked scallops ( $ 7.50) the scallops were meaty, fresh and they were drowned in a generous amount of cheese and delicious sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9203">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9205">Next</a></li>
</ul>