<% provide :title, 'Opinion Target 5661' %><h2>fried chicken fix<br />occurrence: 1</h2><div><ol><li>Thank you A good place to fulfill a fried chicken fix.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5660">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5662">Next</a></li>
</ul>