<% provide :title, 'Opinion Target 3174' %><h2>Marsala seafood<br />occurrence: 1</h2><div><ol><li>Marsala seafood- $ 18.95 This was my entree, and I `` m not too sure I have the name spelled right, but it was a heap of spaghetti with mussels on the side and a few pieces of scallop and shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3175">Next</a></li>
</ul>