<% provide :title, 'Opinion Target 1696' %><h2>bottle of wine<br />occurrence: 2</h2><div><ol><li>I also got a bottle of wine, that was my main course.</li><li>We tried to order a bottle of wine, and after twenty minutes were informed they were out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1697">Next</a></li>
</ul>