<% provide :title, 'Opinion Target 6398' %><h2>chicken broth soup with noodles<br />occurrence: 1</h2><div><ol><li>I took my boyfriend to this restaurant and he ordered chicken broth soup with noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6399">Next</a></li>
</ul>