<% provide :title, 'Opinion Target 4315' %><h2>takeout food bar<br />occurrence: 1</h2><div><ol><li>I liked the takeout food bar at the back of this supermarket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4316">Next</a></li>
</ul>