<% provide :title, 'Opinion Target 4148' %><h2>BBQ chicken poutine<br />occurrence: 1</h2><div><ol><li>I prefer the new southern BBQ chicken poutine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4149">Next</a></li>
</ul>