<% provide :title, 'Opinion Target 7449' %><h2>Peas + Paneer<br />occurrence: 1</h2><div><ol><li>The Mutter Paneer- It was n't just your standard Peas + Paneer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7448">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7450">Next</a></li>
</ul>