<% provide :title, 'Opinion Target 5742' %><h2>dish stir fry beef noodle<br />occurrence: 1</h2><div><ol><li>I ordered the most typical dish stir fry beef noodle ( river noodle), they dont hv it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5743">Next</a></li>
</ul>