<% provide :title, 'Opinion Target 6516' %><h2>Chinese BBQ pork n duck<br />occurrence: 1</h2><div><ol><li>Their Chinese BBQ pork n duck are delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6517">Next</a></li>
</ul>