<% provide :title, 'Opinion Target 3289' %><h2>croissant sandwich<br />occurrence: 1</h2><div><ol><li>Ravioli and poached egg: I decided to get this but kind of regret it after seeing the croissant sandwich entrée.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3288">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3290">Next</a></li>
</ul>