<% provide :title, 'Opinion Target 4350' %><h2>grilled and mashed eggplants + curd<br />occurrence: 1</h2><div><ol><li>Our friends got the kashk-e-bademjoon ( grilled and mashed eggplants + curd).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4351">Next</a></li>
</ul>