<% provide :title, 'Opinion Target 2344' %><h2>okoy<br />occurrence: 1</h2><div><ol><li>Their okoy is bigger and better than everywhere else, as they use large shrimps and make it nice and crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2345">Next</a></li>
</ul>