<% provide :title, 'Opinion Target 8067' %><h2>burrito size<br />occurrence: 1</h2><div><ol><li>The burrito size was pretty massive for a small eater like myself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8068">Next</a></li>
</ul>