<% provide :title, 'Opinion Target 3631' %><h2>rice and noodle dishes<br />occurrence: 1</h2><div><ol><li>The rice and noodle dishes can be too filling though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3632">Next</a></li>
</ul>