<% provide :title, 'Opinion Target 5215' %><h2>green tea slush<br />occurrence: 1</h2><div><ol><li>My favourites include the Earl Grey milk tea ( a surprisingly hard to find b-tea flavour) and the green tea slush, which I normally order 1/2 sugar so that it is less sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5214">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5216">Next</a></li>
</ul>