<% provide :title, 'Opinion Target 2728' %><h2>grilled cheese sandwiches with fries<br />occurrence: 1</h2><div><ol><li>We ordered grilled cheese sandwiches with fries for the boys, and I had my favourite: a Greek Village Salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2729">Next</a></li>
</ul>