<% provide :title, 'Opinion Target 6404' %><h2>dough fritter rice noodle roll<br />occurrence: 1</h2><div><ol><li>Yeung chow fried rice, spicy salt and pepper squid, beef and dough fritter rice noodle roll and general tao chicken was what we ordered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6405">Next</a></li>
</ul>