<% provide :title, 'Opinion Target 4318' %><h2>label says honeydew milk tea<br />occurrence: 1</h2><div><ol><li>My drink looks and tastes like regular tea even though the label says honeydew milk tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4319">Next</a></li>
</ul>