<% provide :title, 'Opinion Target 7903' %><h2>pre-made soups<br />occurrence: 1</h2><div><ol><li>Writeoff: Just go to Hmart or Gallaria and buy the pre-made soups.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7904">Next</a></li>
</ul>