<% provide :title, 'Opinion Target 5899' %><h2>thai ice tea tasted<br />occurrence: 1</h2><div><ol><li>The thai ice tea tasted diluted comparing to Khao s road and sipz from San deigo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5900">Next</a></li>
</ul>