<% provide :title, 'Opinion Target 5326' %><h2>cucumber avocado rolls<br />occurrence: 1</h2><div><ol><li>How can you ever complain or go wrong with $ 6 dynamite rolls, $ 5 spicy salmon rolls and $ 4 cucumber avocado rolls and California rolls ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5327">Next</a></li>
</ul>