<% provide :title, 'Opinion Target 4185' %><h2>quantity of food<br />occurrence: 1</h2><div><ol><li>Came away impressed with the quality and quantity of food that they offered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4186">Next</a></li>
</ul>