<% provide :title, 'Opinion Target 5144' %><h2>Singaporean Stir Fried Turnip Cake<br />occurrence: 1</h2><div><ol><li>While congee is a specialty, they offer a pretty wide range of food from noodles, some dim sum, and a variety of noodle dishes. + ives: price, quality, speed- ives: can be crowded, washrooms You must try their Singaporean Stir Fried Turnip Cake !!!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5145">Next</a></li>
</ul>