<% provide :title, 'Opinion Target 6050' %><h2>spicy scallops roll<br />occurrence: 1</h2><div><ol><li>The spicy scallops roll is my favourite so had to try it here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6049">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6051">Next</a></li>
</ul>