<% provide :title, 'Opinion Target 8882' %><h2>unagi dish<br />occurrence: 1</h2><div><ol><li>The unagi dish was $ 38, and though it was absolutely delicious, the price is a tad expensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8881">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8883">Next</a></li>
</ul>