<% provide :title, 'Opinion Target 5649' %><h2>Fritta mista di mare<br />occurrence: 1</h2><div><ol><li>Our son ordered the Fritta mista di mare, lightly breaded and fried mixture of large shrimp, calamari, and cuttlefish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5650">Next</a></li>
</ul>