<% provide :title, 'Opinion Target 7467' %><h2>rasmalai<br />occurrence: 1</h2><div><ol><li>Rasmalai: Decent, typical rasmalai ( ie: yummy).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7468">Next</a></li>
</ul>