<% provide :title, 'Opinion Target 4706' %><h2>cheese options<br />occurrence: 1</h2><div><ol><li>They have various cheese options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4707">Next</a></li>
</ul>