<% provide :title, 'Opinion Target 5251' %><h2>table cooking dish<br />occurrence: 1</h2><div><ol><li>And the table cooking dish ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5250">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5252">Next</a></li>
</ul>