<% provide :title, 'Opinion Target 4455' %><h2>Brussels sprouts<br />occurrence: 1</h2><div><ol><li>Brussels sprouts were hard as a rock.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4456">Next</a></li>
</ul>