<% provide :title, 'Opinion Target 6595' %><h2>taro slush and milk custard toast<br />occurrence: 1</h2><div><ol><li>Only complaint is my coat was soaked with the frying smell after I got home. got the taro slush and milk custard toast and crispy chicken. both were really delicious, and the service and atmosphere here was nice. it was a little chilly though, not sure if it was just because today was super cold or if it was the tea shop. their menus are also adorable:) it was a great place and id definitely come back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6596">Next</a></li>
</ul>