<% provide :title, 'Opinion Target 5914' %><h2>decaf coffee<br />occurrence: 1</h2><div><ol><li>Their decaf coffee is also good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5915">Next</a></li>
</ul>