<% provide :title, 'Opinion Target 7026' %><h2>Grilled Sliced Beef dinner<br />occurrence: 1</h2><div><ol><li>Grilled Sliced Beef dinner set with a choice of soup ( we picked Pork Bone) ( $ 45) is A-OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7027">Next</a></li>
</ul>