<% provide :title, 'Opinion Target 6495' %><h2>stir-fried sticky rice<br />occurrence: 1</h2><div><ol><li>And the stir-fried sticky rice was really tasty, the sticky rice was made perfectly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6496">Next</a></li>
</ul>