<% provide :title, 'Opinion Target 4526' %><h2>British fare food<br />occurrence: 1</h2><div><ol><li>This restaurant is a great place for some casual British fare food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4527">Next</a></li>
</ul>