<% provide :title, 'Opinion Target 6088' %><h2>12 shiu mai<br />occurrence: 1</h2><div><ol><li>It 's really amazing and less than $ 10 for 12 shiu mai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6089">Next</a></li>
</ul>