<% provide :title, 'Opinion Target 9336' %><h2>pork belly slices<br />occurrence: 1</h2><div><ol><li>I was disappointed the last time I went and they did n't have the pork belly slices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9337">Next</a></li>
</ul>