<% provide :title, 'Opinion Target 1085' %><h2>Fried Squid<br />occurrence: 3</h2><div><ol><li>Some memorable ones was the Thai Spicy Noodle, Japanese Crab Fried Rice, Fried Squid ( a little over cooked), Sizzling Plat Kalbi.</li><li>The turnip cakes are the BEST, the fried squid is delicious and the winter melon seafood Superbowl is great too!</li><li>Having some good fried squid and turnips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1084">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1086">Next</a></li>
</ul>