<% provide :title, 'Opinion Target 2768' %><h2>pot of ginseng whole chicken soup<br />occurrence: 1</h2><div><ol><li>What a better way to battle the Canadian cold with a pot of ginseng whole chicken soup ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2769">Next</a></li>
</ul>