<% provide :title, 'Opinion Target 3201' %><h2>lemon and roasted garlic with paprika<br />occurrence: 1</h2><div><ol><li>2 types of potatoes- lemon and roasted garlic with paprika- both fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3202">Next</a></li>
</ul>