<% provide :title, 'Opinion Target 7886' %><h2>fried rice and chicken wings<br />occurrence: 1</h2><div><ol><li>Hands down THE best place to have fried rice and chicken wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7887">Next</a></li>
</ul>