<% provide :title, 'Opinion Target 9308' %><h2>stone soup<br />occurrence: 1</h2><div><ol><li>It 's a kind of `` stone soup''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9309">Next</a></li>
</ul>