<% provide :title, 'Opinion Target 1663' %><h2>Attitude<br />occurrence: 2</h2><div><ol><li>Attitude.</li><li>However, the young femele waitress 's attitude was RUDE!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1664">Next</a></li>
</ul>