<% provide :title, 'Opinion Target 3742' %><h2>cashiers<br />occurrence: 1</h2><div><ol><li>Sometimes the cashiers are extremely nice, and other times they seem completely focused on fighting with their coworkers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3743">Next</a></li>
</ul>