<% provide :title, 'Opinion Target 2054' %><h2>fried veal<br />occurrence: 2</h2><div><ol><li>The fried veal is amazing.</li><li>Step 2: Lovingly cut a huge piece or two of breaded and fried veal so that it fits the sandwich just right in kind of an overflowing but perfect way and then toss in a little bit more love.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2053">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2055">Next</a></li>
</ul>