<% provide :title, 'Opinion Target 7297' %><h2>chilli turnip cake<br />occurrence: 1</h2><div><ol><li>My favorite place for chilli turnip cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7298">Next</a></li>
</ul>