<% provide :title, 'Opinion Target 7342' %><h2>pork & preserved egg<br />occurrence: 1</h2><div><ol><li>- Favorite congee: crab &amp; fish maw, or pork &amp; preserved egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7343">Next</a></li>
</ul>