<% provide :title, 'Opinion Target 2971' %><h2>roti skin<br />occurrence: 1</h2><div><ol><li>This was much better the meat filling was nice and spicy .. The roti skin was on the thin side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2970">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2972">Next</a></li>
</ul>