<% provide :title, 'Opinion Target 1654' %><h2>pho tai bo vien<br />occurrence: 2</h2><div><ol><li>I typically order the pho tai bo vien, the soup is perfect authentic, or rice with grilled chicken and shredded pork skin and a fried egg.</li><li>I always get the pho tai bo vien and the pho is just so delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1655">Next</a></li>
</ul>