<% provide :title, 'Opinion Target 3517' %><h2>supposed-to-be porridge<br />occurrence: 1</h2><div><ol><li>-SaeAl PatJuk ( red bean porridge with rice balls)- $ 9.99 The supposed-to-be porridge was thinner than expected- I remember having a creamier red bean porridge in Korea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3518">Next</a></li>
</ul>