<% provide :title, 'Opinion Target 7466' %><h2>selection of coffee and lattes<br />occurrence: 1</h2><div><ol><li>One other thing to mention is that they do have a selection of coffee and lattes but unfortunately they only have milk and no other diary substitutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7465">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7467">Next</a></li>
</ul>