<% provide :title, 'Opinion Target 6893' %><h2>stir-fried vegetables<br />occurrence: 1</h2><div><ol><li>Each teppanyaki combination comes with a pleasant array of stir-fried vegetables ( consisting of mushrooms, onions, zucchini, and bean sprouts) and a bowl of white rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6894">Next</a></li>
</ul>