<% provide :title, 'Opinion Target 7380' %><h2>jam cookie<br />occurrence: 1</h2><div><ol><li>Their jam cookie is also great- which consists of a shortbread sandwiched with strawberry jam and sprinkled with icing sugar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7379">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7381">Next</a></li>
</ul>