<% provide :title, 'Opinion Target 4534' %><h2>serving lunch<br />occurrence: 1</h2><div><ol><li>Why would the person serving lunch be eating lunch and the dining room is a mess ... ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4533">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4535">Next</a></li>
</ul>