<% provide :title, 'Opinion Target 7083' %><h2>pesto linguini<br />occurrence: 1</h2><div><ol><li>Particularly the pesto linguini, as that is the dish I always order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7082">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7084">Next</a></li>
</ul>