<% provide :title, 'Opinion Target 4564' %><h2>funnel cakes<br />occurrence: 1</h2><div><ol><li>They removed the sesame seed chocolate ball dessert and replaced it with cheesecake and funnel cakes ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4563">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4565">Next</a></li>
</ul>