<% provide :title, 'Opinion Target 7616' %><h2>hoisin sauce with BBQ pork<br />occurrence: 1</h2><div><ol><li>The noodles were flavoured with a soy and hoisin sauce with BBQ pork in it, and the seafood soup was perfect for the cold weather outside with pieces of squid, shrimp, and fish balls floating around sprinkled with generous helping of chopped green onion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7617">Next</a></li>
</ul>