<% provide :title, 'Opinion Target 4146' %><h2>Tempura rolls<br />occurrence: 1</h2><div><ol><li>What I had: Boston roll, Philadelphia rolls, Tempura rolls, miso soup, wakame salad and edemame.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4147">Next</a></li>
</ul>