<% provide :title, 'Opinion Target 7191' %><h2>tofu soup with seafood<br />occurrence: 1</h2><div><ol><li>I usually get the tofu soup with seafood because it 's not spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7192">Next</a></li>
</ul>