<% provide :title, 'Opinion Target 6401' %><h2>fish cakes ( odeng )<br />occurrence: 1</h2><div><ol><li>It 's a simple mash of tubular rice cakes, fish cakes ( odeng), onions, gochujang ( red pepper sauce), and sugar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6402">Next</a></li>
</ul>