<% provide :title, 'Opinion Target 1593' %><h2>steamed veggies<br />occurrence: 2</h2><div><ol><li>I had the spicy chicken combo, she had the veggie combo, and neither of us were MSG laden afterwards, and their steamed veggies were the tops.</li><li>My vegetarian box had pretty much the same thing with the plain rice, steamed veggies, vegetable tempura, 3 mini pieces of cucumber roll and deep fried tofu ( forgot the actual name of whats its called) Dessert, since the box came with free ice cream, our choices were vanilla, mint chocolate and mango.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1594">Next</a></li>
</ul>