<% provide :title, 'Opinion Target 1550' %><h2>seafood pad Thai<br />occurrence: 2</h2><div><ol><li>I ordered the seafood pad Thai.</li><li>The Seafood Pad Thai was inedible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1551">Next</a></li>
</ul>