<% provide :title, 'Opinion Target 5729' %><h2>fried rice with chinese sausage<br />occurrence: 1</h2><div><ol><li>The fried rice with chinese sausage and taro was excellent!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5730">Next</a></li>
</ul>