<% provide :title, 'Opinion Target 2812' %><h2>bolani<br />occurrence: 1</h2><div><ol><li>The bolani ( fried flat bread with potato filling) was freshly fried and the pastry was crispy while the sliced pieces of potatoes were soft, but not mushy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2813">Next</a></li>
</ul>