<% provide :title, 'Opinion Target 5335' %><h2>big rolls<br />occurrence: 1</h2><div><ol><li>The big rolls are just too damn big ... my mouth is quite capable but i can imagine that there are a bunch of people who just would n't be able to fit that humongous thing thing theirs ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5334">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5336">Next</a></li>
</ul>