<% provide :title, 'Opinion Target 4382' %><h2>Dijon mustard chicken dish<br />occurrence: 1</h2><div><ol><li>I got the Dijon mustard chicken dish and it was quite tasty and economical as well:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4383">Next</a></li>
</ul>