<% provide :title, 'Opinion Target 6182' %><h2>vegetarian<br />occurrence: 1</h2><div><ol><li>Many varieties of tofu soups to chosen from such as vegetarian, seafood, regular, and dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6183">Next</a></li>
</ul>