<% provide :title, 'Opinion Target 5961' %><h2>lean pork<br />occurrence: 1</h2><div><ol><li>Extra lean pork is drier and has less flavour than the `` half fat'' portions of the pig.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5962">Next</a></li>
</ul>