<% provide :title, 'Opinion Target 4174' %><h2>food cafeteria style<br />occurrence: 1</h2><div><ol><li>They serve your food cafeteria style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4175">Next</a></li>
</ul>