<% provide :title, 'Opinion Target 8177' %><h2>Deep fried pork<br />occurrence: 1</h2><div><ol><li>Good but just average Deep fried pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8178">Next</a></li>
</ul>