<% provide :title, 'Opinion Target 5019' %><h2>pizza sauce<br />occurrence: 1</h2><div><ol><li>Good amount of toppings, but I 'm not a big fan of fluffy crust, sweet pizza sauce, and slightly undercooked pizza ( I just made it sound worse than it was ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5018">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5020">Next</a></li>
</ul>