<% provide :title, 'Opinion Target 6063' %><h2>garlic flakes<br />occurrence: 1</h2><div><ol><li>The only thing to watch out for are the fresh garlic flakes; I love garlic, I was n't planning on kissing anyone, so I ate them all ( they do taste strong tho).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6064">Next</a></li>
</ul>