<% provide :title, 'Opinion Target 1995' %><h2>plastic spoons<br />occurrence: 2</h2><div><ol><li>She handed us 2 plastic spoons, smiled and left.</li><li>One of the plastic spoons is also chipped off at the front, which we also laughed at.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1996">Next</a></li>
</ul>