<% provide :title, 'Opinion Target 6960' %><h2>cocktail list<br />occurrence: 1</h2><div><ol><li>They have daily specials that you can take advantage of whether you 're here for dinner, dessert or just a drink ( the cocktail list is quite extensive).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6959">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6961">Next</a></li>
</ul>