<% provide :title, 'Opinion Target 4322' %><h2>chicken leg kabob<br />occurrence: 1</h2><div><ol><li>We ordered the chicken leg kabob with rice and it only cost $ 11.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4321">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4323">Next</a></li>
</ul>