<% provide :title, 'Opinion Target 3723' %><h2>arancini<br />occurrence: 1</h2><div><ol><li>I had the arancini to start and it was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3722">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3724">Next</a></li>
</ul>