<% provide :title, 'Opinion Target 8365' %><h2>Chive pockets<br />occurrence: 1</h2><div><ol><li>We came for lunch and ordered a variety of dishes including: green onion pancakes- thin, crispy, delicious Chive pockets- thin, crispy dough as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8366">Next</a></li>
</ul>