<% provide :title, 'Opinion Target 2563' %><h2>shrimp dumpling ( har gow<br />occurrence: 1</h2><div><ol><li>We ordered:- shrimp dumpling ( har gow): the skin was very thick, which is not generally the case for these type of dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2562">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2564">Next</a></li>
</ul>