<% provide :title, 'Opinion Target 5546' %><h2>pasta shell stuffed with ricotta<br />occurrence: 1</h2><div><ol><li>As you would assume with a pasta shell stuffed with ricotta ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5545">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5547">Next</a></li>
</ul>