<% provide :title, 'Opinion Target 4718' %><h2>rice sticky buns with shrimps<br />occurrence: 1</h2><div><ol><li>Spring rolls and the rice sticky buns with shrimps are great appetizers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4719">Next</a></li>
</ul>