<% provide :title, 'Opinion Target 4607' %><h2>steamed chicken<br />occurrence: 1</h2><div><ol><li>The steamed chicken is actually one of the better ones in the city.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4608">Next</a></li>
</ul>