<% provide :title, 'Opinion Target 6881' %><h2>sandwich looking appetizers<br />occurrence: 1</h2><div><ol><li>We ordered two of the sandwich looking appetizers which was split into two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6880">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6882">Next</a></li>
</ul>