<% provide :title, 'Opinion Target 2407' %><h2>Gozilla roll<br />occurrence: 1</h2><div><ol><li>The Gozilla roll is a marriage of ingredients that should 've never happened.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2408">Next</a></li>
</ul>