<% provide :title, 'Opinion Target 4313' %><h2>curry servings<br />occurrence: 1</h2><div><ol><li>The curry servings could have been a bit bigger for the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4314">Next</a></li>
</ul>