<% provide :title, 'Opinion Target 5154' %><h2>Tiger Shrimp Skewers<br />occurrence: 1</h2><div><ol><li>Tiger Shrimp Skewers ........ 9/10 4.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5153">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5155">Next</a></li>
</ul>