<% provide :title, 'Opinion Target 4251' %><h2>chicken red curry<br />occurrence: 1</h2><div><ol><li>The chicken red curry was great as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4250">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4252">Next</a></li>
</ul>