<% provide :title, 'Opinion Target 7913' %><h2>multii-grain purple rice<br />occurrence: 1</h2><div><ol><li>Unique thing that sets it apart is the multii-grain purple rice rather than the traditional white rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7914">Next</a></li>
</ul>