<% provide :title, 'Opinion Target 3081' %><h2>Sushi Sashimi<br />occurrence: 1</h2><div><ol><li>I came here for lunch and got the Sushi Sashimi Bento ( $ 16.95).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3082">Next</a></li>
</ul>