<% provide :title, 'Opinion Target 1860' %><h2>egg yolk<br />occurrence: 2</h2><div><ol><li>The homemade biscuits that came with the crabcake benedict were very dry, but I guess that 's why there 's all that runny egg yolk to go with it.</li><li>The other one is 80% cooked ... no runny egg yolk!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1861">Next</a></li>
</ul>