<% provide :title, 'Opinion Target 6974' %><h2>carrot cake batter<br />occurrence: 1</h2><div><ol><li>My new favourite cake, cream cheese icing, cranberries in a carrot cake batter, and walnut crust.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6973">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6975">Next</a></li>
</ul>