<% provide :title, 'Opinion Target 5710' %><h2>roti chicken<br />occurrence: 1</h2><div><ol><li>I 'd really recommend the roti chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5709">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5711">Next</a></li>
</ul>