<% provide :title, 'Opinion Target 6140' %><h2>beef Don<br />occurrence: 1</h2><div><ol><li>The beef Don was done very nicely and was one of the better Beef Dons I 've had ( though I have n't had many to be honest).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6141">Next</a></li>
</ul>