<% provide :title, 'Opinion Target 1296' %><h2>Korean shaved ice<br />occurrence: 3</h2><div><ol><li>Since Korean shaved ice is different from Taiwanese shaved ice, the toppings creates the entire flavour for the shaved ice.</li><li>Dessert was pretty good Their Korean shaved ice was sweet but not too sweet.</li><li>I liked how the Korean shaved ice has some flavor to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1295">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1297">Next</a></li>
</ul>