<% provide :title, 'Opinion Target 9231' %><h2>Chicken club<br />occurrence: 1</h2><div><ol><li>- Grill cheese + Chicken club + 2 egg breakfast = 50 $.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9232">Next</a></li>
</ul>