<% provide :title, 'Opinion Target 3338' %><h2>roast potatoes<br />occurrence: 1</h2><div><ol><li>Please try their roast potatoes and fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3339">Next</a></li>
</ul>