<% provide :title, 'Opinion Target 6025' %><h2>sprout<br />occurrence: 1</h2><div><ol><li>The sprout! '</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6024">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6026">Next</a></li>
</ul>