<% provide :title, 'Opinion Target 5840' %><h2>coconuts<br />occurrence: 1</h2><div><ol><li>Fresh coconuts on the menu are wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5839">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5841">Next</a></li>
</ul>