<% provide :title, 'Opinion Target 4163' %><h2>Genmaicha<br />occurrence: 1</h2><div><ol><li>Genmaicha was all I could handle to round things off but Black Sesame Ice Cream caught my eye.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4164">Next</a></li>
</ul>