<% provide :title, 'Opinion Target 9512' %><h2>`` ho nam '' chicken in hot pot<br />occurrence: 1</h2><div><ol><li>The `` ho nam'' chicken in hot pot, 25 mins wait and the rice was mushy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9513">Next</a></li>
</ul>