<% provide :title, 'Opinion Target 2042' %><h2>soy bean soup<br />occurrence: 2</h2><div><ol><li>We always order the same things- seasoned soy bean soup, glutinous rice roll, xiao long bao, four seasons string beans.</li><li>Portion size: My friend and I ordered the 2 soups + 1 LA galbi rib, and it was quite sufficient.The soups are from #1-12 on the soups menu ( #1 traditional fermented soy bean soup for me, #x beef tofu soup for her), and include a bowl of rice each.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2043">Next</a></li>
</ul>