<% provide :title, 'Opinion Target 2443' %><h2>breakfast plates<br />occurrence: 2</h2><div><ol><li>They have a variety of different breakfast plates, but they do charge for more than what is given.</li><li>All their breakfast plates come with super fresh fruit and a great variety.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2444">Next</a></li>
</ul>