<% provide :title, 'Opinion Target 2588' %><h2>salad ratio<br />occurrence: 1</h2><div><ol><li>The tomatoes were nice and juicy and the cheese was very tasty, the salad was perfect with just the right amount of sauce to salad ratio.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2589">Next</a></li>
</ul>