<% provide :title, 'Opinion Target 4039' %><h2>dinner date<br />occurrence: 1</h2><div><ol><li>The ambiance here is perfect for an intimate dinner date or a family gathering alike The service is impeccable, attentive, friendly and inviting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4040">Next</a></li>
</ul>