<% provide :title, 'Opinion Target 5261' %><h2>quality pasta<br />occurrence: 1</h2><div><ol><li>It featured good quality pasta, and an assortment of well-cooked seafood, including scallops, shrimp, crab, clams and mussels.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5260">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5262">Next</a></li>
</ul>