<% provide :title, 'Opinion Target 5928' %><h2>fried papaya<br />occurrence: 1</h2><div><ol><li>This salad proved me wrong. the fried papaya and the vinaigrette was to die for, it would definitely increase your appetite for the main course and dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5929">Next</a></li>
</ul>