<% provide :title, 'Opinion Target 8041' %><h2>Japanese dinning<br />occurrence: 1</h2><div><ol><li>They have a good Japanese dinning show for a really cheap and reasonable price like around $ 15 per person and you get alot of food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8042">Next</a></li>
</ul>