<% provide :title, 'Opinion Target 5808' %><h2>greeter<br />occurrence: 1</h2><div><ol><li>The greeter did tell us ahead of time and that regular menu selection was limited.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5809">Next</a></li>
</ul>