<% provide :title, 'Opinion Target 5708' %><h2>Pakistani food<br />occurrence: 1</h2><div><ol><li>Their food is okay, definitely not the best Pakistani food I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5707">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5709">Next</a></li>
</ul>