<% provide :title, 'Opinion Target 2241' %><h2>take-out box<br />occurrence: 1</h2><div><ol><li>The 3-cup chicken was more like kung pao chicken .... we walked out leaving more than half of each dish and not even bothered with a take-out box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2242">Next</a></li>
</ul>