<% provide :title, 'Opinion Target 7610' %><h2>Vietnamese Spring Roll<br />occurrence: 1</h2><div><ol><li>The only down side to this place is that their Cha Gio, Vietnamese Spring Roll, is good but not the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7611">Next</a></li>
</ul>