<% provide :title, 'Opinion Target 2778' %><h2>quality-to-price ratio<br />occurrence: 1</h2><div><ol><li>Admittedly, this is n't the best sushi place, but the quality-to-price ratio exceeded all expectations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2779">Next</a></li>
</ul>