<% provide :title, 'Opinion Target 1787' %><h2>''<br />occurrence: 2</h2><div><ol><li>I first thought to myself `` This place looks nice!''</li><li>To call them `` Incompetent'' would be a compliment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1786">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1788">Next</a></li>
</ul>