<% provide :title, 'Opinion Target 2595' %><h2>house lasanga<br />occurrence: 1</h2><div><ol><li>I got the house lasanga as my main and it was pure cheesy and creamy goodness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2596">Next</a></li>
</ul>