<% provide :title, 'Opinion Target 879' %><h2>haleem<br />occurrence: 4</h2><div><ol><li>Their haleem, Nihari, Paaya, Chana masala are all to die for.</li><li>I also ordered the haleem- which was good.</li><li>Haleem is always served with raw ginger slices, onions, cilantro and lime to squeeze on.</li><li>The Haleem was about a 3/5 with points removed for small portion with regards to price and lack of lime.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_880">Next</a></li>
</ul>