<% provide :title, 'Opinion Target 9555' %><h2>Strawberry meringue cake and mango dream cake<br />occurrence: 1</h2><div><ol><li>Strawberry meringue cake and mango dream cake are well-known for at this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9554">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9556">Next</a></li>
</ul>