<% provide :title, 'Opinion Target 5659' %><h2>beer towers<br />occurrence: 1</h2><div><ol><li>This places reminds me of my basement, old, wooden and smelly .... well actually my basement is n't smelly but this place sucks We waited like 20mins for someone to serve us and it looked like they did n't give shiitt Ordered those beer towers and our canadian tasted kind of funky Will not come back ever !!!!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5660">Next</a></li>
</ul>