<% provide :title, 'Opinion Target 4809' %><h2>decorator<br />occurrence: 1</h2><div><ol><li>It 's as if the interior decorator was educated in the Art School of IKEA, went on a mushroom trip, and went all ' Chinese Austin Powers.'</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4810">Next</a></li>
</ul>