<% provide :title, 'Opinion Target 4289' %><h2>pork & vermicelli<br />occurrence: 1</h2><div><ol><li>Bun Bo Hue is a spicy noodle dish made of beef, pork &amp; vermicelli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4288">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4290">Next</a></li>
</ul>