<% provide :title, 'Opinion Target 1471' %><h2>acorn jelly<br />occurrence: 2</h2><div><ol><li>The seasoned vegetables ( which topped the bibimbap) were fresh and meticulously prepared; some were also uncommon like the acorn jelly.</li><li>Bibimbap had a lot of different vegetables, even had acorn jelly in it too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1472">Next</a></li>
</ul>