<% provide :title, 'Opinion Target 2405' %><h2>stone pot rice<br />occurrence: 2</h2><div><ol><li>Tofu is very silken and soft mixed with the stone pot rice is heavenly.</li><li>Not only is it the best tasting tofu stew I 've tried anywhere in Toronto, it 's also the best value by far because it comes with a stone pot rice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2406">Next</a></li>
</ul>