<% provide :title, 'Opinion Target 2820' %><h2>rice quality<br />occurrence: 1</h2><div><ol><li>I think the rice quality is a big sign of the place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2821">Next</a></li>
</ul>