<% provide :title, 'Opinion Target 7084' %><h2>salsa verde aioli<br />occurrence: 1</h2><div><ol><li>The sandwich felt very wholesome with their unique Calabrese artisan bread, packed with baby spinach, cheese, tomato, pancetta ( Italian bacon, woo!), locally sourced fresh grilled chicken ( !!) and a kick from the salsa verde aioli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7085">Next</a></li>
</ul>