<% provide :title, 'Opinion Target 8816' %><h2>price boxes<br />occurrence: 1</h2><div><ol><li>- Items that are time-consuming and technique heavy tend to occupy the `` large'' or `` special'' price boxes on the dim sum card, where they may be considered `` medium'' at other joints.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8817">Next</a></li>
</ul>