<% provide :title, 'Opinion Target 1548' %><h2>Traffic<br />occurrence: 2</h2><div><ol><li>Traffic is always packed on yonge.</li><li>I had to head up the DVP the other day, and traffic was bad, so decided to zip over to Vic Park.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1549">Next</a></li>
</ul>