<% provide :title, 'Opinion Target 4707' %><h2>smoothies<br />occurrence: 1</h2><div><ol><li>You can get smoothies with three fruits for $ 3.99, deli sandwiches with a bunch of veggie and meat options, or choose however much/whatever you want from the vast fruit/salad bar- you get charged by weight.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4708">Next</a></li>
</ul>