<% provide :title, 'Opinion Target 3948' %><h2>barbequed meat<br />occurrence: 1</h2><div><ol><li>The barbequed meat was dark, nicely flavored, and the dish was n't excessively filled with noodles either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3949">Next</a></li>
</ul>