<% provide :title, 'Opinion Target 5752' %><h2>Golden Curry Chicken with naan<br />occurrence: 1</h2><div><ol><li>Food:- I ordered Green Curry Chicken with rice, and Golden Curry Chicken with naan ( $ 2 extra).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5753">Next</a></li>
</ul>