<% provide :title, 'Opinion Target 1326' %><h2>chicken shwarma<br />occurrence: 3</h2><div><ol><li>Picked up a chicken shwarma today while I was running errands.</li><li>I have had the Chicken Kabob ( not so great- it was very over-cooked) but I have had the chicken shwarma a few times and it is good.</li><li>My guest ordered the chicken shwarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1327">Next</a></li>
</ul>