<% provide :title, 'Opinion Target 1255' %><h2>Seafood chow mein<br />occurrence: 3</h2><div><ol><li>Seafood chow mein, general Tao chicken, fried chilli turnip patties, spice and pepper salt squid, snow peas with garlic sauce- everything was amazing.</li><li>Dishes include the: Salmon Congee, Seafood Chow Mein and many more.</li><li>We love the seafood superbowl cogee with fried dough fritters, seafood chow mein, fried noodle with beef and bean sprouts, deep fried shrimp wontons, deep fried squid tentacles and yang chow fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1256">Next</a></li>
</ul>