<% provide :title, 'Opinion Target 5541' %><h2>Tuscan Kale<br />occurrence: 1</h2><div><ol><li>Bright Tuscan Kale, with Lemon Ricotta, Olives, Fennel, sweet Cipollini Onions, acidic White Balsamic Citrus Vinaigrette!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5542">Next</a></li>
</ul>