<% provide :title, 'Opinion Target 3842' %><h2>mango and green tea ice cream<br />occurrence: 1</h2><div><ol><li>The mango and green tea ice cream was ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3843">Next</a></li>
</ul>