<% provide :title, 'Opinion Target 1785' %><h2>shallots<br />occurrence: 2</h2><div><ol><li>It definitely was .. you eat it with a piece of Mieng Kum leaf imported straight from Thailand and take a spoonful of each ingredient, such as shallots, coconut shavings, fresh green chilli peppers, limes, roasted peanuts, and small dried shrimps.</li><li>The yogurt with shallots is also very good hear.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1786">Next</a></li>
</ul>