<% provide :title, 'Opinion Target 7237' %><h2>chocolate covered strawberries<br />occurrence: 1</h2><div><ol><li>I 'm glad their strawberries were fresh this time too, I hope they keep this up because the chocolate covered strawberries are the reason I keep coming back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7238">Next</a></li>
</ul>