<% provide :title, 'Opinion Target 1776' %><h2>beef shawarma plate<br />occurrence: 2</h2><div><ol><li>I ordered the beef shawarma plate for take out and they gave it to me in less than 5 minutes.</li><li>I ordered the Beef Shawarma plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1777">Next</a></li>
</ul>