<% provide :title, 'Opinion Target 3878' %><h2>fried rice and noodles<br />occurrence: 1</h2><div><ol><li>The only thing that seemed more normal sized were the fried rice and noodles, which I saw someone at another table order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3877">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3879">Next</a></li>
</ul>