<% provide :title, 'Opinion Target 867' %><h2>crab cake<br />occurrence: 5</h2><div><ol><li>I was actually impressed by the seafood salad ( $ 23) which was mostly fish, shrimp, and a large crab cake rather than greenery with microscopic pieces of unidentifiable bits.</li><li>The crab cake and ahi tuna was phenomenal.</li><li>The crab cake was good with lots of veggies and crab meat.</li><li>For the main, I had the special of the day which was a 6oz New York steak with crab cake and seasonal veggies.</li><li>However, I found the crab cake a little salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_868">Next</a></li>
</ul>