<% provide :title, 'Opinion Target 1015' %><h2>egg rolls<br />occurrence: 3</h2><div><ol><li>The spring rolls and egg rolls are both fine, but I find such items basically the same from one place to the next.</li><li>The egg rolls a perfect loyal companion.</li><li>We ordered egg rolls, spring rolls, mushroom fried rice, General Tso 's chicken, honey garlic chicken, and a side of extra honey garlic sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1016">Next</a></li>
</ul>