<% provide :title, 'Opinion Target 1712' %><h2>Greek salads<br />occurrence: 2</h2><div><ol><li>My absolute FAVOURITE Greek salad in Toronto ... if you like Greek salads ( not authentic--i.e. with lettuce) then it 's a must order.</li><li>For any fellow yanks visiting here, you will find Greek salads a lot better in Toronto!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1713">Next</a></li>
</ul>