<% provide :title, 'Opinion Target 4853' %><h2>chestnut chicken<br />occurrence: 1</h2><div><ol><li>The chestnut chicken was just ok, a tad overcooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4854">Next</a></li>
</ul>