<% provide :title, 'Opinion Target 3941' %><h2>Asian music<br />occurrence: 1</h2><div><ol><li>The athmosphere is set by relaxing Asian music; simple and traditional service and decor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3942">Next</a></li>
</ul>