<% provide :title, 'Opinion Target 1848' %><h2>Yorkshire puddings<br />occurrence: 2</h2><div><ol><li>The Yorkshire puddings had been sitting for so long that they were rubbery.</li><li>The Yorkshire puddings were dense.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1847">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1849">Next</a></li>
</ul>