<% provide :title, 'Opinion Target 6806' %><h2>raw tilapia steaks<br />occurrence: 1</h2><div><ol><li>The sashimi was pretty gross mostly because of the giant cuts of tilapia, felt like i was eating cuts of raw tilapia steaks and the salmon tasted a little fishy and the white tuna/butterfish was a whole lot fishier.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6805">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6807">Next</a></li>
</ul>