<% provide :title, 'Opinion Target 1793' %><h2>Seafood Coconut Curry<br />occurrence: 2</h2><div><ol><li>FOOD- Mmm love the Seafood Coconut Curry here!</li><li>I love their seafood coconut curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1794">Next</a></li>
</ul>