<% provide :title, 'Opinion Target 1956' %><h2>Korean bbq marinade<br />occurrence: 2</h2><div><ol><li>You must also order the Korean grilled short ribs or kalbi, which has the delicious char from the grill and of course the famed Korean bbq marinade.</li><li>They have pork, beef, chicken, short ribs, and pork belly marinated in Korean BBQ Marinade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1955">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1957">Next</a></li>
</ul>