<% provide :title, 'Opinion Target 2800' %><h2>Food Booth E4<br />occurrence: 1</h2><div><ol><li>So hop off at Tuscan Gate for all of you bus-taking folks and check it out for yourself: King 's Palace Caribbean, Food Booth E4.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2801">Next</a></li>
</ul>