<% provide :title, 'Opinion Target 6335' %><h2>roasted chicken crepe<br />occurrence: 1</h2><div><ol><li>My roasted chicken crepe was lacking flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6334">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6336">Next</a></li>
</ul>