<% provide :title, 'Opinion Target 8447' %><h2>chocolate fudge<br />occurrence: 1</h2><div><ol><li>I ordered the Supercrema di Gianduja: New York style cheesecake coated with Nutella spread, dressed with fresh bananas and thick chocolate fudge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8448">Next</a></li>
</ul>