<% provide :title, 'Opinion Target 5345' %><h2>seats crowd<br />occurrence: 1</h2><div><ol><li>I personally would n't mind it as much if there was an actual place to stand inside while waiting; the seats crowd right to the door entrance, so if there 's a lineup of even 4 people at least 2 are guaranteed to stand outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5344">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5346">Next</a></li>
</ul>