<% provide :title, 'Opinion Target 4232' %><h2>grilled veggies sandwich<br />occurrence: 1</h2><div><ol><li>Love their chicken tenders and the grilled veggies sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4233">Next</a></li>
</ul>