<% provide :title, 'Opinion Target 5792' %><h2>turkey crepe<br />occurrence: 1</h2><div><ol><li>.5 star off for the latte &amp; .5 star off for the big ass mosquito that was swooping around me the entire time. green tea crepe kinda pricey good green tea flavour good to share The turkey crepe is made from deli meat ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5793">Next</a></li>
</ul>