<% provide :title, 'Opinion Target 3200' %><h2>Caprise salad<br />occurrence: 1</h2><div><ol><li>The basil in our Caprise salad was wilted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3201">Next</a></li>
</ul>