<% provide :title, 'Opinion Target 8747' %><h2>cream cheese layer<br />occurrence: 1</h2><div><ol><li>I felt that the top cream cheese layer was too heavy and that the cake lacked any real lemon flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8748">Next</a></li>
</ul>