<% provide :title, 'Opinion Target 7543' %><h2>turkey bacon sub<br />occurrence: 1</h2><div><ol><li>Get the turkey bacon sub.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7544">Next</a></li>
</ul>