<% provide :title, 'Opinion Target 2847' %><h2>FOOD has<br />occurrence: 1</h2><div><ol><li>The FOOD has always been overwhelmingly good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2848">Next</a></li>
</ul>