<% provide :title, 'Opinion Target 5924' %><h2>Green tea ice cream taste<br />occurrence: 1</h2><div><ol><li>Green tea ice cream taste horrible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5925">Next</a></li>
</ul>