<% provide :title, 'Opinion Target 5880' %><h2>dinner Linda<br />occurrence: 1</h2><div><ol><li>At $ 120 for 2 for dinner Linda is an authentic, delicious but relatively pricey dinner option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5881">Next</a></li>
</ul>