<% provide :title, 'Opinion Target 1743' %><h2>lamb shank dinner<br />occurrence: 2</h2><div><ol><li>How does a lamb shank dinner for $ 9.99 sound ?</li><li>One of the largest I 've seen in a lamb shank dinner anywhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1742">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1744">Next</a></li>
</ul>