<% provide :title, 'Opinion Target 2932' %><h2>entré<br />occurrence: 1</h2><div><ol><li>The entré was ok, but the sauce was heavy and a little salty compared to the other branch in downtown.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2933">Next</a></li>
</ul>