<% provide :title, 'Opinion Target 3478' %><h2>szechuan food<br />occurrence: 1</h2><div><ol><li>I found this restaurant on yelp with rave reviews, so my friend ( who loves szechuan food) and I try it out. upon walking in, we are the only chinese customers in the restaurant. the menu is mainly an english one with our favourite szechuan dishes missing ( ex.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3479">Next</a></li>
</ul>