<% provide :title, 'Opinion Target 5681' %><h2>pasta with red sauce<br />occurrence: 1</h2><div><ol><li>The pasta with red sauce is tasty but the one with rose sauce is average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5682">Next</a></li>
</ul>