<% provide :title, 'Opinion Target 1617' %><h2>Jerk chicken sandwich with coleslaw<br />occurrence: 2</h2><div><ol><li>I finished the entire sandwich before I could take a breath ( Jerk chicken sandwich with coleslaw in it on coco bread) and then decided to split a beef patty sandwich even though I was already too full ...</li><li>The jerk chicken sandwich with coleslaw is really good, and it does n't taste too heavy and comes to $ 3.95 tax incld.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1618">Next</a></li>
</ul>