<% provide :title, 'Opinion Target 2395' %><h2>grilled bulgogi<br />occurrence: 2</h2><div><ol><li>We ordered the Bibimbap, beef tofu soup, and grilled bulgogi.</li><li>The grilled bulgogi was smaller than before and did not have much flavor also the beef tofu soup was watered down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2396">Next</a></li>
</ul>