<% provide :title, 'Opinion Target 999' %><h2>setup<br />occurrence: 3</h2><div><ol><li>The setup is basically similar to a second cup, but with more food options.</li><li>The outdoor patio they have setup would be nice if it was cleaned up once in a while.</li><li>Setup is nice for a cafeteria lunch style place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1000">Next</a></li>
</ul>