<% provide :title, 'Opinion Target 6830' %><h2>containers<br />occurrence: 1</h2><div><ol><li>The containers they put the takeout in are n't very sturdy and are taped shut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6831">Next</a></li>
</ul>