<% provide :title, 'Opinion Target 816' %><h2>spice<br />occurrence: 5</h2><div><ol><li>The spice they use is not that tasty to us.</li><li>The food again is lacking any kind of spice or taste.</li><li>The spice is just right and the ingredients are fresh.</li><li>Seafood chow mein, general Tao chicken, fried chilli turnip patties, spice and pepper salt squid, snow peas with garlic sauce- everything was amazing.</li><li>The spice is not painful but enough to make u cough like a smoker if it goes down the wrong way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_817">Next</a></li>
</ul>