<% provide :title, 'Opinion Target 5616' %><h2>Korean ladies<br />occurrence: 1</h2><div><ol><li>The Korean ladies are super nice to us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5617">Next</a></li>
</ul>