<% provide :title, 'Opinion Target 1208' %><h2>chirashi don<br />occurrence: 3</h2><div><ol><li>I ordered a chirashi don which is basically sashimi on rice.</li><li>But the chirashi don was not satisfying because the fish does not taste fresh.</li><li>In particular, chirashi don is my favorite, their sashimi is always fresh and tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1207">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1209">Next</a></li>
</ul>