<% provide :title, 'Opinion Target 3577' %><h2>getting a table<br />occurrence: 1</h2><div><ol><li>The process of the line-up and getting a table is a bit frustrating, which is not what I want on my weekend.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3578">Next</a></li>
</ul>