<% provide :title, 'Opinion Target 6113' %><h2>bar height table<br />occurrence: 1</h2><div><ol><li>The bar height table does not count.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6112">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6114">Next</a></li>
</ul>