<% provide :title, 'Opinion Target 3742' %><h2>beef ball<br />occurrence: 1</h2><div><ol><li>Though overcooked rare beef is common at chinese pho restaurants, I have NEVER had a cold beef ball before, this was the first.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3743">Next</a></li>
</ul>