<% provide :title, 'Opinion Target 5222' %><h2>bar snacks<br />occurrence: 1</h2><div><ol><li>We were wondering why we were n't offered the bar snacks those sitting by us were.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5223">Next</a></li>
</ul>