<% provide :title, 'Opinion Target 3568' %><h2>masa<br />occurrence: 1</h2><div><ol><li>The masa had a slight crispiness to it that I love.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3569">Next</a></li>
</ul>