<% provide :title, 'Opinion Target 5721' %><h2>Spicy Salt Pork Chop<br />occurrence: 1</h2><div><ol><li>Imagine Spicy Salt Pork Chop but applied to Duck Chins.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5722">Next</a></li>
</ul>