<% provide :title, 'Opinion Target 3689' %><h2>General Tsao 's Chicken<br />occurrence: 1</h2><div><ol><li>The General Tsao 's Chicken was very delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3690">Next</a></li>
</ul>