<% provide :title, 'Opinion Target 1830' %><h2>soup noodle<br />occurrence: 2</h2><div><ol><li>Next time we will order some of the lamb burger, boiled dumplings and soup noodle.</li><li>But my go to is the Szechuan Cold Noodles and for soup noodle the Lamb Pao Mo. Also I would highly recommend the Bon Bon Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1831">Next</a></li>
</ul>