<% provide :title, 'Opinion Target 5858' %><h2>waffle with chocolate bananas<br />occurrence: 1</h2><div><ol><li>The waffle with chocolate bananas and ice cream tasted exactly as i expected it to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5857">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5859">Next</a></li>
</ul>