<% provide :title, 'Opinion Target 7036' %><h2>Soy sauce braised potatoes<br />occurrence: 1</h2><div><ol><li>Soy sauce braised potatoes- and a chunk of carrot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7037">Next</a></li>
</ul>