<% provide :title, 'Opinion Target 6048' %><h2>carrot slaw<br />occurrence: 1</h2><div><ol><li>I love the rice and peas that sit underneath the pork, and its topped with some cabbage and carrot slaw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6049">Next</a></li>
</ul>