<% provide :title, 'Opinion Target 5077' %><h2>mandarin orange segments<br />occurrence: 1</h2><div><ol><li>The lady proprietor is very nice and made sure to give our group plenty of freebies like peanuts, mandarin orange segments, grilled rice cakes, and french fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5076">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5078">Next</a></li>
</ul>