<% provide :title, 'Opinion Target 1441' %><h2>pomodoro pasta<br />occurrence: 2</h2><div><ol><li>I can say i had the regular bruschetta and the salmon bruschetta, calimari, the pomodoro pasta, and some other meaty pastas, but my ratings for those would be just a regular 2- 3 stars ... ( nothing spectacular!)</li><li>I 've had the pomodoro pasta, spaghetti carbonara, margherita pizza and the caesar salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1442">Next</a></li>
</ul>