<% provide :title, 'Opinion Target 5387' %><h2>curries and tandoori chicken<br />occurrence: 1</h2><div><ol><li>They had 4 curries and tandoori chicken, a very basic salad ( just lettuce and carrots), naan and very basic indian dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5388">Next</a></li>
</ul>