<% provide :title, 'Opinion Target 2513' %><h2>vindaloo<br />occurrence: 2</h2><div><ol><li>We all had a mixtures of dishes, butter chicken, vindaloo, tikka masala, naan breads and they even did a special of bombay potatoes ( it was n't on the menu!) the food was just divine!</li><li>I really enjoyed their butter chicken and the vindaloo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2512">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2514">Next</a></li>
</ul>