<% provide :title, 'Opinion Target 5072' %><h2>fried Taro dish<br />occurrence: 1</h2><div><ol><li>This, and the fried Taro dish has me hooked like a meth feind ... and all for something ridiculous like $ 15.:) Do n't expect the royal treatment though, wait staff are not the ones to strike up a convo with.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5073">Next</a></li>
</ul>