<% provide :title, 'Opinion Target 5192' %><h2>mixed seafood congee<br />occurrence: 1</h2><div><ol><li>Special mixed seafood congee ( regular size) was enough for two, full of fresh- not frozen- fish ( white fish and salmon) plus scallops, shrimps and squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5193">Next</a></li>
</ul>