<% provide :title, 'Opinion Target 9170' %><h2>Las Vegas style<br />occurrence: 1</h2><div><ol><li>Last Saturday, I was given an opportunity to enjoy what many Russians and Eastern Europeans do on a weekend night: dress up in your best semi-formal outfit to enjoy copious amounts of food and watch a Las Vegas style show.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9171">Next</a></li>
</ul>