<% provide :title, 'Opinion Target 3734' %><h2>settings<br />occurrence: 1</h2><div><ol><li>The sparse and rather sterile environment was somehow warm and enticing: the sizzle of food cooking, the laughter and hum of conversations and the smiles on people 's faces added much to the otherwise drab settings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3735">Next</a></li>
</ul>