<% provide :title, 'Opinion Target 9075' %><h2>Kimchi radish<br />occurrence: 1</h2><div><ol><li>Kimchi radish- not very spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9074">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9076">Next</a></li>
</ul>