<% provide :title, 'Opinion Target 1228' %><h2>scallion<br />occurrence: 3</h2><div><ol><li>The amount of scallion, however, was utterly laughable, not more than 1/3 of one small scallion ( white part only).</li><li>The amount of scallion, however, was utterly laughable, not more than 1/3 of one small scallion ( white part only).</li><li>Along came 5 more wrappers, with, again, four tiny dishes containing scallion, celery, cucumber ( we had not finished the celery and cucumber from the first round, and wanted only scallions), and hoisin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1229">Next</a></li>
</ul>