<% provide :title, 'Opinion Target 688' %><h2>jerk<br />occurrence: 5</h2><div><ol><li>The jerk is perfectly marinated, the rice is flavourful, and the sauce is plentiful.</li><li>I ordered jerk chicken and it was just average or below average.</li><li>The Jerk is as authentic as you can get from Jamaica.</li><li>Do n't get me wrong, it tasted just fine and I ate the whole damn thing but it was n't the same authentic jerk taste like back in Jamaica.</li><li>The jerk was seasoned well and it was not bbq 'd .. which I am usually used to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_687">Previous</a></li>
  <li class="next"><a href=".\opinion_target_689">Next</a></li>
</ul>