<% provide :title, 'Opinion Target 6248' %><h2>tofu pots<br />occurrence: 1</h2><div><ol><li>All of our tofu pots were tasty in their different ways ( the vegetable tofu soup tasted like spicy vegetable broth, the soup for the combination tofu tasted like spicy seafood, and the kimchi soon tofu tasted well like kimchi).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6249">Next</a></li>
</ul>