<% provide :title, 'Opinion Target 1034' %><h2>water glasses<br />occurrence: 3</h2><div><ol><li>We had a private room at the back of the restaurant, which was a really nice touch, and were still checked in on very regularly by the waitresses to fill up our water glasses, etc.</li><li>Our server was polite and helpful, although towards the end of our meal, her service levels fell ( empty water glasses, long wait for dessert menu and orders).</li><li>My only complaint though, were the water glasses, they tasted like dishwasher chemicals.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1035">Next</a></li>
</ul>