<% provide :title, 'Opinion Target 7276' %><h2>fried turnip rolls<br />occurrence: 1</h2><div><ol><li>Out of all the Congee Wong 's, this one has the best fried turnip rolls and salt and pepper squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7277">Next</a></li>
</ul>