<% provide :title, 'Opinion Target 1120' %><h2>food choices<br />occurrence: 4</h2><div><ol><li>Decent amount of food choices.</li><li>I ca n't speak for the rest of their menu except that there 's a bajillion food choices.</li><li>Wish could a dd more food choices!</li><li>Although their are n't a lot of food choices to choose from, but the Wonton there are amazing!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1121">Next</a></li>
</ul>