<% provide :title, 'Opinion Target 9004' %><h2>spinach omlet<br />occurrence: 1</h2><div><ol><li>I had the goat cheese and spinach omlet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9005">Next</a></li>
</ul>