<% provide :title, 'Opinion Target 1783' %><h2>Ginger Beer<br />occurrence: 2</h2><div><ol><li>There are all kinds of Caribbean drinks including Malta, Coconut Water, Ginger Beer, Ting, Mauby and Peanut Milk.</li><li>I only wish they had ginger beer to wash this down with!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1784">Next</a></li>
</ul>