<% provide :title, 'Opinion Target 7435' %><h2>white chocolate green tea latte<br />occurrence: 1</h2><div><ol><li>I had a white chocolate green tea latte as my drink and it perfectly matched my dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7436">Next</a></li>
</ul>