<% provide :title, 'Opinion Target 4118' %><h2>bamboo shoots<br />occurrence: 1</h2><div><ol><li>The eggplant and bamboo shoots is very tasty and the pancakes are very delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4117">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4119">Next</a></li>
</ul>