<% provide :title, 'Opinion Target 5450' %><h2>sour sauce and deep fried pork chop<br />occurrence: 1</h2><div><ol><li>We ordered a few other dishes like fried fish in sweet and sour sauce and deep fried pork chop which was average at best was a little too salty and slightly overcooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5451">Next</a></li>
</ul>