<% provide :title, 'Opinion Target 7490' %><h2>omelette '<br />occurrence: 1</h2><div><ol><li>The omelette ' are excellent and the portions will fill even the heartiest of foodies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7491">Next</a></li>
</ul>