<% provide :title, 'Opinion Target 4112' %><h2>sour chicken sauce<br />occurrence: 1</h2><div><ol><li>Making this a quick review, I love their seafood congee, beef fun noodles, ying yang fried rice ( which is called fried rice with cream shrimp and sweet and sour chicken sauce ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4111">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4113">Next</a></li>
</ul>