<% provide :title, 'Opinion Target 2018' %><h2>beef dumpling<br />occurrence: 2</h2><div><ol><li>And I order the soon tofu with beef dumpling ( and he eats half of it lol).</li><li>My partner had the beef dumpling soon tofu which was the only item he could have since he has to avoid any type of shellfish, pork or mushrooms ... probably wo n't be returning because of this ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2019">Next</a></li>
</ul>