<% provide :title, 'Opinion Target 1406' %><h2>Sushi Moto<br />occurrence: 2</h2><div><ol><li>I will dine here a few more times before I head back next week:-) Love Love Love Sushi Moto!</li><li>Tbh, Sushi Moto was okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1407">Next</a></li>
</ul>