<% provide :title, 'Opinion Target 5008' %><h2>deep fried California roll<br />occurrence: 1</h2><div><ol><li>We ordered dynamite roll, Alaska roll, spicy tuna roll, deep fried California roll and dragon roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5009">Next</a></li>
</ul>