<% provide :title, 'Opinion Target 8715' %><h2>Malaysian food<br />occurrence: 1</h2><div><ol><li>If you want to have good Malaysian food- I would suggest Gourmet Garden or Restoran Malay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8716">Next</a></li>
</ul>