<% provide :title, 'Opinion Target 5877' %><h2>hot ginger tea and coconut water served<br />occurrence: 1</h2><div><ol><li>Drinks that I recommend include a hot ginger tea and coconut water served in the coconut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5878">Next</a></li>
</ul>