<% provide :title, 'Opinion Target 6163' %><h2>tofu pot<br />occurrence: 1</h2><div><ol><li>The side dishes may not be too diverse but they 're all great for accompanying the purple rice that comes with you bubbling tofu pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6164">Next</a></li>
</ul>