<% provide :title, 'Opinion Target 8939' %><h2>Tosilog ( cured pork<br />occurrence: 1</h2><div><ol><li>My favourite is the Tosilog ( cured pork, fried egg, and veggies) and the Filipino style spaghetti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8938">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8940">Next</a></li>
</ul>