<% provide :title, 'Opinion Target 9610' %><h2>flaky sauce<br />occurrence: 1</h2><div><ol><li>The flaky sauce paired fine with my rice, but the dry chicken was what ruined it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9611">Next</a></li>
</ul>