<% provide :title, 'Opinion Target 4866' %><h2>Salmon fish<br />occurrence: 1</h2><div><ol><li>Salmon fish head and the rock shrimps were crowd pleasers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4865">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4867">Next</a></li>
</ul>