<% provide :title, 'Opinion Target 3102' %><h2>sea bream sushi<br />occurrence: 1</h2><div><ol><li>The sushi chef was nice enough to offer us some sea bream belly sashimi on the house when we re-ordered the sea bream sushi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3103">Next</a></li>
</ul>