<% provide :title, 'Opinion Target 8544' %><h2>potatoes side dish<br />occurrence: 1</h2><div><ol><li>We waited a good 25 minutes for our food to arrive after ordering and when my friend asked for a refill on their awesome potatoes side dish, the waitress gave us the cut eye and threw the dish on our table ( maybe this lady was having a bad day but she was pretty rude).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8543">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8545">Next</a></li>
</ul>