<% provide :title, 'Opinion Target 7323' %><h2>tapioca dessert soup<br />occurrence: 1</h2><div><ol><li>Dessert was watered down red bean and tapioca dessert soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7324">Next</a></li>
</ul>