<% provide :title, 'Opinion Target 3749' %><h2>Korean Ginseng Chicken<br />occurrence: 1</h2><div><ol><li>The Korean Ginseng Chicken was great and was also my highlight.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3750">Next</a></li>
</ul>