<% provide :title, 'Opinion Target 1404' %><h2>ponzu sauce<br />occurrence: 2</h2><div><ol><li>The ponzu sauce was perfect!</li><li>We also ordered the Sesame Ahi Tuna ( $ 14.50)- my taste buds were pleasantly surprised by how well the wasabi cream and ponzu sauce went together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1405">Next</a></li>
</ul>