<% provide :title, 'Opinion Target 3244' %><h2>prix fixe lunch promo<br />occurrence: 1</h2><div><ol><li>I felt like pasta, and Il Fornello had a prix fixe lunch promo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3245">Next</a></li>
</ul>