<% provide :title, 'Opinion Target 5366' %><h2>owner guy<br />occurrence: 1</h2><div><ol><li>The owner guy was not friendly and was on the phone when we first went in ( which is fine), so we take a look at the menus and after he is done on the phone, we place our orders.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5367">Next</a></li>
</ul>