<% provide :title, 'Opinion Target 676' %><h2>plates<br />occurrence: 6</h2><div><ol><li>The staff are very quick to clean up your plates and bring your drinks.</li><li>I do n't mean dumping literarily, but there was no service hospitality, the plates were casually placed on top of other plates!</li><li>The plates are big, came lot of food.</li><li>All the plates were all served hot.</li><li>They do n't come and pick up your plates when the dish is empty.</li><li>The food is often not authentic, and served on really nice plates.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_677">Next</a></li>
</ul>