<% provide :title, 'Opinion Target 3294' %><h2>deep fry beef<br />occurrence: 1</h2><div><ol><li>Thai beef- fresh deep fry beef with their own secret sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3293">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3295">Next</a></li>
</ul>