<% provide :title, 'Opinion Target 6405' %><h2>roasted vegetables<br />occurrence: 1</h2><div><ol><li>We ordered a bunch of appetizers and food for the table ( meats, cheese, pizza, potato, and roasted vegetables) there was a lot of food and it was just ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6406">Next</a></li>
</ul>