<% provide :title, 'Opinion Target 1584' %><h2>garlic potatoes<br />occurrence: 2</h2><div><ol><li>The garlic potatoes are fantastic and you ca n't fault the chicken nor the rice.</li><li>The potatoes are what you expect garlic potatoes to taste like, but better because the outer layer also has that char texture.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1585">Next</a></li>
</ul>