<% provide :title, 'Opinion Target 4544' %><h2>ale pie<br />occurrence: 1</h2><div><ol><li>I tried my boyfriend 's steak &amp; ale pie ... tasty tender beef chunks and really good pie crust.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4543">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4545">Next</a></li>
</ul>