<% provide :title, 'Opinion Target 3895' %><h2>avocado milk shake<br />occurrence: 1</h2><div><ol><li>The finishing touch was the avocado milk shake which definitely put me over the top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3894">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3896">Next</a></li>
</ul>