<% provide :title, 'Opinion Target 7426' %><h2>cheese cloth<br />occurrence: 1</h2><div><ol><li>The sweet potato cappuccino which was offered only for a limited time was not overly sweet and had a fluffy texture though they could have made this better by filtering the sweet potato bits with a cheese cloth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7427">Next</a></li>
</ul>