<% provide :title, 'Opinion Target 4531' %><h2>fish and chips served<br />occurrence: 1</h2><div><ol><li>The fish and chips served here are probably the best in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4532">Next</a></li>
</ul>