<% provide :title, 'Opinion Target 1120' %><h2>avocado rolls<br />occurrence: 3</h2><div><ol><li>My set included california rolls, avocado rolls, and a salmon hand roll.</li><li>They could be a little more generous with the avocado as it is pretty thinly sliced on the avocado rolls, and there 's been a few times where I made my order, it and did n't come.</li><li>The party tray of sashimi does n't come with any radish for eating in between fish, so if that 's important to you ( I had my avocado rolls, so was good), I 'd suspect a dinner platter of some sort might be prepared with that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1121">Next</a></li>
</ul>