<% provide :title, 'Opinion Target 6014' %><h2>oil ladden<br />occurrence: 1</h2><div><ol><li>The one thing to note, was that it was fairly oily, but not as oil ladden and deep friend feeling as Pizza Hut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6013">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6015">Next</a></li>
</ul>