<% provide :title, 'Opinion Target 6240' %><h2>Vegetable Combo Plate<br />occurrence: 1</h2><div><ol><li>For example, the Vegetable Combo Plate ( $ 12) only has 3 tiny falafel balls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6239">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6241">Next</a></li>
</ul>