<% provide :title, 'Opinion Target 1657' %><h2>sushi fish<br />occurrence: 2</h2><div><ol><li>There was pretty much no variety of sushi fish, with only salmon, tuna, red snapper, and shrimp.</li><li>If you are looking for a real authentiic sushi restaurant with great sushi fish, this is the place to go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1658">Next</a></li>
</ul>