<% provide :title, 'Opinion Target 4492' %><h2>Seared Canadian Sea Scallops<br />occurrence: 1</h2><div><ol><li>We started out with the Seared Canadian Sea Scallops ( $ 18) appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4493">Next</a></li>
</ul>