<% provide :title, 'Opinion Target 2769' %><h2>Guinness Steak Pie<br />occurrence: 1</h2><div><ol><li>I ordered the Guinness Steak Pie and I 'm pretty sure it was one of those microwavable meals you get from Loblaws.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2768">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2770">Next</a></li>
</ul>