<% provide :title, 'Opinion Target 9539' %><h2>quail in cranberry sauce<br />occurrence: 1</h2><div><ol><li>I could n't bring myself to finish that thing and drank less than half of this soup. c) 1st course- half de-boned quail in cranberry sauce First of all, my quail was most definitely boned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9540">Next</a></li>
</ul>