<% provide :title, 'Opinion Target 6822' %><h2>Rainbow Rolls<br />occurrence: 1</h2><div><ol><li>The Rainbow Rolls and the Spicy Crab Rolls were not as good as hoped, but the sushi was.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6821">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6823">Next</a></li>
</ul>