<% provide :title, 'Opinion Target 3037' %><h2>pho u<br />occurrence: 1</h2><div><ol><li>The pho u were decent nothing impressive ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3038">Next</a></li>
</ul>