<% provide :title, 'Opinion Target 1302' %><h2>ketchup packets<br />occurrence: 3</h2><div><ol><li>When I asked for ketchup for my 8 big pieces of spicy chicken, she only gave me 2 ketchup packets.</li><li>Please give me my money back because I do n't want my order anymore if you are only going to give me 2 ketchup packets for my 8 big pieces of spicy chicken."</li><li>She got upset and gave me 5 ketchup packets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1303">Next</a></li>
</ul>