<% provide :title, 'Opinion Target 3028' %><h2>beef noodle soup and beef pho<br />occurrence: 1</h2><div><ol><li>I 've been here three times and had spicy beef noodle soup and beef pho.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3029">Next</a></li>
</ul>