<% provide :title, 'Opinion Target 8231' %><h2>kimchi fried rice and kalbi<br />occurrence: 1</h2><div><ol><li>We ordered kimchi fried rice and kalbi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8232">Next</a></li>
</ul>