<% provide :title, 'Opinion Target 3905' %><h2>pancit canton<br />occurrence: 1</h2><div><ol><li>Lechon Kawali ( crispy fried pork), pancit canton ( thick egg noodles w/ veggies in a tasty sauce), beefsteak ( thinly sliced beef w/ onions in a rich sauce) and the best Garlic rice I 've ever had ( think Chinese fried rice w/o all the soy sauce just lots of garlic).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3904">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3906">Next</a></li>
</ul>