<% provide :title, 'Opinion Target 2814' %><h2>coconut ice cream and pineapple juice<br />occurrence: 1</h2><div><ol><li>He blended a few scoops of coconut ice cream and pineapple juice in a blender and sprayed some whipped cream on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2813">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2815">Next</a></li>
</ul>