<% provide :title, 'Opinion Target 4147' %><h2>Uni sushi and seared fish sushi<br />occurrence: 1</h2><div><ol><li>Recommend Uni sushi and seared fish sushi!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4146">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4148">Next</a></li>
</ul>