<% provide :title, 'Opinion Target 5171' %><h2>Taiwanese sausage rice with tea egg<br />occurrence: 1</h2><div><ol><li>I also ordered the Taiwanese sausage rice with tea egg ... the taste is pretty authentic. the service was slow but the waitresses were attentive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5172">Next</a></li>
</ul>