<% provide :title, 'Opinion Target 6572' %><h2>mango icee<br />occurrence: 1</h2><div><ol><li>I had the mango icee and was happy to discover that I got to have both pudding and tapioca in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6571">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6573">Next</a></li>
</ul>