<% provide :title, 'Opinion Target 2669' %><h2>delivery orders<br />occurrence: 1</h2><div><ol><li>Thought this restaurant was a great addition to the area .... unfortunately the take out and delivery orders are hardly ever packed correctly and 9/10 time are missing dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2670">Next</a></li>
</ul>