<% provide :title, 'Opinion Target 2883' %><h2>Persian styled rice<br />occurrence: 1</h2><div><ol><li>I never had Persian styled rice and that was a bit dry but the saffron ( yellow spice) on top of it gave it a very nice flavour and touch to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2882">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2884">Next</a></li>
</ul>