<% provide :title, 'Opinion Target 6749' %><h2>cho<br />occurrence: 1</h2><div><ol><li>If you want to do it Korean style, pay .50 more and get the cho- jang, korean hot sauce for your rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6750">Next</a></li>
</ul>