<% provide :title, 'Opinion Target 1983' %><h2>blood jello<br />occurrence: 2</h2><div><ol><li>It came with square chunks of blood ( blood jello ?) which does n't always come with it at other restos.</li><li>Inside the soup were slices of pork hock and blood jello.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1984">Next</a></li>
</ul>