<% provide :title, 'Opinion Target 5279' %><h2>chicken cutlet with Portuguese sauce<br />occurrence: 1</h2><div><ol><li>On separate visits, I usually order their curry chicken rice, chicken cutlet with Portuguese sauce, and the escargot when I come on different times.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5280">Next</a></li>
</ul>