<% provide :title, 'Opinion Target 1287' %><h2>Western Chinese<br />occurrence: 3</h2><div><ol><li>In general, I 'd say great Western Chinese, ( although I found mini Boc Choi, Chinese Mushroom, Baby corn and Water Chestnuts among the Veggies).</li><li>If Western Chinese is what you 're jonezing for, I highly recommend China Gourmet.</li><li>They have a lot of dishes that were not so familiar with me- I think with the Muslim connection, they 're Western Chinese ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1288">Next</a></li>
</ul>