<% provide :title, 'Opinion Target 1678' %><h2>Spicy Chicken Dinner<br />occurrence: 2</h2><div><ol><li>The Spicy Chicken Dinner is served with a delicious citrus-laced salad and flavourful miso soup to start followed by a platter of skinless, spicy, saucy chicken on a bed of well-seasoned vegetables ( mainly onions).</li><li>I ordered the Spicy Chicken Dinner which comes with salad and white rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1679">Next</a></li>
</ul>