<% provide :title, 'Opinion Target 1697' %><h2>brunch buffet<br />occurrence: 2</h2><div><ol><li>There was a time when they offered an all-you-can-eat brunch buffet for a similar price.</li><li>The brunch buffet has limited choices but it 's not a bad deal if you 're fond of mussels.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1696">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1698">Next</a></li>
</ul>