<% provide :title, 'Opinion Target 4350' %><h2>roasted milk green tea<br />occurrence: 1</h2><div><ol><li>Most of the drinks are available warm as well as cold--perfect for the chilly, rainy spring we 've been having: ( I ordered the roasted milk green tea, as it came highly recommended both on Yelp and by the friend I came with, and it was a great choice for a warm drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4351">Next</a></li>
</ul>