<% provide :title, 'Opinion Target 6538' %><h2>pork slices<br />occurrence: 1</h2><div><ol><li>( My husband was fine) We ordered a bunch of things, the fish flavoured pork slices is the only one he did n't eat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6537">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6539">Next</a></li>
</ul>