<% provide :title, 'Opinion Target 5818' %><h2>tropical fruit waffle<br />occurrence: 1</h2><div><ol><li>My table also sampled brownie crepe, chicken, ham, and tropical fruit waffle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5819">Next</a></li>
</ul>