<% provide :title, 'Opinion Target 1559' %><h2>crab claws<br />occurrence: 2</h2><div><ol><li>App: Blue crap and shrimp cakes ( 2 pieces which resembled the crab claws at Chinese restaurants) were good but I 've had better.</li><li>We had dried oyster, vegetable and lean pork congee ( CAD $ 5.25), fish congee ( CAD $ 4.99), roasted duck and BBQ pork with honey combo ( CAD $ 9.75), Chu-Hau beef brisket ( CAD $ 4.95), stir-fried sticky rice ( CAD $ 5.99), deep-fried crab claws ( CAD $ 5.75), deep-fried shrimp wontons ( CAD $ 5.25), and my be-loved deep-fried sweet cruller ( CAD $ 1.60).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1558">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1560">Next</a></li>
</ul>