<% provide :title, 'Opinion Target 2013' %><h2>spicy salsa<br />occurrence: 2</h2><div><ol><li>The free chips and spicy salsa was too good.</li><li>The spicy salsa added some warmth but does n't blow you away with heat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2014">Next</a></li>
</ul>