<% provide :title, 'Opinion Target 8847' %><h2>salad choices<br />occurrence: 1</h2><div><ol><li>Lots of cold side salad choices like potato salad, macaroni salad, chick peas with octopus, cucumber n tomatoes etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8848">Next</a></li>
</ul>