<% provide :title, 'Opinion Target 679' %><h2>rice noodle rolls<br />occurrence: 5</h2><div><ol><li>They do n't even have rice noodle rolls which is one of my favourite dishes.</li><li>After this was the char-siu rice noodle rolls.</li><li>Tried a variety of dishes including shrimp dumplings, shrimp rolls, rice noodle rolls, and deep fried tofu.</li><li>The dumpling shells and rice noodle rolls were especially well made.</li><li>They have the basic dim sum options like har gow, siu mai, beef short ribs, tripe, curry cuttlefish, rice noodle rolls, ( no chicken feet): ( etc., no fancy twists or changes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_680">Next</a></li>
</ul>