<% provide :title, 'Opinion Target 8801' %><h2>Steamed Beef Ribs<br />occurrence: 1</h2><div><ol><li>Not tender and the skin were tough- Deep fried Shrimp Dumplings though is L but fresh shrimps and not oily even it was fried in oil- Beef Balls- Steamed Beef Ribs- Sai Mui- Steamed bun with Sesame and Egg Yolk ( the to order item in the menu)- Durian Tart !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8802">Next</a></li>
</ul>