<% provide :title, 'Opinion Target 1866' %><h2>food/drinks<br />occurrence: 2</h2><div><ol><li>Not because the food/drinks are amazing but out of convenience.</li><li>Needless to say, after that experience, sometimes I wake up thinking about the taste of pastels whipped cream-_- Service is great and food/drinks are so good !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1865">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1867">Next</a></li>
</ul>