<% provide :title, 'Opinion Target 7304' %><h2>deep fried shrimp wontons<br />occurrence: 1</h2><div><ol><li>We love the seafood superbowl cogee with fried dough fritters, seafood chow mein, fried noodle with beef and bean sprouts, deep fried shrimp wontons, deep fried squid tentacles and yang chow fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7305">Next</a></li>
</ul>