<% provide :title, 'Opinion Target 2324' %><h2>honeycomb cake<br />occurrence: 1</h2><div><ol><li>It is reminiscent of banh bo nuong ( honeycomb cake) from Vietnam.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2325">Next</a></li>
</ul>