<% provide :title, 'Opinion Target 1340' %><h2>lunch deals<br />occurrence: 2</h2><div><ol><li>Like most sushi restaurants they have lunch deals -- which are bento boxes of your typical beef, chicken or salmon teriyaki meat, rice, salad, soup &amp; fried tempera.</li><li>They actually have decent lunch deals.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1341">Next</a></li>
</ul>