<% provide :title, 'Opinion Target 3095' %><h2>ice shaved ice<br />occurrence: 1</h2><div><ol><li>Super yummy ice shaved ice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3096">Next</a></li>
</ul>