<% provide :title, 'Opinion Target 6795' %><h2>venison<br />occurrence: 1</h2><div><ol><li>Anyway, the venison was pretty well-cooked but it 's a tough meat so naturally I found it tough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6794">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6796">Next</a></li>
</ul>