<% provide :title, 'Opinion Target 2105' %><h2>gulab jamun<br />occurrence: 2</h2><div><ol><li>If you like deserts, the gulab jamun is fresh and well made here.</li><li>For dessert try their mango lassi and fried sweet balls ( gulab jamun).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2106">Next</a></li>
</ul>