<% provide :title, 'Opinion Target 3629' %><h2>burger bun ration<br />occurrence: 1</h2><div><ol><li>Not the yucky slices- burger bun ration was a little off- change your meat supplier.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3628">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3630">Next</a></li>
</ul>