<% provide :title, 'Opinion Target 4940' %><h2>lamb with hummus<br />occurrence: 1</h2><div><ol><li>The lamb with hummus is delicious and used to be a good choice, but the price went up to almost $ 20, so stick with the chicken shawarma plate for the carnivores, it 's well seasoned and just crispy enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4941">Next</a></li>
</ul>