<% provide :title, 'Opinion Target 5689' %><h2>Dan<br />occurrence: 1</h2><div><ol><li>2) Dan was a fantastic waiter!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5690">Next</a></li>
</ul>