<% provide :title, 'Opinion Target 7628' %><h2>owner/manager<br />occurrence: 1</h2><div><ol><li>The owner/manager ( never really saw before this month) can be quite rude and does not come to greet you readily.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7629">Next</a></li>
</ul>