<% provide :title, 'Opinion Target 6877' %><h2>black bean noodle appetizer<br />occurrence: 1</h2><div><ol><li>The black bean noodle appetizer is refreshing and tasty, and I love all the lamb dishes they offer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6878">Next</a></li>
</ul>