<% provide :title, 'Opinion Target 5278' %><h2>curry chicken rice<br />occurrence: 1</h2><div><ol><li>On separate visits, I usually order their curry chicken rice, chicken cutlet with Portuguese sauce, and the escargot when I come on different times.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5279">Next</a></li>
</ul>