<% provide :title, 'Opinion Target 5251' %><h2>mashed potato side dish<br />occurrence: 1</h2><div><ol><li>If my taste buds needed a break I would take a bite of the mashed potato side dish ( yummy!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5250">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5252">Next</a></li>
</ul>