<% provide :title, 'Opinion Target 5467' %><h2>cabbage wraps<br />occurrence: 1</h2><div><ol><li>Not a fan of the cabbage wraps, but had a full and satisfying meal:) Staff was really friendly as I asked for more sauce about 3 times and they brought it out quickly!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5468">Next</a></li>
</ul>