<% provide :title, 'Opinion Target 8056' %><h2>salmon and salmon rose<br />occurrence: 1</h2><div><ol><li>Their spicy salmon and salmon rose were much better and consistently made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8057">Next</a></li>
</ul>