<% provide :title, 'Opinion Target 4327' %><h2>food bread<br />occurrence: 1</h2><div><ol><li>Before we ordered our food bread was offered in a plastic bag and in the bag was fruitflies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4326">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4328">Next</a></li>
</ul>