<% provide :title, 'Opinion Target 3153' %><h2>dac biet<br />occurrence: 1</h2><div><ol><li>Anyways, I like ordering the dac biet because it has everything it it from tripe, to beef balls, to tendon etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3154">Next</a></li>
</ul>