<% provide :title, 'Opinion Target 1689' %><h2>Caribbean food<br />occurrence: 2</h2><div><ol><li>Overall pretty good Caribbean food.</li><li>For now I think they serve good Caribbean food for a decent price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1690">Next</a></li>
</ul>