<% provide :title, 'Opinion Target 2590' %><h2>lemon ice cream<br />occurrence: 1</h2><div><ol><li>For dessert, we shared the lemon ice cream, which was light, but substantial, and entirely refreshing, with a crispy, crumbly crust.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2591">Next</a></li>
</ul>