<% provide :title, 'Opinion Target 9504' %><h2>juk<br />occurrence: 1</h2><div><ol><li>Although it appears to be a simple and very casual Chinese restaurant, this place has probably the best juk, noodles, and rice dishes I have eaten in Toronto so far.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9503">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9505">Next</a></li>
</ul>