<% provide :title, 'Opinion Target 7467' %><h2>chocolate crepe<br />occurrence: 1</h2><div><ol><li>We ordered the chocolate crepe and were delighted to find it was tasty and not over sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7468">Next</a></li>
</ul>