<% provide :title, 'Opinion Target 5912' %><h2>green tea icecream<br />occurrence: 1</h2><div><ol><li>I feel like the green tea icecream was so good, it was n't like the typical store brought gt icecream cause it was n't as creamy and i liked how it had the bitterness of the tea which really gave it that homemade taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5913">Next</a></li>
</ul>