<% provide :title, 'Opinion Target 6087' %><h2>fried eggs<br />occurrence: 1</h2><div><ol><li>When my order arrived I had no smoked salmon, my potatoes were cold, I had 2 fried eggs instead of poached, the salsa was smeared on the English muffin, ( not on the side) which made the English muffin incredibly soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6088">Next</a></li>
</ul>