<% provide :title, 'Opinion Target 4028' %><h2>puree<br />occurrence: 1</h2><div><ol><li>The puree was crowned with what appeared to be crunchy fried leek, and eating the two together proved a very happy marriage indeed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4029">Next</a></li>
</ul>