<% provide :title, 'Opinion Target 4713' %><h2>green curry shrimp<br />occurrence: 1</h2><div><ol><li>As my main I had green curry shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4714">Next</a></li>
</ul>