<% provide :title, 'Opinion Target 5056' %><h2>risotto con porcini e profumo di tartufo<br />occurrence: 1</h2><div><ol><li>I ordered the risotto con porcini e profumo di tartufo, or risotto with porcini mushrooms and truffle oil infusion, and was in heaven.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5057">Next</a></li>
</ul>