<% provide :title, 'Opinion Target 8592' %><h2>selection of appetizers<br />occurrence: 1</h2><div><ol><li>There is also a nice selection of appetizers included in the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8593">Next</a></li>
</ul>