<% provide :title, 'Opinion Target 3468' %><h2>MSG baths<br />occurrence: 1</h2><div><ol><li>Not at all the MSG baths served at most Chinese restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3467">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3469">Next</a></li>
</ul>