<% provide :title, 'Opinion Target 1677' %><h2>house salad<br />occurrence: 2</h2><div><ol><li>The house salad was really good; that zesty fresh orange dressing is terrific.</li><li>I had the caesar salad while she had the organic house salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1678">Next</a></li>
</ul>