<% provide :title, 'Opinion Target 1768' %><h2>olive paste<br />occurrence: 2</h2><div><ol><li>Came with bread at the start, with butter, olive paste, and hot pepper sauce.</li><li>Ordered from the date night menu ... not very impressed .. the chicken was very dry had a gross olive paste smothered on it .. the rice was littered with salt and the plate was soaked in soya sauce ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1769">Next</a></li>
</ul>