<% provide :title, 'Opinion Target 3362' %><h2>garlic marinated zucchini<br />occurrence: 1</h2><div><ol><li>My chicken teriyaki came with a small portion of glass noodles, some garlic marinated zucchini, some rice that was slapped into the box, and salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3363">Next</a></li>
</ul>