<% provide :title, 'Opinion Target 1235' %><h2>fettuccine<br />occurrence: 3</h2><div><ol><li>And then we ended up ordering a couple of the daily specials- braised veal with fettuccine and giant pasta shells baked with ricotta cheese and asparagus.</li><li>Then we had a fettuccine in cream sauce and with peas, also a chicken with tomato pasta.</li><li>Both pastas were fantastic, we especially loved the fettuccine, could n't help clearing out all food at once !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1236">Next</a></li>
</ul>