<% provide :title, 'Opinion Target 5410' %><h2>sauteed chinese broccoli<br />occurrence: 1</h2><div><ol><li>My favourites: Shangai noodles, sauteed chinese broccoli and excellent dim sum.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5411">Next</a></li>
</ul>