<% provide :title, 'Opinion Target 4514' %><h2>lady/owner<br />occurrence: 1</h2><div><ol><li>The friendly lady/owner ( ?) came by to speak w/ us on several occasions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4515">Next</a></li>
</ul>