<% provide :title, 'Opinion Target 4357' %><h2>mushy chicken<br />occurrence: 1</h2><div><ol><li>Either way, the mushy chicken was n't fun, so I would n't recommend the roasted chicken leg dinner here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4358">Next</a></li>
</ul>