<% provide :title, 'Opinion Target 6156' %><h2>deep fried chicken burger<br />occurrence: 1</h2><div><ol><li>The lemon chicken was a deep fried chicken burger topped with a drizzle of some mystery lemon sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6157">Next</a></li>
</ul>