<% provide :title, 'Opinion Target 5010' %><h2>seafood connoisseur<br />occurrence: 1</h2><div><ol><li>My boyfriend is a bit of a seafood connoisseur, so after eating crab and lobster a dozen of times at Chinese restaurants, Red Lobster and at home, we decided to go for something different.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5009">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5011">Next</a></li>
</ul>