<% provide :title, 'Opinion Target 6087' %><h2>lamb taste<br />occurrence: 1</h2><div><ol><li>But you have to really like lamb because it does have a lamb taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6088">Next</a></li>
</ul>