<% provide :title, 'Opinion Target 8443' %><h2>Triple Chocolate Brownie<br />occurrence: 1</h2><div><ol><li>I had the Triple Chocolate Brownie, which I found a little bit rich and surprisingly heavy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8444">Next</a></li>
</ul>