<% provide :title, 'Opinion Target 4997' %><h2>charcoal grilled steak<br />occurrence: 1</h2><div><ol><li>We ordered the charcoal grilled steak and it was cooked to perfection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4998">Next</a></li>
</ul>