<% provide :title, 'Opinion Target 8357' %><h2>fried taofu with garlic<br />occurrence: 1</h2><div><ol><li>Oh my ... the fried taofu with garlic ... lovely.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8358">Next</a></li>
</ul>