<% provide :title, 'Opinion Target 2020' %><h2>cream corn<br />occurrence: 2</h2><div><ol><li>This was a good version but probably could have used a bit more cream corn given the large portion of rice.</li><li>The meal comes with complementary 3 flavour vegetables, along with sizzling cream corn.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2019">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2021">Next</a></li>
</ul>