<% provide :title, 'Opinion Target 4419' %><h2>lamb and beef skewers<br />occurrence: 1</h2><div><ol><li>Chicken was a bit dry for me but the lamb and beef skewers were good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4420">Next</a></li>
</ul>