<% provide :title, 'Opinion Target 684' %><h2>sesame oil<br />occurrence: 5</h2><div><ol><li>The seaweed salad is perfectly seasoned with sesame oil and whatever else they use.</li><li>Imagine about 80% of the box was just cabbage and the other 10% cuccumber, carrot, white onion, masago, and sesame oil, and then the fish ontop.</li><li>Has a hint of sesame oil as well.</li><li>They give you hot sauce and sesame oil to add.</li><li>The Korean version is dolled up with loads of sesame oil, pine nuts, garlic, and a farm fresh raw egg ( no bacon or rich creamery butter).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_683">Previous</a></li>
  <li class="next"><a href=".\opinion_target_685">Next</a></li>
</ul>