<% provide :title, 'Opinion Target 3785' %><h2>rice cake shaved ice , mango shaved ice , strawberry shaved ice<br />occurrence: 1</h2><div><ol><li>We decided to share: rice cake shaved ice, mango shaved ice, strawberry shaved ice and finally the sweet potato hot latte.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3786">Next</a></li>
</ul>