<% provide :title, 'Opinion Target 6301' %><h2>moosehead<br />occurrence: 1</h2><div><ol><li>3 guiness, 2 moosehead and an order of sliders, $ 50.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6302">Next</a></li>
</ul>