<% provide :title, 'Opinion Target 4733' %><h2>beef pho noodle soups<br />occurrence: 1</h2><div><ol><li>It has one of the best beef pho noodle soups in town. the prices have gone up in the last little while but still a good value.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4732">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4734">Next</a></li>
</ul>