<% provide :title, 'Opinion Target 5544' %><h2>linguini and white clam sauce<br />occurrence: 1</h2><div><ol><li>I ordered my usual linguini and white clam sauce, not on the menu but they always accommodate me, it was delicious as always.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5543">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5545">Next</a></li>
</ul>