<% provide :title, 'Opinion Target 1147' %><h2>turnips<br />occurrence: 3</h2><div><ol><li>The turnips that they gave her tasted like melted plastic ( actually melted plastic) and her meal was n't even hot either.</li><li>I 'm a big fan of their turnips.</li><li>The turnips were soggy ... the red sauce not evenly coated on each cube.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1146">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1148">Next</a></li>
</ul>