<% provide :title, 'Opinion Target 4230' %><h2>salmon chirashi<br />occurrence: 1</h2><div><ol><li>Took about 15 minutes to prepare our salmon chirashi and a dynamite roll we ordered with with 3 sushi chefs at the front.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4231">Next</a></li>
</ul>