<% provide :title, 'Opinion Target 8314' %><h2>kai lan<br />occurrence: 1</h2><div><ol><li>The kai lan was n't fresh and some of it tasted too bitter, disappointing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8315">Next</a></li>
</ul>