<% provide :title, 'Opinion Target 2136' %><h2>honey<br />occurrence: 2</h2><div><ol><li>For dessert I got the fried bananas and honey.</li><li>The Mississippi Honey flavouring was a saucy combination of honey and barbecue sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2137">Next</a></li>
</ul>