<% provide :title, 'Opinion Target 1738' %><h2>korean ginseng soup<br />occurrence: 2</h2><div><ol><li>Best korean ginseng soup I have tried ...</li><li>Both korean ginseng soup and bibimbap are relatively lighter and more delicate tasting items in my opinion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1739">Next</a></li>
</ul>