<% provide :title, 'Opinion Target 2870' %><h2>roe<br />occurrence: 1</h2><div><ol><li>Delicious wild rice as an accompaniment to the crabs, to sop up the leftover roe and soya sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2869">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2871">Next</a></li>
</ul>