<% provide :title, 'Opinion Target 1408' %><h2>white tuna<br />occurrence: 2</h2><div><ol><li>The white tuna was delicious.</li><li>Sort of a small triangle ... like what ? and the white tuna were in round lil slices ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1409">Next</a></li>
</ul>