<% provide :title, 'Opinion Target 2375' %><h2>crab salad roll<br />occurrence: 2</h2><div><ol><li>I got the crab salad roll with spicy tempura bits, it was spicy and I loved it ... finally sushi that has some kick to it!</li><li>I also got the salmon roll and regular crab salad roll, all very fresh and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2376">Next</a></li>
</ul>