<% provide :title, 'Opinion Target 5633' %><h2>hot pot broths<br />occurrence: 1</h2><div><ol><li>Their hot pot broths are good do n't get me wrong but the service needs alot of work and the other dishes that we ordered were n't so good .. had to ask for water and tea so many times cause they kept forgetting and when I went to go pay the bill I gave a TIP that I thought they deserve but the lady chased me and said your have to TIP 10% of the bill ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5632">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5634">Next</a></li>
</ul>