<% provide :title, 'Opinion Target 7638' %><h2>beer store<br />occurrence: 1</h2><div><ol><li>Its right beside the beer store as well if you 're making a beer run.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7637">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7639">Next</a></li>
</ul>