<% provide :title, 'Opinion Target 1253' %><h2>samgeytang<br />occurrence: 3</h2><div><ol><li>The samgeytang was awesome, nothing like the pork bone soup I so often gorge on.</li><li>The opportunity presented itself and I absolutely had to try the samgeytang ( ginseng chicken soup)!</li><li>The samgeytang was n't salty ( there is salt available for you to add), and I was able to enjoy the delicious ginseng taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1254">Next</a></li>
</ul>