<% provide :title, 'Opinion Target 4402' %><h2>saba mackerel dinner<br />occurrence: 1</h2><div><ol><li>Ordered red dragon roll, tofu soup, saba mackerel dinner, and a bulgogi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4403">Next</a></li>
</ul>