<% provide :title, 'Opinion Target 5309' %><h2>angus burger<br />occurrence: 1</h2><div><ol><li>The angus burger and fries were a steal at $ 5.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5310">Next</a></li>
</ul>