<% provide :title, 'Opinion Target 5470' %><h2>red bean milk tea<br />occurrence: 1</h2><div><ol><li>Got the red bean milk tea- HOT, slight sugar, half tapioca, and small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5471">Next</a></li>
</ul>