<% provide :title, 'Opinion Target 3054' %><h2>Uni sashimi<br />occurrence: 1</h2><div><ol><li>Uni sashimi is very strong but I guess that 's how it is.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3053">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3055">Next</a></li>
</ul>