<% provide :title, 'Opinion Target 5309' %><h2>tempura roll<br />occurrence: 1</h2><div><ol><li>Their rolls are gigantic and their tempura roll is surprisingly tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5310">Next</a></li>
</ul>