<% provide :title, 'Opinion Target 3631' %><h2>wood-fired pizzas<br />occurrence: 1</h2><div><ol><li>Their wood-fired pizzas are delicious, and I 've tried 3 of them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3632">Next</a></li>
</ul>