<% provide :title, 'Opinion Target 5364' %><h2>Artisan<br />occurrence: 1</h2><div><ol><li>I would definitely have given Artisan Noodle a 5 star, if it was n't for the fact that you are expected to wait for quite a long time outside in the harsh, cold Canadian winter. 喜欢他家的biangbiang面 ， 油泼臊子面还有涮三样 ， 刚去吃第一次的时候惊为天人 ， 但多吃几次就觉得也就一般般了 ， 面的油有点多 ， 吃到最后感觉就是泡在油里 ， 不过味道还是蛮好的 ， 以后有机会去陕西吃最正宗的 ！.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5365">Next</a></li>
</ul>