<% provide :title, 'Opinion Target 3352' %><h2>table dishes<br />occurrence: 1</h2><div><ol><li>We are three ppl ordered a full table dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3353">Next</a></li>
</ul>