<% provide :title, 'Opinion Target 5399' %><h2>bun bo Hue place<br />occurrence: 1</h2><div><ol><li>I never tried the other dishes, why try pho in a bun bo Hue place ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5400">Next</a></li>
</ul>