<% provide :title, 'Opinion Target 5548' %><h2>front counter logistics<br />occurrence: 1</h2><div><ol><li>They are clearly working out the front counter logistics and I expect that will get better, but with food this tasty I 'm making this a 5 out of 5.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5549">Next</a></li>
</ul>