<% provide :title, 'Opinion Target 4752' %><h2>Montreal-style smoked meat<br />occurrence: 1</h2><div><ol><li>We both got the Montreal-style smoked meat which seemed to be the favoured sandwich that day and MAN let me tell YOU HOW GOOD THIS WAS.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4753">Next</a></li>
</ul>