<% provide :title, 'Opinion Target 4922' %><h2>pork kebabs<br />occurrence: 1</h2><div><ol><li>The pork kebabs were nice and crisp on the outside and tender on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4923">Next</a></li>
</ul>