<% provide :title, 'Opinion Target 1285' %><h2>seat<br />occurrence: 3</h2><div><ol><li>High chairs a bit hard to sit in as the seat is so high.</li><li>Not many people know about this place so usually you can always get a seat when you come in.</li><li>The place is small seat may be 10 people, take out is available, and all the backing is done on site.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1286">Next</a></li>
</ul>