<% provide :title, 'Opinion Target 7418' %><h2>sesame seed bagel<br />occurrence: 1</h2><div><ol><li>I was there for breakfast, had a friend egg sandwich with tomatoes on a sesame seed bagel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7419">Next</a></li>
</ul>