<% provide :title, 'Opinion Target 1789' %><h2>Chop Suey dishes<br />occurrence: 2</h2><div><ol><li>Two Chop Suey dishes were still crisp and fresh, one with tender beef and the other with tasty Chicken breast slices.</li><li>Chop Suey dishes can steam in the container during travel time making the Sprouts wilt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1790">Next</a></li>
</ul>