<% provide :title, 'Opinion Target 4583' %><h2>sofa seat<br />occurrence: 1</h2><div><ol><li>The sofa seat was dirty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4584">Next</a></li>
</ul>