<% provide :title, 'Opinion Target 4046' %><h2>cheese omelet<br />occurrence: 1</h2><div><ol><li>The sweet-spicy chicken was the best of the bunch while the seafood-scallion pancake, chewy rice cakes in spicy sauce, and cheese omelet were just OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4047">Next</a></li>
</ul>