<% provide :title, 'Opinion Target 8683' %><h2>dinner sized meals<br />occurrence: 1</h2><div><ol><li>For the 4 `` skewers'' /kebobs, it actually was charged as 3 full dinner sized meals, which the waiter did n't make clear.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8684">Next</a></li>
</ul>