<% provide :title, 'Opinion Target 8678' %><h2>ghormeh sabzi<br />occurrence: 1</h2><div><ol><li>The only reason I 'll go back to this place is to try the ghormeh sabzi ( another basic persian food), so that I can add or remove another star from the review! 3.5/5- this place is usually friend and my go to place for Persian food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8679">Next</a></li>
</ul>