<% provide :title, 'Opinion Target 2435' %><h2>games<br />occurrence: 1</h2><div><ol><li>The drinks are cheap, the games are always a playin ' and they have some food specials sometimes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2436">Next</a></li>
</ul>