<% provide :title, 'Opinion Target 9178' %><h2>wait times<br />occurrence: 1</h2><div><ol><li>The wait times are a bit longer than other steak places and they often have poor service due to short staffed shifts during dinner rush.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9179">Next</a></li>
</ul>