<% provide :title, 'Opinion Target 4651' %><h2>Calamari Fritti ( Fried Calamari<br />occurrence: 1</h2><div><ol><li>We debated on whether or not to order the Calamari Fritti ( Fried Calamari), and the waitress surprised us with the dish anyways!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4652">Next</a></li>
</ul>