<% provide :title, 'Opinion Target 4142' %><h2>soup with enoki mushrooms<br />occurrence: 1</h2><div><ol><li>They served us an interested soup with enoki mushrooms in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4143">Next</a></li>
</ul>