<% provide :title, 'Opinion Target 2154' %><h2>Latkes<br />occurrence: 2</h2><div><ol><li>Microwaved Latkes ? ( potato pancakes) Are you kidding me ?</li><li>Also had their steak and eggs breakfast again- latkes were n't up to snuff today, but they were crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2153">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2155">Next</a></li>
</ul>