<% provide :title, 'Opinion Target 1645' %><h2>vinegar<br />occurrence: 2</h2><div><ol><li>It 's a combination of vinegar, chilis, and garlic.</li><li>Spicy Salmon Roll/Salmon/Tuna ( $ 5.99)- 6 pieces of Spicy Salmon roll has quite a bit of salmon and Tempura bites- Salmon and Tuna are both standard- Rice has a good balance of vinegar, nice and bouncy chew ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1646">Next</a></li>
</ul>