<% provide :title, 'Opinion Target 7934' %><h2>hot water<br />occurrence: 1</h2><div><ol><li>The stone pot with the now crispy rice bits and hot water was like a little bonus dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7933">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7935">Next</a></li>
</ul>