<% provide :title, 'Opinion Target 5550' %><h2>garlic scent<br />occurrence: 1</h2><div><ol><li>Upon approaching the restaurant, you can smell the wonderful garlic scent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5551">Next</a></li>
</ul>