<% provide :title, 'Opinion Target 2758' %><h2>veal bibimbap and chicken ginseng soup<br />occurrence: 1</h2><div><ol><li>Come here if you need your Korean food fix! the staff were very friendly and welcoming! delicious raw veal bibimbap and chicken ginseng soup!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2759">Next</a></li>
</ul>