<% provide :title, 'Opinion Target 1774' %><h2>squid ink pasta<br />occurrence: 2</h2><div><ol><li>My only critic is the squid ink pasta is a little too sweet, and the washrooms downstairs could use some dusting.</li><li>The squid ink pasta was homemade, it was very chewy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1775">Next</a></li>
</ul>