<% provide :title, 'Opinion Target 4551' %><h2>peanut sauce Golden curry<br />occurrence: 1</h2><div><ol><li>Could n't really taste the peanut sauce Golden curry with tofu $ 14- came with 6 pieces of tofu, a handful of veggies, very little sauce, and a side of rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4552">Next</a></li>
</ul>