<% provide :title, 'Opinion Target 6369' %><h2>chicken feet<br />occurrence: 1</h2><div><ol><li>Their stew is really good and watch out for their chicken feet, SUPER SPICY ( it 'll be a good challenge to see how many you can have).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6368">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6370">Next</a></li>
</ul>