<% provide :title, 'Opinion Target 3943' %><h2>wood oven pizza<br />occurrence: 1</h2><div><ol><li>Their wood oven pizza is not bad either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3944">Next</a></li>
</ul>