<% provide :title, 'Opinion Target 4555' %><h2>quantity of condiments<br />occurrence: 1</h2><div><ol><li>Whether you order one duck leg or two, the quantity of condiments is the same.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4554">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4556">Next</a></li>
</ul>