<% provide :title, 'Opinion Target 7301' %><h2>butter chicken sauce<br />occurrence: 1</h2><div><ol><li>The butter chicken sauce was delicious but the meat ruined it for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7302">Next</a></li>
</ul>