<% provide :title, 'Opinion Target 1735' %><h2>Shrimp Pad Thai<br />occurrence: 2</h2><div><ol><li>I had a variety of items ... the Shrimp Pad Thai was pretty good, but I personally like mine a little bit more spicy.</li><li>For our meal, we had the crispy beef, shrimp pad thai, and rice with panang curry- all very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1736">Next</a></li>
</ul>