<% provide :title, 'Opinion Target 8968' %><h2>soup & burgers<br />occurrence: 1</h2><div><ol><li>Great soup &amp; burgers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8969">Next</a></li>
</ul>