<% provide :title, 'Opinion Target 6096' %><h2>lamb leg<br />occurrence: 1</h2><div><ol><li>( $ 13) The lamb soup comes loaded with lamb meat, so make sure you scoop from the bottom! ( $ 9) The lamb leg is the only dish I 'd pass on again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6097">Next</a></li>
</ul>