<% provide :title, 'Opinion Target 2499' %><h2>Sushi Moto staff<br />occurrence: 1</h2><div><ol><li>When I return to visit my cousin again, I will also surely frequent again to see The Sushi Moto staff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2500">Next</a></li>
</ul>