<% provide :title, 'Opinion Target 4248' %><h2>citrus fruit<br />occurrence: 1</h2><div><ol><li>It had some sweet from the sauce and citrus fruit, some bulk from the chicken and cashew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4249">Next</a></li>
</ul>