<% provide :title, 'Opinion Target 3583' %><h2>zataar manakeesh<br />occurrence: 1</h2><div><ol><li>They also had a HUGE selection to chose from with regards to entrees and the acwai and zataar manakeesh was SERIOUSLY the best ( I have a severe craving for it RIGHT NOW!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3584">Next</a></li>
</ul>