<% provide :title, 'Opinion Target 6677' %><h2>green lemonade drinks<br />occurrence: 1</h2><div><ol><li>Plus they provided me with one of their speciality green lemonade drinks ON THE HOUSE- an unexpected surprise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6678">Next</a></li>
</ul>