<% provide :title, 'Opinion Target 6829' %><h2>Food preparation areas<br />occurrence: 1</h2><div><ol><li>Food preparation areas appears clean and tidy and the one waitress working at lunch was friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6830">Next</a></li>
</ul>