<% provide :title, 'Opinion Target 2767' %><h2>herb<br />occurrence: 1</h2><div><ol><li>The small chicken was stuffed with glutinous rice and herbs and was served in a stone bowl with the herb and ginseng soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2768">Next</a></li>
</ul>