<% provide :title, 'Opinion Target 6536' %><h2>rice noodle with beef and black bean sauce with vegetables<br />occurrence: 1</h2><div><ol><li>I always order seafood and bean curd soup, BBQ pork rice noodle rolls, Cantonese chow mein, rice noodle with beef and black bean sauce with vegetables and spicy fries squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6535">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6537">Next</a></li>
</ul>