<% provide :title, 'Opinion Target 8732' %><h2>quality green tea<br />occurrence: 1</h2><div><ol><li>The kimchi was delicious, fish was fresh and nicely cut and they served a good quality green tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8733">Next</a></li>
</ul>