<% provide :title, 'Opinion Target 9107' %><h2>dumpling shells<br />occurrence: 1</h2><div><ol><li>The dumpling shells and rice noodle rolls were especially well made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9108">Next</a></li>
</ul>