<% provide :title, 'Opinion Target 1963' %><h2>seatings<br />occurrence: 2</h2><div><ol><li>I would suggest coming at the right time as seatings are very limited in there.</li><li>The place is very small so limited seatings while being very popular.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1962">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1964">Next</a></li>
</ul>