<% provide :title, 'Opinion Target 6031' %><h2>jerk staff<br />occurrence: 1</h2><div><ol><li>The jerk staff always mess up the order, I asked for spicy chicken and they load it with sweet and sour sauce ... I ask for large fries they give me small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6032">Next</a></li>
</ul>