<% provide :title, 'Opinion Target 3354' %><h2>bean jelly<br />occurrence: 1</h2><div><ol><li>What I love most about this was, in addition to the typical vegetables ( carrots, bean sprouts and spinach), it was topped off with Korean green bean jelly- Very unique and tasty!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3355">Next</a></li>
</ul>