<% provide :title, 'Opinion Target 1635' %><h2>Hot foods<br />occurrence: 2</h2><div><ol><li>Hot foods are pretty good on the most part.</li><li>The hot foods were OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1634">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1636">Next</a></li>
</ul>