<% provide :title, 'Opinion Target 1648' %><h2>breakfast special<br />occurrence: 2</h2><div><ol><li>The breakfast special is cheap, and always delicious and top notch.</li><li>The breakfast special is priced very well ( especially before 11am for 4.99) however the menu is a but on the pricey side for a diner. the food quality and taste, did however make up for this. its a great little place to pop into for a more gourmet style diner food experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1649">Next</a></li>
</ul>