<% provide :title, 'Opinion Target 8230' %><h2>mixed veggies and chicken broth<br />occurrence: 1</h2><div><ol><li>I forget the name of my entree but it read noodles, mixed veggies and chicken broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8231">Next</a></li>
</ul>