<% provide :title, 'Opinion Target 6047' %><h2>private room<br />occurrence: 1</h2><div><ol><li>We were seated between the lone other occupied table and a loud private room where a large group was finishing what appeared to be a cross between a business meeting and late lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6046">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6048">Next</a></li>
</ul>