<% provide :title, 'Opinion Target 1920' %><h2>penne pomodoro<br />occurrence: 2</h2><div><ol><li>We ordered carbonara linguine, penne pomodoro, and a caesar salad.</li><li>The penne pomodoro was excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1919">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1921">Next</a></li>
</ul>