<% provide :title, 'Opinion Target 8696' %><h2>smoked cheddar cheese<br />occurrence: 1</h2><div><ol><li>The staff seem very eager to please- they gave me extra premium toppings due to a slight mix-up ... so now I 'm a big fan of the smoked cheddar cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8697">Next</a></li>
</ul>