<% provide :title, 'Opinion Target 1013' %><h2>chicken wrap<br />occurrence: 3</h2><div><ol><li>I had a chicken wrap last night and it was more lettuce than chicken.</li><li>I had the chicken wrap.</li><li>The first time I came here I ordered the chicken wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1014">Next</a></li>
</ul>