<% provide :title, 'Opinion Target 1533' %><h2>beef tendons<br />occurrence: 2</h2><div><ol><li>I ordered their pho with well done beef and beef tendons.</li><li>The tuna was very rough and I felt like I was chewing beef tendons.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1534">Next</a></li>
</ul>