<% provide :title, 'Opinion Target 2827' %><h2>lamb shish kebob<br />occurrence: 1</h2><div><ol><li>We ordered have had almost all they had on their menu, my favorite nontheless is their chicken and lamb shish kebob.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2828">Next</a></li>
</ul>