<% provide :title, 'Opinion Target 5285' %><h2>beef slices<br />occurrence: 1</h2><div><ol><li>Food: The selection is pretty standard, a lot of fish balls, vegetables, lamb, beef slices and a seafood option that includes 1/2 lobster.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5286">Next</a></li>
</ul>