<% provide :title, 'Opinion Target 6122' %><h2>grilled chicken sushi maki<br />occurrence: 1</h2><div><ol><li>My friend 's House D combo had this weird grilled chicken sushi maki; however, she said it was okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6123">Next</a></li>
</ul>