<% provide :title, 'Opinion Target 7273' %><h2>cake stir fry egg thingy<br />occurrence: 1</h2><div><ol><li>Order the Turnip/daikon cake stir fry egg thingy too .. amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7274">Next</a></li>
</ul>