<% provide :title, 'Opinion Target 1074' %><h2>lines<br />occurrence: 3</h2><div><ol><li>The lines are intimidating, and they never seem to end.</li><li>It 's clean, nice colors, nice modern lines.</li><li>The lines were busy, but did n't take terribly long.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1075">Next</a></li>
</ul>