<% provide :title, 'Opinion Target 1414' %><h2>price tag<br />occurrence: 2</h2><div><ol><li>Food was mediocre, kind of looked fancy, but it was not worth the price tag after 30 minutes of waiting for the first dish.</li><li>All in all, it was a decent meal for the $ 35 price tag.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1413">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1415">Next</a></li>
</ul>