<% provide :title, 'Opinion Target 3709' %><h2>mango chilli salsa<br />occurrence: 1</h2><div><ol><li>The Calamarri alla Griglia was cooked perfectly and served with a lovely mango chilli salsa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3710">Next</a></li>
</ul>