<% provide :title, 'Opinion Target 6995' %><h2>Peking Duck Special , Lobster fried in salt and pepper<br />occurrence: 1</h2><div><ol><li>A family of five orders the following for dinner: Bamboo and Dried Scallop Soup, Deep-fried Soft Shell Crab, Peking Duck Special, Lobster fried in salt and pepper, and Shanghai Noodles with beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6996">Next</a></li>
</ul>