<% provide :title, 'Opinion Target 1624' %><h2>pies<br />occurrence: 2</h2><div><ol><li>We bought home 3 other pies- Chicken, Minced beef and Steak and Ale.</li><li>Looking around at other peoples food both the fish and pies also looked very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1625">Next</a></li>
</ul>