<% provide :title, 'Opinion Target 4006' %><h2>slushies and taro milk tea<br />occurrence: 1</h2><div><ol><li>Their slushies and taro milk tea are n't the best ( depends which employee makes it to be honest) Gonna have to try out their food from all these reviews!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4007">Next</a></li>
</ul>