<% provide :title, 'Opinion Target 5524' %><h2>Ossobuco<br />occurrence: 1</h2><div><ol><li>My friend got the recommended Ossobuco Panino. braised veal, caramelized onions, arugula and cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5525">Next</a></li>
</ul>