<% provide :title, 'Opinion Target 1707' %><h2>shrimp wontons<br />occurrence: 2</h2><div><ol><li>The shrimp wontons were incredible and had bits of mushroom in it as well.</li><li>For 4 large shrimp wontons ( the size of golf balls, de-veined shrimp) with the noodles and soup, $ 4.50!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1708">Next</a></li>
</ul>