<% provide :title, 'Opinion Target 2656' %><h2>main customers<br />occurrence: 1</h2><div><ol><li>Their main customers are Korean so no reviewer should be critical of their English.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2657">Next</a></li>
</ul>