<% provide :title, 'Opinion Target 5276' %><h2>styles of table cooking<br />occurrence: 1</h2><div><ol><li>I saw bigger groups ordering various styles of table cooking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5277">Next</a></li>
</ul>