<% provide :title, 'Opinion Target 5776' %><h2>crepe dish<br />occurrence: 1</h2><div><ol><li>It 's a really simple crepe dish topped with sweet potato ice cream, syrup, icing sugar, almonds and whipped cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5777">Next</a></li>
</ul>