<% provide :title, 'Opinion Target 4170' %><h2>olive tomatoes<br />occurrence: 1</h2><div><ol><li>Yellow ones, grape tomatoes, and the ultimate tomato taste: kumato! ( If you see brownish olive tomatoes at the supermarket and labelled kumato, grab ' em fast &amp; try' em--sweet nirvana in your sandwich!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4171">Next</a></li>
</ul>