<% provide :title, 'Opinion Target 6245' %><h2>combination tofu<br />occurrence: 1</h2><div><ol><li>Also, the combination tofu is described as having beef, shrimp and mussel ( sic) and as we joked, they were very accurate in their description.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6246">Next</a></li>
</ul>