<% provide :title, 'Opinion Target 4877' %><h2>grilled ribs<br />occurrence: 1</h2><div><ol><li>They even replaced a plate for us when we saw overly grilled ribs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4878">Next</a></li>
</ul>