<% provide :title, 'Opinion Target 4400' %><h2>rice wine vinegar dressed green salad<br />occurrence: 1</h2><div><ol><li>The chirashi, ( $ 14.95) served with an appetizing little rice wine vinegar dressed green salad and fresh tofu miso soup, was the most unique and creative I 've had ... well, ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4401">Next</a></li>
</ul>