<% provide :title, 'Opinion Target 5589' %><h2>dol soht bibimbap<br />occurrence: 1</h2><div><ol><li>The dol soht bibimbap was alright, there was a good amount of veggies in the dish, but it was n't hot enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5590">Next</a></li>
</ul>