<% provide :title, 'Opinion Target 4197' %><h2>rice/half potatoes<br />occurrence: 1</h2><div><ol><li>Clearly their specialty is in take-out, the server is rarely in sight ( in a small store) and did n't remember customizations ( eg. we were asked if we wanted all potatoes, or half rice/half potatoes, and everyone got half/half).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4198">Next</a></li>
</ul>