<% provide :title, 'Opinion Target 5712' %><h2>fiesta wrap<br />occurrence: 1</h2><div><ol><li>Also, the new summer fiesta wrap is amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5713">Next</a></li>
</ul>