<% provide :title, 'Opinion Target 7340' %><h2>beef lo-mein<br />occurrence: 1</h2><div><ol><li>I had the wonton soup which had a few nice hunks of pork in it- and then followed up with a beef lo-mein.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7341">Next</a></li>
</ul>