<% provide :title, 'Opinion Target 6351' %><h2>Perogy burger<br />occurrence: 1</h2><div><ol><li>The Perogy burger was really good, the missus kept talking about it a few days after the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6352">Next</a></li>
</ul>