<% provide :title, 'Opinion Target 7293' %><h2>fish green beans and fried chili turnip patties<br />occurrence: 1</h2><div><ol><li>We decided to order the supreme super bowl congee, cantonese chow mein, three kinds stuffed vegetables ( eggplant, tofu and green pepper), minced pork and dried fish green beans and fried chili turnip patties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7294">Next</a></li>
</ul>