<% provide :title, 'Opinion Target 3122' %><h2>tataki roll<br />occurrence: 1</h2><div><ol><li>We ordered the calamari, tataki roll, beautiful roll and a miso soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3123">Next</a></li>
</ul>