<% provide :title, 'Opinion Target 1372' %><h2>crumbs<br />occurrence: 3</h2><div><ol><li>Loved the custard with cookie/cake crumbs and assorted ice creams!</li><li>Tasteless cardboard crust with burned crumbs/ debris under it.</li><li>We said okay no problem, THEN another 15 minutes later we get our cucumber maki roll and the plate was DIRTY, oily, had fish pieces and mystery crumbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1373">Next</a></li>
</ul>