<% provide :title, 'Opinion Target 1646' %><h2>price pizza<br />occurrence: 2</h2><div><ol><li>Over all I recoment this place specially on Tuesday as they have half price pizza and they rose pizza.</li><li>Buy any medium or large pizza and get the 2nd, 3rd, and 4th medium $ 5 ( equal or lesser value to the full price pizza).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1647">Next</a></li>
</ul>