<% provide :title, 'Opinion Target 7526' %><h2>nutella ice cream crepe<br />occurrence: 1</h2><div><ol><li>I remember sharing a nutella ice cream crepe with my friend the first time here and it was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7527">Next</a></li>
</ul>