<% provide :title, 'Opinion Target 5137' %><h2>fried dough<br />occurrence: 1</h2><div><ol><li>The congee was thick and not watery, the rice noodles had the wok flame taste and the fried dough was hot and crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5138">Next</a></li>
</ul>