<% provide :title, 'Opinion Target 9394' %><h2>Southern Chinese cuisines<br />occurrence: 1</h2><div><ol><li>At any busy evening there are 30 chefs in the kitchen woking up seriously delicious Southern Chinese cuisines, there is never a long wait for food, and the consistency of quality is perhaps the reason why this location has thrived since inception.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9395">Next</a></li>
</ul>