<% provide :title, 'Opinion Target 3279' %><h2>straciatella soup<br />occurrence: 1</h2><div><ol><li>I had the straciatella soup and spouse had the minestrone.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3280">Next</a></li>
</ul>