<% provide :title, 'Opinion Target 3355' %><h2>soup bases<br />occurrence: 1</h2><div><ol><li>I find that their soup bases are blander than a lot of places downtown but maybe it 's just more authentic that way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3356">Next</a></li>
</ul>