<% provide :title, 'Opinion Target 6242' %><h2>bulgogi soup pot thing<br />occurrence: 1</h2><div><ol><li>My daughter 's bulgogi soup pot thing was too sweet and she ate one bite and no more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6241">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6243">Next</a></li>
</ul>