<% provide :title, 'Opinion Target 3532' %><h2>Korean style raw crab<br />occurrence: 1</h2><div><ol><li>Btw, this restaurant is also well known for their legit Korean style raw crab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3533">Next</a></li>
</ul>