<% provide :title, 'Opinion Target 3343' %><h2>aburi sushi<br />occurrence: 1</h2><div><ol><li>It comes with 3 pieces of the aburi sushi which is a very nice surprise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3344">Next</a></li>
</ul>