<% provide :title, 'Opinion Target 1842' %><h2>Chicken Cobb salad<br />occurrence: 2</h2><div><ol><li>The Chicken Cobb salad has all the components of a good salad with fresh ingredients, complementary dressing ( this one had a bit of a kick from a hint of mustard) and filled my tummy up.</li><li>I had the chicken cobb salad ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1843">Next</a></li>
</ul>