<% provide :title, 'Opinion Target 9666' %><h2>BBQ 'd seabass<br />occurrence: 1</h2><div><ol><li>Worth mentioning- the BBQ 'd seabass here is excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9667">Next</a></li>
</ul>