<% provide :title, 'Opinion Target 1292' %><h2>vermicelli dishes<br />occurrence: 3</h2><div><ol><li>I did try their rice and vermicelli dishes and that 's where the differences become more apparent.</li><li>I enjoy the durian shakes, as well as the various vermicelli dishes.</li><li>Large menu with not only lots of pho, but good choices of vermicelli dishes ( bun) and rice dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1291">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1293">Next</a></li>
</ul>