<% provide :title, 'Opinion Target 6750' %><h2>ayam<br />occurrence: 1</h2><div><ol><li>The Naan bread that came with the ayam was a warm and welcome reprieve from the cold outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6751">Next</a></li>
</ul>