<% provide :title, 'Opinion Target 1252' %><h2>Asian food<br />occurrence: 3</h2><div><ol><li>It 's good Asian food at a decent price ( ~ $ 15 incl tax &amp; tip).</li><li>Personally I need to go outside of Thornhill to get good Asian food haha.</li><li>Must try if you are hungry and Asian food is on your mind!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1253">Next</a></li>
</ul>