<% provide :title, 'Opinion Target 7063' %><h2>dim sum options<br />occurrence: 1</h2><div><ol><li>They have the basic dim sum options like har gow, siu mai, beef short ribs, tripe, curry cuttlefish, rice noodle rolls, ( no chicken feet): ( etc., no fancy twists or changes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7064">Next</a></li>
</ul>