<% provide :title, 'Opinion Target 3605' %><h2>seafood pizza<br />occurrence: 1</h2><div><ol><li>We end up ordering two pizzas, my wife ordered the one with pepperoni and roasted mushrooms and red peppers, while I ordered the seafood pizza ( with shrimps, scallops, and fake crab).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3604">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3606">Next</a></li>
</ul>