<% provide :title, 'Opinion Target 3056' %><h2>kung pao chicken<br />occurrence: 1</h2><div><ol><li>I tried the kung pao chicken, mapo tofu, hot boiling fish and their house fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3057">Next</a></li>
</ul>