<% provide :title, 'Opinion Target 1062' %><h2>grilled fish<br />occurrence: 4</h2><div><ol><li>Everything on the menu is great ... although I would be careful with the grilled fish.</li><li>I ordered the grilled fish in a banana leaf.</li><li>We both had the grilled fish which kept us going `` om nom nom'', but the cake was sadly dry and a great meal should always be highlighted by a yummy dessert ( IMO).</li><li>Tried cow ribs soup ( so small), grilled fish ( I swear the fish weights less than 0.5lb), and rice sausage ( flavour was bland, no seasoning) Not coming here again that 's for sure.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1063">Next</a></li>
</ul>