<% provide :title, 'Opinion Target 5084' %><h2>Beef Ho Fun ( black bean wet rice noodles<br />occurrence: 1</h2><div><ol><li>Canton Chow Mein, Soft Shell crab fried rice, Beef Ho Fun ( black bean wet rice noodles), spicy calamari, a side of steamed garlic veg, and spicy fried taro, had us stuffed at `` siew yeah'' ( Late night dinner/snack).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5085">Next</a></li>
</ul>