<% provide :title, 'Opinion Target 6331' %><h2>smoked salmon sammiches<br />occurrence: 1</h2><div><ol><li>$ 11 mediocre smoked salmon sammiches ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6330">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6332">Next</a></li>
</ul>