<% provide :title, 'Opinion Target 2075' %><h2>dim sum items<br />occurrence: 2</h2><div><ol><li>Here 's what to expect:- Standard ' fast' dim sum items were served absolutely piping hot and fresh.</li><li>They have lunch specials, very reasonable pricing here- On Saturday, my mum and I ordered a mix of dim sum items and lunch specials- Lunch A w Lemon Chicken ( $ 10) + Pan fried pork dumplings + Peanut dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2074">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2076">Next</a></li>
</ul>