<% provide :title, 'Opinion Target 1764' %><h2>berries<br />occurrence: 2</h2><div><ol><li>There 's an option for Cora 's `` Ode to Oatmeal'' which is topped with granola, berries, maple syrup and English cream--a little too heavy for my tastes.</li><li>Ice cream was not too sweet, crepe filling was delicious with bits of cake, berries and whipped cream. all the while not overly heavy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1765">Next</a></li>
</ul>