<% provide :title, 'Opinion Target 8028' %><h2>bubble tea drinks<br />occurrence: 1</h2><div><ol><li>I noticed a lot of people had bubble tea drinks they brought in from other places, so they seem to be ok with people bringing in outside drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8029">Next</a></li>
</ul>