<% provide :title, 'Opinion Target 5663' %><h2>cast iron skillet of corn<br />occurrence: 1</h2><div><ol><li>Picking just a basket of fried chicken, regardless of small or large, will have you starting your meal with a sizzling foil-lined cast iron skillet of corn.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5664">Next</a></li>
</ul>