<% provide :title, 'Opinion Target 2451' %><h2>black pepper beef<br />occurrence: 2</h2><div><ol><li>Tried the black pepper beef, general Tao chicken with coconut rice on the side.</li><li>It 's essentially a cheap Chinese buffet ( you know, sweet and sour chicken, black pepper beef and other things you' ld only eat after 3 beers) that happens to have goat curry and plain roti available.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2450">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2452">Next</a></li>
</ul>