<% provide :title, 'Opinion Target 3386' %><h2>lula kebab<br />occurrence: 1</h2><div><ol><li>I think lula kebab, rack of lamb, chicken kebab is the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3387">Next</a></li>
</ul>