<% provide :title, 'Opinion Target 6082' %><h2>cumin lamb on toothpicks<br />occurrence: 1</h2><div><ol><li>They were really salty, and also a LOT of fat pieces ( in fact, there was more fat than meat)- cumin lamb on toothpicks was delicious as expected Will definitely be back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6081">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6083">Next</a></li>
</ul>