<% provide :title, 'Opinion Target 5350' %><h2>thai soup<br />occurrence: 1</h2><div><ol><li>I told him nicely, `` we just want to try your thai soup, its not dinner time, and plus your place is empty:)''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5351">Next</a></li>
</ul>