<% provide :title, 'Opinion Target 5784' %><h2>dessert uptown<br />occurrence: 1</h2><div><ol><li>When people ask me where to have dessert uptown, I immediately whisper pastel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5785">Next</a></li>
</ul>