<% provide :title, 'Opinion Target 4887' %><h2>served hot tea<br />occurrence: 1</h2><div><ol><li>As soon as we walked in we were seated and immediately served hot tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4886">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4888">Next</a></li>
</ul>