<% provide :title, 'Opinion Target 7315' %><h2>Oyster Dices<br />occurrence: 1</h2><div><ol><li>Chiu Chow Congee ( Dried Fish, Oyster Dices, Minced Pork) although not flavourful soup as others, it also means less saltiness which is a positive comment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7316">Next</a></li>
</ul>