<% provide :title, 'Opinion Target 6222' %><h2>chicken shawarma plate with rice<br />occurrence: 1</h2><div><ol><li>For main I ordered a chicken kebob with tabule instead of rice, my friend had the chicken shawarma plate with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6223">Next</a></li>
</ul>