<% provide :title, 'Opinion Target 6226' %><h2>lamb kebob<br />occurrence: 1</h2><div><ol><li>Love the lamb kebob, shawarma &amp; chicken combo platters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6227">Next</a></li>
</ul>