<% provide :title, 'Opinion Target 7200' %><h2>stars<br />occurrence: 1</h2><div><ol><li>My reason for such little stars was the upon asking for the bill I had requested a box for my rice cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7201">Next</a></li>
</ul>