<% provide :title, 'Opinion Target 6045' %><h2>soda<br />occurrence: 1</h2><div><ol><li>Chicken/pork/goat lunch special cost $ 7.25 with a free soda.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6046">Next</a></li>
</ul>