<% provide :title, 'Opinion Target 7255' %><h2>boneless fried chicken with green onions<br />occurrence: 1</h2><div><ol><li>We ordered the boneless fried chicken with green onions ( S), fried chicken in spicy sauce ( S), and fries ( Costco like fries!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7256">Next</a></li>
</ul>