<% provide :title, 'Opinion Target 5916' %><h2>batter seasoning<br />occurrence: 1</h2><div><ol><li>It was battered like KFC except there is just a hint of Chinese Five Spice in the batter seasoning.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5917">Next</a></li>
</ul>