<% provide :title, 'Opinion Target 2713' %><h2>pizza toppings<br />occurrence: 1</h2><div><ol><li>Are the pizza toppings awesome ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2714">Next</a></li>
</ul>