<% provide :title, 'Opinion Target 2888' %><h2>turnip pickles<br />occurrence: 1</h2><div><ol><li>Reason being more than half of it is healthy veggies and salads including my favorite beet and turnip pickles!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2889">Next</a></li>
</ul>