<% provide :title, 'Opinion Target 5290' %><h2>Chinese French Toast<br />occurrence: 1</h2><div><ol><li>Their sandwiches and Chinese French Toast are not bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5289">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5291">Next</a></li>
</ul>