<% provide :title, 'Opinion Target 2392' %><h2>roast pike<br />occurrence: 1</h2><div><ol><li>I said `` ok then I want a tall medium roast pike''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2391">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2393">Next</a></li>
</ul>