<% provide :title, 'Opinion Target 7955' %><h2>bulgolgi soup<br />occurrence: 1</h2><div><ol><li>I went with a bulgolgi soup which was served with an assortment of pickled fixings on the side including my fave, kim chi, as well as spouts, beans, and others.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7956">Next</a></li>
</ul>