<% provide :title, 'Opinion Target 9223' %><h2>chicken finger<br />occurrence: 1</h2><div><ol><li>I got the dinner version because it comes with coleslaw, an extra chicken finger, and garlic bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9224">Next</a></li>
</ul>