<% provide :title, 'Opinion Target 1674' %><h2>beef with garlic<br />occurrence: 2</h2><div><ol><li>The beef with garlic was laughable.</li><li>First, the beef with garlic is not as good as the ones made at Tenichi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1675">Next</a></li>
</ul>