<% provide :title, 'Opinion Target 5461' %><h2>fried pork cutlets<br />occurrence: 1</h2><div><ol><li>Then, we had an assortment of dishes including fried pork cutlets, fried green beans, tofu, beef and onion, Chicken with sprinkled garlic and for me, vegetarian dumplings ( but no meat).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5462">Next</a></li>
</ul>