<% provide :title, 'Opinion Target 2207' %><h2>black bean noodle dish<br />occurrence: 1</h2><div><ol><li>When I compared the supposedly `` handmade'' noodles to the black bean noodle dish, the noodles in both dishes were the same- not handmade at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2208">Next</a></li>
</ul>