<% provide :title, 'Opinion Target 6352' %><h2>lobster dinners<br />occurrence: 1</h2><div><ol><li>As others have mentioned, all lobster dinners ( the only dinners with which I have any familiarity) start with the choice of starter and the amazing garlic bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6353">Next</a></li>
</ul>