<% provide :title, 'Opinion Target 7753' %><h2>sushi bar chefs<br />occurrence: 1</h2><div><ol><li>The owner is pretty savage guy and servers, sushi bar chefs all very rude and pretty shitty overall.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7754">Next</a></li>
</ul>