<% provide :title, 'Opinion Target 6298' %><h2>burger & onion rings.<br />occurrence: 1</h2><div><ol><li>I ended up having a burger &amp; onion rings. both of which were really tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6297">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6299">Next</a></li>
</ul>