<% provide :title, 'Opinion Target 4066' %><h2>schnitzel dinner<br />occurrence: 1</h2><div><ol><li>Depending on how hungry you are, one schnitzel dinner might be enough for two people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4065">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4067">Next</a></li>
</ul>