<% provide :title, 'Opinion Target 1326' %><h2>salad dressings<br />occurrence: 2</h2><div><ol><li>Their salad dressings are incredible, and I 'm pretty sure they sell them in big bottles to take home.</li><li>As with other halal places, you get your choice of tzatziki, tahini, hot sauce, and salad dressings to pour on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1327">Next</a></li>
</ul>