<% provide :title, 'Opinion Target 2918' %><h2>jo construction meal<br />occurrence: 1</h2><div><ol><li>Also love the jo construction meal!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2919">Next</a></li>
</ul>