<% provide :title, 'Opinion Target 4408' %><h2>seater sushi bar<br />occurrence: 1</h2><div><ol><li>Being in a hurry we approached the 4 seater sushi bar only to discover that it was covered in take-out orders and prep work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4409">Next</a></li>
</ul>