<% provide :title, 'Opinion Target 1073' %><h2>kimchi jjigae<br />occurrence: 4</h2><div><ol><li>The kimchi jjigae was up to snuff with the other joints ( Bok Chang Soon Tofu, Bulgogee House) but, sadly, no purple rice!</li><li>We ordered 2 seafood soontufus and 1 kimchi jjigae.</li><li>We ordered kimchi jjigae ( kimchi soup), toboki and Kamja tang ( pork bone soup) Toboki is sweeter here not that spicy but still pretty good The portion here are smaller, and they only provide four side dishes.</li><li>I come here at least twice a month, every time time I come here I get the kimchi jjigae.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1074">Next</a></li>
</ul>