<% provide :title, 'Opinion Target 7752' %><h2>sashimi/sushi boat<br />occurrence: 1</h2><div><ol><li>Good- convenient location, great sashimi, their dinner for 2 menu and sashimi/sushi boat are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7753">Next</a></li>
</ul>