<% provide :title, 'Opinion Target 2491' %><h2>sirloin beef<br />occurrence: 1</h2><div><ol><li>My sirloin beef wasnt even warm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2490">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2492">Next</a></li>
</ul>