<% provide :title, 'Opinion Target 6989' %><h2>pouched eggs<br />occurrence: 1</h2><div><ol><li>Their hollandaise sauce and the pouched eggs are nicely done.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6990">Next</a></li>
</ul>