<% provide :title, 'Opinion Target 6258' %><h2>cream cheese with green onions<br />occurrence: 1</h2><div><ol><li>What I got was a bagel and cream cheese with green onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6259">Next</a></li>
</ul>