<% provide :title, 'Opinion Target 5780' %><h2>yellow curry shrimp and green curry chicken<br />occurrence: 1</h2><div><ol><li>We ordered meal potions, we had yellow curry shrimp and green curry chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5779">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5781">Next</a></li>
</ul>