<% provide :title, 'Opinion Target 4809' %><h2>hand-made lamb noodle soup<br />occurrence: 1</h2><div><ol><li>I ordered the hand-made lamb noodle soup, and the lamb was just a perfect combination of fatty and meaty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4810">Next</a></li>
</ul>