<% provide :title, 'Opinion Target 1764' %><h2>Seafood green onion pancake<br />occurrence: 2</h2><div><ol><li>Seafood hot pot, $ 25.99 Jajiangmyeon ( black bean noodle soup), $ 15.99 Japchae, $ 15.99 Seafood green onion pancake, about $ 15 The noodle dishes: Both noodle dishes were probably the best tasting I 've ever had.</li><li>The seafood green onion pancake was good, but not sure if it 's worth the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1765">Next</a></li>
</ul>