<% provide :title, 'Opinion Target 4355' %><h2>QQ milk tea<br />occurrence: 1</h2><div><ol><li>The QQ milk tea was awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4356">Next</a></li>
</ul>