<% provide :title, 'Opinion Target 7473' %><h2>vegetable pakora<br />occurrence: 1</h2><div><ol><li>The vegetable pakora looked very unusual.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7474">Next</a></li>
</ul>