<% provide :title, 'Opinion Target 3770' %><h2>MSG meter<br />occurrence: 1</h2><div><ol><li>My MSG meter was closer to medium than to light.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3769">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3771">Next</a></li>
</ul>