<% provide :title, 'Opinion Target 6731' %><h2>servant<br />occurrence: 1</h2><div><ol><li>However, the servant was very rude.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6732">Next</a></li>
</ul>