<% provide :title, 'Opinion Target 5891' %><h2>furniture<br />occurrence: 1</h2><div><ol><li>Some of the seating also makes you feel like you 're trapped in a prison cell with the way the furniture is shaped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5890">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5892">Next</a></li>
</ul>