<% provide :title, 'Opinion Target 3833' %><h2>Korean ice shaved dessert ( bingsoo<br />occurrence: 1</h2><div><ol><li>I came here for one thing and that is the Korean ice shaved dessert ( bingsoo).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3834">Next</a></li>
</ul>