<% provide :title, 'Opinion Target 2195' %><h2>labneh<br />occurrence: 2</h2><div><ol><li>The veggie platter has labneh ( pressed yogurt), baba ghanoush, hummus, tabbouleh and a few falafels ( these will not be enough, order more!).</li><li>The dips- hummus, baba ganoush, and labneh- are phenomenal though, as is the fatouche salad ( $ 4.50 Regular, $ 8 Large).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2196">Next</a></li>
</ul>