<% provide :title, 'Opinion Target 7016' %><h2>roasted ducks<br />occurrence: 1</h2><div><ol><li>But i was there for the food, so that didnt bother me much As for the wait, the lady told us there will be a $ 20min wait for the peking duck which was reasonable bcuz atleast you know they are serving you freshly roasted ducks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7017">Next</a></li>
</ul>