<% provide :title, 'Opinion Target 2320' %><h2>roti place<br />occurrence: 1</h2><div><ol><li>The only underperformer I 've found so far is the roti place, but overall it 's the perfect place to go if you want some tasty but cheap food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2321">Next</a></li>
</ul>