<% provide :title, 'Opinion Target 7165' %><h2>green onion<br />occurrence: 1</h2><div><ol><li>Still love the green onion to go with BBQ.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7166">Next</a></li>
</ul>