<% provide :title, 'Opinion Target 2344' %><h2>desert crepes<br />occurrence: 2</h2><div><ol><li>I recommend going there on weekdays because they have a lunch special: ( savoury or desert crepes with a latte for only around 10.99 + salad) Service is always good, and the food is even better.</li><li>The service was super friendly, and based on this first experience, I 'm excited to try the desert crepes at some point in time as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2345">Next</a></li>
</ul>