<% provide :title, 'Opinion Target 4524' %><h2>white dragon roll<br />occurrence: 1</h2><div><ol><li>My favorite is the white dragon roll, which is the butterfish on top of a dynamite roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4525">Next</a></li>
</ul>