<% provide :title, 'Opinion Target 6006' %><h2>`` corned beef<br />occurrence: 1</h2><div><ol><li>The lady at Katz 's described them this way: `` corned beef is mild, pastrami is spicy, smoked meat is sweet''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6007">Next</a></li>
</ul>