<% provide :title, 'Opinion Target 1571' %><h2>chicken terriyaki dinner<br />occurrence: 2</h2><div><ol><li>My boyfriend ordered a chicken terriyaki dinner; and I ordered Mackerel and Salmon sashimi.</li><li>However, for 15.95 for the chicken terriyaki dinner, it did n't come with anything other than rice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1572">Next</a></li>
</ul>