<% provide :title, 'Opinion Target 8774' %><h2>cooked dishes<br />occurrence: 1</h2><div><ol><li>The fried and cooked dishes all tastes microwaved.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8775">Next</a></li>
</ul>