<% provide :title, 'Opinion Target 7711' %><h2>bread with pizza toppings<br />occurrence: 1</h2><div><ol><li>30 bucks for a pizza and i ended up with a loaf of bread with pizza toppings ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7712">Next</a></li>
</ul>