<% provide :title, 'Opinion Target 6360' %><h2>lamb with salad and baked potato<br />occurrence: 1</h2><div><ol><li>I ordered the rack of lamb with salad and baked potato, my girlfriend ordered the 1lb broiled lobster with rice and baked potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6359">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6361">Next</a></li>
</ul>