<% provide :title, 'Opinion Target 1965' %><h2>crabmeat<br />occurrence: 2</h2><div><ol><li>Their volcano roll was a crispy fried sushi roll with crabmeat and cucumber, super delicious!</li><li>Tiger Roll 4/5- I was reluctant to try a roll with fried scallop, crabmeat, avocado, tobiko, spicy sauce topped with salmon BUT it was pretty tasty and I liked the scallop flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1966">Next</a></li>
</ul>