<% provide :title, 'Opinion Target 7068' %><h2>lotus sesame seed balls<br />occurrence: 1</h2><div><ol><li>Love the sesame mini patties and the lotus sesame seed balls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7067">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7069">Next</a></li>
</ul>