<% provide :title, 'Opinion Target 7929' %><h2>broiled bbq<br />occurrence: 1</h2><div><ol><li>If you love soup, there are a few to choose from, and if soup 's not your thing, the broiled bbq is an option along with the bibimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7930">Next</a></li>
</ul>