<% provide :title, 'Opinion Target 1164' %><h2>chicken spring rolls<br />occurrence: 3</h2><div><ol><li>We got some dim sum orders: shrimp roll, veggie dumpling, veggie spring rolls, chicken spring rolls, pork with black bean sauce, crispy chicken &amp; chicken Sho Mai along with some veggie fried rice.</li><li>Our starter were exceptional- chicken spring rolls and bruschetta.</li><li>Also chicken spring rolls were excellent and freshly made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1165">Next</a></li>
</ul>