<% provide :title, 'Opinion Target 1009' %><h2>salt<br />occurrence: 3</h2><div><ol><li>It 's just that overall, the salt was too much, and made my wife not feel so good.</li><li>The salt and pepper deep fried squid has a great kick which is perfect for this cold winter day, and tryly a yummy dish.</li><li>Love their salt and pepper squid, their awesome selection of congee and veggies!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1010">Next</a></li>
</ul>