<% provide :title, 'Opinion Target 5625' %><h2>spicy seafood noodle soup<br />occurrence: 1</h2><div><ol><li>I ordered Jjam Pong, a spicy seafood noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5626">Next</a></li>
</ul>