<% provide :title, 'Opinion Target 6667' %><h2>chicken with cheese and noodles ''<br />occurrence: 1</h2><div><ol><li>I 'm not a Korean expert, but I do n't know about this whole `` mixing chicken with cheese and noodles'', whether it is of authentic Korean cuisine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6668">Next</a></li>
</ul>