<% provide :title, 'Opinion Target 4700' %><h2>Mango Salad and Chicken Satay<br />occurrence: 1</h2><div><ol><li>The Mango Salad and Chicken Satay were actually not bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4699">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4701">Next</a></li>
</ul>