<% provide :title, 'Opinion Target 6726' %><h2>hotpot visits<br />occurrence: 1</h2><div><ol><li>With my recent lack of hotpot visits recently, my girlfriend and I decided to try Hot Pot on Yonge- though this review is fairly late, since we went multiple months ago.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6727">Next</a></li>
</ul>