<% provide :title, 'Opinion Target 2318' %><h2>corn dish<br />occurrence: 2</h2><div><ol><li>Also tried the corn dish and simply loved it.</li><li>Since it was my first time at the Fry, i did n't know what to expect --- we also did n't get that complimentary sweet corn dish = ( true disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2319">Next</a></li>
</ul>