<% provide :title, 'Opinion Target 2377' %><h2>chicken skewer dinner<br />occurrence: 1</h2><div><ol><li>My friend tried a chicken skewer dinner which had a lot of food and two skewers of chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2378">Next</a></li>
</ul>