<% provide :title, 'Opinion Target 9723' %><h2>msg ladden instant noodle packages<br />occurrence: 1</h2><div><ol><li>My first exposure to ramen was the dry msg ladden instant noodle packages ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9722">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9724">Next</a></li>
</ul>