<% provide :title, 'Opinion Target 3731' %><h2>Malaysian Beef Brisket curry<br />occurrence: 1</h2><div><ol><li>The first time I had ordered the Malaysian Chicken Curry and last night I got the Malaysian Beef Brisket curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3732">Next</a></li>
</ul>