<% provide :title, 'Opinion Target 6548' %><h2>Garlic stir fry pea shoots<br />occurrence: 1</h2><div><ol><li>Garlic stir fry pea shoots, BBQ duck, BBQ pork, sweet and sour soup, beef stir fry with rice noodles, chicken congee and pan fried radish cake with XO sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6549">Next</a></li>
</ul>