<% provide :title, 'Opinion Target 3801' %><h2>poached chicken ginseng soup ; noodles<br />occurrence: 1</h2><div><ol><li>This is n't your typical korean bbq, soon dofu, or ricecake place. gladly consumed: potato pancake kanpungi- sweet spicy deep fried chicken sam gae tang- Whole poached chicken ginseng soup; noodles; congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3802">Next</a></li>
</ul>