<% provide :title, 'Opinion Target 1602' %><h2>Montreal smoked meat<br />occurrence: 2</h2><div><ol><li>Their Montreal smoked meat on rye with spicy mustard is the end all and be all.</li><li>They gave a wide array of other meats such as Montreal smoked meat, roast beef, etc but i love the pastrami too much to try anything else.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1603">Next</a></li>
</ul>