<% provide :title, 'Opinion Target 9177' %><h2>Steak Pit<br />occurrence: 1</h2><div><ol><li>The Steak Pit is a delicious hidden gem in the heart of north york.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9178">Next</a></li>
</ul>