<% provide :title, 'Opinion Target 8989' %><h2>coffee refills<br />occurrence: 1</h2><div><ol><li>We waited very long to get our food, very long to get coffee refills, and very long to get our bill.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8990">Next</a></li>
</ul>