<% provide :title, 'Opinion Target 1398' %><h2>pineapple<br />occurrence: 3</h2><div><ol><li>They used canned pineapple and bamboo shoots.</li><li>The fruits were n't the freshest either- the pineapple was super sour and hard, the strawberry was soggy &amp; the grapes looked unwashed.</li><li>I like the chocolate fondue ( strawberries, pineapple, marshmallows).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1399">Next</a></li>
</ul>