<% provide :title, 'Opinion Target 5707' %><h2>ox tail and jerk chicken<br />occurrence: 1</h2><div><ol><li>On one hand you 'll have your classics like wild rice, coconut candy, roti, ox tail and jerk chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5708">Next</a></li>
</ul>