<% provide :title, 'Opinion Target 4521' %><h2>deep fried fish connoisseur<br />occurrence: 1</h2><div><ol><li>Ca n't say I 'm a true deep fried fish connoisseur but everything looked decently battered, and nicely golden.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4522">Next</a></li>
</ul>