<% provide :title, 'Opinion Target 2273' %><h2>fried noodle dish<br />occurrence: 2</h2><div><ol><li>The final straw was perhaps the fried noodle dish, pictured here.</li><li>It sure beats the fried noodle dish that the dinner comes with.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2274">Next</a></li>
</ul>