<% provide :title, 'Opinion Target 1628' %><h2>cheddar<br />occurrence: 2</h2><div><ol><li>What I loved:- extra cheese included many choices such as goat cheese, cheddar and Monterey Jack- extra bacon included 2-3 slices- guacamole was free- lots of great fixings to order from, veggies were also fresh ...- so much free sauce and spices ...</li><li>I recommend you to order the top 3 add-ons for an additional $ 2.00 each; they are: rice cakes, cheddar, &amp; Ramen noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1629">Next</a></li>
</ul>