<% provide :title, 'Opinion Target 2861' %><h2>Chicken Souvlaki meal<br />occurrence: 1</h2><div><ol><li>Had the Chicken Souvlaki meal which was good &amp; good value as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2860">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2862">Next</a></li>
</ul>