<% provide :title, 'Opinion Target 1080' %><h2>app<br />occurrence: 4</h2><div><ol><li>A mash-up of all my tips compressed neatly into one one review for the convenience of the desktop users ( FYI tips can be viewed on the app).</li><li>For my app, I selected the Satay Shrimp Skewer, which was presented well and was pretty much how you would expect a shrimp skewer to be.</li><li>Food came really fast both the app and the main entrees.</li><li>The app was good, my girl friend finished her pork bone, but i didnt take more than 4 bites out of my noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1081">Next</a></li>
</ul>