<% provide :title, 'Opinion Target 4268' %><h2>glass of wine<br />occurrence: 1</h2><div><ol><li>I enjoyed a nice glass of wine and it was such a peaceful and calm atmosphere for a family dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4269">Next</a></li>
</ul>