<% provide :title, 'Opinion Target 3056' %><h2>fish than rice<br />occurrence: 1</h2><div><ol><li>The slices of sashimi were a really generous thickness and the ones with the rice there was more fish than rice which was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3057">Next</a></li>
</ul>