<% provide :title, 'Opinion Target 2663' %><h2>rice cakes ( tip<br />occurrence: 1</h2><div><ol><li>You get some of those delicious dumplings, and thick yummy noodles, rice cakes ( tip: wait to eat them at the end so that they 've soaked up all that flavourful broth), mushrooms, veggies ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2664">Next</a></li>
</ul>