<% provide :title, 'Opinion Target 7993' %><h2>soft tofu soup and bulgogi<br />occurrence: 1</h2><div><ol><li>The soft tofu soup and bulgogi are my go to dishes when I visit this restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7992">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7994">Next</a></li>
</ul>