<% provide :title, 'Opinion Target 1496' %><h2>green tea frosty flakes<br />occurrence: 3</h2><div><ol><li>My friend got the green tea frosty flakes.</li><li>Come and get your Green Tea Frosty Flakes!</li><li>The `` green tea frosty flakes'' is an incredible dessert featuring various authentic flavours!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1497">Next</a></li>
</ul>