<% provide :title, 'Opinion Target 9753' %><h2>green juice<br />occurrence: 1</h2><div><ol><li>This is a yoga mommy, organic green juice, kids-with-15-hobbies kind of area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9754">Next</a></li>
</ul>