<% provide :title, 'Opinion Target 4706' %><h2>shitake mushrooms<br />occurrence: 1</h2><div><ol><li>This with wraps and the additional shitake mushrooms are yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4707">Next</a></li>
</ul>