<% provide :title, 'Opinion Target 1491' %><h2>Chicken Alfredo Pasta<br />occurrence: 3</h2><div><ol><li>We ordered 14 inch Hawaiian- stuffed crust and Regular Chicken Alfredo Pasta with Cheese Breadsticks.</li><li>The Chicken Alfredo pasta was really good!</li><li>The chicken club sandwich was good, so was the chicken alfredo pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1490">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1492">Next</a></li>
</ul>