<% provide :title, 'Opinion Target 7782' %><h2>schwarma<br />occurrence: 1</h2><div><ol><li>The best schwarma ever Must try the chicken on the rocks Reasonable prices Very friendly staff The best option for students at York University looking for a good meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7783">Next</a></li>
</ul>