<% provide :title, 'Opinion Target 2487' %><h2>perhaps<br />occurrence: 1</h2><div><ol><li>I do n't know what changed, but to top it off, our waiter, who was nice, perhaps could use some deodorant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2488">Next</a></li>
</ul>