<% provide :title, 'Opinion Target 4972' %><h2>benedicts<br />occurrence: 1</h2><div><ol><li>The benedicts are a reliable choice, and the OJ is freshly squeezed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4973">Next</a></li>
</ul>