<% provide :title, 'Opinion Target 2037' %><h2>boneless<br />occurrence: 2</h2><div><ol><li>The boneless, garlic parm wings were a welcomed surprise especially if you like them saucy- they were rich, crispy and creamy.</li><li>The boneless ' wings' were overcooked and totally dry and inedible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2038">Next</a></li>
</ul>