<% provide :title, 'Opinion Target 1427' %><h2>wine glasses<br />occurrence: 3</h2><div><ol><li>Our wine glasses however, eventually did see empty.</li><li>A little later a waitress took our wine glasses away to return with a bottle of the backup wine we ordered.</li><li>The wine glasses are the small ones that you get from the dollar store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1426">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1428">Next</a></li>
</ul>