<% provide :title, 'Opinion Target 5795' %><h2>turkey crepe<br />occurrence: 1</h2><div><ol><li>The turkey crepe is made from deli meat ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5794">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5796">Next</a></li>
</ul>