<% provide :title, 'Opinion Target 9189' %><h2>Jumbo Teppan Oyster<br />occurrence: 1</h2><div><ol><li>The LONE highlight was the Jumbo Teppan Oyster which was yummy and reasonably cost.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9190">Next</a></li>
</ul>