<% provide :title, 'Opinion Target 8413' %><h2>mui<br />occurrence: 1</h2><div><ol><li>The sauteed snow pea shoots ( dow mui) was really good, but a simple dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8414">Next</a></li>
</ul>