<% provide :title, 'Opinion Target 2443' %><h2>Spicy Szechuan Beef Roll appetizer<br />occurrence: 1</h2><div><ol><li>Today I got the Spicy Szechuan Beef Roll appetizer, Cantonese Lo Mein, Ma Po Tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2444">Next</a></li>
</ul>