<% provide :title, 'Opinion Target 2252' %><h2>sushi combos<br />occurrence: 2</h2><div><ol><li>If you 're a large group those sushi combos are easily $ 10-30 cheaper than any other sushi place.</li><li>It is a mix of Bulgogi, Teriyaki style dishes and sushi combos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2253">Next</a></li>
</ul>