<% provide :title, 'Opinion Target 5424' %><h2>fried rice with shrimp and eggs<br />occurrence: 1</h2><div><ol><li>I like the beef and broccoli as well as the fried rice with shrimp and eggs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5425">Next</a></li>
</ul>