<% provide :title, 'Opinion Target 4627' %><h2>homemade Panang Curry<br />occurrence: 1</h2><div><ol><li>We also ordered an assortment of appetizers, skewers, shrimp etc ... presentation was basic and for my main I had the homemade Panang Curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4626">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4628">Next</a></li>
</ul>