<% provide :title, 'Opinion Target 6512' %><h2>clay pot eggplant<br />occurrence: 1</h2><div><ol><li>I would highly recommend the fried turnip cakes, any congee ( make sure you try it with the fried donut), the clay pot eggplant, and their BBQ meats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6513">Next</a></li>
</ul>