<% provide :title, 'Opinion Target 5011' %><h2>coconut shrimp<br />occurrence: 1</h2><div><ol><li>I suggest you order something else The coconut shrimp are medium sized and delicious but obviously they ordered it frozen and already prepped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5012">Next</a></li>
</ul>