<% provide :title, 'Opinion Target 6415' %><h2>noodle rolls<br />occurrence: 1</h2><div><ol><li>Singapore style noodles have just the right amount of spice, noodle rolls, donut sticks and congee are all just right and brought out fast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6416">Next</a></li>
</ul>