<% provide :title, 'Opinion Target 3329' %><h2>homefries & toast<br />occurrence: 1</h2><div><ol><li>Mind you, it 's hard to mess up on a breakfast meal of eggs, sausage, peameal bacon, homefries &amp; toast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3328">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3330">Next</a></li>
</ul>