<% provide :title, 'Opinion Target 6226' %><h2>Japanese / Korean dish<br />occurrence: 1</h2><div><ol><li>It is tossed with onions and peppers and is your standard Japanese/ Korean dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6227">Next</a></li>
</ul>