<% provide :title, 'Opinion Target 2237' %><h2>minced pork rice dish<br />occurrence: 1</h2><div><ol><li>I mean, there are good ones and decent ones, but I 've never had, in my more than 30 years of trying Chinese/Taiwanese food, bad minced pork rice dish ... until that day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2238">Next</a></li>
</ul>