<% provide :title, 'Opinion Target 1836' %><h2>fillet<br />occurrence: 2</h2><div><ol><li>It did n't occur to me that they had a lunch and dinner platter until as of recent and found that the ' small' fillet was really half of the large which really was n't much to begin with.</li><li>An extra thumbs up for the fish filling, which is a deep-fried battered fillet ( which nicely but deliciously negates any healthy claims).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1837">Next</a></li>
</ul>