<% provide :title, 'Opinion Target 6369' %><h2>casual<br />occurrence: 1</h2><div><ol><li>The ambiance is nice and casual too, a bit on the noisy side but that 's because they are extremely busy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6368">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6370">Next</a></li>
</ul>