<% provide :title, 'Opinion Target 3767' %><h2>mapo tofu<br />occurrence: 1</h2><div><ol><li>I tried the kung pao chicken, mapo tofu, hot boiling fish and their house fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3768">Next</a></li>
</ul>