<% provide :title, 'Opinion Target 5819' %><h2>waffle with pistachio almond ice cream<br />occurrence: 1</h2><div><ol><li>My husband claimed his waffle with pistachio almond ice cream was one of the best waffles he 'd had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5820">Next</a></li>
</ul>