<% provide :title, 'Opinion Target 4028' %><h2>risotto with porcini mushrooms and truffle oil infusion<br />occurrence: 1</h2><div><ol><li>I ordered the risotto con porcini e profumo di tartufo, or risotto with porcini mushrooms and truffle oil infusion, and was in heaven.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4029">Next</a></li>
</ul>