<% provide :title, 'Opinion Target 7514' %><h2>crepe filling<br />occurrence: 1</h2><div><ol><li>Ice cream was not too sweet, crepe filling was delicious with bits of cake, berries and whipped cream. all the while not overly heavy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7515">Next</a></li>
</ul>