<% provide :title, 'Opinion Target 9627' %><h2>Prawn Tandoori<br />occurrence: 1</h2><div><ol><li>Prawn Tandoori- one word.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9626">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9628">Next</a></li>
</ul>