<% provide :title, 'Opinion Target 640' %><h2>beef curry<br />occurrence: 6</h2><div><ol><li>I 've also tried the Thai Islamic noodle, poached Chilean sea bass and golden beef curry.</li><li>The beef curry I think is absolutely amazing, something about a slab of deep fried beef, covered in a succulent curry sauce ... yum.</li><li>My favourite was the crispy beef curry and duck wrap and I do n't even like duck!</li><li>Tried the royal pad thai and crispy beef curry.</li><li>Chose the Beef curry over rice and the chicken curry roti.</li><li>Tried the Beef curry first; the beef was tender but very dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_641">Next</a></li>
</ul>