<% provide :title, 'Opinion Target 6265' %><h2>tako<br />occurrence: 1</h2><div><ol><li>They do have tuna, tako ( octopus), and eel as part of their ayce selection which is a plus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6266">Next</a></li>
</ul>