<% provide :title, 'Opinion Target 5621' %><h2>bulgogi table<br />occurrence: 1</h2><div><ol><li>Our fav go-to dish is the bulgogi table cooking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5620">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5622">Next</a></li>
</ul>