<% provide :title, 'Opinion Target 1410' %><h2>Hot tea<br />occurrence: 2</h2><div><ol><li>Hot tea before and after the meal.</li><li>Free hot tea is dispensed off the side, which is nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1411">Next</a></li>
</ul>