<% provide :title, 'Opinion Target 6353' %><h2>chowder<br />occurrence: 1</h2><div><ol><li>The salad is fine, the chowder is good, but everyone knows you need to go for a big creamy bowl of lobster bisque.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6352">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6354">Next</a></li>
</ul>