<% provide :title, 'Opinion Target 1747' %><h2>crispy shredded beef<br />occurrence: 2</h2><div><ol><li>The crispy shredded beef is similar to the ginger chicken as the flavour and texture will really have your tastebuds doing back flips and jumping jacks.</li><li>The crispy shredded beef is to die for, a little sweet, just the right amount of spicy and perfectly crunchy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1748">Next</a></li>
</ul>