<% provide :title, 'Opinion Target 5623' %><h2>bulgogi cravings<br />occurrence: 1</h2><div><ol><li>This place is our all time fav and we come back regularly for our bulgogi cravings, but it does get quite busy on the weekend.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5624">Next</a></li>
</ul>