<% provide :title, 'Opinion Target 6799' %><h2>takeout sushi<br />occurrence: 1</h2><div><ol><li>For takeout sushi, it 's the only place I ever go anymore:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6800">Next</a></li>
</ul>