<% provide :title, 'Opinion Target 3120' %><h2>tuna tartare<br />occurrence: 1</h2><div><ol><li>Shld also try their tuna tartare.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3121">Next</a></li>
</ul>