<% provide :title, 'Opinion Target 997' %><h2>tahini<br />occurrence: 4</h2><div><ol><li>I like to keep the toppings traditional- hummus, hot sauce, tahini, coleslaw and Israeli salad.</li><li>As with other halal places, you get your choice of tzatziki, tahini, hot sauce, and salad dressings to pour on.</li><li>Just got back from having a scrumptious plate of chicken schwarma served with veggies and 3 sauces ( garlic, tahini, and something else).</li><li>All this is served with ( virtually) unlimited pitas and pickle plates, hot sauce and tahini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_998">Next</a></li>
</ul>