<% provide :title, 'Opinion Target 4280' %><h2>chicken combo<br />occurrence: 1</h2><div><ol><li>I had the spicy chicken combo, she had the veggie combo, and neither of us were MSG laden afterwards, and their steamed veggies were the tops.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4281">Next</a></li>
</ul>