<% provide :title, 'Opinion Target 3733' %><h2>house special stir fried noodle<br />occurrence: 1</h2><div><ol><li>What 's so funny is that we ordered the sweet sour soup, the house special stir fried noodle and.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3732">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3734">Next</a></li>
</ul>