<% provide :title, 'Opinion Target 9699' %><h2>spicy noodles<br />occurrence: 1</h2><div><ol><li>The spicy noodles are just overly spicy over powering the taste with just the spices and does n't enhance the flavour of the noodles and broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9700">Next</a></li>
</ul>