<% provide :title, 'Opinion Target 2243' %><h2>tamago<br />occurrence: 2</h2><div><ol><li>Upon dissection, the dinosaur sized rolls may be attributed to the tamago ( egg) that is stuffed inside.</li><li>Portion-wise, it 's pretty big, and a nice amount of Sashimi ranging from mackerel, to salmon, to tamago ( Japanese Egg).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2244">Next</a></li>
</ul>