<% provide :title, 'Opinion Target 5035' %><h2>lobster facts<br />occurrence: 1</h2><div><ol><li>Sadly, with my most recent visit, there were no place mats on the table with a map of the Atlantic or interesting lobster facts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5034">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5036">Next</a></li>
</ul>