<% provide :title, 'Opinion Target 1791' %><h2>jungle chicken<br />occurrence: 2</h2><div><ol><li>We ordered the beef salad, jungle chicken and fried bananas.</li><li>The jungle chicken was inedible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1792">Next</a></li>
</ul>