<% provide :title, 'Opinion Target 3626' %><h2>green curry seafood<br />occurrence: 1</h2><div><ol><li>For the main meal, we had green curry seafood.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3627">Next</a></li>
</ul>