<% provide :title, 'Opinion Target 3725' %><h2>pork hog<br />occurrence: 1</h2><div><ol><li>Not being a pork eater myself, my options were limited ( though the pork hog did look spectacular).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3726">Next</a></li>
</ul>