<% provide :title, 'Opinion Target 7021' %><h2>chilli flakes<br />occurrence: 1</h2><div><ol><li>I wished the heat would have been added with chilli flakes instead.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7020">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7022">Next</a></li>
</ul>