<% provide :title, 'Opinion Target 6744' %><h2>hot banana peppers<br />occurrence: 1</h2><div><ol><li>The slice is colourfully framed by red &amp; yellow hot banana peppers and a single tomato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6745">Next</a></li>
</ul>