<% provide :title, 'Opinion Target 1065' %><h2>chilli chicken<br />occurrence: 3</h2><div><ol><li>The chilli chicken and crispy ginger beef is out of this world!</li><li>We ordered hot and sour soup, Chef 's special fried rice and chilli chicken.</li><li>Sushi- California Roll ... and Hakka ... Chilli Chicken!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1064">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1066">Next</a></li>
</ul>