<% provide :title, 'Opinion Target 1468' %><h2>dynamite and spider rolls<br />occurrence: 3</h2><div><ol><li>I recommend their dynamite and spider rolls.</li><li>At under $ 10 and $ 6 respectively, their Dynamite and Spider rolls are also a pretty good deal.</li><li>The Dynamite and Spider rolls were great, not too much rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1467">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1469">Next</a></li>
</ul>