<% provide :title, 'Opinion Target 4384' %><h2>pasta carbonara<br />occurrence: 1</h2><div><ol><li>Their pizzas and pasta carbonara are delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4385">Next</a></li>
</ul>