<% provide :title, 'Opinion Target 7462' %><h2>paratha bread<br />occurrence: 1</h2><div><ol><li>And it 's truly dire when your paratha bread -- which is supposed to be flaky, crispy and appetizing -- tastes even worse than packaged naan bread from a supermarket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7463">Next</a></li>
</ul>