<% provide :title, 'Opinion Target 6344' %><h2>nachos and yam fries<br />occurrence: 1</h2><div><ol><li>The nachos and yam fries were your typical pub classics.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6345">Next</a></li>
</ul>