<% provide :title, 'Opinion Target 3055' %><h2>chilli peppers<br />occurrence: 1</h2><div><ol><li>Like the spicy popcorn chicken covered with dried chilli peppers is mainly little bits and pieces of meat, no actual good pieces of meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3056">Next</a></li>
</ul>