<% provide :title, 'Opinion Target 1065' %><h2>seafood udon<br />occurrence: 4</h2><div><ol><li>I ordered everything from salmon rolls, spicy seafood udon, grilled chicken and beef, seaweed salad, and a variety of other items on their packed lunch menu.</li><li>Ordered the seafood udon it was good but the seafood with tiny and they do n't give you much.</li><li>Seafood udon had next to no seafood ( we found half a shrimp ?).</li><li>The seafood udon was really bland and they use low quality of cheap seafood mix which is so bad ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1064">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1066">Next</a></li>
</ul>