<% provide :title, 'Opinion Target 9323' %><h2>crystal pork belly<br />occurrence: 1</h2><div><ol><li>The crystal pork belly in the plain buns is pretty nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9324">Next</a></li>
</ul>