<% provide :title, 'Opinion Target 7770' %><h2>positives<br />occurrence: 1</h2><div><ol><li>The positives: Sushi was well cut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7769">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7771">Next</a></li>
</ul>