<% provide :title, 'Opinion Target 1904' %><h2>Salmon Bento Box<br />occurrence: 2</h2><div><ol><li>Got a Salmon Bento Box ( the daily special) for ~ $ 10.</li><li>I ordered the Chirashi ( around $ 15) and my friend ordered the chicken terriyaki and salmon bento box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1903">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1905">Next</a></li>
</ul>