<% provide :title, 'Opinion Target 9119' %><h2>tuna salad and wasabi roll<br />occurrence: 1</h2><div><ol><li>Highly recommend spicy tuna salad and wasabi roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9120">Next</a></li>
</ul>