<% provide :title, 'Opinion Target 6794' %><h2>sushi trays<br />occurrence: 1</h2><div><ol><li>8 pieces california roll for only $ 4.99 the owner, a korean lady, was kind enough to be willing to take out his car to drive us home because the two of us were planning to carry the three sushi trays by ourselves to yonge and sheppard. the only turn down is the place is kinda small ... will definitely come back !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6793">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6795">Next</a></li>
</ul>