<% provide :title, 'Opinion Target 5766' %><h2>dinner desert<br />occurrence: 1</h2><div><ol><li>I went for an after dinner desert, and had a green tea crepe and a hot green tea white chocolate drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5767">Next</a></li>
</ul>