<% provide :title, 'Opinion Target 9070' %><h2>Korean multigrain<br />occurrence: 1</h2><div><ol><li>It used to come with the Korean multigrain/ five grain rice ( Ogokbap), but this time they served it with white rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9071">Next</a></li>
</ul>