<% provide :title, 'Opinion Target 6643' %><h2>dish selection<br />occurrence: 1</h2><div><ol><li>They side dish selection was ok but not as extensive as Chingu 's.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6642">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6644">Next</a></li>
</ul>