<% provide :title, 'Opinion Target 9248' %><h2>frozen beef<br />occurrence: 1</h2><div><ol><li>Maybe it was not the House 's fault- it was just a piece of expired cheap frozen beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9249">Next</a></li>
</ul>