<% provide :title, 'Opinion Target 7890' %><h2>hot soup dish<br />occurrence: 1</h2><div><ol><li>This hot soup dish is absolutely perfect for colder weather!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7891">Next</a></li>
</ul>