<% provide :title, 'Opinion Target 4535' %><h2>grilled lamb kebobs<br />occurrence: 1</h2><div><ol><li>I also stopped by to have some grilled lamb kebobs with saffron rice and a carbonated yogurt drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4536">Next</a></li>
</ul>