<% provide :title, 'Opinion Target 4965' %><h2>vegs<br />occurrence: 1</h2><div><ol><li>The chefs are amazing and when they heard my one friend was n't having eggs, they surprised him with a super fancy grilled cheese stacked with yummy vegs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4966">Next</a></li>
</ul>