<% provide :title, 'Opinion Target 4254' %><h2>green curry chicken and chicken pad thai<br />occurrence: 1</h2><div><ol><li>Last order was the green curry chicken and chicken pad thai which were both really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4253">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4255">Next</a></li>
</ul>