<% provide :title, 'Opinion Target 2263' %><h2>noodles with beef<br />occurrence: 2</h2><div><ol><li>I ordered the soy beef stew noodle soup while my gf got the noodles with beef, tomatoes, eggs and veggies.</li><li>I had the noodles with beef, lamb and seafood with a meddly of vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2262">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2264">Next</a></li>
</ul>