<% provide :title, 'Opinion Target 8279' %><h2>boneless ' wings '<br />occurrence: 1</h2><div><ol><li>The boneless ' wings' were overcooked and totally dry and inedible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8280">Next</a></li>
</ul>