<% provide :title, 'Opinion Target 3664' %><h2>seafood with mixed vegetables<br />occurrence: 1</h2><div><ol><li>The seafood with mixed vegetables literally had two pieces of shrimp and one piece of scallop there were only 2-3 pieces of carrots the rest was bok choy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3665">Next</a></li>
</ul>