<% provide :title, 'Opinion Target 1702' %><h2>crab meat soup<br />occurrence: 2</h2><div><ol><li>The crab meat soup was also very delicious!</li><li>I had n't tried the Congee until this month ( I realize how stupid this sounds), having previously chosen the sweet corn and crab meat soup .... The Congee is served thick, steaming hot and is just so hearty ... Damn!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1703">Next</a></li>
</ul>