<% provide :title, 'Opinion Target 4362' %><h2>Montreal Smoked<br />occurrence: 1</h2><div><ol><li>Had the Montreal Smoked Meat today.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4363">Next</a></li>
</ul>