<% provide :title, 'Opinion Target 4467' %><h2>romain wrap<br />occurrence: 1</h2><div><ol><li>The romain wrap that comes with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4466">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4468">Next</a></li>
</ul>