<% provide :title, 'Opinion Target 2270' %><h2>grilled sandwiches<br />occurrence: 1</h2><div><ol><li>The staff is not helpful and what 's appalling is that they do n't know what is in the grilled sandwiches and which one of their items are vegetarian.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2271">Next</a></li>
</ul>