<% provide :title, 'Opinion Target 2223' %><h2>drink orders<br />occurrence: 1</h2><div><ol><li>The service is fast, which is again impressive considering they make all the fancy drink orders for the Congee Wong just a few doors down as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2224">Next</a></li>
</ul>