<% provide :title, 'Opinion Target 4247' %><h2>apple pies<br />occurrence: 1</h2><div><ol><li>We ordered 4 apple pies .. hubby ordred cheese cake .. his came out 10- 15min later.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4248">Next</a></li>
</ul>