<% provide :title, 'Opinion Target 7195' %><h2>Japchae noodles<br />occurrence: 1</h2><div><ol><li>My bf ordered a soup with bulgogi in it ( do n't know what it was called) it was sweet and also had Japchae noodles in it, he loved it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7196">Next</a></li>
</ul>