<% provide :title, 'Opinion Target 5675' %><h2>soy sauce punches<br />occurrence: 1</h2><div><ol><li>I guess that 's where the soy sauce punches in ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5676">Next</a></li>
</ul>