<% provide :title, 'Opinion Target 9163' %><h2>potato sauce<br />occurrence: 1</h2><div><ol><li>However, the sweet potato sauce was lacking and a bit mild.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9164">Next</a></li>
</ul>