<% provide :title, 'Opinion Target 2763' %><h2>ginseng flavour<br />occurrence: 1</h2><div><ol><li>The ginseng flavour is quite subtle so even if you do n't like the smell or taste of ginseng, give this a try.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2762">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2764">Next</a></li>
</ul>