<% provide :title, 'Opinion Target 2338' %><h2>roasted chicken on wholewheat bread<br />occurrence: 1</h2><div><ol><li>I usually get the roasted chicken on wholewheat bread and just love how fresh and good it tastes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2339">Next</a></li>
</ul>