<% provide :title, 'Opinion Target 4664' %><h2>salmon with broccoli<br />occurrence: 1</h2><div><ol><li>I got the salmon with broccoli and a soy reduction sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4665">Next</a></li>
</ul>