<% provide :title, 'Opinion Target 3781' %><h2>green tea latte which<br />occurrence: 1</h2><div><ol><li>I also had their green tea latte which was quite a disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3780">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3782">Next</a></li>
</ul>