<% provide :title, 'Opinion Target 6834' %><h2>boiled lasagne sliced<br />occurrence: 1</h2><div><ol><li>They have 2 different type of #noodles, the thin noodle is n't bad but their big flat noodle taste like boiled lasagne sliced in half.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6835">Next</a></li>
</ul>