<% provide :title, 'Opinion Target 6888' %><h2>tea ice cream<br />occurrence: 1</h2><div><ol><li>Banana flambé/Sawakaya berries ( Aoi menu) or Green tea ice cream ( Sunday special) I had the flambe that day and it was absolutely delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6889">Next</a></li>
</ul>