<% provide :title, 'Opinion Target 5070' %><h2>fried spicy calimary<br />occurrence: 1</h2><div><ol><li>We order the fried spicy calimary, seafood congee, chicken fried rice and peking duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5071">Next</a></li>
</ul>