<% provide :title, 'Opinion Target 3098' %><h2>snowflake<br />occurrence: 1</h2><div><ol><li>But overall service was good and the snowflake was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3099">Next</a></li>
</ul>