<% provide :title, 'Opinion Target 4535' %><h2>deep frying fish<br />occurrence: 1</h2><div><ol><li>Golden crispy ... really fresh frying oil !!- yes it is oily ... hey it is deep fried in oil but it is worth the extra calories! and deep frying fish is not as bad as chicken with skin in term of fat content- Chips are not bad .. but quite standard ... at least they are fresh, made to order !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4536">Next</a></li>
</ul>