<% provide :title, 'Opinion Target 5188' %><h2>hot teas<br />occurrence: 1</h2><div><ol><li>- They have many options for excellent hot teas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5187">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5189">Next</a></li>
</ul>