<% provide :title, 'Opinion Target 3930' %><h2>sinigang<br />occurrence: 1</h2><div><ol><li>The only food that does n't taste right is the sinigang na baboy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3931">Next</a></li>
</ul>