<% provide :title, 'Opinion Target 7684' %><h2>dessert orders of deep fried cheese cake and ice cream<br />occurrence: 1</h2><div><ol><li>They gave me the bill and ' forgot' my dessert orders of deep fried cheese cake and ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7683">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7685">Next</a></li>
</ul>