<% provide :title, 'Opinion Target 2721' %><h2>Steamed Shrimp dumplings and Beef Ho fan<br />occurrence: 1</h2><div><ol><li>Had the Gen Tao Chicken, Steamed Shrimp dumplings and Beef Ho fan- my preferred North York Chinese takeout- no complaints!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2722">Next</a></li>
</ul>