<% provide :title, 'Opinion Target 4136' %><h2>lunch bento ( chicken katsu<br />occurrence: 1</h2><div><ol><li>I got the spicy salmon rolls and lunch bento ( chicken katsu) with salad and two sides ( deep fried japchae roll and salmon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4137">Next</a></li>
</ul>