<% provide :title, 'Opinion Target 2983' %><h2>chicken / goat roti<br />occurrence: 1</h2><div><ol><li>I recommend the Jamaican patties and the chicken/ goat roti which are really tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2984">Next</a></li>
</ul>