<% provide :title, 'Opinion Target 1684' %><h2>Creme Brûlée<br />occurrence: 2</h2><div><ol><li>For dessert, Creme Brûlée, Raspberry Tartuffo and Raspberry Pie ( or something like that) were also very good.</li><li>Chocolate mousse comes in quite a generous size and the trio of creme brûlée is a nice treat to share.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1683">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1685">Next</a></li>
</ul>