<% provide :title, 'Opinion Target 988' %><h2>take-out option<br />occurrence: 4</h2><div><ol><li>Sad to lose a cheap take-out option!</li><li>Even using the take-out option is unbelievably slow!</li><li>The take-out option is a good one and they are equally professional.</li><li>That said, the price to value ratio is still excellent, and if you 're craving some sushi that wo n't kill your wallet, it 's not a bad take-out option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_989">Next</a></li>
</ul>