<% provide :title, 'Opinion Target 6008' %><h2>coleslaw and black cherry cola<br />occurrence: 1</h2><div><ol><li>I stopped by Katz for lunch and indulged myself in corned beef on rye, pickles, coleslaw and black cherry cola.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6009">Next</a></li>
</ul>