<% provide :title, 'Opinion Target 1569' %><h2>empanadas<br />occurrence: 2</h2><div><ol><li>Not to mention, their spicy salsa sauce was very salty, which somewhat helped to heighten the flavors of the bland empanadas.</li><li>All the food ( especially empanadas, humitas, tamales) is delicious but I 've found that the fish fillet has reduced in size from what it was before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1568">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1570">Next</a></li>
</ul>