<% provide :title, 'Opinion Target 6520' %><h2>red bean desert<br />occurrence: 1</h2><div><ol><li>They also give you free red bean desert which is a nice added bonus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6521">Next</a></li>
</ul>