<% provide :title, 'Opinion Target 4702' %><h2>couscous<br />occurrence: 1</h2><div><ol><li>There 's a good selection of healthy foods, including quinoa, couscous, tuna, broccoli, salads and a wide assortment of fruits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4703">Next</a></li>
</ul>