<% provide :title, 'Opinion Target 3766' %><h2>beef intestine<br />occurrence: 1</h2><div><ol><li>FOOD I had my same pho with rare beef, beef intestine ( they say it more eloquently on the menu).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3767">Next</a></li>
</ul>