<% provide :title, 'Opinion Target 2383' %><h2>Eggs Benedictine<br />occurrence: 2</h2><div><ol><li>The Eggs Benedictine are my favorite.</li><li>The food was great, I had the Mexican Benny and my wife had the Eggs Benedictine both of which were great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2384">Next</a></li>
</ul>