<% provide :title, 'Opinion Target 5227' %><h2>ban chan refills<br />occurrence: 1</h2><div><ol><li>The one factor that they could improve upon is the ban chan refills.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5228">Next</a></li>
</ul>