<% provide :title, 'Opinion Target 9042' %><h2>`` smoked meat '' guy<br />occurrence: 1</h2><div><ol><li>I 'm not a huge `` smoked meat'' guy, but my understanding was the meat should be especially tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9043">Next</a></li>
</ul>