<% provide :title, 'Opinion Target 8599' %><h2>Pork bone soup ( Gamjatang )<br />occurrence: 1</h2><div><ol><li>Pork bone soup ( Gamjatang) was okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8600">Next</a></li>
</ul>