<% provide :title, 'Opinion Target 3162' %><h2>mix : Chicken<br />occurrence: 1</h2><div><ol><li>Same as I remember, hard to chew and really greasy ( i had the mix: Chicken and beef) but inexpensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3163">Next</a></li>
</ul>