<% provide :title, 'Opinion Target 1685' %><h2>beef ball pho<br />occurrence: 2</h2><div><ol><li>My bf enjoyed the rare beef ball pho however said the noodles could have been better.</li><li>I ordered the brisket and beef ball pho, which came out to be the worst pho I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1686">Next</a></li>
</ul>