<% provide :title, 'Opinion Target 9193' %><h2>live lobster sashimi<br />occurrence: 1</h2><div><ol><li>The only item that was good is the live lobster sashimi .... but than again where else can I find a place to compare that ? hmm ... kept on waving my hand until it got tired to ask for some soya sauce ... a few ppl saw me but did n't come to our table ... ( WTF ?!!!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9192">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9194">Next</a></li>
</ul>