<% provide :title, 'Opinion Target 7312' %><h2>yang chow fried rice<br />occurrence: 1</h2><div><ol><li>We love the seafood superbowl cogee with fried dough fritters, seafood chow mein, fried noodle with beef and bean sprouts, deep fried shrimp wontons, deep fried squid tentacles and yang chow fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7313">Next</a></li>
</ul>