<% provide :title, 'Opinion Target 2083' %><h2>Seafood Creole<br />occurrence: 2</h2><div><ol><li>My aunt ordered the Seafood Creole ( $ 16)- shrimp, calamari, clams, salmon, mussels, linguine pasta, and a marinara sauce.</li><li>It might 've been the ' seafood creole' but I swear I would have never ordered any dish that contained the word ' creole'.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2082">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2084">Next</a></li>
</ul>