<% provide :title, 'Opinion Target 8871' %><h2>rice & green tea ice cream<br />occurrence: 1</h2><div><ol><li>All the specials came with salad, miso soup, rice &amp; green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8872">Next</a></li>
</ul>