<% provide :title, 'Opinion Target 6437' %><h2>meat tenderizer<br />occurrence: 1</h2><div><ol><li>Firstly, we had beef and chicken dishes, both `` felt'' like they had been treated with a meat tenderizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6438">Next</a></li>
</ul>