<% provide :title, 'Opinion Target 2800' %><h2>beef intestines<br />occurrence: 1</h2><div><ol><li>They added a few different soups that are not chicken but beef, and not just any beef, it 's beef intestines and/or blood pudding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2801">Next</a></li>
</ul>