<% provide :title, 'Opinion Target 1873' %><h2>potato soup<br />occurrence: 2</h2><div><ol><li>Order the Gamjatang which is suppose to be `` soft potato soup'' ..... was not the case.</li><li>We ordered the pork bone and potato soup along with GunManDu ( deep fried Korean dumplings).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1874">Next</a></li>
</ul>