<% provide :title, 'Opinion Target 7529' %><h2>watermelon slush<br />occurrence: 1</h2><div><ol><li>The watermelon slush was very refreshing for the hot summer day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7530">Next</a></li>
</ul>