<% provide :title, 'Opinion Target 9486' %><h2>fungus congee<br />occurrence: 1</h2><div><ol><li>My favorite six grains and assorted fungus congee does not have as many of six grains as there are at Congee Queen, and I 'd rather pay few cents more for my extra grains:)) The decor is also a lot simpler and more generic and the seating arrangement is not the greatest with booths lining the sides and round tables put just in front of the entrance, so new customers literally stand over the eating patrons.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9487">Next</a></li>
</ul>