<% provide :title, 'Opinion Target 5045' %><h2>boneless chicken roti<br />occurrence: 1</h2><div><ol><li>We got an order of doubles, the potato balls and a boneless chicken roti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5046">Next</a></li>
</ul>