<% provide :title, 'Opinion Target 3605' %><h2>Tom Yong Goon soup<br />occurrence: 1</h2><div><ol><li>I 've had better, but it was okay ... the Tom Yong Goon soup ( I probably bastardized the spelling LOL) and it is pretty good ( I tend to get this soup when I go to a Spring Rolls) ... the actual Spring Rolls are my favorite and I order it usually as an appetizer ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3604">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3606">Next</a></li>
</ul>