<% provide :title, 'Opinion Target 2159' %><h2>drinks orders<br />occurrence: 1</h2><div><ol><li>The servers are quick to greet, take drinks orders, provide extra napkins, take away dishes and etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2158">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2160">Next</a></li>
</ul>