<% provide :title, 'Opinion Target 1613' %><h2>chemicals<br />occurrence: 2</h2><div><ol><li>OMG, talk about dangerous chemicals leaching into the food!</li><li>We immediately started to regret eating here, if it takes such powerful chemicals to clean the place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1614">Next</a></li>
</ul>