<% provide :title, 'Opinion Target 4089' %><h2>beef burritos<br />occurrence: 1</h2><div><ol><li>If you like Mexican food this is the place, good food, good prices, there beef burritos are really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4088">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4090">Next</a></li>
</ul>