<% provide :title, 'Opinion Target 7063' %><h2>chicken `` piadina<br />occurrence: 1</h2><div><ol><li>The chicken `` piadina'' is like nothing I have ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7064">Next</a></li>
</ul>