<% provide :title, 'Opinion Target 4639' %><h2>mango salad plus satay<br />occurrence: 1</h2><div><ol><li>Best mango salad I had in the city! ( I got a lunch special today: mango salad plus satay) good portion, not too full!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4640">Next</a></li>
</ul>