<% provide :title, 'Opinion Target 8556' %><h2>ddukbokki part<br />occurrence: 1</h2><div><ol><li>Sorta upset that the ddukbokki part was sort of a letdown.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8555">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8557">Next</a></li>
</ul>