<% provide :title, 'Opinion Target 4878' %><h2>steak cubes<br />occurrence: 1</h2><div><ol><li>The steak cubes were so delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4877">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4879">Next</a></li>
</ul>