<% provide :title, 'Opinion Target 7367' %><h2>fruit pieces whipped<br />occurrence: 1</h2><div><ol><li>Mmmm, fresh cream and fruit pieces whipped together, oozing between two layers of delicate and crunchy meringue, crumble-to-the-touch and melt-in-your-mouth goodness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7368">Next</a></li>
</ul>