<% provide :title, 'Opinion Target 2508' %><h2>lobster sushi<br />occurrence: 1</h2><div><ol><li>I particularly like their lobster sushi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2509">Next</a></li>
</ul>