<% provide :title, 'Opinion Target 6647' %><h2>potato and noodles<br />occurrence: 1</h2><div><ol><li>We had the one with no seafood and added sweet potato and noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6648">Next</a></li>
</ul>