<% provide :title, 'Opinion Target 4624' %><h2>Chicken Coconut Milk<br />occurrence: 1</h2><div><ol><li>My girlfriend had the Chicken Coconut Milk Soup, and I felt this was the only large miss of the meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4625">Next</a></li>
</ul>