<% provide :title, 'Opinion Target 5202' %><h2>rice soup and chicken<br />occurrence: 1</h2><div><ol><li>I usually do n't send back servings to the kitchen ( maybe because I 'm a bit shy when it comes to that), so I just accepted it and tried to finish my rice soup and chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5201">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5203">Next</a></li>
</ul>