<% provide :title, 'Opinion Target 7133' %><h2>panna<br />occurrence: 1</h2><div><ol><li>The mango syrup definitely helped cut through the creaminess of the panna cotta. nice ending.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7132">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7134">Next</a></li>
</ul>