<% provide :title, 'Opinion Target 1487' %><h2>onion pancake<br />occurrence: 3</h2><div><ol><li>I love that they give you an onion pancake to much on while you go through the menu, and who can say no to the appies ?</li><li>For $ 45 the meal came with the beef sirloin, two bowls of purple rice, lettuce wrap, seasoned lettuce, onion pancake, an assortment of 8 side dishes and a bowl of seafood soon tofu soup.</li><li>We love to order the veggie dumplings ( I can have 6 alone!), siu lung bao or as I like to say `` little dragon bread'', green onion pancake, pan friend dumplings, fried rice, and many other things!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1488">Next</a></li>
</ul>