<% provide :title, 'Opinion Target 5672' %><h2>green onion original fried chicken<br />occurrence: 1</h2><div><ol><li>The green onion original fried chicken is re ~ a ~ lly ~ good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5673">Next</a></li>
</ul>