<% provide :title, 'Opinion Target 6704' %><h2>Chilli Chicken portion<br />occurrence: 1</h2><div><ol><li>The Chilli Chicken portion was generous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6705">Next</a></li>
</ul>