<% provide :title, 'Opinion Target 5728' %><h2>Fried chicken meal<br />occurrence: 1</h2><div><ol><li>Around 4:30pm today, Sunday, I ordered the Fried chicken meal which comes with coleslaw and rice &amp; peas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5729">Next</a></li>
</ul>