<% provide :title, 'Opinion Target 2695' %><h2>freezer door<br />occurrence: 1</h2><div><ol><li>Also noticed, frozen burger patties and a bag of frozen calamari while the freezer door was open.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2696">Next</a></li>
</ul>