<% provide :title, 'Opinion Target 9451' %><h2>chicken and shrimp fried rice<br />occurrence: 1</h2><div><ol><li>Their chicken and shrimp fried rice is also very good and the prices here are very affordable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9450">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9452">Next</a></li>
</ul>