<% provide :title, 'Opinion Target 6414' %><h2>drip coffee<br />occurrence: 1</h2><div><ol><li>I also ordered a Vietnamese iced coffee which they give it to you in a togo cup instead of giving you the drip coffee filter in a glass cup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6413">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6415">Next</a></li>
</ul>