<% provide :title, 'Opinion Target 1688' %><h2>Vietnamese spring rolls<br />occurrence: 2</h2><div><ol><li>Loved the tasty chicken and shrimp Pad Thai, and Vietnamese spring rolls ...</li><li>The Vietnamese spring rolls had a flaky tasteless, cracked flour mixture on it exterior and the menu described it came with a `` salad'' when in fact a leaf lettuce garnish was the truth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1687">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1689">Next</a></li>
</ul>