<% provide :title, 'Opinion Target 2148' %><h2>cha siu<br />occurrence: 2</h2><div><ol><li>They only do take out and their BBQ pork ( cha siu) is out of this world.</li><li>The half fat half lean BBQ pork ( cha siu) have a good smoke, the meat is very soft and tender and the fat melts in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2149">Next</a></li>
</ul>