<% provide :title, 'Opinion Target 4695' %><h2>Thai Pumpkin<br />occurrence: 1</h2><div><ol><li>This was really good as well as it was served as it were escargot and it just tasted wonderful 3) Thai Pumpkin Soup- tasted good similar to lobster soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4696">Next</a></li>
</ul>