<% provide :title, 'Opinion Target 5680' %><h2>veal and chicken entrees<br />occurrence: 1</h2><div><ol><li>MNT serves mainly pizza and pasta, plus a few veal and chicken entrees.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5681">Next</a></li>
</ul>