<% provide :title, 'Opinion Target 4768' %><h2>cornbeef<br />occurrence: 1</h2><div><ol><li>5 stars just for the cornbeef ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4769">Next</a></li>
</ul>