<% provide :title, 'Opinion Target 5960' %><h2>Vietnamese style coffee<br />occurrence: 1</h2><div><ol><li>A craving for strong Vietnamese style coffee, no matter how heavily calorie induced the condensed milk is in the bottom of the cup .. the nerve of even counting calories !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5959">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5961">Next</a></li>
</ul>