<% provide :title, 'Opinion Target 2471' %><h2>Asahi Black<br />occurrence: 1</h2><div><ol><li>Great food, very chill atmosphere and great drinks ( Asahi Black is an amazing beer you ca n't get at lot of other places).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2472">Next</a></li>
</ul>