<% provide :title, 'Opinion Target 8328' %><h2>bao ( soup dumplings<br />occurrence: 1</h2><div><ol><li>Last time I was here, a few days ago, we had- `` hong yo chau shao'' ( spicy wonton): waaay too watery- `` fan twan'' ( rice rolls): the filling was good, i like the radish- `` yo tiau'' really small and dry- shanghai noodles: meh, kinda bland- shao long bao ( soup dumplings): MEH Nothing spectacular about this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8327">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8329">Next</a></li>
</ul>