<% provide :title, 'Opinion Target 9592' %><h2>egg dishes<br />occurrence: 1</h2><div><ol><li>Had a breakfast with some friends, all sorts of egg dishes with the usual Jewish spin, bagels etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9593">Next</a></li>
</ul>