<% provide :title, 'Opinion Target 1363' %><h2>meat platter<br />occurrence: 2</h2><div><ol><li>It was supposed to be gyros, souvlaki, fillet mignon, lamb chops for the meat platter.</li><li>Then we ordered cheese and meat platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1362">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1364">Next</a></li>
</ul>