<% provide :title, 'Opinion Target 7951' %><h2>dumpling tofu soup<br />occurrence: 1</h2><div><ol><li>We usually go with the dumpling tofu soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7952">Next</a></li>
</ul>