<% provide :title, 'Opinion Target 1651' %><h2>tuna maki<br />occurrence: 2</h2><div><ol><li>My husband ordered the chirashi dinner ( came with garden salad + miso soup) and I ordered the spicy tuna maki and California tempura roll.</li><li>The next one is spicy tuna maki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1652">Next</a></li>
</ul>