<% provide :title, 'Opinion Target 7571' %><h2>pistachio buttercream<br />occurrence: 1</h2><div><ol><li>The service was good the people were friendly and talkative and this waiter gave us opinion on which cake to get since we were torn between the pistachio cheesecake and the pistachio buttercream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7572">Next</a></li>
</ul>