<% provide :title, 'Opinion Target 2787' %><h2>garlic level<br />occurrence: 1</h2><div><ol><li>The tzatziki itself made my wife feel ill for the rest of the evening because the garlic level was tilting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2786">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2788">Next</a></li>
</ul>