<% provide :title, 'Opinion Target 1821' %><h2>French onion soups<br />occurrence: 2</h2><div><ol><li>I 've had enough French onion soups in my short-lived life thus far and I have a pretty solid recipe myself as well.</li><li>For appetizers our table had: 2 French onion soups, seafood chowder, beet salad &amp; calamari.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1822">Next</a></li>
</ul>