<% provide :title, 'Opinion Target 482' %><h2>deco<br />occurrence: 8</h2><div><ol><li>The deco is mostly white and super cute!</li><li>Great deco.</li><li>Will bring out-of-town friends to visit again, due to the beautiful deco.</li><li>I am surprise when this location suppose to be new ... since the deco is plain and feels dated.</li><li>It would be better if their deco was newer &amp; more modern.</li><li>The deco though is a little outdated and in need for some renovation.</li><li>The deco is trendy although not glamorous.</li><li>The inside looks clean and the deco are quite nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_483">Next</a></li>
</ul>