<% provide :title, 'Opinion Target 3411' %><h2>bulgogi hot stone<br />occurrence: 1</h2><div><ol><li>We had the bulgogi hot stone and the beef soup which tasted really bland, but I guess that was how it was supposed to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3410">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3412">Next</a></li>
</ul>