<% provide :title, 'Opinion Target 6923' %><h2>6oz Steak burger<br />occurrence: 1</h2><div><ol><li>My brother 's friends all went crazy for the 6oz Steak burger, but personally, I did n't taste what all the fuss was about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6924">Next</a></li>
</ul>