<% provide :title, 'Opinion Target 4100' %><h2>garlic fried chicken<br />occurrence: 1</h2><div><ol><li>I love ordering the egg fried rice, salty and spicy squid ( highly recommend this; I like to put chilli oil on it too), Cantonese chow mein ( crispy, yet saucy, and garlic fried chicken ( very crispy).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4101">Next</a></li>
</ul>