<% provide :title, 'Opinion Target 3493' %><h2>yam tempuras<br />occurrence: 1</h2><div><ol><li>The rolls itself were actually pretty good, there is n't too much rice, and the shrimp tempura, soft-shell crab and the yam tempuras were all nice and crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3494">Next</a></li>
</ul>