<% provide :title, 'Opinion Target 6532' %><h2>chives<br />occurrence: 1</h2><div><ol><li>We also had the pan-fried pork dumplings, the pan-fried calzone with garlic, chives, shrimp, and egg, and the pan-fried green onion pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6533">Next</a></li>
</ul>