<% provide :title, 'Opinion Target 2055' %><h2>chicken cutlet sandwich<br />occurrence: 2</h2><div><ol><li>Seriously loved the chicken cutlet sandwich with sweet peppers here!</li><li>Whether it 's a hot veal, steak, or chicken cutlet sandwich this place has the right stuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2056">Next</a></li>
</ul>