<% provide :title, 'Opinion Target 3190' %><h2>yellow plantain<br />occurrence: 1</h2><div><ol><li>I always opt for the yellow plantain over the green ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3191">Next</a></li>
</ul>