<% provide :title, 'Opinion Target 1847' %><h2>garlic prawns<br />occurrence: 2</h2><div><ol><li>I usually come with my boyfriend he gets the broiled 2 lb lobster dinner and I the garlic prawns.</li><li>The giant garlic prawns have never sold me short.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1848">Next</a></li>
</ul>