<% provide :title, 'Opinion Target 4944' %><h2>pancit sampaguita BBQ chicken<br />occurrence: 1</h2><div><ol><li>Loved the crispy pork belly and the pancit sampaguita BBQ chicken was slightly burnt but very tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4943">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4945">Next</a></li>
</ul>