<% provide :title, 'Opinion Target 7375' %><h2>goose liver pate<br />occurrence: 1</h2><div><ol><li>What is worse is that it had goose liver pate on TOP of the filet mignon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7376">Next</a></li>
</ul>