<% provide :title, 'Opinion Target 8142' %><h2>minuses<br />occurrence: 1</h2><div><ol><li>The minuses can and may or may not be limited to kids running around, which may or may not be to your perference; grouchy-faced employees; not exactly efficient service for your food; I think the BF 's pasta took longer than it should have and it apparently was n't that good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8143">Next</a></li>
</ul>