<% provide :title, 'Opinion Target 8013' %><h2>stone pots<br />occurrence: 1</h2><div><ol><li>Tofu is gorgeously soft, they serve the rice ( purple rice) and pour the water into the stone pots for the soup for you too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8014">Next</a></li>
</ul>