<% provide :title, 'Opinion Target 998' %><h2>penne<br />occurrence: 3</h2><div><ol><li>An expanse of cold pastas ( penne, macaroni, etc) mixed with sundried tomato, pesto, etc.</li><li>My fiancé got the spicy sausage pizza and his brother got the penne in ragu sauce.</li><li>Liked both but commented that he thought the Penne was going to be a larger serving ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_997">Previous</a></li>
  <li class="next"><a href=".\opinion_target_999">Next</a></li>
</ul>