<% provide :title, 'Opinion Target 2203' %><h2>Spicy Seafood Yaki Udon<br />occurrence: 1</h2><div><ol><li>Kids always get Bento boxes and I 'm a fan of the Spicy Seafood Yaki Udon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2202">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2204">Next</a></li>
</ul>