<% provide :title, 'Opinion Target 8798' %><h2>Cantonese cuisine<br />occurrence: 1</h2><div><ol><li>Dinner menu is the same old Cantonese cuisine with the addition of some abalone and shark fin soup ( knowing that some are morally against it, I 'm pointing it out).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8799">Next</a></li>
</ul>