<% provide :title, 'Opinion Target 2280' %><h2>hamburger sandwiches<br />occurrence: 1</h2><div><ol><li>We tried tongue and hamburger sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2281">Next</a></li>
</ul>