<% provide :title, 'Opinion Target 7185' %><h2>meat pieces<br />occurrence: 1</h2><div><ol><li>The meat is very succulent and meaty they have half potatoes in and lots of spices the meat pieces are tenser and cooked right the soup and smooth and spicy at the same time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7186">Next</a></li>
</ul>