<% provide :title, 'Opinion Target 5202' %><h2>rice cake medallions<br />occurrence: 1</h2><div><ol><li>Rice cake- no. i do n't like rice cake. this was n't Korean style when it 's sliced fat and juicy, this was more like rice cake medallions ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5201">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5203">Next</a></li>
</ul>