<% provide :title, 'Opinion Target 9064' %><h2>kimchi chigage soup<br />occurrence: 1</h2><div><ol><li>Each time I 've gone here it was to order the prom belly and the kimchi chigage soup!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9063">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9065">Next</a></li>
</ul>