<% provide :title, 'Opinion Target 1675' %><h2>butterfish<br />occurrence: 2</h2><div><ol><li>The butterfish and whitefish in particular are delicious.</li><li>My favorite is the white dragon roll, which is the butterfish on top of a dynamite roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1676">Next</a></li>
</ul>