<% provide :title, 'Opinion Target 8654' %><h2>Tah Dig<br />occurrence: 1</h2><div><ol><li>The Tah Dig was good, though a big too crunchy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8655">Next</a></li>
</ul>