<% provide :title, 'Opinion Target 4118' %><h2>dinner spot<br />occurrence: 1</h2><div><ol><li>A good place to go for a drink but not a good dinner spot on a Monday at least.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4117">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4119">Next</a></li>
</ul>