<% provide :title, 'Opinion Target 1846' %><h2>priced food<br />occurrence: 2</h2><div><ol><li>Overall, Miller 's Tavern is great for a casual night out for decently priced food with decent quality.</li><li>Over priced food, dirty dirty dirty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1847">Next</a></li>
</ul>