<% provide :title, 'Opinion Target 3463' %><h2>kashk bademjan<br />occurrence: 1</h2><div><ol><li>My favorite side is the kashk bademjan ... an amazinggg eggplant side ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3464">Next</a></li>
</ul>