<% provide :title, 'Opinion Target 5906' %><h2>mango sticky rice for dessert<br />occurrence: 1</h2><div><ol><li>I had the mango sticky rice for dessert but it was very sweet thus I poked at it a little.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5905">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5907">Next</a></li>
</ul>