<% provide :title, 'Opinion Target 4215' %><h2>condensed coffee with milk<br />occurrence: 1</h2><div><ol><li>The condensed coffee with milk on ice comes in a tiny plastic take out cup already mixed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4214">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4216">Next</a></li>
</ul>