<% provide :title, 'Opinion Target 1304' %><h2>ginger ice cream<br />occurrence: 3</h2><div><ol><li>For desert, we both ordered the ginger ice cream ( not every Japanese restaurants offers ginger ice cream).</li><li>A real find is the ginger ice cream on the dessert menu.</li><li>I 'd come back here just for the ginger ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1305">Next</a></li>
</ul>