<% provide :title, 'Opinion Target 3295' %><h2>coconut fried rice<br />occurrence: 1</h2><div><ol><li>When I order coconut fried rice and it comes very yellow, I 'm always highly skeptical of how much coconut is going to be in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3296">Next</a></li>
</ul>