<% provide :title, 'Opinion Target 2529' %><h2>Greek seafood salad<br />occurrence: 1</h2><div><ol><li>The best is Chinese chicken caeser salad ( mix), the Greek seafood salad is also pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2530">Next</a></li>
</ul>