<% provide :title, 'Opinion Target 2754' %><h2>Green chicken Thai curry<br />occurrence: 1</h2><div><ol><li>Attentive service Tasty dishes: Green chicken Thai curry, Red tofu Thai curry Mango salad big &amp; tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2753">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2755">Next</a></li>
</ul>