<% provide :title, 'Opinion Target 8752' %><h2>pork loin<br />occurrence: 1</h2><div><ol><li>For the entree, my pork loin is very tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8753">Next</a></li>
</ul>