<% provide :title, 'Opinion Target 5218' %><h2>'' carrot cake<br />occurrence: 1</h2><div><ol><li>Now for the stuff that did n't please me: 1) the `` colossal'' carrot cake is barefaced false advertising.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5219">Next</a></li>
</ul>