<% provide :title, 'Opinion Target 3043' %><h2>Hot Spicy Spicy<br />occurrence: 1</h2><div><ol><li>Hot Spicy Spicy caters to people who demand the same level of numbing hotness in their food which regularly cooked with flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3044">Next</a></li>
</ul>