<% provide :title, 'Opinion Target 1236' %><h2>cha siu<br />occurrence: 3</h2><div><ol><li>They only do take out and their BBQ pork ( cha siu) is out of this world.</li><li>However, every time I come back here, I am amazed by the amazing `` cha siu'' that they offer.</li><li>The half fat half lean BBQ pork ( cha siu) have a good smoke, the meat is very soft and tender and the fat melts in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1235">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1237">Next</a></li>
</ul>