<% provide :title, 'Opinion Target 1881' %><h2>dynamite and spider rolls<br />occurrence: 2</h2><div><ol><li>I recommend their dynamite and spider rolls.</li><li>The Dynamite and Spider rolls were great, not too much rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1880">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1882">Next</a></li>
</ul>