<% provide :title, 'Opinion Target 1781' %><h2>pepper paste<br />occurrence: 2</h2><div><ol><li>The extra hot I get is with their pepper paste and holy crap is it hot but soooooo good.</li><li>Came with enough red pepper paste to burn the tongue a bit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1780">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1782">Next</a></li>
</ul>