<% provide :title, 'Opinion Target 1145' %><h2>pork soup dumplings<br />occurrence: 4</h2><div><ol><li>Here the crab and pork soup dumplings are the best.</li><li>My family likes to order a variety of dimsums, because they taste authentic; like their pork soup dumplings, which tastes great, especially when you dip it in the tofu sauce ( hahaha).</li><li>Ok food when you want pork soup dumplings.</li><li>Mental note: ( stick with the cheaper pork soup dumplings).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1144">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1146">Next</a></li>
</ul>