<% provide :title, 'Opinion Target 3894' %><h2>scallop sashimi Beef ribs<br />occurrence: 1</h2><div><ol><li>Recommendations: Scallop sushi and scallop sashimi Beef ribs ( which are cooked to a very pleasing medium-rare) Herb white tuna sashimi Eggplant tempura Avoid: Sushi Legend fried rice Sake mussel ( dry, tough, over-salted) Crazy dragon roll TL; DR Efficient service, great grill items, simple menu items shine over heavily-seasoned and sauced rolls and entrees.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3893">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3895">Next</a></li>
</ul>