<% provide :title, 'Opinion Target 5792' %><h2>dessert plates<br />occurrence: 1</h2><div><ol><li>The waitress took away our dessert plates and promptly brought our bill, which we found rude since we wanted to talk for a few minutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5793">Next</a></li>
</ul>