<% provide :title, 'Opinion Target 9717' %><h2>fried vegetables<br />occurrence: 1</h2><div><ol><li>I 'm quite certain this dish 's description even states `` loaded with stir fried vegetables,'' yes-freaking-please.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9718">Next</a></li>
</ul>