<% provide :title, 'Opinion Target 2652' %><h2>lamb sausage pasta<br />occurrence: 1</h2><div><ol><li>We ordered the orecchiette ( lamb sausage pasta) and pizza polpo ( octopus).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2653">Next</a></li>
</ul>