<% provide :title, 'Opinion Target 4789' %><h2>lunch buffet menu<br />occurrence: 1</h2><div><ol><li>They also levy a charge on any uneaten food, which is completely reasonable given the quality of the items available on the lunch buffet menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4790">Next</a></li>
</ul>