<% provide :title, 'Opinion Target 5470' %><h2>seafood egg white dish<br />occurrence: 1</h2><div><ol><li>The seafood egg white dish was yummy too, has a lot of scallops !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5471">Next</a></li>
</ul>