<% provide :title, 'Opinion Target 2487' %><h2>peppercorn steak<br />occurrence: 2</h2><div><ol><li>If you order the peppercorn steak they grill your steak in front of you.</li><li>However, the peppercorn steak was amazingly delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2488">Next</a></li>
</ul>