<% provide :title, 'Opinion Target 4463' %><h2>beef bourgignon<br />occurrence: 1</h2><div><ol><li>The main courses; duck breast, papardello pasta w. beef bourgignon, steak frites and jumbo scallops were all delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4464">Next</a></li>
</ul>