<% provide :title, 'Opinion Target 8641' %><h2>lamb kofta<br />occurrence: 1</h2><div><ol><li>Almost like a lamb kofta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8642">Next</a></li>
</ul>