<% provide :title, 'Opinion Target 4548' %><h2>capellini<br />occurrence: 1</h2><div><ol><li>My mom and I had the same dish ( penne arrabbiata) while my cousins had ravioli and capellini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4549">Next</a></li>
</ul>