<% provide :title, 'Opinion Target 4012' %><h2>halibut ; seared scallops or grilled salmon<br />occurrence: 1</h2><div><ol><li>All well done, but lacking the pizazz of the less formal options, or the refinement of the range of fish and seafood dishes, including a boulliabaise-style halibut; seared scallops or grilled salmon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4013">Next</a></li>
</ul>