<% provide :title, 'Opinion Target 8315' %><h2>starch dish<br />occurrence: 1</h2><div><ol><li>A good starch dish for something filling but not too heavy, and something fairly mainstream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8316">Next</a></li>
</ul>