<% provide :title, 'Opinion Target 1243' %><h2>lemongrass<br />occurrence: 3</h2><div><ol><li>I love the lemongrass even more than the pho haha.</li><li>I was happy that the lemongrass DIDN' T take a back seat.</li><li>The soup also contained chunks on inedible lemongrass.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1244">Next</a></li>
</ul>