<% provide :title, 'Opinion Target 4194' %><h2>pan fried fish with clam cream sauce with veggies<br />occurrence: 1</h2><div><ol><li>Ordered pan fried fish with clam cream sauce with veggies and potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4195">Next</a></li>
</ul>