<% provide :title, 'Opinion Target 4218' %><h2>deep fried pita chips<br />occurrence: 1</h2><div><ol><li>We liked the deep fried pita chips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4219">Next</a></li>
</ul>