<% provide :title, 'Opinion Target 6871' %><h2>BBQ rotisserie char<br />occurrence: 1</h2><div><ol><li>The chicken was so well seasoned and moist and it had that wonderful BBQ rotisserie char taste by far one of the best Portuguese chickens i have had in a long time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6872">Next</a></li>
</ul>