<% provide :title, 'Opinion Target 2112' %><h2>bacon combo<br />occurrence: 2</h2><div><ol><li>Cheaper !! $ 7.05 for a 12 `` bacon combo, and my friend got the 12'' gyro sub for only $ 5.95.</li><li>The best sandwich is the bacon combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2111">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2113">Next</a></li>
</ul>