<% provide :title, 'Opinion Target 3343' %><h2>selection of breakfast<br />occurrence: 1</h2><div><ol><li>Decent selection of breakfast, lunch, dinner options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3344">Next</a></li>
</ul>