<% provide :title, 'Opinion Target 1652' %><h2>chicken teryiaki<br />occurrence: 2</h2><div><ol><li>First off, I got a chicken teryiaki bento box but I wanted to substitute some stuff inside it and they did that ( it came with a california roll but I wanted a green dragon).</li><li>Cost is $ 28 and comes with a Dragon Roll, assorted Sashimi, fried rice, miso, salad, chicken teryiaki, and shrimp/veg tempura, and ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1653">Next</a></li>
</ul>