<% provide :title, 'Opinion Target 7892' %><h2>food option<br />occurrence: 1</h2><div><ol><li>Note: They are a speciality Soontofu/Soondubu restaurant, which means they serve majorly of Soontufu/Soondubu options and only 1 other food option which is Bibimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7893">Next</a></li>
</ul>