<% provide :title, 'Opinion Target 975' %><h2>turkish food<br />occurrence: 4</h2><div><ol><li>Other than that best turkish food ive had in toronto so far although I have n't been to too many.</li><li>Customer service 100% Real Turkish food YES Good prices YES The best tea and dessert, you do not need to go back to Turkey!</li><li>Very nice `` casual'' format place for good Turkish food.</li><li>Food is just awful, tastes bad and nothing close to actual Turkish food, nade us sick. music is just terrible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_974">Previous</a></li>
  <li class="next"><a href=".\opinion_target_976">Next</a></li>
</ul>