<% provide :title, 'Opinion Target 1194' %><h2>protein<br />occurrence: 3</h2><div><ol><li>It tasted pretty bland, but protein is protein, and I still ate it.</li><li>Not to say that you do n't get enough protein, you will, no worries.</li><li>When building your own noodle, you choose the type of noodle, broth, protein and vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1195">Next</a></li>
</ul>