<% provide :title, 'Opinion Target 9439' %><h2>ginger scallion lobster<br />occurrence: 1</h2><div><ol><li>The ginger scallion lobster arrived hot and had a nice touch of sweetness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9438">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9440">Next</a></li>
</ul>