<% provide :title, 'Opinion Target 8701' %><h2>shrimp chips<br />occurrence: 1</h2><div><ol><li>A small bag of crispy shrimp chips is included with every order!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8700">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8702">Next</a></li>
</ul>