<% provide :title, 'Opinion Target 9272' %><h2>appetizer tray<br />occurrence: 1</h2><div><ol><li>We did not see a waiter through the evening unless I had to flag him down because usually there are waiters every few minutes to come by and top of your water or freshen up your appetizer tray &amp; pour your wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9273">Next</a></li>
</ul>