<% provide :title, 'Opinion Target 2076' %><h2>beef bowl<br />occurrence: 2</h2><div><ol><li>Big beef bowl is my go to in the area for hand pulled noodles.</li><li>The beef bowl comes with enough slices of meat and the quality is alright.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2075">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2077">Next</a></li>
</ul>