<% provide :title, 'Opinion Target 3113' %><h2>Grapefruit Shaved Ice<br />occurrence: 1</h2><div><ol><li>The Grapefruit Shaved Ice was a mountain of shaved ice laced with condensed milk amd grapefruit juice, toppled with pieces of grapefruit, banana, strawberry and conflakes and finally, a scoop of mango ice cream to top it off!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3112">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3114">Next</a></li>
</ul>