<% provide :title, 'Opinion Target 1623' %><h2>haddock<br />occurrence: 2</h2><div><ol><li>Very greasy tho but what do you expect, it is fish and chips after all lol I got the haddock and my boyfriend got the halibut both were good but the fries was a small portion which was disappointing considering how much it came up to.</li><li>We love this place, the haddock is moist and F' in HUGE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1624">Next</a></li>
</ul>