<% provide :title, 'Opinion Target 6373' %><h2>portions of meat<br />occurrence: 1</h2><div><ol><li>There are good portions of meat on-the-bone which is easy to remove given how tender it is.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6374">Next</a></li>
</ul>