<% provide :title, 'Opinion Target 4104' %><h2>crab cake benedict<br />occurrence: 1</h2><div><ol><li>I had the crab cake benedict.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4105">Next</a></li>
</ul>