<% provide :title, 'Opinion Target 6315' %><h2>products<br />occurrence: 1</h2><div><ol><li>The quality of all their products are gorgeous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6316">Next</a></li>
</ul>