<% provide :title, 'Opinion Target 9669' %><h2>marinated meat<br />occurrence: 1</h2><div><ol><li>Not to mention during the summer you can buy their marinated meat which is a plus if you 're going away for the weekend and planning on a BBQ.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9670">Next</a></li>
</ul>