<% provide :title, 'Opinion Target 5596' %><h2>haemul<br />occurrence: 1</h2><div><ol><li>The haemul ( seafood) pajeon was uncooked in the middle, with little unpleasant pockets of batter around the seafood pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5595">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5597">Next</a></li>
</ul>