<% provide :title, 'Opinion Target 4179' %><h2>glass of vino<br />occurrence: 1</h2><div><ol><li>I was having a glass of vino ( which was a great Merlot by the way!) and the table beside me sat a very, very old couple.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4180">Next</a></li>
</ul>