<% provide :title, 'Opinion Target 1723' %><h2>pearls<br />occurrence: 2</h2><div><ol><li>The pearls were fresh and the tea was n't too syrupy.</li><li>They have the regular brownish chewy pearls, as well as the option of `` green tea pearls''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1722">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1724">Next</a></li>
</ul>