<% provide :title, 'Opinion Target 4075' %><h2>norteno Mexican food<br />occurrence: 1</h2><div><ol><li>So just a head 's up, I 'm a Texan living in Canada, so I 'm really biased regarding norteno Mexican food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4074">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4076">Next</a></li>
</ul>