<% provide :title, 'Opinion Target 5070' %><h2>lemon soju<br />occurrence: 1</h2><div><ol><li>The strawberry, grape and lemon soju are amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5071">Next</a></li>
</ul>