<% provide :title, 'Opinion Target 1506' %><h2>Cashews<br />occurrence: 2</h2><div><ol><li>The Cashews were still crunchy as were the Veggies.</li><li>The cashews were not crunchy but stale.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1507">Next</a></li>
</ul>