<% provide :title, 'Opinion Target 3341' %><h2>yakitori<br />occurrence: 1</h2><div><ol><li>We tried a wide selection of appetizers including the fried tofu with something on top ( I forget what that is called ...), kalbi ribs, gyoza, yakitori.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3340">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3342">Next</a></li>
</ul>