<% provide :title, 'Opinion Target 6930' %><h2>fast-food style<br />occurrence: 1</h2><div><ol><li>Not sure how often I 'll be coming back This is a decent fast-food style Thai take-out joint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6931">Next</a></li>
</ul>