<% provide :title, 'Opinion Target 7224' %><h2>buffet setup<br />occurrence: 1</h2><div><ol><li>The small buffet setup they have is surprisingly decent, though obviously not the main attraction.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7225">Next</a></li>
</ul>