<% provide :title, 'Opinion Target 4785' %><h2>Fried Chicken meals<br />occurrence: 1</h2><div><ol><li>I have gone six times in the past three weeks and it has been hit or miss. They offer BBQ, Jerk, and Fried Chicken meals however only ONCE have they had any chicken besides fried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4786">Next</a></li>
</ul>