<% provide :title, 'Opinion Target 2657' %><h2>shredded cabbage<br />occurrence: 1</h2><div><ol><li>Traditionally, Korean dumplings are filled with mixtures of tofu, shredded cabbage, bean sprouts, pork, shredded kimchi and so on ... so their fillings are less firm than Chinese dumpling fillings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2658">Next</a></li>
</ul>