<% provide :title, 'Opinion Target 6795' %><h2>prawn risotto<br />occurrence: 1</h2><div><ol><li>I had the scallop and prawn risotto, which was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6794">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6796">Next</a></li>
</ul>