<% provide :title, 'Opinion Target 5287' %><h2>borsch soup<br />occurrence: 1</h2><div><ol><li>My friend had the borsch soup and cream of mushroom on chicken with pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5288">Next</a></li>
</ul>