<% provide :title, 'Opinion Target 1878' %><h2>hash<br />occurrence: 2</h2><div><ol><li>The eggs and hash are the same as any other places.</li><li>Food is great- Hazel 's has your signature brunch options ( eggs, pancakges, hash etc ...).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1877">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1879">Next</a></li>
</ul>