<% provide :title, 'Opinion Target 1121' %><h2>tuna sushi<br />occurrence: 3</h2><div><ol><li>Be warned that there is extra wasabi on the tuna sushi for some reason, I did n't mind, but it was a bit surprising.</li><li>Misses- tuna sushi was not fresh, tempura was tasteless and not crisp, Agedashi tofu no flavour, beef teriyaki tough to chew and low grade cut ( round steak), portion sizes for the cooked dishes are small and about half the size of what 's typical.</li><li>The tuna sushi was great but the tuna rolls were a bit meh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1122">Next</a></li>
</ul>