<% provide :title, 'Opinion Target 9480' %><h2>mango salad ( shredded<br />occurrence: 1</h2><div><ol><li>The Tiger Shrimp was just lightly breaded shrimp tossed with a mango salad ( shredded) and custard sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9481">Next</a></li>
</ul>