<% provide :title, 'Opinion Target 4238' %><h2>selection of tea<br />occurrence: 1</h2><div><ol><li>Great selection of tea and very helpful staff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4237">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4239">Next</a></li>
</ul>