<% provide :title, 'Opinion Target 2469' %><h2>main dining room<br />occurrence: 2</h2><div><ol><li>There is the main dining room and the teppenyaki area.</li><li>The main dining room is spacious and elegantly decorated.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2470">Next</a></li>
</ul>