<% provide :title, 'Opinion Target 6663' %><h2>Seafood pancakes<br />occurrence: 1</h2><div><ol><li>Seafood pancakes have been staple in many Korean restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6664">Next</a></li>
</ul>