<% provide :title, 'Opinion Target 3970' %><h2>Neptune Chicken with hollandaise<br />occurrence: 1</h2><div><ol><li>The Neptune Chicken with hollandaise was disappointung, as it was cooked too much, and the hollandaise was not good, separating and the fries were frozen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3969">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3971">Next</a></li>
</ul>