<% provide :title, 'Opinion Target 5681' %><h2>second chicken dish<br />occurrence: 1</h2><div><ol><li>The second chicken dish that came with the combo was the fried chicken, which was a generous portion of pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5682">Next</a></li>
</ul>