<% provide :title, 'Opinion Target 7183' %><h2>Gam Ja<br />occurrence: 1</h2><div><ol><li>The Gam Ja Tang here is good and meaty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7184">Next</a></li>
</ul>