<% provide :title, 'Opinion Target 4862' %><h2>beef/lamb noodle soup<br />occurrence: 1</h2><div><ol><li>One of my personal favourite dishes is the beef/lamb noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4863">Next</a></li>
</ul>