<% provide :title, 'Opinion Target 1639' %><h2>served with salad and miso soup<br />occurrence: 2</h2><div><ol><li>Chirashi don ( $ 15.95)- assorted sashimi on rice ( served with salad and miso soup).</li><li>Katsu don ( $ 9.95)- panko-crushed ( sic) pork with egg and onion, served with katsu sauce and rice ( served with salad and miso soup).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1640">Next</a></li>
</ul>