<% provide :title, 'Opinion Target 6370' %><h2>rice cake dish<br />occurrence: 1</h2><div><ol><li>I 'd like to try their spicy rice cake dish next time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6369">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6371">Next</a></li>
</ul>