<% provide :title, 'Opinion Target 1798' %><h2>deep fried chicken<br />occurrence: 2</h2><div><ol><li>The Summerlicious menu item- deep fried chicken- came out with blood in between the wing/ chest area.</li><li>They have really good deep fried chicken with some spicy sauce ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1799">Next</a></li>
</ul>