<% provide :title, 'Opinion Target 890' %><h2>beef burrito<br />occurrence: 5</h2><div><ol><li>I ordered a beef burrito, 2 pulled pork hard tacos and a chicken quesadilla.</li><li>We also ordered the combo platter ( chicken enchilada and beef burrito were pretty good but the cheese quesadilla was just ok.</li><li>We ordered a mixed platter which came with an chicken enchilada, beef burrito, and a quesadilla, served with sour cream and guacamole.</li><li>The highlight for me was the corn tortilla quesadilla, and the beef burrito.</li><li>The beef burrito was the best tasting item.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_891">Next</a></li>
</ul>