<% provide :title, 'Opinion Target 4086' %><h2>Lemon parfait<br />occurrence: 1</h2><div><ol><li>Lemon parfait: this looked really pretty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4085">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4087">Next</a></li>
</ul>