<% provide :title, 'Opinion Target 3308' %><h2>Black Mamba<br />occurrence: 1</h2><div><ol><li>There hottest, Black Mamba, is measured at 4 million scoville units ( a Jalapeno is between 2.5-5 thousand Scoville units) so yes it 's hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3309">Next</a></li>
</ul>