<% provide :title, 'Opinion Target 1542' %><h2>Linguini<br />occurrence: 2</h2><div><ol><li>The Linguini ai Fungi was the better of the two.</li><li>The linguini, no doubt is boiled in a seafood broth of sorts as the noodles themselves were flavourful in their own right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1543">Next</a></li>
</ul>