<% provide :title, 'Opinion Target 5395' %><h2>egg pancake<br />occurrence: 1</h2><div><ol><li>The egg pancake was bland though other than that they have good food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5396">Next</a></li>
</ul>