<% provide :title, 'Opinion Target 4382' %><h2>chicken donburi<br />occurrence: 1</h2><div><ol><li>The chicken donburi is very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4383">Next</a></li>
</ul>