<% provide :title, 'Opinion Target 2314' %><h2>pear salad<br />occurrence: 1</h2><div><ol><li>The salad I ended up receiving was delicious and my mom enjoyed her pear salad too which was a whopping $ 26 for the smallest salad portion I had seen in my life- it was so little that after she had to run to the grocery store and get a sandwich and it does not take a lot to power that woman!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2315">Next</a></li>
</ul>