<% provide :title, 'Opinion Target 5714' %><h2>green olives<br />occurrence: 1</h2><div><ol><li>However it was inviting and clean, the gentleman who prepared my food was very friendly and attentive, and the falafel was great ( recommend the green olives, really gives it some extra flavor).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5715">Next</a></li>
</ul>