<% provide :title, 'Opinion Target 7191' %><h2>beef noodle dishes<br />occurrence: 1</h2><div><ol><li>When we ordered one of the beef noodle dishes, the server pointed out it was cold so we quickly changed our minds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7192">Next</a></li>
</ul>