<% provide :title, 'Opinion Target 7356' %><h2>regular fried noodles and rice<br />occurrence: 1</h2><div><ol><li>All the food we ordered from their specials menu was great, the regular fried noodles and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7357">Next</a></li>
</ul>