<% provide :title, 'Opinion Target 6393' %><h2>beef with ginger lo mein<br />occurrence: 1</h2><div><ol><li>I got the beef with ginger lo mein and it was very bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6394">Next</a></li>
</ul>