<% provide :title, 'Opinion Target 1239' %><h2>beef noodle<br />occurrence: 3</h2><div><ol><li>I like their house special rare beef noodle, satay noodle and curry soup base dishes.</li><li>The beef noodle is with the thin noodle but the lamb noodle is with thick noodles like lasagna noodles.</li><li>Hand Made Beef Noodle Soup ( $ 5.99) was quite savory, the noodle cooked al dente with a good bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1240">Next</a></li>
</ul>