<% provide :title, 'Opinion Target 2319' %><h2>minced crab meat<br />occurrence: 1</h2><div><ol><li>It used to be with minced crab meat but now its just a crab stick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2318">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2320">Next</a></li>
</ul>