<% provide :title, 'Opinion Target 6144' %><h2>authentic Northern China Muslim Chinese food<br />occurrence: 1</h2><div><ol><li>Great authentic Northern China Muslim Chinese food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6145">Next</a></li>
</ul>