<% provide :title, 'Opinion Target 3903' %><h2>KFC chicken sandwich<br />occurrence: 1</h2><div><ol><li>I think I was hoping that it would be reminiscent of the ever-delicious KFC chicken sandwich but sadly, this was not the case.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3904">Next</a></li>
</ul>