<% provide :title, 'Opinion Target 9211' %><h2>Baked Scallop Pan Fried Mixed Mushroom Food<br />occurrence: 1</h2><div><ol><li>Saikyo Style Baked Scallop Pan Fried Mixed Mushroom Food is overall pretty good, sushi and sashimi wise, nothing too special but for what you get and the price is pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9212">Next</a></li>
</ul>