<% provide :title, 'Opinion Target 1497' %><h2>staff members<br />occurrence: 2</h2><div><ol><li>Next, some of the staff members are n't very nice.</li><li>Last time I was there, I walked in and three of the staff members were sleeping amongst the booths.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1498">Next</a></li>
</ul>