<% provide :title, 'Opinion Target 1577' %><h2>wedgies<br />occurrence: 2</h2><div><ol><li>I went there the other day and got 4 pieces and wedgies.</li><li>The wedgies were perfect, and what you expect from Mary Brown 's: fresh, flavourful, and perfect with their suspect gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1578">Next</a></li>
</ul>