<% provide :title, 'Opinion Target 9167' %><h2>Lindt chocolate ice cream cake<br />occurrence: 1</h2><div><ol><li>For desert my friend ordered the Lindt chocolate ice cream cake .. it was amazing!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9168">Next</a></li>
</ul>