<% provide :title, 'Opinion Target 2271' %><h2>duck wraps<br />occurrence: 2</h2><div><ol><li>One great thing is that they sell their Peking duck wraps to go, very useful when we want to host Peking duck and do n't want to make out own wraps.</li><li>The highlight dishes included peking duck wraps, large squares of braised pork belly, and the lettuce wraps.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2272">Next</a></li>
</ul>