<% provide :title, 'Opinion Target 7524' %><h2>latte selections<br />occurrence: 1</h2><div><ol><li>They have a binder full of latte selections ( Ha), and each one of them is delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7525">Next</a></li>
</ul>