<% provide :title, 'Opinion Target 1964' %><h2>pineapple<br />occurrence: 2</h2><div><ol><li>When my husband and I went they had a special waffle with lychee, sponge cake pieces, pineapple and coconut, that was one of the best waffles I 've ever had but I do n't know if it 's a regular on their menu.</li><li>The fruits were n't the freshest either- the pineapple was super sour and hard, the strawberry was soggy &amp; the grapes looked unwashed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1963">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1965">Next</a></li>
</ul>