<% provide :title, 'Opinion Target 5687' %><h2>battered chicken wings<br />occurrence: 1</h2><div><ol><li>Korean fried chicken is nothing like your typical sour &amp; sweet thick battered chicken wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5688">Next</a></li>
</ul>