<% provide :title, 'Opinion Target 4790' %><h2>eel roll<br />occurrence: 1</h2><div><ol><li>Favourites: rock shrimp, volcano roll, eel roll, beef teriyaki, banana tempura.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4791">Next</a></li>
</ul>