<% provide :title, 'Opinion Target 2446' %><h2>cabbage salad<br />occurrence: 2</h2><div><ol><li>** A warning to vegans or mayo-haters: These wraps contain their cabbage salad which is made with a healthy portion of mayonnaise.</li><li>At the counter they carry certain dishes like their cabbage salad, green eggplant, fried eggplant and other dips prepackaged if you want to grab them and go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2447">Next</a></li>
</ul>