<% provide :title, 'Opinion Target 2508' %><h2>chicken terriyaki bento boxes<br />occurrence: 1</h2><div><ol><li>Here is what we ordered: 2 chicken terriyaki bento boxes- for $ 11.99 there is a generous amount of food including 2 large shrimp tempuras and 4-5 large pieces of vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2509">Next</a></li>
</ul>