<% provide :title, 'Opinion Target 7576' %><h2>Green tea ice cream taste<br />occurrence: 1</h2><div><ol><li>Green tea ice cream taste horrible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7577">Next</a></li>
</ul>