<% provide :title, 'Opinion Target 4799' %><h2>bark<br />occurrence: 1</h2><div><ol><li>The pork has this wonderful little bark too which I love about the meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4800">Next</a></li>
</ul>