<% provide :title, 'Opinion Target 1890' %><h2>portion of food<br />occurrence: 2</h2><div><ol><li>Think twice, for 15 bucks you are better off eating at bamiyan kabob, for good quality, and generous portion of food.</li><li>It might be the rental in DT is more expensive so they ca n't afford to give us generous variety and portion of food like in this restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1891">Next</a></li>
</ul>