<% provide :title, 'Opinion Target 705' %><h2>chicken roti<br />occurrence: 5</h2><div><ol><li>Delicious chicken roti and jerk chicken dinner.</li><li>I ordered the chicken roti, with boneless chicken breast.</li><li>The chicken roti is just how I like it, thick, rich, and heavy.</li><li>Next, the chicken roti.</li><li>The chicken roti was also not heavy and greasy, but I find the wrapped bread I tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_706">Next</a></li>
</ul>