<% provide :title, 'Opinion Target 1328' %><h2>cheeseburger<br />occurrence: 2</h2><div><ol><li>The curried chicken is quite good and definitely a favourite of mine at this place however, this week I was craving their cheeseburger and fries.</li><li>I ordered a 1/4 pound cheeseburger and fries with gravy ( about $ 7) and another cheeseburger to share with my GF.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1327">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1329">Next</a></li>
</ul>