<% provide :title, 'Opinion Target 2919' %><h2>juice cocktail<br />occurrence: 1</h2><div><ol><li>Instead of saying too bad, you lose out- she gave us a coupon for a free juice cocktail so that we would n't miss out the next time we were back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2918">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2920">Next</a></li>
</ul>