<% provide :title, 'Opinion Target 2940' %><h2>mizuki roll<br />occurrence: 1</h2><div><ol><li>I guess the mizuki roll is leftover end pieces rolled in rice ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2941">Next</a></li>
</ul>