<% provide :title, 'Opinion Target 1926' %><h2>stuffed peppers<br />occurrence: 2</h2><div><ol><li>The lady at the counter was super friendly and mentioned that the lasagna and stuffed peppers are homemade and incredible.</li><li>I 'll have to try the stuffed peppers next time I 'm there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1927">Next</a></li>
</ul>