<% provide :title, 'Opinion Target 7252' %><h2>stir-fry chef station<br />occurrence: 1</h2><div><ol><li>We came here for lunch and it was $ 15.99 for the Chinese lunch buffet, including the stir-fry chef station.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7253">Next</a></li>
</ul>