<% provide :title, 'Opinion Target 3347' %><h2>feel<br />occurrence: 1</h2><div><ol><li>Each booth has a short hanging curtain that provides priavcy and an intimate feel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3348">Next</a></li>
</ul>