<% provide :title, 'Opinion Target 2353' %><h2>matcha green tea ice cream<br />occurrence: 2</h2><div><ol><li>I had the matcha green tea ice cream and crepe and sweet potato latte and they 're all extremely good.</li><li>The crepe was filled with whipped cream and sponge cake and drizzled with chocolate and had two scoops of matcha green tea ice cream on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2352">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2354">Next</a></li>
</ul>