<% provide :title, 'Opinion Target 6338' %><h2>pepperoni thin crust pizza<br />occurrence: 1</h2><div><ol><li>My cheese broccoli soup was pretty bland but thank goodness my delicious pepperoni thin crust pizza saved the day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6339">Next</a></li>
</ul>