<% provide :title, 'Opinion Target 1254' %><h2>hot stone bibimbap<br />occurrence: 3</h2><div><ol><li>I do find that this place is a bit on the pricier side compared to other Korean restaurants, but the quality is definitely high When here for dinner the standard choices we get are the chicken ginseng soup and a hot stone bibimbap.</li><li>The hot stone bibimbap also tasted bland.</li><li>The hot stone bibimbap was alright but the portion was a little small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1253">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1255">Next</a></li>
</ul>