<% provide :title, 'Opinion Target 1115' %><h2>beet salad<br />occurrence: 3</h2><div><ol><li>The beet salad was really good and a perfect portion.</li><li>The salads were fine, a beet salad and a caesar salads, both of ample size and, as I said, fine.</li><li>I can never get enough of this. we ordered a mixed plate of dips and appetizers all of which were fresh and tasty with our favorites being the beet salad and Moroccan cigars.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1114">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1116">Next</a></li>
</ul>