<% provide :title, 'Opinion Target 7326' %><h2>Singaporean Stir Fried Turnip Cakes ( Lo Bak Gau<br />occurrence: 1</h2><div><ol><li>The BEST Singaporean Stir Fried Turnip Cakes ( Lo Bak Gau), a bowl of delish congee, and a plate of Fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7327">Next</a></li>
</ul>