<% provide :title, 'Opinion Target 5340' %><h2>hardroll rock<br />occurrence: 1</h2><div><ol><li>The hardroll rock was just average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5341">Next</a></li>
</ul>