<% provide :title, 'Opinion Target 8127' %><h2>Rosti dishes<br />occurrence: 1</h2><div><ol><li>The same Rosti dishes, pastas, meat grilling station doing the same thing and fish fillet cooked the same boring way, not sure if a few pseudo Asian fusion-y dishes are meant to jazz things up, certainly not kicking up the excitement level for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8128">Next</a></li>
</ul>