<% provide :title, 'Opinion Target 6198' %><h2>kimchi tofu<br />occurrence: 1</h2><div><ol><li>The kimchi tofu was awesome with the mix of beef, pork and kimchi and I got it regular spicy which had just enough kick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6199">Next</a></li>
</ul>