<% provide :title, 'Opinion Target 5674' %><h2>scrambled eggs pan fried<br />occurrence: 1</h2><div><ol><li>The egg roll is exactly what the name says it is, it 's like scrambled eggs pan fried to a flat sheet and rolled up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5675">Next</a></li>
</ul>