<% provide :title, 'Opinion Target 5519' %><h2>mix<br />occurrence: 1</h2><div><ol><li>A nice mix of casual/ mid end dining.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5520">Next</a></li>
</ul>