<% provide :title, 'Opinion Target 6220' %><h2>rice cooker<br />occurrence: 1</h2><div><ol><li>They serve your food in a very fancy stone pot ( that they cooked in a normal rice cooker then placed on the hot stone.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6221">Next</a></li>
</ul>