<% provide :title, 'Opinion Target 4111' %><h2>onion soups<br />occurrence: 1</h2><div><ol><li>My sisters had the onion soups and said they changed the recipe ( they go to Miller tavern often) and now it 's much better!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4112">Next</a></li>
</ul>