<% provide :title, 'Opinion Target 3213' %><h2>TV dinner meal<br />occurrence: 1</h2><div><ol><li>My friend, who 's easy-going and non-picky said it was like a frozen TV dinner meal, that she 's actually had better frozen turkey dinners.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3214">Next</a></li>
</ul>