<% provide :title, 'Opinion Target 2085' %><h2>egg tarts<br />occurrence: 2</h2><div><ol><li>The egg tarts that we ordered arrived only after we reminded them and it was n't warmed up at all; it most likely sat in the kitchen the whole time.</li><li>The desserts are what you expect from a Chinese buffet -- a few meh egg tarts and sesame balls, plus lots of napoleons and cream puffs and fruit and flan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2084">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2086">Next</a></li>
</ul>