<% provide :title, 'Opinion Target 2032' %><h2>cream soup<br />occurrence: 2</h2><div><ol><li>The meal special comes with a tomato soup or cream soup and a dinner roll, also coffee or tea.</li><li>Just like the average cream soup in the grocery store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2033">Next</a></li>
</ul>