<% provide :title, 'Opinion Target 5413' %><h2>Vietnamese noodle soup<br />occurrence: 1</h2><div><ol><li>Ah bun bo hue, the other famous Vietnamese noodle soup next to pho.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5414">Next</a></li>
</ul>