<% provide :title, 'Opinion Target 9057' %><h2>Bulgogi marinated style beef<br />occurrence: 1</h2><div><ol><li>Bulgogi marinated style beef cooked table side but I do n't know why that sliced beef is kind of in a chunk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9058">Next</a></li>
</ul>