<% provide :title, 'Opinion Target 2152' %><h2>scary-looking oil<br />occurrence: 1</h2><div><ol><li>It came out overcooked, way too crunchy, and with scary-looking oil pockets on top that gave me the chills to look at.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2151">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2153">Next</a></li>
</ul>