<% provide :title, 'Opinion Target 4038' %><h2>venison ragu<br />occurrence: 1</h2><div><ol><li>The gnocchi, and the maltagliati with venison ragu both presented very nicely textured homemade pastas with less interesting sauces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4039">Next</a></li>
</ul>