<% provide :title, 'Opinion Target 3922' %><h2>halo<br />occurrence: 1</h2><div><ol><li>Halo halo was ok but $ 7 ?? that 's way too expensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3923">Next</a></li>
</ul>