<% provide :title, 'Opinion Target 3183' %><h2>wood oven<br />occurrence: 1</h2><div><ol><li>The wood oven looks great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3184">Next</a></li>
</ul>