<% provide :title, 'Opinion Target 4186' %><h2>coating<br />occurrence: 1</h2><div><ol><li>However, the meat itself and not just the coating is, overall, tastier than the aforementioned chains.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4187">Next</a></li>
</ul>