<% provide :title, 'Opinion Target 3404' %><h2>dish Bibimbap<br />occurrence: 1</h2><div><ol><li>The other dish Bibimbap was presented so colorful mixed rice with meat and assorted vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3405">Next</a></li>
</ul>