<% provide :title, 'Opinion Target 725' %><h2>turkey<br />occurrence: 5</h2><div><ol><li>I got the turkey sandwich, the serving size was tiny and the turkey was so dry that I could n't even finish it.</li><li>It was ok, I was disappointed that the turkey was n't freshly roasted.</li><li>Here are some key points:- The bread was soft, tasted fresh, nothing crazy which is perfectly fine- The ham and turkey were both great, but not as good as the ...</li><li>I get either a turkey, turkey and salami, or corn beef and they 're all great.</li><li>The bacon slices are generous, though the ham and turkey are pretty weak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_726">Next</a></li>
</ul>