<% provide :title, 'Opinion Target 3231' %><h2>herbed mash<br />occurrence: 1</h2><div><ol><li>Crisp univeg accompanies the options, along with a choice of damnable fries, herbed mash or the aforementioned cheesy, steroidal latke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3232">Next</a></li>
</ul>