<% provide :title, 'Opinion Target 4369' %><h2>coke collection<br />occurrence: 1</h2><div><ol><li>The atmosphere here was very cool with the largest coke collection I have seen in a long time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4368">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4370">Next</a></li>
</ul>