<% provide :title, 'Opinion Target 6342' %><h2>busboys<br />occurrence: 1</h2><div><ol><li>Do n't expect the waiters or the busboys here to acknowledge your existence.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6343">Next</a></li>
</ul>