<% provide :title, 'Opinion Target 1108' %><h2>spicy sauce<br />occurrence: 3</h2><div><ol><li>The spicy sauce was not spicy at all and I was okay with it.</li><li>The spicy sauce is truly quite spicy, so have some drinks on handy.</li><li>The spicy sauce is actually not that spicy and had an odd taste so I did n't add any more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1109">Next</a></li>
</ul>