<% provide :title, 'Opinion Target 7252' %><h2>flavour vegetables<br />occurrence: 1</h2><div><ol><li>The meal comes with complementary 3 flavour vegetables, along with sizzling cream corn.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7253">Next</a></li>
</ul>