<% provide :title, 'Opinion Target 1453' %><h2>bisque<br />occurrence: 3</h2><div><ol><li>Seriously, we could have a pot of that delicious bisque every week and not get tired of it!</li><li>But when the bread is weak, bisque is light and lobster sucks.</li><li>I also got to taste the bisque, which was not very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1454">Next</a></li>
</ul>