<% provide :title, 'Opinion Target 7295' %><h2>preserved duck egg<br />occurrence: 1</h2><div><ol><li>The congee here is first rate, especially the pork and preserved duck egg and the duck and chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7296">Next</a></li>
</ul>