<% provide :title, 'Opinion Target 1005' %><h2>boneless chicken<br />occurrence: 3</h2><div><ol><li>As with other reviewers, the boneless chicken stuffed with stick rice as absolutely delicious- I ca n't say that I 've had it any where else.</li><li>Surprisingly not dry for boneless chicken.</li><li>A bit bland compared to what I 'm used to and not as much chicken as you 'd expect, but it 's stil tasty enough for me to order it several times, and it 's boneless chicken which I always like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1004">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1006">Next</a></li>
</ul>