<% provide :title, 'Opinion Target 1775' %><h2>sauce choices<br />occurrence: 2</h2><div><ol><li>I always order my dish with sauce on the side so I can control how much goes in- and add hot sauce for more flavor since most of the sauce choices here are a bit too bland &amp; sweet.</li><li>Their sauce choices were basically the line of Frank 's Red Hot sauces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1774">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1776">Next</a></li>
</ul>