<% provide :title, 'Opinion Target 4942' %><h2>pickle plates<br />occurrence: 1</h2><div><ol><li>All this is served with ( virtually) unlimited pitas and pickle plates, hot sauce and tahini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4943">Next</a></li>
</ul>