<% provide :title, 'Opinion Target 1756' %><h2>wild rice<br />occurrence: 2</h2><div><ol><li>Delicious wild rice as an accompaniment to the crabs, to sop up the leftover roe and soya sauce.</li><li>Food came out .. chicken dry .. but edible .. hubbys veggies were raw and my wild rice was hard as a rock.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1755">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1757">Next</a></li>
</ul>