<% provide :title, 'Opinion Target 1457' %><h2>fried turnip<br />occurrence: 3</h2><div><ol><li>We ordered the famous spicy fried turnip, home style vermicelli, shrimp wonton noodle soup, house congee with doughnuts.</li><li>BBQ pork on fried rice and spicy fried turnip is always a great choice!</li><li>Love the fried turnip!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1458">Next</a></li>
</ul>