<% provide :title, 'Opinion Target 6995' %><h2>icecream parfait<br />occurrence: 1</h2><div><ol><li>The staff were very nice, the service was great. i had icecream parfait and it was nothing special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6996">Next</a></li>
</ul>