<% provide :title, 'Opinion Target 1986' %><h2>table settings<br />occurrence: 2</h2><div><ol><li>-THE DECOR: cozy and classy, with a sexy atmosphere; dimmed lights, candles, table settings, chair covers, fun sights on the dance floor, and so on ....</li><li>Rows of low contemporary couches and cozy table settings fill this multilevel cafe and lend for a casual environment, where one can grab a coffee or a full entree.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1987">Next</a></li>
</ul>