<% provide :title, 'Opinion Target 2746' %><h2>beef bologna sandwich<br />occurrence: 1</h2><div><ol><li>I had the special, a beef bologna sandwich ( plus can of pop) for $ 5.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2747">Next</a></li>
</ul>