<% provide :title, 'Opinion Target 5247' %><h2>table-top cooked dishes<br />occurrence: 1</h2><div><ol><li>But really, it 's fun with table-top cooked dishes because you can add things depending on what you order and they make you fried rice at the end.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5248">Next</a></li>
</ul>