<% provide :title, 'Opinion Target 1630' %><h2>Deep Fried Pork Chop<br />occurrence: 2</h2><div><ol><li>I ordered the $ 5 Combo and got Spicy Chicken ( namesake 's dish), Chicken in Black Bean Sauce, and Deep Fried Pork Chop.</li><li>We ordered a few other dishes like fried fish in sweet and sour sauce and deep fried pork chop which was average at best was a little too salty and slightly overcooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1629">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1631">Next</a></li>
</ul>