<% provide :title, 'Opinion Target 7580' %><h2>French Vanilla coffee<br />occurrence: 1</h2><div><ol><li>My girlfriends and I shared the Nut waffle ( + $ 1) and the Shortcake crepe + $ 1 for French Vanilla coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7579">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7581">Next</a></li>
</ul>