<% provide :title, 'Opinion Target 8750' %><h2>carrot soup<br />occurrence: 1</h2><div><ol><li>We had the carrot soup which was not too heavy on the cream, had small pieces of carrot and the sweetness was complemented nicely with the saltiness of shredded sharp white cheddar on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8751">Next</a></li>
</ul>