<% provide :title, 'Opinion Target 1502' %><h2>dessert crepe<br />occurrence: 3</h2><div><ol><li>I ordered a dessert waffle while my boyfriend got a dessert crepe.</li><li>Ordered a dessert crepe and hot chocolate.</li><li>The dessert crepe $ 10.45.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1503">Next</a></li>
</ul>