<% provide :title, 'Opinion Target 6253' %><h2>AC<br />occurrence: 1</h2><div><ol><li>The AC was definitely on, but you could barely feel it, especially with several pots of hot stone bowls of soup and rice on each table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6254">Next</a></li>
</ul>