<% provide :title, 'Opinion Target 3636' %><h2>burger joint<br />occurrence: 1</h2><div><ol><li>A plentora of options and selects and they have a liquor license which makes this place a great and cozy burger joint in the very pretentious bay view mall.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3637">Next</a></li>
</ul>