<% provide :title, 'Opinion Target 3845' %><h2>standouts<br />occurrence: 1</h2><div><ol><li>THE ROLLS- standouts were the green dragon, volcano and spicy crab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3846">Next</a></li>
</ul>