<% provide :title, 'Opinion Target 9136' %><h2>yam tempura rolls<br />occurrence: 1</h2><div><ol><li>I ordered the yam tempura rolls which were crispy and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9137">Next</a></li>
</ul>