<% provide :title, 'Opinion Target 1473' %><h2>signature dish<br />occurrence: 2</h2><div><ol><li>The signature dish here is the Koryo Samgeytang ( traditional ginseng chicken soup).</li><li>The signature dish is obviously the House Pho Special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1474">Next</a></li>
</ul>