<% provide :title, 'Opinion Target 5277' %><h2>frozen shrimps<br />occurrence: 1</h2><div><ol><li>The frozen shrimps were like ------- this big hahaha.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5278">Next</a></li>
</ul>