<% provide :title, 'Opinion Target 2831' %><h2>Asian food<br />occurrence: 1</h2><div><ol><li>Personally I need to go outside of Thornhill to get good Asian food haha.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2832">Next</a></li>
</ul>