<% provide :title, 'Opinion Target 952' %><h2>green onion pancake<br />occurrence: 4</h2><div><ol><li>Popular items are the steamed pork dumplings and the green onion pancake.</li><li>First, we had the complimentary green onion pancake.</li><li>The kicker was that included in the 9 banchan was a piece of green onion pancake that was absolutely delicious.</li><li>We got the green onion pancake filled with beef, except I found it bland and tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_953">Next</a></li>
</ul>