<% provide :title, 'Opinion Target 2696' %><h2>wonton brisket noodle soup<br />occurrence: 1</h2><div><ol><li>I had the wonton brisket noodle soup ( number 5 on the main menu) and it was not to par.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2697">Next</a></li>
</ul>