<% provide :title, 'Opinion Target 2573' %><h2>murgh lababdar<br />occurrence: 1</h2><div><ol><li>I had the murgh lababdar which is an absolutely gorgeous chicken curry with some tomato, onions, cilantro and cream base.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2574">Next</a></li>
</ul>