<% provide :title, 'Opinion Target 9601' %><h2>Baby Arugula Salad<br />occurrence: 1</h2><div><ol><li>Prix Fixe Menu ( $ 25)- Baby Arugula Salad ( tons of goat cheese)- Veal Chop ( over cooked and dry but with tons of veggie on the side)- Tiramisu ( creamy and tasty) and- Caesar Salad ( fresh and crispy with the right amount of dressing)- Linguine Pescatore ( tons of seafood, huge scallops !!!)- Chocolate Cake ( meh ... skip !!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9602">Next</a></li>
</ul>