<% provide :title, 'Opinion Target 6167' %><h2>Salmon Skin Maki<br />occurrence: 1</h2><div><ol><li>Salmon Skin Maki- this was yummy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6168">Next</a></li>
</ul>