<% provide :title, 'Opinion Target 1667' %><h2>sushi selection<br />occurrence: 2</h2><div><ol><li>Amazing sushi selection, at very reasonable prices!</li><li>The sushi selection is pretty small, but that do give you a fair bit for under $ 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1668">Next</a></li>
</ul>