<% provide :title, 'Opinion Target 6879' %><h2>) sauce<br />occurrence: 1</h2><div><ol><li>Its chicken with sesame ( peanut ?) sauce was my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6880">Next</a></li>
</ul>