<% provide :title, 'Opinion Target 4459' %><h2>dumplings and rice cakes<br />occurrence: 1</h2><div><ol><li>The dumpling and rice cake soup was fantastic with a delicious soup and good dumplings and rice cakes and the spicy fiddlehead soup was hot and flavourful and full of meat and veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4460">Next</a></li>
</ul>