<% provide :title, 'Opinion Target 7267' %><h2>fried rice fare<br />occurrence: 1</h2><div><ol><li>Pretty standard noodle, congee, fried rice fare.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7268">Next</a></li>
</ul>