<% provide :title, 'Opinion Target 4802' %><h2>grilled items<br />occurrence: 1</h2><div><ol><li>What I really enjoyed were the grilled items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4803">Next</a></li>
</ul>