<% provide :title, 'Opinion Target 9162' %><h2>beverage<br />occurrence: 1</h2><div><ol><li>Friday night for a limited time until the middle of April were All You Can Eat wings as long as you buy one beverage!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9163">Next</a></li>
</ul>