<% provide :title, 'Opinion Target 4243' %><h2>lemon and garlic<br />occurrence: 1</h2><div><ol><li>Beef Barley: it was a little bland, I 'd add Lil more salt &amp; pepper, coriander, Lil lemon and garlic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4244">Next</a></li>
</ul>