<% provide :title, 'Opinion Target 2245' %><h2>salmon skin<br />occurrence: 2</h2><div><ol><li>The Salmon Skin roll is average, it is not bad though again ca n't really taste the salmon skin.</li><li>The salmon skin was n't fully cut off well enough and made biting apart a bit difficult.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2246">Next</a></li>
</ul>