<% provide :title, 'Opinion Target 2942' %><h2>gow<br />occurrence: 1</h2><div><ol><li>When we got the food home, the ha gow was smaller than normal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2943">Next</a></li>
</ul>