<% provide :title, 'Opinion Target 5601' %><h2>seafood mixed<br />occurrence: 1</h2><div><ol><li>There was an okay amount of seafood mixed in here and there, but honestly ... gigantic plate of beansprouts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5602">Next</a></li>
</ul>