<% provide :title, 'Opinion Target 1827' %><h2>BBQ lamb leg<br />occurrence: 2</h2><div><ol><li>I 've had the spicy jellyfish, BBQ lamb skewers, bbq beef skewers, BBQ lamb leg, Sesame lamb chops, and the beef pancakes.</li><li>The BBQ Lamb Leg was pretty good as it 's a whole roasted shank, with the same seasoning as used for the skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1828">Next</a></li>
</ul>