<% provide :title, 'Opinion Target 8527' %><h2>seating service<br />occurrence: 1</h2><div><ol><li>The seating service was also bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8528">Next</a></li>
</ul>