<% provide :title, 'Opinion Target 1550' %><h2>mango cake<br />occurrence: 3</h2><div><ol><li>The dessert was mango cake.</li><li>The mango cake is probably the best one if you had to choose one.</li><li>The mango cake is great and I 've never had a cake from here I did n't like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1549">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1551">Next</a></li>
</ul>