<% provide :title, 'Opinion Target 2129' %><h2>ceramic<br />occurrence: 1</h2><div><ol><li>They also sell a few turkish gift items, the most known of which is the ceramic ' eye' that chase bad fortune.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2128">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2130">Next</a></li>
</ul>