<% provide :title, 'Opinion Target 1892' %><h2>Butter Til Naan<br />occurrence: 2</h2><div><ol><li>You should orders things like: Halwa Puri ( Yummm), Nihari, Haleem, Chicken Seekh kabab, Butter Til Naan, Paaya, Lamb Biryani, Chicken Biryani, Lahori Chana masala, chicken tikka.</li><li>If you order Butter Til Naan, I bet there is no place in this entire Ontario serving such a huge, yummy, and full of aroma naan ( I am saying this because I have been to Tandoori flame, Tandoori time, banjara restaurant, Karachi Kitchen, Patna Kabab House and many more).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1893">Next</a></li>
</ul>