<% provide :title, 'Opinion Target 9711' %><h2>serve food<br />occurrence: 1</h2><div><ol><li>There are only two servers, one of whom seems to be the owner and only hangs out by the kitchen to collect and distribute money for delivery, leaving one girl to get order, serve food, and clean up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9712">Next</a></li>
</ul>