<% provide :title, 'Opinion Target 6871' %><h2>falafel buffet platter<br />occurrence: 1</h2><div><ol><li>The order included a falafel buffet platter, and side greek salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6872">Next</a></li>
</ul>