<% provide :title, 'Opinion Target 7258' %><h2>cotton candy ice cream<br />occurrence: 1</h2><div><ol><li>Dessert is okay ... my boyfriend loves the cotton candy ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7259">Next</a></li>
</ul>