<% provide :title, 'Opinion Target 3431' %><h2>beef intestines spicy soup<br />occurrence: 1</h2><div><ol><li>The beef intestines spicy soup was pretty good, nice flavors and ingredient, it even have some glass noodle too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3432">Next</a></li>
</ul>