<% provide :title, 'Opinion Target 6506' %><h2>youtiao<br />occurrence: 1</h2><div><ol><li>Finally, once the climactic congee arrived we got full frontal as we dipped our hard, delicious youtiao ( fried bread) sticks into the hot savory congee filled with sensual seafood delights.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6507">Next</a></li>
</ul>