<% provide :title, 'Opinion Target 7268' %><h2>Cantonese congee<br />occurrence: 1</h2><div><ol><li>We come from Los Angeles and although we have lots of Asian food, there 's a lack of good Cantonese congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7269">Next</a></li>
</ul>