<% provide :title, 'Opinion Target 4693' %><h2>fried fish steaks<br />occurrence: 1</h2><div><ol><li>Our favourites were the lechon kawali, fried fish steaks, &amp; the battered fried squid!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4694">Next</a></li>
</ul>