<% provide :title, 'Opinion Target 6447' %><h2>scallop stir fry with beans<br />occurrence: 1</h2><div><ol><li>The Peking duck was very dry and we also ordered the shrimp and scallop stir fry with beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6448">Next</a></li>
</ul>