<% provide :title, 'Opinion Target 6284' %><h2>regular seating<br />occurrence: 1</h2><div><ol><li>The regular seating is not bad as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6285">Next</a></li>
</ul>