<% provide :title, 'Opinion Target 1396' %><h2>otoro<br />occurrence: 2</h2><div><ol><li>- I kinda wish that my piece of otoro looked like this other fellow Yelper 's Otoro ( Igor S).</li><li>His picture of the otoro looked soooo delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1395">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1397">Next</a></li>
</ul>