<% provide :title, 'Opinion Target 2244' %><h2>Salmon Skin Roll<br />occurrence: 2</h2><div><ol><li>This time i ordered a Unagi Special, a Spicy Salmon Roll, and a Salmon Skin Roll.</li><li>The Salmon Skin roll is average, it is not bad though again ca n't really taste the salmon skin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2245">Next</a></li>
</ul>