<% provide :title, 'Opinion Target 5093' %><h2>fried squids<br />occurrence: 1</h2><div><ol><li>Expertly prepared Cantonese food, including congee, noodles of all sorts and Popular dishes including fried squids, bbq pork and duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5094">Next</a></li>
</ul>