<% provide :title, 'Opinion Target 2559' %><h2>Service team<br />occurrence: 1</h2><div><ol><li>Service team was as well put together as their sludgy turnip cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2558">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2560">Next</a></li>
</ul>