<% provide :title, 'Opinion Target 4729' %><h2>charsiu sauce<br />occurrence: 1</h2><div><ol><li>The meat is so tender and glazed with charsiu sauce that made every little swirl around your mouth as you chew that much more wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4730">Next</a></li>
</ul>