<% provide :title, 'Opinion Target 4731' %><h2>durian shakes<br />occurrence: 1</h2><div><ol><li>I enjoy the durian shakes, as well as the various vermicelli dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4732">Next</a></li>
</ul>