<% provide :title, 'Opinion Target 7101' %><h2>flavors<br />occurrence: 1</h2><div><ol><li>Some flavors are better than others but it might just be a preference thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7100">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7102">Next</a></li>
</ul>