<% provide :title, 'Opinion Target 5868' %><h2>chocolate chips<br />occurrence: 1</h2><div><ol><li>I was in the area after an interview and trying to decide what to eat ... ( Jeopardy Theme) Suddenly, I had a memory of home, mom making crepes and us kids, drizzling, spreading, sprinkling, packing them with sweet syrup, chocolate chips, icing sugar, fruit, whip topping.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5869">Next</a></li>
</ul>