<% provide :title, 'Opinion Target 2031' %><h2>juice bar<br />occurrence: 2</h2><div><ol><li>Regarding the food: The juice bar is recommended.</li><li>To the front, you 've got the coffee stand, the bakery, sandwiches, juice bar, pizza bar, soup/rotisserie, next to the pastries/crepe/waffle/ice cream stations group in the front half of the restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2032">Next</a></li>
</ul>