<% provide :title, 'Opinion Target 2027' %><h2>salsas<br />occurrence: 2</h2><div><ol><li>Then you pick your meat ( chicken, beef, pulled pork, pulled beef, fish and shrimp) and toppings ( four salsas, cheese, beans, sour cream, lettuce).</li><li>The standard burrito build is rice, your choice of re-fried or black beans, grilled veggies ( mixed peppers and onions mostly), mild or medium sauce, both tomato and corn salsas, cheese, lettuce and sour cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2026">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2028">Next</a></li>
</ul>