<% provide :title, 'Opinion Target 2404' %><h2>Broiled beef<br />occurrence: 2</h2><div><ol><li>The Broiled beef is just bulgogi that is cooked on a stone pot.</li><li>There broiled beef was over cooked and the beef soup was overly sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2405">Next</a></li>
</ul>