<% provide :title, 'Opinion Target 7206' %><h2>korean rice wine )<br />occurrence: 1</h2><div><ol><li>Kang Poon Kee ( Deep Fried Sweet &amp; Spicy Chicken) ~ This my favorite drinking dish, perfect with a glass of beer or some soju ( korean rice wine). ~ Love how it 's served extra saucy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7207">Next</a></li>
</ul>