<% provide :title, 'Opinion Target 663' %><h2>green tea shaved ice<br />occurrence: 7</h2><div><ol><li>We got Verne brûlée, raspberry tart and green tea shaved ice.</li><li>The green tea shaved Ice is so light and just melts.</li><li>My friends got the brownie waffle and the green tea shaved ice.</li><li>I recommend the green tea shaved ice.</li><li>I ordered a green tea shaved ice while they had 2 different crepes.</li><li>I had to ASK where the hell my green tea shaved ice was.</li><li>Must try their green tea shaved ice, I do n't think you can find it anywhere in Canada!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_662">Previous</a></li>
  <li class="next"><a href=".\opinion_target_664">Next</a></li>
</ul>