<% provide :title, 'Opinion Target 6776' %><h2>udon noodle combo and spicy tuna maki<br />occurrence: 1</h2><div><ol><li>Personally, the udon noodle combo and spicy tuna maki is my favorite:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6777">Next</a></li>
</ul>