<% provide :title, 'Opinion Target 5273' %><h2>Dak Gal<br />occurrence: 1</h2><div><ol><li>On my last visit, they did n't rush us out of our table, but it did feel like they needed the serving ware ( large pan to used for the Dak Gal Bi) back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5274">Next</a></li>
</ul>