<% provide :title, 'Opinion Target 8673' %><h2>yogurt with shallots<br />occurrence: 1</h2><div><ol><li>The yogurt with shallots is also very good hear.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8674">Next</a></li>
</ul>