<% provide :title, 'Opinion Target 7035' %><h2>Margarita pizzas<br />occurrence: 1</h2><div><ol><li>I 've also tried the Piccante and Margarita pizzas, both delicious and very filling!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7034">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7036">Next</a></li>
</ul>