<% provide :title, 'Opinion Target 1578' %><h2>dinner bento box<br />occurrence: 2</h2><div><ol><li>I 've always ordered dinner bento box #9 which is the best deal.</li><li>I will definitely come back! this place is soo expensive. the dinner bento box is almost $ 20. the service is good and the food is great but the prices just arent worth it, at all. there are so many places in this area that are much more reasonable with the same quality food. the ambiance is really nice, which is probably why the prices are so high ... i probably wouldnt visit again. i 'd recommend for people with money to spare lol.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1579">Next</a></li>
</ul>