<% provide :title, 'Opinion Target 5781' %><h2>coconut milk curries<br />occurrence: 1</h2><div><ol><li>I like thicker coconut milk curries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5780">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5782">Next</a></li>
</ul>