<% provide :title, 'Opinion Target 1599' %><h2>orders<br />occurrence: 2</h2><div><ol><li>That being said our orders are always ready on time and presentation and taste is amazing.</li><li>The cashier lady who handles all takeout orders is incredibly friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1600">Next</a></li>
</ul>