<% provide :title, 'Opinion Target 1555' %><h2>gyro sub<br />occurrence: 3</h2><div><ol><li>Cheaper !! $ 7.05 for a 12 `` bacon combo, and my friend got the 12'' gyro sub for only $ 5.95.</li><li>- They put a ton of meat on his gyro sub -- he found it all delicious- He asked for mayo too, but the guy wisely told him to stick with just the tzatziki sauce that comes on that sub ... my friend took that advice and did n't regret it!</li><li>Edit: I went back and tried the gyro sub.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1554">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1556">Next</a></li>
</ul>