<% provide :title, 'Opinion Target 5527' %><h2>potato selection<br />occurrence: 1</h2><div><ol><li>The potato selection itself could 've been better, in my opinion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5528">Next</a></li>
</ul>