<% provide :title, 'Opinion Target 1709' %><h2>mushroom pizza<br />occurrence: 2</h2><div><ol><li>I ordered the portibellissimo, which is a mushroom pizza.</li><li>The pizza was a simple mushroom pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1710">Next</a></li>
</ul>