<% provide :title, 'Opinion Target 1632' %><h2>sushi fare<br />occurrence: 2</h2><div><ol><li>I 've been for both AYCE and a la carts ( with a groupon) The food here is average sushi fare.</li><li>The menus were fairly substantial, offering everything from cooked food ( yakitori), noodle soups, the standard sushi fare, and even a few Korean dishes ( bulgogi, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1631">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1633">Next</a></li>
</ul>