<% provide :title, 'Opinion Target 4781' %><h2>pork bone soup with potatoes<br />occurrence: 1</h2><div><ol><li>The menu said pork bone soup with potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4780">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4782">Next</a></li>
</ul>