<% provide :title, 'Opinion Target 1867' %><h2>Chinese broccoli<br />occurrence: 2</h2><div><ol><li>Chicken Chow Mein- Noodles and sauce were good, chicken was nasty, Chinese broccoli was huge stalks, very little greens, and was practically raw.</li><li>Then there were other dishes, Fried rice, was grease and cold, Chinese broccoli was good ( But how can you go wrong with the most simple dish) but COLD!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1868">Next</a></li>
</ul>