<% provide :title, 'Opinion Target 3766' %><h2>Stir Fried Chinese Cabbage<br />occurrence: 1</h2><div><ol><li>Then came the Stir Fried Chinese Cabbage.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3767">Next</a></li>
</ul>