<% provide :title, 'Opinion Target 4387' %><h2>parking dining area<br />occurrence: 1</h2><div><ol><li>Spacious parking dining area, friendly service, average food, accepts credit card = 3.5 stars Ordered Love boat A ( ~ $ 31).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4388">Next</a></li>
</ul>