<% provide :title, 'Opinion Target 2059' %><h2>smoothie<br />occurrence: 2</h2><div><ol><li>We all got our meals except for my gluten-allergic sister, who sat there watching us eat with an almost kid-sized smoothie that was $ 4.</li><li>- Strawberry/banana/orange smoothie was pretty much served in a shot glass.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2060">Next</a></li>
</ul>