<% provide :title, 'Opinion Target 6711' %><h2>meat kabobs<br />occurrence: 1</h2><div><ol><li>Excellent quality meat kabobs such as chicken, veal, beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6712">Next</a></li>
</ul>