<% provide :title, 'Opinion Target 6658' %><h2>sweet mashed potatoes<br />occurrence: 1</h2><div><ol><li>The sweet mashed potatoes are my favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6659">Next</a></li>
</ul>