<% provide :title, 'Opinion Target 4865' %><h2>herb tuna sashimi<br />occurrence: 1</h2><div><ol><li>Beef tataki sashimi, herb tuna sashimi or something like that, maguro hand roll .. actually hand roll because there 's too much rice, scallop sashimi- ordered ONE and it came out as a small plate unlike how the rest of the sashimi is served.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4866">Next</a></li>
</ul>