<% provide :title, 'Opinion Target 3842' %><h2>hot apple cider<br />occurrence: 1</h2><div><ol><li>Other than that, I usually oder a hot apple cider, which comes with a cinnamon stick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3843">Next</a></li>
</ul>