<% provide :title, 'Opinion Target 5677' %><h2>Korean style chicken<br />occurrence: 1</h2><div><ol><li>You want some fine Korean style chicken that you ca n't really get at wings places ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5678">Next</a></li>
</ul>