<% provide :title, 'Opinion Target 7774' %><h2>korean rice dish<br />occurrence: 1</h2><div><ol><li>We had a combo there that combined a sushi boat, tempura and a korean rice dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7775">Next</a></li>
</ul>