<% provide :title, 'Opinion Target 2158' %><h2>Steamed Beef<br />occurrence: 1</h2><div><ol><li>The Steamed Beef Sui-Mai was of the typical restaurant texture, but without all the usual MSG! ( good sign).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2157">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2159">Next</a></li>
</ul>