<% provide :title, 'Opinion Target 5174' %><h2>Deep fried fish with cream corn<br />occurrence: 1</h2><div><ol><li>We ordered five dishes to share ( obviously I 'm not using the official chinese names): 1) Deep fried fish with cream corn- a favourite of mine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5175">Next</a></li>
</ul>