<% provide :title, 'Opinion Target 3257' %><h2>Miller<br />occurrence: 1</h2><div><ol><li>Since our prior experiences at The Miller were all exceptional we were convinced that this was the perfect venue.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3258">Next</a></li>
</ul>