<% provide :title, 'Opinion Target 6589' %><h2>expresso coffees<br />occurrence: 1</h2><div><ol><li>And detail that is rather important for me, they have expresso coffees !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6590">Next</a></li>
</ul>