<% provide :title, 'Opinion Target 9229' %><h2>Peameal bacon on Eggs Benedict<br />occurrence: 1</h2><div><ol><li>Peameal bacon on Eggs Benedict was so chewy it was unpalatable, Turkey bacon looked like pasty white mutant food ... stiff and stale as a board.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9228">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9230">Next</a></li>
</ul>