<% provide :title, 'Opinion Target 7449' %><h2>ice cream and whipped cream<br />occurrence: 1</h2><div><ol><li>I always get the Nutella crepe so I ca n't speak for anything else but they have the best ice cream and whipped cream ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7448">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7450">Next</a></li>
</ul>