<% provide :title, 'Opinion Target 1839' %><h2>rice and chicken<br />occurrence: 2</h2><div><ol><li>Very little amount of rice and chicken, bottom of the container soaking in oil after we finished.</li><li>No where else have I had the best combination of rice and chicken together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1840">Next</a></li>
</ul>