<% provide :title, 'Opinion Target 8471' %><h2>breakfast fare<br />occurrence: 1</h2><div><ol><li>Standard canadian breakfast fare- ham, sausage, eggs, toast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8472">Next</a></li>
</ul>