<% provide :title, 'Opinion Target 6179' %><h2>kimchi beef soup<br />occurrence: 1</h2><div><ol><li>I tried the kimchi beef soup and the dumpling beef soup on two difference occasions and both were excellent; although i slightly preferred the dumpling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6180">Next</a></li>
</ul>