<% provide :title, 'Opinion Target 7061' %><h2>balsamic reduction<br />occurrence: 1</h2><div><ol><li>I ordered the pruscito piadina- it 's essentially a wrap filled with salty prosciutto, arugula, mozzarella, garlic aloli, and some type of balsamic reduction.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7060">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7062">Next</a></li>
</ul>