<% provide :title, 'Opinion Target 3351' %><h2>deep fried tofu batter<br />occurrence: 1</h2><div><ol><li>This one is the closest, the broth not quiet as good, not gingery enough, but the deep fried tofu batter was almost parallel, frail, the fragile stringy bits a little gooey ( how I like them)!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3352">Next</a></li>
</ul>