<% provide :title, 'Opinion Target 4810' %><h2>sweet potato tempura<br />occurrence: 1</h2><div><ol><li>The sweet potato tempura never came to us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4811">Next</a></li>
</ul>