<% provide :title, 'Opinion Target 1477' %><h2>xiao<br />occurrence: 3</h2><div><ol><li>The xiao long bao, seasoned soy milk, green beans etc were all great, but the pan fried pork and chicken dumplings were not so good- too much meat, and not crispy.</li><li>** The xiao long bao were not great.</li><li>The xiao long bao with crab meat was good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1478">Next</a></li>
</ul>