<% provide :title, 'Opinion Target 8089' %><h2>food bar<br />occurrence: 1</h2><div><ol><li>I would give any organic raw food bar 5 stars that 's why Armando 's only gets 3 from me, but if I was comparing it to any chain place, this would be a 5 star next to Boston pizza ( 0.5 star), Kelsey 's ( 1.5 stars) for example.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8088">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8090">Next</a></li>
</ul>