<% provide :title, 'Opinion Target 6896' %><h2>hamachi<br />occurrence: 1</h2><div><ol><li>We were there to celebrate a birthday so my dad ordered various appetizers including beef sashimi ( tender and juicy, equivalent to eating beef tartare), a sushi boat ( featuring fresh spicy tuna maki, hamachi, toro, maguro, squid with salmon roe, and raw shrimp- good to order so that everyone at the table can sample different sushi and sashimi), the usual vegetables ( aka tempura), and blue tuna spicy and California hand rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6897">Next</a></li>
</ul>