<% provide :title, 'Opinion Target 9326' %><h2>dessert squares<br />occurrence: 1</h2><div><ol><li>There 's also a Chinese style buffet with familiar dishes, fresh fruit, jello, dim sum, dessert squares, a chocolate fountain and ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9327">Next</a></li>
</ul>