<% provide :title, 'Opinion Target 5570' %><h2>bruschetta appetizer<br />occurrence: 1</h2><div><ol><li>Went here with my girlfriend for lunch we ordered a bruschetta appetizer which was not very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5569">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5571">Next</a></li>
</ul>