<% provide :title, 'Opinion Target 8040' %><h2>at-table cooking<br />occurrence: 1</h2><div><ol><li>The at-table cooking has a certain charm, although sometimes you have to wait for a table to fill up for longer than I 'd like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8039">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8041">Next</a></li>
</ul>