<% provide :title, 'Opinion Target 7174' %><h2>apple side dish<br />occurrence: 1</h2><div><ol><li>After that our side dishes came and holy moly, there was a lot and each one tasted good! ( I especially liked the apple side dish one, it was addictive).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7175">Next</a></li>
</ul>