<% provide :title, 'Opinion Target 2145' %><h2>slogan<br />occurrence: 1</h2><div><ol><li>The slogan should be, `` What is it ?''</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2144">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2146">Next</a></li>
</ul>