<% provide :title, 'Opinion Target 7246' %><h2>black bean shrimp<br />occurrence: 1</h2><div><ol><li>Their black bean shrimp is delicious and plentiful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7247">Next</a></li>
</ul>