<% provide :title, 'Opinion Target 8940' %><h2>hot items<br />occurrence: 1</h2><div><ol><li>The prices for the hot items are pretty reasonable, and they can be freshly prepared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8941">Next</a></li>
</ul>