<% provide :title, 'Opinion Target 7207' %><h2>naengmyun<br />occurrence: 1</h2><div><ol><li>The naengmyun was different from Nak Wan but pleased my dining companions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7208">Next</a></li>
</ul>