<% provide :title, 'Opinion Target 6554' %><h2>smoked salmon salad<br />occurrence: 1</h2><div><ol><li>I ordered a veggie burger as a recommendation from the waitress and my compadra ordered their smoked salmon salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6553">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6555">Next</a></li>
</ul>