<% provide :title, 'Opinion Target 5649' %><h2>Korean blood sausage<br />occurrence: 1</h2><div><ol><li>I was craving soondae ( Korean blood sausage).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5650">Next</a></li>
</ul>