<% provide :title, 'Opinion Target 5787' %><h2>frankfurter<br />occurrence: 1</h2><div><ol><li>Some suggestions:- frankfurter savoury crepe ( just trust me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5786">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5788">Next</a></li>
</ul>