<% provide :title, 'Opinion Target 6967' %><h2>: Crispy calamari<br />occurrence: 1</h2><div><ol><li>Had: Crispy calamari ( $ 10.99)- so if you sign up online ( name, email address), they give you an online coupon for a free appetizer!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6966">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6968">Next</a></li>
</ul>