<% provide :title, 'Opinion Target 1317' %><h2>seating arrangement<br />occurrence: 3</h2><div><ol><li>The host needs to read the note more carefully and actually execute the seating arrangement to her best ability, instead of just shrugging us off and seating us somewhere crappy by the washroom ( no pun intended).</li><li>The place has standard pub fare with an updated menu and seating arrangement which works well.</li><li>I was really looking forward to some meat, so I was n't about to let a rude host, or uncomfortable seating arrangement put a damper in my evening!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1316">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1318">Next</a></li>
</ul>