<% provide :title, 'Opinion Target 1428' %><h2>schwarma<br />occurrence: 2</h2><div><ol><li>I 've had their schwarma and kabab time special which comes with a assortment of meats and rice and salad and bread.</li><li>The best schwarma ever Must try the chicken on the rocks Reasonable prices Very friendly staff The best option for students at York University looking for a good meal I 'm used to hearing great things about Osmow 's, starting from their super shawerma to their student specials.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1429">Next</a></li>
</ul>