<% provide :title, 'Opinion Target 7529' %><h2>msg ladden instant noodle packages<br />occurrence: 1</h2><div><ol><li>No refills on tea and they leave your empty bowls on the table without taking it away My first exposure to ramen was the dry msg ladden instant noodle packages ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7530">Next</a></li>
</ul>