<% provide :title, 'Opinion Target 7127' %><h2>girl drinks<br />occurrence: 1</h2><div><ol><li>Try the salmon or tuna Tataki And they have really good speciality rolls The only thing I can complain about is the alcohol choices .. besides fancy girl drinks the beer selection is not too good The sushi is on par with any place I 've tried I would consider this place average to above average ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7126">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7128">Next</a></li>
</ul>