<% provide :title, 'Opinion Target 2633' %><h2>takeout menus<br />occurrence: 1</h2><div><ol><li>I took one of the takeout menus to skim looking for General Tao Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2632">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2634">Next</a></li>
</ul>