<% provide :title, 'Opinion Target 7429' %><h2>oil droplets<br />occurrence: 1</h2><div><ol><li>You know it ca n't be good when you see oil droplets floating.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7430">Next</a></li>
</ul>