<% provide :title, 'Opinion Target 2168' %><h2>black bean chicken<br />occurrence: 2</h2><div><ol><li>We ordered lamb skewers, kidney skewers ( do n't hate, I love these), bbq buns ( which we thought were bbq pork buns ... they 're not), xianjang noodles with chicken, and black bean chicken.</li><li>The black bean chicken was tasty, but was too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2169">Next</a></li>
</ul>