<% provide :title, 'Opinion Target 3623' %><h2>veg fried rice & some noodles<br />occurrence: 1</h2><div><ol><li>We ordered the sexy summer salad rolls, veg spring rolls, veg fried rice &amp; some noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3624">Next</a></li>
</ul>