<% provide :title, 'Opinion Target 1789' %><h2>Seafood Coconut Curry<br />occurrence: 2</h2><div><ol><li>FOOD- Mmm love the Seafood Coconut Curry here!</li><li>NEVER AGAIN WILL I BE EATING AT LINDA 'S Grand total for a horrible night = $ 71.23 for two people two mains and a half liter of wine .... they comped the spring rolls .... nice enough but my tummy is still killing me ... that 's my 2 cents for ya .... follow it and you 'll save yourselves a DOLLAR I love their seafood coconut curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1790">Next</a></li>
</ul>