<% provide :title, 'Opinion Target 3628' %><h2>potato gnocchi<br />occurrence: 1</h2><div><ol><li>Menu states `` Fresh potato gnocchi'' but when I asked to confirm it was made fresh I was told it 's not fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3629">Next</a></li>
</ul>