<% provide :title, 'Opinion Target 4981' %><h2>pints<br />occurrence: 1</h2><div><ol><li>The menu had a good selection of items to choose from, and most importantly after a day of moving, the pints were cold.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4982">Next</a></li>
</ul>