<% provide :title, 'Opinion Target 6396' %><h2>pickled cucumber<br />occurrence: 1</h2><div><ol><li>They also give you free small side dishes, I do n't like kimchi or any of their sides except their pickled cucumber which is so good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6395">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6397">Next</a></li>
</ul>