<% provide :title, 'Opinion Target 6653' %><h2>JapChae glass noodles<br />occurrence: 1</h2><div><ol><li>The JapChae glass noodles came out quickly but were a bit too sticky for my liking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6652">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6654">Next</a></li>
</ul>