<% provide :title, 'Opinion Target 4578' %><h2>crispy duck pancake<br />occurrence: 1</h2><div><ol><li>My bf got the crispy duck pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4579">Next</a></li>
</ul>