<% provide :title, 'Opinion Target 1400' %><h2>fried ice cream<br />occurrence: 2</h2><div><ol><li>I was a bit disappointed by the fried ice cream since it was n't one bit warm by the time it was served.</li><li>The bunuelos with the ice cream was my favourite although the fried ice cream was delicious and the flan was my 2nd favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1401">Next</a></li>
</ul>