<% provide :title, 'Opinion Target 8526' %><h2>hash brown potatoes<br />occurrence: 1</h2><div><ol><li>The Theo 's Omelette was much less tasty and the hash brown potatoes were too thickly cut and not cooked enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8527">Next</a></li>
</ul>