<% provide :title, 'Opinion Target 696' %><h2>nigiri<br />occurrence: 6</h2><div><ol><li>The food quality is excellent, the nigiri the right size and they even do `` aburi'' style if you 're into that ( seared sushi).</li><li>The nigiri and the rolls were no better.</li><li>Especially love the little touches of sauce and toppings on the nigiri.</li><li>Their nigiri were very fragile, with the rice part broke into two almost immediately after being picked up by chopstick.</li><li>My partner ordered the nigiri and sashimi plate which was also $ 38.</li><li>The nigiri was small though and had too much wasabi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_697">Next</a></li>
</ul>