<% provide :title, 'Opinion Target 8922' %><h2>bacon fans<br />occurrence: 1</h2><div><ol><li>They only have pea meal bacon here so classic bacon fans will be a little sad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8923">Next</a></li>
</ul>