<% provide :title, 'Opinion Target 1811' %><h2>ice<br />occurrence: 2</h2><div><ol><li>HOWEVER, the ice was not fluffy and snowy enough.</li><li>And when it arrived the ice was really fluffy and snowflake like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1810">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1812">Next</a></li>
</ul>