<% provide :title, 'Opinion Target 7047' %><h2>beef and broccoli fried noodle<br />occurrence: 1</h2><div><ol><li>The beef and broccoli fried noodle is very tasty and mix well in the dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7046">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7048">Next</a></li>
</ul>