<% provide :title, 'Opinion Target 6395' %><h2>daikon cake<br />occurrence: 1</h2><div><ol><li>My favorite item here is the stir fry cubes of daikon cake, well executed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6396">Next</a></li>
</ul>