<% provide :title, 'Opinion Target 2828' %><h2>minced garlic sauce for beef<br />occurrence: 1</h2><div><ol><li>It 's a meat/fish and starch place- and everything always used to arrive sizzling hot and seasoned boldly ( for game) and or on the side ( literally a glob of minced garlic sauce for beef).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2829">Next</a></li>
</ul>