<% provide :title, 'Opinion Target 5201' %><h2>rice soup + chicken + vegetables<br />occurrence: 1</h2><div><ol><li>Last time I went for food, they gave me a dish that was rice soup + chicken + vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5202">Next</a></li>
</ul>