<% provide :title, 'Opinion Target 5778' %><h2>duck style<br />occurrence: 1</h2><div><ol><li>Kinda different, but I 'd much prefer the original peking duck style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5779">Next</a></li>
</ul>