<% provide :title, 'Opinion Target 4163' %><h2>beef udon noodle meal<br />occurrence: 1</h2><div><ol><li>The beef udon noodle meal took half an hour to come out as well which on a lunch when you 've only got 45 minutes to eat, is pretty brutal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4164">Next</a></li>
</ul>