<% provide :title, 'Opinion Target 1039' %><h2>lentil soup<br />occurrence: 3</h2><div><ol><li>I ordered chicken kabob, chicken doner and the lentil soup.</li><li>Disappointing runny, thin, watery lentil soup.</li><li>Great lentil soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1040">Next</a></li>
</ul>