<% provide :title, 'Opinion Target 6745' %><h2>eggplant pizza slice<br />occurrence: 1</h2><div><ol><li>When they execute a dish right, like the eggplant pizza slice, it soars.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6746">Next</a></li>
</ul>