<% provide :title, 'Opinion Target 5473' %><h2>sugar level<br />occurrence: 1</h2><div><ol><li>I order the same drink every single time but the sugar level was very different each time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5474">Next</a></li>
</ul>