<% provide :title, 'Opinion Target 1689' %><h2>fish paté<br />occurrence: 2</h2><div><ol><li>The complimentary appetizer that they always give before bringing the entree out comes with garlic toast, fish paté and pickles.</li><li>Even gift us a little fish paté to take home on my husband 's 30th birthday cause she knew we loved it so much!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1690">Next</a></li>
</ul>