<% provide :title, 'Opinion Target 4492' %><h2>lamb wrap<br />occurrence: 1</h2><div><ol><li>You wait quite the while for a lamb wrap but waiters laugh at the time of delivery.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4493">Next</a></li>
</ul>