<% provide :title, 'Opinion Target 2531' %><h2>icecream flavour black sesame<br />occurrence: 1</h2><div><ol><li>The icecream flavour black sesame was pretty interesting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2532">Next</a></li>
</ul>