<% provide :title, 'Opinion Target 2903' %><h2>paintings<br />occurrence: 1</h2><div><ol><li>There are lots of beautiful paintings and I believe there 's a sports bar in the basement that 's soon to open.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2904">Next</a></li>
</ul>