<% provide :title, 'Opinion Target 4514' %><h2>salade caprese<br />occurrence: 1</h2><div><ol><li>The salade caprese was not the best I have had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4515">Next</a></li>
</ul>