<% provide :title, 'Opinion Target 3152' %><h2>soup bowl with grated mozzarella<br />occurrence: 1</h2><div><ol><li>It was served in a regular soup bowl with grated mozzarella and some chunks of bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3151">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3153">Next</a></li>
</ul>