<% provide :title, 'Opinion Target 6489' %><h2>sweet soy milk<br />occurrence: 1</h2><div><ol><li>The sweet soy milk was n't as sweet as I had hoped- maybe some will prefer it that way, but when I ordered it I expected a sweeter drink that came in a cup, as you can find in some places in the Asian malls around Markham.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6488">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6490">Next</a></li>
</ul>