<% provide :title, 'Opinion Target 6931' %><h2>xiao lung baos<br />occurrence: 1</h2><div><ol><li>The xiao lung baos here were not bad ... very juicy though the skin was very thin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6932">Next</a></li>
</ul>