<% provide :title, 'Opinion Target 892' %><h2>mozzarella<br />occurrence: 4</h2><div><ol><li>We ordered the daily pasta special ( sausage, mushrooms) &amp; a pizza ( Alla Peccorina, w/ black olive paste, garlic, mozzarella, goat chese, spinach &amp; black olives).</li><li>The chicken is tender and thick, topped with tomato sauce, mozzarella, &amp; parmesan cheese.</li><li>I got the Original Spicy Dakgalbee and added noodles, rice cake and mozzarella.</li><li>I ordered the pruscito piadina- it 's essentially a wrap filled with salty prosciutto, arugula, mozzarella, garlic aloli, and some type of balsamic reduction.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_893">Next</a></li>
</ul>