<% provide :title, 'Opinion Target 3418' %><h2>lobster risotto<br />occurrence: 1</h2><div><ol><li>So, long story short, ' twas a feast worthy of King 's:) Stepped in to try their lobster risotto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3419">Next</a></li>
</ul>