<% provide :title, 'Opinion Target 6104' %><h2>Eggs Natasha<br />occurrence: 1</h2><div><ol><li>The Eggs Natasha were pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6105">Next</a></li>
</ul>