<% provide :title, 'Opinion Target 5713' %><h2>ground chicken kebob<br />occurrence: 1</h2><div><ol><li>I had the ground chicken kebob combo which comes with rice, salad, naan, and some sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5714">Next</a></li>
</ul>