<% provide :title, 'Opinion Target 3309' %><h2>Black Mamba sauce<br />occurrence: 1</h2><div><ol><li>I had the Dry Cajun and hubby had Bubba 's Backfire ( Voodoo and All Dressed) with a side of the Black Mamba sauce OUCH!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3310">Next</a></li>
</ul>