<% provide :title, 'Opinion Target 6855' %><h2>shui mai<br />occurrence: 1</h2><div><ol><li>The shui mai had big pcs of shrimp in it ... which was a nice surprise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6856">Next</a></li>
</ul>