<% provide :title, 'Opinion Target 3852' %><h2>lunch ayce<br />occurrence: 1</h2><div><ol><li>Went here for weekday lunch ayce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3853">Next</a></li>
</ul>