<% provide :title, 'Opinion Target 3097' %><h2>Taiwanese shaved iced<br />occurrence: 1</h2><div><ol><li>I like it better than the normal Taiwanese shaved iced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3098">Next</a></li>
</ul>