<% provide :title, 'Opinion Target 2128' %><h2>chicken pineapple fried rice<br />occurrence: 2</h2><div><ol><li>Finally after another a long wait, ordered mango salad &amp; chicken skewers, chicken pineapple fried rice, seafood fried rice &amp; pai Thai.</li><li>Chicken pineapple fried rice had neither of those two things!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2127">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2129">Next</a></li>
</ul>