<% provide :title, 'Opinion Target 5799' %><h2>sweet potato latte<br />occurrence: 1</h2><div><ol><li>The sweet potato latte was everything sweet potato I could imagine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5800">Next</a></li>
</ul>