<% provide :title, 'Opinion Target 6961' %><h2>sautéed mushrooms and roasted red peppers<br />occurrence: 1</h2><div><ol><li>I had sautéed mushrooms and roasted red peppers to top it off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6962">Next</a></li>
</ul>