<% provide :title, 'Opinion Target 3687' %><h2>Chicken Chop Suey<br />occurrence: 1</h2><div><ol><li>All comes with Egg roll, Chicken Chop Suey and Fried Rice- the 4 main you can choose from are Chicken Teriyaki Sticks, Sweet and sour Chicken Balls ( my fave), Deep Fried chicken Wings and Diced beed and veggie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3688">Next</a></li>
</ul>