<% provide :title, 'Opinion Target 8019' %><h2>soup broths<br />occurrence: 1</h2><div><ol><li>My friend was eager to bring us here for it has, apparently, some of the best soup broths in terms of Korean food in uptown Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8018">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8020">Next</a></li>
</ul>