<% provide :title, 'Opinion Target 3674' %><h2>Peanut Milk<br />occurrence: 1</h2><div><ol><li>There are all kinds of Caribbean drinks including Malta, Coconut Water, Ginger Beer, Ting, Mauby and Peanut Milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3675">Next</a></li>
</ul>