<% provide :title, 'Opinion Target 2788' %><h2>pick-up<br />occurrence: 1</h2><div><ol><li>It was ready within 10 minutes and the pick-up was quick and easy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2789">Next</a></li>
</ul>