<% provide :title, 'Opinion Target 4960' %><h2>cheddar omelette<br />occurrence: 1</h2><div><ol><li>One of the best parts, aside from my grandmother being very happy and loving her cheddar omelette, was the server.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4959">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4961">Next</a></li>
</ul>