<% provide :title, 'Opinion Target 1407' %><h2>rice paper<br />occurrence: 3</h2><div><ol><li>The rice paper was not of good quality and the roll itself was not very flavorful.</li><li>I have never had Vietnamese meat platter rice paper that came with only 4 rice paper to make ur own wrap with!</li><li>This place charge us $ 2 for 4 dinky sheets of rice paper!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1408">Next</a></li>
</ul>