<% provide :title, 'Opinion Target 3588' %><h2>crepe + omelette<br />occurrence: 1</h2><div><ol><li>Too much liquid cheese and the taste of the crepe + omelette was not good at all ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3589">Next</a></li>
</ul>