<% provide :title, 'Opinion Target 3808' %><h2>beef tataki sashimi dishes<br />occurrence: 1</h2><div><ol><li>The yuzu salmon sashimi and beef tataki sashimi dishes are the standout dishes that Sushi Legend has chosen to set them apart in the competitive world of AYCE japanese in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3809">Next</a></li>
</ul>