<% provide :title, 'Opinion Target 7058' %><h2>deep fried eggplant with shrimp paste<br />occurrence: 1</h2><div><ol><li>Best dish was the deep fried eggplant with shrimp paste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7059">Next</a></li>
</ul>