<% provide :title, 'Opinion Target 4196' %><h2>meat grilled chicken with rice and potatoes<br />occurrence: 1</h2><div><ol><li>Dark meat grilled chicken with rice and potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4197">Next</a></li>
</ul>