<% provide :title, 'Opinion Target 1680' %><h2>delivery of food<br />occurrence: 2</h2><div><ol><li>They use the tablet for ordering which helps speed up the delivery of food and frees up the waitresses.</li><li>Presentation is absent but they make up for it in quick and speedy delivery of food, bundled with overly large rolls stuffed with raw salmon or tuna, or tempura, whatever most sushi lovers desire.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1681">Next</a></li>
</ul>