<% provide :title, 'Opinion Target 1326' %><h2>roast beef sandwich<br />occurrence: 2</h2><div><ol><li>I have n't tried many other things on the menu because I tend to stick to what I like ( selective eater over here) but I have tried their egg drop soup in the past which was very good as well as the roast beef sandwich.</li><li>Every time I go there I always order the roast beef sandwich and they always make it amazing every time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1325">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1327">Next</a></li>
</ul>