<% provide :title, 'Opinion Target 7829' %><h2>Smoked Salmon Rosti<br />occurrence: 1</h2><div><ol><li>Ordered the famous Eggs Natasha with a side of sausage and the Smoked Salmon Rosti, both of which were pretty good, and also very creative dishes that I have n't encountered anywhere else.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7830">Next</a></li>
</ul>