<% provide :title, 'Opinion Target 3793' %><h2>beef bone noodle<br />occurrence: 1</h2><div><ol><li>Still did n't serve tea until all food came, waited almost 30mins for food when it 's not that busy, we ordered a beef bone noodle on the side but we found out there are same noodle comes with the gingsing chicken soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3794">Next</a></li>
</ul>