<% provide :title, 'Opinion Target 2844' %><h2>soy sauce in plastic containers<br />occurrence: 1</h2><div><ol><li>Not to mention they then have soy sauce in plastic containers you can buy at the dollar store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2843">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2845">Next</a></li>
</ul>