<% provide :title, 'Opinion Target 1820' %><h2>Lamb Kabobs<br />occurrence: 2</h2><div><ol><li>We ordered: Braised OX Tail, Braised Eggplant, Fried Beef Pancakes, Melaeuca Lamb, Fried Lamb Dumplings, Fried Chicken Wings, Lamb Kabobs and two bowls of steam rice.</li><li>The lamb kabobs especially had amazing flavour, and topped w spice that was mouth watering.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1821">Next</a></li>
</ul>