<% provide :title, 'Opinion Target 3350' %><h2>unagi don<br />occurrence: 1</h2><div><ol><li>I got unagi don, it was good and had a nice presentation.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3351">Next</a></li>
</ul>