<% provide :title, 'Opinion Target 1357' %><h2>seafood dish<br />occurrence: 3</h2><div><ol><li>All dishes were decent for the prices ( highest was $ 8.99 for the seafood dish), though the chow mein was n't cooked for long enough as it was still too crunchy.</li><li>I ordered the Veal Tenderloin Marsala and my mother ordered a seafood dish, Frittura Mista Di Mare.</li><li>The first time around my guest and I only had about 6 banchans with our kimchi pork and seafood dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1358">Next</a></li>
</ul>