<% provide :title, 'Opinion Target 3417' %><h2>chicken dupbap<br />occurrence: 1</h2><div><ol><li>I ordered the chicken dupbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3416">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3418">Next</a></li>
</ul>