<% provide :title, 'Opinion Target 8486' %><h2>women<br />occurrence: 1</h2><div><ol><li>The women who work here look miserable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8487">Next</a></li>
</ul>