<% provide :title, 'Opinion Target 2137' %><h2>candies<br />occurrence: 1</h2><div><ol><li>I usually go with one thing in mind to pick up but then childhood nostalgia hits and I end up with candies and sweets and other treats that remind me of my childhood.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2138">Next</a></li>
</ul>