<% provide :title, 'Opinion Target 2343' %><h2>chocolate oreo parfait<br />occurrence: 2</h2><div><ol><li>We also got the chocolate oreo parfait, that was alright.</li><li>Visited the place with friends a few days ago and had desserts- chocolate oreo parfait and araganto ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2344">Next</a></li>
</ul>