<% provide :title, 'Opinion Target 5431' %><h2>grilled tomatoe<br />occurrence: 1</h2><div><ol><li>The grilled tomatoe had a smokey flavour which I enjoyed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5432">Next</a></li>
</ul>