<% provide :title, 'Opinion Target 1759' %><h2>roasted vegetables<br />occurrence: 2</h2><div><ol><li>Do order the pizza, with any number of fresh or roasted vegetables.</li><li>We ordered a bunch of appetizers and food for the table ( meats, cheese, pizza, potato, and roasted vegetables) there was a lot of food and it was just ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1758">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1760">Next</a></li>
</ul>