<% provide :title, 'Opinion Target 7041' %><h2>Grilled Sliced Beef with Pork<br />occurrence: 1</h2><div><ol><li>For our main we had the Grilled Sliced Beef with Pork Bone Soup and ate family style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7042">Next</a></li>
</ul>