<% provide :title, 'Opinion Target 6234' %><h2>soft tofu soup<br />occurrence: 1</h2><div><ol><li>The soft tofu soup and bulgogi are my go to dishes when I visit this restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6235">Next</a></li>
</ul>