<% provide :title, 'Opinion Target 9009' %><h2>Eggs Provençal<br />occurrence: 1</h2><div><ol><li>- Ordered Eggs Provençal: over-poached eggs, cold hollandaise and home fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9010">Next</a></li>
</ul>