<% provide :title, 'Opinion Target 5766' %><h2>texture<br />occurrence: 1</h2><div><ol><li>The texture was also a bit grainy so I do n't think the sweet potato was pureed finely enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5767">Next</a></li>
</ul>