<% provide :title, 'Opinion Target 1579' %><h2>quantity of food<br />occurrence: 2</h2><div><ol><li>Came away impressed with the quality and quantity of food that they offered.</li><li>Secondly, for the price, you 'd expect a higher quality and quantity of food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1578">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1580">Next</a></li>
</ul>