<% provide :title, 'Opinion Target 5347' %><h2>bar seats<br />occurrence: 1</h2><div><ol><li>There 's a row of tables on one side and bar seats on the other side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5348">Next</a></li>
</ul>