<% provide :title, 'Opinion Target 6952' %><h2>selection of salads<br />occurrence: 1</h2><div><ol><li>Good selection of salads and pastas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6953">Next</a></li>
</ul>