<% provide :title, 'Opinion Target 2389' %><h2>rice and grilled tomatoe<br />occurrence: 1</h2><div><ol><li>I ordered a chicken breast skewer plate which came with rice and grilled tomatoe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2388">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2390">Next</a></li>
</ul>