<% provide :title, 'Opinion Target 2070' %><h2>bubble tea place<br />occurrence: 2</h2><div><ol><li>- I always order 30% sugar- no ice ( you get more tea duh) If you must ask for another good bubble tea place it has to be Ten Ren and ONLY the Highway 7 location in Markham.</li><li>While waiting you can drop by the bubble tea place next door, it 's called ' easy drink easy go'.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2071">Next</a></li>
</ul>