<% provide :title, 'Opinion Target 7242' %><h2>dish of corn<br />occurrence: 1</h2><div><ol><li>A dish of corn.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7241">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7243">Next</a></li>
</ul>