<% provide :title, 'Opinion Target 5997' %><h2>vinegar dressing<br />occurrence: 1</h2><div><ol><li>I ordered a sandwich with a side of the coleslaw ( in a vinegar dressing).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5998">Next</a></li>
</ul>