<% provide :title, 'Opinion Target 2078' %><h2>egg salad<br />occurrence: 2</h2><div><ol><li>The cream cheese and egg salad are both very delicious.</li><li>The bagels were still hard, even though I can make a delicious tuna and egg salad ( unlike the rest of the people who go here) I did try it and it was horrible, dry and tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2077">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2079">Next</a></li>
</ul>