<% provide :title, 'Opinion Target 3608' %><h2>pot pies<br />occurrence: 1</h2><div><ol><li>Ai do as the lassies do here at the High Street and order ye fish &amp; chips or their home made pot pies, and as the Scots all sey, be happy while you 're living, for you 're a long time dead.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3609">Next</a></li>
</ul>