<% provide :title, 'Opinion Target 4792' %><h2>plantains<br />occurrence: 1</h2><div><ol><li>A few reasons to love Mr. Jerk- great flavor- great prices ( chicken and pork combo for 10 $ that 's good enough for 2 people)- great sides ( plantains, coleslaw, and chili all mesh well together)- large servings- gravy and rice are awesome I always order take-out and the worst part of the experience is the drive home hungry while the aroma of the grilled chicken fills the car.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4793">Next</a></li>
</ul>