<% provide :title, 'Opinion Target 9199' %><h2>lettuce stuffing<br />occurrence: 1</h2><div><ol><li>Interesting but the lettuce stuffing was odd.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9198">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9200">Next</a></li>
</ul>