<% provide :title, 'Opinion Target 3369' %><h2>spinach tortellini<br />occurrence: 1</h2><div><ol><li>The spinach tortellini was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3368">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3370">Next</a></li>
</ul>