<% provide :title, 'Opinion Target 8111' %><h2>cream pastries<br />occurrence: 1</h2><div><ol><li>-Chocolate &amp; regular cannolis &amp; cream pastries $ 2.25- $ 2.50 each.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8112">Next</a></li>
</ul>