<% provide :title, 'Opinion Target 2616' %><h2>grilled tomatoes<br />occurrence: 1</h2><div><ol><li>The grilled tomatoes on the side were a great addition.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2617">Next</a></li>
</ul>