<% provide :title, 'Opinion Target 4705' %><h2>duck curry<br />occurrence: 1</h2><div><ol><li>I ordered the duck curry that I had last time, which was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4706">Next</a></li>
</ul>