<% provide :title, 'Opinion Target 3936' %><h2>meat egg noodle<br />occurrence: 1</h2><div><ol><li>I had #19 ( seafood and assorted meat egg noodle) on the menu ( see picture) since this place is famous for it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3935">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3937">Next</a></li>
</ul>