<% provide :title, 'Opinion Target 6487' %><h2>tofu knot soup<br />occurrence: 1</h2><div><ol><li>The tofu knot soup was also yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6488">Next</a></li>
</ul>