<% provide :title, 'Opinion Target 5319' %><h2>bean paste sauce<br />occurrence: 1</h2><div><ol><li>Love the bean paste sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5318">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5320">Next</a></li>
</ul>