<% provide :title, 'Opinion Target 3872' %><h2>Walnut Shrimp '' dish<br />occurrence: 1</h2><div><ol><li>The Rock Shrimp is also a wonderful little dish as it 's lightly battered shrimp that was tossed with a sweet mayo sauce similar to the Chinese `` Walnut Shrimp'' dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3873">Next</a></li>
</ul>