<% provide :title, 'Opinion Target 2456' %><h2>wasabi mayo<br />occurrence: 1</h2><div><ol><li>The only redeeming quality that they have n't lost is their wide and interesting selection of toppings ( wasabi mayo is my personal favourite).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2457">Next</a></li>
</ul>