<% provide :title, 'Opinion Target 6038' %><h2>tepan dishes<br />occurrence: 1</h2><div><ol><li>And we used to book their tepan dishes before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6039">Next</a></li>
</ul>