<% provide :title, 'Opinion Target 2647' %><h2>yellow squash soup<br />occurrence: 1</h2><div><ol><li>Butternut Squash Soup- nice and hot, yellow squash soup with drizzle of olive oil and pumpkin seeds for added texture Spaghetti Puttanesca- great al dente pasta in tomato, slightly spicy sauce, with olives and capers ( no anchovies!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2648">Next</a></li>
</ul>