<% provide :title, 'Opinion Target 2953' %><h2>broccoli pieces<br />occurrence: 1</h2><div><ol><li>The chicken in both these dishes wasnt cut up properly, the broccoli pieces were the size of my fist ... i could go go on ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2952">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2954">Next</a></li>
</ul>