<% provide :title, 'Opinion Target 3865' %><h2>lunch prices<br />occurrence: 1</h2><div><ol><li>When this place first opened up, lunch prices started at $ 12.99 per person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3866">Next</a></li>
</ul>