<% provide :title, 'Opinion Target 1012' %><h2>spinach dip<br />occurrence: 4</h2><div><ol><li>Artichoke and spinach dip was unreal!</li><li>Nachos with spinach dip were stale, waiter tried to tell us they were fine.</li><li>We usually get ( and love) the spinach dip for an appetizer.</li><li>The spinach dip here is one of the best I 've had, they 're very generous with the pita bread and the dip comes in a large bowl, you 'll never run out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1013">Next</a></li>
</ul>