<% provide :title, 'Opinion Target 7103' %><h2>seating arrangements<br />occurrence: 1</h2><div><ol><li>Food came in a reasonable time, the only negative I dislike about this location is the seating arrangements are very cramped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7104">Next</a></li>
</ul>