<% provide :title, 'Opinion Target 8935' %><h2>veg side<br />occurrence: 1</h2><div><ol><li>It had excellent flavour with lots of Seafood but little on the veg side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8934">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8936">Next</a></li>
</ul>