<% provide :title, 'Opinion Target 3014' %><h2>sirloin beef steak<br />occurrence: 1</h2><div><ol><li>My son had a sushi dinner combo, and I decided to splurge and go the the beef teriyaki bento box, which is made of a sirloin beef steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3013">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3015">Next</a></li>
</ul>