<% provide :title, 'Opinion Target 1968' %><h2>interiors<br />occurrence: 2</h2><div><ol><li>The interiors are simple and bright with a calm ambience.</li><li>It 's small and cozy enough, and the interiors are nicely designed as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1969">Next</a></li>
</ul>