<% provide :title, 'Opinion Target 4787' %><h2>barbecue chicken<br />occurrence: 1</h2><div><ol><li>I also wish they had barbecue chicken but guess I ca n't have everything ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4786">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4788">Next</a></li>
</ul>