<% provide :title, 'Opinion Target 6277' %><h2>eggless fried rice<br />occurrence: 1</h2><div><ol><li>I was told to order plain white rice instead of having an eggless fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6278">Next</a></li>
</ul>