<% provide :title, 'Opinion Target 8524' %><h2>Nutella semifreddo<br />occurrence: 1</h2><div><ol><li>He saved us from leaving the restaurant without sampling the Nutella semifreddo even though I had insisted on ordering the mixed berry flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8525">Next</a></li>
</ul>