<% provide :title, 'Opinion Target 7082' %><h2>mushroom '' pizza<br />occurrence: 1</h2><div><ol><li>And on another a `` wild mushroom'' pizza was bland and had little strong mushroom flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7081">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7083">Next</a></li>
</ul>