<% provide :title, 'Opinion Target 3378' %><h2>shwarma dinners<br />occurrence: 1</h2><div><ol><li>The shwarma dinners are huuge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3377">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3379">Next</a></li>
</ul>