<% provide :title, 'Opinion Target 1218' %><h2>soontofu<br />occurrence: 3</h2><div><ol><li>The soontofu was also quite good, not very oily or salty.</li><li>I think it stems from college, when a night of heavy drinking would commonly conclude with hearty soontofu.</li><li>Anyways, I 'm no expert on Korean food in Toronto, but I think the soontofu here at BCD is pretty solid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1219">Next</a></li>
</ul>