<% provide :title, 'Opinion Target 2095' %><h2>fish bones<br />occurrence: 2</h2><div><ol><li>I do appreciate fresh fish and certainly do n't even normally mind eating Chinese steamed whole fish with bones and all, but the fish bones in this dish was too much.</li><li>Eel fried rice is pretty much the same in Congee queen Garoupa &amp; Fried bean curd in hot pot, now that was disappointing to have fish bones in the garoupa dish. it 's $ 13 dish and now I have to spent lots of work to spit out all those bones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2096">Next</a></li>
</ul>