<% provide :title, 'Opinion Target 5108' %><h2>fried cheese<br />occurrence: 1</h2><div><ol><li>Ive been to this restaurant numerous times and till this day still get the chicken schnitzel with the home fries, cucumber salad and the cherry streusel for dessert but the best appetizer to get is the most amazing fried cheese it is absolutely the best thing I 've had in my whole life l love going there it is one of my favourite restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5109">Next</a></li>
</ul>