<% provide :title, 'Opinion Target 5486' %><h2>Peking duck meal<br />occurrence: 1</h2><div><ol><li>The additional $ 7 for the lettuce wraps- If you are a group of 3 or more it is a good option as part of an add on to the Peking duck meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5487">Next</a></li>
</ul>