<% provide :title, 'Opinion Target 6227' %><h2>kimchi sauce<br />occurrence: 1</h2><div><ol><li>By the end of the meal, those little flies were basically walking around in the kimchi sauce, and I was too fed up to continue to defend my food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6228">Next</a></li>
</ul>