<% provide :title, 'Opinion Target 5606' %><h2>kimchi pork<br />occurrence: 1</h2><div><ol><li>The first time around my guest and I only had about 6 banchans with our kimchi pork and seafood dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5607">Next</a></li>
</ul>