<% provide :title, 'Opinion Target 5716' %><h2>served sandwiches<br />occurrence: 1</h2><div><ol><li>I think it 's the kitchen/deli staff that needs management, they distracted our server few times, and than served sandwiches with stale lettuce and tomatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5715">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5717">Next</a></li>
</ul>