<% provide :title, 'Opinion Target 7499' %><h2>Angela<br />occurrence: 1</h2><div><ol><li>Our server, Angela was excellent!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7500">Next</a></li>
</ul>