<% provide :title, 'Opinion Target 3512' %><h2>claw meat<br />occurrence: 1</h2><div><ol><li>In addition, the claws were not cracked, so we have no way to get the claw meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3513">Next</a></li>
</ul>