<% provide :title, 'Opinion Target 2880' %><h2>tomato zucchini pizza<br />occurrence: 1</h2><div><ol><li>This place has the most amazing tomato zucchini pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2881">Next</a></li>
</ul>