<% provide :title, 'Opinion Target 3873' %><h2>Korean Short Ribs<br />occurrence: 1</h2><div><ol><li>They have a variety of other AYCE Sushi staples like Tempura items, Ramen and Noodle Soups, Salads, Rice dishes, and appetizers like Beef Enoki, Korean Short Ribs, Skewers, and cutlets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3874">Next</a></li>
</ul>