<% provide :title, 'Opinion Target 4351' %><h2>milktea<br />occurrence: 1</h2><div><ol><li>Best milktea around northyork!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4352">Next</a></li>
</ul>