<% provide :title, 'Opinion Target 3735' %><h2>fish steak and garlic rice<br />occurrence: 1</h2><div><ol><li>We ordered lechon, fish steak and garlic rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3736">Next</a></li>
</ul>