<% provide :title, 'Opinion Target 698' %><h2>crispy ginger chicken<br />occurrence: 5</h2><div><ol><li>The crispy ginger chicken was Bomb.</li><li>We ordered noodles, house fried rice, ginger and onion shrimp, crispy ginger chicken and the green beans.</li><li>The crispy ginger chicken will blow you clear out of the water, the flavour and texture leave me starstruck with every piece.</li><li>The crispy ginger chicken is indeed good, I also like their sweet and sour pork- nothing like other Asian restaurants where you nibble on bite size pieces where it 's mostly batter.</li><li>Order the Crispy Ginger Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_699">Next</a></li>
</ul>