<% provide :title, 'Opinion Target 1672' %><h2>toro sushi<br />occurrence: 2</h2><div><ol><li>WONTON SOUP Too salty: ( Service was good but the food was n't that special ( I think I 'll stick with just the uni/ the toro sushi next time hehe).</li><li>The Toro Sushi was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1673">Next</a></li>
</ul>