<% provide :title, 'Opinion Target 2249' %><h2>sushi cravings<br />occurrence: 2</h2><div><ol><li>This is the place for those sushi cravings.</li><li>BUT MAN .. i was so happy i found this shrine for my sushi cravings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2248">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2250">Next</a></li>
</ul>