<% provide :title, 'Opinion Target 2453' %><h2>Mango Sticky Rice dessert<br />occurrence: 2</h2><div><ol><li>Our order was extremely uncomplicated: Pad Thai, Veggie Curry, Veg Spring Rolls, Mango Sticky Rice dessert.</li><li>The bad news: 1) Mango Sticky Rice dessert was the worst I 've come across.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2454">Next</a></li>
</ul>