<% provide :title, 'Opinion Target 7588' %><h2>smoked barrel taste<br />occurrence: 1</h2><div><ol><li>But it was missing something ... it did n't have that smoked barrel taste to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7587">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7589">Next</a></li>
</ul>