<% provide :title, 'Opinion Target 5823' %><h2>green tea and red bean crepe<br />occurrence: 1</h2><div><ol><li>We have a party of 5, we ordered 2 chicken crepe, frankfurter crepe, green tea and red bean crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5822">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5824">Next</a></li>
</ul>