<% provide :title, 'Opinion Target 2951' %><h2>rice and noodle dishes<br />occurrence: 1</h2><div><ol><li>The rice and noodle dishes can be too filling though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2952">Next</a></li>
</ul>