<% provide :title, 'Opinion Target 2191' %><h2>tabule<br />occurrence: 2</h2><div><ol><li>The side of tabule was ok, the parsley was not chopped as finely as it should have been and it needed more lemon juice, overall the tabule was just ok.</li><li>The side of tabule was ok, the parsley was not chopped as finely as it should have been and it needed more lemon juice, overall the tabule was just ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2192">Next</a></li>
</ul>