<% provide :title, 'Opinion Target 8506' %><h2>fire grilled chicken<br />occurrence: 1</h2><div><ol><li>The fire grilled chicken ranges from very good, to occasionally overcooked and too dry, the fries are cheap 1/4 `` frozen fries usually over-fried and over-salted, but baked potatoes are excellent, and if you order the'' Tuesday Special `` you get a whole chicken, rolls, fries/baked or rice, and sauce for $ 18 + tax and a $ 2 delivery charge, so one really ca n't complain.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8507">Next</a></li>
</ul>