<% provide :title, 'Opinion Target 6737' %><h2>lamb roast dish<br />occurrence: 1</h2><div><ol><li>We decided to try Jimmy the Greek because we noticed they had a lamb roast dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6736">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6738">Next</a></li>
</ul>