<% provide :title, 'Opinion Target 5104' %><h2>Dried oyster<br />occurrence: 1</h2><div><ol><li>The Dried oyster, dried vegetable and pork congee is very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5103">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5105">Next</a></li>
</ul>