<% provide :title, 'Opinion Target 7192' %><h2>beef sirloin ( Ju Mul Luk )<br />occurrence: 1</h2><div><ol><li>Took the recommendation of Justine H 's review and ordered the beef sirloin ( Ju Mul Luk).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7193">Next</a></li>
</ul>