<% provide :title, 'Opinion Target 7583' %><h2>meal deal<br />occurrence: 1</h2><div><ol><li>4.99 meal deal is worth every penny and students get a free juice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7584">Next</a></li>
</ul>