<% provide :title, 'Opinion Target 1079' %><h2>spreads<br />occurrence: 3</h2><div><ol><li>Perhaps I did n't add enough sauce and spreads to my wrap, but I still thought the chicken was on the drier side.</li><li>They have a good selection of European products, salads, spreads, fish, fruit and vegetables.</li><li>The tabbouleh, spreads and pickled turnip are fresh and flavourful, and I always have enough left over for lunch next day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1080">Next</a></li>
</ul>