<% provide :title, 'Opinion Target 1784' %><h2>spring lamb<br />occurrence: 2</h2><div><ol><li>Deviating from traditional thai dishes, my girlfriend and I opted for the spring lamb and the steak.</li><li>We also ordered the spring lamb medium rare and it was quite juicy: 3 We liked the sauce a lot but I did n't actually taste any peanut ... all the better because I do n't really like the peanut taste in salty dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1785">Next</a></li>
</ul>