<% provide :title, 'Opinion Target 8626' %><h2>pita bread baked<br />occurrence: 1</h2><div><ol><li>Sure, the restaurant was clean and shiny, the appetizers ( fried eggplant in tomato sauce and baba ghanoush) were excellent as always, and the pita bread baked on site was nearly perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8627">Next</a></li>
</ul>