<% provide :title, 'Opinion Target 6970' %><h2>dessert ensemble<br />occurrence: 1</h2><div><ol><li>That taste of the dessert ensemble was satisfying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6969">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6971">Next</a></li>
</ul>