<% provide :title, 'Opinion Target 4021' %><h2>variety of wines<br />occurrence: 1</h2><div><ol><li>The menu is not extensive, but they are good at whatever they make, always fresh oysters and salads, wide variety of wines will not leave anyone disappointed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4020">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4022">Next</a></li>
</ul>