<% provide :title, 'Opinion Target 7243' %><h2>fried chicken fix<br />occurrence: 1</h2><div><ol><li>A good place to fulfill a fried chicken fix.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7244">Next</a></li>
</ul>