<% provide :title, 'Opinion Target 2782' %><h2>sashimi lunch special<br />occurrence: 1</h2><div><ol><li>I had the sashimi lunch special which is $ 9.95 and which came with soup, salad, 12 pcs of sashimi and 8 small rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2783">Next</a></li>
</ul>