<% provide :title, 'Opinion Target 2181' %><h2>avocado/tomato mix<br />occurrence: 1</h2><div><ol><li>The avocado/tomato mix works again, however, the steak was hot and tasted incredible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2180">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2182">Next</a></li>
</ul>