<% provide :title, 'Opinion Target 3128' %><h2>tofu bento box + soup + salad<br />occurrence: 1</h2><div><ol><li>Overall, just a crappy experience. been here only few times and always for lunch. lunch options are very good and at least vegetarian options are pretty cheap ( tofu bento box + soup + salad = $ 7). the food is yummy! and they have some interesting appetizers like avocado tempura! which is just delicious! the staff is friendly and helpful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3127">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3129">Next</a></li>
</ul>