<% provide :title, 'Opinion Target 3885' %><h2>steamed rice flour rolls<br />occurrence: 1</h2><div><ol><li>I also ordered `` Banh Cuon Dac Biet'' ( #14), which is a combination of steamed rice flour rolls, fried shrimp cake, sausage and ham.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3884">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3886">Next</a></li>
</ul>