<% provide :title, 'Opinion Target 7198' %><h2>zha jiao mian<br />occurrence: 1</h2><div><ol><li>I tried some of a friend 's `` zha jiao mian'' ( not sure what the korean is--basically chinese noodles with this kind of sauce) and it was n't really authentic zha jiao mian either. the flavouring was all off. either way, not a good experience, and not really tempted to return.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7199">Next</a></li>
</ul>