<% provide :title, 'Opinion Target 5072' %><h2>Korean rice wine<br />occurrence: 1</h2><div><ol><li>Makkoli is a traditional Korean rice wine; slightly sweet, thick and milky off-white in color.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5073">Next</a></li>
</ul>