<% provide :title, 'Opinion Target 6543' %><h2>bean curd soup Seafood Congee-Superbowl Stir Fry Chicken<br />occurrence: 1</h2><div><ol><li>My favorite dishes: House Pad Thai ( it 's not dry) Stir fried Sea bass with King mushroom Seafood with bean curd soup Seafood Congee-Superbowl Stir Fry Chicken with mixed vegetable ( ask for chicken breast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6544">Next</a></li>
</ul>