<% provide :title, 'Opinion Target 7561' %><h2>maple syrup and ice cream<br />occurrence: 1</h2><div><ol><li>I ordered the sweet potato one and with the maple syrup and ice cream ( supposedly home made and should taste like sweet potato but didnt) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7562">Next</a></li>
</ul>