<% provide :title, 'Opinion Target 3034' %><h2>sushi dish<br />occurrence: 1</h2><div><ol><li>All the starter dishes were great, in fact I thought they were better than the sushi dish itself.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3035">Next</a></li>
</ul>