<% provide :title, 'Opinion Target 3130' %><h2>speghetti<br />occurrence: 1</h2><div><ol><li>My wife and daughter got the speghetti and meat balls and they throughly enjoyed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3129">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3131">Next</a></li>
</ul>