<% provide :title, 'Opinion Target 3368' %><h2>eggs and hash<br />occurrence: 1</h2><div><ol><li>The eggs and hash are the same as any other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3369">Next</a></li>
</ul>