<% provide :title, 'Opinion Target 2114' %><h2>seafood cesar<br />occurrence: 1</h2><div><ol><li>I also recently tried a bite of my boyfriends salad, he got the seafood cesar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2115">Next</a></li>
</ul>