<% provide :title, 'Opinion Target 6288' %><h2>chicken and pulled beef<br />occurrence: 1</h2><div><ol><li>I had the hard tacos- shrimp, chicken and pulled beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6287">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6289">Next</a></li>
</ul>