<% provide :title, 'Opinion Target 4877' %><h2>Sexy Summer Roll and Dynamite Roll<br />occurrence: 1</h2><div><ol><li>Loved all the different kinds of rolls especially the Sexy Summer Roll and Dynamite Roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4878">Next</a></li>
</ul>