<% provide :title, 'Opinion Target 1088' %><h2>Beef Roti<br />occurrence: 3</h2><div><ol><li>The second time I went, I got the Beef Roti which was really good!</li><li>I had the beef roti.</li><li>I just had a beef roti from here and wish I had n't.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1089">Next</a></li>
</ul>