<% provide :title, 'Opinion Target 7428' %><h2>brownie dessert crepe<br />occurrence: 1</h2><div><ol><li>I tried the brownie dessert crepe and it was soooo good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7429">Next</a></li>
</ul>