<% provide :title, 'Opinion Target 8016' %><h2>vegetable tofu soup<br />occurrence: 1</h2><div><ol><li>All of our tofu pots were tasty in their different ways ( the vegetable tofu soup tasted like spicy vegetable broth, the soup for the combination tofu tasted like spicy seafood, and the kimchi soon tofu tasted well like kimchi).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8017">Next</a></li>
</ul>