<% provide :title, 'Opinion Target 7459' %><h2>rice pudding<br />occurrence: 1</h2><div><ol><li>Not sure how often I 'll come back just for the gulab and rice pudding !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7460">Next</a></li>
</ul>