<% provide :title, 'Opinion Target 8444' %><h2>Flavour Dessert Cafe<br />occurrence: 1</h2><div><ol><li>But having once been a patron of Flavour Dessert Cafe- formerly located on Kennedy Rd. near Progress; it 's closed now- I 'd rate this place as just okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8445">Next</a></li>
</ul>