<% provide :title, 'Opinion Target 5760' %><h2>dessert spot<br />occurrence: 1</h2><div><ol><li>I 've been to this place too many times to not write a review. tldr; A fantastic dessert spot for those with a sweet tooth for crepes and ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5761">Next</a></li>
</ul>