<% provide :title, 'Opinion Target 7302' %><h2>lamb with tomatoes<br />occurrence: 1</h2><div><ol><li>The karahi gohst had fall off the bone lamb with tomatoes and other herbs in the sauce which had a rich texture and a a flavour that wil keep you eating until there is nothing left.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7303">Next</a></li>
</ul>