<% provide :title, 'Opinion Target 7152' %><h2>steak & lobster combo<br />occurrence: 1</h2><div><ol><li>The steak &amp; lobster combo was very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7151">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7153">Next</a></li>
</ul>