<% provide :title, 'Opinion Target 9526' %><h2>rich baked goods<br />occurrence: 1</h2><div><ol><li>If all you 're expecting is a basic piece of cheesecake, then maybe you 'd enjoy it but I like flavourful and rich baked goods.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9527">Next</a></li>
</ul>