<% provide :title, 'Opinion Target 3880' %><h2>cream custard<br />occurrence: 1</h2><div><ol><li>We had ice cream, tiramisu, mango pudding, mango sago, and cream custard ( which turned out to be just whipped cream lol).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3881">Next</a></li>
</ul>