<% provide :title, 'Opinion Target 7503' %><h2>bride<br />occurrence: 1</h2><div><ol><li>For the bride to be was sweet of you #wewillbeback Great little spot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7504">Next</a></li>
</ul>