<% provide :title, 'Opinion Target 6696' %><h2>little booths<br />occurrence: 1</h2><div><ol><li>Menu is rather small, as is the place, but they maximize filling in as many people as possible, with some cool little booths on the side as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6697">Next</a></li>
</ul>