<% provide :title, 'Opinion Target 856' %><h2>apple cider<br />occurrence: 4</h2><div><ol><li>Other than that, I usually oder a hot apple cider, which comes with a cinnamon stick.</li><li>We ended up ordering the apple cider with cinnamon stick as our third item.</li><li>The apple cider with cinnamon stick that we ordered as our third item was also quite delightful.</li><li>The apple cider warmed our bellies after the cold bingsu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_855">Previous</a></li>
  <li class="next"><a href=".\opinion_target_857">Next</a></li>
</ul>