<% provide :title, 'Opinion Target 8034' %><h2>grill<br />occurrence: 1</h2><div><ol><li>Food ( Grill): The grill course is rather filling which is good actually, but do prepare for a sodium and oil bomb- skip the bacon breakfast if you are there for the grill.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8035">Next</a></li>
</ul>