<% provide :title, 'Opinion Target 8815' %><h2>rice liquid steamed<br />occurrence: 1</h2><div><ol><li>For instance, the steamed rice rolls ( pulverized rice liquid steamed into a flat sheet, wrapped around shrimp or other ingredients and then re-steamed) were sticky and thick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8816">Next</a></li>
</ul>