<% provide :title, 'Opinion Target 4510' %><h2>calamari with white wine<br />occurrence: 1</h2><div><ol><li>So I had to change my decision and went with the SPAGHETTI CARTOCCIO- squid ink spaghetti, mussels, clams, tiger shrimp, calamari with white wine, tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4509">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4511">Next</a></li>
</ul>