<% provide :title, 'Opinion Target 3798' %><h2>traditional Korean ginseng chicken<br />occurrence: 1</h2><div><ol><li>The staff is super nice and price is fair, just not my Kind of Korean resturant, I 'll try it again tho If you are craving traditional Korean ginseng chicken- look no further for the very best provider in the GTA.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3799">Next</a></li>
</ul>