<% provide :title, 'Opinion Target 6395' %><h2>potato chunks<br />occurrence: 1</h2><div><ol><li>The potato chunks make the broth thicker which I enjoyed near the end with my rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6396">Next</a></li>
</ul>