<% provide :title, 'Opinion Target 5300' %><h2>plate portion<br />occurrence: 1</h2><div><ol><li>The plate portion was huge and no MSG.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5301">Next</a></li>
</ul>