<% provide :title, 'Opinion Target 6225' %><h2>hummus with falafel balls<br />occurrence: 1</h2><div><ol><li>My mom had the hummus with falafel balls and a lentil soup to start.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6224">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6226">Next</a></li>
</ul>