<% provide :title, 'Opinion Target 1331' %><h2>Cesar salad<br />occurrence: 3</h2><div><ol><li>I ordered the three course meal: $ 31 Cesar salad- eh, lack of bold flavours Filet minion- cooked to correct order The fries and beans were ok too.</li><li>I had the cesar salad as an appetizer and a vegetarian linguine.</li><li>Cesar salad was a joke, again tiny positions!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1330">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1332">Next</a></li>
</ul>