<% provide :title, 'Opinion Target 2822' %><h2>vegetable lo mein<br />occurrence: 1</h2><div><ol><li>We ordered mushroom egg foo young, spring rolls, spicy eggplant in black bean sauce sauce with tofu, mixed vegetables, vegetable lo mein, vegetable fried rice, and mushroom egg drop soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2821">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2823">Next</a></li>
</ul>