<% provide :title, 'Opinion Target 3932' %><h2>beards<br />occurrence: 1</h2><div><ol><li>I did notice the food preppers who were male and had beards were not wearing beard nets ... it was slightly disturbing to see this as it is pretty standard for all fast food establishments to have a policy to cover beards with nets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3933">Next</a></li>
</ul>