<% provide :title, 'Opinion Target 2486' %><h2>strawberry jam<br />occurrence: 2</h2><div><ol><li>Wish they would give more than 1 packet of strawberry jam though.</li><li>How will 1 packet of strawberry jam suffice for 2 pieces of toast ?! ( Well .. not for me at least ..)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2487">Next</a></li>
</ul>