<% provide :title, 'Opinion Target 3556' %><h2>fried calamari appetizer and salads<br />occurrence: 1</h2><div><ol><li>The fried calamari appetizer and salads were yum.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3555">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3557">Next</a></li>
</ul>