<% provide :title, 'Opinion Target 2255' %><h2>fried milk pudding<br />occurrence: 1</h2><div><ol><li>I like the glutunious rice balls and how there are 5 different flavours ( note: smaller than it used to be), the fried milk pudding, and the golden sago.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2256">Next</a></li>
</ul>