<% provide :title, 'Opinion Target 779' %><h2>bacon subs<br />occurrence: 5</h2><div><ol><li>Stick with the bacon subs and this place is great!</li><li>But I LOVE LOVE the bacon subs !!</li><li>Based on reviews ... that would be the bacon subs.</li><li>Would stick to the bacon subs, the real bacon they use is refreshing to the instant bacon at places like Subway and Mr. Sub.</li><li>As others have said, the bacon subs are the ones to order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_778">Previous</a></li>
  <li class="next"><a href=".\opinion_target_780">Next</a></li>
</ul>