<% provide :title, 'Opinion Target 5468' %><h2>sign<br />occurrence: 1</h2><div><ol><li>Given the PEKING MAN sign is all you can see from the main road, I do n't know how other businesses can persist here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5467">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5469">Next</a></li>
</ul>