<% provide :title, 'Opinion Target 1170' %><h2>fried tofu<br />occurrence: 3</h2><div><ol><li>Other dishes like grilled salmon, fried tofu, chicken skewers are also recommended.</li><li>We also had fried tofu, lettuce wraps with minced pork and nuts, and gai lan with garlic.</li><li>Fried tofu was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1171">Next</a></li>
</ul>