<% provide :title, 'Opinion Target 6610' %><h2>mango milk ice with pudding<br />occurrence: 1</h2><div><ol><li>With the combo you can choose any drink and get $ 3.50 off, so I got the mango milk ice with pudding and tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6611">Next</a></li>
</ul>