<% provide :title, 'Opinion Target 9479' %><h2>ginger and onion sauce<br />occurrence: 1</h2><div><ol><li>The ginger and onion sauce seeps into the crunchy noodles leaving much of them soaked in `` lobster-y'' goodness ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9478">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9480">Next</a></li>
</ul>