<% provide :title, 'Opinion Target 6533' %><h2>grouper and green onions<br />occurrence: 1</h2><div><ol><li>I ordered the Super House Congee- it came with shrimp, crab, salmon, scallop, grouper and green onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6534">Next</a></li>
</ul>