<% provide :title, 'Opinion Target 5719' %><h2>cream sandwiches<br />occurrence: 1</h2><div><ol><li>You can find anything from lamb hearts to saffron ice cream sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5720">Next</a></li>
</ul>