<% provide :title, 'Opinion Target 3606' %><h2>sour soups<br />occurrence: 1</h2><div><ol><li>The Pad Thai, har gow and sweet &amp; sour soups are my favs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3607">Next</a></li>
</ul>