<% provide :title, 'Opinion Target 4734' %><h2>Pho Dau Bo location<br />occurrence: 1</h2><div><ol><li>This location is not just the best Pho Dau Bo location, it 's the best pho restaurant in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4735">Next</a></li>
</ul>