<% provide :title, 'Opinion Target 3519' %><h2>tuna with salmon roll<br />occurrence: 1</h2><div><ol><li>We got the spicy tuna with salmon roll which was awesome. however the cooked items were just okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3520">Next</a></li>
</ul>