<% provide :title, 'Opinion Target 3434' %><h2>vermicelli noodles<br />occurrence: 1</h2><div><ol><li>Got the wonton soup and broth was weak and used vermicelli noodles instead of the expected egg noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3433">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3435">Next</a></li>
</ul>