<% provide :title, 'Opinion Target 4182' %><h2>linguini pescatore<br />occurrence: 1</h2><div><ol><li>One of us had the linguini pescatore and praised it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4183">Next</a></li>
</ul>