<% provide :title, 'Opinion Target 2901' %><h2>shrimp tempura taste<br />occurrence: 1</h2><div><ol><li>The shrimp tempura taste strange like the shrimp is dried inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2900">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2902">Next</a></li>
</ul>