<% provide :title, 'Opinion Target 5942' %><h2>beef tendon pho<br />occurrence: 1</h2><div><ol><li>We ordered one medium size beef pho, and one large size beef tendon pho, and one vermicelli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5943">Next</a></li>
</ul>