<% provide :title, 'Opinion Target 5452' %><h2>carving style<br />occurrence: 1</h2><div><ol><li>To my knowledge, the authentic carving style is to have as little meat attached to the fat as possible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5451">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5453">Next</a></li>
</ul>