<% provide :title, 'Opinion Target 3592' %><h2>chicken grilled<br />occurrence: 1</h2><div><ol><li>Chicken Shawarma Sandwich- Shredded pieces of chicken grilled on a rotating spit with shredded lettuce, pickles and garlic sauce wrapped in a pita I really loved this, and chicken is usually at the bottom of my meat list.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3593">Next</a></li>
</ul>