<% provide :title, 'Opinion Target 3496' %><h2>Ginger Chicken combo<br />occurrence: 1</h2><div><ol><li>My Ginger Chicken combo came with soup to start ( choose from wonton, hot and sour, egg drop) plus a bowl of white rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3497">Next</a></li>
</ul>