<% provide :title, 'Opinion Target 1428' %><h2>Duck curry<br />occurrence: 3</h2><div><ol><li>Ordered Pad Thai and Duck curry.</li><li>Duck curry was nothing short of fantastic though.</li><li>I ordered the duck curry that I had last time, which was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1429">Next</a></li>
</ul>