<% provide :title, 'Opinion Target 7637' %><h2>Pho rare beef<br />occurrence: 1</h2><div><ol><li>I always getting the Pho rare beef and brisket which comes with plentiful meat and noodle, you can also definitely tell they 've stewed the soup base at least for a night or so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7638">Next</a></li>
</ul>