<% provide :title, 'Opinion Target 3672' %><h2>fluff<br />occurrence: 1</h2><div><ol><li>3.5 If you 're looking for a decent Chinese experience without all of the fluff, Sun Star is a place you might want to check out Pros: Food is pretty good Prices are OK Cons: Portions are smaller If you do n't know about this place, chances are you will never see it even if you 're driving by.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3673">Next</a></li>
</ul>