<% provide :title, 'Opinion Target 1425' %><h2>fried duck<br />occurrence: 3</h2><div><ol><li>What a great recommendation! we ordered the mango salad, fried duck, beef pannang ?, pineapple fried rice, some special noodle dish, and ended off with a mango roll with lychee ice cream.</li><li>Soon after, the good food flood gates flung open and we were served the beef pannang, fried duck, rice, and noodles.</li><li>The Fried Duck was also very moist and crisp, and a together with the wrap, celery, hoi sin sauce provided a multi-faceted alternative to the other mildly spicy dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1426">Next</a></li>
</ul>