<% provide :title, 'Opinion Target 2048' %><h2>Greek dressing<br />occurrence: 2</h2><div><ol><li>Portion was good, however, the Greek dressing was not.</li><li>I prefer creamy Greek dressing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2049">Next</a></li>
</ul>