<% provide :title, 'Opinion Target 3754' %><h2>potatoe side dish<br />occurrence: 1</h2><div><ol><li>The potatoe side dish as well as the tofu seemed uniquely home cooked in a korean authentic way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3753">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3755">Next</a></li>
</ul>