<% provide :title, 'Opinion Target 3660' %><h2>rice dishes in clay pot<br />occurrence: 1</h2><div><ol><li>We 've had all sorts of seafood dishes, stir fried greens ( usually pea plant tips or tong choy), rice dishes in clay pot, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3661">Next</a></li>
</ul>