<% provide :title, 'Opinion Target 2631' %><h2>salad with goat cheese<br />occurrence: 1</h2><div><ol><li>The arugula and beet salad with goat cheese had very balanced flavours in a generous serving.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2632">Next</a></li>
</ul>