<% provide :title, 'Opinion Target 5953' %><h2>apple cider with alcohol<br />occurrence: 1</h2><div><ol><li>I had the apple cider with alcohol and itwas really warm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5952">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5954">Next</a></li>
</ul>