<% provide :title, 'Opinion Target 5862' %><h2>quinoa with duck<br />occurrence: 1</h2><div><ol><li>Overall I was very happy with the appetizer and dessert, but very disappointed with the quinoa with duck.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5863">Next</a></li>
</ul>