<% provide :title, 'Opinion Target 3556' %><h2>toast with jam<br />occurrence: 1</h2><div><ol><li>To be honest, the best part was the toast with jam, which I could have made at home!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3555">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3557">Next</a></li>
</ul>