<% provide :title, 'Opinion Target 4105' %><h2>sauce with shrimp<br />occurrence: 1</h2><div><ol><li>This consists of egg fried rice half topped with chicken in a sweet and sour sauce and the other half a white, creamy sauce with shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4106">Next</a></li>
</ul>