<% provide :title, 'Opinion Target 3041' %><h2>selection of wine<br />occurrence: 1</h2><div><ol><li>They have wide selection of wine and sake ( although sushi and wine sounds weird) and would prefer it if you sat down and had continued to drink all night long.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3042">Next</a></li>
</ul>