<% provide :title, 'Opinion Target 5609' %><h2>jajangmyun<br />occurrence: 1</h2><div><ol><li>My friends and I all ordered the supreme jajangmyun while my other friend just ordered the basic jajangmyun.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5610">Next</a></li>
</ul>