<% provide :title, 'Opinion Target 3267' %><h2>calamari and pizza<br />occurrence: 1</h2><div><ol><li>Had the Penne with the calamari and pizza, was delicious and had that authentic Italian taste!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3268">Next</a></li>
</ul>