<% provide :title, 'Opinion Target 6426' %><h2>BBQ heat wings<br />occurrence: 1</h2><div><ol><li>I ordered the smokey BBQ heat wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6427">Next</a></li>
</ul>