<% provide :title, 'Opinion Target 5782' %><h2>Golden Curry<br />occurrence: 1</h2><div><ol><li>After the pancake, we had the Royal Pad Thai and the Golden Curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5783">Next</a></li>
</ul>