<% provide :title, 'Opinion Target 9729' %><h2>oyakodon ( chicken egg on rice )  -  chicken<br />occurrence: 1</h2><div><ol><li>The oyakodon ( chicken egg on rice)- chicken was overly dry and bland, rice was not well seasoned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9730">Next</a></li>
</ul>