<% provide :title, 'Opinion Target 9584' %><h2>Loblaws bagels<br />occurrence: 1</h2><div><ol><li>After eating here, I do n't think it 's possible for me to go back to Loblaws bagels again!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9585">Next</a></li>
</ul>