<% provide :title, 'Opinion Target 706' %><h2>ox tail<br />occurrence: 5</h2><div><ol><li>Apparently, the ox tail is great too but in limited quantities each day so order early.</li><li>I 'm not a fan of ox tail so this is based upon what some of my friends order.</li><li>On one hand you 'll have your classics like wild rice, coconut candy, roti, ox tail and jerk chicken.</li><li>Ox tail is good priced by weight.</li><li>The OX Tail was a bit chewy, and the chicken wings were a bit dry, but you can request them to be flavored.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_707">Next</a></li>
</ul>