<% provide :title, 'Opinion Target 7539' %><h2>decaf latte<br />occurrence: 1</h2><div><ol><li>They also serve the best decaf latte in the area!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7540">Next</a></li>
</ul>