<% provide :title, 'Opinion Target 1536' %><h2>chicken feet<br />occurrence: 3</h2><div><ol><li>Their stew is really good and watch out for their chicken feet, SUPER SPICY ( it 'll be a good challenge to see how many you can have).</li><li>- Chicken Feet MEH !!</li><li>Har gow, Siew Mai, Cheong fun ( shrimp and beef rolls), chicken feet, beef tripe, Bbq pork buns, sticky rice, carrot turnip cake and a whole lot more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1535">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1537">Next</a></li>
</ul>