<% provide :title, 'Opinion Target 5827' %><h2>appertizer<br />occurrence: 1</h2><div><ol><li>I was there for the 25 dollar dinner, which provided a choice of appertizer, soup or salad, an entree, and a dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5828">Next</a></li>
</ul>