<% provide :title, 'Opinion Target 5011' %><h2>deep fried oyster cakes and two kimchi dish<br />occurrence: 1</h2><div><ol><li>Before they brought on the food, they gave several house complimentary dish such as salmon skin rolls, miso soups, salad, small cold noodle dish, deep fried oyster cakes and two kimchi dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5012">Next</a></li>
</ul>