<% provide :title, 'Opinion Target 4696' %><h2>Thai glutinous rice<br />occurrence: 1</h2><div><ol><li>Entreé 1) Thai glutinous rice wrapped in crispy duck- awesome dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4697">Next</a></li>
</ul>