<% provide :title, 'Opinion Target 9130' %><h2>Japanese taste<br />occurrence: 1</h2><div><ol><li>It has a authentic Japanese taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9129">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9131">Next</a></li>
</ul>