<% provide :title, 'Opinion Target 6363' %><h2>Deep fried pork<br />occurrence: 1</h2><div><ol><li>Good but just average Deep fried pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6362">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6364">Next</a></li>
</ul>