<% provide :title, 'Opinion Target 7075' %><h2>served with caramel gelato<br />occurrence: 1</h2><div><ol><li>[ Dessert ] Not exactly sure what it was called but for dessert we had some type of rolled up baked dough stuffed with Nutella and served with caramel gelato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7074">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7076">Next</a></li>
</ul>