<% provide :title, 'Opinion Target 4731' %><h2>pig ears<br />occurrence: 1</h2><div><ol><li>What I like about this place is two things mainly ... apart from the main stream items, they almost always have pig ears, tails, feet, tongue, and intestines prepared AND the hoiseen sauce over here is extra good !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4732">Next</a></li>
</ul>