<% provide :title, 'Opinion Target 3916' %><h2>sliced black olives<br />occurrence: 1</h2><div><ol><li>My one substantial complaint about Sorento 's is that, as a Greek/Italian restaurant, they should know better than to use cheap, canned, sliced black olives.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3917">Next</a></li>
</ul>