<% provide :title, 'Opinion Target 3164' %><h2>hoagies<br />occurrence: 1</h2><div><ol><li>Nice basic Greek and Italian dishes, with a few American options ( hoagies are very good, even if it 's cheap white bread, cheap steak, and cheap cheese ... works nicely).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3165">Next</a></li>
</ul>