<% provide :title, 'Opinion Target 8647' %><h2>lunch choices<br />occurrence: 1</h2><div><ol><li>Our server had a sense of humour and was willing to guide our lunch choices based on preferences for dry/wet dishes and a good balance of flavours.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8648">Next</a></li>
</ul>