<% provide :title, 'Opinion Target 3899' %><h2>Pho Ga.<br />occurrence: 1</h2><div><ol><li>ANYWYS- I had the Pho Ga. I do n't know what to say.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3900">Next</a></li>
</ul>