<% provide :title, 'Opinion Target 3501' %><h2>upshot<br />occurrence: 1</h2><div><ol><li>The upshot is, you 're not going to impress hardcore Chinese diners but then location location location is the tip off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3502">Next</a></li>
</ul>