<% provide :title, 'Opinion Target 1999' %><h2>wing<br />occurrence: 2</h2><div><ol><li>The wing tasted OK but not more then that ..</li><li>The sauce on the wing was magical in a sense.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2000">Next</a></li>
</ul>