<% provide :title, 'Opinion Target 2275' %><h2>onion pancake with sliced beef<br />occurrence: 2</h2><div><ol><li>We had the rolled onion pancake with sliced beef.</li><li>Well, the rolled onion pancake with sliced beef, anyways.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2274">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2276">Next</a></li>
</ul>