<% provide :title, 'Opinion Target 3177' %><h2>scallop spaghetti<br />occurrence: 1</h2><div><ol><li>They were nice initially until we showed him we had a coupon ... We ordered a balsamic pizza and shrimp and scallop spaghetti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3178">Next</a></li>
</ul>