<% provide :title, 'Opinion Target 3300' %><h2>chocolate dessert<br />occurrence: 1</h2><div><ol><li>The food was amazing, every single thing that we tried from the starter platter, the seafood soup, lobster thermidor ( we visited during the Lobster festival), the chocolate dessert were amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3301">Next</a></li>
</ul>