<% provide :title, 'Opinion Target 7400' %><h2>fruit flan<br />occurrence: 1</h2><div><ol><li>The fruit flan is also delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7401">Next</a></li>
</ul>