<% provide :title, 'Opinion Target 5354' %><h2>date<br />occurrence: 1</h2><div><ol><li>When it 's not busy, I think it would also be a cozy place for a nice casual date I 'd definitely come back or do take-out ( probably take-out for the cold noodles)! 2.5 stars We went on a weekday night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5355">Next</a></li>
</ul>