<% provide :title, 'Opinion Target 3210' %><h2>Prix Fixe lunch menu<br />occurrence: 1</h2><div><ol><li>Il Fornello 's Prix Fixe lunch menu for $ 18 seemed to be the most appealing choice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3211">Next</a></li>
</ul>