<% provide :title, 'Opinion Target 6841' %><h2>meal specials<br />occurrence: 1</h2><div><ol><li>Their menu features a number of meal specials, which appear reasonably priced for family or group dining.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6842">Next</a></li>
</ul>