<% provide :title, 'Opinion Target 7757' %><h2>hot waffles<br />occurrence: 1</h2><div><ol><li>Some faves include the prime rib, crab legs ( cold better than hot), spicy chicken, bbq pork ribs, wings, dimsum, fried fish w Tartar, scallop cutlets, the hot waffles with strawberries and whipped cream, the macaroons, and the creme brulee for dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7758">Next</a></li>
</ul>