<% provide :title, 'Opinion Target 4088' %><h2>chicken with lime soup<br />occurrence: 1</h2><div><ol><li>We had the chicken with lime soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4089">Next</a></li>
</ul>