<% provide :title, 'Opinion Target 2751' %><h2>peanut<br />occurrence: 1</h2><div><ol><li>The toppings were also plentiful and excellently prepared- tasty tofu, chicken, shrimp, onion, pepper and peanut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2752">Next</a></li>
</ul>