<% provide :title, 'Opinion Target 6490' %><h2>Shaolong bau<br />occurrence: 1</h2><div><ol><li>The Shaolong bau are mmmm melt in your mouth with just the right amount of golden liquid inside each one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6491">Next</a></li>
</ul>