<% provide :title, 'Opinion Target 6148' %><h2>delivery sushi<br />occurrence: 1</h2><div><ol><li>It was the best delivery sushi we had ever had!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6149">Next</a></li>
</ul>