<% provide :title, 'Opinion Target 9569' %><h2>Egg Foo<br />occurrence: 1</h2><div><ol><li>Recommend the Shanghai Noodles, Egg Foo Yong, Chicken Fried Rice, Sweet and Sour Chicken, Wonton Noodle Soup, and Chicken Wings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9568">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9570">Next</a></li>
</ul>