<% provide :title, 'Opinion Target 8339' %><h2>pork stock<br />occurrence: 1</h2><div><ol><li>I can taste the pork stock in the gelatin and a hint of star anise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8340">Next</a></li>
</ul>