<% provide :title, 'Opinion Target 4590' %><h2>Cantonese seafood<br />occurrence: 1</h2><div><ol><li>A very popular Cantonese seafood restaurant, clientele is predominantly HK Chinese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4591">Next</a></li>
</ul>