<% provide :title, 'Opinion Target 4523' %><h2>staple Korean dishes<br />occurrence: 1</h2><div><ol><li>A few staple Korean dishes on the menu are excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4524">Next</a></li>
</ul>