<% provide :title, 'Opinion Target 5586' %><h2>spaghetti bolognaise<br />occurrence: 1</h2><div><ol><li>Always fresh, Especially good for takeout- try the spaghetti bolognaise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5585">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5587">Next</a></li>
</ul>