<% provide :title, 'Opinion Target 9232' %><h2>egg breakfast<br />occurrence: 1</h2><div><ol><li>- Grill cheese + Chicken club + 2 egg breakfast = 50 $.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9233">Next</a></li>
</ul>