<% provide :title, 'Opinion Target 6212' %><h2>beef dumpling tofu soup<br />occurrence: 1</h2><div><ol><li>I always get the beef dumpling tofu soup as I find it makes for the tastiest broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6213">Next</a></li>
</ul>