<% provide :title, 'Opinion Target 5313' %><h2>tuna maki<br />occurrence: 1</h2><div><ol><li>Personally, the udon noodle combo and spicy tuna maki is my favorite:) Used to be much better when Mr. Bong was there to serve us his handmade rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5314">Next</a></li>
</ul>