<% provide :title, 'Opinion Target 8306' %><h2>meat floss fillings<br />occurrence: 1</h2><div><ol><li>We will try something different every time, but we almost always order these dishes:- Glutinous rice roll with Chinese donuts and meat floss fillings- Wonton in in spicy peanut sauce- Rolled onion cake with slices of beef- Dan Dan noodles in spicy peanut sauce- for dessert, my MIL loves the deep fried Chinese donuts with red bean paste filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8307">Next</a></li>
</ul>