<% provide :title, 'Opinion Target 4895' %><h2>Lemon chicken nuggets<br />occurrence: 1</h2><div><ol><li>Lemon chicken nuggets looked like frozen chicken nuggets with a tiny bit of sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4894">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4896">Next</a></li>
</ul>