<% provide :title, 'Opinion Target 4803' %><h2>salmon head<br />occurrence: 1</h2><div><ol><li>The dinner menu is more expensive, but it also comes with more choice of food ( ie: salmon head, various other maki).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4804">Next</a></li>
</ul>