<% provide :title, 'Opinion Target 1532' %><h2>avocado shakes<br />occurrence: 2</h2><div><ol><li>From all the places I 've been to so far, this place has the best avocado shakes ( $ 3).</li><li>I was a bit stunned about the price of the avocado shakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1533">Next</a></li>
</ul>