<% provide :title, 'Opinion Target 5272' %><h2>cream sauce with chicken and smoked salmon<br />occurrence: 1</h2><div><ol><li>I ordered a plate of spaghetti in a cream sauce with chicken and smoked salmon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5273">Next</a></li>
</ul>