<% provide :title, 'Opinion Target 3005' %><h2>private room area<br />occurrence: 1</h2><div><ol><li>When they put us into the private room area, I did n't even felt we are being segregate from the rest of the crowd, the waitresses are super friendly and attend to all our needs before we lift a finger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3004">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3006">Next</a></li>
</ul>