<% provide :title, 'Opinion Target 7921' %><h2>side dishes rock<br />occurrence: 1</h2><div><ol><li>And the side dishes rock.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7920">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7922">Next</a></li>
</ul>