<% provide :title, 'Opinion Target 6706' %><h2>laffas<br />occurrence: 1</h2><div><ol><li>With an order of hummus, one gets two small laffas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6707">Next</a></li>
</ul>