<% provide :title, 'Opinion Target 2846' %><h2>Singapore noodle<br />occurrence: 1</h2><div><ol><li>The Singapore noodle was excellent, lots of chicken, pork, and shrimp!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2847">Next</a></li>
</ul>