<% provide :title, 'Opinion Target 6771' %><h2>balsamic dressing<br />occurrence: 1</h2><div><ol><li>The balsamic dressing was a nice balance to the otherwise salty feta cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6772">Next</a></li>
</ul>