<% provide :title, 'Opinion Target 2494' %><h2>roll sashimi dinner combo<br />occurrence: 1</h2><div><ol><li>We got spicy salmon roll, spicy California roll sashimi dinner combo, chicken karagee and crunch noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2495">Next</a></li>
</ul>