<% provide :title, 'Opinion Target 7459' %><h2>Indian-style chicken<br />occurrence: 1</h2><div><ol><li>The Indian-style chicken they have as toppings is leagues better than Agra 's meat at about a third of the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7460">Next</a></li>
</ul>