<% provide :title, 'Opinion Target 6677' %><h2>extra rice cakes<br />occurrence: 1</h2><div><ol><li>We ordered the regular chicken dakgalbi with double cheese, ramen, and extra rice cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6678">Next</a></li>
</ul>