<% provide :title, 'Opinion Target 6868' %><h2>bun portion<br />occurrence: 1</h2><div><ol><li>The bun portion tasted fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6869">Next</a></li>
</ul>