<% provide :title, 'Opinion Target 2049' %><h2>turkey bacon option<br />occurrence: 2</h2><div><ol><li>Also, I love that they have a turkey bacon option.</li><li>So I had to settle for the classic that comes with the turkey bacon option and no pancakes, not gonna pay for two dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2050">Next</a></li>
</ul>