<% provide :title, 'Opinion Target 1397' %><h2>Thai basil<br />occurrence: 3</h2><div><ol><li>Thai basil is a place where you go for a quick lunch bite!</li><li>The beef in the beef salad was average, although the salad itself did taste a little awkward because of the pairings of raw thai basil, cilantro and mint ( hard to pickup with a fork too).</li><li>Normally on a regular day, The Thai Islamic, and the Thai Basil Noodle on their menu is super delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1398">Next</a></li>
</ul>