<% provide :title, 'Opinion Target 1879' %><h2>pork bone meat<br />occurrence: 2</h2><div><ol><li>I had the pork bone base and the pork bone meat itself was actually really good.</li><li>The pork bone meat just falls off the bone and sucking out the marrow while your friends watch in disgust ( especially non-Asians) is still one of the best shock value moments you 'll get that day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1880">Next</a></li>
</ul>