<% provide :title, 'Opinion Target 6567' %><h2>minced pork rice with egg<br />occurrence: 1</h2><div><ol><li>49 and tea flavoured and minced pork rice with egg $ 7.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6566">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6568">Next</a></li>
</ul>