<% provide :title, 'Opinion Target 1666' %><h2>Salmon Fried Rice<br />occurrence: 2</h2><div><ol><li>The Salmon Fried Rice was mediocre.</li><li>Also got the Salmon fried rice off the featured menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1667">Next</a></li>
</ul>