<% provide :title, 'Opinion Target 529' %><h2>bathroom<br />occurrence: 8</h2><div><ol><li>The other quirk is the bathroom which has a sink for washing clothes, a washing machine and finally a vacuum!</li><li>On top of that, the bathroom was absolutely filthy too!</li><li>Clean bathroom.</li><li>Bathroom needs a complete Reno.</li><li>The bathroom looked like it belonged at a dive bar, not a place where I 'm being served food at.</li><li>Cleanliness, excellent overall, including a very clean bathroom.</li><li>Bathroom is tiny but I can over look that!</li><li>Plus their bathroom were pretty clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_530">Next</a></li>
</ul>