<% provide :title, 'Opinion Target 3646' %><h2>patty<br />occurrence: 1</h2><div><ol><li>The patty was too dry and not juicy enough compared to other burger places I tried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3647">Next</a></li>
</ul>