<% provide :title, 'Opinion Target 9220' %><h2>sub pork bacon for turkey bacon<br />occurrence: 1</h2><div><ol><li>So today I went to order the pancake combo and was told that I could n't sub pork bacon for turkey bacon because the kitchen does n't make substitution on the `` signature dishes'' the dish is pancakes, eggs, bacon and sausage how signature is this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9221">Next</a></li>
</ul>