<% provide :title, 'Opinion Target 6480' %><h2>fried rice with half tomato<br />occurrence: 1</h2><div><ol><li>Then there is also the Fish with Mango and the fried rice with half tomato- half cream sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6481">Next</a></li>
</ul>