<% provide :title, 'Opinion Target 2674' %><h2>agnolotti<br />occurrence: 1</h2><div><ol><li>Even though I generally choose white cream sauce over tomato-based cream sauces, the agnolotti fornello ( $ 15.79) is quite satisfying, although a bit small!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2675">Next</a></li>
</ul>