<% provide :title, 'Opinion Target 972' %><h2>chicken dish<br />occurrence: 4</h2><div><ol><li>My husband had this chicken dish with rose sauce and black olives, bathing in mushrooms too.</li><li>But it was n't for me, they have a signature whole chicken dish, it 's a must if you go there, so I 'm told.</li><li>The food was good but nothing that would make me want to trek there again because I had to have the ( insert chicken dish here).</li><li>The chicken dish that I ordered was awful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_973">Next</a></li>
</ul>