<% provide :title, 'Opinion Target 3108' %><h2>special maki rolls<br />occurrence: 1</h2><div><ol><li>The special maki rolls were just very small comparing with other great places that I 've been to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3109">Next</a></li>
</ul>