<% provide :title, 'Opinion Target 5357' %><h2>Vegi Spring rolls<br />occurrence: 1</h2><div><ol><li>We had Vegi Spring rolls and the Chicken Pad Thai, which seemed to be house favourites based on the constant stream of phone calls ordering it for takeout.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5358">Next</a></li>
</ul>