<% provide :title, 'Opinion Target 5761' %><h2>beef with green curry<br />occurrence: 1</h2><div><ol><li>I had crispy beef with green curry and it was absolutely amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5762">Next</a></li>
</ul>