<% provide :title, 'Opinion Target 1424' %><h2>rapini<br />occurrence: 3</h2><div><ol><li>In this case, it was almost like they boiled some rigatoni, threw in a couple ingredients from a can ( save for the rapini and left it as that.</li><li>The pieces of rapini were humungous- I had entire stalks in my pasta that were difficult to eat.</li><li>For vegetarians, they have eggplant and I love the choice of toppings; along with the usual, they have rapini!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1425">Next</a></li>
</ul>