<% provide :title, 'Opinion Target 4308' %><h2>waiting time<br />occurrence: 1</h2><div><ol><li>The only thing that I did not like was the waiting time which was over 15 mins for take out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4309">Next</a></li>
</ul>