<% provide :title, 'Opinion Target 7430' %><h2>Garlic Nan<br />occurrence: 1</h2><div><ol><li>Only exception would be the actual chicken was a little bit dry, but the sauce was amazing especially with the Garlic Nan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7429">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7431">Next</a></li>
</ul>