<% provide :title, 'Opinion Target 3423' %><h2>stone bowl bimbimbap<br />occurrence: 1</h2><div><ol><li>We got the chicken ginseng soup, the stone bowl bimbimbap, and the tofu soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3422">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3424">Next</a></li>
</ul>