<% provide :title, 'Opinion Target 3739' %><h2>mixed grilled pork and chicken<br />occurrence: 1</h2><div><ol><li>For $ 50 including tax and a hefty tip, my boyfriend and I enjoyed on a Saturday night Sinagong ( tamarind) soup with prawns medium, Pancit Sampaguita medium, Lechon Kwahili medium ( fried pork), and Sampaguita dinner for two which included rice, lumpia ( spring rolls), deep fried chicken wings, and mixed grilled pork and chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3740">Next</a></li>
</ul>