<% provide :title, 'Opinion Target 3089' %><h2>twix candy bar tempura<br />occurrence: 1</h2><div><ol><li>The twix candy bar tempura as dessert was good but Mara bar may have been better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3088">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3090">Next</a></li>
</ul>