<% provide :title, 'Opinion Target 3937' %><h2>seafood egg noodle soup<br />occurrence: 1</h2><div><ol><li>( But then again, I only eat a small for pho) My friend had #20, seafood egg noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3936">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3938">Next</a></li>
</ul>