<% provide :title, 'Opinion Target 9296' %><h2>mackeral<br />occurrence: 1</h2><div><ol><li>The mackeral looked really black and charred.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9295">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9297">Next</a></li>
</ul>