<% provide :title, 'Opinion Target 3811' %><h2>chocolate ice cream.<br />occurrence: 1</h2><div><ol><li>However the truth is it is basically a regular waffle, with oreo pieces and chocolate ice cream. literally the opposite. the star they lost was due to extremely long wait time for the deserts, and also the waffles false advertisement. overall service and environment is nice, and the food was decent, so its worth a try, but probably not on a day right before a weekend perhaps.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3810">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3812">Next</a></li>
</ul>