<% provide :title, 'Opinion Target 1243' %><h2>Armenian food<br />occurrence: 3</h2><div><ol><li>Not all that offering in authentic Armenian food.</li><li>I 've never had authentic Armenian food, but some of the other reviewers point out that this place is n't really Armenian.</li><li>This is not the place for authentic Armenian food, but if you are in Victoria Park for whatever reason, you 'll definitely get a satisfying meal here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1244">Next</a></li>
</ul>