<% provide :title, 'Opinion Target 2097' %><h2>desert table<br />occurrence: 2</h2><div><ol><li>I was most surprised at the plastic fork and spoons at the desert table.</li><li>Also, the desert table is fun fun fun !! lots of selection plus a chocolate fountain^_^ For the adventurous choco lovers: They have an array of cut up fruits &amp; veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2098">Next</a></li>
</ul>