<% provide :title, 'Opinion Target 5367' %><h2>peanut oil<br />occurrence: 1</h2><div><ol><li>He then makes a comment about how if they used peanut oil they would be out of business and seems really annoyed that I even mentioned my allergy; his tone was very condescending.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5368">Next</a></li>
</ul>