<% provide :title, 'Opinion Target 7153' %><h2>meat quality<br />occurrence: 1</h2><div><ol><li>The meat quality is pretty good, and they allow multiple refills on the side dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7154">Next</a></li>
</ul>