<% provide :title, 'Opinion Target 3399' %><h2>rice and japchae<br />occurrence: 1</h2><div><ol><li>With both rice and japchae in the hot stone pot, the food stayed nice and hot while offering a good amount of food to fill you up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3400">Next</a></li>
</ul>