<% provide :title, 'Opinion Target 3332' %><h2>Fried Crispy Wonton<br />occurrence: 1</h2><div><ol><li>Our order:- Spicy Crispy Beef- CAD 10.95- Fried Crispy Wonton- CAD 6.95- House Fried Rice- CAD 10.95- Chili Chicken CAD 10.95 -- Total Order: CAD 47.23 Spicy Crispy Beef: Neither spicy nor crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3333">Next</a></li>
</ul>