<% provide :title, 'Opinion Target 5945' %><h2>pho service<br />occurrence: 1</h2><div><ol><li>Condiments great Service fast but emotionless ( usual busy pho service) Nothing crazily amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5944">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5946">Next</a></li>
</ul>