<% provide :title, 'Opinion Target 1185' %><h2>Braised beef noodle soup<br />occurrence: 3</h2><div><ol><li>Braised beef noodle soup is amazing!</li><li>Had the braised beef noodle soup and it was the worst I have ever had.</li><li>I 've been to at least four other Asian Legend locations and this is probably the worst one for their braised beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1186">Next</a></li>
</ul>