<% provide :title, 'Opinion Target 3372' %><h2>Food Fried Chicken<br />occurrence: 1</h2><div><ol><li>That is almost a NEW concept for Fast Food Fried Chicken because KFC does a 9 Piece method ( 2 Leg, 2 Thigh, 2 Rib, 2, Wing, 1 Breast) but if I saw what I saw then MB 's does the 8 Piece method ( 2 Leg, 2 Thigh, 2 Rib/Breast, 2 Wings).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3373">Next</a></li>
</ul>