<% provide :title, 'Opinion Target 4949' %><h2>apple<br />occurrence: 1</h2><div><ol><li>Make sure to pop into the bakery on your way out and grab some delicious treats for the afternoon! i 've been going to Kiva 's every weekend since i moved into the neighbourhood 15 years ago. i 've now moved far away, and the only thing i miss is Kiva 's. their cream cheese and lox on a twister, can fill you up for the day. they have freshly squeezed orange juice, a little expensive, but oh so worth it. and my absolute favorite, their apple strudel. writing this review is making me homesick, but just for Kiva 's menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4950">Next</a></li>
</ul>