<% provide :title, 'Opinion Target 1344' %><h2>beef hot pot<br />occurrence: 2</h2><div><ol><li>So, among the yelling and cheering of the young group and inconsistent swivels of a drunken whitey we tried to enjoy the hand made noodle and dumpling soup as well as a beef hot pot.</li><li>Other dish was a beef hot pot, bland and burnt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1345">Next</a></li>
</ul>