<% provide :title, 'Opinion Target 6648' %><h2>green seaweed<br />occurrence: 1</h2><div><ol><li>For appetizers, they have mashed potatoes served like a scoop of ice cream and green seaweed seasoned with black pepper.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6649">Next</a></li>
</ul>