<% provide :title, 'Opinion Target 6372' %><h2>grilled chicken meal<br />occurrence: 1</h2><div><ol><li>I had a spicy grilled chicken meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6373">Next</a></li>
</ul>