<% provide :title, 'Opinion Target 4367' %><h2>taro slush with coconut jelly<br />occurrence: 1</h2><div><ol><li>I get taro slush with coconut jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4368">Next</a></li>
</ul>