<% provide :title, 'Opinion Target 4790' %><h2>grilled chicken and pork dishes<br />occurrence: 1</h2><div><ol><li>I would n't have believed that such a small and obscure little shop could serve up one of the best grilled chicken and pork dishes in the GTA.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4791">Next</a></li>
</ul>