<% provide :title, 'Opinion Target 7438' %><h2>potato purée<br />occurrence: 1</h2><div><ol><li>I went with their specialty new crepe- sweet potato purée filled with shaved almond and maple syrup topped with two ginormous scoops of sweet potato ice cream and Creme brûlée coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7439">Next</a></li>
</ul>