<% provide :title, 'Opinion Target 2202' %><h2>muffin<br />occurrence: 2</h2><div><ol><li>The muffin was barely capable of holding the beast though so they 're gonna need a stronger base.</li><li>Phenomenal eggs benny- the english muffin was crispy on the outside soft on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2201">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2203">Next</a></li>
</ul>