<% provide :title, 'Opinion Target 8699' %><h2>Pepsi fountain drink dispenser<br />occurrence: 1</h2><div><ol><li>Main reason I wanted to write this review is to express my concern over the new touch-screen Pepsi fountain drink dispenser.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8700">Next</a></li>
</ul>