<% provide :title, 'Opinion Target 4291' %><h2>coffee with condensed milk<br />occurrence: 1</h2><div><ol><li>Ordered a cold Vietnamese filtered coffee with condensed milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4292">Next</a></li>
</ul>