<% provide :title, 'Opinion Target 972' %><h2>meringue cakes<br />occurrence: 4</h2><div><ol><li>4 stars for cakes 2 stars for food My MIL loves loves loves the meringue cakes from this place.</li><li>As long as they keep making the meringue cakes, I 'll always come back.</li><li>This place, is all about their meringue cakes.</li><li>To the management staff of Maxim, I hope you do read this review and resolve this issue with your staff, because you should know you are not the only bakery/cafe in the area, and at this rate, it wo n't matter if your meringue cakes are good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_973">Next</a></li>
</ul>