<% provide :title, 'Opinion Target 4000' %><h2>pork cutlet lunch special<br />occurrence: 1</h2><div><ol><li>I ended up getting the pork cutlet lunch special ( $ 8.99).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4001">Next</a></li>
</ul>