<% provide :title, 'Opinion Target 5336' %><h2>Unagi Don lunch special<br />occurrence: 1</h2><div><ol><li>Ordered the lobster sashimi special, the unagi Don and sashimi salad, the sashimi salad was somewhat mediocre, lots of vegetables and not too much sashimi, the Unagi Don lunch special was tiny, and lobster sashimi was kind of too moist .. overall an average lunch experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5337">Next</a></li>
</ul>