<% provide :title, 'Opinion Target 1226' %><h2>maki roll<br />occurrence: 3</h2><div><ol><li>We ordered a few dishes ( sashimi combo, maki roll and stir fry soba noodles).</li><li>We ordered the crunchy noodle soup, take sushi dinner and the sunset action maki roll.</li><li>One of the three times they gave us large, reasonable portions like they used to consistently do, but two of the three times they flaked and gave us the smallest maki roll pieces I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1227">Next</a></li>
</ul>