<% provide :title, 'Opinion Target 3637' %><h2>chicken mango salad<br />occurrence: 1</h2><div><ol><li>The house pad thai ( on the ketchupy side) and chicken mango salad are the only two items I enjoy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3638">Next</a></li>
</ul>