<% provide :title, 'Opinion Target 5229' %><h2>AYCE Korean BBQ<br />occurrence: 1</h2><div><ol><li>The AYCE Korean BBQ is why we came and it did not disappoint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5228">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5230">Next</a></li>
</ul>