<% provide :title, 'Opinion Target 7008' %><h2>fried pork chops<br />occurrence: 1</h2><div><ol><li>The fried pork chops that came with the soup noodles were fried to perfection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7009">Next</a></li>
</ul>