<% provide :title, 'Opinion Target 6093' %><h2>lunch items<br />occurrence: 1</h2><div><ol><li>So I 'm sure their lunch items are just as good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6094">Next</a></li>
</ul>