<% provide :title, 'Opinion Target 5523' %><h2>blackened salmon<br />occurrence: 1</h2><div><ol><li>The blackened salmon was also enjoyable and was accompanied by standard steamed veg and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5524">Next</a></li>
</ul>