<% provide :title, 'Opinion Target 1135' %><h2>biryani<br />occurrence: 3</h2><div><ol><li>The biryani is a must have.</li><li>There 's a fair bit of heat with the dishes ( I 'm very tolerant), the biryani is rich with flavours with plenty of herbs and spices.</li><li>UPDATE: In a recent order, the biryani was made with LARGE chunks of bell pepper ( yes, bell pepper, orange bell pepper to be exact, which is really not what you 'd expect in a biryani) and massive pieces of onion too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1136">Next</a></li>
</ul>