<% provide :title, 'Opinion Target 1813' %><h2>corn beef<br />occurrence: 2</h2><div><ol><li>I love the corn beef on rye or pastrami hell I ca n't make up my mind their all good Good food, clean, people are great and quality is consistent.</li><li>Time is now 11:35am The corn beef is very fatty ask for lean if you do go ...... I was there last summer after we had to get the kids from yorkdale after summer camp and it was shitty then.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1814">Next</a></li>
</ul>