<% provide :title, 'Opinion Target 7387' %><h2>crab eggs<br />occurrence: 1</h2><div><ol><li>The sauce was interesting it was tomatoey, and I think they added crab eggs in it, which was interesting and added a nice texture.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7388">Next</a></li>
</ul>