<% provide :title, 'Opinion Target 4244' %><h2>soup nazi<br />occurrence: 1</h2><div><ol><li>And when my friend asked if she could get the chicken in the pad thai changed to beef, I thought the soup nazi was going to finally make an appearance ... but he was perfectly accommodating.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4245">Next</a></li>
</ul>