<% provide :title, 'Opinion Target 4241' %><h2>appetizer soup<br />occurrence: 1</h2><div><ol><li>The appetizer soup was really good as per my dining companions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4242">Next</a></li>
</ul>