<% provide :title, 'Opinion Target 4563' %><h2>pouteen<br />occurrence: 1</h2><div><ol><li>The pouteen was small and not worth the money.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4562">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4564">Next</a></li>
</ul>