<% provide :title, 'Opinion Target 1245' %><h2>beef sirloin<br />occurrence: 3</h2><div><ol><li>Usually opt for the silver menu, especially the onion-wrapped beef sirloin.</li><li>Took the recommendation of Justine H 's review and ordered the beef sirloin ( Ju Mul Luk).</li><li>For $ 45 the meal came with the beef sirloin, two bowls of purple rice, lettuce wrap, seasoned lettuce, onion pancake, an assortment of 8 side dishes and a bowl of seafood soon tofu soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1246">Next</a></li>
</ul>