<% provide :title, 'Opinion Target 1654' %><h2>chicken karagee<br />occurrence: 2</h2><div><ol><li>We got spicy salmon roll, spicy California roll sashimi dinner combo, chicken karagee and crunch noodle.</li><li>The only downside was probably the chicken karagee they only give you like 6 pieces ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1655">Next</a></li>
</ul>