<% provide :title, 'Opinion Target 3765' %><h2>beef pho noodle soups<br />occurrence: 1</h2><div><ol><li>It has one of the best beef pho noodle soups in town. the prices have gone up in the last little while but still a good value This location is not just the best Pho Dau Bo location, it 's the best pho restaurant in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3766">Next</a></li>
</ul>