<% provide :title, 'Opinion Target 4815' %><h2>steamed lamb buns<br />occurrence: 1</h2><div><ol><li>Their steamed lamb buns are so delish .... we usually order some to take home to eat too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4816">Next</a></li>
</ul>