<% provide :title, 'Opinion Target 7607' %><h2>pork hock<br />occurrence: 1</h2><div><ol><li>Inside the soup were slices of pork hock and blood jello.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7608">Next</a></li>
</ul>