<% provide :title, 'Opinion Target 7585' %><h2>Jamaican jerk<br />occurrence: 1</h2><div><ol><li>3) The chicken did n't taste like authentic Jamaican jerk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7584">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7586">Next</a></li>
</ul>