<% provide :title, 'Opinion Target 4819' %><h2>lasagna noodles<br />occurrence: 1</h2><div><ol><li>The beef noodle is with the thin noodle but the lamb noodle is with thick noodles like lasagna noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4820">Next</a></li>
</ul>