<% provide :title, 'Opinion Target 1890' %><h2>potato starch noodles<br />occurrence: 2</h2><div><ol><li>We ordered the pork jia-mo, the cold noodle, and the lamb pao mo ( sweet potato starch noodles).</li><li>Cold noodle ( $ 4.99): about average taste for cold noodle and under-sized and a little pricey ( later found that for $ 2 more, the Szechuan cold noodle is much better tasting and a much bigger serving; this was on my second visit) Lamb pao-mo ( $ 9.99) ( sweet potato starch noodles): the noodles are in a small, chunky form and the lamb and soup base were decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1891">Next</a></li>
</ul>