<% provide :title, 'Opinion Target 5288' %><h2>cream of mushroom on chicken with pasta<br />occurrence: 1</h2><div><ol><li>My friend had the borsch soup and cream of mushroom on chicken with pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5287">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5289">Next</a></li>
</ul>