<% provide :title, 'Opinion Target 2883' %><h2>faffel<br />occurrence: 1</h2><div><ol><li>The faffel here is great and often quite stuffed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2882">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2884">Next</a></li>
</ul>