<% provide :title, 'Opinion Target 6060' %><h2>curry chicken with rice<br />occurrence: 1</h2><div><ol><li>I ordered Jerk chicken in sandwich and it comes with a free pop ( $ 6.15 + tax) and my friend ordered the curry chicken with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6059">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6061">Next</a></li>
</ul>