<% provide :title, 'Opinion Target 4296' %><h2>beef vermicelli noodles Hue style in soup<br />occurrence: 1</h2><div><ol><li>Bun bo hue, or literal translation, beef vermicelli noodles Hue style in soup is a dish originating from the central highlands of Hue in Vietnam.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4295">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4297">Next</a></li>
</ul>