<% provide :title, 'Opinion Target 3131' %><h2>maki boats<br />occurrence: 1</h2><div><ol><li>I always get the sushi, sashimi, and maki boats, which is great if you want to try many different types of fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3130">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3132">Next</a></li>
</ul>