<% provide :title, 'Opinion Target 2911' %><h2>carne asada<br />occurrence: 1</h2><div><ol><li>The menu offers the staples: platano, arroz, beans, yuca, pescado frito, pupusas, sopas, carne asada, chicharron, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2910">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2912">Next</a></li>
</ul>