<% provide :title, 'Opinion Target 5488' %><h2>bubble tea joints<br />occurrence: 1</h2><div><ol><li>All the other bubble tea joints I 've had cannot compare to Chatime.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5487">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5489">Next</a></li>
</ul>