<% provide :title, 'Opinion Target 9674' %><h2>seafood platters<br />occurrence: 1</h2><div><ol><li>The menu is quite extensive and offers all kinds of meats like Chicken, Beef, Lamb and even seafood platters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9675">Next</a></li>
</ul>