<% provide :title, 'Opinion Target 9505' %><h2>seafood congee and turnip cakes<br />occurrence: 1</h2><div><ol><li>The seafood congee and turnip cakes are well worth the drive from downtown.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9506">Next</a></li>
</ul>