<% provide :title, 'Opinion Target 1139' %><h2>Shortcake crepe<br />occurrence: 4</h2><div><ol><li>I ordered the Shortcake crepe and Green Tea latte.</li><li>Finally found an amazing crepe place in Toronto! 5 stars for the sweet shortcake crepe! 4 stars for the savoury crepes!</li><li>The shortcake crepe was perfect.</li><li>My girlfriends and I shared the Nut waffle ( + $ 1) and the Shortcake crepe + $ 1 for French Vanilla coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1138">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1140">Next</a></li>
</ul>