<% provide :title, 'Opinion Target 3443' %><h2>turnip<br />occurrence: 1</h2><div><ol><li>Their side dishes were good, and included seaweed, kimchi, turnip, lettuce salad witg sesame dressing, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3444">Next</a></li>
</ul>