<% provide :title, 'Opinion Target 3561' %><h2>Pork ( Chicharron<br />occurrence: 1</h2><div><ol><li>I 've experienced better while the Fried Plantain, Egg, Beans were the better of the bunch, I was not impressed by the Salad, undercooked Rice, nor the while crunchy but super dry Pork ( Chicharron).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3562">Next</a></li>
</ul>