<% provide :title, 'Opinion Target 1528' %><h2>kimchee<br />occurrence: 3</h2><div><ol><li>The tofu is silky soft in a rich flavourful soup, the kimchee has a satisfying kick, and ouuu I love the marinated bean sprouts!</li><li>Also, only kimchee as the side dish.</li><li>They always give you 6 or so side dishes, soy beans, kimchee, sprouts, sweet soy potatoes, and some other varieties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1527">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1529">Next</a></li>
</ul>