<% provide :title, 'Opinion Target 3223' %><h2>cauliflower<br />occurrence: 1</h2><div><ol><li>They were cooked perfectly and did n't have a bland taste that some frozen cauliflower has.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3224">Next</a></li>
</ul>