<% provide :title, 'Opinion Target 3650' %><h2>Chicken Tabaka dish<br />occurrence: 1</h2><div><ol><li>The Chicken Tabaka dish was okay in comparison.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3651">Next</a></li>
</ul>