<% provide :title, 'Opinion Target 5155' %><h2>fried chilli turnip patties<br />occurrence: 1</h2><div><ol><li>I loved the fried chilli turnip patties the most.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5154">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5156">Next</a></li>
</ul>