<% provide :title, 'Opinion Target 3344' %><h2>deep fried rolls<br />occurrence: 1</h2><div><ol><li>Creative and delicious deep fried rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3345">Next</a></li>
</ul>