<% provide :title, 'Opinion Target 8657' %><h2>house bread<br />occurrence: 1</h2><div><ol><li>Their house bread is nice but expensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8658">Next</a></li>
</ul>