<% provide :title, 'Opinion Target 4049' %><h2>insert chicken dish<br />occurrence: 1</h2><div><ol><li>The food was good but nothing that would make me want to trek there again because I had to have the ( insert chicken dish here).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4050">Next</a></li>
</ul>