<% provide :title, 'Opinion Target 1149' %><h2>tabouleh<br />occurrence: 3</h2><div><ol><li>The pricey Lebanese food ( we shared 4 entrees) was okay but there is better elsewhere, and the bland tabouleh was disappointing.</li><li>The vegetarian combo with meat ( hehe, funny name) is really good, where you get to try the dips, the tabouleh, the falafel, as well as a shawarma of your choosing ( the shawarma was so-so, but hey, if you gotta have meat ...).</li><li>I never leave without food to take home- hummous, baba and tabouleh in summer ... lentil soup in winter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1148">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1150">Next</a></li>
</ul>