<% provide :title, 'Opinion Target 3362' %><h2>food cafeteria style<br />occurrence: 1</h2><div><ol><li>They serve your food cafeteria style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3363">Next</a></li>
</ul>