<% provide :title, 'Opinion Target 2424' %><h2>Pho spot<br />occurrence: 2</h2><div><ol><li>We 've through Vietnam north to south so finding a good Pho spot in our neighbourhood was n't easy!</li><li>My group of friends all agreed it was the go-to Pho spot in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2425">Next</a></li>
</ul>