<% provide :title, 'Opinion Target 3307' %><h2>cajun flavour<br />occurrence: 1</h2><div><ol><li>The cajun flavour was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3306">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3308">Next</a></li>
</ul>