<% provide :title, 'Opinion Target 899' %><h2>sea bass<br />occurrence: 4</h2><div><ol><li>Sirloin with Tiger Shrimps, and from the Chef 's Specials: a linguini with half a lobster and shrimps, and an herb-crusted sea bass.</li><li>The food was good, my daughter loved the gnocchi, I had the sea bass and it was quite good.</li><li>I 've tried most dishes at this restaurant and I have to say, the lula kabob and sea bass are my top 2 choices.</li><li>The lula is juicy, and really satisfying and the sea bass is tender and really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_900">Next</a></li>
</ul>