<% provide :title, 'Opinion Target 5377' %><h2>bubble tea cafe vibe<br />occurrence: 1</h2><div><ol><li>Do n't mean to hate but the loud rap/club music does n't match the bubble tea cafe vibe ...: p Something more mellow, pls!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5378">Next</a></li>
</ul>