<% provide :title, 'Opinion Target 3203' %><h2>yellow potatoes<br />occurrence: 1</h2><div><ol><li>The yellow potatoes were really flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3202">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3204">Next</a></li>
</ul>