<% provide :title, 'Opinion Target 5000' %><h2>Rooms Steak house<br />occurrence: 1</h2><div><ol><li>I 've now been to Small Rooms Steak house about 15 times as it is very close to my work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4999">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5001">Next</a></li>
</ul>