<% provide :title, 'Opinion Target 5036' %><h2>frozen pizza<br />occurrence: 1</h2><div><ol><li>Reminded me of an overpriced cheap frozen pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5037">Next</a></li>
</ul>