<% provide :title, 'Opinion Target 6164' %><h2>tofu spicy kimchi<br />occurrence: 1</h2><div><ol><li>Ordered #3 with beef, pork, tofu spicy kimchi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6165">Next</a></li>
</ul>