<% provide :title, 'Opinion Target 4824' %><h2>lamb shiu mai<br />occurrence: 1</h2><div><ol><li>Also try their lamb shiu mai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4825">Next</a></li>
</ul>