<% provide :title, 'Opinion Target 6921' %><h2>rice mochi wrapped in a bamboo leaf<br />occurrence: 1</h2><div><ol><li>( $ 33) We also got the black cod, which was very nice, smooth and crunchy. it same with small side garnishes, including a sticky rice mochi wrapped in a bamboo leaf, some pickled veggies, all edible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6920">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6922">Next</a></li>
</ul>