<% provide :title, 'Opinion Target 8695' %><h2>burger meal<br />occurrence: 1</h2><div><ol><li>It was the best burger meal I had in a long time!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8696">Next</a></li>
</ul>