<% provide :title, 'Opinion Target 2589' %><h2>sauce with delicious chicken<br />occurrence: 1</h2><div><ol><li>The dinner was wonderful, nice creamy sauce with delicious chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2590">Next</a></li>
</ul>