<% provide :title, 'Opinion Target 6018' %><h2>regular pizza<br />occurrence: 1</h2><div><ol><li>It 's about the size of two of the regular pizza slices you get down the street.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6019">Next</a></li>
</ul>