<% provide :title, 'Opinion Target 1785' %><h2>Boneless Chicken Roti<br />occurrence: 2</h2><div><ol><li>Boneless Chicken Roti w/ Potato and Spinach ftw.</li><li>We got an order of doubles, the potato balls and a boneless chicken roti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1784">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1786">Next</a></li>
</ul>