<% provide :title, 'Opinion Target 6276' %><h2>bacon cheese<br />occurrence: 1</h2><div><ol><li>I tried my friend 's bacon cheese melt on English Muffin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6277">Next</a></li>
</ul>