<% provide :title, 'Opinion Target 2178' %><h2>salsa sauce<br />occurrence: 1</h2><div><ol><li>Not to mention, their spicy salsa sauce was very salty, which somewhat helped to heighten the flavors of the bland empanadas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2179">Next</a></li>
</ul>