<% provide :title, 'Opinion Target 4301' %><h2>Beef Seekh Kabab<br />occurrence: 1</h2><div><ol><li>Things you should n't be ordering: Beef Seekh Kabab, Chicken Breast Tikka, Chicken jelfrezi, Bheja/brain fried masala.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4302">Next</a></li>
</ul>