<% provide :title, 'Opinion Target 5680' %><h2>beer with soju<br />occurrence: 1</h2><div><ol><li>Basically it is a package deal where you get five beers + food or replace beer with soju.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5681">Next</a></li>
</ul>