<% provide :title, 'Opinion Target 3909' %><h2>deep fried batter<br />occurrence: 1</h2><div><ol><li>The deep fried batter was light and crispy but did n't have much taste to them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3908">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3910">Next</a></li>
</ul>