<% provide :title, 'Opinion Target 7148' %><h2>music player<br />occurrence: 1</h2><div><ol><li>Each booth has a neat little music player ( that does n't work btw, do n't put your coins in it!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7149">Next</a></li>
</ul>