<% provide :title, 'Opinion Target 5503' %><h2>homemade sausage<br />occurrence: 1</h2><div><ol><li>The homemade sausage is delicious complimented by the grilled vegetables it is served with.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5504">Next</a></li>
</ul>