<% provide :title, 'Opinion Target 7368' %><h2>cooking style<br />occurrence: 1</h2><div><ol><li>The cooking style is supposed to be French, but enough French-ness is missing let 's just say it 's nondescript and rather bland food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7369">Next</a></li>
</ul>