<% provide :title, 'Opinion Target 3656' %><h2>soy sauce fried noodle<br />occurrence: 1</h2><div><ol><li>I do n't remember the rest but we also had soy sauce fried noodle, which had plenty of sprouts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3657">Next</a></li>
</ul>