<% provide :title, 'Opinion Target 7962' %><h2>BCD tofu house<br />occurrence: 1</h2><div><ol><li>We both love BCD tofu house in NYC and was hoping this place would be similar but not a chance.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7963">Next</a></li>
</ul>