<% provide :title, 'Opinion Target 7142' %><h2>cucumber roll<br />occurrence: 1</h2><div><ol><li>The sushi pizza and cucumber roll I ordered were both pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7143">Next</a></li>
</ul>