<% provide :title, 'Opinion Target 1751' %><h2>raw crabs<br />occurrence: 2</h2><div><ol><li>I wanted to try this place because I heard they have delicious raw crabs.</li><li>The difference between cooked crabs and raw crabs is that the meat in the raw crab was very gooey, with its texture and consistency similar to that of egg yolk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1752">Next</a></li>
</ul>