<% provide :title, 'Opinion Target 1852' %><h2>paint<br />occurrence: 2</h2><div><ol><li>I know because I have the same ones at home for paint brush water.</li><li>The paint is green and just makes you wanna order a White Chocolate Green Tea Latte:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1853">Next</a></li>
</ul>