<% provide :title, 'Opinion Target 2879' %><h2>octopus casserole cooked<br />occurrence: 1</h2><div><ol><li>I had octopus casserole cooked on table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2880">Next</a></li>
</ul>