<% provide :title, 'Opinion Target 8411' %><h2>Bejing duck<br />occurrence: 1</h2><div><ol><li>I agree that the Bejing duck was awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8410">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8412">Next</a></li>
</ul>