<% provide :title, 'Opinion Target 2460' %><h2>buger<br />occurrence: 1</h2><div><ol><li>If there is this buger was that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2461">Next</a></li>
</ul>