<% provide :title, 'Opinion Target 3222' %><h2>jugs of gravy<br />occurrence: 1</h2><div><ol><li>The main course consisted of a serving of luke warm mashed potatoes on our individual ( cold) plates, and a platter on which there was a massive slab of roast beef, some green beans and carrot coins, 2 Yorkshire puddings and 2 little jugs of gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3223">Next</a></li>
</ul>