<% provide :title, 'Opinion Target 4504' %><h2>vegetarian moussaka<br />occurrence: 1</h2><div><ol><li>I really enjoy the vegetarian moussaka which seems quite difficult at other Greek spots in the city.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4503">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4505">Next</a></li>
</ul>