<% provide :title, 'Opinion Target 714' %><h2>omelettes<br />occurrence: 6</h2><div><ol><li>The omelettes are either their way or not at all.</li><li>Paying over $ 30 for 2 veggie omelettes not including coffee seems a little too much for their quality of food and service.</li><li>The food is really great: waffles and omelettes, milkshakes and smoothies ...</li><li>Their menu is extensive and one has the choice of choosing from their many options ( e.g. fruit, omelettes, crêpes, eggs, etc.)</li><li>They serve a decent variety of bagels, salads, and omelettes.</li><li>We tried the omelettes and they were tasty!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_715">Next</a></li>
</ul>