<% provide :title, 'Opinion Target 1918' %><h2>black forest<br />occurrence: 2</h2><div><ol><li>The sticky toffee was GREAT!, the black forest was not so great ( Dry and disappointing).</li><li>Their meringue cake, black forest, white chocolate, cheesecake, etc are now sub par in quality and quantity, and prices can only grow larger while slices only shrink smaller.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1919">Next</a></li>
</ul>