<% provide :title, 'Opinion Target 5765' %><h2>homemade matcha ice cream<br />occurrence: 1</h2><div><ol><li>The homemade matcha ice cream was only ok but that crepe tho!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5766">Next</a></li>
</ul>