<% provide :title, 'Opinion Target 8928' %><h2>fast-food style<br />occurrence: 1</h2><div><ol><li>This is a decent fast-food style Thai take-out joint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8929">Next</a></li>
</ul>