<% provide :title, 'Opinion Target 1494' %><h2>tahini<br />occurrence: 2</h2><div><ol><li>I like to keep the toppings traditional- hummus, hot sauce, tahini, coleslaw and Israeli salad.</li><li>Just got back from having a scrumptious plate of chicken schwarma served with veggies and 3 sauces ( garlic, tahini, and something else).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1495">Next</a></li>
</ul>