<% provide :title, 'Opinion Target 6622' %><h2>swiss cheese eggs benny<br />occurrence: 1</h2><div><ol><li>I opted for the asparagus and swiss cheese eggs benny.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6623">Next</a></li>
</ul>