<% provide :title, 'Opinion Target 835' %><h2>menu choices<br />occurrence: 4</h2><div><ol><li>The first thing I notice is the sign with a couple of menu choices.</li><li>The sign is new and the menu choices have changed a little.</li><li>Would like a few more menu choices.</li><li>It also has enough menu choices so that most people should n't go home hungry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_834">Previous</a></li>
  <li class="next"><a href=".\opinion_target_836">Next</a></li>
</ul>