<% provide :title, 'Opinion Target 7046' %><h2>Korean meals<br />occurrence: 1</h2><div><ol><li>One of the best Korean meals I 've had in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7047">Next</a></li>
</ul>