<% provide :title, 'Opinion Target 1786' %><h2>crêpe<br />occurrence: 2</h2><div><ol><li>The Royal Pad Thai was not your typical pad thai .. it was wrapped in what looked like a crêpe and all the stuffing was inside.</li><li>Great crêpe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1787">Next</a></li>
</ul>