<% provide :title, 'Opinion Target 3181' %><h2>chef selection<br />occurrence: 1</h2><div><ol><li>For 2 people we ordered the appetizer platter and the chef selection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3180">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3182">Next</a></li>
</ul>