<% provide :title, 'Opinion Target 5560' %><h2>fig infused balsamic vinaigrette<br />occurrence: 1</h2><div><ol><li>My personal favorite is the prosciutto e arugula which has a drizzle of fig infused balsamic vinaigrette.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5561">Next</a></li>
</ul>