<% provide :title, 'Opinion Target 1607' %><h2>food food<br />occurrence: 2</h2><div><ol><li>I 've always been such a food food critic when it comes to japanese cuisine, but this place is definately on the top of my list.</li><li>I 've eaten the food food here once and it was mediocre at best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1608">Next</a></li>
</ul>