<% provide :title, 'Opinion Target 8203' %><h2>radishes<br />occurrence: 1</h2><div><ol><li>Note that if you get take out, they will only give you two side dishes placed into the same bowl: kimchi and the spicy radishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8202">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8204">Next</a></li>
</ul>