<% provide :title, 'Opinion Target 773' %><h2>stews<br />occurrence: 5</h2><div><ol><li>I 've tried many of their stews and kbbq.</li><li>Oh Geul Boh Geul 's soups, stews, tonkasu, samgyeopsal and kalbi are all decent, yet very average tasting.</li><li>I do suggest getting at least a medium spicy because the less spicy stews are a tad salty.</li><li>The Ghaimeh and Ghorme Sabzi stews were both good.</li><li>Overall I would recommend this place, esp for stews and so on --- the décor could use a bit of an update however.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_772">Previous</a></li>
  <li class="next"><a href=".\opinion_target_774">Next</a></li>
</ul>