<% provide :title, 'Opinion Target 3117' %><h2>smoked salmon )<br />occurrence: 1</h2><div><ol><li>We had agedashi tofu ( crispy tofu in teriyaki sauce), electric banana ( which was weird at first but actually quite tasty), beautiful roll ( scallop, avocado, smoked salmon), yam tempura.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3118">Next</a></li>
</ul>