<% provide :title, 'Opinion Target 1209' %><h2>table settings<br />occurrence: 3</h2><div><ol><li>My first impression of the restaurant renovation, was it looks modern and it can cater to large groups with different table settings that you do n't see in many AYCE restaurants.</li><li>-THE DECOR: cozy and classy, with a sexy atmosphere; dimmed lights, candles, table settings, chair covers, fun sights on the dance floor, and so on ....</li><li>Rows of low contemporary couches and cozy table settings fill this multilevel cafe and lend for a casual environment, where one can grab a coffee or a full entree.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1208">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1210">Next</a></li>
</ul>