<% provide :title, 'Opinion Target 7650' %><h2>sandwich with sweet potato fries<br />occurrence: 1</h2><div><ol><li>I ordered the sandwich with sweet potato fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7651">Next</a></li>
</ul>