<% provide :title, 'Opinion Target 7802' %><h2>potions<br />occurrence: 1</h2><div><ol><li>Wonderful service, great potions and good coffee!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7803">Next</a></li>
</ul>