<% provide :title, 'Opinion Target 2729' %><h2>parking space<br />occurrence: 1</h2><div><ol><li>Overall good place to eat Viet/Thai food, ample parking space in the back and on the street.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2730">Next</a></li>
</ul>