<% provide :title, 'Opinion Target 4068' %><h2>chicken cordon bleu<br />occurrence: 1</h2><div><ol><li>My boyfriend got the chicken wiener schnitzel and I got the chicken cordon bleu with a side of Hungarian dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4067">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4069">Next</a></li>
</ul>