<% provide :title, 'Opinion Target 1820' %><h2>philly cheese steak<br />occurrence: 2</h2><div><ol><li>Try anything pub grub ( fish n chips, philly cheese steak, etc), they make a point to have a solid daily special, and if you feel like really grubbing souvlaki dinner isnt bad at all.</li><li>The Philly Cheese steak was lackluster- I had a lot of hope but I was n't impressed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1821">Next</a></li>
</ul>