<% provide :title, 'Opinion Target 1267' %><h2>crab soup<br />occurrence: 3</h2><div><ol><li>Their crab soup was very good and spicy !!!</li><li>Egg and crab soup had lots of flavour and the sizzling beef with pineapple and peppers was delicious.</li><li>Fish maw and crab soup- underseasoned, lacklustre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1268">Next</a></li>
</ul>