<% provide :title, 'Opinion Target 1415' %><h2>Parmesan Chicken<br />occurrence: 3</h2><div><ol><li>We were told they had the 3rd best lasagna in the city and the waiter recommended the Parmesan Chicken.</li><li>We ordered the Parmesan chicken, lasagna, and meat ball spaghetti.</li><li>The Parmesan chicken was fried in heavy oil, more so than what I would like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1416">Next</a></li>
</ul>