<% provide :title, 'Opinion Target 5393' %><h2>Biang Biang noodle<br />occurrence: 1</h2><div><ol><li>Recommend Biang Biang noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5394">Next</a></li>
</ul>