<% provide :title, 'Opinion Target 5607' %><h2>bones<br />occurrence: 1</h2><div><ol><li>The bones were tiny and short like on sardines, but they were n't soft enough to swallow like sardines, and was very annoying to go through.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5608">Next</a></li>
</ul>