<% provide :title, 'Opinion Target 6239' %><h2>marinated bean sprouts<br />occurrence: 1</h2><div><ol><li>The tofu is silky soft in a rich flavourful soup, the kimchee has a satisfying kick, and ouuu I love the marinated bean sprouts!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6240">Next</a></li>
</ul>