<% provide :title, 'Opinion Target 3001' %><h2>Young chow fried rice<br />occurrence: 1</h2><div><ol><li>Other notable is the Sinapore noodle, Chicken fried rice, Orange chicken, general Tsao 's chicken and Young chow fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3002">Next</a></li>
</ul>