<% provide :title, 'Opinion Target 4746' %><h2>honey sauce<br />occurrence: 1</h2><div><ol><li>Hot and honey sauce taste good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4747">Next</a></li>
</ul>