<% provide :title, 'Opinion Target 2206' %><h2>lobster tank<br />occurrence: 2</h2><div><ol><li>On the way out to have a smoke I noticed the lobster tank ( do n't know why I did notice this when I came in) it is a open top tank that you can look in and and see all the lobsters.</li><li>The restaurant smelled of must, the lobster tank was filthy and was in desperate need of a cleaning.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2207">Next</a></li>
</ul>