<% provide :title, 'Opinion Target 4449' %><h2>veal pasta<br />occurrence: 1</h2><div><ol><li>She had an eggplant sandwich and I had a veal pasta, since the sign out front says they have the best veal in town.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4448">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4450">Next</a></li>
</ul>