<% provide :title, 'Opinion Target 3315' %><h2>cactus cut potatoes<br />occurrence: 1</h2><div><ol><li>Ordered cactus cut potatoes, meat or pizza, pasta with their Rose sauce ( 50/50), and their Mediterranean chicken salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3316">Next</a></li>
</ul>