<% provide :title, 'Opinion Target 6717' %><h2>egg plant dish<br />occurrence: 1</h2><div><ol><li>The egg plant dish was okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6718">Next</a></li>
</ul>