<% provide :title, 'Opinion Target 1362' %><h2>Greek Gourmet<br />occurrence: 2</h2><div><ol><li>The Greek Gourmet is one of these places.</li><li>The Greek Gourmet has closed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1363">Next</a></li>
</ul>