<% provide :title, 'Opinion Target 3225' %><h2>eggplant with peppers<br />occurrence: 1</h2><div><ol><li>Oh, and I ca n't forget the eggplant with peppers which was also cooked perfectly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3224">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3226">Next</a></li>
</ul>