<% provide :title, 'Opinion Target 6232' %><h2>rice crisps<br />occurrence: 1</h2><div><ol><li>Hint* We always tell them to not pour the water in our empty rice bowls so that the leftover rice crisps on the sides of the bowl and we can scrape it off and eat the crispy rice in our soup- delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6233">Next</a></li>
</ul>