<% provide :title, 'Opinion Target 3102' %><h2>mango jelly<br />occurrence: 1</h2><div><ol><li>It had lots of fruit, mango jelly, and the super creamy ice cream on top really pulled everything together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3103">Next</a></li>
</ul>