<% provide :title, 'Opinion Target 5614' %><h2>dumpling and rice cake soup<br />occurrence: 1</h2><div><ol><li>The dumpling and rice cake soup was fantastic with a delicious soup and good dumplings and rice cakes and the spicy fiddlehead soup was hot and flavourful and full of meat and veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5615">Next</a></li>
</ul>