<% provide :title, 'Opinion Target 2656' %><h2>pizza polpo<br />occurrence: 1</h2><div><ol><li>We ordered the orecchiette ( lamb sausage pasta) and pizza polpo ( octopus).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2657">Next</a></li>
</ul>