<% provide :title, 'Opinion Target 2006' %><h2>krab roll<br />occurrence: 2</h2><div><ol><li>The place itself is actually pretty nice inside and there is a sushi bar ( like most places), where you can watch the guy make the sushi I ordered a krab roll with a Beef Don.</li><li>The Krab Roll was nicely done and was fairly cheap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2007">Next</a></li>
</ul>