<% provide :title, 'Opinion Target 9096' %><h2>sesame chicken<br />occurrence: 1</h2><div><ol><li>I especially really like the sesame chicken- it 's crispy outer later and soft chicken inner layer makes the whole experience awesome to taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9097">Next</a></li>
</ul>