<% provide :title, 'Opinion Target 7509' %><h2>pre-dinner snack<br />occurrence: 1</h2><div><ol><li>A perfect pre-dinner snack.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7508">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7510">Next</a></li>
</ul>