<% provide :title, 'Opinion Target 2385' %><h2>grapefruit juice<br />occurrence: 2</h2><div><ol><li>They also have fresh squeezed orange and grapefruit juice.</li><li>Thanks but the problem was n't with the grapefruit juice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2384">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2386">Next</a></li>
</ul>