<% provide :title, 'Opinion Target 1342' %><h2>bi bim<br />occurrence: 2</h2><div><ol><li>The selections are limited for me as a vegetarian, but just ask for the bi bim bap with no beef and you 'll be in heaven.</li><li>Had the bi bim bap at the First Markham location- really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1343">Next</a></li>
</ul>