<% provide :title, 'Opinion Target 4135' %><h2>seared salmon and tuna sushi<br />occurrence: 1</h2><div><ol><li>The Sushi Lunch A had a couple of seared salmon and tuna sushi; a bit more unique than the regular salmon/tuna/butterfish most restaurants use for lunch specials.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4136">Next</a></li>
</ul>