<% provide :title, 'Opinion Target 1664' %><h2>interior decoration<br />occurrence: 2</h2><div><ol><li>First impression of the place was great ~ the interior decoration looked nice and the sushi bar tied everything together.</li><li>I love the interior decoration ( very mysterious Asian style)!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1665">Next</a></li>
</ul>