<% provide :title, 'Opinion Target 1805' %><h2>rice cake shaved ice<br />occurrence: 2</h2><div><ol><li>Nevertheless, loved that the staff were sweet to take extra care to make sure that walnuts were not added to the rice cake shaved ice- our son has a peanut/Pinenut allergy and thy took extra precautions for us with nuts in general.</li><li>Just so slow ... and if you get there late, they might sold out lots of their best sellers such as rice cake shaved ice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1804">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1806">Next</a></li>
</ul>