<% provide :title, 'Opinion Target 2046' %><h2>hot roasted milk tea<br />occurrence: 2</h2><div><ol><li>The first time I ordered a hot roasted milk tea.</li><li>I had the same hot roasted milk tea from Chatime Gibson.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2047">Next</a></li>
</ul>