<% provide :title, 'Opinion Target 2575' %><h2>kalbi bento<br />occurrence: 1</h2><div><ol><li>My gf had a kalbi bento which was mediocre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2574">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2576">Next</a></li>
</ul>