<% provide :title, 'Opinion Target 2995' %><h2>spicy tuna maki and Cali roll<br />occurrence: 1</h2><div><ol><li>The spicy tuna maki and Cali roll were delicious and `` fresh''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2996">Next</a></li>
</ul>