<% provide :title, 'Opinion Target 1696' %><h2>dumplings with gravy<br />occurrence: 2</h2><div><ol><li>The patties and dumplings with gravy- oh man, do n't even get me started on the gravy, it 's great on everything- were my favourites of mine as well.</li><li>Whichever way you go, you must get the little dumplings with gravy on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1697">Next</a></li>
</ul>