<% provide :title, 'Opinion Target 4606' %><h2>dice<br />occurrence: 1</h2><div><ol><li>The dice was nice, but had only 5 thin pcs of an already small chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4607">Next</a></li>
</ul>