<% provide :title, 'Opinion Target 9502' %><h2>Fried Beef Chow Foon )<br />occurrence: 1</h2><div><ol><li>As for the noodle and rice dishes, the Gon Chao Ngau Ho ( Dry Fried Beef Chow Foon) was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9503">Next</a></li>
</ul>