<% provide :title, 'Opinion Target 6959' %><h2>peanut butter<br />occurrence: 1</h2><div><ol><li>They then brought he tray of jams and jellies and it had no peanut butter which we specifically ask for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6960">Next</a></li>
</ul>