<% provide :title, 'Opinion Target 3339' %><h2>beef yaki udon<br />occurrence: 1</h2><div><ol><li>The beef yaki udon was n't that good, I do n't recommend it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3340">Next</a></li>
</ul>