<% provide :title, 'Opinion Target 6738' %><h2>Dinner ( chicken<br />occurrence: 1</h2><div><ol><li>I have the Dinner ( chicken, pottos, meat, salad).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6739">Next</a></li>
</ul>