<% provide :title, 'Opinion Target 4965' %><h2>bacon for spinach<br />occurrence: 1</h2><div><ol><li>If you substitute the bacon for spinach, smoked salmon, or other protein, it will cost an additional $ 1.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4966">Next</a></li>
</ul>