<% provide :title, 'Opinion Target 1599' %><h2>Lamb Brains<br />occurrence: 2</h2><div><ol><li>Lamb Brains ??</li><li>Hopefully, I will gather up the courage to try the lamb brains.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1600">Next</a></li>
</ul>