<% provide :title, 'Opinion Target 4424' %><h2>jerk chicken with coleslaw<br />occurrence: 1</h2><div><ol><li>The jerk chicken with coleslaw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4425">Next</a></li>
</ul>