<% provide :title, 'Opinion Target 7274' %><h2>congee place<br />occurrence: 1</h2><div><ol><li>Price per person: around $ 10 Summary: a cheap and tasty congee place Tip: call to book a table, this place gets pretty busy during weekend This is a typical good congee place in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7275">Next</a></li>
</ul>