<% provide :title, 'Opinion Target 9306' %><h2>steak tartar<br />occurrence: 1</h2><div><ol><li>Yukhoe ( pronounced like UK) is a Korean version of steak tartar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9307">Next</a></li>
</ul>