<% provide :title, 'Opinion Target 3036' %><h2>Malay curries<br />occurrence: 1</h2><div><ol><li>This Pho place serves not just Vietnamese pho but rice/noodle dishes, Malay curries, satays &amp; roti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3035">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3037">Next</a></li>
</ul>