<% provide :title, 'Opinion Target 2274' %><h2>yogurt<br />occurrence: 1</h2><div><ol><li>They seem to have a great selection of salads, yogurt and baked goods.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2275">Next</a></li>
</ul>