<% provide :title, 'Opinion Target 6219' %><h2>sandwich portions<br />occurrence: 1</h2><div><ol><li>The sandwich portions are a good size.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6220">Next</a></li>
</ul>