<% provide :title, 'Opinion Target 2297' %><h2>sour plums and pickled leeks<br />occurrence: 1</h2><div><ol><li>The sauce was rich, its sweetness offset by both the sour plums and pickled leeks, the latter adding an extra bit of kick of contrast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2298">Next</a></li>
</ul>