<% provide :title, 'Opinion Target 1530' %><h2>shrimp appetizer<br />occurrence: 3</h2><div><ol><li>Teppanyaki Ume ( see picture) is a very good full lunch which includes soup, salad, shrimp appetizer, rice, veggies, chicken and steak.</li><li>We ordered the shrimp appetizer, caesar salad, home made ravioli in a white sauce, veal parmesan, and a tiramisu.</li><li>The shrimp appetizer was miserable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1531">Next</a></li>
</ul>