<% provide :title, 'Opinion Target 5347' %><h2>chicken pineapple curry<br />occurrence: 1</h2><div><ol><li>The chicken pineapple curry was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5348">Next</a></li>
</ul>