<% provide :title, 'Opinion Target 3309' %><h2>cranberry muffins with butter<br />occurrence: 1</h2><div><ol><li>In addition to this we got a little basket of poppy seed bread and 2 mini cranberry muffins with butter and two types of jam.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3310">Next</a></li>
</ul>