<% provide :title, 'Opinion Target 1777' %><h2>jerk sauce<br />occurrence: 2</h2><div><ol><li>Jerk chicken roti was too saucy, way too much jerk sauce, which made it too salty.</li><li>It 's certainly not crispy which is ODD because there is no evidence of politely requested Jerk sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1776">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1778">Next</a></li>
</ul>