<% provide :title, 'Opinion Target 6577' %><h2>beef dip<br />occurrence: 1</h2><div><ol><li>Gravy, as well as the au jus for the beef dip, was way too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6578">Next</a></li>
</ul>