<% provide :title, 'Opinion Target 7348' %><h2>yin yang fried rice<br />occurrence: 1</h2><div><ol><li>Try the turnip cakes and yin yang fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7349">Next</a></li>
</ul>