<% provide :title, 'Opinion Target 4746' %><h2>Vietnamese BBQ sausage<br />occurrence: 1</h2><div><ol><li>Their bun with nam nuong is also worth trying if you like Vietnamese BBQ sausage.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4747">Next</a></li>
</ul>