<% provide :title, 'Opinion Target 6915' %><h2>dinner room menu<br />occurrence: 1</h2><div><ol><li>We ordered both the dinner room menu and tepanyakki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6914">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6916">Next</a></li>
</ul>