<% provide :title, 'Opinion Target 6950' %><h2>pizza crust<br />occurrence: 1</h2><div><ol><li>Regardless, the pizza crust tasted like cardboard and Pizza pizza is way better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6951">Next</a></li>
</ul>