<% provide :title, 'Opinion Target 935' %><h2>hurricane roll<br />occurrence: 4</h2><div><ol><li>However, the reason why I keep going back here is because my friend is a HUGE fan of their hurricane roll -- which is deep fried roll with cream cheese, tempera &amp; some other stuff + lots of spicy mayo sauce.</li><li>Ideally, if it were n't for the hurricane roll, my friend was so obsessed with ...</li><li>However, I am sadly also a big fan of the hurricane roll .. cause it 's just so darn good!</li><li>Either way, the hurricane roll is won my vote as `` YAY!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_934">Previous</a></li>
  <li class="next"><a href=".\opinion_target_936">Next</a></li>
</ul>