<% provide :title, 'Opinion Target 6990' %><h2>tea service<br />occurrence: 1</h2><div><ol><li>Being a regular we forgave the 10 minute delay to be seated with our reservation and the lack of tea service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6989">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6991">Next</a></li>
</ul>