<% provide :title, 'Opinion Target 5198' %><h2>tea with tapioca , mango slush with lychee jelly<br />occurrence: 1</h2><div><ol><li>My partner and I ordered a flavoured milk tea with tapioca, mango slush with lychee jelly, the garlic brick toast and Taiwanese fried chicken ( like popcorn chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5199">Next</a></li>
</ul>