<% provide :title, 'Opinion Target 4252' %><h2>brie burger<br />occurrence: 1</h2><div><ol><li>The brie burger was ... not very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4253">Next</a></li>
</ul>