<% provide :title, 'Opinion Target 4342' %><h2>roasted eggplant mixed with<br />occurrence: 1</h2><div><ol><li>All good especially kashke-base jan which is roasted eggplant mixed with a few things like fried onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4343">Next</a></li>
</ul>