<% provide :title, 'Opinion Target 3916' %><h2>bagoong<br />occurrence: 1</h2><div><ol><li>Comes with a side of bagoong ( shrimp paste) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3917">Next</a></li>
</ul>