<% provide :title, 'Opinion Target 6394' %><h2>lemon tea hot/cold and HK style milk tea hot/cold )<br />occurrence: 1</h2><div><ol><li>You have choices like ( red bean freeze, lemon tea hot/cold and HK style milk tea hot/cold).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6395">Next</a></li>
</ul>