<% provide :title, 'Opinion Target 8478' %><h2>Fries with Gravy The coffee<br />occurrence: 1</h2><div><ol><li>Ordered: Coffee, Ice Water, Coke, Bacon &amp; Eggs, Ceasar Salad, Grilled Cheese with Ham, Fries with Gravy The coffee was disgusting, water did not come with any Ice ( even though I specifically asked), but the Coke came with a glass full of ice, go figure ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8479">Next</a></li>
</ul>