<% provide :title, 'Opinion Target 2045' %><h2>dim sum brunch<br />occurrence: 2</h2><div><ol><li>My fiancé 's mom wanted something other than buffet after a heavy dim sum brunch so we returned to the family dinner stable- Asian Legend.</li><li>The BEST dim sum brunch around.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2046">Next</a></li>
</ul>