<% provide :title, 'Opinion Target 8890' %><h2>hosts<br />occurrence: 1</h2><div><ol><li>Great hosts ( Simon &amp; Peter).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8891">Next</a></li>
</ul>