<% provide :title, 'Opinion Target 5218' %><h2>matcha powder<br />occurrence: 1</h2><div><ol><li>The toast was hard and instead of baking it with the matcha powder, it was slabbed on like a jam ( see picture).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5219">Next</a></li>
</ul>