<% provide :title, 'Opinion Target 8587' %><h2>tables orders<br />occurrence: 1</h2><div><ol><li>At which point she still took 2 other tables orders and served one table before coming back to us ???</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8588">Next</a></li>
</ul>