<% provide :title, 'Opinion Target 1642' %><h2>sour dipping sauce<br />occurrence: 2</h2><div><ol><li>Lumpia- came with a sweet and sour dipping sauce.</li><li>It was really, really good and matched perfectly with the sweet and sour dipping sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1641">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1643">Next</a></li>
</ul>