<% provide :title, 'Opinion Target 2833' %><h2>MSG baths<br />occurrence: 1</h2><div><ol><li>Not at all the MSG baths served at most Chinese restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2834">Next</a></li>
</ul>