<% provide :title, 'Opinion Target 4340' %><h2>mango green tea<br />occurrence: 1</h2><div><ol><li>If you have n't already, try the mango green tea -- it 's my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4341">Next</a></li>
</ul>