<% provide :title, 'Opinion Target 1101' %><h2>courses<br />occurrence: 4</h2><div><ol><li>It tastes like powdered water!:/ I hope they improve their drinks next time! $ 25 summerlicious menu-4 courses I was here this past weekend for a birthday dinner.</li><li>Main courses: Wraps ....</li><li>Main courses are not tasty.</li><li>Soup had zero flavour Main courses were very bland, no discernible taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1100">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1102">Next</a></li>
</ul>