<% provide :title, 'Opinion Target 6836' %><h2>pork jia<br />occurrence: 1</h2><div><ol><li>I had the pork jia mo to start- you can ask them to cut it in half for you, its perfect to share between two people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6837">Next</a></li>
</ul>