<% provide :title, 'Opinion Target 9074' %><h2>Banchan : Kimchi<br />occurrence: 1</h2><div><ol><li>Banchan: Kimchi- slightly sweet, not too spicy, not too sour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9075">Next</a></li>
</ul>