<% provide :title, 'Opinion Target 8197' %><h2>beef kalbi<br />occurrence: 1</h2><div><ol><li>For a group of 4, we got the family size Gamjatang ( pork bone soup, comes with 2 rice) for $ 23; 99, japchae ( glass noodles with veggies) $ 8.99 and beef kalbi ( small, $ 15.99, comes with 1 rice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8198">Next</a></li>
</ul>