<% provide :title, 'Opinion Target 5752' %><h2>green tea waffle<br />occurrence: 1</h2><div><ol><li>Have tried the green tea waffle and the strawberry crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5753">Next</a></li>
</ul>