<% provide :title, 'Opinion Target 5606' %><h2>fish with bones<br />occurrence: 1</h2><div><ol><li>I do appreciate fresh fish and certainly do n't even normally mind eating Chinese steamed whole fish with bones and all, but the fish bones in this dish was too much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5607">Next</a></li>
</ul>