<% provide :title, 'Opinion Target 1660' %><h2>sushi pieces<br />occurrence: 2</h2><div><ol><li>The sushi pieces were soggy and warm, not to mention they also fell apart easily.</li><li>The sushi pieces were warm and the sashimi tasted fine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1661">Next</a></li>
</ul>