<% provide :title, 'Opinion Target 1559' %><h2>Pizza Pizza<br />occurrence: 2</h2><div><ol><li>Yours truly, Pizza Pizza Limited Customer Service `` So fine, i receive this letter.</li><li>I would give 0 stars if the application allows for it, avoid this place at all costs, many other pizza joints literally down the road, pizzaiollo and pizza pizza, along others, with way better customer service and food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1558">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1560">Next</a></li>
</ul>