<% provide :title, 'Opinion Target 7667' %><h2>chocolate almond croissant<br />occurrence: 1</h2><div><ol><li>Love the chocolate almond croissant!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7668">Next</a></li>
</ul>