<% provide :title, 'Opinion Target 2877' %><h2>rennet<br />occurrence: 1</h2><div><ol><li>I suspect it 's because true Kosher cheese uses a different kind of rennet ( sheep are n't Kosher).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2878">Next</a></li>
</ul>