<% provide :title, 'Opinion Target 6028' %><h2>fried curry noodles with shrimp<br />occurrence: 1</h2><div><ol><li>He ordered Singapore Noodles and was expecting the usual fried curry noodles with shrimp, pork, and chicken and instead got a soupy concoction with shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6029">Next</a></li>
</ul>