<% provide :title, 'Opinion Target 1639' %><h2>steak burrito<br />occurrence: 2</h2><div><ol><li>I tried their steak burrito yesterday and it was just ok ...</li><li>I ordered a large steak burrito and they barely put any steak and the guacamole is an extra dollar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1640">Next</a></li>
</ul>