<% provide :title, 'Opinion Target 2464' %><h2>tarts<br />occurrence: 2</h2><div><ol><li>They have tarts and cappuccino as well for desert which is worth a try. great joint for lunch or diner.</li><li>The tarts and squares are the same brought in garbage every other buffet uses.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2463">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2465">Next</a></li>
</ul>