<% provide :title, 'Opinion Target 7724' %><h2>ceramic table<br />occurrence: 1</h2><div><ol><li>Here only nice ceramic table wares!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7725">Next</a></li>
</ul>