<% provide :title, 'Opinion Target 5866' %><h2>roast salmon<br />occurrence: 1</h2><div><ol><li>The soft wrapping pastry combined with the Alfredo sauce topped with tender roast salmon that melts in your mouth was the best part of the night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5865">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5867">Next</a></li>
</ul>