<% provide :title, 'Opinion Target 2712' %><h2>Mediterranean chicken salad<br />occurrence: 1</h2><div><ol><li>Ordered cactus cut potatoes, meat or pizza, pasta with their Rose sauce ( 50/50), and their Mediterranean chicken salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2713">Next</a></li>
</ul>