<% provide :title, 'Opinion Target 8737' %><h2>sesame flatbread<br />occurrence: 1</h2><div><ol><li>It had French and pumpernickel bread and some crispy, sesame flatbread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8736">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8738">Next</a></li>
</ul>