<% provide :title, 'Opinion Target 4641' %><h2>salad 's texture<br />occurrence: 1</h2><div><ol><li>The salad 's texture was generally slimy with strands of spiralled carrots flung infor a bit of body.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4642">Next</a></li>
</ul>