<% provide :title, 'Opinion Target 5136' %><h2>tofu n deep fried squid<br />occurrence: 1</h2><div><ol><li>I always enjoy the tofu n deep fried squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5137">Next</a></li>
</ul>