<% provide :title, 'Opinion Target 2281' %><h2>aioli<br />occurrence: 2</h2><div><ol><li>The presentation was nice- they spelled out the restaurant 's name with some type of aioli.</li><li>Went very well with their, what I 'm guessing was a type of aioli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2280">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2282">Next</a></li>
</ul>