<% provide :title, 'Opinion Target 4659' %><h2>seafood stew<br />occurrence: 1</h2><div><ol><li>The seafood stew in the coconut ( I forget the thai name but it 's baked in the coconut) was life altering.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4660">Next</a></li>
</ul>