<% provide :title, 'Opinion Target 2022' %><h2>waiters/waitresses<br />occurrence: 2</h2><div><ol><li>The service deserves 5 stars as there are waiters/waitresses offering to help you despite how packed the place gets.</li><li>The service needs improvement as all the waiters/waitresses seem to work on their own.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2023">Next</a></li>
</ul>