<% provide :title, 'Opinion Target 1491' %><h2>eggplant dip<br />occurrence: 2</h2><div><ol><li>Ask nicely and they 'll balance it withh a schmear of creamy eggplant dip.</li><li>The kabob seems like it was reheated and the eggplant dip was not very hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1490">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1492">Next</a></li>
</ul>