<% provide :title, 'Opinion Target 7151' %><h2>style burger<br />occurrence: 1</h2><div><ol><li>Their burger tastes like a nice home-made style burger, it 's classical and leaves you feeling good about your selection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7152">Next</a></li>
</ul>