<% provide :title, 'Opinion Target 3088' %><h2>Fish portions<br />occurrence: 1</h2><div><ol><li>Fish portions are on the bigger side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3089">Next</a></li>
</ul>