<% provide :title, 'Opinion Target 1197' %><h2>Deep Fried Oysters<br />occurrence: 3</h2><div><ol><li>We settled on a few things including General Tao Chicken on Rice, Beef and Udon Noodle, Soy Sauce Chow Mein, Deep Fried Oysters, and Spring Rolls.</li><li>I tried the Deep Fried Oysters- fresh and were fairly good considering I am not a huge fan of oysters!</li><li>Deep fried oysters- the oysters tasted old and too fishy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1198">Next</a></li>
</ul>