<% provide :title, 'Opinion Target 3506' %><h2>noodle appetizer<br />occurrence: 1</h2><div><ol><li>Also served with small noodle appetizer, miso soup, salad, and tradition korean side dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3507">Next</a></li>
</ul>