<% provide :title, 'Opinion Target 1527' %><h2>tofu stews<br />occurrence: 3</h2><div><ol><li>Their menu is small, only 2 pages with one page full of a variety of tofu stews and some other traditional korean dishes.</li><li>If I may expand on the food options, they have several varieties of soft tofu stews.</li><li>The tofu stews here are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1528">Next</a></li>
</ul>