<% provide :title, 'Opinion Target 4709' %><h2>green curry shrimp<br />occurrence: 1</h2><div><ol><li>As my main I had green curry shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4710">Next</a></li>
</ul>