<% provide :title, 'Opinion Target 1215' %><h2>slices<br />occurrence: 3</h2><div><ol><li>The slices were thick and not too thin which was great!</li><li>The sashimi is average, the slices are little too thin in terms of the salmon.</li><li>The slices were n't overly thin and it seemed far from what you would normally have on any or all other proscuitto pizzas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1214">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1216">Next</a></li>
</ul>