<% provide :title, 'Opinion Target 3575' %><h2>eggs au gratin<br />occurrence: 1</h2><div><ol><li>I had the eggs au gratin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3574">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3576">Next</a></li>
</ul>