<% provide :title, 'Opinion Target 3593' %><h2>shawarma sandwich<br />occurrence: 1</h2><div><ol><li>I always get the same shawarma sandwich so I that 's all I can recommend.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3594">Next</a></li>
</ul>