<% provide :title, 'Opinion Target 6003' %><h2>japanese raw fish<br />occurrence: 1</h2><div><ol><li>The sashimi is pretty fresh however, the quality is not the high-end japanese raw fish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6002">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6004">Next</a></li>
</ul>