<% provide :title, 'Opinion Target 1932' %><h2>General Tao `` chicken ''<br />occurrence: 2</h2><div><ol><li>Was a bit disappointing but only because of the General Tao `` chicken''.</li><li>It does n't seem like a place I can go to complain, and $ 10 for inedible chewy General Tao `` chicken'' is just not okay in my world.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1933">Next</a></li>
</ul>