<% provide :title, 'Opinion Target 4857' %><h2>braised eggplant dish<br />occurrence: 1</h2><div><ol><li>I ordered a braised eggplant dish, which was my favourite while I was a kid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4856">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4858">Next</a></li>
</ul>