<% provide :title, 'Opinion Target 7337' %><h2>tendon noodles in soup<br />occurrence: 1</h2><div><ol><li>I 'm a huge fan of the tendon noodles in soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7338">Next</a></li>
</ul>