<% provide :title, 'Opinion Target 3137' %><h2>He<br />occurrence: 1</h2><div><ol><li>We did tell our server and got a visit from the manager, He was rude and did not look very anderstanding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3138">Next</a></li>
</ul>