<% provide :title, 'Opinion Target 3528' %><h2>cream soda<br />occurrence: 1</h2><div><ol><li>Wash it down with a Grace drink like cream soda.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3527">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3529">Next</a></li>
</ul>