<% provide :title, 'Opinion Target 6528' %><h2>bun doughnut<br />occurrence: 1</h2><div><ol><li>It was like a very light fluffy fried dough bun doughnut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6527">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6529">Next</a></li>
</ul>