<% provide :title, 'Opinion Target 3067' %><h2>Green Apple<br />occurrence: 1</h2><div><ol><li>The Green Apple looked nothing like the pictures, there are whole grapes sprinkled on top drizzled with green apple syrup and jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3068">Next</a></li>
</ul>