<% provide :title, 'Opinion Target 4496' %><h2>pita taste<br />occurrence: 1</h2><div><ol><li>Their pita taste like cardboard and it 's paper thin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4497">Next</a></li>
</ul>