<% provide :title, 'Opinion Target 3690' %><h2>eggroll<br />occurrence: 1</h2><div><ol><li>The eggroll ( not the spring roll) was filled with mostly bean sprouts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3691">Next</a></li>
</ul>