<% provide :title, 'Opinion Target 3587' %><h2>granola bowl<br />occurrence: 1</h2><div><ol><li>Their crepes, waffles and fruit platter are just as amazing as their lunch menu, or any granola bowl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3588">Next</a></li>
</ul>