<% provide :title, 'Opinion Target 4181' %><h2>prociutto<br />occurrence: 1</h2><div><ol><li>The prociutto was fresh and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4180">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4182">Next</a></li>
</ul>