<% provide :title, 'Opinion Target 6591' %><h2>veal cutlet sandwich<br />occurrence: 1</h2><div><ol><li>Ordered the veal cutlet sandwich and it was decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6592">Next</a></li>
</ul>