<% provide :title, 'Opinion Target 6551' %><h2>Chinese dining<br />occurrence: 1</h2><div><ol><li>I would recommend if you 're in the North York area, and craving some good Chinese dining definitely check this place out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6552">Next</a></li>
</ul>