<% provide :title, 'Opinion Target 8746' %><h2>Lemon Cake<br />occurrence: 1</h2><div><ol><li>My dad opted for the Lemon Cake as he has the typical Asian palette which has lower tolerance for overly sweet desserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8747">Next</a></li>
</ul>