<% provide :title, 'Opinion Target 2473' %><h2>mochi ice cream<br />occurrence: 1</h2><div><ol><li>AND they have mochi ice cream which is an absolutele rarity in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2474">Next</a></li>
</ul>