<% provide :title, 'Opinion Target 6748' %><h2>cashew fried rice<br />occurrence: 1</h2><div><ol><li>There is new management in place and They are very friendly and the service is really good. we got house platter, pad thai, curry chicken, cashew fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6749">Next</a></li>
</ul>