<% provide :title, 'Opinion Target 9249' %><h2>dill pickle wedges<br />occurrence: 1</h2><div><ol><li>A few minutes later, we received our garlic bread and appetizer tray; dill pickle wedges, olives and cottage cheese ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9248">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9250">Next</a></li>
</ul>