<% provide :title, 'Opinion Target 1679' %><h2>Fried Shrimp<br />occurrence: 2</h2><div><ol><li>For appetizers, try their Fried Shrimp, which is deep fried shrimp with the shell and head on.</li><li>The fried shrimp are large and meaty and if you do n't mind the work of peeling them, are very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1680">Next</a></li>
</ul>