<% provide :title, 'Opinion Target 2482' %><h2>bar atmosphere<br />occurrence: 1</h2><div><ol><li>Elegant, uncluttered bar atmosphere and delicacies that will satisfy everyone 's taste buds whether it 's lunchtime or night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2483">Next</a></li>
</ul>