<% provide :title, 'Opinion Target 3068' %><h2>shaved ice itself<br />occurrence: 1</h2><div><ol><li>The shaved ice itself is pretty good, but it 's too sweet for me personally.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3067">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3069">Next</a></li>
</ul>