<% provide :title, 'Opinion Target 4986' %><h2>deep fried dill<br />occurrence: 1</h2><div><ol><li>Got the all star platter it was horrible, did n't taste right, at least I had free refills on pop, they need to change oil or something, wings were overcooked, chicken tenders overcooked, the deep fried dill were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4987">Next</a></li>
</ul>