<% provide :title, 'Opinion Target 3862' %><h2>dragon<br />occurrence: 1</h2><div><ol><li>The special rolls were nice ( ordered mango tango, crazy dragon, black dragon, soft shell crab) but then they fill you up quite quickly so I suggest to fill up on the good stuff ( sashimi and such) first before getting too much of the rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3863">Next</a></li>
</ul>