<% provide :title, 'Opinion Target 5493' %><h2>per pasta dish<br />occurrence: 1</h2><div><ol><li>The price per pasta dish was about $ 14 to $ 17 which is only a couple of bucks less than a high quality restaurant like Santos and Novita.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5494">Next</a></li>
</ul>