<% provide :title, 'Opinion Target 2019' %><h2>stone pot rice<br />occurrence: 2</h2><div><ol><li>I usually order the Kimchi Soon Tofu ( kimchi, beef &amp; pork) which comes with Dolsotbab ( stone pot rice).</li><li>Tofu is very silken and soft mixed with the stone pot rice is heavenly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2018">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2020">Next</a></li>
</ul>