<% provide :title, 'Opinion Target 2374' %><h2>noodle chicken<br />occurrence: 1</h2><div><ol><li>Sixty dollars for two fried rice, and packaged noodle chicken ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2375">Next</a></li>
</ul>