<% provide :title, 'Opinion Target 1481' %><h2>lemon sauce<br />occurrence: 2</h2><div><ol><li>Lemon chicken was light and crispy, with a tangy lemon sauce, will order sauce in the side next time.</li><li>The lemon chicken was a deep fried chicken burger topped with a drizzle of some mystery lemon sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1482">Next</a></li>
</ul>