<% provide :title, 'Opinion Target 3457' %><h2>Chinese szechuan style food<br />occurrence: 1</h2><div><ol><li>This place is awesome for Chinese szechuan style food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3458">Next</a></li>
</ul>