<% provide :title, 'Opinion Target 5563' %><h2>calabrese sausage<br />occurrence: 1</h2><div><ol><li>Everyone agreed that my calabrese sausage tasted like spam.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5562">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5564">Next</a></li>
</ul>