<% provide :title, 'Opinion Target 9583' %><h2>frozen bagels<br />occurrence: 1</h2><div><ol><li>I have never eaten in this shop but my dad bought me a pack of four gluten free frozen bagels from this shop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9584">Next</a></li>
</ul>