<% provide :title, 'Opinion Target 5802' %><h2>shaved green tea ice cream<br />occurrence: 1</h2><div><ol><li>The dessert is so fantastic ( the shaved green tea ice cream is heaven in your mouth), and the atmosphere is very relaxed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5803">Next</a></li>
</ul>