<% provide :title, 'Opinion Target 3986' %><h2>pan roast halibut with shrimp mashed potatoes and lobster cream sauce<br />occurrence: 1</h2><div><ol><li>I especially enjoyed my pan roast halibut with shrimp mashed potatoes and lobster cream sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3987">Next</a></li>
</ul>