<% provide :title, 'Opinion Target 6072' %><h2>hwae-dup bap salad<br />occurrence: 1</h2><div><ol><li>The hwae-dup bap salad was cut perfectly, vegetables clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6073">Next</a></li>
</ul>