<% provide :title, 'Opinion Target 3449' %><h2>potato appetizer<br />occurrence: 1</h2><div><ol><li>- APPS: This place does n't have mashed potatoes or a potato appetizer at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3448">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3450">Next</a></li>
</ul>