<% provide :title, 'Opinion Target 9106' %><h2>chicken satueed mushrooms<br />occurrence: 1</h2><div><ol><li>To be quite frank, when its all fried it tasted the same. entree: blackbean chicken satueed mushrooms in hot pot: 4/5.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9107">Next</a></li>
</ul>