<% provide :title, 'Opinion Target 5238' %><h2>Dark Meat Chicken<br />occurrence: 1</h2><div><ol><li>The thing I like about the Dish is the Squid Tentacles, Dark Meat Chicken, chewy Rice Cake while I was a bit disappointed that each of us only received a single Mussel as well as Shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5237">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5239">Next</a></li>
</ul>