<% provide :title, 'Opinion Target 2262' %><h2>fish noodle<br />occurrence: 2</h2><div><ol><li>( Northern style) we ordered the spicy fish noodle and the Biang Biang mien and the appetizer with enoki mushrooms, tofu skin, the fungus shaped like ears.</li><li>Chiu Chow Congee/Chiu Chow Style Fish Noodle/Veggie $ 13.99- Big bowl of congee really hit the spot .. and the Fish Noodle is chewy with a distinct texture which I enjoyed ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2261">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2263">Next</a></li>
</ul>