<% provide :title, 'Opinion Target 8648' %><h2>Chilli Chicken portion<br />occurrence: 1</h2><div><ol><li>The Chilli Chicken portion was generous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8649">Next</a></li>
</ul>