<% provide :title, 'Opinion Target 6844' %><h2>Biang Biang Mian noodles<br />occurrence: 1</h2><div><ol><li>We had the XPan Liang Pi ( Cold Noodles) and the Biang Biang Mian noodles shared between the two of us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6843">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6845">Next</a></li>
</ul>