<% provide :title, 'Opinion Target 7493' %><h2>crepes & waffles<br />occurrence: 1</h2><div><ol><li>Their crepes &amp; waffles are perfectly chewy; not too dense/ thick yet strong enough to hold its filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7494">Next</a></li>
</ul>