<% provide :title, 'Opinion Target 2490' %><h2>orange sauce<br />occurrence: 2</h2><div><ol><li>My wife said the duck was crispy, deboned and the orange sauce really complimented the duck; well balanced, not too too sweet.</li><li>Orange sauce was china town, overwhelmingly thick and does n't seem to lend itself to anything.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2491">Next</a></li>
</ul>