<% provide :title, 'Opinion Target 3815' %><h2>cookie cutter rolls<br />occurrence: 1</h2><div><ol><li>Ambience ( 4/5): The place has a modern look to it with some decorations that seem random, but the booths are large and roomy for 4 people so it was a great place to eat in:) I do not like AYCE because of the lack of quality, the uncreative cookie cutter rolls and dishes BUT sushi legend actually wowed me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3816">Next</a></li>
</ul>