<% provide :title, 'Opinion Target 4013' %><h2>lobster cobb salad served<br />occurrence: 1</h2><div><ol><li>The lobster cobb salad served on the Sunday brunch meal was devine ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4014">Next</a></li>
</ul>