<% provide :title, 'Opinion Target 5887' %><h2>soy reduction sauce<br />occurrence: 1</h2><div><ol><li>I got the salmon with broccoli and a soy reduction sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5886">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5888">Next</a></li>
</ul>