<% provide :title, 'Opinion Target 1367' %><h2>pho tai bo vien<br />occurrence: 3</h2><div><ol><li>I typically order the pho tai bo vien, the soup is perfect authentic, or rice with grilled chicken and shredded pork skin and a fried egg.</li><li>I ordered The Pho Tai Bo Vien which is Rare Beef &amp; Beef Ball soup.</li><li>I always get the pho tai bo vien and the pho is just so delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1368">Next</a></li>
</ul>