<% provide :title, 'Opinion Target 2361' %><h2>cha gio<br />occurrence: 2</h2><div><ol><li>We ordered- bun bo hue- special pho- beef and beef ball pho- rice- cha gio- three cafe su da The food was definitely a disappointment.</li><li>The cha gio was so over fried it turned white and it had so much taro as filler- that 's literally what we tasted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2362">Next</a></li>
</ul>