<% provide :title, 'Opinion Target 1278' %><h2>coriander<br />occurrence: 3</h2><div><ol><li>I tried their tom yum soup, which was actually the best thing I had there ( minus the coriander- which I hate).</li><li>Beef Barley: it was a little bland, I 'd add Lil more salt &amp; pepper, coriander, Lil lemon and garlic.</li><li>Now onto the food: Pad thai: rice noodles, carrots, peanuts, tofu, green onions, bean sprouts, coriander, egg, fish, and tamarind sauce with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1279">Next</a></li>
</ul>