<% provide :title, 'Opinion Target 7532' %><h2>Japanese<br />occurrence: 1</h2><div><ol><li>The store is small, maybe 10 to 13 tables but I feel its good Japanese family restaurant even though its owned by Korean people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7533">Next</a></li>
</ul>