<% provide :title, 'Opinion Target 2373' %><h2>Golden spider roll<br />occurrence: 2</h2><div><ol><li>What we ordered: Golden spider roll, Volcano roll, Lobster fantasy roll, Las Vegas roll The volcano and lobster fantasy were probably my favorite ones.</li><li>The golden spider roll was alright but I found it kind of dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2374">Next</a></li>
</ul>