<% provide :title, 'Opinion Target 1142' %><h2>smoked meat sandwiches<br />occurrence: 3</h2><div><ol><li>I love their smoked meat sandwiches.</li><li>Yeah it 's kind of pricey, but really this is pretty standard pricing for smoked meat sandwiches.</li><li>One side is for meat- smoked meat sandwiches, chicken fingers and other items I forget to remember.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1141">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1143">Next</a></li>
</ul>