<% provide :title, 'Opinion Target 7404' %><h2>cake slices<br />occurrence: 1</h2><div><ol><li>The cake slices were $ 6-8 got chocolate was $ 4.50.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7405">Next</a></li>
</ul>