<% provide :title, 'Opinion Target 1096' %><h2>tendon<br />occurrence: 3</h2><div><ol><li>The tendon is fatty and hairy.</li><li>A large is a satisfying serving of meats, tendon and noodles.</li><li>My mom said the color on the tendon ( more on the red/orange side, looked very artificial.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1097">Next</a></li>
</ul>