<% provide :title, 'Opinion Target 6194' %><h2>kimchi radish strips<br />occurrence: 1</h2><div><ol><li>Compared to Owl of Minerva, the Soft tofu stew is not a whole lot better but the overall experience feels more genuine to the Korean experience and on this trip, we got 4 accompanying side dishes which included ( kimchi ... of course, bean sprouts, sweet beans and kimchi radish strips).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6195">Next</a></li>
</ul>