<% provide :title, 'Opinion Target 4210' %><h2>garlic potatoes and rice<br />occurrence: 1</h2><div><ol><li>Meal came with salad ( pretty standard), garlic potatoes and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4211">Next</a></li>
</ul>