<% provide :title, 'Opinion Target 2352' %><h2>apple cinnamon<br />occurrence: 1</h2><div><ol><li>I love the chicken udon, and the miso soup, and the shrimp tempura, and the apple cinnamon spingroll.The waiters are very friendly, and the washrooms are the extremely clean.I 've been here at least 60 times.The sushi is great, especially the spider roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2353">Next</a></li>
</ul>