<% provide :title, 'Opinion Target 8430' %><h2>crepe with ice cream<br />occurrence: 1</h2><div><ol><li>We ordered the crepe with ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8429">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8431">Next</a></li>
</ul>