<% provide :title, 'Opinion Target 4964' %><h2>oil flavour<br />occurrence: 1</h2><div><ol><li>The fried spring rolls were pretty standard, but had a somewhat unpleasant fryer oil flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4963">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4965">Next</a></li>
</ul>