<% provide :title, 'Opinion Target 3066' %><h2>bulgogi beef and onion platter<br />occurrence: 1</h2><div><ol><li>The sushi pizza, sashimi, bulgogi beef and onion platter were all excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3065">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3067">Next</a></li>
</ul>