<% provide :title, 'Opinion Target 978' %><h2>spaghetti bolognese<br />occurrence: 4</h2><div><ol><li>My dad on this occasion had the spaghetti bolognese which is just the perfect balance of tomato and meat.</li><li>My boyfriend had the spaghetti Bolognese, he said it was just ok and could not taste the meat.</li><li>Today, the pastas section won me over as I ordered something seldom seen at most non-Italian restaurants: spaghetti bolognese.</li><li>I was delighted with how my spaghetti bolognese came in what must be the coolest pasta plate/bowl hybrid I 've ever seen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_977">Previous</a></li>
  <li class="next"><a href=".\opinion_target_979">Next</a></li>
</ul>