<% provide :title, 'Opinion Target 3315' %><h2>French onion soups<br />occurrence: 1</h2><div><ol><li>For appetizers our table had: 2 French onion soups, seafood chowder, beet salad &amp; calamari.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3316">Next</a></li>
</ul>