<% provide :title, 'Opinion Target 3092' %><h2>ice<br />occurrence: 1</h2><div><ol><li>HOWEVER, the ice was not fluffy and snowy enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3093">Next</a></li>
</ul>