<% provide :title, 'Opinion Target 3123' %><h2>chicken fingers deep fried<br />occurrence: 1</h2><div><ol><li>I did try the popcorn chicken- I do n't know why they call it that. was more like chicken fingers deep fried in tempura.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3122">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3124">Next</a></li>
</ul>