<% provide :title, 'Opinion Target 8453' %><h2>couches<br />occurrence: 1</h2><div><ol><li>Rows of low contemporary couches and cozy table settings fill this multilevel cafe and lend for a casual environment, where one can grab a coffee or a full entree.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8454">Next</a></li>
</ul>