<% provide :title, 'Opinion Target 4892' %><h2>chicken pan fried udon<br />occurrence: 1</h2><div><ol><li>One big food issue we faced was that one member of my group ordered chicken pan fried udon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4893">Next</a></li>
</ul>