<% provide :title, 'Opinion Target 6100' %><h2>lunch special soup noodles and wontons<br />occurrence: 1</h2><div><ol><li>The lunch special soup noodles and wontons are a great dish!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6101">Next</a></li>
</ul>