<% provide :title, 'Opinion Target 4020' %><h2>oyster bar<br />occurrence: 1</h2><div><ol><li>They do specialize in seafood, complete with an oyster bar, but you can get all kinds of cuisines here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4019">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4021">Next</a></li>
</ul>