<% provide :title, 'Opinion Target 4952' %><h2>bagel style<br />occurrence: 1</h2><div><ol><li>The bagel style is not Montreal style- but it 's not typical Toronto-style either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4953">Next</a></li>
</ul>