<% provide :title, 'Opinion Target 5415' %><h2>Fries rice<br />occurrence: 1</h2><div><ol><li>Fries rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5416">Next</a></li>
</ul>