<% provide :title, 'Opinion Target 5219' %><h2>pork stomach<br />occurrence: 1</h2><div><ol><li>On to the BBQ, we had bulgogi ( marinated beef), kalbi ( beef ribs), marinated chicken, and pork stomach ( bacon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5220">Next</a></li>
</ul>