<% provide :title, 'Opinion Target 7096' %><h2>chickens<br />occurrence: 1</h2><div><ol><li>The wings on Tuesdays are half price, and on a side note, the wings are so thin the chickens could possibly have been fashion models.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7097">Next</a></li>
</ul>