<% provide :title, 'Opinion Target 4040' %><h2>fireplace<br />occurrence: 1</h2><div><ol><li>The interior is comfortable and classy, with a lovely fireplace in the winter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4039">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4041">Next</a></li>
</ul>