<% provide :title, 'Opinion Target 1886' %><h2>bell peppers<br />occurrence: 2</h2><div><ol><li>My side of ' seasonal veggies' was overcooked, and the bell peppers were too soft and with no crunch to it.</li><li>Malaysian Laksa had huge pieces of bell peppers which should have been cut into smaller pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1887">Next</a></li>
</ul>