<% provide :title, 'Opinion Target 5292' %><h2>eggplant pizza<br />occurrence: 1</h2><div><ol><li>In this case I 'm referring to King David 's eggplant pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5291">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5293">Next</a></li>
</ul>