<% provide :title, 'Opinion Target 7412' %><h2>iced latte<br />occurrence: 1</h2><div><ol><li>My iced latte was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7413">Next</a></li>
</ul>