<% provide :title, 'Opinion Target 2952' %><h2>noodle soup + chicken mango salad<br />occurrence: 1</h2><div><ol><li>My usually: noodle soup + chicken mango salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2951">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2953">Next</a></li>
</ul>