<% provide :title, 'Opinion Target 4526' %><h2>sushi combo platter<br />occurrence: 1</h2><div><ol><li>I came here on New Year 's Eve for a last minute order of a large sushi combo platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4527">Next</a></li>
</ul>