<% provide :title, 'Opinion Target 6038' %><h2>rice & peas<br />occurrence: 1</h2><div><ol><li>I keep going because when I can get the full combo ( chicken, coleslaw, and rice &amp; peas) it is delicious with some `` red sauce'' applied ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6039">Next</a></li>
</ul>