<% provide :title, 'Opinion Target 1612' %><h2>Food area<br />occurrence: 2</h2><div><ol><li>Until you walk towards the other end where an INTERNATIONAL Food area with roughly 12 vendors are ready for your order.</li><li>The food area is clean and well kept, I cant vouche for the kitchen because it is behind closed doors.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1613">Next</a></li>
</ul>