<% provide :title, 'Opinion Target 2109' %><h2>deep fried fish<br />occurrence: 2</h2><div><ol><li>My friend got the deep fried fish in a curry sauce.</li><li>I like the food here, especially the chicken cutlet ( tender &amp; tasty), the deep fried fish ( generous portion and never fishy ... you know what I mean!) and the Taiwanese sausage ( can be ordered on it 's own or comes with the minced pork on rice with tea egg.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2110">Next</a></li>
</ul>