<% provide :title, 'Opinion Target 3441' %><h2>Lahori Chana masala<br />occurrence: 1</h2><div><ol><li>You should orders things like: Halwa Puri ( Yummm), Nihari, Haleem, Chicken Seekh kabab, Butter Til Naan, Paaya, Lamb Biryani, Chicken Biryani, Lahori Chana masala, chicken tikka.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3442">Next</a></li>
</ul>