<% provide :title, 'Opinion Target 7933' %><h2>appetizers + rice<br />occurrence: 1</h2><div><ol><li>The only complaint I have is that if your hungry the soup + appetizers + rice is not enough to fill you up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7934">Next</a></li>
</ul>