<% provide :title, 'Opinion Target 7966' %><h2>pot of rice<br />occurrence: 1</h2><div><ol><li>The server also brought along an egg for us to crack into our soup, and a pot of rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7965">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7967">Next</a></li>
</ul>