<% provide :title, 'Opinion Target 7905' %><h2>`` white ''<br />occurrence: 1</h2><div><ol><li>I 'd avoid getting the `` white'' ( no spice) option, because it seriously detracts from the soup 's flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7904">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7906">Next</a></li>
</ul>