<% provide :title, 'Opinion Target 4250' %><h2>`` beans<br />occurrence: 1</h2><div><ol><li>The `` beans'' i got were more like texas bbq beans than red beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4251">Next</a></li>
</ul>