<% provide :title, 'Opinion Target 6983' %><h2>a pasta bowl<br />occurrence: 1</h2><div><ol><li>Ended up going on a pasta night, so we had a pasta bowl for $ 12.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6984">Next</a></li>
</ul>