<% provide :title, 'Opinion Target 5708' %><h2>Takeout package<br />occurrence: 1</h2><div><ol><li>Takeout package was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5707">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5709">Next</a></li>
</ul>