<% provide :title, 'Opinion Target 1622' %><h2>bangus<br />occurrence: 2</h2><div><ol><li>Their bangus is generally larger than most other places.</li><li>I also had the sizzling bangus ( alright), and sotanghon ( bad, not worth it at all).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1623">Next</a></li>
</ul>