<% provide :title, 'Opinion Target 4122' %><h2>Bamboo colored wood<br />occurrence: 1</h2><div><ol><li>I have never been to Japan so this is probably not what it looks like at all, but this restaurant embodies what I, as an American, think it looks like: Bamboo colored wood, those paper window doors, paper lanterns, coi fish, etc., the servers even wore cute kimono inspired outfits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4123">Next</a></li>
</ul>