<% provide :title, 'Opinion Target 9200' %><h2>Chicken Stuffed Mushroom<br />occurrence: 1</h2><div><ol><li>Shrimp &amp; Chicken Stuffed Mushroom.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9201">Next</a></li>
</ul>