<% provide :title, 'Opinion Target 610' %><h2>shaved ice<br />occurrence: 6</h2><div><ol><li>The shaved ice is made from milk, snow and sugar.</li><li>The shaved ice had tons of toppings such as corn flakes, strawberries, bananas, tapioca, and beans.</li><li>The shaved ice are called snowflakes ...</li><li>The shaved ice however was amazing!</li><li>As well, the shaved ice was not fluffy enough ( almost slushy) and the taste was okay- I 've had better.</li><li>Green tea shaved ice ( 4.5/5): If you 've never had shaved ice before then give it a shot!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_611">Next</a></li>
</ul>