<% provide :title, 'Opinion Target 8819' %><h2>shu mai<br />occurrence: 1</h2><div><ol><li>The shu mai were outstanding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8820">Next</a></li>
</ul>