<% provide :title, 'Opinion Target 6777' %><h2>...<br />occurrence: 1</h2><div><ol><li>I 've only encountered one nice girl ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6776">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6778">Next</a></li>
</ul>