<% provide :title, 'Opinion Target 4784' %><h2>herb white tuna sashimi<br />occurrence: 1</h2><div><ol><li>Highly recommend the beef tataki and herb white tuna sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4783">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4785">Next</a></li>
</ul>