<% provide :title, 'Opinion Target 6234' %><h2>hot sauce.<br />occurrence: 1</h2><div><ol><li>DC is in love with their white and hot sauce.- baklava, I was already full from the soup and falafel but DC insisted we each have one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6235">Next</a></li>
</ul>