<% provide :title, 'Opinion Target 1862' %><h2>green onions<br />occurrence: 2</h2><div><ol><li>Giant ugly chunks of shriveled ginger, the green onions were too chewy to break apart in my mouth.</li><li>The sliced cucumbers and green onions were not finely sliced/chopped like you see in other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1863">Next</a></li>
</ul>