<% provide :title, 'Opinion Target 6613' %><h2>tasting soup base<br />occurrence: 1</h2><div><ol><li>The wonton soup is pretty simple: wontons and noodle in a good clean tasting soup base.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6614">Next</a></li>
</ul>