<% provide :title, 'Opinion Target 2544' %><h2>Dutch food<br />occurrence: 1</h2><div><ol><li>There are very few Dutch food places in the GTA so I am very glad to have one close to the 401.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2543">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2545">Next</a></li>
</ul>