<% provide :title, 'Opinion Target 5741' %><h2>plate brocolli<br />occurrence: 1</h2><div><ol><li>We ordered a rice noodle, ended up getting vermicelli ( that is all stick together like a giant ball) with 2/3 plate brocolli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5740">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5742">Next</a></li>
</ul>