<% provide :title, 'Opinion Target 3815' %><h2>red bean shaved ice<br />occurrence: 1</h2><div><ol><li>Ordered the red bean shaved ice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3816">Next</a></li>
</ul>