<% provide :title, 'Opinion Target 4737' %><h2>green tea powder<br />occurrence: 1</h2><div><ol><li>The girl says it is and I tell her its not because I can see chunks of the green tea powder stuck at the bottom.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4736">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4738">Next</a></li>
</ul>