<% provide :title, 'Opinion Target 2696' %><h2>bean black tea with tapioca<br />occurrence: 1</h2><div><ol><li>I ordered myself a hot red bean black tea with tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2697">Next</a></li>
</ul>