<% provide :title, 'Opinion Target 606' %><h2>stir fry<br />occurrence: 6</h2><div><ol><li>The chinese food is tolerable if it comes with enough rice to absorb the extra grease and the saltiness of the stir fry, Chic place to hang out with friends.</li><li>My favorite item here is the stir fry cubes of daikon cake, well executed.</li><li>I mainly eat the pick-your-own stir fry.</li><li>Great stir fry nodles with good selection.</li><li>If stir fry is n't your thing, they have the prepared food bar with standard Chinese fare.</li><li>The stir fry was great; I loved being able to add some extra spice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_607">Next</a></li>
</ul>