<% provide :title, 'Opinion Target 6418' %><h2>egg yolk appetizer<br />occurrence: 1</h2><div><ol><li>The chicken broth soup with 2 egg yolk appetizer was amazing!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6419">Next</a></li>
</ul>