<% provide :title, 'Opinion Target 6511' %><h2>Salt N Pepper Squid :<br />occurrence: 1</h2><div><ol><li>The Salt N Pepper Squid: DELICIOUS.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6512">Next</a></li>
</ul>