<% provide :title, 'Opinion Target 6463' %><h2>comfort food style fried rice<br />occurrence: 1</h2><div><ol><li>The ginger and chicken fried rice also had egg whites and was a pleasant surprise- the ginger bits gave a refreshing kick and the chicken and egg made it a hearty comfort food style fried rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6464">Next</a></li>
</ul>