<% provide :title, 'Opinion Target 7477' %><h2>matcha tea<br />occurrence: 1</h2><div><ol><li>Space is limited and a little tight for the average person .. = P We ended up ordering crepes, matcha tea and another special tea that you do n't normally see elsewhere ... we were overall very impressed with the service and food quality ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7478">Next</a></li>
</ul>