<% provide :title, 'Opinion Target 3466' %><h2>soda yogurt drink<br />occurrence: 1</h2><div><ol><li>Ordered the soda yogurt drink and I was unaware the glass was cracked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3465">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3467">Next</a></li>
</ul>