<% provide :title, 'Opinion Target 3803' %><h2>table room<br />occurrence: 1</h2><div><ol><li>We were placed in a corner table facing two walls with very minimal leg and table room which was disappointing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3804">Next</a></li>
</ul>