<% provide :title, 'Opinion Target 1191' %><h2>potato puffs<br />occurrence: 3</h2><div><ol><li>The `` potato puffs'' were the lone standouts which did n't need any coating of syrup to ingest.</li><li>The best thing on the buffet were the `` potato puffs'' which were obviously dumped in a pan from a McCain Tater Tot 's bag.</li><li>The pancakes were okay, the bacon was good ( you ca n't really go wrong with bacon), The potato puffs were tasty ( McCain frozen product) the scrambled eggs were tasteless, and everything else was bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1192">Next</a></li>
</ul>