<% provide :title, 'Opinion Target 2213' %><h2>Pho Bo<br />occurrence: 2</h2><div><ol><li>Pho Bo To has been my gf and myself 's go to pho place since I started dating her.</li><li>Their pho bo ( beef pho) and bun mang vit ( duck and bamboo shoot noodle soup) is a must try !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2214">Next</a></li>
</ul>