<% provide :title, 'Opinion Target 1560' %><h2>crabcake benedict<br />occurrence: 2</h2><div><ol><li>I got the fixed price brunch: cranberry juice to start, crabcake benedict main, and an apple cinnamon butter cake to finish.</li><li>The homemade biscuits that came with the crabcake benedict were very dry, but I guess that 's why there 's all that runny egg yolk to go with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1561">Next</a></li>
</ul>