<% provide :title, 'Opinion Target 5346' %><h2>ginger tofu dish<br />occurrence: 1</h2><div><ol><li>The ginger tofu dish had a good sauce and was tasty too but they cut up large slivers of ginger into it and we both felt that was a bit much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5347">Next</a></li>
</ul>