<% provide :title, 'Opinion Target 1644' %><h2>foam<br />occurrence: 2</h2><div><ol><li>The soap contraption shoots out a tiny speck of foam- just useless.</li><li>The decaf cappuccino was by far the best cappuccino I have ever had, with the most frothy foam ever!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1645">Next</a></li>
</ul>