<% provide :title, 'Opinion Target 9509' %><h2>receptionist<br />occurrence: 1</h2><div><ol><li>The receptionist does n't really have a customer service oriented attitude, but I did n't expect so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9508">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9510">Next</a></li>
</ul>