<% provide :title, 'Opinion Target 3268' %><h2>veal capelloni<br />occurrence: 1</h2><div><ol><li>We ordered the veal capelloni and the lasagna.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3269">Next</a></li>
</ul>