<% provide :title, 'Opinion Target 1969' %><h2>galbi<br />occurrence: 2</h2><div><ol><li>Tears are streaming down my face right now, but the galbi was so sad.</li><li>1 rib provided 2 pieces of galbi to each person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1968">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1970">Next</a></li>
</ul>