<% provide :title, 'Opinion Target 7489' %><h2>crepe dessert places<br />occurrence: 1</h2><div><ol><li>Prob one of the better crepe dessert places I 've been to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7488">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7490">Next</a></li>
</ul>