<% provide :title, 'Opinion Target 7814' %><h2>bacon and sausage<br />occurrence: 1</h2><div><ol><li>My boyfriend and I ordered an eggs benedict meal and a side order of bacon and sausage ... both were delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7813">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7815">Next</a></li>
</ul>