<% provide :title, 'Opinion Target 3796' %><h2>lamb stew with watercress and shiso leaf<br />occurrence: 1</h2><div><ol><li>Had the yanggogi jongol with minari and gaenip ( lamb stew with watercress and shiso leaf).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3795">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3797">Next</a></li>
</ul>