<% provide :title, 'Opinion Target 9378' %><h2>chocolate fondue with strawberries<br />occurrence: 1</h2><div><ol><li>Plenty of desserts to go around as well- shaved ice with a number flavoured syrups, six selections of ice cream ( no Green Tea or Red Bean though), pastries, and a chocolate fondue with strawberries, mangos, and marshmellows.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9377">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9379">Next</a></li>
</ul>