<% provide :title, 'Opinion Target 2892' %><h2>veggies and salads<br />occurrence: 1</h2><div><ol><li>Reason being more than half of it is healthy veggies and salads including my favorite beet and turnip pickles!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2893">Next</a></li>
</ul>