<% provide :title, 'Opinion Target 3119' %><h2>red bean<br />occurrence: 1</h2><div><ol><li>The red bean was served in a small sundae bowl separate than the bingsu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3120">Next</a></li>
</ul>