<% provide :title, 'Opinion Target 5267' %><h2>`` grilled tender beef<br />occurrence: 1</h2><div><ol><li>Had the dinner special which consisted of a smoked salmon potato salad, choice of soup, dinner roll, and a `` grilled tender beef'' with a mushroom wine sauce and either a coffee or tea- all for $ 17.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5268">Next</a></li>
</ul>