<% provide :title, 'Opinion Target 4631' %><h2>coconuts<br />occurrence: 1</h2><div><ol><li>Fresh coconuts on the menu are wonderful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4632">Next</a></li>
</ul>