<% provide :title, 'Opinion Target 971' %><h2>onion soup<br />occurrence: 4</h2><div><ol><li>We ordered some apps ( mussels, escargot, onion soup and soup of the day), pasta for our mains and skipped dessert.</li><li>French onion soup was surprisingly tasty and I enjoy the burgers.</li><li>The mussels were fabulous but the onion soup was so loaded with croutons and I could barely find an onion let alone the broth.</li><li>I also had a spoonful of their special French onion soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_970">Previous</a></li>
  <li class="next"><a href=".\opinion_target_972">Next</a></li>
</ul>