<% provide :title, 'Opinion Target 6923' %><h2>tepanyaki table<br />occurrence: 1</h2><div><ol><li>The tepanyaki table was ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6924">Next</a></li>
</ul>