<% provide :title, 'Opinion Target 7119' %><h2>crowd<br />occurrence: 1</h2><div><ol><li>The crowd were all into their late forties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7120">Next</a></li>
</ul>