<% provide :title, 'Opinion Target 4071' %><h2>bread dipping<br />occurrence: 1</h2><div><ol><li>Extra saucy for bread dipping just the way I like it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4072">Next</a></li>
</ul>