<% provide :title, 'Opinion Target 4817' %><h2>lamb with vegetables<br />occurrence: 1</h2><div><ol><li>Decor: the words suburban communist china come to mind, well intentioned chinese kitsch Our group ordered a host of dishes that could really be described as a lamb-a-palooza, lamb, lamb and more lamb with vegetables making a minor guest appearance.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4818">Next</a></li>
</ul>