<% provide :title, 'Opinion Target 1102' %><h2>pork sausage<br />occurrence: 3</h2><div><ol><li>I lost all decency when I was engorging on heaping mounds of noodles mixed in with beef and pork sausage and slurped every last drop of the broth.</li><li>Ordered: Vermicelli with grilled pork and pork sausage- A personal fave dish I like to order at Vietnamese restaurants.</li><li>Pork sausage was cooked nicely, full of flavour and spice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1103">Next</a></li>
</ul>