<% provide :title, 'Opinion Target 7228' %><h2>black pepper taste<br />occurrence: 1</h2><div><ol><li>You also get a mysteriously grey pancake that is surprisingly good with crispy edges and lots of black pepper taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7229">Next</a></li>
</ul>