<% provide :title, 'Opinion Target 1177' %><h2>mango pudding<br />occurrence: 3</h2><div><ol><li>I especially like their mango yoghurt and mango pudding and green tea ice cream.</li><li>We had ice cream, tiramisu, mango pudding, mango sago, and cream custard ( which turned out to be just whipped cream lol).</li><li>For dessert, I got the mango pudding, and noticed it tasted funny.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1178">Next</a></li>
</ul>