<% provide :title, 'Opinion Target 5580' %><h2>Geul Bo Geul<br />occurrence: 1</h2><div><ol><li>Restaurant: Oh Geul Bo Geul Cuisine: Korean Location: North York Address: 5320 Yonge St Price Range: $ 10 ~ 1: Poor 2: OK 3: Good 4: Very Good 5: Excellent Food: 4 Service: 3.5 Ambiance: 3 Overall: 3.5 Extra information:* Open late* Patio in the back for Korean BBQ* Serves lunch &amp; dinner Oh Geul Bo Geul is a Korean restaurant that is somewhat hard to notice even with their bright yellow store front sign.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5579">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5581">Next</a></li>
</ul>