<% provide :title, 'Opinion Target 3767' %><h2>mint leaves<br />occurrence: 1</h2><div><ol><li>The mint leaves were so few and they only gave us 1 of the other green leaf ( I do n't know what it 's called) when it was two of us at the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3768">Next</a></li>
</ul>