<% provide :title, 'Opinion Target 1927' %><h2>vinaigrette dressing<br />occurrence: 2</h2><div><ol><li>Coleslaw ( included) was in a vinaigrette dressing.</li><li>Standard vinaigrette dressing are offered for dressing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1928">Next</a></li>
</ul>