<% provide :title, 'Opinion Target 862' %><h2>beef tenderloin<br />occurrence: 4</h2><div><ol><li>I visited this place yesterday and ended up getting the worst so called beef tenderloin.</li><li>Got 6 flat iron beef which the restaurant owners call it chunks of beef tenderloin.</li><li>I hear the `` Comfort Foods'' section of the menu is the best- I ordered the Beef Tenderloin Cavatappi off of this once and it was amazing.</li><li>We ordered a Chateaubriand Bouquetiere ( for 2) which is basically a giant beef tenderloin served with lots of grilled veggies, potatoes and Bearnaise sauce on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_863">Next</a></li>
</ul>