<% provide :title, 'Opinion Target 2310' %><h2>glass of water<br />occurrence: 1</h2><div><ol><li>The glass of water arrived, I took a sip and was unpleasantly surprised by the tepid water that was served in the plastic looking cup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2311">Next</a></li>
</ul>