<% provide :title, 'Opinion Target 8194' %><h2>Dolsot BiBimBap ( vegetables and ground beef with rice<br />occurrence: 1</h2><div><ol><li>I had the JeYukBokeum ( stir fried marinated pork with spicy sauce on sizzling plate) and my boyfriend tried the Dolsot BiBimBap ( vegetables and ground beef with rice in a hot stone bowl).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8195">Next</a></li>
</ul>