<% provide :title, 'Opinion Target 2758' %><h2>mandarin<br />occurrence: 1</h2><div><ol><li>The first grandmother says in Cantonese `` aiya .. my mandarin is so awful, I 'd never survive in China.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2759">Next</a></li>
</ul>