<% provide :title, 'Opinion Target 2186' %><h2>baba ghanough<br />occurrence: 2</h2><div><ol><li>I usually order the vegetable plate with meat- the shawarma is always on point and never fatty or gristly; falafels are fresh and tasty and the hummos and baba ghanough are the best I 've ever had.</li><li>While the flavours were authentic for the most part: the baba Ghanough was bland, the Falafels were dry and seemed re-heated and not fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2187">Next</a></li>
</ul>