<% provide :title, 'Opinion Target 1351' %><h2>ceasar<br />occurrence: 2</h2><div><ol><li>These do n't look like your typical petrified buffet mystery coleslaw or sloppy ceasar; instead, plenty of colour and variety to satisfy!</li><li>The Ceasar is nice and spicy, but I like beer if you know what I mean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1350">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1352">Next</a></li>
</ul>