<% provide :title, 'Opinion Target 2662' %><h2>bolognese<br />occurrence: 1</h2><div><ol><li>I can also vouch for the awesomeness of the bolognese, the chicken parm, and the gnocci.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2661">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2663">Next</a></li>
</ul>