<% provide :title, 'Opinion Target 2287' %><h2>carbonara linguine<br />occurrence: 2</h2><div><ol><li>We ordered carbonara linguine, penne pomodoro, and a caesar salad.</li><li>The carbonara linguine was meh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2288">Next</a></li>
</ul>