<% provide :title, 'Opinion Target 7047' %><h2>osso buco ragu pasta<br />occurrence: 1</h2><div><ol><li>I always want to try something beyond the osso buco ragu pasta but it 's so good, I almost never can.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7046">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7048">Next</a></li>
</ul>