<% provide :title, 'Opinion Target 8322' %><h2>siu lam bao<br />occurrence: 1</h2><div><ol><li>We ordered a few things, of course siu lam bao which was tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8321">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8323">Next</a></li>
</ul>