<% provide :title, 'Opinion Target 4757' %><h2>coleslaw and black cherry cola<br />occurrence: 1</h2><div><ol><li>I stopped by Katz for lunch and indulged myself in corned beef on rye, pickles, coleslaw and black cherry cola.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4758">Next</a></li>
</ul>