<% provide :title, 'Opinion Target 6397' %><h2>fried fish pieces<br />occurrence: 1</h2><div><ol><li>We ordered two regular sized congee ( the oyster and the pumpkin/lobster), a chow mein, a vegetable dish, fried fish pieces, and Shumai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6398">Next</a></li>
</ul>