<% provide :title, 'Opinion Target 1135' %><h2>halwa puri<br />occurrence: 3</h2><div><ol><li>The halwa puri is a bit too much for me.</li><li>This is the only place in GTA that reminds me of Karachi every time i eat the halwa puri.</li><li>A little but pricey compared to what other places charge for halwa puri, but hands down, the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1136">Next</a></li>
</ul>