<% provide :title, 'Opinion Target 6565' %><h2>Chinese Chinese<br />occurrence: 1</h2><div><ol><li>I 'll be honest I 've had all variations of Asian food but the closest I ever got to Chinese Chinese was either hakka or dumplings and none of those compare.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6566">Next</a></li>
</ul>