<% provide :title, 'Opinion Target 6805' %><h2>hand roll<br />occurrence: 1</h2><div><ol><li>The hand roll is good but again too much rice and and the only reason I am not giving it 1 star is because the Salmon Teriyaki was very delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6804">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6806">Next</a></li>
</ul>