<% provide :title, 'Opinion Target 942' %><h2>pickled radishes<br />occurrence: 4</h2><div><ol><li>These are your typical kimchi, pickled radishes, etc. that you come to expect from any Korean establishment.</li><li>It came with few appetizers including the pickled radishes and the buttered corn which were great to start with.</li><li>FOOD Banchan- they had a great variety to choose from and had pickled radishes which I devoured.</li><li>The banchan is tasty, but they only give you 4 items: kimchi, bean sprouts, pickled radishes and sweet black beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_943">Next</a></li>
</ul>