<% provide :title, 'Opinion Target 9343' %><h2>Mongolian bbq options<br />occurrence: 1</h2><div><ol><li>To me this area was passable but a nice touch as I know not everyone is down with the Mongolian bbq options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9344">Next</a></li>
</ul>