<% provide :title, 'Opinion Target 5048' %><h2>chutney<br />occurrence: 1</h2><div><ol><li>The doubles also were n't my favorite, the chutney was a little too tart and the chickpeas were still a bit chalky.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5049">Next</a></li>
</ul>