<% provide :title, 'Opinion Target 1985' %><h2>ceasar salad<br />occurrence: 2</h2><div><ol><li>I always fill up on the appetizers, which include caviar, smoked salmon, shrimp cocktail, crab salad, ceasar salad, and on and on.</li><li>Souvlaki was fine, ceasar salad was drenched in water hence the dressing would n't stay on, and last but not least, we got home to find out the onion rings were missing altogether.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1986">Next</a></li>
</ul>