<% provide :title, 'Opinion Target 2454' %><h2>starters<br />occurrence: 2</h2><div><ol><li>For starters we were brought a bread basket with hummus.</li><li>The entrees come with a plethora of side dishes and starters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2455">Next</a></li>
</ul>