<% provide :title, 'Opinion Target 1854' %><h2>chicken curry roti<br />occurrence: 2</h2><div><ol><li>Chose the Beef curry over rice and the chicken curry roti.</li><li>Chicken curry roti- delish- spouse ate the entire thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1853">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1855">Next</a></li>
</ul>