<% provide :title, 'Opinion Target 9724' %><h2>Japanese Soy Sauce<br />occurrence: 1</h2><div><ol><li>It 's called Sho-Yo Ramen- Super Noodles with Japanese Soy Sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9725">Next</a></li>
</ul>