<% provide :title, 'Opinion Target 762' %><h2>guac<br />occurrence: 6</h2><div><ol><li>The guac was fresh and had the yummy spice I 'm growing to love.</li><li>The guac definitely overshadowed the Monterey Jack.</li><li>It 's assembly-line style ordering: type of tortitlla, type of meat ( I 've had pulled pork), toppings like veggies, cheese, guac ( EXTRA $ $), sour cream, and type of salsa ( warning: the hot IS hot).</li><li>Good guac.</li><li>As with most places, guac is $ 0.75 extra.</li><li>The guac was n't very fresh, you can tell the avocados were way too ripe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_761">Previous</a></li>
  <li class="next"><a href=".\opinion_target_763">Next</a></li>
</ul>