<% provide :title, 'Opinion Target 4164' %><h2>uni sushi<br />occurrence: 1</h2><div><ol><li>We got the uni sushi which was good again felt fresh and did n't have that bad taste you get from uni sometimes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4165">Next</a></li>
</ul>