<% provide :title, 'Opinion Target 1258' %><h2>fried donut<br />occurrence: 3</h2><div><ol><li>I usually start off with a bowl of shredded pork and preserved egg congee with a bit of pepper or chili oil and the fried donut to dip.</li><li>I would highly recommend the fried turnip cakes, any congee ( make sure you try it with the fried donut), the clay pot eggplant, and their BBQ meats.</li><li>We ordered Singapore vermicelli, fried donut, chow mein, a meat dish and fried taro cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1259">Next</a></li>
</ul>