<% provide :title, 'Opinion Target 5046' %><h2>chickpea curry<br />occurrence: 1</h2><div><ol><li>The chickpea curry was not very spicy ( thankfully, because I 've been coughing for the last five weeks), but it was quite flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5047">Next</a></li>
</ul>