<% provide :title, 'Opinion Target 6213' %><h2>strip-mall ambiance<br />occurrence: 1</h2><div><ol><li>The strip-mall ambiance leaves something to be desired, but really, just helps me focus on how good everything tastes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6214">Next</a></li>
</ul>