<% provide :title, 'Opinion Target 6107' %><h2>fried lamb meat<br />occurrence: 1</h2><div><ol><li>Signature dish i believe was pan fried lamb meat .. also loaded with spices ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6108">Next</a></li>
</ul>