<% provide :title, 'Opinion Target 6539' %><h2>tiger shrimp congee very<br />occurrence: 1</h2><div><ol><li>Had scallop and tiger shrimp congee very bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6540">Next</a></li>
</ul>