<% provide :title, 'Opinion Target 7479' %><h2>blueberry<br />occurrence: 1</h2><div><ol><li>It was delicious with lots of fillings of strawberry, blueberry, sponge cake with two large scoops of strawberry ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7478">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7480">Next</a></li>
</ul>