<% provide :title, 'Opinion Target 5284' %><h2>broth options<br />occurrence: 1</h2><div><ol><li>The broth options are good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5285">Next</a></li>
</ul>