<% provide :title, 'Opinion Target 2232' %><h2>steamed rice meals<br />occurrence: 1</h2><div><ol><li>- It has traditional Cantonese food, such as steamed rice meals ( metal, not bamboo, steamer), road side sharks fin soup, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2233">Next</a></li>
</ul>