<% provide :title, 'Opinion Target 1923' %><h2>fresh pasta<br />occurrence: 2</h2><div><ol><li>The fresh pasta has n't failed me yet.</li><li>And by `` experience'' I mean my taste-buds being obliterated by the pastry samples offered to me followed by a fresh pasta sample.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1922">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1924">Next</a></li>
</ul>