<% provide :title, 'Opinion Target 4678' %><h2>rating<br />occurrence: 1</h2><div><ol><li>Highest rating- Sampaguita Village.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4679">Next</a></li>
</ul>