<% provide :title, 'Opinion Target 2074' %><h2>Deep fried Shrimp Dumplings<br />occurrence: 2</h2><div><ol><li>Not tender and the skin were tough- Deep fried Shrimp Dumplings though is L but fresh shrimps and not oily even it was fried in oil- Beef Balls- Steamed Beef Ribs- Sai Mui- Steamed bun with Sesame and Egg Yolk ( the to order item in the menu)- Durian Tart !!!</li><li>-Egg tarts, taro spiky triangle things, deep fried shrimp dumplings and any fried food comes out piping hot so you know it 's freshly made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2075">Next</a></li>
</ul>