<% provide :title, 'Opinion Target 8593' %><h2>Seafood pancakes<br />occurrence: 1</h2><div><ol><li>Seafood pancakes have been staple in many Korean restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8594">Next</a></li>
</ul>