<% provide :title, 'Opinion Target 4636' %><h2>beef satay with mango salad<br />occurrence: 1</h2><div><ol><li>We shared the spring roll appetizer and my friend ordered beef satay with mango salad and my choice was chicken which also came with mango salad and a bowl of rice which we shared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4637">Next</a></li>
</ul>