<% provide :title, 'Opinion Target 3655' %><h2>beef sauce<br />occurrence: 1</h2><div><ol><li>It was good, although we both agreed the beef sauce is far better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3656">Next</a></li>
</ul>