<% provide :title, 'Opinion Target 2268' %><h2>pasta & oysters<br />occurrence: 1</h2><div><ol><li>Serves great food ( pasta &amp; oysters).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2269">Next</a></li>
</ul>