<% provide :title, 'Opinion Target 3344' %><h2>two dragon rolls<br />occurrence: 1</h2><div><ol><li>The main course were their two dragon rolls and the Kamikaze roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3345">Next</a></li>
</ul>