<% provide :title, 'Opinion Target 3617' %><h2>halibut with chips<br />occurrence: 1</h2><div><ol><li>The shop looks like nothing from the outside but the halibut with chips are simply amazing. i have n't gotten a chance to eat anything else here, since all i ever get is fish and chips. pretty heavy meal, bring an empty stomach and expect to be stuffed! if you been to Olde Yorke Fish n Chips, this is on par or better since the Olde Yorke `` waterdown'' their fish nowadays.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3618">Next</a></li>
</ul>