<% provide :title, 'Opinion Target 7734' %><h2>chicken teriyaki lunch box<br />occurrence: 1</h2><div><ol><li>I ordered the spicy chicken teriyaki lunch box ( lunch boxes are available from 11am-3pm) which came with meso soup, few maki rolls, rice, salad, and few pieces of fruits ( check the photo below) teriyaki chicken tasted A-OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7735">Next</a></li>
</ul>