<% provide :title, 'Opinion Target 2045' %><h2>sugar syrup<br />occurrence: 2</h2><div><ol><li>At first when I received my drink, the sugar syrup and milk was poorly mixed ( the tea was still mostly at the bottom).</li><li>The `` tiramisu'' is a 2 inch tiny cup with a piece of vanilla cake, with sugar syrup and cream on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2046">Next</a></li>
</ul>