<% provide :title, 'Opinion Target 8263' %><h2>tofu vermicelli<br />occurrence: 1</h2><div><ol><li>Horrible customer service- I ordered vegetable and tofu vermicelli, and they gave me vegetable rice noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8262">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8264">Next</a></li>
</ul>