<% provide :title, 'Opinion Target 2505' %><h2>Penne Cacciatore<br />occurrence: 2</h2><div><ol><li>I ordered the following from the prix fixe menu:- Caesar salad- Penne Cacciatore- Cheese cake The menu also came with flatbread as a starter, in which I did the usual Italian way of eating by dipping some extra virgin olive oil.</li><li>The penne cacciatore was picture perfect, with the exception of the rose sauce, which I felt was slightly too watered for me as there was n't that pungent taste that came after having the pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2506">Next</a></li>
</ul>