<% provide :title, 'Opinion Target 2165' %><h2>bar scene<br />occurrence: 1</h2><div><ol><li>Also in terms of a bar scene, it seemed to be more-so of an older crowd.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2166">Next</a></li>
</ul>