<% provide :title, 'Opinion Target 6932' %><h2>fries with gravy<br />occurrence: 1</h2><div><ol><li>I ordered a 1/4 pound cheeseburger and fries with gravy ( about $ 7) and another cheeseburger to share with my GF.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6933">Next</a></li>
</ul>