<% provide :title, 'Opinion Target 9408' %><h2>fried rice noodle roll<br />occurrence: 1</h2><div><ol><li>Seafood with dry garlic fried rice, fried rice noodle roll with x.o sauce, plain congee ( yes the plain is great!), etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9409">Next</a></li>
</ul>