<% provide :title, 'Opinion Target 7077' %><h2>trio<br />occurrence: 1</h2><div><ol><li>Go Train, Valentine and Ninja makes for the perfect trio.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7076">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7078">Next</a></li>
</ul>