<% provide :title, 'Opinion Target 9432' %><h2>Fried bean curd in hot pot<br />occurrence: 1</h2><div><ol><li>Eel fried rice is pretty much the same in Congee queen Garoupa &amp; Fried bean curd in hot pot, now that was disappointing to have fish bones in the garoupa dish. it 's $ 13 dish and now I have to spent lots of work to spit out all those bones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9433">Next</a></li>
</ul>