<% provide :title, 'Opinion Target 3470' %><h2>hakka style house special friend noodles<br />occurrence: 1</h2><div><ol><li>Their hakka style house special friend noodles are another favourite of mine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3471">Next</a></li>
</ul>