<% provide :title, 'Opinion Target 4764' %><h2>hot foods table<br />occurrence: 1</h2><div><ol><li>You grab your cold salads, order your sandwich, and proceed to the hot foods table before paying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4765">Next</a></li>
</ul>