<% provide :title, 'Opinion Target 2002' %><h2>broth and noodles<br />occurrence: 2</h2><div><ol><li>Braised Beef Noodle Soup ( $ 6.99) Again, delicious broth and noodles.</li><li>The broth and noodles were standard and the portion was worth it for the $ 5 price tag on the beef brisket noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2003">Next</a></li>
</ul>