<% provide :title, 'Opinion Target 2293' %><h2>tai chi<br />occurrence: 1</h2><div><ol><li>One grandmother would get up and pull off her kung-fu tai chi move to fend off another grandmother.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2294">Next</a></li>
</ul>