<% provide :title, 'Opinion Target 2178' %><h2>beef sirloin<br />occurrence: 2</h2><div><ol><li>Usually opt for the silver menu, especially the onion-wrapped beef sirloin.</li><li>For $ 45 the meal came with the beef sirloin, two bowls of purple rice, lettuce wrap, seasoned lettuce, onion pancake, an assortment of 8 side dishes and a bowl of seafood soon tofu soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2179">Next</a></li>
</ul>