<% provide :title, 'Opinion Target 3494' %><h2>scallop roll<br />occurrence: 1</h2><div><ol><li>The spicy scallop roll also failed to impress as it was mostly bread crumbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3495">Next</a></li>
</ul>