<% provide :title, 'Opinion Target 6093' %><h2>noodle cooked<br />occurrence: 1</h2><div><ol><li>Hand Made Beef Noodle Soup ( $ 5.99) was quite savory, the noodle cooked al dente with a good bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6094">Next</a></li>
</ul>