<% provide :title, 'Opinion Target 6896' %><h2>eggs and veggies<br />occurrence: 1</h2><div><ol><li>I ordered the soy beef stew noodle soup while my gf got the noodles with beef, tomatoes, eggs and veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6897">Next</a></li>
</ul>