<% provide :title, 'Opinion Target 1144' %><h2>pastry<br />occurrence: 3</h2><div><ol><li>The pastry is a bit thicker but still flaky compared to other beef patty joints in the city.</li><li>You can tell it was fresh out of the oven because the pastry was piping hot.</li><li>The almond croissant I purchased here was the best croissant I have ever had; it was also the best pastry I have ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1145">Next</a></li>
</ul>