<% provide :title, 'Opinion Target 6733' %><h2>tadig dish<br />occurrence: 1</h2><div><ol><li>The tadig dish seemed very old.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6732">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6734">Next</a></li>
</ul>