<% provide :title, 'Opinion Target 3226' %><h2>stuffed cabbage rolls<br />occurrence: 1</h2><div><ol><li>My favorite surprise was the stuffed cabbage rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3227">Next</a></li>
</ul>