<% provide :title, 'Opinion Target 2842' %><h2>chicken BBQ skewers<br />occurrence: 1</h2><div><ol><li>Freshness aside, I opted to go for 3 of those giant chicken BBQ skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2843">Next</a></li>
</ul>