<% provide :title, 'Opinion Target 4755' %><h2>salad + pork + Pork roll<br />occurrence: 1</h2><div><ol><li>It was noodles + salad + pork + Pork roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4754">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4756">Next</a></li>
</ul>