<% provide :title, 'Opinion Target 1744' %><h2>chicken and corn soup<br />occurrence: 2</h2><div><ol><li>The chicken and corn soup is perfect in texture and taste.</li><li>We ordered Szechuan chicken, noodles with veggies, and chicken and corn soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1745">Next</a></li>
</ul>