<% provide :title, 'Opinion Target 8201' %><h2>marinated sweet potatoes<br />occurrence: 1</h2><div><ol><li>They used to have the marinated sweet potatoes as a side-dish, but did n't have them this time around.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8202">Next</a></li>
</ul>