<% provide :title, 'Opinion Target 7106' %><h2>Canadian beer<br />occurrence: 1</h2><div><ol><li>We had a nice cold Canadian beer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7107">Next</a></li>
</ul>