<% provide :title, 'Opinion Target 8158' %><h2>nachos and yam fries<br />occurrence: 1</h2><div><ol><li>The nachos and yam fries were your typical pub classics.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8157">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8159">Next</a></li>
</ul>