<% provide :title, 'Opinion Target 7356' %><h2>strawberry crepe<br />occurrence: 1</h2><div><ol><li>Have tried the green tea waffle and the strawberry crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7357">Next</a></li>
</ul>