<% provide :title, 'Opinion Target 5324' %><h2>sea salt<br />occurrence: 1</h2><div><ol><li>Food is consistently good; my only slight complaint would be that the edamame is served cold and plain ( I prefer hot, with sea salt).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5325">Next</a></li>
</ul>