<% provide :title, 'Opinion Target 1355' %><h2>sub roll<br />occurrence: 2</h2><div><ol><li>The meat is sandwiched between a slightly toasted white sub roll and comes accompanied with lettuce, tomatoes, slices of dill pickle, and tahini sauce.</li><li>Griddled between some tasty sub roll action.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1356">Next</a></li>
</ul>