<% provide :title, 'Opinion Target 2405' %><h2>sushi specials<br />occurrence: 1</h2><div><ol><li>We ordered the sushi specials.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2406">Next</a></li>
</ul>