<% provide :title, 'Opinion Target 6092' %><h2>spicy boneless chicken<br />occurrence: 1</h2><div><ol><li>The spicy boneless chicken was delicious beyond words.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6093">Next</a></li>
</ul>