<% provide :title, 'Opinion Target 8895' %><h2>azuki bean paste<br />occurrence: 1</h2><div><ol><li>Of the three desserts I recommend the pear sorbet ( made in house) or the agar agar selection which had a nice creamy azuki bean paste accompanied with a mandarin wedge and light syrup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8894">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8896">Next</a></li>
</ul>