<% provide :title, 'Opinion Target 5797' %><h2>cream and sponge cake<br />occurrence: 1</h2><div><ol><li>The crepes did not disappoint, it was n't too sweet or too rich to finish toward the end with the cream and sponge cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5796">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5798">Next</a></li>
</ul>