<% provide :title, 'Opinion Target 2402' %><h2>sashimi scallops<br />occurrence: 1</h2><div><ol><li>They have sashimi scallops and sweet shrimp on weekend dinners, bonus!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2403">Next</a></li>
</ul>