<% provide :title, 'Opinion Target 8090' %><h2>pizza & pasta<br />occurrence: 1</h2><div><ol><li>Always great pizza &amp; pasta, owner is super friendly and always remembers us when we come in.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8089">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8091">Next</a></li>
</ul>