<% provide :title, 'Opinion Target 1590' %><h2>dessert place<br />occurrence: 2</h2><div><ol><li>Perhaps this is more a dessert place, however will never know ' cuz I definately wo n't be venturing back.</li><li>Great little dessert place!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1591">Next</a></li>
</ul>