<% provide :title, 'Opinion Target 2735' %><h2>chicken quesadilla<br />occurrence: 1</h2><div><ol><li>I ordered the chicken quesadilla, and although it is under starters, it is definitely filling enough to serve as a meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2736">Next</a></li>
</ul>