<% provide :title, 'Opinion Target 1080' %><h2>shwarma<br />occurrence: 3</h2><div><ol><li>The shwarma 's are beyond amazing taste.</li><li>The shwarma is amazing.</li><li>What you should expect is things like: felafels, shwarma, baba gannoush, pickled turnips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1081">Next</a></li>
</ul>