<% provide :title, 'Opinion Target 4306' %><h2>Chana masala<br />occurrence: 1</h2><div><ol><li>Their haleem, Nihari, Paaya, Chana masala are all to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4307">Next</a></li>
</ul>