<% provide :title, 'Opinion Target 5213' %><h2>waitressess<br />occurrence: 1</h2><div><ol><li>Not only that, but the waitressess were always short with us, and non-welcoming.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5214">Next</a></li>
</ul>