<% provide :title, 'Opinion Target 4080' %><h2>walls<br />occurrence: 1</h2><div><ol><li>The carpet is a bit worn, and the walls could use a fresh look.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4081">Next</a></li>
</ul>