<% provide :title, 'Opinion Target 6170' %><h2>Tofu house<br />occurrence: 1</h2><div><ol><li>Once we sat down and ordered, it took another 45 minutes for the last dish to arrive. 多伦多最好吃的豆腐汤没有之一 ！ ！ 必须点extra spicy kimchi ！ ！ 小菜味道也不错 ！ 汤的味道好吃到可以让我吃完整整一碗饭 ， 而且我喜欢把饭舀出来放进汤里吃汤泡饭 ， 实在太美味了 ！ the most delicious Korean tofu soup in Toronto ！ ！ Best Tofu house ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6171">Next</a></li>
</ul>