<% provide :title, 'Opinion Target 2533' %><h2>nuggets<br />occurrence: 1</h2><div><ol><li>I saw the nuggets in the food container by the cook 's window sitting there, unattended.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2534">Next</a></li>
</ul>