<% provide :title, 'Opinion Target 6115' %><h2>Loaded Waffle<br />occurrence: 1</h2><div><ol><li>My wife had the Loaded Waffle which she hoovered up really fast ... it was a nice soft waffle with fresh fruit and the whipped cream, though artificial, tasted good with it, she said.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6114">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6116">Next</a></li>
</ul>