<% provide :title, 'Opinion Target 1420' %><h2>blue fin tuna<br />occurrence: 2</h2><div><ol><li>We also tried the blue fin tuna tartar only offered on weekends, the lion roll, crazy roll and the small sushi and maki combo.</li><li>No blue fin tuna, but definitely worth visiting after .. say, a long and hard day at Yorkdale ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1419">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1421">Next</a></li>
</ul>