<% provide :title, 'Opinion Target 2851' %><h2>Sauted Shredded Beef<br />occurrence: 1</h2><div><ol><li>As was mentioned by everyone and their mothers, the Ginger Chicken, Sizzing Shrimp, and Sauted Shredded Beef along with some orders of rice ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2850">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2852">Next</a></li>
</ul>