<% provide :title, 'Opinion Target 3823' %><h2>Oreo green tea tastes ok<br />occurrence: 1</h2><div><ol><li>Oreo green tea tastes ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3822">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3824">Next</a></li>
</ul>