<% provide :title, 'Opinion Target 1781' %><h2>bangkok stir fry<br />occurrence: 2</h2><div><ol><li>The bangkok stir fry was served in a similar fashion.</li><li>Favorites were the bangkok stir fry and the pad thai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1780">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1782">Next</a></li>
</ul>