<% provide :title, 'Opinion Target 7007' %><h2>BBQ fare<br />occurrence: 1</h2><div><ol><li>Outrageous prices for THE worst BBQ fare I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7008">Next</a></li>
</ul>