<% provide :title, 'Opinion Target 3877' %><h2>Vietnamese basil<br />occurrence: 1</h2><div><ol><li>There was a small pile of iceberg lettuce on the side with a sprig of Vietnamese basil.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3878">Next</a></li>
</ul>