<% provide :title, 'Opinion Target 6500' %><h2>Cantoneese noodles<br />occurrence: 1</h2><div><ol><li>The Cantoneese noodles were excellent and not greasy which is often the case.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6499">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6501">Next</a></li>
</ul>