<% provide :title, 'Opinion Target 5313' %><h2>beef shawarma grilling<br />occurrence: 1</h2><div><ol><li>That is what a foodie like me calls heaven when people just come around and offer you free amazing food constantly:) But I was n't there for the chicken, oh no no no. I saw the beef shawarma, or shall I say, smelled it from a mile away:) It is a rare luxury to see a fresh .. succulent ( i feel dirty lol) ... beef shawarma grilling ... glistening on that hot turning stand lol yeah this is starting to sound a little raunchy, i know!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5314">Next</a></li>
</ul>