<% provide :title, 'Opinion Target 4826' %><h2>Parking lines<br />occurrence: 1</h2><div><ol><li>Parking lines are not meant to be followed which means you have to park in a way that your car crosses, almost to the middle, the yellow lines.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4825">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4827">Next</a></li>
</ul>