<% provide :title, 'Opinion Target 7102' %><h2>onion straws<br />occurrence: 1</h2><div><ol><li>Then it 's sandwiched betwen a brioche bun with cheddar cheese, bacon, onion straws, lettuce, tomato, and garlic dill sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7103">Next</a></li>
</ul>