<% provide :title, 'Opinion Target 2764' %><h2>duck braised with sour plum<br />occurrence: 1</h2><div><ol><li>Another favourite of ours was the duck braised with sour plum.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2765">Next</a></li>
</ul>