<% provide :title, 'Opinion Target 4616' %><h2>fish choice<br />occurrence: 1</h2><div><ol><li>We had a variation of the Poached Sable fish yesterday, with the same sauce and cooking style ( the fish choice was changed based on the family request), but it was fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4617">Next</a></li>
</ul>