<% provide :title, 'Opinion Target 6394' %><h2>D<br />occurrence: 1</h2><div><ol><li>They also have purple rice = D They also had a beer deal which was great 4 for $ 10 or something.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6395">Next</a></li>
</ul>