<% provide :title, 'Opinion Target 1708' %><h2>steamed shrimp dumplings<br />occurrence: 2</h2><div><ol><li>I had their steamed shrimp dumplings which were average.</li><li>We usually start with the steamed shrimp dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1707">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1709">Next</a></li>
</ul>