<% provide :title, 'Opinion Target 4879' %><h2>nigri<br />occurrence: 1</h2><div><ol><li>- I wish there is more nigri .. instead of just 4 and the rest were all rolls The interior is nice and clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4880">Next</a></li>
</ul>