<% provide :title, 'Opinion Target 1188' %><h2>meat platter<br />occurrence: 3</h2><div><ol><li>It was supposed to be gyros, souvlaki, fillet mignon, lamb chops for the meat platter.</li><li>Then we ordered cheese and meat platter.</li><li>Also go for the regular meat platter; you get more meat for the same price as a sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1187">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1189">Next</a></li>
</ul>