<% provide :title, 'Opinion Target 7792' %><h2>P chicken wings<br />occurrence: 1</h2><div><ol><li>Very cozy and comfy. ordered their Wednesday special- 1/3 rack of ribs and chicken wings for $ 14. fries were good- you can actually taste the potato: P chicken wings were absolutely amazing. highly recommend chicken wings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7793">Next</a></li>
</ul>