<% provide :title, 'Opinion Target 1038' %><h2>corn beef<br />occurrence: 4</h2><div><ol><li>I had the corn beef on Kaiser and my boyfriend had the smoke meat on rye with hot mustard.</li><li>I love the corn beef on rye or pastrami hell I ca n't make up my mind their all good.</li><li>Time is now 11:35am The corn beef is very fatty ask for lean if you do go ......</li><li>I get either a turkey, turkey and salami, or corn beef and they 're all great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1039">Next</a></li>
</ul>