<% provide :title, 'Opinion Target 6930' %><h2>beer battered onion rings<br />occurrence: 1</h2><div><ol><li>The burgers, souvlaki &amp; homemade beer battered onion rings are n't made with the same quality &amp; love as once before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6931">Next</a></li>
</ul>