<% provide :title, 'Opinion Target 2345' %><h2>vacuum packed marinated kalbi<br />occurrence: 1</h2><div><ol><li>Marcy 's other biggest hit is their vacuum packed marinated kalbi which is ready for the grill.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2344">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2346">Next</a></li>
</ul>