<% provide :title, 'Opinion Target 690' %><h2>margherita pizza<br />occurrence: 5</h2><div><ol><li>A margherita pizza with an add of hot italian sausage ..</li><li>Margherita pizza was okay, could use more basil flavor.</li><li>I 've had the pomodoro pasta, spaghetti carbonara, margherita pizza and the caesar salad.</li><li>1) Margherita pizza ( $ 10) Nice thin crust with a good amount of cheese.</li><li>I ordered a pizza margherita &amp; it probably was the worst margherita pizza I 've had in my life.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_691">Next</a></li>
</ul>