<% provide :title, 'Opinion Target 6924' %><h2>Fries rice<br />occurrence: 1</h2><div><ol><li>Fries rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6925">Next</a></li>
</ul>