<% provide :title, 'Opinion Target 3780' %><h2>apple syrup<br />occurrence: 1</h2><div><ol><li>The Green Apple looked nothing like the pictures, there are whole grapes sprinkled on top drizzled with green apple syrup and jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3779">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3781">Next</a></li>
</ul>