<% provide :title, 'Opinion Target 6453' %><h2>shrimp wonton soup<br />occurrence: 1</h2><div><ol><li>The three of us ordering the shrimp wonton soup to start thing was delicious and flavourful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6454">Next</a></li>
</ul>