<% provide :title, 'Opinion Target 2809' %><h2>fried rice cake<br />occurrence: 1</h2><div><ol><li>The vitumbua is a sweet spongy fried rice cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2810">Next</a></li>
</ul>