<% provide :title, 'Opinion Target 9135' %><h2>dolsot bimbimbap<br />occurrence: 1</h2><div><ol><li>Fresh sashimi, delicious maki rolls and one of the best dolsot bimbimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9136">Next</a></li>
</ul>