<% provide :title, 'Opinion Target 807' %><h2>bathroom<br />occurrence: 4</h2><div><ol><li>On top of that, the bathroom was absolutely filthy too!</li><li>Bathroom needs a complete Reno.</li><li>The bathroom looked like it belonged at a dive bar, not a place where I 'm being served food at.</li><li>Plus their bathroom were pretty clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_806">Previous</a></li>
  <li class="next"><a href=".\opinion_target_808">Next</a></li>
</ul>