<% provide :title, 'Opinion Target 6009' %><h2>cola<br />occurrence: 1</h2><div><ol><li>Unlimited refills on the cola made the meal combination that more authentic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6010">Next</a></li>
</ul>