<% provide :title, 'Opinion Target 1211' %><h2>sticky rice<br />occurrence: 3</h2><div><ol><li>The sticky rice was a little too sticky for me as I had to use a knife to literally cut through it ( my plastic fork broke trying to unstick the rice enough so that I did n't put the entire bowl of rice in my mouth at once).</li><li>And the stir-fried sticky rice was really tasty, the sticky rice was made perfectly.</li><li>Har gow, Siew Mai, Cheong fun ( shrimp and beef rolls), chicken feet, beef tripe, Bbq pork buns, sticky rice, carrot turnip cake and a whole lot more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1212">Next</a></li>
</ul>