<% provide :title, 'Opinion Target 2502' %><h2>quail<br />occurrence: 2</h2><div><ol><li>I could n't bring myself to finish that thing and drank less than half of this soup. c) 1st course- half de-boned quail in cranberry sauce First of all, my quail was most definitely boned.</li><li>Quail was also very chewy and lacked tenderness and flavour. d) Entrees- New Zealand Rack of Lamb OR US Choice Filet Mignon w/ Goose Liver Pate OR Lobster &amp; seafood Pasta OR Filet of Grouper with Sauteed Scallop I had 3 out of 4 entrees to try.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2503">Next</a></li>
</ul>