<% provide :title, 'Opinion Target 5628' %><h2>fried chicken in a garlic sauce )<br />occurrence: 1</h2><div><ol><li>My go to dishes are: 1) duk bo ki ( rice cakes)- not the best there is, but always good and fresh, and pretty spicy! 2) Kang poong gi ( fried chicken in a garlic sauce)- amazing. the portion is HUGE and so fresh and just the right amount of batter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5629">Next</a></li>
</ul>