<% provide :title, 'Opinion Target 9295' %><h2>soya bean soup with grilled Mackeral<br />occurrence: 1</h2><div><ol><li>Ordered the soya bean soup with grilled Mackeral.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9296">Next</a></li>
</ul>