<% provide :title, 'Opinion Target 983' %><h2>shrimp dumplings<br />occurrence: 3</h2><div><ol><li>Decided to pig out a bit and had the shrimp dumplings and the Cantonese chow mein.</li><li>Love the hockey pucks and the scollop and shrimp dumplings!</li><li>Tried a variety of dishes including shrimp dumplings, shrimp rolls, rice noodle rolls, and deep fried tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_984">Next</a></li>
</ul>