<% provide :title, 'Opinion Target 6918' %><h2>beef with Chinese broccoli<br />occurrence: 1</h2><div><ol><li>The beef with Chinese broccoli was made with strange, spongy mystery meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6919">Next</a></li>
</ul>