<% provide :title, 'Opinion Target 7241' %><h2>Korean fried chicken and beer<br />occurrence: 1</h2><div><ol><li>Korean fried chicken and beer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7242">Next</a></li>
</ul>