<% provide :title, 'Opinion Target 1431' %><h2>baba ghanouj<br />occurrence: 2</h2><div><ol><li>Excellent kebabs, good sized portions with salad included and wonderful baba ghanouj.</li><li>Armenian kitchen has by far the best baba ghanouj hands-down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1432">Next</a></li>
</ul>