<% provide :title, 'Opinion Target 4279' %><h2>chop sticks<br />occurrence: 1</h2><div><ol><li>My daughter picked up noodles from here today, they smelled awful and rotten, even the chop sticks smell moldy Do n't wast your time or money here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4280">Next</a></li>
</ul>