<% provide :title, 'Opinion Target 3410' %><h2>chicken tender salad<br />occurrence: 1</h2><div><ol><li>I recommend the chicken tender salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3411">Next</a></li>
</ul>