<% provide :title, 'Opinion Target 6386' %><h2>pork bone stew<br />occurrence: 1</h2><div><ol><li>The pork bone stew was okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6387">Next</a></li>
</ul>