<% provide :title, 'Opinion Target 4209' %><h2>regular chicken shawarma<br />occurrence: 1</h2><div><ol><li>We always get a regular chicken shawarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4208">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4210">Next</a></li>
</ul>