<% provide :title, 'Opinion Target 5299' %><h2>Thai fried noodles<br />occurrence: 1</h2><div><ol><li>Had the Thai fried noodles and really enjoyed it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5300">Next</a></li>
</ul>