<% provide :title, 'Opinion Target 2949' %><h2>fried meat dish<br />occurrence: 1</h2><div><ol><li>The colour was bright red, which did n't look very appealing, but I was surprised by how great it tasted because the inside was full with meat, unlike the typical `` meatless fried meat dish''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2950">Next</a></li>
</ul>