<% provide :title, 'Opinion Target 7493' %><h2>omelette breakfast<br />occurrence: 1</h2><div><ol><li>My boyfriend ordered the omelette breakfast and I opted for the breakfast special ( with eggs, bacon, sausage, ham, toast, home fried potatoes and pancakes).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7494">Next</a></li>
</ul>