<% provide :title, 'Opinion Target 3729' %><h2>Pho place<br />occurrence: 1</h2><div><ol><li>This is an OK Pho place, it 's not authentic Pho, I think even on one occasion they admitted it 's not authentic Vietnamese so the taste might be different, lol what ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3730">Next</a></li>
</ul>