<% provide :title, 'Opinion Target 6604' %><h2>buffalo wings<br />occurrence: 1</h2><div><ol><li>Wings are good, and blessedly NOT breaded, but I like traditional butter/Franks buffalo wings a la Anchor Bar, but their sauces are different, and just ok for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6603">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6605">Next</a></li>
</ul>