<% provide :title, 'Opinion Target 2665' %><h2>balsamic and olive oil<br />occurrence: 1</h2><div><ol><li>We had the standard bread, balsamic and olive oil at the table along with a bottle of sparkling water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2666">Next</a></li>
</ul>