<% provide :title, 'Opinion Target 4680' %><h2>green chicken curry<br />occurrence: 1</h2><div><ol><li>Try out the green chicken curry, you will not regret it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4681">Next</a></li>
</ul>