<% provide :title, 'Opinion Target 4085' %><h2>croissant sandwich entrée<br />occurrence: 1</h2><div><ol><li>Ravioli and poached egg: I decided to get this but kind of regret it after seeing the croissant sandwich entrée.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4084">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4086">Next</a></li>
</ul>