<% provide :title, 'Opinion Target 6941' %><h2>rice portions<br />occurrence: 1</h2><div><ol><li>The fish is fresh and the rice portions are perfect, not too much not too little.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6942">Next</a></li>
</ul>