<% provide :title, 'Opinion Target 6283' %><h2>Smoked salmon Benedict<br />occurrence: 1</h2><div><ol><li>Smoked salmon Benedict was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6282">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6284">Next</a></li>
</ul>