<% provide :title, 'Opinion Target 6172' %><h2>broccoli tempura<br />occurrence: 1</h2><div><ol><li>The broccoli tempura was alright.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6171">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6173">Next</a></li>
</ul>