<% provide :title, 'Opinion Target 5683' %><h2>fried chicken enthusiast<br />occurrence: 1</h2><div><ol><li>3.8/5 You ca n't call yourself fried chicken enthusiast if you have n't tried korean fried chicken!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5684">Next</a></li>
</ul>