<% provide :title, 'Opinion Target 6892' %><h2>ginger soy sauce<br />occurrence: 1</h2><div><ol><li>I really needed the ginger soy sauce to spice my flavour up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6893">Next</a></li>
</ul>