<% provide :title, 'Opinion Target 5556' %><h2>Portobello piadina<br />occurrence: 1</h2><div><ol><li>Theyre brunch is amazing ( all off it) but my personal fav is the Portobello piadina.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5555">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5557">Next</a></li>
</ul>