<% provide :title, 'Opinion Target 8188' %><h2>porkbone soup<br />occurrence: 1</h2><div><ol><li>But porkbone soup is simply prepped incorrectly here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8187">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8189">Next</a></li>
</ul>