<% provide :title, 'Opinion Target 4667' %><h2>appetizer of calamari<br />occurrence: 1</h2><div><ol><li>I tried the appetizer of calamari- which was good and flavourful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4668">Next</a></li>
</ul>