<% provide :title, 'Opinion Target 7532' %><h2>dark wood interior<br />occurrence: 1</h2><div><ol><li>The interior of the restaurant -- a kind of narrow hallway feeling, the dark wood interior does n't help, there 's some Japanese beer paraphernalia about ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7533">Next</a></li>
</ul>