<% provide :title, 'Opinion Target 6232' %><h2>Arabic coffee<br />occurrence: 1</h2><div><ol><li>The pita was typical store bought stuff, no big deal, and my Arabic coffee was eh, but those are small potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6233">Next</a></li>
</ul>