<% provide :title, 'Opinion Target 6920' %><h2>soy bean paste<br />occurrence: 1</h2><div><ol><li>I got the noodle with soy bean paste and it was very satisfying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6919">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6921">Next</a></li>
</ul>