<% provide :title, 'Opinion Target 5676' %><h2>Korean Asian style fried chickens<br />occurrence: 1</h2><div><ol><li>I visit at least a month with a buddy because yonge-sheppard area didnt really have a good Asian place and especially Korean Asian style fried chickens.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5677">Next</a></li>
</ul>