<% provide :title, 'Opinion Target 3432' %><h2>Spicy Crispy Chicken<br />occurrence: 1</h2><div><ol><li>The Spicy Crispy Chicken is battered boneless chicken pieces, deep fried and tossed with some spices ( mostly salt, garlic and chili peppers).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3433">Next</a></li>
</ul>