<% provide :title, 'Opinion Target 1026' %><h2>espresso<br />occurrence: 4</h2><div><ol><li>The espresso was great and the service was fast and friendly.</li><li>The coffee was too bland for us, the cappuccinos seemed to be the favourite, but for me the espresso was the highlight.</li><li>Italian place where they call espresso and eXpresso is absolutely unacceptable.</li><li>Once we had finished our meals, coffees, a cappuccino and an espresso were ordered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1027">Next</a></li>
</ul>