<% provide :title, 'Opinion Target 1095' %><h2>chopsticks<br />occurrence: 3</h2><div><ol><li>The chopsticks were also sticky ..</li><li>I could pick up all noodle at once with chopsticks.</li><li>The wait staff had no problem offering utensils for us as the chopsticks were already on the table when we sat down, The food was ... spectacular !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1096">Next</a></li>
</ul>