<% provide :title, 'Opinion Target 1899' %><h2>knishes<br />occurrence: 2</h2><div><ol><li>This is a small deli in a small strip mall on Sheppard, serving smoked meat, corned beef and pastrami sandwiches, as well as knishes and a few other things.</li><li>Anyhoo-lots of meat on soft bread, delicious sweet hot mustard ( buy some to take home like we do to put on our own homemade creations), greasy knishes ( I could only eat half before feeling like my face was gonna break out in a massive acne outbreak), and over mayo 'd sides like coleslaw, mac salad and potato salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1900">Next</a></li>
</ul>