<% provide :title, 'Opinion Target 2583' %><h2>bar patrons<br />occurrence: 1</h2><div><ol><li>There was only one waitress working the dining room and bar patrons.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2584">Next</a></li>
</ul>