<% provide :title, 'Opinion Target 5208' %><h2>location faces construction<br />occurrence: 1</h2><div><ol><li>The location faces construction on one side and a dirt field on another.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5207">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5209">Next</a></li>
</ul>