<% provide :title, 'Opinion Target 2719' %><h2>American-style Chinese food<br />occurrence: 1</h2><div><ol><li>Great American-style Chinese food for this neighborhood.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2720">Next</a></li>
</ul>