<% provide :title, 'Opinion Target 3120' %><h2>rice cake bingsu<br />occurrence: 1</h2><div><ol><li>The rice cake bingsu had some rice cake pieces, but most of the additional flavoring to their shaved ice base was from the rice/grain powder layers on top and in the middle of the shaved ice layers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3121">Next</a></li>
</ul>