<% provide :title, 'Opinion Target 7193' %><h2>Samgyeopsal BBQ platter<br />occurrence: 1</h2><div><ol><li>Food 4/5- Loads of sides including pancake and potatoes and if you ask politely ( and depending who) you could get extra pancake too: p- Me and my friends tried the Samgyeopsal BBQ platter and it is HUGE, two servings will feed 3 and it comes with a side of soup ( we got Soontofu).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7192">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7194">Next</a></li>
</ul>