<% provide :title, 'Opinion Target 5689' %><h2>Boneless Fried Chicken<br />occurrence: 1</h2><div><ol><li>I always ordered the Boneless Fried Chicken with Green Onion which is their signature dish here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5688">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5690">Next</a></li>
</ul>