<% provide :title, 'Opinion Target 1685' %><h2>escargots<br />occurrence: 2</h2><div><ol><li>Love this place ... always get the caesar salad, escargots and a veal dish ..</li><li>The Escargots were really salty this time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1686">Next</a></li>
</ul>