<% provide :title, 'Opinion Target 5824' %><h2>broccoli florets<br />occurrence: 1</h2><div><ol><li>The vegetable curry dish was comprised of almost only red and green peppers with a few broccoli florets, and no other vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5825">Next</a></li>
</ul>