<% provide :title, 'Opinion Target 9252' %><h2>waitors<br />occurrence: 1</h2><div><ol><li>All guy waitors ... i feel like a queen when i dine there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9253">Next</a></li>
</ul>