<% provide :title, 'Opinion Target 6778' %><h2>espresso black<br />occurrence: 1</h2><div><ol><li>I can usually drink an espresso black, no sugar or milk as the sugar in the dessert is always sufficient.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6779">Next</a></li>
</ul>