<% provide :title, 'Opinion Target 1141' %><h2>yam<br />occurrence: 3</h2><div><ol><li>For example, the chicago, Yoko, and spider rolls were only distinguished by the shrimp tempura, unagi, and the soft-shell crab respectively, but there was no way you could tell the difference when all you could taste was the sweetness of the sauce ( which was made even worse by the fact that the yam is also very very prominent and sweet.</li><li>The yam overrides all other ingredient tastes.</li><li>Pretty slow service, maki rolls have a little too much rice, and tempura rolls ( yam, green dragon, shrimp) are soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1140">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1142">Next</a></li>
</ul>