<% provide :title, 'Opinion Target 2531' %><h2>California roles<br />occurrence: 1</h2><div><ol><li>The California roles were very delicious for simple California rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2532">Next</a></li>
</ul>