<% provide :title, 'Opinion Target 792' %><h2>Viet food<br />occurrence: 4</h2><div><ol><li>I found in Seoul, Viet food is considered high end and pricey.</li><li>They have great authentic Viet food.</li><li>The viet food here is legit !!</li><li>I was looking forward to some good Viet food based on the reviews listed here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_793">Next</a></li>
</ul>