<% provide :title, 'Opinion Target 2832' %><h2>quality chinese food<br />occurrence: 1</h2><div><ol><li>Ginger Crispy Chicken, was pretty good although very sweet, very greasy and very salty House Special Rice, excellent Beef with Snow peas were ok, sauce was very thick, very salty Overall this is just not what I look for in terms of quality chinese food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2831">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2833">Next</a></li>
</ul>