<% provide :title, 'Opinion Target 4957' %><h2>goat cheese and red pepper omelet<br />occurrence: 1</h2><div><ol><li>Ms. Brooks Brothers had the goat cheese and red pepper omelet and it was fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4956">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4958">Next</a></li>
</ul>