<% provide :title, 'Opinion Target 5666' %><h2>mixed veg<br />occurrence: 1</h2><div><ol><li>So Tia did n't like the mixed veg because it was cold, I did n't realize this until she pointed it out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5667">Next</a></li>
</ul>