<% provide :title, 'Opinion Target 1755' %><h2>soy sauce blend<br />occurrence: 2</h2><div><ol><li>Gen was a big fan of the special soy sauce blend and taught us to eat it by taking some of the rice and putting it into the shell of the crab in order to use up the soy sauce blend.</li><li>The rice really went well with the soy sauce blend as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1754">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1756">Next</a></li>
</ul>