<% provide :title, 'Opinion Target 6126' %><h2>katsu udon<br />occurrence: 1</h2><div><ol><li>We ordered some rolls and a katsu udon to share and some miso soup and salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6127">Next</a></li>
</ul>