<% provide :title, 'Opinion Target 3121' %><h2>rice cake bingsu ( shaved ice )<br />occurrence: 1</h2><div><ol><li>Had the rice cake bingsu ( shaved ice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3122">Next</a></li>
</ul>