<% provide :title, 'Opinion Target 5528' %><h2>penne pasta with broccoli<br />occurrence: 1</h2><div><ol><li>The penne pasta with broccoli and sausages is really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5527">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5529">Next</a></li>
</ul>