<% provide :title, 'Opinion Target 4358' %><h2>roasted chicken leg dinner<br />occurrence: 1</h2><div><ol><li>Either way, the mushy chicken was n't fun, so I would n't recommend the roasted chicken leg dinner here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4359">Next</a></li>
</ul>