<% provide :title, 'Opinion Target 6765' %><h2>maki pieces<br />occurrence: 1</h2><div><ol><li>Although the maki pieces are a little more than a mouthful, it 's packed full of filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6766">Next</a></li>
</ul>