<% provide :title, 'Opinion Target 1180' %><h2>roast pork<br />occurrence: 3</h2><div><ol><li>We ordered a bunch of dishes, but I really liked the roast pork and shanghai noodles.</li><li>I 'm not as much a fan of He He Long 's duck nor their crispy roast pork ( see my other reviews for THE BEST roast pork anywhere) but I do love their char siu pork!</li><li>The roast pork and BBQ duck are also above average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1181">Next</a></li>
</ul>