<% provide :title, 'Opinion Target 6191' %><h2>garlic sauce and rice<br />occurrence: 1</h2><div><ol><li>The menu consists of shawarmas ( Lamb, chicken, beef), falafel, kebabs ( beef or chicken) in a pita or as a platter with salad, hummus, garlic sauce and rice or fries for the meat options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6190">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6192">Next</a></li>
</ul>