<% provide :title, 'Opinion Target 3606' %><h2>tattie scones<br />occurrence: 1</h2><div><ol><li>We loooove their tattie scones ( I think that 's wat they 're called) and onion things!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3607">Next</a></li>
</ul>