<% provide :title, 'Opinion Target 6042' %><h2>golden spider roll<br />occurrence: 1</h2><div><ol><li>The golden spider roll was alright but I found it kind of dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6043">Next</a></li>
</ul>