<% provide :title, 'Opinion Target 4979' %><h2>special sandwiches<br />occurrence: 1</h2><div><ol><li>The cafe club sandwich is my go-to, there is also creative special sandwiches every week.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4980">Next</a></li>
</ul>