<% provide :title, 'Opinion Target 6489' %><h2>melon seafood<br />occurrence: 1</h2><div><ol><li>The turnip cakes are the BEST, the fried squid is delicious and the winter melon seafood Superbowl is great too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6488">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6490">Next</a></li>
</ul>