<% provide :title, 'Opinion Target 1778' %><h2>kabab<br />occurrence: 2</h2><div><ol><li>There 's another, almost identical supermarket in the same plaza called Pars Bakery which unfortunately closes at about 10 whereas Arzon is open 24 hours ( except the restaurant which closes at 4) Cream filled sweets that are never too sweet to end your very satisfying kabab dinner from next door and Prince of Persia from Suuuuperrrrrr Arzon soon comes to mind as you get royally stuffed with their specialties.</li><li>Their bread and Mirza ghasemi is excellent though, so is their kabab options.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1779">Next</a></li>
</ul>