<% provide :title, 'Opinion Target 1293' %><h2>sesame ice cream crepe<br />occurrence: 3</h2><div><ol><li>I had a sesame ice cream crepe, you can substitute the crepe with waffle for $ 1.</li><li>Food- we ordered and shared the sesame ice cream crepe.</li><li>Regardless, it helped plenty with the decision-making, and I ordered a sesame ice cream crepe, while my brother ordered the napolean cake ( called a cream flake cake).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1294">Next</a></li>
</ul>