<% provide :title, 'Opinion Target 705' %><h2>veal bibimbap<br />occurrence: 6</h2><div><ol><li>My favourite is the black sesame dressing on lettuce, it balances out the heat from the real veal bibimbap ( i need to increase my spicy tolerance) Samgyetang $ 16.99 Perfect when the weather is cold.</li><li>We ordered their chicken ginseng soup ( samgeytang) and a raw veal bibimbap.</li><li>My favourite is Hot Stone raw veal Bibimbap.</li><li>Once again got the veal bibimbap.</li><li>The second time I went with the raw veal bibimbap.</li><li>3.5 stars for the raw veal bibimbap ( $ 12.99).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_706">Next</a></li>
</ul>