<% provide :title, 'Opinion Target 7244' %><h2>pre-made food<br />occurrence: 1</h2><div><ol><li>Basically they have 2 rows of pre-made food that you can choose from at any time, I got the lychee shrimp and the pepper beef both were really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7245">Next</a></li>
</ul>