<% provide :title, 'Opinion Target 4032' %><h2>steak and frites<br />occurrence: 1</h2><div><ol><li>The calamari was also creatively plated and the steak and frites were yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4033">Next</a></li>
</ul>