<% provide :title, 'Opinion Target 2007' %><h2>chicken sisig<br />occurrence: 2</h2><div><ol><li>Came here for Tuesday lunch and ordered the lechon kawali and crispy chicken sisig.</li><li>Ordered the crispy chicken sisig, crispy chicken skin, and bagoong rice- all of which was enough for 3 people for lunch so make sure you either come with a big appetite or with friends/family!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2008">Next</a></li>
</ul>