<% provide :title, 'Opinion Target 5959' %><h2>BBQ stuff<br />occurrence: 1</h2><div><ol><li>Try BBQ stuff fatter because the meat around it taste softer, even though you might be on a diet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5960">Next</a></li>
</ul>