<% provide :title, 'Opinion Target 9058' %><h2>Korean taco<br />occurrence: 1</h2><div><ol><li>Wrap that in lettuce, put some condiments, a Korean taco!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9059">Next</a></li>
</ul>