<% provide :title, 'Opinion Target 9744' %><h2>bacon with extra bacon<br />occurrence: 1</h2><div><ol><li>Turkey bacon with extra bacon .... nuff said.:) Much better option than Mr. Sub and Subway.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9745">Next</a></li>
</ul>