<% provide :title, 'Opinion Target 7540' %><h2>oyakodon ( chicken egg<br />occurrence: 1</h2><div><ol><li>The oyakodon ( chicken egg on rice)- chicken was overly dry and bland, rice was not well seasoned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7541">Next</a></li>
</ul>