<% provide :title, 'Opinion Target 9742' %><h2>pickles and gravy<br />occurrence: 1</h2><div><ol><li>Turkey-Bacon Combo- with mustard, mayo, pickles Not wild about the signature BellyBuster, kinda weird with pickles and gravy, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9743">Next</a></li>
</ul>