<% provide :title, 'Opinion Target 6099' %><h2>groceries deep fried<br />occurrence: 1</h2><div><ol><li>These were basically the cheese stings that you get at groceries deep fried and the apple sauce was actually from the supermarket ( Motts Fruitsations- refer to picture).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6098">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6100">Next</a></li>
</ul>