<% provide :title, 'Opinion Target 5283' %><h2>Portuguese sauce chicken<br />occurrence: 1</h2><div><ol><li>I had the Portuguese sauce chicken ( which by the way, is not actually from Portugal, but from Macau) for $ 9.99 + tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5282">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5284">Next</a></li>
</ul>