<% provide :title, 'Opinion Target 3730' %><h2>sp<br />occurrence: 1</h2><div><ol><li>Try the beef steak, sinigang, pusit, fried shrimp, pancit, lechon kawali, or the pinakbet ( sp ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3729">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3731">Next</a></li>
</ul>