<% provide :title, 'Opinion Target 1236' %><h2>grilled food<br />occurrence: 3</h2><div><ol><li>They 're very different in taste and both offer their unique flavours to traditional grilled food from their regions.</li><li>The grilled food was also delicious if a bit too salty.</li><li>And try getting anyone 's attention to ask them why only one person at our table got their food and the rest of us have to either sit and watch them eat while we 're still hungry, or the person who was served feels guilty to start and their grilled food goes cold.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1235">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1237">Next</a></li>
</ul>