<% provide :title, 'Opinion Target 1413' %><h2>sausage pizza<br />occurrence: 3</h2><div><ol><li>Italian sausage pizza was delicious.</li><li>We got a sausage pizza, penne vodka and bruschetta.</li><li>My fiancé got the spicy sausage pizza and his brother got the penne in ragu sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1414">Next</a></li>
</ul>