<% provide :title, 'Opinion Target 2269' %><h2>eggs breakfast<br />occurrence: 2</h2><div><ol><li>Also had their steak and eggs breakfast again- latkes were n't up to snuff today, but they were crispy.</li><li>She had the Spinach Feta omelette and I had the Classic 3 eggs breakfast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2268">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2270">Next</a></li>
</ul>