<% provide :title, 'Opinion Target 4714' %><h2>batter coating<br />occurrence: 1</h2><div><ol><li>My favourite part was the beef itself, which was tender, juicy and battered- and the light batter coating made for a nice crunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4715">Next</a></li>
</ul>