<% provide :title, 'Opinion Target 6208' %><h2>beef bibimap<br />occurrence: 1</h2><div><ol><li>My hubby ordered beef tofu stew and I had a soup and beef bibimap- we shared and both meals were delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6207">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6209">Next</a></li>
</ul>