<% provide :title, 'Opinion Target 4457' %><h2>tangsuyuk<br />occurrence: 1</h2><div><ol><li>The spicy fried chicken ( kind of like a sweet and sour pork) and the tangsuyuk are must haves !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4458">Next</a></li>
</ul>