<% provide :title, 'Opinion Target 4475' %><h2>lamb and chicken shawarma<br />occurrence: 1</h2><div><ol><li>Ordered hummus, lamb and chicken shawarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4476">Next</a></li>
</ul>