<% provide :title, 'Opinion Target 8497' %><h2>chicken cutlet sandwich<br />occurrence: 1</h2><div><ol><li>Whether it 's a hot veal, steak, or chicken cutlet sandwich this place has the right stuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8498">Next</a></li>
</ul>