<% provide :title, 'Opinion Target 980' %><h2>sheesha<br />occurrence: 4</h2><div><ol><li>We ordered 1 flavour- double apple- the sheesha was not made right so we told the hostess to switch and get us a different flavour ... the sheesha was even worse than the last time.</li><li>We ordered 1 flavour- double apple- the sheesha was not made right so we told the hostess to switch and get us a different flavour ... the sheesha was even worse than the last time.</li><li>The staff if really friendly but the sheesha is shit.</li><li>The sheesha was broken and our table was wobbly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_979">Previous</a></li>
  <li class="next"><a href=".\opinion_target_981">Next</a></li>
</ul>