<% provide :title, 'Opinion Target 5093' %><h2>dinner option<br />occurrence: 1</h2><div><ol><li>I have certain allergies, so to be on the safe side, I went with the dinner option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5094">Next</a></li>
</ul>