<% provide :title, 'Opinion Target 8603' %><h2>dubboki cakes<br />occurrence: 1</h2><div><ol><li>I especially love the touch of dubboki cakes inside the soup, so yummy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8602">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8604">Next</a></li>
</ul>