<% provide :title, 'Opinion Target 6136' %><h2>rice specials<br />occurrence: 1</h2><div><ol><li>If I wanna be a total piggy sometimes, I even order their rice specials too and they start at $ 6.99 I think ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6137">Next</a></li>
</ul>