<% provide :title, 'Opinion Target 2399' %><h2>chirasu sashimi<br />occurrence: 1</h2><div><ol><li>The chirasu sashimi, except for the red tuna ( odd), were quite thin, as well, the salmon on the dragon rolls were even thinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2400">Next</a></li>
</ul>