<% provide :title, 'Opinion Target 6503' %><h2>table food<br />occurrence: 1</h2><div><ol><li>And floor food my friends just is n't as yummy as table food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6504">Next</a></li>
</ul>