<% provide :title, 'Opinion Target 6385' %><h2>sizzling chicken plate<br />occurrence: 1</h2><div><ol><li>My second choice is the sizzling chicken plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6384">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6386">Next</a></li>
</ul>