<% provide :title, 'Opinion Target 8029' %><h2>ban chan selection<br />occurrence: 1</h2><div><ol><li>Their ban chan selection leaves a little bit to be desired, but the quality of their ban chan is still above the rest of the Yonge/Finch restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8028">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8030">Next</a></li>
</ul>