<% provide :title, 'Opinion Target 900' %><h2>bubble tea places<br />occurrence: 5</h2><div><ol><li>Overall a good option if you want to stay away from the bigger chain and busier bubble tea places.</li><li>There are lots of bubble tea places in the area.</li><li>It costs at least 20% more than the many, many bubble tea places along Yonge.</li><li>The Taiwanese food is authentic and possibly one of the best bubble tea places because they use real quality tea ( as opposed to powders or cheap tea).</li><li>To be honest, I `` m tired of the bubble tea places as they tend to all taste the same.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_901">Next</a></li>
</ul>