<% provide :title, 'Opinion Target 3592' %><h2>chicken shawarma sandwiches<br />occurrence: 1</h2><div><ol><li>We were dropping one of our cousins off at the subway and my other cousin took the 4 of us here and told us they had the best chicken shawarma sandwiches around ( they were wraps, not sandwiches, but that 's what they 're called).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3593">Next</a></li>
</ul>