<% provide :title, 'Opinion Target 2642' %><h2>thin sauce<br />occurrence: 1</h2><div><ol><li>No thick tomato sauce some places give you but a nice mild thin sauce that flavored the cabbage.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2641">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2643">Next</a></li>
</ul>