<% provide :title, 'Opinion Target 3286' %><h2>waters<br />occurrence: 1</h2><div><ol><li>Our waters were always filled and the bread was always on the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3287">Next</a></li>
</ul>