<% provide :title, 'Opinion Target 4002' %><h2>worchestershire<br />occurrence: 1</h2><div><ol><li>The pork cutlet was crispy and the portion was good, but they put wayyyy too much sauce ( think worchestershire mixed with ketchup) on it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4003">Next</a></li>
</ul>