<% provide :title, 'Opinion Target 1347' %><h2>dessert cake<br />occurrence: 2</h2><div><ol><li>We ordered one of the lunch combos offered which features a sweet tea with boba, minced pork rice, and a little dessert cake ( bite size).</li><li>The only thing I enjoyed was the small ( 1 bite), free dessert cake that came with the lunch combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1348">Next</a></li>
</ul>