<% provide :title, 'Opinion Target 3953' %><h2>Singapore rice noodles<br />occurrence: 1</h2><div><ol><li>I called the restaurant today to inquire if they had Singapore rice noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3952">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3954">Next</a></li>
</ul>