<% provide :title, 'Opinion Target 9013' %><h2>front patio<br />occurrence: 1</h2><div><ol><li>( Just a note on the bar that they are waiting to receive their liquor license and have a petition customers can sign to make this happen faster) Also there is a front patio which is a great addition to the restaurant and very well kept in terms of furniture and cleanliness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9014">Next</a></li>
</ul>