<% provide :title, 'Opinion Target 3967' %><h2>complimentary appetizer<br />occurrence: 1</h2><div><ol><li>The complimentary appetizer that they always give before bringing the entree out comes with garlic toast, fish paté and pickles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3966">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3968">Next</a></li>
</ul>