<% provide :title, 'Opinion Target 6928' %><h2>dumplings and chicken dishes<br />occurrence: 1</h2><div><ol><li>They have very nice dumplings and chicken dishes, I also love their green beans, I always order those and in this place they taste great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6929">Next</a></li>
</ul>