<% provide :title, 'Opinion Target 4432' %><h2>peas and rice<br />occurrence: 1</h2><div><ol><li>Also: peas and rice is extremely fluffy and gorgeous, melt in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4433">Next</a></li>
</ul>