<% provide :title, 'Opinion Target 6412' %><h2>pho = noodle soup<br />occurrence: 1</h2><div><ol><li>He was upset that there were noodles in his pho ( pho = noodle soup, right ?) the first time it came out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6413">Next</a></li>
</ul>