<% provide :title, 'Opinion Target 4749' %><h2>pastrami and corned beef sandwiches<br />occurrence: 1</h2><div><ol><li>The pastrami and corned beef sandwiches are filled and full with meat but not with flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4750">Next</a></li>
</ul>