<% provide :title, 'Opinion Target 5286' %><h2>dough fritter stuffed with shrimp paste<br />occurrence: 1</h2><div><ol><li>They also give you this deep fried dough fritter stuffed with shrimp paste as appetizer ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5287">Next</a></li>
</ul>