<% provide :title, 'Opinion Target 6716' %><h2>Cleanliness<br />occurrence: 1</h2><div><ol><li>Cleanliness not very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6715">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6717">Next</a></li>
</ul>