<% provide :title, 'Opinion Target 7288' %><h2>Hawaiian<br />occurrence: 1</h2><div><ol><li>The Hawaiian is the bomb!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7287">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7289">Next</a></li>
</ul>