<% provide :title, 'Opinion Target 1460' %><h2>rice bowls<br />occurrence: 3</h2><div><ol><li>A friend of mine dropped by for lunch and I recommended them as the food is tasty especially when eaten in the restaurant ( normally I used take out) We ordered 3 dishes and a couple rice bowls.</li><li>Will probably return to try the rice bowls.</li><li>Hint* We always tell them to not pour the water in our empty rice bowls so that the leftover rice crisps on the sides of the bowl and we can scrape it off and eat the crispy rice in our soup- delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1461">Next</a></li>
</ul>