<% provide :title, 'Opinion Target 4664' %><h2>fried squid and leaf<br />occurrence: 1</h2><div><ol><li>The fried squid and leaf ( again I forget the name but it 's citrus type leaves that you fill with stuff) starters were great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4665">Next</a></li>
</ul>