<% provide :title, 'Opinion Target 943' %><h2>cabbage<br />occurrence: 4</h2><div><ol><li>The cabbage was undercooked, so was the rice cakes.</li><li>This option had chicken, mussels, cabbage, squid and shrimp mixed in.</li><li>This dish is a mixture of rice cakes, cabbage and small strips of pork.</li><li>The salad was nice albeit a little difficult to eat because the cabbage was sliced so long and the Gyoza was really tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_944">Next</a></li>
</ul>