<% provide :title, 'Opinion Target 2607' %><h2>Food : Seafood Anti-Pasto<br />occurrence: 1</h2><div><ol><li>The Food: Seafood Anti-Pasto- $ 11.95 We ordered this as an appetizer, and it was n't very appetizing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2608">Next</a></li>
</ul>