<% provide :title, 'Opinion Target 2412' %><h2>Japanese chirashi don<br />occurrence: 1</h2><div><ol><li>And the rice has a very common taste, while the good Japanese chirashi don pays great attention to the quality of rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2413">Next</a></li>
</ul>