<% provide :title, 'Opinion Target 1250' %><h2>samgyetang<br />occurrence: 3</h2><div><ol><li>Its signature dish is their samgyetang ( Ginseng Chicken soup).</li><li>I would definitely go back for the samgyetang, not so much for the dolsot bibimbap.</li><li>My friend really likes their samgyetang ( ginseng chicken soup) and goes on about how clean, healthy, and good it tastes ( despite noting how it was better the last time as opposed to our most recent excursion).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1251">Next</a></li>
</ul>