<% provide :title, 'Opinion Target 6929' %><h2>Chicken Pad Thai ( noodles<br />occurrence: 1</h2><div><ol><li>Usually order the Chicken Pad Thai ( noodles, tofu, chicken, a sprinkling of green onions and a pack of ground peanuts on the side), Spring Rolls ( 2, with sauce) and/or the Ginger Chicken ( stuffed with chicken and different mushrooms, a few red peppers and a flavorful sauce).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6928">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6930">Next</a></li>
</ul>