<% provide :title, 'Opinion Target 8479' %><h2>Eggs & Grilled Cheese had oil<br />occurrence: 1</h2><div><ol><li>Although the fries and gravy were to my satisfaction, the Eggs &amp; Grilled Cheese had oil dripping from it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8478">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8480">Next</a></li>
</ul>