<% provide :title, 'Opinion Target 9685' %><h2>eggs benedict with smoked salmon and asparagus<br />occurrence: 1</h2><div><ol><li>I ordered the eggs benedict with smoked salmon and asparagus, and my boyfriend ordered the steak and eggs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9686">Next</a></li>
</ul>