<% provide :title, 'Opinion Target 1151' %><h2>minced pork<br />occurrence: 3</h2><div><ol><li>The minced pork was dried up and lacked any nice kick to it.</li><li>Eggplant &amp; Minced Pork Spicy Sauce in Hot Pot ( $ 8.75) was overly sweet with no spiciness or the `` fish fragrance'' Garlic Shoots with Garlic ( $ 8.75) was a little oily but was the best dish of the evening.</li><li>The minced pork was n't so minced, but the flavour was there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1152">Next</a></li>
</ul>