<% provide :title, 'Opinion Target 3322' %><h2>Sour Chicken Mixed vegetables with almonds Chicken Fried Rice Shanghai Noodles<br />occurrence: 1</h2><div><ol><li>Ordered a number of dishes for dinner on Friday night: Sweet and Sour Chicken Mixed vegetables with almonds Chicken Fried Rice Shanghai Noodles ( on the recommendation of other reviewers) Cantonese Chow Mein Wonton Soup Siu Mai Eggplant with Black Bean Sauce ( again on recommendation) All dishes were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3321">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3323">Next</a></li>
</ul>