<% provide :title, 'Opinion Target 2530' %><h2>bar manager<br />occurrence: 1</h2><div><ol><li>She must be the bar manager.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2531">Next</a></li>
</ul>