<% provide :title, 'Opinion Target 6511' %><h2>chives and shrimp fried pancake<br />occurrence: 1</h2><div><ol><li>There are some hits ( mostly dough related) like chives and shrimp fried pancake, fried dumplings or thick noodle dishes, and the rest is just ok, with all the meats being covered by liters of thick and sticky sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6512">Next</a></li>
</ul>