<% provide :title, 'Opinion Target 3390' %><h2>baby scallops<br />occurrence: 1</h2><div><ol><li>I got one shrimp, one mussel, 3 baby scallops, and 4 pieces of chopped up sea cucumber.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3389">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3391">Next</a></li>
</ul>