<% provide :title, 'Opinion Target 9673' %><h2>take-out shawarma<br />occurrence: 1</h2><div><ol><li>My first thought ? ... cool we are doing take-out shawarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9674">Next</a></li>
</ul>