<% provide :title, 'Opinion Target 2372' %><h2>falafel pitas<br />occurrence: 1</h2><div><ol><li>Two of us got falafel pitas and one got a chicken shawarma pita with extra coleslaw and feta inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2373">Next</a></li>
</ul>