<% provide :title, 'Opinion Target 6041' %><h2>peas with gravy<br />occurrence: 1</h2><div><ol><li>Ended up just eating rice and peas with gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6042">Next</a></li>
</ul>