<% provide :title, 'Opinion Target 8124' %><h2>kids<br />occurrence: 1</h2><div><ol><li>The kids were starving so we caved and got them the only available lunch item- the pre-made Italian sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8125">Next</a></li>
</ul>