<% provide :title, 'Opinion Target 4409' %><h2>hero burger<br />occurrence: 1</h2><div><ol><li>The prices as far as delivery are very reasonable, especially when compared to other delivery in the area. ( hero burger has the nerve to charge 38 $ for a burger and a veggie burger ALONE no fries or drinks) I 'm going tout on a limb and saying its the best Italian in the area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4410">Next</a></li>
</ul>