<% provide :title, 'Opinion Target 2012' %><h2>pata<br />occurrence: 2</h2><div><ol><li>We ordered the crispy pata, sisig, squid and vegetables.</li><li>Sisig had strange texture to it, crispy pata was n't that great, and the chinese style vegetables was plain ridiculous with the size of bokchoy they used.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2013">Next</a></li>
</ul>