<% provide :title, 'Opinion Target 6997' %><h2>tripe soup<br />occurrence: 1</h2><div><ol><li>The tripe soup ( served with rice pilaf and two homemade tortillas) is very warm and filling- I 've had this a few times already.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6998">Next</a></li>
</ul>