<% provide :title, 'Opinion Target 2032' %><h2>waitress/waiter<br />occurrence: 2</h2><div><ol><li>The little button on the table to call the waitress/waiter was funny but a good idea.</li><li>I 've waited almost twenty minutes before having a waitress/waiter even coming to the table in the beginning on a Saturday after 6.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2033">Next</a></li>
</ul>