<% provide :title, 'Opinion Target 2744' %><h2>veal tongue sandwiches<br />occurrence: 1</h2><div><ol><li>The tiny hole in the wall is meant more for pickup than sitting in, and is a pretty decent choice for late night munchies north of Bloor ( + 1*) The sandwich options include standards such as burgers and sausage as well as Persian deli style lamb brain &amp; chicken supreme or veal tongue sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2745">Next</a></li>
</ul>