<% provide :title, 'Opinion Target 1831' %><h2>beef kebabs<br />occurrence: 2</h2><div><ol><li>I will definitely be coming back, and zeroing in on the lamb and beef kebabs.</li><li>It includes 2 naans, 2 beef kebabs, a meat of your choice ( we chose butter chicken) and 2 pops.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1832">Next</a></li>
</ul>