<% provide :title, 'Opinion Target 6563' %><h2>chilli turnip patties<br />occurrence: 1</h2><div><ol><li>We also had a plate of the chilli turnip patties- yes they were as delish as the first time, and enough leftovers for at least a couple of lunches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6562">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6564">Next</a></li>
</ul>