<% provide :title, 'Opinion Target 1313' %><h2>steak frites<br />occurrence: 3</h2><div><ol><li>Taste- steak frites was ok.</li><li>The menu itself is pretty decent, lots of choices standard fare like burgers, steak frites, sandwiches .... prices were really good too.</li><li>Also the gnocchi and steak frites were very flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1314">Next</a></li>
</ul>