<% provide :title, 'Opinion Target 4455' %><h2>sardines<br />occurrence: 1</h2><div><ol><li>The bones were tiny and short like on sardines, but they were n't soft enough to swallow like sardines, and was very annoying to go through.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4456">Next</a></li>
</ul>