<% provide :title, 'Opinion Target 2630' %><h2>pizza salmone<br />occurrence: 1</h2><div><ol><li>I like their pizza 's because they are thin crust, my favourite being the pizza salmone!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2629">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2631">Next</a></li>
</ul>