<% provide :title, 'Opinion Target 5216' %><h2>components<br />occurrence: 1</h2><div><ol><li>As I said before there are 3 main components you look for in a bubble tea shop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5215">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5217">Next</a></li>
</ul>