<% provide :title, 'Opinion Target 1799' %><h2>lunch special )<br />occurrence: 2</h2><div><ol><li>Ordered the cold noodle appetizer ( shown in pictures here), beef noodle soup ( lunch special), fried rice ( lunch special), mushroom and cucumber cold appetizer ( to balance out the heat from the the cold noodle appetizer).</li><li>Ordered the cold noodle appetizer ( shown in pictures here), beef noodle soup ( lunch special), fried rice ( lunch special), mushroom and cucumber cold appetizer ( to balance out the heat from the the cold noodle appetizer).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1800">Next</a></li>
</ul>