<% provide :title, 'Opinion Target 7914' %><h2>lunch services<br />occurrence: 1</h2><div><ol><li>I also think it says a lot this place was bursting at the seams--with a line coming out the door and everything--during both the dinner and lunch services I ate at.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7915">Next</a></li>
</ul>