<% provide :title, 'Opinion Target 5743' %><h2>mango salad Chicken satay<br />occurrence: 1</h2><div><ol><li>I would hardly call it a mango salad Chicken satay $ 10- we ordered the large which came with 6 skewers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5742">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5744">Next</a></li>
</ul>