<% provide :title, 'Opinion Target 7156' %><h2>potato slices<br />occurrence: 1</h2><div><ol><li>Amazing sides especially the sweet potato slices, we always ask for refills which sometimes they are reluctant to give.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7157">Next</a></li>
</ul>