<% provide :title, 'Opinion Target 7241' %><h2>metal<br />occurrence: 1</h2><div><ol><li>If you want metal you must ask for it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7242">Next</a></li>
</ul>