<% provide :title, 'Opinion Target 7941' %><h2>Korean Barbecue<br />occurrence: 1</h2><div><ol><li>Soon Tofu was a nice change from the typical Galbi and Korean Barbecue I am used to having a lot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7942">Next</a></li>
</ul>