<% provide :title, 'Opinion Target 3533' %><h2>allspice<br />occurrence: 1</h2><div><ol><li>The jerk chicken has a perfect balance of aromatics ( notably cinnamon, nutmeg, garlic, lime, allspice and thyme), brown sugar, and spiciness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3534">Next</a></li>
</ul>