<% provide :title, 'Opinion Target 2206' %><h2>lemon chicken pieces<br />occurrence: 1</h2><div><ol><li>I was a little thrown off guard by the lemon chicken, i 'm use to seeing lemon chicken pieces tossed and cooked in the sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2207">Next</a></li>
</ul>