<% provide :title, 'Opinion Target 4855' %><h2>leg meat<br />occurrence: 1</h2><div><ol><li>The leg meat tears apart from the bone and you can pick at the meat from the bone at the end if you like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4856">Next</a></li>
</ul>