<% provide :title, 'Opinion Target 7345' %><h2>dish stir fry beef noodle<br />occurrence: 1</h2><div><ol><li>I ordered the most typical dish stir fry beef noodle ( river noodle), they dont hv it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7344">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7346">Next</a></li>
</ul>