<% provide :title, 'Opinion Target 2976' %><h2>chicken and beef rotis<br />occurrence: 1</h2><div><ol><li>The chicken and beef rotis contained marginally more filling and thankfully we did not ask for any hot sauce on those rotis.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2977">Next</a></li>
</ul>