<% provide :title, 'Opinion Target 693' %><h2>potato wedges<br />occurrence: 5</h2><div><ol><li>Also, the potato wedges were hard inside, which usually mean raw.</li><li>The box of potato wedges was practically overflowing.</li><li>I also tried my friends onion rings, nachos, and potato wedges.</li><li>Much better shawarma at Famous Laffa and the potato wedges were OK.</li><li>Next time I 'll definitely try the grilled vegetables as a side though as the potato wedges were just too filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_694">Next</a></li>
</ul>