<% provide :title, 'Opinion Target 8757' %><h2>pinot<br />occurrence: 1</h2><div><ol><li>When I asked for a wine recommendation, he was very knowledgeable about the various wines they had in house and suggested a lovely pinot noir, while my friend ordered a vodka tonic which he said was prepared to his liking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8758">Next</a></li>
</ul>