<% provide :title, 'Opinion Target 5444' %><h2>smoked salmon egg Benedict<br />occurrence: 1</h2><div><ol><li>I got the smoked salmon egg Benedict &amp; my friend got the regular.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5445">Next</a></li>
</ul>