<% provide :title, 'Opinion Target 7517' %><h2>menu sticks<br />occurrence: 1</h2><div><ol><li>Much like it 's other location on Dundas, Kenzo is very busy and so it 's best to go at slightly off peak times to avoid the wait for tables. ( oh, there is parking in the back) The menu sticks pretty closely to what it does best and is better for it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7518">Next</a></li>
</ul>