<% provide :title, 'Opinion Target 5838' %><h2>fried mango<br />occurrence: 1</h2><div><ol><li>The dessert was good as well ( such as the fried mango).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5839">Next</a></li>
</ul>