<% provide :title, 'Opinion Target 3611' %><h2>ice cream melts<br />occurrence: 1</h2><div><ol><li>It has real pieces of coconut flesh in it, so when the ice cream melts in your mouth you get to chew on the coconut flesh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3612">Next</a></li>
</ul>