<% provide :title, 'Opinion Target 6243' %><h2>lamb shish kebab sandwich<br />occurrence: 1</h2><div><ol><li>Had the lamb shish kebab sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6244">Next</a></li>
</ul>