<% provide :title, 'Opinion Target 4365' %><h2>milk bubble tea<br />occurrence: 1</h2><div><ol><li>This place has awesome original milk bubble tea ( like the kind you get in China).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4366">Next</a></li>
</ul>