<% provide :title, 'Opinion Target 9303' %><h2>cow ribs soup<br />occurrence: 1</h2><div><ol><li>Tried cow ribs soup ( so small), grilled fish ( I swear the fish weights less than 0.5lb), and rice sausage ( flavour was bland, no seasoning) Not coming here again that 's for sure.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9302">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9304">Next</a></li>
</ul>