<% provide :title, 'Opinion Target 9387' %><h2>rice noodles with vegetables and chicken and beef<br />occurrence: 1</h2><div><ol><li>We also visited the stir-fry station and had rice noodles with vegetables and chicken and beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9388">Next</a></li>
</ul>