<% provide :title, 'Opinion Target 721' %><h2>rose sauce<br />occurrence: 5</h2><div><ol><li>Ordered the Olympia pasta and was able to easily switch to a rose sauce instead, thoroughly enjoyed this dish.</li><li>I especially love the rose sauce.</li><li>The pasta with red sauce is tasty but the one with rose sauce is average.</li><li>We devoured our gnocchi in rose sauce and penne alla vodka without complaint.</li><li>The penne cacciatore was picture perfect, with the exception of the rose sauce, which I felt was slightly too watered for me as there was n't that pungent taste that came after having the pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_722">Next</a></li>
</ul>