<% provide :title, 'Opinion Target 8980' %><h2>Mussels Night<br />occurrence: 1</h2><div><ol><li>Another great thing about this resto cafe is that they also offer daily specials such as Pasta Night or Mussels Night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8979">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8981">Next</a></li>
</ul>