<% provide :title, 'Opinion Target 6681' %><h2>bbq kalbi<br />occurrence: 1</h2><div><ol><li>Bad food, expensive ( much of our $ 55 bbq kalbi was bone and sinew), and mandatory tip for extremely bad service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6680">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6682">Next</a></li>
</ul>