<% provide :title, 'Opinion Target 1517' %><h2>dill dipping sauce<br />occurrence: 3</h2><div><ol><li>Dry rubbed wings served w/ perfectly cooked chunky fries and of course the famous creamy dill dipping sauce.</li><li>I love the dill dipping sauce for the fries.</li><li>The wings are average, ( the hot and honey is actually a really good combination of spicy and sweet) but its their dill dipping sauce that make them a bit more palatable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1518">Next</a></li>
</ul>