<% provide :title, 'Opinion Target 4183' %><h2>wedgies<br />occurrence: 1</h2><div><ol><li>The wedgies were perfect, and what you expect from Mary Brown 's: fresh, flavourful, and perfect with their suspect gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4184">Next</a></li>
</ul>