<% provide :title, 'Opinion Target 1279' %><h2>veg spring rolls<br />occurrence: 3</h2><div><ol><li>We ordered the sexy summer salad rolls, veg spring rolls, veg fried rice &amp; some noodles.</li><li>Our order was extremely uncomplicated: Pad Thai, Veggie Curry, Veg Spring Rolls, Mango Sticky Rice dessert.</li><li>The good news: The veg spring rolls were tasty, and the veggie curry was also good and nicely spiced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1280">Next</a></li>
</ul>