<% provide :title, 'Opinion Target 3178' %><h2>jumbo shrimps<br />occurrence: 1</h2><div><ol><li>Spaghetti- portion smaller than i expected 4 jumbo shrimps that tasted very shrimpy, had an ocean water taste like it was not rinsed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3179">Next</a></li>
</ul>