<% provide :title, 'Opinion Target 5639' %><h2>lettuce refills<br />occurrence: 1</h2><div><ol><li>I do n't know if there 's a cap on banchan refills, but the cap on lettuce refills is one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5640">Next</a></li>
</ul>