<% provide :title, 'Opinion Target 5161' %><h2>deep fried appetizers like chicken wings<br />occurrence: 1</h2><div><ol><li>I saw a lot of tables ordering their deep fried appetizers like chicken wings and pork chop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5162">Next</a></li>
</ul>