<% provide :title, 'Opinion Target 6789' %><h2>pork loin<br />occurrence: 1</h2><div><ol><li>For the entree, my pork loin is very tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6790">Next</a></li>
</ul>