<% provide :title, 'Opinion Target 3300' %><h2>Hungarian salami sandwich<br />occurrence: 1</h2><div><ol><li>Great chicken sandwich and because I skipped lunch I bought a Hungarian salami sandwich ( I Mean you 're not going t buy Genoa salami at a Hungarian joint right ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3301">Next</a></li>
</ul>