<% provide :title, 'Opinion Target 753' %><h2>courses<br />occurrence: 5</h2><div><ol><li>4) Our main courses were delicious and the pasta was cooked well.</li><li>It tastes like powdered water!:/ I hope they improve their drinks next time! $ 25 summerlicious menu-4 courses I was here this past weekend for a birthday dinner.</li><li>Main courses: Wraps ....</li><li>Main courses are not tasty.</li><li>Soup had zero flavour Main courses were very bland, no discernible taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_754">Next</a></li>
</ul>