<% provide :title, 'Opinion Target 5069' %><h2>pasta with tomato and minced meat ragu<br />occurrence: 1</h2><div><ol><li>We tried the fried calamari to start, the mushroom risotto, and the cavateli bolognese which is a short pasta with tomato and minced meat ragu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5070">Next</a></li>
</ul>