<% provide :title, 'Opinion Target 8805' %><h2>dim sum meal<br />occurrence: 1</h2><div><ol><li>Verdict: Great introductory dim sum meal for those new to it, good if you are in the area ( within 10 minute drive), but you have much more options if you drive an extra 15-20 minutes east or north.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8804">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8806">Next</a></li>
</ul>