<% provide :title, 'Opinion Target 8574' %><h2>bill process<br />occurrence: 1</h2><div><ol><li>The bill process took a long time and when I asked about the tip I was ignored ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8573">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8575">Next</a></li>
</ul>