<% provide :title, 'Opinion Target 2658' %><h2>crust style pizza<br />occurrence: 1</h2><div><ol><li>The pizza is cooked in a brick oven and is more of a thin crust style pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2657">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2659">Next</a></li>
</ul>