<% provide :title, 'Opinion Target 6616' %><h2>toast with condensed milk<br />occurrence: 1</h2><div><ol><li>Try the snacks like squid balls, thick toast with condensed milk, or try the meals like beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6617">Next</a></li>
</ul>