<% provide :title, 'Opinion Target 3244' %><h2>chocolate waffle<br />occurrence: 1</h2><div><ol><li>And finally for dessert, that chocolate waffle was so, so, SO, yum.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3245">Next</a></li>
</ul>