<% provide :title, 'Opinion Target 6354' %><h2>pizza pockets<br />occurrence: 1</h2><div><ol><li>I also had their pizza pockets ( I forget what they 're called-stromboli or something ?), and together with a side of salad, make for a tasty, and even reasonably-healthy meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6355">Next</a></li>
</ul>