<% provide :title, 'Opinion Target 849' %><h2>sashimi slices<br />occurrence: 4</h2><div><ol><li>Although they were n't a sushi restaurant, the way they cut the sashimi slices were impressive, especially red snapper.</li><li>Other sashimi were sliced in typical sashimi slices like at regular sushi restaurants.</li><li>The sashimi slices are nice and thick while the standard hot items like steak teriyaki, salmon teriyaki, and grilled beef ribs are done nicely.</li><li>The sashimi slices we on the chinsey size, but towards the generous end of the chinsey side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_850">Next</a></li>
</ul>