<% provide :title, 'Opinion Target 6535' %><h2>sauteed snow pea shoots<br />occurrence: 1</h2><div><ol><li>The sauteed snow pea shoots ( dow mui) was really good, but a simple dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6536">Next</a></li>
</ul>