<% provide :title, 'Opinion Target 2069' %><h2>brie cheese<br />occurrence: 2</h2><div><ol><li>My sister got the Jump Fried Black Tiger Shrimp and Escargot on grilled eggplant, panchetta, and brie cheese, with a Riesling tomato-basil sauce.</li><li>The taste was strong and pungent and the cheese was all melted not the creamy gooey brie cheese kind of melted but more like melted butter all runny.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2070">Next</a></li>
</ul>