<% provide :title, 'Opinion Target 7372' %><h2>puff pastry By puff pastry<br />occurrence: 1</h2><div><ol><li>Just ordinary normal smoked salmon. b) Soup- Lobster bisque w/ puff pastry By puff pastry, they mean a random block of phyllo puff on your soup just randomly floating around.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7373">Next</a></li>
</ul>