<% provide :title, 'Opinion Target 5029' %><h2>mussel appetizer<br />occurrence: 1</h2><div><ol><li>( I took my moms soup since I only ordered an appetizer) BUT to my suprise, the mussel appetizer was HUGE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5028">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5030">Next</a></li>
</ul>