<% provide :title, 'Opinion Target 1265' %><h2>balls<br />occurrence: 3</h2><div><ol><li>Those little fried up veggie balls were PROPER FAM! liked it!</li><li>You select your meat and veggies and they also have a cooked buffet that contains chicken balls, shrimp, desserts, soups, and a variety of other delicious items.</li><li>For dessert try their mango lassi and fried sweet balls ( gulab jamun).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1266">Next</a></li>
</ul>