<% provide :title, 'Opinion Target 5999' %><h2>oil splatters<br />occurrence: 1</h2><div><ol><li>It was relatively modern looking and fairly clean ... until I noticed cob webs at the corner and oil splatters on the wall.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6000">Next</a></li>
</ul>