<% provide :title, 'Opinion Target 2833' %><h2>Chicken BREAST Shish Kebabs with steamed vegetables with Lentil Chicken soup for starters<br />occurrence: 1</h2><div><ol><li>Last time I was there I ordered the Chicken BREAST Shish Kebabs with steamed vegetables with Lentil Chicken soup for starters.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2834">Next</a></li>
</ul>