<% provide :title, 'Opinion Target 6688' %><h2>beef & glass noodles<br />occurrence: 1</h2><div><ol><li>Came here for lunch and got the beef &amp; glass noodles, which came with a bowl of rice ( $ 8.95).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6687">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6689">Next</a></li>
</ul>