<% provide :title, 'Opinion Target 7162' %><h2>bone-in ribeye steak<br />occurrence: 1</h2><div><ol><li>My friend had the bone-in ribeye steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7163">Next</a></li>
</ul>