<% provide :title, 'Opinion Target 846' %><h2>lamb dish<br />occurrence: 4</h2><div><ol><li>My friend ordered a lamb dish and he said it was really good.</li><li>My boyfriend had the lamb dish and when it arrived, there was three slices of what I would assume is lamb covered in gravy.</li><li>Every lamb dish here is delicious, and why would you order anything else ?</li><li>I ordered a lamb dish with noodles and it was terrible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_847">Next</a></li>
</ul>