<% provide :title, 'Opinion Target 3398' %><h2>Hot Pot Japchae Dupbap and Mung Bean Pancakes<br />occurrence: 1</h2><div><ol><li>I got the Hot Pot Japchae Dupbap and Mung Bean Pancakes, which were both very good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3399">Next</a></li>
</ul>