<% provide :title, 'Opinion Target 1889' %><h2>bar stools<br />occurrence: 2</h2><div><ol><li>Pros: huge bowls ( beef noodle soup $ 9.99, cold noodles $ 6.99- medium size but filling), handmade noodles in North York, a good size menu Cons: tiny shop ( has 4 2-person seats and bar stools for 5-ppl, even though it 's handmade it 's not as chewy as I 'd like I like this place because it 's not easy to find handmade Chinese noodles in the Yonge/finch-to-Shep area.</li><li>Wimpy 's diner has all the elements of a diner, the bar stools, booths, and even the old school jukeboxes on each table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1890">Next</a></li>
</ul>