<% provide :title, 'Opinion Target 3112' %><h2>milk shaved ice mixed<br />occurrence: 1</h2><div><ol><li>The melted chocolate icecream and the milk shaved ice mixed well together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3111">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3113">Next</a></li>
</ul>