<% provide :title, 'Opinion Target 5850' %><h2>vanilla sponge cake<br />occurrence: 1</h2><div><ol><li>However I just strongly dislike the vanilla sponge cake !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5849">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5851">Next</a></li>
</ul>