<% provide :title, 'Opinion Target 5497' %><h2>milk tea with grass jelly drink<br />occurrence: 1</h2><div><ol><li>I do n't think I would ever say it since there are so many bbt/ boba tea places around the gta BUT this place has a pretty good and different original milk tea with grass jelly drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5498">Next</a></li>
</ul>