<% provide :title, 'Opinion Target 7200' %><h2>Price point<br />occurrence: 1</h2><div><ol><li>Price point is pretty much the same as everything else in the area ( although if you think about how much more banchan you 're getting, it really does provide more bang for your buck).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7201">Next</a></li>
</ul>