<% provide :title, 'Opinion Target 1948' %><h2>beef broth<br />occurrence: 2</h2><div><ol><li>Special beef noodle soup is always my go to- you can even drink the beef broth.</li><li>Little or no MSG in my opinion since I do n't get thirsty after drink the beef broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1949">Next</a></li>
</ul>