<% provide :title, 'Opinion Target 7244' %><h2>fried chicken combo menus<br />occurrence: 1</h2><div><ol><li>Korean fried chicken is made for beer and soju- something I 've learned from reading their reasonably priced soju/beer + fried chicken combo menus that cost roughly $ 28.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7245">Next</a></li>
</ul>