<% provide :title, 'Opinion Target 4591' %><h2>Vancouver crabs<br />occurrence: 1</h2><div><ol><li>They have a Live fish tank, so you can order fish, Vancouver crabs, lobsters and usually some type of clams or scallops or whatever they have in the tank, and specify how you like it cooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4592">Next</a></li>
</ul>