<% provide :title, 'Opinion Target 3394' %><h2>deep fried pita chips<br />occurrence: 1</h2><div><ol><li>We liked the deep fried pita chips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3395">Next</a></li>
</ul>