<% provide :title, 'Opinion Target 7029' %><h2>price per pasta dish<br />occurrence: 1</h2><div><ol><li>The price per pasta dish was about $ 14 to $ 17 which is only a couple of bucks less than a high quality restaurant like Santos and Novita.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7028">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7030">Next</a></li>
</ul>