<% provide :title, 'Opinion Target 4372' %><h2>vegetarian sushi pizza<br />occurrence: 1</h2><div><ol><li>Their vegetarian sushi pizza is to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4373">Next</a></li>
</ul>