<% provide :title, 'Opinion Target 2237' %><h2>chicken chunks<br />occurrence: 2</h2><div><ol><li>The chicken chunks are tender pieces of dark meat, while the cabbage is softened by the sauce and heat.</li><li>Ordered two of the lunch specials ( available from 12-4pm) soon tofu is always good here, and the Korean fried rice with chicken is really good too with the chicken chunks really tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2238">Next</a></li>
</ul>