<% provide :title, 'Opinion Target 7868' %><h2>beef and egg<br />occurrence: 1</h2><div><ol><li>The beef and egg were separated and sat nicely on the bed of rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7869">Next</a></li>
</ul>