<% provide :title, 'Opinion Target 7872' %><h2>Spicy Salmon Roll 6 pcs<br />occurrence: 1</h2><div><ol><li>After ordering the `` favourites tray'' which consists of Salmon sushi 4 pcs, red Dragon Roll 6 pcs, Green Dragon Roll 6 pcs, Spicy Salmon Roll 6 pcs, spicy Tuna roll 6 pcs, California Roll 6 pcs ... 34pcs $ 36 Yes it 's cheap but only if u want fish bone in your roll!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7871">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7873">Next</a></li>
</ul>