<% provide :title, 'Opinion Target 6458' %><h2>skins<br />occurrence: 1</h2><div><ol><li>The skins were thin, the meat was flavourful, they were served hot- all the basics were covered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6457">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6459">Next</a></li>
</ul>