<% provide :title, 'Opinion Target 3133' %><h2>: Spicy tuna roll<br />occurrence: 1</h2><div><ol><li>Favorite: Spicy tuna roll and the mackerel sashimi;).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3132">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3134">Next</a></li>
</ul>