<% provide :title, 'Opinion Target 2482' %><h2>futomaki roll<br />occurrence: 1</h2><div><ol><li>I was n't too hungry so I just got a futomaki roll, but even for this simple roll it was one of the best I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2483">Next</a></li>
</ul>