<% provide :title, 'Opinion Target 2963' %><h2>Japanese Crab Fried Rice<br />occurrence: 1</h2><div><ol><li>Some memorable ones was the Thai Spicy Noodle, Japanese Crab Fried Rice, Fried Squid ( a little over cooked), Sizzling Plat Kalbi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2962">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2964">Next</a></li>
</ul>