<% provide :title, 'Opinion Target 6148' %><h2>rice and chicken wings<br />occurrence: 1</h2><div><ol><li>Try the $ 2 rice and chicken wings ( you get two wings with fried rice) Honestly some of the best Chinese food I have had and all for $ 5.19 per portion ( HUGE portion !!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6149">Next</a></li>
</ul>