<% provide :title, 'Opinion Target 5259' %><h2>prociutto<br />occurrence: 1</h2><div><ol><li>The prociutto was fresh and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5260">Next</a></li>
</ul>