<% provide :title, 'Opinion Target 6636' %><h2>ban chan refills<br />occurrence: 1</h2><div><ol><li>The one factor that they could improve upon is the ban chan refills.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6637">Next</a></li>
</ul>