<% provide :title, 'Opinion Target 2299' %><h2>gamjatang ( pork bone soup<br />occurrence: 2</h2><div><ol><li>The gamjatang ( pork bone soup) and beef short ribs soup ( galbitang) are delicious, and the number of side dishes is very generous ( usually 8 to 10 plus a pancake).</li><li>Yesterday, I tried the Gamjatang ( Pork Bone Soup) for the first time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2298">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2300">Next</a></li>
</ul>