<% provide :title, 'Opinion Target 5783' %><h2>Sticky mango rice<br />occurrence: 1</h2><div><ol><li>Sticky mango rice was a great way to finish the meal even for someone like me who does n't like sweets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5784">Next</a></li>
</ul>