<% provide :title, 'Opinion Target 3223' %><h2>balls of butter<br />occurrence: 1</h2><div><ol><li>This is served with a trio of jams including: marmalade, raspberry and strawberry, perfect with the mini balls of butter that also come with.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3224">Next</a></li>
</ul>