<% provide :title, 'Opinion Target 6209' %><h2>dolsot bap<br />occurrence: 1</h2><div><ol><li>Had the dwen-jang sundubu chigae, with tons of gochu- and of course the dolsot bap --- mmmmm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6208">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6210">Next</a></li>
</ul>