<% provide :title, 'Opinion Target 5128' %><h2>avocado salad with candied pecans<br />occurrence: 1</h2><div><ol><li>So I ordered the spinach and avocado salad with candied pecans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5127">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5129">Next</a></li>
</ul>