<% provide :title, 'Opinion Target 8096' %><h2>veggies of choice<br />occurrence: 1</h2><div><ol><li>The platter also comes with 2 veggies of choice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8097">Next</a></li>
</ul>