<% provide :title, 'Opinion Target 2664' %><h2>toast with cheese<br />occurrence: 1</h2><div><ol><li>The crostini with chevre and mushrooms might as well have been toast with cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2665">Next</a></li>
</ul>