<% provide :title, 'Opinion Target 7713' %><h2>pork cutlet baked with egg<br />occurrence: 1</h2><div><ol><li>I 'm a big fan of Katsu Don ( basically a rice bowl with a pork cutlet baked with egg and onion- sounds simple, but when done right, it 's a little bowl of comforting nirvana!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7714">Next</a></li>
</ul>