<% provide :title, 'Opinion Target 1684' %><h2>Seafood noodles<br />occurrence: 2</h2><div><ol><li>Seafood noodles did n't have much content, vegetarian spring rolls were good but a little on the expensive side.</li><li>Likewise for the crispy seafood noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1683">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1685">Next</a></li>
</ul>