<% provide :title, 'Opinion Target 2150' %><h2>bacons<br />occurrence: 2</h2><div><ol><li>They also have a big selection of porky items: sausages, bacons, smoked meats, etc.</li><li>Food- 5/5 Service- take out but 5/5 Ambiance- 2/5 Price to value ratio: 4.5/5. soft bread, crispy bacons, shredded crispy lettuce, huge size .. very good price, for such a nice sandwich, turkey bacon is my favorite, it going to be a regular lunch place for me for sure!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2151">Next</a></li>
</ul>