<% provide :title, 'Opinion Target 5460' %><h2>take-out menu<br />occurrence: 1</h2><div><ol><li>Little did we know that the take-out menu was more extensive and had more authentic dishes !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5461">Next</a></li>
</ul>