<% provide :title, 'Opinion Target 4694' %><h2>lichon kawali<br />occurrence: 1</h2><div><ol><li>We got the lichon kawali, which was deliciously crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4693">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4695">Next</a></li>
</ul>