<% provide :title, 'Opinion Target 2773' %><h2>infamous Korean Ginseng Chicken soup<br />occurrence: 1</h2><div><ol><li>The infamous Korean Ginseng Chicken soup is very light in flavour with only the slightest hint of ginseng.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2772">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2774">Next</a></li>
</ul>