<% provide :title, 'Opinion Target 5916' %><h2>cappucino almond and creme brulee<br />occurrence: 1</h2><div><ol><li>I switched out my ice cream for the cappucino almond and creme brulee- cappucino almond won hands down!** Interesting fact: they make their own ice cream** Bf ordered the brownie crepe which tasted equally as delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5915">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5917">Next</a></li>
</ul>