<% provide :title, 'Opinion Target 3531' %><h2>kimchi jighae<br />occurrence: 1</h2><div><ol><li>The kimchi tofu soup was ok, definitely not the best kimchi jighae I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3532">Next</a></li>
</ul>