<% provide :title, 'Opinion Target 2224' %><h2>sago pearls<br />occurrence: 1</h2><div><ol><li>The sago pearls were n't cooked long enough in my opinion ... still too much chew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2225">Next</a></li>
</ul>