<% provide :title, 'Opinion Target 4448' %><h2>kamponggi<br />occurrence: 1</h2><div><ol><li>The kamponggi was also soggy beneath all the sauce ... usually it 's crispy, even with the sauce on top of it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4447">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4449">Next</a></li>
</ul>