<% provide :title, 'Opinion Target 1876' %><h2>mango lassi<br />occurrence: 2</h2><div><ol><li>Note: if you have never tried a mango lassi you are missing out!</li><li>For dessert try their mango lassi and fried sweet balls ( gulab jamun).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1877">Next</a></li>
</ul>