<% provide :title, 'Opinion Target 7736' %><h2>lobster fantasy<br />occurrence: 1</h2><div><ol><li>What we ordered: Golden spider roll, Volcano roll, Lobster fantasy roll, Las Vegas roll The volcano and lobster fantasy were probably my favorite ones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7735">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7737">Next</a></li>
</ul>