<% provide :title, 'Opinion Target 1382' %><h2>hollandaise<br />occurrence: 3</h2><div><ol><li>The Neptune Chicken with hollandaise was disappointung, as it was cooked too much, and the hollandaise was not good, separating and the fries were frozen.</li><li>Replacing the peameal bacon with the regular streaky type came at no extra cost, but the hollandaise costs an extra $ 1.99 served in one of those small metal cups that often holds melted butter for lobsters.</li><li>The eggs were done perfectly and the hollandaise was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1383">Next</a></li>
</ul>