<% provide :title, 'Opinion Target 8109' %><h2>pasta sample<br />occurrence: 1</h2><div><ol><li>And by `` experience'' I mean my taste-buds being obliterated by the pastry samples offered to me followed by a fresh pasta sample.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8110">Next</a></li>
</ul>