<% provide :title, 'Opinion Target 7050' %><h2>pan fried chicken dumplings<br />occurrence: 1</h2><div><ol><li>The menu looks shorter than the Harbor front location but they are good enough to include everything I like ~ Owner reads my mind I love the pan fried chicken dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7049">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7051">Next</a></li>
</ul>