<% provide :title, 'Opinion Target 3654' %><h2>' chicken ' sauce on top<br />occurrence: 1</h2><div><ol><li>My friend got the Eggplant Roti, with the ' chicken' sauce on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3655">Next</a></li>
</ul>