<% provide :title, 'Opinion Target 1450' %><h2>tomato<br />occurrence: 3</h2><div><ol><li>The tomato was even microwaved.</li><li>The sandwich felt very wholesome with their unique Calabrese artisan bread, packed with baby spinach, cheese, tomato, pancetta ( Italian bacon, woo!), locally sourced fresh grilled chicken ( !!) and a kick from the salsa verde aioli.</li><li>The tomato is just done to retain the juice but not watery.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1451">Next</a></li>
</ul>