<% provide :title, 'Opinion Target 7462' %><h2>crepe place<br />occurrence: 1</h2><div><ol><li>Hands down the best crepe place !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7463">Next</a></li>
</ul>