<% provide :title, 'Opinion Target 1636' %><h2>deep fried stuff<br />occurrence: 2</h2><div><ol><li>Some of the deep fried stuff are just average though, such as the thousand island shrimps that some reviews mentioned.</li><li>They also have the standard pre-cooked appetizers-spring rolls, dumplings, some salads, deep fried stuff, etc-nothing special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1637">Next</a></li>
</ul>