<% provide :title, 'Opinion Target 4082' %><h2>outdoor patios<br />occurrence: 1</h2><div><ol><li>GREAT place .... the ideal local tavern ... yet more than a tavern ... food is fabulous ... decor is nice ... great outdoor patios in nice weather ... a big improvement over the original `` Jolly Miller'' !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4081">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4083">Next</a></li>
</ul>