<% provide :title, 'Opinion Target 5249' %><h2>Dark wood square tables<br />occurrence: 1</h2><div><ol><li>Dark wood square tables and chairs, two ceiling fans, a back counter, and simple white walls, and that 's pretty much all there is to it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5248">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5250">Next</a></li>
</ul>