<% provide :title, 'Opinion Target 6304' %><h2>chicken wing<br />occurrence: 1</h2><div><ol><li>Oh baby- I was ready to get my chicken wing on; then I took a bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6305">Next</a></li>
</ul>