<% provide :title, 'Opinion Target 1181' %><h2>chai latte<br />occurrence: 3</h2><div><ol><li>My favourite is the chai latte here.</li><li>I 've only tried their chai latte once and did n't really enjoy it but I 'll definitely be trying more drinks in the future.</li><li>The chai latte I ended up getting was ... interesting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1180">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1182">Next</a></li>
</ul>