<% provide :title, 'Opinion Target 974' %><h2>chasu<br />occurrence: 4</h2><div><ol><li>It comes with slices of tender chasu, marinated egg, and some veggie.</li><li>King of Kings ( $ 9.95) had a Spice Broth with 4 Yummy Chasu, some Dried Seaweed, Tasty Marinaded Egg, Marinaded Bamboo Shoots, Fish Cake Slice and what I would like to call Manchu Wok style Chop Suey underneath intertwined with the Ramen Noodles.</li><li>Love the grilled marks on the tender chasu.</li><li>The best part is probably their chasu, which seems to be freshly grilled to perfection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_973">Previous</a></li>
  <li class="next"><a href=".\opinion_target_975">Next</a></li>
</ul>