<% provide :title, 'Opinion Target 2401' %><h2>soybean<br />occurrence: 2</h2><div><ol><li>= P We order a simple soybean soon tofu ( white) and a combination ( extra spicy).</li><li>It 's a tough verdict as I believe the soybean soon tofu would have been a good choice, but the girlfriend ca n't handle anything really spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2402">Next</a></li>
</ul>