<% provide :title, 'Opinion Target 3202' %><h2>plantation bananas<br />occurrence: 1</h2><div><ol><li>Not a fan of the noodles or the rice but the veggies and plantation bananas are all right I guess ( I 'm a carnivore to the core so if it is n't meat it 's a distraction anyway).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3201">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3203">Next</a></li>
</ul>