<% provide :title, 'Opinion Target 1732' %><h2>beef bone soup<br />occurrence: 2</h2><div><ol><li>There was n't as many crunchy bits at the bottom of the stone bowl, however, probably one of the better bibimbaps I 've had in the GTA so far 3/5 Tip: do n't shy from using that big tub of salt on the table- you will have to season some dishes yourself ( ie: beef bone soup) Looking forward to coming back to try the other menu items.</li><li>If you have had enough of the Beef bone soup try this one, so tasty ( you might just have to order two!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1733">Next</a></li>
</ul>