<% provide :title, 'Opinion Target 4295' %><h2>channa<br />occurrence: 1</h2><div><ol><li>I have tried many places for breakfast but the channa here reminds me of childhood in Karachi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4296">Next</a></li>
</ul>