<% provide :title, 'Opinion Target 3853' %><h2>cons<br />occurrence: 1</h2><div><ol><li>Compare to 168 the cons would be:- not as much variation of food, but they do have a lot- parking is a bit tougher- no ipad ordering- not as big dining space.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3854">Next</a></li>
</ul>