<% provide :title, 'Opinion Target 8706' %><h2>Yang grilled chicken<br />occurrence: 1</h2><div><ol><li>On the one hand they make a really excellent North American style pad thai that is Saucy and delicious, and their Gai Yang grilled chicken is a great example of the dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8707">Next</a></li>
</ul>