<% provide :title, 'Opinion Target 7138' %><h2>Grana Padano<br />occurrence: 1</h2><div><ol><li>Had the Lasagna Bolognese- Layered with Bolognese Sauce, Béchamel, Grana Padano, Pomodoro and Basil I was not impressed, and was actually disappointed considering the 4-star rating.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7137">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7139">Next</a></li>
</ul>