<% provide :title, 'Opinion Target 2192' %><h2>katsu sauce<br />occurrence: 1</h2><div><ol><li>I also like how they give you the katsu sauce on the side so you can use as much as you like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2193">Next</a></li>
</ul>