<% provide :title, 'Opinion Target 2432' %><h2>Veal parmigian sandwich<br />occurrence: 2</h2><div><ol><li>Simply the best Veal parmigian sandwich.</li><li>I feel sorry for the people that go to Subway or Wendy 's in the same plaza, they have no idea what they 're missing out on. i say keep it dank, keep it old looking, but keep it comin ' ...... never had a better veal parmigian sandwich anywhere!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2433">Next</a></li>
</ul>