<% provide :title, 'Opinion Target 8397' %><h2>Shanghai dumplings<br />occurrence: 1</h2><div><ol><li>One item that is almost a must when you come to AL are the Shanghai dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8398">Next</a></li>
</ul>