<% provide :title, 'Opinion Target 7648' %><h2>vanilla smoothie<br />occurrence: 1</h2><div><ol><li>The root beer and vanilla smoothie was okay, nothing to really talk about as I 've had it a few times in my life.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7649">Next</a></li>
</ul>