<% provide :title, 'Opinion Target 1332' %><h2>looks<br />occurrence: 2</h2><div><ol><li>It looks pretty nice, now.</li><li>The inside looks fairly nice, and cozy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1333">Next</a></li>
</ul>