<% provide :title, 'Opinion Target 3690' %><h2>eggplant & zucchini sandwich<br />occurrence: 1</h2><div><ol><li>I really enjoyed the eggplant &amp; zucchini sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3691">Next</a></li>
</ul>