<% provide :title, 'Opinion Target 5026' %><h2>water pitchers<br />occurrence: 1</h2><div><ol><li>The water pitchers are cheap plastic ones, likely a dollar store purchase and the ramekin in which the dressing for my salad was provided in was certainly from a dollar store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5027">Next</a></li>
</ul>