<% provide :title, 'Opinion Target 1028' %><h2>tuna rolls<br />occurrence: 3</h2><div><ol><li>I sat by the sushi bar, and I noticed that there is a huge plate of spicy salmon and tuna rolls just sitting there, god knows how many hours ago they were made.</li><li>I 've had the spicy salmon and spicy tuna rolls as well as the dynamite roll and salmon sushi.</li><li>The tuna sushi was great but the tuna rolls were a bit meh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1029">Next</a></li>
</ul>