<% provide :title, 'Opinion Target 6728' %><h2>broth options<br />occurrence: 1</h2><div><ol><li>The broth options are good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6729">Next</a></li>
</ul>