<% provide :title, 'Opinion Target 1742' %><h2>beef noodle dish<br />occurrence: 2</h2><div><ol><li>We all loved this flavorful vermucielli beef noodle dish.</li><li>My significant other ordered the spicy beef noodle dish, which for the life of me I ca n't remember the name, which was rather filling and did not come across to me as an expensive can of store bought pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1743">Next</a></li>
</ul>