<% provide :title, 'Opinion Target 6251' %><h2>bagel twisters<br />occurrence: 1</h2><div><ol><li>I recommend trying the bigger bagel twisters if you 're hungry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6250">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6252">Next</a></li>
</ul>