<% provide :title, 'Opinion Target 4810' %><h2>fried lamb<br />occurrence: 1</h2><div><ol><li>The fried lamb was a bit too tough for my taste, but still, all in all, I have n't found lamb this good on this side of the Pacific.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4811">Next</a></li>
</ul>