<% provide :title, 'Opinion Target 3871' %><h2>Pho Dac Biet ( Special Pho<br />occurrence: 1</h2><div><ol><li>My parents had #42 Pho Dac Biet ( Special Pho, which contained rare beef, well done beef flank, brisket, soft tendons, tripe and meat balls).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3872">Next</a></li>
</ul>