<% provide :title, 'Opinion Target 5525' %><h2>veal Oso Bucco<br />occurrence: 1</h2><div><ol><li>The meatball sandwich and veal Oso Bucco are also excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5524">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5526">Next</a></li>
</ul>