<% provide :title, 'Opinion Target 6195' %><h2>salsa hot sauce<br />occurrence: 1</h2><div><ol><li>I love their cheese empanadas with a little homemade salsa hot sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6196">Next</a></li>
</ul>