<% provide :title, 'Opinion Target 7137' %><h2>Lasagna Bolognese<br />occurrence: 1</h2><div><ol><li>Had the Lasagna Bolognese- Layered with Bolognese Sauce, Béchamel, Grana Padano, Pomodoro and Basil I was not impressed, and was actually disappointed considering the 4-star rating.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7138">Next</a></li>
</ul>