<% provide :title, 'Opinion Target 5665' %><h2>mixed grilled vegetables<br />occurrence: 1</h2><div><ol><li>I also order the mixed grilled vegetables as an appetizer, and request zucchini with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5666">Next</a></li>
</ul>