<% provide :title, 'Opinion Target 6384' %><h2>portion of oxtail stew<br />occurrence: 1</h2><div><ol><li>Good serving of rice and a very generous portion of oxtail stew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6385">Next</a></li>
</ul>