<% provide :title, 'Opinion Target 1207' %><h2>tempura shrimp<br />occurrence: 3</h2><div><ol><li>The tempura shrimp was tasteless.</li><li>The soup was awful, the beef was okay just not much flavor, The tempura shrimp were good and the Cali sushi that came with it was simple like grocery store simple in taste.</li><li>The tempura shrimp is exactly as indicated: shrimp in size.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1208">Next</a></li>
</ul>