<% provide :title, 'Opinion Target 1386' %><h2>lunch price<br />occurrence: 2</h2><div><ol><li>Personally I feel that the lunch price is more worth it ( $ 15 weekdays, $ 16 weekends), compared to the $ 10 premium for dinners.</li><li>Note the special is part of the menu, hence is really the lunch price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1387">Next</a></li>
</ul>