<% provide :title, 'Opinion Target 4024' %><h2>grilled veal chop with butter<br />occurrence: 1</h2><div><ol><li>For mains, the nodino di vitello alla salvia, or grilled veal chop with butter and sage, was a hefty, thick slab of beautifully-flavoured meat ( unfortunately, slightly underdone and needing a second encounter with the grill) nestled atop sweet potato puree and grilled zucchini and red peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4025">Next</a></li>
</ul>