<% provide :title, 'Opinion Target 4328' %><h2>iced matcha tea<br />occurrence: 1</h2><div><ol><li>Love the iced matcha tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4327">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4329">Next</a></li>
</ul>