<% provide :title, 'Opinion Target 3506' %><h2>bean spouts<br />occurrence: 1</h2><div><ol><li>The best ones are FISH CAKE, bean spouts, and mung bean jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3505">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3507">Next</a></li>
</ul>