<% provide :title, 'Opinion Target 5985' %><h2>smoked meats<br />occurrence: 1</h2><div><ol><li>They also have a big selection of porky items: sausages, bacons, smoked meats, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5986">Next</a></li>
</ul>