<% provide :title, 'Opinion Target 2659' %><h2>gorgonzola pizza<br />occurrence: 1</h2><div><ol><li>The gorgonzola pizza is very delicious and it actually has pears and walnuts on it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2660">Next</a></li>
</ul>