<% provide :title, 'Opinion Target 845' %><h2>tzatziki sauce<br />occurrence: 4</h2><div><ol><li>You can choose from hummus, hot sauce, tzatziki sauce or tahini sauce.</li><li>Big hunks of extremely flavourful chicken, tasty rice, a pita and tzatziki sauce.</li><li>- They put a ton of meat on his gyro sub -- he found it all delicious- He asked for mayo too, but the guy wisely told him to stick with just the tzatziki sauce that comes on that sub ... my friend took that advice and did n't regret it!</li><li>No sub sauce, no mayo ... just the tzatziki sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_846">Next</a></li>
</ul>