<% provide :title, 'Opinion Target 2124' %><h2>Chinese chicken caeser salad<br />occurrence: 1</h2><div><ol><li>The best is Chinese chicken caeser salad ( mix), the Greek seafood salad is also pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2125">Next</a></li>
</ul>