<% provide :title, 'Opinion Target 2029' %><h2>patio space<br />occurrence: 2</h2><div><ol><li>There 's a huge BBQ and a patio space at the rear entrance which is not used .. ever.</li><li>I like the patio space and the ambiance.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2028">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2030">Next</a></li>
</ul>