<% provide :title, 'Opinion Target 6548' %><h2>salad plates<br />occurrence: 1</h2><div><ol><li>And the salad plates are quite funky.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6549">Next</a></li>
</ul>