<% provide :title, 'Opinion Target 7937' %><h2>FOOD Banchan<br />occurrence: 1</h2><div><ol><li>FOOD Banchan- they had a great variety to choose from and had pickled radishes which I devoured.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7936">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7938">Next</a></li>
</ul>