<% provide :title, 'Opinion Target 4839' %><h2>garlic flavours<br />occurrence: 1</h2><div><ol><li>The beef was tender with sweet and garlic flavours which gave the dish a nice balance.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4840">Next</a></li>
</ul>