<% provide :title, 'Opinion Target 2634' %><h2>pho beef stew<br />occurrence: 1</h2><div><ol><li>The menu does n't have an extensive selection of meals as other Viet restaurants but they do have the basics of spring rolls, pho ( beef and chicken), pho beef stew, rice and noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2635">Next</a></li>
</ul>