<% provide :title, 'Opinion Target 6212' %><h2>baba ghanoush flavour<br />occurrence: 1</h2><div><ol><li>I am frankly quite surprised at the several low star reviews present, as the criticisms they mention ( falafels freshness, baba ghanoush flavour) as lacking was not at all my experience- to the contrary in fact.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6213">Next</a></li>
</ul>