<% provide :title, 'Opinion Target 6347' %><h2>lobster cutters<br />occurrence: 1</h2><div><ol><li>Adding to what is becoming a bad dinner night, sauces for seafood and baked potato came in disposable ketchup cups that you see at McDonald 's; they said they ran out of those ' aprons' to cover your shirt when eating lobster; and they also happened to run out of lobster cutters as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6346">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6348">Next</a></li>
</ul>