<% provide :title, 'Opinion Target 4221' %><h2>restrooms<br />occurrence: 1</h2><div><ol><li>The restaurant looks nice and the restrooms were clean.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4220">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4222">Next</a></li>
</ul>