<% provide :title, 'Opinion Target 1136' %><h2>brownie crepe<br />occurrence: 4</h2><div><ol><li>My personal favourites are their smooth lattes and the brownie crepe.</li><li>My table also sampled brownie crepe, chicken, ham, and tropical fruit waffle.</li><li>I switched out my ice cream for the cappucino almond and creme brulee- cappucino almond won hands down!** Interesting fact: they make their own ice cream** Bf ordered the brownie crepe which tasted equally as delicious!</li><li>I had the brownie crepe but despite the name it did not have any actual brownies in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1137">Next</a></li>
</ul>