<% provide :title, 'Opinion Target 2473' %><h2>Pizza Hut<br />occurrence: 2</h2><div><ol><li>Worst Pizza Hut.</li><li>However, if you are craving pizza and lots of it, Pizza Hut is n't bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2474">Next</a></li>
</ul>