<% provide :title, 'Opinion Target 4376' %><h2>service counter<br />occurrence: 1</h2><div><ol><li>The service counter was kind of abrupt too, especially considering we were being helped by the assistant manager, so I was kind of expecting a bit more in the customer service area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4377">Next</a></li>
</ul>