<% provide :title, 'Opinion Target 2625' %><h2>meatball appetizer<br />occurrence: 1</h2><div><ol><li>The meatball appetizer is delicious and very filling!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2626">Next</a></li>
</ul>