<% provide :title, 'Opinion Target 6607' %><h2>plastic takeout cups<br />occurrence: 1</h2><div><ol><li>The place felt like a cafeteria and the drinks did not come in glass cups, but in plastic takeout cups.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6608">Next</a></li>
</ul>