<% provide :title, 'Opinion Target 4652' %><h2>mesclun lettuce with shaved Parmigiano and a white truffle vinagrette<br />occurrence: 1</h2><div><ol><li>The Asparagus and Portabello Salad was delicious, served on a bed of mesclun lettuce with shaved Parmigiano and a white truffle vinagrette.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4653">Next</a></li>
</ul>