<% provide :title, 'Opinion Target 1101' %><h2>sundried tomatoes<br />occurrence: 3</h2><div><ol><li>I also ordered their California burger with guacamole, bacon, sundried tomatoes, mayo and pepper jack cheese.</li><li>The flavor profile of this dish was great- a hint of bitterness from the arugula, freshness from the basil pesto and sweetness from the sundried tomatoes.</li><li>Did n't taste the other veges such as the onions as the sundried tomatoes were all I tasted ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1100">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1102">Next</a></li>
</ul>