<% provide :title, 'Opinion Target 6979' %><h2>cream cheese icing<br />occurrence: 1</h2><div><ol><li>My new favourite cake, cream cheese icing, cranberries in a carrot cake batter, and walnut crust.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6980">Next</a></li>
</ul>