<% provide :title, 'Opinion Target 2748' %><h2>Veal Tongue and Chicken Supreme<br />occurrence: 1</h2><div><ol><li>When confronted with getting either just veal tongue or the Veal Tongue and Chicken Supreme, I opted for the latter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2749">Next</a></li>
</ul>