<% provide :title, 'Opinion Target 5753' %><h2>Thai dessert sticky rice with mango and coconut milk<br />occurrence: 1</h2><div><ol><li>Traditional Thai dessert sticky rice with mango and coconut milk was delish, nice ending to a satisfying meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5754">Next</a></li>
</ul>