<% provide :title, 'Opinion Target 1943' %><h2>soy garlic chicken<br />occurrence: 2</h2><div><ol><li>I love their soy garlic chicken !!! the combination of soy and garlic does n't sound so appetizing, but it actually taste like dry honey garlic chicken with more flavors with out the sauce.</li><li>We ordered a combo of half chicken- Spicy fried chicken and soy garlic chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1944">Next</a></li>
</ul>