<% provide :title, 'Opinion Target 1912' %><h2>ragu sauce<br />occurrence: 2</h2><div><ol><li>My fiancé got the spicy sausage pizza and his brother got the penne in ragu sauce.</li><li>I had a taste of both- the ragu sauce was so tasty and the pizza dough was exactly the consistency I love- not too thick and chewy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1913">Next</a></li>
</ul>