<% provide :title, 'Opinion Target 3074' %><h2>ika<br />occurrence: 1</h2><div><ol><li>The food is fresh and I 'm glad they have my favourites- uni ( sea urchin), ika ( squid) and hotate ( scallop) in house most of the time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3075">Next</a></li>
</ul>