<% provide :title, 'Opinion Target 6750' %><h2>Tom Yom soup<br />occurrence: 1</h2><div><ol><li>The Tom Yom soup was overly sweet and lacking in any other flavours.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6751">Next</a></li>
</ul>