<% provide :title, 'Opinion Target 5287' %><h2>soup has coconut milk<br />occurrence: 1</h2><div><ol><li>The tom yum soup has coconut milk in it, which I am not a big fan of and if you 're the same, you can ask for it without coconut milk and they will do it for you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5288">Next</a></li>
</ul>