<% provide :title, 'Opinion Target 8515' %><h2>Wedges<br />occurrence: 1</h2><div><ol><li>The Wedges are great over here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8514">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8516">Next</a></li>
</ul>