<% provide :title, 'Opinion Target 4154' %><h2>table dishes<br />occurrence: 1</h2><div><ol><li>We are three ppl ordered a full table dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4153">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4155">Next</a></li>
</ul>