<% provide :title, 'Opinion Target 2135' %><h2>Thai iced tea<br />occurrence: 2</h2><div><ol><li>Do n't order their Thai iced tea.</li><li>Thai iced tea was n't the greatest either. after eating dinner at Linda, s modern thai last night, I would not refer anyone who like, s good thai food to go there.the food is plan, and the portions are very small, well the price, s are high. dinner with two dish, s and a small salad was around seventy five dollar, s.we had to pick up food on the way home as we were still not full.there are so many better thai place, s in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2136">Next</a></li>
</ul>