<% provide :title, 'Opinion Target 3060' %><h2>sashimi lovers<br />occurrence: 1</h2><div><ol><li>For sashimi lovers, I highly recommend the chirashi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3059">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3061">Next</a></li>
</ul>