<% provide :title, 'Opinion Target 3174' %><h2>chicken kebob platter<br />occurrence: 1</h2><div><ol><li>We also had the chicken kebob platter and the Sorentos special steak pizza as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3175">Next</a></li>
</ul>