<% provide :title, 'Opinion Target 5436' %><h2>eggs with peameal bacon and multigrain toast<br />occurrence: 1</h2><div><ol><li>Today I ordered scrambled eggs with peameal bacon and multigrain toast and mixed berries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5435">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5437">Next</a></li>
</ul>