<% provide :title, 'Opinion Target 4595' %><h2>seafood egg custard dish<br />occurrence: 1</h2><div><ol><li>For example, the seafood egg custard dish came in a steamer, and the vegetarian main that my friend had came atop a burner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4596">Next</a></li>
</ul>