<% provide :title, 'Opinion Target 4744' %><h2>corn beef sandwich<br />occurrence: 1</h2><div><ol><li>Best corn beef sandwich in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4745">Next</a></li>
</ul>