<% provide :title, 'Opinion Target 2657' %><h2>lamb pasta<br />occurrence: 1</h2><div><ol><li>The lamb pasta was so badly done, the dish was almost like a microwaved dinner; the meat was chewy, the pasta was disproportionately cold and hot, and the residual oil was overwhelming to my palette.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2658">Next</a></li>
</ul>