<% provide :title, 'Opinion Target 6219' %><h2>bulgogi soup and broiled beef<br />occurrence: 1</h2><div><ol><li>Not a huge fan of tofu soup but fall in love with this place after trying their bibimbab, bulgogi soup and broiled beef!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6220">Next</a></li>
</ul>