<% provide :title, 'Opinion Target 5178' %><h2>shrimp. surf clam<br />occurrence: 1</h2><div><ol><li>BK.- legit Chinese joint in a very odd neighborhood.- am consistently surprised to see this place full of chinese folks- which confirms the legit-ness- their house congee ( salmon, shrimp. surf clam, grouper, and other seafood) is a steal at 5.95 for a bowl that can serve at least 2 people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5179">Next</a></li>
</ul>