<% provide :title, 'Opinion Target 3634' %><h2>drinks menu<br />occurrence: 1</h2><div><ol><li>It 's not my first choice and it 's not gourmet by a long shot but the drinks menu is fun:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3635">Next</a></li>
</ul>