<% provide :title, 'Opinion Target 1587' %><h2>lemon<br />occurrence: 2</h2><div><ol><li>Beef Barley: it was a little bland, I 'd add Lil more salt &amp; pepper, coriander, Lil lemon and garlic.</li><li>My halibut did n't fall apart one bit after I added the lemon and malt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1588">Next</a></li>
</ul>