<% provide :title, 'Opinion Target 1507' %><h2>Matcha white chocolate<br />occurrence: 3</h2><div><ol><li>I opted for the green tea red bean crepe with a Matcha white chocolate.</li><li>I would order again the matcha white chocolate but probably try something else to eat next time.</li><li>Matcha white chocolate I found to be unique, sweet and flavourful ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1506">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1508">Next</a></li>
</ul>