<% provide :title, 'Opinion Target 6239' %><h2>baba<br />occurrence: 1</h2><div><ol><li>I never leave without food to take home- hummous, baba and tabouleh in summer ... lentil soup in winter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6240">Next</a></li>
</ul>