<% provide :title, 'Opinion Target 945' %><h2>grilled calamari<br />occurrence: 4</h2><div><ol><li>Or even the grilled calamari that they have at the regular Mr. Greeks.</li><li>You must try the grilled calamari.</li><li>As mentioned above, the grilled calamari is better than sex.</li><li>Grilled Calamari incredibly unappetizing ... arrives literally smothered in a salsa-like concoction of chopped tomato and other Impossible to discern green spices ... other dishes, less offensive ... but all uninspiring.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_944">Previous</a></li>
  <li class="next"><a href=".\opinion_target_946">Next</a></li>
</ul>