<% provide :title, 'Opinion Target 5693' %><h2>boneless bbq chicken<br />occurrence: 1</h2><div><ol><li>However, the boneless bbq chicken is decent and they have plenty of appetizers at the beginning to keep you eating while you wait for your food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5694">Next</a></li>
</ul>