<% provide :title, 'Opinion Target 7527' %><h2>Sapporo Miso Ramen<br />occurrence: 1</h2><div><ol><li>We ordered Sapporo Miso Ramen, tonkatsu lunch and gyoza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7528">Next</a></li>
</ul>