<% provide :title, 'Opinion Target 2946' %><h2>DJ booth<br />occurrence: 1</h2><div><ol><li>They even have a DJ booth at the elevated section spinning everything I hate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2947">Next</a></li>
</ul>