<% provide :title, 'Opinion Target 1361' %><h2>dark roast black<br />occurrence: 2</h2><div><ol><li>Friendly service with a smile, fresh coffee ( on my dark roast black), display full of selections of food.</li><li>Drinking the Dark Roast Black is not helping ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1362">Next</a></li>
</ul>