<% provide :title, 'Opinion Target 6867' %><h2>soy beef stew noodle ''<br />occurrence: 1</h2><div><ol><li>It has many more menu options than I expected- we opted for the `` pork jia-mo'' and a `` soy beef stew noodle''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6868">Next</a></li>
</ul>