<% provide :title, 'Opinion Target 8942' %><h2>sisig<br />occurrence: 1</h2><div><ol><li>The sisig was full of pig ears ( hubby would love this) but lacked spice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8943">Next</a></li>
</ul>