<% provide :title, 'Opinion Target 7925' %><h2>bugolgi<br />occurrence: 1</h2><div><ol><li>The bugolgi however, is n't all that great, stick with the soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7924">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7926">Next</a></li>
</ul>