<% provide :title, 'Opinion Target 6260' %><h2>japanese beef rice<br />occurrence: 1</h2><div><ol><li>The worst part was when we ordered the japanese beef rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6259">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6261">Next</a></li>
</ul>