<% provide :title, 'Opinion Target 2401' %><h2>deep fry tofu<br />occurrence: 1</h2><div><ol><li>Their agedashi tofu is just deep fry tofu with no sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2402">Next</a></li>
</ul>