<% provide :title, 'Opinion Target 3403' %><h2>grilled veggies sandwich<br />occurrence: 1</h2><div><ol><li>Love their chicken tenders and the grilled veggies sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3404">Next</a></li>
</ul>