<% provide :title, 'Opinion Target 7132' %><h2>pepper mills<br />occurrence: 1</h2><div><ol><li>They did not have fresh pepper mills &amp; when I asked the server reluctantly got a pepper mill from another table &amp; rushed us to take it back!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7133">Next</a></li>
</ul>