<% provide :title, 'Opinion Target 7161' %><h2>bread with cream cheese<br />occurrence: 1</h2><div><ol><li>We ordered the seafood platter for two. it came with some tiny oysters that looked old and some pieces of bread with cream cheese on top to put the smoked salmon on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7162">Next</a></li>
</ul>