<% provide :title, 'Opinion Target 1375' %><h2>mango pudding<br />occurrence: 3</h2><div><ol><li>I tried every single one ( yes, I was a pig- shush, I felt obligated to get my money 's worth) and the only one that was remotely ok was the mango pudding.</li><li>We had ice cream, tiramisu, mango pudding, mango sago, and cream custard ( which turned out to be just whipped cream lol).</li><li>For dessert, I got the mango pudding, and noticed it tasted funny.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1376">Next</a></li>
</ul>