<% provide :title, 'Opinion Target 1639' %><h2>pine nuts<br />occurrence: 2</h2><div><ol><li>The pine nuts added an interesting textural contrast.</li><li>When I make pesto at home, I usually blend the pine nuts into the sauce, but these were mixed in whole, so you could only taste them when you bit into one but there were n't enough in the dish to have one in every bite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1640">Next</a></li>
</ul>