<% provide :title, 'Opinion Target 1727' %><h2>seating space<br />occurrence: 2</h2><div><ol><li>The only flaw would be tight seating space and it 's good for 1-4 people/party.</li><li>I have to take the stars away because the seating space is tiny and extremely cramped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1728">Next</a></li>
</ul>