<% provide :title, 'Opinion Target 4650' %><h2>Calamarri alla Griglia ( Grilled Calamari )<br />occurrence: 1</h2><div><ol><li>We ordered the Asparagus and Portabello Salad, as well as the Calamarri alla Griglia ( Grilled Calamari).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4651">Next</a></li>
</ul>