<% provide :title, 'Opinion Target 5794' %><h2>oreo ice cream<br />occurrence: 1</h2><div><ol><li>The crepe was warm and soft while the brownies and oreo ice cream ( omg) made the sweetest desserty flavour ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5793">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5795">Next</a></li>
</ul>