<% provide :title, 'Opinion Target 2706' %><h2>pulled pork pasta<br />occurrence: 1</h2><div><ol><li>And for some reason the pulled pork pasta had fries and onion rings that I assume they tried I pass off as caramelized onions such a shame ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2707">Next</a></li>
</ul>