<% provide :title, 'Opinion Target 4765' %><h2>potato latke<br />occurrence: 1</h2><div><ol><li>Unliess you like your potato latke microwaved ( !!!), soggy and devoid of potato, ` T!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4766">Next</a></li>
</ul>