<% provide :title, 'Opinion Target 7620' %><h2>vermicelli salad<br />occurrence: 1</h2><div><ol><li>They provide a little vermicelli salad on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7619">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7621">Next</a></li>
</ul>