<% provide :title, 'Opinion Target 4125' %><h2>shrimp rice noodle rolls<br />occurrence: 1</h2><div><ol><li>Congee Star is the way to go.- preserved egg &amp; pork congee + + + + +- shrimp rice noodle rolls + + + +- I 've tried many many dishes from here but those i ca n't ask for better Although it looks deceiving and that you may think congee queen or whatnot is probably better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4124">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4126">Next</a></li>
</ul>