<% provide :title, 'Opinion Target 9337' %><h2>price-quality<br />occurrence: 1</h2><div><ol><li>Great variety and price-quality is pretty good ( for lunch, dinner is more expensive).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9338">Next</a></li>
</ul>