<% provide :title, 'Opinion Target 1945' %><h2>prawns<br />occurrence: 2</h2><div><ol><li>The prawns were really high quality and fresh tasting We also got the BBQ chicken.</li><li>For mains I had a Prawn Jalfrezi, the prawns had absolutely no flavour so the dish was dependent on the mixture of peppers and onions for flavour and the sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1944">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1946">Next</a></li>
</ul>