<% provide :title, 'Opinion Target 4002' %><h2>Lobster & Mascarpone Cheese Ravioli in a white wine and rosé cream sauce<br />occurrence: 1</h2><div><ol><li>I 've already booked a return visit for Mother 's Day where they 'll be featuring a $ 30 prix fixe, featuring a Lobster &amp; Mascarpone Cheese Ravioli in a white wine and rosé cream sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4003">Next</a></li>
</ul>