<% provide :title, 'Opinion Target 5409' %><h2>pot of tea<br />occurrence: 1</h2><div><ol><li>A pot of tea is served wth each meal and the staff are quite attentive and are happy to take care of their patrons.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5410">Next</a></li>
</ul>