<% provide :title, 'Opinion Target 8442' %><h2>shrimp pasta<br />occurrence: 1</h2><div><ol><li>I had this shrimp pasta do n't remember the name it was a white sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8443">Next</a></li>
</ul>