<% provide :title, 'Opinion Target 3669' %><h2>honey pepper beef with broccoli<br />occurrence: 1</h2><div><ol><li>Food here is done well, but it is n't stop dead in your tracks amazing, their honey pepper beef with broccoli is pretty good, but it is n't spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3670">Next</a></li>
</ul>