<% provide :title, 'Opinion Target 6977' %><h2>pasta and burgers<br />occurrence: 1</h2><div><ol><li>Also have tried the pasta and burgers are they are delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6978">Next</a></li>
</ul>