<% provide :title, 'Opinion Target 1019' %><h2>DJ<br />occurrence: 3</h2><div><ol><li>Then the DJ (* sidenote: why is there even a DJ at a sports bar .. ?</li><li>She gave me an apologetic look and said that the same thing happens every week: people complain about the volume, the DJ is asked to turn it down, he turns it down for about 10 mins, then turns it right back up.</li><li>Yesterday, Friday, the DJ was on point playing a video mix of reggae R &amp; b top 40 and hip hop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1018">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1020">Next</a></li>
</ul>