<% provide :title, 'Opinion Target 7150' %><h2>chicken cutlet dish<br />occurrence: 1</h2><div><ol><li>We ordered #1,2,3 off of the Korean bbq menus, and 1 of us ordered a chicken cutlet dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7151">Next</a></li>
</ul>