<% provide :title, 'Opinion Target 3783' %><h2>artificial mango marinated<br />occurrence: 1</h2><div><ol><li>The mango topping is a mix from artificial mango marinated in a syrup, with real mangos that were not very ripe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3784">Next</a></li>
</ul>