<% provide :title, 'Opinion Target 2591' %><h2>Chilean sandwiches<br />occurrence: 1</h2><div><ol><li>They make excellent looking Chilean sandwiches ( called completos) which many people seemed to be ordering.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2592">Next</a></li>
</ul>