<% provide :title, 'Opinion Target 2967' %><h2>beef curry sauce<br />occurrence: 1</h2><div><ol><li>That same beef curry sauce on top was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2966">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2968">Next</a></li>
</ul>