<% provide :title, 'Opinion Target 1718' %><h2>dinner roll<br />occurrence: 2</h2><div><ol><li>Had the dinner special which consisted of a smoked salmon potato salad, choice of soup, dinner roll, and a `` grilled tender beef'' with a mushroom wine sauce and either a coffee or tea- all for $ 17.99.</li><li>The meal special comes with a tomato soup or cream soup and a dinner roll, also coffee or tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1719">Next</a></li>
</ul>