<% provide :title, 'Opinion Target 1710' %><h2>chicken dish<br />occurrence: 2</h2><div><ol><li>My friends told me their chicken dish with cheese is amazing.</li><li>The chicken dish that I ordered was awful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1709">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1711">Next</a></li>
</ul>