<% provide :title, 'Opinion Target 1740' %><h2>chicken ginseng<br />occurrence: 2</h2><div><ol><li>Maybe we also made the mistake of not ordering their signature dish, chicken ginseng.</li><li>I 'm not sure if this place gets such high reviews for its chicken ginseng, but if it ca n't even get a bimbimbap right, I do n't have much faith in coming back to try other things.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1739">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1741">Next</a></li>
</ul>