<% provide :title, 'Opinion Target 5648' %><h2>Korean black rice<br />occurrence: 1</h2><div><ol><li>It was my first time trying it yet I fell in love with the broth instantly, it came in a generous portion and all the lunch specials came with Korean black rice ( or purple rather) and ban chan ( side dishes).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5649">Next</a></li>
</ul>