<% provide :title, 'Opinion Target 5903' %><h2>potato paste<br />occurrence: 1</h2><div><ol><li>I had the sweet potato crepe that came with sweet potato ice cream but the sweet potato paste in the crepe was too overwhelming and strong which filled me up very quickly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5904">Next</a></li>
</ul>