<% provide :title, 'Opinion Target 3732' %><h2>battered fried squid<br />occurrence: 1</h2><div><ol><li>Our favourites were the lechon kawali, fried fish steaks, &amp; the battered fried squid!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3733">Next</a></li>
</ul>