<% provide :title, 'Opinion Target 7140' %><h2>Salmon Tataki Rolls<br />occurrence: 1</h2><div><ol><li>Tuna &amp; Salmon Tataki Rolls in Yuzu Sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7141">Next</a></li>
</ul>