<% provide :title, 'Opinion Target 8473' %><h2>beef dip<br />occurrence: 1</h2><div><ol><li>Gravy, as well as the au jus for the beef dip, was way too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8474">Next</a></li>
</ul>