<% provide :title, 'Opinion Target 1920' %><h2>lamb skewer<br />occurrence: 2</h2><div><ol><li>I ordered the salad with a side of the lamb skewer.</li><li>They lamb skewer is also highly recommended.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1919">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1921">Next</a></li>
</ul>