<% provide :title, 'Opinion Target 1089' %><h2>deserts<br />occurrence: 3</h2><div><ol><li>The deserts are tasty, and the people who run the place are friendly.</li><li>Long list of unique hot and cold drinks, deserts and appetizers.</li><li>Salads and gorgous deserts, i enjoyed this place tremendously.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1088">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1090">Next</a></li>
</ul>