<% provide :title, 'Opinion Target 5505' %><h2>milk tea places<br />occurrence: 1</h2><div><ol><li>I would probably avoid this location because it is so busy, but without the line, and if I was in the area, I would be there. there are many milk tea places nearby, but Chatime is the best!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5504">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5506">Next</a></li>
</ul>