<% provide :title, 'Opinion Target 4655' %><h2>menu as grilled chicken<br />occurrence: 1</h2><div><ol><li>Also we ordered the chicken golden curry, which the description should have read on the menu as grilled chicken on top of golden curry cause that 's exactly what we got.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4656">Next</a></li>
</ul>