<% provide :title, 'Opinion Target 1931' %><h2>pork bulgogi<br />occurrence: 2</h2><div><ol><li>Food is subpar and some items can be ridiculously expensive ( pork bulgogi for $ 17 ? it 's not even beef!).</li><li>The pork bulgogi were thick cut pieces of pork meat that were cooked in a slightly spicy stew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1932">Next</a></li>
</ul>