<% provide :title, 'Opinion Target 6293' %><h2>spicy salsa<br />occurrence: 1</h2><div><ol><li>The spicy salsa added some warmth but does n't blow you away with heat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6294">Next</a></li>
</ul>