<% provide :title, 'Opinion Target 1237' %><h2>pastrami<br />occurrence: 3</h2><div><ol><li>They gave a wide array of other meats such as Montreal smoked meat, roast beef, etc but i love the pastrami too much to try anything else.</li><li>The pastrami was delicious, the service was amazing- every person we saw, from the gentleman who took our order and sliced the meat to the guy that cashed us out smiled and cracked jokes, making our experience awesome.</li><li>I like the turkey myself but they have pastrami, roast beef, and others.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1238">Next</a></li>
</ul>