<% provide :title, 'Opinion Target 9652' %><h2>Channa Masalla and Naans<br />occurrence: 1</h2><div><ol><li>The Channa Masalla and Naans were fine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9653">Next</a></li>
</ul>