<% provide :title, 'Opinion Target 6340' %><h2>crepe line<br />occurrence: 1</h2><div><ol><li>Since it did n't appear that anybody was going to help him and the crepe line was showing no sign of letting up I finally asked the girl at the front door ( who was just occasionally handing out cards to a dwindling number of customers are well as running over to the coffee station from time to time) to help.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6341">Next</a></li>
</ul>