<% provide :title, 'Opinion Target 4278' %><h2>crawfish boil<br />occurrence: 1</h2><div><ol><li>You wo n't find creole jambalaya, étouffée, gumbo, or someone in the backyard with a garbage can doing up a crawfish boil right ( http://www.tulane.edu/ ~ aichesrc/images/Crawfish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4279">Next</a></li>
</ul>