<% provide :title, 'Opinion Target 1308' %><h2>baked beans<br />occurrence: 3</h2><div><ol><li>The baked beans were too sweet but everything else was quite tasty.</li><li>The baked beans was the cherry on top and I could barely finish it.</li><li>The baked beans were also cold with oil floating on top and the coleslaw was drenched in white vinegar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1309">Next</a></li>
</ul>