<% provide :title, 'Opinion Target 6817' %><h2>Spicy Crab Rolls<br />occurrence: 1</h2><div><ol><li>The Rainbow Rolls and the Spicy Crab Rolls were not as good as hoped, but the sushi was.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6818">Next</a></li>
</ul>