<% provide :title, 'Opinion Target 8057' %><h2>fire<br />occurrence: 1</h2><div><ol><li>The fire.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8058">Next</a></li>
</ul>