<% provide :title, 'Opinion Target 7578' %><h2>modern lines<br />occurrence: 1</h2><div><ol><li>It 's clean, nice colors, nice modern lines.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7579">Next</a></li>
</ul>