<% provide :title, 'Opinion Target 1334' %><h2>glass<br />occurrence: 3</h2><div><ol><li>The glass I received had a lipstick mark on it so it was n't cleaned smhh but the owner is amazing because she goes her way for us.</li><li>Ordered the soda yogurt drink and I was unaware the glass was cracked.</li><li>I could n't finish even half the glass.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1333">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1335">Next</a></li>
</ul>