<% provide :title, 'Opinion Target 8146' %><h2>jelly beans and nuts<br />occurrence: 1</h2><div><ol><li>They have started selling some organic snacks ( jelly beans and nuts) but they are very expensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8147">Next</a></li>
</ul>