<% provide :title, 'Opinion Target 1240' %><h2>pesto sauce<br />occurrence: 3</h2><div><ol><li>Without much hesitation, he suggested that he could get me the spaghetti primervera with the pesto sauce.</li><li>Actually they offer a Shrimp Al Pesto which is $ 16 so does cream sauce really cost $ 3 more than pesto sauce ?</li><li>The pasta was aldente but the pesto sauce was so-so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1239">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1241">Next</a></li>
</ul>