<% provide :title, 'Opinion Target 5592' %><h2>private dining rooms<br />occurrence: 1</h2><div><ol><li>The layout of this place is typical with a bunch of tables and booths, but they also have private dining rooms downstairs that 'll seat large groups of people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5593">Next</a></li>
</ul>