<% provide :title, 'Opinion Target 4103' %><h2>wine drink<br />occurrence: 1</h2><div><ol><li>To start off we got a sparking wine drink which was complimentary.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4104">Next</a></li>
</ul>