<% provide :title, 'Opinion Target 6968' %><h2>ladyfinger biscuits<br />occurrence: 1</h2><div><ol><li>Actually used ladyfinger biscuits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6969">Next</a></li>
</ul>