<% provide :title, 'Opinion Target 5046' %><h2>carrots stewed<br />occurrence: 1</h2><div><ol><li>$ 5.99 for Jerk Chicken, a large portion of rice and beans, and steamed vegetables which is cabbage and carrots stewed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5047">Next</a></li>
</ul>