<% provide :title, 'Opinion Target 8436' %><h2>drink selections<br />occurrence: 1</h2><div><ol><li>From the smoothies to Martinis to the latte 's I like the fact I have so many drink selections.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8435">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8437">Next</a></li>
</ul>