<% provide :title, 'Opinion Target 1759' %><h2>Parmesan chicken<br />occurrence: 2</h2><div><ol><li>We ordered the Parmesan chicken, lasagna, and meat ball spaghetti.</li><li>The Parmesan chicken was fried in heavy oil, more so than what I would like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1758">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1760">Next</a></li>
</ul>