<% provide :title, 'Opinion Target 1652' %><h2>herbs<br />occurrence: 2</h2><div><ol><li>The herbs are always fresh with a decent amount.</li><li>It 's got a nice spice too it with lots of aroma from the herbs and spices pulling through.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1653">Next</a></li>
</ul>