<% provide :title, 'Opinion Target 8983' %><h2>cake display<br />occurrence: 1</h2><div><ol><li>Also, when entering you will immediately notice the huge cake display.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8984">Next</a></li>
</ul>