<% provide :title, 'Opinion Target 5930' %><h2>pizza pizza<br />occurrence: 1</h2><div><ol><li>I would give 0 stars if the application allows for it, avoid this place at all costs, many other pizza joints literally down the road, pizzaiollo and pizza pizza, along others, with way better customer service and food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5931">Next</a></li>
</ul>