<% provide :title, 'Opinion Target 5080' %><h2>cheese omelette with ketchup<br />occurrence: 1</h2><div><ol><li>The only thing I do n't like is the cheese omelette with ketchup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5081">Next</a></li>
</ul>