<% provide :title, 'Opinion Target 6715' %><h2>eggplant kabob appetizer with walnuts<br />occurrence: 1</h2><div><ol><li>The eggplant kabob appetizer with walnuts and pomegranate paste is to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6716">Next</a></li>
</ul>