<% provide :title, 'Opinion Target 4422' %><h2>mixed combo platter<br />occurrence: 1</h2><div><ol><li>One minor problem I found while I was writing this review was that we might have been given the short end of the stick in regards to the mixed combo platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4423">Next</a></li>
</ul>