<% provide :title, 'Opinion Target 1282' %><h2>kimchi chigae<br />occurrence: 3</h2><div><ol><li>The kimchi chigae ( stew with tofu, pork, and kimchi) was a big letdown.</li><li>I love their Kimchi Chigae!</li><li>I ordered stone bowl bibimbap and it was alright, but kimchi chigae was n't great, and dumpling soup was definitely below average and it took them 40 minutes to make it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1281">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1283">Next</a></li>
</ul>