<% provide :title, 'Opinion Target 6078' %><h2>cheese steak<br />occurrence: 1</h2><div><ol><li>Yes, the Philly cheese steak was fresh, so they get the 1 star there, but everything else goes down hill from there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6077">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6079">Next</a></li>
</ul>