<% provide :title, 'Opinion Target 1457' %><h2>seafood chowder<br />occurrence: 2</h2><div><ol><li>So far I 've had burger, fish and chips, souvlaki, lamb, seafood chowder, breakfast, wings, salad and so on and such, for which I have nothing but praises.</li><li>For appetizers our table had: 2 French onion soups, seafood chowder, beet salad &amp; calamari.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1458">Next</a></li>
</ul>