<% provide :title, 'Opinion Target 7761' %><h2>Food Inspection<br />occurrence: 1</h2><div><ol><li>They also do n't cut up their own meat and get it from a service company the Food Inspection Branch has told me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7762">Next</a></li>
</ul>