<% provide :title, 'Opinion Target 3720' %><h2>rice/vermicelli dishes<br />occurrence: 1</h2><div><ol><li>I would n't get the rice/vermicelli dishes again but the pho is definitely more than adequate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3721">Next</a></li>
</ul>