<% provide :title, 'Opinion Target 4959' %><h2>salad with<br />occurrence: 1</h2><div><ol><li>Scramble eggs were ah nothing special and the salad was just a salad with no special flavours.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4960">Next</a></li>
</ul>