<% provide :title, 'Opinion Target 3157' %><h2>beef rice noodle soup<br />occurrence: 1</h2><div><ol><li>I ordered a rare beef rice noodle soup for pick up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3158">Next</a></li>
</ul>