<% provide :title, 'Opinion Target 3385' %><h2>Chicken Shish Kebab sandwich<br />occurrence: 1</h2><div><ol><li>The Chicken Shish Kebab sandwich has cubes of chicken chargrilled for a bit before being stuffed in a giant pita ( you can also get laffa instead if you like).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3384">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3386">Next</a></li>
</ul>