<% provide :title, 'Opinion Target 7044' %><h2>lemon sorbet<br />occurrence: 1</h2><div><ol><li>The gelato alone came in interesting flavours like chocolate sea salt caramel and peanut butter along with more traditional flavours like vanilla and lemon sorbet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7043">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7045">Next</a></li>
</ul>