<% provide :title, 'Opinion Target 6729' %><h2>veal kabobs<br />occurrence: 1</h2><div><ol><li>The barg ( veal kabobs) was n't as succulent as they should be, and the koobideh was a tad bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6730">Next</a></li>
</ul>