<% provide :title, 'Opinion Target 5081' %><h2>pepper salt<br />occurrence: 1</h2><div><ol><li>We had the shrimp congee and the shrimp with pepper salt and loved them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5082">Next</a></li>
</ul>