<% provide :title, 'Opinion Target 4302' %><h2>Chicken Breast Tikka<br />occurrence: 1</h2><div><ol><li>Things you should n't be ordering: Beef Seekh Kabab, Chicken Breast Tikka, Chicken jelfrezi, Bheja/brain fried masala.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4303">Next</a></li>
</ul>