<% provide :title, 'Opinion Target 8651' %><h2>yogurts<br />occurrence: 1</h2><div><ol><li>Awesome fish ( rainbow trout,) delicious sides, salads, yogurts, eggplant dishes, and who can forget the freshly baked bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8652">Next</a></li>
</ul>