<% provide :title, 'Opinion Target 4315' %><h2>Chicken Jalfrezi<br />occurrence: 1</h2><div><ol><li>Chicken Jalfrezi, Chili Chicken and Chicken Biryani and price is reasonable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4316">Next</a></li>
</ul>