<% provide :title, 'Opinion Target 678' %><h2>baked goods<br />occurrence: 6</h2><div><ol><li>They seem to have a great selection of salads, yogurt and baked goods.</li><li>What I like most about HB is all baked goods are peanuts and nuts FREE !!!</li><li>Try their baked goods: ruggulach, challah to take home, cookies and so on.</li><li>They also have good baked goods and coffee if you 're on the run.</li><li>Also for the baked goods i believe dont take credit card.</li><li>Maybe go to this place for the baked goods.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_679">Next</a></li>
</ul>