<% provide :title, 'Opinion Target 6268' %><h2>sushi choices<br />occurrence: 1</h2><div><ol><li>This place was awesome over 8 years ago when there were n't many good sushi choices uptown but they have n't renovated or done anything different since then.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6269">Next</a></li>
</ul>