<% provide :title, 'Opinion Target 9073' %><h2>pork belly & beef<br />occurrence: 1</h2><div><ol><li>We went with pork belly &amp; beef, cooked on the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9074">Next</a></li>
</ul>