<% provide :title, 'Opinion Target 6851' %><h2>soy milk available<br />occurrence: 1</h2><div><ol><li>A number of snacks and appetizers are also available, and they have cups of ( what I assume is) fresh soy milk available for purchase.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6850">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6852">Next</a></li>
</ul>