<% provide :title, 'Opinion Target 2614' %><h2>Lamb entree<br />occurrence: 1</h2><div><ol><li>Coban Kaverma $ 11.99 This came with a salad, a basket of bread, the Lamb entree itself with rice ( although it did not mention it comes with it).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2613">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2615">Next</a></li>
</ul>