<% provide :title, 'Opinion Target 1728' %><h2>milk green tea<br />occurrence: 2</h2><div><ol><li>The roasted milk tea tasted like the milk green tea, also the drink was so hot that it burned my tongue.</li><li>Got the original milk green tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1729">Next</a></li>
</ul>