<% provide :title, 'Opinion Target 6334' %><h2>miracle<br />occurrence: 1</h2><div><ol><li>The family charm of this longtime Toronto favorite is a quiet miracle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6333">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6335">Next</a></li>
</ul>