<% provide :title, 'Opinion Target 2783' %><h2>red pepper paste sauce<br />occurrence: 1</h2><div><ol><li>Down to the red pepper paste sauce which I mentioned before is the good stuff probably shipped straight from Korea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2784">Next</a></li>
</ul>