<% provide :title, 'Opinion Target 5798' %><h2>hot sauce jars<br />occurrence: 1</h2><div><ol><li>Our server was nice too, and helped us take some photos as well as gave us some free hot sauce jars to take home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5799">Next</a></li>
</ul>