<% provide :title, 'Opinion Target 4034' %><h2>serving platters<br />occurrence: 1</h2><div><ol><li>Their serving platters are so contemporary that my guacamole and sourcream could n't stay on the plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4035">Next</a></li>
</ul>