<% provide :title, 'Opinion Target 2094' %><h2>fried rice dishes<br />occurrence: 2</h2><div><ol><li>I would try their chow mein and fried rice dishes if I come here again.</li><li>The chicken Chao mian ( fried noodles) with Chinese vegetables and fried rice dishes were so good as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2093">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2095">Next</a></li>
</ul>