<% provide :title, 'Opinion Target 4573' %><h2>burger place<br />occurrence: 1</h2><div><ol><li>Great burger place and NY Fries are great too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4574">Next</a></li>
</ul>