<% provide :title, 'Opinion Target 7982' %><h2>veggie tofu soup<br />occurrence: 1</h2><div><ol><li>My favourite is their kimchi tofu soup and their veggie tofu soup !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7981">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7983">Next</a></li>
</ul>