<% provide :title, 'Opinion Target 6107' %><h2>apple sauce<br />occurrence: 1</h2><div><ol><li>These were basically the cheese stings that you get at groceries deep fried and the apple sauce was actually from the supermarket ( Motts Fruitsations- refer to picture).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6108">Next</a></li>
</ul>