<% provide :title, 'Opinion Target 5776' %><h2>sponge cake pieces<br />occurrence: 1</h2><div><ol><li>When my husband and I went they had a special waffle with lychee, sponge cake pieces, pineapple and coconut, that was one of the best waffles I 've ever had but I do n't know if it 's a regular on their menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5777">Next</a></li>
</ul>