<% provide :title, 'Opinion Target 3638' %><h2>pad thais<br />occurrence: 1</h2><div><ol><li>With their new all you can eat menu, it 's pretty great- there are tons of things to try like chinese dimsum, sushi, pad thais and other noodes, even kalbi- all for $ 18.99 on weekends, more for dinner, cheaper on weekdays.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3637">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3639">Next</a></li>
</ul>