<% provide :title, 'Opinion Target 4924' %><h2>fried chicken with pineapple sauce<br />occurrence: 1</h2><div><ol><li>I ordered it hoping there would be actual pineapples but it was fried chicken with pineapple sauce ... thats an oops on my part: ( Halo halo is really good for dessert if you have a sweet tooth but it was a bit too sweet for my liking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4923">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4925">Next</a></li>
</ul>