<% provide :title, 'Opinion Target 6256' %><h2>purple stone pot rice<br />occurrence: 1</h2><div><ol><li>Both came with purple stone pot rice and two eggs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6255">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6257">Next</a></li>
</ul>