<% provide :title, 'Opinion Target 5757' %><h2>Food presentation<br />occurrence: 1</h2><div><ol><li>Food presentation is lovely.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5758">Next</a></li>
</ul>