<% provide :title, 'Opinion Target 6359' %><h2>Lobster Trap 's sole<br />occurrence: 1</h2><div><ol><li>Service: 9/10 This is the Lobster Trap 's sole redeeming quality.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6360">Next</a></li>
</ul>