<% provide :title, 'Opinion Target 2949' %><h2>steak entrees<br />occurrence: 1</h2><div><ol><li>The waitress thought the steak sandwiches were steak entrees and had to send the food back and tried to convince my friends to keep the side veggies the steaks came with instead of fries the sandwiches came with.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2950">Next</a></li>
</ul>