<% provide :title, 'Opinion Target 4699' %><h2>panang sauce<br />occurrence: 1</h2><div><ol><li>The panang sauce was mild and tangy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4700">Next</a></li>
</ul>