<% provide :title, 'Opinion Target 2779' %><h2>albacore<br />occurrence: 1</h2><div><ol><li>The albacore did n't have any hint of fishiness, and the portion was generous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2778">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2780">Next</a></li>
</ul>