<% provide :title, 'Opinion Target 1219' %><h2>otoro<br />occurrence: 3</h2><div><ol><li>- Compared to the melt-in-your-mouthness of Yasu and Jabistro, this otoro is not as good but comes close.</li><li>- I kinda wish that my piece of otoro looked like this other fellow Yelper 's Otoro ( Igor S).</li><li>His picture of the otoro looked soooo delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1220">Next</a></li>
</ul>