<% provide :title, 'Opinion Target 5466' %><h2>fried noodle dish<br />occurrence: 1</h2><div><ol><li>The final straw was perhaps the fried noodle dish, pictured here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5465">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5467">Next</a></li>
</ul>