<% provide :title, 'Opinion Target 2526' %><h2>lunch spots<br />occurrence: 1</h2><div><ol><li>Do n't be fooled by the cheesy decor of this `` hole in the wall'' type of place, because I 'm telling you this is one of the best lunch spots ever and I frequent it on a regular basis.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2525">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2527">Next</a></li>
</ul>