<% provide :title, 'Opinion Target 5718' %><h2>beef kebab with tomatoes<br />occurrence: 1</h2><div><ol><li>I always get beef kebab with tomatoes, rice, and the bottom of the pan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5719">Next</a></li>
</ul>