<% provide :title, 'Opinion Target 5626' %><h2>romain wrap<br />occurrence: 1</h2><div><ol><li>The romain wrap that comes with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5627">Next</a></li>
</ul>