<% provide :title, 'Opinion Target 1683' %><h2>tuna fish<br />occurrence: 2</h2><div><ol><li>For $ 11.95, you would expect to have a chunk of tuna fish on the plate/bowl.</li><li>It is the first time I really want to throw up when I put those tuna fish is my mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1684">Next</a></li>
</ul>