<% provide :title, 'Opinion Target 5934' %><h2>pork chops and grilled chicken<br />occurrence: 1</h2><div><ol><li>I had white rice with pork chops and grilled chicken, it was mm mm good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5933">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5935">Next</a></li>
</ul>