<% provide :title, 'Opinion Target 2090' %><h2>Guacamole Bacon Angus Burger<br />occurrence: 2</h2><div><ol><li>Had their Guacamole Bacon Angus Burger and was satisfied with it.</li><li>My Dad ordered the Ribs/Wings/Fries/Veggie combo and I got the Guacamole Bacon Angus Burger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2089">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2091">Next</a></li>
</ul>