<% provide :title, 'Opinion Target 7071' %><h2>wasabi roll<br />occurrence: 1</h2><div><ol><li>Highly recommend spicy tuna salad and wasabi roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7072">Next</a></li>
</ul>