<% provide :title, 'Opinion Target 6157' %><h2>salmon sashimi & surf clams<br />occurrence: 1</h2><div><ol><li>For the great FRESH tasting salmon sashimi &amp; surf clams.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6158">Next</a></li>
</ul>