<% provide :title, 'Opinion Target 9571' %><h2>mix vegetables<br />occurrence: 1</h2><div><ol><li>Love their Cantonese Chow Mein with big shrimps, tender chicken slices &amp; fresh mix vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9572">Next</a></li>
</ul>