<% provide :title, 'Opinion Target 2702' %><h2>dinner foods<br />occurrence: 1</h2><div><ol><li>I would never get dinner here, as it started out as a dessert place ( it 's called the sugar), but I think they added the dinner foods for more variety in case you ca n't get into Congee Wong.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2703">Next</a></li>
</ul>