<% provide :title, 'Opinion Target 6217' %><h2>felafel / tabbouleh<br />occurrence: 1</h2><div><ol><li>The felafel/ tabbouleh/ hummus and Baba Ghanouge are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6218">Next</a></li>
</ul>