<% provide :title, 'Opinion Target 5960' %><h2>Orange Snail<br />occurrence: 1</h2><div><ol><li>Then you will enjoy The Orange Snail!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5959">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5961">Next</a></li>
</ul>