<% provide :title, 'Opinion Target 5648' %><h2>black olive spread<br />occurrence: 1</h2><div><ol><li>The bread arrived first with a mix of French bread and Rosemary Foccaccia with a side of butter, hot peppers in oil, and black olive spread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5649">Next</a></li>
</ul>