<% provide :title, 'Opinion Target 6996' %><h2>taquitos<br />occurrence: 1</h2><div><ol><li>I got the taquitos and the meat inside them was cold One of those great small, family-run, super-authentic ethnic restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6995">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6997">Next</a></li>
</ul>