<% provide :title, 'Opinion Target 6927' %><h2>green onion roll<br />occurrence: 1</h2><div><ol><li>I personally really like the beef and green onion roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6928">Next</a></li>
</ul>