<% provide :title, 'Opinion Target 4245' %><h2>thai soups<br />occurrence: 1</h2><div><ol><li>We get the menu and order 2 thai soups as that 's what we came for, and the man says, `` you need to order more'', and points aggressively to the menu 's fine print which says, and get this ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4246">Next</a></li>
</ul>