<% provide :title, 'Opinion Target 6282' %><h2>home fries<br />occurrence: 1</h2><div><ol><li>The home fries are whatever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6281">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6283">Next</a></li>
</ul>