<% provide :title, 'Opinion Target 7027' %><h2>spicy grilled chicken served<br />occurrence: 1</h2><div><ol><li>Their spicy grilled chicken served on a sizzling hot plate is to die for!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7026">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7028">Next</a></li>
</ul>