<% provide :title, 'Opinion Target 3514' %><h2>Raw crabs marinated<br />occurrence: 1</h2><div><ol><li>-YangNyeom GeJang ( Raw crabs marinated with hot spicy sauce)- $ 14.99 Unlike the ganjan gejang, the crabs for YangNyeom are already opened and cut into pieces before being marinated for the sauce to coat and penetrate the crab meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3515">Next</a></li>
</ul>