<% provide :title, 'Opinion Target 4037' %><h2>patio 7/10 crab cakes<br />occurrence: 1</h2><div><ol><li>Great patio 7/10 crab cakes ( fresh and good size, but undercooked) 2/10 French onion soup ( too much cheese, not enough broth, very bland) 8/10 oysters ( good taste but very small, overpriced for size) 5/10 swordfish tacos 8/10 for steak salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4038">Next</a></li>
</ul>