<% provide :title, 'Opinion Target 7049' %><h2>dim sum wrappers<br />occurrence: 1</h2><div><ol><li>Everything was greasy and under seasoned; dim sum wrappers way too thick and by bringing out all the food to the table within 5 minutes, dishes got cold and inedible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7050">Next</a></li>
</ul>