<% provide :title, 'Opinion Target 3685' %><h2>chop<br />occurrence: 1</h2><div><ol><li>Cooking style is also very hk oriented ( not the north American chinese cuisine style with the chop suey crap) pricing is pretty decent with many dishes under $ 10 and food comes out quick and tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3686">Next</a></li>
</ul>