<% provide :title, 'Opinion Target 4830' %><h2>`` tiramisu<br />occurrence: 1</h2><div><ol><li>The `` tiramisu'' tasted like cream in a shot glass.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4831">Next</a></li>
</ul>