<% provide :title, 'Opinion Target 1718' %><h2>pizza toppings<br />occurrence: 2</h2><div><ol><li>Are the pizza toppings awesome ?</li><li>Their ' deep dish' is just a very thick doughy crust with sparse, typical pizza toppings, resulting in a horribly unbalanced, dry, bready doughball.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1719">Next</a></li>
</ul>