<% provide :title, 'Opinion Target 1436' %><h2>pastrami sandwich<br />occurrence: 3</h2><div><ol><li>Next time, I 'll try a pastrami sandwich or just get some meat by the pound, on the weekend so I can get my matzoh ball soup.</li><li>A great pastrami sandwich on an onion bun and a fries and gravy for the side.</li><li>`` A pastrami sandwich.''</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1435">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1437">Next</a></li>
</ul>