<% provide :title, 'Opinion Target 4479' %><h2>fresh pita<br />occurrence: 1</h2><div><ol><li>The fresh pita was warm and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4478">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4480">Next</a></li>
</ul>