<% provide :title, 'Opinion Target 1748' %><h2>WASHROOM<br />occurrence: 2</h2><div><ol><li>The WASHROOM is very inconspicuous, causing patrons to often mistake the door entrance.</li><li>Washroom are n't clean as it supposed to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1749">Next</a></li>
</ul>