<% provide :title, 'Opinion Target 2053' %><h2>wedges<br />occurrence: 2</h2><div><ol><li>The fries are tasteless, the wedges are OK nothing special, the honey garlic wings were absolutely terrible.</li><li>The Wedges are great over here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2052">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2054">Next</a></li>
</ul>