<% provide :title, 'Opinion Target 1352' %><h2>turnips<br />occurrence: 3</h2><div><ol><li>The turnips that they gave her tasted like melted plastic ( actually melted plastic) and her meal was n't even hot either.</li><li>Having some good fried squid and turnips.</li><li>The turnips were soggy ... the red sauce not evenly coated on each cube.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1353">Next</a></li>
</ul>