<% provide :title, 'Opinion Target 8144' %><h2>apple one<br />occurrence: 1</h2><div><ol><li>The apple one is a dollar or so more which is more reasonable considering they put almost two apples worth of slices in there, but ask for a strawberry crepe with a scoop of ice cream and you done been robbed at almost $ 20.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8143">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8145">Next</a></li>
</ul>