<% provide :title, 'Opinion Target 5220' %><h2>special<br />occurrence: 1</h2><div><ol><li>Last time I was there, the special was a chicken burrito.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5221">Next</a></li>
</ul>