<% provide :title, 'Opinion Target 5523' %><h2>chicken `` piadina<br />occurrence: 1</h2><div><ol><li>The chicken `` piadina'' is like nothing I have ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5524">Next</a></li>
</ul>