<% provide :title, 'Opinion Target 4050' %><h2>mashed Yukon Gold potatoes<br />occurrence: 1</h2><div><ol><li>MEDIOCRE: Prime Rib OK; the mashed Yukon Gold potatoes- tepid, tasteless and dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4049">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4051">Next</a></li>
</ul>