<% provide :title, 'Opinion Target 2547' %><h2>butterfish<br />occurrence: 1</h2><div><ol><li>The butterfish and whitefish in particular are delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2548">Next</a></li>
</ul>