<% provide :title, 'Opinion Target 7095' %><h2>Garlic Dill Chicken Sandwich<br />occurrence: 1</h2><div><ol><li>The Garlic Dill Chicken Sandwich ( $ 12.99) is breaded chicken breast tossed in hot sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7096">Next</a></li>
</ul>