<% provide :title, 'Opinion Target 7314' %><h2>deep fried shrimp dumpling<br />occurrence: 1</h2><div><ol><li>The meal included the Super Bowl congee, half crispy chicken, chinese donut in noodle roll, deep fried shrimp dumpling!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7315">Next</a></li>
</ul>