<% provide :title, 'Opinion Target 7758' %><h2>Management 's mind-set<br />occurrence: 1</h2><div><ol><li>The biggest concern about this location is the Management 's mind-set.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7759">Next</a></li>
</ul>