<% provide :title, 'Opinion Target 2415' %><h2>Butter tarts<br />occurrence: 2</h2><div><ol><li>Highly recommended:- Butter tarts !!!</li><li>Most of the baked sweets are sold by weight ... and they do have brownies and butter tarts too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2414">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2416">Next</a></li>
</ul>