<% provide :title, 'Opinion Target 9597' %><h2>Meat Amore pizza<br />occurrence: 1</h2><div><ol><li>We ordered from the fixed price menu- I ordered the minestrone soup, The Meat Amore pizza, and tiramisu for dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9596">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9598">Next</a></li>
</ul>