<% provide :title, 'Opinion Target 2725' %><h2>homefries & toast<br />occurrence: 1</h2><div><ol><li>Mind you, it 's hard to mess up on a breakfast meal of eggs, sausage, peameal bacon, homefries &amp; toast.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2726">Next</a></li>
</ul>