<% provide :title, 'Opinion Target 6928' %><h2>curry beef fried rice<br />occurrence: 1</h2><div><ol><li>Thank you for many great dinners. insult to thai cuisine !!! the curry beef fried rice was just so greasy and the golden curry was too sweet Ordered food to be delivered twice and both times they forgot the order and until I made the call 1.5 hour later, I did n't even know the food was n't on its way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6929">Next</a></li>
</ul>