<% provide :title, 'Opinion Target 7001' %><h2>BBQ pulled pork sandwich<br />occurrence: 1</h2><div><ol><li>They seem to be better for their pub style food as I took a bite of the BBQ pulled pork sandwich, which costs $ 12.25, and thought it was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7002">Next</a></li>
</ul>