<% provide :title, 'Opinion Target 2261' %><h2>bucket<br />occurrence: 1</h2><div><ol><li>On my previous visit I asked for a 15 piece bucket, dark meat only, yet half the bucket was wings and breasts!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2260">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2262">Next</a></li>
</ul>