<% provide :title, 'Opinion Target 6230' %><h2>hot stone pot rice<br />occurrence: 1</h2><div><ol><li>They all come with hot stone pot rice and side dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6231">Next</a></li>
</ul>