<% provide :title, 'Opinion Target 3384' %><h2>portion lamb shish kebab<br />occurrence: 1</h2><div><ol><li>I decided to give this place a try one evening and ordered a full portion lamb shish kebab, which came with rice, potatoes and salad, and I was floored by how amazing it was!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3385">Next</a></li>
</ul>