<% provide :title, 'Opinion Target 2274' %><h2>cook/chef<br />occurrence: 2</h2><div><ol><li>Ok, i understand that part about the plate being too hot and it sometimes needs some cooling down process; however, I want all cooking done in the kitchen and I want a cook/chef to cook my dish.</li><li>What 's the point of a cook/chef to perfectly season my food when a server is gonna pour water over it ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2275">Next</a></li>
</ul>