<% provide :title, 'Opinion Target 5521' %><h2>mix<br />occurrence: 1</h2><div><ol><li>A nice mix of casual/ mid end dining.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5522">Next</a></li>
</ul>