<% provide :title, 'Opinion Target 3161' %><h2>menu board<br />occurrence: 1</h2><div><ol><li>I really wanted an empanada but there was nothing in the hot oven ( and they do n't have it listed on the menu board) so I ordered an arepa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3162">Next</a></li>
</ul>