<% provide :title, 'Opinion Target 9731' %><h2>footlong subs<br />occurrence: 1</h2><div><ol><li>Friendly, quick, accurate, and with lots of choices -- and $ 13 for two very good and well assembled footlong subs ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9732">Next</a></li>
</ul>