<% provide :title, 'Opinion Target 3003' %><h2>sour chicken with white rice<br />occurrence: 1</h2><div><ol><li>I do have a refined enough palate to also appreciate authentic Chinese food ( and have eaten in hole-in-the-wall restaurants in Northeast China to prove it!) but I just find comfort in a good old box of sweet and sour chicken with white rice and an egg roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3002">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3004">Next</a></li>
</ul>