<% provide :title, 'Opinion Target 4173' %><h2>pork dish<br />occurrence: 1</h2><div><ol><li>I don`t know what they used to cook the pork dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4174">Next</a></li>
</ul>