<% provide :title, 'Opinion Target 5833' %><h2>chocolate mocha ice cream<br />occurrence: 1</h2><div><ol><li>I ordered the chocolate mocha ice cream and pistachio cheesecake. i 've had better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5834">Next</a></li>
</ul>