<% provide :title, 'Opinion Target 5884' %><h2>creperie<br />occurrence: 1</h2><div><ol><li>As this visit was due to other Yelpers ' recommendations, I was looking to validate the claims of nice local creperie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5885">Next</a></li>
</ul>