<% provide :title, 'Opinion Target 2832' %><h2>Beef Broccoli dinner<br />occurrence: 1</h2><div><ol><li>And the Beef Broccoli dinner, it also looked really saucy, but cooked well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2831">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2833">Next</a></li>
</ul>