<% provide :title, 'Opinion Target 7282' %><h2>lobster chow main<br />occurrence: 1</h2><div><ol><li>The lobster chow main is the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7281">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7283">Next</a></li>
</ul>