<% provide :title, 'Opinion Target 6484' %><h2>aspic<br />occurrence: 1</h2><div><ol><li>I would say this is not the best aspic I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6485">Next</a></li>
</ul>