<% provide :title, 'Opinion Target 4994' %><h2>garlic salad<br />occurrence: 1</h2><div><ol><li>For the main I had the stuffed Sole with fries and a creamy garlic salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4995">Next</a></li>
</ul>