<% provide :title, 'Opinion Target 9540' %><h2>cranberry sauce<br />occurrence: 1</h2><div><ol><li>The cranberry sauce was minimal and I honestly wondered where it was as I was eating the quail.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9541">Next</a></li>
</ul>