<% provide :title, 'Opinion Target 7263' %><h2>soy garlic chicken<br />occurrence: 1</h2><div><ol><li>I love their soy garlic chicken !!! the combination of soy and garlic does n't sound so appetizing, but it actually taste like dry honey garlic chicken with more flavors with out the sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7262">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7264">Next</a></li>
</ul>