<% provide :title, 'Opinion Target 3045' %><h2>blue mackarel<br />occurrence: 1</h2><div><ol><li>I ordered the botan ebi ( BC shrimp), anago ( conger eel), saba ( blue mackarel), and the toro ( bluefin tuna belly).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3046">Next</a></li>
</ul>