<% provide :title, 'Opinion Target 8393' %><h2>Fried Rice Cakes with Pork & Pickled Vegetables<br />occurrence: 1</h2><div><ol><li>- Fried Rice Cakes with Pork &amp; Pickled Vegetables ( $ 10.99): rice cakes are properly prepared, they are n't soggy or overly hard to chew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8394">Next</a></li>
</ul>