<% provide :title, 'Opinion Target 4886' %><h2>nigiri fish pieces<br />occurrence: 1</h2><div><ol><li>I would have been happier if they had some sashimi during lunch or if nigiri fish pieces were n't served paper-thin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4887">Next</a></li>
</ul>