<% provide :title, 'Opinion Target 3564' %><h2>lamb cabobs<br />occurrence: 1</h2><div><ol><li>I got a cup of tea that was already brokcen, but glued and sticky to the touch .. The lamb cabobs were overly done and hard to eat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3563">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3565">Next</a></li>
</ul>