<% provide :title, 'Opinion Target 7046' %><h2>steak panino sandwich<br />occurrence: 1</h2><div><ol><li>I came during their soft opening and ordered a meatball flatbread and a steak panino sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7047">Next</a></li>
</ul>