<% provide :title, 'Opinion Target 5274' %><h2>chicken rice dish<br />occurrence: 1</h2><div><ol><li>Came here for lunch on a weekday and ordered the spicy chicken rice dish, kimchi fried rice, and pork bone soup to share for two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5273">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5275">Next</a></li>
</ul>