<% provide :title, 'Opinion Target 1472' %><h2>bowls<br />occurrence: 3</h2><div><ol><li>Maybe they 've listened to those reviews because our bowls were pretty big and they filled it all the way up.</li><li>The bowls were of decent size but the meat was almost non existent.</li><li>Assuming you get past this, the bowls they provide are way too small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1471">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1473">Next</a></li>
</ul>