<% provide :title, 'Opinion Target 6119' %><h2>breakfast menu<br />occurrence: 1</h2><div><ol><li>The breakfast menu is heavy on egg breakfasts, including a wide assortment of omelettes, and then the usual sandwiches and diner plates for lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6120">Next</a></li>
</ul>