<% provide :title, 'Opinion Target 2590' %><h2>salad forks<br />occurrence: 1</h2><div><ol><li>Our dishes arrived separately and they threw our salad forks back to be used for our main meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2591">Next</a></li>
</ul>