<% provide :title, 'Opinion Target 3630' %><h2>coconut ice cream and coconut and coffee jello<br />occurrence: 1</h2><div><ol><li>I ordered coconut ice cream and coconut and coffee jello; both were tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3629">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3631">Next</a></li>
</ul>