<% provide :title, 'Opinion Target 1958' %><h2>cooking<br />occurrence: 2</h2><div><ol><li>However if you come here, expect to spend a long time here, because the cooking is really slow and it takes forever for the food to come.</li><li>The ingredients are always fresh, the cooking is never sloppy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1957">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1959">Next</a></li>
</ul>