<% provide :title, 'Opinion Target 4400' %><h2>manicotti<br />occurrence: 1</h2><div><ol><li>I ordered the manicotti, which was tasty but SUPER filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4401">Next</a></li>
</ul>