<% provide :title, 'Opinion Target 7065' %><h2>veal Oso Bucco<br />occurrence: 1</h2><div><ol><li>The meatball sandwich and veal Oso Bucco are also excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7064">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7066">Next</a></li>
</ul>