<% provide :title, 'Opinion Target 3755' %><h2>Szechuan Spicy<br />occurrence: 1</h2><div><ol><li>I tried the Szechuan Spicy Cold Konjac ( $ 4.99) and Chili Oil Dumpling ( $ 5.99) dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3754">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3756">Next</a></li>
</ul>