<% provide :title, 'Opinion Target 4383' %><h2>pasta carbonara<br />occurrence: 1</h2><div><ol><li>Their pizzas and pasta carbonara are delicious There was n't much to complain about here but nothing to rave about either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4384">Next</a></li>
</ul>