<% provide :title, 'Opinion Target 3879' %><h2>medium<br />occurrence: 1</h2><div><ol><li>And boy ... the medium was significantly larger than the small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3880">Next</a></li>
</ul>