<% provide :title, 'Opinion Target 4211' %><h2>hot chilli oil<br />occurrence: 1</h2><div><ol><li>Their hot chilli oil is something you definitely need to add to your meal to give it a little extra kick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4212">Next</a></li>
</ul>