<% provide :title, 'Opinion Target 1803' %><h2>mango custard<br />occurrence: 2</h2><div><ol><li>I was n't a huge fan of the fried shell that the mango custard nested in, it 's oily if you have too much of it but the mango custard was amazing.</li><li>I was n't a huge fan of the fried shell that the mango custard nested in, it 's oily if you have too much of it but the mango custard was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1804">Next</a></li>
</ul>