<% provide :title, 'Opinion Target 6912' %><h2>pot-sticker dumplings<br />occurrence: 1</h2><div><ol><li>I just remember the pot-sticker dumplings to be a bit disappointing- too thick skinned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6913">Next</a></li>
</ul>