<% provide :title, 'Opinion Target 7146' %><h2>Lobster Teppanyaki Chilled Egg Custard with Seafood Chicken Karaga Uni Seafood Fried Rice<br />occurrence: 1</h2><div><ol><li>First off here are some items I have tried and liked: LIVE Lobster Sashimi- fresh and delicious, not many restaurants carry this Giant Lobster Teppanyaki Chilled Egg Custard with Seafood Chicken Karaga Uni Seafood Fried Rice- unique, great to have uni and seafood fried rice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7147">Next</a></li>
</ul>