<% provide :title, 'Opinion Target 6886' %><h2>liang pi noodles<br />occurrence: 1</h2><div><ol><li>For apps we had the xi' an liang pi noodles ( sesame version) and the pork jia mo. The sesame sauce on the noodles was light and yet rich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6887">Next</a></li>
</ul>