<% provide :title, 'Opinion Target 1891' %><h2>Chicken Seekh kabab<br />occurrence: 2</h2><div><ol><li>You should orders things like: Halwa Puri ( Yummm), Nihari, Haleem, Chicken Seekh kabab, Butter Til Naan, Paaya, Lamb Biryani, Chicken Biryani, Lahori Chana masala, chicken tikka.</li><li>Beef kabab sucks, but chicken seekh kabab on the other hand is sooooooooooooooooo flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1890">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1892">Next</a></li>
</ul>