<% provide :title, 'Opinion Target 3287' %><h2>grilled calimari<br />occurrence: 1</h2><div><ol><li>We them had the grilled calimari.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3288">Next</a></li>
</ul>