<% provide :title, 'Opinion Target 2118' %><h2>chicken noodle<br />occurrence: 1</h2><div><ol><li>Friend: hmmm how is the chicken noodle ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2117">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2119">Next</a></li>
</ul>