<% provide :title, 'Opinion Target 9152' %><h2>suicide<br />occurrence: 1</h2><div><ol><li>The suicide had a nice manageable kick to them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9151">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9153">Next</a></li>
</ul>