<% provide :title, 'Opinion Target 9273' %><h2>Valentines dinner<br />occurrence: 1</h2><div><ol><li>Is that how I want to spend my Valentines dinner ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9274">Next</a></li>
</ul>