<% provide :title, 'Opinion Target 2625' %><h2>Caprise salad<br />occurrence: 1</h2><div><ol><li>The basil in our Caprise salad was wilted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2624">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2626">Next</a></li>
</ul>