<% provide :title, 'Opinion Target 4240' %><h2>bubble tea fix<br />occurrence: 1</h2><div><ol><li>I think I may end up driving an extra 5 mins to get my bubble tea fix at the Yonge/Finch location.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4239">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4241">Next</a></li>
</ul>