<% provide :title, 'Opinion Target 1868' %><h2>cooking<br />occurrence: 2</h2><div><ol><li>I would love to sit and dine in however, the cooking smell from the kitchen circulates the entire dining area.</li><li>The ingredients are always fresh, the cooking is never sloppy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1867">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1869">Next</a></li>
</ul>