<% provide :title, 'Opinion Target 4918' %><h2>fried eggplant appetizer<br />occurrence: 1</h2><div><ol><li>The baked tomatoes are amazing as well ( I do n't even like tomatoes that much!) and the fried eggplant appetizer was also very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4919">Next</a></li>
</ul>