<% provide :title, 'Opinion Target 3304' %><h2>fast<br />occurrence: 1</h2><div><ol><li>I would come here for fast food again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3305">Next</a></li>
</ul>