<% provide :title, 'Opinion Target 1116' %><h2>espresso<br />occurrence: 3</h2><div><ol><li>The espresso was great and the service was fast and friendly.</li><li>The coffee was too bland for us, the cappuccinos seemed to be the favourite, but for me the espresso was the highlight.</li><li>Italian place where they call espresso and eXpresso is absolutely unacceptable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1115">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1117">Next</a></li>
</ul>