<% provide :title, 'Opinion Target 1480' %><h2>bean curd<br />occurrence: 2</h2><div><ol><li>This place is awesome, we a re vegetarian and they have reasonable selection of items, the bean curd was great.</li><li>I 've had their trio appetizer with enoki mushrooms, tripe and bean curd and it 's very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1481">Next</a></li>
</ul>