<% provide :title, 'Opinion Target 4004' %><h2>dish descriptions<br />occurrence: 1</h2><div><ol><li>It 's a smart move, but older diners pull out reading glasses and struggle to angle the card, so the plastic does n't catch light and obscure the dish descriptions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4005">Next</a></li>
</ul>