<% provide :title, 'Opinion Target 9454' %><h2>fried rice success<br />occurrence: 1</h2><div><ol><li>Not overdone ~- Yeung Chow Fried Rice ( $ 8.50) is an example of fried rice success.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9455">Next</a></li>
</ul>