<% provide :title, 'Opinion Target 8062' %><h2>regular seating<br />occurrence: 1</h2><div><ol><li>The regular seating is not bad as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8063">Next</a></li>
</ul>