<% provide :title, 'Opinion Target 2253' %><h2>Biang biang mian<br />occurrence: 2</h2><div><ol><li>We ordered:- Biang biang mian: Thick hand pulled noodles in a tomatoey sauce with potatoes and beef.</li><li>I ordered the Biang Biang Mian, as it was one of the recommended items and the ingredients attracted me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2254">Next</a></li>
</ul>