<% provide :title, 'Opinion Target 5751' %><h2>smoked salmon savoury crepe<br />occurrence: 1</h2><div><ol><li>We ordered the smoked salmon savoury crepe and the strawberry shortcake crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5752">Next</a></li>
</ul>