<% provide :title, 'Opinion Target 3139' %><h2>beef flank<br />occurrence: 1</h2><div><ol><li>My parents had #42 Pho Dac Biet ( Special Pho, which contained rare beef, well done beef flank, brisket, soft tendons, tripe and meat balls).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3138">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3140">Next</a></li>
</ul>