<% provide :title, 'Opinion Target 7543' %><h2>bun options<br />occurrence: 1</h2><div><ol><li>The bun options are white or wheat, but I went for the white.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7544">Next</a></li>
</ul>