<% provide :title, 'Opinion Target 3335' %><h2>dish `` Salty Chicken '' It<br />occurrence: 1</h2><div><ol><li>Chilli Chicken: They should call this dish `` Salty Chicken'' It was ridiculous how much salt was on this dish, and yet there seemed to be no chilli or chillies to be found anywhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3334">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3336">Next</a></li>
</ul>