<% provide :title, 'Opinion Target 6997' %><h2>Fried Apples<br />occurrence: 1</h2><div><ol><li>And before I forget, they have Fried Apples that are plunged into iced water .... a treat!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6998">Next</a></li>
</ul>