<% provide :title, 'Opinion Target 3168' %><h2>canned black olives<br />occurrence: 1</h2><div><ol><li>Yet there they are, crappy canned black olives, scattered over many of the classic dishes on their menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3169">Next</a></li>
</ul>