<% provide :title, 'Opinion Target 3192' %><h2>tea and dessert<br />occurrence: 1</h2><div><ol><li>Customer service 100% Real Turkish food YES Good prices YES The best tea and dessert, you do not need to go back to Turkey!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3193">Next</a></li>
</ul>