<% provide :title, 'Opinion Target 2300' %><h2>coffee options<br />occurrence: 1</h2><div><ol><li>That said, nobody goes very often ... there are tons of better dining and coffee options in the area ( Second Cup and Starbucks right across the street, to begin with) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2301">Next</a></li>
</ul>