<% provide :title, 'Opinion Target 1044' %><h2>cabbage rolls<br />occurrence: 3</h2><div><ol><li>The cabbage rolls are great!</li><li>The cabbage rolls which came with the platter were excellent.</li><li>This place is by no means fancy, but if you 're craving Hungarian schnitzel, those delicious dumplings in gravy, or cabbage rolls, this is your place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1043">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1045">Next</a></li>
</ul>