<% provide :title, 'Opinion Target 6706' %><h2>Dak Gal Bi with ramen<br />occurrence: 1</h2><div><ol><li>Food: My order is usually the same, Dak Gal Bi with ramen, sweet potato, rice cake and cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6707">Next</a></li>
</ul>