<% provide :title, 'Opinion Target 9289' %><h2>kimchi jigae<br />occurrence: 1</h2><div><ol><li>I paid $ 7 from a kimchi jigae.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9288">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9290">Next</a></li>
</ul>