<% provide :title, 'Opinion Target 9419' %><h2>Singaporean rice noodles<br />occurrence: 1</h2><div><ol><li>The only dish that was not well received was the Singaporean rice noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9420">Next</a></li>
</ul>