<% provide :title, 'Opinion Target 5061' %><h2>pasta appetizer<br />occurrence: 1</h2><div><ol><li>I loved the chicken I order as part of my fixed price menu- but the pasta appetizer just was that much better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5060">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5062">Next</a></li>
</ul>