<% provide :title, 'Opinion Target 2841' %><h2>vinegar dipping<br />occurrence: 1</h2><div><ol><li>I 'm addicted to their homemade vinegar which they sell at this joint, perfectly spiced with the right amount of sweetness and tang, perfect for your springrolls and other ' vinegar dipping worthy' eats at home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2840">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2842">Next</a></li>
</ul>