<% provide :title, 'Opinion Target 5028' %><h2>mango slushi with tapioca<br />occurrence: 1</h2><div><ol><li>They have a HUGE selection in bubble teas though I have a particular one that I always order, mango slushi with tapioca, year around.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5029">Next</a></li>
</ul>