<% provide :title, 'Opinion Target 1171' %><h2>dinner boxes<br />occurrence: 3</h2><div><ol><li>He suggested ordering one of 9 dinner boxes.</li><li>Then our dinner boxes arrived.</li><li>There are 9 dinner boxes in total, varying from tempura to kalbi to chicken teriyaki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1172">Next</a></li>
</ul>