<% provide :title, 'Opinion Target 3956' %><h2>lunch sandwich<br />occurrence: 1</h2><div><ol><li>$ 9 for a small lunch sandwich ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3955">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3957">Next</a></li>
</ul>