<% provide :title, 'Opinion Target 2253' %><h2>curry shrimp papaya hot pot<br />occurrence: 1</h2><div><ol><li>Ordered the curry shrimp papaya hot pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2254">Next</a></li>
</ul>