<% provide :title, 'Opinion Target 1405' %><h2>beef vindaloo<br />occurrence: 3</h2><div><ol><li>Food: we ordered butter chicken, beef vindaloo, panak paneer as well as cheese and garlic naan.</li><li>I 'm not too familiar with all the Indian foods, but from my previous experience at other restaurants I 've learned that Chicken Biryani is mild ( my fav) and I usually need to order yogurt with Beef Vindaloo ( also a fav), because I 'll be on fire if I do n't.</li><li>Chicken Biryani ( 4/5)- mild Beef Vindaloo ( 3.5/5)- uber spicy Vegetable Pakora ( 2/5)- not spicy and quite bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1406">Next</a></li>
</ul>