<% provide :title, 'Opinion Target 2975' %><h2>buns<br />occurrence: 1</h2><div><ol><li>The buns coincidentally also shrunk in size and quality, they now taste like something you buy in a supermarket ( as opposed to the homemade flavour they previously had).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2974">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2976">Next</a></li>
</ul>