<% provide :title, 'Opinion Target 4114' %><h2>bean souce pork<br />occurrence: 1</h2><div><ol><li>The food is great as well! one order, food is not fresh ( chicken &amp; duck). second order, black bean souce pork is chewey &amp; bit raw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4115">Next</a></li>
</ul>