<% provide :title, 'Opinion Target 1745' %><h2>bar table<br />occurrence: 2</h2><div><ol><li>The inside of this restaurant is bit of a bar type place with a pool table and a large tv with a bar table.</li><li>Love there is a long bar table along the windows.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1746">Next</a></li>
</ul>