<% provide :title, 'Opinion Target 1043' %><h2>pesto sauce<br />occurrence: 3</h2><div><ol><li>Without much hesitation, he suggested that he could get me the spaghetti primervera with the pesto sauce.</li><li>Overall it was more like a cream sauce than pesto, so if you 're looking for an olive oil based pesto sauce, this is not it.</li><li>The pasta was aldente but the pesto sauce was so-so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1042">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1044">Next</a></li>
</ul>