<% provide :title, 'Opinion Target 2406' %><h2>Sashimi Haru<br />occurrence: 1</h2><div><ol><li>The Sashimi Haru was a boat of sashimi that must 've been sitting since atleast lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2407">Next</a></li>
</ul>