<% provide :title, 'Opinion Target 1522' %><h2>daikon<br />occurrence: 3</h2><div><ol><li>Make your choice between a 2-page menu, of which all options include a hot stone bowl of purple rice, plus four mini side plates of a tablespoon or two each of beans, kimchi, bean sprouts, and daikon ( the customary freebie banchan).</li><li>The daikon was spiced and yummy.</li><li>My only complaint about the banchan was the seaweed and japchae were way too salty and the daikon tasted funky.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1521">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1523">Next</a></li>
</ul>