<% provide :title, 'Opinion Target 2110' %><h2>lula<br />occurrence: 2</h2><div><ol><li>The lula is juicy, and really satisfying and the sea bass is tender and really delicious.</li><li>My favourite items here are the lula Kebob and lamb chops !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2109">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2111">Next</a></li>
</ul>