<% provide :title, 'Opinion Target 9624' %><h2>eggplant Rogan Josh Palak Panner<br />occurrence: 1</h2><div><ol><li>We ordered samosa, butter chicken, eggplant Rogan Josh Palak Panner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9625">Next</a></li>
</ul>