<% provide :title, 'Opinion Target 1183' %><h2>kimchi jjigae<br />occurrence: 3</h2><div><ol><li>The kimchi jjigae was up to snuff with the other joints ( Bok Chang Soon Tofu, Bulgogee House) but, sadly, no purple rice!</li><li>We ordered 2 seafood soontufus and 1 kimchi jjigae.</li><li>I come here at least twice a month, every time time I come here I get the kimchi jjigae.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1184">Next</a></li>
</ul>