<% provide :title, 'Opinion Target 8836' %><h2>noodles sit<br />occurrence: 1</h2><div><ol><li>You get a lot of noodles, and I liked the texture; should let the noodles sit a few minutes to let it soak in the broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8837">Next</a></li>
</ul>