<% provide :title, 'Opinion Target 6610' %><h2>fish ball<br />occurrence: 1</h2><div><ol><li>Actually the wonton and fish ball is good, but not for the beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6611">Next</a></li>
</ul>