<% provide :title, 'Opinion Target 6348' %><h2>garlic jumbo shrimp ( entree<br />occurrence: 1</h2><div><ol><li>Anyways, fine, we decided to change our order and get lobster grandin ( appetizer $ 12), garlic jumbo shrimp ( entree $ 32), and 1 1/4 steamed lobster ( entree $ 36) for now to see how the food is then get more later if we like the foods ( yes we were that scared).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6349">Next</a></li>
</ul>