<% provide :title, 'Opinion Target 4151' %><h2>fish items<br />occurrence: 1</h2><div><ol><li>Stick with the fish items because things like chicken katsu or teriyaki can be obtained elsewhere for similar quality.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4152">Next</a></li>
</ul>