<% provide :title, 'Opinion Target 2342' %><h2>mushroom crepe<br />occurrence: 2</h2><div><ol><li>I had their mushroom crepe and it was superb!</li><li>The Mushroom Crepe was alright, but it was on the salty side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2343">Next</a></li>
</ul>