<% provide :title, 'Opinion Target 1232' %><h2>seatings<br />occurrence: 3</h2><div><ol><li>We went on a week-night, and contrary to the massive warnings about `` having to reserve a table'', we had no problem getting a table on the day of, and there were an ample amount of seatings.</li><li>I would suggest coming at the right time as seatings are very limited in there.</li><li>The place is very small so limited seatings while being very popular.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1233">Next</a></li>
</ul>