<% provide :title, 'Opinion Target 3007' %><h2>Beef enoki roll<br />occurrence: 1</h2><div><ol><li>We ordered Chirashi Sushi Dinner, Beef enoki roll, Sashimi Dinner, and Shrimp and veggie tempura udon, For drinks, a bottle of wine and Hoggarden on tap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3008">Next</a></li>
</ul>