<% provide :title, 'Opinion Target 2839' %><h2>pan fried milk fish<br />occurrence: 1</h2><div><ol><li>I had a craving for daing na bangus ( pan fried milk fish) lately and this place satisfied it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2840">Next</a></li>
</ul>