<% provide :title, 'Opinion Target 1683' %><h2>helpings<br />occurrence: 2</h2><div><ol><li>Definitely the most generous helpings compared to all others we 've tried.</li><li>I think I must of had 4 or 5 helpings!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1684">Next</a></li>
</ul>