<% provide :title, 'Opinion Target 3376' %><h2>chicken ginseng soup ( samgeytang<br />occurrence: 1</h2><div><ol><li>We ordered their chicken ginseng soup ( samgeytang) and a raw veal bibimbap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3377">Next</a></li>
</ul>