<% provide :title, 'Opinion Target 5400' %><h2>Vietnamese pork ham<br />occurrence: 1</h2><div><ol><li>It had had cha lua ( Vietnamese pork ham) and beef in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5401">Next</a></li>
</ul>