<% provide :title, 'Opinion Target 796' %><h2>chicken salad<br />occurrence: 4</h2><div><ol><li>I also tried the chicken salad which had plenty of chicken slices on it and was a great portion.</li><li>We 've ordered takeout before and the warm chicken salad is alright.</li><li>If you ordered a Wendy 's chicken salad you 'd get a hardier portion of protein and for half the cost.</li><li>I ordered the lovely chicken salad and specifically asked for no tomatoes and I had tomatoes in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_795">Previous</a></li>
  <li class="next"><a href=".\opinion_target_797">Next</a></li>
</ul>