<% provide :title, 'Opinion Target 9657' %><h2>Prawn Jalfrezi<br />occurrence: 1</h2><div><ol><li>For mains I had a Prawn Jalfrezi, the prawns had absolutely no flavour so the dish was dependent on the mixture of peppers and onions for flavour and the sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9658">Next</a></li>
</ul>