<% provide :title, 'Opinion Target 3746' %><h2>smoothie price<br />occurrence: 1</h2><div><ol><li>Hope they lower the smoothie price especially.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3747">Next</a></li>
</ul>