<% provide :title, 'Opinion Target 1217' %><h2>butter fish<br />occurrence: 3</h2><div><ol><li>And this had a good variety of fish: 6 pieces of salmon sashimi, 3 pieces of tuna, 3 pieces of red snapper, 3 pieces of yellow tail, 3 pieces of torched butter fish, and 3 pieces of this one I ca n't remember ( If anyone can identify it from the pic, please let me know!).</li><li>Normally, I do n't care for the butter fish ( the whole escolar diarrhea thing) and red snapper, but these were pretty good.</li><li>The light torched taste for the butter fish was a nice touch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1218">Next</a></li>
</ul>