<% provide :title, 'Opinion Target 4162' %><h2>fried rice has yellow food<br />occurrence: 1</h2><div><ol><li>The fried rice has yellow food colouring which I do n't like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4163">Next</a></li>
</ul>