<% provide :title, 'Opinion Target 7295' %><h2>egg congee<br />occurrence: 1</h2><div><ol><li>It was still as magical as I remembered, the pork + perserved egg congee was smooth and satisfying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7296">Next</a></li>
</ul>