<% provide :title, 'Opinion Target 8956' %><h2>French toast with chocolate chips<br />occurrence: 1</h2><div><ol><li>What I got: French toast with chocolate chips ( 3/5): A decent dish of egg soaked bread with melted chocolate chips on top, a side of ham and a side of fruit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8955">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8957">Next</a></li>
</ul>