<% provide :title, 'Opinion Target 1892' %><h2>momo<br />occurrence: 2</h2><div><ol><li>The crisp outside gives you a crunch when you bite in, and the soft inside of the momo is chewy.</li><li>I let it sit a bit while I finished up my noodles and it did n't get soggy or leak through the momo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1893">Next</a></li>
</ul>