<% provide :title, 'Opinion Target 1596' %><h2>store<br />occurrence: 2</h2><div><ol><li>For a store to be open as long as Shaheen means that they are doing something right.</li><li>Unfortunately the one I had planned to get her was all sold out so I left the store feeling sad and defeated .. on my way out of the entrance I noticed this bright red sign that read `` Mac sushi''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1595">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1597">Next</a></li>
</ul>