<% provide :title, 'Opinion Target 4728' %><h2>avocado and condensed milk taste<br />occurrence: 1</h2><div><ol><li>I had an avocado shake and it did not have that wonderful avocado and condensed milk taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4729">Next</a></li>
</ul>