<% provide :title, 'Opinion Target 7909' %><h2>tofu with beef dumpling<br />occurrence: 1</h2><div><ol><li>And I order the soon tofu with beef dumpling ( and he eats half of it lol).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7908">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7910">Next</a></li>
</ul>