<% provide :title, 'Opinion Target 9730' %><h2>Sapporo miso<br />occurrence: 1</h2><div><ol><li>The tonkotsu and Sapporo miso we ordered were both unremarkable, and the gyoza was just not worth the money.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9729">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9731">Next</a></li>
</ul>