<% provide :title, 'Opinion Target 6162' %><h2>hot stone pot bibambop<br />occurrence: 1</h2><div><ol><li>The hot stone pot bibambop is excellent as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6163">Next</a></li>
</ul>