<% provide :title, 'Opinion Target 4129' %><h2>Shrimp Wonton<br />occurrence: 1</h2><div><ol><li>The Shrimp Wonton in Noodle Soup was incredible though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4128">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4130">Next</a></li>
</ul>