<% provide :title, 'Opinion Target 3189' %><h2>Lamb itself<br />occurrence: 1</h2><div><ol><li>The Lamb itself was soft and juicy and not as gamy as I thought it would be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3190">Next</a></li>
</ul>