<% provide :title, 'Opinion Target 2053' %><h2>pork summer rolls<br />occurrence: 2</h2><div><ol><li>We ordered the Goi cuon ( Beef and pork summer rolls) to start.</li><li>Started off with Goi cuon ( Beef and pork summer rolls) Rice paper was inferior &amp; contents were not at all flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2052">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2054">Next</a></li>
</ul>