<% provide :title, 'Opinion Target 7176' %><h2>surf and turf combo<br />occurrence: 1</h2><div><ol><li>The surf and turf combo was nice since the resto is supposed to be known for both.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7177">Next</a></li>
</ul>