<% provide :title, 'Opinion Target 7365' %><h2>regular dishes<br />occurrence: 1</h2><div><ol><li>My regular dishes I usually get with more friends/family are: Seafood Congee, Chili fried turnip cakes, Cantonese Chow Mein, Fried shrimp wontons, shrimp fried rice and then we usually get one other random dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7366">Next</a></li>
</ul>