<% provide :title, 'Opinion Target 1758' %><h2>veal parms<br />occurrence: 2</h2><div><ol><li>My husband 's was basic, but veal parms usually are.</li><li>On a mission to find the best meatball and veal parms in the area we landed on this place after a failed attempt at a rival sandwich shop that was a little to `` clean'' for out tastes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1759">Next</a></li>
</ul>