<% provide :title, 'Opinion Target 3771' %><h2>battered deep fried shrimp<br />occurrence: 1</h2><div><ol><li>It 's the clear noodles with seafood, a battered deep fried shrimp, and a quail egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3772">Next</a></li>
</ul>