<% provide :title, 'Opinion Target 3392' %><h2>chicken with balsamic vinegar sauce<br />occurrence: 1</h2><div><ol><li>I had the chicken with balsamic vinegar sauce, which I thought was very delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3391">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3393">Next</a></li>
</ul>