<% provide :title, 'Opinion Target 7201' %><h2>private booth seats<br />occurrence: 1</h2><div><ol><li>A few private booth seats.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7202">Next</a></li>
</ul>