<% provide :title, 'Opinion Target 1934' %><h2>bean sauce<br />occurrence: 2</h2><div><ol><li>Pork Belly BBQ ~ That 's the only type of BBQ that you can enjoy indoor year round in Canada, this is cook at the table. ~ It usually comes with lettuce, bean sauce, raw garlic slices and rice which you could make your own lettuce wrap with. ~ You 'll hear a lot of people going ewww when they hear raw garlic slices but trust me, it taste perfect with the meat and sauce here.</li><li>My wife had the Padnham Man Talay which is squid and other seafood in a mild but savory bean sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1933">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1935">Next</a></li>
</ul>