<% provide :title, 'Opinion Target 5243' %><h2>extra spicy sauce<br />occurrence: 1</h2><div><ol><li>The extra spicy sauce was actually pretty spicy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5244">Next</a></li>
</ul>