<% provide :title, 'Opinion Target 2185' %><h2>soya sauce bottle<br />occurrence: 1</h2><div><ol><li>The soya sauce bottle was stuck to the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2186">Next</a></li>
</ul>