<% provide :title, 'Opinion Target 9318' %><h2>schezwan beans<br />occurrence: 1</h2><div><ol><li>From the buffet station, I did like the schezwan beans a lot, broccoli salad, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9319">Next</a></li>
</ul>