<% provide :title, 'Opinion Target 2611' %><h2>quality tasting food<br />occurrence: 1</h2><div><ol><li>They always have great quality tasting food for a great price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2612">Next</a></li>
</ul>