<% provide :title, 'Opinion Target 7170' %><h2>mixed fried glass noodles<br />occurrence: 1</h2><div><ol><li>We got the huge family dinner that came with the pork bone soup ( came in a portable stove), grilled ribs ( grilled at the table on a portable stove), mixed fried glass noodles and fried pork with a sweet and sour sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7171">Next</a></li>
</ul>