<% provide :title, 'Opinion Target 2573' %><h2>complimentary miso soup<br />occurrence: 1</h2><div><ol><li>The complimentary miso soup is also good ( size should be a little bigger) they do n't offer complimentary green tea ( like many places do) which for me is a turn off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2574">Next</a></li>
</ul>