<% provide :title, 'Opinion Target 5387' %><h2>appetizer with beef stuffed<br />occurrence: 1</h2><div><ol><li>We ordered an appetizer with beef stuffed inside a big bread which tasted pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5388">Next</a></li>
</ul>