<% provide :title, 'Opinion Target 4954' %><h2>vegetarian spring rolls<br />occurrence: 1</h2><div><ol><li>Seafood noodles did n't have much content, vegetarian spring rolls were good but a little on the expensive side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4955">Next</a></li>
</ul>