<% provide :title, 'Opinion Target 3019' %><h2>grilled chicken and spring roll<br />occurrence: 1</h2><div><ol><li>I went with the grilled chicken and spring roll vermicelli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3018">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3020">Next</a></li>
</ul>