<% provide :title, 'Opinion Target 5803' %><h2>sweet potato latte<br />occurrence: 1</h2><div><ol><li>The sweet potato latte was everything sweet potato I could imagine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5804">Next</a></li>
</ul>