<% provide :title, 'Opinion Target 4904' %><h2>restaurant decor<br />occurrence: 1</h2><div><ol><li>The restaurant decor is modest, and very traditional- probably more authentic than most of the other ones in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4903">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4905">Next</a></li>
</ul>