<% provide :title, 'Opinion Target 6256' %><h2>selection of lox<br />occurrence: 1</h2><div><ol><li>Bagels are fresh here, twisters particularly good, nice selection of lox.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6255">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6257">Next</a></li>
</ul>