<% provide :title, 'Opinion Target 1962' %><h2>green tea frosty flakes<br />occurrence: 2</h2><div><ol><li>My friend got the green tea frosty flakes.</li><li>The `` green tea frosty flakes'' is an incredible dessert featuring various authentic flavours!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1963">Next</a></li>
</ul>