<% provide :title, 'Opinion Target 5652' %><h2>Korean fried rice with chicken<br />occurrence: 1</h2><div><ol><li>Ordered two of the lunch specials ( available from 12-4pm) soon tofu is always good here, and the Korean fried rice with chicken is really good too with the chicken chunks really tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5653">Next</a></li>
</ul>