<% provide :title, 'Opinion Target 1239' %><h2>black bean chicken<br />occurrence: 3</h2><div><ol><li>We ordered lamb skewers, kidney skewers ( do n't hate, I love these), bbq buns ( which we thought were bbq pork buns ... they 're not), xianjang noodles with chicken, and black bean chicken.</li><li>Black bean chicken was the crowd pleaser that day.</li><li>The black bean chicken was tasty, but was too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1240">Next</a></li>
</ul>