<% provide :title, 'Opinion Target 1268' %><h2>teriyaki<br />occurrence: 3</h2><div><ol><li>Their teriyaki was just so-so.</li><li>My partner &amp; I both had teriyaki ( beef &amp; salmon) &amp; the vegetables that came with were so salty.</li><li>My friends cup was dirty, there was a fly in her rice and the teriyaki was not only lukewarm but also extremely bland, tasteless and watery.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1269">Next</a></li>
</ul>