<% provide :title, 'Opinion Target 2192' %><h2>dinner specials<br />occurrence: 1</h2><div><ol><li>They also have great dinner specials from what i can see that are reasonably priced!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2193">Next</a></li>
</ul>