<% provide :title, 'Opinion Target 2441' %><h2>Chicken Place<br />occurrence: 2</h2><div><ol><li>The Chicken Place is a tiny place located next to some Korean small school.</li><li>Say what you want about this $ 5.99 small time sandwich from a small time shack, The Chicken Place has stuff to offer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2442">Next</a></li>
</ul>