<% provide :title, 'Opinion Target 5646' %><h2>Spicy Eggplant<br />occurrence: 1</h2><div><ol><li>I had the Spicy Eggplant, which was n't the best I ever had, but was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5647">Next</a></li>
</ul>