<% provide :title, 'Opinion Target 3332' %><h2>ice cream dessert<br />occurrence: 1</h2><div><ol><li>We were so full that we declined the free ice cream dessert, and opted for sliced oranges.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3333">Next</a></li>
</ul>