<% provide :title, 'Opinion Target 2767' %><h2>dinner course<br />occurrence: 1</h2><div><ol><li>They are able to custom make a full dinner course for you if you provide what your budget will be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2768">Next</a></li>
</ul>