<% provide :title, 'Opinion Target 4515' %><h2>stew chicken with rice and peas<br />occurrence: 1</h2><div><ol><li>Ordered jerk chicken roti, goat roti, and stew chicken with rice and peas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4514">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4516">Next</a></li>
</ul>