<% provide :title, 'Opinion Target 1688' %><h2>fat owner<br />occurrence: 2</h2><div><ol><li>I then ordered the deal they had and they only gave me 8 wings in each lbs and to top it off I seen the owner munching on wings now I wonder what happened to my missing wings To summerize crappy wings Crappy deals Cheap and fat owner.</li><li>Almost ready to pay, the fat owner comes out from the back and sees the friendly girl who served my about to ring up this fantastic coffee ( did I mention I love it ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1687">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1689">Next</a></li>
</ul>