<% provide :title, 'Opinion Target 6709' %><h2>turnip and mashed potato<br />occurrence: 1</h2><div><ol><li>Side dishes are standard of kimchi, bean sprouts, turnip and mashed potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6710">Next</a></li>
</ul>