<% provide :title, 'Opinion Target 5408' %><h2>pork with rice cake<br />occurrence: 1</h2><div><ol><li>4. twice cooked pork with rice cake: AMAZING.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5407">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5409">Next</a></li>
</ul>