<% provide :title, 'Opinion Target 8680' %><h2>tadig dish<br />occurrence: 1</h2><div><ol><li>The tadig dish seemed very old.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8681">Next</a></li>
</ul>