<% provide :title, 'Opinion Target 6081' %><h2>lamb noodle dish<br />occurrence: 1</h2><div><ol><li>Among the best that I 've had- had a lamb noodle dish that was the special of the day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6082">Next</a></li>
</ul>