<% provide :title, 'Opinion Target 5439' %><h2>Lamb shank dinner with rice<br />occurrence: 1</h2><div><ol><li>Lamb shank dinner with rice ( and salad) for $ 9.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5438">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5440">Next</a></li>
</ul>