<% provide :title, 'Opinion Target 1450' %><h2>lemongrass<br />occurrence: 2</h2><div><ol><li>I love the lemongrass even more than the pho haha.</li><li>The soup also contained chunks on inedible lemongrass.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1451">Next</a></li>
</ul>