<% provide :title, 'Opinion Target 6058' %><h2>bark<br />occurrence: 1</h2><div><ol><li>The pork has this wonderful little bark too which I love about the meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6059">Next</a></li>
</ul>