<% provide :title, 'Opinion Target 8134' %><h2>Bouillabaisse<br />occurrence: 1</h2><div><ol><li>The Bouillabaisse is not seafood based soup but tomato paste with seafood dumped in.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8135">Next</a></li>
</ul>