<% provide :title, 'Opinion Target 1042' %><h2>bottle of wine<br />occurrence: 3</h2><div><ol><li>I also got a bottle of wine, that was my main course.</li><li>With only $ 20 for a set lunch, you ca n't beat it. service was terrible. waited 45 minutes before we could stop a server and ask to order. was going to order a bottle of wine but decided not to.</li><li>We tried to order a bottle of wine, and after twenty minutes were informed they were out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1043">Next</a></li>
</ul>