<% provide :title, 'Opinion Target 7618' %><h2>sour fish soup combo<br />occurrence: 1</h2><div><ol><li>The pho, vermicelli, rice and sour fish soup combo is great here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7619">Next</a></li>
</ul>