<% provide :title, 'Opinion Target 9365' %><h2>chicken paste<br />occurrence: 1</h2><div><ol><li>They were obviously made out of some kind of chicken paste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9366">Next</a></li>
</ul>