<% provide :title, 'Opinion Target 4376' %><h2>sushi bento<br />occurrence: 1</h2><div><ol><li>I 've only ever tried their Maki rolls and sushi bento sets, but I should probably try their Korean dishes since I come here often.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4375">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4377">Next</a></li>
</ul>