<% provide :title, 'Opinion Target 4622' %><h2>fish dishes<br />occurrence: 1</h2><div><ol><li>We found the portions to be quite small, especially for the fish dishes, which were quite small with mostly bone and not much to eat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4623">Next</a></li>
</ul>