<% provide :title, 'Opinion Target 3885' %><h2>tuna flakes<br />occurrence: 1</h2><div><ol><li>We then ordered grilled eggplant which was indicated to be vegetarian on the menu and once again, it had tuna flakes in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3884">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3886">Next</a></li>
</ul>