<% provide :title, 'Opinion Target 2822' %><h2>szechuan sauce<br />occurrence: 1</h2><div><ol><li>Also ordered the string beans in a szechuan sauce which was very tasty and spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2821">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2823">Next</a></li>
</ul>