<% provide :title, 'Opinion Target 6141' %><h2>sesame/bbq/fried lamb chops<br />occurrence: 1</h2><div><ol><li>Also the bbq skewers ( lamb skewers so far are the best I ever had outside China and you can ask for less spices/chilly powder), fried stuffed pies, dumplings, noodle soup, sesame/bbq/fried lamb chops.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6140">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6142">Next</a></li>
</ul>