<% provide :title, 'Opinion Target 7870' %><h2>Baked Scallop Roll<br />occurrence: 1</h2><div><ol><li>Baked Scallop Roll ( $ 9.5) for six pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7869">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7871">Next</a></li>
</ul>