<% provide :title, 'Opinion Target 9355' %><h2>buffet area<br />occurrence: 1</h2><div><ol><li>Food: well-prepared, good selection There is both the buffet area as well as the Mongolian grill area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9356">Next</a></li>
</ul>