<% provide :title, 'Opinion Target 1786' %><h2>cashiers<br />occurrence: 2</h2><div><ol><li>This chain of McD 's has computer for ordering if you can pay in credit or debit, and while waiting in line I found that the staff was busy diverting people to the computer kiosks ... while there were 3 cashiers available, only 1 was being used.</li><li>Sometimes the cashiers are extremely nice, and other times they seem completely focused on fighting with their coworkers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1787">Next</a></li>
</ul>