<% provide :title, 'Opinion Target 4285' %><h2>bun bo Hue '' dish<br />occurrence: 1</h2><div><ol><li>A couple years back I guess due to the relative obscurity of the `` bun bo Hue'' dish, they renamed themselves adding the `` pho'' as that seemed to be the only food non-Vietnamese knew about Vietnamese cuisine Let 's get to the food: bun bo Hue is a vermicelli dish, with beef shank, pork, lemongrass and lots of other herbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4286">Next</a></li>
</ul>