<% provide :title, 'Opinion Target 4889' %><h2>Salmon Sashimi Dish<br />occurrence: 1</h2><div><ol><li>A ton of variety and a few standout dishes including: the Sushi Legend Fried Rice, the Spicy Scallop Sushi, Beef Tataki, and their Specialty Salmon Sashimi Dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4890">Next</a></li>
</ul>