<% provide :title, 'Opinion Target 4946' %><h2>Garlic Fried<br />occurrence: 1</h2><div><ol><li>It 's not really spicy, but they toss it in a mild chili sauce- Garlic Fried Rice ( ca n't go wrong with this dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4947">Next</a></li>
</ul>