<% provide :title, 'Opinion Target 1341' %><h2>pastrami sandwiches<br />occurrence: 3</h2><div><ol><li>My mom used to get pastrami sandwiches here back in the 70s, and decades later it 's where I go for mine.</li><li>Not sure where I 'd go for pastrami sandwiches if it were n't around -- other places just do n't measure up!</li><li>This is a small deli in a small strip mall on Sheppard, serving smoked meat, corned beef and pastrami sandwiches, as well as knishes and a few other things.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1340">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1342">Next</a></li>
</ul>