<% provide :title, 'Opinion Target 1521' %><h2>stone bowl rice<br />occurrence: 3</h2><div><ol><li>The best part I think is the stone bowl rice.</li><li>There are only a few menu 's here, beef, mixed, seafood, bean paste ' soon tofu', comes with stone bowl rice and ' noo roong ji' afterwards. bi bim bap, bul gogi and some others which most of them are pretty good.</li><li>I love that you can order the soggy stone bowl rice on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1522">Next</a></li>
</ul>