<% provide :title, 'Opinion Target 6775' %><h2>sushi takeout place<br />occurrence: 1</h2><div><ol><li>I used to love this place and it used to be my go-to sushi takeout place!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6774">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6776">Next</a></li>
</ul>