<% provide :title, 'Opinion Target 4850' %><h2>yuzu salmon<br />occurrence: 1</h2><div><ol><li>They have a lot of specialty items -- beef tataki, yuzu salmon, rock shrimp -- that they do n't serve at a lot of other AYCE locations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4849">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4851">Next</a></li>
</ul>