<% provide :title, 'Opinion Target 950' %><h2>pork jia<br />occurrence: 4</h2><div><ol><li>I had the pork jia mo to start- you can ask them to cut it in half for you, its perfect to share between two people.</li><li>But the pork jia mo is really good!</li><li>For apps we had the xi' an liang pi noodles ( sesame version) and the pork jia mo. The sesame sauce on the noodles was light and yet rich.</li><li>I tried the biang biang mian and pork jia mo for lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_951">Next</a></li>
</ul>