<% provide :title, 'Opinion Target 7249' %><h2>onion chicken tenders<br />occurrence: 1</h2><div><ol><li>Green onion chicken tenders and chicken with spicy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7248">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7250">Next</a></li>
</ul>