<% provide :title, 'Opinion Target 9040' %><h2>deli-style chicken<br />occurrence: 1</h2><div><ol><li>Grilled Chicken salad was horrible, cold chicken, more like deli-style chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9039">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9041">Next</a></li>
</ul>