<% provide :title, 'Opinion Target 1838' %><h2>meat selections<br />occurrence: 2</h2><div><ol><li>I usually order the combo with 2 meat selections and the sweet girls always stack it high for me.</li><li>Plus, lamb is one of the meat selections, which I love.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1839">Next</a></li>
</ul>