<% provide :title, 'Opinion Target 3443' %><h2>kheer<br />occurrence: 1</h2><div><ol><li>Horrible service &amp; their kheer was disgusting service!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3444">Next</a></li>
</ul>