<% provide :title, 'Opinion Target 3800' %><h2>deep fried chicken sam gae tang<br />occurrence: 1</h2><div><ol><li>This is n't your typical korean bbq, soon dofu, or ricecake place. gladly consumed: potato pancake kanpungi- sweet spicy deep fried chicken sam gae tang- Whole poached chicken ginseng soup; noodles; congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3801">Next</a></li>
</ul>