<% provide :title, 'Opinion Target 6922' %><h2>dipping sauces<br />occurrence: 1</h2><div><ol><li>The dipping sauces were good but not remarkable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6923">Next</a></li>
</ul>