<% provide :title, 'Opinion Target 1114' %><h2>chicken parmigiano<br />occurrence: 3</h2><div><ol><li>I had the chicken parmigiano.</li><li>The chicken parmigiano is amazing.</li><li>My wife had overcooked linguine and I had overcooked chicken parmigiano with a side of overcooked linguine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1115">Next</a></li>
</ul>