<% provide :title, 'Opinion Target 4682' %><h2>orchids<br />occurrence: 1</h2><div><ol><li>The decor and ambiance are very classy with Buddhist sculptures and beautiful orchids.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4681">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4683">Next</a></li>
</ul>