<% provide :title, 'Opinion Target 7030' %><h2>BBQ portions<br />occurrence: 1</h2><div><ol><li>BBQ portions are for two and if you order the combo with the soup, it 's more than enough food for two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7031">Next</a></li>
</ul>