<% provide :title, 'Opinion Target 8484' %><h2>Breaded Veal<br />occurrence: 1</h2><div><ol><li>The Breaded Veal was CRISPY, the Medium Spicy Sauce had ZING to it, and the Bread was fluffy ( White Wonderbread).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8485">Next</a></li>
</ul>