<% provide :title, 'Opinion Target 2631' %><h2>Canadian coffee<br />occurrence: 1</h2><div><ol><li>Other than that it 's low quality Canadian coffee ( not sure how anyone drinks this stuff), okay teas, baked goods, the odd vegetarian soup item, terrible sandwich choices and bagels.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2632">Next</a></li>
</ul>