<% provide :title, 'Opinion Target 5567' %><h2>meat ball spaghetti<br />occurrence: 1</h2><div><ol><li>We ordered the Parmesan chicken, lasagna, and meat ball spaghetti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5566">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5568">Next</a></li>
</ul>