<% provide :title, 'Opinion Target 791' %><h2>bar food<br />occurrence: 5</h2><div><ol><li>Good bar food at the back at a good price.</li><li>Speaking of the menu, it used to be a multi-page affair, with separate editions for lunch and dinner, upstairs ( upscale chop/fish house) and downstairs ( high-end bar food).</li><li>It is what it is, sports bar food.</li><li>It is your typical chain style, bar food type of place.</li><li>The food here is great ( for bar food) and their famous dill ranch dip is simply amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_792">Next</a></li>
</ul>