<% provide :title, 'Opinion Target 3765' %><h2>Fish Fillet in Hot Chilli Oil Soup<br />occurrence: 1</h2><div><ol><li>First came the Fish Fillet in Hot Chilli Oil Soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3766">Next</a></li>
</ul>