<% provide :title, 'Opinion Target 936' %><h2>baba ghannouj<br />occurrence: 4</h2><div><ol><li>They also have plates of hummus and baba ghannouj that are flavourful and pair well with fresh pita.</li><li>This came with three falafel 's, hummus, baba ghannouj, tabuleh salad and some very nice pieces of chicken shawarma.</li><li>I just did n't really like the baba ghannouj which dropped it a star.</li><li>And I like to think that I know my baba ghannouj.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_935">Previous</a></li>
  <li class="next"><a href=".\opinion_target_937">Next</a></li>
</ul>