<% provide :title, 'Opinion Target 8257' %><h2>lemon and soda drink<br />occurrence: 1</h2><div><ol><li>Love the fresh lemon and soda drink here!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8258">Next</a></li>
</ul>