<% provide :title, 'Opinion Target 3678' %><h2>shrimp with shells in superior soy<br />occurrence: 1</h2><div><ol><li>The best dishes seem to be the stir fried variety ( fried chicken with bits of garlic, shrimp with shells in superior soy, most veggies).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3679">Next</a></li>
</ul>