<% provide :title, 'Opinion Target 3727' %><h2>dinner for two<br />occurrence: 1</h2><div><ol><li>First time have dinner there with my husband, we ordered a dinner for two which comes with wings &amp; rolls to start, then a combination plate with BBQ chicken &amp; pork, and we asked for upgrad a steam rich into garlic rich ..... the BBQ meats are very good condition, a man who looks very nice and I believed he is the owner of the restaurant told me they fresh cook the food by order, no msg ~ ~ that 's a good selling point.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3726">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3728">Next</a></li>
</ul>