<% provide :title, 'Opinion Target 2455' %><h2>Grilled Portobello Mushroom<br />occurrence: 2</h2><div><ol><li>To start I ordered the Roasted Savory Tomato and Grilled Portobello Mushroom on a nest of wilted greens, feta cheese and balsamic-basil dressing.</li><li>The tomato maintained its firmness through the roasting process and the grilled Portobello mushroom was tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2456">Next</a></li>
</ul>