<% provide :title, 'Opinion Target 3891' %><h2>steamed rice flour roll<br />occurrence: 1</h2><div><ol><li>The steamed rice flour roll and sausage are also nice and fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3890">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3892">Next</a></li>
</ul>