<% provide :title, 'Opinion Target 7828' %><h2>special chorizo hash<br />occurrence: 1</h2><div><ol><li>Prices range from $ 4.99 for the eat-in breakfast ( 7-11 am) to $ 14 for the special chorizo hash.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7829">Next</a></li>
</ul>