<% provide :title, 'Opinion Target 3335' %><h2>dining environment<br />occurrence: 1</h2><div><ol><li>It is a relatively peaceful and serene dining environment which is nice when you are savouring well-cut, well-prepared sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3334">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3336">Next</a></li>
</ul>