<% provide :title, 'Opinion Target 7777' %><h2>bean sprout salad<br />occurrence: 1</h2><div><ol><li>My Futomaki pieces were HUGE, the sushi rice was perfectly cooked, our combos came with a generous amount of miso soup, we loved the small sides ( lettuce salad, seaweed salad, bean sprout salad, and japchae), and my boyfriend had a lot of chicken in his bento box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7776">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7778">Next</a></li>
</ul>