<% provide :title, 'Opinion Target 8219' %><h2>Dolsot BiBimBap  ''<br />occurrence: 1</h2><div><ol><li>I ordered a dish called `` Dolsot BiBimBap 石鍋拌飯'' ( taken straight from their website).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8220">Next</a></li>
</ul>