<% provide :title, 'Opinion Target 5237' %><h2>chicken Dak<br />occurrence: 1</h2><div><ol><li>We ordered three servings for the chicken Dak Gal Bee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5238">Next</a></li>
</ul>