<% provide :title, 'Opinion Target 2775' %><h2>kimchi radishes<br />occurrence: 1</h2><div><ol><li>Love it when they give you just a dish of the kimchi radishes!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2774">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2776">Next</a></li>
</ul>