<% provide :title, 'Opinion Target 9655' %><h2>Pakora<br />occurrence: 1</h2><div><ol><li>I guess those pakoras come in different forms, but the Pakora I had tried elsewhere looked something like a falafel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9656">Next</a></li>
</ul>