<% provide :title, 'Opinion Target 8198' %><h2>Beef bulgogi 's sauce<br />occurrence: 1</h2><div><ol><li>Beef bulgogi 's sauce was a little on the syrupy side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8199">Next</a></li>
</ul>