<% provide :title, 'Opinion Target 1823' %><h2>lamb stuffed pan fried buns<br />occurrence: 2</h2><div><ol><li>Do 's: Sesame lamb, lamb stuffed pan fried buns, beef lung or tripe, lamb soup Do n't: come here expecting pork!</li><li>This is Asian cuisine folks, not Fear Factor!) was spicy and had a texture similar to tripe, loved it! ( $ 8) And while I did n't try it, the lamb stuffed pan fried buns look awesome and ginormous, and apparently they are the speciality here ( I wish my friend told me that BEFORE we ordered).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1822">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1824">Next</a></li>
</ul>