<% provide :title, 'Opinion Target 2877' %><h2>grilled octopus with rice cake and kimchi tofu soup<br />occurrence: 1</h2><div><ol><li>We ordered the grilled octopus with rice cake and kimchi tofu soup for a dinner of two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2876">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2878">Next</a></li>
</ul>