<% provide :title, 'Opinion Target 9051' %><h2>Spicy rice cake : Spicy<br />occurrence: 1</h2><div><ol><li>- Spicy rice cake: Spicy so watch out!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9050">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9052">Next</a></li>
</ul>