<% provide :title, 'Opinion Target 3691' %><h2>black beans<br />occurrence: 1</h2><div><ol><li>Maybe this happened because I picked the black beans which they never use or give the chance to anyone to order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3690">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3692">Next</a></li>
</ul>