<% provide :title, 'Opinion Target 1829' %><h2>black pepper beef garlic<br />occurrence: 2</h2><div><ol><li>We also ordered a side of fried rice and black pepper beef garlic.</li><li>The black pepper beef garlic was literally out of this world.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1830">Next</a></li>
</ul>