<% provide :title, 'Opinion Target 4662' %><h2>eggs Benedict Thai style consists of smoked duck<br />occurrence: 1</h2><div><ol><li>The eggs Benedict Thai style consists of smoked duck on poached eggs in Penang curry sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4661">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4663">Next</a></li>
</ul>