<% provide :title, 'Opinion Target 6571' %><h2>blue martini<br />occurrence: 1</h2><div><ol><li>I went with the Organic, while my date chose some kind of blue martini ( $ 8.5) from the drink menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6572">Next</a></li>
</ul>