<% provide :title, 'Opinion Target 749' %><h2>ketchup<br />occurrence: 5</h2><div><ol><li>I have a tough time deciding `` do I dip the fries in the dill sauce, or use ketchup'' ...</li><li>I 'm usually not a fan of pad thai but this one did n't have any ketchup which vastly improved the taste.</li><li>Some places make it taste like ketchup.</li><li>The chicken balls are very soft and have a `` fresh'' taste to them and the sauce is sweet and does n't taste like ketchup.</li><li>I have a tough time deciding `` do I dip the fries in the dill sauce, or use ketchup'' ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_750">Next</a></li>
</ul>