<% provide :title, 'Opinion Target 4778' %><h2>rice noodle in soup<br />occurrence: 1</h2><div><ol><li>The rice noodle in soup was okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4777">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4779">Next</a></li>
</ul>