<% provide :title, 'Opinion Target 4156' %><h2>potato noodle wrapped<br />occurrence: 1</h2><div><ol><li>Really liked the appetizer which were some deep fried potato noodle wrapped in seaweed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4155">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4157">Next</a></li>
</ul>