<% provide :title, 'Opinion Target 3279' %><h2>seafood pasta lunch portion<br />occurrence: 1</h2><div><ol><li>Both times I ordered the seafood pasta lunch portion for $ 13.00 and chicken pesto $ 12.00.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3280">Next</a></li>
</ul>