<% provide :title, 'Opinion Target 8596' %><h2>jam pong<br />occurrence: 1</h2><div><ol><li>Seafood noodle soup ( jam pong, sp ?) is not as good as the one from Kachi ( which I consider to be the gold standard).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8595">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8597">Next</a></li>
</ul>