<% provide :title, 'Opinion Target 7517' %><h2>quality of food<br />occurrence: 1</h2><div><ol><li>However the quality of food is very different The seafood ramen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7518">Next</a></li>
</ul>