<% provide :title, 'Opinion Target 1402' %><h2>design<br />occurrence: 2</h2><div><ol><li>Spacious place, nice design.</li><li>Perhaps not the fanciest of all, with the beautiful design, etc, but for sure the best choice food wise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1403">Next</a></li>
</ul>