<% provide :title, 'Opinion Target 8150' %><h2>cheese broccoli soup<br />occurrence: 1</h2><div><ol><li>My cheese broccoli soup was pretty bland but thank goodness my delicious pepperoni thin crust pizza saved the day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8151">Next</a></li>
</ul>