<% provide :title, 'Opinion Target 6105' %><h2>quality of dishes<br />occurrence: 1</h2><div><ol><li>Well, I gave this place 5 stars for its friendly waitresses, variety/ quality of dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6106">Next</a></li>
</ul>