<% provide :title, 'Opinion Target 6573' %><h2>chocolate french toast<br />occurrence: 1</h2><div><ol><li>I ordered the chocolate french toast and it was OK ..... nothing special about it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6574">Next</a></li>
</ul>