<% provide :title, 'Opinion Target 4657' %><h2>crispy duck pancakes<br />occurrence: 1</h2><div><ol><li>The crispy duck pancakes and the fish that my parents ordered were also cold too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4656">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4658">Next</a></li>
</ul>