<% provide :title, 'Opinion Target 2106' %><h2>mango cake<br />occurrence: 2</h2><div><ol><li>The mango cake is probably the best one if you had to choose one.</li><li>The mango cake is great and I 've never had a cake from here I did n't like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2107">Next</a></li>
</ul>