<% provide :title, 'Opinion Target 3813' %><h2>sushi buffet lunch<br />occurrence: 1</h2><div><ol><li>Weekend sushi buffet lunch ( as usual!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3814">Next</a></li>
</ul>