<% provide :title, 'Opinion Target 6053' %><h2>sushi chief<br />occurrence: 1</h2><div><ol><li>They got our order wrong and when we asked to fix it, the sushi chief sounded annoyed and was saying something in his language.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6052">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6054">Next</a></li>
</ul>