<% provide :title, 'Opinion Target 3082' %><h2>pinot noir<br />occurrence: 1</h2><div><ol><li>Their pinot noir was yum and we finished it off with sake ofcourse.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3081">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3083">Next</a></li>
</ul>