<% provide :title, 'Opinion Target 6617' %><h2>mango yogurt drink<br />occurrence: 1</h2><div><ol><li>We ordered cold mango yogurt drink, cold regular bubble tea and a hot tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6618">Next</a></li>
</ul>