<% provide :title, 'Opinion Target 8576' %><h2>mackerel with tofu soup<br />occurrence: 1</h2><div><ol><li>They food is pretty decent, I usually have the pork bone soup, the mackerel with tofu soup or the bulgogi in soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8577">Next</a></li>
</ul>