<% provide :title, 'Opinion Target 4880' %><h2>Beef rolls with onions<br />occurrence: 1</h2><div><ol><li>Beef rolls with onions were AMAZING!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4881">Next</a></li>
</ul>