<% provide :title, 'Opinion Target 8200' %><h2>Parking availability<br />occurrence: 1</h2><div><ol><li>Parking availability, check ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8201">Next</a></li>
</ul>