<% provide :title, 'Opinion Target 2897' %><h2>food freshness<br />occurrence: 1</h2><div><ol><li>Was n't disappointed with the taste or food freshness, some of the reviews here read much worse than my experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2896">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2898">Next</a></li>
</ul>