<% provide :title, 'Opinion Target 3296' %><h2>appies<br />occurrence: 1</h2><div><ol><li>I thought the appies were just average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3295">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3297">Next</a></li>
</ul>