<% provide :title, 'Opinion Target 9201' %><h2>dine-in menu<br />occurrence: 1</h2><div><ol><li>Their dine-in menu includes appetizers, sushi &amp; sashimi, special rolls, live lobster, BBQ beef short ribs, curry, cutlets, grilled salmon, set course meals, teppanyaki dishes and so much more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9202">Next</a></li>
</ul>