<% provide :title, 'Opinion Target 1473' %><h2>Soy Beef Noodles<br />occurrence: 3</h2><div><ol><li>I tried the Soy Beef Noodles which is a pretty standard dish but their special noodles definitely bumped it up to the next level.</li><li>I ordered the soy beef noodles from the chef recommended session.</li><li>The soy beef noodles was just right for me, however I was n't able to finish all of it with the two appetizers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1474">Next</a></li>
</ul>