<% provide :title, 'Opinion Target 7365' %><h2>sponge cake and whipped cream<br />occurrence: 1</h2><div><ol><li>The two scoops sit on a crepe wrapped around azuki ( red bean) paste, sponge cake and whipped cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7366">Next</a></li>
</ul>