<% provide :title, 'Opinion Target 2972' %><h2>salad portion<br />occurrence: 1</h2><div><ol><li>The salad portion is huge, so is their fries portion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2973">Next</a></li>
</ul>