<% provide :title, 'Opinion Target 4258' %><h2>kids meals<br />occurrence: 1</h2><div><ol><li>The kids meals are HUGE, enough for two kids, at $ 10 per.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4259">Next</a></li>
</ul>