<% provide :title, 'Opinion Target 9037' %><h2>sub par food<br />occurrence: 1</h2><div><ol><li>The bill came to $ 70 for the two of us- way over priced for the sub par food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9038">Next</a></li>
</ul>