<% provide :title, 'Opinion Target 6694' %><h2>Grilled Veggie<br />occurrence: 1</h2><div><ol><li>My boyfriend and I are vegetarians and get the Grilled Veggie, Falafal Laffa Wrap on most occasions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6693">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6695">Next</a></li>
</ul>