<% provide :title, 'Opinion Target 3405' %><h2>dominoes App<br />occurrence: 1</h2><div><ol><li>The dominoes App is fantastic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3406">Next</a></li>
</ul>