<% provide :title, 'Opinion Target 1198' %><h2>roasted veggies<br />occurrence: 3</h2><div><ol><li>But if you 're not in the mood for bread, you can also have those sandwiches in a plate version without the bread &amp; with a side of salad, roasted veggies, or fries.</li><li>I had the roasted veggies with fish on top to go.</li><li>But for 8.25 I got two fish fillets along with the roasted veggies which consisted of cucumber, mushrooms, &amp; onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1199">Next</a></li>
</ul>