<% provide :title, 'Opinion Target 2176' %><h2>beef fried rice<br />occurrence: 2</h2><div><ol><li>Friend and I ordered beef fried rice, chicken teriyaki, beef, chicken and avocado with spinach sushi.</li><li>Beef Fried Rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2177">Next</a></li>
</ul>