<% provide :title, 'Opinion Target 5857' %><h2>deep fried beef<br />occurrence: 1</h2><div><ol><li>The beef curry I think is absolutely amazing, something about a slab of deep fried beef, covered in a succulent curry sauce ... yum.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5856">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5858">Next</a></li>
</ul>