<% provide :title, 'Opinion Target 9747' %><h2>sandwich with meat<br />occurrence: 1</h2><div><ol><li>- Loading up your sandwich with meat -- you think they 'll never stop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9748">Next</a></li>
</ul>