<% provide :title, 'Opinion Target 7434' %><h2>chicken Marsala<br />occurrence: 1</h2><div><ol><li>The chicken Marsala was good, but the chicken could have been pounded.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7433">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7435">Next</a></li>
</ul>