<% provide :title, 'Opinion Target 1865' %><h2>rice bowls<br />occurrence: 2</h2><div><ol><li>A friend of mine dropped by for lunch and I recommended them as the food is tasty especially when eaten in the restaurant ( normally I used take out) We ordered 3 dishes and a couple rice bowls.</li><li>Will probably return to try the rice bowls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1866">Next</a></li>
</ul>