<% provide :title, 'Opinion Target 6115' %><h2>egg Benedict<br />occurrence: 1</h2><div><ol><li>As she described the flavor of the salmon and the quantity, I would sum it with it was worth every penny as for the egg Benedict, if you love breakfast as much as I do and love a non strong mustard or non creamy hollandaise, you will love this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6114">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6116">Next</a></li>
</ul>