<% provide :title, 'Opinion Target 2173' %><h2>sesame flavor<br />occurrence: 2</h2><div><ol><li>The sesame flavor does n't really come out, but the meat is still very tender and savory.</li><li>Ice cream is great- love the strong sesame flavor and dense/hard texture, unlike some watered down versions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2174">Next</a></li>
</ul>