<% provide :title, 'Opinion Target 7087' %><h2>fries Wings<br />occurrence: 1</h2><div><ol><li>Love the fries Wings are decent Prompt and kind service Nice decor Several televisions I used to love this location but last nights visit changed my opinion entirely.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7088">Next</a></li>
</ul>