<% provide :title, 'Opinion Target 2147' %><h2>Chili sauce<br />occurrence: 2</h2><div><ol><li>We got the beef in the Chili sauce which I did not like.</li><li>The chili sauce was bitter and the general tso chicken was n't too flavorful and just loaded with raw chili flakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2146">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2148">Next</a></li>
</ul>