<% provide :title, 'Opinion Target 849' %><h2>Korean BBQ<br />occurrence: 4</h2><div><ol><li>Korean BBQ was average to good.</li><li>However, I could not write a review based on their Korean BBQ, as I have tried their sushi and Korean Cold Noodles.</li><li>I already know they have great Korean BBQ.</li><li>Korean bbq is not bad either but outdoor set up slightly sketchy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_850">Next</a></li>
</ul>