<% provide :title, 'Opinion Target 2124' %><h2>panang chicken<br />occurrence: 2</h2><div><ol><li>Each time it 's been consistently good food -- the short ribs, the panang crusted beef, panang chicken, straw mushrooms, it 's all been good.</li><li>I probably would 've given Linda 's 4 stars if I had ordered the Panang Chicken though, that was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2125">Next</a></li>
</ul>