<% provide :title, 'Opinion Target 962' %><h2>shortcake crepe<br />occurrence: 4</h2><div><ol><li>Finally found an amazing crepe place in Toronto! 5 stars for the sweet shortcake crepe! 4 stars for the savoury crepes!</li><li>The shortcake crepe was perfect.</li><li>Ordered the shortcake crepe.</li><li>My girlfriends and I shared the Nut waffle ( + $ 1) and the Shortcake crepe + $ 1 for French Vanilla coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_963">Next</a></li>
</ul>