<% provide :title, 'Opinion Target 5422' %><h2>beef noodle soup , sauteed green beans and fish fillet with wine essence<br />occurrence: 1</h2><div><ol><li>I like their soup dumplings ( xiao long bao), their beef noodle soup, sauteed green beans and fish fillet with wine essence.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5423">Next</a></li>
</ul>