<% provide :title, 'Opinion Target 1971' %><h2>French Vanilla coffee<br />occurrence: 2</h2><div><ol><li>I also ordered French Vanilla coffee, it is very smooth and I wish I had 2nd cup again.</li><li>My girlfriends and I shared the Nut waffle ( + $ 1) and the Shortcake crepe + $ 1 for French Vanilla coffee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1970">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1972">Next</a></li>
</ul>