<% provide :title, 'Opinion Target 8439' %><h2>pesto chicken pasta<br />occurrence: 1</h2><div><ol><li>My girlfriend got a pesto chicken pasta, with hand-stuffed pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8438">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8440">Next</a></li>
</ul>