<% provide :title, 'Opinion Target 752' %><h2>flatbread<br />occurrence: 5</h2><div><ol><li>I tried a soup, a chicken stew, fish on rice, and also bought a giant flatbread.</li><li>My usual order is the Calabrese Sausage Piadina, which is like a sausage wrap ( it 's wrapped in the flatbread because the filings are wet and would fall out otherwise- I was told by one of the workers).</li><li>The sausage and even flatbread is all made in house so it 's very fresh.</li><li>The Piadina is an Italian chewy flatbread.</li><li>The flatbread was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_753">Next</a></li>
</ul>