<% provide :title, 'Opinion Target 2340' %><h2>sweet potato cappuccino<br />occurrence: 2</h2><div><ol><li>The drinks here are n't bad and they have Asian fusion style drinks such as sweet potato cappuccino which was very interesting.</li><li>The sweet potato cappuccino which was offered only for a limited time was not overly sweet and had a fluffy texture though they could have made this better by filtering the sweet potato bits with a cheese cloth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2339">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2341">Next</a></li>
</ul>