<% provide :title, 'Opinion Target 3224' %><h2>carrot salad with raisins<br />occurrence: 1</h2><div><ol><li>The carrot salad with raisins was the best I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3225">Next</a></li>
</ul>