<% provide :title, 'Opinion Target 8396' %><h2>General Tao Chicken )<br />occurrence: 1</h2><div><ol><li>They serve food that 's not even real Chinese food ( like General Tao Chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8395">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8397">Next</a></li>
</ul>