<% provide :title, 'Opinion Target 8990' %><h2>salmon with veggies<br />occurrence: 1</h2><div><ol><li>While my friend went for a meal- the salmon with veggies which he said was pretty good- I just wanted some dessert so I tried the caramel brownie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8989">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8991">Next</a></li>
</ul>