<% provide :title, 'Opinion Target 1263' %><h2>dumpling soup<br />occurrence: 3</h2><div><ol><li>My dumpling soup was good though, but nothing you ca n't find at other Korean restaurants in the area.</li><li>I also tried their dumpling soup before i do n't know if it was over cooked or just poorly made it was pretty broken when i got it which wasnt how its suppose to be like.</li><li>I ordered stone bowl bibimbap and it was alright, but kimchi chigae was n't great, and dumpling soup was definitely below average and it took them 40 minutes to make it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1262">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1264">Next</a></li>
</ul>