<% provide :title, 'Opinion Target 4049' %><h2>rice concoctions<br />occurrence: 1</h2><div><ol><li>Due to Karl 's love of Korean, White Day was spent at this pub-like establishment where we ingested many tiny kettles of soju and loads of red flavored rice concoctions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4050">Next</a></li>
</ul>