<% provide :title, 'Opinion Target 4022' %><h2>parmesan cheese<br />occurrence: 1</h2><div><ol><li>Our other appetizer -- the real winner -- was carpaccio di manzo con arucola e parmigiano, which featured lovely beef tenderloin carpaccio on a bed of fantastically-dressed rocket and diaphanous sheets of generous parmesan cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4023">Next</a></li>
</ul>