<% provide :title, 'Opinion Target 7981' %><h2>korean stone pot<br />occurrence: 1</h2><div><ol><li>The rice was cooked in a korean stone pot which made the flavor exceptional.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7982">Next</a></li>
</ul>