<% provide :title, 'Opinion Target 8986' %><h2>red velvet cake<br />occurrence: 1</h2><div><ol><li>My friend and I enjoyed an omlette, toast, lattes, mimosas and a beautiful slice of red velvet cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8985">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8987">Next</a></li>
</ul>