<% provide :title, 'Opinion Target 6618' %><h2>mango yogurt drink tasted<br />occurrence: 1</h2><div><ol><li>The mango yogurt drink tasted like mango syrup in ice, it was very disappointing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6619">Next</a></li>
</ul>