<% provide :title, 'Opinion Target 1692' %><h2>beef kebab<br />occurrence: 2</h2><div><ol><li>The beef kebab is really good, they cook over charcoal so its got that bbq taste.</li><li>Yum I had the beef kebab, served with rice and lovely salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1693">Next</a></li>
</ul>