<% provide :title, 'Opinion Target 7871' %><h2>Deluxe Spider Roll<br />occurrence: 1</h2><div><ol><li>Deluxe Spider Roll ( $ 14) 8/10 pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7872">Next</a></li>
</ul>