<% provide :title, 'Opinion Target 4211' %><h2>chicken sharwama plate<br />occurrence: 1</h2><div><ol><li>I got a small chicken sharwama plate ( $ 10) and I could n't finish everything in one go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4212">Next</a></li>
</ul>