<% provide :title, 'Opinion Target 4054' %><h2>burekas<br />occurrence: 1</h2><div><ol><li>And, King David is no one trick pony, the pizza and burekas are solid as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4053">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4055">Next</a></li>
</ul>