<% provide :title, 'Opinion Target 4490' %><h2>mezze<br />occurrence: 1</h2><div><ol><li>The prices were n't bad. and I liked that you could order yourself a nice little mezze of only the things you like- most of the time in other restaurants you have to order a platter with specific items on it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4491">Next</a></li>
</ul>