<% provide :title, 'Opinion Target 2073' %><h2>ratio<br />occurrence: 2</h2><div><ol><li>I found them to give a pretty nice fish-rice ratio here for the sushi.</li><li>In terms of the Toppings, I was impressed with the Chasu with nice fat-to-lean ratio and was n't dry like some other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2072">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2074">Next</a></li>
</ul>