<% provide :title, 'Opinion Target 2411' %><h2>steamed rice<br />occurrence: 2</h2><div><ol><li>Its difficult to cook rice to perfection, but they do it on the steamed rice consistently.</li><li>For the main I had the set course curry tiger shrimp dinner ( $ 10.50) which included miso soup, salad, steamed rice, a bowl of thick slightly spicy curry ( it was alright) and four pieces of breaded tiger shrimps which were okay- the breaded batter was too thick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2410">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2412">Next</a></li>
</ul>