<% provide :title, 'Opinion Target 6519' %><h2>squash games<br />occurrence: 1</h2><div><ol><li>We were ravenous, having played intense squash games for an hour, and ate to our heart 's content -- and still had a ton of food left over.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6520">Next</a></li>
</ul>