<% provide :title, 'Opinion Target 2306' %><h2>beansprouts<br />occurrence: 2</h2><div><ol><li>Omg so many banchans- purple rice, kimchi, beansprouts, etc.</li><li>Then the beansprouts were super salty and the kimichi was not s flavourful as it used to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2307">Next</a></li>
</ul>