<% provide :title, 'Opinion Target 4457' %><h2>jalapeno peppers<br />occurrence: 1</h2><div><ol><li>My friend got the Gamjatang and it was n't spicy enough for her, so she asked for jalapeno peppers which made it much better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4458">Next</a></li>
</ul>