<% provide :title, 'Opinion Target 8682' %><h2>appetizers ( olives<br />occurrence: 1</h2><div><ol><li>We had ordered- 4 skewers that our waiter suggested, the taadig appetizer, 2 vegeterian appetizers ( olives, and a yogurt blend- both terrific!), 2 glasses of house wine and a beer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8681">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8683">Next</a></li>
</ul>