<% provide :title, 'Opinion Target 3380' %><h2>bimbimbap with noodles mixed with rice<br />occurrence: 1</h2><div><ol><li>We ordered the traditional bimbimbap and bimbimbap with noodles mixed with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3379">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3381">Next</a></li>
</ul>