<% provide :title, 'Opinion Target 6339' %><h2>pizza bar<br />occurrence: 1</h2><div><ol><li>To the front, you 've got the coffee stand, the bakery, sandwiches, juice bar, pizza bar, soup/rotisserie, next to the pastries/crepe/waffle/ice cream stations group in the front half of the restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6340">Next</a></li>
</ul>