<% provide :title, 'Opinion Target 7406' %><h2>noodle soup brisket<br />occurrence: 1</h2><div><ol><li>There are quite a few good fopd spots there including shaheen tikka, but i dropped in to try the noodle soup brisket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7407">Next</a></li>
</ul>