<% provide :title, 'Opinion Target 6364' %><h2>crust and<br />occurrence: 1</h2><div><ol><li>It has a nice crust and was juicy and tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6365">Next</a></li>
</ul>