<% provide :title, 'Opinion Target 9459' %><h2>seafood supreme bowl<br />occurrence: 1</h2><div><ol><li>We ordered the seafood supreme bowl, rice noodles, salt and pepper squid and the stir fried taro squares.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9460">Next</a></li>
</ul>