<% provide :title, 'Opinion Target 7888' %><h2>veggies chicken balls<br />occurrence: 1</h2><div><ol><li>Shrimp and rice was delicious and fresh crunchy fresh veggies chicken balls were full of white meat and crunchy outside great service and great chinese food for a low price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7889">Next</a></li>
</ul>