<% provide :title, 'Opinion Target 3318' %><h2>Black raspberry cooler sour<br />occurrence: 1</h2><div><ol><li>Black raspberry cooler sour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3319">Next</a></li>
</ul>