<% provide :title, 'Opinion Target 6766' %><h2>sashimi salad with cho gochuchang<br />occurrence: 1</h2><div><ol><li>Had hwae-dup-bap ( sashimi don- sashimi salad with cho gochuchang) which was decent, except the cho gochuchang was way too sweet for my taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6767">Next</a></li>
</ul>