<% provide :title, 'Opinion Target 8325' %><h2>pot full<br />occurrence: 1</h2><div><ol><li>The food here is always decent, and even during busy times they keep your tea pot full.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8326">Next</a></li>
</ul>