<% provide :title, 'Opinion Target 5042' %><h2>beef Pattie<br />occurrence: 1</h2><div><ol><li>The beef Pattie was thicker mix inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5043">Next</a></li>
</ul>