<% provide :title, 'Opinion Target 915' %><h2>Italian food<br />occurrence: 4</h2><div><ol><li>This is some authentic delicious Italian food.</li><li>Via Cibo is a favourite among my coworkers and I as a lunch spot for it 's fast service and reasonably priced but very delicious Italian food.</li><li>This has become my go to place for delicious Italian food.</li><li>Casual dining place for some good Italian food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_914">Previous</a></li>
  <li class="next"><a href=".\opinion_target_916">Next</a></li>
</ul>