<% provide :title, 'Opinion Target 793' %><h2>breakfast food<br />occurrence: 4</h2><div><ol><li>What was supposed to be a hangover breakfast after a night of 151 and coke, and tequila shots, we needed A LOT of water and good hangover food ( which breakfast food usually is).</li><li>The restaurant looks small on the outside but there 's plenty of seating inside and it 's kind of easy to miss but you 'll be glad to try this place if you like breakfast food.</li><li>Food: Good breakfast food, although we usually go for brunch.</li><li>What is there NOT to love about breakfast food ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_794">Next</a></li>
</ul>