<% provide :title, 'Opinion Target 2836' %><h2>beef ho<br />occurrence: 1</h2><div><ol><li>Ordered the beef ho fun ( noodles were okay but i think they lightly battered and deep fried the beef before smothering it in black bean sauce).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2837">Next</a></li>
</ul>