<% provide :title, 'Opinion Target 2577' %><h2>bruschetta dish<br />occurrence: 1</h2><div><ol><li>I have been at this place for past few days and simply its the worst experience. the first day I got my gyro order on toasted white bread with no sauce or any other form of toppings !! when I complained to server and ask if I coukd see the manager `` I was told that there is no manager at this place and the owner is running the place'' AND OF COURSE THE OWNER WAS NOT AROUND. on second visit I ordered the bruschetta dish, no basil or olive oil was used !!!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2578">Next</a></li>
</ul>