<% provide :title, 'Opinion Target 676' %><h2>sour pork<br />occurrence: 5</h2><div><ol><li>Their sweet and sour pork is the same as you can get just about anywhere ( good, but I get bored of it) and their curry chicken is n't that impressive.</li><li>Sweet and sour pork is a kids favourite.</li><li>Sweet &amp; sour pork was all batter- not an ounce of meat to be seen.</li><li>It was more like your average chinese sweet and sour pork except w/ fish.</li><li>My sister says their sweet and sour pork are bomb too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_677">Next</a></li>
</ul>