<% provide :title, 'Opinion Target 6368' %><h2>Christmas dinner<br />occurrence: 1</h2><div><ol><li>My parents took me and my sister here for a Christmas dinner without claiming it was going to be a Christmas dinner ... and I 'm glad they did!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6369">Next</a></li>
</ul>