<% provide :title, 'Opinion Target 7747' %><h2>sashimi bento box<br />occurrence: 1</h2><div><ol><li>We ordered a sushi bento box and a sashimi bento box, we 've been to this restaurant before and had ordered the same things so we were expecting portions around the same size.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7748">Next</a></li>
</ul>