<% provide :title, 'Opinion Target 2993' %><h2>ichiban<br />occurrence: 1</h2><div><ol><li>Many places I have been to I do n't mind eating the sashimi ( ichiban, takara bune) but here you really enjoy the salmon tuna and hamachi ... if you go to ayce sushi places and think ur eating good sushi you are definitely not ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2992">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2994">Next</a></li>
</ul>