<% provide :title, 'Opinion Target 6831' %><h2>XPan Style Zha Jiang Mian<br />occurrence: 1</h2><div><ol><li>But virtually none in the Traditional XPan Style Zha Jiang Mian.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6832">Next</a></li>
</ul>