<% provide :title, 'Opinion Target 3646' %><h2>falafal<br />occurrence: 1</h2><div><ol><li>And I should say that it 's true the people working there are always friendly and the falafal I always get is always great tasting and it 's only $ 4.50 or something like that. it 's food worth your money. and a great runaway place for lunch breaks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3647">Next</a></li>
</ul>