<% provide :title, 'Opinion Target 2914' %><h2>bacon wrapped shrimp<br />occurrence: 1</h2><div><ol><li>But the bacon wrapped shrimp was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2913">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2915">Next</a></li>
</ul>