<% provide :title, 'Opinion Target 6754' %><h2>Veggie Curry<br />occurrence: 1</h2><div><ol><li>Our order was extremely uncomplicated: Pad Thai, Veggie Curry, Veg Spring Rolls, Mango Sticky Rice dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6753">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6755">Next</a></li>
</ul>