<% provide :title, 'Opinion Target 6799' %><h2>shrimp risotto<br />occurrence: 1</h2><div><ol><li>We had the starter of scallop and shrimp risotto which I have to say was EXCELLENT, one of the best I have ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6800">Next</a></li>
</ul>