<% provide :title, 'Opinion Target 5320' %><h2>sashimi and roll takeout<br />occurrence: 1</h2><div><ol><li>Great place when you need sushi, sashimi and roll takeout!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5321">Next</a></li>
</ul>