<% provide :title, 'Opinion Target 4961' %><h2>Asian music<br />occurrence: 1</h2><div><ol><li>The athmosphere is set by relaxing Asian music; simple and traditional service and decor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4962">Next</a></li>
</ul>