<% provide :title, 'Opinion Target 4405' %><h2>korean umm beef<br />occurrence: 1</h2><div><ol><li>As for the cooked meat ... it was super dry and disgusting ... worst korean umm beef thing I 've ever had ... and that is literally a standard go to ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4404">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4406">Next</a></li>
</ul>