<% provide :title, 'Opinion Target 8900' %><h2>dinner room menu<br />occurrence: 1</h2><div><ol><li>We ordered both the dinner room menu and tepanyakki.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8901">Next</a></li>
</ul>