<% provide :title, 'Opinion Target 1474' %><h2>turnip<br />occurrence: 2</h2><div><ol><li>Their side dishes were good, and included seaweed, kimchi, turnip, lettuce salad witg sesame dressing, etc.</li><li>Side dishes are standard of kimchi, bean sprouts, turnip and mashed potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1473">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1475">Next</a></li>
</ul>