<% provide :title, 'Opinion Target 7078' %><h2>frittata<br />occurrence: 1</h2><div><ol><li>My friend had the frittata and was also tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7077">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7079">Next</a></li>
</ul>