<% provide :title, 'Opinion Target 9402' %><h2>scallop n shrimp<br />occurrence: 1</h2><div><ol><li>We had tried their House supreme, seafood supreme, multigrain, preserved egg and pork, scallop n shrimp, clams and salted egg, and house chicken congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9403">Next</a></li>
</ul>