<% provide :title, 'Opinion Target 5852' %><h2>sesame ice cream with crepe<br />occurrence: 1</h2><div><ol><li>A friend had sesame ice cream with crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5853">Next</a></li>
</ul>