<% provide :title, 'Opinion Target 7051' %><h2>shrimp pork chili<br />occurrence: 1</h2><div><ol><li>We had the lemon chicken and the shrimp pork chili, both delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7050">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7052">Next</a></li>
</ul>