<% provide :title, 'Opinion Target 900' %><h2>wine list<br />occurrence: 4</h2><div><ol><li>Their wine list is not epic, but its not limited either.</li><li>Loved:- The Meat Lover 's Pizza- The Seafood Linguine- The affordable wine list- The friendly, attentive and efficient service- Ample seating, very family friendly.</li><li>The wine list is small but respectable, and we were able to find some good selections at reasonable prices.</li><li>There is a fantastic wine list and the staff is very knowledgeable about the wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_901">Next</a></li>
</ul>