<% provide :title, 'Opinion Target 2286' %><h2>sub sandwiches<br />occurrence: 1</h2><div><ol><li>Baharan is a hole in the wall that serves up sub sandwiches and salads.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2287">Next</a></li>
</ul>