<% provide :title, 'Opinion Target 6121' %><h2>chops<br />occurrence: 1</h2><div><ol><li>This version of the chops did n't quite sit right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6122">Next</a></li>
</ul>