<% provide :title, 'Opinion Target 5150' %><h2>beef stir fry with rice noodles , chicken congee and pan fried radish cake with XO sauce<br />occurrence: 1</h2><div><ol><li>Garlic stir fry pea shoots, BBQ duck, BBQ pork, sweet and sour soup, beef stir fry with rice noodles, chicken congee and pan fried radish cake with XO sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5151">Next</a></li>
</ul>