<% provide :title, 'Opinion Target 8332' %><h2>beef pancake rolls<br />occurrence: 1</h2><div><ol><li>Initially wanting to just go with something light- somehow we ordered crab tofu, Shanghainese seafood noodle, beef pancake rolls, fried whole fish in brown sauce, garlic stir fried string beans, appetizer platter sampler ( drunken chicken, jellyfish, and pork ?) and two orders of crab meat soup dumplings ( yep too much food for the 5 of us).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8333">Next</a></li>
</ul>