<% provide :title, 'Opinion Target 2099' %><h2>lobster Chow mein<br />occurrence: 2</h2><div><ol><li>Also had lobster Chow mein, the fried daikon cake, boiled pork liver n kidneys, fried breads, etc All delicious and worth coming back for.</li><li>To sum it up, the Lobster Chow Mein was disappointing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2098">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2100">Next</a></li>
</ul>