<% provide :title, 'Opinion Target 7513' %><h2>fruit parfait<br />occurrence: 1</h2><div><ol><li>My husband had a peppermint latte and the fruit parfait, which he really enjoyed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7512">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7514">Next</a></li>
</ul>