<% provide :title, 'Opinion Target 6887' %><h2>tempera<br />occurrence: 1</h2><div><ol><li>I had the Suyatem Plate ( $ 28), which came w/ assorted nigiri sushi ( few pieces of raw sushi, 2 rolls), assorted tempera ( shrimp, zucchini, yam), chicken yakitori.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6886">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6888">Next</a></li>
</ul>