<% provide :title, 'Opinion Target 3809' %><h2>eel roll<br />occurrence: 1</h2><div><ol><li>Favourites: rock shrimp, volcano roll, eel roll, beef teriyaki, banana tempura.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3810">Next</a></li>
</ul>