<% provide :title, 'Opinion Target 4275' %><h2>beef vindaloo<br />occurrence: 1</h2><div><ol><li>Food: we ordered butter chicken, beef vindaloo, panak paneer as well as cheese and garlic naan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4274">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4276">Next</a></li>
</ul>