<% provide :title, 'Opinion Target 1336' %><h2>bentos<br />occurrence: 2</h2><div><ol><li>While I would have loved to try some meat dishes ' a la carte' they were all annoyingly mixed into combos or bentos I was not at all interested in!</li><li>We ordered a variety of their dishes-sashimi, rolls, kalbi/tempura/chicken bentos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1337">Next</a></li>
</ul>