<% provide :title, 'Opinion Target 7184' %><h2>banchan selection<br />occurrence: 1</h2><div><ol><li>I loved the banchan selection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7183">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7185">Next</a></li>
</ul>