<% provide :title, 'Opinion Target 5965' %><h2>hamburger<br />occurrence: 1</h2><div><ol><li>The hamburger here is dreadful please avoid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5966">Next</a></li>
</ul>