<% provide :title, 'Opinion Target 7176' %><h2>outdoor BBQ<br />occurrence: 1</h2><div><ol><li>The outdoor BBQ is only seasonal but you can get the BBQ inside during the off season but it does n't taste the same as ye outdoor charcoal version.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7177">Next</a></li>
</ul>