<% provide :title, 'Opinion Target 5896' %><h2>Mango Sticky Rice :<br />occurrence: 1</h2><div><ol><li>Dessert !! 1) Mango Sticky Rice: Looks very pretty, tastes almost as pretty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5895">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5897">Next</a></li>
</ul>