<% provide :title, 'Opinion Target 3419' %><h2>signature dish<br />occurrence: 1</h2><div><ol><li>The signature dish here is the Koryo Samgeytang ( traditional ginseng chicken soup).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3420">Next</a></li>
</ul>