<% provide :title, 'Opinion Target 5558' %><h2>French press coffee<br />occurrence: 1</h2><div><ol><li>The redeeming feature was the cappuccino and the French press coffee both of which were excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5557">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5559">Next</a></li>
</ul>