<% provide :title, 'Opinion Target 783' %><h2>roasted pork<br />occurrence: 4</h2><div><ol><li>Large chunks of slow roasted pork, however, the pork was cold.</li><li>The roasted pork on the other hand was overcooked.</li><li>Our go to items are usually BBQ pork, roasted pork if they have ribs and half a chicken.</li><li>Not a good sign. one of my favorite restaurants. great price and service, top quality food. my favorite dishes are spice and pepper squid, fried turnips, tiger shrimp congee, and the roasted pork.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_784">Next</a></li>
</ul>