<% provide :title, 'Opinion Target 5443' %><h2>latkes<br />occurrence: 1</h2><div><ol><li>Also had their steak and eggs breakfast again- latkes were n't up to snuff today, but they were crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5444">Next</a></li>
</ul>