<% provide :title, 'Opinion Target 3458' %><h2>bean curd in black bean sauce<br />occurrence: 1</h2><div><ol><li>Last time I was here I ordered the bean curd in black bean sauce which was probably the best tofu dish I 've had at a Chinese restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3457">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3459">Next</a></li>
</ul>