<% provide :title, 'Opinion Target 8655' %><h2>rice with grilled tomato<br />occurrence: 1</h2><div><ol><li>Came with yummy bread and rice with grilled tomato- the perfect combination.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8656">Next</a></li>
</ul>