<% provide :title, 'Opinion Target 3453' %><h2>chicken biriyanis<br />occurrence: 1</h2><div><ol><li>Our take out order: 3 chicken biriyanis, 1 order of beef shish kebab and 1 order of tandoori chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3454">Next</a></li>
</ul>