<% provide :title, 'Opinion Target 1291' %><h2>area<br />occurrence: 3</h2><div><ol><li>Do n't get me wrong, I love Korean food, but the area could use more variety.</li><li>Nothing special here I would say but the area is nice.</li><li>The area is quite small but it 's quaint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1292">Next</a></li>
</ul>