<% provide :title, 'Opinion Target 9093' %><h2>Rainbow chop<br />occurrence: 1</h2><div><ol><li>The lettuce is very fresh and the Rainbow chop does not disappoint me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9094">Next</a></li>
</ul>