<% provide :title, 'Opinion Target 3124' %><h2>bingsu<br />occurrence: 1</h2><div><ol><li>I might still come back for the bingsu and the cider.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3125">Next</a></li>
</ul>