<% provide :title, 'Opinion Target 7984' %><h2>hot stone stew pot<br />occurrence: 1</h2><div><ol><li>Soon tofu is served with raw egg and purple rice, in a boiling hot stone stew pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7983">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7985">Next</a></li>
</ul>