<% provide :title, 'Opinion Target 4842' %><h2>dinner buffet<br />occurrence: 1</h2><div><ol><li>Includes everything like pop and dessert EXCEPT sashimi ( that 's only for dinner buffet).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4843">Next</a></li>
</ul>