<% provide :title, 'Opinion Target 2333' %><h2>dessert dish<br />occurrence: 2</h2><div><ol><li>Overall it was a very light dessert dish that I easily finished.</li><li>Waiter strongly recommended Crispy Deep Fried Banana with Toffee, apparently it is the popular dessert dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2332">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2334">Next</a></li>
</ul>