<% provide :title, 'Opinion Target 2232' %><h2>appetizer selection<br />occurrence: 2</h2><div><ol><li>The appetizer selection is n't very wide.</li><li>Great appetizer selection and the do it yourself Noodles are fun and satisfy your taste buds to your preference!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2233">Next</a></li>
</ul>