<% provide :title, 'Opinion Target 3387' %><h2>Chicken Tabaka<br />occurrence: 1</h2><div><ol><li>I was hoping to get the Chicken Tabaka, but they did n't have any on Friday night, so I went with my second option .... a big fat Chicken Pita for $ 5.99!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3388">Next</a></li>
</ul>