<% provide :title, 'Opinion Target 2212' %><h2>mussel appetizer<br />occurrence: 2</h2><div><ol><li>So, my parents ordered 2 2lb lobsters and I ordered a mussel appetizer and my sister got the butterfly shrimp.</li><li>( I took my moms soup since I only ordered an appetizer) BUT to my suprise, the mussel appetizer was HUGE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2213">Next</a></li>
</ul>