<% provide :title, 'Opinion Target 7939' %><h2>Seafood bibimbap<br />occurrence: 1</h2><div><ol><li>Seafood bibimbap yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7938">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7940">Next</a></li>
</ul>