<% provide :title, 'Opinion Target 6011' %><h2>chicken salad ad tuna salad and egg salad<br />occurrence: 1</h2><div><ol><li>It did n't seem very safe to have it sitting out exposed with the chicken salad ad tuna salad and egg salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6012">Next</a></li>
</ul>