<% provide :title, 'Opinion Target 6285' %><h2>teppanyaki meal<br />occurrence: 1</h2><div><ol><li>It was a very pleasant teppanyaki meal with some fun surprises!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6286">Next</a></li>
</ul>