<% provide :title, 'Opinion Target 4867' %><h2>rock shrimps<br />occurrence: 1</h2><div><ol><li>Salmon fish head and the rock shrimps were crowd pleasers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4868">Next</a></li>
</ul>