<% provide :title, 'Opinion Target 1650' %><h2>chirashi dinner<br />occurrence: 2</h2><div><ol><li>My husband ordered the chirashi dinner ( came with garden salad + miso soup) and I ordered the spicy tuna maki and California tempura roll.</li><li>Chirashi dinner was delicious and reasonably priced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1651">Next</a></li>
</ul>