<% provide :title, 'Opinion Target 6931' %><h2>pea meal bacon<br />occurrence: 1</h2><div><ol><li>They only have pea meal bacon here so classic bacon fans will be a little sad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6932">Next</a></li>
</ul>