<% provide :title, 'Opinion Target 6324' %><h2>lobster traps<br />occurrence: 1</h2><div><ol><li>I tried the lobster trap tonight for my Birthday dinner walking in I will admit could tell it was a seafood place just by the Decor pictures of lobsters and lobster traps on the walls over all was a very nicely decorated place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6325">Next</a></li>
</ul>