<% provide :title, 'Opinion Target 3461' %><h2>wait. food<br />occurrence: 1</h2><div><ol><li>Food may take a little longer to serve but its worth a wait. food is 5* Only thing I gave 4* was they were playing tv shows and the noise was loud.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3462">Next</a></li>
</ul>