<% provide :title, 'Opinion Target 961' %><h2>pig<br />occurrence: 4</h2><div><ol><li>In the butchers case there is always a nice selection of goat, pig, oxtail, etc.</li><li>Try their pig- a new one is always hanging in the front of the store.</li><li>They know that the pig is just about to come out so they will buy it for dinner.</li><li>Extra lean pork is drier and has less flavour than the `` half fat'' portions of the pig.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_962">Next</a></li>
</ul>