<% provide :title, 'Opinion Target 3860' %><h2>artichoke dip<br />occurrence: 1</h2><div><ol><li>We had the artichoke dip for an app and it was very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3861">Next</a></li>
</ul>