<% provide :title, 'Opinion Target 2212' %><h2>waitstaffs<br />occurrence: 1</h2><div><ol><li>You know how you have a sense that the waitstaffs really attentive, really care about you and make sure you have a good meal ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2213">Next</a></li>
</ul>