<% provide :title, 'Opinion Target 2044' %><h2>veal with cheese<br />occurrence: 2</h2><div><ol><li>I recommend getting the veal with cheese and mushrooms.</li><li>Just finished having dinner here- I ordered the veal with cheese and hot peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2043">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2045">Next</a></li>
</ul>