<% provide :title, 'Opinion Target 962' %><h2>fish roe<br />occurrence: 4</h2><div><ol><li>$ 18.95 for Chirashi that has so little sashimi variety- where 's my egg and fish roe ?!</li><li>It had way too many fish roe on top and it tasted way too fishy for me.</li><li>Dragon roll is very dissapointing, 9 $ for tiny roll only consisting of rice, tempura shrimp, green onion, nori, fish roe.</li><li>The size of the rolls are huge the dynamite rolls are stuffed with fresh fish, tempura shrimp and veggies topped with a fish of choice and fish roe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_963">Next</a></li>
</ul>