<% provide :title, 'Opinion Target 6720' %><h2>frozen squid<br />occurrence: 1</h2><div><ol><li>It comes everything that JS1 has also with frozen octopus, frozen shrimp the very tiny ones, and i got 2 small shrimps with shell, frozen squid which was also minimal and lastly 3 pieces of musselsl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6721">Next</a></li>
</ul>