<% provide :title, 'Opinion Target 4180' %><h2>turkey sandwich<br />occurrence: 1</h2><div><ol><li>I got the turkey sandwich, the serving size was tiny and the turkey was so dry that I could n't even finish it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4181">Next</a></li>
</ul>