<% provide :title, 'Opinion Target 7006' %><h2>tea !!<br />occurrence: 1</h2><div><ol><li>The bill came to $ 85 call me cheap but they charged us for the tea !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7005">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7007">Next</a></li>
</ul>