<% provide :title, 'Opinion Target 5016' %><h2>steamed lobster<br />occurrence: 1</h2><div><ol><li>Anyways, fine, we decided to change our order and get lobster grandin ( appetizer $ 12), garlic jumbo shrimp ( entree $ 32), and 1 1/4 steamed lobster ( entree $ 36) for now to see how the food is then get more later if we like the foods ( yes we were that scared).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5017">Next</a></li>
</ul>