<% provide :title, 'Opinion Target 5308' %><h2>snapper<br />occurrence: 1</h2><div><ol><li>Chirashi was pretty cheap, a good simple portion of salmon, snapper, fish roe and rice was only for $ 9.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5309">Next</a></li>
</ul>