<% provide :title, 'Opinion Target 1704' %><h2>pizza appetizer<br />occurrence: 2</h2><div><ol><li>Also tried a bit of the mini pizza appetizer ( arugula, gorgonzola ( ?), pear) which was pretty good.</li><li>When I come for dinner, I like to get a pizza appetizer and sometimes, I 'll also get the calamari.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1703">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1705">Next</a></li>
</ul>