<% provide :title, 'Opinion Target 6913' %><h2>fried dumplings and soup dumplings<br />occurrence: 1</h2><div><ol><li>All types of fried dumplings and soup dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6914">Next</a></li>
</ul>