<% provide :title, 'Opinion Target 948' %><h2>chicken stew<br />occurrence: 4</h2><div><ol><li>I got the chilli shrimp fried rice, he had the kimchi fried rice, and the chicken stew as the main course.</li><li>It was just the two of us here, the chicken stew took forty-five minutes to arrive.</li><li>Shin Ramen .. the popular Korean spicy instant noodle seasoning, and they used that to make our TWENTY DOLLAR chicken stew ....</li><li>I tried a soup, a chicken stew, fish on rice, and also bought a giant flatbread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_949">Next</a></li>
</ul>