<% provide :title, 'Opinion Target 2576' %><h2>Indian restaurant<br />occurrence: 1</h2><div><ol><li>Best Indian restaurant in the city ... everything is great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2577">Next</a></li>
</ul>