<% provide :title, 'Opinion Target 9638' %><h2>fish labrador<br />occurrence: 1</h2><div><ol><li>We decided to get the fish labrador.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9637">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9639">Next</a></li>
</ul>