<% provide :title, 'Opinion Target 5531' %><h2>price differentiation<br />occurrence: 1</h2><div><ol><li>I think these two meals are comparable with the pasta, sauce and protein yet one was $ 19 and the other $ 16, a price differentiation that did n't seem right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5532">Next</a></li>
</ul>