<% provide :title, 'Opinion Target 1954' %><h2>MSG meter<br />occurrence: 2</h2><div><ol><li>My MSG meter was closer to medium than to light.</li><li>Once my MSG meter went up the cook confirmed my fears that they indeed do use MSG.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1955">Next</a></li>
</ul>