<% provide :title, 'Opinion Target 1210' %><h2>Basil Beef<br />occurrence: 3</h2><div><ol><li>The Basil Beef was fragrant with a hint of sweetness.</li><li>It is a rather small place but the food is good, their curry, padthai, basil beef are all really delicious.</li><li>I personally recommend the Devil 's beef, basil beef, or yellow curry with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1211">Next</a></li>
</ul>