<% provide :title, 'Opinion Target 5839' %><h2>sticky rice and mango desserts<br />occurrence: 1</h2><div><ol><li>Love the sticky rice and mango desserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5840">Next</a></li>
</ul>