<% provide :title, 'Opinion Target 8825' %><h2>seafood egg drop soup<br />occurrence: 1</h2><div><ol><li>We had booked the typical ten course meal of assorted BBQ meats, fried chicken, Peking duck, lettuce wrap with minced duck, seafood egg drop soup, lobster, fried fish, veggies, fried rice, fried noodles, and dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8824">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8826">Next</a></li>
</ul>