<% provide :title, 'Opinion Target 2177' %><h2>swarma dinner<br />occurrence: 1</h2><div><ol><li>Service is ok, but considering we 're the only patrons, I 'd expect a little more. just to let you know we drive all the way from Brampton, just to go to this place whicj is in scarborough. the middle eastern food is awesome, the portions are a good size and the prices are dirt cheap, small swarma dinner for under $ 8 per person, falafels are good and there hot wings are soooooo hot for $ 5o bucks four people will be stuffed as they give you free appetizers, hot peppers, beets, olives and pitas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2178">Next</a></li>
</ul>