<% provide :title, 'Opinion Target 6762' %><h2>Japanese sushi<br />occurrence: 1</h2><div><ol><li>It 's a Korean one, so does n't taste like your traditional Japanese sushi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6761">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6763">Next</a></li>
</ul>