<% provide :title, 'Opinion Target 8007' %><h2>pot rice<br />occurrence: 1</h2><div><ol><li>My daughter finished off her rice as she enjoyed the pot rice so I guess it was n't a complete loss.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8008">Next</a></li>
</ul>