<% provide :title, 'Opinion Target 4035' %><h2>fried artichokes<br />occurrence: 1</h2><div><ol><li>Calamari with fried artichokes was tasty but had a rather boring breading.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4034">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4036">Next</a></li>
</ul>