<% provide :title, 'Opinion Target 2138' %><h2>potatoe<br />occurrence: 1</h2><div><ol><li>It comes with eggs, toast, sausage, bacon, and potatoe wedges all for $ 5.50 plus tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2137">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2139">Next</a></li>
</ul>