<% provide :title, 'Opinion Target 4272' %><h2>Chicken Basil fried rice<br />occurrence: 1</h2><div><ol><li>Wife 's Mango chicken was excellent and the Chicken Basil fried rice was AMAZING.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4273">Next</a></li>
</ul>