<% provide :title, 'Opinion Target 2839' %><h2>entries<br />occurrence: 1</h2><div><ol><li>From the friendly wait staff, to the delectable entries!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2838">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2840">Next</a></li>
</ul>