<% provide :title, 'Opinion Target 5874' %><h2>shortcake waffle with strawberries<br />occurrence: 1</h2><div><ol><li>I love the shortcake waffle with strawberries, blueberries, and little shortcake pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5875">Next</a></li>
</ul>