<% provide :title, 'Opinion Target 4059' %><h2>pepper pasta<br />occurrence: 1</h2><div><ol><li>I ordered the Sausage and green pepper pasta ... it came out slightly undercooked, but they immediately came up and asked how I liked it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4060">Next</a></li>
</ul>