<% provide :title, 'Opinion Target 6620' %><h2>swiss omelet<br />occurrence: 1</h2><div><ol><li>My bf got the ham and swiss omelet with added spinach.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6619">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6621">Next</a></li>
</ul>