<% provide :title, 'Opinion Target 9470' %><h2>pan-fried beef rice roll<br />occurrence: 1</h2><div><ol><li>We got 4 items for takeout, signature congee, pan-fried beef rice roll, beef tendon, and oyster mushroom with `` dou miu'' ( green sprouts).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9471">Next</a></li>
</ul>