<% provide :title, 'Opinion Target 2109' %><h2>eggplant bharta<br />occurrence: 2</h2><div><ol><li>We ordered a full tandoori chicken, vegetable pakoras, eggplant bharta, raita, and naan.</li><li>The eggplant bharta was to finely mashed, and the raita never even made it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2110">Next</a></li>
</ul>