<% provide :title, 'Opinion Target 2931' %><h2>black pepper<br />occurrence: 1</h2><div><ol><li>Veggies ( broccoli, carrots, zucchini, perhaps something else I forget) were crisp, and the black pepper on top was a nice touch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2932">Next</a></li>
</ul>