<% provide :title, 'Opinion Target 8234' %><h2>Bi Bam Bap<br />occurrence: 1</h2><div><ol><li>( My friend caved in and got this though) Bi Bam Bap was $ 10.99 and I did n't realize how much of a rip off that was until I went to another korean restaurant today and got a similar portion of bi bam bap for $ 7.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8235">Next</a></li>
</ul>