<% provide :title, 'Opinion Target 3045' %><h2>amenities<br />occurrence: 1</h2><div><ol><li>Bring cash, because those modern amenities is really just a waste of electricity.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3046">Next</a></li>
</ul>