<% provide :title, 'Opinion Target 5013' %><h2>coconut shrimps<br />occurrence: 1</h2><div><ol><li>We ordered the following dishes: 1) Coconut shrimps: The coconut shrimps were quite good with batter around it and lots of coconut shreds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5014">Next</a></li>
</ul>