<% provide :title, 'Opinion Target 8470' %><h2>booth seating<br />occurrence: 1</h2><div><ol><li>Nice and comfortable booth seating- they have the 1960 's look with all the nostalgic photos and props. food is always good. portions are quite decent, almost large too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8471">Next</a></li>
</ul>