<% provide :title, 'Opinion Target 3270' %><h2>rosé sauce<br />occurrence: 1</h2><div><ol><li>The vegetables were good and the rosé sauce was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3271">Next</a></li>
</ul>