<% provide :title, 'Opinion Target 6671' %><h2>rice cakes and noodles<br />occurrence: 1</h2><div><ol><li>Whenever I go I add the cheese, rice cakes and noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6672">Next</a></li>
</ul>