<% provide :title, 'Opinion Target 5736' %><h2>Korean server<br />occurrence: 1</h2><div><ol><li>Our Korean server was nice and a great server who knew the menu pretty well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5735">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5737">Next</a></li>
</ul>