<% provide :title, 'Opinion Target 7234' %><h2>metal<br />occurrence: 1</h2><div><ol><li>If you want metal you must ask for it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7235">Next</a></li>
</ul>