<% provide :title, 'Opinion Target 1426' %><h2>beef pannang<br />occurrence: 3</h2><div><ol><li>What a great recommendation! we ordered the mango salad, fried duck, beef pannang ?, pineapple fried rice, some special noodle dish, and ended off with a mango roll with lychee ice cream.</li><li>Soon after, the good food flood gates flung open and we were served the beef pannang, fried duck, rice, and noodles.</li><li>The clear winner was the beef pannang.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1427">Next</a></li>
</ul>