<% provide :title, 'Opinion Target 6080' %><h2>burger waaaas steamed<br />occurrence: 1</h2><div><ol><li>The burger waaaas steamed!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6079">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6081">Next</a></li>
</ul>