<% provide :title, 'Opinion Target 3920' %><h2>soy sauce with vinegar and peppers<br />occurrence: 1</h2><div><ol><li>Fried strips of breaded chicken with light vinegar and served with their house sauce, which is just like soy sauce with vinegar and peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3919">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3921">Next</a></li>
</ul>