<% provide :title, 'Opinion Target 1940' %><h2>corn starch<br />occurrence: 2</h2><div><ol><li>Batter is mixed with corn starch so it 's a lighter and fluffier batter than the American style of fried chicken.</li><li>And needed more corn starch to be thicker.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1941">Next</a></li>
</ul>