<% provide :title, 'Opinion Target 5138' %><h2>actual food<br />occurrence: 1</h2><div><ol><li>The actual food is so shitty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5137">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5139">Next</a></li>
</ul>