<% provide :title, 'Opinion Target 5999' %><h2>scents<br />occurrence: 1</h2><div><ol><li>As much as people may not like the set up or the idea of helping to serve themselves, it is a cool concept because you can check out all of the stations, take in the delicious scents and really feel out what you are craving for your meal or your dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6000">Next</a></li>
</ul>