<% provide :title, 'Opinion Target 2808' %><h2>vitumbua<br />occurrence: 1</h2><div><ol><li>The vitumbua is a sweet spongy fried rice cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2809">Next</a></li>
</ul>