<% provide :title, 'Opinion Target 4062' %><h2>rosé sauce<br />occurrence: 1</h2><div><ol><li>The vegetables were good and the rosé sauce was very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4063">Next</a></li>
</ul>