<% provide :title, 'Opinion Target 3479' %><h2>roasted chicken dinner<br />occurrence: 1</h2><div><ol><li>I ordered the roasted chicken dinner, and the chicken was mushy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3478">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3480">Next</a></li>
</ul>