<% provide :title, 'Opinion Target 6501' %><h2>pork soup dumpling<br />occurrence: 1</h2><div><ol><li>Soup dumpling with scallops and pork $ 6.99- its $ 1 more than the standard pork soup dumpling and honestly I could not tell the difference.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6502">Next</a></li>
</ul>