<% provide :title, 'Opinion Target 9678' %><h2>veggie eggs Benedict<br />occurrence: 1</h2><div><ol><li>I ordered the veggie eggs Benedict and it was absolutely delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9679">Next</a></li>
</ul>