<% provide :title, 'Opinion Target 9234' %><h2>style burger<br />occurrence: 1</h2><div><ol><li>Their burger tastes like a nice home-made style burger, it 's classical and leaves you feeling good about your selection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9235">Next</a></li>
</ul>