<% provide :title, 'Opinion Target 2818' %><h2>hakka noodle dish<br />occurrence: 1</h2><div><ol><li>Your average hakka noodle dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2817">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2819">Next</a></li>
</ul>