<% provide :title, 'Opinion Target 1755' %><h2>ricotta cheese<br />occurrence: 2</h2><div><ol><li>When it come to italian food i expect using lots of fresh ingrediants specially hand roll pastas but when i get dry one i 'm not happy, the portions are so bigand the price is good for the quality, i tried the meat lasagna which comes with ricotta cheese instead of bechamel sauce and all the foods were bland: ( The servers wasnt around when you needed them I have attended this restaurant with my boyfriend a number of times and have always left satisfied.</li><li>The ricotta cheese was also very nice and creamy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1754">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1756">Next</a></li>
</ul>