<% provide :title, 'Opinion Target 7542' %><h2>matcha green tea ice cream crepe<br />occurrence: 1</h2><div><ol><li>I came to Pastel with a friend and we shared the matcha green tea ice cream crepe ... it was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7543">Next</a></li>
</ul>