<% provide :title, 'Opinion Target 4900' %><h2>wrap fried<br />occurrence: 1</h2><div><ol><li>I ordered a combo ( wrap fried pop).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4901">Next</a></li>
</ul>