<% provide :title, 'Opinion Target 2911' %><h2>fruit bowl with yogurt<br />occurrence: 1</h2><div><ol><li>Their fruit bowl with yogurt is really good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2910">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2912">Next</a></li>
</ul>