<% provide :title, 'Opinion Target 3595' %><h2>radish pickles<br />occurrence: 1</h2><div><ol><li>That quote from the movie IS pretty much how I felt when I wanted to digest a piping hot, filled with tender pieces of roasted seasoned chicken, lathered in yoghurt sauce, with tahini spread across the warm soft pita, with crunchy radish pickles, fresh tomatoes and crispy lettuce: YUM!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3596">Next</a></li>
</ul>