<% provide :title, 'Opinion Target 1055' %><h2>pistachio cheesecake<br />occurrence: 4</h2><div><ol><li>So, we ordered the chocolate cake ... and pistachio cheesecake.</li><li>As for the pistachio cheesecake- I had never heard of that combination.</li><li>The service was good the people were friendly and talkative and this waiter gave us opinion on which cake to get since we were torn between the pistachio cheesecake and the pistachio buttercream.</li><li>If i had known there were cheesecakes i would have ordered the pistachio cheesecake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1056">Next</a></li>
</ul>