<% provide :title, 'Opinion Target 889' %><h2>coco bread<br />occurrence: 4</h2><div><ol><li>I admit the coco bread was fresh, the slaw was a nice addition, however the chicken could be spicier.</li><li>It 's all sandwiched into this warm soft coco bread like food nirvana.</li><li>Delicious and juicy chicken full of flavour, the coco bread is fresh and has a hint of sweetness which balances the spicy chicken and creamy coleslaw perfectly.</li><li>The coco bread was soft but a bit cold as I think it was sitting there for a bit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_890">Next</a></li>
</ul>