<% provide :title, 'Opinion Target 8502' %><h2>BBQ whole chicken<br />occurrence: 1</h2><div><ol><li>BBQ whole chicken is very good, i also try they chicken place sandwich grilled, it taste so delicious, I recommend this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8503">Next</a></li>
</ul>