<% provide :title, 'Opinion Target 9077' %><h2>red pepper<br />occurrence: 1</h2><div><ol><li>Sprouts- the red pepper covered ones.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9076">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9078">Next</a></li>
</ul>