<% provide :title, 'Opinion Target 1673' %><h2>rock shrimp<br />occurrence: 2</h2><div><ol><li>The rock shrimp is amazing, but I think they put way to much mayo I always end up scrapping it off.</li><li>The rock shrimp was delicious and I love that they have fountain pop. The desserts come in little shot glasses which some people love because you can try a lot of things.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1674">Next</a></li>
</ul>