<% provide :title, 'Opinion Target 3566' %><h2>seviche with yuca and chicharon<br />occurrence: 1</h2><div><ol><li>I finished my meal before my wife got her seviche with yuca and chicharon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3565">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3567">Next</a></li>
</ul>