<% provide :title, 'Opinion Target 5118' %><h2>deep-fried sweet cruller<br />occurrence: 1</h2><div><ol><li>The deep-fried sweet cruller was crispy and delicious, even better than the ones I had in Hong Kong.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5117">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5119">Next</a></li>
</ul>