<% provide :title, 'Opinion Target 1679' %><h2>grilled beef<br />occurrence: 2</h2><div><ol><li>The only thing good about this place was the grilled beef rib which was flavourful and tender.</li><li>The grilled beef is passable although, I find that they do n't cut the beef into small enough pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1680">Next</a></li>
</ul>