<% provide :title, 'Opinion Target 3037' %><h2>maki combo<br />occurrence: 1</h2><div><ol><li>We ordered the maki combo and it came with spicy dynamite roll and two spicy salmon rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3038">Next</a></li>
</ul>