<% provide :title, 'Opinion Target 5899' %><h2>green tea red bean crepe<br />occurrence: 1</h2><div><ol><li>I opted for the green tea red bean crepe with a Matcha white chocolate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5900">Next</a></li>
</ul>