<% provide :title, 'Opinion Target 7136' %><h2>brunch entree<br />occurrence: 1</h2><div><ol><li>The cranberry pecan french toast was priced as a brunch entree but served as a small dessert item.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7137">Next</a></li>
</ul>