<% provide :title, 'Opinion Target 1412' %><h2>creme brule<br />occurrence: 3</h2><div><ol><li>I had their homemade creme brule and it was really excellent.</li><li>I had the salmon crepe, while my friend had creme brule.</li><li>My friend 's creme brule tasted great and it was smooth, but did n't have the hard layer on top which was weird ( perhaps they did n't have a flame that day).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1413">Next</a></li>
</ul>