<% provide :title, 'Opinion Target 3762' %><h2>Chicken in<br />occurrence: 1</h2><div><ol><li>We ordered Fish Fillet in Hot Secret Chilli Oil, Stir Fried Spicy Chinese Cabbage, Chicken in Hot Secret Chilli Oil Soup, and Minced Pork &amp; Pickled Long Bean Fried Rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3761">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3763">Next</a></li>
</ul>