<% provide :title, 'Opinion Target 1950' %><h2>pork rolls<br />occurrence: 2</h2><div><ol><li>The crispy pork rolls are delicious with the pho.</li><li>I usually just get a large bowl of pho, shrimp &amp; pork rolls, and an avocado shake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1951">Next</a></li>
</ul>