<% provide :title, 'Opinion Target 7244' %><h2>evaporated milk , tapioca<br />occurrence: 1</h2><div><ol><li>Shaved ice, flavored syrups, evaporated milk, tapioca and taro, red beans, jelly, ice cream ... oh yes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7245">Next</a></li>
</ul>