<% provide :title, 'Opinion Target 1270' %><h2>panini<br />occurrence: 3</h2><div><ol><li>The panini 's are great but I personally wait for the specials.</li><li>Their pizzas and panini look great!</li><li>She let us in, locked the doors and even though she was busy with a delivery order, made me and friend two fresh panini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1271">Next</a></li>
</ul>