<% provide :title, 'Opinion Target 5854' %><h2>sesame ice-cream<br />occurrence: 1</h2><div><ol><li>I havent tasted anything as sesame-ish as their sesame ice-cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5853">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5855">Next</a></li>
</ul>