<% provide :title, 'Opinion Target 6215' %><h2>shellfish<br />occurrence: 1</h2><div><ol><li>My partner had the beef dumpling soon tofu which was the only item he could have since he has to avoid any type of shellfish, pork or mushrooms ... probably wo n't be returning because of this ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6214">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6216">Next</a></li>
</ul>