<% provide :title, 'Opinion Target 3098' %><h2>blue fin tuna tartar<br />occurrence: 1</h2><div><ol><li>We also tried the blue fin tuna tartar only offered on weekends, the lion roll, crazy roll and the small sushi and maki combo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3099">Next</a></li>
</ul>