<% provide :title, 'Opinion Target 6865' %><h2>Magic Beef dish<br />occurrence: 1</h2><div><ol><li>The Magic Beef dish also hardly had any meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6866">Next</a></li>
</ul>