<% provide :title, 'Opinion Target 4271' %><h2>spinach artichoke dip<br />occurrence: 1</h2><div><ol><li>So first we shared their spinach artichoke dip, which was probably the best part of the night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4272">Next</a></li>
</ul>