<% provide :title, 'Opinion Target 6964' %><h2>soft ciabatta roll<br />occurrence: 1</h2><div><ol><li>Not to mention the food, which was amazing, had the Cuban sandwich, which was a ton of delicious pork on a soft ciabatta roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6963">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6965">Next</a></li>
</ul>