<% provide :title, 'Opinion Target 5835' %><h2>Thai Islamic Noodles with shrimp and chicken<br />occurrence: 1</h2><div><ol><li>Best dish is the panang curry- Beef panang ( lunch and dinner portions are prepared differently- dinner is crispy), or my favourite, the Thai Islamic Noodles with shrimp and chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5834">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5836">Next</a></li>
</ul>