<% provide :title, 'Opinion Target 3412' %><h2>lobster sandwhich<br />occurrence: 1</h2><div><ol><li>The lobster sandwhich was a joke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3413">Next</a></li>
</ul>