<% provide :title, 'Opinion Target 5132' %><h2>beef enchilada<br />occurrence: 1</h2><div><ol><li>My husband had beef enchilada and I had fish tacos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5133">Next</a></li>
</ul>