<% provide :title, 'Opinion Target 1767' %><h2>korean<br />occurrence: 2</h2><div><ol><li>Next time I would like to have a few drinks over dinner- ca n't wait to go back for another round!:) First time at an authentic korean family restaurant and I was blown away by the food.</li><li>The Korean Grill House run by Chinese has better food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1768">Next</a></li>
</ul>