<% provide :title, 'Opinion Target 1289' %><h2>hot chocolate<br />occurrence: 3</h2><div><ol><li>The hot chocolate was very rich and creamy as well.</li><li>Hot chocolate was not sweet ( which some ppl enjoy, but not me) and the crepe was just so-so.</li><li>This was my mistake but both the hot chocolate as well as the cake had a ridiculous amount of heavy cream and I could n't finish the cake because I felt like barfing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1288">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1290">Next</a></li>
</ul>