<% provide :title, 'Opinion Target 7454' %><h2>tandoori<br />occurrence: 1</h2><div><ol><li>The tandoori chicken was flavorful and not too dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7455">Next</a></li>
</ul>