<% provide :title, 'Opinion Target 1443' %><h2>noodles with chicken<br />occurrence: 3</h2><div><ol><li>We ordered lamb skewers, kidney skewers ( do n't hate, I love these), bbq buns ( which we thought were bbq pork buns ... they 're not), xianjang noodles with chicken, and black bean chicken.</li><li>Xianjang noodles with chicken were good but very spicy and oily.</li><li>Interesting and yummy.:) but I do n't know how authentic it is to mix instant noodles with chicken or another protein and then top it with mozzarella cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1442">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1444">Next</a></li>
</ul>