<% provide :title, 'Opinion Target 3665' %><h2>quality white chicken meat<br />occurrence: 1</h2><div><ol><li>They give a great portion that 's not too big so that you 're super full, and use all nice quality white chicken meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3666">Next</a></li>
</ul>