<% provide :title, 'Opinion Target 5319' %><h2>restaurant quality<br />occurrence: 1</h2><div><ol><li>The restaurant quality has really gotten worse over time, food and fish quality, store bought products vs made in the restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5318">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5320">Next</a></li>
</ul>