<% provide :title, 'Opinion Target 4870' %><h2>smoke salmon sushi roll<br />occurrence: 1</h2><div><ol><li>The smoke salmon sushi roll smelled fishy the moment it arrived; in fact, after being seated at the table I kept getting a wift of sourness for which I could n't pin point the source.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4869">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4871">Next</a></li>
</ul>