<% provide :title, 'Opinion Target 6953' %><h2>Santa Fay quinoa<br />occurrence: 1</h2><div><ol><li>The Santa Fay quinoa was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6952">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6954">Next</a></li>
</ul>