<% provide :title, 'Opinion Target 5861' %><h2>sesame ice-cream<br />occurrence: 1</h2><div><ol><li>I havent tasted anything as sesame-ish as their sesame ice-cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5860">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5862">Next</a></li>
</ul>