<% provide :title, 'Opinion Target 2032' %><h2>rotisserie chicken<br />occurrence: 2</h2><div><ol><li>Would come back to try their rotisserie chicken if it was the right time of day and would also want to try their pizza ..</li><li>The menu consists of rotisserie chicken, buffalo style wings, ribs, and some fish and chips ( though the pictures do n't make them seem appetizing).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2033">Next</a></li>
</ul>