<% provide :title, 'Opinion Target 1124' %><h2>lunch options<br />occurrence: 3</h2><div><ol><li>They also have great lunch options that I have gotten for take out before.</li><li>Nice and modern, this place serves some good lunch options like stuffed crèps and wonderful waffles as well as a good selection of some tasty beverages.</li><li>The lunch options are neither extremely expensive nor very inexpensive, and there 's a wide variety of options for pricing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1123">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1125">Next</a></li>
</ul>