<% provide :title, 'Opinion Target 8485' %><h2>bun with tomato sauce<br />occurrence: 1</h2><div><ol><li>Delicious italian sandwiches -- breaded veal on a soft bun with tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8484">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8486">Next</a></li>
</ul>