<% provide :title, 'Opinion Target 5302' %><h2>pineapple fried rice and curry beef panang<br />occurrence: 1</h2><div><ol><li>We had the fried glass noodles, pineapple fried rice and curry beef panang.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5303">Next</a></li>
</ul>