<% provide :title, 'Opinion Target 3761' %><h2>coffee taste<br />occurrence: 1</h2><div><ol><li>Their coffee shake was yummy, beware of strong coffee taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3762">Next</a></li>
</ul>