<% provide :title, 'Opinion Target 9048' %><h2>chung doenjang<br />occurrence: 1</h2><div><ol><li>It is also very good pair with Soybean stew ( chung doenjang jji game) and Soju.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9049">Next</a></li>
</ul>