<% provide :title, 'Opinion Target 5426' %><h2>Deep Fried Pickles<br />occurrence: 1</h2><div><ol><li>The Deep Fried Pickles are always crispy and delicious, the Coconut Shrimp is addictive and great to snack on, and the Lobster Artichoke dip is actually pretty awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5427">Next</a></li>
</ul>