<% provide :title, 'Opinion Target 8133' %><h2>fish stand<br />occurrence: 1</h2><div><ol><li>( Oh not to mention that walking past their fish stand, they just had frozen fish in their plastic shrink wrap packaging on display ... what the hell ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8132">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8134">Next</a></li>
</ul>