<% provide :title, 'Opinion Target 6352' %><h2>chicken cobb salad<br />occurrence: 1</h2><div><ol><li>I had the chicken cobb salad ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6353">Next</a></li>
</ul>