<% provide :title, 'Opinion Target 3350' %><h2>green onion cake<br />occurrence: 1</h2><div><ol><li>It should called green onion cake as it had 2 small shrimps.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3351">Next</a></li>
</ul>