<% provide :title, 'Opinion Target 1316' %><h2>cake decorator<br />occurrence: 3</h2><div><ol><li>She then tells me that the cake decorator is gone for the day so they ca n't fix it.</li><li>I then asked him if the cake decorator is in tomorrow.</li><li>Luckily the woman who was working cash ( I believe her name is Veronica) was the same one who was there the day before when this all happened so I told her that they had spelled my Mom 's name wrong again and I swear if it was n't for her going downstairs to the cake decorator herself, he would 've messed it up again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1315">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1317">Next</a></li>
</ul>