<% provide :title, 'Opinion Target 8026' %><h2>tofu choices<br />occurrence: 1</h2><div><ol><li>They have a variety of tofu choices, including seafood and vegetarian.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8027">Next</a></li>
</ul>