<% provide :title, 'Opinion Target 5593' %><h2>four leaf clover<br />occurrence: 1</h2><div><ol><li>We opted not to get the green beer, however, our kind hostess offered to make a green four leaf clover on the Guinness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5594">Next</a></li>
</ul>