<% provide :title, 'Opinion Target 3824' %><h2>Korean desserts<br />occurrence: 1</h2><div><ol><li>They also offer other flavours such as Oreo-Coco and Rice Cake, and a variety of other delicious Korean desserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3825">Next</a></li>
</ul>