<% provide :title, 'Opinion Target 6092' %><h2>diner booths<br />occurrence: 1</h2><div><ol><li>They do n't have much in terms of comfy diner booths ( bummer), but in turn provide somewhat gourmet food coming from a visibly clean kitchen ( bonus points!).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6093">Next</a></li>
</ul>