<% provide :title, 'Opinion Target 1513' %><h2>beef tofu stew<br />occurrence: 3</h2><div><ol><li>The beef tofu stew was way over how much I would typically pay at a Korean restaurant.</li><li>My hubby ordered beef tofu stew and I had a soup and beef bibimap- we shared and both meals were delicious.</li><li>My only gripe is the beef tofu stew never has much protein, you literally only get 1 oz I think.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1512">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1514">Next</a></li>
</ul>