<% provide :title, 'Opinion Target 1339' %><h2>koobideh kebab<br />occurrence: 3</h2><div><ol><li>The koobideh kebab was easy to eat and has a hint of lamb and onions to it.</li><li>I ordered the koobideh kebab to go.</li><li>Ended up getting both the koobideh kebab and rice, and the lamb shank and rice to go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1340">Next</a></li>
</ul>