<% provide :title, 'Opinion Target 6605' %><h2>seafood wonton<br />occurrence: 1</h2><div><ol><li>One word of caution- if you order the seafood wonton, beware that it contains crunched bones ... edible ... but may freak you out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6604">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6606">Next</a></li>
</ul>