<% provide :title, 'Opinion Target 6527' %><h2>beef stew dishes<br />occurrence: 1</h2><div><ol><li>It reminded me of one of my favorite beef stew dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6528">Next</a></li>
</ul>