<% provide :title, 'Opinion Target 5208' %><h2>mango yogurt drink<br />occurrence: 1</h2><div><ol><li>The mango yogurt drink tasted like mango syrup in ice, it was very disappointing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5207">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5209">Next</a></li>
</ul>