<% provide :title, 'Opinion Target 3744' %><h2>kale<br />occurrence: 1</h2><div><ol><li>The only thing that I thought was kind of weird was the few weeks that the `` kale'' was actually kai lan, also known as Chinese kale ... it was soon changed back to regular kale, and though I did n't mind the kai lan because I grew up eating it at home, I 'm sure it caused confusion for some customers who did n't expect to eat plain Chinese vegetables with their quinoa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3745">Next</a></li>
</ul>