<% provide :title, 'Opinion Target 4165' %><h2>deep fried seafood<br />occurrence: 1</h2><div><ol><li>For tonight 's dinner with a special friend, we ordered half a roasted duck ( $ 8.50), fried pork chop with spicy salt ( $ 6.95), and deep fried seafood with spicy salt ( $ 13.75).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4166">Next</a></li>
</ul>