<% provide :title, 'Opinion Target 7582' %><h2>potato mush<br />occurrence: 1</h2><div><ol><li>I was pleasantly surprised that it turned out pretty well, despite the fact that I was expecting them to use sweet potato batter for the waffles, when in reality, the sweet potato mush was spread onto the regular waffle instead.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7583">Next</a></li>
</ul>