<% provide :title, 'Opinion Target 1114' %><h2>turf<br />occurrence: 3</h2><div><ol><li>A colossal shrimp offered to surf one 's turf is a worthwhile investment.</li><li>It was seasoned poorly, and we left more on the plate than we ate which I NEVER do with surf n turf.</li><li>Perhaps the best surf and turf I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1115">Next</a></li>
</ul>