<% provide :title, 'Opinion Target 6439' %><h2>rosted pork<br />occurrence: 1</h2><div><ol><li>The rosted pork and BBQ duck are my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6438">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6440">Next</a></li>
</ul>