<% provide :title, 'Opinion Target 8037' %><h2>dining room a la cartel menu<br />occurrence: 1</h2><div><ol><li>Tried the Teppenyaki a few times but the dining room a la cartel menu is better than the AYCE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8038">Next</a></li>
</ul>