<% provide :title, 'Opinion Target 1638' %><h2>prix fixe dinners<br />occurrence: 2</h2><div><ol><li>We ventured up to Avenue Road with a Travel Zoo voucher ( $ 49 for 2 prix fixe dinners) in hand for a night of delightful food.</li><li>Note: there are only 2 prix fixe dinners, if it is n't sunday.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1637">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1639">Next</a></li>
</ul>