<% provide :title, 'Opinion Target 4157' %><h2>Sapporo beer<br />occurrence: 1</h2><div><ol><li>I ordered Sapporo beer and a bottle of Organic Nama Sake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4158">Next</a></li>
</ul>