<% provide :title, 'Opinion Target 7649' %><h2>chicken waffle club<br />occurrence: 1</h2><div><ol><li>I went for the chicken waffle club.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7650">Next</a></li>
</ul>