<% provide :title, 'Opinion Target 6032' %><h2>curry crab<br />occurrence: 1</h2><div><ol><li>OMG I love the curry crab here!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6033">Next</a></li>
</ul>