<% provide :title, 'Opinion Target 7173' %><h2>plate appetizer platter<br />occurrence: 1</h2><div><ol><li>Cold plate appetizer platter for two is better shared by four.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7174">Next</a></li>
</ul>