<% provide :title, 'Opinion Target 2231' %><h2>barley tea<br />occurrence: 2</h2><div><ol><li>The standard 4 set banchan arrived with the meal and I liked that they served their barley tea warm and not scolding hot.</li><li>The result tastes sorta like barley tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2232">Next</a></li>
</ul>