<% provide :title, 'Opinion Target 6810' %><h2>octopus balls<br />occurrence: 1</h2><div><ol><li>I especially enjoy the chicken karage ( deep fried chicken) and their octopus balls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6811">Next</a></li>
</ul>