<% provide :title, 'Opinion Target 4100' %><h2>beef with mixed veggies<br />occurrence: 1</h2><div><ol><li>I have ordered sweet and sour chicken, beef with mixed veggies, salt n pepper squid, ho fun, and chicken wings and fried rice and it was all cooked to perfection!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4101">Next</a></li>
</ul>