<% provide :title, 'Opinion Target 6095' %><h2>nicoise salad<br />occurrence: 1</h2><div><ol><li>The nicoise salad ( $ 14) was a huge helping with generous pieces of tuna, hearty eggs and potatoes, and fresh greens and beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6096">Next</a></li>
</ul>