<% provide :title, 'Opinion Target 2474' %><h2>caramel brownie<br />occurrence: 2</h2><div><ol><li>We ordered the caramel brownie &amp; it was horrible.</li><li>While my friend went for a meal- the salmon with veggies which he said was pretty good- I just wanted some dessert so I tried the caramel brownie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2473">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2475">Next</a></li>
</ul>