<% provide :title, 'Opinion Target 1357' %><h2>curry beef<br />occurrence: 2</h2><div><ol><li>2. the waitress was nice 3. lemongrass shrimp: vegetables are very fresh and crispy, shrimps were fat and chewy 4. friend had curry beef which i found too milky taste.</li><li>It was a very enjoyable meal and despite the steeper prices, I would definitely come back to eat the curry beef again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1358">Next</a></li>
</ul>