<% provide :title, 'Opinion Target 1374' %><h2>perogies<br />occurrence: 2</h2><div><ol><li>The perogies &amp; falafel were good.</li><li>The perogies were not bad and the sliders were ok too .... nothing special, but ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1373">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1375">Next</a></li>
</ul>