<% provide :title, 'Opinion Target 6034' %><h2>AYCE eel<br />occurrence: 1</h2><div><ol><li>I do n't think I would return, but with a second TeamBuy voucher, and their unwillingness to refund it, I think I will have to! 10 piece sashimi lunch special with bowl of rice and also comes with miso soup and salad $ 10.95- the sashimi was fairly fresh but portions small Eel with rice $ 11.95- I have had AYCE eel with rice that tasted better than this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6035">Next</a></li>
</ul>