<% provide :title, 'Opinion Target 6122' %><h2>raisins<br />occurrence: 1</h2><div><ol><li>Had raisins in it which provided a nice surprise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6123">Next</a></li>
</ul>