<% provide :title, 'Opinion Target 3776' %><h2>grilled chicken and rice<br />occurrence: 1</h2><div><ol><li>When I go, I usually get grilled chicken and rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3775">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3777">Next</a></li>
</ul>