<% provide :title, 'Opinion Target 1948' %><h2>macaroni salad<br />occurrence: 2</h2><div><ol><li>After we ordered our food, our server brought us a plate of side dishes of green salad, white radish, and macaroni salad.</li><li>Lots of cold side salad choices like potato salad, macaroni salad, chick peas with octopus, cucumber n tomatoes etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1949">Next</a></li>
</ul>