<% provide :title, 'Opinion Target 7235' %><h2>Korean BBQ mixed<br />occurrence: 1</h2><div><ol><li>In my opinion it 's kind of like Mandarin and Korean BBQ mixed together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7236">Next</a></li>
</ul>