<% provide :title, 'Opinion Target 9608' %><h2>Biryani rice<br />occurrence: 1</h2><div><ol><li>My Biryani rice however, was plentiful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9609">Next</a></li>
</ul>