<% provide :title, 'Opinion Target 5337' %><h2>food intolerance diet<br />occurrence: 1</h2><div><ol><li>Came here today because we had some gift certificates. it was my first time eating out with my new food intolerance diet, so I was having a hard time choosing something that did n't conflict with me ( until i realized Soya sauce is made out of soy) So we kept it simple.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5338">Next</a></li>
</ul>