<% provide :title, 'Opinion Target 2730' %><h2>icing<br />occurrence: 1</h2><div><ol><li>The icing on the cake was when a customer came over to the table and proceeded to tell us how to parent our children.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2729">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2731">Next</a></li>
</ul>