<% provide :title, 'Opinion Target 6170' %><h2>beef on skewered<br />occurrence: 1</h2><div><ol><li>The beef on skewered were so good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6171">Next</a></li>
</ul>