<% provide :title, 'Opinion Target 4008' %><h2>takeout bubble tea<br />occurrence: 1</h2><div><ol><li>Cheap takeout bubble tea only $ 1.99!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4009">Next</a></li>
</ul>