<% provide :title, 'Opinion Target 1693' %><h2>veal parmigiana sandwich<br />occurrence: 2</h2><div><ol><li>My buddy got the veal parmigiana sandwich and it actually looked better then the food on my dish.</li><li>I dropped in today for lunch and had a good veal parmigiana sandwich and a drink for $ 8.50 taxes in .... the veal was hot, the bun was fresh, the mozzarella cheese was plentiful and stringy ... mushrooms and peppers were good but could have used a few more to make it perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1694">Next</a></li>
</ul>