<% provide :title, 'Opinion Target 1121' %><h2>stuff<br />occurrence: 4</h2><div><ol><li>And because they have so much traffic, their stuff is always fresh!</li><li>We had a nice dinner with the kids The ribs are great and worth the price Side orders are a bit pricy for the size they are serving Overall good food with friendly stuff Worth the price.</li><li>About food .... ...............:)) we did n't go home hungry with the $ 85 menu.:)) The stuff was good .. no complains about them ....</li><li>The stuff is absolutely amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1122">Next</a></li>
</ul>