<% provide :title, 'Opinion Target 5660' %><h2>original fried chicken<br />occurrence: 1</h2><div><ol><li>The original fried chicken was our favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5661">Next</a></li>
</ul>