<% provide :title, 'Opinion Target 1903' %><h2>cole slaw<br />occurrence: 2</h2><div><ol><li>I ordered the cheeseburger with applewood smoked bacon, with the couscous as the side, since I 'm not a huge cole slaw fan.</li><li>Before the calamari was anywhere near the table there 's the cole slaw I did n't want.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1904">Next</a></li>
</ul>