<% provide :title, 'Opinion Target 2030' %><h2>borscht<br />occurrence: 2</h2><div><ol><li>First a little background- Hong Kong being the cosmopolitan metropolis it is, is full of restos such as these that serve up a Cantonese version of Western food ( spaghetti, steak n potatoes, borscht, lots and lots of toast sandwiches).</li><li>Until then, my experience with Russian and Eastern European cuisine was limited to caviar, borscht and whatever vegetable you can pickle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2031">Next</a></li>
</ul>