<% provide :title, 'Opinion Target 5136' %><h2>Deep fried Dough  -  Rice noodles with beef and black bean sauce Food<br />occurrence: 1</h2><div><ol><li>Ordered 3 items from the menu:- Lean Pork with preserved Egg/Salty Egg Congee ( Small)- Deep fried Dough- Rice noodles with beef and black bean sauce Food came out in under 10 minutes and everything was hot and tasted pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5137">Next</a></li>
</ul>