<% provide :title, 'Opinion Target 8154' %><h2>'' decor<br />occurrence: 1</h2><div><ol><li>When you walk in and see the `` plastic jungle/forest'' decor, it 's a perfect indication of what the food is going to be like .... not good, but not bad enough to be offensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8153">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8155">Next</a></li>
</ul>