<% provide :title, 'Opinion Target 7248' %><h2>shaved ice station<br />occurrence: 1</h2><div><ol><li>There is a small section for desert, but what is different is the shaved ice station and the chocolate fountain.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7249">Next</a></li>
</ul>