<% provide :title, 'Opinion Target 2367' %><h2>chilli shrimp fried rice<br />occurrence: 1</h2><div><ol><li>I got the chilli shrimp fried rice, he had the kimchi fried rice, and the chicken stew as the main course.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2368">Next</a></li>
</ul>