<% provide :title, 'Opinion Target 4848' %><h2>organ dishes<br />occurrence: 1</h2><div><ol><li>The organ dishes are great too if you 're into that kinda stuff ( I 've had the liver and lung here and mmmm ...)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4847">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4849">Next</a></li>
</ul>