<% provide :title, 'Opinion Target 7725' %><h2>jumbo maki rolls<br />occurrence: 1</h2><div><ol><li>I ordered the salmon teriyaki and my boyfriend ordered one of their jumbo maki rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7726">Next</a></li>
</ul>