<% provide :title, 'Opinion Target 4318' %><h2>honeydew milk tea with aloe Vera jelly<br />occurrence: 1</h2><div><ol><li>I bought honeydew milk tea with aloe Vera jelly and it was disgusting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4319">Next</a></li>
</ul>