<% provide :title, 'Opinion Target 3484' %><h2>deli sandwiches<br />occurrence: 1</h2><div><ol><li>Great deli sandwiches that are easily enough for two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3485">Next</a></li>
</ul>