<% provide :title, 'Opinion Target 6336' %><h2>sausage rosti with sour cream<br />occurrence: 1</h2><div><ol><li>I went with the sausage rosti with sour cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6337">Next</a></li>
</ul>