<% provide :title, 'Opinion Target 2660' %><h2>served with cabbage and oyster kimchi<br />occurrence: 1</h2><div><ol><li>I 'm also a big fan of their Bo-Ssam ( boiled pork) served with cabbage and oyster kimchi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2661">Next</a></li>
</ul>