<% provide :title, 'Opinion Target 5745' %><h2>Thai taco skin<br />occurrence: 1</h2><div><ol><li>Today the Thai taco skin was a bit dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5744">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5746">Next</a></li>
</ul>