<% provide :title, 'Opinion Target 1990' %><h2>bagoong<br />occurrence: 2</h2><div><ol><li>Comes with a side of bagoong ( shrimp paste) ...</li><li>Vegetables still had a crunch to it, very good bagoong, and the crispy pork pieces were a good addition.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1989">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1991">Next</a></li>
</ul>