<% provide :title, 'Opinion Target 7323' %><h2>lobster stir fried with ginger and onion<br />occurrence: 1</h2><div><ol><li>The Lobster Fried Noodles is just Chunks of lobster stir fried with ginger and onion and resting atop a bed of Cantonese fried egg noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7324">Next</a></li>
</ul>