<% provide :title, 'Opinion Target 9312' %><h2>stirfry<br />occurrence: 1</h2><div><ol><li>Went here a couple of times Pricey for what you are paying for There is only so much all you can eat stir fry one can eat Good selection of fresh food for the stirfry you are creating I think this place is more for the experience Getting to watch a teppan chef cook your food is essentially what you are paying for Nothing special but would go again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9313">Next</a></li>
</ul>