<% provide :title, 'Opinion Target 4170' %><h2>maki rolles<br />occurrence: 1</h2><div><ol><li>They have incredible special roles, and their normal maki rolles use extremely fresh fish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4171">Next</a></li>
</ul>