<% provide :title, 'Opinion Target 8384' %><h2>Shanghai food<br />occurrence: 1</h2><div><ol><li>They have the typical Shanghai food, and the price is pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8385">Next</a></li>
</ul>