<% provide :title, 'Opinion Target 4892' %><h2>scallop sashimi and the chicken wings<br />occurrence: 1</h2><div><ol><li>Tenichi does not have scallop sashimi and the chicken wings here are pretty amazing as well. you will not be disappointed here. the price for 2 with tax is $ 59 ( not including tips).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4893">Next</a></li>
</ul>