<% provide :title, 'Opinion Target 2134' %><h2>Taro dumplings<br />occurrence: 2</h2><div><ol><li>The Taro dumplings and khannom jeen noodles was my favourite dish.</li><li>The yeung chow fried rice is great, as are the taro dumplings ( eat-in only as they wo n't keep their light gelatinous feel if you get them to go).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2135">Next</a></li>
</ul>