<% provide :title, 'Opinion Target 4433' %><h2>aromas<br />occurrence: 1</h2><div><ol><li>As soon as I walked in the door, the aromas took me back to those earlier days; enjoying good food with great friends.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4432">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4434">Next</a></li>
</ul>