<% provide :title, 'Opinion Target 2716' %><h2>breads. fruits<br />occurrence: 1</h2><div><ol><li>Raw veggies, coleslaws, breads. fruits.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2715">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2717">Next</a></li>
</ul>