<% provide :title, 'Opinion Target 5853' %><h2>homemade purple sweet potato ice cream<br />occurrence: 1</h2><div><ol><li>Their homemade purple sweet potato ice cream honestly did n't taste much like purple sweet potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5854">Next</a></li>
</ul>