<% provide :title, 'Opinion Target 5106' %><h2>soup seafood fried rice<br />occurrence: 1</h2><div><ol><li>Great for lunch at time. yummmm !! def going back ... awesome hot and sour soup seafood fried rice and everything else ..:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5107">Next</a></li>
</ul>