<% provide :title, 'Opinion Target 3834' %><h2>dinner items<br />occurrence: 1</h2><div><ol><li>The dinner items are worth the extra money!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3835">Next</a></li>
</ul>