<% provide :title, 'Opinion Target 2355' %><h2>chocolate whipped cream<br />occurrence: 2</h2><div><ol><li>The chocolate whipped cream was a tad unnecessary, as the inside was predominantly this chocolate whipped cream with a couple slices of strawberries.</li><li>The chocolate whipped cream was a tad unnecessary, as the inside was predominantly this chocolate whipped cream with a couple slices of strawberries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2356">Next</a></li>
</ul>