<% provide :title, 'Opinion Target 1466' %><h2>Spider<br />occurrence: 3</h2><div><ol><li>I would suggest to always go for their special rolls, my ranking of my favorite rolls over there:- Rainbow- Moon River- Hard Rock- Beef- Spider.</li><li>I got take out and the order was done within 20 min, i got the spider, red dynamite, sushi bong special ( 5 piece sushi with salmon and white tuna, salmon maki and California.</li><li>Recommended sushi rolls: Dynamite, Spider, Moon river, Philadelphia, Hard Rock &amp; Roll, ranging from $ 7- $ 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1465">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1467">Next</a></li>
</ul>