<% provide :title, 'Opinion Target 4179' %><h2>rigatoni<br />occurrence: 1</h2><div><ol><li>We love the escargot, gnocchi and rigatoni a la vodka.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4180">Next</a></li>
</ul>