<% provide :title, 'Opinion Target 1534' %><h2>main dish<br />occurrence: 2</h2><div><ol><li>Their main dish is bad and the staff are rude to you and unwelcoming.</li><li>My main dish was the Ginger chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1533">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1535">Next</a></li>
</ul>