<% provide :title, 'Opinion Target 3422' %><h2>take-out special<br />occurrence: 1</h2><div><ol><li>Also the price for take-out special has increased from $ 6.99 to $ 7.95 recently.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3423">Next</a></li>
</ul>