<% provide :title, 'Opinion Target 3561' %><h2>with fattoush salad<br />occurrence: 1</h2><div><ol><li>For 3 adults and 2 kids, our go-to order is half mixed-platter with fattoush salad and rice on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3562">Next</a></li>
</ul>