<% provide :title, 'Opinion Target 3599' %><h2>fish grease<br />occurrence: 1</h2><div><ol><li>I 'm writing this review a good three hours after dining there and I 've got the worst heartburn and can still taste the fish grease in my mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3600">Next</a></li>
</ul>