<% provide :title, 'Opinion Target 2876' %><h2>proprietors<br />occurrence: 1</h2><div><ol><li>Though menus have English, i would say that the proprietors speak very little English.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2877">Next</a></li>
</ul>