<% provide :title, 'Opinion Target 1259' %><h2>tofu dish<br />occurrence: 3</h2><div><ol><li>Last time I was here I ordered the bean curd in black bean sauce which was probably the best tofu dish I 've had at a Chinese restaurant.</li><li>The tofu dish among the little appetizers was the freshest I 've ever had at a restaurant.</li><li>You might find yourself liking at least one tofu dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1260">Next</a></li>
</ul>