<% provide :title, 'Opinion Target 3832' %><h2>raw fish<br />occurrence: 1</h2><div><ol><li>The raw fish was the worst part about the food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3831">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3833">Next</a></li>
</ul>