<% provide :title, 'Opinion Target 5232' %><h2>seafood dak gal<br />occurrence: 1</h2><div><ol><li>My friend and I shared the chicken and seafood dak gal bee with the Joon 's original sauce and cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5231">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5233">Next</a></li>
</ul>