<% provide :title, 'Opinion Target 893' %><h2>halibut<br />occurrence: 4</h2><div><ol><li>I ordered the halibut- batter is golden yellow light crispy goodness.</li><li>Their halibut is fresh, and the batter is tasty with just the right crunch and thickness.</li><li>A bit expensive for halibut but other fishes are average priced.</li><li>My wife 's halibut was dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_894">Next</a></li>
</ul>