<% provide :title, 'Opinion Target 1169' %><h2>ice creams<br />occurrence: 3</h2><div><ol><li>Loved the custard with cookie/cake crumbs and assorted ice creams!</li><li>Selection of desserts were pretty good, recommend mango yogurt, mango sago was watery and I could not taste the mango really, ice creams were not bad, standard fare, the tempura banana was interesting to try but nothing to surprise the taste buds, maybe I should have tried to pair warm banana with ice cream! ( Neeeeext time Overall good place to stuff my stomach silly!</li><li>Love the unique variety of ice creams they serve.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1170">Next</a></li>
</ul>