<% provide :title, 'Opinion Target 4612' %><h2>Oyster mushroom<br />occurrence: 1</h2><div><ol><li>The Oyster mushroom is fried just right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4613">Next</a></li>
</ul>