<% provide :title, 'Opinion Target 6012' %><h2>sushi vinegar<br />occurrence: 1</h2><div><ol><li>Also, the rice has a slight tartness from the sushi vinegar, which is very reassuring because normally a lot places just plop rice in a bowl and serve sashimi on top of it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6013">Next</a></li>
</ul>