<% provide :title, 'Opinion Target 3703' %><h2>balsamic<br />occurrence: 1</h2><div><ol><li>Water is pre-poured ( germaphobes beware ?), and the bread basket, with olive spread, butter, olive oil and balsamic are also preset at the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3704">Next</a></li>
</ul>