<% provide :title, 'Opinion Target 7486' %><h2>lula kabob<br />occurrence: 1</h2><div><ol><li>I 've tried most dishes at this restaurant and I have to say, the lula kabob and sea bass are my top 2 choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7485">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7487">Next</a></li>
</ul>