<% provide :title, 'Opinion Target 1098' %><h2>Northern Chinese<br />occurrence: 3</h2><div><ol><li>Usually I am happy to please at a Northern Chinese Restaurants, just give me noodles, dumplings and something hot and spicy, I will be a happy camper.</li><li>Best Northern Chinese around.</li><li>They specialize in Northern Chinese, but have a pretty diverse menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1099">Next</a></li>
</ul>