<% provide :title, 'Opinion Target 7987' %><h2>menu beside beef<br />occurrence: 1</h2><div><ol><li>There were n't many choices in the menu beside beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7988">Next</a></li>
</ul>