<% provide :title, 'Opinion Target 7049' %><h2>pizza dough<br />occurrence: 1</h2><div><ol><li>I had a taste of both- the ragu sauce was so tasty and the pizza dough was exactly the consistency I love- not too thick and chewy!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7050">Next</a></li>
</ul>