<% provide :title, 'Opinion Target 2574' %><h2>entree course<br />occurrence: 1</h2><div><ol><li>Main entree course ( sushi and sashimi) was prepared in advance and left to sit on top of the cooler, as opposed to inside of it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2573">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2575">Next</a></li>
</ul>