<% provide :title, 'Opinion Target 6431' %><h2>Sweet Asian wings<br />occurrence: 1</h2><div><ol><li>The Sweet Asian wings were a good flavour profile change as the other wings were more savoury.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6432">Next</a></li>
</ul>