<% provide :title, 'Opinion Target 5968' %><h2>chipotle ' firecracker ' burger<br />occurrence: 1</h2><div><ol><li>The waitress recommended their chipotle ' firecracker' burger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5969">Next</a></li>
</ul>