<% provide :title, 'Opinion Target 6335' %><h2>lobster meat in a cream soup<br />occurrence: 1</h2><div><ol><li>It tastes like lobster meat in a cream soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6334">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6336">Next</a></li>
</ul>