<% provide :title, 'Opinion Target 6871' %><h2>potatoes and beef cubes<br />occurrence: 1</h2><div><ol><li>My friend tried the Biang Biang Noodles and they had eggs &amp; tomatoes, potatoes and beef cubes, I 'll probably get that next time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6872">Next</a></li>
</ul>