<% provide :title, 'Opinion Target 6484' %><h2>sesame bread<br />occurrence: 1</h2><div><ol><li>The sesame bread was pretty good, with some flaky texture, but it was n't great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6485">Next</a></li>
</ul>