<% provide :title, 'Opinion Target 842' %><h2>blue crab<br />occurrence: 4</h2><div><ol><li>What I love about this place was that it serves up dishes most restaurants don`t ie. blue crab stew and raw blue crab.</li><li>I`d definitely come back to try their marinated raw blue crab.</li><li>The GanJang GeJang raw crabs arrived in two plates and split open to reveal the guts inside each small blue crab.</li><li>They use the blue crab, instead of the type from Korea for obvious reason.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_843">Next</a></li>
</ul>