<% provide :title, 'Opinion Target 3533' %><h2>kimchi stew and pollack stew<br />occurrence: 1</h2><div><ol><li>We ordered kimchi stew and pollack stew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3534">Next</a></li>
</ul>