<% provide :title, 'Opinion Target 9589' %><h2>Blueberry buns<br />occurrence: 1</h2><div><ol><li>Blueberry buns.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9590">Next</a></li>
</ul>