<% provide :title, 'Opinion Target 4015' %><h2>rice with peas<br />occurrence: 1</h2><div><ol><li>Got several lunch specials ( 1/4 chicken, coleslaw, rice with peas and gravy) and the Jamaican patty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4016">Next</a></li>
</ul>