<% provide :title, 'Opinion Target 6385' %><h2>spice profile<br />occurrence: 1</h2><div><ol><li>The rice had a nice spice profile to bring out the flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6384">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6386">Next</a></li>
</ul>