<% provide :title, 'Opinion Target 1292' %><h2>crêpes<br />occurrence: 3</h2><div><ol><li>The crêpes and cakes are the perfect texture and sweetness ( Try the shortcake or brownie crêpe, it 's my favourite).</li><li>There 's a station for salads, oven pizzas, crêpes, pasta and etc for all types of foodies to enjoy.</li><li>Their menu is extensive and one has the choice of choosing from their many options ( e.g. fruit, omelettes, crêpes, eggs, etc.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1291">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1293">Next</a></li>
</ul>