<% provide :title, 'Opinion Target 5446' %><h2>cabbage & tomato sauce<br />occurrence: 1</h2><div><ol><li>My son just tasted the cabbage &amp; tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5447">Next</a></li>
</ul>