<% provide :title, 'Opinion Target 3079' %><h2>chocolate oreo waffle<br />occurrence: 1</h2><div><ol><li>The chocolate oreo waffle was definitely over-cooked, as it was brittle ( the waitress did tell us it was though).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3080">Next</a></li>
</ul>