<% provide :title, 'Opinion Target 792' %><h2>Tzatziki<br />occurrence: 4</h2><div><ol><li>There are a couple of notable things: The Tzatziki is brilliant! garlicky, lemony, tangy deliciousness.</li><li>As with other halal places, you get your choice of tzatziki, tahini, hot sauce, and salad dressings to pour on.</li><li>The pita was fresh and the tzatziki was perfectly garlicky.</li><li>Sometimes they do n't put enough dressing on the salad or enough tzatziki, so you have to ask for more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_793">Next</a></li>
</ul>