<% provide :title, 'Opinion Target 5943' %><h2>leaf lettuce garnish<br />occurrence: 1</h2><div><ol><li>The Vietnamese spring rolls had a flaky tasteless, cracked flour mixture on it exterior and the menu described it came with a `` salad'' when in fact a leaf lettuce garnish was the truth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5944">Next</a></li>
</ul>