<% provide :title, 'Opinion Target 2416' %><h2>decors<br />occurrence: 1</h2><div><ol><li>The decors they use are real flowers ( yes I sniffed them and touched them, I have picture posted).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2417">Next</a></li>
</ul>