<% provide :title, 'Opinion Target 6641' %><h2>mum<br />occurrence: 1</h2><div><ol><li>Also the complementary appetizers that are typical of these type of restaurants ... my mum is always asking if we can go eat here because she craves them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6642">Next</a></li>
</ul>