<% provide :title, 'Opinion Target 4039' %><h2>cavateli bolognese<br />occurrence: 1</h2><div><ol><li>We tried the fried calamari to start, the mushroom risotto, and the cavateli bolognese which is a short pasta with tomato and minced meat ragu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4038">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4040">Next</a></li>
</ul>