<% provide :title, 'Opinion Target 1664' %><h2>yuzu salmon<br />occurrence: 2</h2><div><ol><li>My favourites were the rock shrimp, beef tataki, yuzu salmon and chicken wing skewers.</li><li>They have a lot of specialty items -- beef tataki, yuzu salmon, rock shrimp -- that they do n't serve at a lot of other AYCE locations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1665">Next</a></li>
</ul>