<% provide :title, 'Opinion Target 3355' %><h2>Hiyashi Tofu<br />occurrence: 1</h2><div><ol><li>I also ordered the Hiyashi Tofu, a cold tofu with green onion, ginger and sesame oil, a real treat on a hot summer 's day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3354">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3356">Next</a></li>
</ul>