<% provide :title, 'Opinion Target 6245' %><h2>takeout sandwich<br />occurrence: 1</h2><div><ol><li>Also served like a takeout sandwich on a ceramic plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6246">Next</a></li>
</ul>