<% provide :title, 'Opinion Target 3337' %><h2>deep-fried roll<br />occurrence: 1</h2><div><ol><li>I think the regular roll was great but the deep-fried roll was over the top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3338">Next</a></li>
</ul>