<% provide :title, 'Opinion Target 3424' %><h2>Popcorn Shrimp Po' boy<br />occurrence: 1</h2><div><ol><li>No dorky menu names like Picklin ' Parish Burger topped with Bayou Dressing and served with a side of Levee fries, Popcorn Shrimp Po' boy, or a Paul Prudhomme Pizza with Blackened Katrina Catfish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3425">Next</a></li>
</ul>