<% provide :title, 'Opinion Target 1533' %><h2>honey garlic chicken<br />occurrence: 3</h2><div><ol><li>We ordered egg rolls, spring rolls, mushroom fried rice, General Tso 's chicken, honey garlic chicken, and a side of extra honey garlic sauce.</li><li>The honey garlic chicken was delicious though the sauce is VERY sweet.</li><li>So I ask one of the employees if he can help me, and he just goes to the back grabs a plate and just literally scoops a heap of their honey garlic chicken and dumps it on a half scoop of old rice and hands it to me ... great service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1534">Next</a></li>
</ul>