<% provide :title, 'Opinion Target 6295' %><h2>chicken wings and french fries<br />occurrence: 1</h2><div><ol><li>The safest bet of the bunch was good old chicken wings and french fries which we good, not great but good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6296">Next</a></li>
</ul>