<% provide :title, 'Opinion Target 5575' %><h2>Black tiger shrimp sautéed in a white wine<br />occurrence: 1</h2><div><ol><li>( I like my tomato sauce to be a little spicy to add some taste)- Shrimp Marinara: Black tiger shrimp sautéed in a white wine, garlic tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5574">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5576">Next</a></li>
</ul>