<% provide :title, 'Opinion Target 7668' %><h2>croissants<br />occurrence: 1</h2><div><ol><li>The croissants here are pretty good, Crispy on the outside, buttery good on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7667">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7669">Next</a></li>
</ul>