<% provide :title, 'Opinion Target 2674' %><h2>milk .. butter<br />occurrence: 1</h2><div><ol><li>But the milk .. butter ... something something ... which look like tofu cubes are down right delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2675">Next</a></li>
</ul>