<% provide :title, 'Opinion Target 3981' %><h2>Banchan Spicy Snail<br />occurrence: 1</h2><div><ol><li>Spicy Mackerel:- 0.5* Fishy taste, should have been FREE as a Banchan Spicy Snail: A-OK Snails have bite, not shrivelled up, Noodles good w/Sauce I do n't remember much anymore seriously.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3982">Next</a></li>
</ul>