<% provide :title, 'Opinion Target 4572' %><h2>rice with panang curry<br />occurrence: 1</h2><div><ol><li>For our meal, we had the crispy beef, shrimp pad thai, and rice with panang curry- all very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4571">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4573">Next</a></li>
</ul>