<% provide :title, 'Opinion Target 7320' %><h2>eel meat<br />occurrence: 1</h2><div><ol><li>I usually avoid fried rice, but I found the eel fried rice to be my favorite dish- the individual ingredients blended well together, and the eel meat just made each bite better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7321">Next</a></li>
</ul>