<% provide :title, 'Opinion Target 4352' %><h2>deep fried seaweed roll<br />occurrence: 1</h2><div><ol><li>( Avoid the overly greasy kim chi fried rice and the deep fried seaweed roll ... apologies for not remember what they are called ...)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4351">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4353">Next</a></li>
</ul>