<% provide :title, 'Opinion Target 5659' %><h2>green onion fried chicken<br />occurrence: 1</h2><div><ol><li>We got a large order of green onion fried chicken ( with bones), and a small order of crispy chicken ( for size comparison) A plate of side-dishes and a hot plate of corn came out as we waited for the chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5660">Next</a></li>
</ul>