<% provide :title, 'Opinion Target 1892' %><h2>Bang Bang Mian<br />occurrence: 2</h2><div><ol><li>The Bang Bang Mian was very good.</li><li>The Zha Jiang Mian was n't as good as the Bang Bang Mian.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1891">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1893">Next</a></li>
</ul>