<% provide :title, 'Opinion Target 2845' %><h2>apple cinnamon spingroll<br />occurrence: 1</h2><div><ol><li>I love the chicken udon, and the miso soup, and the shrimp tempura, and the apple cinnamon spingroll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2846">Next</a></li>
</ul>