<% provide :title, 'Opinion Target 8869' %><h2>modern japanese cuisine<br />occurrence: 1</h2><div><ol><li>It is not modern japanese cuisine ( no dragon rolls), it is really just straightup sushi and sashimi prepared by old school guys who have been tending on me since infancy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8870">Next</a></li>
</ul>