<% provide :title, 'Opinion Target 7188' %><h2>Kalbi portion<br />occurrence: 1</h2><div><ol><li>The Kalbi portion was huge but it was a bit pink in the middle ( which I do n't mind) and kinda chewy- not the best, have had better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7187">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7189">Next</a></li>
</ul>