<% provide :title, 'Opinion Target 2562' %><h2>orange dressing<br />occurrence: 1</h2><div><ol><li>The house salad was really good; that zesty fresh orange dressing is terrific.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2563">Next</a></li>
</ul>