<% provide :title, 'Opinion Target 5097' %><h2>Queen special soup noodle broth<br />occurrence: 1</h2><div><ol><li>The Queen special soup noodle broth was really good, although it had offal in it which I am not a fan of.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5096">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5098">Next</a></li>
</ul>