<% provide :title, 'Opinion Target 3757' %><h2>pho and vermicelli dishes<br />occurrence: 1</h2><div><ol><li>The pho and vermicelli dishes are consistently good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3756">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3758">Next</a></li>
</ul>