<% provide :title, 'Opinion Target 5739' %><h2>fried rice special<br />occurrence: 1</h2><div><ol><li>I bought their fried rice special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5740">Next</a></li>
</ul>