<% provide :title, 'Opinion Target 5637' %><h2>kalbitang<br />occurrence: 1</h2><div><ol><li>My kalbitang was not bad, pretty standard- there were I think 3 peices of kalbi in the soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5638">Next</a></li>
</ul>