<% provide :title, 'Opinion Target 6259' %><h2>poppy seed twister bagel<br />occurrence: 1</h2><div><ol><li>Oy do I crave a poppy seed twister bagel with cream cheese and lox !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6258">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6260">Next</a></li>
</ul>