<% provide :title, 'Opinion Target 7037' %><h2>kale salad<br />occurrence: 1</h2><div><ol><li>My coworkers also rave about the Pomodoro pasta and the Cavolo salad ( kale salad).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7038">Next</a></li>
</ul>