<% provide :title, 'Opinion Target 4336' %><h2>Persian kabobs<br />occurrence: 1</h2><div><ol><li>I would not say that Darband serves up the best Persian kabobs I 've had but since it 's so conveniently located ( from work) and open 24 hrs, you just ca n't beat this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4337">Next</a></li>
</ul>