<% provide :title, 'Opinion Target 2268' %><h2>TV<br />occurrence: 2</h2><div><ol><li>They have a really nice patio that was added a few years ago, and the smallish bar area with the TV is always a good place to watch a game.</li><li>The TV was playing K-pop but had blows some transistors and was all purple onscreen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2267">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2269">Next</a></li>
</ul>