<% provide :title, 'Opinion Target 1653' %><h2>tuna nigiri<br />occurrence: 2</h2><div><ol><li>We ordered the Matsu sushi combo and it had salmon, snapper, tuna nigiri and a California and salmon roll.</li><li>I found the tuna nigiri had a bit more wasabi than the salmon though, so it surprised me when I alternated between the two.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1652">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1654">Next</a></li>
</ul>