<% provide :title, 'Opinion Target 4212' %><h2>price wings<br />occurrence: 1</h2><div><ol><li>We specifically like to come on Thursdays for the half price wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4213">Next</a></li>
</ul>