<% provide :title, 'Opinion Target 4743' %><h2>brisket and tripe<br />occurrence: 1</h2><div><ol><li>We get the same things every time: a large pho with rare beef, brisket and tripe, a Vermicelli salad with either grilled pork or chicken, a small plate of spring rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4742">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4744">Next</a></li>
</ul>