<% provide :title, 'Opinion Target 7173' %><h2>pork bone soup and white fish stew<br />occurrence: 1</h2><div><ol><li>The second time around, my guest and I had 10 banchans with our pork bone soup and white fish stew.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7174">Next</a></li>
</ul>