<% provide :title, 'Opinion Target 2034' %><h2>BBQ Ribs<br />occurrence: 2</h2><div><ol><li>We ordered deep fried dumplings, spicy fried squid, BBQ Ribs, and deep fried dumplings and waited no more than ten minutes.</li><li>This is not your usual BBQ ribs where the BBQ sauce is grilled on it so I was scared it was gonna be dry. but it actually amazed me !! even tho i ordered the sauce on the side I didnt need it cuz it was sooo flavourful and the meat was so tender it shocked me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2035">Next</a></li>
</ul>