<% provide :title, 'Opinion Target 6410' %><h2>pepper calamari<br />occurrence: 1</h2><div><ol><li>Food:- vermicelli noodles 3.5/5- char sui pork 4/5- sweet and sour chicken 4/5- fried spicy turnip capes 3.5/5 ( make it crispier!)- shrimp congee 4/5 ( fresh shrimp)- sizzling plate with beef and mushrooms 4.5 ( you can taste the ginger!)- Salt and pepper calamari 3.5/5 ( too chewy) Everything was fresh and hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6411">Next</a></li>
</ul>