<% provide :title, 'Opinion Target 7098' %><h2>garnish<br />occurrence: 1</h2><div><ol><li>The Caesar was easily the best I 've had, just enough dressing to wet the leaves but no clumps, just enough cheese and garnish ( bacon) to dress the dish up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7099">Next</a></li>
</ul>