<% provide :title, 'Opinion Target 6571' %><h2>snack-type food<br />occurrence: 1</h2><div><ol><li>Great bubble tea and yummy snack-type food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6570">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6572">Next</a></li>
</ul>