<% provide :title, 'Opinion Target 2527' %><h2>chicken with shredded cheese<br />occurrence: 1</h2><div><ol><li>The Chinese Chicken Salad is excellent, and as a veggie option you can substitute the chicken with shredded cheese ( which is also very good!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2528">Next</a></li>
</ul>