<% provide :title, 'Opinion Target 7442' %><h2>Indian<br />occurrence: 1</h2><div><ol><li>Best Indian in the Yonge and Sheppard area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7443">Next</a></li>
</ul>