<% provide :title, 'Opinion Target 8608' %><h2>soup bowls<br />occurrence: 1</h2><div><ol><li>Even though the soup bowls we ordered are around $ 10 I did find some of the other dishes quite pricey, especially the bbq items, where one serving of raw meats are already above $ 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8609">Next</a></li>
</ul>