<% provide :title, 'Opinion Target 9293' %><h2>Korean soap opera<br />occurrence: 1</h2><div><ol><li>2 big tv on each end showing Korean soap opera which is great when your friend got bored with you or the food ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9294">Next</a></li>
</ul>