<% provide :title, 'Opinion Target 3365' %><h2>chaat/bhel puri snacks<br />occurrence: 1</h2><div><ol><li>P.S. They never have the chaat/bhel puri snacks even though they advertise them on the wall. cheap food and cheap customer service. they haggled with me over replacing a curry overloaded with salt!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3366">Next</a></li>
</ul>