<% provide :title, 'Opinion Target 8707' %><h2>Pad Thai and mango sticky rice<br />occurrence: 1</h2><div><ol><li>I mean, Pad Thai and mango sticky rice is pretty easy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8708">Next</a></li>
</ul>