<% provide :title, 'Opinion Target 5912' %><h2>crispy duck<br />occurrence: 1</h2><div><ol><li>That was n't enough to endear me --- because there were service issues, and I became sick later that night because the crispy duck was clearly fried in the same oil that shrimp is fried in because staff did n't consider that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5913">Next</a></li>
</ul>