<% provide :title, 'Opinion Target 6859' %><h2>cucumber salad and sliced beef<br />occurrence: 1</h2><div><ol><li>But seriously, you 're going to tell me that a hot Potato sandwich with pork takes longer to make than a tossed cucumber salad and sliced beef which is served cold ?????</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6860">Next</a></li>
</ul>