<% provide :title, 'Opinion Target 5915' %><h2>nuts flavor waffle<br />occurrence: 1</h2><div><ol><li>The nuts flavor waffle was delicious too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5914">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5916">Next</a></li>
</ul>