<% provide :title, 'Opinion Target 3059' %><h2>service decor<br />occurrence: 1</h2><div><ol><li>To be clear, I am perfectly okay with basic service decor at Chinese restaurants, if I know it 's excellent food and well priced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3060">Next</a></li>
</ul>