<% provide :title, 'Opinion Target 1310' %><h2>beef tofu soup<br />occurrence: 3</h2><div><ol><li>We ordered the Bibimbap, beef tofu soup, and grilled bulgogi.</li><li>The grilled bulgogi was smaller than before and did not have much flavor also the beef tofu soup was watered down.</li><li>The soups are from #1-12 on the soups menu ( #1 traditional fermented soy bean soup for me, #x beef tofu soup for her), and include a bowl of rice each.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1311">Next</a></li>
</ul>