<% provide :title, 'Opinion Target 8338' %><h2>shredded pork meat<br />occurrence: 1</h2><div><ol><li>They do n't use pork belly, it 's shredded pork meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8339">Next</a></li>
</ul>