<% provide :title, 'Opinion Target 3459' %><h2>amount<br />occurrence: 1</h2><div><ol><li>The amount we received for $ 50 worth of food was insulting, the fact that they expect 4 people to share this is ridiculous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3458">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3460">Next</a></li>
</ul>