<% provide :title, 'Opinion Target 3554' %><h2>onion sauce<br />occurrence: 1</h2><div><ol><li>- Tender and well flavoured ... Even the brandy and caramelized onion sauce is light and not overpowering Service is excellent especially from our waiter who is patient and knowledgeable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3553">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3555">Next</a></li>
</ul>