<% provide :title, 'Opinion Target 3621' %><h2>Thai Chinese Japanese and Korean meals<br />occurrence: 1</h2><div><ol><li>The food is good and its value for money just under $ 20 you could eat to your hearts content from the assortment of sushi to a variety of Thai Chinese Japanese and Korean meals.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3620">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3622">Next</a></li>
</ul>