<% provide :title, 'Opinion Target 1876' %><h2>seed weed<br />occurrence: 2</h2><div><ol><li>The funny thing is they want us to finish all the seed weed before they could give us a knew one.</li><li>That was disappointing because one of the seed weed was n't finish because it was on other table with us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1877">Next</a></li>
</ul>