<% provide :title, 'Opinion Target 7832' %><h2>orange and grapefruit<br />occurrence: 1</h2><div><ol><li>It 's very good they have orange and grapefruit or half and half.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7831">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7833">Next</a></li>
</ul>