<% provide :title, 'Opinion Target 3095' %><h2>sashimi dinner plate<br />occurrence: 1</h2><div><ol><li>I had the tataki attacki roll, sashimi dinner plate, dynamite roll, kamikaze roll, lots of drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3094">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3096">Next</a></li>
</ul>