<% provide :title, 'Opinion Target 664' %><h2>tea cups<br />occurrence: 5</h2><div><ol><li>1. they have very cute tea cups.</li><li>Service was really good- servers always made sure our tea cups were n't empty.</li><li>So we sat down and they promptly gave us a pot of tea and 3 tea cups along with the menus.</li><li>So they picked up our tea cups and teapot and we moved there.</li><li>The servers, although really do n't have to do much because the chef does everything, needed to come by more frequently to top of our tea cups, water, and other beverages.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_665">Next</a></li>
</ul>