<% provide :title, 'Opinion Target 3353' %><h2>pickled cucumbers<br />occurrence: 1</h2><div><ol><li>They had all the usual suspects: pickled cucumbers, fish cake, kimchi, potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3352">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3354">Next</a></li>
</ul>