<% provide :title, 'Opinion Target 2177' %><h2>Sun roll<br />occurrence: 2</h2><div><ol><li>Sun roll is a must try though.</li><li>My favorite here is the Sun Roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2178">Next</a></li>
</ul>