<% provide :title, 'Opinion Target 2720' %><h2>egglplant<br />occurrence: 1</h2><div><ol><li>Good dinner combos, delicious lo mein, fabulous egglplant ( especially when paired with the fried rice), fresh when it comes to your front door, and there 's always enough for leftovers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2719">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2721">Next</a></li>
</ul>