<% provide :title, 'Opinion Target 1748' %><h2>Szechuan<br />occurrence: 2</h2><div><ol><li>When Szechuan was still something Torontonians lined up for, Henry 's Hunan Place was the place to beat.</li><li>But my go to is the Szechuan Cold Noodles and for soup noodle the Lamb Pao Mo. Also I would highly recommend the Bon Bon Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1749">Next</a></li>
</ul>