<% provide :title, 'Opinion Target 920' %><h2>taro milk tea<br />occurrence: 4</h2><div><ol><li>Got the taro milk tea ( 30% sweetness).</li><li>I did find the taro milk tea a little sandy at the bottom, though.</li><li>If you love taro like I do, be warned that the taro milk tea has a grainy texture that I did n't like hence why I get the slush.</li><li>( BTW the reason I liked taro milk tea at Ten Ren is because they used to be make it with real taro).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_919">Previous</a></li>
  <li class="next"><a href=".\opinion_target_921">Next</a></li>
</ul>