<% provide :title, 'Opinion Target 6096' %><h2>diner seating<br />occurrence: 1</h2><div><ol><li>Usual diner seating, great service and very good brunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6097">Next</a></li>
</ul>