<% provide :title, 'Opinion Target 2584' %><h2>fava beans<br />occurrence: 1</h2><div><ol><li>Great service, great price, fantastic food, fava beans were incredible and chicken is moist and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2585">Next</a></li>
</ul>