<% provide :title, 'Opinion Target 6665' %><h2>soup stone bowls<br />occurrence: 1</h2><div><ol><li>I 've ordered many soup stone bowls from their menu and all are good, and I usually pick them based on whether I feel like having a spicy dish or not that day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6666">Next</a></li>
</ul>