<% provide :title, 'Opinion Target 2428' %><h2>Drunken chicken<br />occurrence: 2</h2><div><ol><li>Drunken chicken was so tender and I loved the hint of soaked white wine in each bite.</li><li>*** Jellyfish salad was okay, as were the two cold meat appetizers we tried ( including drunken chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2429">Next</a></li>
</ul>