<% provide :title, 'Opinion Target 1582' %><h2>kebob<br />occurrence: 2</h2><div><ol><li>Portions are massive, everything else on the menu is awesome ( kebob 's are unbelievable, sides are unbelieveable, my dad can eat a whole serving of rice just plain).</li><li>The kebob was all white meat, had a nice grilled flavour and was quite juicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1583">Next</a></li>
</ul>