<% provide :title, 'Opinion Target 5266' %><h2>famous dakgalbee dish<br />occurrence: 1</h2><div><ol><li>I was a bit worried I would n't be able to tolerate the spice of the famous dakgalbee dish, but it was n't too bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5267">Next</a></li>
</ul>