<% provide :title, 'Opinion Target 9148' %><h2>fries Wings<br />occurrence: 1</h2><div><ol><li>Love the fries Wings are decent Prompt and kind service Nice decor Several televisions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9149">Next</a></li>
</ul>