<% provide :title, 'Opinion Target 4123' %><h2>Sockeye salmon sushi special<br />occurrence: 1</h2><div><ol><li>Everything we ordered was tasty, but the Sockeye salmon sushi special was the hands down winner for yumminess!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4122">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4124">Next</a></li>
</ul>