<% provide :title, 'Opinion Target 3559' %><h2>Beans & Chicharron<br />occurrence: 1</h2><div><ol><li>It 's not bad and resembles a bit of Burrito ingredients when I got to the interior Mixes of the Cheese, Beans &amp; Chicharron.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3558">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3560">Next</a></li>
</ul>