<% provide :title, 'Opinion Target 6928' %><h2>banana crepe<br />occurrence: 1</h2><div><ol><li>For dessert we got the banana crepe ( $ 8) which was flambeed with grand marnier and served with bananas on the side, and strawberries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6927">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6929">Next</a></li>
</ul>