<% provide :title, 'Opinion Target 7304' %><h2>ginger scallion lobster<br />occurrence: 1</h2><div><ol><li>The ginger scallion lobster arrived hot and had a nice touch of sweetness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7305">Next</a></li>
</ul>