<% provide :title, 'Opinion Target 3792' %><h2>Boiled Chicken<br />occurrence: 1</h2><div><ol><li>If you like au-naturel Whole Boiled Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3793">Next</a></li>
</ul>