<% provide :title, 'Opinion Target 9254' %><h2>dining experience<br />occurrence: 1</h2><div><ol><li>The restaurant is quite big, but the split-level layout usually puts enough distance and separation between your table and the others so that a private/ intimate dining experience is possible if desired.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9253">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9255">Next</a></li>
</ul>