<% provide :title, 'Opinion Target 1481' %><h2>pickled veggies<br />occurrence: 3</h2><div><ol><li>The salty soybean soup is seasoned with slices of fried dough fritter, pork floss and pickled veggies.</li><li>I 'd love to just get a package of their amazing pita ... and the eggplant ... and the pickled veggies.</li><li>( $ 33) We also got the black cod, which was very nice, smooth and crunchy. it same with small side garnishes, including a sticky rice mochi wrapped in a bamboo leaf, some pickled veggies, all edible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1482">Next</a></li>
</ul>