<% provide :title, 'Opinion Target 1611' %><h2>beef skewers<br />occurrence: 2</h2><div><ol><li>Chicken was a bit dry for me but the lamb and beef skewers were good.</li><li>I ordered the beef skewers as well and i can guarantee you that it was not beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1612">Next</a></li>
</ul>