<% provide :title, 'Opinion Target 5380' %><h2>steam rice orders<br />occurrence: 1</h2><div><ol><li>The steam rice orders are separate from the a la carte food menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5379">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5381">Next</a></li>
</ul>