<% provide :title, 'Opinion Target 9435' %><h2>seafood variety with salmon<br />occurrence: 1</h2><div><ol><li>The congee was good, lots of seafood variety with salmon, shrimp, crab etc. the cantonese chow mein was mediocre, it 's my brothers fave so we end up ordering that but I felt the noodles were too crispy for my liking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9436">Next</a></li>
</ul>