<% provide :title, 'Opinion Target 2799' %><h2>regular ginseng chicken soup<br />occurrence: 1</h2><div><ol><li>We had the regular ginseng chicken soup ( $ 15.93) and the grilled short rib patty ( $ 9.99).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2800">Next</a></li>
</ul>