<% provide :title, 'Opinion Target 3972' %><h2>dijon cream sauce<br />occurrence: 1</h2><div><ol><li>Parsnip potato puree ( like a mash), seasonal vegetables, mushrooms and dijon cream sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3973">Next</a></li>
</ul>