<% provide :title, 'Opinion Target 5119' %><h2>dish rags<br />occurrence: 1</h2><div><ol><li>Apathetic service and tables that smell like rancid dish rags are the least of congee queen 's worries ( York Mills).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5118">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5120">Next</a></li>
</ul>