<% provide :title, 'Opinion Target 4456' %><h2>jalapeno peppers<br />occurrence: 1</h2><div><ol><li>My friend got the Gamjatang and it was n't spicy enough for her, so she asked for jalapeno peppers which made it much better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4457">Next</a></li>
</ul>