<% provide :title, 'Opinion Target 6756' %><h2>crowds<br />occurrence: 1</h2><div><ol><li>I deducted points for poor atmosphere and crowds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6755">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6757">Next</a></li>
</ul>