<% provide :title, 'Opinion Target 4634' %><h2>beef wrap<br />occurrence: 1</h2><div><ol><li>5/5 The beef wrap was okay when compared to the curry 3/5 stars BUT it came with a mango salad which was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4635">Next</a></li>
</ul>