<% provide :title, 'Opinion Target 6508' %><h2>chicken fried rice in cream & tomato sauce<br />occurrence: 1</h2><div><ol><li>My favourite dishes:- fried chili turnip patties- spice &amp; pepper salt squid- lemon chicken- shrimp and chicken fried rice in cream &amp; tomato sauce- bbq pork- dough fritter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6507">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6509">Next</a></li>
</ul>