<% provide :title, 'Opinion Target 5842' %><h2>designs<br />occurrence: 1</h2><div><ol><li>No crust, just couple of pistachios here and there, i honestly do n't taste anything-no cheese, no pistachio, just ... cream ? not my kind of cheesecake. nice chocolate designs though. overall, i find the desserts meh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5843">Next</a></li>
</ul>