<% provide :title, 'Opinion Target 3867' %><h2>blood<br />occurrence: 1</h2><div><ol><li>At that point, I was quit upset &amp; had lost my appetite all together, I 'd replied back in a loud enough voice so tables around me can hear `` I dont care whether it 's fish blood or human blood; Sashimi should not have blood in it'' Both my partner &amp; I didnt feel good afterwards whether it 's the raw egg or the blood in the sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3868">Next</a></li>
</ul>