<% provide :title, 'Opinion Target 1310' %><h2>mushroom ravioli<br />occurrence: 3</h2><div><ol><li>And instead of your usual boring crumpet or English muffin, the Truffled Poached Eggs are served atop a mushroom ravioli and a delightful truffled Hollandaise sauce.</li><li>I had the Mushroom Ravioli which was decent.</li><li>We also tried French Onion Soup ( it was okay ... it had little bits of beef in it, which was different); calamari ( quite good); mushroom ravioli ( not bad); and seafood corn chowder ( meh).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1311">Next</a></li>
</ul>