<% provide :title, 'Opinion Target 4367' %><h2>slush<br />occurrence: 1</h2><div><ol><li>If you love taro like I do, be warned that the taro milk tea has a grainy texture that I did n't like hence why I get the slush.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4368">Next</a></li>
</ul>