<% provide :title, 'Opinion Target 4305' %><h2>broccoli in garlic sauce<br />occurrence: 1</h2><div><ol><li>I love the sauces they use, for example the broccoli in garlic sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4306">Next</a></li>
</ul>