<% provide :title, 'Opinion Target 1992' %><h2>chef cooks<br />occurrence: 2</h2><div><ol><li>They have a full omelette station set up, where you pick from many toppings to dress your eggs and the chef cooks it up to crispy to soft or running perfection- whatever is your egg fancy!</li><li>There is a section where the chef cooks and flips the food in front of you at a threatening distance .. what 's that called again ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1993">Next</a></li>
</ul>