<% provide :title, 'Opinion Target 6055' %><h2>plum sauce and egg rolls<br />occurrence: 1</h2><div><ol><li>I like their plum sauce and egg rolls, not so crazy on the spring rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6056">Next</a></li>
</ul>