<% provide :title, 'Opinion Target 6615' %><h2>panini wrap<br />occurrence: 1</h2><div><ol><li>While I love this dish at other locations, the panini wrap was under-cooked and cold in certain areas, as if it were microwaved.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6616">Next</a></li>
</ul>