<% provide :title, 'Opinion Target 8938' %><h2>devils chicken and mango chicken<br />occurrence: 1</h2><div><ol><li>Lemon grass soup is absolutely amazing .... the fried rice tastes like nothing else ... i am always in conflict between the devils chicken and mango chicken ... both taste great .... thai one on has quickly grown to a franchise ... i have been a regular sincee they only had 2 locations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8937">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8939">Next</a></li>
</ul>