<% provide :title, 'Opinion Target 8247' %><h2>Thai style noodle<br />occurrence: 1</h2><div><ol><li>The Thai style noodle basically is a rare beef noodle in Tom yum soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8248">Next</a></li>
</ul>