<% provide :title, 'Opinion Target 9195' %><h2>steamed veg<br />occurrence: 1</h2><div><ol><li>Mine had spring rolls, rice, steamed veg, shrimp and veg tempura, and ribs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9194">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9196">Next</a></li>
</ul>