<% provide :title, 'Opinion Target 2693' %><h2>chicken souvlaki sandwich<br />occurrence: 1</h2><div><ol><li>I had the chicken souvlaki sandwich and it was awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2692">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2694">Next</a></li>
</ul>