<% provide :title, 'Opinion Target 9192' %><h2>combo specials<br />occurrence: 1</h2><div><ol><li>Their combo specials are good and very attractively priced.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9193">Next</a></li>
</ul>