<% provide :title, 'Opinion Target 5087' %><h2>spice chicken<br />occurrence: 1</h2><div><ol><li>The sweet &amp; spice chicken was a real hit.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5086">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5088">Next</a></li>
</ul>