<% provide :title, 'Opinion Target 2511' %><h2>vegetable pakora<br />occurrence: 2</h2><div><ol><li>The vegetable pakora looked very unusual.</li><li>Chicken Biryani ( 4/5)- mild Beef Vindaloo ( 3.5/5)- uber spicy Vegetable Pakora ( 2/5)- not spicy and quite bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2512">Next</a></li>
</ul>