<% provide :title, 'Opinion Target 4532' %><h2>deep fried haggis<br />occurrence: 1</h2><div><ol><li>One menu item that blew me away was the deep fried haggis.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4531">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4533">Next</a></li>
</ul>