<% provide :title, 'Opinion Target 5472' %><h2>dish with lettuce wrap and stir fry duck<br />occurrence: 1</h2><div><ol><li>The second dish with lettuce wrap and stir fry duck was very tasty as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5471">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5473">Next</a></li>
</ul>