<% provide :title, 'Opinion Target 1435' %><h2>matzoh ball soup<br />occurrence: 3</h2><div><ol><li>I had been craving smoked meat and matzoh ball soup for a while now, so when I went in, I ordered a Montreal Smoked Meat sandwich on rye for take-out.</li><li>Apparently, they only serve matzoh ball soup on Fridays and Saturdays.</li><li>Next time, I 'll try a pastrami sandwich or just get some meat by the pound, on the weekend so I can get my matzoh ball soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1436">Next</a></li>
</ul>