<% provide :title, 'Opinion Target 6796' %><h2>shrimp tempura special<br />occurrence: 1</h2><div><ol><li>Also got the shrimp tempura special which comes with 8 pieces, the spicy salmon and spicy white tuna.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6795">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6797">Next</a></li>
</ul>