<% provide :title, 'Opinion Target 2064' %><h2>laffa bread<br />occurrence: 2</h2><div><ol><li>The other table to our left had a big party but a few people were missing their meal and they did n't receive any of the laffa bread that comes with their meal.</li><li>The prices are standard with the exception of the laffa bread and hummus ( almost $ 9 for a container of hummus to go).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2063">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2065">Next</a></li>
</ul>