<% provide :title, 'Opinion Target 7718' %><h2>soy sauce containers<br />occurrence: 1</h2><div><ol><li>Even their soy sauce containers looked sophisticated.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7719">Next</a></li>
</ul>