<% provide :title, 'Opinion Target 3647' %><h2>Shawarma Chicken Sandwhich<br />occurrence: 1</h2><div><ol><li>Paid like $ 5.75 for the Shawarma Chicken Sandwhich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3648">Next</a></li>
</ul>