<% provide :title, 'Opinion Target 3285' %><h2>Greek salad/chicken pita girl<br />occurrence: 1</h2><div><ol><li>I hear the pizzas are excellent too, but when I 'm at Laterna I 'm a Greek salad/chicken pita girl, hands down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3286">Next</a></li>
</ul>