<% provide :title, 'Opinion Target 5958' %><h2>bun cha gio<br />occurrence: 1</h2><div><ol><li>Everything ranging from bun cha gio to bun no hue is great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5957">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5959">Next</a></li>
</ul>