<% provide :title, 'Opinion Target 1772' %><h2>coconut flesh<br />occurrence: 2</h2><div><ol><li>It has real pieces of coconut flesh in it, so when the ice cream melts in your mouth you get to chew on the coconut flesh.</li><li>Had the fresh young coconut water right out of the coconut with all the the yummy coconut flesh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1773">Next</a></li>
</ul>