<% provide :title, 'Opinion Target 3161' %><h2>seafood French truffles<br />occurrence: 1</h2><div><ol><li>It was like the seafood French truffles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3162">Next</a></li>
</ul>