<% provide :title, 'Opinion Target 9364' %><h2>choco covered strawberry<br />occurrence: 1</h2><div><ol><li>Take a bit of cantaloupe, melon and cucumber and let the chocolate fountain shower the pieces with LOTSoLOVE. melon covered chocolate ... delicious, choco covered strawberry- That is SO 2009.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9365">Next</a></li>
</ul>