<% provide :title, 'Opinion Target 5071' %><h2>deep fried sweet and spicy chicken<br />occurrence: 1</h2><div><ol><li>As for food, the deep fried sweet and spicy chicken was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5072">Next</a></li>
</ul>