<% provide :title, 'Opinion Target 1656' %><h2>chicken heart skewers<br />occurrence: 2</h2><div><ol><li>The chicken heart skewers are damn good, and the sashimi ai n't too shabby either.</li><li>The chicken heart skewers are only 3 half-hearts on a stick.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1655">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1657">Next</a></li>
</ul>