<% provide :title, 'Opinion Target 6798' %><h2>dinner summerlicious menu<br />occurrence: 1</h2><div><ol><li>Our table got one of everything so I got sample the entire dinner summerlicious menu and everything was amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6797">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6799">Next</a></li>
</ul>