<% provide :title, 'Opinion Target 3028' %><h2>Fried red bean ice cream<br />occurrence: 1</h2><div><ol><li>Fried red bean ice cream, fried twix with green tea, and black sesame ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3029">Next</a></li>
</ul>