<% provide :title, 'Opinion Target 8382' %><h2>MSG cuz<br />occurrence: 1</h2><div><ol><li>Although I have a feeling they use a lot of MSG cuz I was super thirsty when I got home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8383">Next</a></li>
</ul>