<% provide :title, 'Opinion Target 4808' %><h2>potato tempura and takoyaki<br />occurrence: 1</h2><div><ol><li>Our other orders ( grilled eggplant, sweet potato tempura and takoyaki) from the first order also did n't come.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4809">Next</a></li>
</ul>