<% provide :title, 'Opinion Target 2562' %><h2>Steamed tripe<br />occurrence: 1</h2><div><ol><li>4) Steamed tripe- Boring, bland, rubbery, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2563">Next</a></li>
</ul>