<% provide :title, 'Opinion Target 2733' %><h2>paninis<br />occurrence: 1</h2><div><ol><li>I would n't get Ham and Brie or Cajun Chicken again because both paninis were pretty bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2732">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2734">Next</a></li>
</ul>