<% provide :title, 'Opinion Target 6782' %><h2>bean paste sauce<br />occurrence: 1</h2><div><ol><li>Love the bean paste sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6783">Next</a></li>
</ul>