<% provide :title, 'Opinion Target 1258' %><h2>tofu stews<br />occurrence: 3</h2><div><ol><li>Lastly, Chingu offers kimchi and tofu stews with AYCE.</li><li>Their menu is small, only 2 pages with one page full of a variety of tofu stews and some other traditional korean dishes.</li><li>The tofu stews here are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1259">Next</a></li>
</ul>