<% provide :title, 'Opinion Target 6400' %><h2>egg soup sauce<br />occurrence: 1</h2><div><ol><li>The chow mein was good but typical, the vegetables and shumai were okay too, the fried fish served with the egg soup sauce was freshly fried and glorious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6401">Next</a></li>
</ul>