<% provide :title, 'Opinion Target 8454' %><h2>dessert counter<br />occurrence: 1</h2><div><ol><li>Their dessert counter was full of various delicacies and the three page menu lended to even the most colorful of palates.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8455">Next</a></li>
</ul>