<% provide :title, 'Opinion Target 4644' %><h2>beef carpaccio<br />occurrence: 1</h2><div><ol><li>The beef carpaccio for me, was not up to snuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4645">Next</a></li>
</ul>