<% provide :title, 'Opinion Target 3096' %><h2>Asahi Black Beer<br />occurrence: 1</h2><div><ol><li>We 've ordered 3 `` Asahi Black Beer,'' 2 pint of Hoegaarden.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3097">Next</a></li>
</ul>