<% provide :title, 'Opinion Target 6987' %><h2>floors<br />occurrence: 1</h2><div><ol><li>The floors were a bit dirty, did n't know if it was just a bad time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6988">Next</a></li>
</ul>