<% provide :title, 'Opinion Target 4636' %><h2>Thai style beef wrap with mango salad<br />occurrence: 1</h2><div><ol><li>Got the following: 1) Lobster bisque $ 9 2) Chicken satays aka chicken skewers $ 7 ( 3 pieces) 3) Crispy beef panang curry $ 13 ( lunch time only price) 4) Thai style beef wrap with mango salad $ 13 ( lunch special- Jennifer K. loves lunch specials) The lobster bisque was the real deal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4637">Next</a></li>
</ul>