<% provide :title, 'Opinion Target 5964' %><h2>fried wings<br />occurrence: 1</h2><div><ol><li>Their fried chicken wings was also a bit odd- the fried wings were not seasoned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5963">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5965">Next</a></li>
</ul>