<% provide :title, 'Opinion Target 5327' %><h2>chicken karage<br />occurrence: 1</h2><div><ol><li>We really love the chicken karage and we had three orders of it lollll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5326">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5328">Next</a></li>
</ul>