<% provide :title, 'Opinion Target 6802' %><h2>avocado hand<br />occurrence: 1</h2><div><ol><li>The avocado hand rolls were also a highlight.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6801">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6803">Next</a></li>
</ul>