<% provide :title, 'Opinion Target 7679' %><h2>Marche<br />occurrence: 1</h2><div><ol><li>The Marche is a great place to give into your sweet tooth and enjoy sugar and spice, everything fattening but yummy and nice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7680">Next</a></li>
</ul>