<% provide :title, 'Opinion Target 4983' %><h2>bar-style food<br />occurrence: 1</h2><div><ol><li>Such a great night with amazing drinks and really really good bar-style food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4984">Next</a></li>
</ul>