<% provide :title, 'Opinion Target 3753' %><h2>pho and vermicelli dishes<br />occurrence: 1</h2><div><ol><li>The pho and vermicelli dishes are consistently good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3754">Next</a></li>
</ul>