<% provide :title, 'Opinion Target 1852' %><h2>lobsters<br />occurrence: 2</h2><div><ol><li>It 's almost like eating 10 little lobsters!</li><li>There are live lobsters by the entrance and you see the kitchen staffs going back and forth to grab the lobsters, so you know they are fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1853">Next</a></li>
</ul>