<% provide :title, 'Opinion Target 7270' %><h2>half chicken<br />occurrence: 1</h2><div><ol><li>We ordered the special half &amp; half chicken ( $ 27.99)- fried chicken, and fried chicken in spicy sauce, as our main dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7269">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7271">Next</a></li>
</ul>