<% provide :title, 'Opinion Target 6062' %><h2>fried rice '' with soy sauce and eggs<br />occurrence: 1</h2><div><ol><li>I ordered the lamb hand pilaf rice, they served me `` fried rice'' with soy sauce and eggs, and the lamb were same size as rice, could you believe that ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6063">Next</a></li>
</ul>