<% provide :title, 'Opinion Target 2815' %><h2>sour suace<br />occurrence: 1</h2><div><ol><li>Also, I was a little peeved that they could n't deliver as my order was just under $ 30.00 Ok, I only tried 2 dishes here: the supposedly `` dry sauteed'' Szechuan beef ( it was fried below at least 1 foot of oil) and the special prawns ( smothered in a sweet and sour suace).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2816">Next</a></li>
</ul>