<% provide :title, 'Opinion Target 1724' %><h2>sea food dishes<br />occurrence: 2</h2><div><ol><li>I have tried almost all veggie and sea food dishes, and all absolutely amazing.</li><li>Absolutely love nearly everything I 've tried here, which has been quite a variety of plates, although I 'm not too big of a fan of their sea food dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1725">Next</a></li>
</ul>