<% provide :title, 'Opinion Target 2022' %><h2>lunch service<br />occurrence: 2</h2><div><ol><li>After enjoying the lunch service, I came back for dinner couple of days later.</li><li>The lunch service is very busy, but their service is just plain horrible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2023">Next</a></li>
</ul>