<% provide :title, 'Opinion Target 7221' %><h2>cooks place<br />occurrence: 1</h2><div><ol><li>The cooks place the food on a searing hot drum and manipulate the food with long sticks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7220">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7222">Next</a></li>
</ul>