<% provide :title, 'Opinion Target 3695' %><h2>chicken box<br />occurrence: 1</h2><div><ol><li>With the assistance from the waiter, I opted for the chicken box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3696">Next</a></li>
</ul>