<% provide :title, 'Opinion Target 1627' %><h2>chips<br />occurrence: 2</h2><div><ol><li>Fish and chips have always been good as has the service.</li><li>The complimentary chips were nice too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1626">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1628">Next</a></li>
</ul>