<% provide :title, 'Opinion Target 1666' %><h2>flounder<br />occurrence: 2</h2><div><ol><li>Everything we sampled was quite tasty- loved all the sashimi in Yuka sauce, beef capacio, mango tango roll, seaweed salad, fried flounder, shrimp tempera.</li><li>Good: sizzling flounder, rock shrimp Okay: fried rice Bad: Any of the ramen dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1667">Next</a></li>
</ul>