<% provide :title, 'Opinion Target 1271' %><h2>eggplant dip<br />occurrence: 3</h2><div><ol><li>Ask nicely and they 'll balance it withh a schmear of creamy eggplant dip.</li><li>I was looking for kashke bademjan ( eggplant dip) but they did n't have it.</li><li>The kabob seems like it was reheated and the eggplant dip was not very hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1270">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1272">Next</a></li>
</ul>