<% provide :title, 'Opinion Target 8377' %><h2>beef with noodles<br />occurrence: 1</h2><div><ol><li>The chunky beef with noodles is a personal favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8378">Next</a></li>
</ul>