<% provide :title, 'Opinion Target 4072' %><h2>maragaritas<br />occurrence: 1</h2><div><ol><li>The maragaritas were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4071">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4073">Next</a></li>
</ul>