<% provide :title, 'Opinion Target 7031' %><h2>crushed beans<br />occurrence: 1</h2><div><ol><li>It 's a thicker soup that 's made out of crushed beans so it has a different taste than the broth type soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7032">Next</a></li>
</ul>