<% provide :title, 'Opinion Target 788' %><h2>minced pork rice<br />occurrence: 4</h2><div><ol><li>We ordered one of the lunch combos offered which features a sweet tea with boba, minced pork rice, and a little dessert cake ( bite size).</li><li>I never knew someone can mess up minced pork rice.</li><li>The minced pork rice is good but sausage. .tea flavour ?</li><li>There is a minced pork rice that is a must try.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_789">Next</a></li>
</ul>