<% provide :title, 'Opinion Target 5909' %><h2>Chicken Golden Curry<br />occurrence: 1</h2><div><ol><li>We ordered the Chicken Golden Curry, a Pad Thai Shrimp and a crispy Beef Panang.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5908">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5910">Next</a></li>
</ul>