<% provide :title, 'Opinion Target 6591' %><h2>honey garlic wings<br />occurrence: 1</h2><div><ol><li>The fries are tasteless, the wedges are OK nothing special, the honey garlic wings were absolutely terrible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6590">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6592">Next</a></li>
</ul>