<% provide :title, 'Opinion Target 4699' %><h2>pepper concoction<br />occurrence: 1</h2><div><ol><li>The garlic rice along with the vinegar/soy/red pepper concoction were nice accompaniments to the meat on the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4700">Next</a></li>
</ul>