<% provide :title, 'Opinion Target 6009' %><h2>vegetables tempura<br />occurrence: 1</h2><div><ol><li>I had a Bento box with shrimp &amp; vegetables tempura, for $ 6.99 + tax &amp; tip.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6010">Next</a></li>
</ul>