<% provide :title, 'Opinion Target 4216' %><h2>selection of beers<br />occurrence: 1</h2><div><ol><li>Decent selection of beers and drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4215">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4217">Next</a></li>
</ul>