<% provide :title, 'Opinion Target 4793' %><h2>ox tail gravy<br />occurrence: 1</h2><div><ol><li>Love their hot sauce and ox tail gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4792">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4794">Next</a></li>
</ul>