<% provide :title, 'Opinion Target 5748' %><h2>chicken shwarma sandwich<br />occurrence: 1</h2><div><ol><li>And at the time of writing, they have lunch special 2 chicken shwarma sandwich for $ 9.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5749">Next</a></li>
</ul>