<% provide :title, 'Opinion Target 4721' %><h2>variety<br />occurrence: 1</h2><div><ol><li>They have such good variety!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4722">Next</a></li>
</ul>