<% provide :title, 'Opinion Target 2148' %><h2>pork in black bean sauce<br />occurrence: 1</h2><div><ol><li>Hubby had the pork in black bean sauce &amp; the chicken sho mai.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2149">Next</a></li>
</ul>