<% provide :title, 'Opinion Target 1290' %><h2>Vietnamese dishes<br />occurrence: 3</h2><div><ol><li>The menu is a bit short and features some Malaysian curries and Hainan chicken as well as traditional Vietnamese dishes.</li><li>This restaurant serves a variety of Vietnamese dishes including pho and rice and pork chops but their signature dish is Bun Bo Hue which is a spicy beef noodle soup.</li><li>I 've been told the seafood or more traditional Vietnamese dishes are really good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1289">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1291">Next</a></li>
</ul>