<% provide :title, 'Opinion Target 3451' %><h2>Karahi Chicken<br />occurrence: 1</h2><div><ol><li>The Karahi Chicken was also really really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3450">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3452">Next</a></li>
</ul>