<% provide :title, 'Opinion Target 7089' %><h2>avocados<br />occurrence: 1</h2><div><ol><li>The guac was n't very fresh, you can tell the avocados were way too ripe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7088">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7090">Next</a></li>
</ul>