<% provide :title, 'Opinion Target 2457' %><h2>food burger<br />occurrence: 1</h2><div><ol><li>They 're still better than the typical fast food burger, but i 'm pretty bummed out that they 've gone downhill.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2458">Next</a></li>
</ul>