<% provide :title, 'Opinion Target 4768' %><h2>Vietnamese daughter<br />occurrence: 1</h2><div><ol><li>When I was sitting down, one hot mother and her beautiful Vietnamese daughter came in for dinner .. followed by the Caucasian husband/Father with a permanent frown on his face.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4767">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4769">Next</a></li>
</ul>