<% provide :title, 'Opinion Target 1985' %><h2>tea pot<br />occurrence: 2</h2><div><ol><li>I liked how they left a tea pot on the table so we could refill when needed.</li><li>We ordered rice that took forever to come and our tea pot was given to another table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1986">Next</a></li>
</ul>