<% provide :title, 'Opinion Target 7560' %><h2>vanilla ice cream and chocolate whipped cream<br />occurrence: 1</h2><div><ol><li>It came with two scoops of vanilla ice cream and chocolate whipped cream on the outside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7561">Next</a></li>
</ul>