<% provide :title, 'Opinion Target 9740' %><h2>regular submarines<br />occurrence: 1</h2><div><ol><li>The regular submarines are foot longs, and are always packed with meat and your choice of toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9739">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9741">Next</a></li>
</ul>