<% provide :title, 'Opinion Target 8612' %><h2>chicken schnitzel box with basmati rice<br />occurrence: 1</h2><div><ol><li>I got the chicken schnitzel box with basmati rice and me salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8613">Next</a></li>
</ul>