<% provide :title, 'Opinion Target 6697' %><h2>minced spicy beef hummus<br />occurrence: 1</h2><div><ol><li>Had the lamb burger stick laffa ( $ 9.95) and the minced spicy beef hummus ( 10.95) today.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6696">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6698">Next</a></li>
</ul>