<% provide :title, 'Opinion Target 5951' %><h2>salad king<br />occurrence: 1</h2><div><ol><li>I believe this place is owned by the same owners as salad king ( ?) and I would say this definitely fit the bill as comparable to the curry a-la pre-burnt down Salad King on Gould.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5952">Next</a></li>
</ul>