<% provide :title, 'Opinion Target 4918' %><h2>bamboo details<br />occurrence: 1</h2><div><ol><li>Some bamboo details, a mural of Filipino life and 2 tv 's.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4917">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4919">Next</a></li>
</ul>