<% provide :title, 'Opinion Target 1687' %><h2>bean curd soup<br />occurrence: 2</h2><div><ol><li>From bean curd soup, pork katsu, sushi, sashimi, kalbi, bulgogi, bento boxes, amazing tempura Udon and much much more. + + + + the atmosphere is cozy and quiet despite being right beside Sheppard ave. Great friendly service from this Korean owned restaurant!</li><li>I always order seafood and bean curd soup, BBQ pork rice noodle rolls, Cantonese chow mein, rice noodle with beef and black bean sauce with vegetables and spicy fries squid.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1688">Next</a></li>
</ul>