<% provide :title, 'Opinion Target 2742' %><h2>salad with a unique black sesame dressing<br />occurrence: 1</h2><div><ol><li>I particularly enjoyed the salad with a unique black sesame dressing- something I ca n't say I 've seen before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2741">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2743">Next</a></li>
</ul>