<% provide :title, 'Opinion Target 5875' %><h2>Thai sausage<br />occurrence: 1</h2><div><ol><li>Eggs and Thai sausage was also a great consistency and not salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5874">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5876">Next</a></li>
</ul>