<% provide :title, 'Opinion Target 2669' %><h2>brunch buffet<br />occurrence: 1</h2><div><ol><li>The brunch buffet has limited choices but it 's not a bad deal if you 're fond of mussels.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2670">Next</a></li>
</ul>