<% provide :title, 'Opinion Target 5265' %><h2>chicken chunks<br />occurrence: 1</h2><div><ol><li>The chicken chunks are tender pieces of dark meat, while the cabbage is softened by the sauce and heat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5266">Next</a></li>
</ul>