<% provide :title, 'Opinion Target 3473' %><h2>yogurt with shallot<br />occurrence: 1</h2><div><ol><li>The yogurt with shallot was so good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3474">Next</a></li>
</ul>