<% provide :title, 'Opinion Target 9362' %><h2>spring onion<br />occurrence: 1</h2><div><ol><li>I choose my own amount of garlic, pepper, no salt, sesame seed oil, spring onion, parsley.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9363">Next</a></li>
</ul>