<% provide :title, 'Opinion Target 3652' %><h2>Eastern European dishes<br />occurrence: 1</h2><div><ol><li>We will be back to try more authentic Eastern European dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3651">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3653">Next</a></li>
</ul>