<% provide :title, 'Opinion Target 4283' %><h2>'' Chinese Food<br />occurrence: 1</h2><div><ol><li>Great Cheap `` Canadian'' Chinese Food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4282">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4284">Next</a></li>
</ul>