<% provide :title, 'Opinion Target 7038' %><h2>meal Pork bone soup<br />occurrence: 1</h2><div><ol><li>Got my regular meal Pork bone soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7039">Next</a></li>
</ul>