<% provide :title, 'Opinion Target 7692' %><h2>fish choices<br />occurrence: 1</h2><div><ol><li>We intended to get a party tray for $ 30, but decided to do the $ 15.99 AYCE instead since the cost is around the same and we can actually order what we want to eat ( we can be picky) and it also included sashimi, although there were only 3 fish choices.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7693">Next</a></li>
</ul>