<% provide :title, 'Opinion Target 6786' %><h2>escargot with brie and eggplant<br />occurrence: 1</h2><div><ol><li>I got the escargot with brie and eggplant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6787">Next</a></li>
</ul>