<% provide :title, 'Opinion Target 8204' %><h2>pork bone soup ( gamjatang<br />occurrence: 1</h2><div><ol><li>The pork bone soup ( gamjatang) here is phenomenal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8203">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8205">Next</a></li>
</ul>