<% provide :title, 'Opinion Target 6007' %><h2>fried salt & pepper calamari<br />occurrence: 1</h2><div><ol><li>But wait, there is a little more:- The fried salt &amp; pepper calamari were way too salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6006">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6008">Next</a></li>
</ul>