<% provide :title, 'Opinion Target 4978' %><h2>soy sauce base<br />occurrence: 1</h2><div><ol><li>I then moved on to asking what kind of beef and chicken dishes they had with garlic and a soy sauce base.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4977">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4979">Next</a></li>
</ul>