<% provide :title, 'Opinion Target 1594' %><h2>black bean sauce<br />occurrence: 2</h2><div><ol><li>Did I mention most of the black bean sauce trickled on to my crispy chicken alternating the taste.</li><li>As for the Sam Sun Ja Jang, I liked the firm chewy texture of the noodles and the black bean sauce was good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1593">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1595">Next</a></li>
</ul>