<% provide :title, 'Opinion Target 7033' %><h2>pork bone soups<br />occurrence: 1</h2><div><ol><li>The soup had a strong ginger taste and was not as salty as other pork bone soups I have had which is a good thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7032">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7034">Next</a></li>
</ul>