<% provide :title, 'Opinion Target 4943' %><h2>labneh<br />occurrence: 1</h2><div><ol><li>The dips- hummus, baba ganoush, and labneh- are phenomenal though, as is the fatouche salad ( $ 4.50 Regular, $ 8 Large).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4944">Next</a></li>
</ul>