<% provide :title, 'Opinion Target 6855' %><h2>onion oil<br />occurrence: 1</h2><div><ol><li>Spices like cumin, pepper, chili flakes, onion oil, all have their place here but the sugar was so pronounced I felt like I was eating candied rice pudding.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6856">Next</a></li>
</ul>