<% provide :title, 'Opinion Target 6856' %><h2>Artisan noodle<br />occurrence: 1</h2><div><ol><li>Artisan noodle is a decent noodle restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6855">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6857">Next</a></li>
</ul>