<% provide :title, 'Opinion Target 2712' %><h2>Boston pizza<br />occurrence: 1</h2><div><ol><li>By far the worst Boston pizza ever based on service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2713">Next</a></li>
</ul>