<% provide :title, 'Opinion Target 7012' %><h2>Peking<br />occurrence: 1</h2><div><ol><li>The Peking is the speciality here and it was good but not above and beyond any other place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7011">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7013">Next</a></li>
</ul>