<% provide :title, 'Opinion Target 7495' %><h2>almond pistachio<br />occurrence: 1</h2><div><ol><li>Some of the ice-creams ( sesame, green tea, almond pistachio) are also homemade, giving it a strong prominent flavor.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7496">Next</a></li>
</ul>