<% provide :title, 'Opinion Target 2901' %><h2>masa<br />occurrence: 1</h2><div><ol><li>The masa had a slight crispiness to it that I love.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2900">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2902">Next</a></li>
</ul>