<% provide :title, 'Opinion Target 5390' %><h2>hand-slapped pulled ribbon noodles<br />occurrence: 1</h2><div><ol><li>The hand-slapped pulled ribbon noodles were thin and about an inch wide, and they were soft and just on the right side of chewy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5389">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5391">Next</a></li>
</ul>