<% provide :title, 'Opinion Target 6380' %><h2>beef balls pho<br />occurrence: 1</h2><div><ol><li>I ordered rare beef and beef balls pho.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6379">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6381">Next</a></li>
</ul>