<% provide :title, 'Opinion Target 4708' %><h2>crispy beef curry<br />occurrence: 1</h2><div><ol><li>The crispy beef curry was absolutely delightful- rich and flavourful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4707">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4709">Next</a></li>
</ul>