<% provide :title, 'Opinion Target 3093' %><h2>dinner location<br />occurrence: 1</h2><div><ol><li>I 'd say that it 's more of an adult dinner location, just because when they are packed, they only can offer high table seating and because it is relatively loud.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3094">Next</a></li>
</ul>