<% provide :title, 'Opinion Target 4584' %><h2>beef curry serving<br />occurrence: 1</h2><div><ol><li>I remember the first time I dined there the crispy beef curry serving was very generous but the last two times it has been very skimpy on the meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4585">Next</a></li>
</ul>