<% provide :title, 'Opinion Target 2650' %><h2>mushroom soup sauce<br />occurrence: 1</h2><div><ol><li>Mushroom rigatoni was a bit plain .. just large pasta with button/cremini mushrooms in what tastes like cream of mushroom soup sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2651">Next</a></li>
</ul>