<% provide :title, 'Opinion Target 2038' %><h2>Chirashi Sushi<br />occurrence: 2</h2><div><ol><li>It used to be a reliable place for me to get fresh sushi ( Chirashi Sushi) at reasonable prices.</li><li>Fortunately my friend picked this place for her birthday!:) We both ordered Chirashi sushi- an assortment of sushi on bed of rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2039">Next</a></li>
</ul>