<% provide :title, 'Opinion Target 7323' %><h2>pan fried noodles<br />occurrence: 1</h2><div><ol><li>We ordered lobster with ginger and scallions on top of pan fried noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7324">Next</a></li>
</ul>