<% provide :title, 'Opinion Target 6098' %><h2>deep fried mozzarella sticks with apple sauce<br />occurrence: 1</h2><div><ol><li>Also got the deep fried mozzarella sticks with apple sauce as a side $ 7.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6099">Next</a></li>
</ul>