<% provide :title, 'Opinion Target 5867' %><h2>Demetre<br />occurrence: 1</h2><div><ol><li>Also, dessert places in uptown such as Demetre is so overrated.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5868">Next</a></li>
</ul>