<% provide :title, 'Opinion Target 3417' %><h2>ahi Tuna salad<br />occurrence: 1</h2><div><ol><li>I recommend the grilled calamari with capers, olives and lemon which is an off menu item and the ahi Tuna salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3416">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3418">Next</a></li>
</ul>