<% provide :title, 'Opinion Target 5736' %><h2>Yaka Mein noodle soup<br />occurrence: 1</h2><div><ol><li>The Yaka Mein noodle soup is a favourite of my family, and I 've never found anything like it anywhere else.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5735">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5737">Next</a></li>
</ul>