<% provide :title, 'Opinion Target 6389' %><h2>assorted beef soup with rice<br />occurrence: 1</h2><div><ol><li>I was here last night for the first time ever and my overall experience was OK .. my boyfriend had been here before so i assumed it was n't a bad place to eat. he had bulgogi ( korean beef) with rice, and i had gom tang/ gomguk ( like assorted beef soup with rice) i was not impressed with my gom tang, it hardly had any taste to it. literally it tasted like water, not that water has any taste- but that 's my point; it tasted like nothing!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6388">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6390">Next</a></li>
</ul>