<% provide :title, 'Opinion Target 2485' %><h2>veges<br />occurrence: 2</h2><div><ol><li>Also, I did n't taste much of the veges in it, perhaps it was n't fresh ??</li><li>There are two carts filled with several types of curries, veges, chicken, desserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2484">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2486">Next</a></li>
</ul>