<% provide :title, 'Opinion Target 1020' %><h2>iranian food<br />occurrence: 3</h2><div><ol><li>Moat of the popular iranian food is served in good quality.</li><li>This place is a gem for great Iranian food.</li><li>Zaffron is a westernized Persian place ... blending authentic Iranian food with regular Italian dishes, thus ending up with a pretty extensive menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1019">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1021">Next</a></li>
</ul>