<% provide :title, 'Opinion Target 1898' %><h2>Soy Beef Stew Noodle Soup<br />occurrence: 2</h2><div><ol><li>I ordered the Soy Beef Stew Noodle Soup and thought their hand pulled noodles were good but the soup base was super super salty.</li><li>I ordered the soy beef stew noodle soup while my gf got the noodles with beef, tomatoes, eggs and veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1897">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1899">Next</a></li>
</ul>