<% provide :title, 'Opinion Target 2481' %><h2>Business<br />occurrence: 2</h2><div><ol><li>Business is business, do n't be rude.</li><li>Business is all about word of mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2482">Next</a></li>
</ul>