<% provide :title, 'Opinion Target 5760' %><h2>cheesecake and funnel cakes<br />occurrence: 1</h2><div><ol><li>They removed the sesame seed chocolate ball dessert and replaced it with cheesecake and funnel cakes ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5761">Next</a></li>
</ul>