<% provide :title, 'Opinion Target 1713' %><h2>pho noodles<br />occurrence: 2</h2><div><ol><li>Although the pho noodles are not as good as Vietnam, It is still pretty good compare to most of the place in Toronto.</li><li>I was expecting Korean noodles but it was rice noodle ( the thin kind of pho noodles) so that was a bit of let down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1714">Next</a></li>
</ul>