<% provide :title, 'Opinion Target 2609' %><h2>jerk items<br />occurrence: 1</h2><div><ol><li>The jerk items are spicy, but with the rice, it is the perfect compliment of flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2610">Next</a></li>
</ul>