<% provide :title, 'Opinion Target 2612' %><h2>chicken doner<br />occurrence: 1</h2><div><ol><li>The chicken doner sold out by 9pm the first time we got there.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2613">Next</a></li>
</ul>