<% provide :title, 'Opinion Target 9708' %><h2>king ramen<br />occurrence: 1</h2><div><ol><li>Make sure to order water or tea unless u want ur tounge to fall out The king ramen was spicy, salty and packed with toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9707">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9709">Next</a></li>
</ul>