<% provide :title, 'Opinion Target 5972' %><h2>BBQ fix<br />occurrence: 1</h2><div><ol><li>If you live in the Finch and Leslie area or anywhere near by, this is the place to go to get your Chinese BBQ fix.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5973">Next</a></li>
</ul>