<% provide :title, 'Opinion Target 5873' %><h2>brunch with Thai flair<br />occurrence: 1</h2><div><ol><li>Great brunch with Thai flair.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5874">Next</a></li>
</ul>