<% provide :title, 'Opinion Target 5735' %><h2>North American Chinese food<br />occurrence: 1</h2><div><ol><li>This is classic North American Chinese food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5736">Next</a></li>
</ul>