<% provide :title, 'Opinion Target 7947' %><h2>kimchi tofu hot pot<br />occurrence: 1</h2><div><ol><li>We ordered the kimchi tofu hot pot and the bbq bulgogi as per my usual order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7946">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7948">Next</a></li>
</ul>