<% provide :title, 'Opinion Target 7425' %><h2>baby argula salad<br />occurrence: 1</h2><div><ol><li>Everyone else ordered the baby argula salad and seemed to love it ... maybe I should 've ordered that instead.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7426">Next</a></li>
</ul>