<% provide :title, 'Opinion Target 2381' %><h2>perrogies<br />occurrence: 1</h2><div><ol><li>Their perrogies are deep fried and quite delicious although i was surprised to find that they were served with hummus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2380">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2382">Next</a></li>
</ul>