<% provide :title, 'Opinion Target 5398' %><h2>pho soup base<br />occurrence: 1</h2><div><ol><li>Some other Vietnamese places even use the pho soup base for their bun bo hue.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5397">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5399">Next</a></li>
</ul>