<% provide :title, 'Opinion Target 8926' %><h2>Devil 's beef<br />occurrence: 1</h2><div><ol><li>I personally recommend the Devil 's beef, basil beef, or yellow curry with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8927">Next</a></li>
</ul>