<% provide :title, 'Opinion Target 7559' %><h2>cocoa powder Christmas tree<br />occurrence: 1</h2><div><ol><li>My friend 's hot chocolate had a cocoa powder Christmas tree on it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7558">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7560">Next</a></li>
</ul>