<% provide :title, 'Opinion Target 930' %><h2>staff member<br />occurrence: 4</h2><div><ol><li>I told them what happened and the staff member told me that she just washed the floor so the soup would be okay.</li><li>When I asked a staff member, I was told this is an older location.</li><li>Staff member are friendly and atmosphere is the usual and casual.</li><li>Other staff member stands by waiting for the plates, and does n't look shocked at all at this ( so I guess this is standard/acceptable behavior there)!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_931">Next</a></li>
</ul>