<% provide :title, 'Opinion Target 5371' %><h2>braised marble beef slices<br />occurrence: 1</h2><div><ol><li>The sliced beef is braised marble beef slices tossed in a special house soy sauce topped with sesame seeds and cilantro.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5370">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5372">Next</a></li>
</ul>