<% provide :title, 'Opinion Target 3634' %><h2>burger choices<br />occurrence: 1</h2><div><ol><li>Great staff- they explain all the confusing burger choices and toppings for you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3635">Next</a></li>
</ul>