<% provide :title, 'Opinion Target 6332' %><h2>Lobster Bisque '<br />occurrence: 1</h2><div><ol><li>I capitalize the ' Lobster Bisque' because it deserves to be addressed as so.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6333">Next</a></li>
</ul>