<% provide :title, 'Opinion Target 9556' %><h2>karaoke dinner<br />occurrence: 1</h2><div><ol><li>The karaoke dinner here is awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9555">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9557">Next</a></li>
</ul>