<% provide :title, 'Opinion Target 4871' %><h2>served food<br />occurrence: 1</h2><div><ol><li>The bathroom looked like it belonged at a dive bar, not a place where I 'm being served food at.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4870">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4872">Next</a></li>
</ul>