<% provide :title, 'Opinion Target 4904' %><h2>tamale de pollo<br />occurrence: 1</h2><div><ol><li>Apparently the person who was responsible for making the tamale de pollo has left or something like that but it makes me wonder if it is out of laziness that these other staff members wont make it or that they do n't know how ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4903">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4905">Next</a></li>
</ul>