<% provide :title, 'Opinion Target 6998' %><h2>served with rice pilaf<br />occurrence: 1</h2><div><ol><li>The tripe soup ( served with rice pilaf and two homemade tortillas) is very warm and filling- I 've had this a few times already.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6997">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6999">Next</a></li>
</ul>