<% provide :title, 'Opinion Target 1979' %><h2>ice-cream<br />occurrence: 2</h2><div><ol><li>Their ice-cream is good, but the proportion is very little and unbalance to the whole dish!</li><li>Not a lot of choices but there are some unique ice-cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1980">Next</a></li>
</ul>