<% provide :title, 'Opinion Target 2151' %><h2>iced tea<br />occurrence: 2</h2><div><ol><li>I opted to share it and also had cold pickles, split pea soup, and a nice strong iced tea.</li><li>And, similarly, I 'm sure my iced tea was a Liptons product.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2152">Next</a></li>
</ul>