<% provide :title, 'Opinion Target 4622' %><h2>beef tenderloin with honey pepper sauce<br />occurrence: 1</h2><div><ol><li>We ordered the beef tenderloin with honey pepper sauce which was extremely tender and not too `` honey-ey'' and the chicken with dry onion which was perfectly spiced yet still juicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4623">Next</a></li>
</ul>