<% provide :title, 'Opinion Target 3989' %><h2>wine selection<br />occurrence: 1</h2><div><ol><li>The wine selection is out of this world ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3990">Next</a></li>
</ul>