<% provide :title, 'Opinion Target 2102' %><h2>pappardelle<br />occurrence: 2</h2><div><ol><li>We ordered mussels ( but they ran out) so we got calamari instead, pappardelle, tortelinni and pizza cosentina.</li><li>Hand slapped noodles in my bowl were chewy and widely cut, reminding me of Pappardelle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2103">Next</a></li>
</ul>