<% provide :title, 'Opinion Target 6849' %><h2>round bread<br />occurrence: 1</h2><div><ol><li>The round bread was lightly toasted on both sides, which I liked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6848">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6850">Next</a></li>
</ul>