<% provide :title, 'Opinion Target 4673' %><h2>beet salad and a caesar salads<br />occurrence: 1</h2><div><ol><li>The salads were fine, a beet salad and a caesar salads, both of ample size and, as I said, fine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4674">Next</a></li>
</ul>