<% provide :title, 'Opinion Target 6705' %><h2>lamb kofta<br />occurrence: 1</h2><div><ol><li>Almost like a lamb kofta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6706">Next</a></li>
</ul>