<% provide :title, 'Opinion Target 6671' %><h2>jajangmyeon<br />occurrence: 1</h2><div><ol><li>The food is edible but not great- the jajangmyeon tastes super watery and bland, the kamjatang is really oily and also bland ... basically the food here is bland and tastes cheaply made, but edible for a quick meal or for an after-drinking binge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6672">Next</a></li>
</ul>