<% provide :title, 'Opinion Target 6629' %><h2>Beef Rib<br />occurrence: 1</h2><div><ol><li>The Big Beef Rib ( Kalbi) dish #46 ( approx.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6628">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6630">Next</a></li>
</ul>