<% provide :title, 'Opinion Target 8337' %><h2>noodle and string beans<br />occurrence: 1</h2><div><ol><li>The noodle and string beans were a bit too greasy for my liking but still well seasoned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8336">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8338">Next</a></li>
</ul>