<% provide :title, 'Opinion Target 4404' %><h2>fish/sushi<br />occurrence: 1</h2><div><ol><li>First of all the fish/sushi was not fresh fish at all seems as though the server quickly brought it to us so I 'm assuming it was prepared hours ago or maybe even day ( s) old as in the sushi was sitting around for a while ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4403">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4405">Next</a></li>
</ul>