<% provide :title, 'Opinion Target 3499' %><h2>Hot &<br />occurrence: 1</h2><div><ol><li>Hot &amp; Sour soup was quite peppery, but the broth itself was tasted kinda stale and overcooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3500">Next</a></li>
</ul>