<% provide :title, 'Opinion Target 5263' %><h2>cream of mushroom )<br />occurrence: 1</h2><div><ol><li>The soup was a bit bland ( cream of mushroom) but served hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5262">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5264">Next</a></li>
</ul>