<% provide :title, 'Opinion Target 2969' %><h2>crust texture<br />occurrence: 1</h2><div><ol><li>The crust texture was perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2968">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2970">Next</a></li>
</ul>