<% provide :title, 'Opinion Target 4669' %><h2>dinner scenes<br />occurrence: 1</h2><div><ol><li>The lunch and dinner scenes vastly differ, and once dinner rolls around, you can hardly recognize the place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4668">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4670">Next</a></li>
</ul>