<% provide :title, 'Opinion Target 6198' %><h2>spouts<br />occurrence: 1</h2><div><ol><li>I went with a bulgolgi soup which was served with an assortment of pickled fixings on the side including my fave, kim chi, as well as spouts, beans, and others.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6199">Next</a></li>
</ul>