<% provide :title, 'Opinion Target 5789' %><h2>pastels whipped cream<br />occurrence: 1</h2><div><ol><li>Needless to say, after that experience, sometimes I wake up thinking about the taste of pastels whipped cream-_- Service is great and food/drinks are so good !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5790">Next</a></li>
</ul>