<% provide :title, 'Opinion Target 4581' %><h2>thicker coconut milk curries<br />occurrence: 1</h2><div><ol><li>I like thicker coconut milk curries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4580">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4582">Next</a></li>
</ul>