<% provide :title, 'Opinion Target 2056' %><h2>hot stone bibimbap<br />occurrence: 2</h2><div><ol><li>The hot stone bibimbap also tasted bland Oh goodness .. what a terrible experience.</li><li>The hot stone bibimbap was alright but the portion was a little small.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2057">Next</a></li>
</ul>