<% provide :title, 'Opinion Target 3140' %><h2>scotch<br />occurrence: 1</h2><div><ol><li>They better have the scotch selection all in stock next time!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3141">Next</a></li>
</ul>