<% provide :title, 'Opinion Target 1485' %><h2>fried green beans<br />occurrence: 2</h2><div><ol><li>Two items that were n't as up to snuff were the Hot &amp; Sour soup and the fried green beans.</li><li>Then, we had an assortment of dishes including fried pork cutlets, fried green beans, tofu, beef and onion, Chicken with sprinkled garlic and for me, vegetarian dumplings ( but no meat).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1484">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1486">Next</a></li>
</ul>