<% provide :title, 'Opinion Target 6683' %><h2>Greek salad with chicken<br />occurrence: 1</h2><div><ol><li>Everyone was so helpful both in selecting our meal as well as when I also took out a great Greek salad with chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6684">Next</a></li>
</ul>