<% provide :title, 'Opinion Target 4846' %><h2>Ramen noodle soup stock<br />occurrence: 1</h2><div><ol><li>Ramen noodle soup stock was rather bland tasting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4847">Next</a></li>
</ul>