<% provide :title, 'Opinion Target 6935' %><h2>counter staff<br />occurrence: 1</h2><div><ol><li>There was a number of counter staff on duty, but it seemed like there were too many as one guy was entertaining himself with his iphone the whole time we were waiting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6934">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6936">Next</a></li>
</ul>