<% provide :title, 'Opinion Target 7428' %><h2>tilapia and chocolate cake<br />occurrence: 1</h2><div><ol><li>My girlfriend ordered the Caesar Salad, the tilapia and chocolate cake for dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7427">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7429">Next</a></li>
</ul>