<% provide :title, 'Opinion Target 9098' %><h2>pot of hot water<br />occurrence: 1</h2><div><ol><li>Why is it that because I am white, I am refused an extra pot of hot water ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9099">Next</a></li>
</ul>