<% provide :title, 'Opinion Target 6707' %><h2>rice cake and cheese<br />occurrence: 1</h2><div><ol><li>Food: My order is usually the same, Dak Gal Bi with ramen, sweet potato, rice cake and cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6706">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6708">Next</a></li>
</ul>