<% provide :title, 'Opinion Target 4445' %><h2>lunch hot table style<br />occurrence: 1</h2><div><ol><li>A nice place to have a casual lunch hot table style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4444">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4446">Next</a></li>
</ul>