<% provide :title, 'Opinion Target 2858' %><h2>bean spouts<br />occurrence: 1</h2><div><ol><li>The best ones are FISH CAKE, bean spouts, and mung bean jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2857">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2859">Next</a></li>
</ul>