<% provide :title, 'Opinion Target 7503' %><h2>coffee house<br />occurrence: 1</h2><div><ol><li>This place is very small but nicely decorated ( lots of green!), it gives you a true coffee house experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7504">Next</a></li>
</ul>