<% provide :title, 'Opinion Target 4512' %><h2>goat chese<br />occurrence: 1</h2><div><ol><li>We ordered the daily pasta special ( sausage, mushrooms) &amp; a pizza ( Alla Peccorina, w/ black olive paste, garlic, mozzarella, goat chese, spinach &amp; black olives).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4513">Next</a></li>
</ul>