<% provide :title, 'Opinion Target 6930' %><h2>sticky rice cakes<br />occurrence: 1</h2><div><ol><li>I did try the sticky rice cakes but would not recommend it, in general it 's a tough dish to make I think.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6931">Next</a></li>
</ul>