<% provide :title, 'Opinion Target 4516' %><h2>stew chicken with rice and peas<br />occurrence: 1</h2><div><ol><li>Ordered jerk chicken roti, goat roti, and stew chicken with rice and peas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4517">Next</a></li>
</ul>