<% provide :title, 'Opinion Target 7384' %><h2>grouper<br />occurrence: 1</h2><div><ol><li>The grouper also was hard boiled and lacked any flavour at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7385">Next</a></li>
</ul>