<% provide :title, 'Opinion Target 5373' %><h2>bowls<br />occurrence: 1</h2><div><ol><li>Maybe they 've listened to those reviews because our bowls were pretty big and they filled it all the way up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5374">Next</a></li>
</ul>