<% provide :title, 'Opinion Target 4777' %><h2>ginseng chicken needs<br />occurrence: 1</h2><div><ol><li>The service is really really slow, but should be expected since the ginseng chicken needs to be cooked by the waitress 3 times per table, including all other tasks they have to do ( they look really tired) I have been here a few times and all at bad timings because the restaurant is always full, each time the waitress tells us it 's a really long wait and they do n't know how long, in a tune that they want you to not wait and just leave.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4776">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4778">Next</a></li>
</ul>