<% provide :title, 'Opinion Target 1847' %><h2>wood<br />occurrence: 2</h2><div><ol><li>Tons of screen, dark wood, quite a bit of seating, comely servers.</li><li>Since this is my first review, on Yelp, let me recommend a Pho place in my neck of the wood.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1848">Next</a></li>
</ul>