<% provide :title, 'Opinion Target 1810' %><h2>chicken legs<br />occurrence: 2</h2><div><ol><li>An enthusiastic 4 stars for the `` half fat'' bbq pork and for the chicken legs, both of which I think are much better than downtown fave, Kom Jug Yuen, that people tend to rave about, but I have repeatedly been unimpressed by.</li><li>I was served 2 of the smallest chicken legs I 've ever seen, with 1 small scoop of rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1811">Next</a></li>
</ul>