<% provide :title, 'Opinion Target 8934' %><h2>Spicy Cashew Chicken<br />occurrence: 1</h2><div><ol><li>My coworker who ordered the Spicy Cashew Chicken really enjoyed his dish, though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8933">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8935">Next</a></li>
</ul>