<% provide :title, 'Opinion Target 6193' %><h2>stone bowl hot pots<br />occurrence: 1</h2><div><ol><li>The stone bowl hot pots are amazingly flavourful, and are delicious with the purple rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6192">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6194">Next</a></li>
</ul>