<% provide :title, 'Opinion Target 2800' %><h2>grilled short rib patty<br />occurrence: 1</h2><div><ol><li>The grilled short rib patty also had two half-sliced thick rice cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2801">Next</a></li>
</ul>