<% provide :title, 'Opinion Target 7240' %><h2>dinner price points<br />occurrence: 1</h2><div><ol><li>Although I would n't say the buffet part is terrible I definitely think it 's forgettable and as Lan pointed out the dinner price points are a rip off ( at $ 22 a person) especially when you consider that it 's the same food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7239">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7241">Next</a></li>
</ul>