<% provide :title, 'Opinion Target 5424' %><h2>Starbucks<br />occurrence: 1</h2><div><ol><li>It gives this starbucks a kind of cozy feeling which I like with my hot drinks!: ] Starbucks is always great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5425">Next</a></li>
</ul>