<% provide :title, 'Opinion Target 9121' %><h2>served with sticky rice<br />occurrence: 1</h2><div><ol><li>The lunch specials are served in bento boxes and your meat selection is served with sticky rice, cold noodles, a very small salad, and a slice of orange.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9120">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9122">Next</a></li>
</ul>