<% provide :title, 'Opinion Target 3786' %><h2>deep fried food<br />occurrence: 1</h2><div><ol><li>The spring rolls were decent not too oily for deep fried food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3787">Next</a></li>
</ul>