<% provide :title, 'Opinion Target 2925' %><h2>sharwama plate<br />occurrence: 1</h2><div><ol><li>Their sharwama plate are surely big enough to serve 2 ppl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2924">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2926">Next</a></li>
</ul>