<% provide :title, 'Opinion Target 6382' %><h2>butter cookie<br />occurrence: 1</h2><div><ol><li>As you bite into it, it just crumbles like a butter cookie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6383">Next</a></li>
</ul>