<% provide :title, 'Opinion Target 3533' %><h2>Jamaican Patties<br />occurrence: 1</h2><div><ol><li>Their Jamaican Patties are tasty too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3532">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3534">Next</a></li>
</ul>