<% provide :title, 'Opinion Target 7219' %><h2>banchan side dishes<br />occurrence: 1</h2><div><ol><li>They have a huge menu and each come with at least 7 banchan side dishes and a potato pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7220">Next</a></li>
</ul>