<% provide :title, 'Opinion Target 9120' %><h2>meat selection<br />occurrence: 1</h2><div><ol><li>The lunch specials are served in bento boxes and your meat selection is served with sticky rice, cold noodles, a very small salad, and a slice of orange.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9121">Next</a></li>
</ul>