<% provide :title, 'Opinion Target 4879' %><h2>FO SHO<br />occurrence: 1</h2><div><ol><li>Grilled squid was ordered twice FO SHO.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4878">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4880">Next</a></li>
</ul>