<% provide :title, 'Opinion Target 1224' %><h2>Hot tea<br />occurrence: 3</h2><div><ol><li>Hot tea before and after the meal.</li><li>Free hot tea is dispensed off the side, which is nice.</li><li>It was n't until they came to pick up our order sheet that they poured us hot tea, really hot tea actually.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1225">Next</a></li>
</ul>