<% provide :title, 'Opinion Target 5668' %><h2>rice cakes with mussels<br />occurrence: 1</h2><div><ol><li>Another notable dish was the rice cakes with mussels, I know my girlfriend thoroughly enjoyed these little bites !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5667">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5669">Next</a></li>
</ul>