<% provide :title, 'Opinion Target 5984' %><h2>meat burek<br />occurrence: 1</h2><div><ol><li>I had a meat burek, which is kind of like a coil of sausage wrapped in an oily dough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5983">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5985">Next</a></li>
</ul>