<% provide :title, 'Opinion Target 7094' %><h2>steak fries<br />occurrence: 1</h2><div><ol><li>The chicken wings were done very well and it comes with steak fries which are oddly good at scooping up that dill sauce that St. Louis is apparently famous for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7093">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7095">Next</a></li>
</ul>