<% provide :title, 'Opinion Target 4774' %><h2>Vietnamese<br />occurrence: 1</h2><div><ol><li>ATMOSPHERE: The decorum of the restaurant is actually impressive, and probably the most lavish Vietnamese Pho place I 've been to.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4775">Next</a></li>
</ul>