<% provide :title, 'Opinion Target 8272' %><h2>Caribben Jerk wings<br />occurrence: 1</h2><div><ol><li>The Caribben Jerk wings were too dry and intense in flavouring in my opinion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8273">Next</a></li>
</ul>