<% provide :title, 'Opinion Target 6992' %><h2>pesto salmon<br />occurrence: 1</h2><div><ol><li>For dinner I had the pesto salmon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6993">Next</a></li>
</ul>