<% provide :title, 'Opinion Target 8461' %><h2>potatoes with toasts and fruit medley<br />occurrence: 1</h2><div><ol><li>The others in my group ordered the NY Steak, and the all day breakfast featuring 3 eggs, bacon, potatoes with toasts and fruit medley.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8462">Next</a></li>
</ul>