<% provide :title, 'Opinion Target 1070' %><h2>cilantro<br />occurrence: 3</h2><div><ol><li>I prefer the Israeli chickpea-only style, though primarily because I like thetaste; it 's a brighter, less beany falafel and a better showcase for garlic, cumin and cilantro.</li><li>The beef in the beef salad was average, although the salad itself did taste a little awkward because of the pairings of raw thai basil, cilantro and mint ( hard to pickup with a fork too).</li><li>The rice had cilantro and other herbs in it which I did n't like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1069">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1071">Next</a></li>
</ul>