<% provide :title, 'Opinion Target 5369' %><h2>round bread<br />occurrence: 1</h2><div><ol><li>The round bread was lightly toasted on both sides, which I liked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5368">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5370">Next</a></li>
</ul>