<% provide :title, 'Opinion Target 4758' %><h2>Pho Dau Bo Finch<br />occurrence: 1</h2><div><ol><li>Pho Dau Bo Finch, thanks for 11 years of great pho! as the others review says, its amazing. so im not going to be talking about how great the pho is cause everyone else is already doing that. the only reason for 4 stars instead of 5 is that sometimes i could taste the detergent they used while wiping or cleaning the bowls spoons or chopsticks with. it throws off the taste but i usually either just switch utensil and itll be fine or ill cleanit down with tea:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4757">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4759">Next</a></li>
</ul>