<% provide :title, 'Opinion Target 3117' %><h2>caramel syrup<br />occurrence: 1</h2><div><ol><li>Got a latte as well which had a pretty lazy artwork made with some kind of caramel syrup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3118">Next</a></li>
</ul>