<% provide :title, 'Opinion Target 4783' %><h2>the enoki rolls<br />occurrence: 1</h2><div><ol><li>Been here a few times The place is small so it 's recommended that you get a reserve Sushi is quite tasty Loved the enoki rolls .....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4784">Next</a></li>
</ul>