<% provide :title, 'Opinion Target 8379' %><h2>vegetable dish<br />occurrence: 1</h2><div><ol><li>The sauteed snow pea shoots with garlic are a very good vegetable dish as is the sauteed green beans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8380">Next</a></li>
</ul>