<% provide :title, 'Opinion Target 2530' %><h2>stir fry soba noodles<br />occurrence: 1</h2><div><ol><li>We ordered a few dishes ( sashimi combo, maki roll and stir fry soba noodles).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2531">Next</a></li>
</ul>