<% provide :title, 'Opinion Target 1725' %><h2>Thai cuisine<br />occurrence: 2</h2><div><ol><li>The place is like a family restaurant so it was a little slow at first but the server is super nice and knows the authentic Thai cuisine well.</li><li>Conveniently located in the Floridianesce outdoor Shops at Don Mills, Linda is a hip, trendy, upscale restaurant featuring homemade Thai cuisine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1726">Next</a></li>
</ul>