<% provide :title, 'Opinion Target 5595' %><h2>spring onion pajeon ( pancake<br />occurrence: 1</h2><div><ol><li>They throw in a small spring onion pajeon ( pancake) as well, which is customary in Korea but unusual in N. America; nice touch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5594">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5596">Next</a></li>
</ul>