<% provide :title, 'Opinion Target 2867' %><h2>salad and pita<br />occurrence: 1</h2><div><ol><li>Each main course includes a salad and pita bread. as well as a side dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2868">Next</a></li>
</ul>