<% provide :title, 'Opinion Target 8407' %><h2>meat appetizers<br />occurrence: 1</h2><div><ol><li>*** Jellyfish salad was okay, as were the two cold meat appetizers we tried ( including drunken chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8406">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8408">Next</a></li>
</ul>