<% provide :title, 'Opinion Target 6092' %><h2>pancakes with black caviar<br />occurrence: 1</h2><div><ol><li>My personal favourite and a bit of an addiction is the eggs Natasha, basically a smoked salmon eggs Benedict on tiny pancakes with black caviar, it 's amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6091">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6093">Next</a></li>
</ul>