<% provide :title, 'Opinion Target 9047' %><h2>atmospher<br />occurrence: 1</h2><div><ol><li>The atmospher may seems little lousy but the food are neat and high quality.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9046">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9048">Next</a></li>
</ul>