<% provide :title, 'Opinion Target 9483' %><h2>mixed vegetable fried rice<br />occurrence: 1</h2><div><ol><li>Some good bets: yeung chow fried rice, house seafood and mixed vegetable fried rice, and seafood super bowl congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9482">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9484">Next</a></li>
</ul>