<% provide :title, 'Opinion Target 6273' %><h2>teppanyaki lunches<br />occurrence: 1</h2><div><ol><li>Thought their teppanyaki lunches are affordable and good for special occasions, not sure I will be back.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6274">Next</a></li>
</ul>