<% provide :title, 'Opinion Target 8565' %><h2>toppings dish<br />occurrence: 1</h2><div><ol><li>I went during lunch ( 12-1 pm) and was craving bibimbap and thought you could do no wrong with a new place ordering a simple rice and toppings dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8564">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8566">Next</a></li>
</ul>