<% provide :title, 'Opinion Target 8123' %><h2>omelette station<br />occurrence: 1</h2><div><ol><li>Only the breakfast omelette station was truly opened.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8122">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8124">Next</a></li>
</ul>