<% provide :title, 'Opinion Target 1286' %><h2>roti shell<br />occurrence: 3</h2><div><ol><li>I 'm not keen on the roti shell since I much prefer the jamaican style.</li><li>The roti shell itself was soft and with just enough chew and thickness to hold all its innards in place.</li><li>The roti shell was very soft and the beans did not dry out the meal ( like some other places).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1287">Next</a></li>
</ul>