<% provide :title, 'Opinion Target 1462' %><h2>roasted chicken<br />occurrence: 3</h2><div><ol><li>It was more like roasted chicken.</li><li>The roasted chicken was undercooked.</li><li>The roasted chicken was also not good and the chicken bucket had batter that tasted like onion ring batter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1463">Next</a></li>
</ul>