<% provide :title, 'Opinion Target 3586' %><h2>kafta<br />occurrence: 1</h2><div><ol><li>My friends fries were overcooked and borderline burnt and her kafta was very dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3585">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3587">Next</a></li>
</ul>