<% provide :title, 'Opinion Target 5982' %><h2>German chocolate cake coffee<br />occurrence: 1</h2><div><ol><li>Also love their German chocolate cake coffee- OMG.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5981">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5983">Next</a></li>
</ul>