<% provide :title, 'Opinion Target 3022' %><h2>wine bar<br />occurrence: 1</h2><div><ol><li>I went to newly opened ( as of May 18th) `` Sushi MOTO sake &amp; wine bar'' with a group of four before going to the Sheppard Grande for a show.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3021">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3023">Next</a></li>
</ul>