<% provide :title, 'Opinion Target 3809' %><h2>ice cream waffles<br />occurrence: 1</h2><div><ol><li>The ice cream waffles are very dense and dry, seems like they just toasted a frozen waffle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3810">Next</a></li>
</ul>