<% provide :title, 'Opinion Target 1440' %><h2>Plantain<br />occurrence: 3</h2><div><ol><li>Plantain was all mushy.</li><li>You can get other stuff here such as phalowrie ( ?) fish, doubles, patties and plantain.</li><li>And get the plantain.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1439">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1441">Next</a></li>
</ul>