<% provide :title, 'Opinion Target 9219' %><h2>spring garden<br />occurrence: 1</h2><div><ol><li>You 'd be better off going to somewhere like Sapporo Sushi ( at Yonge and finch), Ichiban ( on spring garden and yonge) or any of the like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9220">Next</a></li>
</ul>