<% provide :title, 'Opinion Target 1331' %><h2>green peppers<br />occurrence: 2</h2><div><ol><li>I told the waitress `` NO ONIONS, NO EGGS, NO CHICKEN, NO BEEF, NO SEAFOOD, and NO GREEN PEPPERS ( the green peppers was a choice).''</li><li>Maybe 2.95 for both red and green peppers is alright ... but 2.95 for each .....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1330">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1332">Next</a></li>
</ul>