<% provide :title, 'Opinion Target 1431' %><h2>Panang curry with crispy beef<br />occurrence: 3</h2><div><ol><li>Panang curry with crispy beef.</li><li>Panang curry with crispy beef- while the curry was creamy and went well with the rice, the beef was lacking any texture and again the breading was too thick.</li><li>THE GOOD:- I had the panang curry with crispy beef, and it was a hit- I 'd give it 4/5 stars.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1430">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1432">Next</a></li>
</ul>