<% provide :title, 'Opinion Target 1083' %><h2>starter<br />occurrence: 3</h2><div><ol><li>We took fried calamari and dumplings as starter.</li><li>Our starter were exceptional- chicken spring rolls and bruschetta.</li><li>Started with Bruchetta, which was excellent as always and the tomatoes were fresh and juicy and the onions, excellent ... a great starter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1082">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1084">Next</a></li>
</ul>