<% provide :title, 'Opinion Target 2081' %><h2>roasted red peppers<br />occurrence: 2</h2><div><ol><li>I ordered off their chicken pasta section of the menu- the Raffaella ( $ 16)- chicken breast, roasted red peppers, sundried tomatoes, snowpeas, penne pasta, and a rose sauce.</li><li>This one has chicken breast, roasted red peppers, green peppers, red onion, and basil pesto marinated tomatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2082">Next</a></li>
</ul>