<% provide :title, 'Opinion Target 1151' %><h2>dips<br />occurrence: 3</h2><div><ol><li>Their dips are n't good I tried hummus and tabouli.</li><li>The dips- hummus, baba ganoush, and labneh- are phenomenal though, as is the fatouche salad ( $ 4.50 Regular, $ 8 Large).</li><li>The dips, bread, and appetizers here are jaw dropping: kashkeh bademjan, bademjan kebob, maust borani ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1150">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1152">Next</a></li>
</ul>