<% provide :title, 'Opinion Target 5057' %><h2>risotto with porcini mushrooms and truffle oil<br />occurrence: 1</h2><div><ol><li>I ordered the risotto con porcini e profumo di tartufo, or risotto with porcini mushrooms and truffle oil infusion, and was in heaven.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5058">Next</a></li>
</ul>