<% provide :title, 'Opinion Target 3987' %><h2>main bar<br />occurrence: 1</h2><div><ol><li>The main bar is on ground level, and the dining area is upstairs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3988">Next</a></li>
</ul>