<% provide :title, 'Opinion Target 3330' %><h2>Chirashi donburi lunch<br />occurrence: 1</h2><div><ol><li>We had Chirashi donburi lunch and for $ 11 it has met my expectations, not the above average quality but able to deliver it at that price range.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3329">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3331">Next</a></li>
</ul>