<% provide :title, 'Opinion Target 3673' %><h2>curry flavour<br />occurrence: 1</h2><div><ol><li>Gluten-free spelt rotis made fresh and filled to the point of bursting with incredible curry flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3674">Next</a></li>
</ul>