<% provide :title, 'Opinion Target 1997' %><h2>dill dip<br />occurrence: 2</h2><div><ol><li>Fries are the wedge style ( I like the skinnier, deeper fried ones, again, why am I not 300lbs) and of course the creamy dill dip is a great complement to the wings.</li><li>The garlic, dill dip is my fav.:) This place is owned by the guy who started the first St Louis.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1996">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1998">Next</a></li>
</ul>