<% provide :title, 'Opinion Target 4548' %><h2>sui mai<br />occurrence: 1</h2><div><ol><li>Because the pad Thai was n't up to par, the sui mai is more of a Chinese dish ( with a Thai influence via the lemongrass), and the smoked duck with quinoa really did n't scream Thai either.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4547">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4549">Next</a></li>
</ul>