<% provide :title, 'Opinion Target 6988' %><h2>Chicken with sprinkled garlic<br />occurrence: 1</h2><div><ol><li>Then, we had an assortment of dishes including fried pork cutlets, fried green beans, tofu, beef and onion, Chicken with sprinkled garlic and for me, vegetarian dumplings ( but no meat).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6989">Next</a></li>
</ul>