<% provide :title, 'Opinion Target 9642' %><h2>plain rice mixed in with biryani rice<br />occurrence: 1</h2><div><ol><li>A couple times it was stale plain rice mixed in with biryani rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9641">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9643">Next</a></li>
</ul>