<% provide :title, 'Opinion Target 5316' %><h2>tuna teriyaki<br />occurrence: 1</h2><div><ol><li>Seaweed salad and deep-fried tofu accompanied overcooked tuna teriyaki and boring California rolls come in dinner bentos.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5315">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5317">Next</a></li>
</ul>