<% provide :title, 'Opinion Target 6562' %><h2>chicken Caesar salad<br />occurrence: 1</h2><div><ol><li>He had a chicken Caesar salad and sweet potato fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6563">Next</a></li>
</ul>