<% provide :title, 'Opinion Target 3437' %><h2>tawa keema<br />occurrence: 1</h2><div><ol><li>The tawa keema and nihari with freshly made naan is awesome too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3438">Next</a></li>
</ul>