<% provide :title, 'Opinion Target 5140' %><h2>taiwanese stir fry<br />occurrence: 1</h2><div><ol><li>Try the cantonese chow mein or the taiwanese stir fry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5141">Next</a></li>
</ul>