<% provide :title, 'Opinion Target 6246' %><h2>platter with chicken shawarma<br />occurrence: 1</h2><div><ol><li>I got the vegetarian platter with chicken shawarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6247">Next</a></li>
</ul>