<% provide :title, 'Opinion Target 2913' %><h2>curtido<br />occurrence: 1</h2><div><ol><li>I think every dish is under $ 20, with pupusas ranging from $ 2.50- $ 3 and they each come with a salad called curtido and tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2914">Next</a></li>
</ul>