<% provide :title, 'Opinion Target 897' %><h2>seafood ramen<br />occurrence: 5</h2><div><ol><li>I usually order the beef or seafood ramen as well.</li><li>The ramen was a seafood ramen, but I got a total of one piece of ( frozen, still cold) shrimp and two minuscule pieces of mussel.</li><li>However the quality of food is very different The seafood ramen.</li><li>Seafood ramen is the best choice for me.</li><li>The seafood ramen- noodles were clumped together, shrimps and squid were not fresh, broth was just mediocre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_896">Previous</a></li>
  <li class="next"><a href=".\opinion_target_898">Next</a></li>
</ul>