<% provide :title, 'Opinion Target 2302' %><h2>fillet mignon<br />occurrence: 1</h2><div><ol><li>It was supposed to be gyros, souvlaki, fillet mignon, lamb chops for the meat platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2303">Next</a></li>
</ul>