<% provide :title, 'Opinion Target 2001' %><h2>salmon fillet<br />occurrence: 2</h2><div><ol><li>( $ 12.95) I was actually surprised at the size of the salmon fillet that was served and the little piece I stole from his plate, when he was n't looking, was cooked perfectly.</li><li>One of us ordered the salmon fillet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2002">Next</a></li>
</ul>