<% provide :title, 'Opinion Target 1880' %><h2>starter salad<br />occurrence: 2</h2><div><ol><li>Also includes a starter salad.</li><li>Has a starter salad, the dressing is SO good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1881">Next</a></li>
</ul>