<% provide :title, 'Opinion Target 3636' %><h2>lettuce rolls<br />occurrence: 1</h2><div><ol><li>Sexy summer rolls should be renamed ' lettuce rolls' as that 's all that seems to be in them ( note, these are the non-fried option).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3637">Next</a></li>
</ul>