<% provide :title, 'Opinion Target 5032' %><h2>frozen pizza<br />occurrence: 1</h2><div><ol><li>TL; DR decent food; delivery questionable Reminded me of an overpriced cheap frozen pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5031">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5033">Next</a></li>
</ul>