<% provide :title, 'Opinion Target 6132' %><h2>deluxe jumbo spider roll<br />occurrence: 1</h2><div><ol><li>The best roll on the menu is the deluxe jumbo spider roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6133">Next</a></li>
</ul>