<% provide :title, 'Opinion Target 2545' %><h2>sashimi dinner plate<br />occurrence: 1</h2><div><ol><li>I had the tataki attacki roll, sashimi dinner plate, dynamite roll, kamikaze roll, lots of drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2544">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2546">Next</a></li>
</ul>