<% provide :title, 'Opinion Target 3951' %><h2>Beef Empanada<br />occurrence: 1</h2><div><ol><li>The Cheese Empanada has this ooey gooey texture, while the Beef Empanada has a really moist filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3952">Next</a></li>
</ul>