<% provide :title, 'Opinion Target 1973' %><h2>Nutella crepe<br />occurrence: 2</h2><div><ol><li>I always get the Nutella crepe so I ca n't speak for anything else but they have the best ice cream and whipped cream ever.</li><li>The Nutella crepe had too much whipped cream and not enough Nutella, but for the price and the place, I really loved Pastel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1974">Next</a></li>
</ul>