<% provide :title, 'Opinion Target 4930' %><h2>Pancit Sampaguita<br />occurrence: 1</h2><div><ol><li>We ordered the Pancit Sampaguita, which was their recommendation, Lechon Kawali &amp; Shrimp, as well as Crispy Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4929">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4931">Next</a></li>
</ul>