<% provide :title, 'Opinion Target 5511' %><h2>Cavolo salad with seared tuna<br />occurrence: 1</h2><div><ol><li>I got the Cavolo salad with seared tuna.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5510">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5512">Next</a></li>
</ul>