<% provide :title, 'Opinion Target 4615' %><h2>green color<br />occurrence: 1</h2><div><ol><li>Lovely green color though ( supposedly from boiling it in the noodle water ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4616">Next</a></li>
</ul>