<% provide :title, 'Opinion Target 767' %><h2>Northern Chinese food<br />occurrence: 5</h2><div><ol><li>Although many Northern Chinese food tend to use more oil/grease/fat, these noodles were definitely on the upper limit.</li><li>MENU The menu had mostly Northern Chinese food style.</li><li>Our hosts invited us to this restaurant, but I guess they did n't know that this place specialized in Northern Chinese food.</li><li>-I 'd come back, but probably more for the Northern Chinese food and not Canto food.</li><li>Definitely not authentic northern Chinese food !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_768">Next</a></li>
</ul>