<% provide :title, 'Opinion Target 3722' %><h2>pho meat<br />occurrence: 1</h2><div><ol><li>The pho meat look like scraps of beef and fat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3723">Next</a></li>
</ul>