<% provide :title, 'Opinion Target 1066' %><h2>''<br />occurrence: 4</h2><div><ol><li>The `` tiramisu'' tasted like cream in a shot glass.</li><li>I first thought to myself `` This place looks nice!''</li><li>Note: the decor is `` homey'', not `` fancy'': plastic covers over table cloths and vinyl covered metal frame chairs.</li><li>To call them `` Incompetent'' would be a compliment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1065">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1067">Next</a></li>
</ul>