<% provide :title, 'Opinion Target 3306' %><h2>wine drink<br />occurrence: 1</h2><div><ol><li>To start off we got a sparking wine drink which was complimentary.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3307">Next</a></li>
</ul>