<% provide :title, 'Opinion Target 3578' %><h2>fruit cocktail<br />occurrence: 1</h2><div><ol><li>With the Yelp check-in, I received a free fruit cocktail.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3579">Next</a></li>
</ul>