<% provide :title, 'Opinion Target 2350' %><h2>marshmallow latte<br />occurrence: 2</h2><div><ol><li>And toasted marshmallow latte.</li><li>I did get a marshmallow latte, and my boyfriend got a hot chocolate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2349">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2351">Next</a></li>
</ul>