<% provide :title, 'Opinion Target 5731' %><h2>Thai Islamic noodle<br />occurrence: 1</h2><div><ol><li>I 've also tried the Thai Islamic noodle, poached Chilean sea bass and golden beef curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5730">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5732">Next</a></li>
</ul>