<% provide :title, 'Opinion Target 4150' %><h2>design of food<br />occurrence: 1</h2><div><ol><li>Moreover the design of food is nice also!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4149">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4151">Next</a></li>
</ul>