<% provide :title, 'Opinion Target 5023' %><h2>Maple Cinnamon French Toast bagel<br />occurrence: 1</h2><div><ol><li>My new obsession: Maple Cinnamon French Toast bagel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5022">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5024">Next</a></li>
</ul>