<% provide :title, 'Opinion Target 1902' %><h2>Peking duck skin<br />occurrence: 2</h2><div><ol><li>The Peking duck skin was very crispy.</li><li>Overall, the Peking duck skin was good, but it was n't the best or memorable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1901">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1903">Next</a></li>
</ul>