<% provide :title, 'Opinion Target 4190' %><h2>shawarma place<br />occurrence: 1</h2><div><ol><li>The absolute BEST shawarma place ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4191">Next</a></li>
</ul>