<% provide :title, 'Opinion Target 3998' %><h2>Truffled Poached Eggs<br />occurrence: 1</h2><div><ol><li>And instead of your usual boring crumpet or English muffin, the Truffled Poached Eggs are served atop a mushroom ravioli and a delightful truffled Hollandaise sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3997">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3999">Next</a></li>
</ul>