<% provide :title, 'Opinion Target 2079' %><h2>ricotta cheese<br />occurrence: 2</h2><div><ol><li>When it come to italian food i expect using lots of fresh ingrediants specially hand roll pastas but when i get dry one i 'm not happy, the portions are so bigand the price is good for the quality, i tried the meat lasagna which comes with ricotta cheese instead of bechamel sauce and all the foods were bland: ( The servers wasnt around when you needed them.</li><li>The ricotta cheese was also very nice and creamy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2080">Next</a></li>
</ul>