<% provide :title, 'Opinion Target 7418' %><h2>potato items<br />occurrence: 1</h2><div><ol><li>One of the main reasons my friends and I came here was because of the sweet potato items on the menu!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7419">Next</a></li>
</ul>