<% provide :title, 'Opinion Target 7592' %><h2>cheese with green peppers pizza<br />occurrence: 1</h2><div><ol><li>So tasted like a plain cheese pizza and a plain cheese with green peppers pizza instead of what they should have been.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7593">Next</a></li>
</ul>