<% provide :title, 'Opinion Target 5927' %><h2>Crispy Papaya Salad<br />occurrence: 1</h2><div><ol><li>Starter ( listing from the best) 1) Crispy Papaya Salad- usually I do not order salad as a starter as I believe I can make it at home or nothing special could be in the salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5928">Next</a></li>
</ul>