<% provide :title, 'Opinion Target 5988' %><h2>pastrami sandwich on rye<br />occurrence: 1</h2><div><ol><li>If I 'm ever in Toronto again, this California girl is coming back to Katz. there pastrami/ corned beef is good, they stack em pretty high and just a lttle dry, cafeteria like, everything is ala carte, i usually get, a big pastrami sandwich on rye, fries and a piece of the rich chocolate cake, a vernors to wash it all down .... gets busy a lunch, plenty of seating, a bit expensive, last time i went $ 9 bucks a sandwich ( around there) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5989">Next</a></li>
</ul>