<% provide :title, 'Opinion Target 8493' %><h2>veal with cheese<br />occurrence: 1</h2><div><ol><li>Just finished having dinner here- I ordered the veal with cheese and hot peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8494">Next</a></li>
</ul>