<% provide :title, 'Opinion Target 6651' %><h2>potatoes with honey<br />occurrence: 1</h2><div><ol><li>For the side dishes the potatoes with honey is always a hit, but with a party of 6 they only gave us 4 potatoes and expected us to share.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6652">Next</a></li>
</ul>