<% provide :title, 'Opinion Target 8220' %><h2>Bibim Bap<br />occurrence: 1</h2><div><ol><li>My girlfriend is gluten free, and so is the Bibim Bap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8219">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8221">Next</a></li>
</ul>