<% provide :title, 'Opinion Target 5651' %><h2>fish oils<br />occurrence: 1</h2><div><ol><li>The skin was crispy and the meat was tender and the natural fish oils were plentiful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5652">Next</a></li>
</ul>