<% provide :title, 'Opinion Target 2357' %><h2>potato knish<br />occurrence: 1</h2><div><ol><li>Everything we had was very tasty, including: matzo ball soup, corned beef sandwich, potato knish, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2356">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2358">Next</a></li>
</ul>