<% provide :title, 'Opinion Target 3800' %><h2>Korean bbq marinade<br />occurrence: 1</h2><div><ol><li>You must also order the Korean grilled short ribs or kalbi, which has the delicious char from the grill and of course the famed Korean bbq marinade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3801">Next</a></li>
</ul>