<% provide :title, 'Opinion Target 5579' %><h2>chandliers<br />occurrence: 1</h2><div><ol><li>There is no fancy chandliers here nor skanky girls in tight black dress, it is def laid back and feels as if you are going to a friend 's house for a home cooked meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5578">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5580">Next</a></li>
</ul>