<% provide :title, 'Opinion Target 2164' %><h2>Tabasco sauce<br />occurrence: 1</h2><div><ol><li>Chicken was very good ( BBQ) Rice was dry and the hot sauce is not home made ... its like Tabasco sauce, i have tasted better at other Portuguese chicken take outs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2163">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2165">Next</a></li>
</ul>