<% provide :title, 'Opinion Target 9719' %><h2>grilled seafood Ramen ( Nagasaki champon<br />occurrence: 1</h2><div><ol><li>My all time fav is their grilled seafood Ramen ( Nagasaki champon) ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9718">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9720">Next</a></li>
</ul>