<% provide :title, 'Opinion Target 1475' %><h2>Crab Corn<br />occurrence: 2</h2><div><ol><li>Started with soup, Hot and Sour and Crab Corn Soup ( or was it chicken ?).</li><li>The crab corn is also so damn satisfying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1476">Next</a></li>
</ul>