<% provide :title, 'Opinion Target 6183' %><h2>mango roll and dynamite roll<br />occurrence: 1</h2><div><ol><li>I especially enjoyed the mango roll and dynamite roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6182">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6184">Next</a></li>
</ul>