<% provide :title, 'Opinion Target 1446' %><h2>delivery person<br />occurrence: 2</h2><div><ol><li>However, the delivery person had an issue with the credit card machine, so it took a while for the machine to connect with its network.</li><li>The food arrived later than the estimated delivery time, and when I answered the door the delivery guy just said the name of the restaurant, handed me the bag, and walked away ( I get that it 's possible that the delivery person did n't speak much English, but as a server myself I expect at least a `` hello'').</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1447">Next</a></li>
</ul>