<% provide :title, 'Opinion Target 3590' %><h2>banana smoothie<br />occurrence: 1</h2><div><ol><li>Mango banana smoothie could have been better with a little more of mango flavor ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3589">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3591">Next</a></li>
</ul>