<% provide :title, 'Opinion Target 4412' %><h2>linguine with tomato sauce<br />occurrence: 1</h2><div><ol><li>When we got home to eat our food, my food was packed in a tray with three divisions, one for a few pieces of carrot and broccoli, one for linguine with tomato sauce, and in the middle was the breaded chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4413">Next</a></li>
</ul>