<% provide :title, 'Opinion Target 1703' %><h2>creams<br />occurrence: 2</h2><div><ol><li>For those of you really nostalgic about the old country they have a large selection of health and beauty aids ( shampoos, soaps, lotions, creams, etc.).</li><li>Another thing that the dessert house has made unique was the fact that certain ice creams are homemade at the restaurant!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1702">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1704">Next</a></li>
</ul>