<% provide :title, 'Opinion Target 6749' %><h2>flakes of mango<br />occurrence: 1</h2><div><ol><li>I 'm not sure if they forgot to sweeten it, but it was pretty much just plain sticky rice, with about a dozen 1/2 `` flakes of mango on top, with a sprinkling of coconut shreds, and a maraschino cherry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6750">Next</a></li>
</ul>