<% provide :title, 'Opinion Target 2939' %><h2>tempura sauce taste<br />occurrence: 1</h2><div><ol><li>Also got tempura sauce taste like soy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2938">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2940">Next</a></li>
</ul>