<% provide :title, 'Opinion Target 7822' %><h2>chili<br />occurrence: 1</h2><div><ol><li>First off jumbo is more like a small and the chili was like 2 spoon fulls worth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7821">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7823">Next</a></li>
</ul>