<% provide :title, 'Opinion Target 1631' %><h2>beef sausages<br />occurrence: 2</h2><div><ol><li>The beef sausages I had was bit salty and the veal my partner had too greasy ..</li><li>We ordered the Bul Nak Jeon Gol which was hot pot with beef sausages, octopus, clear noodles, tofu, mushrooms, Korean cabbage, zucchini, watercress, hot peppers and onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1632">Next</a></li>
</ul>