<% provide :title, 'Opinion Target 2747' %><h2>hickory sticks<br />occurrence: 1</h2><div><ol><li>The rest of the sandwich tasted about the same and it had my favourite ingredient in it, the hickory sticks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2748">Next</a></li>
</ul>