<% provide :title, 'Opinion Target 6678' %><h2>mint lemonade slush<br />occurrence: 1</h2><div><ol><li>Also ordered the Lemonana ( mint lemonade slush) and it was VERY refreshing and goes well with the shawarma.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6679">Next</a></li>
</ul>