<% provide :title, 'Opinion Target 2675' %><h2>delivery tip<br />occurrence: 1</h2><div><ol><li>My only problem was with the price, my 3-topping pizza came up to almost $ 34, almost $ 40 with the delivery tip.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2676">Next</a></li>
</ul>