<% provide :title, 'Opinion Target 6734' %><h2>house wine<br />occurrence: 1</h2><div><ol><li>It was not too loud, it was not too busy, and the house wine was A-OK.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6733">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6735">Next</a></li>
</ul>