<% provide :title, 'Opinion Target 5174' %><h2>BBQ Taiwanese sausage<br />occurrence: 1</h2><div><ol><li>The BBQ Taiwanese sausage is SO good ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5173">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5175">Next</a></li>
</ul>