<% provide :title, 'Opinion Target 1775' %><h2>rice and peas<br />occurrence: 2</h2><div><ol><li>The rice and peas did n't have too many peas, mostly just rice.</li><li>How the hell do you own a West Indian restaurant and you not have rice and peas ... no joke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1774">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1776">Next</a></li>
</ul>