<% provide :title, 'Opinion Target 6118' %><h2>egg benedictine<br />occurrence: 1</h2><div><ol><li>We got the egg benedictine ( around $ 12) and it was very delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6117">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6119">Next</a></li>
</ul>