<% provide :title, 'Opinion Target 5368' %><h2>soy beef noodle soup<br />occurrence: 1</h2><div><ol><li>We ordered the spicy beef noodle soup and the soy beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5367">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5369">Next</a></li>
</ul>