<% provide :title, 'Opinion Target 7469' %><h2>chocolate mocha ice cream and pistachio cheesecake.<br />occurrence: 1</h2><div><ol><li>I ordered the chocolate mocha ice cream and pistachio cheesecake. i 've had better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7470">Next</a></li>
</ul>