<% provide :title, 'Opinion Target 1562' %><h2>lobster thermidor<br />occurrence: 2</h2><div><ol><li>The food was amazing, every single thing that we tried from the starter platter, the seafood soup, lobster thermidor ( we visited during the Lobster festival), the chocolate dessert were amazing.</li><li>Their fish is horribly cooked- dry and tough- and their holiday specials ( e.g., lobster thermidor) are poorly done and not worth the hefty surcharge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1563">Next</a></li>
</ul>