<% provide :title, 'Opinion Target 8697' %><h2>milkshake<br />occurrence: 1</h2><div><ol><li>You 'd do well to just go to the 24 hour McDonald 's up the road ( much cheaper) or further south to a Burger Priest ( much tastier) The milkshake and onion rings were fine though so I suppose if you wanted something like that it could work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8696">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8698">Next</a></li>
</ul>