<% provide :title, 'Opinion Target 5160' %><h2>Swiss Chalet Rotisserie<br />occurrence: 1</h2><div><ol><li>They are in the same strip mall as Genghis Khan Mongolian Grill and Swiss Chalet Rotisserie, just keep driving around until you see a yellow sign.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5159">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5161">Next</a></li>
</ul>