<% provide :title, 'Opinion Target 4394' %><h2>lemon garnish<br />occurrence: 1</h2><div><ol><li>What first appears to be just another piece of grilled fish with a lemon garnish on top, the moment you dive in you 'll realize this is way more than that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4393">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4395">Next</a></li>
</ul>