<% provide :title, 'Opinion Target 8492' %><h2>veal cutlet sandwich<br />occurrence: 1</h2><div><ol><li>Ordered the veal cutlet sandwich and it was decent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8493">Next</a></li>
</ul>