<% provide :title, 'Opinion Target 4472' %><h2>spicy fried<br />occurrence: 1</h2><div><ol><li>The spicy fried chicken was amazing and so was the pork bone soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4471">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4473">Next</a></li>
</ul>