<% provide :title, 'Opinion Target 5901' %><h2>golden sauce<br />occurrence: 1</h2><div><ol><li>Although the golden sauce is actually made with plum sugar, the tamarind sauce that 's also used almost overpowers it; and then balances it to ease off the sweetness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5900">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5902">Next</a></li>
</ul>