<% provide :title, 'Opinion Target 4260' %><h2>sugar syrup<br />occurrence: 1</h2><div><ol><li>At first when I received my drink, the sugar syrup and milk was poorly mixed ( the tea was still mostly at the bottom).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4259">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4261">Next</a></li>
</ul>