<% provide :title, 'Opinion Target 3471' %><h2>Lemon Chicken Dinner<br />occurrence: 1</h2><div><ol><li>The Lemon Chicken Dinner is great, a little too saucy for me though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3472">Next</a></li>
</ul>