<% provide :title, 'Opinion Target 6759' %><h2>Mee Goreng noodles<br />occurrence: 1</h2><div><ol><li>Try the Mee Goreng noodles which is actually called `` oodles of noodles'' and would serve a family of 72 squirrels ( or 4 humans, whichever makes more sense in your brain).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6758">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6760">Next</a></li>
</ul>