<% provide :title, 'Opinion Target 3989' %><h2>tasting beer<br />occurrence: 1</h2><div><ol><li>A refreshing tasting beer that goes down easy without the bitter after taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3988">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3990">Next</a></li>
</ul>