<% provide :title, 'Opinion Target 1999' %><h2>kimchi stew<br />occurrence: 2</h2><div><ol><li>I felt bad for fellow yelper Elaine, as she tried the kimchijjigae ( kimchi stew) and I sampled some.</li><li>My kimchi stew was probably the most edible thing with chunks of pork belly swimming in a msg-laden broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1998">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2000">Next</a></li>
</ul>