<% provide :title, 'Opinion Target 6946' %><h2>butter chicken & poutine toppings<br />occurrence: 1</h2><div><ol><li>I wanted to try all of them, but decided on just the butter chicken &amp; poutine toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6947">Next</a></li>
</ul>