<% provide :title, 'Opinion Target 3003' %><h2>la carte sushi<br />occurrence: 1</h2><div><ol><li>Although a la carte sushi is expensive, its definitely worth it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3002">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3004">Next</a></li>
</ul>