<% provide :title, 'Opinion Target 6836' %><h2>steamed curry cuttlefish<br />occurrence: 1</h2><div><ol><li>The steamed curry cuttlefish and shrimp paste with squid were cooked perfectly and the squid was cut in big rectangles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6837">Next</a></li>
</ul>