<% provide :title, 'Opinion Target 8046' %><h2>white tuna sushi<br />occurrence: 1</h2><div><ol><li>I had the miso soup, salmon rose, white tuna sushi, salmon belly, beef rib, chicken teriyaki, salmon teriyaki, beef teriyaki, enoki beef roll, pork cutlet, chicken cutlet, deep fried scallops and green tea ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8047">Next</a></li>
</ul>