<% provide :title, 'Opinion Target 3633' %><h2>middle-aged Asian man<br />occurrence: 1</h2><div><ol><li>The middle-aged Asian man working at cash, continuously processed orders when the line clearly was not moving.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3632">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3634">Next</a></li>
</ul>