<% provide :title, 'Opinion Target 4792' %><h2>carrot slaw<br />occurrence: 1</h2><div><ol><li>I love the rice and peas that sit underneath the pork, and its topped with some cabbage and carrot slaw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4793">Next</a></li>
</ul>