<% provide :title, 'Opinion Target 7373' %><h2>strawberry cheesecake waffle<br />occurrence: 1</h2><div><ol><li>We ordered the black sesame crepe, and I ordered their strawberry cheesecake waffle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7372">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7374">Next</a></li>
</ul>