<% provide :title, 'Opinion Target 2787' %><h2>blood sausage soup<br />occurrence: 1</h2><div><ol><li>Order the blood sausage soup, it came with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2786">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2788">Next</a></li>
</ul>