<% provide :title, 'Opinion Target 7237' %><h2>pasta salad banchan<br />occurrence: 1</h2><div><ol><li>Though admittedly the pasta salad banchan was kind of funny to see.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7236">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7238">Next</a></li>
</ul>