<% provide :title, 'Opinion Target 2024' %><h2>shrimp appetizer<br />occurrence: 2</h2><div><ol><li>We ordered the shrimp appetizer, caesar salad, home made ravioli in a white sauce, veal parmesan, and a tiramisu.</li><li>The shrimp appetizer was miserable.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2025">Next</a></li>
</ul>