<% provide :title, 'Opinion Target 6876' %><h2>Portuguese chicken<br />occurrence: 1</h2><div><ol><li>The chicken is some of the best Portuguese chicken I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6875">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6877">Next</a></li>
</ul>