<% provide :title, 'Opinion Target 4178' %><h2>lunch special add-ons<br />occurrence: 1</h2><div><ol><li>( If there is a next time, I would probably choose something different or just forgo the lunch special add-ons altogether.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4179">Next</a></li>
</ul>