<% provide :title, 'Opinion Target 3640' %><h2>onion ring<br />occurrence: 1</h2><div><ol><li>The onion ring was a bit better as they used the purple onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3641">Next</a></li>
</ul>