<% provide :title, 'Opinion Target 2071' %><h2>escargots<br />occurrence: 2</h2><div><ol><li>We all ordered the jump escargots, however I would have to say I was disappointed by my lamb shank which came out extremely dry as opposed to tender and falling off the bone.</li><li>The Escargots were really salty this time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2072">Next</a></li>
</ul>