<% provide :title, 'Opinion Target 3587' %><h2>tabouli<br />occurrence: 1</h2><div><ol><li>Their dips are n't good I tried hummus and tabouli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3588">Next</a></li>
</ul>