<% provide :title, 'Opinion Target 6562' %><h2>tzaiki<br />occurrence: 1</h2><div><ol><li>Homemade tzaiki finished the bite perfectly, as the greek yogurt cut through the light garlic and greek seasoning with ease.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6563">Next</a></li>
</ul>