<% provide :title, 'Opinion Target 7507' %><h2>green tea latte EVA<br />occurrence: 1</h2><div><ol><li>Best green tea latte EVA! and first time seeing real latte art!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7506">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7508">Next</a></li>
</ul>