<% provide :title, 'Opinion Target 3626' %><h2>penne arrabbiata<br />occurrence: 1</h2><div><ol><li>My mom and I had the same dish ( penne arrabbiata) while my cousins had ravioli and capellini.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3627">Next</a></li>
</ul>