<% provide :title, 'Opinion Target 4791' %><h2>40 salmon sashimi<br />occurrence: 1</h2><div><ol><li>Surprising for this AYCE place, the 40 salmon sashimi that you ordered, will actually come out!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4792">Next</a></li>
</ul>