<% provide :title, 'Opinion Target 9367' %><h2>tapioca and taro<br />occurrence: 1</h2><div><ol><li>Shaved ice, flavored syrups, evaporated milk, tapioca and taro, red beans, jelly, ice cream ... oh yes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9366">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9368">Next</a></li>
</ul>