<% provide :title, 'Opinion Target 2309' %><h2>green onion fried chicken<br />occurrence: 2</h2><div><ol><li>We got a large order of green onion fried chicken ( with bones), and a small order of crispy chicken ( for size comparison) A plate of side-dishes and a hot plate of corn came out as we waited for the chicken.</li><li>Green onion fried chicken comes with sauce drizzled over it and a stack of green onions on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2308">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2310">Next</a></li>
</ul>