<% provide :title, 'Opinion Target 2300' %><h2>roast coffee<br />occurrence: 1</h2><div><ol><li>I ordered a black dark roast coffee because there was a TV screen that kept advertising it as `` Rich flavor'' but it tasted more diluted than the usual Timmy 's.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2301">Next</a></li>
</ul>