<% provide :title, 'Opinion Target 5441' %><h2>priced food<br />occurrence: 1</h2><div><ol><li>Over priced food, dirty dirty dirty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5440">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5442">Next</a></li>
</ul>