<% provide :title, 'Opinion Target 6833' %><h2>noodle taste<br />occurrence: 1</h2><div><ol><li>They have 2 different type of #noodles, the thin noodle is n't bad but their big flat noodle taste like boiled lasagne sliced in half.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6834">Next</a></li>
</ul>