<% provide :title, 'Opinion Target 3163' %><h2>Colombian Grilled Corn Arepa<br />occurrence: 1</h2><div><ol><li>The Colombian Grilled Corn Arepa was not much easier to chow on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3162">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3164">Next</a></li>
</ul>