<% provide :title, 'Opinion Target 2081' %><h2>black cod<br />occurrence: 2</h2><div><ol><li>We would genuinely recommend the one in yorkville Toronto or try Iron Chef in Mississauga- it 's the best! ( The black cod at iron chef is amazing !!).</li><li>( $ 33) We also got the black cod, which was very nice, smooth and crunchy. it same with small side garnishes, including a sticky rice mochi wrapped in a bamboo leaf, some pickled veggies, all edible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2080">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2082">Next</a></li>
</ul>