<% provide :title, 'Opinion Target 3680' %><h2>tilapia fish<br />occurrence: 1</h2><div><ol><li>The tilapia fish was so awesome.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3681">Next</a></li>
</ul>