<% provide :title, 'Opinion Target 2495' %><h2>chicken katsu appetizers<br />occurrence: 1</h2><div><ol><li>I ordered fried oysters and chicken katsu appetizers, both were excessively greasy and tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2496">Next</a></li>
</ul>