<% provide :title, 'Opinion Target 4328' %><h2>cashier staff<br />occurrence: 1</h2><div><ol><li>The other time one of the staff was smoking at the back and the whole place smelled like cigaret smoke K I am really pissed with the cashier staff at this time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4327">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4329">Next</a></li>
</ul>