<% provide :title, 'Opinion Target 7862' %><h2>sliced bbq pork<br />occurrence: 1</h2><div><ol><li>The soup was so blaaaand. and the sliced bbq pork had no taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7861">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7863">Next</a></li>
</ul>