<% provide :title, 'Opinion Target 7231' %><h2>buffet setup<br />occurrence: 1</h2><div><ol><li>The small buffet setup they have is surprisingly decent, though obviously not the main attraction.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7232">Next</a></li>
</ul>