<% provide :title, 'Opinion Target 5301' %><h2>rice portion<br />occurrence: 1</h2><div><ol><li>The rice portion is Just right In a roll with lots of ingredients which makes the roll super huge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5300">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5302">Next</a></li>
</ul>