<% provide :title, 'Opinion Target 6618' %><h2>Beef Ravioli<br />occurrence: 1</h2><div><ol><li>The Beef Ravioli is perfect if you 're looking for a zesty home-cooked tomato sauce and miniature bite-sized morsels of meat crammed inside al dente pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6619">Next</a></li>
</ul>