<% provide :title, 'Opinion Target 4738' %><h2>chicken in beef broth<br />occurrence: 1</h2><div><ol><li>The pho ga is just bad cuts of chicken in beef broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4739">Next</a></li>
</ul>