<% provide :title, 'Opinion Target 4180' %><h2>Strawberries panna cota<br />occurrence: 1</h2><div><ol><li>The dessert- Strawberries panna cota- was spectacular Had a very nice meal here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4181">Next</a></li>
</ul>