<% provide :title, 'Opinion Target 1622' %><h2>rings<br />occurrence: 2</h2><div><ol><li>I ordered the rings and the diamonds ( I think it is like a mini baklava) and they were delicious.</li><li>Onion rings were the bomb and drinks are refills.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1621">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1623">Next</a></li>
</ul>