<% provide :title, 'Opinion Target 3238' %><h2>Mushroom rigatoni<br />occurrence: 1</h2><div><ol><li>Mushroom rigatoni was a bit plain .. just large pasta with button/cremini mushrooms in what tastes like cream of mushroom soup sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3237">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3239">Next</a></li>
</ul>