<% provide :title, 'Opinion Target 9383' %><h2>main buffet tables<br />occurrence: 1</h2><div><ol><li>There is 2 main buffet tables with stuff like rice, veggies, meats- your regular chinese buffet items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9384">Next</a></li>
</ul>