<% provide :title, 'Opinion Target 7088' %><h2>pizza ; Pollo al pesto<br />occurrence: 1</h2><div><ol><li>For food we both ordered two types of pizza; Pollo al pesto and their Casaglina, along with two glasses of red wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7087">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7089">Next</a></li>
</ul>