<% provide :title, 'Opinion Target 2984' %><h2>roti goat<br />occurrence: 1</h2><div><ol><li>The roti goat is amazing, make sure if you ask for a double you bring your appetite because it 's quite the task to finish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2983">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2985">Next</a></li>
</ul>