<% provide :title, 'Opinion Target 9033' %><h2>perogies<br />occurrence: 1</h2><div><ol><li>The perogies were not bad and the sliders were ok too .... nothing special, but ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9032">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9034">Next</a></li>
</ul>