<% provide :title, 'Opinion Target 8303' %><h2>braise pork balls<br />occurrence: 1</h2><div><ol><li>We ordered the braise pork balls and when we sliced the ball in half, the PORK WAS RAW.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8302">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8304">Next</a></li>
</ul>