<% provide :title, 'Opinion Target 6155' %><h2>rice and chicken wings<br />occurrence: 1</h2><div><ol><li>Try the $ 2 rice and chicken wings ( you get two wings with fried rice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6154">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6156">Next</a></li>
</ul>