<% provide :title, 'Opinion Target 1419' %><h2>BBQ pork belly<br />occurrence: 3</h2><div><ol><li>We order the BBQ pork belly.</li><li>We ordered a set meal that came with a Bibimbap, korean style fried chicken, BBQ pork belly and a seafood pancake- all for a very reasonable price.</li><li>We had BBQ pork belly and a pork bone soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1420">Next</a></li>
</ul>