<% provide :title, 'Opinion Target 3180' %><h2>scallop spaghetti<br />occurrence: 1</h2><div><ol><li>We ordered a balsamic pizza and shrimp and scallop spaghetti.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3179">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3181">Next</a></li>
</ul>