<% provide :title, 'Opinion Target 5981' %><h2>spinach and feta croissants<br />occurrence: 1</h2><div><ol><li>Just thinking of their spinach and feta croissants make my mouth water, they are that good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5980">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5982">Next</a></li>
</ul>