<% provide :title, 'Opinion Target 3935' %><h2>deep fried pancake<br />occurrence: 1</h2><div><ol><li>The soup also came with a shrimp cake on the side, which is a shrimp still in the shell with the head still on it on a deep fried pancake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3934">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3936">Next</a></li>
</ul>