<% provide :title, 'Opinion Target 7391' %><h2>strawberry shortcake<br />occurrence: 1</h2><div><ol><li>I have better strawberry shortcake from Loblaws.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7390">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7392">Next</a></li>
</ul>