<% provide :title, 'Opinion Target 7447' %><h2>crepe dishes<br />occurrence: 1</h2><div><ol><li>My friend and I both ordered a savory chicken crepe ( each of the savory crepe dishes also comes with a side salad).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7448">Next</a></li>
</ul>