<% provide :title, 'Opinion Target 6954' %><h2>eggs bene<br />occurrence: 1</h2><div><ol><li>The remake of my eggs bene was ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6953">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6955">Next</a></li>
</ul>