<% provide :title, 'Opinion Target 6365' %><h2>lobster steamed<br />occurrence: 1</h2><div><ol><li>You may choose to have your lobster steamed or broiled ( with breadcrumbs and butter).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6364">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6366">Next</a></li>
</ul>