<% provide :title, 'Opinion Target 6777' %><h2>Char-Coal Broiled Beef Tenderloin Chops with scallion mashed potato<br />occurrence: 1</h2><div><ol><li>Mom opted for the Char-Coal Broiled Beef Tenderloin Chops with scallion mashed potato finished in a Merlot-thyme reduction.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6776">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6778">Next</a></li>
</ul>