<% provide :title, 'Opinion Target 8475' %><h2>shish kebob<br />occurrence: 1</h2><div><ol><li>The so called shish kebob was a disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8476">Next</a></li>
</ul>