<% provide :title, 'Opinion Target 9247' %><h2>salad dressing than salad<br />occurrence: 1</h2><div><ol><li>There was more salad dressing than salad!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9248">Next</a></li>
</ul>