<% provide :title, 'Opinion Target 5402' %><h2>Bo Hue<br />occurrence: 1</h2><div><ol><li>Ordered 1 med Bon Bo Hue.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5403">Next</a></li>
</ul>