<% provide :title, 'Opinion Target 1939' %><h2>pulled pork burrito<br />occurrence: 2</h2><div><ol><li>I dropped by with some co-workers one evening and I tried their promo for the pulled pork burrito.</li><li>A regular pulled pork burrito was $ 7.90 ( no guacamole).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1938">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1940">Next</a></li>
</ul>