<% provide :title, 'Opinion Target 771' %><h2>Dak Gal Bi<br />occurrence: 6</h2><div><ol><li>Had the Spicy Chicken ( Dak Gal Bi) with noodles and sliced rice cakes.</li><li>If you come here, you need to get their dak gal bi which is table cooking chicken.</li><li>Overall it 's a solid place for the dak gal bi.</li><li>On my last visit, they did n't rush us out of our table, but it did feel like they needed the serving ware ( large pan to used for the Dak Gal Bi) back.</li><li>For the Dak Gal Bi, the chicken, cabbage and base are very flavourful.</li><li>The Dak Gal Bi has a minimum of 2 orders/pan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_772">Next</a></li>
</ul>