<% provide :title, 'Opinion Target 7714' %><h2>ice cream mochi<br />occurrence: 1</h2><div><ol><li>When she brought over the ice cream mochi we ordered, she did not think about bringing the ice cream that came with the dinner set.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7715">Next</a></li>
</ul>