<% provide :title, 'Opinion Target 8463' %><h2>marinated ground beef<br />occurrence: 1</h2><div><ol><li>I really enjoyed the sauce, subtle hints of tomatoes, garlic, chive danced around with the marinated ground beef in a medley of flavor!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8464">Next</a></li>
</ul>