<% provide :title, 'Opinion Target 7358' %><h2>taro ice cream<br />occurrence: 1</h2><div><ol><li>You gotta try their taro ice cream!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7359">Next</a></li>
</ul>