<% provide :title, 'Opinion Target 4629' %><h2>restaraunt<br />occurrence: 1</h2><div><ol><li>Pricey, but excellent quality for very good Thai food, I would rate it high quality Thai, beautiful restaraunt, good staff, will eat there again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4628">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4630">Next</a></li>
</ul>