<% provide :title, 'Opinion Target 1219' %><h2>cappuccino<br />occurrence: 3</h2><div><ol><li>The decaf cappuccino was by far the best cappuccino I have ever had, with the most frothy foam ever!</li><li>We came here and sat down for a little bit and had their cappuccino and coffee.</li><li>The cappuccino was strong and paired well with the dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1220">Next</a></li>
</ul>