<% provide :title, 'Opinion Target 6547' %><h2>skin of buns<br />occurrence: 1</h2><div><ol><li>The skin of buns are thin but are still able to maintain the meat and juices inside without ripping, but be cautious you still have to be careful when picking it up off the plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6546">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6548">Next</a></li>
</ul>