<% provide :title, 'Opinion Target 866' %><h2>creme brulee<br />occurrence: 4</h2><div><ol><li>I 've had dessert here as well, and was very impressed with the creme brulee.</li><li>Stay away from their desserts though, I tried the cheesecake and creme brulee, and was not impressed.</li><li>We had the sweet potatoe crepes for dessert and the creme brulee, which was dissapointing.</li><li>Pastel Creperie also offers other desserts such as rasperry tarts, creme brulee, and fruit tarts which all look very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_865">Previous</a></li>
  <li class="next"><a href=".\opinion_target_867">Next</a></li>
</ul>