<% provide :title, 'Opinion Target 5096' %><h2>preserved vegetable fried noodle<br />occurrence: 1</h2><div><ol><li>Dishes are hit and miss. The duck and preserved vegetable fried noodle was a big disappointment though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5095">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5097">Next</a></li>
</ul>