<% provide :title, 'Opinion Target 9517' %><h2>lemon chicken alot<br />occurrence: 1</h2><div><ol><li>I like the lemon chicken alot too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9518">Next</a></li>
</ul>