<% provide :title, 'Opinion Target 7665' %><h2>spinach wrap<br />occurrence: 1</h2><div><ol><li>But the spinach wrap was nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7666">Next</a></li>
</ul>