<% provide :title, 'Opinion Target 1236' %><h2>bbq lamb<br />occurrence: 3</h2><div><ol><li>The BBQ menu was excellent bbq lamb, chicken and beef.</li><li>BBQ Lamb Chop.</li><li>Big BBQ Lamb Leg: Big on presentation a huge hunk of was brought carved and drew ooh and aah from the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1235">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1237">Next</a></li>
</ul>