<% provide :title, 'Opinion Target 9265' %><h2>cherries<br />occurrence: 1</h2><div><ol><li>The cherries were n't even really caramelized and by the time the ice cream came to us it was a melting heap of mess.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9264">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9266">Next</a></li>
</ul>