<% provide :title, 'Opinion Target 5057' %><h2>broth and noodles<br />occurrence: 1</h2><div><ol><li>The broth and noodles were standard and the portion was worth it for the $ 5 price tag on the beef brisket noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5058">Next</a></li>
</ul>