<% provide :title, 'Opinion Target 5310' %><h2>sushi takeout<br />occurrence: 1</h2><div><ol><li>Great place for quick sushi takeout!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5311">Next</a></li>
</ul>