<% provide :title, 'Opinion Target 2305' %><h2>Pork Belly BBQ<br />occurrence: 2</h2><div><ol><li>Verdict: ~ Everything is as good as always, there 's a reason I have been coming back for years. ~ My faves are the Pork Belly BBQ, the Kang Poon Kee ( Spicy Fried Chicken) &amp; Jook Sam Kyup Sal, especially with the added rice at the end. ~ Ca n't wait to come back for patio season.</li><li>My favorite is pork belly bbq, the price of their bbq is quite expensive then other restaurant but worth it to try.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2304">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2306">Next</a></li>
</ul>