<% provide :title, 'Opinion Target 5747' %><h2>mango yogurt dip<br />occurrence: 1</h2><div><ol><li>Dip sauces are all sweet; the mango yogurt dip tastes too much like dessert- one savoury dip would be a good idea, perhaps a spicy ( curry ?) aoli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5746">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5748">Next</a></li>
</ul>