<% provide :title, 'Opinion Target 2516' %><h2>Takoyaki balls<br />occurrence: 2</h2><div><ol><li>My ramen was decent for not actually being in Japan but the Takoyaki balls were on point.</li><li>The Takoyaki balls are pretty good as well but a little expensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2517">Next</a></li>
</ul>