<% provide :title, 'Opinion Target 9377' %><h2>DIY stir fry section<br />occurrence: 1</h2><div><ol><li>The DIY stir fry section has a great variety of fresh meats, vegetables, and sauces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9378">Next</a></li>
</ul>