<% provide :title, 'Opinion Target 8176' %><h2>frozen to fried french fries<br />occurrence: 1</h2><div><ol><li>I ordered the poutine once for $ 7 and I literally got 25 frozen to fried french fries, 2 tablespoons of gravy and 5 cheese curds.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8177">Next</a></li>
</ul>