<% provide :title, 'Opinion Target 9641' %><h2>Dinner entree portions<br />occurrence: 1</h2><div><ol><li>Dinner entree portions are on the small side, so if you can get there for lunch it 's a better deal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9642">Next</a></li>
</ul>