<% provide :title, 'Opinion Target 5687' %><h2>dark environment<br />occurrence: 1</h2><div><ol><li>The dark environment was the first `` wow'' for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5688">Next</a></li>
</ul>