<% provide :title, 'Opinion Target 1705' %><h2>prix fixe lunch<br />occurrence: 2</h2><div><ol><li>For $ 17, the prix fixe lunch included an appetizer and an entree.</li><li>Overall, I rate the prix fixe lunch at 3.5 stars.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1704">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1706">Next</a></li>
</ul>