<% provide :title, 'Opinion Target 8992' %><h2>bar stamp<br />occurrence: 1</h2><div><ol><li>2) The server had filthy, long fake nails, and a bar stamp ( presumably from the night prior) still on her hand -- is hand washing not required here ? 3) the timing of everything was horrendous.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8993">Next</a></li>
</ul>