<% provide :title, 'Opinion Target 2210' %><h2>Beef Rib Stew<br />occurrence: 1</h2><div><ol><li>In this past year, I 've been there for 2 times. the most recent visit I took a few pictures, the sweet &amp; sour pork with the orange slices ( please see pictures) beside the S &amp; S pork, the 3 of us ordered the Kalbijim ( Beef Rib Stew) and the Kimchi fried rice. the banchan are good, wait, they are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2211">Next</a></li>
</ul>