<% provide :title, 'Opinion Target 6959' %><h2>breakfast choices<br />occurrence: 1</h2><div><ol><li>Their breakfast choices are super yummy- nice atmosphere, really good service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6960">Next</a></li>
</ul>