<% provide :title, 'Opinion Target 1992' %><h2>appetizer salad<br />occurrence: 2</h2><div><ol><li>Finally, their appetizer salad was lacking freshness.</li><li>What I like the best about this place is their appetizer salad that they serve you before any dish you order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1993">Next</a></li>
</ul>