<% provide :title, 'Opinion Target 4687' %><h2>seating areas<br />occurrence: 1</h2><div><ol><li>Bathroom on same floor but narrow seating areas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4686">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4688">Next</a></li>
</ul>