<% provide :title, 'Opinion Target 5005' %><h2>lobster dinner<br />occurrence: 1</h2><div><ol><li>I usually come with my boyfriend he gets the broiled 2 lb lobster dinner and I the garlic prawns.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5004">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5006">Next</a></li>
</ul>