<% provide :title, 'Opinion Target 6639' %><h2>stone bowl bibimbap<br />occurrence: 1</h2><div><ol><li>I ordered stone bowl bibimbap and it was alright, but kimchi chigae was n't great, and dumpling soup was definitely below average and it took them 40 minutes to make it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6640">Next</a></li>
</ul>