<% provide :title, 'Opinion Target 5212' %><h2>soysauce egg<br />occurrence: 1</h2><div><ol><li>Of course there 's the soysauce egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5213">Next</a></li>
</ul>