<% provide :title, 'Opinion Target 3493' %><h2>wood pattern<br />occurrence: 1</h2><div><ol><li>It is decorated with the traditional light wood pattern and the have little partitions to separate each table on the outside and have little rooms with 2 separate tables of 4 in them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3494">Next</a></li>
</ul>