<% provide :title, 'Opinion Target 8578' %><h2>kim chi served<br />occurrence: 1</h2><div><ol><li>The Kim Chi used seemed very fermented as opposed to the kim chi served as appetizer, which was quite new.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8579">Next</a></li>
</ul>