<% provide :title, 'Opinion Target 7762' %><h2>frozen yogurt<br />occurrence: 1</h2><div><ol><li>Most of the cakes are really good, frozen yogurt is really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7761">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7763">Next</a></li>
</ul>