<% provide :title, 'Opinion Target 1893' %><h2>soy beef stew noodle<br />occurrence: 2</h2><div><ol><li>It has many more menu options than I expected- we opted for the `` pork jia-mo'' and a `` soy beef stew noodle''.</li><li>We loved the thick handmade noodles of the `` soy beef stew noodle'' and the beef was tender.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1892">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1894">Next</a></li>
</ul>