<% provide :title, 'Opinion Target 6162' %><h2>korean multigrain rice<br />occurrence: 1</h2><div><ol><li>The korean multigrain rice was sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6163">Next</a></li>
</ul>