<% provide :title, 'Opinion Target 5670' %><h2>Soy Garlic fried chicken<br />occurrence: 1</h2><div><ol><li>Order the Soy Garlic fried chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5671">Next</a></li>
</ul>