<% provide :title, 'Opinion Target 1722' %><h2>Spicy Crispy Beef<br />occurrence: 2</h2><div><ol><li>Our order:- Spicy Crispy Beef- CAD 10.95- Fried Crispy Wonton- CAD 6.95- House Fried Rice- CAD 10.95- Chili Chicken CAD 10.95 -- Total Order: CAD 47.23 Spicy Crispy Beef: Neither spicy nor crispy.</li><li>I would suggest to try the Chili Garlic Chicken, Spicy Crispy Beef, Penang Curry, Cashew Nut Chicken ( all ordered with a bowl of steamed white rice of course), and for desert, you must try the deep fried banana with ice cream!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1721">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1723">Next</a></li>
</ul>