<% provide :title, 'Opinion Target 3227' %><h2>selection of smoked fish<br />occurrence: 1</h2><div><ol><li>To begin with, there is the greatest selection of smoked fish I have been this side of New York.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3226">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3228">Next</a></li>
</ul>