<% provide :title, 'Opinion Target 927' %><h2>sea food<br />occurrence: 4</h2><div><ol><li>Do not order Thai Fried Rice ( sea food) if you do n't like your food too salty and has a strong soy sauce and fish sauce taste.</li><li>I had ordered teppanyaki set ( sea food and vegetables) and sushi set.</li><li>It 's a fancier room, with much fancier prices, and an emphasis on dim sum with slightly fishy sea food.</li><li>Tried the sea food hot pot, it was delicious and the portion was huge!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_928">Next</a></li>
</ul>