<% provide :title, 'Opinion Target 3272' %><h2>meat toppings<br />occurrence: 1</h2><div><ol><li>Not very generous with their meat toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3273">Next</a></li>
</ul>