<% provide :title, 'Opinion Target 2910' %><h2>sopas<br />occurrence: 1</h2><div><ol><li>The menu offers the staples: platano, arroz, beans, yuca, pescado frito, pupusas, sopas, carne asada, chicharron, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2911">Next</a></li>
</ul>