<% provide :title, 'Opinion Target 1834' %><h2>Hummus plate<br />occurrence: 2</h2><div><ol><li>Their Hummus plate is worth a try.</li><li>The hummus plate is probably the best hummus I have had anywhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1835">Next</a></li>
</ul>