<% provide :title, 'Opinion Target 4560' %><h2>Golden Tofu Curry<br />occurrence: 1</h2><div><ol><li>Today I had their Golden Tofu Curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4559">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4561">Next</a></li>
</ul>