<% provide :title, 'Opinion Target 5641' %><h2>pork bulgogi hot pot with rice<br />occurrence: 1</h2><div><ol><li>Their bibimbap was really good though and my brother seemed to enjoy his pork bulgogi hot pot with rice!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5642">Next</a></li>
</ul>