<% provide :title, 'Opinion Target 8102' %><h2>bread bagel<br />occurrence: 1</h2><div><ol><li>Try the anise-flavoured twisted bread bagel.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8103">Next</a></li>
</ul>