<% provide :title, 'Opinion Target 7483' %><h2>barszcz<br />occurrence: 1</h2><div><ol><li>Today, since I had my wisdom teeth taken out, i ordered the barszcz ( not sure how it is spelt there I 'm Polish and this is the way we spell it) and got a side of fried eggplant ( since it was easy to swallow) Very happy! the owner is an amazing warm welcoming man as well!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7482">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7484">Next</a></li>
</ul>