<% provide :title, 'Opinion Target 7397' %><h2>interiors<br />occurrence: 1</h2><div><ol><li>The interiors are simple and bright with a calm ambience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7396">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7398">Next</a></li>
</ul>