<% provide :title, 'Opinion Target 1393' %><h2>sea urchin<br />occurrence: 2</h2><div><ol><li>I had sea urchin just once, and I do n't remember it tasting so disgusting.</li><li>The food is fresh and I 'm glad they have my favourites- uni ( sea urchin), ika ( squid) and hotate ( scallop) in house most of the time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1394">Next</a></li>
</ul>