<% provide :title, 'Opinion Target 1583' %><h2>drink orders<br />occurrence: 2</h2><div><ol><li>The service is fast, which is again impressive considering they make all the fancy drink orders for the Congee Wong just a few doors down as well.</li><li>We all were assembled by about 7:30 p.m., and drink orders were taken a couple of times.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1582">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1584">Next</a></li>
</ul>