<% provide :title, 'Opinion Target 3168' %><h2>chicken with tomato pasta<br />occurrence: 1</h2><div><ol><li>Then we had a fettuccine in cream sauce and with peas, also a chicken with tomato pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3169">Next</a></li>
</ul>