<% provide :title, 'Opinion Target 6396' %><h2>menu book<br />occurrence: 1</h2><div><ol><li>We ordered most dishes off of their popular dishes pamphlet which was provided with the full menu book.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6395">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6397">Next</a></li>
</ul>