<% provide :title, 'Opinion Target 6791' %><h2>salmon fillet<br />occurrence: 1</h2><div><ol><li>One of us ordered the salmon fillet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6790">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6792">Next</a></li>
</ul>