<% provide :title, 'Opinion Target 2384' %><h2>egg benedictine<br />occurrence: 2</h2><div><ol><li>Amazing food ordered egg benedictine for me &amp; Bonnies hash for my husband .. both were terrific i gave it 4 out of 5 though excellent service &amp; yummy food cause the place was hot i think the ac was broke.</li><li>We got the egg benedictine ( around $ 12) and it was very delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2385">Next</a></li>
</ul>