<% provide :title, 'Opinion Target 3106' %><h2>milk black tea instead<br />occurrence: 1</h2><div><ol><li>I got the original milk black tea instead.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3105">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3107">Next</a></li>
</ul>