<% provide :title, 'Opinion Target 5664' %><h2>potato pasta<br />occurrence: 1</h2><div><ol><li>I got some kind of cheese sauce tortellini, and Tia ordered some kind of potato pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5665">Next</a></li>
</ul>