<% provide :title, 'Opinion Target 8540' %><h2>tangerines<br />occurrence: 1</h2><div><ol><li>Some pieces of my fruit such as my honeydew and tangerines were either sour/dry/old.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8541">Next</a></li>
</ul>