<% provide :title, 'Opinion Target 6992' %><h2>plate of noodles<br />occurrence: 1</h2><div><ol><li>We saw the dish placed on the table and it looked like a deflated, leftover plate of noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6991">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6993">Next</a></li>
</ul>