<% provide :title, 'Opinion Target 4842' %><h2>BBQ buns<br />occurrence: 1</h2><div><ol><li>BBQ buns which we THOUGHT were bbq pork buns, were good despite lacking the meat we were expecting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4841">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4843">Next</a></li>
</ul>