<% provide :title, 'Opinion Target 7343' %><h2>beef & black bean<br />occurrence: 1</h2><div><ol><li>- Favorite noodle: beef &amp; black bean, or shrimp in scrambled egg sauce- Favorite rice: smoked salmon, or yin-yang rice- Favorite side dish: snow pea greens &amp; oyster mushrooms, spicy fried garoupa, wonton in soup, shrimp &amp; chive rice noodle rolls Portions are bigger in the restaurant than if you order takeout, but huge either way:).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7342">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7344">Next</a></li>
</ul>