<% provide :title, 'Opinion Target 4056' %><h2>coffee and fries<br />occurrence: 1</h2><div><ol><li>When we went to order food they told us they were switching over to the breakfast menu, so I ordered an item of the breakfast menu, and they told me they only had coffee and fries, but I could wait for half an hour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4055">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4057">Next</a></li>
</ul>