<% provide :title, 'Opinion Target 9279' %><h2>liqueur glass<br />occurrence: 1</h2><div><ol><li>The liqueur glass held two ounces instead of the three elsewhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9278">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9280">Next</a></li>
</ul>