<% provide :title, 'Opinion Target 9640' %><h2>curry spinach<br />occurrence: 1</h2><div><ol><li>My favourites are the butter chicken and palak paneer ( curry spinach and cheese).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9641">Next</a></li>
</ul>