<% provide :title, 'Opinion Target 4465' %><h2>meats & blood sausage<br />occurrence: 1</h2><div><ol><li>~ $ 60 special ( that supposedly feeds 5 ..... i had a party of 3: D) consisted of:- pork belly barbeque ( generous portions; fat was able to drip off so it was n't overwhelming)- mussel soup- choice of 1 bottle of sake or 5 bottles of beer- fish stew- buckwheat noodles- the usual table full of side dishes- ( complimentary sample of assorted meats &amp; blood sausage) so. bomb.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4464">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4466">Next</a></li>
</ul>