<% provide :title, 'Opinion Target 3659' %><h2>roti skin<br />occurrence: 1</h2><div><ol><li>The roti skin was on the thin side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3660">Next</a></li>
</ul>