<% provide :title, 'Opinion Target 6888' %><h2>main course itself<br />occurrence: 1</h2><div><ol><li>The main course itself is very tasty, nothing unique or anything, but a nice blend of butter, salt, and soya sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6889">Next</a></li>
</ul>