<% provide :title, 'Opinion Target 2600' %><h2>crème brule<br />occurrence: 1</h2><div><ol><li>But in our next visit, we would definitely have some of their crème brule and cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2599">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2601">Next</a></li>
</ul>