<% provide :title, 'Opinion Target 1046' %><h2>apple pie<br />occurrence: 3</h2><div><ol><li>I do n't mind being called Hun and sweetheart by an elderly lady ... especially if that comes with a warm slab of apple pie.</li><li>They have a great selection of standard desserts ( chocolate mousse cake, tiramisu, cherry cheese cake and apple pie) that are actually quite delicious!</li><li>I should have asked for a refund ... because the apple pie was lack lustre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1045">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1047">Next</a></li>
</ul>