<% provide :title, 'Opinion Target 3699' %><h2>Korean Cold Noodles<br />occurrence: 1</h2><div><ol><li>However, I could not write a review based on their Korean BBQ, as I have tried their sushi and Korean Cold Noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3698">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3700">Next</a></li>
</ul>