<% provide :title, 'Opinion Target 7084' %><h2>steak sandwich with fries<br />occurrence: 1</h2><div><ol><li>I went there for lunch on a weekday, and their steak sandwich with fries was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7085">Next</a></li>
</ul>