<% provide :title, 'Opinion Target 3372' %><h2>Spicy pork dupbap<br />occurrence: 1</h2><div><ol><li>Spicy pork dupbap tasted awesome but for its size it 's expensive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3373">Next</a></li>
</ul>