<% provide :title, 'Opinion Target 7654' %><h2>jalapenos<br />occurrence: 1</h2><div><ol><li>They take a sizable patty, add the standard burger toppings to it, then throw in jalapenos, bacon, chipotle honey BBQ sauce, and a mountain of crispy cajun onions ( baby onion rings ?).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7655">Next</a></li>
</ul>