<% provide :title, 'Opinion Target 7182' %><h2>Korean ladies<br />occurrence: 1</h2><div><ol><li>The Korean ladies are super nice to us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7183">Next</a></li>
</ul>