<% provide :title, 'Opinion Target 4645' %><h2>red curry<br />occurrence: 1</h2><div><ol><li>Juicy, thick slices of duck breast cooked to perfection is served in a beautiful red curry filled with bamboo and peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4646">Next</a></li>
</ul>