<% provide :title, 'Opinion Target 9176' %><h2>menu food<br />occurrence: 1</h2><div><ol><li>The cost: With the entertainment, the fixed menu food and the pre-ordered beverages, our bill came to $ 65 per person, which is n't a bad price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9177">Next</a></li>
</ul>