<% provide :title, 'Opinion Target 4402' %><h2>Veal Aliolio<br />occurrence: 1</h2><div><ol><li>I chose as an entree the Veal Aliolio, which was tender and well prepared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4403">Next</a></li>
</ul>