<% provide :title, 'Opinion Target 1551' %><h2>mango meringue<br />occurrence: 3</h2><div><ol><li>The mango meringue is my favorite.</li><li>I had a slice of the mango meringue and a slice of strawberry meringue.</li><li>My favorites are strawberry and mango meringue here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1550">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1552">Next</a></li>
</ul>