<% provide :title, 'Opinion Target 5833' %><h2>brûlée<br />occurrence: 1</h2><div><ol><li>Let me tell you what was wrong: crème brûlée is called brûlée because your supposed to torch the top sugar layer which does n't appear to be done.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5834">Next</a></li>
</ul>