<% provide :title, 'Opinion Target 4909' %><h2>garlic paste<br />occurrence: 1</h2><div><ol><li>We recently tried their more Canadian appetizers like their `` spicy garlic fries'' and were only mildly impressed -- it 's basically fries with garlic paste, tossed in Frank 's Hot Sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4908">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4910">Next</a></li>
</ul>