<% provide :title, 'Opinion Target 6956' %><h2>soup & burgers<br />occurrence: 1</h2><div><ol><li>Great soup &amp; burgers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6955">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6957">Next</a></li>
</ul>