<% provide :title, 'Opinion Target 2672' %><h2>Pizza Gorgonzola<br />occurrence: 1</h2><div><ol><li>Pizza Gorgonzola- You better like onion, because that 's all I could taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2673">Next</a></li>
</ul>