<% provide :title, 'Opinion Target 935' %><h2>garlic fries<br />occurrence: 4</h2><div><ol><li>Best falafel they make it fresh and the spicy garlic fries are to die for.</li><li>We recently tried their more Canadian appetizers like their `` spicy garlic fries'' and were only mildly impressed -- it 's basically fries with garlic paste, tossed in Frank 's Hot Sauce.</li><li>It tasted maybe a bit better than your traditional popeyes chicken or KFC chicken, but really stoodout and made me want to go back was the garlic fries.</li><li>These garlic fries are must !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_934">Previous</a></li>
  <li class="next"><a href=".\opinion_target_936">Next</a></li>
</ul>