<% provide :title, 'Opinion Target 3668' %><h2>Oxtail dinner<br />occurrence: 1</h2><div><ol><li>Third annoyance: Their portion size for their Oxtail dinner has gone WAYYY down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3667">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3669">Next</a></li>
</ul>