<% provide :title, 'Opinion Target 2882' %><h2>grilled tomatoe and rice<br />occurrence: 1</h2><div><ol><li>The grilled tomatoe and rice on the other hand were perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2881">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2883">Next</a></li>
</ul>