<% provide :title, 'Opinion Target 3377' %><h2>shwarma meat<br />occurrence: 1</h2><div><ol><li>The shwarma meat is perfectly cooked and seasoned the way I like it ( nice and simple, very classic shwarma taste).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3378">Next</a></li>
</ul>