<% provide :title, 'Opinion Target 3976' %><h2>Rooms Steak<br />occurrence: 1</h2><div><ol><li>I 've now been to Small Rooms Steak house about 15 times as it is very close to my work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3977">Next</a></li>
</ul>