<% provide :title, 'Opinion Target 1377' %><h2>stew chicken<br />occurrence: 3</h2><div><ol><li>It differs with choices like goat curry, stew chicken, and miscellaneous cake slices for dessert.</li><li>We got the stew chicken with a* lot* of fried plantain.</li><li>$ 4.99 for the stew chicken on rice and peas.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1376">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1378">Next</a></li>
</ul>