<% provide :title, 'Opinion Target 6185' %><h2>frozen chicken nuggets<br />occurrence: 1</h2><div><ol><li>Lemon chicken nuggets looked like frozen chicken nuggets with a tiny bit of sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6186">Next</a></li>
</ul>