<% provide :title, 'Opinion Target 979' %><h2>quesadilla<br />occurrence: 4</h2><div><ol><li>Overall I thought the quesadilla was pretty good.</li><li>We ordered 1 naked burrito, 2 fish tacos, and a small quesadilla.</li><li>This is the worst place to go if you 're looking for a great burrito, quesadilla, etc. the place seems cold and you get the feeling that you 're not welcome.</li><li>They have tons of toppings to choose from and their quesadilla is actually very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_980">Next</a></li>
</ul>