<% provide :title, 'Opinion Target 6517' %><h2>Steamed Chicken Dumplings<br />occurrence: 1</h2><div><ol><li>Family favourites:- Soup Filled Dumplings ( $ 5.99): ah XLB ... while I would n't say it 's the best that you can get in the city, it is way above average- Steamed Chicken Dumplings ( $ 5.99): juicy and plump- Rolled Onion Pancake with Sliced Beef ( $ 5.99): portions have been shrinking over the years, but it 's a great way to have your sliced beef and green onion pancake all at once- Deep Fried Tofu with Garlic Sauce ( $ 3.99): actually ordered this by accident once, but what a great mistake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6518">Next</a></li>
</ul>