<% provide :title, 'Opinion Target 5889' %><h2>mango martini<br />occurrence: 1</h2><div><ol><li>Someone else got a mango martini that tasted like mangos!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5890">Next</a></li>
</ul>