<% provide :title, 'Opinion Target 5725' %><h2>Fish Noodle<br />occurrence: 1</h2><div><ol><li>Chiu Chow Congee/Chiu Chow Style Fish Noodle/Veggie $ 13.99- Big bowl of congee really hit the spot .. and the Fish Noodle is chewy with a distinct texture which I enjoyed ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5724">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5726">Next</a></li>
</ul>