<% provide :title, 'Opinion Target 5051' %><h2>daikon cake<br />occurrence: 1</h2><div><ol><li>My favorite item here is the stir fry cubes of daikon cake, well executed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5050">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5052">Next</a></li>
</ul>