<% provide :title, 'Opinion Target 6224' %><h2>soon tofu<br />occurrence: 1</h2><div><ol><li>The soon tofu is served with your choice of beef, seafood, or dumplings, and comes with a bowl of purple rice in a stone bowl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6225">Next</a></li>
</ul>