<% provide :title, 'Opinion Target 1321' %><h2>tarts<br />occurrence: 3</h2><div><ol><li>-Egg tarts, taro spiky triangle things, deep fried shrimp dumplings and any fried food comes out piping hot so you know it 's freshly made.</li><li>They have tarts and cappuccino as well for desert which is worth a try. great joint for lunch or diner.</li><li>The tarts and squares are the same brought in garbage every other buffet uses.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1320">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1322">Next</a></li>
</ul>