<% provide :title, 'Opinion Target 5870' %><h2>duck pancakes entree<br />occurrence: 1</h2><div><ol><li>Seated quickly; the waitress was attentive and easily flagged ( is n't it the most frustrating thing when it seems like all the waiters in a restaurant are giving you the silent treatment ?), and the waitress also `` forks'' the duck off the bone for the crispy duck pancakes entree, which was incredible to watch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5869">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5871">Next</a></li>
</ul>