<% provide :title, 'Opinion Target 2213' %><h2>kimchi daikon<br />occurrence: 1</h2><div><ol><li>Banchans were good for the two of us- including daikon, kimchi daikon and kimchi ( which they refill if you run out).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2212">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2214">Next</a></li>
</ul>