<% provide :title, 'Opinion Target 5540' %><h2>fig infused balsamic reduction<br />occurrence: 1</h2><div><ol><li>YUM The prosciutto piadina was awesome because I 'm in love with the fig infused balsamic reduction that they put on it, the one downfall was that the prosciutto was cut too thick and it became unpleasant when I could n't just take a bit with struggling with it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5541">Next</a></li>
</ul>