<% provide :title, 'Opinion Target 2146' %><h2>smoked duck<br />occurrence: 2</h2><div><ol><li>Cold soup ( tom yum is laughable), green curry did not taste like curry, `` smoked duck'' tastes like the one I get from a bag at Loblaws ( also overcooked to****).</li><li>Smoked duck is a must try.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2147">Next</a></li>
</ul>