<% provide :title, 'Opinion Target 3790' %><h2>quality coffee<br />occurrence: 1</h2><div><ol><li>There must be a psychiatric ward nearby and I 've come face to face with their super star in desperate need of quality coffee to go with his meds !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3791">Next</a></li>
</ul>