<% provide :title, 'Opinion Target 1524' %><h2>milk<br />occurrence: 2</h2><div><ol><li>I have n't tried other desserts but their milk shaving is the best!</li><li>The mango sauce was artificial, the milk tasted like it came from powder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1525">Next</a></li>
</ul>