<% provide :title, 'Opinion Target 965' %><h2>green salad<br />occurrence: 4</h2><div><ol><li>I would add that this dinner came with some kind of small bowl of noodle soup but no miso soup and green salad typically seen at sushi places.</li><li>Avoid the chilled tofu, curry pork skewers ( 100% fat), and green salad.</li><li>After we ordered our food, our server brought us a plate of side dishes of green salad, white radish, and macaroni salad.</li><li>It comes with beef ribs, rice, spicy salmon roll, miso soup, and green salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_966">Next</a></li>
</ul>