<% provide :title, 'Opinion Target 4626' %><h2>siam noodes<br />occurrence: 1</h2><div><ol><li>When my beloved Salad King burnt to the ground last summer I decided to check out Linda as its `` please god have siam noodes'' equivalent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4627">Next</a></li>
</ul>