<% provide :title, 'Opinion Target 4578' %><h2>interior walls<br />occurrence: 1</h2><div><ol><li>Inside it 's dim, the windows have tints applied and have full length retractable blinds, from what I can distinguish ( remember it 's dim) the interior walls are light green in colour, there 's tiled floors, a wrap around bar, lighting provided by ceiling dropped blown glass fixtures, wainscotting panels throughout, also noticed a 12 `` disco ball on the ceiling above.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4579">Next</a></li>
</ul>