<% provide :title, 'Opinion Target 3242' %><h2>lamb sausage pasta ) and pizza polpo ( octopus )<br />occurrence: 1</h2><div><ol><li>We ordered the orecchiette ( lamb sausage pasta) and pizza polpo ( octopus).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3241">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3243">Next</a></li>
</ul>