<% provide :title, 'Opinion Target 7010' %><h2>pulled pork sammy<br />occurrence: 1</h2><div><ol><li>The pulled pork sammy was bland and simply tasted like BBQ sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7009">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7011">Next</a></li>
</ul>