<% provide :title, 'Opinion Target 6534' %><h2>taiwanese stir fry<br />occurrence: 1</h2><div><ol><li>Try the cantonese chow mein or the taiwanese stir fry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6533">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6535">Next</a></li>
</ul>