<% provide :title, 'Opinion Target 7542' %><h2>turkey bacon with extra bacon<br />occurrence: 1</h2><div><ol><li>I ordered the turkey bacon with extra bacon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7541">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7543">Next</a></li>
</ul>