<% provide :title, 'Opinion Target 8132' %><h2>sushi stand<br />occurrence: 1</h2><div><ol><li>I go to their chicken stand and wait there for almost a good minute thinking that the person taking care of the stand is probably just cooking something up but nope no one is there ( nor is there anyone at the sushi stand beside ours) yet there are 5 employees just walking around making jokes with each other.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8133">Next</a></li>
</ul>