<% provide :title, 'Opinion Target 3280' %><h2>wood furniture<br />occurrence: 1</h2><div><ol><li>Stone walls, pretty light fixtures, dark wood furniture and white table cloth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3279">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3281">Next</a></li>
</ul>