<% provide :title, 'Opinion Target 5521' %><h2>blinis<br />occurrence: 1</h2><div><ol><li>Being a deli, they serve other foods like salads, homemade dumplings, blinis, herring in cream or wine sauce and even schmaltz!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5522">Next</a></li>
</ul>