<% provide :title, 'Opinion Target 4973' %><h2>breakfast tacos<br />occurrence: 1</h2><div><ol><li>My husbands steak was way too salty and my breakfast tacos was too cheesy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4974">Next</a></li>
</ul>