<% provide :title, 'Opinion Target 4487' %><h2>tables seating<br />occurrence: 1</h2><div><ol><li>Had 2 staff waiting in the area, and only 3 tables seating at any time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4488">Next</a></li>
</ul>