<% provide :title, 'Opinion Target 1800' %><h2>noodle appetizer<br />occurrence: 2</h2><div><ol><li>Ordered the cold noodle appetizer ( shown in pictures here), beef noodle soup ( lunch special), fried rice ( lunch special), mushroom and cucumber cold appetizer ( to balance out the heat from the the cold noodle appetizer).</li><li>Also served with small noodle appetizer, miso soup, salad, and tradition korean side dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1801">Next</a></li>
</ul>