<% provide :title, 'Opinion Target 1609' %><h2>candles<br />occurrence: 2</h2><div><ol><li>They had candles on all the tables and said they could still serve us the whole menu.</li><li>-THE DECOR: cozy and classy, with a sexy atmosphere; dimmed lights, candles, table settings, chair covers, fun sights on the dance floor, and so on ....</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1610">Next</a></li>
</ul>