<% provide :title, 'Opinion Target 8803' %><h2>deep fried shrimp dumplings and<br />occurrence: 1</h2><div><ol><li>-Egg tarts, taro spiky triangle things, deep fried shrimp dumplings and any fried food comes out piping hot so you know it 's freshly made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8804">Next</a></li>
</ul>