<% provide :title, 'Opinion Target 2859' %><h2>mung bean jelly<br />occurrence: 1</h2><div><ol><li>The best ones are FISH CAKE, bean spouts, and mung bean jelly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2860">Next</a></li>
</ul>