<% provide :title, 'Opinion Target 4860' %><h2>beef tablets<br />occurrence: 1</h2><div><ol><li>Try their beef tablets, sooooo gooooddd.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4859">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4861">Next</a></li>
</ul>