<% provide :title, 'Opinion Target 4833' %><h2>lamb rack / eggplants<br />occurrence: 1</h2><div><ol><li>We were 8 people so we consumed many dishes: ( sweet/ soar soup, garlic beef, lamb dumplings, lamb rack/ eggplants ... etc) we enjoyed every single of them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4834">Next</a></li>
</ul>