<% provide :title, 'Opinion Target 1219' %><h2>Korean beer<br />occurrence: 3</h2><div><ol><li>The Korean beer and rice wine are awesome, smooth and not so strong!</li><li>I also tried a Hite ( Korean beer) which was light and accompanied my spicy soup perfectly.</li><li>They never have the Korean beer, even though it 's on the menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1220">Next</a></li>
</ul>