<% provide :title, 'Opinion Target 782' %><h2>pork souvlaki<br />occurrence: 4</h2><div><ol><li>Got the calamari ( super greasy and overcooked) and pork souvlaki ( the salad was the best part, potatoes were home fries and when I asked for the tzatziki it came with she had no idea what I was talking about and brought `` ranch'' that tasted nothing like ranch.</li><li>My family also tells me the pizza and steak are amazing too, but I just ca n't seem to go there and NOT get the pork souvlaki on a pita!</li><li>The chicken and pork souvlaki are very tasty.</li><li>Last time I had the pork souvlaki and it was great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_783">Next</a></li>
</ul>