<% provide :title, 'Opinion Target 2445' %><h2>Canadian Chinese food<br />occurrence: 1</h2><div><ol><li>First off, the prices are a little higher then your average Canadian Chinese food but I needed to know if it was better then Hong Yu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2444">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2446">Next</a></li>
</ul>