<% provide :title, 'Opinion Target 5170' %><h2>minced pork rice with egg : rice<br />occurrence: 1</h2><div><ol><li>Sausage &amp; minced pork rice with egg: rice was way over cooked, mince pork tasted nothing but soy sauce, egg was burnt on one side, vegetable look and tasted like left over from 2 days ago coming straight out of fridge.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5171">Next</a></li>
</ul>