<% provide :title, 'Opinion Target 5847' %><h2>strawberry ice cream<br />occurrence: 1</h2><div><ol><li>It was delicious with lots of fillings of strawberry, blueberry, sponge cake with two large scoops of strawberry ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5848">Next</a></li>
</ul>