<% provide :title, 'Opinion Target 4482' %><h2>dinners<br />occurrence: 1</h2><div><ol><li>I feel this place is great for both family dinners and romantic dinners.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4483">Next</a></li>
</ul>