<% provide :title, 'Opinion Target 5640' %><h2>bbq cooking<br />occurrence: 1</h2><div><ol><li>They have bbq cooking but the vent never seems to be on, so I would not recommend wearing your favourite wardrobe here, if you still plan to go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5641">Next</a></li>
</ul>