<% provide :title, 'Opinion Target 4063' %><h2>goulash<br />occurrence: 1</h2><div><ol><li>The food is great! you can get schnitzel with dumplings, goulash, cheese noodles, strudel and palacinta ( a crepe with walnuts or jam inside).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4062">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4064">Next</a></li>
</ul>