<% provide :title, 'Opinion Target 1071' %><h2>Cobb salad<br />occurrence: 3</h2><div><ol><li>I recommend their pizza, falafel sandwich, spicy fries and the Cobb salad!</li><li>3/4 of us wanted lighter meals, meals were spinach salad with chicken, cobb salad, a burger and sweet potato fries and tortellini.</li><li>Do not order the Cobb salad!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1070">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1072">Next</a></li>
</ul>