<% provide :title, 'Opinion Target 5136' %><h2>take-out option<br />occurrence: 1</h2><div><ol><li>The take-out option is a good one and they are equally professional.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5137">Next</a></li>
</ul>