<% provide :title, 'Opinion Target 6338' %><h2>Mussels meal<br />occurrence: 1</h2><div><ol><li>3) Mussels meal: It was like any other mussels I 've had before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6337">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6339">Next</a></li>
</ul>