<% provide :title, 'Opinion Target 4950' %><h2>cheese blintzes<br />occurrence: 1</h2><div><ol><li>P.S. also i suggest the spinach salad, or the cheese blintzes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4951">Next</a></li>
</ul>