<% provide :title, 'Opinion Target 3608' %><h2>Pad Thai & rolls<br />occurrence: 1</h2><div><ol><li>The food is decent for the price, the staff is very friendly with excellent customer service love there Pad Thai &amp; rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3607">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3609">Next</a></li>
</ul>