<% provide :title, 'Opinion Target 7295' %><h2>supreme lover<br />occurrence: 1</h2><div><ol><li>The supreme lover 's has fewer individual toppings than the super supreme, so I assumed that that would mean more of each individual topping.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7296">Next</a></li>
</ul>