<% provide :title, 'Opinion Target 2961' %><h2>house pad thai<br />occurrence: 1</h2><div><ol><li>The house pad thai ( on the ketchupy side) and chicken mango salad are the only two items I enjoy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2962">Next</a></li>
</ul>