<% provide :title, 'Opinion Target 7382' %><h2>green tea flavoured<br />occurrence: 1</h2><div><ol><li>The green tea flavoured was n't too sweet nor bitter and the dessert was a good amount for two people.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7383">Next</a></li>
</ul>