<% provide :title, 'Opinion Target 4984' %><h2>apple cheddar<br />occurrence: 1</h2><div><ol><li>They do the apple cheddar play on sandwiches, bocconcini &amp; oven roasted tomatoes and a curried chicken salad with chopped apples served on raisin walnut bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4983">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4985">Next</a></li>
</ul>