<% provide :title, 'Opinion Target 7823' %><h2>jumbo street sausages with chili<br />occurrence: 1</h2><div><ol><li>In my mind I was picturing one of those jumbo street sausages with chili all over my fries and all over my hotdog.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7822">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7824">Next</a></li>
</ul>