<% provide :title, 'Opinion Target 7182' %><h2>soap opera<br />occurrence: 1</h2><div><ol><li>Although the branding boasts an `` Art Deco experience,'' DD delivers an experience that seems to combine the hardwood interiors akin to Victorian Club Houses and opulent 1980s soap opera sets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7183">Next</a></li>
</ul>