<% provide :title, 'Opinion Target 3348' %><h2>Kiyomizu roll<br />occurrence: 1</h2><div><ol><li>I did not like any of the sushi, Kiyomizu roll was my least favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3349">Next</a></li>
</ul>