<% provide :title, 'Opinion Target 2014' %><h2>chimichanga<br />occurrence: 2</h2><div><ol><li>The chimichanga: two small deep fried chimichanga 's were very dry and tasted and felt almost like they were bought frozen and dressed with toppings.</li><li>The chimichanga was very interesting- I guess the chicken was fried first and then they deep fry the tortilla once they put the chicken inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2013">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2015">Next</a></li>
</ul>