<% provide :title, 'Opinion Target 7499' %><h2>example black sesame ice cream<br />occurrence: 1</h2><div><ol><li>A good mix of Asian flavours ( for example black sesame ice cream) and other unique flavours ( sweet potato).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7500">Next</a></li>
</ul>