<% provide :title, 'Opinion Target 7452' %><h2>black sesame crepe desert<br />occurrence: 1</h2><div><ol><li>I ordered the black sesame crepe desert, which comes with home made sesame ice-cream and sponge cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7451">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7453">Next</a></li>
</ul>