<% provide :title, 'Opinion Target 7194' %><h2>chicken katsu don<br />occurrence: 1</h2><div><ol><li>Honorable mention would have to be the chicken katsu don, which is a fried chicken cutlet with a rich sweet and tangy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7195">Next</a></li>
</ul>