<% provide :title, 'Opinion Target 2761' %><h2>boneless chicken stuffed<br />occurrence: 1</h2><div><ol><li>As with other reviewers, the boneless chicken stuffed with stick rice as absolutely delicious- I ca n't say that I 've had it any where else.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2762">Next</a></li>
</ul>