<% provide :title, 'Opinion Target 3311' %><h2>poppy seed bread<br />occurrence: 1</h2><div><ol><li>I enjoyed the poppy seed bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3310">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3312">Next</a></li>
</ul>