<% provide :title, 'Opinion Target 9197' %><h2>panna cotta.<br />occurrence: 1</h2><div><ol><li>The mango syrup definitely helped cut through the creaminess of the panna cotta. nice ending.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9198">Next</a></li>
</ul>