<% provide :title, 'Opinion Target 9393' %><h2>chicken and duck congee ?!<br />occurrence: 1</h2><div><ol><li>Not quite sure what to make of that, but will definitely be back for the chicken and duck congee ?!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9392">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9394">Next</a></li>
</ul>