<% provide :title, 'Opinion Target 6461' %><h2>Dried oyster<br />occurrence: 1</h2><div><ol><li>The Dried oyster, dried vegetable and pork congee is very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6462">Next</a></li>
</ul>