<% provide :title, 'Opinion Target 2888' %><h2>items<br />occurrence: 1</h2><div><ol><li>The items are already cooked and you just select what you want from the steam trays.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2887">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2889">Next</a></li>
</ul>