<% provide :title, 'Opinion Target 1066' %><h2>pineapple chicken<br />occurrence: 3</h2><div><ol><li>My companion had the pineapple chicken.</li><li>The pineapple chicken was too sweet in her opinion ( I probably could have told her that) and I did n't find the beef worthy of its spicy warning.</li><li>The grilled pork and crispy squid were my faves, pancit was okay, and pineapple chicken could be better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1065">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1067">Next</a></li>
</ul>