<% provide :title, 'Opinion Target 7287' %><h2>garlic seafood fried rice<br />occurrence: 1</h2><div><ol><li>I like the garlic seafood fried rice, turnip cakes, and superbowl congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7286">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7288">Next</a></li>
</ul>