<% provide :title, 'Opinion Target 8171' %><h2>Jambalaya fettuccine<br />occurrence: 1</h2><div><ol><li>They have classics like chicken mushroom fettuccine and my favourite, the Jambalaya fettuccine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8170">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8172">Next</a></li>
</ul>