<% provide :title, 'Opinion Target 3498' %><h2>dressings<br />occurrence: 1</h2><div><ol><li>I am a big fan of `` vinaigrette-like'' dressings and the two best places are definitely Yoko and Le Cafe Michi- they 've both absolutely nailed it!:) Yoko is the one restaurant I go to if I 'm looking for consistency.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3497">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3499">Next</a></li>
</ul>