<% provide :title, 'Opinion Target 6344' %><h2>rice with the entree<br />occurrence: 1</h2><div><ol><li>4./ You can keep your prices the same if you have a vegetable, salad, and potato or rice with the entree.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6343">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6345">Next</a></li>
</ul>