<% provide :title, 'Opinion Target 3582' %><h2>eggs poached<br />occurrence: 1</h2><div><ol><li>I got my eggs poached ( soft) so that the liquid gold that is the yolk would ooze all over my ham steak and potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3583">Next</a></li>
</ul>