<% provide :title, 'Opinion Target 1512' %><h2>satays<br />occurrence: 2</h2><div><ol><li>This Pho place serves not just Vietnamese pho but rice/noodle dishes, Malay curries, satays &amp; roti.</li><li>Satays were also pretty nice; a lot of places fail at the sauce but this place was pretty authentic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1513">Next</a></li>
</ul>