<% provide :title, 'Opinion Target 6724' %><h2>mint<br />occurrence: 1</h2><div><ol><li>Salad Shirazi ( cucumbers, tomato, onions, dry mint, S/P with lemon/olive oil dressing) please do n't ruin the salad by using lemon juice from a bottle!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6725">Next</a></li>
</ul>