<% provide :title, 'Opinion Target 7194' %><h2>gas<br />occurrence: 1</h2><div><ol><li>The meat was good as well, but took us a long time to cook it because there was something wrong with the gas and fire.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7195">Next</a></li>
</ul>