<% provide :title, 'Opinion Target 6356' %><h2>Cajun pasta<br />occurrence: 1</h2><div><ol><li>The Cajun pasta I ordered was dry so I asked for more sauce after explaining the problem.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6357">Next</a></li>
</ul>