<% provide :title, 'Opinion Target 8192' %><h2>bottle of Soju<br />occurrence: 1</h2><div><ol><li>They have combo 's for $ 20 that include food and 5 beers or a bottle of Soju which is n't a bad deal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8191">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8193">Next</a></li>
</ul>