<% provide :title, 'Opinion Target 1356' %><h2>lobsters<br />occurrence: 3</h2><div><ol><li>They have a Live fish tank, so you can order fish, Vancouver crabs, lobsters and usually some type of clams or scallops or whatever they have in the tank, and specify how you like it cooked.</li><li>It 's almost like eating 10 little lobsters!</li><li>There are live lobsters by the entrance and you see the kitchen staffs going back and forth to grab the lobsters, so you know they are fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1357">Next</a></li>
</ul>