<% provide :title, 'Opinion Target 4029' %><h2>veal chop and risotto<br />occurrence: 1</h2><div><ol><li>I would order this again and again and, if you do as I did, and share the veal chop and risotto between yourself your companion, you really have a perfect winter dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4028">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4030">Next</a></li>
</ul>