<% provide :title, 'Opinion Target 2634' %><h2>takeout menu<br />occurrence: 1</h2><div><ol><li>Go figure, I 've been to better quality and service eateries that cost less, but I digress. the server then rudely snatches the takeout menu from my hand and stacks it back with the rest.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2635">Next</a></li>
</ul>