<% provide :title, 'Opinion Target 2678' %><h2>mango freeze with sago<br />occurrence: 1</h2><div><ol><li>Their mango freeze with sago is really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2679">Next</a></li>
</ul>