<% provide :title, 'Opinion Target 7186' %><h2>dae<br />occurrence: 1</h2><div><ol><li>Food came out pretty quickly and it was all tasty except the soon dae was not as good as other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7187">Next</a></li>
</ul>