<% provide :title, 'Opinion Target 2648' %><h2>gorgonzola<br />occurrence: 1</h2><div><ol><li>Also tried a bit of the mini pizza appetizer ( arugula, gorgonzola ( ?), pear) which was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2649">Next</a></li>
</ul>