<% provide :title, 'Opinion Target 1371' %><h2>chicken udon<br />occurrence: 2</h2><div><ol><li>I love the chicken udon, and the miso soup, and the shrimp tempura, and the apple cinnamon spingroll.</li><li>Went for AYCE sushi and did not have a pleasant experience:- Beef short ribs were n't fresh- All the rolls were falling apart- Chicken udon hardly had any chicken in it- Hand rolls were disappointing- waaay too much rice Staff decided that we ordered way too much food and kept telling us that we would n't be able to finish it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1370">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1372">Next</a></li>
</ul>