<% provide :title, 'Opinion Target 5011' %><h2>lobster broiled<br />occurrence: 1</h2><div><ol><li>We ordered the escargot, seafood platter ( I think that 's what it was called, it consisted of shrimp, salmon, lobster tail, and another type of fish ... all very delicious), and 1.5lbs of lobster broiled ( highly recommend very delicious), garlic bread, and baked potato.The owner also gave us free soup ( the lobster bisque) which was amazing !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5010">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5012">Next</a></li>
</ul>