<% provide :title, 'Opinion Target 6955' %><h2>beer selections<br />occurrence: 1</h2><div><ol><li>They serve breakfast until 4pm and have some fine wines along with your typical beer selections and hard liqour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6954">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6956">Next</a></li>
</ul>