<% provide :title, 'Opinion Target 4219' %><h2>Fish Sandwich<br />occurrence: 1</h2><div><ol><li>I had the Messy Fish Sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4220">Next</a></li>
</ul>