<% provide :title, 'Opinion Target 1821' %><h2>braised eggplant<br />occurrence: 2</h2><div><ol><li>Everything else was bloody superb ( especially the braised eggplant).</li><li>Both the cold shredded chicken noodles and the braised eggplant were just ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1822">Next</a></li>
</ul>