<% provide :title, 'Opinion Target 6806' %><h2>essentials<br />occurrence: 1</h2><div><ol><li>Had to ask for the essentials; water, table setting, even wasabi and ginger ( which is essential for sushi restaurants ??).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6805">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6807">Next</a></li>
</ul>