<% provide :title, 'Opinion Target 7510' %><h2>roast salmon crepe<br />occurrence: 1</h2><div><ol><li>The roast salmon crepe was also very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7509">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7511">Next</a></li>
</ul>