<% provide :title, 'Opinion Target 1993' %><h2>felafel<br />occurrence: 2</h2><div><ol><li>Also the felafel was very cold and old.</li><li>The Felafel are perfect, and the hummus is the best I 've had in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1992">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1994">Next</a></li>
</ul>