<% provide :title, 'Opinion Target 6873' %><h2>pickled veggies<br />occurrence: 1</h2><div><ol><li>I 'd love to just get a package of their amazing pita ... and the eggplant ... and the pickled veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6872">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6874">Next</a></li>
</ul>