<% provide :title, 'Opinion Target 6260' %><h2>Eggs Sunny<br />occurrence: 1</h2><div><ol><li>Three Eggs Sunny Side up, toast and potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6259">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6261">Next</a></li>
</ul>