<% provide :title, 'Opinion Target 4836' %><h2>curry pork skewers<br />occurrence: 1</h2><div><ol><li>And the grilled meats are delicious especially the grilled squid, curry pork skewers, and the enoki beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4835">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4837">Next</a></li>
</ul>