<% provide :title, 'Opinion Target 9045' %><h2>corn noodles<br />occurrence: 1</h2><div><ol><li>The corn noodles with hot sauce if reminiscent of cold noodle, but not as cold, as well as the noodle being chewier.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9046">Next</a></li>
</ul>