<% provide :title, 'Opinion Target 7356' %><h2>Fried Chili Turnip cakes<br />occurrence: 1</h2><div><ol><li>I love the food here and as others have written, you have to try the Fried Chili Turnip cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7355">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7357">Next</a></li>
</ul>