<% provide :title, 'Opinion Target 3931' %><h2>shawarma special<br />occurrence: 1</h2><div><ol><li>I got the shawarma special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3932">Next</a></li>
</ul>