<% provide :title, 'Opinion Target 5894' %><h2>lychee and banana crepe<br />occurrence: 1</h2><div><ol><li>I had the lychee and banana crepe which was surprisingly really delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5893">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5895">Next</a></li>
</ul>