<% provide :title, 'Opinion Target 1103' %><h2>duck wrap<br />occurrence: 4</h2><div><ol><li>Between the four of us, we ordered the fried calamari, royal pad Thai, crispy beef red curry and the crispy duck wrap.</li><li>As for the duck wrap, it 's almost like Peking duck except it was deep fried to give it that extra crunch and it was served with lettuce for you to wrap it in.</li><li>But I need to mention that the Peking duck wrap is one of the best that I can recall.</li><li>You obviously have to get the traditional Chinese crepe, green onion/cucumber duck wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1104">Next</a></li>
</ul>