<% provide :title, 'Opinion Target 3201' %><h2>insalata barbabietole<br />occurrence: 1</h2><div><ol><li>The insalata barbabietole was pretty big, we shared it as an appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3202">Next</a></li>
</ul>