<% provide :title, 'Opinion Target 2316' %><h2>lobster with salad<br />occurrence: 1</h2><div><ol><li>I was about to order the plain lobster with salad but the waiter came over and told us the specials and there was a really good lobster and pasta special which I ordered.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2315">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2317">Next</a></li>
</ul>