<% provide :title, 'Opinion Target 7519' %><h2>chashu<br />occurrence: 1</h2><div><ol><li>Although the chashu was dry ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7518">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7520">Next</a></li>
</ul>