<% provide :title, 'Opinion Target 3234' %><h2>served with butter packets<br />occurrence: 1</h2><div><ol><li>I like the bread to start but surprised it 's served with butter packets ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3235">Next</a></li>
</ul>