<% provide :title, 'Opinion Target 8312' %><h2>pan cakes<br />occurrence: 1</h2><div><ol><li>The dim sum ( xiaolongbao, potstickers, pan cakes) were up to par with their usual quality- served hot and steamy and fairly tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8311">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8313">Next</a></li>
</ul>