<% provide :title, 'Opinion Target 2219' %><h2>shawarma served<br />occurrence: 1</h2><div><ol><li>The diner is open 24/7 and despite the presence of some oddball customers if you visit in the middle of the night, you can always be sure you are greeted by people who appreciate your business, and that you 'll be having probably the best late night grub anywhere north of Bloor St. At just under $ 5, the shawarma served in Greek style pita bread is full of flavour and fresh toppings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2218">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2220">Next</a></li>
</ul>