<% provide :title, 'Opinion Target 4495' %><h2>sub par meals<br />occurrence: 1</h2><div><ol><li>When we had finished our sub par meals my friend then had to go find the manager in order to get a refund on the hummus we were charged for that we did n't even want and he was n't even the person that refunded the money it was the girl who was the server.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4496">Next</a></li>
</ul>