<% provide :title, 'Opinion Target 2420' %><h2>chopped white tuna<br />occurrence: 1</h2><div><ol><li>Had: Mizuki roll ( 10.95)- torched salmon on top of chopped white tuna, crabmeat &amp; fish egg with Japanese spicy sauce and sweet sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2419">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2421">Next</a></li>
</ul>