<% provide :title, 'Opinion Target 3492' %><h2>soy sauce and red chili<br />occurrence: 1</h2><div><ol><li>The corn, with soy sauce and red chili as per Devan 's suggestion, was one of the highlights of the meal for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3493">Next</a></li>
</ul>