<% provide :title, 'Opinion Target 1942' %><h2>balsamic<br />occurrence: 2</h2><div><ol><li>Water is pre-poured ( germaphobes beware ?), and the bread basket, with olive spread, butter, olive oil and balsamic are also preset at the table.</li><li>Seemed like the chicken was slowly grilled or was at least marinating in the balsamic because just one bite had a burst of flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1941">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1943">Next</a></li>
</ul>