<% provide :title, 'Opinion Target 9646' %><h2>shrimp tandoori<br />occurrence: 1</h2><div><ol><li>Ordered the butter chicken, saag mutton, paalak paneer, shrimp tandoori, naan and vegetable pakora.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9645">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9647">Next</a></li>
</ul>