<% provide :title, 'Opinion Target 5333' %><h2>tofu teriyaki bento<br />occurrence: 1</h2><div><ol><li>I do n't eat raw fish so I cannot comment on this, but what I have ordered, namely tofu teriyaki bento, veg sushi with gorgeous purple rice and seaweed salad ... have all been stellar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5332">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5334">Next</a></li>
</ul>