<% provide :title, 'Opinion Target 7406' %><h2>strawberry meringue cake<br />occurrence: 1</h2><div><ol><li>I absolutely love the strawberry meringue cake!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7407">Next</a></li>
</ul>