<% provide :title, 'Opinion Target 7067' %><h2>potato selection itself<br />occurrence: 1</h2><div><ol><li>The potato selection itself could 've been better, in my opinion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7068">Next</a></li>
</ul>