<% provide :title, 'Opinion Target 4598' %><h2>thai pumpkin soup<br />occurrence: 1</h2><div><ol><li>The thai pumpkin soup that I got was too salty and the remainder of the meal was too bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4597">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4599">Next</a></li>
</ul>