<% provide :title, 'Opinion Target 8631' %><h2>take-out pick-ups<br />occurrence: 1</h2><div><ol><li>Perhaps they can have a dedicated line for take-out pick-ups etc, instead of the customers asking if their order is ready while someone is trying to order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8630">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8632">Next</a></li>
</ul>