<% provide :title, 'Opinion Target 9620' %><h2>Jumbo Prawn Masala<br />occurrence: 1</h2><div><ol><li>Jumbo Prawn Masala- plump, juicy shrimp in a savoury gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9619">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9621">Next</a></li>
</ul>