<% provide :title, 'Opinion Target 5713' %><h2>franchise<br />occurrence: 1</h2><div><ol><li>The franchise is always really clean and quiet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5712">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5714">Next</a></li>
</ul>