<% provide :title, 'Opinion Target 4518' %><h2>' white fish '<br />occurrence: 1</h2><div><ol><li>We tried the haddock and generic ' white fish'.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4517">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4519">Next</a></li>
</ul>