<% provide :title, 'Opinion Target 8649' %><h2>quality meat kabobs<br />occurrence: 1</h2><div><ol><li>Excellent quality meat kabobs such as chicken, veal, beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8650">Next</a></li>
</ul>