<% provide :title, 'Opinion Target 5639' %><h2>dwenchang chigae<br />occurrence: 1</h2><div><ol><li>The dwenchang chigae was pretty spicy as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5638">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5640">Next</a></li>
</ul>