<% provide :title, 'Opinion Target 8810' %><h2>sesame soup or red bean soup<br />occurrence: 1</h2><div><ol><li>Dessert every one had choice of sesame soup or red bean soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8811">Next</a></li>
</ul>