<% provide :title, 'Opinion Target 4724' %><h2>noodle house<br />occurrence: 1</h2><div><ol><li>If you 're expecting fine dining, this noodle house is n't the best establishment to walk into, but adequate service, good, wholesome Vietnamese cuisine and affordable prices make it a must for any pho soup fan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4723">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4725">Next</a></li>
</ul>