<% provide :title, 'Opinion Target 1810' %><h2>cookie<br />occurrence: 2</h2><div><ol><li>Thought I ordered an oreo milk tea, but received a block of ice with half a cookie sitting on top at a hefty price tag of $ 6- talk about let down of the year.</li><li>Our warm cookie was mostly thawed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1809">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1811">Next</a></li>
</ul>