<% provide :title, 'Opinion Target 1852' %><h2>Miller<br />occurrence: 2</h2><div><ol><li>Since our prior experiences at The Miller were all exceptional we were convinced that this was the perfect venue.</li><li>The Miller was unable and/or unwilling to improve our experience, and grabbed the tip anyway.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1853">Next</a></li>
</ul>