<% provide :title, 'Opinion Target 1083' %><h2>coconut ice cream<br />occurrence: 3</h2><div><ol><li>I ordered coconut ice cream and coconut and coffee jello; both were tasty.</li><li>Killer pepper shrimp and plantains with a side of coconut ice cream.</li><li>The coconut ice cream was not very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1082">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1084">Next</a></li>
</ul>