<% provide :title, 'Opinion Target 7988' %><h2>stir fried beef<br />occurrence: 1</h2><div><ol><li>I also try the stir fried beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7987">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7989">Next</a></li>
</ul>