<% provide :title, 'Opinion Target 2233' %><h2>rice cakes )<br />occurrence: 2</h2><div><ol><li>I always order JS1 with chicken, adding ramen, cheese and dubokki ( rice cakes).</li><li>Ordered the Kalbi ( kbbq ribs) and Dukkboki ( spicy rice cakes).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2232">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2234">Next</a></li>
</ul>