<% provide :title, 'Opinion Target 2341' %><h2>mixed vegetable dish<br />occurrence: 1</h2><div><ol><li>The mixed vegetable dish had bak choi, celery, onions, green beans, and broccoli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2340">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2342">Next</a></li>
</ul>