<% provide :title, 'Opinion Target 2155' %><h2>latke<br />occurrence: 2</h2><div><ol><li>WARNING TO NON-JEWS- If you must have a latke here, do not judge all latkes by this version.</li><li>Meat was cold and the latke was microwaved soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2154">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2156">Next</a></li>
</ul>