<% provide :title, 'Opinion Target 3926' %><h2>beef ribs dish<br />occurrence: 1</h2><div><ol><li>I also love ordering their rice and beef ribs dish, and crispy chicken with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3927">Next</a></li>
</ul>