<% provide :title, 'Opinion Target 3502' %><h2>information<br />occurrence: 1</h2><div><ol><li>Restaurant: Jung Soo Nae Cuisine: Korean Location: North York Address: 5754 Yonge St Price Range: ~ $ 10 1: Poor 2: OK 3: Good 4: Very Good 5: Excellent Food: 3.5 Service: 3 Ambiance: 2 Overall: 3.5 Extra information:* 2 locations owned by 2 different owner* Lunch menu avail* Seasonal menu avail Jung Soo Nae is what you call a ' hole in the wall' restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3501">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3503">Next</a></li>
</ul>