<% provide :title, 'Opinion Target 2454' %><h2>delivery driver<br />occurrence: 1</h2><div><ol><li>The delivery driver was extremely polite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2455">Next</a></li>
</ul>