<% provide :title, 'Opinion Target 3126' %><h2>hwae duk bab<br />occurrence: 1</h2><div><ol><li>I had hwae duk bab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3127">Next</a></li>
</ul>