<% provide :title, 'Opinion Target 6481' %><h2>soy soup<br />occurrence: 1</h2><div><ol><li>Asian Legend had it- we ordered it, with some sweet soy milk ( which came in a bowl- I thought it would be served in a cup), some dumplings, and some sesame bread ( which is often eaten with the salty soy soup and fried bread sticks from what I understand).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6482">Next</a></li>
</ul>