<% provide :title, 'Opinion Target 834' %><h2>Chicken corn soup<br />occurrence: 4</h2><div><ol><li>Chicken corn soup was horrible.</li><li>It comes with soup ( veggie hot &amp; sour or chicken corn soup) and springroll.</li><li>I chose the chicken corn soup and I loved it.</li><li>Chicken corn soup was really good and so was the hot and sour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_833">Previous</a></li>
  <li class="next"><a href=".\opinion_target_835">Next</a></li>
</ul>