<% provide :title, 'Opinion Target 3979' %><h2>garden house salad with oil & vinegar<br />occurrence: 1</h2><div><ol><li>For an appetizer try the garlic sautéed shrimps they are very tasty and the garden house salad with oil &amp; vinegar.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3978">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3980">Next</a></li>
</ul>