<% provide :title, 'Opinion Target 4155' %><h2>bar environment<br />occurrence: 1</h2><div><ol><li>It is a good place to go for a bar environment without dishing out too much money.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4154">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4156">Next</a></li>
</ul>