<% provide :title, 'Opinion Target 7517' %><h2>coconut chips<br />occurrence: 1</h2><div><ol><li>It was loaded with fresh cream and lychee flesh, sprinkled with coconut chips and sugar powder, and came with two scoops or banana ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7518">Next</a></li>
</ul>