<% provide :title, 'Opinion Target 4358' %><h2>bubble tea intervention<br />occurrence: 1</h2><div><ol><li>Even though she complains about the line, she is still addicted and needs bubble tea intervention.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4359">Next</a></li>
</ul>