<% provide :title, 'Opinion Target 6067' %><h2>semi-private dining<br />occurrence: 1</h2><div><ol><li>There 's even a semi-private dining area--which from the outside looks unfinished.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6066">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6068">Next</a></li>
</ul>