<% provide :title, 'Opinion Target 2673' %><h2>linguine pesto<br />occurrence: 1</h2><div><ol><li>On my first visit, I 'd asked the waiter to tweek one of the linguine pesto without the pollo ( i.e. chicken).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2674">Next</a></li>
</ul>