<% provide :title, 'Opinion Target 6239' %><h2>Hot Stone Rice<br />occurrence: 1</h2><div><ol><li>Order:- Bulgogi soup + Hot Stone Pot Rice- Seafood Soon Tofu + Hot Stone Rice Not my first choice of restaurant when I 'm craving for soon tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6238">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6240">Next</a></li>
</ul>