<% provide :title, 'Opinion Target 3314' %><h2>steak sides<br />occurrence: 1</h2><div><ol><li>The steak sides are very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3315">Next</a></li>
</ul>