<% provide :title, 'Opinion Target 2626' %><h2>kalbi bibimbap<br />occurrence: 1</h2><div><ol><li>Had the kalbi bibimbap- one of my all time favourite dishes !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2627">Next</a></li>
</ul>