<% provide :title, 'Opinion Target 6175' %><h2>tofu bowl<br />occurrence: 1</h2><div><ol><li>My final tip: crack the raw egg in the bowl immediately the tofu bowl is served, then carefully spoon the molten hot soup over the egg to cook the egg whites but leave the yolk runny.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6174">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6176">Next</a></li>
</ul>