<% provide :title, 'Opinion Target 1947' %><h2>Korean chicken<br />occurrence: 2</h2><div><ol><li>The Korean chicken was good, but not the best Korean Chicken I had.</li><li>The Korean chicken was good, but not the best Korean Chicken I had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1946">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1948">Next</a></li>
</ul>