<% provide :title, 'Opinion Target 1212' %><h2>delivery service<br />occurrence: 3</h2><div><ol><li>The delivery service was excellent as well.</li><li>Delivery service is also prompt and food comes fresh.</li><li>Terrible delivery service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1211">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1213">Next</a></li>
</ul>