<% provide :title, 'Opinion Target 6211' %><h2>silken tofu<br />occurrence: 1</h2><div><ol><li>The Kimchi Soon Tofu is very rich and savory with the perfect amount of spice, and the silken tofu is so soft that it melts in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6212">Next</a></li>
</ul>