<% provide :title, 'Opinion Target 5587' %><h2>linguine clams pasta<br />occurrence: 1</h2><div><ol><li>I have been here many times before, and some of my favourite pastas are the following,- linguine clams pasta- shrimp Portabello pasta I wish their waiters would smile a little.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5586">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5588">Next</a></li>
</ul>