<% provide :title, 'Opinion Target 4782' %><h2>meat than rice<br />occurrence: 1</h2><div><ol><li>I liked salmon roses the best ( pic below) as they got more meat than rice, something rarely found in AYCE sushi places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4781">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4783">Next</a></li>
</ul>