<% provide :title, 'Opinion Target 3215' %><h2>apple crumble<br />occurrence: 1</h2><div><ol><li>The topping was nice, but the apples were the wrong kind i think and too sparse to be called apple crumble.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3214">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3216">Next</a></li>
</ul>