<% provide :title, 'Opinion Target 1211' %><h2>wings & fries<br />occurrence: 3</h2><div><ol><li>The portion of the wings &amp; fries are generous, but once you sink your teeth in, it quickly becomes obvious that these wings have been frozen .. and probably for a long time.</li><li>The menu is limited; however the wings &amp; fries are excellent ( other options include chicken fingers, chicken pot pie and pepperoni pizza).</li><li>My buddy had the wings &amp; fries ( which he said were good).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1212">Next</a></li>
</ul>