<% provide :title, 'Opinion Target 6257' %><h2>blueberry pastry<br />occurrence: 1</h2><div><ol><li>Delectable cheese and blueberry pastry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6256">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6258">Next</a></li>
</ul>