<% provide :title, 'Opinion Target 4155' %><h2>ice berg lettuce<br />occurrence: 1</h2><div><ol><li>Salad was mostly ice berg lettuce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4154">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4156">Next</a></li>
</ul>