<% provide :title, 'Opinion Target 8114' %><h2>liqueurs<br />occurrence: 1</h2><div><ol><li>Also on-site, a full bar stocked with spirits, liqueurs, beers &amp; wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8115">Next</a></li>
</ul>