<% provide :title, 'Opinion Target 4647' %><h2>Thai Iced<br />occurrence: 1</h2><div><ol><li>The meal went great with Thai Iced Tea which tasted authentic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4648">Next</a></li>
</ul>