<% provide :title, 'Opinion Target 5258' %><h2>Strawberries panna cota<br />occurrence: 1</h2><div><ol><li>The dessert- Strawberries panna cota- was spectacular.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5257">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5259">Next</a></li>
</ul>