<% provide :title, 'Opinion Target 3286' %><h2>wait service<br />occurrence: 1</h2><div><ol><li>Service: The wait service is excellent AND the owner if the restaurant comes and waits as well while greetings clients.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3287">Next</a></li>
</ul>