<% provide :title, 'Opinion Target 3673' %><h2>soy noodle<br />occurrence: 1</h2><div><ol><li>The soy noodle not too oily n very tasty. went for my first visit here this evening. it 's a bit hidden ( at the same plaza as `` Maxim cafe''). ordered `` shrimp with lobster sauce'' and cost $ 10.99 taxes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3674">Next</a></li>
</ul>