<% provide :title, 'Opinion Target 1410' %><h2>matcha latte<br />occurrence: 3</h2><div><ol><li>Other faves #2 and the matcha latte.</li><li>I 'm surprised the matcha latte made it on their top drinks screen.</li><li>Whenever I come to chatime I always order a matcha latte or a matcha redbean milk tea with tapioca.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1411">Next</a></li>
</ul>