<% provide :title, 'Opinion Target 6926' %><h2>steam shrimp balls<br />occurrence: 1</h2><div><ol><li>Not as good a selection as downtown Dim Sum places and our steam shrimp balls were undercooked- the shrimp inside was cold and still grey.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6925">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6927">Next</a></li>
</ul>