<% provide :title, 'Opinion Target 3953' %><h2>`` broth<br />occurrence: 1</h2><div><ol><li>Ceviche with various Seafood ( $ 12)- I almost mistaken this bowl of soup seafood as the Seafood Soup that we ordered- The `` broth'' the fully cooked shrimps, squid and fish were marinated in has really light citrus taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3952">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3954">Next</a></li>
</ul>