<% provide :title, 'Opinion Target 5244' %><h2>sweet mashed potatoes<br />occurrence: 1</h2><div><ol><li>The sweet mashed potatoes are my favourite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5243">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5245">Next</a></li>
</ul>