<% provide :title, 'Opinion Target 5941' %><h2>sour fish soup combo<br />occurrence: 1</h2><div><ol><li>The pho, vermicelli, rice and sour fish soup combo is great here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5942">Next</a></li>
</ul>