<% provide :title, 'Opinion Target 2568' %><h2>stir fry noodles and pan fried onion cake<br />occurrence: 1</h2><div><ol><li>I got stir fry noodles and pan fried onion cake, the noodles were super oily and did n't have much taste and the pan fried onion cake was burnt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2569">Next</a></li>
</ul>