<% provide :title, 'Opinion Target 3278' %><h2>pasta pescatore<br />occurrence: 1</h2><div><ol><li>We went for a family reunion dinner and this place was such a surprise.Everything we ordered was so tasty, fresh and hot.From the mushroom salad to the lasagna to the pasta pescatore all were superb.I heartily recommend this place to any discerning lover of fine italian food.Please continue!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3279">Next</a></li>
</ul>