<% provide :title, 'Opinion Target 5416' %><h2>beef shanks<br />occurrence: 1</h2><div><ol><li>Noodles were cooked perfectly, the beef shanks were flavorful, I was blown away.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5417">Next</a></li>
</ul>