<% provide :title, 'Opinion Target 7346' %><h2>XO Beef Rice Noodles<br />occurrence: 1</h2><div><ol><li>I always get the XO Beef Rice Noodles, and it is well seasoned, but again, greasy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7347">Next</a></li>
</ul>