<% provide :title, 'Opinion Target 7847' %><h2>scallop roll<br />occurrence: 1</h2><div><ol><li>Had the 5A party tray ( $ 30/40 pieces) and the spicy scallop roll, everything was pretty decent, nothing spectacular.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7848">Next</a></li>
</ul>