<% provide :title, 'Opinion Target 6252' %><h2>Jewish bagels hand<br />occurrence: 1</h2><div><ol><li>Authentic Jewish bagels hand rolled and then KETTLE boiled!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6253">Next</a></li>
</ul>