<% provide :title, 'Opinion Target 5779' %><h2>meal potion<br />occurrence: 1</h2><div><ol><li>The server asked us if we were going to order lunch potion or meal potion because the meal potion are bigger.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5778">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5780">Next</a></li>
</ul>