<% provide :title, 'Opinion Target 2521' %><h2>Korean fair<br />occurrence: 1</h2><div><ol><li>Anyway, we did n't get a chance to sample any of the Korean fair, or the dessert, but I would say this place is going to be a new regular spot for us when we do n't feel like trekking down town. incredible maki rolls very different from typical sushi experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2522">Next</a></li>
</ul>