<% provide :title, 'Opinion Target 4613' %><h2>minced pork and Chinese shitake mushroom than oyster<br />occurrence: 1</h2><div><ol><li>Had: Oyster congee, Chiu Chow style ( $ 7.99)- There were oysters, but more minced pork and Chinese shitake mushroom than oyster.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4612">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4614">Next</a></li>
</ul>