<% provide :title, 'Opinion Target 4079' %><h2>sopa de lima<br />occurrence: 1</h2><div><ol><li>I had El Burro ( beef) and the sopa de lima while my partner had the Carne en salsa de chipotle and everything was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4078">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4080">Next</a></li>
</ul>