<% provide :title, 'Opinion Target 3196' %><h2>Chicken adana<br />occurrence: 1</h2><div><ol><li>Ordered 3 ( foot long) sandwiches at $ 6.50 each: Chicken adana, Kofte, Lamb shish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3197">Next</a></li>
</ul>