<% provide :title, 'Opinion Target 9677' %><h2>cheese sticks<br />occurrence: 1</h2><div><ol><li>My stuffed crust pizza was a hard, gross pizza which seemed like they stuck REFRIGERATED solid cheese sticks in the pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9678">Next</a></li>
</ul>