<% provide :title, 'Opinion Target 2886' %><h2>roast pike<br />occurrence: 1</h2><div><ol><li>I said `` ok then I want a tall medium roast pike''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2887">Next</a></li>
</ul>