<% provide :title, 'Opinion Target 8434' %><h2>vegetarian chile<br />occurrence: 1</h2><div><ol><li>The vegetarian chile is also really good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8433">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8435">Next</a></li>
</ul>