<% provide :title, 'Opinion Target 5342' %><h2>White Tuna roll<br />occurrence: 1</h2><div><ol><li>The White Tuna roll was good but was n't great; hope it was n't the same used in the sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5343">Next</a></li>
</ul>