<% provide :title, 'Opinion Target 6763' %><h2>deep fried banana with ice cream<br />occurrence: 1</h2><div><ol><li>I would suggest to try the Chili Garlic Chicken, Spicy Crispy Beef, Penang Curry, Cashew Nut Chicken ( all ordered with a bowl of steamed white rice of course), and for desert, you must try the deep fried banana with ice cream!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6762">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6764">Next</a></li>
</ul>