<% provide :title, 'Opinion Target 8131' %><h2>juices in plastic containers<br />occurrence: 1</h2><div><ol><li>The lady pointed towards a mini fridge with 2 juices in plastic containers about a size of a cup, which is quite a good amount ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8130">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8132">Next</a></li>
</ul>