<% provide :title, 'Opinion Target 7676' %><h2>chicken pates<br />occurrence: 1</h2><div><ol><li>We were a group of around 15 and arrived around 8 to a table set with about 40 dishes of shrimp cocktail, pickled herring, large plates of smoked salmon, beet salad, chicken pates, caesar salad, caviar and mini-pancakes, and much, much more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7675">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7677">Next</a></li>
</ul>