<% provide :title, 'Opinion Target 2241' %><h2>service fee<br />occurrence: 2</h2><div><ol><li>They also charge you a 10% service fee, which I assumed was in lieu of gratuity.</li><li>On another occasion I recall my servers secretly including a $ 15 `` service fee'' on every one of my friend 's bills ( we paid separately), none of us noticed and included a tip in the cost.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2240">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2242">Next</a></li>
</ul>