<% provide :title, 'Opinion Target 3813' %><h2>summer<br />occurrence: 1</h2><div><ol><li>Their sexy summer roll was great too, topped with mango sauce and has mango inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3812">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3814">Next</a></li>
</ul>