<% provide :title, 'Opinion Target 7512' %><h2>tacoyaki<br />occurrence: 1</h2><div><ol><li>You will find a few different kinds of ramen broth along with the requisite gyoza, tacoyaki and tonkatsu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7511">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7513">Next</a></li>
</ul>