<% provide :title, 'Opinion Target 1442' %><h2>Veal Marsala<br />occurrence: 2</h2><div><ol><li>The best meal on the menu, Veal Marsala, is now gone.</li><li>My relatives enjoyed the salmon filet ( fish of the day), veal marsala, and veal chop, and were all satisfied, with the exception of one who argued the veal chop was too dry for her.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1443">Next</a></li>
</ul>