<% provide :title, 'Opinion Target 4364' %><h2>smoked meat Montreal style<br />occurrence: 1</h2><div><ol><li>Delicious smoked meat Montreal style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4365">Next</a></li>
</ul>