<% provide :title, 'Opinion Target 3538' %><h2>chicken pot pie<br />occurrence: 1</h2><div><ol><li>Stay away from the chicken pot pie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3537">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3539">Next</a></li>
</ul>