<% provide :title, 'Opinion Target 6366' %><h2>deep fried dumplings<br />occurrence: 1</h2><div><ol><li>We ordered deep fried dumplings, spicy fried squid, BBQ Ribs, and deep fried dumplings and waited no more than ten minutes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6367">Next</a></li>
</ul>