<% provide :title, 'Opinion Target 6752' %><h2>green currie<br />occurrence: 1</h2><div><ol><li>The Pad Thai was an awful soggy mess, the green currie was tasteless and the spicy fish we ordered was downright disgusting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6751">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6753">Next</a></li>
</ul>