<% provide :title, 'Opinion Target 2978' %><h2>condiment options<br />occurrence: 1</h2><div><ol><li>The condiment options are fun to play with, and I 'm sure there 's something for everyone here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2977">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2979">Next</a></li>
</ul>