<% provide :title, 'Opinion Target 6189' %><h2>Golden Menu<br />occurrence: 1</h2><div><ol><li>The Golden Menu has the best selection of sushi and it includes sashimi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6188">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6190">Next</a></li>
</ul>