<% provide :title, 'Opinion Target 9018' %><h2>Latin American soft drinks<br />occurrence: 1</h2><div><ol><li>Everything goes well with the Guatemalan hot sauces, and the imported Latin American soft drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9017">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9019">Next</a></li>
</ul>