<% provide :title, 'Opinion Target 6146' %><h2>FOOD especially bagoong rice and bangus sisig<br />occurrence: 1</h2><div><ol><li>Aside from their friendly staff, they have GREAT FOOD especially bagoong rice and bangus sisig so delicious !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6147">Next</a></li>
</ul>