<% provide :title, 'Opinion Target 4858' %><h2>pancake stuffed with lamb<br />occurrence: 1</h2><div><ol><li>The pancake stuffed with lamb was decent, but not nearly flavorful enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4857">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4859">Next</a></li>
</ul>