<% provide :title, 'Opinion Target 6901' %><h2>biang biang mian fix<br />occurrence: 1</h2><div><ol><li>I would come back again to get my biang biang mian fix!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6900">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6902">Next</a></li>
</ul>