<% provide :title, 'Opinion Target 4886' %><h2>salmon belly<br />occurrence: 1</h2><div><ol><li>The salmon belly was dry but good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4885">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4887">Next</a></li>
</ul>