<% provide :title, 'Opinion Target 4499' %><h2>Beef Shawarma Sandwich<br />occurrence: 1</h2><div><ol><li>Beef Shawarma Sandwich- Shredded pieces of beef grilled on a rotating spit with fresh parsley, onions, turnips, pickles, tomatoes and tahini sauce wrapped in a pita Being a beef person, I was a little disappointed with this.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4498">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4500">Next</a></li>
</ul>