<% provide :title, 'Opinion Target 8031' %><h2>#9 broiled beef with stone pot rice<br />occurrence: 1</h2><div><ol><li>This place is famous for the spicy soups but I keep getting the #9 broiled beef with stone pot rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8030">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8032">Next</a></li>
</ul>