<% provide :title, 'Opinion Target 1940' %><h2>beef broth soup<br />occurrence: 2</h2><div><ol><li>We ordered the hot table bacon for 2, a pork bone soup and a beef broth soup.</li><li>They serve you a side of beef broth soup with your rice order!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1939">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1941">Next</a></li>
</ul>