<% provide :title, 'Opinion Target 7004' %><h2>pork burger<br />occurrence: 1</h2><div><ol><li>We orders the ribs and wings and the pull pork burger ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7003">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7005">Next</a></li>
</ul>