<% provide :title, 'Opinion Target 3194' %><h2>baked shell<br />occurrence: 1</h2><div><ol><li>The baked shell was flaky and soft at the same time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3195">Next</a></li>
</ul>