<% provide :title, 'Opinion Target 4453' %><h2>glass of wine and Diet Coke<br />occurrence: 1</h2><div><ol><li>2 appatizers, 2 mains, 2 deserts, glass of wine and Diet Coke was around $ 100 plus tip.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4454">Next</a></li>
</ul>