<% provide :title, 'Opinion Target 1829' %><h2>Vietnamese coffee<br />occurrence: 2</h2><div><ol><li>The coffee ( $ 1.90) was delicious as Vietnamese coffee always is.</li><li>Their smoothies and Vietnamese coffee are so good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1830">Next</a></li>
</ul>