<% provide :title, 'Opinion Target 853' %><h2>area<br />occurrence: 4</h2><div><ol><li>Do n't get me wrong, I love Korean food, but the area could use more variety.</li><li>The area is in need of a good Chinese restaurant until then I will hit Chinatown !!</li><li>Nothing special here I would say but the area is nice.</li><li>The area is quite small but it 's quaint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_854">Next</a></li>
</ul>