<% provide :title, 'Opinion Target 1492' %><h2>matcha flavour<br />occurrence: 3</h2><div><ol><li>The minute you bite into it there is an explosion of strong matcha flavour which I love.</li><li>The matcha flavour is also very strong in this and the red bean paste pairing is delicious.</li><li>Flavour wise, has the great matcha flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1493">Next</a></li>
</ul>