<% provide :title, 'Opinion Target 3424' %><h2>brown rice<br />occurrence: 1</h2><div><ol><li>The brown rice was included in the dish, which was nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3423">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3425">Next</a></li>
</ul>