<% provide :title, 'Opinion Target 4266' %><h2>surroundings<br />occurrence: 1</h2><div><ol><li>Very comfortable and warm surroundings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4267">Next</a></li>
</ul>