<% provide :title, 'Opinion Target 9429' %><h2>deep fried spicy and salty squid<br />occurrence: 1</h2><div><ol><li>We ordered typical dish like the Super surpreme bowl congee, deep fried salt and spicy pork chop, deep fried spicy and salty squid, eel fried rice, stir fried vegetable, Garoupa &amp; fried bean curd in hot pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9428">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9430">Next</a></li>
</ul>