<% provide :title, 'Opinion Target 5993' %><h2>beef tongue sandwiches<br />occurrence: 1</h2><div><ol><li>Smoked meat, corned beef, beef tongue sandwiches on rye are all delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5992">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5994">Next</a></li>
</ul>