<% provide :title, 'Opinion Target 6173' %><h2>tofu with beef<br />occurrence: 1</h2><div><ol><li>I opted for the kimchi soon tofu with beef and pork, regular spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6172">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6174">Next</a></li>
</ul>