<% provide :title, 'Opinion Target 3797' %><h2>signature ginseng chicken<br />occurrence: 1</h2><div><ol><li>Their signature ginseng chicken is a must.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3796">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3798">Next</a></li>
</ul>