<% provide :title, 'Opinion Target 3277' %><h2>room temperature red wine<br />occurrence: 1</h2><div><ol><li>Red wine that has been slightly chilled for a bit tastes a world different from room temperature red wine and it 's important, in my opinion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3276">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3278">Next</a></li>
</ul>