<% provide :title, 'Opinion Target 4188' %><h2>white meat pieces<br />occurrence: 1</h2><div><ol><li>Because their marinade is likely some sort of brine, in my experience, their white meat pieces have never, ever been dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4187">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4189">Next</a></li>
</ul>