<% provide :title, 'Opinion Target 6492' %><h2>braised bamboo shoots<br />occurrence: 1</h2><div><ol><li>We had the following: steamed soup filled juicy pork dumplings ( delicious!), braised bamboo shoots ( good, but oily), hot and sour soup ( really well-done), and fried rice cake shanghai style ( good, but a bit bland).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6491">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6493">Next</a></li>
</ul>