<% provide :title, 'Opinion Target 7474' %><h2>Chicken Tikka Masala<br />occurrence: 1</h2><div><ol><li>Chicken Tikka Masala, Palak Panner, Channa Masalla and Two Naans.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7473">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7475">Next</a></li>
</ul>