<% provide :title, 'Opinion Target 3880' %><h2>lemonade soda<br />occurrence: 1</h2><div><ol><li>I 've loved mostly everything I 've ordered here including: pho, bun bo hue, avocado shake, lemonade soda, fresh rolls with grilled chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3879">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3881">Next</a></li>
</ul>