<% provide :title, 'Opinion Target 5130' %><h2>turnip chili patties<br />occurrence: 1</h2><div><ol><li>Next we were tantalized by the infamous turnip chili patties, which are like a sexed-up Sino-fied version of homefries and the final tease for Abbas was the chili pork ( you see pork is to Abbas, what Magic Mike is to Sara, deeelightful!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5129">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5131">Next</a></li>
</ul>