<% provide :title, 'Opinion Target 1966' %><h2>grilled dishes<br />occurrence: 2</h2><div><ol><li>Food was largely unremarkable, except for the beef sashimi which was amazing ( I do n't even eat beef but I made a 10 gram exception) and some of the sauces that were used with the grilled dishes.</li><li>My favourite was the grilled dishes and the desserts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1965">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1967">Next</a></li>
</ul>