<% provide :title, 'Opinion Target 1845' %><h2>muscles<br />occurrence: 2</h2><div><ol><li>The muscles were good and fresh.</li><li>FOOD: the muscles were delicious as was the escargot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1844">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1846">Next</a></li>
</ul>