<% provide :title, 'Opinion Target 3756' %><h2>Lunch Rice Specials<br />occurrence: 1</h2><div><ol><li>I noticed the Lunch Rice Specials ( $ 6.99) offered a large dish and a mountain of Steamed Rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3755">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3757">Next</a></li>
</ul>