<% provide :title, 'Opinion Target 6919' %><h2>black tiger shrimps Dessert : pear sorbet The chicken broth<br />occurrence: 1</h2><div><ol><li>Appetizer: Kakitama chicken broth Main course: selected black Angus sirloin and black tiger shrimps Dessert: pear sorbet The chicken broth was a bit of a disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6918">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6920">Next</a></li>
</ul>