<% provide :title, 'Opinion Target 6066' %><h2>Salmon Crunch<br />occurrence: 1</h2><div><ol><li>We had the Niku Don and the Salmon Crunch which was absolutely massive.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6065">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6067">Next</a></li>
</ul>