<% provide :title, 'Opinion Target 3310' %><h2>crab cake benedict<br />occurrence: 1</h2><div><ol><li>I had the crab cake benedict.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3309">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3311">Next</a></li>
</ul>