<% provide :title, 'Opinion Target 6361' %><h2>broiled lobster with rice and baked potato<br />occurrence: 1</h2><div><ol><li>I ordered the rack of lamb with salad and baked potato, my girlfriend ordered the 1lb broiled lobster with rice and baked potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6362">Next</a></li>
</ul>