<% provide :title, 'Opinion Target 7034' %><h2>seafood bean paste soup<br />occurrence: 1</h2><div><ol><li>Also tried a the seafood bean paste soup which was also $ 9.99.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7035">Next</a></li>
</ul>