<% provide :title, 'Opinion Target 2225' %><h2>bok choy<br />occurrence: 2</h2><div><ol><li>She was like: `` the cook said it 's kind of bok choy, but umm ...</li><li>Surprisingly the food came out decently quick and one of the server even came up and apologized for one of the dish because the bok choy were not the fresh .. so we cancelled it even though it was already made.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2224">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2226">Next</a></li>
</ul>