<% provide :title, 'Opinion Target 3304' %><h2>lobster cioppino<br />occurrence: 1</h2><div><ol><li>They have recently added a lobster cioppino which is by far one of the best I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3305">Next</a></li>
</ul>