<% provide :title, 'Opinion Target 6289' %><h2>lunch bar<br />occurrence: 1</h2><div><ol><li>Great basic lunch bar, old style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6288">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6290">Next</a></li>
</ul>