<% provide :title, 'Opinion Target 4912' %><h2>paratha roti with Stewed chicken<br />occurrence: 1</h2><div><ol><li>My favorites are Shrimp Wantons, Fried Plantain, paratha roti with Stewed chicken and also the beef soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4911">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4913">Next</a></li>
</ul>