<% provide :title, 'Opinion Target 2721' %><h2>banana bread<br />occurrence: 1</h2><div><ol><li>At the end when we got our bill, they had charged us $ 2 or close to that ( I do not remember the exact amt.) for the banana bread we took from the buffet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2720">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2722">Next</a></li>
</ul>