<% provide :title, 'Opinion Target 5799' %><h2>crime brûlée<br />occurrence: 1</h2><div><ol><li>The crime brûlée was just the right amount of sweetness and lightness.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5800">Next</a></li>
</ul>