<% provide :title, 'Opinion Target 1336' %><h2>chicken tikka<br />occurrence: 3</h2><div><ol><li>You should orders things like: Halwa Puri ( Yummm), Nihari, Haleem, Chicken Seekh kabab, Butter Til Naan, Paaya, Lamb Biryani, Chicken Biryani, Lahori Chana masala, chicken tikka.</li><li>Chicken Tikka: This is not the kind of chicken tikka you 're probably used to if you eat a lot of Indian food.</li><li>Chicken Tikka: This is not the kind of chicken tikka you 're probably used to if you eat a lot of Indian food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1337">Next</a></li>
</ul>