<% provide :title, 'Opinion Target 2673' %><h2>veggie penne<br />occurrence: 1</h2><div><ol><li>The veggie penne was excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2672">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2674">Next</a></li>
</ul>