<% provide :title, 'Opinion Target 2304' %><h2>pancake appetizer<br />occurrence: 2</h2><div><ol><li>The pancake appetizer arrived and it looked so gross it was inedible.</li><li>We got a good amount of side dishes which included some pancake appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2303">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2305">Next</a></li>
</ul>