<% provide :title, 'Opinion Target 6819' %><h2>Salmon Sushi<br />occurrence: 1</h2><div><ol><li>The Salmon Sushi is the best of the sushi I think, the portion size to rice ratio was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6820">Next</a></li>
</ul>