<% provide :title, 'Opinion Target 7371' %><h2>duck confit<br />occurrence: 1</h2><div><ol><li>The duck confit was not tender at all and also lacked taste and was quite bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7370">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7372">Next</a></li>
</ul>