<% provide :title, 'Opinion Target 6223' %><h2>rice pilaf<br />occurrence: 1</h2><div><ol><li>The side of rice pilaf with the shawarma was quite good, very buttery and cooked well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6224">Next</a></li>
</ul>