<% provide :title, 'Opinion Target 4905' %><h2>beef with noodles in hot sauce<br />occurrence: 1</h2><div><ol><li>In all honesty I do n't even remember what my dish was called, it was beef with noodles in hot sauce, with ice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4904">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4906">Next</a></li>
</ul>