<% provide :title, 'Opinion Target 7564' %><h2>ARGH<br />occurrence: 1</h2><div><ol><li>Before I start talking about the food, this is the cutest place ever*-* it 's not exactly big, but the space is so well decorated, and everything is so pretty and the staff are so nice and ARGH I CAN' T EVEN. anyways. onto the foooood the menu is pretty small, and everything on it is around $ 8-10 dollars.my mom and I split a savoury one first ( mushroom).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7563">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7565">Next</a></li>
</ul>