<% provide :title, 'Opinion Target 8764' %><h2>stuffed cornish hen<br />occurrence: 1</h2><div><ol><li>I was debating between the loin of venison, which was I think $ 26 at that time, or the stuffed cornish hen ( around $ 24).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8765">Next</a></li>
</ul>