<% provide :title, 'Opinion Target 3129' %><h2>rice with dinner<br />occurrence: 1</h2><div><ol><li>( Wings are getting drier and drier when they used to be saucy, greek rice with dinner was n't cooked properly last time, fries are sometimes stale, etc.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3128">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3130">Next</a></li>
</ul>