<% provide :title, 'Opinion Target 5358' %><h2>garlic taste<br />occurrence: 1</h2><div><ol><li>It tasted super authentic and the garlic taste was strong.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5359">Next</a></li>
</ul>