<% provide :title, 'Opinion Target 1593' %><h2>bread pudding<br />occurrence: 2</h2><div><ol><li>I think last time I was there it was bread pudding, which is my weakness.</li><li>The texture reminded me very much of a bread pudding and we both agreed we would 've liked to have seen a little more crème anglaise on the plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1594">Next</a></li>
</ul>