<% provide :title, 'Opinion Target 5161' %><h2>Chow Mein Dough Fritter Rice Noodle Roll<br />occurrence: 1</h2><div><ol><li>Recommendations: Salt + Pepper Fish- their salt and pepper seasoning is like crack, it 's so good Congee ( that 's a given, it 's named Congee Queen) Any of their bbq meats are good ( ex: Roasted pork) Wonton Noodles in Soup Hot Pot Rice ( takes a while to come out though, about 20 min after the order) Crispy Catonese Chow Mein Dough Fritter Rice Noodle Roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5162">Next</a></li>
</ul>