<% provide :title, 'Opinion Target 2829' %><h2>hakka style<br />occurrence: 1</h2><div><ol><li>Their hakka style house special friend noodles are another favourite of mine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2830">Next</a></li>
</ul>