<% provide :title, 'Opinion Target 7197' %><h2>side dishes selection<br />occurrence: 1</h2><div><ol><li>The side dishes selection was not as large as some other places, but they did have seaweed and fish cakes so I 'm not complaining.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7198">Next</a></li>
</ul>