<% provide :title, 'Opinion Target 5024' %><h2>clam chowder<br />occurrence: 1</h2><div><ol><li>The clam chowder was over-seasoned with thyme and heavily floured as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5025">Next</a></li>
</ul>