<% provide :title, 'Opinion Target 3616' %><h2>mango salsa<br />occurrence: 1</h2><div><ol><li>It 's basically large chunks of lobster &amp; avocado with a sweet mango salsa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3615">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3617">Next</a></li>
</ul>