<% provide :title, 'Opinion Target 4469' %><h2>pita appetizers<br />occurrence: 1</h2><div><ol><li>Anyway, again another resto that gives you complimentary pita appetizers straight from their oven steaming hot when you rip it open!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4470">Next</a></li>
</ul>