<% provide :title, 'Opinion Target 3308' %><h2>lobster taste<br />occurrence: 1</h2><div><ol><li>You could tell it had a long cooking process as the lobster taste was so intense.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3309">Next</a></li>
</ul>