<% provide :title, 'Opinion Target 8416' %><h2>fried vermicelli<br />occurrence: 1</h2><div><ol><li>Do n't try other dishes like stirring fried vermicelli ( poor portion and bland, for all the Cantonese dishes, I recommend congee Wong nearby) or traditional Chinese dishes like fish flavoured pork slices ( 鱼香肉丝 ）, sweat &amp; sour fish is a big joke ... check out my photos--it 's even a joke for the Westerners, okay ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8417">Next</a></li>
</ul>