<% provide :title, 'Opinion Target 1606' %><h2>bread crumbs<br />occurrence: 2</h2><div><ol><li>The spicy scallop roll also failed to impress as it was mostly bread crumbs.</li><li>My dislikes- all sushi rolls, the rice was too sticky sometmes gooey, too much vinegar, the rolls with crunchy bits had tons uncooked PANKO which tasted nasty- youre suppose to cook your tempura bits and if you use PANKO please fry it with butter first, panko straight from the box is just bread crumbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1607">Next</a></li>
</ul>