<% provide :title, 'Opinion Target 1497' %><h2>Tamal<br />occurrence: 2</h2><div><ol><li>It took about 5 minutes to get the Tamal De Pollo ( Chicken tamal) and 10 minutes or so for the Pupusas because they were being freshly made.</li><li>The Tamal was good too but it was a bit too soft for my taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1496">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1498">Next</a></li>
</ul>