<% provide :title, 'Opinion Target 4696' %><h2>appetizer plate<br />occurrence: 1</h2><div><ol><li>To start, we shared an appetizer plate, which consisted of tender chicken lemongrass skewers with sweet peanut sauce, fresh shrimp, thinly sliced beef, and mediocre spring rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4695">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4697">Next</a></li>
</ul>