<% provide :title, 'Opinion Target 1490' %><h2>crab soup<br />occurrence: 2</h2><div><ol><li>Their crab soup was very good and spicy !!!</li><li>Fish maw and crab soup- underseasoned, lacklustre.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1491">Next</a></li>
</ul>