<% provide :title, 'Opinion Target 5358' %><h2>seating practices<br />occurrence: 1</h2><div><ol><li>If standing around in an empty line in an empty restaurant being unable to sit down because of borderline discriminatory seating practices was n't humiliating enough, just remembering how average the food tastes at this place from the several times I have been there was enough to deter me from leaving the restaurant- and NEVER coming back again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5357">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5359">Next</a></li>
</ul>