<% provide :title, 'Opinion Target 2366' %><h2>bakers<br />occurrence: 1</h2><div><ol><li>The bakers comes in around 4 am to make the entire day 's work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2367">Next</a></li>
</ul>