<% provide :title, 'Opinion Target 1045' %><h2>Shanghai Noodles<br />occurrence: 3</h2><div><ol><li>The Shanghai Noodles, which had been reviewed as spicy, were not at all spicy.</li><li>We also had shanghai noodles which was also actually very good.</li><li>I ordered the shanghai noodles which had pork and shrimp in it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1044">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1046">Next</a></li>
</ul>