<% provide :title, 'Opinion Target 9240' %><h2>snails<br />occurrence: 1</h2><div><ol><li>If you 're a fan of escargots ( yes, snails) like I am, they also offer that here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9239">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9241">Next</a></li>
</ul>