<% provide :title, 'Opinion Target 3247' %><h2>gorgonzola pizza<br />occurrence: 1</h2><div><ol><li>The gorgonzola pizza is very delicious and it actually has pears and walnuts on it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3246">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3248">Next</a></li>
</ul>