<% provide :title, 'Opinion Target 2692' %><h2>3-cup chicken<br />occurrence: 1</h2><div><ol><li>The 3-cup chicken was more like kung pao chicken .... we walked out leaving more than half of each dish and not even bothered with a take-out box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2693">Next</a></li>
</ul>