<% provide :title, 'Opinion Target 7117' %><h2>surf<br />occurrence: 1</h2><div><ol><li>Perhaps the best surf and turf I 've ever had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7116">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7118">Next</a></li>
</ul>