<% provide :title, 'Opinion Target 8023' %><h2>pot beef<br />occurrence: 1</h2><div><ol><li>It 's hot pot beef, carrot and onion shreds, and sweet potato noodles cooked in a sweetened soy-ish sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8022">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8024">Next</a></li>
</ul>