<% provide :title, 'Opinion Target 4418' %><h2>mixed meat plate<br />occurrence: 1</h2><div><ol><li>As for the food we ordered hummus ( approx $ 6), veggie pizza ( $ 5.99), lamb plate ( $ 18.99), mixed meat plate ( $ 20.99) and falafel ( 0.99).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4417">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4419">Next</a></li>
</ul>