<% provide :title, 'Opinion Target 2314' %><h2>fried chicken with green onion<br />occurrence: 2</h2><div><ol><li>The infamous fried chicken with green onion was overpowered by the five spice.</li><li>I ordered the fried chicken with green onion.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2313">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2315">Next</a></li>
</ul>