<% provide :title, 'Opinion Target 3850' %><h2>volcano rolls<br />occurrence: 1</h2><div><ol><li>However I 'd say to bypass the volcano rolls ( they taste like nothing and they 're deep fried).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3849">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3851">Next</a></li>
</ul>