<% provide :title, 'Opinion Target 826' %><h2>interior decor<br />occurrence: 4</h2><div><ol><li>The interior decor is dated but clean ( nothing is broken).</li><li>The drinks were yummy and the interior decor was cool and unique.</li><li>The interior decor has always been one point of interest to visit it.</li><li>I really love this restaurant; the house is very impressive and rich in history, and the interior decor is grand and stunning to say the least.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_825">Previous</a></li>
  <li class="next"><a href=".\opinion_target_827">Next</a></li>
</ul>