<% provide :title, 'Opinion Target 5157' %><h2>egg fried rice half topped with chicken<br />occurrence: 1</h2><div><ol><li>This consists of egg fried rice half topped with chicken in a sweet and sour sauce and the other half a white, creamy sauce with shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5156">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5158">Next</a></li>
</ul>