<% provide :title, 'Opinion Target 6910' %><h2>grilled eel rice<br />occurrence: 1</h2><div><ol><li>The grilled eel rice stands out for me for being a little bit different with the hit of wasabi and scallions, and it is definitely one of my favourites at this restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6911">Next</a></li>
</ul>