<% provide :title, 'Opinion Target 5447' %><h2>cabbage borscht<br />occurrence: 1</h2><div><ol><li>The cabbage borscht contained no potatoes or beets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5448">Next</a></li>
</ul>