<% provide :title, 'Opinion Target 1564' %><h2>custard buns<br />occurrence: 2</h2><div><ol><li>Get the custard buns for dessert.</li><li>Recommend the chicken wings, custard buns; for dessert, try their coconut taro with red bean and almond tofu and juice bomb toppings; make-it-yourself slushie station is popular amongst kids although adults like myself were tempted to help ourselves to a serving as well Chocolate fountain is quite impressive but more selection of fruits that are less sweet would be a nice touch-strawberries and banana for example Overall good experience-would come again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1563">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1565">Next</a></li>
</ul>