<% provide :title, 'Opinion Target 2226' %><h2>plain bubble tea & sweet drinks<br />occurrence: 1</h2><div><ol><li>The desserts available are fairly traditional- not just your plain bubble tea &amp; sweet drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2225">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2227">Next</a></li>
</ul>