<% provide :title, 'Opinion Target 8383' %><h2>star<br />occurrence: 1</h2><div><ol><li>Hot delicious food for 3 people, a bill under $ 40 served within 20 minutes on a busy Friday night deserves 6 stars, get 5 from the heading and 1 extra star here*.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8384">Next</a></li>
</ul>