<% provide :title, 'Opinion Target 3823' %><h2>beef teriyaki served<br />occurrence: 1</h2><div><ol><li>Other stuff not as good: beef teriyaki served beyond rare, pad thai looked and tasted orange.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3822">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3824">Next</a></li>
</ul>