<% provide :title, 'Opinion Target 3487' %><h2>serving smoked meat<br />occurrence: 1</h2><div><ol><li>This is a small deli in a small strip mall on Sheppard, serving smoked meat, corned beef and pastrami sandwiches, as well as knishes and a few other things.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3486">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3488">Next</a></li>
</ul>