<% provide :title, 'Opinion Target 8242' %><h2>veal dinner<br />occurrence: 1</h2><div><ol><li>Price for a veal dinner is about $ 23 before tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8241">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8243">Next</a></li>
</ul>