<% provide :title, 'Opinion Target 3139' %><h2>pho bowls<br />occurrence: 1</h2><div><ol><li>The pho bowls are really full to the brim.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3138">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3140">Next</a></li>
</ul>