<% provide :title, 'Opinion Target 7478' %><h2>fillings of strawberry<br />occurrence: 1</h2><div><ol><li>It was delicious with lots of fillings of strawberry, blueberry, sponge cake with two large scoops of strawberry ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7479">Next</a></li>
</ul>