<% provide :title, 'Opinion Target 6401' %><h2>beef brisket moodle<br />occurrence: 1</h2><div><ol><li>I ordered the beef brisket moodle on a busy lunch day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6400">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6402">Next</a></li>
</ul>