<% provide :title, 'Opinion Target 2286' %><h2>salami<br />occurrence: 2</h2><div><ol><li>The salami was n't overly salty and you get a generous amount of it.</li><li>I had the soppresatto and spicy salami and the crust was great but toppings didnt taste fresh at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2287">Next</a></li>
</ul>