<% provide :title, 'Opinion Target 946' %><h2>chicken wrap<br />occurrence: 4</h2><div><ol><li>I had a chicken wrap last night and it was more lettuce than chicken.</li><li>$ 10 for a chicken plate and $ 6 for a chicken wrap.</li><li>I had the chicken wrap.</li><li>The first time I came here I ordered the chicken wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_947">Next</a></li>
</ul>