<% provide :title, 'Opinion Target 4593' %><h2>Peking duck Coconut fried rice Curry fish pot Although prices<br />occurrence: 1</h2><div><ol><li>Whenever I go, my usuals are: Peking duck Coconut fried rice Curry fish pot Although prices are a tad high, I find their quality and atmosphere worth it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4592">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4594">Next</a></li>
</ul>