<% provide :title, 'Opinion Target 690' %><h2>ravioli<br />occurrence: 5</h2><div><ol><li>The butternut squash soup and ravioli were very well cooked and rich in flavour.</li><li>The sauce tasted like bottled Ragu and the ravioli I buy at Loblaws ( the PC brand) tastes better, The dessert however was excellent- chocolate/raspberry tartuffo.</li><li>The ravioli was very good, with mushroom on the insides.</li><li>My mom and I had the same dish ( penne arrabbiata) while my cousins had ravioli and capellini.</li><li>The ravioli in the cream sauce was the most pleasing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_691">Next</a></li>
</ul>