<% provide :title, 'Opinion Target 6760' %><h2>red chicken curry<br />occurrence: 1</h2><div><ol><li>I usually get the red chicken curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6761">Next</a></li>
</ul>