<% provide :title, 'Opinion Target 3903' %><h2>ads<br />occurrence: 1</h2><div><ol><li>Since the ads were telling customers that Herb was spending all his time in Burger Kings, what the fuck was he doing there if he was n't eating burgers ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3904">Next</a></li>
</ul>