<% provide :title, 'Opinion Target 2922' %><h2>melon<br />occurrence: 1</h2><div><ol><li>Apps- Green Salad, pickled bitter melon- they use the Japanese sesame dressing and the salad is not drenched in water therefore it was good, and surprisingly i do n't like bitter melon but this was the only dish I ate most that night its good if you can bear the taste of bitter melon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2921">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2923">Next</a></li>
</ul>