<% provide :title, 'Opinion Target 4983' %><h2>beef lover<br />occurrence: 1</h2><div><ol><li>Being the beef lover I am I often opt for the roast beef with arugula, tomatoes and horseradish mayo on a ciabatta lunga.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4982">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4984">Next</a></li>
</ul>