<% provide :title, 'Opinion Target 1645' %><h2>bar lime<br />occurrence: 2</h2><div><ol><li>I ordered a double amaretto sour ( why do i even bother at these low-brow joints ...) and the bartender agreed to add real lime instead of bar lime.</li><li>Request fresh squeezed lemon if you do n't like bar lime.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1646">Next</a></li>
</ul>