<% provide :title, 'Opinion Target 6120' %><h2>katsu<br />occurrence: 1</h2><div><ol><li>The katsu was good ( served on the side and crunchy), but the udon soup was bland.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6119">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6121">Next</a></li>
</ul>