<% provide :title, 'Opinion Target 2867' %><h2>seafood ratio<br />occurrence: 1</h2><div><ol><li>Seafood pancake was also very good- just the right amount of crispiness and good seafood ratio.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2866">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2868">Next</a></li>
</ul>