<% provide :title, 'Opinion Target 5325' %><h2>mid-age cashier<br />occurrence: 1</h2><div><ol><li>The mid-age cashier was so rude and impatient.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5326">Next</a></li>
</ul>