<% provide :title, 'Opinion Target 6694' %><h2>portions with noodles , rice cakes<br />occurrence: 1</h2><div><ol><li>The portion got even smaller and 3 portions with noodles, rice cakes, and rice were barely filling.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6693">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6695">Next</a></li>
</ul>