<% provide :title, 'Opinion Target 8185' %><h2>kimchi fried rice dish with vegetables<br />occurrence: 1</h2><div><ol><li>Went out for dinner with my boyfriend and I tried a new menu item, it was a kimchi fried rice dish with vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8186">Next</a></li>
</ul>