<% provide :title, 'Opinion Target 6847' %><h2>pork buns<br />occurrence: 1</h2><div><ol><li>They do n't come piping hot like the pork buns but the flaky exterior layer simply makes them oh soo good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6846">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6848">Next</a></li>
</ul>