<% provide :title, 'Opinion Target 5692' %><h2>menu of chicken<br />occurrence: 1</h2><div><ol><li>Extensive menu of chicken, made in all different ways .. makes me hungry just writing about it now.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5693">Next</a></li>
</ul>