<% provide :title, 'Opinion Target 9028' %><h2>ribs and pulled pork<br />occurrence: 1</h2><div><ol><li>This has to be the worst ribs and pulled pork ever !!!!!!!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9029">Next</a></li>
</ul>