<% provide :title, 'Opinion Target 985' %><h2>pan fried onion cake<br />occurrence: 3</h2><div><ol><li>I got stir fry noodles and pan fried onion cake, the noodles were super oily and did n't have much taste and the pan fried onion cake was burnt.</li><li>The Shanghai fired noodles was too soggy and drenched with too much oil, and the pan fried onion cake was just so wrong.</li><li>I usually get the typical items, sweet sour soup, pork dumplings, pan fried onion cake and noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_986">Next</a></li>
</ul>