<% provide :title, 'Opinion Target 5456' %><h2>sliced cucumbers<br />occurrence: 1</h2><div><ol><li>The sliced cucumbers and green onions were not finely sliced/chopped like you see in other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5455">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5457">Next</a></li>
</ul>