<% provide :title, 'Opinion Target 2662' %><h2>dumpling noodle hot pot<br />occurrence: 1</h2><div><ol><li>I always bring some people so that I can order the spicy dumpling noodle hot pot -- they say it serves 2 or 3, but I think it can serve 2-4, depending on your appetite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2661">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2663">Next</a></li>
</ul>