<% provide :title, 'Opinion Target 4482' %><h2>shish tawouk plate<br />occurrence: 1</h2><div><ol><li>She got the shish tawouk plate and it was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4481">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4483">Next</a></li>
</ul>