<% provide :title, 'Opinion Target 2009' %><h2>chop suey<br />occurrence: 2</h2><div><ol><li>I do dislike the fact that they gave me a tiny piece of chicken on a really really big bed of sprouts and basically glorified `` chop suey''.</li><li>The Chop Suey even had some Ground Meat bits inside that was seasoned well and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2008">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2010">Next</a></li>
</ul>