<% provide :title, 'Opinion Target 7748' %><h2>tea ice cream<br />occurrence: 1</h2><div><ol><li>Non-sushi dishes ( e.g. any sort of soup based item or udon) are hit-or-miss, but more of a miss. Green tea ice cream is a nice touch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7749">Next</a></li>
</ul>