<% provide :title, 'Opinion Target 5694' %><h2>korean appies<br />occurrence: 1</h2><div><ol><li>The korean appies were yummy, loose corn is one of my favourite things and a whole plate of mayo loose corn ... heart attack! ( From happiness and yummyness) We also had the calamari, which was breaded perfectly and the squid rings had the perfect texture.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5693">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5695">Next</a></li>
</ul>