<% provide :title, 'Opinion Target 9440' %><h2>silky cotton mixed together<br />occurrence: 1</h2><div><ol><li>The texture is like silky cotton mixed together.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9439">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9441">Next</a></li>
</ul>