<% provide :title, 'Opinion Target 4196' %><h2>lunch portions<br />occurrence: 1</h2><div><ol><li>I find that this is the case because their lunch portions are quite similar to their dinner portions and yet there is a significant price difference.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4197">Next</a></li>
</ul>