<% provide :title, 'Opinion Target 7390' %><h2>apple custard pie<br />occurrence: 1</h2><div><ol><li>I bought an apple custard pie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7389">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7391">Next</a></li>
</ul>