<% provide :title, 'Opinion Target 3030' %><h2>Thai style house pho<br />occurrence: 1</h2><div><ol><li>The Thai style house pho is my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3029">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3031">Next</a></li>
</ul>