<% provide :title, 'Opinion Target 2606' %><h2>guys<br />occurrence: 1</h2><div><ol><li>The guys are nice and friendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2605">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2607">Next</a></li>
</ul>