<% provide :title, 'Opinion Target 1610' %><h2>red dragon rolls<br />occurrence: 2</h2><div><ol><li>He had a black dragon roll ( unagi wrapped, they also had green &amp; red dragon rolls- ca n't remember what they used for the red) &amp; a spicy tuna roll and seemed very pleased.</li><li>I am a huge sushi lover and Ginza is my local sushi stop when I am craving my spicy tuna and red dragon rolls but do not wish to travel across the city.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1611">Next</a></li>
</ul>