<% provide :title, 'Opinion Target 6624' %><h2>poached egg<br />occurrence: 1</h2><div><ol><li>At the Markham location, the cook did n't drain all the water from the poached egg which resulted in soaked ham and soaked english muffin.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6625">Next</a></li>
</ul>