<% provide :title, 'Opinion Target 2709' %><h2>pasta salads<br />occurrence: 1</h2><div><ol><li>They have 2-3 different soups, lots of salads ( not just the lettuce variety, but pasta salads, grains etc), veggies, bread, flatbreads and some desserty items.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2710">Next</a></li>
</ul>