<% provide :title, 'Opinion Target 1413' %><h2>sushi platter<br />occurrence: 2</h2><div><ol><li>We opted for the combination sushi platter with sashimi and everything was incredibly fresh.</li><li>Me and my date shared the small sushi platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1414">Next</a></li>
</ul>