<% provide :title, 'Opinion Target 9523' %><h2>dinner service<br />occurrence: 1</h2><div><ol><li>The dinner service is also not good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9524">Next</a></li>
</ul>