<% provide :title, 'Opinion Target 9651' %><h2>Saag Paneer<br />occurrence: 1</h2><div><ol><li>The Saag Paneer looked about a week old- it was dry and needed salt ... or any kind of flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9650">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9652">Next</a></li>
</ul>