<% provide :title, 'Opinion Target 1546' %><h2>Cheese Empanada<br />occurrence: 2</h2><div><ol><li>The Cheese Empanada has this ooey gooey texture, while the Beef Empanada has a really moist filling.</li><li>Also, the cheese empanada seems to be filled with queso oaxaca, and that makes Renee pleased.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1545">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1547">Next</a></li>
</ul>