<% provide :title, 'Opinion Target 4379' %><h2>egg salad<br />occurrence: 1</h2><div><ol><li>The cream cheese and egg salad are both very delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4380">Next</a></li>
</ul>