<% provide :title, 'Opinion Target 7324' %><h2>Cantonese fried egg noodles<br />occurrence: 1</h2><div><ol><li>The Lobster Fried Noodles is just Chunks of lobster stir fried with ginger and onion and resting atop a bed of Cantonese fried egg noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7325">Next</a></li>
</ul>