<% provide :title, 'Opinion Target 2225' %><h2>fried popcorn chicken<br />occurrence: 1</h2><div><ol><li>My friend ordered the fried popcorn chicken and a waffle w fruit and ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2224">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2226">Next</a></li>
</ul>