<% provide :title, 'Opinion Target 5149' %><h2>fried turnip cubes<br />occurrence: 1</h2><div><ol><li>Next was the fried turnip cubes ( usually a favorite of mine at this place) .... the dish was very substandard compared to what it used to be in the past.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5148">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5150">Next</a></li>
</ul>