<% provide :title, 'Opinion Target 7469' %><h2>fish labrador<br />occurrence: 1</h2><div><ol><li>We decided to get the fish labrador.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7470">Next</a></li>
</ul>