<% provide :title, 'Opinion Target 4716' %><h2>cooling coconut milk<br />occurrence: 1</h2><div><ol><li>It was served with what tasted like a teriyaki-based soy sauce that was sweet and spicy, which was so good I scooped the leftovers from my plate when no one was looking: P The golden curry at a 6 spice was boarderline too spicy for me ( and I 'm a hot sauce on anything you can imagine kind of girl), but was complimented well by the cooling coconut milk that comes as an aftertaste to the initial chili and spice taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4715">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4717">Next</a></li>
</ul>