<% provide :title, 'Opinion Target 1246' %><h2>vegetable<br />occurrence: 3</h2><div><ol><li>The vegetable were fresh.</li><li>-Recommend the the Vegetable Combo Plate with Meat ( $ 12.99).</li><li>My favourite dish here is the Vegetable Soon tofu, and at under $ 10 before taxes and tip, it makes a super cheap meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1247">Next</a></li>
</ul>