<% provide :title, 'Opinion Target 7332' %><h2>fried dough fritters<br />occurrence: 1</h2><div><ol><li>We all tried different types of congee which come in a large bowl ... too much for me to finish and we always get fried dough fritters everywhere we get congee, even at home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7333">Next</a></li>
</ul>