<% provide :title, 'Opinion Target 8561' %><h2>plastic food models<br />occurrence: 1</h2><div><ol><li>I had always wanted to check this place out after I saw the neat looking plastic food models for some of the dishes displayed on window; a common practice which is mostly seen at many Japanese restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8560">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8562">Next</a></li>
</ul>