<% provide :title, 'Opinion Target 5805' %><h2>thai quality<br />occurrence: 1</h2><div><ol><li>The curry itself was missing an authentic thai quality ( i cant explain it), but I would say, it definitely felt like a fusion dish to me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5804">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5806">Next</a></li>
</ul>