<% provide :title, 'Opinion Target 5809' %><h2>: black sesame crepe<br />occurrence: 1</h2><div><ol><li>Muuuuuust have: black sesame crepe! love the ice-cream that comes with it and the sesame filling in the crepe. really really sesame-y! also, plzzz try their sweet potato latte. the foaming is rich and the sweet potato tastes legit. i cant event resist it in hot hot summer LOL. especially when winters coming, drop by and grab a cup of latte. wo n't disappoint you;) One of my favorite things to eat in NYC was Japanese crepe from eight turn crepes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5810">Next</a></li>
</ul>