<% provide :title, 'Opinion Target 8991' %><h2>caramel crunch<br />occurrence: 1</h2><div><ol><li>A little dense for my liking but the caramel crunch gave it a nice flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8990">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8992">Next</a></li>
</ul>