<% provide :title, 'Opinion Target 5714' %><h2>coffee with milk<br />occurrence: 1</h2><div><ol><li>I can be the 2nd one in line and ask for a medium coffee with milk or a french vanilla ( which essentially involves pressing a button) and it takes 2-3 minutes to be served.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5715">Next</a></li>
</ul>