<% provide :title, 'Opinion Target 3049' %><h2>dish names<br />occurrence: 1</h2><div><ol><li>I like how they have dish names stuck on the wall rather than using Menu boards.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3050">Next</a></li>
</ul>