<% provide :title, 'Opinion Target 7589' %><h2>Jerk Chicken special<br />occurrence: 1</h2><div><ol><li>However, I read some good reviews on the oxtail and will give it a try next time! $ 4.99 Jerk Chicken special was worth the price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7590">Next</a></li>
</ul>