<% provide :title, 'Opinion Target 3976' %><h2>fish pate opener<br />occurrence: 1</h2><div><ol><li>The entire meal was fantastic, from the olives and fish pate opener to the main course closer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3977">Next</a></li>
</ul>