<% provide :title, 'Opinion Target 1972' %><h2>black sesame ice cream crepe<br />occurrence: 2</h2><div><ol><li>I recommend the black sesame ice cream crepe, it was tastier than the taro/purple sweet potato one which had little taste.</li><li>I got the black sesame ice cream crepe with a hot chocolate for $ 11.99 special lunch combo and also tried the white chocolate mocha.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1971">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1973">Next</a></li>
</ul>