<% provide :title, 'Opinion Target 5252' %><h2>extra rice cakes<br />occurrence: 1</h2><div><ol><li>We ordered the regular chicken dakgalbi with double cheese, ramen, and extra rice cakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5253">Next</a></li>
</ul>