<% provide :title, 'Opinion Target 6854' %><h2>dim sum places<br />occurrence: 1</h2><div><ol><li>This place is not one of those traditional dim sum places where they are push carts, you 'll have to order from a menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6853">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6855">Next</a></li>
</ul>