<% provide :title, 'Opinion Target 6577' %><h2>Crispy Chicken combo with rice , tofu<br />occurrence: 1</h2><div><ol><li>I ordered the Crispy Chicken combo with rice, tofu, and some veggies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6578">Next</a></li>
</ul>