<% provide :title, 'Opinion Target 7859' %><h2>avocado sushi<br />occurrence: 1</h2><div><ol><li>Both my friend and I ordered a whole list; salmon sushi, avocado sushi, california, spyder, and zuchinni avocado.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7860">Next</a></li>
</ul>