<% provide :title, 'Opinion Target 2602' %><h2>bean salad<br />occurrence: 1</h2><div><ol><li>My guy loves the dressing on the oh-so-deceivingly simple bean salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2603">Next</a></li>
</ul>