<% provide :title, 'Opinion Target 2100' %><h2>shell crab fried rice<br />occurrence: 2</h2><div><ol><li>Dishes we love here: slice fish congee with fried donuts sticks, spicey turnip, soft shell crab fried rice, salted fish fried rice.</li><li>Now, given the choice, I would go to Congee Queen any day of the night if I was given the option because their menu is more diverse but still offers the more traditional dishes but I 've observed that CW is beginning to implement some of CQ 's special menu items now like the Soft Shell Crab Fried Rice ( which I thoroughly enjoy).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2101">Next</a></li>
</ul>