<% provide :title, 'Opinion Target 4624' %><h2>take-out lunch<br />occurrence: 1</h2><div><ol><li>Perfect for take-out lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4623">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4625">Next</a></li>
</ul>