<% provide :title, 'Opinion Target 2991' %><h2>service burger<br />occurrence: 1</h2><div><ol><li>For the CYT ( Create Your Taste, that 's what their new table service burger is called) you first select your bun, two choices, but as it turns out there 's a third choice, you can have your CYT in a lettuce wrap.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2990">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2992">Next</a></li>
</ul>