<% provide :title, 'Opinion Target 4675' %><h2>braised beef<br />occurrence: 1</h2><div><ol><li>Such a wafer-like crispy outer shell to the most juicy, flavorful and tender braised beef inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4676">Next</a></li>
</ul>