<% provide :title, 'Opinion Target 5679' %><h2>green/red peppers<br />occurrence: 1</h2><div><ol><li>The food is pretty bland though, regardless of the plentiful ingredients ( green/red peppers, mushrooms.zucchini, eggplant and chicken.)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5680">Next</a></li>
</ul>