<% provide :title, 'Opinion Target 9196' %><h2>veg tempura<br />occurrence: 1</h2><div><ol><li>Mine had spring rolls, rice, steamed veg, shrimp and veg tempura, and ribs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9197">Next</a></li>
</ul>