<% provide :title, 'Opinion Target 5484' %><h2>Peking Duck dinner<br />occurrence: 1</h2><div><ol><li>$ 36 for a 2 course Peking Duck dinner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5485">Next</a></li>
</ul>