<% provide :title, 'Opinion Target 4100' %><h2>ahi tuna<br />occurrence: 1</h2><div><ol><li>The crab cake and ahi tuna was phenomenal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4101">Next</a></li>
</ul>