<% provide :title, 'Opinion Target 1463' %><h2>tonkatsu<br />occurrence: 2</h2><div><ol><li>The tonkatsu was absolutely terrible.</li><li>The tonkatsu was fried just right and they served it with the typical sauce with some mustard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1462">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1464">Next</a></li>
</ul>