<% provide :title, 'Opinion Target 9609' %><h2>evaporated onion & tomatoes<br />occurrence: 1</h2><div><ol><li>The evaporated onion &amp; tomatoes in the sauce overwhelmed whatever spices used for the curry, and the base of the sauce was flat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9610">Next</a></li>
</ul>