<% provide :title, 'Opinion Target 4444' %><h2>glass if wine<br />occurrence: 1</h2><div><ol><li>Cozy, quaint, authentic, great service and lunch specials with good portions and also licensed so you can enjoy a glass if wine or beer!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4445">Next</a></li>
</ul>