<% provide :title, 'Opinion Target 1496' %><h2>hummas<br />occurrence: 2</h2><div><ol><li>$ 5 for a massive, eggplant, hummas, veggie filled falafel sandwich which is literally bursting out of the pita.</li><li>I enjoy their Schwarma dinner, which includes meat of your choice, Falafel, Tabouleh, Hummas, Babaganoush and PIta bread ... all for approximately $ 14.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1495">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1497">Next</a></li>
</ul>