<% provide :title, 'Opinion Target 6889' %><h2>teppanyaki chefs<br />occurrence: 1</h2><div><ol><li>Service was excellent and the teppanyaki chefs will try to do a couple of tricks for you including the pepper shake trick and the onion volcano.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6888">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6890">Next</a></li>
</ul>