<% provide :title, 'Opinion Target 6406' %><h2>shrimp salad rolls<br />occurrence: 1</h2><div><ol><li>I always get a side of either their shrimp salad rolls or spring rolls too, which go really well with the entrees.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6405">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6407">Next</a></li>
</ul>