<% provide :title, 'Opinion Target 6339' %><h2>cesaer salad<br />occurrence: 1</h2><div><ol><li>The cesaer salad that I loved was way too salty and the lettuce was old.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6340">Next</a></li>
</ul>