<% provide :title, 'Opinion Target 5702' %><h2>goat meat<br />occurrence: 1</h2><div><ol><li>The goat roti was good, but it did n't have enough goat meat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5703">Next</a></li>
</ul>