<% provide :title, 'Opinion Target 3586' %><h2>fruit platter<br />occurrence: 1</h2><div><ol><li>Their crepes, waffles and fruit platter are just as amazing as their lunch menu, or any granola bowl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3585">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3587">Next</a></li>
</ul>