<% provide :title, 'Opinion Target 6884' %><h2>chemicals<br />occurrence: 1</h2><div><ol><li>We immediately started to regret eating here, if it takes such powerful chemicals to clean the place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6885">Next</a></li>
</ul>