<% provide :title, 'Opinion Target 2514' %><h2>eel with rice<br />occurrence: 1</h2><div><ol><li>And do n't forget to try the eel with rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2513">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2515">Next</a></li>
</ul>