<% provide :title, 'Opinion Target 4637' %><h2>vegetables with guacamole and salsa<br />occurrence: 1</h2><div><ol><li>Definitely not up to that standard, but the options of meat and vegetables with guacamole and salsa fit the paleo bill close enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4638">Next</a></li>
</ul>