<% provide :title, 'Opinion Target 3306' %><h2>frog legs<br />occurrence: 1</h2><div><ol><li>The wings looks like frog legs ... the only tiny, shriveled up thing I can compare them to and keep this PG-13.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3307">Next</a></li>
</ul>