<% provide :title, 'Opinion Target 6008' %><h2>mushroom pepper and tomato<br />occurrence: 1</h2><div><ol><li>I paid $ 42 for 2 medium pizzas so with this price I was expecting something decent.while the 4 cheese one ( bomba) was not bad the veggie lover which had spinach, mushroom pepper and tomato was a disaster the whole thing tasted and felt like it was drenched in water.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6009">Next</a></li>
</ul>