<% provide :title, 'Opinion Target 7103' %><h2>difference<br />occurrence: 1</h2><div><ol><li>The difference was negligible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7102">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7104">Next</a></li>
</ul>