<% provide :title, 'Opinion Target 1634' %><h2>lotus leaf<br />occurrence: 2</h2><div><ol><li>The Steamed Chicken wrapped in lotus leaf was a bit disappointing as it was the one dish we were looking forward to the most.</li><li>The chicken tasted ok but was swimming in its own grease as oil from the chinese sausage bled onto the lotus leaf as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1633">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1635">Next</a></li>
</ul>