<% provide :title, 'Opinion Target 7900' %><h2>tofu spicy kimchi<br />occurrence: 1</h2><div><ol><li>Ordered #3 with beef, pork, tofu spicy kimchi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7901">Next</a></li>
</ul>