<% provide :title, 'Opinion Target 1113' %><h2>diners<br />occurrence: 3</h2><div><ol><li>By being out of the way, diners are able to circumvent the rushed atmosphere that spoils so many of the more well-known restaurants in town.</li><li>It 's hard to find genuine, inexpensive and unpretentious diners nowadays, especially in North York.</li><li>There are nice diners, and there are cheap diners, and this one is the latter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1112">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1114">Next</a></li>
</ul>