<% provide :title, 'Opinion Target 5941' %><h2>vegetarian vermicelli noodles ( Bangkok stir fry<br />occurrence: 1</h2><div><ol><li>My vegetarian vermicelli noodles ( Bangkok stir fry) was interestingly presented.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5940">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5942">Next</a></li>
</ul>