<% provide :title, 'Opinion Target 6576' %><h2>beef dip sandwich<br />occurrence: 1</h2><div><ol><li>Meat loaf was dry as was the beef in the beef dip sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6575">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6577">Next</a></li>
</ul>