<% provide :title, 'Opinion Target 2209' %><h2>extra bowl<br />occurrence: 1</h2><div><ol><li>The waitress realized that we were sharing that noodle soup, not only she got us an extra bowl ... she have the extra bowl filled with the broth!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2208">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2210">Next</a></li>
</ul>