<% provide :title, 'Opinion Target 8677' %><h2>patio seating<br />occurrence: 1</h2><div><ol><li>The patio seating is good for those cool summer evenings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8678">Next</a></li>
</ul>