<% provide :title, 'Opinion Target 8899' %><h2>cucumber maki roll<br />occurrence: 1</h2><div><ol><li>We said okay no problem, THEN another 15 minutes later we get our cucumber maki roll and the plate was DIRTY, oily, had fish pieces and mystery crumbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8900">Next</a></li>
</ul>