<% provide :title, 'Opinion Target 3562' %><h2>curtido sauce<br />occurrence: 1</h2><div><ol><li>Take way too long to bring your food, pupusas are n't even that great and the curtido sauce even worse.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3561">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3563">Next</a></li>
</ul>