<% provide :title, 'Opinion Target 6253' %><h2>cheese blintzes<br />occurrence: 1</h2><div><ol><li>P. S. also i suggest the spinach salad, or the cheese blintzes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6254">Next</a></li>
</ul>