<% provide :title, 'Opinion Target 8199' %><h2>grilled chicken meal<br />occurrence: 1</h2><div><ol><li>I had a spicy grilled chicken meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8198">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8200">Next</a></li>
</ul>