<% provide :title, 'Opinion Target 6316' %><h2>beers & wine<br />occurrence: 1</h2><div><ol><li>Also on-site, a full bar stocked with spirits, liqueurs, beers &amp; wine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6315">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6317">Next</a></li>
</ul>