<% provide :title, 'Opinion Target 5480' %><h2>Shanghai fried noodles and General Tso Chicken<br />occurrence: 1</h2><div><ol><li>The service is slow and the decor is delightfully/wildly tacky, but I seriously drive from Etobicoke to have the Shanghai fried noodles and General Tso Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5481">Next</a></li>
</ul>