<% provide :title, 'Opinion Target 7396' %><h2>home-made ice cream<br />occurrence: 1</h2><div><ol><li>I really like the dessert crepes with Asian ingredients and my favs are the Matcha Green Tea and the Black Sesame, which both include home-made ice cream!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7395">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7397">Next</a></li>
</ul>