<% provide :title, 'Opinion Target 6680' %><h2>salad with grilled chicken<br />occurrence: 1</h2><div><ol><li>Had the dip trio platter, Me salad with grilled chicken and falafel plate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6681">Next</a></li>
</ul>