<% provide :title, 'Opinion Target 6665' %><h2>Tofu Table Cooking<br />occurrence: 1</h2><div><ol><li>We decided to try something new today: Tofu Table Cooking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6666">Next</a></li>
</ul>