<% provide :title, 'Opinion Target 9444' %><h2>Lo Bak Gau<br />occurrence: 1</h2><div><ol><li>I absolutely agree with Maple 's comment on the Lo Bak Gau ( below).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9445">Next</a></li>
</ul>