<% provide :title, 'Opinion Target 9238' %><h2>carvings<br />occurrence: 1</h2><div><ol><li>Right in the middle of the ceiling on the upper floor is a huge piece of stained glass that really gives the place a feeling like you 're back in the old days- the restaurant is wood throughout and lots of carvings everywhere; very detailed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9237">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9239">Next</a></li>
</ul>