<% provide :title, 'Opinion Target 4680' %><h2>Pad Thai Shrimp<br />occurrence: 1</h2><div><ol><li>We ordered the Chicken Golden Curry, a Pad Thai Shrimp and a crispy Beef Panang.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4681">Next</a></li>
</ul>