<% provide :title, 'Opinion Target 6483' %><h2>western soy milk<br />occurrence: 1</h2><div><ol><li>It 's something I look for often, because I swear that Chinese soy milk is different from western soy milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6482">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6484">Next</a></li>
</ul>