<% provide :title, 'Opinion Target 3856' %><h2>sushi/sashimi quality<br />occurrence: 1</h2><div><ol><li>The sushi/sashimi quality is fairly good ( some more than others, I guess it depends on the day), the grill items are decent but everything else is ... meh ... the service here is also pretty typical of an AYCE place: slow and unfriendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3855">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3857">Next</a></li>
</ul>