<% provide :title, 'Opinion Target 7126' %><h2>salad starters<br />occurrence: 1</h2><div><ol><li>The soup and salad starters came fairly quickly, but after that it was a waiting game.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7125">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7127">Next</a></li>
</ul>