<% provide :title, 'Opinion Target 5245' %><h2>seafood rice cakes with added cheese<br />occurrence: 1</h2><div><ol><li>Love the chicken and seafood rice cakes with added cheese and ramen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5244">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5246">Next</a></li>
</ul>