<% provide :title, 'Opinion Target 5386' %><h2>hot oil<br />occurrence: 1</h2><div><ol><li>They are vegetarian hand pulled noodles with chili, garlic and hot oil poured on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5387">Next</a></li>
</ul>