<% provide :title, 'Opinion Target 7246' %><h2>onion chicken<br />occurrence: 1</h2><div><ol><li>Green onion chicken has a minimal amount of sauce on top, but is covered with a heaping mound of shredded green onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7247">Next</a></li>
</ul>