<% provide :title, 'Opinion Target 3679' %><h2>Pomme Frit style<br />occurrence: 1</h2><div><ol><li>I would say yes, it 's significantly less salty and it uses the best fries that is n't done Pomme Frit style.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3678">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3680">Next</a></li>
</ul>