<% provide :title, 'Opinion Target 1295' %><h2>Northern Chinese cuisine<br />occurrence: 3</h2><div><ol><li>The Spicy Cold Konjac served here is made by mixing the jello with hot chili oil .. so it is just hot without being spicy .. other places use Sichuan pepper in the mix to give one the numbing, explosive spicy taste which is unique to Northern Chinese cuisine.</li><li>Northern Chinese cuisine.</li><li>The food is very interesting as there are not as much Northern Chinese cuisine other than dumpling houses in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1296">Next</a></li>
</ul>