<% provide :title, 'Opinion Target 6599' %><h2>roast chicken<br />occurrence: 1</h2><div><ol><li>But my favourite is the roast chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6600">Next</a></li>
</ul>