<% provide :title, 'Opinion Target 3692' %><h2>tortillas<br />occurrence: 1</h2><div><ol><li>The meals are huge and have enough taste, tortillas are fresh ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3693">Next</a></li>
</ul>