<% provide :title, 'Opinion Target 5461' %><h2>tea pot<br />occurrence: 1</h2><div><ol><li>We ordered rice that took forever to come and our tea pot was given to another table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5460">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5462">Next</a></li>
</ul>