<% provide :title, 'Opinion Target 5692' %><h2>pasta la vista baby<br />occurrence: 1</h2><div><ol><li>Italian food .. pasta la vista baby !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5691">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5693">Next</a></li>
</ul>