<% provide :title, 'Opinion Target 801' %><h2>Persian food<br />occurrence: 4</h2><div><ol><li>Best Persian food in Ontario, Canada.</li><li>Definitely check this place out if you want to try some authentic Persian food!</li><li>This place is great, if you like to buy good Persian food for cheap.</li><li>Outdated tables and chairs, very dark and unpleasant atmosphere ... the food is by far the worst persian food Ive had .... no taste at all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_800">Previous</a></li>
  <li class="next"><a href=".\opinion_target_802">Next</a></li>
</ul>