<% provide :title, 'Opinion Target 4297' %><h2>kheer<br />occurrence: 1</h2><div><ol><li>Horrible service &amp; their kheer was disgusting service!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4296">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4298">Next</a></li>
</ul>