<% provide :title, 'Opinion Target 3584' %><h2>entree dishes<br />occurrence: 1</h2><div><ol><li>The entree dishes come with salad, rice or fries, and a giant fluffed up pita bread brought piping hot to the table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3585">Next</a></li>
</ul>