<% provide :title, 'Opinion Target 2636' %><h2>chicken fried rice and the lemon chicken<br />occurrence: 1</h2><div><ol><li>We ordered the beef fried cantonese noodles, chicken fried rice and the lemon chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2635">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2637">Next</a></li>
</ul>