<% provide :title, 'Opinion Target 6714' %><h2>Tah<br />occurrence: 1</h2><div><ol><li>The Tah Dig was good, though a big too crunchy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6713">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6715">Next</a></li>
</ul>