<% provide :title, 'Opinion Target 7491' %><h2>Dark meat<br />occurrence: 1</h2><div><ol><li>Next I order the Dark meat Chicken Kebab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7490">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7492">Next</a></li>
</ul>