<% provide :title, 'Opinion Target 6792' %><h2>fish egg<br />occurrence: 1</h2><div><ol><li>GIGANTIC rolls ( 3 bites per roll) and the standard sized square styrofoam had no room for even a fish egg !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6793">Next</a></li>
</ul>