<% provide :title, 'Opinion Target 8749' %><h2>escargot with brie and eggplant<br />occurrence: 1</h2><div><ol><li>I got the escargot with brie and eggplant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8748">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8750">Next</a></li>
</ul>