<% provide :title, 'Opinion Target 5143' %><h2>preserves cabbage<br />occurrence: 1</h2><div><ol><li>I liked that it was hot ( yes, I know I said it already), noodles were a little dry but the sweetness of the preserves cabbage saved it a little bit- place was clean, service was fast ( I went around 5:30-6)- probably it was midtown, prices were jacked up 1-2 dollars compared to uptown.- overall, you 're going to a diner and this place delivered what a Chinese diner needs to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5142">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5144">Next</a></li>
</ul>