<% provide :title, 'Opinion Target 3644' %><h2>beef burger<br />occurrence: 1</h2><div><ol><li>I would actually give South Street the edge as South Street has a pure beef burger whereas Five Guys just as an ever so hint of some kind of filler in the patties.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3645">Next</a></li>
</ul>