<% provide :title, 'Opinion Target 7445' %><h2>eggplant Rogan Josh Palak Panner<br />occurrence: 1</h2><div><ol><li>We ordered samosa, butter chicken, eggplant Rogan Josh Palak Panner.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7444">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7446">Next</a></li>
</ul>