<% provide :title, 'Opinion Target 6286' %><h2>pork burrito<br />occurrence: 1</h2><div><ol><li>As with any burrito place I 'm making a first trip to, I had a pork burrito.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6285">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6287">Next</a></li>
</ul>