<% provide :title, 'Opinion Target 7159' %><h2>appetizer front<br />occurrence: 1</h2><div><ol><li>On the appetizer front, it 's all good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7158">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7160">Next</a></li>
</ul>