<% provide :title, 'Opinion Target 1774' %><h2>Mango Chicken<br />occurrence: 2</h2><div><ol><li>I had to take home my main dish which is by far my staple item every time I go to Spring Rolls- Mango Chicken.</li><li>Wife 's Mango chicken was excellent and the Chicken Basil fried rice was AMAZING.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1773">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1775">Next</a></li>
</ul>