<% provide :title, 'Opinion Target 2599' %><h2>mix of avocado<br />occurrence: 1</h2><div><ol><li>The mix of avocado and the hot salsa just made it work.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2598">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2600">Next</a></li>
</ul>