<% provide :title, 'Opinion Target 3751' %><h2>plastic sheet tablecloth<br />occurrence: 1</h2><div><ol><li>The decor is themed around ' nothing', which is a new contemporary going around like wildfire throughout restaurants in China located in any given hole in whatever wall which exists locally, the plastic sheet tablecloth adds an air of authenticity, in fact, I was impressed by this place even having lights which work, I appreciate that special ... je ne c' est quoi, they really did n't need to go this far, as I am used to much less.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3752">Next</a></li>
</ul>