<% provide :title, 'Opinion Target 2761' %><h2>ginseng taste<br />occurrence: 1</h2><div><ol><li>The samgeytang was n't salty ( there is salt available for you to add), and I was able to enjoy the delicious ginseng taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2762">Next</a></li>
</ul>