<% provide :title, 'Opinion Target 4821' %><h2>pan fried lamb dumplings<br />occurrence: 1</h2><div><ol><li>My favourite items here were the pan fried lamb dumplings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4822">Next</a></li>
</ul>