<% provide :title, 'Opinion Target 3638' %><h2>purple onions<br />occurrence: 1</h2><div><ol><li>The onion ring was a bit better as they used the purple onions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3637">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3639">Next</a></li>
</ul>