<% provide :title, 'Opinion Target 4065' %><h2>pickled cucumber slices<br />occurrence: 1</h2><div><ol><li>The pickled cucumber slices although on the sweet side were also quite good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4064">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4066">Next</a></li>
</ul>