<% provide :title, 'Opinion Target 3711' %><h2>avocado mango tomato salad<br />occurrence: 1</h2><div><ol><li>My favorites include the ginger chicken wraps with asparagus and brie, the refreshing avocado mango tomato salad and if you 're a fan of fried rice, the kitchen manager Jackie makes THE BEST fried rice ever !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3712">Next</a></li>
</ul>