<% provide :title, 'Opinion Target 1950' %><h2>Fry<br />occurrence: 2</h2><div><ol><li>Overall, The Fry was a great introduction to Korean Fried Chicken for me, as I have never tried it before.</li><li>The fry has so much more to offer than what you 'd think.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1949">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1951">Next</a></li>
</ul>