<% provide :title, 'Opinion Target 4416' %><h2>precooked pasta<br />occurrence: 1</h2><div><ol><li>As someone who loves pasta al dente, serving precooked pasta is a big no no for me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4417">Next</a></li>
</ul>