<% provide :title, 'Opinion Target 824' %><h2>schnitzel<br />occurrence: 4</h2><div><ol><li>I usually get the schnitzel sandwiches here, but the last time I came, I found the schnitzel to be quite salty.</li><li>The schnitzel and pork chops were tender and tasty, seasoned and cooked just right.</li><li>I ordered their schnitzel and dumplings and it was divine!</li><li>The reason I would go would be for the schnitzel, which is quite good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_823">Previous</a></li>
  <li class="next"><a href=".\opinion_target_825">Next</a></li>
</ul>