<% provide :title, 'Opinion Target 2951' %><h2>bartendress<br />occurrence: 1</h2><div><ol><li>Did n't really like the snooty/lazy service already ... ' bartendress' behaving as if I 'm some sort of dumb-a $ $ for not knowing all the brands of domestic beer ... maybe i am but I would n't expect a tip if you feel so inclined to talk down to me!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2952">Next</a></li>
</ul>