<% provide :title, 'Opinion Target 5783' %><h2>brownie crepes<br />occurrence: 1</h2><div><ol><li>I ordered the brownie crepes which was pretty good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5782">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5784">Next</a></li>
</ul>