<% provide :title, 'Opinion Target 4255' %><h2>waiter/cashier<br />occurrence: 1</h2><div><ol><li>I do n't know why people complain about the waiter/cashier, he has always been very friendly to me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4254">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4256">Next</a></li>
</ul>