<% provide :title, 'Opinion Target 8650' %><h2>rainbow trout<br />occurrence: 1</h2><div><ol><li>Awesome fish ( rainbow trout,) delicious sides, salads, yogurts, eggplant dishes, and who can forget the freshly baked bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8649">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8651">Next</a></li>
</ul>