<% provide :title, 'Opinion Target 5994' %><h2>discount<br />occurrence: 1</h2><div><ol><li>Today I decided to be adventurous &amp; ordered the philadelphia roll, kamakachi roll, Ginza roll ( came to about $ 22.10 after 10% discount cuz i paid in cash).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5995">Next</a></li>
</ul>