<% provide :title, 'Opinion Target 5480' %><h2>milk tea with pudding<br />occurrence: 1</h2><div><ol><li>I hope they keep opening up more stores! wow this place was packed service was still pretty fast, it was like an assembly line got the milk tea with pudding for $ 4.50 so refreshing and so addicting I 'm glad I do n't live close to one of these places otherwise I will be more fat than I am now and more broke than I am now.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5479">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5481">Next</a></li>
</ul>