<% provide :title, 'Opinion Target 7198' %><h2>rice sausage<br />occurrence: 1</h2><div><ol><li>Tried cow ribs soup ( so small), grilled fish ( I swear the fish weights less than 0.5lb), and rice sausage ( flavour was bland, no seasoning) Not coming here again that 's for sure I came here yesterday with a coworker for a quick lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7199">Next</a></li>
</ul>