<% provide :title, 'Opinion Target 3701' %><h2>Kum Kang<br />occurrence: 1</h2><div><ol><li>Give Kum Kang San a try!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3700">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3702">Next</a></li>
</ul>