<% provide :title, 'Opinion Target 8607' %><h2>ribs egg drop soup<br />occurrence: 1</h2><div><ol><li>Food: I had the short ribs egg drop soup which also comes with a bowl of rice and some complementary cold side dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8608">Next</a></li>
</ul>