<% provide :title, 'Opinion Target 2640' %><h2>BBQ table<br />occurrence: 1</h2><div><ol><li>I especially love their BBQ table cooking and their soups.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2641">Next</a></li>
</ul>