<% provide :title, 'Opinion Target 7224' %><h2>beef broth soup<br />occurrence: 1</h2><div><ol><li>We ordered the hot table bacon for 2, a pork bone soup and a beef broth soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7223">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7225">Next</a></li>
</ul>