<% provide :title, 'Opinion Target 2382' %><h2>pasta with mushroom<br />occurrence: 1</h2><div><ol><li>He made this creamy pasta with mushroom which seemed like nectar from the rains of heaven dripping on to my not so worthy tongue.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2381">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2383">Next</a></li>
</ul>