<% provide :title, 'Opinion Target 6455' %><h2>Spicy calamari<br />occurrence: 1</h2><div><ol><li>Beef Ho Foon, awesome, great wok flavor. perfectly seasoned:) Spicy calamari is a must! spicy turnip YUM we ate alot more .. but my memory is failing me, but I would definately go there again.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6454">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6456">Next</a></li>
</ul>