<% provide :title, 'Opinion Target 8209' %><h2>Bossam<br />occurrence: 1</h2><div><ol><li>The Bossam was better before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8208">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8210">Next</a></li>
</ul>