<% provide :title, 'Opinion Target 8008' %><h2>sauteed vegetables<br />occurrence: 1</h2><div><ol><li>The bibimbap comes out in a sizzling stone bowl with a variety of sauteed vegetables on top of sticky rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8007">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8009">Next</a></li>
</ul>