<% provide :title, 'Opinion Target 3302' %><h2>starter platter<br />occurrence: 1</h2><div><ol><li>The food was amazing, every single thing that we tried from the starter platter, the seafood soup, lobster thermidor ( we visited during the Lobster festival), the chocolate dessert were amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3301">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3303">Next</a></li>
</ul>