<% provide :title, 'Opinion Target 1454' %><h2>cajun<br />occurrence: 2</h2><div><ol><li>The cajun flavour was amazing.</li><li>We ordered cajun dusted shrimp which was oily and not well prepared.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1453">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1455">Next</a></li>
</ul>