<% provide :title, 'Opinion Target 9001' %><h2>lunch everyday<br />occurrence: 1</h2><div><ol><li>I do n't recommend Going at dinner or lunch because the food slides down.doiring dinner and sometimes lunch everyday they have specials that have not very good food for a decent price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9002">Next</a></li>
</ul>