<% provide :title, 'Opinion Target 1765' %><h2>rice cake soup<br />occurrence: 2</h2><div><ol><li>The dumpling and rice cake soup was fantastic with a delicious soup and good dumplings and rice cakes and the spicy fiddlehead soup was hot and flavourful and full of meat and veggies.</li><li>The rice cake soup is so good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1766">Next</a></li>
</ul>