<% provide :title, 'Opinion Target 7739' %><h2>fish morsels<br />occurrence: 1</h2><div><ol><li>It left me full but light, the fish morsels were all the perfect consistency and taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7740">Next</a></li>
</ul>