<% provide :title, 'Opinion Target 6033' %><h2>Vietnamese meat platter rice paper<br />occurrence: 1</h2><div><ol><li>I have never had Vietnamese meat platter rice paper that came with only 4 rice paper to make ur own wrap with!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6032">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6034">Next</a></li>
</ul>