<% provide :title, 'Opinion Target 7732' %><h2>sushi lunch specials<br />occurrence: 1</h2><div><ol><li>Their sushi lunch specials are also delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7731">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7733">Next</a></li>
</ul>