<% provide :title, 'Opinion Target 5829' %><h2>salad/soup course<br />occurrence: 1</h2><div><ol><li>For the salad/soup course I had the Mango Salad, which was a good size and was quite pretty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5828">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5830">Next</a></li>
</ul>