<% provide :title, 'Opinion Target 2985' %><h2>Oxtail dinner<br />occurrence: 1</h2><div><ol><li>Third annoyance: Their portion size for their Oxtail dinner has gone WAYYY down.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2984">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2986">Next</a></li>
</ul>