<% provide :title, 'Opinion Target 811' %><h2>décor<br />occurrence: 4</h2><div><ol><li>The décor is all wrong for a Japanese restaurant, it should be a Moxie 's or something along those lines.</li><li>The décor is nice though, it 's definitely interesting.</li><li>The décor is kitschy but I was n't there for the ambiance.</li><li>Overall I would recommend this place, esp for stews and so on --- the décor could use a bit of an update however.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_810">Previous</a></li>
  <li class="next"><a href=".\opinion_target_812">Next</a></li>
</ul>