<% provide :title, 'Opinion Target 1959' %><h2>strawberry shortcake crepe<br />occurrence: 2</h2><div><ol><li>We ordered the smoked salmon savoury crepe and the strawberry shortcake crepe.</li><li>I 've been here twice now and have had the strawberry shortcake crepe as well as the black sesame crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1960">Next</a></li>
</ul>