<% provide :title, 'Opinion Target 6939' %><h2>halo-halo<br />occurrence: 1</h2><div><ol><li>Their halo-halo is nice to enjoy in the summer and it 's very refreshing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6938">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6940">Next</a></li>
</ul>