<% provide :title, 'Opinion Target 3472' %><h2>koobideh kabob<br />occurrence: 1</h2><div><ol><li>We tried their bath, joojeh ( breast meat) and koobideh kabob as well as kashke-badenjan and mast-mooseer for appetizers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3471">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3473">Next</a></li>
</ul>