<% provide :title, 'Opinion Target 5796' %><h2>iced latte<br />occurrence: 1</h2><div><ol><li>My iced latte was really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5795">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5797">Next</a></li>
</ul>