<% provide :title, 'Opinion Target 9580' %><h2>Singapore curried rice noodle<br />occurrence: 1</h2><div><ol><li>The Singapore curried rice noodle was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9579">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9581">Next</a></li>
</ul>