<% provide :title, 'Opinion Target 2383' %><h2>halibut dinners<br />occurrence: 1</h2><div><ol><li>We both had the halibut dinners, which consisted of a giant piece of halibut over thick, crisp, fresh-cut fries, with a giant portion of ample greek salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2384">Next</a></li>
</ul>