<% provide :title, 'Opinion Target 1425' %><h2>Veal Milanese<br />occurrence: 2</h2><div><ol><li>Best Veal Milanese in the city.</li><li>I had veal milanese with veg, and shared escargot for an appetizer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1424">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1426">Next</a></li>
</ul>