<% provide :title, 'Opinion Target 1804' %><h2>discount<br />occurrence: 2</h2><div><ol><li>I liked the service of this place and the 10% discount when you fb or instagram.</li><li>Today I decided to be adventurous &amp; ordered the philadelphia roll, kamakachi roll, Ginza roll ( came to about $ 22.10 after 10% discount cuz i paid in cash).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1803">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1805">Next</a></li>
</ul>