<% provide :title, 'Opinion Target 3444' %><h2>chicken seekh kabab<br />occurrence: 1</h2><div><ol><li>Beef kabab sucks, but chicken seekh kabab on the other hand is sooooooooooooooooo flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3443">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3445">Next</a></li>
</ul>