<% provide :title, 'Opinion Target 2084' %><h2>eggplant parm<br />occurrence: 2</h2><div><ol><li>About half of us ordered pasta dishes and the other half ordered stuff like sole and eggplant parm.</li><li>The eggplant parm and sole type dishes on the other hand were not good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2085">Next</a></li>
</ul>