<% provide :title, 'Opinion Target 6231' %><h2>Korean Style<br />occurrence: 1</h2><div><ol><li>I found it is a bit sweet. ( Maybe the sweetness is the Korean Style).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6232">Next</a></li>
</ul>