<% provide :title, 'Opinion Target 6442' %><h2>pan fried rice cake<br />occurrence: 1</h2><div><ol><li>Duck 2 ways and the pan fried rice cake were phenomenal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6441">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6443">Next</a></li>
</ul>