<% provide :title, 'Opinion Target 1524' %><h2>sole<br />occurrence: 2</h2><div><ol><li>The sole Korean lady working there was really surprise to see us waltzed into her cafe, as every single patrons here were really young Korean girls and we are either Korean or young The cafe is really small !!</li><li>About half of us ordered pasta dishes and the other half ordered stuff like sole and eggplant parm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1525">Next</a></li>
</ul>