<% provide :title, 'Opinion Target 3683' %><h2>cream & 1 sugar<br />occurrence: 1</h2><div><ol><li>I ca n't stress hooow many times I order the same thing- medium coffee, 2 cream &amp; 1 sugar but my coffee NEVER tastes right.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3682">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3684">Next</a></li>
</ul>