<% provide :title, 'Opinion Target 8445' %><h2>black napkins<br />occurrence: 1</h2><div><ol><li>Service was still the worst- ever- but this time, the black napkins dyed our hands, and faces black.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8444">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8446">Next</a></li>
</ul>