<% provide :title, 'Opinion Target 1711' %><h2>duck breast<br />occurrence: 2</h2><div><ol><li>I took a bite of the duck breast, which to me is the best part of the duck because it 's the meatiest, and I immediately noticed a very moist and tender texture.</li><li>Juicy, thick slices of duck breast cooked to perfection is served in a beautiful red curry filled with bamboo and peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1710">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1712">Next</a></li>
</ul>