<% provide :title, 'Opinion Target 7381' %><h2>not-real filet mignon<br />occurrence: 1</h2><div><ol><li>I 'm not paying $ 42 again to drink watered down lobster bisque and not-real filet mignon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7380">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7382">Next</a></li>
</ul>