<% provide :title, 'Opinion Target 4432' %><h2>GRILLED VEAL TENDERLOIN<br />occurrence: 1</h2><div><ol><li>I thought we 're having Italian), my mom ordered it and it was n't bad + SHRIMP ARRABBIATTA, sister ordered it and it was n't bad either + VEAL PARMESAN, because I wanted something covered in tomato sauce and it was good too ... but I 've tasted better. + broski had the LASAGNA, and it was alright too. + daddyo had the GRILLED VEAL TENDERLOIN, yeah this one was actually really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4433">Next</a></li>
</ul>