<% provide :title, 'Opinion Target 6723' %><h2>baked sesame bread<br />occurrence: 1</h2><div><ol><li>Fresh baked sesame bread straight from the wood oven.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6722">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6724">Next</a></li>
</ul>