<% provide :title, 'Opinion Target 1865' %><h2>seafood sauce<br />occurrence: 2</h2><div><ol><li>Presented on ice in a metal martini glass with fresh horse-raddish, seafood sauce and wedge of lemon.</li><li>No seafood sauce whatever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1864">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1866">Next</a></li>
</ul>