<% provide :title, 'Opinion Target 5645' %><h2>black stone bowls<br />occurrence: 1</h2><div><ol><li>I usually get their half cornish hen stuffed with sticky rice with ginseng soup and it comes with red dates and lots of garlic- it is served boiling on their black stone bowls with a side of purple rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5646">Next</a></li>
</ul>