<% provide :title, 'Opinion Target 1419' %><h2>tataki<br />occurrence: 2</h2><div><ol><li>Apparently their most popular roll is the tataki attack and it lived up to the hype.</li><li>Most notably, they have tataki on the menu and the Beef Tataki was actually quite good!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1420">Next</a></li>
</ul>