<% provide :title, 'Opinion Target 9054' %><h2>corn noodle or potato noodle<br />occurrence: 1</h2><div><ol><li>Spicy cold noodle- I think it 's the corn noodle or potato noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9053">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9055">Next</a></li>
</ul>