<% provide :title, 'Opinion Target 9741' %><h2>freshly-microwaved bacon<br />occurrence: 1</h2><div><ol><li>( Closed Sundays) Love the freshly-microwaved bacon ( LOL) because it is REAL BACON, nice and crisp, not that paper-thin, oddly smoked American fast-food bacon that is popping up everywhere now.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9740">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9742">Next</a></li>
</ul>