<% provide :title, 'Opinion Target 1750' %><h2>Sour soup<br />occurrence: 2</h2><div><ol><li>Hot &amp; Sour soup was quite peppery, but the broth itself was tasted kinda stale and overcooked.</li><li>The spicy sweet and sour soup was tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1749">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1751">Next</a></li>
</ul>