<% provide :title, 'Opinion Target 9132' %><h2>maki vegetarian dinner<br />occurrence: 1</h2><div><ol><li>The maki vegetarian dinner was delicious and I really enjoyed it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9131">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9133">Next</a></li>
</ul>