<% provide :title, 'Opinion Target 3322' %><h2>dinner & drinks<br />occurrence: 1</h2><div><ol><li>I live in downtown Toronto and have a few friends who live further North so we decided to meet up here and have dinner &amp; drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3321">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3323">Next</a></li>
</ul>