<% provide :title, 'Opinion Target 6509' %><h2>Blood Jello ''<br />occurrence: 1</h2><div><ol><li>If it was up to me, I would 've ended up ordering the `` Internal Delicacy'' and `` Blood Jello''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6508">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6510">Next</a></li>
</ul>