<% provide :title, 'Opinion Target 9055' %><h2>tofu chigae<br />occurrence: 1</h2><div><ol><li>I think I 'll be back again and next time, I 'll ask about the soon tofu chigae.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9054">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9056">Next</a></li>
</ul>