<% provide :title, 'Opinion Target 976' %><h2>Chinese chicken salad<br />occurrence: 3</h2><div><ol><li>My go to is always the Chinese chicken salad.</li><li>The Chinese Chicken Salad is excellent, and as a veggie option you can substitute the chicken with shredded cheese ( which is also very good!)</li><li>The only place to get a Chinese chicken salad that is actually good, this little hole in the wall is located in a strip mall at Duffrin and Keele.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_977">Next</a></li>
</ul>