<% provide :title, 'Opinion Target 1833' %><h2>house salad dressing<br />occurrence: 2</h2><div><ol><li>I love the house salad dressing.</li><li>They will give you an assortment of starters ( pickled vegetables) and freshly warmed pita 's and a house salad ( their house salad dressing is wonderful) on arrival.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1834">Next</a></li>
</ul>