<% provide :title, 'Opinion Target 4853' %><h2>fried capelin fishies<br />occurrence: 1</h2><div><ol><li>The tempura were lightly battered and well fried oh and the fried capelin fishies were tasty too with all the fish eggs inside! also and the all the beef dish I ordered ( garlic beef, beef negimaki, beef skewer) were juicy and tender, the grilled squid was very flavourful ( ordered twice!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4852">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4854">Next</a></li>
</ul>