<% provide :title, 'Opinion Target 3949' %><h2>bean sprout plate<br />occurrence: 1</h2><div><ol><li>I finished my meal before he did and they cleared up my bowl pretty quick BUT they also took away the bean sprout plate that came with my boyfriend 's pho- not sure why ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3950">Next</a></li>
</ul>