<% provide :title, 'Opinion Target 1298' %><h2>desert<br />occurrence: 3</h2><div><ol><li>The desert here is really good!</li><li>They have tarts and cappuccino as well for desert which is worth a try. great joint for lunch or diner.</li><li>The desert is also very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1297">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1299">Next</a></li>
</ul>