<% provide :title, 'Opinion Target 3933' %><h2>butter chicken wings<br />occurrence: 1</h2><div><ol><li>Also as an appetizer try the butter chicken wings they are phenomenal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3932">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3934">Next</a></li>
</ul>