<% provide :title, 'Opinion Target 6735' %><h2>Koubideh<br />occurrence: 1</h2><div><ol><li>The Koubideh was YUMMY as was the Barg ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6736">Next</a></li>
</ul>