<% provide :title, 'Opinion Target 1229' %><h2>lunch boxes<br />occurrence: 3</h2><div><ol><li>The lunch boxes came with: salad ( dressing was really flavourful. captured fruity and Asian flavours), mashed potatoes with teriyaki sauce, corn, and spicy mayo, a gyoza, rice.</li><li>I ordered the spicy chicken teriyaki lunch box ( lunch boxes are available from 11am-3pm) which came with meso soup, few maki rolls, rice, salad, and few pieces of fruits ( check the photo below) teriyaki chicken tasted A-OK.</li><li>The menu looked good and we ordered lunch boxes which were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1228">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1230">Next</a></li>
</ul>