<% provide :title, 'Opinion Target 4751' %><h2>Montreal smoked meat sandwich<br />occurrence: 1</h2><div><ol><li>It 's too expensive for what it is, but a good Montreal smoked meat sandwich always hits the spot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4750">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4752">Next</a></li>
</ul>