<% provide :title, 'Opinion Target 4468' %><h2>lamb cabobs<br />occurrence: 1</h2><div><ol><li>The lamb cabobs were overly done and hard to eat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4467">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4469">Next</a></li>
</ul>