<% provide :title, 'Opinion Target 6267' %><h2>old dragon rolls<br />occurrence: 1</h2><div><ol><li>They brought cold and old dragon rolls California rolls were old staff was super rude and Bill was astronomical.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6268">Next</a></li>
</ul>