<% provide :title, 'Opinion Target 5315' %><h2>platter orders<br />occurrence: 1</h2><div><ol><li>When we entered the small joint, they had already made a few large platter orders ( probably placed the order the day before)!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5316">Next</a></li>
</ul>