<% provide :title, 'Opinion Target 6210' %><h2>Vegetable Combo Platter with Meat<br />occurrence: 1</h2><div><ol><li>Got the Vegetable Combo Platter with Meat ( with hummus, baba ghanoush, falafel, tabouli, and shawarma)- also served optionally without meat btw.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6209">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6211">Next</a></li>
</ul>