<% provide :title, 'Opinion Target 1962' %><h2>yam rolls<br />occurrence: 2</h2><div><ol><li>Their yam rolls are filled with all yam, not like other places where they made yam rolls mostly with tempura crunches.</li><li>I tried the yam rolls because I 'm not a fan of fish but it was probably the best sushi I 've gotten anywhere, my boyfriend got the green dragon and he really enjoyed it as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1961">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1963">Next</a></li>
</ul>