<% provide :title, 'Opinion Target 2891' %><h2>Canadian peameal bacon<br />occurrence: 1</h2><div><ol><li>Strawberry Waffles are usually a hit ( PRO-TIP: with Nutella swapped for the custard) as well as the Gargantuan Feast which is just that: 2 eggs, bacon, ham, sausage, Canadian peameal bacon, blueberry pancake and roasted potatoes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2890">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2892">Next</a></li>
</ul>