<% provide :title, 'Opinion Target 3477' %><h2>lamb flavor<br />occurrence: 1</h2><div><ol><li>I was n't particularly a fan of the lime + broth combination, because I found that the lime cut the lamb flavor down, but I can see why it would be appealing to some.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3478">Next</a></li>
</ul>