<% provide :title, 'Opinion Target 5026' %><h2>agedashi tofu ( deep fried tofu<br />occurrence: 1</h2><div><ol><li>There were two pieces of agedashi tofu ( deep fried tofu with a sweet/fishy/savory soy sauce).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5027">Next</a></li>
</ul>