<% provide :title, 'Opinion Target 1105' %><h2>pesto<br />occurrence: 3</h2><div><ol><li>My gf and I love pesto too.</li><li>Merely 10 minutes from picking it up, the pesto became very oily and the chicken was a bit dry.</li><li>One of the waiters almost bent over backwards for us, accommodating our very particular pizza preferences ( we wanted half the pizza with marinara and half with pesto), attentively refilling our waters and bread baskets, and just all around ensuring our dining experience was a good one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1104">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1106">Next</a></li>
</ul>