<% provide :title, 'Opinion Target 1540' %><h2>red bean soup<br />occurrence: 3</h2><div><ol><li>The house dessert on the other hand was disappointing, red bean soup worth purple rice and tapioca.</li><li>We did get the red bean soup in the end which was nice, but the overall experience was n't great.</li><li>Service is quite good Food: come in large portions with a very reasonable price They give you free red bean soup as dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1541">Next</a></li>
</ul>