<% provide :title, 'Opinion Target 4315' %><h2>taro milk<br />occurrence: 1</h2><div><ol><li>The taro milk here is by far the best I 've had, it does not taste like fake powder and there are taro pieces.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4316">Next</a></li>
</ul>