<% provide :title, 'Opinion Target 4915' %><h2>pepper shrimp and plantains<br />occurrence: 1</h2><div><ol><li>Killer pepper shrimp and plantains with a side of coconut ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4914">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4916">Next</a></li>
</ul>