<% provide :title, 'Opinion Target 3535' %><h2>beef patty sandwich<br />occurrence: 1</h2><div><ol><li>I finished the entire sandwich before I could take a breath ( Jerk chicken sandwich with coleslaw in it on coco bread) and then decided to split a beef patty sandwich even though I was already too full ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3534">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3536">Next</a></li>
</ul>