<% provide :title, 'Opinion Target 7740' %><h2>hot meals<br />occurrence: 1</h2><div><ol><li>Their hot meals are usually good however their sushi and sashimi is lackluster.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7739">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7741">Next</a></li>
</ul>