<% provide :title, 'Opinion Target 7470' %><h2>chocolate designs<br />occurrence: 1</h2><div><ol><li>No crust, just couple of pistachios here and there, i honestly do n't taste anything-no cheese, no pistachio, just ... cream ? not my kind of cheesecake. nice chocolate designs though. overall, i find the desserts meh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7471">Next</a></li>
</ul>