<% provide :title, 'Opinion Target 1068' %><h2>grilled octopus<br />occurrence: 3</h2><div><ol><li>The grilled octopus is da bomb.</li><li>After helping us with the grilled octopus, she looked at me and pointed at the it.I think she tried to tell me that: `` The octopus is ready you can eat it now.''</li><li>We order crab soup and grilled octopus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1067">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1069">Next</a></li>
</ul>