<% provide :title, 'Opinion Target 4592' %><h2>Tom<br />occurrence: 1</h2><div><ol><li>The Tom Yum was the most amazing I ever had wonderful sweetness and sourness!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4591">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4593">Next</a></li>
</ul>