<% provide :title, 'Opinion Target 4537' %><h2>lamb skewer combo<br />occurrence: 1</h2><div><ol><li>Came in and picked up a beef and lamb skewer combo and some persian sweets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4536">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4538">Next</a></li>
</ul>