<% provide :title, 'Opinion Target 968' %><h2>chicken shawarma laffa wrap<br />occurrence: 4</h2><div><ol><li>We ordered the grilled chicken dark skewers box with fries and a ME salad and a chicken shawarma laffa wrap.</li><li>My chicken shawarma laffa wrap was also very good.</li><li>We ordered the Chicken Shawarma Laffa Wrap to share and chicken lentil soup.</li><li>I tried the Chicken Shawarma laffa wrap with a side of falafels.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_967">Previous</a></li>
  <li class="next"><a href=".\opinion_target_969">Next</a></li>
</ul>