<% provide :title, 'Opinion Target 9065' %><h2>BBQ combos<br />occurrence: 1</h2><div><ol><li>Just from looking at the menu, you can tell this place is authentic, and about half of it is BBQ combos, drink combos, etc ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9064">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9066">Next</a></li>
</ul>