<% provide :title, 'Opinion Target 8627' %><h2>protein ( chicken<br />occurrence: 1</h2><div><ol><li>The protein ( chicken, lamb, beef) are 4-star restaurant quality.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8626">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8628">Next</a></li>
</ul>