<% provide :title, 'Opinion Target 4949' %><h2>pork sinigang<br />occurrence: 1</h2><div><ol><li>Their pork sinigang looked amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4950">Next</a></li>
</ul>