<% provide :title, 'Opinion Target 4484' %><h2>beef shawarma roll and fatoush salad<br />occurrence: 1</h2><div><ol><li>I like their beef shawarma roll and fatoush salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4483">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4485">Next</a></li>
</ul>