<% provide :title, 'Opinion Target 1804' %><h2>white rice<br />occurrence: 2</h2><div><ol><li>The white rice was the best portion of the meal, honestly.</li><li>The white rice was tasty as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1803">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1805">Next</a></li>
</ul>