<% provide :title, 'Opinion Target 6695' %><h2>Korean hot pot<br />occurrence: 1</h2><div><ol><li>Quite honestly I would go to other places for the Korean hot pot as I really do n't think Joons is worth it anymore.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6696">Next</a></li>
</ul>