<% provide :title, 'Opinion Target 4628' %><h2>served with whipped cream<br />occurrence: 1</h2><div><ol><li>Best Veal in town!: hell yea! tenderized, and full of flavor, not excessively breaded, not chewy, just perfecto! served with the al-dente spaghetti and marinara! que belissima! 4.5/5 Tartufo! 4/5 chocolata served with whipped cream, and crackers ..... great way to end off the dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4627">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4629">Next</a></li>
</ul>