<% provide :title, 'Opinion Target 1346' %><h2>shish tawouk<br />occurrence: 3</h2><div><ol><li>We went with the chicken tabliyeh Saj wrap and a mixed combo platter which and assortment of items that included: beef and chicken shawarma, kofta, beef skewer and shish tawouk.</li><li>Although the shish tawouk was fresh and juicy and you got 2 skewers of chicken breast.</li><li>Paramount serves up some good tasting Middle Eastern Food, including some popular and familiar dishes, like shawarma, falafel, lentil soup, shish tawouk ( shish kabob), and more.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1347">Next</a></li>
</ul>