<% provide :title, 'Opinion Target 3170' %><h2>bean salad<br />occurrence: 1</h2><div><ol><li>My guy loves the dressing on the oh-so-deceivingly simple bean salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3169">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3171">Next</a></li>
</ul>