<% provide :title, 'Opinion Target 1974' %><h2>lunch prices<br />occurrence: 2</h2><div><ol><li>When this place first opened up, lunch prices started at $ 12.99 per person.</li><li>Lunch prices are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1973">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1975">Next</a></li>
</ul>