<% provide :title, 'Opinion Target 7910' %><h2>medium boiled egg<br />occurrence: 1</h2><div><ol><li>So yes eat around it and at the end you have this perfectly delicious medium boiled egg to enjoy that does n't disrupt your soup!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7911">Next</a></li>
</ul>