<% provide :title, 'Opinion Target 1931' %><h2>beef bulgogi<br />occurrence: 2</h2><div><ol><li>I was n't a fan of their beef bulgogi, as I found the meat to be very tough and chewy, but I 've had no other problems.</li><li>If your feeling jewy, ( yes i said jewy), I highly recommend the L.A. short ribs or the beef bulgogi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1930">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1932">Next</a></li>
</ul>