<% provide :title, 'Opinion Target 3078' %><h2>korean style bingsoo<br />occurrence: 1</h2><div><ol><li>This place has very good korean style bingsoo ( shaved ice).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3077">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3079">Next</a></li>
</ul>