<% provide :title, 'Opinion Target 6518' %><h2>spice & pepper salt squid<br />occurrence: 1</h2><div><ol><li>The two of us ordered the crispy cantonese chow mein, fried chili turnip patties, spice &amp; pepper salt squid, and the dish behind the house super bowl congee in the picture ( ca n't remember what it was called).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6517">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6519">Next</a></li>
</ul>