<% provide :title, 'Opinion Target 4786' %><h2>banana fritters<br />occurrence: 1</h2><div><ol><li>Food comes out randomly which sometimes works and sometimes does n't. .. like when we got the banana fritters ( dessert) before the spicy crab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4785">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4787">Next</a></li>
</ul>