<% provide :title, 'Opinion Target 1623' %><h2>woman<br />occurrence: 2</h2><div><ol><li>The woman who was the server came to our table to ask if everything was okay and we both kinda hesitated to answer her because everything really was n't okay at all.</li><li>2) Never argue with a woman who has a visible tattoo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1624">Next</a></li>
</ul>