<% provide :title, 'Opinion Target 7109' %><h2>seating arrangements<br />occurrence: 1</h2><div><ol><li>Food came in a reasonable time, the only negative I dislike about this location is the seating arrangements are very cramped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7110">Next</a></li>
</ul>