<% provide :title, 'Opinion Target 8523' %><h2>Penne dish<br />occurrence: 1</h2><div><ol><li>The Penne dish was an all around enjoyable dish that I would recommend to anyone craving a lightly flavored, heavier cream sauce with their pasta- it 's a safe bet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8524">Next</a></li>
</ul>