<% provide :title, 'Opinion Target 7863' %><h2>salmon sampler<br />occurrence: 1</h2><div><ol><li>Try the salmon sampler ` L ' meal with salmon sashimi, sushi, salmon dynamite, and a salmon handroll for $ 7.50.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7862">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7864">Next</a></li>
</ul>