<% provide :title, 'Opinion Target 7250' %><h2>fried chicken with green onion and fish cake soup<br />occurrence: 1</h2><div><ol><li>We ordered larger fried chicken with green onion and fish cake soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7251">Next</a></li>
</ul>