<% provide :title, 'Opinion Target 6654' %><h2>Dak Gal<br />occurrence: 1</h2><div><ol><li>The Dak Gal Bee came shortly after and despite all the other reviews it was a good portion size for two people, an overall heavy dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6653">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6655">Next</a></li>
</ul>