<% provide :title, 'Opinion Target 7354' %><h2>brisket soup noodle<br />occurrence: 1</h2><div><ol><li>The beef tendon and brisket soup noodle was fairly standard.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7353">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7355">Next</a></li>
</ul>