<% provide :title, 'Opinion Target 7495' %><h2>breakfast sausage cheese<br />occurrence: 1</h2><div><ol><li>I ordered the soup of the day ( beef macaroni) for the baby she loved it and so did I. I ordered the breakfast poutine which was home fries covered in cut up breakfast sausage cheese and gravy with 2 eggs any style on the top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7496">Next</a></li>
</ul>