<% provide :title, 'Opinion Target 3666' %><h2>shells<br />occurrence: 1</h2><div><ol><li>Their shells are also fresh made and make all the difference.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3665">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3667">Next</a></li>
</ul>