<% provide :title, 'Opinion Target 3814' %><h2>sole<br />occurrence: 1</h2><div><ol><li>The sole Korean lady working there was really surprise to see us waltzed into her cafe, as every single patrons here were really young Korean girls and we are either Korean or young The cafe is really small !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3813">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3815">Next</a></li>
</ul>