<% provide :title, 'Opinion Target 6809' %><h2>soy sauce dispenser<br />occurrence: 1</h2><div><ol><li>Our table was still a bit sticky and the soy sauce dispenser was empty ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6808">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6810">Next</a></li>
</ul>