<% provide :title, 'Opinion Target 7530' %><h2>red hemp pepper<br />occurrence: 1</h2><div><ol><li>My favorite is the red hemp pepper.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7529">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7531">Next</a></li>
</ul>