<% provide :title, 'Opinion Target 3994' %><h2>pizza spot<br />occurrence: 1</h2><div><ol><li>Great little pizza spot hiding next to Wendys in the same plaza as the Kelseys and Coras.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3995">Next</a></li>
</ul>