<% provide :title, 'Opinion Target 3285' %><h2>front doors<br />occurrence: 1</h2><div><ol><li>Only thing that is sad to see is how they are an italian restaurant but have the front doors to the restaurant painted as the italian flag- but backwards.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3284">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3286">Next</a></li>
</ul>