<% provide :title, 'Opinion Target 5409' %><h2>Kung Pao<br />occurrence: 1</h2><div><ol><li>Our friends ordered Kung Pao Shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5408">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5410">Next</a></li>
</ul>