<% provide :title, 'Opinion Target 1298' %><h2>powder<br />occurrence: 3</h2><div><ol><li>I 'm a sucker for the rice/grain powder and the rice cakes, so I quite enjoyed it.</li><li>I could n't taste the powder .... def not a dodgy bbt shop:).</li><li>I could taste the different, the flavours are crisp/strong/ and fresh and I like the fact they dont use powder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1297">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1299">Next</a></li>
</ul>