<% provide :title, 'Opinion Target 1921' %><h2>meat portion<br />occurrence: 2</h2><div><ol><li>You ge two large pieces of chicken kabob and although the meat portion is pretty large I found myself still not fully satisfied in terms of the fullness of my belly;) I got my meal to go and had to wait a little less than 10 minutes.</li><li>The broth was good, the noodles seemed fresh, meat portion was decent. good sign What lacked was the portion sizes were smaller than the typical Pho restaurant and side dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1920">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1922">Next</a></li>
</ul>