<% provide :title, 'Opinion Target 3787' %><h2>green tea bingsu<br />occurrence: 1</h2><div><ol><li>We got the green tea bingsu which was n't bad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3786">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3788">Next</a></li>
</ul>