<% provide :title, 'Opinion Target 5457' %><h2>lettuce wraps with minced pork<br />occurrence: 1</h2><div><ol><li>We also had fried tofu, lettuce wraps with minced pork and nuts, and gai lan with garlic.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5456">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5458">Next</a></li>
</ul>