<% provide :title, 'Opinion Target 3040' %><h2>sliced apples<br />occurrence: 1</h2><div><ol><li>For that you get sparsely sliced apples i think 4 in total, with a nice hearty bread and the stated cheese nicely melted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3039">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3041">Next</a></li>
</ul>