<% provide :title, 'Opinion Target 5632' %><h2>Spicy Fried Chicken<br />occurrence: 1</h2><div><ol><li>Verdict: ~ Everything is as good as always, there 's a reason I have been coming back for years. ~ My faves are the Pork Belly BBQ, the Kang Poon Kee ( Spicy Fried Chicken) &amp; Jook Sam Kyup Sal, especially with the added rice at the end. ~ Ca n't wait to come back for patio season.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5631">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5633">Next</a></li>
</ul>