<% provide :title, 'Opinion Target 3231' %><h2>jams<br />occurrence: 1</h2><div><ol><li>They have a great great line up of imported jams, jellies and cookies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3230">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3232">Next</a></li>
</ul>