<% provide :title, 'Opinion Target 3908' %><h2>ox tail stew in peanut sauce<br />occurrence: 1</h2><div><ol><li>Kare kare, an ox tail stew in peanut sauce, mixed with green beans and chunks of eggplant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3907">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3909">Next</a></li>
</ul>