<% provide :title, 'Opinion Target 3403' %><h2>bell peppers<br />occurrence: 1</h2><div><ol><li>My side of ' seasonal veggies' was overcooked, and the bell peppers were too soft and with no crunch to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3402">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3404">Next</a></li>
</ul>