<% provide :title, 'Opinion Target 6748' %><h2>rolls of course<br />occurrence: 1</h2><div><ol><li>The take out was very fast and cheap and the rolls of course were huge!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6747">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6749">Next</a></li>
</ul>