<% provide :title, 'Opinion Target 2058' %><h2>pork strip rice paper roll<br />occurrence: 2</h2><div><ol><li>I ordered #3 and my dad ordered #6 ( see Yvonne T 's photos for descriptions), and we also added a pork strip rice paper roll.</li><li>The pork strip rice paper roll was average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2057">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2059">Next</a></li>
</ul>