<% provide :title, 'Opinion Target 9503' %><h2>chicken Chao mian ( fried noodles<br />occurrence: 1</h2><div><ol><li>The chicken Chao mian ( fried noodles) with Chinese vegetables and fried rice dishes were so good as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9502">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9504">Next</a></li>
</ul>