<% provide :title, 'Opinion Target 1423' %><h2>strawberry cheesecake<br />occurrence: 3</h2><div><ol><li>If it were any dimmer, I 'm sure I would have mistaken it as a pub. There was a photo of this gorgeous strawberry cheesecake exploding in strawberries.</li><li>I loved my strawberry cheesecake waffle. the waffle was soft but crispy on the outside, perfectly cooked ( some places always overcook them), the little cheesecake pieces with the fruits and ice-cream went very well together.</li><li>I could n't forget their dessert so we shared a strawberry cheesecake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1422">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1424">Next</a></li>
</ul>