<% provide :title, 'Opinion Target 4767' %><h2>kaiser bun<br />occurrence: 1</h2><div><ol><li>The large cornbeef sandwich with the kaiser bun was amazing ... the cabbage roll was huge but too sweet .. the chicken noodle soup had good flavor but no chicken .. just noodles ..</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4768">Next</a></li>
</ul>