<% provide :title, 'Opinion Target 2152' %><h2>meat sandwich<br />occurrence: 2</h2><div><ol><li>Delicious meat sandwich.</li><li>Opening a montreal smoked meat sandwich kind of shocks me a bit every time I order one.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2151">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2153">Next</a></li>
</ul>