<% provide :title, 'Opinion Target 6523' %><h2>barbecued duck and pork<br />occurrence: 1</h2><div><ol><li>The barbecued duck and pork is made with some kind of hint of anise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6524">Next</a></li>
</ul>