<% provide :title, 'Opinion Target 3185' %><h2>hummus plate<br />occurrence: 1</h2><div><ol><li>The hummus plate is probably the best hummus I have had anywhere.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3186">Next</a></li>
</ul>