<% provide :title, 'Opinion Target 5303' %><h2>tempura chef<br />occurrence: 1</h2><div><ol><li>The tempura chef did an amazing job because some places drown the shrimp, causing it to soak up the oil which does not make for a delicious treat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5302">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5304">Next</a></li>
</ul>