<% provide :title, 'Opinion Target 5659' %><h2>veal chop frenched<br />occurrence: 1</h2><div><ol><li>The gf ordered the Tiger Shrimp ( $ 39) entree while I had the veal chop frenched ( $ 35).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5658">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5660">Next</a></li>
</ul>