<% provide :title, 'Opinion Target 2936' %><h2>steamed tiger shrimp rice roll<br />occurrence: 1</h2><div><ol><li>Their steamed tiger shrimp rice roll ( DS31) was outright insulting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2935">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2937">Next</a></li>
</ul>