<% provide :title, 'Opinion Target 6284' %><h2>vegetarian burrito<br />occurrence: 1</h2><div><ol><li>I had a vegetarian burrito yesterday, it was completely tasteless.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6283">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6285">Next</a></li>
</ul>