<% provide :title, 'Opinion Target 4541' %><h2>cooking oil<br />occurrence: 1</h2><div><ol><li>The cooking oil used seems to be a higher quality or is changed more frequently.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4542">Next</a></li>
</ul>