<% provide :title, 'Opinion Target 3178' %><h2>meat selections and salad and rice<br />occurrence: 1</h2><div><ol><li>On average they will have two or three different meat selections and salad and rice, after its gone they close down for the day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3179">Next</a></li>
</ul>