<% provide :title, 'Opinion Target 3388' %><h2>chicken stuffed with sticky rice and chestnuts<br />occurrence: 1</h2><div><ol><li>I mean really!- it 's a whole young chicken stuffed with sticky rice and chestnuts.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3387">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3389">Next</a></li>
</ul>