<% provide :title, 'Opinion Target 1577' %><h2>lunch rush<br />occurrence: 2</h2><div><ol><li>Service was okay as well considering it was a lunch rush.</li><li>So I definitely recommend coming earlier or later to avoid the lunch rush, 11:30 is a good time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1576">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1578">Next</a></li>
</ul>