<% provide :title, 'Opinion Target 1998' %><h2>specials everyday<br />occurrence: 2</h2><div><ol><li>They have specials everyday and in case you 're wondering, Tuesday is wing night where you can get a pound with fries for $ 6.99.</li><li>They have specials everyday which are a good deal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1997">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1999">Next</a></li>
</ul>