<% provide :title, 'Opinion Target 3052' %><h2>Sichuan cuisine<br />occurrence: 1</h2><div><ol><li>We both love authentic Sichuan cuisine, one of the eight cuisines in China.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3051">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3053">Next</a></li>
</ul>