<% provide :title, 'Opinion Target 6021' %><h2>Beef Satay Noodle<br />occurrence: 1</h2><div><ol><li>FOOD: The menu was fairly consistent with what you expect from any Pho place, so I went with a `` Beef Satay Noodle Soup'' and a HK style tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6020">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6022">Next</a></li>
</ul>