<% provide :title, 'Opinion Target 5772' %><h2>usual fried banana and mango ice creams<br />occurrence: 1</h2><div><ol><li>The usual fried banana and mango ice creams.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5773">Next</a></li>
</ul>