<% provide :title, 'Opinion Target 7483' %><h2>fresh naan<br />occurrence: 1</h2><div><ol><li>The fresh naan was good but nothing to brag about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7482">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7484">Next</a></li>
</ul>