<% provide :title, 'Opinion Target 4885' %><h2>cream flavours<br />occurrence: 1</h2><div><ol><li>Their other ice cream flavours are mango, red bean, and vanilla.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4884">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4886">Next</a></li>
</ul>