<% provide :title, 'Opinion Target 2688' %><h2>tea with boba , minced pork rice<br />occurrence: 1</h2><div><ol><li>We ordered one of the lunch combos offered which features a sweet tea with boba, minced pork rice, and a little dessert cake ( bite size).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2687">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2689">Next</a></li>
</ul>