<% provide :title, 'Opinion Target 1568' %><h2>seated<br />occurrence: 2</h2><div><ol><li>This year, after booking reservation a month ahead, and noting them that we were there to celebrate our 1st year wedding anniversary which was very significant to us, and to please seat us somewhere nice like last year, we ended up being seated right beside the bar, near the washroom.</li><li>The two dishes she brought first were mine and the girl sitting across from me, us being seated furthest away from her.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1569">Next</a></li>
</ul>