<% provide :title, 'Opinion Target 4543' %><h2>green chilli peppers<br />occurrence: 1</h2><div><ol><li>It definitely was .. you eat it with a piece of Mieng Kum leaf imported straight from Thailand and take a spoonful of each ingredient, such as shallots, coconut shavings, fresh green chilli peppers, limes, roasted peanuts, and small dried shrimps.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4542">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4544">Next</a></li>
</ul>