<% provide :title, 'Opinion Target 4395' %><h2>pasta with shrimp and pesto<br />occurrence: 1</h2><div><ol><li>Pasta with mushrooms and red sauce, or pasta with shrimp and pesto, etc.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4394">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4396">Next</a></li>
</ul>