<% provide :title, 'Opinion Target 3207' %><h2>Chicken Cobb<br />occurrence: 1</h2><div><ol><li>The Chicken Cobb salad has all the components of a good salad with fresh ingredients, complementary dressing ( this one had a bit of a kick from a hint of mustard) and filled my tummy up.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3206">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3208">Next</a></li>
</ul>