<% provide :title, 'Opinion Target 9165' %><h2>famous dill ranch dip<br />occurrence: 1</h2><div><ol><li>The food here is great ( for bar food) and their famous dill ranch dip is simply amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9164">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9166">Next</a></li>
</ul>