<% provide :title, 'Opinion Target 4527' %><h2>fat whip cream<br />occurrence: 1</h2><div><ol><li>Such awful customer service here, and it 'd be faster if I ordered a double shot latte, with soy, 130 degrees with low fat whip cream from Starbucks than trying to order a coffee here.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4528">Next</a></li>
</ul>