<% provide :title, 'Opinion Target 3206' %><h2>coke<br />occurrence: 1</h2><div><ol><li>My beef gyro was excellent, side Greek salad was awesome and the coke was. ... well a coke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3205">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3207">Next</a></li>
</ul>