<% provide :title, 'Opinion Target 1291' %><h2>pistachio buttercream cake<br />occurrence: 3</h2><div><ol><li>Today, I decided to order the salmon crepe as well as a pistachio buttercream cake- beyond yumminess!</li><li>It wasnt long before we ordered and we ordered the Pistachio Buttercream Cake and the Green Tea Crepe.</li><li>The pistachio buttercream cake was very much like a napolean/ opera cake to me for some reason.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1290">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1292">Next</a></li>
</ul>