<% provide :title, 'Opinion Target 3959' %><h2>peas n rice<br />occurrence: 1</h2><div><ol><li>They gave a heaping amount of the peas n rice which I am very happy with!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3960">Next</a></li>
</ul>