<% provide :title, 'Opinion Target 1148' %><h2>coconut rice<br />occurrence: 4</h2><div><ol><li>The coconut rice tastes rich and fatty like it 's cooked with a bit of coconut oil.</li><li>The coconut rice was tasty, but I do n't think I will be ordering here again as I was hit with what I assume to be food poisoning 2 hours later.</li><li>I 've had the Thai green curry which was really good but a little too sweet for my taste, the Tom yum was delicious and so was the coconut rice.</li><li>We also grabbed the coconut rice as a side and it was delicious, worth a try for sure!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1149">Next</a></li>
</ul>