<% provide :title, 'Opinion Target 1680' %><h2>pork pieces<br />occurrence: 2</h2><div><ol><li>Vegetables still had a crunch to it, very good bagoong, and the crispy pork pieces were a good addition.The lumpia, was pretty average.</li><li>The ramen was spicy and the pork pieces were melt in your mouth delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1681">Next</a></li>
</ul>