<% provide :title, 'Opinion Target 1980' %><h2>matcha green tea crepe<br />occurrence: 2</h2><div><ol><li>I shared the matcha green tea crepe with my friend and we both thought it was really delicious!</li><li>In the end we got a matcha green tea crepe and a black sesame crepe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1979">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1981">Next</a></li>
</ul>