<% provide :title, 'Opinion Target 6649' %><h2>chicken and seafood dak gal bee<br />occurrence: 1</h2><div><ol><li>My friend and I shared the chicken and seafood dak gal bee with the Joon 's original sauce and cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6648">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6650">Next</a></li>
</ul>