<% provide :title, 'Opinion Target 8987' %><h2>pasta and burgers<br />occurrence: 1</h2><div><ol><li>Also have tried the pasta and burgers are they are delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8988">Next</a></li>
</ul>