<% provide :title, 'Opinion Target 1494' %><h2>icing sugar<br />occurrence: 3</h2><div><ol><li>It 's a really simple crepe dish topped with sweet potato ice cream, syrup, icing sugar, almonds and whipped cream.</li><li>I was in the area after an interview and trying to decide what to eat ... ( Jeopardy Theme) Suddenly, I had a memory of home, mom making crepes and us kids, drizzling, spreading, sprinkling, packing them with sweet syrup, chocolate chips, icing sugar, fruit, whip topping.</li><li>Chocolate sauce and icing sugar made everything swallow down nicely though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1493">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1495">Next</a></li>
</ul>