<% provide :title, 'Opinion Target 2413' %><h2>tiramisu cake<br />occurrence: 2</h2><div><ol><li>As much as my mom loves their tiramisu cake, I will go elsewhere next time.</li><li>My bff bought a tiramisu cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2414">Next</a></li>
</ul>