<% provide :title, 'Opinion Target 7438' %><h2>buttered chicken<br />occurrence: 1</h2><div><ol><li>The food came relatively fast, and the buttered chicken was served on a sizzling plate with onions that surprisingly was n't burnt.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7437">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7439">Next</a></li>
</ul>