<% provide :title, 'Opinion Target 4883' %><h2>grilled flounder<br />occurrence: 1</h2><div><ol><li>The one food that really stood out to me was the grilled flounder and the scallop sashimi!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4882">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4884">Next</a></li>
</ul>