<% provide :title, 'Opinion Target 4541' %><h2>crusted beef panang curry<br />occurrence: 1</h2><div><ol><li>I 'm never disappointed by the food here, especially the crusted beef panang curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4540">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4542">Next</a></li>
</ul>