<% provide :title, 'Opinion Target 3527' %><h2>cold noodle<br />occurrence: 1</h2><div><ol><li>The cold noodle was ok, but nothing compared to ChoSunOk ( if you want specifically naengmyeon).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3526">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3528">Next</a></li>
</ul>