<% provide :title, 'Opinion Target 1400' %><h2>Unagi roll<br />occurrence: 3</h2><div><ol><li>Unagi roll was also good.</li><li>I do particularly like their spider rolls ( both quantity AND quality) and the unagi roll.</li><li>My coworkers later ordered the unagi roll and the moon river.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1401">Next</a></li>
</ul>