<% provide :title, 'Opinion Target 2766' %><h2>young chicken stuffed with ginseng<br />occurrence: 1</h2><div><ol><li>We usually order the Koryo Samgyetang, whole young chicken stuffed with ginseng, sticky rice, Korean dates, chestnut and herbs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2767">Next</a></li>
</ul>