<% provide :title, 'Opinion Target 2076' %><h2>hosts<br />occurrence: 2</h2><div><ol><li>Great hosts ( Simon &amp; Peter).</li><li>First, the two gentleman hosts were not here to greet us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2075">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2077">Next</a></li>
</ul>