<% provide :title, 'Opinion Target 1230' %><h2>booth seats<br />occurrence: 3</h2><div><ol><li>We ordered a sashimi sushi dinner set, and also a specialty maki ( california roll with spicy salmon on top), very very tasty! nice atmosphere, especially we got the booth seats they had a full alcohol bar. long list of alcohol and wine, but we did n't order any of those this time. price was a little bit too pricy, but the quality of food worths it!</li><li>Plus theres the comfy booth seats!</li><li>The decor is plain and comfortable, and the booth seats are a little too squishy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1229">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1231">Next</a></li>
</ul>