<% provide :title, 'Opinion Target 1060' %><h2>kalbi beef<br />occurrence: 3</h2><div><ol><li>I wish they offered pork bone soup and kalbi beef.</li><li>The Kalbi Beef is well marinated and you ca n't wait to dig in as you wait for it to grill up in front of you.</li><li>I guess I should stick to the kalbi beef.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1059">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1061">Next</a></li>
</ul>