<% provide :title, 'Opinion Target 908' %><h2>Korean dishes<br />occurrence: 4</h2><div><ol><li>Also, they seem to be getting into more exotic Korean dishes like duck or maesengyi ( seaweed), which I suppose is nice niche filler since most Korean places do n't serve these.</li><li>Whether you are here to get drunk or to try some authentic Korean dishes, Chowon has something for you.</li><li>There was nothing appealing and the items were most basic Korean dishes.</li><li>The other dishes are so yummy I think it 's worth the splurge when you 're sick of the same old mass-produced Korean dishes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_907">Previous</a></li>
  <li class="next"><a href=".\opinion_target_909">Next</a></li>
</ul>