<% provide :title, 'Opinion Target 1516' %><h2>pork liver<br />occurrence: 2</h2><div><ol><li>Ordered the spicy pork liver which was tender, delicious and without any smell of organs.</li><li>Got the sliced fish with pork liver.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1517">Next</a></li>
</ul>