<% provide :title, 'Opinion Target 4477' %><h2>manakesh<br />occurrence: 1</h2><div><ol><li>We ordered the half family platter and the manakesh as a vegetarian dish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4476">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4478">Next</a></li>
</ul>