<% provide :title, 'Opinion Target 6828' %><h2>lamb bites<br />occurrence: 1</h2><div><ol><li>The lamb bites were tender too!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6827">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6829">Next</a></li>
</ul>