<% provide :title, 'Opinion Target 6601' %><h2>bread rolls<br />occurrence: 1</h2><div><ol><li>Two whole flame roasted chickens, two salads, fries, bread rolls and gravy ... better flavour than the supermarket chickens ... and no where near as salty as that ski cabin place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6602">Next</a></li>
</ul>