<% provide :title, 'Opinion Target 4920' %><h2>comment<br />occurrence: 1</h2><div><ol><li>BTW- The comment earlier- about seeing the cook pulling out leftover pitas from previous diner 's plates ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4919">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4921">Next</a></li>
</ul>