<% provide :title, 'Opinion Target 3835' %><h2>Cappucinno<br />occurrence: 1</h2><div><ol><li>The Cappucinno was nothing special ( maybe because I 'm not a coffee drinker ...).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3834">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3836">Next</a></li>
</ul>