<% provide :title, 'Opinion Target 3400' %><h2>Mung Bean Pancakes<br />occurrence: 1</h2><div><ol><li>The Mung Bean Pancakes were great as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3399">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3401">Next</a></li>
</ul>