<% provide :title, 'Opinion Target 1726' %><h2>pad<br />occurrence: 2</h2><div><ol><li>The curry and the pad Thai arrived at the same time and I noticed it came in the same small sized bowl as the soup.</li><li>But nonetheless the food was actually really tasty and it did fill us up, the pad Thai had just the right amount of sweetness to it and it is n't saucy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1727">Next</a></li>
</ul>