<% provide :title, 'Opinion Target 5276' %><h2>steak combo<br />occurrence: 1</h2><div><ol><li>However, when I was served my steak combo, there appeared to be a noticeable dip in quality of food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5277">Next</a></li>
</ul>