<% provide :title, 'Opinion Target 2965' %><h2>beef option<br />occurrence: 1</h2><div><ol><li>Ordered the dinner for two, beef option.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2964">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2966">Next</a></li>
</ul>