<% provide :title, 'Opinion Target 2323' %><h2>Oyster Cake<br />occurrence: 2</h2><div><ol><li>The speciality is Chiu Chow Cuisine, so things like a cold platter ( comes with Jelly Fish, Marinated Duck, etc), Deep Fried Fish Skin, Oyster Cake are what Chiu Chow Cuisine is all about.</li><li>I 've had the oyster cake every time I 've been there, and I remember that 2/3 times was perfect, but then that one odd time was a disappointment.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2322">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2324">Next</a></li>
</ul>