<% provide :title, 'Opinion Target 7211' %><h2>salad bar with smoked salmon and cocktail shrimp<br />occurrence: 1</h2><div><ol><li>Great salad bar with smoked salmon and cocktail shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7210">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7212">Next</a></li>
</ul>