<% provide :title, 'Opinion Target 6161' %><h2>Sashimi )<br />occurrence: 1</h2><div><ol><li>The Tuna Tataki ( Sashimi) was well done as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6160">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6162">Next</a></li>
</ul>