<% provide :title, 'Opinion Target 2900' %><h2>fried plantains with beans<br />occurrence: 1</h2><div><ol><li>I absolutely love their fried plantains with beans and fresh cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2899">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2901">Next</a></li>
</ul>