<% provide :title, 'Opinion Target 7303' %><h2>garlic sauteed snow pea<br />occurrence: 1</h2><div><ol><li>The garlic sauteed snow pea tips arrived fresh from the wok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7302">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7304">Next</a></li>
</ul>