<% provide :title, 'Opinion Target 9664' %><h2>dinner buffet with family<br />occurrence: 1</h2><div><ol><li>I had a dinner buffet with family.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9663">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9665">Next</a></li>
</ul>