<% provide :title, 'Opinion Target 4372' %><h2>blenders<br />occurrence: 1</h2><div><ol><li>Servers can be pretty rude, and if you are there to have a quiet conversation this probably wo n't be a good place due to the loud blenders, loud talkers &amp; music. ( same goes for the downtown location it 's soooo loud) The only thing that makes up for it is the good bubble tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4373">Next</a></li>
</ul>