<% provide :title, 'Opinion Target 1426' %><h2>veal dish<br />occurrence: 2</h2><div><ol><li>Love this place ... always get the caesar salad, escargots and a veal dish .. I just read that it is now closed.</li><li>The veal dish was really delicious, saucy, moist, with great flavours.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1425">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1427">Next</a></li>
</ul>