<% provide :title, 'Opinion Target 3517' %><h2>bim bim bop<br />occurrence: 1</h2><div><ol><li>Excellent sushi, soups and bim bim bop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3516">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3518">Next</a></li>
</ul>