<% provide :title, 'Opinion Target 3756' %><h2>coffee shake<br />occurrence: 1</h2><div><ol><li>Their coffee shake was yummy, beware of strong coffee taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3755">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3757">Next</a></li>
</ul>