<% provide :title, 'Opinion Target 4140' %><h2>doorman<br />occurrence: 1</h2><div><ol><li>There is a doorman who checks ID so do n't forget that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4141">Next</a></li>
</ul>