<% provide :title, 'Opinion Target 4771' %><h2>deep fried springs rolls<br />occurrence: 1</h2><div><ol><li>The deep fried springs rolls was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4770">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4772">Next</a></li>
</ul>