<% provide :title, 'Opinion Target 4913' %><h2>miscellaneous cake slices for dessert<br />occurrence: 1</h2><div><ol><li>It differs with choices like goat curry, stew chicken, and miscellaneous cake slices for dessert.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4912">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4914">Next</a></li>
</ul>