<% provide :title, 'Opinion Target 3364' %><h2>tandoori wraps<br />occurrence: 1</h2><div><ol><li>I love the achari and the tandoori wraps.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3363">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3365">Next</a></li>
</ul>