<% provide :title, 'Opinion Target 1715' %><h2>pan<br />occurrence: 2</h2><div><ol><li>The pan was big but there 's not much food in it for $ 20!</li><li>The corn kernels on the pan were awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1716">Next</a></li>
</ul>