<% provide :title, 'Opinion Target 1917' %><h2>bacon bits<br />occurrence: 2</h2><div><ol><li>My husband ordered a caesar salad and the bacon bits were the sort of fake, packaged kind an the muchrooms for the sandwich were from a can.</li><li>Potatoes and bacon bits done to golden perfection.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1916">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1918">Next</a></li>
</ul>