<% provide :title, 'Opinion Target 4686' %><h2>glutinous rice sesame balls<br />occurrence: 1</h2><div><ol><li>FOOD Crispy Duck: Since they have some Chinese ingredients like black bean paste and glutinous rice sesame balls, we assumed that the `` crispy duck w/ steamed buns'' ( no other description) would be duck that is roasted until the skin is crispy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4685">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4687">Next</a></li>
</ul>