<% provide :title, 'Opinion Target 9342' %><h2>Bloody Caesar<br />occurrence: 1</h2><div><ol><li>The Bloody Caesar I ordered was n't very good and was more spice and ice then anything nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9341">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9343">Next</a></li>
</ul>