<% provide :title, 'Opinion Target 4766' %><h2>latke<br />occurrence: 1</h2><div><ol><li>Meat was cold and the latke was microwaved soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4765">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4767">Next</a></li>
</ul>