<% provide :title, 'Opinion Target 5389' %><h2>Indian dishes<br />occurrence: 1</h2><div><ol><li>The lunch buffets had a variety of Indian dishes, as well some a little more common/Westernized for its customers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5388">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5390">Next</a></li>
</ul>