<% provide :title, 'Opinion Target 4114' %><h2>Pad Thai dish<br />occurrence: 1</h2><div><ol><li>My main was a Pad Thai dish for $ 21.00.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4115">Next</a></li>
</ul>