<% provide :title, 'Opinion Target 7076' %><h2>yam tempura rolls<br />occurrence: 1</h2><div><ol><li>I ordered the yam tempura rolls which were crispy and delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7075">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7077">Next</a></li>
</ul>