<% provide :title, 'Opinion Target 1402' %><h2>Thai cuisine<br />occurrence: 3</h2><div><ol><li>The place is like a family restaurant so it was a little slow at first but the server is super nice and knows the authentic Thai cuisine well.</li><li>Conveniently located in the Floridianesce outdoor Shops at Don Mills, Linda is a hip, trendy, upscale restaurant featuring homemade Thai cuisine.</li><li>I am used to eating authentic Thai cuisine, so that 's why I ca n't give the food a solid 5.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1403">Next</a></li>
</ul>