<% provide :title, 'Opinion Target 5065' %><h2>dinner style foods<br />occurrence: 1</h2><div><ol><li>It is clean and I would definitely go back again. good place for dinner style foods and for fried rice and noodles. good portions.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5064">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5066">Next</a></li>
</ul>