<% provide :title, 'Opinion Target 1266' %><h2>dak gal bi<br />occurrence: 3</h2><div><ol><li>Overall it 's a solid place for the dak gal bi.</li><li>For the Dak Gal Bi, the chicken, cabbage and base are very flavourful.</li><li>The Dak Gal Bi has a minimum of 2 orders/pan.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1265">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1267">Next</a></li>
</ul>