<% provide :title, 'Opinion Target 4473' %><h2>dipping appetizers<br />occurrence: 1</h2><div><ol><li>As for the food, the dipping appetizers were very tasty, but all the meats were dry, the tabuli rough and crunchy and the service was absolutely ABYSMAL.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4472">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4474">Next</a></li>
</ul>