<% provide :title, 'Opinion Target 7416' %><h2>Singapore curried rice noodle<br />occurrence: 1</h2><div><ol><li>The Singapore curried rice noodle was delicious.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7415">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7417">Next</a></li>
</ul>