<% provide :title, 'Opinion Target 7272' %><h2>chicken skin<br />occurrence: 1</h2><div><ol><li>The chicken skin was indeed crispy and perfectly spiced, and the meat was juicy on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7271">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7273">Next</a></li>
</ul>