<% provide :title, 'Opinion Target 3855' %><h2>Pork Enoki Rolls<br />occurrence: 1</h2><div><ol><li>I particularly liked the Marinated Sashimi ( Scallop Sashimi was a good size), Saki Mussels, Pork Enoki Rolls, just to name a few.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3856">Next</a></li>
</ul>