<% provide :title, 'Opinion Target 4387' %><h2>snowpeas<br />occurrence: 1</h2><div><ol><li>It was okay- I 'd never had snowpeas in pasta before but it adds a bit of a bitter taste to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4386">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4388">Next</a></li>
</ul>