<% provide :title, 'Opinion Target 5111' %><h2>guajillo peppers<br />occurrence: 1</h2><div><ol><li>Apart from the Mariscos al Guajillo ( tiger shrimp, basa fish and Atlantic lobster sauteed with onions, guajillo peppers and salsa verde for $ 22) which was EXCELLENT, the rest of the meal was just ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5112">Next</a></li>
</ul>