<% provide :title, 'Opinion Target 1336' %><h2>pork sandwich<br />occurrence: 2</h2><div><ol><li>The pork sandwich with avocado and tomatoes ( $ 4) and Churrasco Sandwich with avocado and tomatoes ( $ 4).</li><li>The pork sandwich was decent enough.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1335">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1337">Next</a></li>
</ul>