<% provide :title, 'Opinion Target 9269' %><h2>1 jumbo shrimp<br />occurrence: 1</h2><div><ol><li>We ordered a prime rib ( my fav!) wanted it rare, but it came out kind of medium-ish and got a seafood platter ( $ 65) which was not that amazing, 1 lobster tail, 1 jumbo shrimp, 2 oysters Rockefeller, some scallops, king crab/Alaskan king crab legs. sounds like a lot, but it is n't cause it all fits into one plate! but anyways overall the price is fair and the food is good, just not the best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9268">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9270">Next</a></li>
</ul>