<% provide :title, 'Opinion Target 8481' %><h2>fried veal with mouthwatering tomato sauces<br />occurrence: 1</h2><div><ol><li>Perfectly breaded fried veal with mouthwatering tomato sauces that gets absorbed in the whole sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8480">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8482">Next</a></li>
</ul>