<% provide :title, 'Opinion Target 6190' %><h2>beansprouts<br />occurrence: 1</h2><div><ol><li>Then the beansprouts were super salty and the kimichi was not s flavourful as it used to be.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6191">Next</a></li>
</ul>