<% provide :title, 'Opinion Target 1448' %><h2>falafel wrap<br />occurrence: 3</h2><div><ol><li>The falafel wrap is meh.</li><li>The falafel wrap was absolutely DELISH! nicely fried on the outside, yet tasty and somehow succulent in the inside. i 'm drooling just thinking about it ...</li><li>My companions last night ordered the lamb kebob wrap ( gigantic), the caesar salad ( which looked good and if I was n't vegan it might be up my alley) and the falafel wrap ( also huge).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1447">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1449">Next</a></li>
</ul>