<% provide :title, 'Opinion Target 8025' %><h2>water rice<br />occurrence: 1</h2><div><ol><li>I 'm not a fan of the water rice ( dessert) so this time I asked if they do n't put the water, and letting the rice sitting there during our meal, it became crispy and yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8024">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8026">Next</a></li>
</ul>