<% provide :title, 'Opinion Target 6025' %><h2>deep fried crab with vegetables<br />occurrence: 1</h2><div><ol><li>The Spider Roll, basically deep fried crab with vegetables, was crispy but did not have enough mayo sauce which made the roll very dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6024">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6026">Next</a></li>
</ul>