<% provide :title, 'Opinion Target 6792' %><h2>host staff<br />occurrence: 1</h2><div><ol><li>When we walked in, we were promptly greeted by the host staff and took us back to a table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6791">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6793">Next</a></li>
</ul>