<% provide :title, 'Opinion Target 6589' %><h2>green tea pearls ''<br />occurrence: 1</h2><div><ol><li>They have the regular brownish chewy pearls, as well as the option of `` green tea pearls''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6588">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6590">Next</a></li>
</ul>