<% provide :title, 'Opinion Target 4921' %><h2>felafel / tabbouleh<br />occurrence: 1</h2><div><ol><li>The felafel/ tabbouleh/ hummus and Baba Ghanouge are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4920">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4922">Next</a></li>
</ul>