<% provide :title, 'Opinion Target 7190' %><h2>bulgogi table cooking<br />occurrence: 1</h2><div><ol><li>Our fav go-to dish is the bulgogi table cooking.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7189">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7191">Next</a></li>
</ul>