<% provide :title, 'Opinion Target 5168' %><h2>snack-type food<br />occurrence: 1</h2><div><ol><li>Free Wifi Great bubble tea and yummy snack-type food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5169">Next</a></li>
</ul>