<% provide :title, 'Opinion Target 1887' %><h2>chili vinaigrette<br />occurrence: 2</h2><div><ol><li>Also, the original cold noodles comes with their chili vinaigrette which does n't come with the sesame vinaigrette, when asked if I can get a little bit of the sesame ( because I love sesame) she again said no problem and added it for me.</li><li>The chili vinaigrette was spot on: enough spice so that it gives you a kick but does n't burn going down or leave a bad/spicy taste that burns your tongue.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1886">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1888">Next</a></li>
</ul>