<% provide :title, 'Opinion Target 3186' %><h2>grilled tomatoes<br />occurrence: 1</h2><div><ol><li>The grilled tomatoes on the side were a great addition.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3187">Next</a></li>
</ul>