<% provide :title, 'Opinion Target 833' %><h2>raw<br />occurrence: 4</h2><div><ol><li>Come here if you need your Korean food fix! the staff were very friendly and welcoming! delicious raw veal bibimbap and chicken ginseng soup!</li><li>The second time I went with the raw veal bibimbap.</li><li>3.5 stars for the raw veal bibimbap ( $ 12.99).</li><li>I got the raw veal dolsot bibimbap and I thought it was fantastic!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_832">Previous</a></li>
  <li class="next"><a href=".\opinion_target_834">Next</a></li>
</ul>