<% provide :title, 'Opinion Target 7812' %><h2>diner seating<br />occurrence: 1</h2><div><ol><li>Usual diner seating, great service and very good brunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7813">Next</a></li>
</ul>