<% provide :title, 'Opinion Target 1197' %><h2>chimichanga<br />occurrence: 3</h2><div><ol><li>I opted for the chimichanga and it was decent.</li><li>The chimichanga: two small deep fried chimichanga 's were very dry and tasted and felt almost like they were bought frozen and dressed with toppings.</li><li>The chimichanga was very interesting- I guess the chicken was fried first and then they deep fry the tortilla once they put the chicken inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1196">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1198">Next</a></li>
</ul>