<% provide :title, 'Opinion Target 3396' %><h2>service salmon salad and sides<br />occurrence: 1</h2><div><ol><li>They try to be healthy and service salmon salad and sides, however it took over 20 minutes for the waitress to get back to us saying they do n't have any salmon.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3395">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3397">Next</a></li>
</ul>