<% provide :title, 'Opinion Target 6154' %><h2>rolls and beef steaks<br />occurrence: 1</h2><div><ol><li>Lastly, taste-wise, the sushi, sashimi, rolls and beef steaks were decent at best.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6153">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6155">Next</a></li>
</ul>