<% provide :title, 'Opinion Target 4884' %><h2>tempura shrimp dynamite roll sirloin with enoki<br />occurrence: 1</h2><div><ol><li>Curry dishes too much rice. if you happen to end up here then some few good things are: tempura shrimp dynamite roll sirloin with enoki The food is like any other all you can east sushi place it 's clean and small, the waiter is very rude and blunt he sneezed into his hand 3 times right on the floor !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4885">Next</a></li>
</ul>