<% provide :title, 'Opinion Target 3516' %><h2>red bean porridge with rice balls )<br />occurrence: 1</h2><div><ol><li>-SaeAl PatJuk ( red bean porridge with rice balls)- $ 9.99 The supposed-to-be porridge was thinner than expected- I remember having a creamier red bean porridge in Korea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3515">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3517">Next</a></li>
</ul>