<% provide :title, 'Opinion Target 7300' %><h2>raw ginger slices , onions<br />occurrence: 1</h2><div><ol><li>Haleem is always served with raw ginger slices, onions, cilantro and lime to squeeze on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7299">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7301">Next</a></li>
</ul>