<% provide :title, 'Opinion Target 5361' %><h2>coconut cream/milk<br />occurrence: 1</h2><div><ol><li>My favourite was the the vegetarian green curry which was light on the coconut cream/milk, mildly spicy and very flavourful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5362">Next</a></li>
</ul>