<% provide :title, 'Opinion Target 3469' %><h2>ginger beef<br />occurrence: 1</h2><div><ol><li>The chilli chicken and crispy ginger beef is out of this world!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3470">Next</a></li>
</ul>