<% provide :title, 'Opinion Target 5695' %><h2>corn kernels<br />occurrence: 1</h2><div><ol><li>The corn kernels on the pan were awesome!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5694">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5696">Next</a></li>
</ul>