<% provide :title, 'Opinion Target 6602' %><h2>tea powder<br />occurrence: 1</h2><div><ol><li>They 're rather pricy because they 're iced and come with a scoop of ice cream on top, as well as sometimes some green tea powder.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6601">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6603">Next</a></li>
</ul>