<% provide :title, 'Opinion Target 4956' %><h2>fish ball sliced<br />occurrence: 1</h2><div><ol><li>I had a quail egg ( tasted canned), a wonton ( lots of shrimp and pork filling, I wished there was more than just 1), a shrimp ( a good size, but not completely de-veined), 2 pieces of squid ( tasted rubbery), a piece of BBQ pork ( good flavour and not too fatty), 2 pieces of thinly sliced liver ( I do n't usually like liver, but this was ok), 2 pieces of thinly sliced heart ( I gave this to my dad because other than liver I do n't eat organ meats), and a fried fish ball sliced in two ( tasted good).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4955">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4957">Next</a></li>
</ul>