<% provide :title, 'Opinion Target 8276' %><h2>BBQ heat wings<br />occurrence: 1</h2><div><ol><li>I ordered the smokey BBQ heat wings.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8275">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8277">Next</a></li>
</ul>