<% provide :title, 'Opinion Target 1838' %><h2>kabobs<br />occurrence: 2</h2><div><ol><li>The menu is pretty standard; kabobs, shawarma, falafel, hummus etc.</li><li>The kabobs were served with saffron rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1839">Next</a></li>
</ul>