<% provide :title, 'Opinion Target 6109' %><h2>booth seats<br />occurrence: 1</h2><div><ol><li>The decor is plain and comfortable, and the booth seats are a little too squishy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6108">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6110">Next</a></li>
</ul>