<% provide :title, 'Opinion Target 4680' %><h2>oxtail peanut stew<br />occurrence: 1</h2><div><ol><li>We settled on kare kare ( oxtail peanut stew) and pancit ( thick style noodles with veg and protein mix).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4679">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4681">Next</a></li>
</ul>