<% provide :title, 'Opinion Target 7453' %><h2>Veggie Pakoras<br />occurrence: 1</h2><div><ol><li>The Veggie Pakoras were pretty awesome, and the Samosa was my favourite .. it was n't the typical punjabi style* thick crust* but more of what my mom makes, with a thin shell.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7454">Next</a></li>
</ul>