<% provide :title, 'Opinion Target 2122' %><h2>coconut meat<br />occurrence: 2</h2><div><ol><li>I originally thought it was so I was pleasantly surprised when Linda came by and told me there were still lots of coconut meat in it.</li><li>You can eat the coconut meat too with some scooping!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2121">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2123">Next</a></li>
</ul>