<% provide :title, 'Opinion Target 2093' %><h2>kamponggi<br />occurrence: 2</h2><div><ol><li>This place makes an amazing kamponggi and the $ 13 dish can easily feed 2 or 3 people.</li><li>The kamponggi was also soggy beneath all the sauce ... usually it 's crispy, even with the sauce on top of it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2094">Next</a></li>
</ul>