<% provide :title, 'Opinion Target 2366' %><h2>Sushi portions<br />occurrence: 2</h2><div><ol><li>Sushi portions are generous.</li><li>As for the food, their sushi portions were HUGE, we ordered the green dragon roll and the spicy volcano roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2365">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2367">Next</a></li>
</ul>