<% provide :title, 'Opinion Target 8100' %><h2>prosciutto cotto<br />occurrence: 1</h2><div><ol><li>The wide variety of cold ( sliced) meats ( prosciutto crudo, prosciutto cotto, etc.) and cheeses are fresh and amazing to consume.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8101">Next</a></li>
</ul>