<% provide :title, 'Opinion Target 1698' %><h2>chicken enchilada<br />occurrence: 2</h2><div><ol><li>We also ordered the combo platter ( chicken enchilada and beef burrito were pretty good but the cheese quesadilla was just ok.</li><li>We ordered a mixed platter which came with an chicken enchilada, beef burrito, and a quesadilla, served with sour cream and guacamole.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1699">Next</a></li>
</ul>