<% provide :title, 'Opinion Target 1140' %><h2>crème brûlée<br />occurrence: 4</h2><div><ol><li>Okay, the coffee one was decent when comparing it to crème brûlée.</li><li>The crème brûlée however was like a 1/5.</li><li>Let me tell you what was wrong: crème brûlée is called brûlée because your supposed to torch the top sugar layer which does n't appear to be done.</li><li>Crème brûlée is my favourite dessert and this one missed it by a long shot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1141">Next</a></li>
</ul>