<% provide :title, 'Opinion Target 3790' %><h2>pho scale<br />occurrence: 1</h2><div><ol><li>Average to A-OK on the pho scale.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3789">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3791">Next</a></li>
</ul>