<% provide :title, 'Opinion Target 4436' %><h2>Portabello pasta<br />occurrence: 1</h2><div><ol><li>I have been here many times before, and some of my favourite pastas are the following,- linguine clams pasta- shrimp Portabello pasta I wish their waiters would smile a little.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4435">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4437">Next</a></li>
</ul>