<% provide :title, 'Opinion Target 8709' %><h2>mixed satay platter<br />occurrence: 1</h2><div><ol><li>The mixed satay platter was completely overcooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8708">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8710">Next</a></li>
</ul>