<% provide :title, 'Opinion Target 1143' %><h2>rye<br />occurrence: 3</h2><div><ol><li>The rye was sliced thin just to hold it together.</li><li>Smoked meat, corned beef, beef tongue sandwiches on rye are all delicious.</li><li>The sandwiches are meaty, they stack up the meat but the rye accompanying the sandwich is rather small and you get an overwhelming mouthful of meat with little to no bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1142">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1144">Next</a></li>
</ul>