<% provide :title, 'Opinion Target 3832' %><h2>Mango Shaved Ice<br />occurrence: 1</h2><div><ol><li>And one of the best desserts we 've tried was their Mango Shaved Ice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3831">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3833">Next</a></li>
</ul>