<% provide :title, 'Opinion Target 7848' %><h2>avocado cucumber<br />occurrence: 1</h2><div><ol><li>It came with ice cream, soup and 6 maki rolls ( avocado cucumber).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7847">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7849">Next</a></li>
</ul>