<% provide :title, 'Opinion Target 5524' %><h2>bechamel sauce<br />occurrence: 1</h2><div><ol><li>When it come to italian food i expect using lots of fresh ingrediants specially hand roll pastas but when i get dry one i 'm not happy, the portions are so bigand the price is good for the quality, i tried the meat lasagna which comes with ricotta cheese instead of bechamel sauce and all the foods were bland: ( The servers wasnt around when you needed them.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5523">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5525">Next</a></li>
</ul>