<% provide :title, 'Opinion Target 1228' %><h2>sushi platter<br />occurrence: 3</h2><div><ol><li>We opted for the combination sushi platter with sashimi and everything was incredibly fresh.</li><li>Ordered the Jumbo sushi platter which included more than 100 pieces of Sushi &amp; Sashimi.</li><li>Me and my date shared the small sushi platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1229">Next</a></li>
</ul>