<% provide :title, 'Opinion Target 6383' %><h2>curry chicken roti<br />occurrence: 1</h2><div><ol><li>This place makes the BEST curry chicken roti I EVER had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6382">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6384">Next</a></li>
</ul>