<% provide :title, 'Opinion Target 7217' %><h2>noodles mixed<br />occurrence: 1</h2><div><ol><li>The sauce to noodle ratio for the jajangmyung was so that the noodles mixed together were really saucy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7218">Next</a></li>
</ul>