<% provide :title, 'Opinion Target 7521' %><h2>coffee and ice cream<br />occurrence: 1</h2><div><ol><li>This place is so cute .... and great little desserts as well, I have n't had anything savoury but go have a coffee and ice cream:) Its wonderful and great service !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7522">Next</a></li>
</ul>