<% provide :title, 'Opinion Target 6690' %><h2>seed weed<br />occurrence: 1</h2><div><ol><li>That was disappointing because one of the seed weed was n't finish because it was on other table with us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6689">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6691">Next</a></li>
</ul>