<% provide :title, 'Opinion Target 8437' %><h2>whiskey<br />occurrence: 1</h2><div><ol><li>I do n't know what kind of people come here for coffee, hard whiskey would be more appropriate.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8436">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8438">Next</a></li>
</ul>