<% provide :title, 'Opinion Target 7001' %><h2>fried string bean and beef<br />occurrence: 1</h2><div><ol><li>Loved the fried string bean and beef too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7000">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7002">Next</a></li>
</ul>