<% provide :title, 'Opinion Target 1977' %><h2>potato waffle<br />occurrence: 2</h2><div><ol><li>My fiancée did n't feel like dessert so my friend and I decided to share a waffle- sweet potato waffle.</li><li>Our items were served quickly and to my surprise the sweet potato waffle was so yummy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1976">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1978">Next</a></li>
</ul>