<% provide :title, 'Opinion Target 4816' %><h2>lamb noodle dish<br />occurrence: 1</h2><div><ol><li>Among the best that I 've had- had a lamb noodle dish that was the special of the day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4815">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4817">Next</a></li>
</ul>