<% provide :title, 'Opinion Target 7384' %><h2>strawberry shortcake<br />occurrence: 1</h2><div><ol><li>I have better strawberry shortcake from Loblaws.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7385">Next</a></li>
</ul>