<% provide :title, 'Opinion Target 7222' %><h2>Sirloin beef table top bbq<br />occurrence: 1</h2><div><ol><li>The Sirloin beef table top bbq is amazing, it was so tender, juicy and melted in your mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7221">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7223">Next</a></li>
</ul>