<% provide :title, 'Opinion Target 8253' %><h2>beef with carrot dish<br />occurrence: 1</h2><div><ol><li>Got SR8 was suppose to be a deep rich red beef with carrot dish but came out as yellow curry with beef that I 'm pretty sure was pork and the curry was frozen because the potatoes had the texture for anyone how has made stew and froze it for later knows what I 'm talking about.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8252">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8254">Next</a></li>
</ul>