<% provide :title, 'Opinion Target 9236' %><h2>building<br />occurrence: 1</h2><div><ol><li>The building is very old but totally gorgeous!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9235">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9237">Next</a></li>
</ul>