<% provide :title, 'Opinion Target 6764' %><h2>fish to rice<br />occurrence: 1</h2><div><ol><li>Sushi Bong The ratio of fish to rice is perfect.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6765">Next</a></li>
</ul>