<% provide :title, 'Opinion Target 6158' %><h2>deep fried tempura stuff<br />occurrence: 1</h2><div><ol><li>The deep fried tempura stuff were just average.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6157">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6159">Next</a></li>
</ul>