<% provide :title, 'Opinion Target 1838' %><h2>fish selections<br />occurrence: 2</h2><div><ol><li>As with most AYCE places, dishes are hit and miss. Stick to the fish selections, they are better than the meats.</li><li>Spicy Bulgogi ( $ 8.95)- with 8 piece of spicy rolls- my DC commented that the bulgogi is a little spicy, but of course I found them to be A-OK Lunch Combo Special B ( $ 15.95)- the fish selections are just little boring: Salmon and Tuna- Good big portion but the price to match too- Shari rice is nicely prepared Waitresses here are nice and smiley, services are good and efficient.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1839">Next</a></li>
</ul>