<% provide :title, 'Opinion Target 7100' %><h2>owner/franchisees<br />occurrence: 1</h2><div><ol><li>The owner/franchisees were discreetly making the rounds, watching over the break-in phase.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7099">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7101">Next</a></li>
</ul>