<% provide :title, 'Opinion Target 3660' %><h2>beef ... chicken<br />occurrence: 1</h2><div><ol><li>Tried them all except the beef ... chicken is perfectly done, the veggie is my favourite- they are always too big for me to eat so I end up taking half of it home.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3661">Next</a></li>
</ul>