<% provide :title, 'Opinion Target 7051' %><h2>pickled onion , roasted pepper and sweet potato<br />occurrence: 1</h2><div><ol><li>I loved the mixture of pickled onion, roasted pepper and sweet potato.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7050">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7052">Next</a></li>
</ul>