<% provide :title, 'Opinion Target 2375' %><h2>babaganouj<br />occurrence: 1</h2><div><ol><li>I especially liked the babaganouj.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2374">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2376">Next</a></li>
</ul>