<% provide :title, 'Opinion Target 8702' %><h2>curry ayam served<br />occurrence: 1</h2><div><ol><li>I had the curry ayam served in deceptively small bowl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8701">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8703">Next</a></li>
</ul>