<% provide :title, 'Opinion Target 6218' %><h2>pork kebabs<br />occurrence: 1</h2><div><ol><li>The pork kebabs were nice and crisp on the outside and tender on the inside.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6217">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6219">Next</a></li>
</ul>