<% provide :title, 'Opinion Target 9621' %><h2>Indian<br />occurrence: 1</h2><div><ol><li>Best Indian in the Yonge and Sheppard area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9620">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9622">Next</a></li>
</ul>