<% provide :title, 'Opinion Target 8761' %><h2>Apple Crumble Pie<br />occurrence: 1</h2><div><ol><li>For dessert, we shared the Apple Crumble Pie, which was a great end to a nice meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8760">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8762">Next</a></li>
</ul>