<% provide :title, 'Opinion Target 3799' %><h2>rice cakes , red bean and cornflakes<br />occurrence: 1</h2><div><ol><li>The toppings included rice cakes, red bean and cornflakes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3798">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3800">Next</a></li>
</ul>