<% provide :title, 'Opinion Target 3133' %><h2>rice and roast<br />occurrence: 1</h2><div><ol><li>The rice and roast are perfectly seasoned and the salad has a dressing to die for!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3132">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3134">Next</a></li>
</ul>