<% provide :title, 'Opinion Target 6069' %><h2>sashimi lover<br />occurrence: 1</h2><div><ol><li>Sashimi always fresh ... rolls are amazingly good compare to all other places and decent price ... highly recommended if you are sashimi lover ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6068">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6070">Next</a></li>
</ul>