<% provide :title, 'Opinion Target 3102' %><h2>slushy<br />occurrence: 1</h2><div><ol><li>Oh and the kicker, they over-charged us for an extra gross slushy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3101">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3103">Next</a></li>
</ul>