<% provide :title, 'Opinion Target 1141' %><h2>bean<br />occurrence: 4</h2><div><ol><li>The presentation of the dish was great but the red bean inside the crepe not very well distributed, I did n't eat a single red bean until i got through half the crepe.</li><li>Not only did the red bean inside taste funky, but I think the density of the egg white was too much.</li><li>Nothing really stood out other than the multiple flavours of ice creams ( vanilla, green tea, red bean, mango, ginger).</li><li>It was good, a taste that I was not used to but different, like a fermented bean taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1140">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1142">Next</a></li>
</ul>