<% provide :title, 'Opinion Target 6137' %><h2>salmon dynamite<br />occurrence: 1</h2><div><ol><li>Try the salmon sampler ` L ' meal with salmon sashimi, sushi, salmon dynamite, and a salmon handroll for $ 7.50.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6136">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6138">Next</a></li>
</ul>