<% provide :title, 'Opinion Target 4361' %><h2>Montreal smoked meat on rye with spicy mustard<br />occurrence: 1</h2><div><ol><li>Their Montreal smoked meat on rye with spicy mustard is the end all and be all.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4360">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4362">Next</a></li>
</ul>