<% provide :title, 'Opinion Target 995' %><h2>Korean dumplings<br />occurrence: 3</h2><div><ol><li>Korean dumplings are very different from Chinese style dumplings.</li><li>Traditionally, Korean dumplings are filled with mixtures of tofu, shredded cabbage, bean sprouts, pork, shredded kimchi and so on ... so their fillings are less firm than Chinese dumpling fillings.</li><li>So if you 're looking for mostly meat packed dumplings, Korean dumplings may not do it for you.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_994">Previous</a></li>
  <li class="next"><a href=".\opinion_target_996">Next</a></li>
</ul>