<% provide :title, 'Opinion Target 7433' %><h2>penne cacciatore<br />occurrence: 1</h2><div><ol><li>The penne cacciatore was picture perfect, with the exception of the rose sauce, which I felt was slightly too watered for me as there was n't that pungent taste that came after having the pasta.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7432">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7434">Next</a></li>
</ul>