<% provide :title, 'Opinion Target 2327' %><h2>pina colada ice cream drink<br />occurrence: 1</h2><div><ol><li>I also had a pina colada ice cream drink ( $ 3.50) from a little stall that sells bubble tea, scoop ice cream and slushies.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2326">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2328">Next</a></li>
</ul>