<% provide :title, 'Opinion Target 1196' %><h2>flan<br />occurrence: 3</h2><div><ol><li>The bunuelos with the ice cream was my favourite although the fried ice cream was delicious and the flan was my 2nd favourite.</li><li>( Oh yeah, the flan.</li><li>The buffet has 3 rows including your typical Chinese buffet stuff ( dim sum, general tao chicken, etc.), a cold bar ( including smoked salmon, seaweed salad, shrimp) and desserts ( ice cream, flan, profiteroles, etc.).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1195">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1197">Next</a></li>
</ul>