<% provide :title, 'Opinion Target 4684' %><h2>Fried with Sweet & Sour sauce ) Lechon Kawali<br />occurrence: 1</h2><div><ol><li>Sampaguita Special ( Bihon and Canton noodles) Garlic Fried Rice Sinigang Vegetables ( Medium is big enough) Lumpiang Shanghai Tilapia ( Fried with Sweet &amp; Sour sauce) Lechon Kawali ( THIS IS A MUST GET- everybody in the restaurant ordered it and you cannot take out this order) All of this for under $ 60 Kain Na!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4683">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4685">Next</a></li>
</ul>