<% provide :title, 'Opinion Target 1961' %><h2>salmon crepe<br />occurrence: 2</h2><div><ol><li>Today, I decided to order the salmon crepe as well as a pistachio buttercream cake- beyond yumminess!</li><li>I had the salmon crepe, while my friend had creme brule.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1960">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1962">Next</a></li>
</ul>