<% provide :title, 'Opinion Target 5844' %><h2>frothy hot milk<br />occurrence: 1</h2><div><ol><li>Very legitimate ~ The frothy hot milk was very fun to drink.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5843">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5845">Next</a></li>
</ul>