<% provide :title, 'Opinion Target 5228' %><h2>Korean<br />occurrence: 1</h2><div><ol><li>The Korean Grill House run by Chinese has better food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5227">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5229">Next</a></li>
</ul>