<% provide :title, 'Opinion Target 2667' %><h2>regular bruschetta<br />occurrence: 1</h2><div><ol><li>I can say i had the regular bruschetta and the salmon bruschetta, calimari, the pomodoro pasta, and some other meaty pastas, but my ratings for those would be just a regular 2- 3 stars ... ( nothing spectacular!)</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2666">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2668">Next</a></li>
</ul>