<% provide :title, 'Opinion Target 1578' %><h2>taters<br />occurrence: 2</h2><div><ol><li>The taters are pretty salty; the coleslaw is salty as well.</li><li>The taters were n't salted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1579">Next</a></li>
</ul>