<% provide :title, 'Opinion Target 5781' %><h2>dessert selections<br />occurrence: 1</h2><div><ol><li>The quality of the crepes definitely speak for themselves, but the clean feel of the place and the variety of dessert selections are what I love most about this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5780">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5782">Next</a></li>
</ul>