<% provide :title, 'Opinion Target 6817' %><h2>pork bun<br />occurrence: 1</h2><div><ol><li>The food was really good only thing was the pork bun was a little oily but had great taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6816">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6818">Next</a></li>
</ul>