<% provide :title, 'Opinion Target 3446' %><h2>Beef Seekh Kabab , Chicken Breast Tikka<br />occurrence: 1</h2><div><ol><li>Things you should n't be ordering: Beef Seekh Kabab, Chicken Breast Tikka, Chicken jelfrezi, Bheja/brain fried masala.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3445">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3447">Next</a></li>
</ul>