<% provide :title, 'Opinion Target 2820' %><h2>Hakka food<br />occurrence: 1</h2><div><ol><li>One word: Unbelievable I never would have found this amazing little place out north if not for Yelp and Devan R convincing me to try the best Hakka food I 'd been missing out on at the last Elite event.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2819">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2821">Next</a></li>
</ul>