<% provide :title, 'Opinion Target 1584' %><h2>mango freeze<br />occurrence: 2</h2><div><ol><li>- It has traditional Cantonese dessert, such as herbal essence jelly, mango freeze ( mango cubes), etc.</li><li>My friend and I ordered- steamed xo sauce pork neck rice: a little bland, and came with a bowl of cooked lettuce in soy sauce ...- stinky hot pot: really good, with intestines, pigs blood, enokie mushrooms, fish balls, and fish cake- mixed vegetables and tofu dry pot: it was okay- herbal essence jelly in coconut milk: awesome- mango freeze: she said it was awesome The decor is nice, the service is unfriendly.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1583">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1585">Next</a></li>
</ul>