<% provide :title, 'Opinion Target 2471' %><h2>counter staff<br />occurrence: 2</h2><div><ol><li>There was a number of counter staff on duty, but it seemed like there were too many as one guy was entertaining himself with his iphone the whole time we were waiting.</li><li>Fresh food, friendly old-school greek counter staff always up for a Leafs or Jays chat, and open past 2:30 a.m. Mon-Sat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2470">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2472">Next</a></li>
</ul>