<% provide :title, 'Opinion Target 2217' %><h2>mandu soup<br />occurrence: 1</h2><div><ol><li>The broth in the mandu soup was definitely more tasty than before and less salty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2218">Next</a></li>
</ul>