<% provide :title, 'Opinion Target 6044' %><h2>lobster fantasy roll<br />occurrence: 1</h2><div><ol><li>The lobster fantasy roll was too big to eat in one bite- that 's sort of a turn off.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6043">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6045">Next</a></li>
</ul>