<% provide :title, 'Opinion Target 6623' %><h2>grapes<br />occurrence: 1</h2><div><ol><li>The fruits were n't the freshest either- the pineapple was super sour and hard, the strawberry was soggy &amp; the grapes looked unwashed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6622">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6624">Next</a></li>
</ul>