<% provide :title, 'Opinion Target 6412' %><h2>rice noodles yellow<br />occurrence: 1</h2><div><ol><li>Turmeric is used to color the rice noodles yellow.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6411">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6413">Next</a></li>
</ul>