<% provide :title, 'Opinion Target 4311' %><h2>butter chicken and Lamb Rogan Josh<br />occurrence: 1</h2><div><ol><li>Got the butter chicken and Lamb Rogan Josh which our server recommended to us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4310">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4312">Next</a></li>
</ul>