<% provide :title, 'Opinion Target 2359' %><h2>Bún bò Hu<br />occurrence: 2</h2><div><ol><li>I got takeout from this place and based on Dong L. ' s review, tried the Bún bò Hu.</li><li>The broth for the Bún bò Hu is thick and tasty and they give you a large portion of fresh veggie.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2358">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2360">Next</a></li>
</ul>