<% provide :title, 'Opinion Target 6821' %><h2>ginger and scallion with hand pulled noodles stir fried in wok<br />occurrence: 1</h2><div><ol><li>On our visit, we ordered a Biang-Biang Mian ( hand-slapped and pulled ribbon noodles, stewed beef, sauteed tomato fried egg, and mixed vegetables) and a Lamb Pao Mo ( lamb stew, bean sprout, organic cloud ear mushroom, tomato, ground garlic, ginger and scallion with hand pulled noodles stir fried in wok, finished with house special marinara sauce) plus wood ear mushroom to share.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6820">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6822">Next</a></li>
</ul>