<% provide :title, 'Opinion Target 4015' %><h2>croque monsieur<br />occurrence: 1</h2><div><ol><li>I remember coming here for brunch once and had the croque monsieur.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4014">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4016">Next</a></li>
</ul>