<% provide :title, 'Opinion Target 2520' %><h2>cheese potaato skins<br />occurrence: 1</h2><div><ol><li>Along with the salad I ordered the bacon and cheese potaato skins as the appetizer for $ 5.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2519">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2521">Next</a></li>
</ul>