<% provide :title, 'Opinion Target 7671' %><h2>cheese Danish<br />occurrence: 1</h2><div><ol><li>My favourite is their blueberry Danish and cheese Danish.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7670">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7672">Next</a></li>
</ul>