<% provide :title, 'Opinion Target 8125' %><h2>pre-made Italian sandwiches<br />occurrence: 1</h2><div><ol><li>The kids were starving so we caved and got them the only available lunch item- the pre-made Italian sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8124">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8126">Next</a></li>
</ul>