<% provide :title, 'Opinion Target 4346' %><h2>Barg with rice<br />occurrence: 1</h2><div><ol><li>I tried the chicken kebab and the Barg with rice, I have to admit that it was the most delicious food that I 've had among all the other Persian restaurants so far in Toronto area.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4345">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4347">Next</a></li>
</ul>