<% provide :title, 'Opinion Target 5419' %><h2>Fried Dough Ball<br />occurrence: 1</h2><div><ol><li>The Fried Dough Ball with Red Bean paste dessert they have is rather difficult to find in Toronto, so I would give it a try if you 've never had it before!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5418">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5420">Next</a></li>
</ul>