<% provide :title, 'Opinion Target 2037' %><h2>app<br />occurrence: 2</h2><div><ol><li>Food came really fast both the app and the main entrees.</li><li>The app was good, my girl friend finished her pork bone, but i didnt take more than 4 bites out of my noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2036">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2038">Next</a></li>
</ul>