<% provide :title, 'Opinion Target 5176' %><h2>Beef short-ribs with pepper & Garlic served<br />occurrence: 1</h2><div><ol><li>4) Beef short-ribs with pepper &amp; Garlic served on a hot plate- this was the only poor dish tonight, the meat was very tough and lacking significant flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5175">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5177">Next</a></li>
</ul>