<% provide :title, 'Opinion Target 1074' %><h2>Korean beer<br />occurrence: 4</h2><div><ol><li>Be sure to try Hite, a Korean beer, with your meal.</li><li>The Korean beer and rice wine are awesome, smooth and not so strong!</li><li>I also tried a Hite ( Korean beer) which was light and accompanied my spicy soup perfectly.</li><li>They never have the Korean beer, even though it 's on the menu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1073">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1075">Next</a></li>
</ul>