<% provide :title, 'Opinion Target 4016' %><h2>jerk chicken dinners<br />occurrence: 1</h2><div><ol><li>There was an order the owner was doing of 9 jerk chicken dinners so apparently jerk chicken is a hit!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4015">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4017">Next</a></li>
</ul>