<% provide :title, 'Opinion Target 5201' %><h2>tentacles<br />occurrence: 1</h2><div><ol><li>Squid tentacles- i want to marry these tentacles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5200">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5202">Next</a></li>
</ul>