<% provide :title, 'Opinion Target 1884' %><h2>pots<br />occurrence: 2</h2><div><ol><li>It 's a very casual restaurant, bright, with lots of steam from the pots, so it gets very hot when you 're eating in there.</li><li>I rarely give out five stars but you ca n't go wrong with the bubbling pots filled with soft, melt-in-your-mouth tofu, made to your order of spiciness, especially when winter comes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1883">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1885">Next</a></li>
</ul>