<% provide :title, 'Opinion Target 3422' %><h2>lobster risotto<br />occurrence: 1</h2><div><ol><li>Stepped in to try their lobster risotto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3421">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3423">Next</a></li>
</ul>