<% provide :title, 'Opinion Target 3229' %><h2>prix fixe<br />occurrence: 1</h2><div><ol><li>I 've already booked a return visit for Mother 's Day where they 'll be featuring a $ 30 prix fixe, featuring a Lobster &amp; Mascarpone Cheese Ravioli in a white wine and rosé cream sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3228">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3230">Next</a></li>
</ul>