<% provide :title, 'Opinion Target 1618' %><h2>bak choi<br />occurrence: 2</h2><div><ol><li>The mixed vegetable dish had bak choi, celery, onions, green beans, and broccoli.</li><li>The bak choi was cooked nicely but the other things ... eh ... not so much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1617">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1619">Next</a></li>
</ul>