<% provide :title, 'Opinion Target 9675' %><h2>Dark meat Chicken Kebab<br />occurrence: 1</h2><div><ol><li>Next I order the Dark meat Chicken Kebab.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9674">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9676">Next</a></li>
</ul>