<% provide :title, 'Opinion Target 4061' %><h2>Blackened Grilled Salmon with vegetables<br />occurrence: 1</h2><div><ol><li>For the main I ordered their Blackened Grilled Salmon with vegetables and Penne Pasta in rosé sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4060">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4062">Next</a></li>
</ul>