<% provide :title, 'Opinion Target 8490' %><h2>chicken and steak sandwiches<br />occurrence: 1</h2><div><ol><li>I have tried the chicken and steak sandwiches in the past, but do n't give these rivals my delicious stamp of approval.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8491">Next</a></li>
</ul>