<% provide :title, 'Opinion Target 7808' %><h2>breakfast potatoes<br />occurrence: 1</h2><div><ol><li>Service was predictably a little shaky when the doors first opened, but inside a couple of months things were running tight with a friendly wait staff, a cheap before 11:00am breakfast special ( $ 3.99 for toast, breakfast potatoes, a couple of eggs and bacon/sausage) and some truly delicious burgers and sandwiches.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7807">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7809">Next</a></li>
</ul>