<% provide :title, 'Opinion Target 1765' %><h2>egg Benedict<br />occurrence: 2</h2><div><ol><li>I can not believe they ruined the spirite of the egg Benedict.</li><li>As she described the flavor of the salmon and the quantity, I would sum it with it was worth every penny as for the egg Benedict, if you love breakfast as much as I do and love a non strong mustard or non creamy hollandaise, you will love this place.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1766">Next</a></li>
</ul>