<% provide :title, 'Opinion Target 1308' %><h2>burger patty<br />occurrence: 3</h2><div><ol><li>We were in the area, and stopped here for breakfast on sat morning. the egg benny is good, not super awesome but good. home fries- again, pretty average. hubby had the burger patty with some beans all around the egg and cheese. it was interesting. did n't taste like much and i was wondering why would n't they serve it with some toast at least ?</li><li>The burger patty and fries were soft and moist.</li><li>Also there were small bone pieces in the burger patty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1309">Next</a></li>
</ul>