<% provide :title, 'Opinion Target 5178' %><h2>iced Hokkaido milk tea with tapioca<br />occurrence: 1</h2><div><ol><li>To drink, I got the iced Hokkaido milk tea with tapioca, and was surprised to see that I was charged extra for the tapioca ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5177">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5179">Next</a></li>
</ul>