<% provide :title, 'Opinion Target 5432' %><h2>waiting time<br />occurrence: 1</h2><div><ol><li>The only thing that I did not like was the waiting time which was over 15 mins for take out.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5433">Next</a></li>
</ul>