<% provide :title, 'Opinion Target 1982' %><h2>banh xeo<br />occurrence: 2</h2><div><ol><li>The banh xeo here is pretty authentic, it came with lots of greens on the side including even some herbs that I did n't recognize but that my bf and his dad recognized ( they are Viet).</li><li>The Banh Xeo is hugggge and crispy with slice of pork skin and pork fat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1981">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1983">Next</a></li>
</ul>