<% provide :title, 'Opinion Target 2186' %><h2>plain rice<br />occurrence: 1</h2><div><ol><li>its cheap with friendly service but they made my sushi with regular plain rice instead of sushi rice ( vinegar + sugar) so it tastes weird. later they found out but i disnt bother to tell them bc i was planning to never come back. instead of an apology i got a on the house almon handroll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2185">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2187">Next</a></li>
</ul>