<% provide :title, 'Opinion Target 4755' %><h2>kasha<br />occurrence: 1</h2><div><ol><li>Normally, when a menu says knish ( at least from what I 'm accustomed to) they are potato- if meat or kasha they are usually labeled as such.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4754">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4756">Next</a></li>
</ul>