<% provide :title, 'Opinion Target 7372' %><h2>toilets<br />occurrence: 1</h2><div><ol><li>The toilets were n't particularly well cleaned.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7371">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7373">Next</a></li>
</ul>