<% provide :title, 'Opinion Target 5644' %><h2>eggplant and green/red curry chicken/beef<br />occurrence: 1</h2><div><ol><li>Their pad Thai and sticky rice with peanut sauce is consistently awesome, and the eggplant and green/red curry chicken/beef is awesome too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5643">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5645">Next</a></li>
</ul>