<% provide :title, 'Opinion Target 4293' %><h2>Vietnamese dishes<br />occurrence: 1</h2><div><ol><li>This restaurant serves a variety of Vietnamese dishes including pho and rice and pork chops but their signature dish is Bun Bo Hue which is a spicy beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4292">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4294">Next</a></li>
</ul>