<% provide :title, 'Opinion Target 953' %><h2>pork dumplings<br />occurrence: 4</h2><div><ol><li>The pork dumplings are tastier than the chicken ones in my opinion.</li><li>I usually get the typical items, sweet sour soup, pork dumplings, pan fried onion cake and noodles.</li><li>We had the following: steamed soup filled juicy pork dumplings ( delicious!), braised bamboo shoots ( good, but oily), hot and sour soup ( really well-done), and fried rice cake shanghai style ( good, but a bit bland).</li><li>We ordered pork dumplings in soup, beef and vegetable meal, wonton soup, vsteamed vegetables and seafood basket.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_952">Previous</a></li>
  <li class="next"><a href=".\opinion_target_954">Next</a></li>
</ul>