<% provide :title, 'Opinion Target 1907' %><h2>sushi/sashimi<br />occurrence: 2</h2><div><ol><li>The sushi/sashimi is great too.</li><li>Fresh sushi/sashimi, generous portions, food is always hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1908">Next</a></li>
</ul>