<% provide :title, 'Opinion Target 4617' %><h2>Thai Islamic<br />occurrence: 1</h2><div><ol><li>Normally on a regular day, The Thai Islamic, and the Thai Basil Noodle on their menu is super delicious!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4616">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4618">Next</a></li>
</ul>