<% provide :title, 'Opinion Target 5536' %><h2>bolognese pasta<br />occurrence: 1</h2><div><ol><li>We had carbarnera and bolognese pasta which were both quite nice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5535">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5537">Next</a></li>
</ul>