<% provide :title, 'Opinion Target 6194' %><h2>kimchi hot pot<br />occurrence: 1</h2><div><ol><li>I ordered the dumpling hot pot and my friends picked out the kimchi hot pot ( one ventured into the super spicy realm and was very pleased with their dish), and all of them were great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6193">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6195">Next</a></li>
</ul>