<% provide :title, 'Opinion Target 1830' %><h2>coke<br />occurrence: 2</h2><div><ol><li>But we were in a hurry and were trying to get out, so we suggested, could we just pay it as if the coke was n't on it, as we are in a hurry.</li><li>My beef gyro was excellent, side Greek salad was awesome and the coke was. ... well a coke.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1829">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1831">Next</a></li>
</ul>