<% provide :title, 'Opinion Target 2670' %><h2>Hot fresh Chinese food<br />occurrence: 1</h2><div><ol><li>Hot fresh Chinese food is served fast at a reasonable price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2671">Next</a></li>
</ul>