<% provide :title, 'Opinion Target 8932' %><h2>Thai green curry<br />occurrence: 1</h2><div><ol><li>I 've had the Thai green curry which was really good but a little too sweet for my taste, the Tom yum was delicious and so was the coconut rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8931">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8933">Next</a></li>
</ul>