<% provide :title, 'Opinion Target 8610' %><h2>rice cake and ramen<br />occurrence: 1</h2><div><ol><li>Their rice cake and ramen is very good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8609">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8611">Next</a></li>
</ul>