<% provide :title, 'Opinion Target 4539' %><h2>fried bananas with ice cream<br />occurrence: 1</h2><div><ol><li>The fried bananas with ice cream was served with tropical ice cream flavors- I recommend the coconut!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4538">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4540">Next</a></li>
</ul>