<% provide :title, 'Opinion Target 4670' %><h2>Beef Golden Curry<br />occurrence: 1</h2><div><ol><li>I ended up getting the Beef Golden Curry for my main course.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4669">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4671">Next</a></li>
</ul>