<% provide :title, 'Opinion Target 765' %><h2>pork jia-mo<br />occurrence: 5</h2><div><ol><li>My favourite Xi' an snacks since I was a kid are the pork jia-mo and liang pi ( cold noodles).</li><li>It is hard to make the `` mo'' ( bread) of the pork jia-mo well, and Artisan Noodles did a wonderful job!</li><li>The pork jia-mo was alright too.</li><li>We ordered the pork jia-mo, the cold noodle, and the lamb pao mo ( sweet potato starch noodles).</li><li>If true Xi' an pork jia-mo is 10/10, this was a solid 7.5/10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_764">Previous</a></li>
  <li class="next"><a href=".\opinion_target_766">Next</a></li>
</ul>