<% provide :title, 'Opinion Target 6729' %><h2>Koubideh<br />occurrence: 1</h2><div><ol><li>The Koubideh was YUMMY as was the Barg ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6728">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6730">Next</a></li>
</ul>