<% provide :title, 'Opinion Target 9645' %><h2>rasmalai<br />occurrence: 1</h2><div><ol><li>Rasmalai: Decent, typical rasmalai ( ie: yummy).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9646">Next</a></li>
</ul>