<% provide :title, 'Opinion Target 2501' %><h2>Mediterranean halva<br />occurrence: 1</h2><div><ol><li>The dessert of black sesame seed ice cream was also quite interesting and reminds me of the Mediterranean halva.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2500">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2502">Next</a></li>
</ul>