<% provide :title, 'Opinion Target 6811' %><h2>fried sesame balls<br />occurrence: 1</h2><div><ol><li>For dessert, their fried sesame balls are a real treat!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6810">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6812">Next</a></li>
</ul>