<% provide :title, 'Opinion Target 7028' %><h2>LA galbi<br />occurrence: 1</h2><div><ol><li>The LA galbi was nicely cooked and had great flavour; not too sweet or sticky!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7027">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7029">Next</a></li>
</ul>