<% provide :title, 'Opinion Target 7077' %><h2>blueberry pancakes<br />occurrence: 1</h2><div><ol><li>The blueberry pancakes were delicious and not too sweet.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7076">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7078">Next</a></li>
</ul>