<% provide :title, 'Opinion Target 2805' %><h2>minced meat<br />occurrence: 1</h2><div><ol><li>We found the short rib patty very tasty- it 's not too oily because its made with minced meat mixed with korean dates, pinenuts and chestnuts which gave it a nice chewy texture, plus a nice aroma to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2804">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2806">Next</a></li>
</ul>