<% provide :title, 'Opinion Target 4298' %><h2>drinks cost<br />occurrence: 1</h2><div><ol><li>Tried Lunch today great service and great flavorful foid Haleem tasted perfect for kids, medium spicy 2 haleem, 1 charga, a doz kabob, 10 naan, 2 lassi, 4 drinks cost around $ 110 not including tips, its pricy for 4 kids and 4 adults but if u can afford worth eating. awful customer service experience.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4297">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4299">Next</a></li>
</ul>