<% provide :title, 'Opinion Target 6885' %><h2>Chinese herbal tea<br />occurrence: 1</h2><div><ol><li>Drink: They have basic canned soft drinks and Chinese herbal tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6884">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6886">Next</a></li>
</ul>