<% provide :title, 'Opinion Target 2586' %><h2>roast beef club sandwich<br />occurrence: 1</h2><div><ol><li>I tried the roast beef club sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2585">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2587">Next</a></li>
</ul>