<% provide :title, 'Opinion Target 4042' %><h2>strawberry , grape and lemon soju<br />occurrence: 1</h2><div><ol><li>The strawberry, grape and lemon soju are amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4043">Next</a></li>
</ul>