<% provide :title, 'Opinion Target 3712' %><h2>lemon grass chicken<br />occurrence: 1</h2><div><ol><li>Chicken wings as well as spring rolls were on the greasy side, and the lemon grass chicken was also very fatty as if they were using the American variety, chickens from Ontario are never that fat.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3711">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3713">Next</a></li>
</ul>