<% provide :title, 'Opinion Target 2278' %><h2>Persian sandwiches<br />occurrence: 1</h2><div><ol><li>I mean, either the demand for Persian sandwiches is just too huge to satisfy with one shop only, or the guy who opened the second shop thought he had some competitive advantage.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2279">Next</a></li>
</ul>