<% provide :title, 'Opinion Target 3698' %><h2>Chap Chae noodles<br />occurrence: 1</h2><div><ol><li>The Chap Chae noodles was a very big portion and was also tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3697">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3699">Next</a></li>
</ul>