<% provide :title, 'Opinion Target 7118' %><h2>fig<br />occurrence: 1</h2><div><ol><li>The hit of the fig is unique and makes the pizza even better.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7117">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7119">Next</a></li>
</ul>