<% provide :title, 'Opinion Target 5476' %><h2>powder texture<br />occurrence: 1</h2><div><ol><li>Taro milk tea with pearl drink had very grainy powder texture, and tasted like pudding instead of bubble tea drink ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5475">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5477">Next</a></li>
</ul>