<% provide :title, 'Opinion Target 7386' %><h2>garlic tiger shrimp pasta in tomato sauce<br />occurrence: 1</h2><div><ol><li>I ordered the garlic tiger shrimp pasta in tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7385">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7387">Next</a></li>
</ul>