<% provide :title, 'Opinion Target 7640' %><h2>Viet restaurant<br />occurrence: 1</h2><div><ol><li>Worst Viet restaurant ever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7639">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7641">Next</a></li>
</ul>