<% provide :title, 'Opinion Target 4648' %><h2>seafood curry coconut<br />occurrence: 1</h2><div><ol><li>Also had the seafood curry coconut.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4649">Next</a></li>
</ul>