<% provide :title, 'Opinion Target 2098' %><h2>Lobster Fried Noodles<br />occurrence: 2</h2><div><ol><li>The Lobster Fried Noodles and the Tiger Shrimp w Mango in Custard sauce.</li><li>The Lobster Fried Noodles is just Chunks of lobster stir fried with ginger and onion and resting atop a bed of Cantonese fried egg noodles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2099">Next</a></li>
</ul>