<% provide :title, 'Opinion Target 4819' %><h2>lunch buffet price<br />occurrence: 1</h2><div><ol><li>Although the lunch buffet price is half of dinner and there seemed to be over 75 + items listed, nothing but the dinner only items stood out ( no sashimi for lunch), I personally would n't make my money worth by coming here for lunch.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4818">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4820">Next</a></li>
</ul>