<% provide :title, 'Opinion Target 6349' %><h2>waitress/owner<br />occurrence: 1</h2><div><ol><li>Funny thing is, the waitress/owner, who was not very pleased that we were reluctant to order more food, actually put on a lobster bisque ( $ 10) on the bill without even asking us and brought 3 bowls, saying `` oh you must try the soup, it 's really good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6350">Next</a></li>
</ul>