<% provide :title, 'Opinion Target 7278' %><h2>boiled pork liver<br />occurrence: 1</h2><div><ol><li>Also had lobster Chow mein, the fried daikon cake, boiled pork liver n kidneys, fried breads, etc All delicious and worth coming back for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7277">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7279">Next</a></li>
</ul>