<% provide :title, 'Opinion Target 7114' %><h2>brownies<br />occurrence: 1</h2><div><ol><li>Their brownies are also to die for.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7113">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7115">Next</a></li>
</ul>