<% provide :title, 'Opinion Target 1177' %><h2>dae<br />occurrence: 3</h2><div><ol><li>Their Soon Dae ( Korean style blood sausage) platter is served with good quality soon dae which are made on site with couple of pieces of sliced liver and lungs.</li><li>We ordered soon du bu, soon dae, and seafood pancake.</li><li>Food came out pretty quickly and it was all tasty except the soon dae was not as good as other places.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1176">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1178">Next</a></li>
</ul>