<% provide :title, 'Opinion Target 8202' %><h2>Korean stone bbq<br />occurrence: 1</h2><div><ol><li>My friend who lives in the area is a frequenter and we went in through the back to get take out, only to walk by the back terrace with people eating Korean stone bbq outdoors ... so cool!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8201">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8203">Next</a></li>
</ul>