<% provide :title, 'Opinion Target 6267' %><h2>eggs Benny with smoked salmon and crispy chicken sandwich<br />occurrence: 1</h2><div><ol><li>Ordered eggs Benny with smoked salmon and crispy chicken sandwich.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6266">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6268">Next</a></li>
</ul>