<% provide :title, 'Opinion Target 4946' %><h2>chicken shawarma platter<br />occurrence: 1</h2><div><ol><li>My boyfriend got the chicken shawarma platter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4947">Next</a></li>
</ul>