<% provide :title, 'Opinion Target 2715' %><h2>Cantonese Chow Mein Wonton Soup Siu Mai Eggplant with Black Bean Sauce<br />occurrence: 1</h2><div><ol><li>Ordered a number of dishes for dinner on Friday night: Sweet and Sour Chicken Mixed vegetables with almonds Chicken Fried Rice Shanghai Noodles ( on the recommendation of other reviewers) Cantonese Chow Mein Wonton Soup Siu Mai Eggplant with Black Bean Sauce ( again on recommendation) All dishes were ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2714">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2716">Next</a></li>
</ul>