<% provide :title, 'Opinion Target 2843' %><h2>Iced tea James Bond style<br />occurrence: 1</h2><div><ol><li>Bottom line, ask for your Iced tea James Bond style and watch the water works.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2842">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2844">Next</a></li>
</ul>