<% provide :title, 'Opinion Target 3319' %><h2>pad thai sauce mixed with coconut milk<br />occurrence: 1</h2><div><ol><li>I think there may have been some ketchup in the pad thai sauce mixed with coconut milk and some spice ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3318">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3320">Next</a></li>
</ul>