<% provide :title, 'Opinion Target 8728' %><h2>blue fin tuna<br />occurrence: 1</h2><div><ol><li>No blue fin tuna, but definitely worth visiting after .. say, a long and hard day at Yorkdale ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8729">Next</a></li>
</ul>