<% provide :title, 'Opinion Target 3907' %><h2>tendons<br />occurrence: 1</h2><div><ol><li>That 's rare beef, tripe, tendons, beef balls plus the noodles and broth for $ 6.50.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3906">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3908">Next</a></li>
</ul>