<% provide :title, 'Opinion Target 5139' %><h2>barbecued duck<br />occurrence: 1</h2><div><ol><li>The barbecued duck and pork is made with some kind of hint of anise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5138">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5140">Next</a></li>
</ul>