<% provide :title, 'Opinion Target 1384' %><h2>peppers<br />occurrence: 3</h2><div><ol><li>I dropped in today for lunch and had a good veal parmigiana sandwich and a drink for $ 8.50 taxes in .... the veal was hot, the bun was fresh, the mozzarella cheese was plentiful and stringy ... mushrooms and peppers were good but could have used a few more to make it perfect.</li><li>They charge up to $ 2.00 eachfor additional toppings like mushrooms, peppers and cheese.</li><li>I got the medium peppers and cheese added to it, which came out to like $ 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1383">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1385">Next</a></li>
</ul>