<% provide :title, 'Opinion Target 8059' %><h2>rice cooking<br />occurrence: 1</h2><div><ol><li>Teriaki meats &amp; tempura are good, but the best thing here is the RICE; yes thats hard to believe, but their rice cooking is just incredible.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8058">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8060">Next</a></li>
</ul>