<% provide :title, 'Opinion Target 6413' %><h2>Cantonese Chow Mein lover<br />occurrence: 1</h2><div><ol><li>Friends love the general tso chicken but I 'm more of a Cantonese Chow Mein lover.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6412">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6414">Next</a></li>
</ul>