<% provide :title, 'Opinion Target 5315' %><h2>fish selection<br />occurrence: 1</h2><div><ol><li>The fish selection is small and the quality is what you 'd expect from an all-you-can-eat joint.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5316">Next</a></li>
</ul>