<% provide :title, 'Opinion Target 4678' %><h2>Golden Curry Chicken<br />occurrence: 1</h2><div><ol><li>With the curry theme in mind, my next dish on the `` my fav 's'' list is the Golden Curry Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4677">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4679">Next</a></li>
</ul>