<% provide :title, 'Opinion Target 1453' %><h2>hair<br />occurrence: 2</h2><div><ol><li>Otherwise, the one piece I had prior to finding the hair was nice and tender.</li><li>The hair was black, we all have blonde hair or short hair for boys.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1452">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1454">Next</a></li>
</ul>