<% provide :title, 'Opinion Target 2349' %><h2>coconut juice<br />occurrence: 1</h2><div><ol><li>Other than those chicken skewers, I lounged around and picked up some odd looking crackers, noodles, and coconut juice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2348">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2350">Next</a></li>
</ul>