<% provide :title, 'Opinion Target 1655' %><h2>beef enoki<br />occurrence: 2</h2><div><ol><li>We called for dumplings but they came fried and I wanted to try the beef enoki which is fried too but not that great tasting.</li><li>They have a variety of other AYCE Sushi staples like Tempura items, Ramen and Noodle Soups, Salads, Rice dishes, and appetizers like Beef Enoki, Korean Short Ribs, Skewers, and cutlets.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1654">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1656">Next</a></li>
</ul>