<% provide :title, 'Opinion Target 6135' %><h2>yam tempura<br />occurrence: 1</h2><div><ol><li>``Spicy-Crispy`` vegetarian ( WITH avocado) maki rolls ... mmmm! their yam tempura is yummy with its extra crispy batter ... they only have ice cream for dessert though .. their sushi might not taste a fresh as say `ten-ichi`s` but like i said, i`m won over by their SPICY CRISPY !!!!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6134">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6136">Next</a></li>
</ul>