<% provide :title, 'Opinion Target 9643' %><h2>potato/pea samosas<br />occurrence: 1</h2><div><ol><li>Samosas: One order gets you two large potato/pea samosas, they 're decent, they 're typical samosas you 'd get in the Indian grocery.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9642">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9644">Next</a></li>
</ul>