<% provide :title, 'Opinion Target 9242' %><h2>romaine lettuce with cream cheese<br />occurrence: 1</h2><div><ol><li>If individually ordered the Smoked Salmon would have been $ 16, served on a bed of romaine lettuce with cream cheese, capers, red onion, and rye bread.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9241">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9243">Next</a></li>
</ul>