<% provide :title, 'Opinion Target 9575' %><h2>Mulan Fried Rice<br />occurrence: 1</h2><div><ol><li>I do n't care- I just want my Mulan Fried Rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9574">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9576">Next</a></li>
</ul>