<% provide :title, 'Opinion Target 1518' %><h2>strawberry shaved ice<br />occurrence: 2</h2><div><ol><li>I tried the strawberry shaved ice.</li><li>The desert itself was good, the strawberry shaved ice, the good part was the shaved ice portion, which was very soft and snow flakes like.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1517">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1519">Next</a></li>
</ul>