<% provide :title, 'Opinion Target 1332' %><h2>Chilean food<br />occurrence: 2</h2><div><ol><li>Cheap, plentiful and tasty, the Rosa Chilean offers homemade Chilean food for my Latin sides delight.</li><li>Located just west of Dufferin on Wilson, La Chilena seemed like an interesting place to try since I 've never had Chilean food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1331">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1333">Next</a></li>
</ul>