<% provide :title, 'Opinion Target 2111' %><h2>Channa Masalla<br />occurrence: 2</h2><div><ol><li>Chicken Tikka Masala, Palak Panner, Channa Masalla and Two Naans.</li><li>The Channa Masalla and Naans were fine.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2110">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2112">Next</a></li>
</ul>