<% provide :title, 'Opinion Target 5474' %><h2>drinks : taro milk tea , strawberry milk tea<br />occurrence: 1</h2><div><ol><li>Ordered 3 drinks: taro milk tea, strawberry milk tea, and grass jelly roasted milk tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5473">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5475">Next</a></li>
</ul>