<% provide :title, 'Opinion Target 1537' %><h2>pho bo kho<br />occurrence: 3</h2><div><ol><li>Then we ordered a large bowl of rare and flank beef pho as well as a pho bo kho.</li><li>The pho bo kho definitely hit the spot.</li><li>My boyfriend loves Pho Bo kho and this place has it!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1536">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1538">Next</a></li>
</ul>