<% provide :title, 'Opinion Target 3013' %><h2>beef teriyaki bento box<br />occurrence: 1</h2><div><ol><li>My son had a sushi dinner combo, and I decided to splurge and go the the beef teriyaki bento box, which is made of a sirloin beef steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3014">Next</a></li>
</ul>