<% provide :title, 'Opinion Target 8859' %><h2>caramelized eggplant<br />occurrence: 1</h2><div><ol><li>The caramelized eggplant had a slight crunch to it, and a deep braised flavour that I have no how idea how to emulate at home ( I tried;).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8858">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8860">Next</a></li>
</ul>