<% provide :title, 'Opinion Target 8812' %><h2>roasted quails<br />occurrence: 1</h2><div><ol><li>Scallops were a bit on the small side and the roasted quails were a bit over roasted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8811">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8813">Next</a></li>
</ul>