<% provide :title, 'Opinion Target 5243' %><h2>Spicy Pork stir fry with rice<br />occurrence: 1</h2><div><ol><li>I got the Spicy Pork stir fry with rice, and I ate all of it in 5 minutes and was dying for more food.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5242">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5244">Next</a></li>
</ul>