<% provide :title, 'Opinion Target 2290' %><h2>Malaysian beef fried rice<br />occurrence: 1</h2><div><ol><li>For the rest of my order, I had `` Malaysian beef fried rice''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2289">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2291">Next</a></li>
</ul>