<% provide :title, 'Opinion Target 8883' %><h2>sashimi plate<br />occurrence: 1</h2><div><ol><li>My partner ordered the nigiri and sashimi plate which was also $ 38.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8882">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8884">Next</a></li>
</ul>