<% provide :title, 'Opinion Target 1609' %><h2>takeout spot<br />occurrence: 2</h2><div><ol><li>It 's a simple takeout spot with a few tables and a tv showing some Filipino variety show.</li><li>Not bad for a quick and cheap takeout spot, as long as you manage your expectations.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1610">Next</a></li>
</ul>