<% provide :title, 'Opinion Target 6235' %><h2>Tofu tofu tofu<br />occurrence: 1</h2><div><ol><li>Tofu tofu tofu.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6234">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6236">Next</a></li>
</ul>