<% provide :title, 'Opinion Target 7964' %><h2>BBQ beef with rice<br />occurrence: 1</h2><div><ol><li>I had the BBQ beef with rice, and I personally thought the beef was too sweet, but some folk might like it that way.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7963">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7965">Next</a></li>
</ul>