<% provide :title, 'Opinion Target 4976' %><h2>benedicts<br />occurrence: 1</h2><div><ol><li>The benedicts are a reliable choice, and the OJ is freshly squeezed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4975">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4977">Next</a></li>
</ul>