<% provide :title, 'Opinion Target 5668' %><h2>caprese salad<br />occurrence: 1</h2><div><ol><li>We started off with an assortment of appetizers- the carpaccio, bruschetta, fried calamari, the rustic della casa platter, and the caprese salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5667">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5669">Next</a></li>
</ul>