<% provide :title, 'Opinion Target 5200' %><h2>mango slush<br />occurrence: 1</h2><div><ol><li>The mango slush was great, same as it always has been since I first tried Ten Ren 's many years ago!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5201">Next</a></li>
</ul>