<% provide :title, 'Opinion Target 8423' %><h2>sausage sandwich<br />occurrence: 1</h2><div><ol><li>The place looks like a dump, the staff looks like they are freshly paroled from prison, and the sausage sandwich was completely unimpressive, but that 's no matter, because the hot veal sandwich with cheese is still excellent, and well worth the trip.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8422">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8424">Next</a></li>
</ul>