<% provide :title, 'Opinion Target 2091' %><h2>syrups<br />occurrence: 2</h2><div><ol><li>This one is a fun spot for a group, or for a laid-back family birthday, with the chocolate fountain and philipino-style shaved ice machine featuring fun syrups and toppings, both always a big hit.</li><li>Shaved ice, flavored syrups, evaporated milk, tapioca and taro, red beans, jelly, ice cream ... oh yes.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2090">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2092">Next</a></li>
</ul>