<% provide :title, 'Opinion Target 1777' %><h2>smoked salmon eggs benedict<br />occurrence: 2</h2><div><ol><li>I had the smoked salmon eggs benedict and it was pretty good.</li><li>I ordered the smoked salmon eggs benedict that I was really looking forward too because I did n't want a meat heavy meal.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1776">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1778">Next</a></li>
</ul>