<% provide :title, 'Opinion Target 4048' %><h2>seafood with rice cake<br />occurrence: 1</h2><div><ol><li>The food is decent too, we have the sweet and spicy chicken, seafood pancake, spicy seafood with rice cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4047">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4049">Next</a></li>
</ul>