<% provide :title, 'Opinion Target 6803' %><h2>mushroom tempura<br />occurrence: 1</h2><div><ol><li>My Sushi is a really great place to go with friends and try the all you can eat sushi, the spicy mushroom tempura are my absolute favorite and the avocado covered California roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6802">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6804">Next</a></li>
</ul>