<% provide :title, 'Opinion Target 1273' %><h2>Line<br />occurrence: 3</h2><div><ol><li>Line was long but it moved and seemed to be running efficiently.</li><li>The line is always long but I 've never had to wait more than 2 minutes, so the staff here know how to keep things moving along.</li><li>The place was super busy on a Sunday and the Line did not stop.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1272">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1274">Next</a></li>
</ul>