<% provide :title, 'Opinion Target 5726' %><h2>Peking Duck wasokay<br />occurrence: 1</h2><div><ol><li>The Peking Duck wasokay- the usual side dishes and garnishes were missing but the duck was well roasted.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5725">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5727">Next</a></li>
</ul>