<% provide :title, 'Opinion Target 6718' %><h2>appetizer dips<br />occurrence: 1</h2><div><ol><li>Had the flat bread with different appetizer dips.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6717">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6719">Next</a></li>
</ul>