<% provide :title, 'Opinion Target 5890' %><h2>Beef Golden Curry<br />occurrence: 1</h2><div><ol><li>I ended up getting the Beef Golden Curry for my main course.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5889">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5891">Next</a></li>
</ul>