<% provide :title, 'Opinion Target 4308' %><h2>eastern food<br />occurrence: 1</h2><div><ol><li>My partner is Persian so i 've become an avid middle eastern food lover and this place has some of the best pertain food!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4307">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4309">Next</a></li>
</ul>