<% provide :title, 'Opinion Target 1615' %><h2>eggplants<br />occurrence: 2</h2><div><ol><li>Half of the eggplants I brought home had to be trimmed to get rid of the questionable not so fresh bits.</li><li>The eggplant dish I ordered barely had eggplants .. more onions and red peppers.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1614">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1616">Next</a></li>
</ul>