<% provide :title, 'Opinion Target 2619' %><h2>Turkish<br />occurrence: 1</h2><div><ol><li>The Best Turkish Resturant in Toronto.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2618">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2620">Next</a></li>
</ul>