<% provide :title, 'Opinion Target 6320' %><h2>lobster combos<br />occurrence: 1</h2><div><ol><li>What we got was: 2 lobster combos and the muscles served in an awkward order.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6319">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6321">Next</a></li>
</ul>