<% provide :title, 'Opinion Target 4242' %><h2>steak sauce<br />occurrence: 1</h2><div><ol><li>The waiter was average because I could not find him for a refill or steak sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4241">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4243">Next</a></li>
</ul>