<% provide :title, 'Opinion Target 6250' %><h2>broth base<br />occurrence: 1</h2><div><ol><li>The broth base clearly starts off with a certain level of spiciness, so non spicy just means less spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6249">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6251">Next</a></li>
</ul>