<% provide :title, 'Opinion Target 1641' %><h2>egg noodles<br />occurrence: 2</h2><div><ol><li>The noodles were a combination of egg noodles and vermicelli, that included a `` sahog'' of various meat including chicken, shrimp, bits of lechon kawali, and some veggies.</li><li>The noodles are half big egg noodles ( I have no idea what they 're called but they 're udon like) and half vermicelli.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1642">Next</a></li>
</ul>