<% provide :title, 'Opinion Target 4685' %><h2>roast duck fried quinoa<br />occurrence: 1</h2><div><ol><li>My companion had the special that day, roast duck fried quinoa.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4686">Next</a></li>
</ul>