<% provide :title, 'Opinion Target 6002' %><h2>mac salad<br />occurrence: 1</h2><div><ol><li>Anyhoo-lots of meat on soft bread, delicious sweet hot mustard ( buy some to take home like we do to put on our own homemade creations), greasy knishes ( I could only eat half before feeling like my face was gonna break out in a massive acne outbreak), and over mayo 'd sides like coleslaw, mac salad and potato salad.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6001">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6003">Next</a></li>
</ul>