<% provide :title, 'Opinion Target 6217' %><h2>radish kimchi<br />occurrence: 1</h2><div><ol><li>The side dishes are always the same and include kimchi, seasoned soy bean sprouts, beans in sweet sauce, and radish kimchi.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6216">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6218">Next</a></li>
</ul>