<% provide :title, 'Opinion Target 6229' %><h2>Schwarma dinner<br />occurrence: 1</h2><div><ol><li>I enjoy their Schwarma dinner, which includes meat of your choice, Falafel, Tabouleh, Hummas, Babaganoush and PIta bread ... all for approximately $ 14.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6228">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6230">Next</a></li>
</ul>