<% provide :title, 'Opinion Target 1945' %><h2>fried chicken in spicy sauce<br />occurrence: 2</h2><div><ol><li>The fried chicken in spicy sauce was true to its name, as it was rather spicy and flavorful.</li><li>Came in a large group ( 10 ppl) and we ordered large sizes of the ( 1) boneless chicken with green onion, ( 2) fried chicken in spicy sauce, ( 3) fried chicken in sauce, and ( 4) garlic butter fries.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1944">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1946">Next</a></li>
</ul>