<% provide :title, 'Opinion Target 4465' %><h2>Arabic food<br />occurrence: 1</h2><div><ol><li>Finding the perfect Arabic food is not easy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4464">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4466">Next</a></li>
</ul>