<% provide :title, 'Opinion Target 1169' %><h2>hummos<br />occurrence: 3</h2><div><ol><li>The hummos is to die for, and the ground beef kabobs are great ... the place is nothing to rave about but the food is great.</li><li>I usually order the vegetable plate with meat- the shawarma is always on point and never fatty or gristly; falafels are fresh and tasty and the hummos and baba ghanough are the best I 've ever had.</li><li>The hummos is ridiculously great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1168">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1170">Next</a></li>
</ul>