<% provide :title, 'Opinion Target 6490' %><h2>fried chili turnip cubes<br />occurrence: 1</h2><div><ol><li>We ordered fried chili turnip cubes, seafood congee with a deep fried donut, and a Cantonese chow mein.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6489">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6491">Next</a></li>
</ul>