<% provide :title, 'Opinion Target 3385' %><h2>Chicken shawarma dinner<br />occurrence: 1</h2><div><ol><li>Chicken shawarma dinner was very hearty and the aromas is what I noticed first.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3384">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3386">Next</a></li>
</ul>