<% provide :title, 'Opinion Target 6529' %><h2>actual food<br />occurrence: 1</h2><div><ol><li>The actual food is so shitty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6528">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6530">Next</a></li>
</ul>