<% provide :title, 'Opinion Target 6491' %><h2>seafood congee with a deep fried donut<br />occurrence: 1</h2><div><ol><li>We ordered fried chili turnip cubes, seafood congee with a deep fried donut, and a Cantonese chow mein.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6490">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6492">Next</a></li>
</ul>