<% provide :title, 'Opinion Target 3062' %><h2>dry-fried chicken<br />occurrence: 1</h2><div><ol><li>I should mention that even for people who love, no, need spicy food regularly, the Chunking dry-fried chicken is pretty, pretty spicy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3061">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3063">Next</a></li>
</ul>