<% provide :title, 'Opinion Target 1906' %><h2>food prices<br />occurrence: 2</h2><div><ol><li>The booths are very spacious and I do n't feel cramped at all ( unlike most neighbourhood sushi restaurants) The food prices are fair too.</li><li>Food prices are $ 8 to $ 12 before tax and tip.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1905">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1907">Next</a></li>
</ul>