<% provide :title, 'Opinion Target 4141' %><h2>jalepenos<br />occurrence: 1</h2><div><ol><li>She made absolutely no effort to rectify the situation, but preferred to argue that the jalepenos were there ( even though she did not bring the nachos, and therefore did not see them herself).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4140">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4142">Next</a></li>
</ul>