<% provide :title, 'Opinion Target 3672' %><h2>skin/shell<br />occurrence: 1</h2><div><ol><li>The skin/shell was n't even that tender, chewy, or tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3671">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3673">Next</a></li>
</ul>