<% provide :title, 'Opinion Target 6160' %><h2>Tuna Tataki (<br />occurrence: 1</h2><div><ol><li>The Tuna Tataki ( Sashimi) was well done as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6159">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6161">Next</a></li>
</ul>