<% provide :title, 'Opinion Target 2789' %><h2>black sesame dressing salad<br />occurrence: 1</h2><div><ol><li>I really liked the side dishes as well- black sesame dressing salad, spicy cucumbers, eggplant. so I came here about 3 times already.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2790">Next</a></li>
</ul>