<% provide :title, 'Opinion Target 5306' %><h2>famous wings<br />occurrence: 1</h2><div><ol><li>Their famous wings are average IMO.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5305">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5307">Next</a></li>
</ul>