<% provide :title, 'Opinion Target 3026' %><h2>Thai beef soup noodle<br />occurrence: 1</h2><div><ol><li>Personal favorite by far is the Thai beef soup noodle.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3027">Next</a></li>
</ul>