<% provide :title, 'Opinion Target 7107' %><h2>flavors<br />occurrence: 1</h2><div><ol><li>Some flavors are better than others but it might just be a preference thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7108">Next</a></li>
</ul>