<% provide :title, 'Opinion Target 6313' %><h2>Tiramisu gelato<br />occurrence: 1</h2><div><ol><li>On my way out I sampled the Tiramisu gelato, it was way too sweet for my taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6312">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6314">Next</a></li>
</ul>