<% provide :title, 'Opinion Target 7041' %><h2>side polpette<br />occurrence: 1</h2><div><ol><li>The side polpette are meatballs served in a small dish of tomato sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7040">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7042">Next</a></li>
</ul>