<% provide :title, 'Opinion Target 4432' %><h2>veal or chicken parm<br />occurrence: 1</h2><div><ol><li>Go with the veal or chicken parm.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4431">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4433">Next</a></li>
</ul>