<% provide :title, 'Opinion Target 2325' %><h2>fruit flies<br />occurrence: 2</h2><div><ol><li>Let me make this clear- I do n't care how many linen tablecloths you throw on the tables, the fruit flies fluttering around the restaurant give this place 's `` quality'' away.</li><li>On to the food- gotta love the fruit flies following my spicy eggplant from the kitchen onto my table.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2324">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2326">Next</a></li>
</ul>