<% provide :title, 'Opinion Target 7838' %><h2>pancake stuffed with eggs bacon and cheese<br />occurrence: 1</h2><div><ol><li>At first I was going to choose The Caker, a pancake stuffed with eggs bacon and cheese.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7837">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7839">Next</a></li>
</ul>