<% provide :title, 'Opinion Target 9566' %><h2>dessert reservation<br />occurrence: 1</h2><div><ol><li>At 8:40pm, I called to make a dessert reservation for that night.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9565">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9567">Next</a></li>
</ul>