<% provide :title, 'Opinion Target 7604' %><h2>rice ( chicken<br />occurrence: 1</h2><div><ol><li>The pho here is average but not fantastic and the rice ( chicken, pork chop, and egg) my boyfriend ordered was decent but his rice was sogging into congee.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7603">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7605">Next</a></li>
</ul>