<% provide :title, 'Opinion Target 5450' %><h2>bathroom doors<br />occurrence: 1</h2><div><ol><li>The furniture and decor feels quite new and is always clean, the washrooms are clean and high-tech ( touch-less soap dispensers, paper towel dispensers, as well as the bathroom doors which you do n't often see), and they added an outdoor patio fairly recently which is very nice in the summer.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5449">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5451">Next</a></li>
</ul>