<% provide :title, 'Opinion Target 1815' %><h2>mango ice cream<br />occurrence: 2</h2><div><ol><li>The Grapefruit Shaved Ice was a mountain of shaved ice laced with condensed milk amd grapefruit juice, toppled with pieces of grapefruit, banana, strawberry and conflakes and finally, a scoop of mango ice cream to top it off!</li><li>We had a bit of a dessert mix-up, where one of my dining companions got vanilla instead of mango ice cream, but it was n't the end of the world.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1814">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1816">Next</a></li>
</ul>