<% provide :title, 'Opinion Target 3038' %><h2>croissant breakfast sandwich<br />occurrence: 1</h2><div><ol><li>I tried their croissant breakfast sandwich and was rather underwhelmed.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3037">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3039">Next</a></li>
</ul>