<% provide :title, 'Opinion Target 1024' %><h2>cereal<br />occurrence: 3</h2><div><ol><li>Most grocery staples available and always a large variety e.g. bread/hard bread, rice, oil ( not sure about milk, butter or cereal besides oatmeal).</li><li>The sprinkling of cereal is a creative touch to the dish, adding nice texture.</li><li>Got the Sesame Crepe- 2 scoops black sesame icecream ( made in-house), whipped cream, cereal, sponge cake.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1023">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1025">Next</a></li>
</ul>