<% provide :title, 'Opinion Target 2140' %><h2>Golden Curry Chicken<br />occurrence: 2</h2><div><ol><li>Dining Experience: Lunch Specialty: Thai Menu items: Shrimp Panang and Golden Curry Chicken Yes, we all love Thai food.</li><li>With the curry theme in mind, my next dish on the `` my fav 's'' list is the Golden Curry Chicken.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2139">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2141">Next</a></li>
</ul>