<% provide :title, 'Opinion Target 4026' %><h2>chilies<br />occurrence: 1</h2><div><ol><li>The food though is really good as I shared: Charcuterie Board ( $ 14)- cured &amp; smoked meats, house made pâté, mustards, pickles, and bread While I nibbled off from my friend 's: Calamari ( $ 14)- lemon mustard aïoli, chilies and Shrimp Cocktail ( $ 16) Service was not the greatness this time .... our waitress was a little cold but I was too busy having a great time with my fellow yelpers to notice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4025">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4027">Next</a></li>
</ul>