<% provide :title, 'Opinion Target 2246' %><h2>tilapia<br />occurrence: 2</h2><div><ol><li>Sashimi was okay but the tilapia was coarsely chopped and the salmon has the grey edge attached.</li><li>The Tilapia is grilled good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2245">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2247">Next</a></li>
</ul>