<% provide :title, 'Opinion Target 2042' %><h2>waiter/cashier<br />occurrence: 2</h2><div><ol><li>In terms of the service, I found it completely fine and the waiter/cashier was really nice.</li><li>I do n't know why people complain about the waiter/cashier, he has always been very friendly to me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2041">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2043">Next</a></li>
</ul>