<% provide :title, 'Opinion Target 6371' %><h2>chilli<br />occurrence: 1</h2><div><ol><li>If you ask for it to be spicier they simply put in thinly sliced green chilli peppers which I find simply insulting because it 's not how it should be prepped.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6370">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6372">Next</a></li>
</ul>