<% provide :title, 'Opinion Target 1648' %><h2>kalbi dinner<br />occurrence: 2</h2><div><ol><li>My girlfriend had the kalbi dinner bento box and it was massive ....</li><li>The food was also surprisingly good, and portions are unusually generous: The salmon sashimi lunch actually has enough pieces to not leave you still hungry yet does n't cost an arm and a leg, the bento box was varied and tasted good, and when I tried the kalbi dinner, the plate was stacked with so many large pieces that it puts to shame most other kalbi entrees I 've tried.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1647">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1649">Next</a></li>
</ul>