<% provide :title, 'Opinion Target 4057' %><h2>frozen chicken Brest pieces<br />occurrence: 1</h2><div><ol><li>The Chicken Sandwich is using frozen chicken Brest pieces, not fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4056">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4058">Next</a></li>
</ul>