<% provide :title, 'Opinion Target 2852' %><h2>Indian Chinese cuisine<br />occurrence: 1</h2><div><ol><li>If you want a truly Hakka experience ( by that I mean Indian Chinese cuisine- as Hakka also refers to a certain group of people in China and their cuisine is not even close to what is offered at Szechuan Gourmet Restaurant) I would recommend Tangerine Asian Cuisine, but be prepared, the spiciness could blow your socks off!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2851">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2853">Next</a></li>
</ul>