<% provide :title, 'Opinion Target 6919' %><h2>sashami platter<br />occurrence: 1</h2><div><ol><li>We had a sashami platter, and you can definately taste the difference between regular fish, and katsura fish ( however, if you go to vancouver, it does taste this fresh with a third of the cost).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6918">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6920">Next</a></li>
</ul>