<% provide :title, 'Opinion Target 6153' %><h2>bean sprout stir fry<br />occurrence: 1</h2><div><ol><li>And the rest of the food came which included the sushi rolls and bean sprout stir fry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6152">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6154">Next</a></li>
</ul>