<% provide :title, 'Opinion Target 7641' %><h2>flour<br />occurrence: 1</h2><div><ol><li>Way too much flour was used.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7642">Next</a></li>
</ul>