<% provide :title, 'Opinion Target 9738' %><h2>turkey and salami<br />occurrence: 1</h2><div><ol><li>I get either a turkey, turkey and salami, or corn beef and they 're all great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9739">Next</a></li>
</ul>