<% provide :title, 'Opinion Target 3107' %><h2>salad ( dressing<br />occurrence: 1</h2><div><ol><li>The lunch boxes came with: salad ( dressing was really flavourful. captured fruity and Asian flavours), mashed potatoes with teriyaki sauce, corn, and spicy mayo, a gyoza, rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3106">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3108">Next</a></li>
</ul>