<% provide :title, 'Opinion Target 6638' %><h2>bim bim bap<br />occurrence: 1</h2><div><ol><li>I actually come here mostly for the side dishes, but enjoy their pork bone soup, any kind of cutlet, and bim bim bap in the stone bowl!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6637">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6639">Next</a></li>
</ul>