<% provide :title, 'Opinion Target 9665' %><h2>`` Mango Lassi<br />occurrence: 1</h2><div><ol><li>Also, do n't forget to get the `` Mango Lassi''.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9664">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9666">Next</a></li>
</ul>