<% provide :title, 'Opinion Target 3093' %><h2>green tea bubble tea<br />occurrence: 1</h2><div><ol><li>We ordered the affogatto which was mediocre and green tea bubble tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3092">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3094">Next</a></li>
</ul>