<% provide :title, 'Opinion Target 6146' %><h2>breaded shrimp<br />occurrence: 1</h2><div><ol><li>And this place has the best breaded shrimp ever ..... 6 pieces for $ 3.00 !!! I will always recommend this place!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6147">Next</a></li>
</ul>