<% provide :title, 'Opinion Target 9706' %><h2>miso broth<br />occurrence: 1</h2><div><ol><li>The miso broth ( which I sampled) was really good as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9705">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9707">Next</a></li>
</ul>