<% provide :title, 'Opinion Target 1739' %><h2>blood pudding<br />occurrence: 2</h2><div><ol><li>They added a few different soups that are not chicken but beef, and not just any beef, it 's beef intestines and/or blood pudding.</li><li>The blood pudding was not the freshest and neither was the cuts of meat imo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1740">Next</a></li>
</ul>