<% provide :title, 'Opinion Target 3795' %><h2>Beef Tripe Stew<br />occurrence: 1</h2><div><ol><li>We ordered the Beef Tripe Stew ( 27.99 $) and Pan fried oysters ( 17.99 $).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3794">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3796">Next</a></li>
</ul>