<% provide :title, 'Opinion Target 8536' %><h2>cinnamon brioche with an egg<br />occurrence: 1</h2><div><ol><li>The cinnamon brioche with an egg, bacon and a pile of fresh fruit on the side.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8535">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8537">Next</a></li>
</ul>