<% provide :title, 'Opinion Target 5685' %><h2>soy garlic<br />occurrence: 1</h2><div><ol><li>Their soy garlic is crispy garlicky yumminess as well.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5684">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5686">Next</a></li>
</ul>