<% provide :title, 'Opinion Target 3957' %><h2>lunch sandwich<br />occurrence: 1</h2><div><ol><li>$ 9 for a small lunch sandwich ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3956">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3958">Next</a></li>
</ul>