<% provide :title, 'Opinion Target 7800' %><h2>veal sandwich with tomato sauce<br />occurrence: 1</h2><div><ol><li>Went today at lunch and had the veal sandwich with tomato sauce which costs about $ 7 + tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7799">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7801">Next</a></li>
</ul>