<% provide :title, 'Opinion Target 2474' %><h2>notable roll<br />occurrence: 1</h2><div><ol><li>One notable roll was the lion head which was spicy salmon with tuna and avocado on top.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2473">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2475">Next</a></li>
</ul>