<% provide :title, 'Opinion Target 1959' %><h2>steak teriyaki<br />occurrence: 2</h2><div><ol><li>The sashimi slices are nice and thick while the standard hot items like steak teriyaki, salmon teriyaki, and grilled beef ribs are done nicely.</li><li>The steak teriyaki was tough and dry!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1958">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1960">Next</a></li>
</ul>