<% provide :title, 'Opinion Target 7772' %><h2>cho-gochuchang<br />occurrence: 1</h2><div><ol><li>The cho-gochuchang was ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7771">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7773">Next</a></li>
</ul>