<% provide :title, 'Opinion Target 1478' %><h2>ginger beef<br />occurrence: 2</h2><div><ol><li>The chilli chicken and crispy ginger beef is out of this world!</li><li>Our normal order consists of chicken fried rice, Hakka chowmein, crispy ginger beef and sizzling shrimp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1479">Next</a></li>
</ul>