<% provide :title, 'Opinion Target 9557' %><h2>cake takeout section<br />occurrence: 1</h2><div><ol><li>Only minus is that the cake takeout section seems like a different store.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9556">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9558">Next</a></li>
</ul>