<% provide :title, 'Opinion Target 1537' %><h2>verdict<br />occurrence: 2</h2><div><ol><li>The verdict: Definitely a place we would go again and again if it were n't kind of out of the way.</li><li>The verdict: the crepe was dry and almost crispy-like ( not even close to how a crepe should taste like).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1536">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1538">Next</a></li>
</ul>