<% provide :title, 'Opinion Target 6315' %><h2>small pasta plate<br />occurrence: 1</h2><div><ol><li>The small pasta plate is $ 5 + tax.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6314">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6316">Next</a></li>
</ul>