<% provide :title, 'Opinion Target 3943' %><h2>curry chicken wings<br />occurrence: 1</h2><div><ol><li>The curry chicken wings were crisp and sauced nicely, but there was actually a bit too much grease on it to enjoy much.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3942">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3944">Next</a></li>
</ul>