<% provide :title, 'Opinion Target 6179' %><h2>stone-pot purple rice<br />occurrence: 1</h2><div><ol><li>$ 8 for a soup, with your choice of filling + tofu, served with a stone-pot purple rice which also doubles up as a second soup to cleanse off your palette after chowing down the hot, tasty broth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6178">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6180">Next</a></li>
</ul>