<% provide :title, 'Opinion Target 7410' %><h2>chicken slices<br />occurrence: 1</h2><div><ol><li>Love their Cantonese Chow Mein with big shrimps, tender chicken slices &amp; fresh mix vegetables.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7409">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7411">Next</a></li>
</ul>