<% provide :title, 'Opinion Target 3295' %><h2>Food taste<br />occurrence: 1</h2><div><ol><li>Food taste quite excellent.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3296">Next</a></li>
</ul>