<% provide :title, 'Opinion Target 1746' %><h2>chocolate hazelnut milk tea<br />occurrence: 2</h2><div><ol><li>I had the chocolate hazelnut milk tea w/ no tapioca, etc as the price was already a little high for my taste.</li><li>I was rushed by the cashier so I just ordered the Tea of the Month which happened to the Chocolate Hazelnut Milk Tea.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1745">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1747">Next</a></li>
</ul>