<% provide :title, 'Opinion Target 1468' %><h2>hot stone bowl<br />occurrence: 2</h2><div><ol><li>The hot stone bowl is also SUPER hot ( Some places serve dolsot bibimbap in warm bowls, ugh), which creates awesome nurungji ( hard rice at bottom of bowl) and keeps the meal hot from start to finish ( Anyone else hate eating cold food that 's meant to be hot ?!).</li><li>They scoop the cooked rice to a bowl for you to enjoy with your tofu soup or bulgogi and pour the water in the hot stone bowl where there are still remainders of rice that 's stuck to the bottom of the hot stone bowl.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1467">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1469">Next</a></li>
</ul>