<% provide :title, 'Opinion Target 1115' %><h2>dough fritter<br />occurrence: 4</h2><div><ol><li>My favourite dishes:- fried chili turnip patties- spice &amp; pepper salt squid- lemon chicken- shrimp and chicken fried rice in cream &amp; tomato sauce- bbq pork- dough fritter.</li><li>Their chili fried turnip cakes, dough fritter, vegetarian six grain fried rice are our family favourites!</li><li>We got the glutinous rice with the dough fritter in it.</li><li>Oh yeah, try the glutinous rice with dough fritter.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1114">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1116">Next</a></li>
</ul>