<% provide :title, 'Opinion Target 4113' %><h2>clam / shrimp chowder<br />occurrence: 1</h2><div><ol><li>Me and a friend ordered clam/ shrimp chowder to start.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4112">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4114">Next</a></li>
</ul>