<% provide :title, 'Opinion Target 4619' %><h2>Fish grilled in banana leaf<br />occurrence: 1</h2><div><ol><li>Fish grilled in banana leaf- although it was good, I usually like my whole fish fried which probably is n't the healthiest but this was still good 4.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4618">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4620">Next</a></li>
</ul>