<% provide :title, 'Opinion Target 6198' %><h2>Caribbean/Indian food<br />occurrence: 1</h2><div><ol><li>This might be the best Caribbean/Indian food I 've had.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6197">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6199">Next</a></li>
</ul>