<% provide :title, 'Opinion Target 2084' %><h2>Sapporo Teppan Lobster<br />occurrence: 2</h2><div><ol><li>Disappointed from no Wagyu, I 'll go for Lobster where we got Sashimi Lobster ( $ 17.95), Sapporo Teppan Lobster ( $ 18.95), Grilled Lamb Chops ( $ 2.50/chop), Tuna Tataki ( $ 8.95), Uni Fried Rice ( $ 9.95), and Jumbo Teppan Oyster ( $ 2.49/each).</li><li>Same can be said for the Sapporo Teppan Lobster which was hard to locate the meat as it was mostly shell and it was n't even crushed or leave us with a Lobster Clamp.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2083">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2085">Next</a></li>
</ul>