<% provide :title, 'Opinion Target 5572' %><h2>piadini<br />occurrence: 1</h2><div><ol><li>The piadini was good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5571">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5573">Next</a></li>
</ul>