<% provide :title, 'Opinion Target 6948' %><h2>carmelized bbq sauce<br />occurrence: 1</h2><div><ol><li>Thick tender pieces with just a little bit of fat all coated in a yummy carmelized bbq sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6949">Next</a></li>
</ul>