<% provide :title, 'Opinion Target 5013' %><h2>cheapest entree<br />occurrence: 1</h2><div><ol><li>The cheapest entree is $ 38.00.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5012">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5014">Next</a></li>
</ul>