<% provide :title, 'Opinion Target 3973' %><h2>Rooms<br />occurrence: 1</h2><div><ol><li>Small Rooms is one of North York 's best kept secret.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3972">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3974">Next</a></li>
</ul>