<% provide :title, 'Opinion Target 2744' %><h2>black sesame dressing on lettuce<br />occurrence: 1</h2><div><ol><li>My favourite is the black sesame dressing on lettuce, it balances out the heat from the real veal bibimbap ( i need to increase my spicy tolerance) Samgyetang $ 16.99 Perfect when the weather is cold.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2743">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2745">Next</a></li>
</ul>