<% provide :title, 'Opinion Target 5987' %><h2>Juicy Dirty Rice Rice<br />occurrence: 1</h2><div><ol><li>Spicy Greasy Crunchy Tasty Juicy Dirty Rice Rice and Beans Seasoned Fries Chicken More chicken Popeye 's Rules!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5986">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5988">Next</a></li>
</ul>