<% provide :title, 'Opinion Target 2660' %><h2>parmigiana<br />occurrence: 1</h2><div><ol><li>I like the Linguini gamberi and the parmigiana di melanzane.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2659">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2661">Next</a></li>
</ul>