<% provide :title, 'Opinion Target 7788' %><h2>lunch `` specials<br />occurrence: 1</h2><div><ol><li>- The lunch `` specials'' include large wings and fries for $ 13.95.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7789">Next</a></li>
</ul>