<% provide :title, 'Opinion Target 735' %><h2>mains<br />occurrence: 6</h2><div><ol><li>For mains, chicken curry, two filet mignons, ribeye steak and salad.</li><li>The mains were okay.</li><li>The portions for all the mains were pretty small, so we definitely needed that appetizer.</li><li>It simplified its menu and removed the pricey mains a few years ago.</li><li>For mains we shared the crispy duck, where the server rips up 2 duck legs and you wrap it ala Peking duck style.</li><li>Since the mains were small, we needed one full appetizer per person.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_734">Previous</a></li>
  <li class="next"><a href=".\opinion_target_736">Next</a></li>
</ul>