<% provide :title, 'Opinion Target 7187' %><h2>servings of pork belly<br />occurrence: 1</h2><div><ol><li>I 'll first start off with the food, we were a group of 4 but not that hungry so all we ordered was 2 servings of pork belly and it was fairly a good amount, but the slices were really thin ( a little bit thicker than bacon) and came with soup of ur choice ( choose kimchi) food was ok.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7188">Next</a></li>
</ul>