<% provide :title, 'Opinion Target 5295' %><h2>fried banana with coconut ice cream drizzled with chocolate sauce<br />occurrence: 1</h2><div><ol><li>Ordered the fried banana with coconut ice cream drizzled with chocolate sauce as an afterthought.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5294">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5296">Next</a></li>
</ul>