<% provide :title, 'Opinion Target 967' %><h2>laffa<br />occurrence: 4</h2><div><ol><li>The laffa they make in house is so fresh and a nice treat.</li><li>Anyways the free Laffa are pretty bad considering they are made fresh, thin and over cooked and hard.</li><li>The laffa ( flat pita) is cooked right in front of you in a stone oven fresh to order and it alone is unbelievable.</li><li>We ordered an extra laffa ( $ 2).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_966">Previous</a></li>
  <li class="next"><a href=".\opinion_target_968">Next</a></li>
</ul>