<% provide :title, 'Opinion Target 2612' %><h2>sushi boats<br />occurrence: 1</h2><div><ol><li>But I still prefer just ordering one of their sushi boats or a bento box.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2611">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2613">Next</a></li>
</ul>