<% provide :title, 'Opinion Target 6324' %><h2>meatball sub<br />occurrence: 1</h2><div><ol><li>Good selection of hot plates, cafeteria style Italian eatery, nice sized portions, on the expensive side, tastes pretty good esp the meatball sub.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6325">Next</a></li>
</ul>