<% provide :title, 'Opinion Target 2252' %><h2>fried milk dessert<br />occurrence: 1</h2><div><ol><li>I especially love their beef noodle soup, stewed pork w/ rice, and fried milk dessert!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2251">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2253">Next</a></li>
</ul>