<% provide :title, 'Opinion Target 6611' %><h2>milk ice<br />occurrence: 1</h2><div><ol><li>The drink is nice and sweet with a mango syrup:) I enjoyed it will try their other flavors of milk ice next time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6610">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6612">Next</a></li>
</ul>