<% provide :title, 'Opinion Target 4200' %><h2>pita pocket<br />occurrence: 1</h2><div><ol><li>Not the fanciest place around, BUT: the size of the pita pocket was HUGE, the chicken tasty, the vegetables definitely fresh, the hummous could have used a bit more garlic and lemon juice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4199">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4201">Next</a></li>
</ul>