<% provide :title, 'Opinion Target 5826' %><h2>fast-food style Thai food<br />occurrence: 1</h2><div><ol><li>If I wanted simple, fast-food style Thai food, I 'd be going to the son 's more casual restaurant, Salad King.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5825">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5827">Next</a></li>
</ul>