<% provide :title, 'Opinion Target 674' %><h2>grilled calamari<br />occurrence: 5</h2><div><ol><li>Or even the grilled calamari that they have at the regular Mr. Greeks.</li><li>You must try the grilled calamari.</li><li>As mentioned above, the grilled calamari is better than sex.</li><li>We ordered the Asparagus and Portabello Salad, as well as the Calamarri alla Griglia ( Grilled Calamari).</li><li>Grilled Calamari incredibly unappetizing ... arrives literally smothered in a salsa-like concoction of chopped tomato and other Impossible to discern green spices ... other dishes, less offensive ... but all uninspiring.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_673">Previous</a></li>
  <li class="next"><a href=".\opinion_target_675">Next</a></li>
</ul>