<% provide :title, 'Opinion Target 4378' %><h2>Red Dragon Maki  -  Black Dragon Maki<br />occurrence: 1</h2><div><ol><li>Everything from the Spider Maki- Red Dragon Maki- Black Dragon Maki are fantastic .. and not to mention HUGE.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4377">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4379">Next</a></li>
</ul>