<% provide :title, 'Opinion Target 6948' %><h2>8oz pesto feta steak<br />occurrence: 1</h2><div><ol><li>Today I decided to try the 8oz pesto feta steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6947">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6949">Next</a></li>
</ul>