<% provide :title, 'Opinion Target 5362' %><h2>server/cashier<br />occurrence: 1</h2><div><ol><li>As soon as I said that I will be staying in, I was told by the server/cashier that I can not stay in if I am ordering only a soup, When I asked why ?</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5361">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5363">Next</a></li>
</ul>