<% provide :title, 'Opinion Target 1601' %><h2>dill rice<br />occurrence: 2</h2><div><ol><li>I 'm not a big fan of their dill rice though and prefer the rice that comes with the Koobideh.</li><li>Also served with dill rice, mounds of dill rice.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1602">Next</a></li>
</ul>