<% provide :title, 'Opinion Target 4701' %><h2>shwarma<br />occurrence: 1</h2><div><ol><li>The shwarma is amazing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4700">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4702">Next</a></li>
</ul>