<% provide :title, 'Opinion Target 4049' %><h2>Prime Rib<br />occurrence: 1</h2><div><ol><li>MEDIOCRE: Prime Rib OK; the mashed Yukon Gold potatoes- tepid, tasteless and dry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4048">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4050">Next</a></li>
</ul>