<% provide :title, 'Opinion Target 4162' %><h2>sesame sauce<br />occurrence: 1</h2><div><ol><li>Nasu Dengaku, grilled eggplant with sweet miso and sesame sauce was beautifully seared over the barbecue and finally the Legend Dragon stood up to it 's name, avocado, cucumber, deep fried shrimp wrapped in spicy salmon with sauce and fish eggs.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4161">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4163">Next</a></li>
</ul>