<% provide :title, 'Opinion Target 7168' %><h2>steak house<br />occurrence: 1</h2><div><ol><li>Pretty typical outdated steak house dining kind of stuff.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7167">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7169">Next</a></li>
</ul>