<% provide :title, 'Opinion Target 6578' %><h2>BBQ Taiwanese sausage<br />occurrence: 1</h2><div><ol><li>The BBQ Taiwanese sausage is SO good ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6577">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6579">Next</a></li>
</ul>