<% provide :title, 'Opinion Target 8465' %><h2>chocolate milkshakes<br />occurrence: 1</h2><div><ol><li>My family ordered this huge burger steak, vanilla and chocolate milkshakes, fish and chips, and chicken tenders.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8464">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8466">Next</a></li>
</ul>