<% provide :title, 'Opinion Target 4764' %><h2>best Jamaican food<br />occurrence: 1</h2><div><ol><li>The best Jamaican food in the GTA!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4763">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4765">Next</a></li>
</ul>