<% provide :title, 'Opinion Target 7609' %><h2>Bún bò Hu and Banh Xeo<br />occurrence: 1</h2><div><ol><li>Pho Mi Asia is the place to go for the best Bún bò Hu and Banh Xeo.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7608">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7610">Next</a></li>
</ul>