<% provide :title, 'Opinion Target 2789' %><h2>: Ginseng Chicken soup<br />occurrence: 1</h2><div><ol><li>Pros: Ginseng Chicken soup that ca n't be found at most Korean restaurants Very well done side dishes Cons: Pricey for a Korean restaurant Not much variety in menu No Gamjatang ??</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2788">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2790">Next</a></li>
</ul>