<% provide :title, 'Opinion Target 2447' %><h2>local Chinese food<br />occurrence: 1</h2><div><ol><li>Great local Chinese food !!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2446">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2448">Next</a></li>
</ul>