<% provide :title, 'Opinion Target 2445' %><h2>pork bone soups<br />occurrence: 2</h2><div><ol><li>Unlike other pork bone soups I 've had this one did not have any seeds in it ( not sure what those seeds are but they sure taste good) nor did it have any green vegetables, I enjoy a little greenery in my soup and this was sorely missed.</li><li>The soup had a strong ginger taste and was not as salty as other pork bone soups I have had which is a good thing.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2444">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2446">Next</a></li>
</ul>