<% provide :title, 'Opinion Target 5917' %><h2>tea icecream<br />occurrence: 1</h2><div><ol><li>With a dallop of whip cream on the side and 2 scoops with green tea icecream which is homemade.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5916">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5918">Next</a></li>
</ul>