<% provide :title, 'Opinion Target 3946' %><h2>vietnam style pancake<br />occurrence: 1</h2><div><ol><li>I personally like the following dishes:- Spring rolls ( very very crispy_- fried butter chicken wings ( Juicy, and butterly tasty)- vietnam style pancake What 's else:- You ca n't really comment on the service, you know why,- I do n't like the fact that there are tables right besides the washroom ( this is just personal preference).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3945">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3947">Next</a></li>
</ul>