<% provide :title, 'Opinion Target 9647' %><h2>naan and shrimp<br />occurrence: 1</h2><div><ol><li>Besides the naan and shrimp were okay.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9646">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9648">Next</a></li>
</ul>