<% provide :title, 'Opinion Target 4136' %><h2>tentacles<br />occurrence: 1</h2><div><ol><li>Squid tentacles- i want to marry these tentacles.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4135">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4137">Next</a></li>
</ul>