<% provide :title, 'Opinion Target 3452' %><h2>butter chicken and Lamb Rogan Josh<br />occurrence: 1</h2><div><ol><li>Got the butter chicken and Lamb Rogan Josh which our server recommended to us.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3451">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3453">Next</a></li>
</ul>