<% provide :title, 'Opinion Target 8831' %><h2>Susan C.<br />occurrence: 1</h2><div><ol><li>( Inner Susan C.* facepalm*) Pro:- good dim sum- fast- clean, spacious restaurant- Just off the 404 on Finch Con- They 're not always sure which dishes go to which table- On the higher end in terms of prices- Parking bites- No push carts giving you a look see.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8830">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8832">Next</a></li>
</ul>