<% provide :title, 'Opinion Target 8777' %><h2>table setting<br />occurrence: 1</h2><div><ol><li>Had to ask for the essentials; water, table setting, even wasabi and ginger ( which is essential for sushi restaurants ??).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8776">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8778">Next</a></li>
</ul>