<% provide :title, 'Opinion Target 5572' %><h2>steak panino<br />occurrence: 1</h2><div><ol><li>My favourite dishes are probably the steak panino and steak salad, but that might be because I like steak.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5571">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5573">Next</a></li>
</ul>