<% provide :title, 'Opinion Target 7899' %><h2>rice in the stone pot<br />occurrence: 1</h2><div><ol><li>I always wanted to ask if I can eat the remaining rice in the stone pot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7898">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7900">Next</a></li>
</ul>