<% provide :title, 'Opinion Target 5027' %><h2>Korean rice<br />occurrence: 1</h2><div><ol><li>I have a feeling they use Korean rice ( on their sushi too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5026">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5028">Next</a></li>
</ul>