<% provide :title, 'Opinion Target 9339' %><h2>shau mai<br />occurrence: 1</h2><div><ol><li>I filled two bowls for one meal which came out to one bowl at the end, The guy working the grill was friendly and fast, The buffet was great, lots of options, I loved the shau mai ( which I know I did n't spell correctly) and the lotus seed bun as well as the fried goyza ( again another spelling mistake;)) The dessert was nearly the best part of the entire meal, there was a lot of options and the slush machine and chocolate fountain had to be my favriote.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9338">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9340">Next</a></li>
</ul>