<% provide :title, 'Opinion Target 6855' %><h2>lamb che mian<br />occurrence: 1</h2><div><ol><li>It still tastes good from the plastic container. 老碗 wok lamb che mian, 手工羊肉扯面.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6856">Next</a></li>
</ul>