<% provide :title, 'Opinion Target 2108' %><h2>filet<br />occurrence: 2</h2><div><ol><li>I was not expecting this, I was hoping it would be a filet.</li><li>New owners apparently and it is evident, will not be returning after horrid experience Medium well filet came medium rare, took 30 mins to get waiter to cook some more and than half came well done other half still medium rare Presentation was better but food quality, cooking and service down a notch, previously my favourite restaurant but I will never return Thanks for the memories old owners.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2107">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2109">Next</a></li>
</ul>