<% provide :title, 'Opinion Target 4653' %><h2>pineapple ice cream<br />occurrence: 1</h2><div><ol><li>By dessert I was so full but could n't resist the deep fried bananas with lychee and pineapple ice cream.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4652">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4654">Next</a></li>
</ul>