<% provide :title, 'Opinion Target 2770' %><h2>small chicken<br />occurrence: 1</h2><div><ol><li>The small chicken was stuffed with glutinous rice and herbs and was served in a stone bowl with the herb and ginseng soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2769">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2771">Next</a></li>
</ul>