<% provide :title, 'Opinion Target 6521' %><h2>lettuce wrap with duck<br />occurrence: 1</h2><div><ol><li>The second course to the PD was also well made ( lettuce wrap with duck).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6520">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6522">Next</a></li>
</ul>