<% provide :title, 'Opinion Target 1187' %><h2>oxtail gravy<br />occurrence: 3</h2><div><ol><li>The oxtail gravy is great!</li><li>I asked for gravy on the side and was given a few tablespoons of oxtail gravy which tasted a tad bland and reminded me of Bisto.</li><li>The oxtail gravy tasted more like a beef gravy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1186">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1188">Next</a></li>
</ul>