<% provide :title, 'Opinion Target 6626' %><h2>mango pudding served with evaporated milk<br />occurrence: 1</h2><div><ol><li>Also, the meals come with a mini dessert, usually a small square of mango pudding served with evaporated milk.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6625">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6627">Next</a></li>
</ul>