<% provide :title, 'Opinion Target 1637' %><h2>beef ramen<br />occurrence: 2</h2><div><ol><li>They only have two ramen choices which is beef ramen #286 and spicy beef ramen #287 .. compared to other places there 's a huge variety .. well they do but in udon.</li><li>Everything I 've tried at this restaurant was fairly good; I 've had lamb skewers, both the beef and lamb in a sliced bun, and lamb and beef ramen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1636">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1638">Next</a></li>
</ul>