<% provide :title, 'Opinion Target 2143' %><h2>Szechuan dishes<br />occurrence: 1</h2><div><ol><li>This is in direct contrast with the amazing Singapore noodles, Kung Pow chicken, Pad Thai and other various Szechuan dishes I absolutely loved last time.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2142">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2144">Next</a></li>
</ul>