<% provide :title, 'Opinion Target 7248' %><h2>soju perhaps<br />occurrence: 1</h2><div><ol><li>Some beer or soju perhaps ? !!!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7247">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7249">Next</a></li>
</ul>