<% provide :title, 'Opinion Target 3874' %><h2>Thai flavour<br />occurrence: 1</h2><div><ol><li>It did not have that authentic Thai flavour, but it was very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3873">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3875">Next</a></li>
</ul>