<% provide :title, 'Opinion Target 903' %><h2>lechon<br />occurrence: 4</h2><div><ol><li>I really liked the garlic fried rice and the lechon!</li><li>We ordered: Lechon Kawali/ Squid set- the lechon was damn good and crispy while the squid was decent.</li><li>We ordered lechon, fish steak and garlic rice.</li><li>Most famous is the lechon- get any dish with that and you 'll enjoy it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_902">Previous</a></li>
  <li class="next"><a href=".\opinion_target_904">Next</a></li>
</ul>