<% provide :title, 'Opinion Target 6540' %><h2>seafood flavor<br />occurrence: 1</h2><div><ol><li>No seafood flavor whatsoever.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6539">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6541">Next</a></li>
</ul>