<% provide :title, 'Opinion Target 1846' %><h2>brunch options<br />occurrence: 2</h2><div><ol><li>The Sunshine Spot is this small restaurant serving up brunch options like an All-Day Breakfast for $ 7.99 or little specialties like eggs benedict, french toast, and breakfast tacos/sandwiches.</li><li>Food is great- Hazel 's has your signature brunch options ( eggs, pancakges, hash etc ...).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1845">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1847">Next</a></li>
</ul>