<% provide :title, 'Opinion Target 6141' %><h2>siumai<br />occurrence: 1</h2><div><ol><li>I ordered beef wonton amd the siumai was not there, i asked the server and she stirred my bowl and asked if it was not there, after a few minutes they brought 1 siu mai cut in half where the order should have had more, the server did not even apologized and was very lousy on the service, this is the last time i am coming here- for the price, the restaurant should provide better service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6140">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6142">Next</a></li>
</ul>