<% provide :title, 'Opinion Target 7493' %><h2>cheese sticks<br />occurrence: 1</h2><div><ol><li>My stuffed crust pizza was a hard, gross pizza which seemed like they stuck REFRIGERATED solid cheese sticks in the pizza.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7492">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7494">Next</a></li>
</ul>