<% provide :title, 'Opinion Target 5641' %><h2>korean style fried chicken<br />occurrence: 1</h2><div><ol><li>We ordered a set meal that came with a Bibimbap, korean style fried chicken, BBQ pork belly and a seafood pancake- all for a very reasonable price.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5640">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5642">Next</a></li>
</ul>