<% provide :title, 'Opinion Target 6869' %><h2>local Portuguese chicken joint<br />occurrence: 1</h2><div><ol><li>This is a great local Portuguese chicken joint ( `` Churresquiera) that offers good value for the money.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6868">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6870">Next</a></li>
</ul>