<% provide :title, 'Opinion Target 4855' %><h2>sour fried fish<br />occurrence: 1</h2><div><ol><li>The best dishes aside from the kebabs were easily the sweet and sour fried fish, which was tangy and crunchy, the lamb hand-cut noodles, and the vegetable dou miao.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4854">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4856">Next</a></li>
</ul>