<% provide :title, 'Opinion Target 4531' %><h2>doogh drinks<br />occurrence: 1</h2><div><ol><li>We ordered 2 koobideh and 2 gheimeh with 2 carbonated doogh drinks.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4530">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4532">Next</a></li>
</ul>