<% provide :title, 'Opinion Target 8495' %><h2>veal itself<br />occurrence: 1</h2><div><ol><li>The veal itself was nice but a little tough and did n't have too much flavor to it.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8494">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8496">Next</a></li>
</ul>