<% provide :title, 'Opinion Target 8281' %><h2>bar space<br />occurrence: 1</h2><div><ol><li>Inside, there 's a good sized bar space and in the dining area there are booths and tables to sit at.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8280">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8282">Next</a></li>
</ul>