<% provide :title, 'Opinion Target 4827' %><h2>Handmade Lamb Noodles<br />occurrence: 1</h2><div><ol><li>You need to know what to order because it can be a hit or miss, but what I really like from this place are: Handmade Lamb Noodles- much better than the beef imo and a lot more tender and flavourful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4826">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4828">Next</a></li>
</ul>