<% provide :title, 'Opinion Target 2910' %><h2>chicken heart<br />occurrence: 1</h2><div><ol><li>The skewers were my favourite, especially the chicken heart and the small octopus.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2909">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2911">Next</a></li>
</ul>