<% provide :title, 'Opinion Target 6739' %><h2>poutine packages<br />occurrence: 1</h2><div><ol><li>Neither the burger or the poutine packages felt greasy, so either the bag was just not strong enough or one of the employees put the bag into water/grease/whatever before handing it to me.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6738">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6740">Next</a></li>
</ul>