<% provide :title, 'Opinion Target 2927' %><h2>Chinese appetizer<br />occurrence: 1</h2><div><ol><li>The most casual Chinese appetizer, and some guy decides to open up a business based on its popularity.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2926">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2928">Next</a></li>
</ul>