<% provide :title, 'Opinion Target 2994' %><h2>fountain drinks<br />occurrence: 1</h2><div><ol><li>Hated the fountain drinks ... sugar overload.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2993">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2995">Next</a></li>
</ul>