<% provide :title, 'Opinion Target 8645' %><h2>Bombay chicken<br />occurrence: 1</h2><div><ol><li>Chilli chicken and Bombay chicken are great.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8644">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8646">Next</a></li>
</ul>