<% provide :title, 'Opinion Target 1261' %><h2>ban chan<br />occurrence: 3</h2><div><ol><li>By the time food comes ( not a very long wait at all) the ban chan has usually been devoured, but refills are never given unless yo flag them down and ask for it.</li><li>Food: The ban chan was plentiful, as mentioned previously by fellow Yelpers, though it was not fresh.</li><li>Their ban chan selection leaves a little bit to be desired, but the quality of their ban chan is still above the rest of the Yonge/Finch restaurants.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1260">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1262">Next</a></li>
</ul>