<% provide :title, 'Opinion Target 7251' %><h2>fried chicken with green onion and boneless fried chicken with spicy sauce<br />occurrence: 1</h2><div><ol><li>Ordered the fried chicken with green onion and boneless fried chicken with spicy sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7250">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7252">Next</a></li>
</ul>