<% provide :title, 'Opinion Target 4594' %><h2>yam duck<br />occurrence: 1</h2><div><ol><li>The yam duck is one of them and is done very deliciously.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4593">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4595">Next</a></li>
</ul>