<% provide :title, 'Opinion Target 1915' %><h2>cole slaw<br />occurrence: 2</h2><div><ol><li>Being a good ole Southern Boy from the States, i would throw cole slaw and meat between any kind of bread.</li><li>Before the calamari was anywhere near the table there 's the cole slaw I did n't want.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1914">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1916">Next</a></li>
</ul>