<% provide :title, 'Opinion Target 1460' %><h2>fettucine alfredo<br />occurrence: 2</h2><div><ol><li>My boyfriend got the fettucine alfredo, and it was n't very good.</li><li>6) The fettucine alfredo was one dimensional.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1459">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1461">Next</a></li>
</ul>