<% provide :title, 'Opinion Target 3753' %><h2>fried pepper-salt meat<br />occurrence: 1</h2><div><ol><li>Tried fried pepper-salt meat which was almost ordered by each table and it was good too.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3752">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3754">Next</a></li>
</ul>