<% provide :title, 'Opinion Target 3582' %><h2>beef pepperoni pizza<br />occurrence: 1</h2><div><ol><li>We ordered some bbq chicken and a beef pepperoni pizza, it was weird that we had to pay first, so one is forced to tip ahead of getting a good service- which leads me the part where I explain that there was barely any greeting from the server and no indication that I had remember my table number before making the order on the other side of the restaurant.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3581">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3583">Next</a></li>
</ul>