<% provide :title, 'Opinion Target 9134' %><h2>chicken teriyaki dinner special<br />occurrence: 1</h2><div><ol><li>My friend ordered the chicken teriyaki dinner special.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9133">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9135">Next</a></li>
</ul>