<% provide :title, 'Opinion Target 9573' %><h2>mince green peppers<br />occurrence: 1</h2><div><ol><li>Tender beef and fresh mince green peppers &amp; yummy sauteed soup, little bit 2 greasy though.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9572">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9574">Next</a></li>
</ul>