<% provide :title, 'Opinion Target 7568' %><h2>opera cake<br />occurrence: 1</h2><div><ol><li>The pistachio buttercream cake was very much like a napolean/ opera cake to me for some reason.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7567">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7569">Next</a></li>
</ul>