<% provide :title, 'Opinion Target 3182' %><h2>price points<br />occurrence: 1</h2><div><ol><li>The price points are reasonable, and there is a good selection of options from pasta to sandwiches and burgers to wood oven pizzas to kebab plates and so on.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3181">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3183">Next</a></li>
</ul>