<% provide :title, 'Opinion Target 4485' %><h2>chocolate Tartufo ice cream<br />occurrence: 1</h2><div><ol><li>For dessert, we had chocolate Tartufo ice cream, and you ca n't go wrong with that.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4484">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4486">Next</a></li>
</ul>