<% provide :title, 'Opinion Target 4146' %><h2>wing sauce<br />occurrence: 1</h2><div><ol><li>-Buffalo butter is their most popular wing sauce.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4145">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4147">Next</a></li>
</ul>