<% provide :title, 'Opinion Target 7643' %><h2>carbs<br />occurrence: 1</h2><div><ol><li>The buffet ( which is not all you can eat) is pretty cheap ( around $ 6) Your food is given to you by a server- they will give you a HUGE amount of carbs- usually either plain rice or pasta- I 'm talking two or three cups of rice, and then a smaller amount of protein ( whatever they 've made that day) quality ranges from pretty mediocre to quite good, but it 's pretty much luck of the draw as to what they decided to make that day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7642">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7644">Next</a></li>
</ul>