<% provide :title, 'Opinion Target 6607' %><h2>Italian spring rolls<br />occurrence: 1</h2><div><ol><li>My angry growling stomach became much friendlier after sharing those four crispy Italian spring rolls loaded with bocconcini cheese, proscuitto, roasted red pepper, and basil dipped in a balsamic vinegar redux.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6606">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6608">Next</a></li>
</ul>