<% provide :title, 'Opinion Target 6475' %><h2>chicken congee<br />occurrence: 1</h2><div><ol><li>I 'm usually a chicken congee kind of gal, but the House Super Bowl has changed my mind.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6474">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6476">Next</a></li>
</ul>