<% provide :title, 'Opinion Target 2491' %><h2>sashimi sushi maki combo<br />occurrence: 1</h2><div><ol><li>The sashimi sushi maki combo included some big pieces of sashimi, but the rolls ( spicy salmon &amp; spicy tuna) were just disgusting.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2490">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2492">Next</a></li>
</ul>