<% provide :title, 'Opinion Target 7523' %><h2>dessert cafe<br />occurrence: 1</h2><div><ol><li>I was in the area and decided to take a look at this dessert cafe.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7522">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7524">Next</a></li>
</ul>