<% provide :title, 'Opinion Target 5223' %><h2>fried chicken items<br />occurrence: 1</h2><div><ol><li>Their onion rings, fries and other flavored fried chicken items are also good.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5224">Next</a></li>
</ul>