<% provide :title, 'Opinion Target 8098' %><h2>chicken cutlets<br />occurrence: 1</h2><div><ol><li>I ordered 12 lightly breaded, very thin chicken cutlets and found out they were $ 5 each as I was paying.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8097">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8099">Next</a></li>
</ul>