<% provide :title, 'Opinion Target 3773' %><h2>rice with grilled chicken<br />occurrence: 1</h2><div><ol><li>I typically order the pho tai bo vien, the soup is perfect authentic, or rice with grilled chicken and shredded pork skin and a fried egg.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3772">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3774">Next</a></li>
</ul>