<% provide :title, 'Opinion Target 3148' %><h2>veal cannelloni<br />occurrence: 1</h2><div><ol><li>I had the veal cannelloni, which was the pasta dish of the day.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3147">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3149">Next</a></li>
</ul>