<% provide :title, 'Opinion Target 3402' %><h2>burger burns<br />occurrence: 1</h2><div><ol><li>The burger burns were pretty thick &amp; the fries were plentiful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3401">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3403">Next</a></li>
</ul>