<% provide :title, 'Opinion Target 9143' %><h2>price wings night<br />occurrence: 1</h2><div><ol><li>Wings comes with curly fries which can be substituted for a salad or onion rings Parking is a headache especially on Tuesday nights ( 1/2 price wings night).</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9142">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9144">Next</a></li>
</ul>