<% provide :title, 'Opinion Target 2185' %><h2>tahina<br />occurrence: 2</h2><div><ol><li>It 's not the traditional `` thick'' tahina you may get some places ( it 's more of a watered-down liquid, in a squeeze bottle) but it 's still very tasty and in unlimited supply -- a group of 6 of us go through SEVERAL bottles of it when we 're there, putting it on everything -- the appetizers, the meat, the rice, everything.</li><li>We just prefer to eat in because of the unlimited tahina!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2184">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2186">Next</a></li>
</ul>