<% provide :title, 'Opinion Target 5318' %><h2>tofu appetizer<br />occurrence: 1</h2><div><ol><li>Free: miso soup, tofu appetizer Bento box: tempura ( good), salad ( meh), 6 california rolls ( good), chap jae ( ok), bulgogi ( ok) My friend told me their chirashi is good and that their fish is really fresh.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5317">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5319">Next</a></li>
</ul>