<% provide :title, 'Opinion Target 7331' %><h2>fried chicken batter<br />occurrence: 1</h2><div><ol><li>1) The fried chicken batter: soggy.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7330">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7332">Next</a></li>
</ul>