<% provide :title, 'Opinion Target 4779' %><h2>pork than chicken<br />occurrence: 1</h2><div><ol><li>I could tell they are using some pork broth because the flavour tastes more like pork than chicken which is a bit overwhelming when I wanted a cleaner not so rich taste.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4778">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4780">Next</a></li>
</ul>