<% provide :title, 'Opinion Target 4601' %><h2>fried garlic<br />occurrence: 1</h2><div><ol><li>Fung sai Gai is pretty good here, crispy, with plenty of fried garlic, with the chicken being pretty moist.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4600">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4602">Next</a></li>
</ul>