<% provide :title, 'Opinion Target 1760' %><h2>vegetarian dishes<br />occurrence: 2</h2><div><ol><li>They have 3 vegetarian dishes ( 2 eggplant and one risotto) and many vegetarian pasta options.</li><li>The vegetarian dishes much better This was somewhere between a 2.5 and a 3.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1759">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1761">Next</a></li>
</ul>