<% provide :title, 'Opinion Target 1470' %><h2>Korean pancake<br />occurrence: 2</h2><div><ol><li>This Korean pancake is smaller than ones i had at other places, but tasted a lot better.</li><li>Your dinner does n't come with a free korean pancake like Oh Geul Boh Gol 's though, oh well,- 1 star!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1469">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1471">Next</a></li>
</ul>