<% provide :title, 'Opinion Target 6138' %><h2>lunch menu specials<br />occurrence: 1</h2><div><ol><li>But this one has points above others: lunch menu specials are varied and the dishware they use is so pretty!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6137">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6139">Next</a></li>
</ul>