<% provide :title, 'Opinion Target 3379' %><h2>Chicken Ginseng Ginger soup<br />occurrence: 1</h2><div><ol><li>They are also known for the Chicken Ginseng Ginger soup which I must try next time I go.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3378">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3380">Next</a></li>
</ul>