<% provide :title, 'Opinion Target 2469' %><h2>palm nut oil<br />occurrence: 1</h2><div><ol><li>A small aisle for west african foods like fufu and plaintain fufu mix, palm nut oil, natural peanut paste, palm nut for soup and kotoko kebab spice from Ghana.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2468">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2470">Next</a></li>
</ul>