<% provide :title, 'Opinion Target 8435' %><h2>Nutella Hot Chocolate<br />occurrence: 1</h2><div><ol><li>You should definitely try the Nutella Hot Chocolate!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8434">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8436">Next</a></li>
</ul>