<% provide :title, 'Opinion Target 7348' %><h2>lamb combo<br />occurrence: 1</h2><div><ol><li>The beef and lamb combo was pretty tasty with a little kick of spice but not too hot.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7347">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7349">Next</a></li>
</ul>