<% provide :title, 'Opinion Target 5462' %><h2>tea service<br />occurrence: 1</h2><div><ol><li>Being a regular we forgave the 10 minute delay to be seated with our reservation and the lack of tea service.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5461">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5463">Next</a></li>
</ul>