<% provide :title, 'Opinion Target 4234' %><h2>pan pizza<br />occurrence: 1</h2><div><ol><li>I always get my pan pizza right from this location.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4233">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4235">Next</a></li>
</ul>