<% provide :title, 'Opinion Target 8149' %><h2>fresh mussels<br />occurrence: 1</h2><div><ol><li>Buddy got 1 pound of mussels, the cream sauce was excellent and the fresh mussels always taste better the frozen.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8148">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8150">Next</a></li>
</ul>