<% provide :title, 'Opinion Target 6788' %><h2>appetizer Roasted tomato with portobella mushroom<br />occurrence: 1</h2><div><ol><li>The appetizer Roasted tomato with portobella mushroom is one of a kind, very well cooked.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6787">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6789">Next</a></li>
</ul>