<% provide :title, 'Opinion Target 2990' %><h2>thin roti<br />occurrence: 1</h2><div><ol><li>The curry on the thin roti reminded me of lasagna for some reason.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_2989">Previous</a></li>
  <li class="next"><a href=".\opinion_target_2991">Next</a></li>
</ul>