<% provide :title, 'Opinion Target 3498' %><h2>tuna fish<br />occurrence: 1</h2><div><ol><li>It is the first time I really want to throw up when I put those tuna fish is my mouth.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3497">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3499">Next</a></li>
</ul>