<% provide :title, 'Opinion Target 9010' %><h2>bottle of house wine<br />occurrence: 1</h2><div><ol><li>The date night special has a good selection and you can add half a bottle of house wine for $ 10.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_9009">Previous</a></li>
  <li class="next"><a href=".\opinion_target_9011">Next</a></li>
</ul>