<% provide :title, 'Opinion Target 5677' %><h2>seafood fettuccine<br />occurrence: 1</h2><div><ol><li>My seafood fettuccine had seafood in it, but it just did n't have the seafood flavour.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5676">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5678">Next</a></li>
</ul>