<% provide :title, 'Opinion Target 6949' %><h2>dine-in pizza<br />occurrence: 1</h2><div><ol><li>You rarely see dine-in pizza restaurants these days.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6948">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6950">Next</a></li>
</ul>