<% provide :title, 'Opinion Target 6167' %><h2>rice peels<br />occurrence: 1</h2><div><ol><li>At the end, the scorched rice peels off from the bowl, and it a bit chewy and nutty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_6166">Previous</a></li>
  <li class="next"><a href=".\opinion_target_6168">Next</a></li>
</ul>