<% provide :title, 'Opinion Target 7023' %><h2>fermented taste<br />occurrence: 1</h2><div><ol><li>The fermented taste was really interesting and the soup was very tasty.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7022">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7024">Next</a></li>
</ul>