<% provide :title, 'Opinion Target 3478' %><h2>chicken kabobs<br />occurrence: 1</h2><div><ol><li>Beef and chicken kabobs were large and flavorful.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3477">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3479">Next</a></li>
</ul>