<% provide :title, 'Opinion Target 4324' %><h2>kashk bademjan<br />occurrence: 1</h2><div><ol><li>My favorite side is the kashk bademjan ... an amazinggg eggplant side ...</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4323">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4325">Next</a></li>
</ul>