<% provide :title, 'Opinion Target 4717' %><h2>red chilli peppers<br />occurrence: 1</h2><div><ol><li>They give you full bean sprouts, mint leaves, limes, and red chilli peppers ( not those imitation green peppers some places try to give you) with every bowl of Pho!</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_4716">Previous</a></li>
  <li class="next"><a href=".\opinion_target_4718">Next</a></li>
</ul>