<% provide :title, 'Opinion Target 1223' %><h2>Royal Pad Thai<br />occurrence: 3</h2><div><ol><li>The Royal Pad Thai was not your typical pad thai .. it was wrapped in what looked like a crêpe and all the stuffing was inside.</li><li>We started with Mieng Kum, Pla Meuk Tod ( Fried Calamari), and Tom Yum Goong soup, and our entrees were The Royal Pad Thai, Thai Islamic Noodles, and Seafood Fried Rice.</li><li>Tried the royal pad thai and crispy beef curry.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1222">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1224">Next</a></li>
</ul>