<% provide :title, 'Opinion Target 5034' %><h2>pork salad rolls<br />occurrence: 1</h2><div><ol><li>Our typical order is one vermicelli dish, one pho ( usually rare beef) and 4 shrimp and pork salad rolls.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_5033">Previous</a></li>
  <li class="next"><a href=".\opinion_target_5035">Next</a></li>
</ul>