<% provide :title, 'Opinion Target 7738' %><h2>tepan dishes<br />occurrence: 1</h2><div><ol><li>And we used to book their tepan dishes before.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7737">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7739">Next</a></li>
</ul>