<% provide :title, 'Opinion Target 7633' %><h2>hot soup<br />occurrence: 1</h2><div><ol><li>The first sip of the hot soup makes everything better again, hunger pain wise.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7632">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7634">Next</a></li>
</ul>