<% provide :title, 'Opinion Target 3728' %><h2>Thai style house pho<br />occurrence: 1</h2><div><ol><li>The Thai style house pho is my favorite.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_3727">Previous</a></li>
  <li class="next"><a href=".\opinion_target_3729">Next</a></li>
</ul>