<% provide :title, 'Opinion Target 8767' %><h2>spicy mushroom tempura<br />occurrence: 1</h2><div><ol><li>My Sushi is a really great place to go with friends and try the all you can eat sushi, the spicy mushroom tempura are my absolute favorite and the avocado covered California roll.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_8766">Previous</a></li>
  <li class="next"><a href=".\opinion_target_8768">Next</a></li>
</ul>