<% provide :title, 'Opinion Target 1951' %><h2>Vietnamese beef noodle soup<br />occurrence: 2</h2><div><ol><li>This is wholesome Vietnamese home cooking at its finest, and for a twenty you 'll get a plate of rice, barbacued pork chop, a bowl of the famous Vietnamese beef noodle soup the size of your head and a three colored shake for dessert.</li><li>My friend was initially skeptical as he swears and dies by pho, but I can gladly say he is now a convert of this other lesser known Vietnamese beef noodle soup.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1950">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1952">Next</a></li>
</ul>