<% provide :title, 'Opinion Target 1064' %><h2>corn soup<br />occurrence: 3</h2><div><ol><li>Per Devan 's suggestion, I drizzled a little chile oil into the corn soup which brought another dimension to the broth.</li><li>While I do n't think I 'd order the pastas we got this time again, I would come here again for that creamy corn soup, to try more of their desserts, or to try more on their menu- Paisano 's has a lot to offer and I 'm always down to try more Italian cuisine.</li><li>I grew up eating corn soup and this tasted just like my grandmother used to make.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_1063">Previous</a></li>
  <li class="next"><a href=".\opinion_target_1065">Next</a></li>
</ul>