<% provide :title, 'Opinion Target 7399' %><h2>cream with your crepe<br />occurrence: 1</h2><div><ol><li>You get two scoops of the same flavour ice cream with your crepe, but you can always ask for different flavours.</li></ol></div><ul class="pager">
  <li class="previous"><a href=".\opinion_target_7398">Previous</a></li>
  <li class="next"><a href=".\opinion_target_7400">Next</a></li>
</ul>