    <li>
      <%= link_to "#{user.name}, average stars:#{user.average_stars}", user %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "Delete this user?" } %>
      <% end %>
    </li>