
<footer class="container-fluid bg-1">
<small>
   Find Restaurant App by HU Haohao
</small>
<nav>
	 <ul>
	 	<li><%= link_to "About", about_path %></li>
	 	<li><%= link_to "Contact", contact_path %></li>
	 </ul>
	</nav>
</footer>